[2019-03-12 05:42] SurendraPhadke commented on #1655
Any update on the support of ReliableSession?

[2019-03-12 12:57] TomProcureur commented on #8
When i use this approach, i got the error:
FaultException: Missing Timestamp
System.ServiceModel.Channels.ServiceChannel.HandleReply(ProxyOperationRuntime operation, ref ProxyRpc rpc)

How could i solve this?

[2019-03-12 13:36] lmcarreiro commented on #8
@TomProcureur have you tried to use [this workaround](https://github.com/dotnet/wcf/issues/8#issuecomment-464888793) that puts the credentials in the HTTP request header instead of the SOAP message header?

[2019-03-12 14:48] OpenSpacesAndPlaces commented on #8
@TomProcureur

If you look closely there is a comment in the code:
`		//TODO Timestamp - If Needed`

The particular provider I was working with didn't need that.

You'll need to add the xml for:
`wsu:Timestamp`

[2019-03-12 15:08] OpenSpacesAndPlaces commented on #8
@TomProcureur

You'll need to adjust the code to your specific use case - but here is a sample you can work from (untested):
[code]

Pulled from:
https://social.msdn.microsoft.com/Forums/vstudio/en-US/fb0970a6-eb5d-44ec-8060-90d0a3cc76a1/adding-soap-header-in-an-iclientmessageinspector-working-fine-with-one-root-element-but-how-do-i?forum=wcf

[2019-03-13 02:58] Zek99 opened #3442 "Unable to prefer TLS 1.1 for BasicHttpsBinding"
Maybe the issue should be titled: Overridden `BindingElement.BuildChannelFactory` not invoked.

I have a requirement to consume some SOAP webservices. We have a client certificate signed using MD5 and therefore it is unusable for TLS 1.2.

I understand that `ServicePointManager.SecurityProtocol = SecurityProtocolType.Tls11;` is not usable anymore but I am unable to find any alternative. I have rea

[2019-03-13 17:01] StephenBonikowsky commented on #3418
All unit tests running locally.
All scenario tests running locally against iis hosted service.
Self hosted scenario is currently blocked, how the service and its associated tools are built and run has to be re-designed to work with Arcade, it previously leveraged how built-tools worked.

[2019-03-13 23:35] StephenBonikowsky commented on #3437
The package Microsoft.Windows.Compatibility has been updated to reference WCF packages version 4.5.3

[2019-03-13 23:36] #3437 closed

[2019-03-15 01:09] Zek99 commented on #3442
Okay, I have discovered a fix and another issue. I was testing with a certificate that supports the latest signature hash algorithm at it appears that `client.ClientCredentials.ClientCertificate.Certificate = x5092;` doesn't work. I thought it wasn't sending the certificate because TLS1.2 doesn't support certificates signed with an MD5 signature. Using Wireshark, it appears that WCF ignores my Cli

[2019-03-15 01:10] Zek99 commented on #3442
Okay, I have discovered a fix and another issue. I was testing with a certificate that supports the latest signature hash algorithm at it appears that `client.ClientCredentials.ClientCertificate.Certificate = x5092;` doesn't work. I thought it wasn't sending the certificate because TLS1.2 doesn't support certificates signed with an MD5 signature. Using Wireshark, it appears that WCF ignores my Cli

[2019-03-15 16:49] StephenBonikowsky commented on #3418
This is now complete.

[2019-03-15 16:49] #3418 closed

[2019-03-15 18:25] tstefansson commented on #1810
Any update on the Mtom support?

[2019-03-15 21:45] Lxiamail commented on #1655
@SurendraPhadke ReliableSession is very complicated and problemetic in some satuation evens in .NET Framework WCF. Currently, there is no plan to bring the feature to WCF in .NET Core. However, it is helpful to hear if any customer is blocked by missing this feature and why it is a blocking issue. Please continue vote and share your scenario with us.

[2019-03-15 22:13] Lxiamail commented on #4
Still blocked by the lack of MessageSecurity feature

[2019-03-18 03:40] stephenmorton opened #3471 "Adding New Connected Service gives error " The filename or extension is too long""
Hi,

When adding a new Connected Service, I keep receiving an error  "The filename or extension is too long"
I have attached 4 images showing the error. I can't figure out where to get more information about the error within VS

Can anyone help determine what this error is relating to or how I can see specifically what the ieeue is. Is there a log I can use (I have included a snaphot of the output

[2019-03-18 13:15] CurlyBraceTT opened #3472 "Add custom http header to the request"
How can I add custom http header to the wcf request in asp.net core? Maybe every wcf requests even?

I am trying to follow https://blogs.msmvps.com/paulomorgado/2007/04/26/wcf-building-an-http-user-agent-message-inspector/ but there is no `BehaviorExtensionElement` class and I assume configuration section will not be used.

Also tried this with no luck:
[code]

[2019-03-18 23:35] Zek99 commented on #3472
Hi, I had a similar issue with forcing specific settings for requests. The article you are reading is from 2007 and is for the .NET framework rather than .NET Core.

If you have a look at my issue https://github.com/dotnet/wcf/issues/3442 you can see how I alter the requests.

[code]

[2019-03-19 13:12] TomProcureur commented on #8
@OpenSpacesAndPlaces
I've changed the code to include a timestamp:

` protected override void OnWriteHeaderContents(XmlDictionaryWriter writer, MessageVersion messageVersion)
        {

            var createdDate = DateTime.Now;

            writer.WriteStartElement("wsu", "Timestamp", "http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd");
            writer.WriteA

[2019-03-19 15:33] CurlyBraceTT commented on #3472
@Zek99 Big thanks!

However, are you sure, that the custom handler are gonna be executed? For me binding parameter scope function are not being executed at all. Can you share the complete example?

Here is mine code and full projects (Service & Client)
https://drive.google.com/open?id=1Rt0xz-3ZFZ4WMKVmHadlG9Vi4pT5OdB5
[code]
[code]

[2019-03-19 21:06] MattB-msft opened #3476 "DataContractSerializerOperationBehavior missing DataContractSurrogate"
While porting a large scale .net framework based application, we have been blocked by the missing property of DataContactSurrogate on the DataContractSerializerOperationBehavior .

We have our own IDataContractSurrogate implementation that we use to do dynamic object serialization / deserialization of objects from WCF.

We require a means to provided a custom bidirectional serializer for the DataC

[2019-03-19 23:01] sanchapereira commented on #2591
Using the `dotnet-svcutil tool` v2 this happens when using `--serializer DataContractSerializer`, with other serializer options it works fine.

[2019-03-20 00:51] OpenSpacesAndPlaces commented on #8
@TomProcureur

Unfortunately I'm not readily sure to the specific cause.

I'd tried to see if you can get the raw response from `AfterReceiveReply` or if not there then on the sending side - just to see if anything jumps out.

-Once obvious thing to check would be that the timestamps you are sending/receiving are valid:
5000 minutes may be too far into the future - so maybe start with 5 minutes an

[2019-03-20 02:20] stephenmorton commented on #3471
Hi, Anyone seen this before or have any ideas what could be the problem? I have used the wsdl file elsewhere without issues.

[2019-03-20 08:27] TomProcureur commented on #8
@OpenSpacesAndPlaces

Allright, i was using the wrong timezone when creating my timestamp.
I now use the DateTime.UtcNow and this works better...

But there is still an issue. Now i get the error:

_An unhandled exception occurred while processing the request.
The header 'Security' from the namespace 'http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd' was not unders

[2019-03-20 09:24] rahou25 commented on #3227
I'm using WCF with Xamarin.FORMS. dotnet-svcutil only generates async methods that are not recognized when calling. So I'm manually updating the reference.cs  file. But everytime I need to refresh the WCF Service, I also need to re-edit the reference.cs as previously saved data are updated too.

[2019-03-20 11:01] TomProcureur commented on #8
I've fixed this by modifying the security header from the reply

` public void AfterReceiveReply(ref Message reply, object correlationState)
        {
            reply = FixMessageHeader(reply);
        }`

`private Message FixMessageHeader(Message oldMessage)
        {
            var ms = new MemoryStream();
            XmlWriter writer = XmlWriter.Create(ms);
            oldMessage.WriteMessag

[2019-03-20 14:30] r-pankevicius commented on #2512
While the approach below won't work with YieldAwaitable, however for more common situation I found  [solution by Andrew Nosenko](https://stackoverflow.com/a/22753055/1175698) works fine.

Failing case (example of async client method):
[code]
Fix:
[code]

[2019-03-20 14:38] PedroS11 commented on #3395
I tried the 4.5.3 version and I'm still having the same issues. Is it possible to provide a working example? Or a any idea that you can have?

[2019-03-20 21:45] Lxiamail commented on #3476
@MattB-msft Looks like we need to add a new API to DataContractSerializerOperationBehavior enable ISerializationSurrogateProvider. It is a new feature request.

[2019-03-20 21:51] Lxiamail commented on #3472
@CurlyBraceTT @Zek99 Please check out the sample code in [this test](https://github.com/dotnet/wcf/blob/8589daec6cd3d7d4b1e90238cae951a91e937c03/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Https/ClientCredentialTypeTests.4.1.0.cs#L57)

[2019-03-20 21:55] Lxiamail commented on #3471
@stephenmorton This is due to the folder path is too long as the error reported in VS. Please try to reduce the path.

[2019-03-20 22:00] stephenmorton commented on #3471
Hi Lxiamail, I thought the same thing, so I reduced the path already to the file to only c:\Frontierlink2019\ frontierlink.wsdl the same error however.

[2019-03-20 22:31] Lxiamail commented on #3471
@stephenmorton can you share the VS version that you are using?

[2019-03-20 23:29] Zek99 commented on #3472
@CurlyBraceTT your code works for me. Confirmed using Telerik's Fiddler

[code]
![image](https://user-images.githubusercontent.com/1511039/54725707-35cfe100-4bc4-11e9-8aa8-e7f154aafc82.png)

[2019-03-20 23:54] stephenmorton commented on #3471
VS Community 2017 V 15.9.9
.NET framework 4.7.03190

Microsoft Visual Studio Community 2017
Version 15.9.9
VisualStudio.15.Release/15.9.9+28307.518
Microsoft .NET Framework
Version 4.7.03190

[2019-03-21 00:26] Lxiamail commented on #3471
@dasetser can you try to repro it?

[2019-03-21 00:42] stephenmorton commented on #3471
Hi Dasetser, sure, I have done it again, with screenshots for you showing all the relevant info.
![Capture7](https://user-images.githubusercontent.com/11910775/54727860-5c931500-4bce-11e9-8280-61a2e67f4aa7.PNG)
![Capture8](https://user-images.githubusercontent.com/11910775/54727861-5c931500-4bce-11e9-85a6-ca0043228b4e.PNG)
![Capture9](https://user-images.githubusercontent.com/11910775/54727862-5d2

[2019-03-21 07:47] Tbd19 opened #3483 "WCF Web Service Reference Provider not updated"
When using the WCF Provider from the Visual Studio I get an error about a duplicate item that is the same as https://github.com/dotnet/wcf/issues/3103. And also the generated file does not compile because the namespace used is Microsoft.CodeDom instead of System.CodeDom

If I run the dotnet-svcutil which is version 2.0.0 there is no error and the generated file contains the correct namespace.

The

[2019-03-21 10:15] martonx opened #3484 "Array serialization issue"
Dear Support,

I have an issue with array serialization. I have this xml serialized by my .Net core app:

[code]

Check the services node. What is an array. The SOAP Endpoint waiting this and just this xml for services:

[code]

As I see the .Net Core version generate the roughly same xml, just with different standard like PHP Nusoap? How can I get the exactly same xml with .Net Core?

[2019-03-21 15:44] #3411 closed

[2019-03-21 16:58] MattB-msft commented on #3476
Ok, can this be done for 3.0?
otherwise can you offer an alternative?

[2019-03-21 17:20] Lxiamail commented on #3476
@MattB-msft We are investigating the issue to see if it is possible to get this in 3.0.

[2019-03-21 18:43] mconnew commented on #3442
There's a lot of questions through this issue so I'll start from the top and at the end will sum up the solution to your problem.
`BindingElement.BuildChannelFactory `is definitely used. Here's a partial call stack for when `HttpChannelFactory<TChannel>` is constructed when calling `ChannelFactory<T>.Open()`:
[code]

The class `HttpsTransportBindingElement` is derived from `BindingElement` and you

[2019-03-21 19:29] dasetser commented on #3483
Visual Studio 2017 uses an older version of dotnet-svcutil that doesn't have the fix. This won't get fixed in the WCF Web Service Reference Provider until Visual Studio 2019 (which does use dotnet-svcutil 2.0 in the latest preview). Until you can upgrade to VS 2019 you'll need to use dotnet-svcutil.

[2019-03-21 19:40] dasetser commented on #3471
@stephenmorton That's odd that this happens even with a short path. The files in the xsd folder don't have exceptionally long names or anything, do they? There should be some logs in a folder at %temp%\WCFConnectedService\(Date and time) with more information. You can look through those to see if there's some hint, or attach them and we can take a look.

If that doesn't have anything helpful you c

[2019-03-21 22:30] stephenmorton commented on #3471
Hi Daniel,

Thanks for your help. I found the logs (thanks for that). I can’t see anything at first glance. I thought, perhaps if it’s OK, it might be better to just zip up and send directly to you. I’m sure a trained eye will make light work of this issue 😊

I had a look in the .wsdl file, there are a few xsd files that have file names around 51 or so characters, but nothing super crazy. I have t

[2019-03-21 23:38] Zek99 commented on #3442
I appreciate the detailed response. I'll try to break my issues up more next time. Embarrassing that I forgot about `binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Certificate;`.

And I agree, having the generated Client class aware of the transport layer doesn't make sense; the truck doesn't care what is being transported and the cargo doesn't care how it gets to where

[2019-03-22 00:13] mconnew commented on #3442
I think I see your problem. That method isn't generally called directly on the Binding with most code paths. What usually happens is Binding.CreateBindingElements() is called and passed to CustomBinding which is then used to call BuildChannelFactory. A Binding isn't designed to modify the BuildChannelFactory behavior, it's there to modify the BindingElements returned when calling CreateBindingElem

[2019-03-22 00:19] Zek99 commented on #3442
I did that with `OlderTlsHttpsTransportBindingElement` in my initial post. It is not invoked.

[2019-03-22 00:31] Zek99 commented on #3442
Figured how to debug with source from WCF. I will find why BuildChannelFactory isn't being invoked soon I hope.

[2019-03-22 01:52] Zek99 commented on #3442
Thanks for reviewing my issue, I'll rely on the EndpointBehavious instead of the Bindings, I am just "yak shaving" at this point.

As far as I can tell the ClientBase instantiates a new ClientChannel rather than building one from the bindings which is confusing, why I am able to override the BuildChannelFactory method if it isn't used? I imagine it is used by internal developers to build the under

[2019-03-22 17:05] dasetser commented on #3471
Yes, we'll take a look if you can attach a zip of the folder.

[2019-03-22 19:40] mconnew commented on #3442
Every usage of the virtual method Binding.BuildChannelFactory that I could find was on the CustomBinding class. So basically a new CustomBinding is created from the passed in Binding by calling Binding.CreateBindingElements and passing it to the CustomBinding constructor. Then BuildChannelFactory is called on CustomBinding. The only usage for the BuildChannelFactory method outside of CustomBinding

[2019-03-22 19:40] #3442 closed

[2019-03-22 23:38] Zek99 commented on #3442
Thanks, I appreciate the time you have spent.

[2019-03-24 03:28] vertonghenb commented on #2824
Issue is still present in ASP.NET Core 3.0 preview 3 with a publish as a Web App.

[2019-03-24 22:52] stephenmorton commented on #3471
Hi Daniel,

Pls see attached. I zipped up the error log (thought I attached to my last reply, but apparently not).
I also attached a screenshot showing the longest file name in the wsdl file.

[2019_Mar_21_11_38_17.zip](https://github.com/dotnet/wcf/files/3000958/2019_Mar_21_11_38_17.zip)
![Capture1](https://user-images.githubusercontent.com/11910775/54887119-6aed7380-4ee3-11e9-8471-e8d7604c9cf2.P

[2019-03-25 11:11] bdrupieski commented on #3321
If you re-use instances of clients derived from `ClientBase` you won't have to do this and it will re-use HTTP connections, right? It will re-use `HttpClient` instances internally, so you'd only need to do this to get those long-lived `HttpClient` instances to respect DNS changes, correct?

Separately, why do you use multiple `Func<HttpClientHandler, HttpMessageHandler>`s? A single `Func<HttpClien

[2019-03-25 11:18] bdrupieski commented on #3472
@CurlyBraceTT You need to create a `HttpRequestMessageProperty` and use that, like this:

[code]

Another potential issue is that `OperationContextScope` doesn't work well in `async` code. See this issue https://github.com/dotnet/wcf/issues/2512. I've been using the solution from here successfully https://stackoverflow.com/questions/18284998/pattern-for-calling-wcf-service-using-async-await/227530

[2019-03-25 14:58] Lxiamail commented on #2824
@vertonghenb The issue was resulted by https://github.com/Azure/azure-functions-host/issues/3568, did you followed the guidance stated in that resolution? If so, please report the issue under https://github.com/Azure/azure-functions-host/issues/3568.

[2019-03-25 17:04] CurlyBraceTT commented on #3472
@Zek99 Solved it - didn't work because of the outdated versions in the project - Visual Studio adds them outdated when generating the client. Works with the last `4.5.3` version of the `System.ServiceModel.*` packages.

![image](https://user-images.githubusercontent.com/8270922/54939178-f9d8ab00-4f38-11e9-90cf-df65cb2ed80c.png)

@bdrupieski For now `EndpointBehavior` works for me and seems easier

[2019-03-25 17:04] #3472 closed

[2019-03-25 17:34] EricStG opened #3491 "Async friendly inspectors"
The current `IClientMessageInspector` enforces us to implement both `BeforeSendRequest` and `AfterReceiveReply`.

Having a similar inspector pattern to Asp.net core filters/middleware would clean up a fair amount of code. Something such as:

[code]

[2019-03-26 16:14] StephenBonikowsky commented on #3416
The shim is being built, have requested validation and feedback.

[2019-03-26 18:16] #3476 closed

[2019-03-27 09:54] Doomblaster opened #3494 "dotnet-svcutil with multiple namespaces validates WCF namespace wrong"
When using dotnet-svcutil from commandline and trying to map specific namespaces, code generation fails with
`Error: The specified namespace mappings 'http://tempuri.org/Account/,Account' contain invalid identifiers.   at Microsoft.Tools.ServiceModel.Svcutil.CommandProcessorOptions.ProcessNamespaceMappingsOptionAsync(CancellationToken cancellationToken) in E:\A\_work\1\s\dotnet-svcutil-lib\Source\

[2019-03-28 06:44] mcq1212 opened #3504 "Memory leak when consuming SOAP endpoint on Linux ,but it is normal on windows"
Hi guys,
I've encountered a memory leak when consuming SOAP endpoints in my .NET applications. The memory usage of my application continues to increase over time to a point where it obviously kills the application.My application is running on .NET Core 2.2

[code]

[2019-03-28 15:29] dhabierre commented on #3228
Same issue there with dotnet-svcutil (1.0.0.1 & 2.0.0).
When deserializing the SOAP response all fields are empty.

Inside the generated **Reference.cs** files, properties have the **XmlElementAttribute** attribute:

[code]

If I remove the **Form** argument, it seems to work:

[code]

[2019-03-28 15:53] #3402 closed

[2019-03-28 22:51] mconnew commented on #8
I now have TransportWithMessageCredentials working using certificates. It still needs a lot of cleanup work so I won't be merging it immediately but if anyone wants to build WCF themselves and try it out, you can find it on my branch [here](https://github.com/mconnew/wcf/tree/8-TransportWithMessageCredential). I would expect username credentials to work but I haven't tested it yet.

[2019-03-29 01:57] stephenmorton commented on #3471
Hi guys, do you think it is because of the file name lengths of some of the.xsd files? What is the file lengths  limit for these?
Steve

[2019-03-29 09:07] eveneveneven opened #3511 "Modify outgoing request headers (cookie) from async client (.NET Standard 2.0 vs .NET 4.7.2)"
Greetings!

Consider this scenario:

I've created a .NET Standard 2.0 library with WCF clients (async) generated by svcutil 2.0.0.
The external service requires some custom http header (cookie) for authentication.
In the library I've used an IClientMessageInspector to handle this. I've also tried creating an OperationContextScope and modifying the headers inside.

Both approaches work fine when us

[2019-03-29 10:53] brux88 commented on #1810
@Lxiamail please any update on the mtom support

[2019-03-29 19:07] r-pankevicius commented on #3472
Thank you guys, that my findings helped you to resolve the issue. Anyone can help me with "final solution" for WCF+Oauth2 in scope of https://github.com/r-pankevicius/WcfClientWithOMiauAuthentification?

The issue is that SlimServiceClientInterceptor.Intercept method is sync while it must be async.

[2019-03-29 19:11] RealDotNetDave opened #3512 "WCF Web Service Reference Provider Tool Class Generation"
Can an option be added to this connected service to generate separate class files? We are using SalesForce WSDL that turns into a Reference.cs that is over 115K lines of code. Creates perf issues in VS trying to load this monster.

[2019-03-29 19:49] mconnew commented on #3472
@r-pankevicius, I had a quick look at your project. I have an alternative suggestion for you. You could add the headers via a message inspector so you don't need to create an OperationContext scope. Also looking at your code, I don't think you need to make your Intercept method async if you add the constraint that the WCF contract interface only uses Task based async operations. You will need to d

[2019-03-30 09:49] r-pankevicius commented on #3472
@mconnew ?
<< You could add the headers via a message inspector so you don't need to create an OperationContext scope.

What do you mean by "message inspector"? I could understand that I can have a "message inspector" on the server side (on any web server, not necessary .net based), but what do you mean by this term talking about client?

Thanks a lot for the code review, BTW.

[2019-04-01 04:56] Zek99 commented on #3511
Have a look at #3442 and #3472 for additional inspiration. Unsure if it will work within .NET 4.7.2

[2019-04-01 16:57] Lxiamail commented on #1810
Unfortunately, we don't have any further update on this. We also considered to define a spec so that community may be able to help to do the implementation. However, as Matt commented above, the primary complexity is redesign the feature on .NET Core. The investigation cost to define the spec will be high that we can't afford at this point.

[2019-04-01 20:00] felipecaputo commented on #1810
@Lxiamail, if we analise and make a proposal in spec, the team would take a look and evaluate it?

[2019-04-01 21:04] mconnew commented on #1810
Hi @felipecaputo. Having the community implement MTOM would be great. In the next couple of days I'll write up a quick summary of my thoughts on how to bring in MTOM support including some potential design ideas I've had for a whiile to improve interop with other stacks, and then you can come back with a spec proposal. Does that sound like it would work for you?

[2019-04-01 23:07] StephenBonikowsky commented on #3414
Our 3.0 release will only contain a single implementation assembly. UAP if/defs have been converted to runtime checks and we no longer need a dedicated unix assembly.

[2019-04-01 23:07] #3414 closed

[2019-04-01 23:07] StephenBonikowsky commented on #3403
This has all been completed and verified.

[2019-04-01 23:07] #3403 closed

[2019-04-01 23:10] dasetser commented on #3228
There are a few problems reported in this issue all related to deserialization, but most likely with different root causes. I'll try to go through each, but I would suggest opening a new issue with as much information as you can if you need them to be investigated. Feel free to link to this issue if you think it has a similar root cause.

In general, if you are having problems with getting null ob

[2019-04-01 23:28] StephenBonikowsky commented on #3415
We still harvest the netstandard1.3 and netcore5.0 payloads but the latest release has been reduced to one singled binary that supports win/unix/uap.

[2019-04-01 23:28] #3415 closed

[2019-04-02 05:50] nishantkagrawal commented on #3228
@dasetser I have added information to the existing bugs that I found already. I am not sure if you still want me to open up a new issue.

#3171
#2804

[2019-04-02 11:51] felipecaputo commented on #1810
That would be great.

I'll wait for these ideas, and take a look at the source and documentation to get ready.

Thank you @mconnew

[2019-04-02 14:23] kfrancis commented on #1810
Adding a specific chat room for us to discuss: https://gitter.im/wcf-mtom/community?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2019-04-02 18:57] dasetser commented on #3228
@nishantkagrawal I didn't realize you had added information to both of those. Your issue does sound like it's probably the same bug as #3171, so I would suggest following that issue and you don't need to worry about opening a new one. 2804 has a similar symptom to some problems reported in this issue, but it's failing for a different reason.

[2019-04-02 20:59] Lxiamail commented on #3512
@RealDotNetDave Thank you for your feedback. We also received feedback (https://github.com/dotnet/wcf/issues/3224) about only generate contracts without client code. For your case,  would only generate contracts without client code solve your problem?

[2019-04-02 22:44] dasetser commented on #3471
@stephenmorton None of the individual file names are too long. I'm still investigating exactly what's going on, and I'm thinking the error message may not be entirely correct. Could you try using the latest version of the [dotnet-svcutil](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) command line tool or Visual Studio 2019 and seeing if yo

[2019-04-02 23:28] StephenBonikowsky opened #3536 "Investigate need for removed code."
In this commit...
https://github.com/dotnet/wcf/pull/3519/commits/b10ad6f4a731378c95826e1f8eb0000dacb0834f

Find out why the block of code in...
src/System.Private.ServiceModel/src/System/ServiceModel/NetTcpBinding.cs

Was not needed for CoreClr, should it be added back in for both uap and core?

[2019-04-03 00:43] dgxhubbard commented on #2695
Does anyone know if WCF server side is going anywhere.
I would like to contribute also.

@glennc is there anything we can do.
We are at a point where we cannot use .net core 3 unless there is some sort of WCF server side?

@karelz  [#2695](https://github.com/dotnet/corefx/issues/36063) references WCF server and mentions it is being added to the milestone. Does that mean WCF server will be in .net

[2019-04-03 01:06] karelz commented on #2695
@dgxhubbard #2695 (closed issue) milestone says when the issue (question) was closed.

[2019-04-03 01:53] stephenmorton commented on #3471
Hi Daniel, worked a treat.

I upgraded everything, including it VS2019, tried it again and it worked GREAT! So, must have been something with my version. Thanks, that’s awesome!

Regards,

Stephen G Morton
Total Telco Group Pty Ltd
P 1300 484 511 | D 02 8488 3151 | M 0418 111 068

From: Daniel Setser <notifications@github.com>
Sent: Wednesday, 3 April 2019 9:45 AM
To: dotnet/wcf <wcf@noreply.githu

[2019-04-03 04:17] mahl commented on #2824
I'm also seeing this issue. Will it be fixed?

[2019-04-03 08:06] eveneveneven commented on #3511
Thank you. Although I didn't find a solution yet, the issues you linked inspired me to try further.
Just to clarify, calling from netcoreapp is **all good**.
When using the library from .NET 4.7.x turns out I can actually add headers to the request.
However if the header is called "Cookie" it just seems do disappear (checking with Telerik Fiddler).

Example code:

[code]

[2019-04-03 08:25] Grauenwolf commented on #2695
I don't understand what gRPC has to do with it. That technology doesn't solve the same problem that WCF addresses.

[2019-04-03 08:30] mattilindroth commented on #3386
Hello, I also have this problem. I would need to set ProtectionLevel.Sign to ServiceContractAttribute, but alas I cannot. This is the only reason I cannot develop my software in dotnet core. Hope you'd push the priority of this up ;)

[2019-04-03 11:04] Tonay commented on #1684
I have same issue and i tried every possible that could be solved. But i did not find any solution.

[2019-04-03 11:35] Developer2aa commented on #2819
Guys, I have an .asmx web service hosted which I cannot change or have access. I am working on .net core 2.2 class library and want to consume this .asmx web service.
I tried adding the web reference using  "WCF Web Service Reference Provider Tool", but it does not generates the Reference.cs correctly. The Service class is never generated in the Reference.cs.
I, also, tried wsdl.exe and was able t

[2019-04-03 12:51] sagarwasule opened #3540 "Could not load type 'System.ServiceModel.EndpointAddress' from assembly 'System.ServiceModel.Primitives, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
I'm using connected service to connect to soap service from dotnet standard library.

referencing to various issues already open I have added below packages

<PackageReference Include="System.ServiceModel.Duplex" Version="4.5.3" />
    <PackageReference Include="System.ServiceModel.Http" Version="4.5.3" />
    <PackageReference Include="System.ServiceModel.Primitives" version="4.5.3" />
    <Packa

[2019-04-03 13:48] RolandoAvila commented on #2819
@Developer2aa,

Although not yet on .net core 2.2, I was able to resolve this using a previous version of it. I resolved this by the following instructions.

To rebuild your ASMX Service proxies use the following Developer Command prompt

-        First install it following these instructions https://docs.microsoft.com/en-us/dotnet/framework/tools/developer-command-prompt-for-vs#running-command-pr

[2019-04-03 16:47] dasetser commented on #3471
Glad it's working with the latest version. I'll close this issue.

[2019-04-03 16:47] #3471 closed

[2019-04-03 18:09] PhilPJL opened #3542 "Stack overflow exception"
![image](https://user-images.githubusercontent.com/271656/55502054-a1de2a80-5643-11e9-877e-b8f98a2783c8.png)

I've just updated to VS 2019.  Was interested to see if there was any progress on creating a WCF reference from a Xamarin forms app.

I pointed the tool at a WCF service.  Bang!  so, no progress.

I just don't know how to express my disappointment.

[2019-04-03 18:56] dgxhubbard commented on #2695
I believe that microsoft is pushing gRPC as the replacement for WCF Server in .net core 3.
I agree with you.

[2019-04-03 19:37] Grauenwolf commented on #2695
What bothers me is that the announcement comes from the ASP. NET community talk.

They do not do a good job of understanding and representing non-web developers and really shouldn't be involved in the decision.

[2019-04-03 19:40] cbenard commented on #2695
@Grauenwolf what announcement? Link?

[2019-04-03 19:49] dgxhubbard commented on #2695
I agree completely. In the bad old days we did RPC and its way more involved than is needed.
WCF takes an interface and does everything. Why asp.net makes the decision I don't know, but
.net core 3 is targeting windows forms and wpf apps. I am not sure how many developers will be willing to start over for their services which I think will hinder .net core 3 adoption.

[2019-04-03 20:20] Lxiamail commented on #3542
This issue is traced by https://github.com/dotnet/wcf/issues/2463. This work is still blacked by Xamarin/mono doesn't support task based async.

[2019-04-03 20:23] dasetser commented on #3494
@Doomblaster Thanks for reporting this. You're right that this behavior is incorrect. It looks like this is a bug that was introduced in dotnet-svcutil 2.0. As a workaround you could try using an older version of the tool (1.0.4 for example), where the namespace mapping should still work as expected. We'll work on a fix for this.

[2019-04-03 20:25] insylogo commented on #2695
It's a comedy of errors over at the project management side that this still hasn't been decided either way. If people need to make breaking changes to switch over to .NET Core, you should tell us. If you need volunteers to port code to .NET Core, you should tell us. If you intend to do it yourself sometime in the next 5 years, you should tell us. Any way you cut it, we're in the dark right now.

[2019-04-03 20:25] Lxiamail commented on #3386
@mattilindroth Does your scenario use MessageSecurity later?

[2019-04-03 21:40] Lxiamail commented on #3540
@sagarwasule can you share your project? what platform that you run the program on?

[2019-04-03 21:48] sagarwasule commented on #3540
Project is .net 2.0 standard library which is consumed in .netcore app 2.1
trying to deploy on windows server 2016 x64

On Thu, Apr 4, 2019, 03:11 Alicia Li <notifications@github.com> wrote:

[2019-04-03 21:54] Lxiamail commented on #3504
@mcq1212 memory management is different between Linux and Windows. To determine if this is a real leak, can you try to call GC.Collect() to force the GC to happen?

[2019-04-03 22:07] Lxiamail commented on #3484
@martonx Can you give use more details of your scenario, like what server side technology are you using, do you generate the client from WSDL file?

[2019-04-04 00:40] Grauenwolf commented on #2695
One of the related tickets referenced an ASP. NET community stand-up. Supposedly it was announced in it that gRPC is the way forward, but I didn't want to watch an hour long video for two seconds of questionable info.

[2019-04-04 05:06] 2mik commented on #2695
They just do not know themselves ))

[2019-04-04 06:38] jducobu commented on #1810
https://www.w3.org/TR/soap12-mtom/

[2019-04-04 13:41] Lexcess commented on #2695
I don't think it is that unclear. MS currently don't see the ROI in porting WCF themselves, that doesn't mean they never will, but in the foreseeable future it is the community who will have to do the heavy lifting. I imagine gRPC is mentioned because one big .Net Core gap covered by WCF was binary communication.

The old alternative was MS stopped investing and the technology was locked behind a

[2019-04-04 20:34] #3410 closed

[2019-04-04 20:35] StephenBonikowsky commented on #3416
Looks good.

[2019-04-04 20:35] #3416 closed

[2019-04-04 20:38] StephenBonikowsky commented on #3412
Run results available for Linux on MC.

[2019-04-04 20:38] #3412 closed

[2019-04-04 20:39] StephenBonikowsky commented on #3421
.NET SDK does not support UWP, this is going to take longer.

[2019-04-04 20:59] dgxhubbard commented on #2695
Quite a few people here have offered to help. To my understanding WCF for core is only the client side on github. If MS would open source WCF Server we can all lend a hand.

[2019-04-04 21:43] Grauenwolf commented on #2695
Reference Source should have a copy that we could start from.

[2019-04-04 21:49] Lexcess commented on #2695
@dgxhubbard The source I was referring to was the reference source MS release years ago. I believe that is what @Grauenwolf had a go at building. There are also some other areas of code released to support the client code that might help the server implementation.

I think the biggest thing which is missing (apart from the stuff actually building) is the unit tests, I remember the Indigo team at t

[2019-04-05 01:11] Grauenwolf commented on #2695
Here are the (current?) build instructions.

https://github.com/dotnet/wcf/blob/master/Documentation/developer-guide.md#building-the-repository

Looks like it ran clean on my machine.

Here is the starting point for the code we need to import

https://referencesource.microsoft.com/#System.ServiceModel/System/ServiceModel/ServiceHost.cs,a4183a8b92082596

Do we have any GitHub ninjas willing to crea

[2019-04-05 01:13] Grauenwolf commented on #2695
I remember the problem I ran into now. No matter which solution I open, there are a lot of files being reported as missing. Anyone know what's up with that?

[2019-04-05 01:15] Grauenwolf commented on #2695
This is what I'm seeing in the project file for the missing files:

    <ReferenceFromRuntime Include="System.ServiceModel.Security" />

What's a ReferenceFromRuntime?

[2019-04-05 01:39] Grauenwolf commented on #2695
Tests may not be as hard as they seem.

SelfHostedWCFService is a .NET 4.x project I assume works with the existing tests. So if we build a SelfHostedWCFServiceCore service and point the tests at it, that covers a lot of the use cases.

[2019-04-05 04:34] Grauenwolf opened #3546 "Could not find a configuration for ProjectReference"
When opening any of the solutions in Visual Studio 2017/2019, there are errors such as:

[code]
When this occurs, many of the normally available classes such as `System.Object` are marked as undefined.

[code]

The developer guide (https://github.com/dotnet/wcf/blob/master/Documentation/developer-guide.md#building-the-repository) needs to be updated with instructions on how to deal with this scena

[2019-04-05 04:34] Grauenwolf commented on #2695
Opened a separate bug regarding the build problems. https://github.com/dotnet/wcf/issues/3546

[2019-04-05 12:11] Lexcess commented on #2695
So the reference source isn't really meant to be built as such, since it contains the BCL amongst other things. MS offer a downloadable version that actually has some CSProj files and other dummy content to cover for files that haven't been open sourced in the repository. This version will at least open in Visual Studio (but still mostly not build).

Anyway, although as I said I probably can't hel

[2019-04-05 14:24] Grauenwolf commented on #2695
My complaint is that I can not build the Core version of WCF in Visual Studio.

[2019-04-05 17:32] Lexcess commented on #2695
The current Core version only covers the components necessary for the client. This issue is around Server-Side WCF. I would hope that the dotnet/wcf maintainers will help you with your build issue there.

[2019-04-05 19:20] dasetser commented on #3542
@PhilPJL Thanks for reporting this issue. We've confirmed this is Stackoverflow exception is a bug in the tool and is not limited to Xamarin projects. We'll investigate a fix for this. The only workaround for now is to uncheck the "Reuse types in referenced assemblies" checkbox in the WCF Connected Service.

For Xamarin forms apps, as far as I know this still won't work at runtime because of the r

[2019-04-05 20:56] mconnew commented on #1810
So here's my brain dump on the topic of MTOM. I've had two strong goals when porting WCF to .NET Core.

**Make code simpler**
Internally we've mostly dropped APM implementations and everything is Task based. The sync code path has also been dropped and just calls the Task based API's.

**Own less code**
WCF on .NET Framework was developed when a lot of what is now taken for granted as existing in

[2019-04-07 04:36] mconnew commented on #2695
@Grauenwolf, not being able to do full development in VS has been a very frustrating problem. There is a solution in sight. There's work being done on the AdoptArcade branch which converts all the projects to be regular .NET Core SDK based projects which will make VS compilation work. It's not ready for general usage yet and documentation also needs to be created but it will be ready soon. Until t

[2019-04-08 05:33] dimalyshev commented on #2923
Also rollback to   "System.ServiceModel.Http" Version="4.4.4" and now it works!!!
Thank you a lot for suggestion!!!

[2019-04-08 06:00] medios commented on #2923
Hi All,
For me With Core. 2.1.1, http 4.5.3 all work if after build the proxy with the wcf wizard, the GetBindingForEndpointis is modified this way:
[code]

All are navision wcf services with NTLM auth.

[2019-04-08 12:59] bjorneb78headit opened #3547 ".Net core wsdl service import fails"
I import the following service to an Azure function:

https://api.24sevenoffice.com/authenticate/v001/authenticate.asmx

When trying to run I get the following error;

Severity	Code	Description	Project	File	Line	Suppression State
Error		System.IO.FileNotFoundException: Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.2.4, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'.

[2019-04-08 16:53] asleeguilez commented on #2923
There is still no solution for this error?
My project updated ServiceModel 4.5.3 and NetCore 2.2.

`var binding = new BasicHttpBinding(BasicHttpSecurityMode.TransportCredentialOnly);
binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Ntlm;
CorreoSoapClient client = new CorreoSoapClient(binding, new EndpointAddress("http://..."));
client.ClientCredentials.Windows.ClientCrede

[2019-04-08 18:21] Lxiamail commented on #2938
@Edward-Zhou Let us know if it doesn't resolve your problem.

[2019-04-08 18:21] #2938 closed

[2019-04-08 19:17] dasetser commented on #3184
@nbelley It looks like you were most likely using an old version of the tool. I'm closing this issue for now, but let us know if you still have the same problem using Visual Studio 2019 and we can investigate more.

@petekapakos It's strange that you have to append ?singleWsdl for it to work if you're using 15.8.6. We made some additional changes around how this worked recently. Can you try using

[2019-04-08 19:17] #3184 closed

[2019-04-08 21:15] alexander74craig commented on #1808
I was able to generate a working proxy class with wsdl.exe, for example:
`wsdl /language:CS https://<Server Name>/reportserver/reportservice2010.asmx?wsdl`
I had to add references to `System.Web.Services.dll`, but otherwise it was plug and play.

[2019-04-08 21:45] dasetser commented on #2407
@amodi2 I know this issue is pretty old, but is there any way you could share the wsdl for the service with us? If not could you provide the full file that dotnet-svcutil generated as well as what svcutil generates for the same service? As of now we don't have enough information to determine why it would have generated the incorrect return type.

[2019-04-08 21:56] dasetser commented on #1808
The correct way to do this is by using a .NET Standard project, which is supported by the WCF Connected Service. Doing this will currently give you a runtime error because mono does not fully supporting WCF's implementation of .NET Standard (as described in #2463). Closing this issue because at this point it's a duplicate of #2463.

[2019-04-08 21:56] #1808 closed

[2019-04-09 00:16] Lxiamail commented on #3384
The fix has been checked in by https://github.com/dotnet/wcf/pull/3529

[2019-04-09 00:16] #3384 closed

[2019-04-09 18:32] mconnew commented on #8
Username credentials didn't work at the time, but they do now in the current pull request.

[2019-04-09 19:16] Lxiamail commented on #3377
Close the inactive issue. We will continue monitoring incoming issue report to prioritize investigation.

[2019-04-09 19:16] #3377 closed

[2019-04-09 19:18] Lxiamail commented on #3330
Close the inactive issue. we will continue monitoring incoming issue report to prioritize investigation.

[2019-04-09 19:18] #3330 closed

[2019-04-09 19:25] asleeguilez opened #3548 "update 4.4 to 4.5"
Hi.
I have a project that refers to a web service, with integrated windows authentication when I use versions 4.4. * (Duplex, Http, NetTcp, Security) everything works fine.
but for the reason that I have to expose in web service in SOAP, these NuGet were updated to 4.5. * and it does not work anymore.
This is an example that I use:

[code]

[2019-04-10 00:16] mconnew commented on #3548
Can you provide more information about what you mean by "it does not work anymore"?

[2019-04-10 00:48] mconnew commented on #3511
You might be running into a difference in cookie format support between .NET Framework and .NET Core. There were some gaps in support for the latest RFC's in .NET Framework which have been addressed in .NET Core. You can verify if this is the case by doing something like this on both runtimes:
[code]
If there's a problem with the format of the cookie, it should throw CookieException. This exceptio

[2019-04-10 03:29] epignosisx opened #3549 "Provide extensibility point to add DelegatingHandlers to HttpClient"
Currently WCF [has full control of the HttpClient instances](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs) making it impossible to intercept, inspect or modify HTTP requests/responses.

It would be great if client applications could hook into some mechanism to add their own `DelegatingHandler`s. This would unblock

[2019-04-10 03:39] mconnew commented on #3549
This was completed last year as part of issue #2400. Read that issue for the discussion on the approach, and there's a link to a test which uses it.

[2019-04-10 03:44] epignosisx commented on #3549
Music to my ears! I’ll take it for a spin.

[2019-04-10 03:44] #3549 closed

[2019-04-10 08:13] dimalyshev commented on #2923
Just rollback to "System.ServiceModel.Http" to Version="4.4.4" and it works (thanks to @neil-russell )

[2019-04-10 08:52] WebDucer opened #3550 "Client can not be generated"
Hello.

We try to move from `Web References` to .Net Standard and `Service references`. The most of the services we use, we could regenerate with `dotnet-svcutil`. But for the following it doesn't work:

- https://secure.umweltbundesamt.at/ebsws/FetchService?wsdl

The generated file hase only 5 types (of over 100 in the Web References). And no client is generated.

Here is the command line, that I

[2019-04-10 11:25] eveneveneven commented on #3511
I read this as you were expecting this to throw an exception but I have to disappoint you there.
I added the container as you proposed and **everything is working fine with both runtimes**.

Cookie.ToString() is simply "token.name=token.value", might just be that I needed to use a CookieContainer.
I added the container like this in BeforeSendRequest as it works best with my current pattern:
[code]

[2019-04-10 11:35] #3511 closed

[2019-04-10 13:02] asleeguilez commented on #3548
when you update from 4.4. * to 4.5. * This source code example does not send credentials.

[2019-04-10 16:25] Lxiamail commented on #3088
The issue has been fixed in UWP version 6.2.3.

[2019-04-10 16:25] #3088 closed

[2019-04-10 21:43] Lexcess commented on #2695
After spending some time searching through related dotnet repos on how a port might work, I think there might be a hint of movement on WCF or at least something like it.

Given the massive effort it will take to port WCF server, and having waited years already, I'm tempted to wait a bit longer. At least until the post Core 3.0 plans are announced.

[2019-04-10 21:53] Lxiamail commented on #444
There is no customer vote on this. Moving it to future. To implement, we will build on top of SocketHttpHandler.

[2019-04-11 12:48] Darkmace opened #3551 "WCF client credentials are not used for proxy authentication"
When passing a WCF client request through a proxy requiring username/password authentication, the clients ClientCredentials are not used and it results in a "(407) Proxy Authentication Required" error. There does not appear to be any way in dotnet core to set whether to use default credentials or not for the proxy.

[code]

A work around exists to get the proxy credentials working by creating a Cu

[2019-04-11 15:27] Darkmace commented on #3551
After some further digging it seems that the "he HTTP request was forbidden with client authentication scheme 'Anonymous", is actually caused by the final endpoint returning "403 Ip forbidden". Which makes sense as it is protected by an IP whitelist.

So the custom binding may actually be working, which i will know once i am added to the whitelist.

But i would still have expected the BasicHttpBin

[2019-04-11 17:49] Lxiamail commented on #3548
@asleeguilez Have you reproduced the issue on more than one machines? If so, can you please share a simple repro program with us?

[2019-04-11 17:56] Lxiamail commented on #3547
@bjorneb78headit Looks you may have run into the issue issue as https://github.com/Azure/azure-functions-host/issues/2877, can you try the solution suggested there?

[2019-04-11 18:02] Lxiamail commented on #3546
@Grauenwolf Thank you for your feedback. Yes, the developer guide doc needs to be updated. We are working on improving the WCF repo infrastructure to work better within VS.

[2019-04-11 18:07] Lxiamail commented on #3540
@sagarwasule Can you share a repro program/project?

[2019-04-11 18:09] Lxiamail commented on #3483
Please reactive the issue if you still have problem on VS 2019.

[2019-04-11 18:09] #3483 closed

[2019-04-11 18:21] Lxiamail commented on #3395
@PedroS11 Does the same program works on  full .NET Framework? Can you provide a repro problem?

[2019-04-11 18:23] Lxiamail commented on #3393
Close the inactive issue. Please feel free to reopen it if you have further information.

[2019-04-11 18:23] #3393 closed

[2019-04-11 18:26] Lxiamail commented on #3251
Please vote if you think this feature is valuable to you and tell us why

[2019-04-11 18:34] Lxiamail commented on #3109
@itrofimow Not sure if you still have the same problem. If so, can you share a repro program?

[2019-04-11 19:05] Lxiamail commented on #4
NetTcpSecurity.TransportWithMessageCredential portion of the issue can be address as part of https://github.com/dotnet/wcf/issues/3

[2019-04-11 19:09] Lxiamail commented on #3392
Closing the issue. Please feel free to reopen if you have further information to determine that it is svcutil tool issue.

[2019-04-11 19:09] #3392 closed

[2019-04-11 19:09] #3383 closed

[2019-04-11 19:16] Lxiamail commented on #3321
@pengweiqhca Closing the issue. Hope everything works out for you.

[2019-04-11 19:16] #3321 closed

[2019-04-11 19:26] muralinekkanti opened #3552 "Support Basic Http/Https Binding with TransportWithMessageCredential"
Requesting to support the TransportWithMessageCredential for BasicHttpBinding & BasicHttpsBinding.

[2019-04-11 21:09] Lxiamail commented on #309
https://github.com/dotnet/wcf/issues/8 will take care of this issue.

[2019-04-12 18:37] memuyskens commented on #8
I downloaded the latest version of your branch, built it, and added the .dlls to my solution. However, it seems that only WSHttpBinding supports messages and unfortunately the legacy service I'm forced to use requires BasicHttpBinding with TransportWithMessageCredential. Will this be supported in the future?

[2019-04-12 18:59] mconnew commented on #8
@memuyskens, it wasn't initially intended to be as it wasn't clear that was being asked for but it's only a small addition to add that. You could probably get it working using a custom binding, but support with BasitHttpBinding should be there. Can you provide your binding details so I can write a test scenario to make sure your use case is covered?

[2019-04-12 20:49] memuyskens commented on #8
I'm new to soap, so I may not provide everything here you need, but this is what I know:
Mode: TransportWithMessageCredential
Transport: client credential type & proxy credential type are both 'None'
Message: client credential type is 'Certificate' and algo suite is 'Default'
Hope this helps!
I'll have to look into custom bindings to solve this issue; if you have any pointers that'd be great. Than

[2019-04-13 20:28] PedroS11 commented on #3395
I didn't try it with .net Framework but I know that Framework has wshttpbinding class that supports these operations. However, .net core team haven't developed that and already said they won't do it in the near future. This is so important when you need to do soap requests behind proxies. It's a common scenario if you work for a country company or with old systems like bank and health

[2019-04-15 10:22] unchase commented on #2266
You can use [Unchase OData ConnectedService](https://marketplace.visualstudio.com/items?itemName=Unchase.unchaseodataconnectedservice) for connecting to the OData endpoint with network credentials and proxy (with credentials) as you wish. Just check it!

[2019-04-15 14:51] itrofimow commented on #3109
Well it's not a bug i guess, more of a question, so a repro just can't be provided.

Basically the question is: given the client class and DTO classes, generated by svcutil, how do i serialize any generated DTO to a string, that matches BYTE-to-BYTE what would be sent over the network, without actually sending it or even creating connections, channelFactories, channels etc (all that wfc stuff)?

[2019-04-15 22:55] Lxiamail commented on #3031
Looks like there are a few different problems reported in this issue.
1. We couldn’t repro the “assembly System.ServiceModel.Primitives load  error”, it is the original problem reported by Robertbe
2. The problem reported by @jupagose is the XAMARIN issue [#2463](https://github.com/dotnet/wcf/issues/2463) .
3. @KonstantinosP7 Sorry for the delay response. Is your issue similar as the async method

[2019-04-15 23:05] Lxiamail commented on #3552
Yes, we have an implementation in PR. Please use https://github.com/dotnet/wcf/issues/8 to track the status.

[2019-04-15 23:05] #3552 closed

[2019-04-16 04:53] WebDucer commented on #3550
@Lxiamail Is there a possible workaround that we can use?

[2019-04-16 17:02] dasetser commented on #3550
@WebDucer Thanks for reporting this issue. It looks like there's a NullReferenceException being thrown while processing the metadata (Error: Object reference not set to an instance of an object). This should be a bug in the tool, and we'll work on investigating a fix for it.

I don't think there's an easy workaround to get this tool to work with the service. One thing you could try is generating a

[2019-04-16 17:58] Lxiamail commented on #2885
Closing this issue. If you still run into the same issue. Please try [the new Azure function version with the fix](https://github.com/Azure/azure-functions-host/issues/2877). If it doesn't work, please open new issue in https://github.com/Azure/azure-functions-host repo.

[2019-04-16 17:58] #2885 closed

[2019-04-16 20:01] kayakingcoder commented on #8
I also require BasicHttpBinding to talk to an older version of SAP.

Here are my binding details:

[code]

[2019-04-16 20:20] mconnew commented on #8
@kayakingcoder, your scenario is already supported. This issue is for BasicHttpSecurityMode.TransportWithMessageCredential

[2019-04-17 06:39] mconnew commented on #8
@memuyskens, if you try my branch again, you will find it works for BasicHttpBinding now.

[2019-04-17 10:31] nicoclau opened #3554 "Self Contained .net Core Console with WCF proxy : File or Assembly System.Private.ServiceModel 4.1.2.4 Not Found"
Hello, I made a project Console .net Core 2.2 with a WCF Client.
All works well, but when I tried to publish self contained, an expection is thrown when running

![image](https://user-images.githubusercontent.com/16133485/56281209-55e3b900-610c-11e9-898a-faed394409af.png)

It seems to look for the wrong version of System.Private.ServiceModel : Version 4.1.2.4
but the project depends on the version

[2019-04-17 11:44] r-pankevicius commented on #3491
I wonder if such chaining is enough for **expired OAuth2 token scenario** where replay of service method call is needed after token is refreshed? Will help in this scenario?

I've done some work on my project after code review by @mconnew to pass "Authorization: Bearer token" header [via message inspector](https://github.com/dotnet/wcf/issues/3472#issuecomment-478127943). But I ran into issues wit

[2019-04-17 12:47] nicoclau commented on #3554
Well I made it work, it is weird though...
I just upgraded the nuget to a more recent version

<ItemGroup>
    <PackageReference Include="System.ServiceModel.Duplex" Version="4.5.*" />
    <PackageReference Include="System.ServiceModel.Http" Version="4.5.*" />
    <PackageReference Include="System.ServiceModel.NetTcp" Version="4.5.*" />
    <PackageReference Include="System.ServiceModel.Security"

[2019-04-17 16:35] Lxiamail commented on #3320
Close the issue. Please reopen if you still have problem.

[2019-04-17 16:35] #3320 closed

[2019-04-17 16:43] Lxiamail commented on #3225
@atifalibhatti have you tried to go through the steps from the dotnet-svcutil getting started but call "dotnet -d svcutil" instead of just "dotnet svcutil" as @dasetser suggested earlier?

[2019-04-17 16:57] Lxiamail commented on #2742
Close the issue due to inactive. Please feel free to reopen if you still have the same problem with more information.

[2019-04-17 16:57] #2742 closed

[2019-04-17 17:31] atifalibhatti commented on #3225
For some strange reason, my %temp% paths had semicolons which were causing the problem. Got rid of them and bingoo! Thanks a bunch.

[2019-04-17 21:46] Lxiamail commented on #3554
@nicoclau can you share a project file repro the issue that you originally reported?

[2019-04-17 21:59] Lxiamail commented on #3109
@itrofimow It's not supported.

[2019-04-17 21:59] #3109 closed

[2019-04-17 22:00] Lxiamail commented on #3225
@atifalibhatti I'ts happy it works out.

[2019-04-17 22:00] #3225 closed

[2019-04-17 22:02] #309 closed

[2019-04-17 22:40] mconnew commented on #8
WSHttpBinding and BasicHttpBinding support for TransportWithMessageCredential  with Username and Certificate credentials now merged to master. Next up, support for NetTcpBinding. We have some problems with publishing development packages right now so if you want to test, you will need to build the code yourself until that's resolved.
I would appreciate everyone testing as soon as possible as this

[2019-04-18 02:14] hehetiger opened #3557 "About 'Use the WCF Web Service Reference Provider Tool'"
I refer to web service according to the method of "https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide" of the web site, and there is an error as shown in the figure. My project uses. net core 2.1. There are two questions: 1. Where is the "Error Details Window"? 2. What causes this mistake and how to solve it?
![image](https://user-images.githubusercontent

[2019-04-18 03:22] chrisgull commented on #2972
Seeing similar symptom including System.ServiceModel.Http 4.5.3 into a NetStandard 2.0 project. Latest released VS2017 version.
Looking for workarounds.

[2019-04-18 07:23] prashantpimpale93 commented on #2686
@mconnew Is that possible in asp.net core 2.1?

[2019-04-18 09:55] nicoclau commented on #3554
No problem Alicia, I made another project which just used a simple web service the famous calculator.

I tested the "Add" for adding 2 numbers.
You must publish the self contained app yourself as it is too big to send here :(

I didnt update the nugets, I left them as Visual Studio added when I used the service reference wizard.
You will see the error when running the exe of the published self con

[2019-04-18 22:02] crodeheaver commented on #8
Are there any plans to support WS2007FederationHttpBinding?

[2019-04-19 18:37] mconnew commented on #2686
@prashantpimpale93, I don't understand what you are asking. WCF services aren't currently supported on asp.net core so there's no service call to modify the response headers. If you are using a WCF client and want to modify the headers which were returned from a service call, e.g. via a message inspector, then the code snippet I provided works.
If you want to modify the request headers, then inste

[2019-04-20 01:17] mconnew commented on #3491
@EricStG, I have a little gift for you. I already had this as a prototype when you opened the issue but your opening this issue prompted me to polish it, added some tests, fixed the bugs the tests discovered, and push it to GitHub and publish to nuget.
GitHub source: https://github.com/mconnew/Capri
nuget package: https://www.nuget.org/packages/Capri/

[2019-04-20 01:25] EricStG commented on #3491
@mconnew that looks very promising. I'll be taking a deeper look as soon as I get a chance. Thanks for this!

[2019-04-22 23:03] kayakingcoder opened #3565 "No endpoints compatible with .Net Core apps were found importing SAP WSDL"
I get the message "No endpoints compatible with .Net Core apps were found" when trying to import a SAP WSDL into 'n .Net Core 2.2 project .

The same service works fine in a Framework 4.6 app with the following HttpBinding.

                    binding = new BasicHttpBinding();
                    binding.Security.Mode = BasicHttpSecurityMode.Transport;
                    binding.Security.Transpo

[2019-04-23 21:12] kayakingcoder commented on #3565
For the record, I continued porting the Framework 4.6 version into .Net Core and despite the above warning, the Core app can call the SAP web service successfully.

[2019-04-24 06:48] YonglianQian opened #3567 "Although I have granted the current user corresponding permission, on my client side, it still prompts me that the process doesn't have the right access rights for the certificate private key."
Hi Product owner,
I ran into a problem when I used the below official document to use a certificate to authenticate the client.
Content: [https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/message-security-with-a-certificate-client:](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/message-security-with-a-certificate-client)
On two virtual machines, I built

[2019-04-24 06:53] YonglianQian commented on #3557
WCF is not well compatible for Asp.net Core project. such as ws-* Binding.
[https://github.com/dotnet/wcf/issues/31](https://github.com/dotnet/wcf/issues/31)
[https://github.com/dotnet/wcf/issues/1370](https://github.com/dotnet/wcf/issues/1370)

[2019-04-24 08:47] Henkolicious opened #3568 "WCF FaultException<T> - .NET Core 2.2"
I belive my other issue: https://github.com/dotnet/docs/issues/11786 should be posted here.

[2019-04-24 10:25] nicoclau commented on #3554
Could you reproduce the problem Alicia?

Thanks :)

[2019-04-24 11:27] Tonay commented on #2499
Thank you so much man! This is work fine for me :)

[2019-04-24 15:42] Lxiamail commented on #3554
@nicoclau Yes, I can repro it. Thank you for the standalone repro program! We still need to investigate why it happens. In the meantime, please to update to WCF 4.5.3 package.

[2019-04-24 15:59] nicoclau commented on #3554
Perfect :) Glad you could see the problem.
Anyway it is better to update, but still it interests me to know why the bug came up :+1:

[2019-04-24 17:13] #3419 closed

[2019-04-24 17:31] YZahringer opened #3569 "CookieContainer per IClientChannel"
I have only on service that needs to be called with different `CookieContainer` and/or `EndpointAddress`.

Currently I create a `ChannelFactory` by `CookieContainer` and use each `ChannelFactory` to create the `ClientChannel`. This is not optimal for performance optimization.

Is there not a solution for using a single `ChannelFactory`? I tried to use `IClientMessageInspector` but I do not see how

[2019-04-24 17:39] Lxiamail commented on #3568
@Henkolicious Looks like both FaultException and FaultContractAttribute are exposed in WCF Core public surface. What's the problem that you ran into?

[2019-04-24 18:02] Lxiamail commented on #3557
@hehetiger can you provide a simple repro project and the service endpoint so that we can try to repro it?

[2019-04-24 18:05] Lxiamail commented on #3548
Please feel free to reopen the issue when you have simple repro program.

[2019-04-24 18:05] #3548 closed

[2019-04-24 18:06] Lxiamail commented on #3547
Closing the issue and use Azure/azure-functions-host#2877 to track the issue

[2019-04-24 18:06] #3547 closed

[2019-04-24 18:06] Lxiamail commented on #3540
Close the issue. Please feel free to reopen the issue once you have repro program.

[2019-04-24 18:06] #3540 closed

[2019-04-24 18:07] Lxiamail commented on #3484
Please feel free to reopen the issue if you have more information diagnostic information to share

[2019-04-24 18:07] #3484 closed

[2019-04-24 18:11] Lxiamail commented on #3504
Please feel free to reopen the issue if you have determined that it is a real leak in WCF code.

[2019-04-24 18:11] #3504 closed

[2019-04-24 18:13] Lxiamail commented on #3395
@PedroS11

What specific feature that this refers to?

[2019-04-24 18:14] Lxiamail commented on #3389
Please feel free to reopen the issue once you have process dump capture the issue.

[2019-04-24 18:14] #3389 closed

[2019-04-24 21:39] Lxiamail commented on #3567
@YonglianQian I'm wondering if you enable export permission when you import the cert to cert store?

[2019-04-24 22:20] StephenBonikowsky opened #3572 "Investigate changes Mac Os 10.14"
The following list of test cases fail on this new version of Mac OS and don't on prior versiosn 10.12 and 10.13.

[code]

With errors such as...
[code]

[code]

[2019-04-25 00:00] mconnew commented on #3569
You can set most HTTP request headers in a similar way as demonstrated in [this](https://github.com/dotnet/wcf/blob/3733c5780650724ab728da9bf1e1009ad6a21914/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Http/ClientCredentialTypeTests.4.1.0.cs#L47) scenario test. To do this in an `IClientMessageInspector` you would reference `Message.Properties` on the passed in request

[2019-04-25 02:12] YonglianQian commented on #3567
@Lxiamail I didn't import the cert to cert store since the command automatically generated the cert to localmachine store(certlm.msc), and I set up the cert by the below code snippets in two projects.
**Server**
`          <serviceCredentials>
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="869f82bd848519ff8f35cbb6b667b34274c8d

[2019-04-25 10:49] jges42 commented on #3557
@hehetiger had the same error -> in uninstalled dotnet core sdk version 3 preview and than it worked again.

There is an incompatibility issue that needs to be fixed.

For example with this WebService: https://tst2.logpay.de/atlas/WalletService?wsdl
with .NET Core SDK V3 installed -> error
without .NET Core SDK V2 installed -> works fine

[2019-04-25 11:01] YZahringer commented on #3569
Thank you for your help.

I tried to create a Wrapper to store and persist the Cookie automatically.

The problem is that OperationContextScope does not work with Async methods. Is there a solution?
[code]

[2019-04-25 11:37] Henkolicious commented on #3568
@Lxiamail it's simply the error handling during a try/catch/catch block.
<pre>
try {
   _client.getData(); // server throws an error of type MyErrorType as the fault contract specifies
}
catch(FaultException< MyErrorType> e)
{
   // this never triggers in .NET Core
   // but it does work fine in .NET Framework 4.x.x
}
catch(Exception e)
{
   // always end up here in .NET Core
}
</pre>

The code is

[2019-04-25 16:05] Lxiamail commented on #3557
@hehetiger Thanks for the information. We will look into it.

[2019-04-25 18:51] mconnew commented on #3569
I believe the following should work:
[code]

[2019-04-25 23:17] dasetser commented on #3557
@hehetiger @jges42 I can reproduce this on Visual Studio 2017, but not in Visual Studio 2019. Are you using VS2019?

[2019-04-25 23:21] jges42 commented on #3557
@dasetser I was using VS2017, update in my company will only happen in a few month

[2019-04-26 14:16] YZahringer commented on #3569
Thank you for your time and help! It works! 🎉

[2019-04-26 14:16] #3569 closed

[2019-04-26 14:59] ctpaula opened #3577 "Can't consume brazilian government SOAP"
Hi people,

In a .NetCore2.1 application I'm trying to consume this service: https://nfe.sefa.pr.gov.br/nfe/NFeAutorizacao4?wsdl
This is a government service, so I have no control of any part of the server.

When I try to Add a WCF using the tool on VS2017 it gives me the following error:

![image](https://user-images.githubusercontent.com/31453589/56816060-1f4b2400-6819-11e9-849a-868a2d0bebb6.png

[2019-04-26 17:23] dasetser commented on #3557
@jges42 It sounds like you're running into issue #3383, which is different from the error message for this issue which is related to metadata processing. It's recommended to use the latest version of VS2019 when using .NET Core 3.0, so if you need to use use the .NET Core 3.0 SDK before your company upgrades to VS2019 I'd suggest using the dotnet-svcutil command line tool for adding a service refe

[2019-04-26 17:41] dasetser commented on #3066
I'm unable to reproduce this issue on VS2019. I believe one of the changes we made in recent versions in this area fixed this, so closing the issue.

[2019-04-26 17:41] #3066 closed

[2019-04-26 17:58] dasetser commented on #2407
Let me know if you can provide the information I asked for so we can investigate this issue.

[2019-04-26 17:58] #2407 closed

[2019-04-26 18:40] dasetser commented on #3082
@kevinoid This is now possible in Visual Studio 2019. We did not add a UI option for it, but after adding the connected service you can modify the ConnectedService.json and add the following line:
 "serializer": "XmlSerializer"

If you then update the service reference it should use the correct serializer.

[2019-04-26 18:40] #3082 closed

[2019-04-26 21:27] kevinoid commented on #3082
Sounds great.  Thanks @dasetser!

[2019-04-28 08:14] yasewang987 opened #3586 "visual studio code f12 can't use"
system: linux mint
visual studio code version: 1.33.1
dotnet version: 2.2.203

step1: dotnet new webapi -n test --no-https
step2: use visual studio code open project, F12 useful
step3: dotnet-svcutil http://1.2.3.4/test.svc
step4: dotnet restore
step5: close visual studio code && reopen project, F12 unuseful

[2019-04-28 08:20] yasewang987 commented on #3586
system: linux mint
visual studio code version: 1.33.1
dotnet version: 2.2.203

step1: dotnet new webapi -n test --no-https
step2: use visual studio code open project, F12 useful
step3:  dotnet-svcutil http://1.2.3.4/test.svc
step4: dotnet restore
step5: close visual studio code && reopen project, F12 unuseful

[2019-04-29 08:18] gokaygunes commented on #31
any updates?

[2019-04-29 08:24] egemenhalici1 commented on #31
+1

[2019-04-29 08:26] thuannguy commented on #31
Just in case someone is also interested in using WSTrust and WCF: https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/852

[2019-04-29 08:30] yahya99223 commented on #31
https://stackoverflow.com/a/52696777/5077196
This solution might work till WS* Bindings are supported, it worked for me

[2019-04-29 08:31] yahya99223 commented on #31
I had to do it on my own, here is the solution I developed, might work for some of you too.
https://stackoverflow.com/a/52696777/5077196

[2019-04-29 08:58] serdarkeyinci commented on #31
+1

[2019-04-29 09:20] PedroS11 commented on #31
@yahya99223 I ended up doing like you. However, processing the response is terrible if you receive an envelope that you are not expecting.

[2019-04-29 10:04] gokaygunes commented on #31
Hello there. Yahya, WS-Security 1.1 can be provided this way. Thank you for your suggestion. The service I want to connect to requires WS-Security 1.1, WS-Trust 1.3 and WS-SecurityPolicy 1.2 standards. I cannot provide the WS-trust standard with this method. I am writing a sample for the binding and enpoint configuration of an .net framework-enhanced application. I should be able to configure this

[2019-04-29 15:56] nicoclau commented on #3577
It seems there is a problem of Cert

NET::ERR_CERT_INVALID

[2019-04-29 16:04] StephenBonikowsky opened #3587 "ADO build infrastructure polishing."
We have made the transition of our infrastructure from buildtools to Arcade in the master branch. As we add signing or additional test platforms and make tweaks to the yaml files we will get build errors that auto produces issues in the core-eng repo.

Use this WCF issue to link those bugs to while we work on cleaning everything up and getting consistent good results.

[2019-04-29 17:18] ctpaula commented on #3577
Where? Please explain.
This wsdl only accept valid employee certificates, guess that maybe accept only brazilian certificates, if you are trying to enter on the "wsdl" link with yout browser, the problem is that you don't have a valid certificate. The problem is not with the certificate of the brazilian government. I can guarantee this.
And also, I have a valid certificate with me that I use to en

[2019-04-30 10:26] BogdanovKirill opened #3590 "Why timeout helper not passed to GetStreamAsync()"
Hi all,

I'm trying to understand why my application sometimes hangs when working with WCF (net core 2.2). I'm using HttpTransportBindingElement with TransferMode equal to StreamedResponse.
And the question is, why timeoutHelper is not used in GetStreamAsync() here ?
https://github.com/dotnet/wcf/blob/f0b35d2f8d8352082d1e4f4f413db62b24e25ec5/src/System.Private.ServiceModel/src/System/ServiceModel/

[2019-04-30 18:47] dasetser commented on #3565
@kayakingcoder I believe you can ignore this warning in this case if it's working for you. It looks like it's showing up because your wsdl does not contain any information about your endpoint. Normal svcutil.exe doesn't generate a config file for this wsdl for the same reason, it just generates as much as it can and doesn't give you a warning about it.

In dotnet-svcutil we filter out anything tha

[2019-05-01 16:21] fjdean commented on #3311
This solved it for me. I was also receiving the exception "When using a non-null Proxy, the WindowsProxyUsePolicy property must be set to WindowsProxyUsePolicy.UseCustomProxy.", which then disappeared once I updated all System.ServiceModel libs. Cheers!

[2019-05-01 21:49] Lxiamail commented on #3586
@yasewang987 Can you check if OmniSharp emit any error? If it can't build, F12 won't work. In that case, please share generated code, or share the WSDL file? The other thing to try is that after Step4, can you run "dotnet build" outside VS Code.

[2019-05-01 21:59] Lxiamail commented on #3568
[code]
@Henkolicious WebInvoke attribute is not supported on WCF Core since WSHttpBinding is not supported. That may be why that you got different exception. BTW, what exception that you got?

[2019-05-01 22:01] Lxiamail commented on #3565
Please let us know if there is more WCF product related issue.

[2019-05-01 22:01] #3565 closed

[2019-05-01 22:02] bbarry commented on #2535
I have a service which validates users as being in specific active directory roles which runs under a limited domain account in order to expose a check for credentialed users of our application and give them additional privileges based on AD claims while keeping the application running under a local IIS user (who cannot query AD).

We can switch the service to net tcp easily enough.

[2019-05-02 00:19] yasewang987 commented on #3586
@Lxiamail OmniSharp is OK,after Step4 "dotnet build" also OK
`Microsoft (R) Build Engine version 16.0.450+ga8dc7f1d34 for .NET Core
Copyright (C) Microsoft Corporation. All rights reserved.

  Restore completed in 36.47 ms for /home/xxx/work/cc/microservices/TC.PayService/TC.PayService.csproj.
  TC.PayService -> /home/xxx/work/cc/microservices/TC.PayService/bin/Debug/netcoreapp2.2/TC.PayService.dl

[2019-05-02 10:12] fyseferoglu commented on #31
+1

[2019-05-02 17:42] dasetser commented on #3586
@yasewang987 Do you have a .vscode folder with a valid launch.json? If I do your repro steps (even without steps 3 and 4) then F12 doesn't work for me after reopening the folder, but shortly after I get a prompt saying "Required assets to build and debug are missing from <folder name>. Add them?" If I click yes it generates a .vscode folder with a launch.json and then F12 works as expected.

[2019-05-03 03:05] yasewang987 commented on #3586
@dasetser I have the launch.json, it added before use dotnet-svcutil
`{
    "version": "0.2.0",
    "configurations": [
        {
            "name": ".NET Core Launch (web)",
            "type": "coreclr",
            "request": "launch",
            "preLaunchTask": "build",
            "program": "${workspaceFolder}/bin/Debug/netcoreapp2.2/TC.PayService.dll",
            "args": [],

[2019-05-03 11:12] HemaSK opened #3602 "wcf web service in visual studio 2017 taking very long time to add"

[2019-05-03 11:14] HemaSK commented on #3602
Hi,
I created a WCF service application and I just run it. It is running correctly and I have the url
And then I have created a Asp.Net Core Web application. Here, I tried adding the wcf service created. But, it is not adding and no error thrown. It is taking very very long time to add. Still it is loading

Any help please

[2019-05-03 17:12] dasetser commented on #3586
@yasewang987 This doesn't sound like a dotnet-svcutil bug. The tool just creates a Service Reference folder with a .cs and .json file in it, and adds some references to the csproj file. These are all valid actions to do on a project, and If the project still builds it doesn't sound like we generated anything invalid.

I would suggest following up on the VS Code Github for this issue. They would ha

[2019-05-03 17:12] #3586 closed

[2019-05-05 06:21] yasewang987 commented on #3586
@dasetser  ok,thank you!

[2019-05-06 15:31] lennykean commented on #1810
I developed a workaround to support MTOM in .net core wcf.
https://github.com/lennykean/WcfCoreMtomEncoder

This is really a workaround that is only meant to consume existing mtom soap services, but I think it could evolve into a full implementation of mtom in .net core.

[2019-05-06 18:57] mconnew commented on #1810
@lennykean, this looks like a great start. I've had a look at the code behind the ReadAsMultipartAsync method and it has one really big flaw. It reads the entire contents into memory. The typical usage I've seen with the MTOM encoder has been when needing to transfer large amounts of data over a SOAP service. Normally SOAP will encode a byte[] as base64 encoded string which increases it's size by

[2019-05-06 18:58] bigswede74 commented on #3
I'm trying to set the MaxClockSkew property when using the NetTcpBinding with TransportWithMessageCredential security mode. I assume this issue is why I cannot set the property as the feature is not supported? I'm targeting .NET Framework 4.7.1.

[2019-05-07 00:39] Lxiamail commented on #3602
@HemaSK Thanks for reporting the problem. Which version (build number) of VS 2017 that you are using. Since we haven't heard similar report before, I guess there may be something unique about your WCF server. Can you share the service URL if it is public or can you share the WSDL file? BTW, this repo is for WCF Client framework on .NET Core. Please use https://developercommunity.visualstudio.com/

[2019-05-07 00:50] Lxiamail commented on #3567
@YonglianQian , This repo is for WCF Client on .NET Core, not for full .NET Framework. Since you already reported the same issue on Doc repro. Let's use it to track the issue. Closing this one.

[2019-05-07 00:50] #3567 closed

[2019-05-07 06:43] HemaSK commented on #3602
I will explain you step by step about the issue I am facing
I am using Visual Studio 2017 15.9 version.

Step1: I have created a WCF Service Application as in screenshot below
![image](https://user-images.githubusercontent.com/50235354/57276659-e126ed80-70bf-11e9-8496-0e6d0f0a5a8e.png)

Step2: I simply build and run the application and had the output as below which is correct, The url is http://lo

[2019-05-07 14:58] cbenard commented on #2695
Well they just [introduced .NET 5](https://devblogs.microsoft.com/dotnet/introducing-net-5/) and the [future of .NET](https://devblogs.microsoft.com/dotnet/net-core-is-the-future-of-net/
).

.Net Framework is officially dead and we are officially marooned as far as WCF server is concerned.

In the words of Scott:

[2019-05-07 19:29] mconnew commented on #2695
@cbenard, WCF has a different place in the .NET Core world than .NET Framework. If you install the .NET Core Runtime, you basically get coreclr and corefx (and in 3.0 asp.net core) which is an analog to the .NET Framework which you have installed on your Windows machine. If you want to use WCF (which is currently client only), you need to explicitly add the WCF nuget packages which need to be down

[2019-05-07 21:31] dgxhubbard commented on #2695
Scott's statement says one thing, "Have fun with gRPC!". I wish the people who made this decision had to also code with gRPC and replace some of the WCF server services, to see exactly what this statement means.  .Net core 3 and beyond adoption is going to be pot hole filled road. We are going to have to rewrite our services to mimic WCF, so our adoption of .Net Core 3 and beyond will be shelved f

[2019-05-07 23:19] cbenard commented on #2695
Same here. I don't see how gRPC is anywhere near a drop-in replacement. One of the huge selling features of WCF was ability to share DLLs between server and client side, filled with models and interfaces for the service contracts. gRPC relies on proxy generation, from what I can see. Some of our services store copies of serialized objects that we re-hydrate for use later. I don't see how gRPC is g

[2019-05-08 01:23] Grauenwolf commented on #2695
Ok, who can?

This has been dragging on for years. We need to know definitively whether or not server-side WCF is dead. And if it is, what is the real alternative because gRPC is clearly not it.

[2019-05-08 01:35] cbenard commented on #2695
@Grauenwolf, see my replies above. It's dead. Scott said to use gRPC or pound sand. He explicitly said no new features will be ported from .Net Framework.

It's dead, Jim.

[2019-05-08 04:52] XelMed commented on #3032
It looks like still not working.
Just test project from manual:
Program.cs:
[code]
and MyWCFClient.csproj:
[code]
On the windows 10  `dotnet build` works correctly and create MyWCFClient.XmlSerializers.dll
However on Debian:
[code]
Similar behavior is when I try to use docker with `mcr.microsoft.com/dotnet/core/sdk:2.2` image.
I suppose that problem is  **/.\\/**.
In addition, after trying to buil

[2019-05-08 09:41] KarloX2 opened #3607 ".NET 5 support and self hosted servers?"
Hi !

I read about Microsofts plans for .NET 5 and I understand that they will discontinue WCF !!

I found this repro and I have two questions:

1. Does this project intends to support .NET 5 and evolve to a full replacement? (What is needed is nettcp + soap + sw-* client+server, duplex/callbacks.)?

2. Is this project based on the original WCF source codes or is it a new implementation?

Thanks!

[2019-05-08 14:26] philip-reed opened #3608 "How to share common types from 2 services?"
With a .Net Framework project, you used to be able to share types from common WCF services by adding any additional services to the Reference.svcmap file as follows:

[![add metadata source][1]][1]

Source:
[https://cgeers.wordpress.com/2011/07/31/wcf-sharing-types-using-svcmap/][2]

Now, with .net core, we have connected services, and all we get is a `ConnectedService.json` file that looks like t

[2019-05-08 15:50] Mushtaq123 opened #3609 "WCF service methods not connected with Xamarin.Forms app (Android, iOS)"
Hi,
I have created a WCF service and called the same from Xamarin Cross-Platform with Dot Net Standard 2 (UWP, iOS, Android), an app using Connected Service approach.

I checked this service approach in UWP and it works fine. But in Android and iOS project, the service is not connected.

Connected service call
[code]
Android runtime error after clicked button :

iOS runtime error after clicked but

[2019-05-08 16:04] StephenBonikowsky opened #3610 "WebSockets incorrectly posting continuations to application SynchronizationContext."
The WCF WebSocket implementation when calling receive on a WebSocket is posting continuations to the application SynchronizationContext which we expect to have dropped by that point but is not.

The fix is to drop the sync context, investigation is needed to identify the correct place to insert this fix.

Test cases failing due to this issue...
...Scenarios/Client/ChannelLayer/RequestReplyChannelS

[2019-05-08 18:13] huanwu commented on #3032
@yujayee this fix was not included in last release.

[2019-05-08 18:17] dasetser commented on #3602
@HemaSK Thanks for the detailed information. A few questions about this:

1) Do you have the .NET Core 3.0 SDK installed on your machine? There are a few issues with using this tool on VS2017 if you have .NET Core 3.0 installed that are fixed in the VS2019 version.

2) Which option do you select when creating the web application? Is it just an empty app? Or do you use one of their built-in templat

[2019-05-08 18:29] dasetser commented on #3577
@ctpaula Your workaround of downloading the wsdl file and pointing the tool at the local file should give you a valid proxy you can use. We don't have a certificate to pass to the service so we can't reproduce this ourselves or get much information about it.

The error message you're getting about the content type not matching means something about your client binding isn't matching what the servi

[2019-05-08 20:00] dasetser commented on #654
We have added an option to generate synchronous operations to the WCF Web Service Reference starting in Visual Studio 2019 v16.1 Preview 3. It's a checkbox on the Client Options page of the wizard.

For now this is only available in the UI tool, but we are planning to make this available in dotnet-svcutil as a command line parameter (--sync) in the next version we release (2.0.1).

[2019-05-08 20:00] #654 closed

[2019-05-08 20:13] dasetser commented on #2205
Closing since this is supported by dotnet-svcutil. This doesn't seem like a very common scenario so I don't think we need to add this to the WCF Web Service Reference Provider UI.

If there's a reason you need to use the UI instead of dotnet-svcutil you can get it to generate with this by  adding the service reference normally, modifying the the ConnectedService.json file to add the option, then u

[2019-05-08 20:13] #2205 closed

[2019-05-08 21:29] Lxiamail commented on #1345
@rafsojka Closing the issue. Please let us know if you still have problem.

[2019-05-08 21:29] #1345 closed

[2019-05-08 21:54] michisnewsletter opened #3615 "System.Xml.Serialization.XmlChoiceIdentifierAttribute is not valid in Item (.Net Core Client)"
The "svcutil" generates der References.cs file (Visual Studio 15.9, .net core 2.2) within "Connected Services".

It also generate this Line:
[code]

I get this error message:
`XmlSerializer attribute System.Xml.Serialization.XmlChoiceIdentifierAttribute is not valid in Item. Only XmlElement, XmlArray, XmlArrayItem, XmlAnyAttribute and XmlAnyElement attributes are supported when IsWrapped is true`

[2019-05-09 06:37] HemaSK commented on #3602
Hi
1. No, I have .Net Core 2.1.505 SDK installed in my machine and .Net Core 3.0 SDK is **not** installed
2. I select Empty to create my Web application
3. I have attached the log file zipped
[2019_May_09_12_05_03.zip](https://github.com/dotnet/wcf/files/3160661/2019_May_09_12_05_03.zip)

Thanks for the help

[2019-05-09 10:16] kaluznyt opened #3619 "MessageSecurityException on .NET Core client, while .NET Framework client works (Certificate auth)"
Hello,

I encountered a strange issue, I'm trying to write a .net core client for a WCF web service, but encountering an error:
"System.ServiceModel.Security.MessageSecurityException: 'The HTTP request was forbidden with client authentication scheme 'Anonymous'.'"

While running the same code on .NET Framework it's working without a problem. Here code for the core and framework clients.

The servi

[2019-05-09 14:54] kaluznyt commented on #3619
After some investigation I noticed, that the error no longer occur when the RequireClientCertificate is set to false on a server.

Also on clients, when the HttpsTransportBindingElement's are created, these differ in regard to "ExtendedProtectionPolicy" which cannot be set manually:

[code]
[code]

[2019-05-09 17:38] #2884 closed

[2019-05-09 21:40] Lxiamail commented on #3609
@Mushtaq123 This is known issue in Xamarin. Closing this issue, use https://github.com/dotnet/wcf/issues/2463 to track the issue instead.

[2019-05-09 21:40] #3609 closed

[2019-05-10 02:07] RyoukoKonpaku commented on #2695
[Magic Onion](https://github.com/Cysharp/MagicOnion) shows promise, from the same developer that made Message Pack and it uses gRPC under the hood for transport. Though it does still miss things that WCF has in terms of features so it's not a full drop-in replacement either but it's at least more similar to WCF compared to gRPC-dotnet. I do hope at least we get some kind of closure here after year

[2019-05-10 04:39] mconnew commented on #2695
Scott Hunter said in a twitch stream yesterday that there's something in the works. I know it's been a long wait, and all I can say at this time is please have a little bit more patience and that WCF isn't dead.

[2019-05-10 07:06] CSharpenter commented on #2695
Has anyone considered Mono's implementation of WCF ServiceHost? Sure, it is a very small subset of .NET Fx's ServiceHost, but it might be a better choice as in a starting point rather than MS' "Reference Source" plus Mono is already cross platform, so its design might be a better choice for porting it to .NET Core.

[2019-05-10 08:20] Lexcess commented on #2695
@mconnew It would be really good to have some direction to get us out of the current limbo. It's not like this is an unknown technology, porting is a lot of work sure, but this position prevents a community coming together to do something themselves.

@CSharpenter That is actually a pretty reasonable suggestion. The lack of test suites and non-buildable code isn't a pleasant situation. Thinking fu

[2019-05-10 08:42] CSharpenter commented on #2695
I'm sure Xamarin's promise is an honest one, but I'm afraid it is possible to fall under the pressure and influence of MS' marketing politics to put .NET Core as the "chosen Fx"

[2019-05-10 10:14] karthik33 commented on #3391
Hi Got similar issue andI am not able to proceed to add service reference using wsdl file.

**Below is the error Log**

05/10/2019 13:59:23],24,Importing web service metadata ...
[05/10/2019 13:59:23],17,Number of service endpoints found: 1
[05/10/2019 13:59:23],67,Scaffolding service reference code ...
[05/10/2019 13:59:23],17,Executing command [C:\Users\BD9086\AppData\Local\Temp\WCFConnectedServ

[2019-05-10 10:39] karthik33 opened #3631 "Unable to generate deps.json, it may have been already generated. You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program Files\dotnet\sdk\2.1.503\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\GenerateDeps.proj"
Hi ,

I am not able to include service reference using a WSDL file in Visual Studio 2017 (ASP.NET Core) Project.

Below are the Error log
--------------------------

[05/10/2019 13:59:23],24,Importing web service metadata ...
[05/10/2019 13:59:23],17,Number of service endpoints found: 1
[05/10/2019 13:59:23],67,Scaffolding service reference code ...
[05/10/2019 13:59:23],17,Executing command [C:\U

[2019-05-10 16:56] StephenBonikowsky opened #3632 "Fix Microsoft copyright element in nuspec."
Our latest packages failed validation and had to be manually fixed before pushing to NuGet. They were throwing...

INVALID.
.\System.Private.ServiceModel.4.6.0-preview5.final.nupkg
The package System.Private.ServiceModel 4.6.0-preview5.final is not compliant.
There is 1 problem.
  - The package metadata contains a non-compliant copyright element.

See https://github.com/dotnet/arcade/pull/2635 for

[2019-05-10 17:25] dasetser commented on #3391
@karthik33 Can you open the command prompt and go to this directory: C:\Users\BD9086\AppData\Local\Temp\WCFConnectedService\2019_May_10_13_59_23\svcutil_starter

And attach the output from the following command?
`dotnet -d svcutil --help`

[2019-05-11 06:38] ShahroozAnsari commented on #2693
@mlacouture  it is very important option we need in .net core client side .I need this in my project

[2019-05-11 18:08] kaluznyt commented on #3619
I've came to the bottom of it, seems that the culprit was the certificate itself, client certificate that worked with .net framework client didn't work with .net core client and resulted in this error. I generated another certificate (that .net core client seem to like) and everything seems fine.

[2019-05-11 18:08] #3619 closed

[2019-05-12 02:48] mconnew commented on #2693
@ShahroozAnsari, WCF can't implement transaction flow because the api's in System.Transaction don't support distributed transactions, only transactions to SQL server. Before we can support transaction flow, we need proper support of System.Transaction which lives in the corefx repo. I recommend opening an issue there asking for support and if/when they provide it, open a new issue here and we'll a

[2019-05-13 03:09] yshteinm commented on #654
I have released version 16.0.3 which seems to be the latest and I don't see checkbox there. Can you please clarify if it is supposed to be there or anything changed in your plans?

[2019-05-13 03:12] karthik33 commented on #3391
Hi,
Thank you for your response. Please find attached below as you requested.

C:\Users\BD9086\AppData\Local\Temp\WCFConnectedService\2019_May_10_13_59_23\svcutil_starter>dotnet -d svcutil --help
Telemetry is: Enabled
projectfactory: MSBUILD_EXE_PATH = C:\Program Files\dotnet\sdk\2.1.503\MSBuild.dll
projectfactory: MSBuild project path = C:\Users\BD9086\AppData\Local\Temp\WCFConnectedService\2019_

[2019-05-13 06:14] XelMed commented on #3032
@huanwu Will it be included in a future release? or maybe there is any way for working around this issue?

[2019-05-13 09:32] Dedrus commented on #2264
I got this error on new netcoreapp2.2 project, and resolved it with update of nuget packages(System.ServiceModel.*) from 4.4.0 to 4.5.3

[2019-05-13 17:36] dasetser commented on #654
@yshteinm 16.1 is still in preview, so you will need to either way until it goes to the release channel (which is scheduled for later this month) or install the preview version of VS from https://visualstudio.microsoft.com/vs/preview/.

[2019-05-13 17:47] dasetser commented on #3391
@karthik33 Thanks for attaching that and reporting the issue. It looks like it's an error finding some dependencies of dotnet-svcutil. I believe this should be fixed in VS2019. If you can't upgrade to VS2019 yet I would suggest using the [dotnet-svcutil command line tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x). You shouldn't see thi

[2019-05-13 22:31] huanwu commented on #3032
@Lxiamail Do you know when we will have a release for this fix?

[2019-05-13 22:52] Lxiamail commented on #3032
@XelMed We are working on the release. Will let you know when we have the release ready.

[2019-05-14 12:31] james-novino commented on #2293
@zhenlan This issue is still an issue even when referencing System.ServiceModels.Primitives >= 4.5.3. Any guidance on solving that issue.

[2019-05-14 16:06] PhlashGBG commented on #2695
In a similar boat here, except we *have* used WS-SecureConversation on WCF for our paying customers (thousands of them), and now need a way to support that interface for long enough to migrate all those customers to something RESTful/JSON, which will be several years.

This appears to exceed the lifetime of .NET Framework, so I've been looking at [SoapCore](https://github.com/DigDes/SoapCore) to p

[2019-05-14 16:52] Lexcess commented on #2695
@PhlashGBG  If your concern is primarily .Net Framework support being pulled you are almost certainly ok. Right now .Net 4.x is actively supported with Windows and has no end date for support.

This discussion is more about wanting WCF to fix the gaps in .Net Cores stack, use modern .Net Core tooling for WCF development and see active feature development of WCF.

If you want a more concrete expect

[2019-05-14 17:37] PhlashGBG commented on #2695
@Lexcess thanks for the response, it was partly the longevity of Framework and WCF as-is, however the dependencies this brings impact our Microservices strategy - obviously a separate discussion but decisions in this space would be easier if we have a clear statement on support for WCF server-side on .NET 5+ :)

[2019-05-14 18:15] mconnew commented on #2695
@PhlashGBG, [here's](https://support.microsoft.com/en-us/help/17455/lifecycle-faq-net-framework) the page which describes the support lifecycle. I'll quote the relevant section here for convenience:

So if you want a lower bound, look at the latest EOL date for all released Windows OS's (Server has the longest lifecycle). Each time a new Windows Server version is released, the EOL date for .NET ge

[2019-05-14 21:23] Lexcess commented on #2695
@PhlashGBG I'd agree it'd be nice to have a clear statement!

If I would recommend anything for now it would be to try and separate code relating to your domain from WCF code, even if that results in duplication of your model (in fact that sort of duplication can be a good thing), porting it over to .Net Standard. Then you can layer on a potential WCF.Next, SOAPCore or even WebAPI based on the sit

[2019-05-14 22:20] Grauenwolf commented on #2695
The ironic thing is that the whole point of WCF was to detach the domain logic from the communication logic. The promise was that I'd we slap on this WCF abstraction layer now, we can sort out the communication later.

Now it looks like we're having to abstract the abstraction. And we all know where that rabbit hole leads.

[2019-05-15 18:52] dasetser commented on #3264
After some investigation it looks like this is a bug. The dotnet-svcutil tool correctly uses a relative path, but for some reason the Connected Service is doing something that saves it as a full path. We'll investigate why this is happening and work on a fix.

[2019-05-15 19:10] dasetser commented on #3602
There are two possibilities based on your logs for what's happening:
1) Something is causing a `dotnet restore --ignore-failed-sources` command in the C:\Users\774715\AppData\Local\Temp\WCFConnectedService\2019_May_09_12_05_03\svcutil_starter directory to block. You should be able to verify if this is the cause by running the command manually and seeing if it completes. If it does not complete you

[2019-05-15 20:36] dasetser commented on #3557
Let us know if you can provide the wsdl or have any additional information that would help us investigate this.

[2019-05-15 20:36] #3557 closed

[2019-05-15 20:41] dasetser commented on #3381
We don't have enough information to investigate this right now. Let us know if you're still running into it and if you can answer the questions I asked so we have more information to investigate.

[2019-05-15 20:41] #3381 closed

[2019-05-15 20:54] dasetser commented on #2953
While we understand that not appending the default namespace may not be intuitive for users used to Add Service Reference, doing the same with the new tool would change the behavior from what users of this tool are used to and may cause more confusion for them. For this reason we have chosen to keep the behavior as is.

[2019-05-15 20:54] #2953 closed

[2019-05-16 12:32] okarlsson opened #3643 "Escaping ampersands (&) on generated requests"
I'm having issues with strings containing ampersands in my client generated from dotnet-svcutil.

When I recieve a response through the client all ampersands are serialized as

[code]

When i extract the value from the request in my code it has been deserialized as an ampersand
[code]

In a later stage i need to send the value of the users back like this
[code]

When i intercept the generated soap

[2019-05-16 13:27] dmitriy-shleht commented on #3602
There is another problem at the VS2019 16.0.4 links are not added at all or are added incorrectly.

![vs](https://user-images.githubusercontent.com/13961834/57857277-74b29980-77f7-11e9-9ad0-85355288f585.gif)

[2019-05-16 15:40] Lxiamail opened #3644 "WCF Core 4.6.0 preview 5"

[2019-05-16 16:32] dasetser commented on #3602
@dmitriy-shleht It looks like you're reporting the same issue that's tracked in [this feedback](https://developercommunity.visualstudio.com/content/problem/526584/connected-services.html). HemaSK is using an ASP.NE Core project, which shouldn't run into this issue.

[2019-05-16 17:08] StephenBonikowsky opened #3645 "dotnet-svcutil.xmlserializer servicing release 1.1.0"
Use this Epic to encapsulate the fixes that are part of the 1.1.0 servicing release of dotnet-svcutil.xmlserializer.

[2019-05-17 21:05] BhaaLseN commented on #3607
And don't forget about named pipes for interprocess communication, or MSMQ.

[2019-05-20 10:09] kks78 commented on #3228
Hello !!
I have same issue like jugg1es. The SOAP response is returning null for an object that is definitely being returned to the the service.
Here is my wsdl. [sageX3wsdl.txt](https://github.com/dotnet/wcf/files/3197328/sageX3wsdl.txt)
and the Response... [sageX3Response.txt](https://github.com/dotnet/wcf/files/3197339/sageX3Response.txt)
thanks for your help!

Klaus

[2019-05-20 10:40] AliNazar1991 commented on #8
In which release of .net core 3.0 will these that you have made be available? I have tried with .net core 3 preview 5 but i still get:
The value 'TransportWithMessageCredential' is not supported in this context for the binding security property 'securityMode'.

[2019-05-20 20:10] perharjnk opened #3648 "Getting an error trying to add a new Web Service reference to my c# project in VS2019"
I am not able to add new Web Service references to my C# project. Visual Studio 2019 fails to open the dialog to add the Web Service.

When I launch the Add Connected Services option in my .NET 4.7.2 C# project, and try to add a SOAP Web Service reference using the "Microsoft WCF Web Service Reference Provider", instead of showing the dialog to add the Web Service reference, it shows an alert mess

[2019-05-21 05:34] SajithLakjaya commented on #2264
Resolved the issue by update of System.ServiceModel.* to 4.5.3

[2019-05-21 07:25] wwfm commented on #2463
what time can fixed the problem .

[2019-05-21 12:12] stukselbax commented on #654
Is it possible to get dotnet-svcutil 2.0.1 with --sync flag support? Seems there is no package available on [nuget](https://www.nuget.org/packages/dotnet-svcutil/) yet.

[2019-05-21 16:20] dasetser commented on #3648
Thanks for the information. This sounds like it's the same problem reported in [this feedback](https://developercommunity.visualstudio.com/content/problem/526584/connected-services.html), which we're currently working on a fix for. You can work around it by using the tool on a .NET Core/.NET Standard project and copying the Service Reference folder to your full framework project.

[2019-05-21 17:30] dasetser commented on #654
@stukselbax We're still working on dotnet-svcutil 2.0.1 so it's not available for download yet. I'll update this thread when we release it.

[2019-05-21 18:23] MrGadget1024 opened #3649 "Can't Add ASMX Web Reference"
Visual Studio 2017 15.9.12

This fails with .Net Core 2.1 and works perfectly in Framework 4.8.

URL: https://webservices.solidcommerce.com/ws.asmx

With a .Net Framework 4.8 Class Library Project, add a Web Reference:

![image](https://user-images.githubusercontent.com/9826063/58120146-9edad180-7bd2-11e9-9282-0099c5462f81.png)

... which correctly gives me this:

![image](https://user-images.gith

[2019-05-21 19:50] YuWarm commented on #2111
Thanks a lot @Edward-Zhou !

[2019-05-21 20:02] dasetser commented on #3608
The WCF Connected Service does not support a feature like this where you can create a single service reference for two different services and share the types automatically. If you need to avoid using the two different objects that are generated the only options I can think of are:
1) Manually modify the service references after generation so both proxy classes use the same copy.
2) After generatin

[2019-05-21 20:11] MrGadget1024 commented on #3649
Apparently VB is the red-headed step-child **again**.

Switching to a C# project I can now see the WCF Web Service Reference Provider, but even that gives a flood of warnings and a LOT of the methods are missing as it seems I only have Async methods, so converting the code above to C# is unusable:

![image](https://user-images.githubusercontent.com/9826063/58126182-57f3d880-7be0-11e9-977c-c0d49b02

[2019-05-21 20:17] dasetser commented on #3615
@michisnewsletter Can you attach the .wsdl file you are using? It would help us reproduce the issue so we can see why this is happening.

[2019-05-21 20:20] dasetser commented on #3631
Closing this issue. Based on your response in issue #3391 it sounds like this is a bug we fixed in VS2019/dotnet-svcutil. If you still experience the same problem in VS2019 let us know and we can investigate further.

[2019-05-21 20:20] #3631 closed

[2019-05-21 20:38] dasetser commented on #3649
@MrGadget1024 The WCF Web Service Reference Provider is the correct tool to generate a WCF proxy for a .NET Core client. It does not have support for VB. This tool is similar to Add Service Reference, rather than Add Web Reference, but it should be able to generate a proxy for an asmx service as well. The tool does show warnings if there are parts of the wsdl it's unable to use (for example if som

[2019-05-21 21:05] MrGadget1024 commented on #3649
Here's the thing...that web service, and millions like it, are not WCF services.  I want Add Web Reference to work like it does in Framework.  With Service Contract, I lose my Cookie Container, my Proxy, PreAuthentication, and apparently VB is getting pissed on again.

[2019-05-22 13:09] MrGadget1024 commented on #3649
Installed 2019 and added the connected service again through the WCF Web Service Reference Provider.

Broken code generated (duplicated the namespace:
![image](https://user-images.githubusercontent.com/9826063/58176864-3d1d7480-7c71-11e9-841a-8e141adcb5fa.png)

Same warnings as before
[code]

[2019-05-22 17:45] dasetser commented on #3602
@HemaSK Were you able to determine which problem you were hitting based on my last reply? This seems like something that's likely fixed in VS2019, so it would be great if you can confirm that fixes it.

[2019-05-22 19:56] cbenard commented on #2695
@Lexcess I honestly was/am considering working on this in my limited spare time. You've probably seen me freaking out in MS blog comments about them killing WCF. However, you made the `LICENSE` file MIT. I don't think you can just relicense this.

I was thinking MIT didn't sound right for an MS license, so I went to look for the Reference Source license, and what I found seems like it kills this p

[2019-05-22 20:10] Lexcess commented on #2695
@cbenard https://github.com/microsoft/referencesource/blob/master/LICENSE.txt

[2019-05-22 20:12] cbenard commented on #2695
How/why does this conflict with https://referencesource.microsoft.com/'s license? Very odd. Thank you for the clarification.

[2019-05-23 01:21] mconnew commented on #2695
@cbenard, a copyright holder can release their code under as many licenses as they wish, as they hold the copyright (obligatory IANAL but I think I'm safe on this one) so there's no conflict. If you aren't the copyright holder, you can't re-release the code under a different license, but the copyright holder can. Microsoft originally released the code with a license of "look, don't touch". In othe

[2019-05-23 05:15] mconnew commented on #8
@AliNazar1991, I have a PR open right now with changes to implement it for NetTcp. We have a deadlock somewhere in the new codebase that is only showing up on our test infrastructure that I need to resolve before I can merge. But if you want to clone that PR locally and build it, it should work. The deadlock is only related to using a non-default synchronization context, and specifically xunit won

[2019-05-23 06:40] HemaSK commented on #3602
Hi,
For now, I skipped the process. May be later if I have to work on this way, I will come back. For now, we can close this ticket. Thanks for all your time and help
Regards,
Hemalatha. J

[2019-05-23 06:41] #3602 closed

[2019-05-23 12:43] perharjnk commented on #3648
Yes. That is what I ended up doing for now. Thanks.

[2019-05-23 18:07] StephenBonikowsky commented on #3648
@dasetser Is there an issue you could link to this one for the fix you referenced working on? Then close this issue.

[2019-05-23 20:11] dasetser commented on #3648
[Feedback 526584](https://developercommunity.visualstudio.com/content/problem/526584/connected-services.html) is what we'll update once this fix is released. I'll close this issue, but anyone looking for updates can follow the feedback item.

[2019-05-23 20:11] #3648 closed

[2019-05-23 21:17] #3608 closed

[2019-05-24 20:18] mkalkere opened #3650 "The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'Negotiate, NTLM'"
I see all the issues related to this are closed but I still get the error :  _**The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'Negotiate, NTLM'**_ when I am trying to access the WCF service(which requires NTLM authentication) from .net core.

**WCF service binding**
`<basicHttpBinding>

        <binding ........>

[2019-05-24 22:43] sravansurabhi opened #3651 "Server Side WCF in .NET Core"
We have huge Implementations of WCF. Organization is under taking initiative to modernize the legacy applications. There is no equivalent of WCF in .NET Core.

Describe the solution you'd like

Build automated conversion procedure for WCF migration to ASP.NET Web API

[2019-05-27 09:15] White99 commented on #2473
@zhenlan  I have the same problem...
I added a reference to WCF through via “WCF Web Service Reference”, then generate the client code from remote WCF which include " [System.ServiceModel.ServiceContractAttribute" "System.ServiceModel.XmlSerializerFormatAttribute",  But I need to make it run in a linux environment，
but something went wrong :" System.Configuration.ConfigurationErrorsException: Unre

[2019-05-27 16:50] White99 opened #3652 "Can I consume .net WCF service in .net core on a Linux system？？？"
I am doing a project migration, from .netframework to .netcore in order to run on a Linux system, but the client code generated by the "add reference "  , which cannot be run on the Linux system(service.model.* is not organization). Is there anyone can solve it?
Thanks!

[2019-05-27 21:28] MaxiPigna opened #3653 "EnableUnsecuredResponse flag not supported"
Hello, I am migrating an application which contains some WCF services calls from .NET Full to .Net Core. Unfortunately, one of these services could not be implemented because it requires a Custom Binding with the following security element:
[code]
`EnableUnsecuredResponse` flag is not available in .Net Core and without setting that flag I get a well known exception `TransportSecurityBindingElement

[2019-05-28 18:16] mryandot opened #3654 "svcutil generation - XmlElement vs XmlArray"
I am trying to generate a WSDL client for Workday's Revenue Management service, specifically [Get_Customer_Invoices](https://community.workday.com/sites/default/files/file-hosting/productionapi/Revenue_Management/v32.1/Get_Customer_Invoices.html) (links to WSDL and XSD on the page).

The XSD indicates that the `Get_Customer_Invoices_Response` element should have (among other things) zero or more `

[2019-05-28 20:35] mkalkere commented on #3650
Ok. So here is an update, I managed to find a workaround for this error by changing the  _clientCredentialType_ from **Ntlm** to **Windows**

[code]
This works.

[2019-05-28 20:35] #3650 closed

[2019-05-29 12:44] ChetanSirigur commented on #1684
Do we have an alternate approach to overcome this issue ?

[2019-05-29 21:20] StephenBonikowsky commented on #1257
Code is in, needs unit tests.

[2019-05-29 21:29] StephenBonikowsky commented on #2923
The functional change in CoreFx repo is known, keeping in 3.0 for now but lower priority than other 3.0 issues.

[2019-05-29 21:38] StephenBonikowsky commented on #3610
Verify tests are fixed now.

[2019-05-29 21:44] #2927 closed

[2019-05-29 21:56] #2831 closed

[2019-05-29 22:07] StephenBonikowsky commented on #3653
Adding @mconnew
@MaxiPigna if you are able to provide a simple client and server for this scenario it would assist with adding support for the flag.

[2019-05-29 22:15] StephenBonikowsky commented on #3138
This issue is the same root cause as #2889.
Will use #2889 as the primary issue and close this one.

[2019-05-29 22:15] #3138 closed

[2019-05-29 22:17] StephenBonikowsky commented on #3643
Thank you @okarlsson
This issue is the same root cause as #2889.
Will use #2889 as the primary issue and close this one.

[2019-05-29 22:17] #3643 closed

[2019-05-29 22:21] dasetser commented on #3649
@MrGadget1024 Thanks for letting us know you're also running into the duplicated namespace issue. This has been reported in issue #3158 and is in our backlog to investigate. I would suggest following that issue which we will respond to when we have updates about it, and if possible modifying the generated code to see if there are any other errors.

Unfortunately as far as Add Web Reference goes we

[2019-05-29 22:21] #3649 closed

[2019-05-29 22:35] StephenBonikowsky commented on #3224
@rohith this is an interesting feature request.
Due to our backlog we won't be able to get to it in the 3.0 time frame.
@dasetser if you can point @rohith in the right direction this would be a nice way to involve the community.

[2019-05-29 22:39] StephenBonikowsky commented on #2935
@mconnew Could you provide some of the context for this issue, clarify what needs to be done to resolve it?

[2019-05-29 22:45] StephenBonikowsky commented on #3303
@imcarolwang
Could you have your team create a repro based on the code provided by @Eneuman
It would be great to have the same code working on desktop and failing on .NET Core.

[2019-05-29 23:23] StephenBonikowsky commented on #3607
@KarloX2
This repo is based on the desktop implementation of WCF, however; it is only the client side of WCF and not all features are supported. We add features from the desktop implementation based on community feedback and as time permits as we are not a large team.

To see what is supported see the release docs...
https://github.com/dotnet/wcf/tree/master/release-notes

This repo is not part of

[2019-05-29 23:23] #3607 closed

[2019-05-29 23:29] StephenBonikowsky commented on #3651
@sravansurabhi
This repo implements WCF client side features.
Server side implementation is not currently available in .NET Core, see this ongoing discussion about the server side, #2695

An automated process for migrating from WCF to ASP.NET Web API would be cool, but not really feasible.

[2019-05-29 23:29] #3651 closed

[2019-05-30 12:00] cristicatalan commented on #8
I can see secure WSHttpBinding with TransportWithMessageCredential is on the way to .Net Core 3.0. Will there also be support for consuming WCF services having wsHttpContextBinding in .Net Core 3.0?

If service Web.config has endpoint such as:
`<endpoint address="" binding="**wsHttpContextBinding**" bindingConfiguration="**MyService_Secured**" contract="IMyService" />`

With binding:
[code]

[2019-05-30 12:07] stukselbax opened #3656 "dotnet-svcutil: Generate classes with [SerializableAttribute] opt-in"
We have SOAP client which works with vSphere ESX(i) infrastructure, generated with wsdl.exe for .net framework. Currently we are trying to migrate the client to .netstandard2.0 in order to use it with .netcoreapp2.x.

One of program has used `BinaryFormatter` in order to store objects of generated classes. It works on .net framework because generated classes have [SerializableAttribute] specified

[2019-05-30 16:39] dasetser commented on #3176
@averied Can you provide the wsdl/url for this service? It sounds like there's some kind of mismatch and if we can look at the wsdl it will help us determine what the problem is.

[2019-05-30 16:44] dasetser commented on #3652
@White99 Add Service Reference will generate code for the full .NET Framework. You'll want to use one of our tools that generate code for .NET Core.

[WCF Web Service Reference Provider](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide) is a UI tool included in Visual Studio. You can also use the command line tool [dotnet-svcutil](https://docs.microsoft

[2019-05-30 16:44] #3652 closed

[2019-05-30 18:09] StephenBonikowsky commented on #3224
@rohith I discussed this with @dasetser and we want to keep this on our list of things to do, we wouldn't do the work on the desktop svcutil.exe, there has been some work done on making a WCF Core version of the tool but it isn't yet ready.

Thanks for bringing it to our attention.

[2019-05-30 18:46] mconnew commented on #8
`WSHttpContextBinding` won't be in .NET Core 3.0. The context feature is a whole other set of classes that would need to be ported in addition to `WSHttpBinding`. The context feature was designed to be used with Workflow to enable connecting to a Workflow service host and picking up where you were previously for long running workflows. Are you using this outside of Workflow? If so, could you descr

[2019-05-30 18:50] dasetser commented on #3224
@rohith I had a miscommunication with Stephen about this and wanted to make sure we were clear. The desktop version of svcutil.exe already has this feature, and this request is to add the same feature to the WCF core version of the tool (dotnet-svcutil.exe). We will not be able to get to this in the 3.0 timeframe, so we moved this to our backlog to investigate in the future.

Unfortunately you can

[2019-05-30 19:06] mconnew commented on #2935
The Invoke method (which is only available on mono) exists to enable a different style of generated client. This is because the proxy implementation on mono uses transparent proxies which aren't available on iOS. Xamarin on iOS is going to have an IL interpreter which is [currently in preview release](https://devblogs.microsoft.com/xamarin/introducing-xamarin-ios-interpreter/). The .NET Core imple

[2019-05-30 22:54] StephenBonikowsky commented on #3653
From @mconnew …

        <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd" soapenv:mustUnderstand="true"></wsse:Security>

      <wsse:Security soapenv:mustUnderstand="true" xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd"/>

We are doing some additional investigating and gathering of info to

[2019-05-31 07:26] cristicatalan commented on #8
I don't use Workflow. Thanks for this clarification. The project is part of some legacy code and I suspect `WSHttpContextBinding` was used unintentionally instead of `WSHttpBinding`.
I changed the WCF service configuration to use `WSHttpBinding`, downloaded this repo code, compiled it locally and referenced it in my .NET Core project and it works fine.

[2019-05-31 23:06] #3 closed

[2019-05-31 23:08] mconnew commented on #3
It only took 3 years, but this is finally supported!!

[2019-05-31 23:13] mconnew commented on #4
TransportWithMessageCredential now done.

[2019-05-31 23:16] mconnew commented on #8
NetTcp, BasicHttp and WSHttpBinding now support TransportWithMessageCredential checked in to master. I would appreciate if anyone needing this feature could try it out for their scenario as it would be best to know what sub-features people need that aren't there sooner rather than later.

[2019-06-03 17:15] #3417 closed

[2019-06-03 17:37] StephenBonikowsky opened #3659 "Update WCF Core package metadata."
Review metadata of new packages build with the Arcade infra and compare to past releases.
Update as necessary.

[2019-06-03 18:00] #8 closed

[2019-06-03 18:05] StephenBonikowsky commented on #3303
@dasetser is working with @imcarolwang to create a repro.

[2019-06-03 18:34] #3632 closed

[2019-06-03 18:57] StephenBonikowsky opened #3662 "Update use of 'Releases' in this repo."
A quick looks showed that some of our releases have not been either documented or gathered together under a release tag.

[2019-06-03 19:04] StephenBonikowsky commented on #1494
@mconnew Could you please review this issue, I think you may have done this already. If possible lets close this.

[2019-06-03 19:12] StephenBonikowsky commented on #1257
@imcarolwang @HongGit
Carol, could your team take a look at PR #3657 and create unit tests for what was added please.
We'll use this Issue to track getting those tests in.

[2019-06-03 23:28] StephenBonikowsky commented on #3656
@stukselbax Thank you for the feedback, that is a reasonable request but we would not be able to get to it in the short term. We will put it in our list of things to do in a future release.

@mconnew brought up that as a workaround you could create a partial class for the classes that you need to decorate with the Serializable attribute. Matt, do you have anything you would like to add?

[2019-06-04 00:42] StephenBonikowsky opened #3663 "Update build system to drop nightly packages to intermediate drop location."
We no longer use MyGet due to space issues and difficulty communicating with them.
Engineering team has identified an alternative drop location, switch to using this new location.

See https://github.com/dotnet/core-eng/issues/5070

[2019-06-04 05:14] stukselbax commented on #3656
This workaround which I have used, but instead of manually decorate partial classes the program was written to walk the object graph and decorate every class with `[Serializable]`. Turns out that there are ~2000 classes require the attribute.

If the [utility was open source](3191), community could contribute.

[2019-06-04 05:19] maximdx opened #3665 "Enable Gzip in .Net Core WCF Client"
Hi,

I have generated a few client classes from schema files using dotnet-svcutil version 1.0.4, and put the references in a .net standard 2.0 project.
The clients are used to consume the web service by a .net core 2.2 project.
I use BasicHttpBinding for the endpoint binding and everything works fine until enabling gzip is required. I found this part is not well-documented and I cannot get much he

[2019-06-04 06:23] marzim opened #3666 ".Net Standard 2.0 System.ServiceModel.NetTcp throws exception in OpenSuse Linux"
When running application with System.ServiceModel.NetTcp 4.4.4 in SUSE Linux Enterprise Server 12 SP2 throws a TypeLoadException.
`FATAL UNHANDLED EXCEPTION: System.TypeLoadException: Could not resolve type with token 0100008b from typeref (expected class 'System.ServiceModel.NetTcpBinding' in assembly 'System.ServiceModel.NetTcp, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a')

[2019-06-04 08:48] sutaro commented on #8
Will TransportWithMessageCredential be available in .net core 2?

[2019-06-04 09:02] umitakkaya commented on #2265
Given that the #3 and #8 is closed, and #4 is in the backlog when can we expect this feature to be supported?

[2019-06-04 09:36] LokiMidgard opened #3667 "Use fully quallified Types incuding global:: when generating Client"
Generating a Client will output code like this:
[code]

However if the service someone consumes uses the name `System`, it will produce build errors. Since `System` is not interpreted as the namespace but as the class. Like in the example above.

Not sure there are other names that would make problems.

A solution would be to generate the `global` keyword.

[code]

[2019-06-04 13:28] marzim commented on #3237
Why close? I have the same problem. Did you solved it?

[2019-06-04 16:00] ChristopMaute commented on #2824
have still an issue when I'm using a WCF service in an asp.net core 2.2. It just occurs in IIS environment. Even in case that I start it via command line, I'm faced with the following error:
System.IO.FileNotFoundException: Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.2.4, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
Can

[2019-06-04 17:17] mconnew commented on #8
We are not moving our dependencies forward to require .NET Core 3.0 as there are no new api's that we need. If you want to stay on .NET Core 2, because of changes to HttpClient, I would recommend using .NET Core 2.2. We still only require netstandard 2.0 so we should still work back to .NET Core 2.0 but there's some behavior differences with HTTP client certificate authentication which might cause

[2019-06-04 18:26] dasetser commented on #3224
@rohith For now can you try using the normal svcutil.exe to generate this? The difference between svcutil and dotnet-svcutil is that dotnet-svcutil filters out parts of the code that are not compatible with .NET Core. However, if you only want the service contract piece that's just an interface that should be the same for both frameworks. So the contract svcutil.exe generates should work for .NET

[2019-06-04 20:09] mconnew commented on #2265
It's not completely obvious to me whether your usage scenario falls under MessageSecurity of TransportWithMessageCredentials. I suspect it's the former as your endpoint address is using http and not https. TransportWithMessageCredentials requires the transport layer to provide the secrecy and integrity part of security and this is generally provided by TLS over https. As you are using http, I beli

[2019-06-04 20:27] dasetser commented on #3577
Closing since we don't have an enough information to investigate this.

[2019-06-04 20:27] #3577 closed

[2019-06-04 21:47] StephenBonikowsky commented on #3610
None of these tests are being skipped now for this issue and they are passing on all runs.

[2019-06-04 21:47] #3610 closed

[2019-06-05 00:42] StephenBonikowsky commented on #3667
Thanks for your feedback @LokiMidgard
It doesn't seem like having a class named System is a very good idea, however, you are correct.
I also don't think I've ever seen this brought up before, svcutil.exe has been around for quite a long time.

@dasetser Do you have any feedback on this?

[2019-06-05 00:54] StephenBonikowsky commented on #3666
Thanks for reporting the issue @marzim
Xamarin uses its own implementation of WCF and there are numerous features that they have not implemented, particularly on Xamarin.Android and Xamarin.IOS.
Since both WCF Core (this repo) and Xamarin support netstandard2.0 you won't have any problem compiling but at runtime you will run into problems depending on what features you are using. Especially on uni

[2019-06-05 01:23] StephenBonikowsky commented on #3665
Hi @maximdx if I could make sure I understand what you are trying to do.

First, by gzip I assume you are wanting to use [GZipStream Class](https://docs.microsoft.com/en-us/dotnet/api/system.io.compression.gzipstream?view=netcore-2.2), correct?

If so, are you trying to create an operation that sends/receives a GZipStream using the BasicHttpBinding?
Is this something new you are trying, have you h

[2019-06-05 01:38] mconnew commented on #3665
We have an api [HttpTransportBindingElement.DecompressionEnabled](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.channels.httptransportbindingelement.decompressionenabled?view=netframework-4.8) not currently exposed in the contract to modify this behavior. The property is [there](https://github.com/dotnet/wcf/blob/f0b3b4935eb97807dbed7b73f25fbf160a523eac/src/System.Private.Service

[2019-06-05 03:12] maximdx commented on #3665
Hi @StephenBonikowsky  I am not sure but I think it is probably not. What I want to achieve is to add a http header "Accept-Encoding: gzip, deflate" into the request to let the service to response compressed content. I have done this in .Net Framework before.

Hi @mconnew  Later I have capture the request and response by fiddler and to my surprise the gzip header is already there. I should have ch

[2019-06-05 07:46] emjion commented on #2824
Solved issue by increasing version of System.ServiceModel to 4.5.3

[2019-06-05 15:24] StephenBonikowsky commented on #3665
Great! Glad we could help!

[2019-06-05 15:24] #3665 closed

[2019-06-05 18:41] StephenBonikowsky commented on #3653
After some additional investigation it looks like the issue is the difference between having no security header at all versus having a security header with no content.

From @mconnew the short-term workaround is to

We will consider what the correct long-term fix is for a future release.
Let us know if there is anything else we can do.

[2019-06-05 18:51] StephenBonikowsky opened #3670 "Resolve component governance issues."
Investigate any issues flagged and resolve as needed.

[2019-06-05 19:19] dasetser commented on #3667
We investigated adding this to the full framework version of svcutil.exe in the past. The conclusion of that investigation was that we were unable to find a way to add this in all scenarios without causing regressions.

We haven't specifically looked into this for dotnet-svcutil, but I would think the result would likely be the same.

[2019-06-05 19:36] mconnew commented on #3667
Could we instead create the class with a name other than System? We don't have a requirement to have the class name match the xsd type name. In fact, the class name isn't ever used unless it's a top level object being serialized as the xml element tag used is the name of the property which is of that type.

[2019-06-06 06:47] romanv6 opened #3673 "Add Connected Service Error 0x80131500"
Hi,

While I am trying to add Connected Service using Microsoft WCF Web Service Reference Provider I am getting an 0x80131500 error.
![error](https://user-images.githubusercontent.com/11620386/59011978-8b687100-8836-11e9-87a2-4cd1749d7504.PNG)

So I have been comment out this entry in csproj file and it started work.
![csproj_commented](https://user-images.githubusercontent.com/11620386/59012054-c

[2019-06-06 09:02] PccCodesix opened #3674 "Too much memory is used when CreateChannel"
When i use CreateChannel to  creat a object ,Memory increased by almost 100M.
My code is as follows
[code]
Is there any suggestion here? Or it's normal

[2019-06-06 12:19] averied commented on #3176
This is the WSDL of the web service:

`<definitions targetNamespace="urn:microsoft-dynamics-schemas/page/salesorder" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="urn:microsoft-dynamics-schemas/page/salesorder">
    <types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/salesorder" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

[2019-06-06 16:39] lemoinem opened #3675 "GUI doesn't generate Proxy when there are minor issues with WSDL, but dotnet svcutil does."
The following WSDL can be imported in VS2015 using "Add Web Reference" or "Add Service Reference", but cannot be imported using VS2019's "Connected Services, WCF Web Service Reference".

http://www.mcommunicator.ru/m2m/m2m_api.asmx?WSDL

Error:
[code]

The error seems similar to what was mentioned in https://github.com/dotnet/wcf/issues/3157 and https://github.com/dotnet/wcf/issues/3327

But since

[2019-06-06 17:59] mconnew commented on #3674
The amount of memory used is proportionate to the size of your contract. The more data types you have, and the more properties on your data types, and the more operations you have, the more memory that will be used. If you want to see how much memory is being used, add the following two lines to your code:
[code]
Then when your process is stopped at the ReadLine call waiting for you to hit enter,

[2019-06-06 18:10] lemoinem opened #3676 "No way to Close/Dispose WCF Client in a Sync scenario"
Following https://github.com/dotnet/wcf/issues/654, We now have synchronous way to call a WCF Service.

However, the Client class still only has `OpenAsync` and `CloseAsync`. In particular, it is still not `Disposable`.

In our case, we have heavyweight use of WCF clients. And this leads to resource exhaustion if we cannot `await CloseAsync()`. Since we have a lot of code, it would be much better

[2019-06-06 19:13] mconnew commented on #3676
I would suggest that we should look into the option of implementing System.IAsyncDisposable.

[2019-06-06 19:49] lemoinem commented on #3676
Would this work with .Net Framework applications?
`IAsyncDisposable` is planed to be part of .Net Standard 2.1 (https://docs.microsoft.com/en-us/dotnet/api/system.iasyncdisposable?view=netstandard-2.1&viewFallbackFrom=netframework-4.8).
.Net Core 3 seems to be planned as supporting it as well (https://docs.microsoft.com/en-us/dotnet/api/system.iasyncdisposable?view=netstandard-2.1&viewFallbackFrom

[2019-06-06 20:11] mconnew commented on #3676
You mentioned adding the IDisposable interface, so I was just throwing in there that it should be an option (and only an option because of the netstandard 2.1 issue) to add that too. We could always generate both methods, Dispose and DisposeAsync but only add the interface as an option.
As to your problem, you don't actually need a Dispose method created for you. If you look at the implementation

[2019-06-06 20:55] lemoinem commented on #3676
Thanks.
I was checking at this `ICommunicationObject.Close()` but was thoroughly confused by the fact that the method wasn't found on .Net Standard and that the interface didn't seem to exist in .Net Standard or Core. I will use this.

Having a Dispose method would still help by allowing us to use `using () { }` blocks. As we were doing with the code generated by VS2015 and previous. Right now, we

[2019-06-06 20:58] twu027 opened #3677 "The HTTP request is unauthorized with client authentication scheme .net core 2.1 with Service security model 4.5.3 authorization issue"
Hi,
This is not a duplicated issue for me. Please don't close it without reading. Thanks!
I have searched everywhere online. Even the error message is the same but none of the fixes or workarounds worked for me.
This is my setup .net core 2.1 with Service security model 4.5.3
I have been struggling to get it working to call an old WCF service we have (possibly written in .net framework 4.0).

[2019-06-06 20:59] twu027 commented on #3677
Context Extension of type 'CommonMessageContext' failed to load with exception message 'Application name '' or namespace '' is blank.'. Refer to the inner exception for details.
is the inner exception itself.

[2019-06-06 21:30] mconnew commented on #3676
You shouldn't use WCF with a using block anyway as WCF doesn't strictly keep to the Dispose pattern. In WCF, Dispose is basically an alias for Close and that can throw an exception. If it does throw, then you should call abort. Additionally, you shouldn't call Close/Dispose on a CommunicationObject which isn't in the Opened state, instead you should call Abort. Here's an [example](https://github.c

[2019-06-06 21:35] twu027 commented on #3677
The exactly same code works without problem with .net framework 4.7.2

 var myBinding = new BasicHttpBinding(BasicHttpSecurityMode.TransportCredentialOnly);
                myBinding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Ntlm;
                myBinding.Security.Transport.ProxyCredentialType = HttpProxyCredentialType.None;

                var myEndpoint =

[2019-06-07 00:37] mconnew commented on #3677
ImpersonationLevel doesn't do anything as HttpClient in .NET Core doesn't support it. I believe the behavior you get is Identification.
Can you provide the stack trace for the exception mentioning CommonMessageContext? It's not coming from managed code as far as I can tell. What version of .NET Core are you using?
Can you try adding the following right at the start of execution. I want to see if t

[2019-06-07 14:25] lemoinem commented on #3676
Thanks for the example. It very helpful. I completely agree with your point: "It shouldn't be used that way". I'm also aware of the the finer (and probably more to the point) discussion at #26. I'm absolutely not arguing against these.

However, my current issue is not "fixing the way we use WCF". It's migrating **some** parts of a 12 years-old, currently in production worldwide, MLOC software fro

[2019-06-07 18:12] mconnew commented on #2695
Please see the announcement blog posts:
https://devblogs.microsoft.com/dotnet/supporting-the-community-with-wf-and-wcf-oss-projects/
https://dotnetfoundation.org/blog/2019/06/07/welcoming-core-wcf-to-the-net-foundation

The repo can be found at https://github.com/CoreWCF/CoreWCF

[2019-06-07 18:15] Lexcess commented on #2695
Good to see this is finally happening. I hope despite the time and delays it has taken the community can rally around this.

[2019-06-07 18:23] mconnew commented on #3676
Okay, I understand your issue now. It's my mistake, I should have asked what your failing scenario was and was focusing on the wrong thing. Are you aware that the code which is generated is a partial class? In your own code you can add the IDisposable interface yourself. Simple add a .cs file to your project containing something similar to this (with the correct class name):
[code]

Now the class

[2019-06-07 19:36] lemoinem commented on #3676
No problem. Thank you for your patience.
Retrospectively, I realize, I didn't phrase my issue as best as could be.

I believe using the partial class is the way to go here...
I had noticed the partial class, but got confused mid-way by the `ICommunicationObject`'s Schrodinger implementation and then I tried to apply the partial class to the wrong class (I tried to apply it to ClientBase directly..

[2019-06-07 19:36] #3676 closed

[2019-06-07 19:59] lemoinem commented on #26
Once a strategy to implement `IDisposable` has been agreed upon, in #3676, @mconnew also mentioned the possibility of implementing `IAsyncDisposable`. It could be a nice addition as well, based on `ClosedAsync()`.

Regarding the original discussion:
Couldn't there be a way of having `Dispose()` not throwing (potentially silently discarding any exception), while giving a way to client code to check

[2019-06-07 21:23] twsouthwick opened #3678 "Make `SslStreamSecurityBindingElement.RequireClientCertificate` public"
I have the following config:

[code]

I can't set this up the same way in .NET Core because `SslStreamSecurityBindingElement.RequireClientCertificate` is internal. However, if I change it to `true` in the debugger or via reflection, then it works just fine. Can this be made public?

[2019-06-09 09:51] rohith commented on #3224
@dasetser yup that's what I did, I only used the contracts

[2019-06-09 22:03] twu027 commented on #3677
@mconnew Stacktrace below
  at System.ServiceModel.Channels.ServiceChannel.HandleReply(ProxyOperationRuntime operation, ProxyRpc& rpc)
   at System.ServiceModel.Channels.ServiceChannel.EndCall(String action, Object[] outs, IAsyncResult result)
   at System.ServiceModel.Channels.ServiceChannelProxy.TaskCreator.<>c__DisplayClass7_0`1.<CreateGenericTask>b__0(IAsyncResult asyncResult)
   at System.Thr

[2019-06-09 22:04] twu027 commented on #3677
@mconnew Hi Matt, also tried your suggestion, same authorization error.

"The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'Negotiate, NTLM'.

[2019-06-09 22:57] twu027 commented on #3677
@mconnew Hi Matt, thanks for your help and we have figured out the issue. At our server end, we have some customer headers which is causing this, that is not your code's issue. Issue closed.

[2019-06-09 22:57] #3677 closed

[2019-06-10 07:43] okarlsson commented on #3427
@peterdeme Did you find the root cause of this issue?

[2019-06-10 08:04] peterdeme commented on #3427
@okarlsson yeah, we needed to use the client as a singleton. it wasn’t documented anywhere though so caught us as surprise.

[2019-06-10 09:13] PccCodesix commented on #3674
thanks for anwser ,I use the perfview tool take a heap snapshot .but But the result is this
![image](https://user-images.githubusercontent.com/29922883/59184558-f43a4b00-8ba0-11e9-8e63-e61d8f3dd416.png)
 the static make up the majority.but i can't kown  what the specific type is. Maybe it's true , in fact my client is  static. But I can't confirm it
is there suggestions for the snapshot.is this ca

[2019-06-10 09:22] okarlsson commented on #3427
Thanks @peterdeme, I'll give that a try.

Im currently facing the same issue where all my outgoing http calls starts to fail with the same error you had. So it looks like the wcf client exhausts some resource in my ec2 instances..

[code]

[code]

[2019-06-10 15:48] Phrohdoh commented on #3386
I am also running into this (`ProtectionLevel` not being in the .NET Standard I am targeting: 2.0).

I don't see `MessageSecurity` anywhere in my codebase (nor has it been explained how that is relevant, if we knew that we may be able to provide more information).

Is the `3.0` milestone this is assigned to .NET Core 3.0, .NET Standard 3.0, or 3.0 of a WCF lib?

[2019-06-10 16:35] robertborr opened #3680 "ToolsError build failures in 'official/dotnet/corefx/refs/heads/master' - '20190610.1'"
@dotnet-mc-bot commented on [Mon Jun 10 2019](https://github.com/dotnet/core-eng/issues/6666)

There were a set of failures during this build. Here is a summary of these:
* https://dnceng.visualstudio.com/internal/_build/results?buildId=218583
  - **Agent:** Hosted VS2017 38
  - **Error log:** D:\a\1\s\.packages\microsoft.net.compilers.toolset\3.2.0-beta3-19304-07\tasks\netcoreapp2.1\Microsoft.CSh

[2019-06-10 16:38] robertborr commented on #3680
this was mistakenly moved from the wrong dnceng issue. closing.

[2019-06-10 16:38] #3680 closed

[2019-06-10 17:27] lemoinem opened #3681 "Unable to Add Microsoft WCF Web Service Reference in Assembly with conditional references"
VS2019 (16.1.2)

Reproduction steps:

1. Create new Library Project
2. In csproj:
   1. Set `<TargetFrameworks>netstandard2.0;net461</TargetFrameworks>`
   2. Add `<ItemGroup Condition="'$(TargetFramework)'=='net461'"><Reference Include="System.Web" /></ItemGroup>`
3. Try adding a WCF Connected Service

Error:

Expected Behavior:
I should be able to add a WCF Connecter Service Reference without is

[2019-06-10 18:10] mconnew commented on #3386
The ProtectionLevel property on ServiceContract is used to specify how MessageSecurity is applied to the soap message. With MessageSecurity, it's not required that everything in a soap message is part of the signature and not everything is encrypted. For example, if you set ProtectionLevel to Sign, then the soap message body will be included as part of the WS-Security message signature but the bod

[2019-06-10 18:14] mconnew commented on #3386
To answer what I think your last question is, we will have a new release at the same time as .NET Core 3.0, but we are **not** moving forward our dependency to require .NET Core 3.0/.NET Standard 3.0 and currently have no plans to. The only thing which would make us do so is if there are new api's that there's a very compelling reason to use which would require it. We're staying at 2.0 so that you

[2019-06-10 22:42] StephenBonikowsky commented on #3667
@mconnew This is too low a priority relative to other work we have in WCF Core.

[2019-06-10 22:42] #3667 closed

[2019-06-11 09:13] PhilPJL commented on #3542
How can an issue like this (e.g. the stack overflow) not be planned to be fixed in the short term?  You've had 3 months.  What is going on?

[2019-06-11 09:46] PhilPJL commented on #3227
@mlacouture How can you have closed this as a non-issue when you know that Xamarin doesn't support async/await.  [](https://github.com/dotnet/wcf/issues/2463)
Microsoft WCF Web Service Reference Provider has added an option to create synchronous methods but is still buggy so I was hoping dotnet-svcutil would provide an alternative.

[2019-06-11 12:35] pariaSadatHosseiny opened #3682 "mismatch between Soap WebService class Types and my dotnet core mvc App referece.cs class Types"
Hello ,
i have a sample dotnet core2 web Application which is Consuming a SOAP webService which is Developed by java lang . when I add the Address of mentioned wsdl , my app generates the reference.cs class but it has Error with one of the Types .
as i understand ,  there are two main class Types  1 => "W**S**Context"  and 2=>"W**s**Context" in Server
and when dotnet wcf is generating Classes , it

[2019-06-11 12:51] RKDMax commented on #2472
Looks like I am using the exact Card Management API;  I'm getting the same error messages on the same distinct types:
CardManagementWS.WSIssueNewPayrollCardData and CardManagementWS.WSIssueNewPersonalizedPayrollCardData.

I am using .Net Core 2.2 (Microsoft.AspNetCore 2.2.0)

I am looking into manually running dotnet-svcutil with different parameters in hopes that it can generate a suitable proxy

[2019-06-11 16:28] StephenBonikowsky commented on #2935
The correct long-term solution is to use the WCF [DispatchProxy](https://github.com/dotnet/corefx/blob/e23119d577e644d2c2a25419c88c1181681358e0/src/System.Reflection.DispatchProxy/src/System/Reflection/DispatchProxy.cs) together with the Xamarin IL interpreter.

[2019-06-11 16:28] #2935 closed

[2019-06-11 16:30] StephenBonikowsky commented on #3176
@averied Thank you for providing the additional requested info.
@dasetser has a lot on his plate right now but we will get to this.

[2019-06-11 17:04] StephenBonikowsky commented on #3191
We want to do this, making an up-next item.

[2019-06-11 17:06] StephenBonikowsky commented on #3656
@stukselbax we have taken some initial steps to make it open source. We will use #3191 to track this work.
Thanks.

[2019-06-11 17:06] #3656 closed

[2019-06-11 17:08] StephenBonikowsky commented on #3653
Moving to future work.

[2019-06-11 17:19] StephenBonikowsky commented on #3654
@mryandot Sorry for the delay in responding to your issue, we will get to it as soon as we can.

[2019-06-11 17:24] StephenBonikowsky commented on #3224
FYI moving dotnet-svcutil.exe to open source is also on our radar. #3191

[2019-06-11 17:32] StephenBonikowsky commented on #3615
Without the wsdl we can't create a repro.

[2019-06-11 17:32] #3615 closed

[2019-06-11 18:14] #3666 closed

[2019-06-11 18:35] dasetser commented on #3227
@PhilPJL The next version of dotnet-svcutil will include an option to generate synchronous methods. We are just working on a few more issues before releasing it.

[2019-06-11 18:43] dasetser commented on #3542
@PhilPJL Fixing this stack overflow exception is part of our plan for the next release of dotnet-svcutil (which will make it into VS shortly after). Sorry that the labels and milestone aren't clear. They're set up for the WCF Core release schedule, which is different from dotnet-svcutil/VS. We'll look into if we can make it more clear which tooling issues we're looking at.

[2019-06-11 19:05] PhilPJL commented on #3227
Will the synchronous methods work from Xamarin forms?  I tried using Microsoft WCF Web Service Reference Provider and sync methods but they fail.

[2019-06-11 21:06] StephenBonikowsky commented on #3670
Made one fix but the tool appears to have some problems.
Waiting for a new version of it to come out before doing any further investigation.

[2019-06-11 21:08] HongGit commented on #3137
Thank you for the feedback, but our team was unable to prioritize it at this time as they are working on problems with broader customer impact.

[2019-06-11 21:08] #3137 closed

[2019-06-11 21:15] HongGit commented on #2220
Thank you for the feedback, but our team was unable to prioritize it at this time as they are working on problems with broader customer impact.

[2019-06-11 21:15] #2220 closed

[2019-06-11 22:24] dasetser commented on #3227
@PhilPJL dotnet-svcutil will generate the same code that the WCF Web Service Reference Provider does. What failure are you seeing with them?

[2019-06-11 22:29] rahou25 commented on #3227
But this generated code cannot be used in Xamarîn Forms as easy as it should. Please create a basic xamarin forms project. Reference a wcf service as should do with as standard forms app. Then try to call an async method from any part of the xamarin forms main app and see the result.

[2019-06-11 22:49] dasetser commented on #3176
@averied Thanks for providing that. Unfortunately as you mentioned this is exactly the same problem as https://github.com/dotnet/corefx/issues/27561. Closing this issue since it was already determined this is too large of a change to make considering how long ago soap encoding was replaced.

[2019-06-11 22:49] #3176 closed

[2019-06-11 23:28] Joebeazelman commented on #3137
How do you know how broad or how narrow this issue is to your "customers?"  Most developers accept issues like this because they've come to expect mediocrity from Microsoft. There are thousands of bugs in Microsoft's products that haven't been fixed even after decades of releases. Do you think they would bother to file a bug report given Microsoft's track record?  Every software engineer worth the

[2019-06-12 06:32] PhilPJL commented on #3227
I can use the WCF Web Service Reference Provider by un-checking 'reuse types in referenced assemblies'.  This works around the stack overflow bug.
I checked the 'generate synchronous operations' button.  I now get synchronous and async methods.

Calling either a synchronous or an async method gives

![image](https://user-images.githubusercontent.com/271656/59328202-b42fb100-8ce3-11e9-87a0-30bf1e56

[2019-06-12 08:09] jonathanmoffatt commented on #3311
I'm also getting the 407 issue. I'm not experienced with WCF so I'm probably doing something stupid, but when I try to use the fix from @mconnew the 407 error then changes to this one:

[code]

This is my code :
[code]

Any suggestions for what I might be doing wrong?

[2019-06-12 18:31] mconnew commented on #3311
Can you please provide the stack trace of the exception?

[2019-06-13 00:57] StephenBonikowsky commented on #3673
@dasetser Do you have any insight into this? I'm not familiar with "Microsoft WCF Web Service Reference Provider".

[2019-06-13 01:02] StephenBonikowsky commented on #3675
@dasetser Could you provide @lemoinem some guidance on this?

[2019-06-13 01:34] StephenBonikowsky commented on #3678
@twsouthwick We'll take a look at this and see if that is something we can consider doing.

[2019-06-13 01:43] StephenBonikowsky commented on #3681
Thanks for reporting the issue @lemoinem
I was able to reproduce the issue easily, we'll do some investigation.

[2019-06-13 02:27] jonathanmoffatt commented on #3311
Looks like IntegratedWindowsAuthentication [isn't supported](https://docs.microsoft.com/en-us/dotnet/framework/configure-apps/file-schema/wcf/httpstransport). It's a flag that includes [Negotiate and Ntlm](https://docs.microsoft.com/en-us/dotnet/api/system.net.authenticationschemes?f1url=https%3A%2F%2Fmsdn.microsoft.com%2Fquery%2Fdev15.query%3FappId%3DDev15IDEF1%26l%3DEN-US%26k%3Dk(System.Net.Auth

[2019-06-13 05:05] mconnew commented on #3311
As you've already worked out, `IntegratedWindowsAuthentication` has a value of 6, `Negotiate` has a value of 2 and `Ntlm` has a value of 4. This means that `IntegratedWindowsAuthentication` isn't an authentication scheme in it's own right, it's a convenience value to mean `Negotiate | Ntlm`. We can't accept two different schemes being specified which is why `IntegratedWindowsAuthentication` isn't

[2019-06-13 17:55] dasetser commented on #3673
@romanv6 Thanks for reporting this, and I'm glad you found a workaround to allow you to still use the tool.

This is the same issue reported in [feedback 526584](https://developercommunity.visualstudio.com/content/problem/526584/connected-services.html). It is fixed in Visual Studio 2019 16.2 (starting with preview 2).

[2019-06-13 17:55] #3673 closed

[2019-06-13 18:30] dasetser commented on #3675
@lemoinem It looks like you're running into the same problem as the two issues you linked. The proxy you get from dotnet-svcutil will be a best effort to generate it through the error, so the parts that it generated should work, but some elements may not have been generated. Taking a quick look at what dotnet-svcutil generated I think it handled it correctly.

You should be able to use the proxy f

[2019-06-13 18:58] lemoinem commented on #3675
I'll go with that (using the code generated by dotnet-svcutil, if there are any issue, I'll try to modify the wsdl myself). Thanks for the details and help.

I still think it would be a usability enhancement to allow the GUI to generate the proxy even when there are errors? It might help quite a bit to debug an erroneous WSDL...

[2019-06-13 18:59] dasetser commented on #3681
@lemoinem This looks like a bug in our reference detection logic. We'll look into what would be required to fix this.

Out of curiosity, if this is a library project why can't you target just .NET Standard which can be referenced by both .NET Core and .NET Framework projects? Does the full framework version of the library do something additional that isn't supported on .NET Standard?

[2019-06-13 19:12] lemoinem commented on #3681
The library has references to ASP.Net (including System.Web), but the .Net Core references ASP.Net Core.
The library is used by several ASP.Net (and Console/Windows GUI) .Net Frameworks apps.
We are currently in the process of migrating some of these to .Net Core and ASP.Net Core.
We need our Utils libraries (this being one of them) to keep working as-is when built for .Net Framework and to be usa

[2019-06-17 08:58] MarkLie opened #3691 "Too many HttpClients are created"
Hello,

we have severe CPU usage problems with a Docker based .Net Core service and I think they are related to the WCF implementation for .Net Core.

I used perfcollect to start an event trace (which took something like 2-3 minutes):
`perfcollect collect sample1 -pid 1 -events`

After that I started to analyze this using _babeltrace_ and received the following result:
[code]
(Probably this pipe c

[2019-06-17 17:55] StephenBonikowsky commented on #1257
Unit tests done. Thanks @imcarolwang
#3684

[2019-06-17 17:55] #1257 closed

[2019-06-17 18:14] StephenBonikowsky commented on #3427
@okarlsson Did that resolve your issue?
@mconnew

[2019-06-17 18:55] StephenBonikowsky commented on #3675
@lemoinem We agree that would be a much better result. Moving to our backlog with higher priority.

Investigate why using the UI in VS is not producing the wsdl in spite of the errors since it just calls dotnet-svcutil under the covers, we would expect to get the same behavior.

[2019-06-17 19:08] lemoinem commented on #3675
Thanks, that will be a great help!
It it helps, as far as I can tell, the issue with the UI is that there is a Pre-processing/validation steps (when entering the WSDL path/URL and clicking on "Go").

If this validation step raises errors, the UI doesn't allow going through the next ones until the actual Proxy generation.

[2019-06-17 19:19] StephenBonikowsky commented on #3682
Thank you for reporting this @pariaSadatHosseiny
This looks like a bug in how the tool is generating the C# code. Could you please provide us with a repro or the wsdl so we can reproduce this and do some additional investigation please?

[2019-06-17 19:22] StephenBonikowsky commented on #3691
@MarkLie Thank you for reporting the issue.
@mconnew Could you take a look at this?

[2019-06-17 19:48] mconnew commented on #3427
@okarlsson, you don't need to use the client as a singleton, but you do need to use a single instance of ChannelFactory. .NET Framework pools connections for the entire process so multiple ChannelFactory instances (as long as you use the same credentials as WCF isolates those into separate pools) will use the same connection pool. On .NET Core, HttpClientHandler owns the connection pool. We share

[2019-06-17 19:52] ChaosSlave51 commented on #3324
Just doing this

[code]
and skipping CustomCertificateValidator = new EnvisiaX509CertificateValidator() in the code above worked for me

[2019-06-17 19:57] mconnew commented on #3674
It does look like it's not resolving symbols. This Just Works:tm: for me, but that might be because of the non-public symbol server I use inside Microsoft. It should all work when using the public Microsoft symbol server too. Could you zip up a dump file and provide a link? Make sure you don't have any real credentials configured, loaded into variables, or available in unused code as they can be e

[2019-06-17 21:57] mconnew commented on #3678
This absolutely should be made public. It's an oversight that it isn't. I was going to suggest how to achieve this without reflection but I realized that we also haven't exposed BinaryMessageEncodingBindingElement.CompressionFormat so you will still be blocked. I presume you need us to expose CompressionFormat too? I just had a quick look over our implementation and it looks like it is complete so

[2019-06-17 22:10] mconnew commented on #3691
The method System.ServiceModel.Channels.ServiceChannel.SendAsyncResult.FinishEnsureOpen in the call stack means you are opening a new channel each time. If you are creating a new instance of HttpClient each time, that means you are creating a new ChannelFactory instance each time too. So you are doing one of two things:
1.  Using a client generated by Connected Services and instantiating a new ins

[2019-06-18 01:07] imcarolwang commented on #1257
It's actually #3688 . :)

[2019-06-18 06:43] pariaSadatHosseiny commented on #3682
yes,sure . can I have your mail to send you our sample wsdl Address?

[2019-06-18 07:36] okarlsson commented on #3427
@StephenBonikowsky @mconnew

I'm using generated clients by dotnet-svcutil, so I'm not really in control of much more than making a new client

I have now wrapped the client in another singleton class to avoid creating new instances all the time. I've been running this for a couple of days and have not seen the error since. I will report back if it reappears :)

[code]

[2019-06-18 13:21] maheshnlrb commented on #3653
I see that  `TransportSecurityBindingElement` have the `EnableUnsecuredResponse` flag, but it;s not being propagated by 'TransportSecurityBindingElement.Clone' method. (Because it calls 'new TransportSecurityBindingElement(this)' . This constructor does not initialize the `EnableUnsecuredResponse` property.

[2019-06-18 16:52] StephenBonikowsky commented on #3682
You should be able to just drag and drop the wsdl right here.

[2019-06-18 19:02] maheshnlrb commented on #3282
What is the current method of starting local compiling? The "sync.cmd" and "build.cmd" are not present in the latest repository (as of 06/18/2019" ?

[2019-06-18 19:14] efillion opened #3694 "The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'Negotiate, NTLM'."
Hi,

We have a bunch of WCF Services (.NET Framework 4.6.1) that need to be consumed by an ASP.NET Core (2.2 in IIS) client over an endpoint configured to use a custom binding with the Ntlm authorization scheme. Both WCF Service and the ASP.NET Core client are configured to use Windows Authentication with Negociate and NTLM as providers. Every time we try to consume the service, we have this error

[2019-06-18 20:24] mconnew commented on #3653
@maheshnlrb, I was just going to suggest you submit a pull request, then saw you already have!

[2019-06-18 22:48] StephenBonikowsky commented on #3282
@maheshnlrb apologies for that, the documentation is out of date, we recently moved to a new build system and I haven't had a chance to update the docs.

The entry point is now [cibuild.cmd](https://github.com/dotnet/wcf/blob/v3.0.0-preview6/eng/common/CIBuild.cmd)

To build everything... (this won't run the tests, I found an error trying to run the tests using a localhost service, I will follow-u

[2019-06-19 05:43] pariaSadatHosseiny commented on #3682
yes, but I dont have permission to publish that in a forum Like this .it would be your kind if you contact me by my Email (p.hosseiny72@gmail.com) to send you address in private .

[2019-06-19 13:54] pariaSadatHosseiny commented on #3682
Hello Again ...
i Published a sample of our Service in following Address :

http://5.202.178.210:8080/ref-payment2/jax/merchantService?wsdl

i hope it help

[2019-06-19 15:57] StephenBonikowsky commented on #3682
Thank you @pariaSadatHosseiny we will start looking into this!
@imcarolwang could you begin working on a repro please.

[2019-06-19 17:44] StephenBonikowsky commented on #3662
Releases created with TAGs...
- WCF Core 3.0.0 Preview6 (https://github.com/dotnet/wcf/releases/tag/v3.0.0-preview6)
- WCF Core 3.0.0 Preview5 (https://github.com/dotnet/wcf/releases/tag/v3.0.0-preview5)

Updated release notes for each contract with the above releases and also the 2.1.2 release.
https://github.com/dotnet/wcf/blob/v3.0.0-preview6/release-notes/System.ServiceModel.Duplex.md
https://

[2019-06-19 17:44] #3662 closed

[2019-06-19 18:13] StephenBonikowsky commented on #3691
@MarkLie let us know if you need anything else.

[2019-06-19 18:13] #3691 closed

[2019-06-19 18:25] StephenBonikowsky commented on #2923
dotnet/corefx#30760 is still listed as targeting 3.0.0 release.

[2019-06-19 18:36] StephenBonikowsky commented on #3645
This is complete.
https://www.nuget.org/packages/dotnet-svcutil.xmlserializer/1.1.0

[2019-06-19 18:36] #3645 closed

[2019-06-19 18:56] StephenBonikowsky opened #3696 "Update documentation to reflect move to Arcade."
https://github.com/dotnet/wcf/blob/master/Documentation/scenario-test-guide.md
https://github.com/dotnet/wcf/blob/master/Documentation/manualtest-guide.md
https://github.com/dotnet/wcf/blob/master/Documentation/developer-guide.md

[2019-06-19 18:58] thiagosrios commented on #2499
Thanks. This work for me.

[2019-06-19 19:00] StephenBonikowsky commented on #3282
To also run all tests.
First run: https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tools/scripts/StartWCFSelfHostedSvc.cmd
Once all the services are up, then call cibuild.cmd...
`eng\common\cibuild.cmd -preparemachine -configuration Release /p:Test=true /p:IntegrationTest=true /p:Sign=false /p:Pack=true /p:Publish=true /p:Root_Certificate_Installed=true /p:Client_Certifica

[2019-06-19 19:00] StephenBonikowsky commented on #3282
I created an issue for myself to update the documentation.

[2019-06-19 19:52] mconnew commented on #2923
I had a F2F chat about this with the dev who's going to work on it so this should be working soon hopefully. If their change is small enough, I'll try to make the case for back-porting the fix.

[2019-06-19 19:55] mconnew commented on #3282
@StephenBonikowsky, I would rather prefer recreating equivalents of the old scripts as I don't want to have to pull up a documentation page each time I start a development session as I'll never remember that but typing `build` is really easy to remember.

[2019-06-19 19:57] StephenBonikowsky commented on #3282
That seems reasonable, I'll try that and see if there are any issues.

[2019-06-19 19:59] mconnew commented on #2499
The only difference that I can see if using BasicHttp**s**Binding instead of BasicHttpBinding. Can you verify if using BasicHttpBinding instead is broken? I think this works on .NET Framework but WCF has so many knobs and options I could be wrong.

[2019-06-19 20:29] MaxiPigna commented on #3653
Hello, finally I solved by following @mconnew's suggestion.  [This](https://github.com/dotnet/wcf/files/3307783/CustomMessageEncoder.zip) is a sample code provided by
@mconnew to implement a Custom Message Encoder by wrapping an existing Message Encoder. It has been very helpful! 😊

[2019-06-19 23:52] bdsipon opened #3697 "Unable to generate deps.json, it may have been already generated."
I follow the link guidelines: https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide but getting an error. The error as follows. When I was trying install the tool (dotnet-svcutil), It was not installed in my machine. Any solution please?

Error:
Importing web service metadata ...
Number of service endpoints found: 2
Scaffolding service reference code ...
Err

[2019-06-19 23:54] bdsipon commented on #3697
![Screenshot_13](https://user-images.githubusercontent.com/10099435/59808843-47e72a00-9341-11e9-9638-5f8928da3529.png)
I checked out the previous solutions, it is not working.

[2019-06-20 00:46] StephenBonikowsky commented on #3653
@MaxiPigna glad @mconnew was able to help. Let us know if there is anything else we can do.

[2019-06-20 00:46] #3653 closed

[2019-06-20 01:09] StephenBonikowsky commented on #3694
@efillion I believe you have to set the ClientCredentialType to "Windows".
@mconnew Could you elaborate on why this is the case?

[2019-06-20 01:14] StephenBonikowsky commented on #3408
@imcarolwang Could you have someone take the repro that was provided and go through the described scenarios and reproduce the issue. We suspect the bug is going to be in CoreFx, once you have done that let us know or if you have someone on the team that is willing to try debugging it go ahead.

[2019-06-20 01:55] mconnew commented on #3694
According to the issue title, the server returned an authentication challenge of "Negotiate, NTLM". Negotiate basically means "Windows". We provide a CredentialCache to HttpClientHandler with the credentials limited to using the authentication scheme that you have configured to be used. This means when you set the ClientCredentialType to NTLM, HttpClientHandler can't use them to respond to a Negot

[2019-06-20 03:12] imcarolwang commented on #3682
I can reproduce this issue using the service [address](http://5.202.178.210:8080/ref-payment2/jax/merchantService?wsdl ) @pariaSadatHosseiny provided.
The issue doesn't reproduce on project targeting to .NetFramework by running "Add ->Service Reference ...".

By comparing the generated reference.cs between .NetFramework and on .NetCore, I see:
- On .NetFramework, it correctly generated type **wsCo

[2019-06-20 07:49] pariaSadatHosseiny commented on #3682
sorry what do you mean by "could you begin working on a repro please."???

[2019-06-20 07:54] pariaSadatHosseiny commented on #3682
yes , that is true, but in other methods which we used Wscontext some Errors are shown and if i change all WsContext to WsContext1 by hand it will work fine .But if later some changes goes into  wsdl file I should update my Reference and again change it ,but it is not the right way.

[2019-06-20 14:34] efillion commented on #3694
There’s no ClientCredentialType property in a custom binding but there’s an AuthenticationScheme that I can set to IntegratedWindowsAuthentication but it give me this error. The 'IntegratedWindowsAuthentication' authentication scheme has been specified on the HTTP factory. However, the factory only supports specification of exactly one authentication scheme. Valid authentication schemes are Digest

[2019-06-20 16:58] StephenBonikowsky commented on #3682
Thank you @imcarolwang for the additional investigation.
@dasetser and @mconnew since it looks like this is a regression lets consider investigating this sooner.

[2019-06-20 17:16] StephenBonikowsky commented on #3408
Thank you @imcarolwang for providing the repro.
This confirms a change in behavior from the full framework to core.
[Issue3408.zip](https://github.com/dotnet/wcf/files/3311430/Issue3408.zip)

@mconnew can you take a quick look and see if we can move this to CoreFx.

[2019-06-20 17:18] StephenBonikowsky commented on #3678
Adding to the current release.

[2019-06-20 17:52] StephenBonikowsky commented on #3228
Updated the title of this Issue to be more specific, this issue tracks the problem described by @jugg1es and is currently targeting the 3.0 release.

@kks78 Thanks for reporting your issue and providing the wsdl and response.

[2019-06-20 18:01] StephenBonikowsky commented on #943
As I currently understand it the remaining work here is to add scenario test coverage for NTLM Auth on Linux but based on associated Issues there is some difficulty automating this particular type of test. Need to do some additional investigation to fully understand the problems.

[2019-06-20 18:44] mconnew commented on #3694
ClientCredentialType.Windows maps to AuthenticationSchemes.Negotiate. The `Ntlm` value is the output from calling ToString() on the provided AuthenticationSchemes value. We actually lowercase the AuthenticationSchemes value when we put it into the CredentialCache. When the credentials are retrieved from the CredentialCache, it does a case-insensitive comparison. This can be seen [here](https://git

[2019-06-20 22:13] #2082 closed

[2019-06-20 22:13] StephenBonikowsky commented on #3116
This has been done.

[2019-06-20 22:13] #3116 closed

[2019-06-20 22:26] StephenBonikowsky commented on #3397
Added a subscription to the channel (.NET Tools - Latest).

[2019-06-20 22:26] #3397 closed

[2019-06-20 22:35] StephenBonikowsky commented on #3240
Not an issue anymore since moving to Arcade.

[2019-06-20 22:35] #3240 closed

[2019-06-20 22:39] StephenBonikowsky commented on #3305
I haven't seen any failures due to this issue with our build definitions for our 2.1 branch that still has this step.
For master branch we have moved to Arcade.

[2019-06-20 22:39] #3305 closed

[2019-06-20 23:02] mconnew commented on #3408
I found the problem. There are two checks in XmlDictionaryReader.ReadContentAsString which are missing. They are [here](https://github.com/microsoft/referencesource/blob/master/System.Runtime.Serialization/System/Xml/XmlDictionaryReader.cs#L441-L442) and [here](https://github.com/microsoft/referencesource/blob/master/System.Runtime.Serialization/System/Xml/XmlDictionaryReader.cs#L473-L474). So thi

[2019-06-21 01:29] imcarolwang commented on #3682
The repro app: [issue3682.zip](https://github.com/dotnet/wcf/files/3312668/issue3682.zip).
Reference.cs was generated base on http://5.202.178.210:8080/ref-payment2/jax/merchantService?wsdl.

[2019-06-21 08:58] gcelet commented on #2499
Hi,

I changed my unit test above from BasicHttpBinding to BasicHttpsBinding:

- test failed using version 4.5.3 with both BasicHttpBinding and BasicHttpsBinding
- test passed using version 4.4.2 with both BasicHttpBinding and BasicHttpsBinding

These tests runned on .NET Core using sdk 2.1.700.

[2019-06-21 16:11] StephenBonikowsky commented on #3408
Great job @imcarolwang
Fixed by dotnet/corefx#38746

[2019-06-21 19:14] StephenBonikowsky commented on #3697
@bdsipon We've seen this issue come up a few times, it is generally something in your machine configuration, such as semicolons in your %temp% path.

Here are the issues where this has been resolved for other folks...
#3225
#3391
#3155
#3143

[2019-06-21 19:14] #3697 closed

[2019-06-21 21:05] StephenBonikowsky commented on #3421
The UAP story is currently somewhat confusing, we may not do any more releases for WCF. Also, at this point Arcade/.NET SDK 3.0 doesn't support the UAP target framework.
I have made the changes in our repo to be able to build against this TFM but we are not able to run tests.

Closing this and may revisit once the future of UAP is better understood.

[2019-06-21 21:05] #3421 closed

[2019-06-21 21:05] StephenBonikowsky commented on #3422
The UAP story is currently somewhat confusing, we may not do any more releases for WCF. Also, at this point Arcade/.NET SDK 3.0 doesn't support the UAP target framework.
I have made the changes in our repo to be able to build against this TFM but we are not able to run tests.

Closing this and may revisit once the future of UAP is better understood.

[2019-06-21 21:05] #3422 closed

[2019-06-21 21:06] StephenBonikowsky commented on #3413
MacOS builds and test runs are enabled working great.

[2019-06-21 21:06] #3413 closed

[2019-06-21 21:07] StephenBonikowsky commented on #3420
Done.

[2019-06-21 21:07] #3420 closed

[2019-06-21 21:12] StephenBonikowsky commented on #3644
All associated tasks completed.

[2019-06-21 21:12] #3644 closed

[2019-06-21 21:20] StephenBonikowsky opened #3700 "[EPIC] Remaining tasks related to the infra move to Arcade."
The WCF repo has fully shifted from buildtools to Arcade as the new build system but there remains a number of tasks associated with this move that would be good to have completed during before the 3.0 release. Use this Epic to gather them all up.

[2019-06-21 21:25] StephenBonikowsky commented on #2181
As of right now not doing any more work related to UAP.

[2019-06-21 21:25] #2181 closed

[2019-06-21 21:29] StephenBonikowsky commented on #3306
@robertborr let me know if you see this anymore but since we are now on Arcade using .NET SDK 3.0 this should no longer be an issue.

[2019-06-21 21:29] #3306 closed

[2019-06-21 21:33] StephenBonikowsky commented on #3307
I no longer see those log entries in the build.

[2019-06-21 21:33] #3307 closed

[2019-06-21 21:34] StephenBonikowsky commented on #3400
Completed.

[2019-06-21 21:34] #3400 closed

[2019-06-21 22:14] StephenBonikowsky commented on #2290
@mconnew We are running on MacOS now but still have several issues with some tests, here are some latest test results, which tests would tell us if this particular issue can now be closed?

[SecurityTestsResults.xml.txt](https://github.com/dotnet/wcf/files/3316182/SecurityTestsResults.xml.txt)

[2019-06-22 21:14] mconnew commented on #3408
Reopening to track that we need to add a unit test for the fix.

[2019-06-24 19:07] raziqpv opened #3703 "Connected Services in .Net Core project fails."
Trying to consume a wcf service in a .Net Core project,

- adding reference from connected services with the wsdl url fails with "**The encoding in the declaration 'ISO-8859-1' does not match the encoding of the document 'utf-8'.
Done.**"

- running dotnet-svcutil with the wsdl file fails with "**Warning: No endpoints compatible with .Net Core apps were found**"  and "**Error: No code was generate

[2019-06-24 21:53] mconnew commented on #3408
Test merged in dotnet/corefx#38805

[2019-06-24 21:53] #3408 closed

[2019-06-25 17:46] hector-quintero opened #3705 "SecurityBindingElement does not expose EnableUnsecuredResponse"
`BindingElementCollection elements = Client.Endpoint.Binding.CreateBindingElements();
            elements.Find<SecurityBindingElement>().EnableUnsecuredResponse = true;`

Line 2 above results in compile time error stating SecurityBindingElement does not contain a definition for EnableUnsecuredResponse.
Our team is currently using a local build of master branch version: 4.6.0-ci.19325.1

I see the

[2019-06-25 18:45] hector-quintero commented on #3705
I see there is a current workaround [here](https://github.com/dotnet/wcf/issues/3653#issuecomment-503734676) that works for me.

[2019-06-25 20:42] mconnew commented on #3705
The property is on the implementation class as it was copied across from .NET Framework, but it wasn't exposed in the contract as it's not hooked up to anything functional. I'm glad the workaround fixed this for you.
Closing as it looks like there's nothing more that's needed. Feel free to re-open if you still have problems.

[2019-06-25 20:42] #3705 closed

[2019-06-25 22:51] StephenBonikowsky commented on #3703
@raziqpv Could you try the workaround described in #2550 and see if this helps you?

[2019-06-25 23:31] mconnew commented on #3674
It's been a week with no updates. Closing for now. Feel free to re-open if you need more help.

[2019-06-25 23:31] #3674 closed

[2019-06-25 23:32] mconnew commented on #3590
@BogdanovKirill, sorry for the crickets. I think you have found a bug.

[2019-06-25 23:34] #2695 closed

[2019-06-26 03:24] paulclarke-nec opened #3707 "Cannot use reliable session in NetTcpBinging with SecurityMode.TransportWithMessageCredential"
Reliable sessions appears to have been implemented, based on https://github.com/dotnet/wcf/blob/d8724e17061fec86c9a6b17596fccd3f05cf758f/src/System.Private.ServiceModel/src/System/ServiceModel/NetTcpSecurity.cs#L79

However, the method is only ever invoked with isReliableSessionEnabled being false when using SecurityMode.TransportWithMessageCredential: https://github.com/dotnet/wcf/blob/c80f01c337

[2019-06-26 14:26] glapsvin commented on #3631
Still have same problem in 2019 Preview 3

[2019-06-26 14:28] glapsvin commented on #3391
as posted in the Vs 2017 thread, still same problem with 2019 16.2.0 prev 3

[2019-06-26 17:42] dasetser commented on #3631
@glapsvin If you install dotnet-svcutil 1.x and run "dotnet -d svcutil" what output do you get? This unable to generate deps.json message is very general and I've seen it have a few different root causes.

[2019-06-26 19:41] mconnew commented on #3707
Reliable sessions hasn't been implemented. We try to keep the code the same as .NET Framework wherever possible for two reasons.

1. Try to avoid introducing new bugs.
2. When porting over a new feature, it reduces the risk of missing something that's needed as part of porting the feature.

This means in the implementation code you will often see fragments or remnants of features which aren't supp

[2019-06-26 19:56] mconnew commented on #3590
@BogdanovKirill, the issue is limited to a problem with receiving the first first buffer of content of the response body. Once the receive buffer has been filled once at the beginning, the timeout is being used. So basically the failure mode is the server sends the response headers fine, but doesn't send any response body. I have a fix I'll have out for PR very soon.

[2019-06-26 20:05] mconnew commented on #3590
@BogdanovKirill, could you take a look at #3709 to see if it looks like it addresses the problem you found? BTW, thank you for spending the time to pinpoint where the bug in the code was as this would have been difficult to find without a local repro.

[2019-06-27 06:50] BogdanovKirill commented on #3590
@mconnew
Thank you very much for feedback, fix looks right to me. I think we could checkt it in real environment on test instances.

[2019-06-27 07:46] #3590 closed

[2019-06-27 07:50] mconnew commented on #3590
@BogdanovKirill, I've merged the change. Feel free to reopen this issue if it doesn't fix your problem.
@StephenBonikowsky, are we pushing nightly builds to myget at the moment?

[2019-06-27 16:44] StephenBonikowsky commented on #3590
We are no longer using MyGet since they couldn't accommodate our storage needs.
Let me look into the best way to make these packages available, I'll update this Issue.

[2019-06-27 21:15] StephenBonikowsky commented on #3590
Here are the packages produced by the build with @mconnew's changes.
[PackageArtifacts.zip](https://github.com/dotnet/wcf/files/3336645/PackageArtifacts.zip)

[2019-06-28 00:22] sudoudaisuke opened #3712 "DataTable serialization in SOAP Client"
I'm converting .net framework winform apps to .net core 3.0. My apps call many SOAP methods.
SOAP web service server is implemented by ASP.NET webform based asmx(wdsl). SOAP method returns typed DataTable.

I know that .net core will not support ASP.NET webform. But, if SOAP client (generated by dotnet-svcutil) will not support it, then I cannnot convert client side winform apps to .net core and .

[2019-06-28 08:15] leoerlandsson commented on #31
Hi,

Any update on this?

Microsoft MIM2016 Service uses WsHttpBinding, and currently it’s not possible to call this service from .Net Core as this binding is not supported.

Are there plans or work in progress to support this binding?

[2019-06-28 08:28] BogdanovKirill commented on #3590
@StephenBonikowsky

Thank you!

[2019-06-28 18:59] StephenBonikowsky commented on #3670
The last alert was fixed with #3711

[2019-06-28 18:59] #3670 closed

[2019-06-29 13:25] karthik33 commented on #3631
Hi ,
Thanks for your reply.
After installing dotnet -d svcutil my issue is resolved. Thanks.

Regards,
Karthik KOMMANDI

On Wed, 26 Jun 2019, 23:13 Daniel Setser, <notifications@github.com> wrote:

[2019-07-01 06:42] xiongze666 opened #3716 "使用2017Net core 2.1/2.2添加webservice服务引用失败"
正在导入 Web 服务元数据...
找到的服务终结点数: 1
正在搭建服务引用代码...
错误:δ�ҵ������dotnet-svcutil��ƥ��Ŀ�ִ���ļ�
完成。

![image](https://user-images.githubusercontent.com/47880804/60475170-9503be00-9ca8-11e9-8796-f53ba119628c.png)

安装都是相同的版本，同事的可以正常引用，我的就显示这个错误，是哪个补丁没安装还是其他问题？

[2019-07-01 07:54] xiongze666 commented on #3557
![image](https://user-images.githubusercontent.com/47880804/60419682-70f89c00-9c18-11e9-9c8a-fe2b9542cfd3.png)
我也遇到这个问题，什么原因啊

[2019-07-01 07:55] xiongze666 commented on #3557
![image](https://user-images.githubusercontent.com/47880804/60419732-971e3c00-9c18-11e9-80bc-5afca480105d.png)
我的这个问题也是不知道什么原因

[2019-07-01 09:39] yahorsi opened #3717 "dotnet-svcutil 2.0.0, incorrect reference generation"
Hi Guys,

dotnet-svcutil produces code that fails to compile
Please have a look to the attached WSDL.

[GETTICKETLISTService.zip](https://github.com/dotnet/wcf/files/3344881/GETTICKETLISTService.zip)

The tool invoked using the following command line:
dotnet-svcutil WSDL/GETTICKETLISTService.wsdl    --namespace *,EDW.Targenio.API.Contracts --outputDir Contracts --outputFile TicketListService.cs

T

[2019-07-01 18:53] StephenBonikowsky commented on #3707
@paulclarke-nec Reliable sessions isn't available in WCF Core as @mconnew explained. Hopefully Matt helped with the issue you were having and provided some alternative ways of accomplishing what you need done.

Let us know if there is anything else we can assist with.

[2019-07-01 18:53] #3707 closed

[2019-07-01 19:00] StephenBonikowsky commented on #3712
According to https://referencesource.microsoft.com/#System.Data/System/Data/DataTable.cs,5906

That isn't something WCF can do anything about.

If #3378 will solve your problem @sudoudaisuke then that same bug is already tracking that work.

@dasetser Is there anything else you would like to add?

[2019-07-01 19:04] StephenBonikowsky commented on #3717
@imcarolwang Could you have your team test this and provide additional info on what the compilation errors are.

Thanks.

[2019-07-01 19:05] StephenBonikowsky commented on #3703
@raziqpv If you still need help you can re-open and let us know.

[2019-07-01 19:05] #3703 closed

[2019-07-01 19:18] StephenBonikowsky commented on #3694
Putting this into our backlog of issues to consider.
@efillion This is a great candidate for the community to take on, adding the 'Up For Grabs' label.

[2019-07-01 21:35] StephenBonikowsky commented on #3171
@mconnew Could you respond with a workaround to this issue?

[2019-07-02 00:38] StephenBonikowsky commented on #3716
@xiongze666 Thanks for reporting this issue. In order to best help us understand the problem could you get us the error and a full call-stack in a way that we can read it?

We are getting font formatting errors specifically with this...

One possible solution is to switch your language to English long enough to re-run what you are doing, this would output the error in English which would be most u

[2019-07-02 00:55] xiongze666 commented on #3716
![image](https://user-images.githubusercontent.com/47880804/60474874-1f4b2280-9ca7-11e9-9d5e-3f68e0d4b4f4.png)

[2019-07-02 00:58] StephenBonikowsky commented on #3712
@sudoudaisuke
Could you help me understand a few things that are confusing me.

I'm not sure what you mean by a "SOAP method", do you just mean the Server side operation and you are saying that it returns the DataTable type? Any WSDL generated for the Service wouldn't include that type since it isn't supported. So running dotnet-svcutil against that WSDL wouldn't accomplish anything.

If on the ot

[2019-07-02 04:56] imcarolwang commented on #3717
@StephenBonikowsky , below is what I found:

It failed to compile because the tool generate cs file containing enclosed DataContract type of the same name in class named TICKETLIST_OTType, the error:

Use the given wsdl file, the desktop version tool svcutil.exe generate proxy file with the same problem, so it's not issue specifically in .net core version of the tool dotnet-svcutil.

The correspon

[2019-07-02 17:38] StephenBonikowsky commented on #3716
Thank you @xiongze666
The dotnet-svcutil.exe tool is part of the SDK installed with Visual Studio, the error you are seeing is usually because your installation of VS has gotten messed-up.
You solve this by doing a repair of VS using "Visual Studio Installer".
![image](https://user-images.githubusercontent.com/12057732/60533892-7f48c580-9cb5-11e9-9237-e2f2f0d241a3.png)

[2019-07-02 22:38] mconnew commented on #31
We now have the basics of WSHttpBinding which will be in our next release. It supports security mode TransportWithMessageCredentials. Currently the only credential types it supports are Certificate and Username. The foundation is now there to enable IssuedToken support which is what's needed to support WS-Fed.
@leoerlandsson, are there specific features of WSHttpBinding that you need? Also, are yo

[2019-07-03 01:31] mconnew commented on #3171
@iverds, the root cause of your problem is you have two difference C# class definitions that are attributed to use the exact same XML namespace and name. When you instantiate a `ChannelFactory<IService>`, WCF creates all the serializers and stores them in a mapping table. The key to lookup a serializer is the xml namespace and name. When attempting to deserialize a response from the server, WCF is

[2019-07-03 01:33] mconnew commented on #3171
Btw, the two issues you referenced are unrelated to this problem.

[2019-07-03 01:56] xiongze666 commented on #3716
我按照您的方法，点击修复完成，重启电脑，重新创建项目后还是不能引用webservice服务，显示同样的错误，升级为2019版的还是不行，请问还有什么解决方案吗？

[2019-07-03 06:06] nishantkagrawal commented on #3171
@mconnew Thanks. This is what exactly I ended up doing.

[2019-07-03 06:14] iverds commented on #3171
Thanks @mconnew! I ended up rewriting the soapmessage through `IClientMessageInspector`, but this looks like a better solution.

You are probably right that the wsdl wouldn't pass schema validation, but that's out of my control :/

[2019-07-03 07:51] leoerlandsson commented on #31
Thanks for looking into this @mconnew

The documentation you're referring to is a MIM Connector, and is another part of MIM.
The service I was referring to is the built in MIMService. Documentation can be found [here](https://docs.microsoft.com/en-us/previous-versions/windows/desktop/forefront-2010/ee652298%28v%3dvs.100%29) (it's really still used, even internally in MIM, even though the documenta

[2019-07-03 13:26] fepettersen opened #3721 "Generate synchronous operations checkbox does not update color for dark theme"
The label on the checkbox "Generate synchronous operations" is black in the dark theme of VS 2019 Preview Version 16.2.0. This makes it very hard to read.

[2019-07-03 15:56] StephenBonikowsky commented on #3171
Thanks @mconnew for the detailed explanation.
@iverds and @nishantkagrawal let us know if there is anything else we can assist with.

[2019-07-03 15:56] #3171 closed

[2019-07-03 15:57] StephenBonikowsky commented on #3716
@imcarolwang Could you assist me with this issue? I can't read Chinese :)

[2019-07-03 21:28] mconnew commented on #31
@leoerlandsson, I think what we have so far may work for you. The binding creation code in the `GetWsHttpBinding` method [here](https://github.com/lithnet/resourcemanagement-client/blob/master/src/Lithnet.ResourceManagement.Client/ServiceImplementation/BindingManager.cs#L48-L53) is really odd. Security.Mode is being set to None, and then a bunch of security settings on Security.Transport and Secur

[2019-07-03 21:30] mconnew commented on #31
@leoerlandsson, I also looked at the documentation. There's a WS-Trust endpoint but that's a provider of tokens, not an endpoint where you provide a token. You should be able to communicate with that using the Microsoft.IdentityModel packages for .NET Core but I'm not familiar enough with that package to tell you anything other than point you in the right direction.

[2019-07-04 01:02] imcarolwang commented on #3716
@xiongze666 ，你试试打开 %userprofile%\dotnet\tools, 查看是否存在 dotnet-svcutil.exe 文件?
如果文件缺失可以通过以下命令安装：dotnet tool install --global dotnet-svcutil --version 2.0.0 （[参考链接](https://www.nuget.org/packages/dotnet-svcutil)）

[2019-07-04 05:32] xiongze666 commented on #3716
![image](https://user-images.githubusercontent.com/47880804/60641818-1c476200-9e60-11e9-8885-169a43ee9d41.png)
通过命令安装出现这个错误，还是不可以

[2019-07-04 06:16] imcarolwang commented on #3716
@xiongze666， 能再确认一下VS2019安装程序中的 .NET Core 2.2/2.1 development tools 也安装了吗？

@StephenBonikowsky  the error reported in issue looks due to installation problem of the dotnet-svcutil tool on specific machine, but as stated in issue, repair VS2017 even upgrade to VS2019 didn't fix it, it's said that before and after upgrade VS, it reported same error "**No executible found matching command 'dotnet-svc

[2019-07-04 11:37] leoerlandsson commented on #31
@mconnew  Thanks. I'll try it out with the LithNet package.

I guess I'll have to build dotnet/wcf myself to get the latest additions?

[2019-07-05 14:48] lexxdark opened #3724 "Timeouts are not fully respected by the WCF client"
## Description

When sending data to a client some of the timeouts seem ignored. With timeouts set to 20s I'm able to keep a connection open for hours in specific situations.

## Relation to other bugs

Initially I thought this behavior would be fixed by https://github.com/dotnet/wcf/pull/3709
But I tested with a version of WCF containing this fix and it is still reproduced (packages retrieved fro

[2019-07-08 18:48] StephenBonikowsky commented on #3716
@imcarolwang All we know for sure is that there is a problem with the environment. This isn't a common problem with VS or we would have seen other reports. Uninstalling and re-installing the SDK, even uninstalling VS entirely are all options to try and resolve this issue.

[2019-07-08 21:04] StephenBonikowsky commented on #3721
@fepettersen thanks for reporting this!
We will be fixing this in the next release.

[2019-07-08 23:23] StephenBonikowsky commented on #3557
@xiongze666 We have your issue #3716, this issue has been closed.

[2019-07-09 00:09] StephenBonikowsky commented on #3712
No other action we can take on this, please let us know if there is any additional info you can provide or anything else we can help with.

[2019-07-09 00:12] StephenBonikowsky commented on #3724
@lexxdark Thank you reporting this and providing an example project, we will take a look at it this week.

[2019-07-09 01:26] imcarolwang commented on #3716
@xiongze666 ，看起来这个是机器环境问题导致dotnet-svcutil没有正常restore，以下是一些建议：
1. 查看nuget source的配置是否正常， 在VS中查看： Tools->Nuget Package Manager-> Package Manager Settings, 找到 Package Sources， 我的本机包含了：https://api.nuget.org/v3/index.json
2. 卸载并重装.net core sdk, 或者卸载并重装VS
3. 在添加服务引用失败后，查找 %localappdata%\Temp\WCFConnectedService文件夹，压缩后上传到这里以供进一步调查

[2019-07-09 22:14] mconnew commented on #3717
@yahorsi, could you make the following change to the wsdl and see if it works? You should be free to change the name of any complex type definition as it's name should only be used for defining the schema type. The thing which gets expressed in XML is the element name.

Line 28 change:
`              <xsd:element name="TICKETLIST" type="tns:TICKETLIST_OTType"/>`
to
`              <xsd:element name

[2019-07-09 22:20] mconnew commented on #3717
For triage purposes, this issue reproduces on .NET Framework so isn't a regression.

[2019-07-09 22:24] mconnew commented on #2923
This is being back-ported. The PR for back-porting the fix is dotnet/corefx#39341

[2019-07-09 23:29] mconnew commented on #2499
Re-opening issue.
@gcelet, can you try with 4.5.3 configuring not to use SocketsHttpHandler. It can be done with the following line at the start of your app:
[code]
Also, what OS are you using?

[2019-07-10 19:17] dasetser commented on #3654
@mryandot Thanks for providing enough information for us to investigate this. It looks like the XML returned from the service does not match the current wsdl, and the behavior of the tools look correct (other than the issue described in 1274).

As you noted, the difference is the Customer_InvoiceType level. This wrapping element is required because it has two children, and the data could be ambigu

[2019-07-10 22:51] mryandot commented on #3654
I disagree this is a problem with the XSD.  The XSD is perfectly valid and matches the XML generated.  In general Workday defines their types as a sequence occurring exactly once with each element in the sequence occurring zero or more times.  That means a response may contain data, data may contain invoices, invoices may contain a reference or data (or nothing), and so on.  The top level you refe

[2019-07-11 08:10] sudoudaisuke commented on #3712
Thanky for your reply.
And sorry for my late reply.

This is my sample Visual Studio solution files, and wsdl, xsd.

[TypedDatatTableAsmxSolution.zip](https://github.com/dotnet/wcf/files/3380746/TypedDatatTableAsmxSolution.zip)

[wsdl_and_xsd.zip](https://github.com/dotnet/wcf/files/3380762/wsdl_and_xsd.zip)

If .NET Framework app can generate TypedDataSet from wsdl, but .NET Core app cannot.

I c

[2019-07-11 17:44] StephenBonikowsky commented on #3712
@sudoudaisuke Thanks for the additional info, we'll take a look at this.

[2019-07-11 23:40] StephenBonikowsky commented on #3678
@mconnew Looks like BinaryMessageEncodingBindingElement.CompressionFormat is already public, so just adding RequireClientCertificate to the public surface area.

[2019-07-12 05:54] usmanaliabbasse opened #3734 "How to set Soap header in NetCore those should be available in wsdl as we have in asmx wsdl"
I have just stuck with this problem while putting different solution in parallel to make this one to a success but not getting it at all. How this MessageHeaders with custom authentication type taking userid and passwd can be set in WSDL generated by .Net Core configured and defined asmx services?

I have tried this one but unfortunately, it never goes called upon wsdl loading of a service.

[code

[2019-07-12 19:31] StephenBonikowsky commented on #3734
@usmanaliabbasse Thanks for reporting this to us, I'm not entirely sure I understand what your issue is. It would be helpful if you could provide us with some additional information, ideally you can just attach a project with the WSDL you are using and the client code that isn't working.

We do have some tests that may do something similar to what you are asking...
https://github.com/dotnet/wcf/bl

[2019-07-12 19:32] #3678 closed

[2019-07-13 00:02] mconnew commented on #3654
Hi @mryandot. I'm really sorry this was my mistake. I helped @dasetser with this issue a few days ago and it looks like I misread or misunderstood something at the time. What you want to do is possible with XmlSerializer, we just need to find the right magic sauce to make it happen. To try and get you a solution faster, I'm going to make a guess right now as to what I believe the solution is, but

[2019-07-14 20:48] danielleiszen opened #3743 "System.ServiceModels.Primitives.dll has wrong public key token for uap10.0.15138"
Windows 10, 10.0.18362
VS 2019

An UWP project references a .NETStandard 2.0 project that has a dependency of nuget package System.ServiceModel.Primitives 4.5.3 Assembly Version=4.5.0.3, PublicKeyToken=**b03f5f7f11d50a3a**

When I define an instance from that package in the UWP project, for example:

private OperationContext cotnext;

and go to the definition of that class, I get to the following

[2019-07-15 08:51] gcelet commented on #2499
Hi,

Sorry for my late response: i was busy at work.

I can confirm that my unit test pass with 4.5.3 configured to not use SocketsHttpHandler: without it it still failed.

I run this test on .net core 2.1 with sdk 2.1.701 on windows 10 pro 1809.

Hope this helps

[2019-07-15 10:03] lexxdark commented on #3724
@StephenBonikowsky thanks

After the discussion on the gitter channel I also tried with
`AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`
and I get the same behavior

[2019-07-15 10:44] usmanaliabbasse commented on #3734
Thank you @StephenBonikowsky  for sharing information on this issue.

PleaSe find the attached WSDL for more details that we get once access a soap service created using dotnet core (soapCore nuget package)

Here's that soap project service repository url:
[https://github.com/shehryarkn/DotNet-Core-Soap-Service-Example](url)

Also, I am attaching a WSDL file we get from this service, please find t

[2019-07-15 10:47] usmanaliabbasse commented on #3734
For more clarification to this issue, I am attaching this image as well where in SOAPUI, i need to add Authentication class with in our soap headers tag:

![image](https://user-images.githubusercontent.com/52812791/61211044-d61fb780-a717-11e9-94f6-c6a2b9cf3d57.png)

[2019-07-16 17:26] StephenBonikowsky opened #3745 "Remove OSX 10.12 from Helix test execution queues."
OSX 10.12 will be out of support in Helix as of August 5th.

Consider adding OSX 10.14

[2019-07-16 17:47] StephenBonikowsky commented on #2923
Still waiting for the PR back-porting the fix to release 2.1 to be completed.

[2019-07-16 18:06] mryandot commented on #3654
If I'm reading you correctly, you're talking about what I have confirmed works.  The issue as far as my convenience goes is that when it optimizes arrays, it leaves out required intermediate types, so to go from the current generated code (abbreviated):
[code]
to the working code:
[code]

...I also have to generate the Custer_Invoice_Response_DataType class, which is pretty much what you see there

[2019-07-16 21:54] StephenBonikowsky commented on #2923
The fix has now been ported and will be part of the 2.1.13 and 2.2.7 servicing releases.

[2019-07-17 15:10] danielleiszen commented on #3743
I've created a smal repo that reproduces the problem...
https://github.com/danielleiszen/servicemodeldiscrepancy

Is there any workaround? I am stuck with it.

[2019-07-17 17:27] StephenBonikowsky commented on #3663
Done

[2019-07-17 17:27] #3663 closed

[2019-07-17 19:23] #3745 closed

[2019-07-18 13:19] Jan-Magerl opened #3749 "DateTimeOffset not transfered correct"
If i generate  A WCF Client with Visual Studio 16.1.6.
All Properties of type DateTimeOffset will not transfert correct.
They all are set to default values

[2019-07-19 16:14] hurrk opened #3750 "Old SOAP service (web reference) - throwing 'Message {nameOfFunction} must not have headers to be used in RPC encoded style.'"
This might not be the right place for this - it's not necessarily an error in dotnet/wcf. But I'm hoping you guys can either answer or point me to the right place.

I'm consuming a SOAP service that uses the old .NET Framework Web Services 2.0 (I believe, there is no .svc, but there is a WSDL).

I can consume this service in .NET Framework by going to 'Add service reference -> Advanced -> Add web