[2020-09-27 01:40] imcarolwang commented on #4375
Test of the tool shows that: if your machine has **ONLY .NetCore SDK version 3.1** installed, when using the `2.*.*`  version of dotnet-svcutil tool, the tool would be unusable complaining "_**The framework 'Microsoft.NETCore.App', version '2.1.0' was not found**_".  If in any case you're running into this error install .NetCore2.1 SDK would fix it.

[2020-09-28 17:17] mconnew commented on #3190
'closed' means the issue that the specific problem that the original person who opened this issue had has been resolved. This issue is they were getting an exception saying "Could not load type 'System.ServiceModel.Channels.AsymmetricSecurityBindingElement' from assembly 'System.ServiceModel..." when running their application on .NET Core. The resolution for **_this_** is that this particular clas

[2020-09-28 17:27] nhustak commented on #3190
Thank you for taking the time to explain this.

[2020-09-29 15:37] gaui opened #4380 ".NET Core 3.1 X509 signature"
I'm having a problem with signing WCF calls with a X509 certificate signature.

The following code works with .NET Framework but it doesn't with .NET Core because `X509SecurityToken` doesn't exist and I can't access the `RequestSoapContext`.

[code]

What would be the method to achieve the same in .NET Core? The proxy classes are generated with dotnet-svcutil.

[2020-09-30 10:28] CharlesMonk opened #4381 "F#, VB support in WCF Web Service Reference Provider Tool?"
Have I missed some setting?

In the latest VS2019, I tried using the WCF Web Service Reference Provider Tool in a C# Net.Core project and it was as advertised.

No such option was available in VB.net and F# projects. Do we need to stick with the full Windows .NET Framework if we are using those languages for WCF client code?

Screenshot:
![Happy-Sad-Sad](https://user-images.githubusercontent.com/7

[2020-09-30 13:53] gaui commented on #4380
Here's a similar issue: https://stackoverflow.com/q/59737636/1053611

If anyone can direct me towards an alternative way to do this, it would be greatly appreciated.

[2020-09-30 22:44] Davilink commented on #4096
@StephenBonikowsky Could it a be a feature request ?

[2020-10-01 01:55] StephenBonikowsky commented on #4096
Adding @HongGit and @mconnew since they own this.

[2020-10-01 06:21] mconnew commented on #4096
@RealDotNetDave, the only exception types that can be thrown by an operation that's driven by the response from the service is either [FaultException](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.faultexception?view=dotnet-plat-ext-3.1) or [FaultException\<TDetail\>](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.faultexception-1?view=dotnet-plat-ext-3.1) where

[2020-10-01 15:36] Davilink commented on #4096
@mconnew I was more talking about the naming convention (for Object, Properties, Method). Maybe i should open a separate issue for that.

[2020-10-01 17:45] mconnew commented on #4096
@Davilink, my prior comment was aimed at someone else's comment about wanting Xml documentation generated listing the exceptions that could be thrown. As for the naming convention, Stephen was correct in saying we just pull it from the WSDL. Any attempt to do something different from what's in the WSDL will be wrong in some set of cases. For example if the WSDL has an operation called `myoperation

[2020-10-01 19:39] mikkeljohnsen commented on #4287
@HongGit I do not see that "RequestSecurityToken" is available in those NuGet packages ?

[2020-10-01 20:39] mconnew opened #4383 "New WS-Federation classes have the incorrect case"
The new classes have the s in WS lowercase, e.g. WsFederation. To fit with the existing naming convention for WCF, the S needs to be uppercase.

[2020-10-01 23:59] Davilink commented on #4096
I thought that the XML attribute allowed to specified the name of the properties, the Object Name and Method for the  serialiser/deserializer like we can do we JsonProperty attribute.

[2020-10-02 01:28] mconnew commented on #4096
@Davilink, it does. After the code has been generated, you can modify the code to have the casing that you want as long as you add the attribute property to specify the original name. The problem with modifying the name by default to confirm to some standard such as enforce the first letter to be uppercase is that sometimes that would be the wrong thing to do. So it's better to leave it as "wrong"

[2020-10-02 01:57] Davilink commented on #4096
yeah, what i was suggesting is to have an option to change the casing, because like you said, if i change the setting in the generated and i want to update (new method or change in the properties, etc...) at least the use of the same option will automatically generated the code with the same convention.

something like :
--ObjectNamePascalConvention
--PropertiesNamePascalConvention
--MethodNamePas

[2020-10-02 06:51] wildmichael commented on #3512
I just tried running `svcutil` on the Cisco Unified Communication Manager (CUCM) [AXLApi.wsdl](https://github.com/CiscoDevNet/axl-dotnet-samples/blob/master/schema/AXLAPI.wsdl). The resulting `Reference.cs` is a whopping 1071455 lines. Yes, **One. Million. Lines**.

There really should be ways of:

* Splitting the output. I could imagine things like one file per class, maximum N files per class bu

[2020-10-02 21:34] mconnew commented on #4381
I love the graphics!! The WCF Connected Services tools as you have discovered only supports generating of C# code which is why it's not available for projects targeting other languages. There are two possible solutions for you, the hard one and the easy one. The hard one is to contribute the code to the dotnet-svcutil utility that the connected services tool is based on (it's in this repo now) to

[2020-10-02 21:45] mconnew commented on #4380
You are using Web Services Enhancements (WSE) which was an add-on library to support more SOAP features for Web Services for .NET 2.0 and was the precursor to WCF. Can you provide the WSDL for the service you are trying to communicate with? I suspect either BasicHttpsBinding or WSHttpBinding with security mode of TransportWithMessageCredential is what you need. Unfortunately neither of those is su

[2020-10-02 22:01] mconnew commented on #4377
This is actually dead code, this method was pulled in by mistake and is only used in NetFx by server side code. So the action here is to remove the the entire ProcessRstAndIssueKey method.

[2020-10-02 23:41] #4383 closed

[2020-10-05 08:44] CharlesMonk commented on #4381
Hi,

Thanks for the clarifying comment.

I see now that by following a link on the tool dialog to
https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide,
the documentation clearly states that it's C# only. Sorry that I missed that and redundantly posted here to get the same information.

Making a wrapper DLL is a very easy practical workaround, and looks like

[2020-10-05 14:16] rogatec commented on #2472
I had the same problem with `There was an error reflecting 'login'` only in a unix (Docker and wsl2) environment.
On Windows there was no problem at all.

I tried to create the connected service via the dotnet-svcutil (version 2.0.1), but this didn't solve the issue.

I finally managed to find the root the my problem.
I published my application with the following dotnet command:
`dotnet publish "m

[2020-10-05 16:35] gaui commented on #4380
Hey @mconnew , thank you for that. Here's the WSDL: http://ws-test.skra.is/SvcFasteignaskra_0402/Fasteignaskra.asmx?wsdl

[2020-10-05 18:43] mconnew commented on #4380
Unfortunately your WSDL is incomplete. This means you are likely doing the signature verification manually on the server side similar to how you are signing it manually on the client side. I'm not sufficiently familiar with WSE to be able to map the code directly to WCF. I did a bit of digging around on the internet and what you are doing is bordering on MessageSecurity and not TransportWithMessag

[2020-10-05 20:38] gaui commented on #4380
@mconnew Thank you very much. Here's an example SOAP message with the token redacted: https://gist.github.com/gaui/83ab22b9fd2e4cb6a544e649a319c8cc

[2020-10-05 21:06] mconnew commented on #4380
I've got a bit of bad news. Your scenario would cause a PlatformNotSupportedException to be thrown as it requires going down the same code path as full MessageSecurity does. But looking at how your message is signed, I believe we should have all the security primitives needed to support your scenario. Normally for your type of scenario a type of XML transform called STR-Transform is used which is

[2020-10-05 22:23] mo-esmp commented on #4293
I have installed `Microsoft.XmlSerializer.Generator` version `2.2.1` and also I added

[code]

to `.csproj` file but I got the following error message `Fail to generate the serializer for MyProject.dll.`

[code]

[2020-10-06 05:46] mconnew commented on #2472
@rogatec, are you using .NET 5? If so, which release are you using? There's been some bug fixes around trimming and DCS recently and I don't know if this is a new problem or and already fixed one.

[2020-10-06 06:24] rogatec commented on #2472
@mconnew no I am using .net core 3.1.402 / Host 3.1.8.

[2020-10-06 13:01] teunlielu commented on #4381
Is there a schedule for adding these languages ​​or not?
I sincerely hope so. This is very difficult.

[2020-10-06 13:20] CharlesMonk commented on #4381
As far as I can tell, there is currently no reason to expect that support for other languages will be added. All trends point in the opposite direction.

Matt's suggestion about making a wrapper DLL around the WCF client is really not so difficult, I think.

[2020-10-06 13:40] teunlielu commented on #4381
You can now still convert .net project to .net core project but or will work properly after .net 5

[2020-10-06 17:33] eerhardt commented on #2472
@rogatec - it sounds like you are running into a linker issue. Can you open an new issue for this scenario at https://github.com/mono/linker/issues/new?

It would be great if you had full repro steps describing how you got the issue. If possible, could you link to a project that you already have that shows the problem when you publish it? That would be the easiest for the linker team to investigat

[2020-10-06 18:06] gaui commented on #4380
@mconnew Thank you for this. I managed to create and sign the SOAP message by implementing `IClientMessageInspector` and the `BeforeSendRequest` function. Everything works perfectly when I copy the SOAP message into Postman and send it there, but it fails through .NET Core. The error message is the following:

[code]

Is it possible somehow to override the `Content-Type` HTTP header to `text/xml`

[2020-10-06 21:15] mconnew commented on #4380
The content type `application/soap+xml` is for SOAP 1.2 and `text/xml` is for SOAP 1.1. So your service is returning a SOAP 1.2 response. You can either modify your binding or create a new binding and setting the appropriate message version on the TextMessageEncodingBindingElement. I suspect the following binding should work for you:
[code]
If not, then use:
[code]
And use the `customBinding` when

[2020-10-07 20:23] adroit85 opened #4386 "WsTrustTokenParameters target property should of type "EndpointReference""
Currently target property is of type string and is ignored during conversion to SecurityTokenRequirement.

SecurityTokenRequirement expects the type to be of EndpointAddress.

[2020-10-07 22:30] sfoslund opened #4387 "TargetFramework logic insufficient for .NET 5"
With .NET 5 we are introducing a new style of target framework that includes target platform information (for example, net5.0-windows). This repo contains logic that will break with these new target framework and duplicated target framework logic.

Details:
- https://github.com/dotnet/wcf/blob/master/eng/TargetFramework.props#L5: TargetFrameworkIdentifier and TargetFrameworkVersion properties are

[2020-10-08 20:26] mconnew commented on #4386
It looks like we should remote the Target property as it's not actually used. I believe the endpoint address you use when creating the channel (either passed to ChannelFactory constructor or passed to CreateChannel) is what's ultimately actually used for the Target field of the WS-Trust request. I'll update with more info once this has been verified.

[2020-10-08 21:12] adroit85 commented on #4386
Hmm but what if target in auth token generation is different than the channel end point where the request is being made? Since auth audience a.k.a "target" is more generic in nature and channel end point is more specific. Is there any way to override target in securitytokenrequirement if it is different than channel endpoint?

Appreciate your help.

[2020-10-08 21:39] mconnew commented on #4386
I haven't tested it, but I would expect using manual addressing would achieve this. With manual addressing, you configure everything for how you want the SOAP message contents to reflect but then can override the actual Url that the transport sends the message to. I think the steps would be to turn on manual addressing then you would need to set the Via header using either an OperationContextScope

[2020-10-09 15:23] sfoslund commented on #4387
cc @mconnew

[2020-10-09 15:45] gaui opened #4389 "Specify WS-Addressing in a SOAP message different from endpoint address"
I'm working towards a WCF service (ASMX) that requires that the `wsa:To` header to be different from the endpoint address. They require `<wsa:To>urn:landskra-wse:thinglysingar_0303</wsa:To>` but the endpoint address is a HTTP URI.

Can this be achieved somehow?

This is how I initiate the SOAP client:

[code]

I use the `SoapHeaderBehaviour` to override `BeforeSendRequest` and manually signing the

[2020-10-11 10:09] lmiraMc commented on #4266
i'm having the same problem. i get null as result, did anyone solve this problem?

[2020-10-12 12:53] holatade commented on #3090
Hi PepekT am a newbie, but am getting/experiencing the same, how do i go about running this command, the project was deployed via azure devops. Would appreciate any help.

[2020-10-13 19:24] gaui commented on #4389
Closing this because the problem was related to `wsa` prefix on `Action` and `To` headers. I can't see this being an issue.

[2020-10-13 19:24] #4389 closed

[2020-10-14 03:55] Durgagithu commented on #3712
I am facing similar issue where I need to call webservice which sends and returns Dataset. How can this be resolved?

[2020-10-14 09:24] lotfi1008 opened #4418 "Error in add to.net core Console"
# Issue Title
when i want to add web service . visual stodio can view Interface and methods with warning
# Warning
There was an error verifying some XML Schemas generated during export:
Elements with the same name and in the same scope must have the same type.
There was an error verifying some XML Schemas generated during export:
Type 'http://schemas.datacontract.org/2004/07/System:IntPtr' is not

[2020-10-14 09:35] MihaMarkic opened #4392 "How to get string returned from a decorated method's return value with XmlElement attribute"
**Describe the bug**
Using BasicHttpBinding against web services server.
Can't get string return value from a web service when it is marked with `[return: System.Xml.Serialization.XmlElementAttribute]` decoration.

**To Reproduce**
Steps to reproduce the behavior:
I have an existing legacy webservice method implementation (simplified):

[code]
and calling it like

`var result = serviceClient.SendC

[2020-10-14 18:33] ssa3512 commented on #1655
@mconnew I pulled latest master and built the service model packages but can't get a reliable session one way call to work under netcore3.1. Getting this assertion:

[code]

Repro here:
https://github.com/ssa3512/wcf-reliable-sessions

With service host project running
`dotnet run -f net472 --project .\wcfasynctestclient\wcfasynctestclient.csproj` succeeds
`dotnet run -f netcoreapp3.1 --project .\

[2020-10-14 18:40] mconnew commented on #1655
@ssa3512, oops that's a bug. It should be an easy fix but it might be tight to get it in before we release the final build. I'll try, but if it doesn't make it into the final build, I'll get it out in the first patch release which should be a month later.

[2020-10-14 18:41] mconnew opened #4393 "OneWay functions with ReliableSessions doesn't work"
@mconnew I pulled latest master and built the service model packages but can't get a reliable session one way call to work under netcore3.1. Getting this assertion:

[code]

Repro here:
https://github.com/ssa3512/wcf-reliable-sessions

With service host project running
`dotnet run -f net472 --project .\wcfasynctestclient\wcfasynctestclient.csproj` succeeds
`dotnet run -f netcoreapp3.1 --project .\

[2020-10-15 04:43] mconnew commented on #1655
Fix is in PR #4395, it should get merged tomorrow.

[2020-10-15 20:03] #4393 closed

[2020-10-15 20:05] mconnew commented on #1655
@ssa3512, the fix is merged now. Can you try that out and confirm your issue is fixed.

[2020-10-15 20:51] ssa3512 commented on #1655
@mconnew Thanks - I verified it is working as expected now.

[2020-10-15 22:15] HongGit commented on #4368
Please open a VSFeedback Ticket with Visual Studio following [this instruction](https://docs.microsoft.com/en-us/visualstudio/ide/how-to-report-a-problem-with-visual-studio?view=vs-2019).

[2020-10-15 22:15] #4368 closed

[2020-10-15 22:16] #4375 closed

[2020-10-15 22:19] HongGit commented on #4377
@imcarolwang could try to submit a PR for this issue?

[2020-10-15 22:31] HongGit commented on #4392
@imcarolwang  could you try to see if you can setup a repro?

[2020-10-15 22:32] HongGit commented on #4240
@mconnew can you please comment?

[2020-10-15 23:10] ssa3512 commented on #2512
@mconnew just saw this and it may be of interest to an issue I ran into recently using async calls. You mention in the other issue

Can you provide a link to any sort of documentation about this switch or a description of what the app setting is to allow OperationContextScope to flow in client side async calls on Framework?

[2020-10-15 23:56] HongGit commented on #4237
push out to .NET 6.0, move this to .NET 6.0.

[2020-10-16 00:00] HongGit commented on #4387
This is probably fine because WCF has not been updated to .NET 5.0, we are still staying on .NET 3.0.

[2020-10-16 01:40] mconnew commented on #2512
I just discovered the documentation for this is pretty hard to parse as it's buried deep in a migration document. The easiest place to get info is actually this github issue: https://github.com/Microsoft/dotnet/issues/403

[2020-10-16 03:53] mconnew commented on #4377
This is now fixed

[2020-10-16 03:53] #4377 closed

[2020-10-16 06:20] HongGit commented on #4331
Feel free to re-activate if this is an issue.

[2020-10-16 06:20] #4331 closed

[2020-10-16 06:21] HongGit commented on #4338
Feel free to re-activate if this is still an issue.

[2020-10-16 06:21] #4338 closed

[2020-10-16 06:29] mconnew commented on #4240
@epignosisx, there is no extensibility for XmlSerializer to call a factory method to create an instance instead of newing one up. If you were using DataContractSerializer, there's a half solution you could do. If you use a surrogate provider, an instance would still be created when deserializing, but then it would get passed to the surrogate provider which can then provide the "real" instance. Tha

[2020-10-16 06:29] #4240 closed

[2020-10-16 07:49] MihaMarkic commented on #4392
@HongGit Will do, thought it was something obvious

[2020-10-16 08:49] MihaMarkic commented on #4392
@HongGit @imcarolwang I've created a [sample repro](https://misc.rthand.com/wcf_sample.rar).
It has two parts (ApsManager, .net framework server) and (ApsManagerClient, .net core 3.1 client).
First run the server and then the client. The later should output raw message but no string returned.

[2020-10-19 06:14] mconnew commented on #4386
We resolved this by removing the property. It wasn't being used by any code and was a remnant of the initial design phase.

[2020-10-19 06:22] #4386 closed

[2020-10-19 10:07] imcarolwang commented on #4392
@MihaMarkic , thanks for providing the sample repro.

I can get the returned result string when using client proxy code generated from running **"add->Connect Services->Microsoft WCF Web Service Reference Provider"** in the ApsManagerClient project targeting .net core 3.1. Can you give that a try and see if it works for you?

[2020-10-19 12:41] MihaMarkic commented on #4392
@imcarolwang Doing it with code generator does the trick, thanks. Thought it might be easier to just reuse the interface definition.

[2020-10-19 12:41] #4392 closed

[2020-10-20 03:49] #1959 closed

[2020-10-20 04:16] #4315 closed

[2020-10-20 04:17] #4329 closed

[2020-10-20 08:53] eaydemir commented on #3712
how can we do the opposite?

[2020-10-21 20:02] blitzlon commented on #3228
Hi, has there been any update to this issue? I have the exact same problem on Core 3.1. The issue has been open for 2 years, would really appreciate some positive feedback.

[2020-10-21 20:41] StephenBonikowsky commented on #3228
I believe this is planned for .NET 6, @HongGit and @StephenMolloy

[2020-10-22 08:53] AlpeshValvi123 commented on #2546
I have added these two packages from NuGet and its work for in .Net Console and MVC Core Web App but **not working MVC 5 web application**.
1. System.ServiceModel.Http
2. System.ServiceModel.Primitives

The application is just waiting for a response.

**So it's not supported for MVC 5 Application?**

[2020-10-22 08:58] AlpeshValvi123 commented on #2862
I have added these two packages from NuGet and its work for in .Net Console and MVC Core Web App but **not working MVC 5 web application.**

System.ServiceModel.Http
System.ServiceModel.Primitives
The application is just waiting for a response.

**So it's not supported for MVC 5 Application?**

[2020-10-22 18:05] diegonc opened #4412 "Error: The method or operation is not implemented"
I'm getting the error in the subject when importing a wsdl file. No code is generated and the wizard ends with "no .net core compatible endpoint found" (sorry, the error is in Spanish and I don't know the exact message)

I have no idea what in the wsdl file might be wrong. May I have someone give a look at it?

[Autenticacion.zip](https://github.com/dotnet/wcf/files/5424761/Autenticacion.zip)

[2020-10-23 15:37] xnlu commented on #1655
Hi when will this feature be available in NuGet? I just download the latest System.ServiceModel.NetTcp package, 4.8.0-preview3.20412.3. But reliable sessions implementation is not included yet. Thanks!

[2020-10-23 21:49] Durgagithu commented on #3712
Any luck with this issue?

[2020-10-24 02:31] mconnew commented on #1655
It will published to nuget at the same time .Net 5 is released which happens next month. I can't say more than that as I don't know if a more definite release date has been announced publicly yet and I don't want to be the guy to announce an internal schedule by mistake!

[2020-10-26 16:05] dsimanis opened #4414 "Not able to use dotnet-svcutil with .NET Core 3.1 framework on macOS"
**Describe the bug**
When running `dotnet-svcutil` on macOS 10.15.7 and .NET Core 3.1.9 it throws an error "It was not possible to find any compatible framework version".

**To Reproduce**
Steps to reproduce the behavior:
1. Run `dotnet-svcutil`.

[code]

**Expected behavior**
Want to be able to run `dotnet-svcutil` with .NET Core 3.1.

[2020-10-26 20:38] HongGit commented on #4173
From wsdl provided, this requires WebHttpBinding support, which is not available yet.

It seems that if you could remove the last two ports:
[code]

[2020-10-26 20:41] HongGit commented on #4171
@mconnew  ping?

[2020-10-26 20:51] HongGit commented on #4293
@mo-esmp this is likely a bug with Microsoft.XmlSerializer.Generator.  Have you tried the 5.0 version of Microsoft.XmlSerializer.Generator and see if the problem still repro?

[2020-10-26 20:52] #4022 closed

[2020-10-26 20:53] HongGit commented on #3987
@imcarolwang  can you please look into this implementation?

[2020-10-26 20:55] #4110 closed

[2020-10-26 20:55] HongGit commented on #3861
only UnitTest work left.

[2020-10-29 19:41] mconnew commented on #3860
@krispenner, you are using MessageSecurity with certificate authentication. Both the client and server are validating the other end using a certificate and then using those certificates to encrypt the communication. This is odd as you are also using an HttpsTransportBindingElement which will also encrypt the connection meaning you have redundant encryption. You are sending an encrypted message ove

[2020-10-29 22:37] HongGit commented on #4418
@lotfi1008  can you please provide your wsdl so we could look at the issue?

[2020-10-29 22:46] HongGit commented on #2541
@mconnew  could you please take a look?

[2020-10-29 22:54] HongGit commented on #4163
@mconnew can you please take a look when you get a chance?

[2020-10-30 03:09] krispenner commented on #3860
Thank you very much @mconnew, this is a great explanation. I'm going to take this back to them and see if they will change anything on their end based on your comments.

[2020-10-30 03:48] mconnew commented on #3860
If the server is a WCF server they should just be able to add another endpoint besides their existing one on a new url so existing clients will continue to work.

[2020-10-30 03:50] krispenner commented on #3860
Yes for sure, that is something I was also going to include in my suggestion. Thanks again, this is amazing help!

[2020-10-30 09:34] PimVendrig commented on #3712
To convert from `DataSet` to `ArrayOfXElement` I am using the following method:
[code]

And to convert from `ArrayOfXElement` to `DataSet`, I am using:
[code]

[2020-10-30 11:05] AlpeshValvi123 commented on #3565
Importing web service metadata ...
Number of service endpoints found: 0
Scaffolding service reference code ...
Warning:Warning: No endpoints compatible with .Net Core apps were found.
Updating project ...
Done.

**Getting this error while adding service(SAO WSDL) to the class library.**

[2020-10-30 22:33] jbermudezcabrera commented on #3750
@mottykohn did you manage to use the AOD service with Net Core? I'm facing the same issue now :(

[2020-11-01 15:16] mottykohn commented on #3750
@jbermudezcabrera Nope, I am running old .NET 4. I tried a couple of times to get back to it but could not figure it out.

[2020-11-02 19:20] mconnew commented on #3750
@jbermudezcabrera are you using the latest package version? If you are and are still getting the same exception message, can you provide the exception call stack? I'm not aware of any other places where this exception message is thrown from but I could be wrong.

[2020-11-02 22:34] The-MAZZTer commented on #4278
Sorry to post in a closed issue, but it looks like the latest release in 2.0.1 despite 2.0.03 being slated for earlier this year.

However as suggested users can work around this issue by temporarily commenting out PackageReferences that this tool does not like. Namely, it does not like the Microsoft.NETCore.App reference. This is probably only an issue in .NET Core 3, since the project version nu

[2020-11-02 23:03] jbermudezcabrera commented on #3750
@mconnew thanks for commenting, I'm using **.Net Core SDK v3.1.403** with **VS 2019 v16.7.7**, here is the stack trace:

`System.InvalidOperationException: Message getEmployeeTransferRatesByFileKeyRequest must not have headers to be used in RPC encoded style.
   at System.ServiceModel.Description.XmlSerializerOperationBehavior.Reflector.OperationReflector.LoadHeadersMapping(MessageDescription mess

[2020-11-03 07:17] ISTAnsver opened #4420 "ClientBase<TChannel> can't access Open method"
I've installed package `System.ServiceModel.Primitives` to my project. I can use `ClientBase<TChannel>` abstraction. But all accessible methods are:
![image](https://user-images.githubusercontent.com/33955147/97957103-5c538780-1dbb-11eb-9d6c-7f3f9a39d681.png)
I can't access `Open()` method and compiler complains on this.
I try to port an old .NET Framework library to .NET Core.
This is *.csproj co

[2020-11-03 07:44] julienGrd opened #4421 "[WCF Client/NET 5.0] Unable to have "Real" asynchronous Service"
Hello guys, I actually migrate a silverlight application to a blazor server app (actualli in .NET 5 RC2).
Originally, the silverlight accessed data through wcf services, and we keep this architecture (and wcf server in .NET 4.0) for the new app.

The way we call the services are however completely different between the silverlight and the blazor app
Silverlight
[code]

Blazor App
[code]

at this p

[2020-11-03 09:32] mo-esmp commented on #4293
It doesn't work with .NET 5.0 RC2 too.
[code]
I have updated [adp-sample](https://github.com/mo-esmp/adp-sample) project to .NET 5 and you can check it out.

[2020-11-03 18:54] cspital commented on #3247
@StephenBonikowsky

Hi, I'm curious how progress on this is going? I've been looking into this issue lately, as we have to integrate with a large (180k lines) auto-generated soap client for a vendor, and it seems like the JIT cost is correlated with the size of the Reference.cs file generated by the wsdl. In our current situation we have a few different class library projects, auto-generated via d

[2020-11-03 19:05] StephenBonikowsky commented on #3247
@cspital I'm on a different project now but @HongGit and @mconnew should be able to answer.

[2020-11-03 19:35] mconnew commented on #3247
Shipping ready2run pre-jitted images wouldn't help in this scenario. The delay is caused by reflecting over your interfaces and creating a Contract description for the service at runtime. I had a customer support issue for .NET Framework where they had over 100,000 operations on their service and it took nearly 2 minutes to do the reflection to create the Service description object at startup. I p

[2020-11-03 20:07] cspital commented on #3247
Thanks @mconnew this is really helpful.

I appreciate you taking a look, if you need some outside user to put the feature request together please do let me know, I am happy to do that.

Thanks again.

[2020-11-03 20:57] mconnew commented on #3247
I think I've found a way to do it. ChannelFactroy\<TChannel\> has an overload which takes a ServiceEndpoint which has the ContractDescription as a member. The problem is I'm crazy busy and backlogged on a lot of things and don't have the time to iterate on a prototype. There's also a possibility that not all the properties needed have been made public. I know that OperationDescription has some pro

[2020-11-03 21:25] cspital commented on #3247
Yeah @mconnew I'm happy to review what you have for framework and see what I can do for core although I haven't dealt with the concepts you mentioned before. Unsurprisingly I'm also crazy busy, so I can't guarantee any timeframe but I'd like to at least look at it and see if it's feasible. I assume this work is not related to this issue, should we create a new issue to track this work?

[2020-11-04 21:50] mconnew commented on #3247
I had to clean the code up a bit to remove pieces I couldn't release. You can find it [here](https://github.com/mconnew/Blog/tree/master/src/LargeContracts). I plan to write a blog post for it at some point which is why I put it in my Blog samples repo. I wasn't suggesting you implement a feature for WCF to ship on this, just that this would be a starting point to solve your own problem. If you ge

[2020-11-05 18:47] cspital opened #4424 "Support pre-caching ContractDescription during client generation"
Please add support for pre-caching the ContractDescription to improve first use performance on large SOAP clients.

## Background
When using dotnet-svcutil generated SOAP clients for the first time, the ContractDescription is generated via reflection. The amount of time spent in reflection is correlated with the number of operations and size of the source WSDL file. Pre-caching the ContractDescrip

[2020-11-07 14:30] mdora5251 commented on #1810
As far as I understand, I am thinking this just manipulate response part therefore it not possible send request with mtom coding. I already tried in code but message still going with soap+xml.

[2020-11-12 21:36] HongGit commented on #4418
We did not get your response within 14 days, close this out as not repro.

Feel free to reactivate if this is an issue, and please share your wsdl file.

[2020-11-12 21:36] #4418 closed

[2020-11-12 21:41] HongGit commented on #4420
thanks for reporting this issue!

We will address in coming releases.  In the meantime, you could workaround by casting to ICommunicationObject can calling close on the inerface.

[2020-11-12 21:42] HongGit commented on #4420
@imcarolwang  could you take a look and work on the implementation?

[2020-11-12 22:13] mjrousos opened #4425 "CreateWS2007FederationTokenParameters should default key type to symmetric"
**Describe the bug**

WSFederation and WS2007Federation token parameters should default KeyType to Symmetric. Currently, CreateWSFederationTokenParameters does this but [CreateWS2007FederationTokenParameters uses bearer](https://github.com/dotnet/wcf/blob/master/src/System.ServiceModel.Federation/src/System/ServiceModel/Federation/WsTrustTokenParameters.cs#L148).

As a workaround, WS2007Federation

[2020-11-12 22:16] mjrousos opened #4426 "WSTrustTokenParameters.CreateWS2007FederationTokenParameters should default KeyType to symmetric"
WSTrustTokenParameters.CreateWS2007FederationTokenParameters and WSTrustTokenParameters.CreateWSFederationTokenParameters should create token parameters with a default key type of symmetric. The WSFed version does this, currently, but [WS2007Fed is defaulting to bearer](https://github.com/dotnet/wcf/blob/master/src/System.ServiceModel.Federation/src/System/ServiceModel/Federation/WsTrustTokenParam

[2020-11-12 22:16] #4426 closed

[2020-11-12 22:17] mjrousos commented on #4426
Accidental duplcate of #4425 (the website didn't appear to create the issue correctly but when I tried again, I ended up with two!)

[2020-11-12 23:15] mconnew commented on #4421
Your difficulty is understanding how async await works. Basically when you have an async method using the await keyword, under the hood the compiler splits up the method into multiple blocks of code with each block being the code between awaits. When you await a method, it registers a callback delegate to execute once the async code has completed. So when you call `await myService.OtherServiceAsyn

[2020-11-13 06:24] julienGrd commented on #4421
@mconnew thanks for your response and your explanation.

I actually have pretty good comprehension of how async/await work. its not the problem here. The problem is wcf engine dont allowed me to call a service if another service is still "in progress".

by the way your solution with Continue With cant really work, because my method need a return value

[code]

Blazor webassembly cant make directly

[2020-11-13 06:34] imcarolwang commented on #4183
Closing, test project targets have been updated in https://github.com/dotnet/wcf/pull/4314/commits/092b35cff8da8f4c57152f55f0d6298bc7d95f52.

[2020-11-13 06:34] #4183 closed

[2020-11-13 08:07] ZhaodongTian opened #4428 "WCF Performance issue with NetTcpBinding"
In the perf testing run, the requests with nettcp binding become slow on .netcore platform comparing with desktop, the compared result is as below:

Targets | Scenario | CPU Usage(%) | Raw CPU Usage(%) | Working   Set(MB) | Channel Open   Time(ms) | First Request(ms) | Requests(5mins) | Request/sec
-- | -- | -- | -- | -- | -- | -- | -- | --
Netcoreapp3.1 | NetTcp | 24 | 97.70 | 61 | 270 | 694 | 25

[2020-11-14 02:06] ADefWebserver commented on #2824
I got this with a Blazor 3.1 app. Works fine locally, but, when deployed to Azure I get:

System.IO.FileNotFoundException: Could not load file or assembly 'System.Private.ServiceModel

To fix it, in the Publish Profile, in Visual Studio, I changed the Target runtime from win-x86 to portable

[2020-11-16 06:55] ChrisIsidora commented on #2265
Is this implemented in .NET 5.0?

[2020-11-17 18:21] pmiddleton opened #4431 "Visual Studio 16.8 breaks SvcUtil build targets"
We are using the dotnet-avcutil.xmlserilizer package in our solution to build xml serializes for a 3rd party wcf service we consume.  We just upgraded our version of Visual Studio to 16.8 and are now receiving the following two build errors.

Error	MSB4063	The "ResolvePackageAssets" task could not be initialized with its input parameters.

Error	MSB4064	The "TargetFrameworkMoniker" parameter is no

[2020-11-17 19:03] osipovas commented on #4414
I ran into the same issue today. The documentation here: https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x seems to indicate that it should work with later versions.

![image](https://user-images.githubusercontent.com/3442121/99435083-e11ac700-28cc-11eb-9faf-050add847d21.png)

[2020-11-17 22:34] bogdanmaxim commented on #4414
It doesn't. Here is my output on dotnet core 5:
[code]

[2020-11-18 17:00] yalin78 commented on #4431
Any luck with this? I am also facing similar issue my project is .net core 2.1

[2020-11-18 17:50] pmiddleton commented on #4431
Not much luck.

It turns out the build team renamed the TargetFrameworkMoniker to just TargetFramework.  I tried updating the targets file and that gets me past those two errors.  However now a new error appears.

Error NETSDK1005	Assets file 'c:\......\obj\project.assets.json' doesn't have a target for '.NETStandard,Version=v2.0'. Ensure that restore has run and that you have included '.NETStanda

[2020-11-18 17:56] kfrancis commented on #2265
Doubt it, wcf isn't part of the framework anymore - it's separate.

[2020-11-18 18:30] yalin78 commented on #4431
Thanks for your help. But I edited target framework as below for xml serializer target as per your suggestion and it started working.

TargetFramewok="netcoreapp2.1"

and it started working.

[2020-11-18 21:18] chriszumberge commented on #3653
@MaxiPigna I tried your suggestion but got the error,

If I use any other security mode the server tells me I have an invalid username and password.

[code]
where
[code]

If I set a breakpoint at ```return message;``` in your ```CustomMessageEncoderFactory.AddSecurityHeader(Message message)``` method, the message at that point is the correct response from the server.. it's like the client sees the

[2020-11-19 12:08] golayp commented on #3228
sadly doen't work on my project...

[2020-11-19 19:04] osipovas commented on #4414
I was able to work around this by downloading a 2.1.x version of the .NET Core SDK. The exact version I downloaded was 2.1.300 from this page: https://dotnet.microsoft.com/download/dotnet-core/2.1

[2020-11-19 20:00] dsimanis commented on #4414
All of our systems are at 3.1 since long ago. The current release is 5.0. 2.1 capabilities for us are not enough.

[2020-11-19 21:36] mconnew opened #4434 "TransportWithMessageCredentials with security session over HTTP should use a single connection pool"
**Describe the bug**
TransportWithMessageCredentials with HTTP when using EstablishSecuritySession, 2 instances of ChannelFactory are used. One is used to establish the SecureConversation, the second is used to make service calls using the Secure Conversation Token. These two instances need to share an HttpClient instance due to problems with multiple servers behind a load balancer.

[2020-11-19 21:37] ssa3512 opened #4435 "Continuously degrading performance in repeated one-way calls (S.SM 4.8, netcore3.1)"
**Describe the bug**
When calling a one way service with reliable sessions repeatedly, the time to make the call continually increases on the client side.

**To Reproduce**
Steps to reproduce the behavior:
https://github.com/ssa3512/wcf-reliable-sessions/tree/perf-repro
1) Run the wcfasynctestservice project
2) From wcfasynctestclient directory run `dotnet run -f netcoreapp3.1`
Observe the call ti

[2020-11-20 10:46] jfwrightuk opened #4439 "http_proxy and https_proxy not recognised on Linux"
Hi, I'm using .NET Core 3.1 and System.ServiceModel.Http 4.8.0 to connect to an existing SOAP web service behind a proxy using a BasicHttpsBinding with UseDefaultWebProxy set to true.

On Windows, I can set HTTPS_PROXY to an address and this is picked up by the binding's default web proxy.

On Linux, I've tried setting HTTPS_PROXY and HTTP_PROXY and lower-case equivalents and none of these are pic

[2020-11-21 01:59] #4425 closed

[2020-11-22 17:43] popsovy opened #4442 "WCF throttles requests"
I need to maintain an older service that's written in WCF. The issue is that when load testing the service, WCF appear to serialize the calls. On average each call takes around 250 ms on the server side, simulated with "await Task.Delay(250)" in the test project below. If I send one request, it completes in a little over 250 ms. If I send 10 requests, the first few complete right away but then oth

[2020-11-22 19:55] popsovy commented on #4442
This was a client side issue -- I had to do client.Open() before executing multi-threaded calls to the service.

[2020-11-23 23:33] ajarrott commented on #4431
Had the same issue, using a different framework for a class library (netstandard2.0), consolidating the other comments into this response:

- Open [YourLibrary].csproj file and get the value in the **TargetFramework** tag
- Open [Project] -> Dependencies -> Packages -> dotnet-svcutil.xmlserializer
  - Rename **TargetFrameworkMoniker** attribute to **TargetFramework**
  - Replace **$(NuGetTargetMon

[2020-11-24 19:13] yanosky commented on #3228
Change:
[code]
To
[code]

[2020-11-24 19:14] yanosky commented on #3228
Change:
[code]
To
[code]

[2020-11-25 17:18] maxhamulyak opened #4448 "FaultException implements Serializable but does not use serialization constructors"
**Describe the bug**
As part of #3984 FaultException was marked Serializable which was released in System.ServiceModel.Primitives 4.8.0
However I am still not able to use the use case as described by Wouter. Using code that serializes FaultExceptions using remoting. After updating my dependency on System.ServiceModel.Primitives I still receive the stack trace

[code]

As far as I can tell that is

[2020-11-26 07:01] imcarolwang commented on #4420
Fix is merged, closing issue.

[2020-11-26 07:01] #4420 closed

[2020-11-26 07:52] imcarolwang commented on #3987
This is now fixed, closing issue.

[2020-11-26 07:52] #3987 closed

[2020-11-26 14:31] richamo opened #4449 "net5.0 on non-windows System.ArgumentNullException at System.Threading.Overlapped.Free"
**Describe the bug**
After upgrading our application to .net5.0 we experience regular exceptions on linux docker containers with the stack below

[code]

**To Reproduce**
.net5.0 application calling an external resource through WCF generated client code wsdl [here](https://s7sps3apissl.scene7.com/scene7/IpsApi-2014-04-03.wsdl)
running in linux docker container

**Additional context**
We highly sus

[2020-11-26 16:24] gmihaescu commented on #4363
@devblaster - are you sure that you're not inspecting the WCF client in the debugger?
![image](https://user-images.githubusercontent.com/62328498/100374133-154c6100-300c-11eb-829c-4135316ed868.png)

When doing so the debugger needs to evaluates the properties, some throw and put the channel in Faulted state.
Quantum mechanics stuff: by looking at the object you alter its state.

[2020-11-27 16:10] stevenlupo commented on #2824
I'm getting this now with .NET Core 3.1.

@ADefWebserver I don't have an option for _Portable_ in the dropdown.

[2020-11-30 08:00] maxhamulyak commented on #4448
@StephenBonikowsky @mconnew @HongGit since you were the main contributors on the original issue, can you share your insights if this should also be fixed?

My guess is that since we are serializing the FaultException the constructor should also be implemented

Thanks,
Max

[2020-11-30 08:24] jnyrup commented on #4448
Here's a complete repro that shows the difference between using:
* reference assembly in net472, and
* nuget package in netcoreapp3.1

[FaultExceptionTests.zip](https://github.com/dotnet/wcf/files/5614545/FaultExceptionTests.zip)

[2020-11-30 08:28] maxhamulyak commented on #4448
@jnyrup  Cool thanks for Sharing.

I also just created a quick example

[code]

The above example demonstrates that both using BinaryFormatter and DataContractSerializer serialization appears to be working.
In all cases deserialization fails on the PlatformNotSupportedException.

Since our use case is to serialize the exception between services and then recreate them by deserializing to again have

[2020-11-30 08:48] nalincb commented on #1810
Recently we wanted to upload files to a WCF service (which used MTOM encoding) from a .NET Core 3.1 client. Below is what worked for us at the end. Hope this will help someone.

[code]

[2020-11-30 09:57] maxhamulyak commented on #4448
For completeness I also checked CommunicationException

[code]

It also throws the PlatformNotSupportedException, I was not able to quickly find the dotnet repo containing the Exception class it self.

I can image this *could* be an issue.

Love to hear what you think about this issue :-)

[2020-11-30 11:20] jnyrup commented on #4448
@maxhamulyak
`Exception.cs` https://github.com/dotnet/runtime/blob/master/src/libraries/System.Private.CoreLib/src/System/Exception.cs

[2020-11-30 12:20] maxhamulyak commented on #4448
@jnyrup Thanks, but that is interesting. That one is correctly serializable. Which would make it possible to implement the constructors in both FaultException and CommunicationException and stuff like binary serialization wil work again :-)

[2020-11-30 17:52] ssa3512 commented on #4435
@mconnew are you able to take a look at this to at least let me know if there is a possible workaround? Right now this is going to be completely unworkable. I let this run for just a few days and the execution time goes from 10ms to around 40 seconds. Something seems to be going on that is taking increasing amounts of CPU time with each call. Below is the CPU graph of my functions app from app ins

[2020-12-01 11:24] BogdanovKirill commented on #4449
Same issue with System.ServiceModel.Http 4.8 and System.ServiceModel.Primitives 4.8 packages. Downgrading to 4.7 could avoid this bug.

[2020-12-01 12:32] andersonaap commented on #1810
@nalincb, should it be?

`var binding = new CustomBinding(mtomMessageEncoderBindingElement, transportBindingElement);`

it works for me.

[2020-12-01 13:46] JSCProjects opened #4454 "With net48 you can read from the ProtocolException.InnerException the response stream. This is not possible in netcoreapp3.1"
We have services (not in my control, written in Java for example) where we connect with wcf and when these services return a HttpStatus Code 400 with a soapfault. Your where able to catch te ProtocolException and read the soapfault via the inner exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a SOAP Service which returns SOAP-Faults and status code 400
2. Build soap cl

[2020-12-01 23:21] nalincb commented on #1810
@andersonaap , yes that was a mistake and I updated code. Cheers.

[2020-12-02 14:58] maxild commented on #3224
P3 (`priority 3`) does that mean the --serviceContract feature will not be ported from the desktop svcutil tool in near future?

[2020-12-03 10:40] airhawk777 commented on #1810
Is there ETA on this one?
We are trying to do some long term planning and are keen to move to .NET 5, but this is looking like the only impediment. Changing the server is not an option since its a government service that we consume and have no control over.
Issue is three years old and made 'Priority 1' nine months ago, but it looks like there has be no traction in that time. Is Microsoft committi

[2020-12-03 10:44] RealHabix commented on #1810
Milestone
6.0

[2020-12-03 18:18] itsalexjones opened #4456 "Duplex netTcp Service Callbacks Not Called"
**Describe the bug**
I am accessing a third party WCF service from dotnet core 3.1 via a service reference generated in Visual Studio.
This service produces an 'OnChanged' callback to notify that items in the third party system have changed. This works fine in .NET Framework, but I cannot make it work in .NET Core 3.1.
I have tried both using the ClientBase class and the Client class that contains

[2020-12-03 19:39] mconnew commented on #1810
As @RealHabix pointed out, the plan is to have this work completed for the release which aligns with the .NET 6 release. Note that we still only depend on netstandard 2.0 so we won't have a requirement of .NET 6 to use it. All currently supported versions of .NET/.NET Core support netstandard 2.0 so there shouldn't be forced to update your application to use it. This will continue to be our plan u

[2020-12-03 22:01] yalin78 opened #4457 "which version of nuggett package should use for dotnet-svcutil.xmlserializer to upgrade my project to .net core 3.1"
Hello,

I am currently using dotnet-svcutil.xmlserializer 1.2.0 for my project which is running under .net core 2.1. Currently I am working on upgrading my project to .net core 3.1 and it is breaking with xmlserializer 1.2.0  with following errors.

1>Load Assembly From C:\Users\npatel\.nuget\packages\system.private.servicemodel\4.8.0\lib\netstandard2.0\System.Private.ServiceModel.dll
1>Successful

[2020-12-04 07:18] imcarolwang commented on #4115
Tried the latest release, behavior of --outputDir is now aligned with the help document:

Closing issue.

[2020-12-04 07:18] #4115 closed

[2020-12-04 09:18] salarzobir commented on #3230
@mconnew i have an exception in my code but not sure what is wrong with this code
[code]
[code]
`services.AddHttpClient("ClientName");`

Exception details:

[code]
NOTE: I dont get any exception when I dont use `CustomEndpointBehavior`

[2020-12-04 09:33] mconnew commented on #3230
It's not working because you are outright replacing the HttpClientHandler that WCF gives you. This line:
[code]
Combined with these lines:
[code]
Results in HttpClientHandler.Credentials being populated with an instance of CredentialCache which holds a NetworkCredential for that username and password configured to for use with the "Basic" auth scheme. You then replace the HttpClientHandler with a

[2020-12-04 14:05] salarzobir commented on #3230
@mconnew thank you very much for reply and advices.
How to set the passed HttpClientHandler Credentials to the newly created handler?

[2020-12-04 15:04] yalin78 commented on #4457
Can someone please help with this?

[2020-12-05 01:55] mconnew commented on #3230
You use the IHttpClientBuilder returned from AddHttpClient like to set your own properties on the HttpClientHandler like this:
[code]
Docs are [here](https://docs.microsoft.com/en-us/aspnet/core/fundamentals/http-requests?view=aspnetcore-5.0#configure-the-httpmessagehandler).

This is the simple form which is probably sufficient for your use case. WCF uses a CredentialCache instead of NetworkCrede

[2020-12-05 07:03] salarzobir commented on #3230
In our use case we have different wcf credentials per user, this means I cant add the credentials on ConfigurePrimaryHttpMessageHandler.

The main reason for me to use IHttpClientFactory is reuse the HttpClient and prevent socket exhaustion, in our project we have about 30 different wcf endpoints and used by about 210k users very much.

[2020-12-05 08:52] mconnew commented on #3230
As you are using Basic auth, it might be easier for you to just add the authentication header yourself. This way you can use a single ChannelFactory instance for all users. The basic auth protocol is simply add an `Authentication` header with the value `Basic [base64encode(username:password)]`. So for example, if your username is `bob` and your password is `ShhItsASecret`, you would base64 encode

[2020-12-08 06:41] Heiviance commented on #4279
I encountered the same error,but mine is  .NetCore 3.1,
I can't even install dotnet-svcutil...

[2020-12-08 07:49] imcarolwang commented on #4279
How do you install dotnet-svcutil? Did you follow [this guidance](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) to use dotnet-svcutil command line tool? What kind of error did you get when installing dotnet-svcutil? Fix of the UI tool is pending release but the command line tool should work.

[2020-12-08 16:30] yalin78 commented on #4457
Can someone please help with this?

[2020-12-09 03:51] imcarolwang commented on #4359
`-projectFile` option is not supported in the context to `--update` a service. The recommended usage of the feature is to go to directory which contains the project file and run the update command. For example, in your case:

[code]

`<web service reference>` is folder name which contains the generated proxy code, it's optional if you have only one service to be updated.

Sorry for the confusing.

[2020-12-09 07:34] emilwkarlsson commented on #3264
Experiencing the same as @Jean-Marc1 in VS2019 16.7.3

[2020-12-10 08:52] oguzhankahyaoglu commented on #4359
This does not work definitely. No matter what I have tried, it did not work.
I had a project structure (.netcore3.1) like this:
-Clients.SatSasDetailService\
----Connected Services\
--------ZMM_SAT_SAS_DETAILService\
-------------Reference.cs
-------------ConnectedService.json
----Clients.SatSasDetailService.csproj

Could you give me some ides how can I update this exisiting wsdl service reference

[2020-12-10 09:35] imcarolwang commented on #4359
@oguzhankahyaoglu  looks like you're using WCF Connected Service tool from Visual Studio to generate the service reference, in this case you should be able to update the service via right clicking service name "ZMM_SAT_SAS_DETAILService" from the project tree and select `"Update Microsoft WCF Web Service Provider..." `from the menu list to update the service reference.

[2020-12-10 10:49] oguzhankahyaoglu commented on #4359
Hello @imcarolwang , in fact, we created that client using VS months ago. Now we are not using any VS for development purposes. I tried dotnet-svcutil tool and generated new client and saw that output of json files (including names) are different.
That was the problem imo, for my case at least.

Here are the arguments that I've used generating client:
cd "Clients.SatSasDetailService\"
dotnet-svcut

[2020-12-10 22:08] mconnew opened #4461 "WSTrustChannelSecurityTokenProvider doesn't implement an async version of GetTokenCore"
**Describe the bug**
SecurityTokenProvider has async versions of GetTokenCore to provide an async implementation. WSTrustChannelSecurityTokenProvider should implement this and make the request to the STS using an async request.

[2020-12-10 22:11] HongGit commented on #4442
Glad that your issues is resolved.

[2020-12-10 22:11] #4442 closed

[2020-12-10 22:15] HongGit commented on #4448
@mconnew  can you please take a look at this one?

[2020-12-10 22:24] HongGit commented on #4456
@imcarolwang can you please try to see if you can repro this?

[2020-12-10 22:36] mconnew opened #4462 "Memory leak in WSTrustChannelSecurityTokenProvider.GetTokenCore"
**Describe the bug**
WSTrustChannelSecurityTokenProvider.GetTokenCore creates an instance of a channel and makes a request. The channel doesn't get closed and no persistent reference is kept by WSTrustChannelSecurityTokenProvider. The ChannelFactory maintains a reference to all opened channels and is the channel hasn't been closed, the ChannelFactory continues to root the object. This will result

[2020-12-10 22:39] mconnew commented on #4449
You're right, I got the logic backwards on the cleanup code in ScheduledOverlapped.Cleanup. Is this causing a process crash or is it an annoyance when debugging/logging?

[2020-12-11 08:06] mconnew commented on #4454
The reason why there isn't an inner exception is because HttpClientHandler doesn't throw an exception for non-200 responses. It simply replies with an HttpResponseMessage with the appropriate response code.  This is the more correct way to do things because receiving a non-200 response isn't an exception from an HTTP Protocol point of view. It's only an error at the application level that's interp

[2020-12-11 10:23] BogdanovKirill commented on #4449
@mconnew
unexpected crash :(

[2020-12-13 02:00] Astronought opened #4463 "Unit testing a WCF service interface that uses TransactionFlowAttribute"
Hi,

I have a unit test project that targets .Net Core 3.1, I'm using the MOQ framework to create mock instances of remote services, one such service happens to be a WCF service.

The issue I'm having is that several of the methods in the WCF service's interface are decorated with transaction flow attributes, when MOQ attempts to instantiate a mock object using this interface I get an exception be

[2020-12-14 21:13] mconnew opened #4464 "Create package for System.Web.Services.Description"
Both dotnet-svcutil and CoreWCF (needed to add WSDL support) have a dependency on the types in the System.Web.Services.Description namespace. The types in this namespace are object model classes and serializers for WSDL schema. Rather than have both projects maintain their own internal clone of this implementation (which dotnet-svcutil does today), we should have a public package containing these

[2020-12-15 18:49] yalin78 commented on #4457
Any updates on this?

[2020-12-16 08:56] drdamour commented on #26
what about just starting with an extension method that does it the best practice way?

[2020-12-16 09:56] drdamour commented on #2351
@mconnew  know i'm doing evil thread zombie stuff here...but is there a reason the channel factory you mentioned is ChannelFactory<IService>  and not ChannelFactory<IServiceChannel> as IService often does not implement ICommunicationObject but IServiceChannel does (from svcutil proxy generation)?

[2020-12-16 22:59] mconnew commented on #4454
I'm going to close this issue. If my suggested solution doesn't work for you, feel free to reopen.

[2020-12-16 22:59] #4454 closed

[2020-12-17 00:51] #4449 closed

[2020-12-18 01:43] mconnew opened #4467 "dotnet-svcutil tests fail because of test service hostname changes"
Recently we re-provisioned our test servers with different hosts names. The dotnet-svcutil tests are hard coded to connect to http://wcfcoresrv5.cloudapp.net which no longer exists. The ideal solution would be to make them follow the same method as the WCF scenario tests. The WCF scenario tests by default expect to use a service instance that is running locally. This can be overridden with the Ser

[2020-12-18 01:45] mconnew commented on #4467
@imcarolwang, can you look into this issue. I suspect you'll probably end up just updating the hard coded hostnames, but could you look to see if it's a smallish work item to do the correct fix?

[2020-12-18 07:37] imcarolwang commented on #4467
@mconnew , I go with the short term solution, test will use environment variable ServiceUri, if it's not set the default value is hard coded with wcfcoresrv5.westus2.cloudapp.azure.com/WcfTestService1.  ServiceUri build parameter doesn't work with the fix.

[2020-12-18 07:52] fptkolodziejczyk opened #4469 ".netstandard 2.0 - support for TransportWithMessageCredential in BasicHttpsBinding"
Hello,
question especially to @mconnew or everyone. I want to ensure that we have support for TransportWithMessageCredential in BasicHttpsBinding (not BasicHttpBinding) in .netstandard 2.0.

In this site we can see support for BasicHttpBinding, but I'm guess that we have support also for BasicHttpsBinding.
https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.0.0.md

This co

[2020-12-18 20:49] mconnew opened #4472 "Disable running dotnet-svcutil tests at the command-line by default"
When trying to run ServiceModel tests by using `build -test -testscope all`, the dotnet-svcutil tests get executed too. These tests take a long time to execute. The dotnet-svcutil-lib tests were running for more than 30 minutes before I stopped the test run. This is making it really difficult to iterate on ServiceModel code.

[2020-12-18 21:39] mconnew commented on #4467
@imcarolwang, you missed a bunch of places so I've created another PR #4473. This still isn't enough as there are baseline files created to compare the generated source against. I've updated them using simple find/replace, but that isn't totally sufficient. If a code line is too long, the code generation truncates a string and places the rest of it on the next line and concatenates the strings. No

[2020-12-18 22:00] HongGit commented on #4472
@imcarolwang can you please take a look?

[2020-12-19 22:00] yogitubadzin commented on #4469
@mconnew any news about this topic?

[2020-12-21 01:19] imcarolwang commented on #4467
The dotnet-svcutil tests itself takes about 40 minutes to execute, I tested the fix of PR #4468 with command line below and it passed locally.
`eng\common\cibuild.cmd -configuration Release -projects dotnet-svcutil.sln -prepareMachine -- /p:Sign=false /p:Test=true /p:IntegrationTest=true /p:Pack=true /p:Publish=true`

The string truncates change part of the fix looks ugly while it did work. For no

[2020-12-21 08:05] imcarolwang commented on #4472
Way to run ServiceModel test without executing dotnet-svcutil tests:
1. Specify -projects parameter in commandline:
_build -configuration Release **-projects System.ServiceModel.sln** -test -testscope all_

2. Update dotnet-svcutil-lib test project name to anything NOT end with .Tests

@mconnew do you think any of the work arounds above is an acceptable solution?

[2020-12-21 10:25] struce2 opened #4475 "how throw untyped faultException"
I want return an faultException to set the detail content, when i use faultException<TDetail>, the result is
[code]

the SystemFault code
[code]

but i expect return
[code]
if i use faultException(), it don't hava detail node,  what should i do?
thanks

[2020-12-21 10:33] #4475 closed

[2020-12-21 10:33] struce2 opened #4476 "how throw untyped faultException"
hello, I want return an faultException to set the detail content, when i use faultException<TDetail>, the result is
[code]

the SystemFault code
[code]

but i expect return
[code]
if i use faultException(), it don't hava detail node,  what should i do?
thanks

[2020-12-21 11:24] fptkolodziejczyk commented on #4469
@mconnew any news on this topic? This is very important to my client.

[2020-12-21 13:12] Vimal-Asir commented on #2824
Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.1.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

hai , iam doing one kyc application , here i have connected with web services of ndml registration .my project in developmennt its working fine . when i tried to access web services after deploying iam facing this type of issu

[2020-12-21 13:16] Vimal-Asir commented on #2824
Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.1.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

hai , iam doing one kyc application , here i have connected with web services of ndml registration .my project in developmennt its working fine . when i tried to access web services after deployment iam facing mentioned above

[2020-12-23 06:43] safayatzisan commented on #4363
Any update on this regard? I am facing this as well.

[2020-12-31 17:48] rutriff commented on #4431
There will be any fixes without this hacks?

[2021-01-04 19:43] mconnew commented on #4469
Sorry for the slow reply, I was taking a much needed break over the Christmas holiday. That's a bug for that binding, but you can still do what you want using BasicHttpBinding, just pass an https address to the channel factory. We have [tests](https://github.com/dotnet/wcf/blob/a03363d435b100b2113071e517f4b9a71524def3/src/System.Private.ServiceModel/tests/Scenarios/Binding/WS/TransportWithMessageC

[2021-01-05 11:31] fptkolodziejczyk commented on #4469
Thank you very much for you response @mconnew  :) It was very helpful!

[2021-01-05 11:40] fptkolodziejczyk commented on #4469
@mconnew Are you planning to fix this bug BasicHttpsBinding with BasicHttpsSecurityMode.TransportWithMessageCredential in any version of .net standard?

[2021-01-05 23:22] mconnew commented on #4475
You need to create a custom [FaultConvertor](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.channels.faultconverter?view=dotnet-plat-ext-5.0)

[2021-01-06 01:58] struce2 commented on #4475
Thinks

[2021-01-06 01:59] struce2 commented on #4475
thinks

[2021-01-06 13:17] Dimigergo opened #4482 "NetTcpBinding throws PlatformNotSupportedException .Net Core 3.1"
Hello!

Windows: Win10 x64 Pro 20H2

I have a .NET Standard 2.0.3 project called MLR.Components.WCF.Client with System.ServiceModel 4.8.0 dlls.
![wcf_1](https://user-images.githubusercontent.com/11498949/103771217-95141500-5027-11eb-853b-8a9470fdbe47.png)

When I run from a .NET Framework 4.7.2 project, everything is works fine, but when I start a .NET Core 3.0/3.1 project including this library,

[2021-01-06 15:09] Benjiinator opened #4483 "Client wsHttpBinding to CustomBindings in .Net 5.0"
I'm in the middle of migrating a .Net framework client application to .Net 5.0.

I want to make a .Net 5.0 WCF client that works with our production .Net framework WCF service (wsHttpBinding)
It appears that wsHttpBindings are not supported since .Net Core, however i have found similar issues (#31) claiming to be able replace them with customHttpBindings but i have been unable to get it working.

[2021-01-07 02:38] #4476 closed

[2021-01-07 04:46] jumpingjackson opened #4484 "DisposeAsync support"
**Describe the bug**
jumpingjackson @jumpingjackson Dec 04 2020 14:55
Does Dispose() on the new WCF client clean up properly? The old client you had to this https://docs.microsoft.com/en-us/dotnet/framework/wcf/samples/use-close-abort-release-wcf-client-resources

Matt Connew @mconnew Dec 06 2020 12:32
We've kept the same behavior as desktop. This is definitely something worth visiting. I don't th

[2021-01-07 21:24] HongGit commented on #4463
WCF can not support TransactionFlowAttribute sue to System.Transactions on .NET Core lacking distributed support at the moment.

[2021-01-07 21:25] #4463 closed

[2021-01-07 21:28] HongGit commented on #4469
@imcarolwang  could you please take a look and see if you could fix this?  In the meantime, we probably should also looking into add test coverage to this (copy the existing test for BasicHttpBinding)

[2021-01-08 01:28] mconnew commented on #4483
We do support WSHttpBinding, but not every feature available through that binding is supported. The binding config for your server side isn't using any of those features so should work without a problem. You should be able to use:
[code]

[2021-01-08 08:44] Benjiinator commented on #4483
@mconnew Thanks for replying!
When attempting with this binding i get the following error:
`
A reply message was received for operation 'MyMethodName' with action 'http://schemas.microsoft.com/net/2005/12/windowscommunicationfoundation/dispatcher/fault'. However, your client code requires action 'https://www.*.com/services/ISchoolSync/MyMethodNameResponse'.
`

I was unable to find much about this

[2021-01-08 12:36] Benjiinator commented on #4483
@mconnew It seems my endpoints that does not use custom bindings does work with your suggestion.
However i do have a few much needed endpoints that do use custom endpoint behavior, they trigger the error mentioned above - is it possible to use custom endpoint behavior in .Net 5.0? - this all worked in .Net framework.

My client looks like this when configured for the behavior:
[code]

[2021-01-08 13:22] Erikvdv opened #4487 "MessageEncoding missing in WSFederationHttpBinding"
I am using System.ServieModel.Federation 4.8.0
It is not possible to define MessageEncoding in WSFederationHttpBinding
I am looking to use WSMessageEncoding.Mtom in a dotnet 5 project

[2021-01-08 20:09] mconnew commented on #4483
That code to add a behavior should work. We support adding behaviors to the client.
I'm surprised you couldn't find anything about that error message as it's a simple enough issue. Every SOAP message has an Action header which basically says what method/operation the message is for. It looks like you have set the ReplyAction property on your OperationContract attribute to be `https://www.*.com/ser

[2021-01-08 21:55] mconnew commented on #4487
MTOM isn't supported yet. It's currently planned to be added with the release that aligns with .NET 6 (although we won't require .NET 6 to use it).

[2021-01-12 05:46] ferrarimartin commented on #4457
I've tried this as a workaround, and it worked (for me) on my Windows machine:
- Go to C:\Users\<your user>\.nuget\packages\dotnet-svcutil.xmlserializer\1.2.0\lib\netcoreapp2.1
- Edit dotnet-svcutil.xmlserializer.runtimeconfig.json
- Change tfm and version to match the .net core version your building for.
- Build.

Got the workaround from this similar issue: https://github.com/dotnet/runtime/issue

[2021-01-12 13:35] fptkolodziejczyk commented on #4469
@mconnew, @HongGit, @imcarolwang
I have similar problem when I don't pass any bdinding to constructor which inherits after System.ServiceModel.ClientBase.

[code]

This is another bug?
Please see screenshot and look into line 226.

![2021-01-12_14h29_18](https://user-images.githubusercontent.com/73098587/104320483-adca7200-54e2-11eb-94b8-f678f55f066d.png)

If I good understand your code, you requi

[2021-01-13 08:13] zhanglong19891129 opened #4493 "The HTTP request was forbidden with client authentication scheme 'Basic'"
`
var address = new EndpointAddress(@"url");
            var binding = new BasicHttpBinding(BasicHttpSecurityMode.TransportCredentialOnly);
            binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Basic;
            var client = new ZSALFM036PortTypeClient(binding, address);
            client.ChannelFactory.Credentials.UserName.UserName = "username";
            clie

[2021-01-13 08:59] Kalyxt commented on #2463
Just run into this issue, is there any solution ?

Error in deserializing body of request message for operation 'LoginUser'.

[2021-01-13 09:37] saisworld opened #4494 "Error:An unknown error occurred while invoking the service metadata component. - Net core 3.1"
**Describe the bug**
I'm getting error "_Error:An unknown error occurred while invoking the service metadata component_." when I try to add a Connected Service to a .Net core 3.1 class library project

My Visual studio version details -
Microsoft Visual Studio Professional 2019
Version 16.7.6

I tried using the dotnet-svcutil via terminal as well and it failed with error - _"Error: Method 'Log' in

[2021-01-13 14:00] Benjiinator commented on #4483
@mconnew I was unable to get custom endpoint behavior working and decided to replace the 2 wcf calls i had that used it.
Closing the issue as i'm past it, thanks for the help though - it is greatly appreciated.

[2021-01-13 14:00] #4483 closed

[2021-01-13 23:26] jeffhube opened #4496 "OutOfMemoryException during async WCF call is swallowed causing hang"
**Describe the bug**
When awaiting an async WCF call, if the server returns a response large enough that the client throws an OutOfMemoryException when trying to read it, then the exception seems to be swallowed and the client will hang at the await forever.

**To Reproduce**
Unfortunately I don't currently have a sample to reproduce this, but I have the call stack of when the OutOfMemoryException

[2021-01-14 19:00] MrTovson opened #4498 "Unsure How to Proceed With Error: The method or operation is not implemented."
I've spent a few days researching why I can't work with a vendor's service in .NET Core 3.1.  The service works fine in .NET 4.5.2.

In the end, only 1 of the 2 bindings are generated: WS binding.  In 4.5.2 we are successfully using Basic, which is not generated.

I suppose my question is two-fold:
1. What isn't supported by this relatively simple SOAP service
2. Are there any known workarounds?

[2021-01-14 19:01] erikbra opened #4499 "Cannot compile with System.Private.ServiceModel (or: Usage guidance on System.Private.ServiceModel in .NET Core?)"
**Describe the bug**
I am unable to use the types in System.IdentityModel, System.ServiceModel, etc, that are defined in System.Private.ServiceModel in a .net core app (neither netcoreapp3.1 or net5.0 works). I don't know if I'm supposed to reference this nuget package directly, or if referencing System.ServiceModel.Primitives should make it "just work".

**To Reproduce**
Steps to reproduce the be

[2021-01-14 19:02] erikbra opened #4500 "Issues with type in System.Private.ServiceModel Nuget package"
**Describe the bug**
I am unable to use the types in System.IdentityModel, System.ServiceModel, etc, that are defined in System.Private.ServiceModel in a .net core app (neither netcoreapp3.1 or net5.0 works). I don't know if I'm supposed to reference this nuget package directly, or if referencing System.ServiceModel.Primitives should make it "just work".

**To Reproduce**
Steps to reproduce the be

[2021-01-14 19:49] #4499 closed

[2021-01-15 01:56] mconnew commented on #4469
WCF targets .NET Standard 2.0 so our latest release will work on all currently supported versions of .NET Core.
If you are using a custom binding, you don't need BasicHttpsBinding. I had a look at the PR Carol created to enable BasicHttpsBinding and there was an aspect I hadn't noticed and that was that there's an api missing which would be required for full support. It's the property BasicHttpsSe

[2021-01-15 13:06] fptkolodziejczyk commented on #4469
We have two seperate problems:
1. First one https://github.com/dotnet/wcf/issues/4469#issue-770672651
I tried use workaround with BasicHttpsBinding(BasicHttpsSecurityMode.Transport) but it doesn't work.
The message from asmx service is: System.ServiceModel.FaultException: 'Server was unable to process request. ---> The request is not signed with an acceptable signature.'

This is example code whic

[2021-01-18 12:39] jangaehler opened #4502 "Setting mustunderstand to false in wcf client created with dotnet-svcutil"
I have generated a client with the dotnet-svcutil to be able to use an external WSDL service, the client uses WSHttpBinding. The connection works, but I get the response "One or more mandatory SOAP header blocks not understood". I checked the request in Soap Ui, same result as long as MustUnderstand is true.
I have already built several PHP clients for this web service and never had this problem t

[2021-01-18 22:01] fptkolodziejczyk commented on #4469
Re 1:
We're migrating code, all libraries which are using net472 are converted for now to netstandard2.0.
This WCF code (ASMX client) is from library which is converted to netstandard2.0 and we have support for both frameworks:
<TargetFrameworks>netstandard2.0;net472</TargetFrameworks>

And we have old API's in which we have net472, we just migrating API endpoints to new projects with .net core an

[2021-01-19 11:29] fptkolodziejczyk commented on #4469
@mconnew where is release date for this fix https://github.com/dotnet/wcf/pull/4486 ?

[2021-01-19 23:29] #4448 closed

[2021-01-19 23:40] skaryshev commented on #4363
Same here: Channel is created in faulty state targeting .net5.0. It happens only with WSHttpBinding. BasicHttpBinding works fine.

[2021-01-20 15:01] Dimigergo commented on #4482
I have a workaround for this.

When I change the security mode from Message to TransportWithMessageCredential everything works fine with .NET Core 3.1.
[code]

But the main problem still alive:
MessageSecurity is not supported.

Thanks!

[2021-01-21 23:36] mconnew commented on #4493
Which OS are you using? In 4.4.0 we explicitly specified to use CurlHandler on MacOS and Linux, and WinHttpHandler on Windows due to missing api's on HttpClientHandler. When .NET Core added the required api's on HttpClientHandler, we switched to using that. HttpClientHandler now uses a new purely managed implementation on all platforms called SocketsHttpHandler. You are getting a failure due to a

[2021-01-25 10:11] makacenko commented on #3386
Hello, I have the same problem. I need to migrate a SOAP client of 3rd party service from .NET Framework to .NET Core.

Setting which successfully work on .NET Framework 4.7.2:

[code]
where `service` is a contract/reference generated from wsdl by `dotnet-svcutil` targeting `.net standard 2.0`.

But on .NET Core 3.1, I cannot find how to set `ProtectionLevel` to value `System.Net.Security.Protecti

[2021-01-25 14:34] makacenko commented on #4187
Hello, I think, I have the same scenario (electric power exchanges using SOAP messages) and same troubles as @jdvor did. @jdvor - did you find any acceptable solution? I'm afraid that migration of communication engine from .NET Framework to .NET Core isn't possible :-(.

[2021-01-25 17:12] Kcaxtanhu commented on #1965
Does any one succeeded on this attempt? I followed @KKhurin thread #2137, but after implementing the Costum Handler I've got the bellow error:

`System.ServiceModel.FaultException:

   at System.ServiceModel.Channels.ServiceChannel.HandleReply(ProxyOperationRuntime operation, ProxyRpc& rpc)
   at System.ServiceModel.Channels.ServiceChannel.EndCall(String action, Object[] outs, IAsyncResult result)

[2021-01-25 21:19] eduardogoncalves commented on #4122
Hello @StephenBonikowsky any news on  **How to configure WCF in .NET Core with files**?

We need to set `ClientCredentialType` to `Certificate` but can't find how to set it with a config file.

At https://docs.microsoft.com/en-us/dotnet/framework/wcf/how-to-set-the-security-mode they show hot to do in .Net Framework:
[code]

For now, I'm setting it in `GetBinding For Endpoint`, but it get override

[2021-01-25 22:54] StephenBonikowsky commented on #4122
@HongGit and @mconnew can you help with this question?

[2021-01-26 04:05] MrTovson commented on #4498
'No connection could be made because the target machine actively refused it.'

Quite tired of seeing this message, regardless of anything I do.  I'm going back to .NET Framework until this service is supported, the service is upgraded by the vendor, or someone who knows what they're doing can help.

[2021-01-26 06:45] waf commented on #4449
Any chance this could be released as patch? We're also seeing this on Linux in production, and it's crashing the process.

[2021-01-26 16:57] Catchops commented on #2219
For anyone who is reading this - the Reflection code does indeed work as a workaround.  However, be very careful.  I put this into our code which fixed the issue with the .cs files being generated from the svcutil utility.  However, we had other code in our application where the Reflection changes caused harm to the XML serialization being done there.  In our case, code to make payments.  Therefor

[2021-01-26 22:05] #4461 closed

[2021-01-26 22:05] #4462 closed

[2021-01-28 13:55] markmario commented on #4449
this is something we are seeing in our production environments as well. Getting a release out is critical

[2021-01-28 14:13] richamo commented on #4449
Downgrading wcf libs to 4.7 (suggested by @BogdanovKirill)  did the trick for us while waiting for this to be released

[2021-01-29 03:12] noelmathew opened #4515 "Issue: When using a non-null Proxy, the WindowsProxyUsePolicy property must be set to WindowsProxyUsePolicy.UseCustomProxy"
I generated a wcf client in my .net core project. I am targeting 2.1 because that's what my servers have installed. I am also running on windows machines.

My code looks something like this.
[code]
At first it looked like it was not respecting the proxy that I specified here. From my wireshark logs, it looks like it is going to some other default proxy.
[code]
and now I get the error in the title.

[2021-02-01 13:53] kurilovigor opened #4519 "dotnet-svcutil - Process is terminating due to StackOverflowException"
**Describe the bug**
Hello! A am using dotnet-svcutil (version 2.0.2). When I run command
`dotnet-svcutil --help`
I get error: **Process is terminating due to StackOverflowException**
The same error I get, when trying to create connected service in ASP.NET Core 5.0 application.
[svcutil-error-1](https://user-images.githubusercontent.com/6756724/106466662-af1d0800-64ac-11eb-82c7-6726e3f6692c.png)
A

[2021-02-01 15:26] RugerSR9 commented on #4293
Any updates on this? Facing the same issue.

[2021-02-01 21:57] eduleite opened #4520 "The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header received from the server was 'NTLM'"
I am trying to call the webservice ReportExecution2005.asmx from a MS Report Server. I use it normally on a .net 4.8 ASP.NET application. I am trying to access the same webservice using a .Net Core app in version 3.1.11, using the same basicHttpBinding configuration and I am receiving the error : The HTTP request is unauthorized with client authentication scheme 'Ntlm'. The authentication header r

[2021-02-02 02:12] HongGit commented on #4361
@imcarolwang can you please check whether this is still an issue?  If the latest release of dotnet-svcutil.exe fix this issue?

[2021-02-02 02:17] HongGit commented on #4343
@jnyrup sorry we can't investigate further without the WSDL, close this issue for now.

Feel free to activate when you could isolate the issue and provide a simple repro WSDL.

[2021-02-02 02:17] #4343 closed

[2021-02-02 02:31] HongGit commented on #4457
@imcarolwang can you please see if you could repro this?

[2021-02-02 02:32] HongGit commented on #4431
@imcarolwang can you please see what is the issue here?

[2021-02-02 02:37] HongGit commented on #4414
@imcarolwang can you please look into this and see if you can repro?

[2021-02-02 12:06] eduleite commented on #4520
Guys, after a good night of sleep, just found out that I was messing with the ClientCredential. Everything is working fine now.
I am closing this issue, but it would be a good idea to give a better error message when the credentials are wrong, wouldn't it?

[2021-02-02 12:06] #4520 closed

[2021-02-02 15:22] jeffhube commented on #4496
I have a created a sample project to reproduce this issue.

First, start the `Server` project with `dotnet run`
Then start the `Client` project with `dotnet run`

The output of the `Client` project will be
`Calling GetDataAsync()`
and then it will hang. The expected behavior is for it to terminate after the OOM exception.

`Client/runtimeconfig.template.json` is enforcing a 512MB heap size limit w

[2021-02-02 16:05] eiki25 commented on #31
Do you have a replacement for WSTrustChannelFactory and CreateChannelWithIssuedToken method in general on ChannelFactory?
https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.security.wstrustchannelfactory?view=netframework-4.8

.NET Framework Code
`var factory = new WSTrustChannelFactory(
                new IssuedTokenWSTrustBinding { SecurityMode = SecurityMode.TransportWithMessageCr

[2021-02-02 20:55] dsimanis commented on #4414
I have installed version 2.0.2 and it is finally working.

[2021-02-02 23:32] HongGit commented on #4515
@noelmathew can you please give the newest packages a try and see if the issue you are referring is fixed?

[2021-02-03 02:21] imcarolwang commented on #4414
@dsimanis  Thank you for your update, glad to hear it's working with the new version.

[2021-02-03 02:21] #4414 closed

[2021-02-03 07:11] imcarolwang commented on #4519
I tried the repro steps described in issue:
1. I can run `dotnet-svcutil --help` just fine.
2. The issue for running WCF Connected Service from VisualStudio in .NETCore 5.0 project is currently under investigation. But downgrade to .NETCore 3.1, I can generate the ServiceReference with the given WSDL without problem.

[2021-02-03 07:17] kurilovigor commented on #4519
Found out, that dotnet-svcutil problem relays on current installed instance of VisualStudio 2019, and is not reproduced on clean installation. Due to complexity of locating error closing the issue

[2021-02-03 07:17] #4519 closed

[2021-02-03 07:55] imcarolwang commented on #4361
The latest release of dotnet-svcutil should be supporting .NETCore 3.1 now. The support of .NET5 is pending release.

[2021-02-03 20:08] noelmathew commented on #4515
@HongGit : That worked. I am on System.ServiceModel.Http 4.4.4 and it works. Sorry about the confusion.

[2021-02-03 20:08] #4515 closed

[2021-02-04 01:13] alaskanrogue opened #4523 "System.ServiceModel.Primitives Not Loadable"
When attempting to run a Xamarin.UWP application on Windows v19941.746 with VS 16.9.0 Preview 3.0, I am encountering the following error:

System.IO.FileLoadException HResult=0x80131040 Message=Could not load file or assembly ‘System.ServiceModel.Primitives, Version=4.8.1.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a’. The located assembly’s manifest definition does not match the assembly re

[2021-02-04 02:35] imcarolwang commented on #4234
Could you please follow  [this document](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) which has the recommend way to try out the tool? Feel free to reopen if it's still a problem.

[2021-02-04 02:35] #4234 closed

[2021-02-04 03:05] imcarolwang commented on #4030
Latest [preview](https://www.nuget.org/packages/dotnet-svcutil/2.0.3-preview1.20574.1) release of the commandline tool should contain the fix of supporting .NETCore3.1, could you please give it a try?

Closing for now, feel free to reopen if you still see problem.

[2021-02-04 03:05] #4030 closed

[2021-02-04 10:17] pbachman opened #4524 "The remote server returned an error: (417) Expectation Failed"
We're trying to connect from a Backendservice made with NET Core 3.1 to a legacy WCF Service. For this we use the two NuGet packages "System.ServiceModel.Http" and "System.ServiceModel.Primitives" (latest version 4.8.1).

For the connection to the endpoint we create the binding/serviceclient manual as follows:

[code]

In order to establish the connection we need to use an SSL client certificate,

[2021-02-04 15:01] rebrovoleksii commented on #4502
Hi there,
I'm also interested in answer. We're integrating with external SOAP API and adding following header
`  <Action s:mustUnderstand="1" xmlns="http://schemas.microsoft.com/ws/2005/05/addressing/none"></Action>
 `
 results into error returned from API :
 `Must Understand check failed for header http://schemas.microsoft.com/ws/2005/05/addressing/none : Action`

[2021-02-04 15:23] jangaehler commented on #4502
@rebrovoleksii Here is a Workaround: https://stackoverflow.com/questions/53321927/wshttpbinding-in-netstandard-or-net-core

[2021-02-04 20:10] HongGit opened #4525 "Rename the default branch in WCF repo to main"
On 02/05/2021 we're going to rename the default branch in this repository to main. For more details, see [our earlier announcement](https://github.com/dotnet/announcements/issues/172).

[2021-02-05 03:46] imcarolwang commented on #4431
The `ResolvePackageAssets` task called by `dotnet-svcutil.xmlserializer.targets` comes from .NETCore SDK, the properties defined in `ResolvePackageAssets` task changed between difference .NETCore SDK releases so if a client machine has different .NETCore SDK version installed than the one used when defining `dotnet-svcutil.xmlserializer.targets`, then build the target could throw error like the on

[2021-02-05 16:30] sboboryk commented on #4487
@mconnew  any idea of ETA for MTOM support? Thank you.

[2021-02-08 15:30] alaskanrogue commented on #4523
Here is the issue in depth and various solutions: [https://michaelscodingspot.com/how-to-resolve-net-reference-and-nuget-package-version-conflicts](https://michaelscodingspot.com/how-to-resolve-net-reference-and-nuget-package-version-conflicts).

[2021-02-08 22:48] jdvor commented on #4187
@makacenko at the end yes, but not by using dotnet/wcf. We had to wrote request builder & reader almost from scratch and learn a lot of details around SOAP, creds, signing, encryption, etc. which we would otherwise not have to.

[2021-02-09 02:08] alaskanrogue commented on #4523
It appears that issue is related to Microsoft.Common.CurrentVersion.targets Line 2181 and the assemblies being resolved against. VS v16.9.0 Preview 3.0 is in use.

[2021-02-10 11:55] alaskanrogue commented on #4523
As an experiment, removing all "ServiceModel" NuGet's across all five solution projects, cleaning and re-building, I responded to the errors reported by only re-installing the NuGet's necessary to the PCL project. Because of the earlier discovery, I used the v4.1.1.0 versions of the NuGet's. The error is not present in either UWP or Android now.

The question in my mind is if the GAC and the assem

[2021-02-11 21:31] HongGit commented on #4523
@alaskanrogue this does not seem to be a problem with WCF Core libraries even though you are using System.ServiceModel.Primitives.  I would suggest you to log an issue with Visual Studio Developer Community https://docs.microsoft.com/en-us/visualstudio/ide/feedback-options?view=vs-2019.

[2021-02-11 21:31] #4523 closed

[2021-02-11 21:37] mconnew commented on #4524
See this blog post for how to do this:
https://justsimplycode.com/2019/11/02/disable-header-100-continue-in-net-core-wcf-client/

[2021-02-12 16:10] Raschmann opened #4538 "WSTrustTokenParameters.RequireDerivedKeys"
Have tried it but seems derived keys are not supported. The WSFederationHttpBinding automatically sets it to false. Is it an intentional behavior?

[2021-02-15 07:47] wouterroos commented on #4464
We also have a use-case for this, would be great if this could be done.

[2021-02-15 08:24] pbachman commented on #4524
@mconnew thanks, it works now

[2021-02-16 18:41] AlleSchonWeg opened #4542 "UserName Endpoint STS"
Hi,

how can i obtain a token from a custom sts via ws-trust:
https://social.msdn.microsoft.com/Forums/azure/en-US/9b91ae9f-3e3c-4ba4-a19c-d8af3bba5981/wstruststs-support-on-net-core?forum=netfxbcl

The answer in this thread says use nuget System.ServiceModel.Security but i saw no RequestSecurityToken class for example. Is there another with .NetStandard >=2 ?

[2021-02-17 10:44] Doomblaster commented on #4387
it definetly doesn't work
![image](https://user-images.githubusercontent.com/1055547/108192597-c3037380-7114-11eb-9e8d-b3e0dcca8e8d.png)

Even setting --targetFramework doesn't work
![image](https://user-images.githubusercontent.com/1055547/108192787-fba34d00-7114-11eb-8f30-a54b1de4edc3.png)

Problem is that it picks the targetframework moniker from csproj file regardless it seems. Doing the same

[2021-02-17 11:32] SamJongenelen commented on #3812
Any update on the progress @imcarolwang ?

[2021-02-18 15:59] ElmirSecerbegovic opened #4544 "The remote certificate is invalid according to the validation procedure: RemoteCertificateNameMismatch, RemoteCertificateChainErrors"
We are migrating our worker service from .NET 4.5 to .NET 5 (latest version).

We have created a Connected Service but when we try to Invoke method we are getting error in terms of Invalid SSL connection. In our old code we used

ServicePointManager.ServerCertificateValidationCallback = (sender, certificate, chain, sslPolicyErrors) => true;

but that is not helping us right now. We can not use Htt

[2021-02-18 16:48] JZambranoGS commented on #3734
@usmanaliabbasse can you do it?..

[2021-02-19 01:50] imcarolwang commented on #4308
Bootstrapping is required for type reuse, so `-r SharedDataContracts.dll -nb` doesn't seem to be a supported command option combination to run the tool.

[2021-02-19 08:52] PhilPJL commented on #4308
@imcarolwang

It's a while since I looked at this but as I mentioned above I was trying to debug the tool in the VS debugger.  I found that in order to do that I had to use -nb which then caused the error shown.  I remedied this with the code change shown.

This allowed me to determine a possible solution to https://github.com/dotnet/wcf/issues/3812 which I raised in 2019 and marked 'priority 1'.

[2021-02-19 10:42] imcarolwang commented on #4308
@PhilPJL The information you provided is helpful and the issue is under investigation, thank you so much for your patience!

[2021-02-19 11:52] Kralizek opened #4545 "Guidance on client-side intereception"
I'm trying to test a component based on `ChannelFactory<TContract>` and I'm having difficulties on finding my way into the client pipeline so that I can return a value before hitting the wire.

I tried with a `IClientMessageInterceptor` but the only way to stop the communication is closing/aborting the passed channel factory.

Is there any other suggested approach?

Other than testing, this could

[2021-02-19 14:02] ThomasPe commented on #4105
Any news on this? no update for almost a year

[2021-02-22 22:06] pmiddleton commented on #4431
Is there any update on this?  We have worked around things for local development but we need to build some nuget packages in our devops pipelines and area dead in the water until this is fixed.

[2021-02-24 20:58] dhruvb14 commented on #2265
Any updates on this? Are we forever stuck in .Net with no way to move to core/5?

[2021-02-25 07:54] Rerago opened #4547 "HttpChannelFactory different behavior under .net Framework and .net Core"
**Describe the bug**
i have a WCF client in a library (TargetFrameworks: netstandard2.0;netstandard2.1;net5.0). This library is used by different application. Now it turns out that the client does not work under .net 4.7.2. I could break it down to the fact that the DelegatingHandler is not called. To be more precise it looks like the func is not executed because it never arrives at the constructo

[2021-02-27 14:59] Rerago commented on #4547
I have created a simple project to reproduce the problem:

[IEndpointBehaviorTest.zip](https://github.com/dotnet/wcf/files/6054678/IEndpointBehaviorTest.zip)

- _WcfClient_ => Is a library (TargetFrameworks - netstandard2.0;netstandard2.1;net5.0) that embeds the WCF service
- _IEndpointBehaviorTest_ => .net 5 console application that calls WCF service via WcfClient
- _IEndpointBehaviorTest.NF_ =>

[2021-02-28 04:19] CodeBlanch opened #4549 "Add ClientRuntime.SyncMethod, BeginMethod, and EndMethod"
**Describe the bug**
ClientRuntime.SyncMethod, BeginMethod, and EndMethod are missing from the .NET Core API but are available in the .NET Framework version. This is making it difficult to instrument WCF in OpenTelemetry .NET.

**Additional context**
Discussion: https://github.com/open-telemetry/opentelemetry-dotnet-contrib/pull/38#discussion_r580657277

/cc @mconnew

[2021-02-28 16:07] Rerago commented on #4547
Mh ok I think slowly I get behind there. I had a look at the call list. The .net Framework client accesses the following HttpChannelFactory:

https://referencesource.microsoft.com/#system.servicemodel/system/servicemodel/Channels/HttpChannelFactory.cs

where "Func<HttpClientHandler, HttpMessageHandler>" is not supported like here:

https://github.com/dotnet/wcf/blob/main/src/System.Private.Service

[2021-02-28 16:16] ezar opened #4550 "portSharingEnabled property"
Could you add the portSharingEnabled property?

[2021-03-01 02:04] imcarolwang commented on #4498
We tried to repro the issue with the given service https://servicesv4.qa.provexchnet.com/DSIRating.svc  mentioned in issue, we got accessed denied as we don't have a valid certificate.  @MrTovson could you please provide a simplified repro project for us to investigate this further?

[2021-03-01 02:07] MrTovson commented on #4498
You've got to be kidding.  There is nothing simpler than this.

Sent via the Samsung Galaxy S21 5G, an AT&T 5G smartphone
Get Outlook for Android<https://aka.ms/ghei36>

________________________________
From: Carol Wang <notifications@github.com>
Sent: Sunday, February 28, 2021 8:05:06 PM
To: dotnet/wcf <wcf@noreply.github.com>
Cc: MrTovson <eseant@hotmail.com>; Mention <mention@noreply.github.com

[2021-03-02 05:52] HongGit commented on #4525
this done.

[2021-03-02 05:52] #4525 closed

[2021-03-02 06:09] HongGit commented on #4412
@imcarolwang can you please see if you could repro this?

[2021-03-02 14:58] atanasa commented on #2541
Looking at the code - `MessageFault.CreateFault12Driver` and `MessageFault.CreateFault12Driver`, the issue seems to be that `XmlDictionaryWriter.WriteNode` is not preserving the namespaces when coping the fault into the buffer.
I have filed an issue with .Net for that: https://github.com/dotnet/runtime/issues/49010

[2021-03-02 17:10] MrTovson commented on #4498
You have the single command needed to reproduce the issue.  There is no cert issue.

[2021-03-02 21:00] mconnew commented on #4498
@MrTovson, I have been able to download the WSDL and have emailed it to @imcarolwang offline. At the moment dotnet-svcutil is a little behind on the set of features it recognizes as supported in .NET Core. I had a quick look at the WSDL and I can see you are using WSHttpBinding. This is one of the features that dotnet-svcutil doesn't know about yet which is why you are getting the error. From look

[2021-03-02 23:43] mconnew commented on #4538
@brentschmaltz, is there a reason why the default here is different than NetFx?
@Raschmann, as the api is there, setting it to true is supported. Does it work if you explicitly set this to true?

[2021-03-02 23:59] HongGit commented on #4549
@imcarolwang  can you please work on this?

[2021-03-03 00:00] HongGit commented on #4550
This property is server side API, not supported in WCF Core Client.

[2021-03-03 00:00] #4550 closed

[2021-03-03 00:42] mconnew commented on #4542
Enough people have asked for this I think we actually need to put together a WSTrustChannelFactory or WSTrustClient for Core to piece these pieces together for you. This is basically the code you need:
[code]
After which you can request the security token using either the sync or APM methods:
[code]

I haven't executed this code as I don't have a username STS readily available to test it against s

[2021-03-03 01:22] mconnew commented on #4545
Are you using HTTP as your transport? I built into WCF Core client the ability to modify and/or replace the HttpClientHandler we use under the hood. Take a look at [this blog post](https://justsimplycode.com/2019/11/02/disable-header-100-continue-in-net-core-wcf-client/) where someone wrote up how to remove the Expect 100-Continue header using this technique. The HttpResponse object can be complet

[2021-03-03 01:28] mconnew commented on #4544
ServicePointManager.ServerCertificateValidationCallback doesn't do anything on Core. WCF has a more generic certificate handling code. You can do this:
[code]
And WCF will wire up a certificate validation handler to the underlying HttpClientHandler under the hood which will accept any certificate. There's also a Custom mode where you can provide an implementation class which validates the certific

[2021-03-03 01:33] mconnew commented on #4547
The mechanism of providing a Func to modify the behavior of the HttpClientHandler was originally created because the HttpClientHandler is encapsulated by WCF and on Core there aren't any public methods to modify it's behavior. On .NET Framework, HttpClient isn't used, instead we use HttpWebRequest. On .NET Framework you can modify quite a bit of behavior of HttpWebRequest using ServicePointManager

[2021-03-03 02:56] imcarolwang commented on #4412
Hi @diegonc , I tried running dotnet-svcutil against the attached wsdl file and I cannot reproduce the Error as you posted in the issue title "The method or operation is not implemented", I got following error instead:

[code]

It's due to the referenced xsd files (`Autenticacion.xsd` and `Autenticacion1.xsd`) in the wsdl file are relative local paths which is unavailable on my repro environment,

[2021-03-03 09:07] Rerago commented on #4547
Hi, first of all thank you for the answer. Now the whole thing makes sense to me.

In very simple terms I do the following:

- execute base.SendAsync
- evaluate the result (check if a certain header is present)
- if necessary send a GET to the same URL (to get cookie)
- resend initial request

Or a bit more precise:

We want to access a WCF service that is located behind an APM F5 (to which we hav

[2021-03-03 09:48] X39 opened #4552 "InvalidCastException with two WCF Services in two different assemblies, loaded during runtime"
**Describe the bug**
I am currently facing issues that, to me at least, seem kinda random.
The situation is as follows: I have a system that may be extended, using "plugins", providing additional capabilities utilizing common interfaces. When i now have my two plugins (eBay and DHL) both with WCF services running, one of them always is failing with the following exception:
[code]
While this alread

[2021-03-03 11:25] Raschmann commented on #4538
Have tried both ways:

[code]

[2021-03-03 14:05] AlleSchonWeg commented on #4542
Hi @mconnew
I tested your sample code with a few additions:
[code]
It works until i call `tokenProvider.GetToken`. I receive a exception:

Now the question is, how can i open the channel?

[2021-03-03 15:45] andre-wells commented on #2824
Also seeing this in net5. Runs fine in Visual Studio but if I try to publish my webapp to desk and execute the exe I get this:

[code]

[2021-03-03 16:53] isadrastea opened #4554 "WCF Web Service Reference Provider Tool Failure"
My local web service is running well but i can't create a connected service reference in WPF (Net Core 3.1) Project on visual studio 2019 version 16.8.6. Only .Net Framework project is possible.

// Service web page
![image](https://user-images.githubusercontent.com/26916642/109841030-fead4a00-7c8b-11eb-9a42-96840e009520.png)

// Connected Service reference failure
![image](https://user-images.git

[2021-03-03 16:57] mconnew commented on #4542
Sorry, Inforfet that part. Cast the SecurityTokenProvider to ICommunicationObject and call Open().

[2021-03-03 17:07] isadrastea commented on #4554
My WPF project was generated by windows template studio with Prism MVVM pattern.

![image](https://user-images.githubusercontent.com/26916642/109843354-5056d400-7c8e-11eb-840c-3e8a2fa90ba7.png)

[2021-03-03 20:57] mconnew commented on #4538
What error are you getting?

[2021-03-04 04:27] imcarolwang commented on #4554
@isadrastea Regarding the Connected Service reference failure, I guess it's caused by the extra slash at the end of the URI name, try without the end slash, i.e. http://localhost:8585/RtTower.WebService

For the generating error, WCF Connected Service tool currently doesn't support target framework net5.0-windows. As a workaround, would it work for you to use netcoreapp3.1 to generate the wcf prox

[2021-03-04 06:10] isadrastea commented on #4554
My development environment is VS 2019 .netcore 3.1 with WPF. And i already tested it without last backslash. Unfortunately it was not help to solve issue.
So, i tried trick test with .net framework application to generate wsdl file. Then imported the wsdl file in my wpf project. The trick help to create connected service reference, But it create asynchronous methods of reference. That is so fuuny.

[2021-03-04 08:34] DonkeyKongJr commented on #1847
For me, the following settings worked in a .NET 5 application.

`      var rsBinding = new BasicHttpBinding
            {
                Security =
                {
                    Mode = BasicHttpSecurityMode.TransportCredentialOnly,
                    Transport = {ClientCredentialType = HttpClientCredentialType.Windows}
                },
                MaxBufferPoolSize = 20000000,

[2021-03-04 08:47] AlleSchonWeg commented on #4542
Thank you @mconnew. But next problem ;)
If i test the code with my xamarin app, it compiles but crahses if loading some types. For example:

I added the System.ServiceModel.Http by hand, but still the same exceptions. WS2007HttpBinding is not the only type which can't resolve.

[2021-03-04 15:26] Raschmann commented on #4538
There isn't error on client side. But the signature element in SOAP header is created without derived key, which is required by server.

[2021-03-04 17:03] tomek14 commented on #1847
If somebody doesn't want to edit generated code you can create partial class in the same namespace with additional constructor like this:
[code]
In this way you can nicely inject username, password and endpoint from appsettings.

[2021-03-04 18:30] mconnew commented on #4538
The problem is with the WS-Trust request going to the STS? Can you provide the request that this code is generating and an example correct request? Redact anything sensitive. The password is sent effectively plain text. I think it might be trivially encoded so it needs to be redacted. It should be obvious what elements need it. And can you provide the code you are currently using with .NET Framewo

[2021-03-04 18:40] mconnew commented on #4547
The good news is that the way you are trying to solve this is the hard way. There's an easier way which will work on all platforms. You can do code similar to this:
[code]
The `IHttpCookieContainerManager` has a property `CookieContainer` of type `System.Net.CookieContainer` which allows you to add cookies to the container. This is the same CookieContainer that WCF passes to either HttpWebRequest

[2021-03-04 18:49] mconnew commented on #4542
Xamarin app's don't use the nuget version of WCF. With the exception of System.ServiceModel.Federation, all the other packages are replaced with an inbox Xamarin provided implementation. There's nothing I can do about Xamarin issues, you will need to open an issue with them.

[2021-03-04 21:58] diegonc commented on #4412
Sorry for the late response, work drifted away of this project. Here are the XSDs files imported by the WSDL. Thanks

[xsds.zip](https://github.com/dotnet/wcf/files/6086833/xsds.zip)

[2021-03-05 00:29] #4549 closed

[2021-03-05 08:28] AlleSchonWeg commented on #4542
This code works in my non Xamarin Testclient:
[code]

[2021-03-05 08:31] Rerago commented on #4547
Well the way is not really hard^^. Currently I need to add a line of code to the client (which adds the Behavior that adds the DelegatingHandler). I have the DelegatingHandler either way since I also use it for our REST clients that need to work with APM F5.

For the variant you describe I would have to rebuild all our WCF clients to work with the channel (currently this was not necessary). Especi

[2021-03-05 10:14] X39 commented on #4552
Some new insight: I created a new assembly, put both service references in there and refer to them in the other two assemblies now. Issue remains.

[2021-03-05 10:22] Raschmann commented on #4538
No, WS-Trust request is ok and I get token. But Security alement in SOAP header of service request is constructed differently. The signature only refers the Timestamp element.

[code]

The desired request contains DerivedKeyToken (Id = _0) for Signature (_1) of Body (_3), Action (_4), MessageID (_5), ReplyTo (_6) and Timestamp (#uuid-c35730ad-f91e-42a9-9936-d457ea2bcbc9-2) elements. Second Derived

[2021-03-05 20:23] mconnew commented on #4542
You should also close the token provider when you are finished with it. It does contain an instance of a ChannelFactory and creates clients so you could get a memory leak if you don't close it. Ideally though you would persist the token provider and reuse it every time you need a token.

[2021-03-05 20:25] DarkAngel766 commented on #4045
The scenario does not work for me (neither).
There is an expected header that just doesn't exist:
`   <soapenv:Header>
      <wsse:Security xmlns:wsse="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd">
         <wsse:UsernameToken>
            <wsse:Username>XXXXXX</wsse:Username>
            <wsse:Password>XXXXXX</wsse:Password>
         </wsse:UsernameToken>

[2021-03-05 20:31] AlleSchonWeg commented on #4542
Thank you.
Is it thread safe, so we can store the token provider in a static variable?

[2021-03-05 20:52] mconnew commented on #4547
You don't need to copy cookies around. You reuse the CookieContainer:
[code]
Cookie's have an expiry time on them. If you know the name of the cookie, you can retrieve it from the cookie container and check the expiry time. I don't believe that the F5 load balancer is arbitrary on it's disposing of cookies. It should set the cookie expiry time correctly. If it has a 1 minute expiry time and you ha

[2021-03-05 21:27] mconnew commented on #4538
@brentschmaltz, can you take a look? This has hit the limits of my understanding of WS-Trust.

[2021-03-05 21:53] mconnew commented on #4542
Yes, it's thread safe. It creates a new ChannelFactory when you call Open, then each request creates a new channel, uses it, then closes the channel. No shared state is modified with each call to get a token.

[2021-03-05 21:59] mconnew commented on #4045
If you aren't getting that header added then your binding is incorrect. Take a look at the scenario test I linked to for example usage. If that doesn't work, can you provide your binding.

[2021-03-05 22:21] DarkAngel766 commented on #4045
Apologies. I left before I got this response. I'll post t asap Monday.

[2021-03-06 17:35] Rerago commented on #4547
Sure "KeepCookieAlive" would work. But in an environment with parallel running threads I can imagine that there could be overlaps.

The F5 load balancer works normally with cookies. The problem is that there is a lookout link that invalidates the cookies of the user (regardless of the service he is using). This is only an edge case but would make it harder to work with "Expires". In addition the n

[2021-03-07 17:05] brentschmaltz commented on #4538
@mconnew @Raschmann i am investigating, but from the description it doesn't seem to be WsTrust related. It seems to be at the As mentioned, it seems to be at the WSFederationHttpBinding layer.

[2021-03-08 11:42] X39 commented on #4552
![image](https://user-images.githubusercontent.com/1886428/110316539-2a715c80-800b-11eb-9626-de1d07044064.png)
Stepping through the callchain, it seems like the actual issue is "assembly hell" that is causing issues in `System.Reflection.DispatchProxyGenerator`

[code]

[2021-03-08 11:56] NiKeYiGuN opened #4556 "System.AggregateException:“Event ServiceChannelBeginCallStart (with ID 704) has the same task/opcode pair as e)”"
`            var binding = new BasicHttpBinding(BasicHttpSecurityMode.Transport);
            binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Basic;
            //binding.Security.Transport.Realm = "SAP Web Application Server [LPQ]";
            var address = new EndpointAddress("https://mipoq.p.mi.com/XISOAPAdapter/MessageServlet?senderParty=&senderService=LINGYI_HZ_QAS

[2021-03-08 11:57] X39 commented on #4552
Solved the issue by solving the differences in plugins `csproj`:
[code]
got changed to (what the other plugin already had)
[code]

I suspect my loading is faulty. This still should provide proper erroring (but is not directly related to this project)

[2021-03-08 11:57] #4552 closed

[2021-03-08 13:32] DarkAngel766 commented on #4045
The binding was taken from your example:
`        private static System.ServiceModel.Channels.Binding GetBindingForEndpoint(System.TimeSpan timeout)
        {
            System.ServiceModel.WSHttpBinding result = new System.ServiceModel.WSHttpBinding(System.ServiceModel.SecurityMode.TransportWithMessageCredential);
            result.Security.Message.ClientCredentialType = System.ServiceModel.Mes

[2021-03-08 13:37] DarkAngel766 commented on #4045
Additional odd behavior. Only the first attribute is read. I have comment everything before USAddress for this to work properly:
`        [System.Xml.Serialization.XmlArrayAttribute(Order=4)]
        [System.Xml.Serialization.XmlArrayItemAttribute("CanadaAddress", typeof(CanadaAddressType[]), IsNullable=false)]
        [System.Xml.Serialization.XmlArrayItemAttribute("ChileAddress", typeof(ChileAdd

[2021-03-08 17:39] DarkAngel766 commented on #4045
Please let me know if there's anything else I can provide. Thanks :)

[2021-03-08 18:37] abisheksharma commented on #4147
I am not sure if this helps but there is a nuget package now Microsoft.PowerPlatform.Dataverse.Client that can help to connect to Dynamics 365.

[2021-03-09 07:19] fondencn opened #4557 "NullReferenceException when using proxy server with NTLM authentication and BasicHttpBinding (... and potentially others)"
When using BasicHttpBinding (or potentially others) behind a web proxy that requires authentication, the authenticationScheme cannot be used, as when it comes to opening the http channel, a NullReferenceException is raised in System.Private.ServiceModel.dll when trying to use an uninialized class member.

Root cause: the credential manager only gets instantiated when using authentication against t

[2021-03-09 23:25] HongGit commented on #4556
@NiKeYiGuN can you please make sure that you are using the latest WCF packages?  Could you please also share with us the ,NET Core version you are using?

[2021-03-10 01:48] NiKeYiGuN commented on #4556
.i uset wcf packges in 4.4,and lasted version 4.8.1 I have a try. .NET core version 3.1,Thank u ,i m glad to recive your reply ,i have resolve this issue ,the reason is that i missing 2 parameters in  request. Thank u.

[2021-03-10 04:49] HongGit commented on #4556
Thanks for letting us know!  We are glad that your issue has resolved.

[2021-03-10 04:49] #4556 closed

[2021-03-10 12:37] DarkAngel766 commented on #4045
Please reopen this ticket.  I will resolve my issue manually, but your package does not work as advertised.

[2021-03-12 08:50] pekkah commented on #3812
Any update on this? Causing major headache in government projects where Soap is the new thing.

[2021-03-12 09:58] PhilPJL commented on #3812
Hey it's priority 1.  Must be fixed soon.

![image](https://user-images.githubusercontent.com/271656/110924004-6e20da80-8319-11eb-9b68-eec21f38e1e6.png)

Wait, it's been priority 1 for a year.  Hmmm.  Stopped holding breath a long time ago.

[2021-03-12 13:14] dimalyshev commented on #4557
Hope this patch helps (i've tested on my local machine behind corporate proxy with Basic authentication):

This lightweigt patch enables to clients to provide fully specified WebProxy as required to their environment.
How soon it could be in nugets ?

Thanx in advance.

[code]

[2021-03-12 14:22] dimalyshev commented on #4557
`httpElement.ProxyAuthenticationScheme = AuthenticationSchemes.Basic; // produce UsernameSecurityToken error
`

[2021-03-12 14:54] dimalyshev opened #4562 "System.InvalidOperationException: The required UserNameSecurityToken was not provided"
Configuring proxy with AuthenticationSchemes.Basic (see code) results in error in title:
Related issue #4557
[code]

[2021-03-12 17:36] StephenBonikowsky commented on #3812
@mconnew @HongGit

[2021-03-12 18:40] mconnew commented on #4557
@dimalyshev, can you provide the call stack?

[2021-03-12 20:53] dimalyshev commented on #4557
@mconnew  sorry in advance for mess with this 2 (#4560, #4561) - I really don't know how to purge this artifacts from
issue history. But #4562 really fixes issue with Proxy with Basic auth and gets relief with all this nightmares about configuring binding proxy.

Exception stack for #4562 here:

`System.InvalidOperationException: The required UserNameSecurityToken was not provided.
   at System.Ru

[2021-03-12 20:57] dimalyshev commented on #4562
Exception stack for #4562 here:

[code]

[2021-03-13 12:12] ButaevSergey commented on #4557
Is it an option to manually pass Proxy Authentication header on the Transport level via custom implementation of the IClientMessageInspector in the meantime?

[2021-03-13 14:45] dimalyshev commented on #4557
@ButaevSergey , the main idea of fix is to do initing _proxy used in HttpChannelFactory.GetHttpClientAsync more clear and client driven - not framework driven, because as stated in  #4562 even Basic auth for proxy doesn't work

Meanwhile all previous mechanics of interception and configuring transport level are kept the same.

[2021-03-15 09:47] RicardoJarree commented on #2349
This still seems to be happening in .NET 5...

Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

[2021-03-15 14:53] yogitubadzin commented on #31
Hello, I missed this message as google put this to SPAM  folder. Question
is to me and stil open?

wt., 2 lut 2021 o 17:05 Eiríkur Haraldsson ***@***.***>
napisał(a):

[2021-03-15 14:54] yogitubadzin commented on #4469
Hello, any release update for this:
https://github.com/dotnet/wcf/issues/4469 ?
We have deadline in may for our releases to core api.

wt., 19 sty 2021 o 12:30 fptkolodziejczyk ***@***.***>
napisał(a):

[2021-03-16 07:09] Reena-Patel opened #4564 "WorkerService WcfClient Dispose issue creating memory leakage"
**Describe the bug**
Memory leakage problem in .net core worker service

**To Reproduce**
Steps to reproduce the behavior:
1. Use a worker service type project and one of the class is inherited by IHostedService.
in the hostedservice on receiving the message from message broker it is processing the message.

 Create WcfProxy Class
[code]

We are registering WcfProxy as transient instance.

[code]

[2021-03-16 20:52] AndreasEike opened #4566 "Warning: Endpoint 'CustomBinding_IBrokerServiceExternalEC2' at address 'https://tt02.altinn.no/ServiceEngineExternal/BrokerServiceExternalEC2.svc' contains one or more bindings not compatible with .Net Core apps, skipping..."
Hello, I am trying to consume a WCF service in .NET 5.0, using dotnet-svcutil to generate .cs client class. When trying to run the tool, I get the following output in a terminal window:

![image](https://user-images.githubusercontent.com/46325452/111378262-e1bc4200-86a1-11eb-943c-d7f36bd7f414.png)

Output text:
------------------------------------------------------------
C:\Users\<username>\Docume

[2021-03-17 08:43] fbrum commented on #4105
Hi all,

This problem also happens when using svcutil with /wrapper option.
We are forced to use /wrapper option to create the specified properties for nullable properties, but doing so we lose the enum values

[2021-03-18 14:23] Reena-Patel commented on #4564
Can i use singleton instance for the WcfProxy class?

[2021-03-19 05:04] NicholasNoise commented on #1810
6.0 Preview 2 is already here, but `XmlDictionaryReader.CreateMtomReader` still throws exception.
Any news?

[2021-03-22 17:58] haldiggs commented on #3812
I am in the same boat. I need the contracts that have namespaces to be reused. Not a low priority. Production needs to be production and use correct namespaces.

[2021-03-22 19:03] #4557 closed

[2021-03-22 19:23] mconnew commented on #31
See [this](https://github.com/dotnet/wcf/issues/4542#issuecomment-789333798) comment for how to do this.

[2021-03-23 11:21] telsonalva commented on #4122
I found out you can pass the binding as a parameter when you create a new client.

Example:

`
System.ServiceModel.BasicHttpBinding customBinding = new System.ServiceModel.BasicHttpBinding();                     customBinding.Security.Mode = System.ServiceModel.BasicHttpSecurityMode.Transport;
customBinding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Certificate;

ServiceRef

[2021-03-23 17:41] ptruskovsky commented on #3248
Got this issue with net 5 and latest release of wcf
Encoding is set to utf-16 and nothing can change it.

[2021-03-23 17:45] ptruskovsky opened #4570 "Encoding is utf-16"
Got the same as
https://github.com/dotnet/wcf/issues/3248
but with .NET 5 and latest release of wcf package.

[2021-03-23 21:28] mconnew commented on #4570
Can you provide what binding you're using? At least over HTTP WCF doesn't add an \<?xml\> element at the start of a soap message.
I just verified with of our scenario tests and the encoding is specified via the Content-Type HTTP header and defaults to utf-8. The only way I know of where you might see that header and the utf-16 encoding is if you call `Message.ToString()`, but I'm not even certain

[2021-03-24 09:20] ptruskovsky commented on #4570
Hello, sir!
Thank you for your reply.

I'm transfering code from net 4.7 to net 5. The logic and bindings are the
same. But in net 4.7 there is no <?xml> element in request/response.
I attached some parts of my code for better understanding.

Thank you for your help.

ср, 24 мар. 2021 г. в 00:28, Matt Connew ***@***.***>:

<s:Envelope xmlns:a="http://www.w3.org/2005/08/addressing" xmlns:s="http://

[2021-03-24 13:10] dimalyshev commented on #4562
@mconnew why not to label this issue as bug ?
Now there is no bypass to use proxy with Basic auth along with WCF libraries.

May be it'll speedup including patch into release?

[2021-03-24 13:28] bugproof opened #4571 "IDisposable is not implemented correctly in the base class ClientBase"
Is this still an issue 7 years later? https://blog.rsuter.com/correctly-handle-wcf-clients-life-cycle-simple-way/

[2021-03-24 14:51] denisky commented on #4435
Hi,
we are experiencing a similar issue where the performance is degrading overtime.
The CPU usage keep increasing over time.
![image](https://user-images.githubusercontent.com/38464498/112329124-4de40a80-8c8d-11eb-87b5-0b31099dbdcd.png)

We have a web api in .NET 5.0 hosted in Azure App Service for Containers.
Our docker image is based on alpine.

I see that there is a PR open for this issue, is

[2021-03-24 20:25] mconnew commented on #4570
I just used your exact binding to verify, and it is correctly using utf-8. It looks like the issue you are seeing is from calling Message.ToString(). A Message object doesn't know anything about how your binding is configured. For example, with NetHttpBinding, it uses the BinaryMessageEncodingBindingElement which would output binary xml. So Message.ToString() just creates an Xml Text Writer using

[2021-03-25 07:38] ptruskovsky commented on #4570
Thank you very much!
I have transferred your option 1 to this code:
------------------------------------------------------
private void WriteLog(ref Message item) {

                var encodingBindingElement = new
TextMessageEncodingBindingElement(
                    MessageVersion.CreateVersion(EnvelopeVersion.Soap11,
AddressingVersion.WSAddressing10),
                    Encoding.UTF8

[2021-03-25 09:51] MeikTranel commented on #2535
@HongGit this issue is assigned to no milestone since the future milestone was removed by @StephenBonikowsky - may i suggest given the above mentioned reasons that we consider this for 6.0 with a higher priority?

[2021-03-25 18:37] mconnew commented on #4570
Only suggestion I have is to moved the creation of the MessageEncoderFactory to your constructor of the class to reduce allocation. You can safely request an Encoder from the MessageEncoderFactory from multiple threads and the instance is thread safe.

[2021-03-25 18:37] #4570 closed

[2021-03-26 10:28] fptkolodziejczyk commented on #4469
@mconnew Do you have any update/approximate date when 5.0.2 will be released? (it doesn't have to be exactly)

[2021-03-30 19:42] mconnew commented on #3694
@rodrigobelo, WCF doesn't require you to use the latest version of .NET Core to use our latest packages as we only have a dependency on netstandard2.0. I created a fix for our latest release (4.8.x nuget package version) to support specifying integrated authentication which allows for either NTLM or Negotiate. You will need to use a custom binding to modify the AuthenticationScheme property on the

[2021-03-30 21:53] HongGit commented on #4571
This is a duplicate of issue #26.

[2021-03-30 21:53] #4571 closed

[2021-04-01 07:54] PhilPJL commented on #3812
![image](https://user-images.githubusercontent.com/271656/113261790-c79c7980-92c7-11eb-9314-efd9bcf3bf40.png)

[2021-04-01 11:49] haldiggs commented on #3812
I had really hoped that. Net 5.0 would have heralded the fix for this issue. Having duplicate objects generated all over the place creates its own little personal hell and sync issue.

We work with banks and other Financial entities that don't just jump up and change their code every year because we have a new version. This issue really need some attention. Of course the workaround is to simply de

[2021-04-01 11:57] pekkah commented on #3812
As an workaround we use AutoMapper to map between the same types in different namespaces. Our mapping profile automatically creates maps between same named types in given namespaces. This works but as the object graphs are complicated it adds a large performance penalty to the code. Maintenance is also tedious.

[2021-04-05 20:39] mconnew commented on #4469
@fptkolodziejczyk, for some reason I thought this would need an api change which can't happen in a patch release. But I just looked at the PR again and I'm not seeing one so I think I was confusing issues. I've merged the change and will discuss with @HongGit about when we want to release an update.

[2021-04-05 20:56] Neil180290 opened #4580 "Is there any workaround to use Message Security mode to call WCF service in .net core?"
Is there any workaround to use Message Security mode to call WCF service in .net core?

[2021-04-06 11:03] fptkolodziejczyk commented on #4469
@mconnew Ok thanks for update. Any ideas to: https://github.com/dotnet/wcf/issues/4469#issuecomment-762488973 Re.2 ?

[2021-04-06 12:41] Herschel-Krustofsky opened #4582 "ClientCredentials does not support UseIdentityConfiguration and SupportInteractive properties"
WCF provides a class 'ChannelFactory<TChannel>' which exposes a property Credentials. In .NET Framework WCF the type of the property ('ClientCredentials') has two properties 'UseIdentityConfiguration' and 'SupportInteractive' which we use in our code setting them in 'true' and 'false' respectively. Unfortunately, when we switch a project's target framework to build it against .NET Standard 2.0 and

[2021-04-06 15:09] pkatterjohn opened #4583 "EndpointDispatcher Class contains no contents"
Good Morning,

I am working on implementing a ClientMessageInspector in a .Net 5.0 application. I found documentation on how to implement this here: [IClientMessageInspector](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.dispatcher.iclientmessageinspector?view=dotnet-plat-ext-5.0).  Coupled with that is the EndpointBehavior found here: [IEndpointBehavior](https://docs.microsoft.c

[2021-04-07 06:09] MdFaisalSaeed opened #4584 "Unable to Convert dataset to ArrayOfXElement in VB.net"
I am unable to convert the dataset to ArrayOfXElement in VB.net

[2021-04-08 16:55] mumby0168 commented on #3311
@mconnew hi seen your comment earlier up in the feed. I am having the same issue with wanting to provide a NetworkCredential object to a WCF generated service. This is made up of the domain, username & password as strings provided by config, how should I setup my binding and construct my service seem to have tried every which way and had no luck any help would be greatly appreciated.

[2021-04-08 20:18] HongGit commented on #4580
@Neil180290 we don't intend to port this feature to .NET Core at all.  Please evaluate to see if you could switch to TransportWithMessageCredential.

[2021-04-08 20:18] #4580 closed

[2021-04-08 20:28] mconnew commented on #4583
The DispatchRuntime class is also empty on the contract. Can you tell me what API you are wanting to access on DispatchRuntime? There might be another way to achieve the same result, or we can expose the required API's in the next major release.

[2021-04-09 10:27] Herschel-Krustofsky commented on #4582
We create a ChannelFactory<T> instance to use it for creation of channels of different types. We then tune ChannelFactory.Credentials property (credentials used by clients to communicate a service endpoint over the channels produced by the factory) by setting SupportInteractive to 'false' (to prevent the system from interactively prompting the user for credentials) and UseIdentityConfiguration to

[2021-04-09 15:28] sefi-pchen commented on #4498
@mconnew Hi, we are having the same issue. We are using
`<security mode="TransportWithMessageCredential">`
`  <transport clientCredentialType="None" />`
`  <message clientCredentialType="UserName" />`
`</security> `
in the `<WSHttpBinding>` section.

Is there any documentation on creating the binding in code that you could point me to please? Thanks!

[2021-04-09 15:40] pkatterjohn commented on #4583
@mconnew, I am trying to add a MessageInspector through DispatchRuntime in order to intercept the received message from a vendor before it goes through our system.

My understanding of the implementation is as follows and allows for the ClientMessageInspector to execute AfterReceiveReply in which I am wanting to add a security header to the message.
[code]

If there is a better/easier way to do th

[2021-04-09 19:38] mconnew commented on #4583
As usual with WCF there's 10 ways to do the exact thing. So far there hasn't been a use case that has actually required EndpointDispatcher and/or DispatchRuntime. If something comes up where they are needed, we'll definitely expose those api's. You can add a message inspector via a different behavior api, the ApplyClientBehavior method. There's an example [here](https://github.com/dotnet/wcf/blob/

[2021-04-09 19:44] mconnew commented on #4498
@sefi-pchen, the code api layout is very similar if not identical to the config in many cases. Thankfully the WSHttpBinding is one of those cases. So you would do this:
[code]
I believe the second line isn't strictly needed as TransportWithMessageCredentials implies the client isn't authenticating with client transport credentials but there's no harm in being overly verbose here.

[2021-04-13 04:02] dnascimento commented on #4045
Please reopen this issue. This isn't working as expected and it is not well documented.

[2021-04-14 15:02] pkatterjohn commented on #4583
@mconnew , thanks for the info!

I am still running into issues getting the `AfterReceiveReply` function to execute. The code is executing the `BeforeSendReply` function so that leads me to believe I have part of the implementation functioning. I have stripped out my additional code to see if I could get just a basic execution figured out and ended up with exactly what is in the example (went ahea

[2021-04-15 03:10] jason-russell opened #4589 "CreateCertificateOverTransportBindingElement"
**Describe the bug**
`CreateCertificateOverTransportBindingElement` is not available for `SecurityBindingElement` in `CustomBinding`

.NET Framework code is using this to create a Custom Binding, and I'm trying to port to .NET Core 3.1
I'm trying to connect to a third-party service that requires a certificate binding

**To Reproduce**

This is the .NET Framework code. I'm trying to recreate the cu

[2021-04-16 00:58] mconnew commented on #4562
PR merge auto closed this issue so reopening. Marking it as a bug won't make any difference to how quickly this will get resolved. It's used for book keeping only, and we use ZenHub to manage issues that need working on so it's not really used to prioritize or organize.

[2021-04-16 04:35] dimalyshev commented on #4562
Thank a lot...

[2021-04-16 23:35] mconnew commented on #4045
@DarkAngel766, can you provide more info about about what isn't working? There's multiple things you've listed and I'm not sure what's blocking you and what you have got working. If the problem is with TransportWithMessageCredentials with client credential type of UserName, can you provide the WSDL from the server?

@dnascimento, this is the first you've commented on here and you have no info as t

[2021-04-16 23:42] mconnew commented on #4583
You won't get the AfterReceiveReply method called if there's something wrong with the message. Basically the AfterReceiveReply method is executed after the message has traversed the entire transport layer, including handling any security headers. The only thing left to do before the application code call returns is deserialization. If you are trying to add a security header that would be required

[2021-04-19 14:57] SteMcLellan opened #4593 "WSTrustChannelSecurityTokenProvider - RequestSecurityToken with ActAs"
Hello,

We have run into a problem utilizing `WSTrustChannelSecurityTokenProvider` to acquire security tokens in our application. Following examples such as https://github.com/dotnet/wcf/issues/4542#issuecomment-789333798 we have been able to successfully call our STS and issue tokens, however there exist scenarios where our application requires/desires a token that utilizes the 'ActAs' property o

[2021-04-20 07:46] penenkel opened #4597 "Connection that works with netcoreapp3.1 fails with net5.0"
Hello, me and my colleges have run into the following puzzling problem.

We have a WCF client application that communicates with a third party WCF server. We are using a `BasicHttpBinding` with `BasicHttpSecurityMode.Transport` and `HttpClientCredentialType.Windows` to establish the binding. Everything works as expected if the TFM is `netcoreapp3.1`, but as soon as we try to switch to `net5.0` eac

[2021-04-21 08:03] getstoopid commented on #1274
**2021 and the bug is still around...**
Our workaround was to add a optional 'dummy' element to the sequence in the 'container'-element in xsd so that the generator does not omit it as "not necessary?".

The Structure was something like that
[code]
and svcutil generated a **item[][]** and as others already mentioned this generated proxy cannot be used afterwards.

[2021-04-21 10:26] chaelli opened #4600 "Disable MustUnderstand in IssuerBinding"
I am using System.ServieModel.Federation 4.8.1 and cannot get a token because our STS cannot handle "mustunderstand". Is there any way to disable this attribute? I cannot see how I could access the MessageHeaders.

[2021-04-21 14:08] mkoszewski-mdg opened #4602 "How can I migrate a wcf client with federation binding from .net framework to .net core?"
I am migrating a WCF client from .Net Framework to .Net core. I am creating the client derived from ClientBase and using Federation Binding.

Here is binding creation code working in .Net Framework:
[code]
Here is corresponding code in .Net core:
[code]
Unfortunately the .net core version does not work - calling the service throws 'The HTTP request was forbidden with client authentication scheme '

[2021-04-21 18:24] mconnew commented on #4582
The SupportInteractive is only used when using SecurityBindingElement.CreateSspiNegotiationBindingElement or when using CardSpace, neither of which is supported in .NET Core so that API isn't needed. The property UseIdentityConfiguration switches to using WIF for handling security tokens. This means using classes derived from System.IdentityModel.Tokens.SecurityTokenHandler, which lives in the Sys

[2021-04-21 18:36] mconnew commented on #4600
Which header is it that the STS is not liking the mustunderstand attribute? Do you know if .NET Framework is doing something different or is this a new usage scenario?

[2021-04-22 11:55] chaelli commented on #4600
Hi @mconnew

probably on the action-tag - but it's send also on the security-tag:
[code]

[2021-04-22 17:13] requistp commented on #3712
What's the definition for ArrayOfXElement in "private DataSet ToDataSet(ArrayOfXElement data)..."?

[2021-04-23 00:10] mconnew commented on #4600
The mustUnderstand attribute is on 3 headers, all of which are marked as such for good reason. The fault reason text says the Action header is the one it's not liking. I think you are using the wrong issuer binding. The Action header is required in the envelope headers when using Soap 1.2, but with Soap 1.1 it could be sent as an HTTP header instead. You are using WSAddresssing 1.0 combined with S

[2021-04-23 06:19] chaelli commented on #4600
Thanks for diving into this!
yes, we had it running - and I think you're right about the version => we used the following tag
`<textMessageEncoding messageVersion="Soap11WSAddressing10" />`

here's the whole thing
[code]

thanks as well for the possible solution - I'll try that

[2021-04-26 02:58] acohenOT opened #4606 "Error: No type could be loaded for the value System.Collections.ObjectModel.ObservableCollection"
Environment
- Windows 10 x64
- Visual Studio 2019 16.9.4
- Recreated with empty project created with `dotnet new classlib`
- Tried with target framework `net5.0` and `net4.8`. Same result.

Problem:
When creating a WCF service reference, on the Data Type Options screen, change Array to ObservableCollection.

``Error: No type could be loaded for the value 'System.Collections.ObjectModel.ObservableC

[2021-04-26 12:59] mkoszewski-mdg commented on #4602
It turned out that the .net core WCF client didn't send the certificate with the request. .net core checks if certificate has a private key and skips it if not. https://github.com/dotnet/corefx/blob/fe7adb2bf92bba926268c2e9f562b11c84932a07/src/Common/src/System/Net/Security/CertificateHelper.cs#L39-L42
[code]
I was getting the certificate from Azure Key Vault which by default returns it without th

[2021-04-27 00:40] mconnew commented on #4600
The only thing which matters when communicating with the STS is the IssuerBinding, which in your config is a WS2007HttpBinding configured to use transport security. The `<textMessageEncoding>` element you mentioned only applies to communicating with the actual service and not the STS. The request message you provided is using an issue binding configured to use `SecurityMode.TransportWithMessageCre

[2021-04-27 14:40] lukasz-zoglowek opened #4607 "Add support for message inspectors in the callback channel"
**Describe the bug**
.NET Core version of WCF is missing CallbackDispatchRuntime.MessageInspectors API on ClientRuntime class and IDispatchMessageInspector interface.

**To Reproduce**
In legacy .NET we have following code for logging messages (outgoing and incoming messages from callback channel)

[code]

[2021-04-28 10:52] selvan-ramki opened #4609 "ProtectionLevel property missing FaultContractAttribute"
I am trying to convert some WCF project libraries to .Net Standard 2.0. For the ServiceModel, I have included the System.ServiceModel.Primitives package. But noticed that the ProtectionLevel property is missing in the FaultContractAttribute class. We have used this property in our project and thus throws an error. Any suggestion is welcome

Here is the metadata from .Net Standard (the ProtectionLe

[2021-04-28 18:16] penenkel commented on #4597
Solved.

I have found the root problem and it has little to do with WCF at it primarily caused by a change in how the `HttpClient` client computes the SPN used for Kerberos authentication.

The following [lines](https://github.com/dotnet/runtime/blob/v5.0.5/src/libraries/System.Net.Http/src/System/Net/Http/SocketsHttpHandler/AuthenticationHelper.NtAuth.cs#L116:L119) were added between 3.1 and 5.0

[2021-04-28 18:16] #4597 closed

[2021-04-29 00:17] nguyenluthuy249 commented on #3750
I faced the same exception with [https://www.openair.com/wsdl.pl](https://www.openair.com/wsdl.pl)
.Net Core 3.1, VS 2019 16.7.2

`Message readRequest1 must not have headers to be used in RPC encoded style.`
`at System.ServiceModel.Description.XmlSerializerOperationBehavior.Reflector.OperationReflector.LoadHeadersMapping(MessageDescription message, String mappingKey)
   at System.ServiceModel.Desc

[2021-04-29 11:53] maumi commented on #4547
hey @mconnew do you already wrote your Blog Post about it? I ran into a similar problem and I would be happy to see a workaround (even hacky)

[2021-04-29 15:16] lafrank opened #4611 "Unknown error occurred while invoking the service metadata component. Failed to generate service reference."
Using "WCFWeb Service Reference Provider" succeeds on one host and fails on the other for the same wsdl file.
The only output I can see in Visual Studio 2019 output console is the following:
Error : An unknown error occurred while invoking the service metadata component. Failed to generate service reference.

Can I perhaps collect some more meaningful debug log ?

Environment:
Windows 10 1809
VS 2

[2021-04-29 18:41] mconnew commented on #3750
I just double checked, and this is due to using an older version of the WCF nuget packages. Make sure you are using the latest version, which is currently 4.8.1 of the System.ServiceModel.XXXXXX packages.

[2021-04-29 19:19] nguyenluthuy249 commented on #3750
Thanks for your help. I updated the package to 4.8.1 and got a new exception

`Header namespace mismatch in member SessionHeader of type OA.readRequest1. The header namespace found in the description is . The element namespace deduced by the formatter is http://namespaces.soaplite.com/perl. This mismatch can happen if the Namespace specified in XmlElementAttribute or XmlArrayAttribute does not mat

[2021-04-29 19:49] mconnew commented on #3750
The problem you are seeing is that WCF in .NET Framework never fully supported some styles of soap services (which the .NET 2.0 Web Services implementation could produce), and as there was always the SoapClient from .NET 2.0 available, no resources were put into filling that gap. I've made some improvements to WCF Core to support these now that SoapClient isn't around, but some of the tooling stil

[2021-04-29 20:26] HongGit commented on #4584
Close this issue since this is 21days ago we asked for more info.

Feel free to re-activate with supporting info.

[2021-04-29 20:26] #4584 closed

[2021-04-29 20:33] HongGit commented on #4589
Thanks for reporting this, @jason-russell !

@mconnew can you please weigh in here?

@imcarolwang could you please looking into adding the API here?

[2021-04-29 20:43] HongGit commented on #4602
@mkoszewski-mdg I am glad that your issue has been solved.  Feel free to re-activate if you still need help.

[2021-04-29 20:43] #4602 closed

[2021-04-29 20:50] HongGit commented on #4609
@selvan-ramki ProtectionLevel  is only used when used for full Message security and is ignored with all other security mode.  We don't support full Message security so there is no supported usage scenario.

[2021-04-29 20:50] #4609 closed

[2021-04-29 20:53] HongGit commented on #4611
@lafrank can you please try out the command ling version of the tool, dotnet-svcutil.exe, which is available on Nuget.org?

[2021-04-29 21:13] nguyenluthuy249 commented on #3750
So far, we are converting our app from .Net Framework 4 to Core 3.1. Previously, we consume OpenAir SOAP service using Add Web Reference. However, this option was no longer available in Core. That's why we needed to use "Add Service Reference"

I was able to resolve the latest namespace issue with your suggestion. Then it threw a new exception

`RPC Message servertimeResponse in operation serverti

[2021-04-29 21:47] TheNicor commented on #2463
Should we abandon wcf for our developments?
Why still no correction?

[2021-04-30 00:27] mconnew commented on #4589
I'm a little confused as your binding config doesn't match your code, and I don't believe the two different bindings would be compatible, so I'm not sure which you are needing. Depending on which one you are wanting, you may or may not have a problem with the SecurityAlgorithmSuite. Let's start with the code version of the binding.
[code]

To better match your config, we need to start with a diffe

[2021-04-30 01:06] mconnew commented on #3750
It looks like you have two separate but similar operations, `servertimeWithTimezone` and `servertime`. I suspect you are using the same return object for both operations because when you fixed `servertimeWithTimezone`  to use `servicetimeWithTimezoneResponse`, your `servertime` operation broke. But each operation needs a differently named wrapper around the response. You need to duplicate your ret

[2021-04-30 10:00] lafrank commented on #4611
@HongGit  I already did so, but can only run it on the machine where the GUI version succeeded anyway (home PC). On the other one (company PC), the tool dotnet-svcutil is not passed (yet) the security clearance (don't ask why) hence cannot be installed.
The main question is whether some **more detailed logs** can be collected about the error ?

[2021-05-02 18:47] nguyenluthuy249 commented on #3750
So this is the final problem that I do not know whether it's a bug in the tool. I was able to capture the SOAP message and we can see that the `h:SessionHeader` and `q2:Array` share the same `id="id1" ` causing the server to response with Invalid Parameter Soap error. When using Adding Web Reference, the `h:SessionHeader` has `id="h_id1` which is different from the one in `q2:Array`
`<s:Envelope x

[2021-05-03 11:36] Lootvoet commented on #4589
Any Idea when this can be implemented?
We're currently porting our .NET Framework application to .NET Standard and for an integration with a third party service we need the Basic256 Security Algortithm.
We tried implementing it ourselves by overriding from the SecuritiyAlgorithmSuite class, but - as mconnew already pointed out - there are two missing instance methods.

[2021-05-03 14:21] sdesmarteau opened #4614 "Consuming a WCF Duplex service using WSDualHttpBinding"
@prasadmamidi7, `WSDualHttpBinding` is not yet supported in the .Net Core Framework, refer to [WCF features in .Net Core 2.0](https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.0.0.md) for the latest feature set; and the GitHub documentation for the [WCF Web Service Reference](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) for

[2021-05-03 15:41] anilsg123 opened #4615 "Proxy authentication with SOAP request in dotnet core"
When passing a WCF client request through a proxy requiring username/password authentication, basic HTTP security mode is set to TransportCredentialOnly and ProxyAuthenticationScheme is set to Basic mode. The response is received successfully with the expected output.

**Code reference**
Following is the code snippet for the reference

[code]

However, a proxy server can have different modes of Au

[2021-05-03 18:43] mconnew commented on #4589
@Lootvoet, Basic256 is available, it's the default. It's Basic256Sha256 which is missing. If that's what you need, we'll release this in the next possible preview build (we have one in progress so it won't be our next preview release, but the one after that).

[2021-05-03 18:57] Lootvoet commented on #4589
The only DefaultAlgorithmSuite I can pick is Triple Des (using .NET Standard 2.0, with System.ServiceModel.Security version 4.8). Am I missing something?

[2021-05-03 18:59] mconnew commented on #3750
The session header isn't a WCF owned header, so it's either part of your service contract using a MessageHeaderAttribute or you are adding it using a message inspector. Generation of the ID's is done as part of turning on objects being references. On the Web Services generated client, is the SerssionHeader reference id referenced anywhere in the body? I think the difference is that WCF uses a sepa

[2021-05-03 19:05] mconnew commented on #4589
It looks like we didn't add two more properties to the contract for SecurityAlgorithmSuite. There should be a .Default and .Basic256. But the good news is if you don't set it to anything, the default value is Basic256.

@imcarolwang, can you add the Default and Basic256 static properties to SecurityAlgorithmSuite in the contract too. They already exist in the implementation.

[2021-05-03 19:15] Lootvoet commented on #4589
Alright perfect! Thanks for the clarification.

[2021-05-04 00:21] nguyenluthuy249 commented on #3750
Hi,
Following is the code generated by the Svcutil tool.

[code]

I do not see anywhere that the SessionHeader reference id reference in the generated code. We are consuming OpenAir SOAP Service so we do not have the SessionHeader code. The wsdl is at: https://www.openair.com/wsdl.pl

[2021-05-04 18:54] mconnew commented on #3750
Having the wsdl will help a lot. I've got some other tasks which have bubbled to the top of my todo stack so this will need to wait a few days. If I haven't posted an update by Wednesday next week, feel free to ping again on this issue.

[2021-05-05 04:39] anilsg123 opened #4620 "Proxy authentication with SOAP request in dotnet core with Linux environment"
When passing a WCF client request through a proxy requiring username/password authentication, basic HTTP security mode is set to TransportCredentialOnly and ProxyAuthenticationScheme is set to Basic mode. The response is received successfully with the expected output.

**Code reference**
Following is the code snippet for the reference

[code]

However, a proxy server can have different modes of Au

[2021-05-05 08:50] chaelli commented on #4600
Hi @mconnew
sorry for the late reply - I was on vacation.
here is the wsld of the sts (some parts deleted)
[code]

but as I didn't have time to test your workaround - no need for you to spend more time on it.. I also notice that I know too little about soap to really be of any help here :/

[2021-05-06 09:24] lafrank commented on #4611
Any update please ? No detailed logging exists ? Then it is going to be a feature-request.....

[2021-05-06 10:17] Doomblaster opened #4618 "ClientMessageInspector doesn't work properly when generating async methods and using async/await"
As already mentioned here: https://github.com/dotnet/extensions/issues/3412

When creating a loggingscope in a clientmessageinspector, the logging scope is not disposed properly when using async/await due to how AsyncLocal is handled

Sync:
![image](https://user-images.githubusercontent.com/1055547/117280018-79e4d500-ae62-11eb-9f31-6fc055f37816.png)
Async:
![image](https://user-images.githubuserco

[2021-05-06 13:48] weimaryn commented on #4589
For the Colombian electronic invoice is necessary use `SecurityAlgorithmSuite.Basic256Sha256Rsa15` to validate message security.

¿There is any possibility to include this algorithm in future versions? or ¿There is any way to re-write this .Net Framework code with the current version on .NET 5?

`var binding = new WSHttpBinding(SecurityMode.TransportWithMessageCredential);`
`binding.Security.Trans

[2021-05-07 19:11] TheDevKnight opened #4622 "Ignore Name of SOAP ServiceClient in SOAPAction or Alternative for System.Web.Services.Protocols.SoapDocumentMethodAttribute()"
Hi,

i port an old App from .NET 4.8 to .NET 5 and have the problem with and old SOAP Client.

My app use
    <PackageReference Include="System.ServiceModel.Http" Version="4.8.1" />
    <PackageReference Include="System.ServiceModel.Primitives" Version="4.8.1" />

[code]

The problem is now that the SOAPAction Header looks like

"CompanyX.SOAPService/ICompanyXService/SendRequest_2014_Q3"

and my e

[2021-05-07 19:14] #4622 closed

[2021-05-07 19:14] TheDevKnight commented on #4622
Sorry found the solution by myself :)

[OperationContract(Action = "CompanyX.SOAPService/SendRequest_2014_Q3")]

[2021-05-07 20:03] mconnew commented on #4589
@weimaryn, it will be added to an upcoming preview build. WCF doesn't depend on the latest .NET build and for the foreseeable future will continue to work all the way back to .NET Core 2.1 so there's no worry about staying on .NET 5.

[2021-05-07 20:06] mconnew commented on #4589
@imcarolwang, can you also add the two overloads of SecurityBindingElement.CreateCertificateOverTransportBindingElement to the contract, the implementation is already there.

[2021-05-07 20:17] tayfunuyar commented on #31
You can try this.
https://www.nuget.org/packages/WsSecurityCore/

You can get the response as XmlNodeList  or Xml full string and convert to response your class use XmlSerializer.

[2021-05-08 01:22] imcarolwang commented on #4589
Added in PR #4617 .

[2021-05-11 10:54] Mohamed-Effat commented on #31
@mconnew Do we currently have support for `Security - WSS SOAP Message Security UsernameToken Profile 1.1` with PasswordText type? even if it's in the preview versions?

If so could you please provide an example on how to configure it's binding?

[2021-05-12 01:48] mconnew commented on #31
We do support a subset of message security. We don't support signing or encrypting the message itself, but we do support the token authentication part of it, but we only support the UsernameToken Profile 1.0. The difference between 1.0 and 1.1 is that 1.0 doesn't really obfuscate the password and 1.1 hashes it (and specifies the hash algorithm). The reason why this couldn't be done in WCF on .NET

[2021-05-12 09:15] mcNets opened #4625 "Error migrating client from Net Framework 4.7.2 to Net 5"
Visual Studio 16.9.5

I'm trying to migrate our client classes from Net Framework 4.7.2 to Net 5 and I'm getting an error:

`Error in deserializing body of reply message for operation 'read'.`

I'm trying to connect to a 3rd party web service that requires pre-authentication, I'm using OperationContextScope to set it.

[code]

This is the payload returned using SoapUI:

[code]

I'm trying to add t

[2021-05-12 16:03] udlose commented on #1274
@mlacouture @dasetser @HongGit @zhenlan @huanwu @hongdai @shmao

It's shameful that this bug has existed for so long and the "known workaround" recommended by Microsoft is to **manually edit an auto-generated file**!  I'm in disbelief that you'd recommend manually editing a generated file and expect that to be acceptable and maintainable.

Why can't this be resolved correctly?

[2021-05-12 16:08] udlose commented on #3654
@mconnew @StephenBonikowsky

This bug still exists in .NET 5.  Any idea when it will be fixed?

[2021-05-12 19:23] Mohamed-Effat commented on #31
@mconnew Thank you so much for the guide.
But there's something that also interest me in what you said there, we do support UsernameToken Profile 1.0 ?
Is it out of the box? I couldn't get 1.0 to work on Core except with the help of these blog posts [here](https://bbrauns1.wordpress.com/2019/11/07/how-to-add-soap-ws-security-usernametoken-profile-to-net-core-3-0-client/) and [here](https://landonh

[2021-05-12 23:41] mconnew commented on #31
You probably just want to use BasicHttpBinding with security mode TransportWithMessageCredential. Then set BasicHttpBinding.Security.Message.ClientCredentialType to BasicHttpMessageCredentialType.UserName. If you need any of the other WS-* specs like secure conversation, then you would need either WSHttpBinding or WS2007HttpBinding.

[2021-05-13 00:59] Mohamed-Effat commented on #31
@mconnew I've tried it but it did not create a Security tag in the envelope's headers tag
I'm assuming it instead created a BASIC Http request header? I'm only assuming as the `IClientMessageInspector.BeforeSendRequest` `Message` object does not show actual headers sent in the HTTP request (?)

This is the configuration I've used
Note: The `System.ServiceModel.Security` nuget package version is `4

[2021-05-13 01:04] mconnew commented on #31
It will be there. Message inspectors don't run at the transport end of the stack where you would see the header, they run at the top where only the message body and basic headers are populated.
It's possible that the wrong security version is being used. A security header with the wrong name space is as good as no security header. Do you have an example of the expected security header? It might ju

[2021-05-13 01:39] Mohamed-Effat commented on #31
This is the Expected security header tag

[code]

I am not sure what does the header that WCF should be sending here should look like (and I'm fairly new to OASIS standards) but if it's the standard http header
key: `Authentication` value: `Basic base64Encoded(username:password)` then I'm sure my server doesn't accept that.
I can only call the server from a client, I do not have access to how it's

[2021-05-13 18:45] simo-92 commented on #4363
Any update on this problem? I am facing this as well.

[2021-05-13 18:48] mconnew commented on #31
That is exactly the header I would expect to be emitted by WCF when using BasicHttpBinding. Can you use [Fiddler](https://www.telerik.com/fiddler/fiddler-classic) to capture the request headers that WCF is sending and see what security header is being sent?

[2021-05-15 15:18] #3193 closed

[2021-05-16 13:38] Mohamed-Effat commented on #31
@mconnew Ok, so after investigating with fiddler, something interesting showed up.
Apparently the configurations I've [mentioned above here](https://github.com/dotnet/wcf/issues/31#issuecomment-840206231) sends the credentials inside the envelope headers as a Security tag and not as a Basic HTTP header, but even though the security tag is sent in the body in the end, It does not show in the `IClie

[2021-05-16 15:42] mconnew commented on #31
Oh, I think the problem is the server isn't responding with a security header. It's supposed to by the spec, but some implementations don't. There is a workaround, but I'm not going to have time to post it until Tuesday. It is mentioned elsewhere in another issue. Search for EnableUnsecuredResponse and you should find it.

[2021-05-16 21:33] Mohamed-Effat commented on #31
@mconnew No need, You've helped me more than enough, thank you for your support on this project.

For those who look find similar issue Here's the Issue #3653 comment [here](https://github.com/dotnet/wcf/issues/3653#issuecomment-503734676) that has the workaround.

So basically If one has a server that uses `UsernameToken Profile 1.0` for security AND the server does not return a security header o

[2021-05-21 01:57] Latency commented on #4293
[code]

  Error: An attempt was made to load an assembly with an incorrect format: C:\Program Files\dotnet\packs\Microsoft.NETCore.App.Ref\6.0.0-preview.3.21201.4\ref\net6.0\Microsoft.CSharp.dll.

----------

Remove the [GenerateSerializationAssemblies] or set to 'Auto' by default yields..... results below.

----------

**Compile**
**Run**
[code]

System.IO.FileNotFoundException: 'Could not load f

[2021-05-21 10:52] sachinninawe25 commented on #4233
@mconnew I am also facing the same issue and tried multiple work around to work but didn't succeeded.

Is there any latest release related to wshttpbinding support in .net core?

Thanks

[2021-05-21 10:55] sachinninawe25 commented on #31
Hi Guys,
I am also facing the same issue and tried multiple work around to work but didn't succeeded.

Is there any latest release related to wshttpbinding support in .net core?

Thanks

[2021-05-21 17:41] GitAntoinee opened #4632 "SecurityMode.Message is not supported?"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a an instance like `var client = new WSHttpBinding(SecurityMode.Message)`
2. Call `client.OpenAsync().Wait()`

**Expected behavior**
No exceptions thrown

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Additional context**
I am on Li

[2021-05-21 20:43] GitAntoinee commented on #4632
The same code, using .NET framework 4.8 works perfectly (with Wine)

[2021-05-25 06:36] maxbeber commented on #2686
@mconnew thank you for your code and I'm facing this issue now. I've to migrate a solution to .net core and it relies on a WCF service having a couple of headers in the request such as the basic authentication for example.

 For your information, you mentioned the request headers in your example, however, you've used the `HttpResponseMessageProperty` class instead of `HttpRequestMessageProperty`.

[2021-05-25 08:42] lafrank commented on #4611
Any update please ?

[2021-05-25 15:30] wondertalik commented on #3654
Probably i have related issue. Have [xsd](https://gist.github.com/wondertalik/182e68574d01d7ac78a7f4a720c45c60) generated by dynamics 365. As you can see all fields of EmployeeCard have minOccurs=0. Example of [response](https://gist.github.com/wondertalik/3b9354b0fb9b7804cc27a0bfc5416ccd).

To generate wcf client i used both [Visual Studio Conected Services](https://docs.microsoft.com/en-us/dotne

[2021-05-26 15:00] acohenOT commented on #4606
Workaround:

- Change project `TargetFramework` to `netstandard2.1`. I cannot get this to work with `net5.0`.
- Add NuGet package `System.ObjectModel` to project

Now, when you go to add the WCF reference, change `Collection type` to `System.Collections.ObjectModel.ObservableCollection`, check `Reuse types in referenced assemblies`, select `Reuse types in specified referenced assemblies` and check

[2021-05-27 09:12] raphaelmarcucci commented on #4431
This fix would seriously be needed.
Any update would be more than welcome.

[2021-05-27 10:36] rughvi commented on #1655
HI there,
I am still unable to have a success with 'reliableSession' binding in any of the following clients:
.Net Core 3.1
.Net standard 2
.Net 5

My wcf service is running as a .net framework 4.7.2.

I tried both wsHttpBinding and CustomBinding.

Am I missing anything?

How can I achieve 'reliableSession' in .Net Core 3.1 client talking to .Net framework 4.7 server setup with 'reliableSession' b

[2021-05-27 21:02] HongGit commented on #4614
This implementation should be done on the server side, see tracking issue corewcf/corewcf#361.

[2021-05-27 21:02] #4614 closed

[2021-05-27 21:15] mconnew commented on #4625
It's not clear if the problem is WCF isn't understanding the correct response that was returned or if the error is caused by a response indicating authorization problems. Can you use [fiddler](https://www.telerik.com/download/fiddler) to find out which is your problem and then we can go from there. Your code to add the authentication header looks correct to me so I don't think that's your problem.

[2021-05-27 21:19] HongGit commented on #4632
You are correct, this is not implemented yet.  There is no plan to add this due to missing dependencies

[2021-05-27 21:19] #4632 closed

[2021-05-27 21:22] HongGit commented on #4618
Since this is not a feature which was supported in .NET Framework, there is no plan to support this in .NET Core either.  It does seem like you could use Capri as a workaround.

[2021-05-27 21:22] #4618 closed

[2021-05-31 08:01] mcNets commented on #4625
Ok, I'll try with fiddler and keep you posted.

[2021-06-01 02:58] #4554 closed

[2021-06-02 10:27] v-glushkov commented on #211
+1 vote for this feature. I need to discover onvif cameras so I need the System.ServiceModel.Discovery namespace in my app to use DiscoveryClient and UdpDiscoveryEndpoint.

[2021-06-03 04:26] hxchintakunta commented on #3955
@gthvidsten Can you give me some references on how to set Authorization header through code using BasicHttpBinding .

[2021-06-03 21:48] mconnew commented on #4464
@wouterroos, I have the start of this available [here](https://github.com/mconnew/wcf/tree/SysWebServices). Can you check that the api's you need are available there?

[2021-06-03 22:01] wouterroos commented on #4464
@mconnew Thanks for the update. I'll notify our team and will make sure we have a look. Our use-case requires that we are able to generate (partial) WSDL's. We're mostly interested in the part that describes service/operation contracts since that is (as far as I know) the only truly technology agnostic way to describe a service contract. Our product uses ServiceContracts without necessarily relyin

[2021-06-03 22:07] mconnew commented on #4464
You may have some problems still. The operation contracts are largely generated by creating the XML Schema using the serialization classes and those api's are still not available. I'm going to need to get those added, but unfortunately the release timeline for the runtime repo means it's likely not going to happen until .NET 7. This work is in support of CoreWCF as well as dotnet-svcutil (which ca

[2021-06-03 22:12] wouterroos commented on #4464
@mconnew Thanks, I'll have a detailed look at both your work and our requirements soon as I'm a little fuzzy on the details of both and will get back to you. If we can assist in any way on making this stuff happen please don't hesitate to ask!

[2021-06-04 02:18] HongGit commented on #4279
Closing since no follow up response.

Feel free to re-activate if this is still an issue.

[2021-06-04 02:18] #4279 closed

[2021-06-04 03:06] imcarolwang commented on #3675
I am able to generate proxy code for http://www.mcommunicator.ru/m2m/m2m_api.asmx?WSDL from `"Connected Services->Microsoft WCF Web Service Reference Provider"` tool on a test machine installed with Visual Studio 2019 - 16.10.0 Preview1.0, the generated code is the same as with running dotnet-svcutil (version2.0.2).

So please try the scenario on a newer version of Visual Studio 2019, feel free to

[2021-06-04 03:06] #3675 closed

[2021-06-04 03:46] imcarolwang commented on #4361
The latest release of the tool currently supports .NetCore version up to 5.0.

Install the tool with command:
` dotnet tool install --global dotnet-svcutil --version 2.0.3-preview2.21264.1`

[2021-06-04 03:46] #4361 closed

[2021-06-04 08:41] #4359 closed

[2021-06-09 21:55] waguirre commented on #4589
@mconnew Hello,  do you know if SecurityAlgorithmSuite.Basic256Sha256Rsa15 will be available for the 6 preview?

[2021-06-10 03:21] anilsg123 opened #4635 "How to bypass the proxy in wcf"
I have created a sample for wcf client that communicates with the service via proxy server. Client authenticates to proxy server using Basic authentication. Communication is successful with the desired response with the usage of BasicHttpBinding element aloing with CustomBinding properties. However, there is a requirement to bypass the proxy server if the network settings of the system are configu

[2021-06-10 17:07] krispenner commented on #3424
Hi @mconnew and @StephenBonikowsky, are there any updates on this task? It has been blocked for over a year so I'm just checking in again :)

Can you also confirm that this task, when or if completed, will resolve the issue @mconnew discusses with me [here](https://github.com/dotnet/wcf/issues/3860#issuecomment-594962816)?

I assume the blocker here is due to the code that isn't yet in .NET Core?

[2021-06-10 17:46] tclopes commented on #1810
Any news about supporting MTOM?

[2021-06-10 19:15] mconnew commented on #4589
@waguirre, the suite `SecurityAlgorithmSuite.Basic256Sha256Rsa15` is functionally identical to `SecurityAlgorithmSuite.Basic256Sha256` when using TransportWithMessageCredential. The tail Rsa15 only changes things when using SecurityMode.Message where the message is encrypted. So if you are using TransportWithMessageCredential, then you are covered. If you are using Message security, then that feat

[2021-06-12 19:16] krispenner commented on #3424
Thank you very much @mconnew for the detailed and honest update.

[2021-06-13 22:42] AndrewZenith commented on #3248
I've used svcutil to generate the reference.cs.  .Net Core 2.2 created the message correctly with <?xml version="1.0" encoding="utf-8"?>.
However, I have shifted to .Net 5, run application and it now outputs <?xml version="1.0" encoding="utf-16"?>.

private CustomBinding CreateBinding(Badge badge, string endpoint)
        {
            ResourceCodeMessage($"Creating {endpoint} Binding...");

[2021-06-13 22:48] AndrewZenith commented on #3248
It's been mentioned on SO as well:
https://stackoverflow.com/questions/57348502/can-you-change-the-xml-declaration-of-a-wcf-client-request-if-so-how

[2021-06-15 12:53] AndrewZenith commented on #3248
AH, OK.  I see.  request.ToString() now gives xml tags with utf-16 when it didn't under the .Net Framework 4.8.  I've modified to get the xml in a way that doesn't cause it to have utf-16.

object IClientMessageInspector.BeforeSendRequest(ref Message request, IClientChannel channel)
		{
                        //string newMessage = AddSecurity(request.ToString()); // No longer works, gives xml tag

[2021-06-15 13:22] akoeplinger commented on #4237
@HongGit just checking whether this is still planned for .NET6? We need it for Xamarin scenarios, I'm happy to send a PR if it's just a matter of adding the net6.0 TFM to the projects.

[2021-06-16 21:38] #4093 closed

[2021-06-18 08:06] imcarolwang commented on #4216
This issue should have been fixed in the recent release of VS16.11 Preveiw2 which could be downloaded from [HERE](https://visualstudio.microsoft.com/vs/preview/). Please give it a try. If issue persist feel free to re-activate this issue.

[2021-06-18 08:06] #4216 closed

[2021-06-18 08:46] imcarolwang commented on #4197
This should have been fixed in the recent release of VS16.11 Preveiw2 which download link could be found [HERE](https://visualstudio.microsoft.com/vs/preview/). Please give it a try. If problem persist feel free to re-activate this issue.

[2021-06-18 08:46] #4197 closed

[2021-06-18 21:48] mconnew commented on #4237
@akoeplinger, the delay has been in finding bandwidth to test it. Adding net6.0 is simple to do, but when the reason is to enable Xamarin usage, we should test the generated packages with a Xamarin app to make sure it is picked up and used at runtime. If you can do that validation, then I'm happy to accept a PR adding net6.0. I'm just not comfortable adding something blindly without testing it in

[2021-06-21 13:27] AlNoes commented on #3264
"ExtendedData" -> "Endpoint" also can't be used with a relative path. It's kind of working but resolves to a full path using the location of the VS installation...

[2021-06-23 10:42] akoeplinger commented on #4237
@mconnew ok, I think we can do the testing/validation on our side.

[2021-06-23 14:46] akoeplinger commented on #4237
I forced using the netcoreapp2.1 assets in the System.ServiceModel.Primitives 4.8.1 package from nuget into a sample .NET 6 Xamarin Android app and was able to call a SOAP service with a WCF client generated from the WSDL by `dotnet-svcutil` and it worked so we know at least the basics are working :)

@mconnew I'll look at adding net6.0 to the .csproj's and test with that too.

[2021-06-23 17:11] wouterroos commented on #4464
@mconnew Additional question: what functionality will you support in CoreWcf exactly for which this is needed? Will we be able to expose a metadata endpoint or something?

[2021-06-23 22:15] mconnew commented on #4464
The intention is to expose the WSDL in CoreWCF. I don't know if the Metadata endpoint needs this as that's a separate SOAP contract whereas a WSDL is just a schema file that you download. As most people use WSDL and not Metadata, that's the first part I'm implementing. I'd like to eventually support IWsdlImportExtension in this repo and IWsdlExportExtension (needed for the WSDL support) in CoreWCF

[2021-06-23 22:21] mconnew commented on #4464
To actually answer your question, I intend to support fetching the Wsdl, SingleWsdl, and the IMetadataExchange SOAP endpoint for fetching the metadata, as well as the help page that WCF generates by default (apparently some people depend on it being there)

[2021-06-23 22:43] HongGit opened #4643 "7.0 Release"

[2021-06-23 22:45] #4643 closed

[2021-06-23 23:01] HongGit commented on #4434
This is fixed.

[2021-06-23 23:01] #4434 closed

[2021-06-23 23:05] mconnew commented on #4635
Are you wanting to explicitly set the bypass list or have the system bypass list automatically picked up? By default WCF lets HttpClientHandler deal with this, but we do have the ability to override the proxy using an IWebProxy implementation and you would fill out the IsBypassed implementation. If you are wanting to automatically use the system configured proxy bypass list, this is an issue for t

[2021-06-23 23:17] HongGit commented on #4387
@imcarolwang can you please take a look at this issue?

[2021-06-23 23:20] HongGit commented on #4164
@mconnew can you please follow up on this?

[2021-06-23 23:23] HongGit commented on #4163
@imcarolwang can you please see if you could put together a repro?

[2021-06-23 23:30] HongGit commented on #4607
@imcarolwang can you please work on this implementation at your earliest convenience?

[2021-06-24 12:24] akoeplinger commented on #4387
This also impacts the new .NET6 based Xamarin projects which use `net6.0-android` and `net6.0-ios` TFMs.

A workaround is to temporarily change the TFM in the project to `net6.0`, run `dotnet-svcutil` and then change it back.

[2021-06-28 08:25] chaelli commented on #4600
I'll close this for now as I haven't had time to try the workaround. I'll update the Issue once I had

[2021-06-28 08:25] #4600 closed

[2021-06-29 02:37] GarthMartin commented on #4153
@mconnew I realize this is a year old, but I am running into much the same issue (connection limits and SNAT port exhaustion) trying to access WCF services from an Azure Function app.  Unfortunately I have to use a v1 function app since one of the endpoints only supports MTOM encoding and I cant get that in the v2+ versions.

I have been trying to initialize a single client in my function app star

[2021-06-29 15:47] videoguy commented on #2535
What is the final verdict on this?
I have a .Net framework based process hosting a WCF service end point. I like to support a client running in .Net5 process over WCF.
Is that possible?

[2021-06-30 14:52] wouterroos commented on #4464
@mconnew Thanks!

[2021-07-01 07:05] celestialvigor commented on #3228
Hello everyone,
Is there any update on this issue? We are still failing to use .NET Core for our SOAP clients - which are a extremely important to our services - because of this issue.
Not sure if it's the size of the data or it being nested is the problem, but it seems the serializer can understand some values in an object and not others, rendering them as nulls.
This doesn't seem to be a problem

[2021-07-01 13:16] MeikTranel opened #4658 "Visual Studio SvcUtil integration uses xmlparse to read properties where they should be evaluated"
**Describe the bug**
When using property references to control the target framework of a project, svcutils reads the msbuild syntax instead of the actual value crashing the update servicereference option in `Visual Studio 2019 16.10.2`.

`svcutil` should use either use MSBuild evaluation libraries or receive the values from Visual Studio as parameters. XML parsed values are super suboptimal alltog

[2021-07-01 22:22] sekar79 opened #4659 "how do i convert this to .net core? I don't see custom binding with mutual certificate?"
how do i convert this to .net core? I don't see custom binding with mutual certificate?
This is my binding.
[code]

behavior is
[code]

[2021-07-06 03:04] HstAdmin commented on #3565
Importing web service metadata ...
Number of service endpoints found: 0
Scaffolding service reference code ...
Warning:Warning: No endpoints compatible with .Net Core apps were found.
Updating project ...
Done.

Getting this error while adding WCF Service, Please help

[2021-07-07 17:17] tapizquent commented on #3734
@mconnew
What would be a similar solution for implementing `BeforeSendReply` using `IClientMessageInspector`?

We need to do an xslt transform before sending a reply but this method is only present in `IDispatchMessageInspector`.

[2021-07-07 17:22] tapizquent commented on #4583
Is there any way to make changes to the Message before sending a reply?

We are currently using `BeforeSendReply` from `IDispatchMessageInspector` but as pointed out here, that class is completely missing from the package.

The vendor providing the service is expecting a reply with an specific naming, therefore we are using the `BeforeSendReply` to perform an xslt transform.

[2021-07-07 17:45] tapizquent commented on #4607
Having access to `AfterReceiveRequest` and `BeforeSendReply` from `IDispatchMessageInspector` is critical to ensuring messages can be modified.

Is there any workaround to using `BeforeSendReply` with the current exposed APIs?

[2021-07-07 18:48] tapizquent opened #4661 "TypedMessageConverter missing from ServiceMovel.Description"
**Describe the bug**
Currently in this implementation, the class `TypedMessageConverter` is completely missing from the ServiceModel.Description and there doesn't seem to be any workaround to convert an untyped Message to a Typed one.
Is this going to be added in the near future or is there any alternate solutions for doing the typed conversions?

**To Reproduce**
Steps to reproduce the behavior:

[2021-07-07 19:20] leobasilio opened #4662 "Sending Full Client Certificate Chain"
Hi. I need to send a SOAP request to a server, and a client certificate is required for authentication. The client class was automatically generated from a wsdl file. I have a pfx file, which contains the private key and three certificates (client, intermediate CA, root CA). Here's what I'm doing:

[code]

Nothing unusual here, however I keep getting this error:

The same request works fine on Pos

[2021-07-08 03:35] sekar79 commented on #4589
I am getting this error when calling SOAP services from .net core client. Any help?
when i am calling i get this error. An unsecured or incorrectly secured fault was received from the other party. See the inner fault
exception for the fault code and detail.  Dynamic back end host not specified.

[2021-07-08 20:06] atifalibhatti commented on #2535
Any updates on this?

[2021-07-08 20:26] #4237 closed

[2021-07-08 20:38] HongGit commented on #4635
We didn't hear back from you for a while, close it now.  Feel free to re-activate this if there are more questions regarding this.

[2021-07-08 20:38] #4635 closed

[2021-07-08 20:47] HongGit commented on #4659
@sekar79  what you are asking is full Message security feature, which is not supported.  Is it possible to use a different binding?  There are other binding which support client and server certificate authentication without full Message security.

[2021-07-08 20:51] HongGit commented on #4661
@tapizquent thanks for logging this issue with us!

@imcarolwang could you please look into whether you could submit a PR for this?

[2021-07-08 20:56] mconnew commented on #4662
All we do is set the `X509Certificate2` instance that you provide onto the property `HttpClientHandler.ClientCertificates` without doing anything special. Transferring this issue to the runtime repo as this is ultimately a question on how to do this with HttpClientHandler and we're just the middle man setting a property.

[2021-07-09 07:08] 1nauman opened #4666 "HttpTransportBindingElement is missing 'DecompressionEnabled' property"
Using version 4.8.1
I fail to find the property 'DecompressionEnabled' on 'HttpTransportBindingElement'.

[2021-07-09 10:47] ManojPatelA commented on #2377
@zhenlan , @mlacouture It seems there is no use of Reference.svcmap at runtime. Is there a way we can exclude them with build output directory ? For my case copy to output directory is selected but whenever I build the code I see them all under "Service References" folder. Is there a way to exclude them ?

[2021-07-10 14:42] koohgard commented on #4292
hi @jieling07  , @HongGit
i have a same problem
i set  ChannelFactory.Credentials.UserName  but not work for me
@jieling07 If you have solved it please help me

[2021-07-13 09:34] imcarolwang commented on #4350
Not repro any more.

[2021-07-13 09:34] #4350 closed

[2021-07-14 02:10] sekar79 opened #4670 "cannot find a token authenticatorfor the system.Identitymodel.tokens.X509SecurityTOken token type"
I am getting an error when calling WCF service from .net core 3.1 client. i used connected services to import the WSDl and generated client code. When calling the service, i am getting below error. Cannot find a token authenticator for the System.Identitymodel.Tokens.X509SecurityToken. Tokens of that type cannot be accepted according to current security settings.

In .net framework client, i had p

[2021-07-14 02:20] HongGit commented on #4611
@lafrank thanks for logging this issue!

At this point, there is no plan to add detailed logging for WCF Connected Services in VS.

[2021-07-14 02:45] imcarolwang commented on #4191
The problem described in issue no longer reproduce in the recent release of Visual Studio 2019 - 16.11 Preview3, it could be downloaded from https://visualstudio.microsoft.com/vs/preview/.

[2021-07-14 02:45] #4191 closed

[2021-07-14 03:03] imcarolwang commented on #4494
We couldn't reproduce the error with the given information.

Could you please try the scenario on  the latest VS release which could be downloaded from https://visualstudio.microsoft.com/vs/preview/ ? For command line tool release you can find the install command from [here](https://www.nuget.org/packages/dotnet-svcutil/2.0.3-preview2.21264.1).

[2021-07-14 05:44] saisworld commented on #4494
I m using the latest version of VS. VS 2019.

[2021-07-14 06:00] imcarolwang commented on #4494
To make sure, are you trying on VS Version 16.11.0 Preview 3.0 ? It's only released quite recently. If you can still reproduce, is it possible for you to provide the wsdl file？

[2021-07-14 14:27] LaughingJohn commented on #4191
Thanks @imcarolwang !

[2021-07-15 20:59] mconnew opened #4674 "Add WSTrustChannelFactory and WSTrustChannel to Federation package"
This issue is to track creation of a new WSTrustChannelFactory and WSTrustChannel client to enable scenarios which require getting a SecurityToken from an STS and using it outside of WCF.

[2021-07-15 21:00] mconnew commented on #4674
@brentschmaltz, this issue is for tracking the WSTrustChannelFactory work you have started the design for.

[2021-07-16 02:06] StephenMolloy commented on #3228
Sorry for the delay on this one. It has been passed around a bit as folks have been shuffling responsibilities over the last couple years, and has unfortunately been lost a time or two along the way.

There are a lot of reports coming in on this thread that are somewhat vague or '+1' in nature that might not really be the same issue that the OP (@jugg1es) was reporting. I see that at least one of

[2021-07-16 02:06] #3228 closed

[2021-07-16 14:21] jugg1es commented on #3228
Thanks for the detailed description @StephenMolloy.  Does that mean the serializer in .NET Framework 4.7.1 is implemented incorrectly?  Why would it work in 4.7.1 and not in .net core 2.1?

[2021-07-17 16:40] dsimic99 commented on #3228
Hi I'm currently working on my Semester Project and this is the only thing that isn't working. How can i make it work?
Should i manually deserialize or is there a easy fix?

[2021-07-17 17:16] dsimic99 commented on #3228
I'm a Student and just faced this Issue. I fixed it by not returning the actual Object(and letting it serialize that way) instead i serialized the Object into XmlDocument and then returned XElement.Parse(XmlDocument.OuterXml).
This is more a workaround but it fixed my issue.

[2021-07-17 22:12] sekar79 opened #4677 "how do we create this binding .net core client?"
This is old setting in .net framework 4.7.2.

`<binding name="MutualCertificateSigningNoAuthenticationBinding" sendTimeout="00:01:00">
          <textMessageEncoding messageVersion="Soap11WSAddressing10" />
          <security authenticationMode="MutualCertificate" requireDerivedKeys="false" enableUnsecuredResponse="True" includeTimestamp="true" keyEntropyMode="ClientEntropy" messageProtectionOrde

[2021-07-17 23:23] sekar79 commented on #4659
@HongGit  I am writing client code for above SOAP service created in Java. WCF services are created by different company and we need to call this service to get data. We were using .net framework and now switched to .net core. This is the last piece in the migration. All i need is to create a client to call this service. I am not able to change anything on other end.

[2021-07-19 07:31] mspaic96 commented on #2472
Has anyone solved this problem?

[2021-07-20 09:08] StephenMolloy commented on #3228
To be honest @jugg1es, I don't know. I see the same behavior from both 4.7 and 4.8 svcutil.exe and 4.7 and 4.8 XmlSerializer. I don't see any changes between 4.7.1 and 4.8 that would explain why this would work then and not now. It should have always not worked. I also find that the response data you provided does not validate against the schema part of the wsdl using [this C# technique](https://d

[2021-07-20 12:30] celestialvigor commented on #3228
For us, it was issue [#2804](https://github.com/dotnet/wcf/issues/2804)
Solved by removing "Order = n" from every xml element attribute containing that argument in the generated reference file.
Example:
` [System.Xml.Serialization.XmlElementAttribute(Order = 2)]` --> ` [System.Xml.Serialization.XmlElementAttribute()]`

Per the discussion in the linked issue, removing the order argument could cause

[2021-07-20 18:39] jugg1es commented on #3228
Oh, I agree with you that the wsdl is not valid after reading your response and looking at the schema.  I'm going to chalk this up to voodoo and move on.  Thanks again for following up on this thread.

[2021-07-20 21:01] HongGit commented on #4666
@mconnew  could you please add the property for the upcoming release?

@imcarolwang  could you please work with Matt to come up with a testing?

[2021-07-20 21:09] HongGit commented on #4670
@sekar79 is it possible for you to provide a sample reply from .NET framework scenario, and also provide the binding info in your repro?

[2021-07-20 21:15] HongGit commented on #4677
@sekar79 WCF Core client does not support Message Security.  Is it an option for you to change server side binding to support equivalent security?

[2021-07-21 01:14] sekar79 commented on #4677
@HongGit  We cannot make any changes to server side as it is hosted by another company. They are using mainframe systems and they don't have immediate product plans to change this. We are moving from .net framework to .net core. and we got stuck at this.

[2021-07-21 01:15] sekar79 commented on #4670
@HongGit  i have added binding info in my other post. When i use that i am getting this error.

[2021-07-22 11:16] AndrewZenith opened #4680 "Problem with User-Agent header in SOAP call migrating from net 48 to net5.0"
A Service requires us to send a specific User-Agent header.

The following works fine in net48, but not net50 (i.e. using this library).  How do I get this to work?

using (OperationContextScope contextScope = new OperationContextScope(SOAP.InnerChannel))
                    {
                        OperationContext.Current.OutgoingMessageProperties[HttpRequestMessageProperty.Name] = new HttpRequ

[2021-07-23 11:31] chucker commented on #4293
I have a (similar?) issue, including with version 5.0 (and `6.0-preview6`).

Even though this project targets `net5.0-windows`, there's a `GenerateRspFiles` target (I'm not sure from where), and that in turn calls `GenerateSerializationAssembly`, apparently with Framework's `sgen`.

This project has `COMReference` elements, which results in this error when trying to run `dotnet build`:

I wonder i

[2021-07-27 05:28] HongGit opened #4682 "Add Support D-Auth in System.ServiceModel.Federation/Microsoft.IdentityModel.Protocols.WsFederation"
**Describe the bug**
Tracking work needed on WCF Core side for adding support D-Auth in System.ServiceModel.Federation/Microsoft.IdentityModel.Protocols.WsFederation

**To Reproduce**
Steps to reproduce the behavior:
1. Ideally a sample project that we can debug.
2. Full call stacks.
3. For issues related to generating client code using dotnet-svcutil please provide the WSDL.

**Expected behavior*

[2021-07-27 16:05] JVarga3 opened #4683 "WCF Debugger Issue with Client"
Hello,

[Reference issue](https://github.com/dotnet/wcf/issues/4363#issuecomment-734390712)
I linked to a comment on a referenced issue as its the only comment I could find that mentions the problem I am finding. Just like gmihaescu says, if I use the debugger to look at a created WCF client I get a Channel and InnerChannel error and the client is faulted. BUT if I don't look at the serviceClient

[2021-07-28 02:07] HongGit commented on #4291
Closing this issue as no response for over a year.

Feel free to reactivate if this issue persists or open a new issue if you run into other problems.

[2021-07-28 02:07] #4291 closed

[2021-07-28 02:38] HongGit commented on #3318
It seems that this issue has resolved, closing.

Feel free top reactivate if this issue persists.

[2021-07-28 02:38] #3318 closed

[2021-07-28 02:46] HongGit commented on #3224
@brandedoutcast for your information, dotnet-svcutil tool is now open source in this repo, under src\dotnet-svcutil.  Feel free to submit a PR.

[2021-07-28 03:42] imcarolwang commented on #3819
Can you please try out the latest Visual Studio preview release which could be downloaded from https://visualstudio.microsoft.com/vs/preview/ ? Let us know if you can still reproduce the issue on the upgraded build.

[2021-07-28 13:13] RaptorCZ opened #4684 "Force sgen.exe use assembly redirects"
Not sure where is the right repo for sgen.exe tool, but found some issues here.

I have assembly I need to use SGen with. Assembly is using another assembly for logger, and this assembly is using different version of referenced Microsoft.Extensions.Configuration.Abstractions. Project is new csproj but full framework.

[code]

Using sgen I got

[code]

Main assembly is using version 5 of abstractio

[2021-07-29 23:31] ssa3512 commented on #4435
@mconnew any updates on this? Do you think we will see the fix for this in time for .NET 6?

[2021-08-03 02:11] imcarolwang commented on #4318
Closing as the service's wsdl doesn't meet the interop guidelines.
Similar issue was reported in https://github.com/dotnet/wcf/issues/3157 and https://github.com/dotnet/wcf/issues/3327.

[2021-08-03 02:11] #4318 closed

[2021-08-03 05:46] HongGit commented on #4494
Closing due to no response.

Feel free to re-activate if the issue still persists after trying @imcarolwang's suggestion.

[2021-08-03 05:46] #4494 closed

[2021-08-03 05:50] HongGit commented on #4658
@imcarolwang can you please try to see if this is a regression from .NET framework tools, svcutil?

[2021-08-03 05:59] HongGit commented on #4502
@imcarolwang can you please take a look?

[2021-08-03 06:02] HongGit commented on #3819
closing since no response.

Feel free to reactivate if issue still persists after trying @imcarolwang suggestion above.

[2021-08-03 06:02] #3819 closed

[2021-08-03 23:09] jjakob666 commented on #4680
I have not had success in generating code from wsdl in .net5.  I get the error "No endpoints compatible with .Net Core apps were found."  Were you able to get past this?

[2021-08-03 23:16] jjakob666 commented on #4625
in .net5 code I get an exception accessing client.InnerChannel (in your example OperationContextScope(this.x3_ws.InnerChannel)).  Were you able to get this going? I'm trying to add an Authorization header with "Bearer mytoken"

[2021-08-03 23:19] AndrewZenith commented on #4680
It was generated in .net 4.8.  Works fine except the setting of the User Agent header.

[2021-08-04 10:29] zumbuschms opened #4685 "Cannot use SOAP service that requires HTTP Basic Authentication in .NET 5"
**Describe the bug**
I'm trying to access Exchange Auto Discover SOAP service (https://autodiscover.example.com/autodiscover/autodiscover.svc) that requires authentication. After merging the XSD into the WSDL dotnet svcutil was able to generate the model classes and client, and just skipped generating an endpoint as the WSDL for Exchange Auto Discover does not provide these information. So far so

[2021-08-05 06:54] Danielku15 opened #4686 "Missing IDispatchMessageInspector and CallbackDispatchRuntime for inspecting duplex messages"
**Describe the bug**
It is currently not possible to register a message inspector on the client side, which hooks into callback contracts of duplex channels.

The previously available `IDispatchMessageInspector` does not seem to be available anymore on the client side implementation. Neither is the `ClientRuntime.CallbackDispatchRuntime` for registering a it.

As part of this issue I want to reque

[2021-08-05 07:45] mcNets commented on #4625
@jjakob666 yes it woks fine.

[2021-08-05 22:44] HongGit commented on #4670
This is a duplicate of #4677.

Thanks for raising issue with us!

[2021-08-05 22:44] #4670 closed

[2021-08-05 22:48] HongGit commented on #4677
Thanks for raising the issue!

We will consider this in future releases.

[2021-08-05 22:59] HongGit commented on #4680
@AndrewZenith the User-Agent you used is not a valid format per [spec](https://httpwg.org/specs/rfc7231.html#header.user-agent).  The reason it could pass on .NET 4.8 framework is because .NET framework just sets the value as a string, and .NET Core is using HttpClient to parse headers in a structured way.

The correct way would be something like "MyApp/1.0 (Vendor=XXX; Application=XXX; Version=7.

[2021-08-05 23:05] HongGit commented on #4683
When you look at an object in the debugger, some of the properties have side effects, and some of the side effects could cause the channel to be defected.

Are you using .NET framework or .NET Core?  What specific information are you looking for?

[2021-08-05 23:17] mconnew commented on #4685
Can you try with HttpClient to just send a POST request with just some dummy data in the body. For the credentials, use an instance of CredentialsCache to limit the authentication to Basic auth only. You use it similar to this:
[code]

Set the credential cache as the credential on HttpClient. I have a suspicion that HttpClient might have a bug where it will only look for credentials in the credent

[2021-08-05 23:42] JVarga3 commented on #4683
.NET Core 3.1. Its just the object at its high level as shown in the image above. I've managed to get around debugging by just not looking at the client at all or at least until the response is received. It just seems weird that looking at a created client before it makes the call causes the program to crash.

[2021-08-06 02:30] mconnew commented on #1810
Good news, Mtom support has now been posted as a PR!!

[2021-08-06 20:25] mconnew commented on #4683
It looks like you're not using the latest version of the packages. The error on the Endpoint property is due to an incorrect DebuggerDisplay attribute which we fixed in a later version. Try using the latest version (4.8.1) and see if you have the same problem.

[2021-08-09 10:34] zumbuschms commented on #4685
I've tried a console application that directly uses HttpClient to send an empty post request. Although I've set the HttpRequestHandler to PreAuthenticate and assigned the credential cache, the initial request is still sent without credentials but a second request is sent with the correct credentials and the server responds with a SOAP error. The HttpClient itself seems to handle HTTP Basic Authent

[2021-08-09 13:26] JVarga3 commented on #4683
I imagine you are talking about the packages that are added when generating a connected service:
![image](https://user-images.githubusercontent.com/22597502/128713533-eafaff03-9aab-4b78-b0af-32dfdd43322a.png)

They are updated to 4.8.1 and the same issue is present.

[2021-08-09 18:58] mconnew commented on #4683
Does the Endpoint property still say "The name '_address' does not exist in the current context"?

[2021-08-09 19:58] mconnew commented on #4685
Ah, that makes sense now. In the blog article, it's completely replacing the HttpClientHandler from WCF with your own, which means credentials aren't being populated. You've created a named HttpClient (external-httpclient) and one HttpClient/HttpClientHandler can only use a single set of credentials. Each time you ask for the handler, it's going to return you the same one each time. You need an in

[2021-08-10 10:05] SayedMHaider commented on #4683
For me also its showing same error: "Address=error CS0103: The name '_address' does not exist in the current context".

Packages:
![image](https://user-images.githubusercontent.com/88713965/128848558-e4b05723-4267-4102-be2b-7a720566830f.png)

[2021-08-10 10:13] zumbuschms commented on #4685
Thanks for clearing that up. I'd assumed that if I provide credentials to the WCF client, these credentials would be passed on to the HttpClient ignoring the source of the HttpClient. I'll try to check your suggestions but at the moment I had to skip using the WCF client as the Auto Discover WSDL seems to be broken to some extend.

[2021-08-10 10:13] #4685 closed

[2021-08-10 11:15] RuaidhriMcDonnell commented on #2999
Got a similar issue / identical exception in v4.8.1.

In my case, invoking an async operation, who's operation contract is marked as `IsOneWay = true`, but the server was returning `Content-Type: application/soap+xml; charset=utf-8`, with no body,  which seems to be throwing things off.

[code]

[2021-08-10 15:04] JVarga3 commented on #4683
So it still breaks even with the updated code if I look at the client before it calls. But what is interesting, if I let it call and get the response back and then look at the object with the debugger I see:
![image](https://user-images.githubusercontent.com/22597502/128891173-dd5d0dd6-2b4a-4960-8ad8-4f8ab9f1d2a6.png)
"The name '_address' does not exist in the current context" is still shown even

[2021-08-10 21:00] HongGit commented on #4684
@RaptorCZ it seems that you are using sgen.exe which ships with .NET Framework SDK.  For issues related with sgen.exe, please log an issue at Visual Studio Feedback [site](https://developercommunity.visualstudio.com/home).

sgen.exe is a legacy .NET framework tool, it does not support .NET core, and it's currently in maintenance mode.

[2021-08-10 21:00] #4684 closed

[2021-08-10 23:02] mconnew opened #4689 "Add new api's to MtomMessageEncodingBindingElement"
On .NET Framework, there is an app setting `"microsoft:xmldictionaryreader:maxmimeparts"` which controls the maximum number of mime parts allowed when using Mtom. The current implementation here uses the original hard coded limit of 1000. This needs to be configurable via a property on MtomMessageEncodingBindingElement.

Additionally, we need to provide a mechanism to pass a delegate which accepts

[2021-08-12 15:19] tylerk2018 opened #4692 "The HTTP request is unauthorized with client authentication scheme Negotiate. The authentication header received from the server was Negotiate oX…Q="
I am using a desktop application on a client pc to communicate with an IIS WCF web service running on a server, using WsHttpBinding to pass over the Windows user credentials. The application has worked well for many years, but now we are trying to have it communicate over HTTPS instead of just HTTP.

On the server side, we add an SSL certificate to the IIS website and change the WCF web.config to

[2021-08-13 11:03] NKnusperer opened #4694 "BasicHttpSecurity.Message missing in NuGet package"
**Describe the bug**
The `BasicHttpSecurity.Message` property is not accessible when consuming `System.ServiceModel.Http` via NuGet but the implementation exist in the code base:
https://github.com/dotnet/wcf/blob/367d64dc79a9b23acc15a3ef549996cf05e10e72/src/System.Private.ServiceModel/src/System/ServiceModel/BasicHttpSecurity.cs#L57

**To Reproduce**
Given this `.csproj`:
[code]
and this code:
[c

[2021-08-15 00:08] chempro commented on #1810
This is great, nice wok
Is there a rough ETA on release date?

[2021-08-16 18:35] mconnew commented on #1810
It will be available in the upcoming RC release for .NET 6. Just a reminder, WCF doesn't require .NET 6 to use our latest packages and until we have a reason to do so, our latest packages will continue to work on all supported version of .NET. We don't have a lot of code churn in the WCF client code, it's mostly adding stuff so you can have a high level of confidence in the stability of pre-releas