[2016-03-16 18:33] KKhurin commented on #773
Stress runs indicate that we can safely ignore those transient errors without additional problems like leaks.

[2016-03-16 18:33] KKhurin commented on #789
Fixed in the latest NCL build.

[2016-03-16 18:33] #789 closed

[2016-03-16 18:35] KKhurin commented on #808
Done, will show up in the next stress tests PR

[2016-03-16 18:35] #808 closed

[2016-03-16 20:44] KKhurin commented on #863
System.Runtime.TimeoutTokenSource disposes them (after a timeout):
[code]

[2016-03-16 22:19] StephenBonikowsky commented on #526
On my runs today I got all the WebSocket tests to run and there are three that fail for this issue...
WebSocketTests.WebSocket_Http_Duplex_BinaryStreamed
WebSocketTests.WebSocket_Https_Duplex_BinaryStreamed
WebSocketTests.WebSocket_Https_Duplex_TextStreamed

[2016-03-16 22:23] StephenBonikowsky commented on #769
I also have ExpectedExceptionTests.DuplexCallback_Throws_FaultException_ReturnsFaultedTask failing for apparently the same reason, same call stack.

Adding an Active Issue for both of these tests on NET Native only, when this Issue gets fixed the ActiveIssue needs to be removed.

[2016-03-16 22:33] StephenBonikowsky commented on #526
Adding ActiveIssues for these tests in NET Native.

[2016-03-17 00:45] KKhurin commented on #857
Fixed.

[2016-03-17 00:45] #857 closed

[2016-03-17 00:51] KKhurin commented on #809
This is gone with the latest NCL bits.

[2016-03-17 00:51] #809 closed

[2016-03-17 01:06] KKhurin commented on #886
I don't see it anymore on the latest DEBUG build.
Will re-activate if we see it again.

[2016-03-17 01:06] #886 closed

[2016-03-17 04:46] zhenlan commented on #909
The user voice is an ask about WindowsIdentity support on UWP and I have routed it to the attention of proper owner team. Closing out this issue since it not an ask to WCF.

[2016-03-17 04:46] #909 closed

[2016-03-17 14:40] roncain opened #918 "Add instructions how to run and debug stress tests"
We need to add an .md file to our Documention folder describing how to setup, build, run and debug Stress tests.  If any manual setup is required in IIS, that should also be described.

[2016-03-17 19:13] StephenBonikowsky commented on #890
Fixed by #917

[2016-03-17 19:13] #890 closed

[2016-03-17 20:48] StephenBonikowsky commented on #891
It would be ideal to get this fixed in corefx, have opened https://github.com/dotnet/corefx/issues/7001

[2016-03-19 07:57] ellismg commented on #452
FWIW, You can close this issue now.  The newer versions of dotnet cli don't have this bug.

[2016-03-20 02:53] zhenlan opened #922 "WCF build fail on Linux"
Most WCF tests failed on Linux. This was originally caused by dotnet/corefx#6883 that system.private.uri package is not built properly. To pick up the fix of this issue, WCF has to move dependencies forward to build 23819, which uncovered more issues with dependent packages. Below is latest error @StephenBonikowsky has found.

================
EXEC : error : System.Linq.Expressions 4.0.0 provides

[2016-03-20 08:53] zhenlan commented on #592
Removed "blocked-by-partner" label. "tracking" label is already used to indicate the issue is dependent on another issue.

[2016-03-21 13:31] #885 closed

[2016-03-21 18:09] zhenlan commented on #922
@ericstj is currently working on PR #925 to address this issue.

[2016-03-22 02:24] iamjasonp commented on #904
Currently waiting on the Linux build to be fixed (#925)

[2016-03-22 12:52] roncain commented on #566
@hongdai -- this issue continues to repro in the nightly ToF runs against NET Native as of 3/22/16
[code]

[2016-03-22 13:28] Lcng opened #927 "Could not load file or assembly 'System.Net.Security'"
When using ChannelFactory.CreateChannel() to create a channel, I got the following Exception:
// ASP.NET 5, on Windows 10
Could not load file or assembly 'System.Net.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies.

[2016-03-22 13:31] roncain commented on #927
Thanks for contacting us @Lcng.  Could I ask you to describe what version of Visual Studio you are using and what package versions you are using in the project.json file in your project?  Thanks.

[2016-03-22 16:15] roncain commented on #578
This fails for me everytime in ToF against CoreCLR.  I think it was closed by accident.  We need to disable this test or fix it.

[2016-03-22 17:41] zhenlan commented on #927
@Lcng if you are using ASP.NET 5/.NET Core 5 RC1, do you mind to try to update your project.json as suggested in Known Issues section of the [release notes](https://github.com/dotnet/wcf/releases)?

[2016-03-22 19:41] roncain opened #929 "Investigate and resolve why Linux OuterLoops attempt to run [ActiveIssue] tests"
On Linux, asking to run OuterLoops (with /p:WithCategories=OuterLoop) appears to run tests that have been explicitly marked with an [ActiveIssue], like this:
[code]
We don't want these tests to run on Linux because the pollute the logs and will show as unexpected failures in OuterLoops

[2016-03-22 21:21] zhenlan commented on #915
Given that this issue exists in full .NET as well, we will postpone this to the future.

[2016-03-23 00:51] KKhurin opened #931 "AV in System.ServiceModel.Channels.HttpChannelFactory.HttpClientRequestChannel.HttpClientChannelAsyncRequest.SendRequestAsync in stress"
We got _httpRequestMessage == null inside the catch (OperationCanceledException) block here:
[code]
I do see us nulling out _httpRequestMessage  in Cleanup:
[code]
...and we call it from several places including SendRequestAsync itself.

[2016-03-23 02:06] Lcng commented on #927
Thank you @roncain and @zhenlan .
I am using ASP.NET 5/.NET Core 5. I added the required packages and the problem is solved. Thank you.

[2016-03-23 03:59] zhenlan commented on #927
Great. Glad it helped. Thanks for trying out Core!

[2016-03-23 03:59] #927 closed

[2016-03-23 04:35] zhenlan commented on #714
We don't see this reproduces anymore recently, so postpone to RTM, but we still think this is a severe enough issue potentially blocking RTM release.

[2016-03-23 14:35] roncain commented on #566
@hongdai -- update.  This test fails in the nightly ToF runs against NET Native, but *passes* when I run it locally.  I suspect it means the nightly build machines do not have the TH build you mentioned, but our machines do. We don't want to disable this test, but it will keep showing up in nightly runs as a failure.  Any good ideas how to get around that?

[2016-03-23 18:30] KKhurin opened #934 "Increase randomness of stress test settings"
Our stress tests would likely benefit from more random patterns as we converge with the number of issues we can find with the current static stress load.
- vary by number of tasks driving execution of tests
- vary by various test knobs themselves (timeouts, number of pooled communication objects, including scalability limits)
- vary by server settings (throttling, timeouts)

[2016-03-24 16:00] StephenBonikowsky commented on #891
The issue was fixed and our version of build.cmd has been updated.

[2016-03-24 16:00] #891 closed

[2016-03-24 19:21] roncain commented on #578
Update -- I have now seen this fail in normal OSS testing, no ToF involved.

[2016-03-24 20:31] #931 closed

[2016-03-25 07:25] zhenlan commented on #665
@hongdai please add the table in PR #898 as an appendix to the supported feature table for RC2.

cc: @iamjasonp

[2016-03-25 18:54] roncain opened #939 "BasicHttp_Echo_Streamed_Async_Delayed_Throws_TimeoutException test fails in NET Native"
The newly added functional test #936 to verify the fix for #931 has turned up another issue.
In CoreCLR, a TimeoutException is thrown, but in NET Native, a TaskCancelledException is thrown.

We need to determine which is correct and then fix the one that is not.

[code]

[2016-03-25 18:57] roncain commented on #939
@mconnew -- do you have some insight into the CoreCLR/NET Native differences under the hood that would account for this difference?  The functional test effectively forces a timeout to happen during the send portion and expects a TimeoutException to be thrown.

[2016-03-25 19:28] roncain commented on #922
This was fixed in master with #925 and ported to RC2 with #928

[2016-03-25 19:28] #922 closed

[2016-03-25 20:05] roncain commented on #939
Update: here is more detailed stack information in NET Native:
[code]

[2016-03-26 03:13] mconnew commented on #939
We aren't catching a TaskCanceledException somewhere and converting it to a TimeoutException. The TimeoutException is the correct one. The difficulty with this one is it looks like the exception isn't being thrown at it's source, instead a Task is being converted to Apm semantics and that's where we're throwing it. I should be able to work out from the code how this is happening on Monday.

[2016-03-27 05:56] mshahnawaz9935 opened #940 "The type or namespace web could not be found?DNX 5.0 Error code CS0234. The application is based on ASP.NET MVC 5. I tried adding references multiple times but failed."

[2016-03-27 19:06] mfe- commented on #909
@zhenlan Is it possible to get in touch with the proper owner team on github? I want to stay updated on the topic, otherwise I would create an issue on [corefx](https://github.com/dotnet/corefx)?.

[2016-03-28 18:07] roncain commented on #939
Root cause was due to the test itself which fault-injected an abort then a timeout.  Reversing that to allow the timeout to happen first did, indeed allow the CT to be cancelled properly and allowed the TimeoutException to be thrown. And it still exercised the previously fixed null reference exception in this failure path.

[2016-03-28 18:59] zhenlan commented on #909
@mfe- yes, creating an issue on corefx repo will be the best approach to get visibility of the discussion on this topic.

[2016-03-28 20:58] roncain opened #942 "Make nightly runs include Debian, Centos and RedHat"
We should add to our automated nightly build scripts Debian, CentOS, and RedHat to be in parity with CoreFx automated testing.  This will give us an early look at our pass rates there and give us more information for the RC2 supported feature matrix.

[2016-03-29 08:29] iamjasonp commented on #670
Note that NTLM isn't currently supported in Linux; we'd have to consider how to add those as well.

[2016-03-29 09:05] iamjasonp opened #943 "Investigate NTLM authentication on Linux for NegotiateStream"
_Linux only_
We currently have turned on and verified support for Kerberos auth on Linux, we have yet to be able to support NTLM authentication.

NegotiateStream relies on the underlying `gssapi` implementation for Kerberos and NTLM support. If that implementation supports NTLM fallback, then NegotiateStream can also do so.

The following platforms are or will soon support NTLM fallback because th

[2016-03-29 09:06] iamjasonp commented on #592
Linux implementation has made it into corefx. We have done the due diligence to make sure it works, so this issue is completed.

#851 tracks work on how to automate testing
#943 tracks looking at NTLM fallback

[2016-03-29 09:06] #592 closed

[2016-03-29 11:00] #939 closed

[2016-03-29 15:54] iamjasonp commented on #805
This doesn't seem to be failing for me anymore... I'm cleaning out my machine now to retest, and shall see if it fails to repro again. If so, will close.

[2016-03-29 20:10] StephenBonikowsky opened #944 "Helix runs ignoring ActiveIssue when part of #if/#else/#endif logic."
Example test case: FunctionalTest.Client.ExpectedExceptions.Tests#ExpectedExceptionTests.TCP_ServiceCertRevoked_Throw_MessageSecurityException

The test case is attributed like this...
[code]
In this case when not running where FEATURE_NETNATIVE is true we should still be skipping the test for ActiveIssue 578, but the test case is running anyway on both OS X and Windows. (why it actually passed is

[2016-03-29 21:14] zhenlan commented on #578
@roncain fyi, this test passed in recent Helix runs.

[2016-03-29 21:24] zhenlan commented on #943
@iamjasonp looks like there two parts of this issue 1) add tests for the scenarios we did not test yet 2) make this as documentation (.md). Is this your plan?

[2016-03-29 21:29] zhenlan commented on #940
@mshahnawaz9935 this does not look like directly related to WCF. Do you want to open an issue in [aspnet repo](https://github.com/aspnet/home/)? If it is related to WCF, could you please clarify a bit?

[2016-03-29 21:39] zhenlan commented on #834
The fix of #833 will fix this as well.

@StephenBonikowsky to update activeissue of 834 to 833.

[2016-03-29 21:40] roncain commented on #578
@Zhenlan this test has been disabled. Did it pass or just get skipped? I'll investigate making it more reliable.

[2016-03-29 21:47] zhenlan commented on #896
The root cause is an issue in WinHttp layer. However, we can make a change of our code to avoid this issue.

[2016-03-29 21:53] zhenlan commented on #526
The fix of this issue needs windows runtime websocket API changes to support true streaming for UWP. Move this issue to future as it is just tracking the future change in Windows.

[2016-03-29 21:54] zhenlan commented on #463
@roncain can you please look into a fix of this issue?

[2016-03-30 01:03] iamjasonp commented on #904
This is next up to investigate for me. This should have been fixed but I need to reverify this.

[2016-03-30 01:24] iamjasonp commented on #943
Yes, this sounds good. Also, we should include the table from #898 as well.

[2016-03-30 02:29] zhenlan commented on #578
Yes, the test is supposed to be decorated with ActiveIssue, but it was ran somehow in Helix - a separate issue tracked by #944.

[2016-03-30 07:32] iamjasonp commented on #904
Verified - We get the following

[code]

Which is expected on this platform.

[2016-03-30 07:32] #904 closed

[2016-03-30 08:35] iamjasonp opened #945 "Automate kinit step and kdestroy step for ambient credential NegotiateStream/security tests"
The following tests fail when Kerberos is not initialized, but passes when `kinit` is run and server is running as LOCAL SYSTEM

[code]

We need to be able to:
- Run the Bridge/test host as LOCAL SYSTEM or another credential with access to the HOST/hostname SPN
- Automate the `kinit user@dc.domain.com` step to specify the ambient Kerberos credential
- Automate the `kdestroy -A` step to destroy the

[2016-03-30 08:36] iamjasonp opened #946 "Scenarios attempting to use S.Security.Principal.WindowsIdentity.GetCurrent fail"
We need to spend some time investigating the following security tests on Linux

Fails always:

[code]

These seem to stem from the following callstack:

[code]

Investigate why using an ambient credential for Windows auth can work in tcp but not for http.

[2016-03-30 09:53] iamjasonp commented on #946
Manual test guide updated: https://github.com/dotnet/wcf/blob/master/Documentation/manualtest-guide.md

[2016-03-30 09:54] iamjasonp commented on #945
For the moment, use manual test guide: https://github.com/dotnet/wcf/blob/master/Documentation/manualtest-guide.md

[2016-03-30 09:55] iamjasonp commented on #700
For the moment, use the manual test guide: https://github.com/dotnet/wcf/blob/master/Documentation/manualtest-guide.md, which documents the needed steps

[2016-03-30 10:12] iamjasonp commented on #874
I'm thinking that this will be harder going forward, as we start putting our own extensions into the netci.groovy file. Let's do this as needed.

[2016-03-30 10:52] iamjasonp commented on #805
Test passes on latest sync, CoreCLR ToF running OSS tests. Closing.

[2016-03-30 10:52] #805 closed

[2016-03-30 12:59] roncain opened #948 "The NegotiateStream_Tcp_AmbientCredentials test fails in Windows (CoreCLR and UWP)"
This test failed in both a ToF run (N-from-K) as well as a Helix run.  It is hard to know the failure reason, because it is the Assert.True(success) in the finally block that fires.  Recommend the test explicitly catch and report an exception rather than Boolean so that it is clear where and why the 'success = true' statement is bypassed. The test is disabled in Linux-only for other reasons.
[code

[2016-03-30 13:05] roncain opened #949 "The NegotiateStream_Http_AmbientCredentials test fails on Windows (CoreCLR only)"
This test failed in Helix for the reason below.  Like #948, it is hard to diagnose cause for failure due to the Assert.True(bool) in the finally block.  Recommend catching unexpected exception and reporting it.  This same test passes in normal OSS runs as well as ToF N-from-K runs.
[code]

[2016-03-30 18:34] StephenBonikowsky opened #951 "System.Net.Sockets.SocketException on OS X runs."
**SUMMARY**
Based on the implementation details of the various failing test cases this looks to be a failure when…
-	NetTcp
-	TransferMode.Buffered
-	ChannelFactory<T>
I don’t think it is related to Duplex as at least some of the tests aren’t using Duplex.

**Failing Tests**
-	Client.ChannelLayer.Tests#DuplexChannelShapeTests.IDuplexSessionChannel_Tcp_NetTcpBinding
-	Client.ClientBase.Tests#Duplex

[2016-03-30 18:37] StephenBonikowsky opened #952 "System.Net.Http.CurlException on OS X runs."
**SUMMARY**
This failure is happening on tests using BasicHttpSecurityMode.Transport (Https)

**Failing Tests**
-	Security.TransportSecurity.Tests#HttpsTests.CrossBinding_Soap11_EchoString
-	Security.TransportSecurity.Tests#HttpsTests.SameBinding_DefaultSettings_EchoString
-	Security.TransportSecurity.Tests#HttpsTests.SameBinding_Soap11_EchoString
-	Security.TransportSecurity.Tests#HttpsTests.Same

[2016-03-30 18:39] StephenBonikowsky opened #953 "System.ServiceModel.EndpointNotFoundException on OS X runs."
**SUMMARY**
These tests are expecting a S.SM.Security.MessageSecurityException but are getting this instead.

**Failing Tests**
-	Security.TransportSecurity.Tests#IdentityTests.ServiceIdentityNotMatch_Throw_MessageSecurityException
-	Security.TransportSecurity.Tests#IdentityTests.VerifyServiceIdentityMatchDnsEndpointIdentity

**Call Stack**
System.ServiceModel.EndpointNotFoundException: No DNS ent

[2016-03-30 18:41] StephenBonikowsky opened #954 "S.Security.Cryptography.CryptographicException on OS X runs."
**SUMMARY**
Looks like some directory permissions issue.

**Failing Tests**
-	Client.ExpectedExceptions.Tests#ExpectedExceptionTests.TCP_ServiceCertFailedCustomValidate_Throw_Exception

**Call Stack**
Unhandled exception of type System.Security.Cryptography.CryptographicException : Invalid directory permissions. The directory '/Users/dotnet-bot/.dotnet/corefx/cryptography/x509stores/my' must be re

[2016-03-30 18:43] StephenBonikowsky opened #955 "S.PNSE: Operation is not supported on this platform on OS X runs."
**SUMMARY**
Based on Jason’s recent comments we might expect Ntlm and Kerberos to be supported on OS X but it looks like there is still some work to do here.

**Failing Tests**
-	Security.TransportSecurity.Tests#Https_ClientCredentialTypeTests.NtlmAuthentication_RoundTrips_Echo
-	Security.TransportSecurity.Tests#Https_ClientCredentialTypeTests.WindowsAuthentication_RoundTrips_Echo

**Call Stack**

[2016-03-30 18:45] StephenBonikowsky opened #956 "S.SM.Security.SecurityNegotiationException on OS X runs."
**SUMMARY**
We don’t expect ‘Client Certificates’ to work on any Linux platform, should these tests have ActiveIssues conditional on “PlatformID.AnyUnix”?

**Failing Tests**
FunctionalTest.Binding.Custom.Tests#CustomBindingTests.DefaultSettings_Tcp_Binary_Echo_RoundTrips_String
FunctionalTest.Security.TransportSecurity.Tests#IdentityTests.ServiceIdentityNotMatch_Throw_MessageSecurityException
Func

[2016-03-30 21:02] StephenBonikowsky commented on #952
This may be related to #954
According to @mconnew
"Our certificate setup isn’t working correctly on OSX. Once that issue is resolved, I expect this failure to go away."

[2016-03-30 21:03] StephenBonikowsky commented on #956
This may be related to #954
 According to @mconnew
"Client certificates only don’t work for https, this is NetTcp where they should work. The chain likely can’t be built because it can’t use the certificates we attempted to install."

[2016-03-30 21:05] StephenBonikowsky commented on #951
According to @mconnew
"SetLingerOption isn’t working correctly on OSX. This is only used on the Close(timeout) code path so the test itself is likely passing. This api required special handling on linux as this is a windows socket concept. I suspect there’s an implementation bug in OSX sockets. Need to open a bug in CoreFX for this issue."

[2016-03-30 21:05] iamjasonp commented on #952
How were certs set up? Was it done using the BridgeCertificateInstaller.sh script?

[2016-03-30 21:11] iamjasonp commented on #954
I've seen this before - this commonly happens when the certs were downloaded to the dotnet-bot user while sudo-ed. If certs were set up using the BridgeCertificateInstaller.sh script, this shouldn't happen (but I wouldn't know because this script was tested only on Ubuntu + RHEL)

[2016-03-31 03:50] iamjasonp commented on #955
See #946

[2016-03-31 03:52] iamjasonp commented on #953
We may have to specify the fully qualified domain name for the machine "wcfcoresrv4"

[2016-03-31 03:54] iamjasonp commented on #949
The Assert.True() should not have prevented the exception message from bubbling up. I'll take a further look. My guess is that the Helix machines are not domain-joined and hence will fail here.

[2016-03-31 03:56] iamjasonp commented on #948
I'll take a further look. I suspect the Helix test machine isn't domain joined and thus doesn't present an "ambient" credential.

[2016-03-31 04:09] iamjasonp opened #958 "Create [ConditonalFact] conditions for tests with special requirements"
We have certain classes of tests that need xunit traits defined for them. Consider this a living list of traits that we need to create:

Tests requiring:
* [x] Client certificate installation - Windows / \*nix **[Client_Certificate_Installed]**
Such tests require that the test (client) machine is provided with a certificate generated by a Certificate Authority trusted by the server. The test (clie

[2016-03-31 04:16] iamjasonp commented on #343
Superseded by #958

[2016-03-31 04:16] #343 closed

[2016-03-31 10:03] iamjasonp commented on #954
If you have access to the machine - could you

[code]

And rerun to see if this solves the problem?

"dotnet-bot:dotnet-bot" above assumes you're running as the user "dotnet-bot"

[2016-03-31 14:28] roncain commented on #958
Consider use of [ConditionalFact] for these too.  Right now trait-based alternatives silently don't run the tests, but @StephenBonikowsky has mentioned it is better for reporting to see which tests were explicitly skipped and why.  I believe [ConditionalFact] will help with the latter part.  I'm thinking we might invent a new TestProperty that we can use for all of these categories so users could

[2016-03-31 14:34] roncain commented on #948
The same is probably true for the ToF machines where it also fails.  But I can't explain why the Http version of this test failed in Helix (#949) but not in ToF.

[2016-03-31 16:09] StephenBonikowsky opened #959 "Custom validation of server SSL Certificate not working."
Support for this needs to be added to HttpClient API.
Issue opened in corefx repo: dotnet/corefx#4476

Failing test case...
-   Security.TransportSecurity.Tests#HttpsTests.ServerCertificateValidation_EchoString

[2016-03-31 17:30] iamjasonp commented on #958
Sure - I think we should consider this workitem a "let's find a good way to skip certain classes of tests" item, rather than prescribe the use of traits

[2016-03-31 18:10] StephenBonikowsky opened #960 "Unable to specify a client certificate when choosing manual option."
HttpClientHandler needs to support the ClientCertificate property in order to set a client certificate when choosing the manual ClientCertificateOptions.
Issue opened in corefx repo: dotnet/corefx#4479

Failing test case...
FunctionalTest.Security.TransportSecurity.Tests#HttpsTests.ClientCertificate_EchoString

[2016-03-31 18:13] StephenBonikowsky commented on #544
Splitting this issue into two separate issues...
#959 and #960
Closing it as part of the PR that updates the ActiveIssues on the affected test cases.

[2016-03-31 19:12] zhenlan opened #962 "Verify client cert scenarios work on Mac OS X"
We don't have automated test coverage for client cert scenarios on *nix due to #700 today, but we should verify it on Mac one way or anther before RTM.

[2016-03-31 19:54] roncain commented on #951
The corresponding issue opened in CoreFx is https://github.com/dotnet/corefx/issues/7403 . I don't believe there is anything to do on our end until it if fixed.  We could mark these tests with [ActiveIssue] for OSX only if we need to reduce noise in the logs.

[2016-03-31 20:22] #544 closed

[2016-04-01 16:05] roncain opened #967 "StreamingTests using TransportSecurity fail in Windows run in Helix"
The following tests fail in Helix under Windows:

StreamingTests.NetTcp_TransportSecurity_StreamedRequest_Async_RoundTrips_String
 StreamingTests.NetTcp_TransportSecurity_StreamedRequest_RoundTrips_String
 StreamingTests.NetTcp_TransportSecurity_StreamedResponse_Async_RoundTrips_String
 StreamingTests.NetTcp_TransportSecurity_StreamedResponse_RoundTrips_String
 StreamingTests.NetTcp_TransportSecur

[2016-04-01 16:10] roncain opened #968 "IdentityTests.VerifyServiceIdentityMatchDnsEndpointIdentity fails in Windows under Helix"
Test output is:
[code]

[2016-04-01 16:13] roncain opened #969 "s_ClientCredentialTypeTests.NtlmAuthentication_RoundTrips_Echo fails under Windows in Helix"
Test output is:
[code]

[2016-04-01 16:17] roncain opened #970 "Https_ClientCredentialTypeTests.WindowsAuthentication_RoundTrips_Echo fails in Windows under Helix"
[code]

[2016-04-01 16:40] roncain opened #971 "IdentityTests.ServiceIdentityNotMatch_Throw_MessageSecurityException fails in Windows under Helix"
[code]

[2016-04-01 16:44] roncain opened #972 "Tcp_ClientCredentialTypeTests.SameBinding_DefaultSettings_EchoString fails in Windows under Helix"
[code]

[2016-04-01 16:46] roncain opened #973 "Tcp_ClientCredentialTypeTests.SameBinding_SecurityModeTransport_EchoString fails in Windows under Helix"
[code]

[2016-04-01 16:55] #835 closed

[2016-04-04 11:55] orgaksm opened #977 "Response delay while streaming via NetTcp on service shutdown"
Related to [this post](http://stackoverflow.com/questions/17400589/wcf-response-to-client-delayed-when-transferring-file-to-server-with-transfermo) on stackoverflow.

The problem is that when the service will be closed, the client is waiting until time out, which is defined by receiveTimeout and sendTimeout of client and server, to throw an exception that the socket connection is not available. Bo

[2016-04-04 15:49] roncain commented on #929
Fixed by upgrading to latest versions in PR #966

[2016-04-04 15:49] #929 closed

[2016-04-04 17:47] roncain commented on #958
PR #978 is a proposed approach to this issue.  Comments welcome there or here.

[2016-04-04 18:54] roncain opened #979 "Https_ClientCredentialTypeTests.DigestAuthentication_RoundTrips_Echo fails in Windows"
This test is currently disabled, pending a way to make it run conditionally. I opened PR #978 to allow this test to be run conditionally, but now it fails. Issue #270 says to either remove the test or make it conditional.  I think there is value in keeping this test and making it condition, not removing it.

 To make it run conditionally, pull PR #978 and set this environment variable:
[code]
Or j

[2016-04-05 21:10] zhenlan commented on #973
@roncain will this also be pending PR #978?

[2016-04-05 21:17] zhenlan commented on #949
@iamjasonp please go ahead and update the test when you get a chance. We need to consider how to enable domain-joined server in our new test infrastructure.

[2016-04-05 21:26] zhenlan commented on #945
@iamjasonp let's consider a solution with the new test infrastructure, for example, host relevant service separately ran with LOCAL SYSTEM account.

[2016-04-05 21:27] zhenlan commented on #940
@mshahnawaz9935 please let me know if you have other questions. I am closing out this issue for now.

[2016-04-05 21:27] #940 closed

[2016-04-05 21:47] zhenlan commented on #108
@roncain, can you please sync up with @KKhurin and see if we can find a reasonable fix for this issue?

[2016-04-05 21:52] zhenlan commented on #814
The plan is to ignore failures if it's caused by timeout and fail the stress test if it's not caused by timeout.

[2016-04-06 15:23] roncain commented on #973
Do we understand the reason the test fails in Helix?  If it is due to one of the issues described in #958, then, yes, PR #978 could be used to mark this as a conditionally run test.
/cc @zhenlan @iamjasonp

[2016-04-06 16:30] shmao commented on #896
Changed the title. Closing the issue as it is a duplicate of of #87 .

[2016-04-06 16:30] #896 closed

[2016-04-06 16:50] roncain opened #983 "TCP_ServiceCertFailedCustomValidate_Throw_Exception fails in NET Native"
The nightly "N from K" run in TFS shows this new test failure.  I have not yet confirmed whether it happens when run locally against NET Native.

[code]

[2016-04-06 18:47] roncain commented on #958
@iamjasonp -- could I ask you to help enumerate which conditions we need to wire up now and which can wait?  Also, when would we specify that the server needs to be domain joined without also specifying the same for the client?

[2016-04-07 03:36] iamjasonp opened #985 "Improvements to PRService: leftover work from #981"
Leftover work items from #981:

* [x] Improve git executable location detection by leveraging the system %PATH% variable, if exists
* [x] Aesthetics: change logic in the !success case to be more simple and consistent https://github.com/dotnet/wcf/pull/981#discussion_r58769501
* [x] Suppress git.exe output on success case https://github.com/dotnet/wcf/pull/981#discussion_r58815094
* [x] Allow PRSer

[2016-04-07 20:51] zhenlan commented on #951
Looks like dotnet/corefx#7403 was fixed 3 days ago. @roncain, can you please verify and remove activeissues on tests if the fix is good?

[2016-04-08 10:08] iamjasonp commented on #983
Confirmed to be happening on CoreCLR official runs as well, but not local box

[2016-04-11 11:25] iamjasonp commented on #874
Fixed by #932

[2016-04-11 11:25] #874 closed

[2016-04-11 12:57] roncain commented on #983
@iamjasonp -- did the CoreCLR failure have the same stack trace?  If I run this test without ToF under VS (not elevated), I get the following.  I wonder if we have a CoreCLR run running non-elevated.
[code]

[2016-04-11 18:43] iamjasonp commented on #954
Monitoring dotnet/corefx#7655, which should fix this.

[2016-04-12 10:45] iamjasonp commented on #954
There will be an additional problem on top of this. BridgeCertificateInstaller.sh relies on a script 'update-ca-certificates' that isn't used on OSX. On OSX, one does this by doing:

`sudo /usr/bin/security add-trusted-cert -d -r trustRoot -k  /Library/Keychains/System.keychain <cert>`

In order to fix this, we will need to:

1. Update the acquisition script to cater for OSX and CentOS installatio

[2016-04-12 10:53] iamjasonp commented on #962
#700 talks about automating this, but agree that we should be manually verifying this. We may need to do this on a periodic basis because neither our nightlies or CI are covering this scenario at the moment.

[2016-04-12 10:58] iamjasonp commented on #700
Note: these scripts may change once the new testing (server) infrastructure comes online.

[2016-04-12 11:03] iamjasonp commented on #955
See #946

[2016-04-12 11:03] iamjasonp commented on #946
System.Security.Principal.WindowsIdentity.GetCurrent() is currently not an API supported in CoreFx, so are expected to fail on all platforms except Desktop. dotnet/corefx#7325 is an issue tracking a solution to the issue.

(Note: no matter what, we will need to look at the manual test guide for this - #946

[2016-04-12 11:04] iamjasonp commented on #952
Confirmed related to #954. For now we will have to manually test these scenarios.

[2016-04-12 16:15] atanasa opened #997 "Custom certificate validation for HTTPS transport is ignored"
I am setting a X509CertificateValidator on a factory using the HttpsTransportBindingElement as the transport. Also setting the CertificateValidationMode to X509CertificateValidationMode.Custom.

When I make calls on the channel, the X509CertificateValidator.Validate is not called.

Setting the handler:
[code]

Dependencies:
[code]

The full repro code sample:
[ReproCustomSslValidation.zip](https:/

[2016-04-12 16:55] hongdai opened #998 "Investigate generateing crl file in runtime"
The test.crl is currently generated by the cert util tool during Server setup and consumed by tests in the running time.

We should investigate if we can generate it in the run time. Thus we don't need save a file to the file system.

[2016-04-12 17:01] hongdai opened #999 "Remove unused code from WCF test service"
1. Mahjong related code.
2. RequestLoggingServiceBehavior?

[2016-04-12 20:58] roncain commented on #958
PR #978 is merged, and build tools have been updated to allow multiple conditions.  I'm leaving this issue open until the newer xunit.netcore.extensions package appears on the dotnet-core feed.  At that point, we really do need some concrete choices about what these conditions are and how they are named.

/cc @iamjasonp @zhenlan

[2016-04-12 21:12] StephenBonikowsky commented on #665
Still needs to be done...

- [ ]  Updated with the correct version number and link to each of our packages.

- [ ] Review the content under the new section “Partially Working Features”, in particular Https/WebSockets/TransferMode_Streamed. I was starting to get confused as we have multiple Issues opened that all might be related to WebSockets and NetTcp and Streaming but because of the different p

[2016-04-12 21:22] zhenlan commented on #983
May related to #959

@StephenBonikowsky will look into further what happed in the test for the issue @roncain reported.

We will need more clarification from @iamjasonp to understand better the issue @iamjasonp reported.

[2016-04-12 21:32] zhenlan commented on #944
According to @StephenBonikowsky, this test was ran and passed in Helix. @StephenBonikowsky will take another look to confirm if this is still the case.

[2016-04-12 21:39] zhenlan commented on #578
The test may need to be updated to be more reliable to deal with CRL being cached.

[2016-04-12 21:44] zhenlan commented on #764
@mconnew has a PR for this now #974

[2016-04-12 21:56] zhenlan commented on #862
@KKhurin will measure again with rc2 packages.

[2016-04-12 21:56] zhenlan commented on #861
@KKhurin will measure again with rc2 packages.

[2016-04-12 22:36] mconnew commented on #977
The behavior you are seeing is due to the semantics of streamed mode compared with buffered. When using a buffered connection, underneath it's actually a duplex connection, even when using request/reply. A pending receive is always posted to accept incoming requests or replies to any outstanding requests. This is why you can have multiple outstanding requests sent on a single NetTcp connection fro

[2016-04-13 01:10] iamjasonp commented on #983
Hmm, @roncain your experience is different from mine. When I ran from CoreCLR, I got some odd (somewhat similar) error, but not the "Access Denied" error.

If it's Access Denied, it puts my understanding of the issue firmly into the "someone ran tests earlier on *nix sudo-ed and now we are trying to run it as a normal user" causing the access denied.

[2016-04-13 02:25] zhenlan commented on #958
Agree with @roncain. @iamjasonp, why don't you go ahead and make proposals of necessary condition strings that we can use in ConditionalFactAttribute?

[2016-04-13 12:08] roncain commented on #983
@iamjasonp -- my access denied occurred on Windows running our GitHub tests from VS (non-elevated). Just running OuterLoops on Windows from a non-elevated CMD windows will repro this failure (and many others).  That part may be as-designed, and if so, we need to close on the [ConditionalFact] conditions to apply to this test and others like it.

[2016-04-13 14:48] roncain opened #1005 "Code cleanup of IISHostedWcfService initial checkin"
This issue tracks the code review comments from PR #995 that were not done in the initial checkin.
1. Move types shared by clients and server into folder under App_code ("servicetypes"? "sharedtypes"?) so they can be included by client projects.  Avoid code duplication.
2. Consider moving all service implementations from App_code into a new folder ("App_code\testservices"?) the same way the hosts

[2016-04-13 15:40] hongdai opened #1006 "Address the comments in pull request 1002: Init checkin of client changes"
The pull request has unblocking comments that need to be addressed in the future iteration.

 https://github.com/dotnet/wcf/pull/1002#discussion_r59568731

[2016-04-13 15:51] roncain opened #1007 "Make [ConditionalFact] conditions self-detect where it makes sense"
The use of [ConditionalFact] on several tests requires runtime detection of some specific conditions.  To resolve this issue, provide helper methods in Infrastructure.Common and update the ConditioinalWcfTest conditional methods to use them.  Known conditions we need to test are so far are:
 - Is the client on a domain-joined machine?
 - Is the client talking to a service on a domain-joined machin

[2016-04-13 16:09] iamjasonp commented on #983
Hm, I need to take a further look at this. I wonder if permissions around accessing the certificate stores have been tightened recently; I know there was some work in corefx around access.

[2016-04-13 16:22] iamjasonp commented on #983
@StephenBonikowsky - Want to assign to me so it's on my radar, or will you continue to look?

[2016-04-13 16:29] StephenBonikowsky commented on #983
I haven't started yet, might be a day or two before I have a chance, need to finish syncing the build scripts first. So if you will look into it in the next couple of days go ahead and take it otherwise leave it and I'll get to it.

[2016-04-14 07:31] tonn2y opened #1012 "Wcf extension thrift protocol"
we want to use wcf channel transport data and use thrift protocol analyze stream to invoke service's methods. And then client use Thrift socket Client to connect.What can we do?

[2016-04-14 16:18] hongdai opened #1015 "Use TestProperties and to parse command line arguments to configure ports"
Pull request https://github.com/dotnet/wcf/pull/1011 recommended using TestProperties and to parse command line arguments to configure ports for self hosted service.

We need to evaluate if it's needed to configure ports as there is a debate to use the same port IIS uses.

[2016-04-14 16:20] hongdai opened #1016 "use the standard IIS ports for self hosted test service"
Investigate if it's feasible to use the standard IIS ports for self hosted test service. Thus we don't need to open so many ports.

[2016-04-15 04:44] KKhurin opened #1022 "CloseFactoryAsync is stuck in System.ServiceModel.Channels.CommunicationObject.Close"
CloseFactoryAsync ends up waiting synchronously on CommunicationObject.Close
This call gets stuck for good 60 seconds and eventually all thread pool threads get stuck there.
This happens every few minutes so this is quite severe.

[code]

[2016-04-15 12:25] roncain opened #1024 "Remove or refactor workarounds used during infrastructure branch transition"
This issue is used as a checklist of temporary workarounds that were applied during the switch to the new test infrastructure.  Workarounds in the code reference this issue for easier tracking.

[2016-04-15 12:46] #108 closed

[2016-04-18 06:31] orgaksm commented on #977
The problem is that I can't handle any exception on the server side, if the server crashes (eg. unplanned shutdown on remote server), but I need to know it immediately on client side.
For the moment I switched to http/transferMode=streamed, because the files will never be larger than 2gb.

[2016-04-18 06:31] #977 closed

[2016-04-18 17:34] StephenBonikowsky commented on #944
This behavior is no longer reproducing. Closing.

[2016-04-18 17:34] #944 closed

[2016-04-18 18:05] StephenBonikowsky commented on #983
It is still failing with the call stack as originally reported by Ron.
Assigning to @iamjasonp to check on access changes to certificate stores.
Pending his investigation need to determine if this test needs to be skipped on NET Native runs.

[2016-04-18 18:12] StephenBonikowsky commented on #833
The fix for this issue will also resolve the following two test cases...

- Tcp_ClientCredentialTypeTests.TcpClientCredentialType_Certificate_EchoString
- Tcp_ClientCredentialTypeTests.TcpClientCredentialType_Certificate_CustomValidator_EchoString

The original issue for these two tests is #834

[2016-04-18 18:13] StephenBonikowsky commented on #834
Have updated #833 to include these two test cases.
Will then close this Issue as part of a PR to update the ActiveIssue on the test cases.

[2016-04-18 19:33] zhenlan opened #1034 "[ConditionalFact] or [ActiveIssue]"
Both ConditionalFact and ActiveIssue can be used to skip tests. There are some pros, cons and expectations of each approach. Start this issue to discuss what we should use going forward.

[2016-04-18 20:00] roncain commented on #1034
Good idea.  To open the discussion, it is important to understand some concepts:
- [ActiveIssue] is based on xunit trait framework
- [ConditionalFact] is based on the xunit [Fact] base class

Traits are logically part of the "discovery" phase, and [Fact] is logically part of the "execute" phase.

When you use "-notrait" to exclude a group of tests, the xunit discovery phase just throws them away.

[2016-04-18 20:07] #834 closed

[2016-04-18 21:30] mconnew commented on #908
I verified, the issue is you can't set it if ServiceModelHttpMessageHandler.UseCookies is set to false. The change made by @roncain in HttpChannelFactory in #905 avoids the issue. As we will be removing ServiceModelHttpMessageHandler at some point in the future (we have a copied and modified version) when HttpClientHandler supports client certificates, this change should remain so that we continue

[2016-04-18 21:30] #908 closed

[2016-04-18 23:05] mconnew commented on #997
There are two different places to set certificate authentication. One is the one that you used, and the other is factory.Credentials.ServiceCertificate.Authentication.SslCertificateAuthentication. This second one defaults to null and needs a new instance of X509ServiceCertificateAuthentication() to be created and set. Unfortunately, it looks like we haven't included the public constructor in our c

[2016-04-19 12:06] atanasa commented on #997
Thanks, the workaround seems to work for me. Once you complete the fix, what should be the proper way to do this - set the configuration on the SslCertificateAuthentication or Authentication property?

[2016-04-19 16:14] roncain opened #1042 "Port custom message encoder endpoints and tests to new test infrastructure"
Commit https://github.com/dotnet/wcf/commit/7079d3c448f5de62a8cae60a2ea38e0aeb657082 added new scenario tests and endpoint resources for a custom message encoder.  However this work was done while the new test infrastructure was being created, and the corresponding endpoints do not exist under the new infrastructure.

To resolve this issue:
 - Port the buffered and streamed custom message encoder

[2016-04-19 16:27] roncain opened #1043 "Fix WebSockets tests to not use Bridge test helper"
Many of the WebSockets tests now fail under the new test infrastructure because they are checking whether the WCF services are running locally using (to be) deprecated Bridge helper methods.

To resolve this issue:
- Find all [ActiveIssue]'s that refer to this issue number
- Replace the call to ScenarioTestHelpers.BridgeIsLocalHost() with a call to a new helper that does this test against the new

[2016-04-19 16:38] roncain opened #1045 "DigestAuthentication_Echo_RoundTrips_String_No_Domain fails in the new test infrastructure"
When run in the new test infrastructure, this test fails with the exception below when tested against an IIS hosted service.  Investigate and fix.  Probable cause is missing activation in IISHostedWcfService or mismatch of endpoint name
[code]

[2016-04-19 16:42] roncain opened #1046 "NegotiateStream_Tcp_AmbientCredentials fails in new test infrastructure"
NegotiateStream_Tcp_AmbientCredentials fails in the new test infrastructure when run against IIS hosted services.  Investigate and fix, or add [ConditionalFact] logic to detect condition that prevents it from working.

[code]

[2016-04-19 18:21] roncain opened #1047 "TcpClientCredentialType_Certificate_With_Only_CanonicalName_EchoString fails when run under CI"
Running this test from a dev box to an IIS-hosted machine passes, but when run from the CI machine it fails.

Update: this test also fails for me when running manually against the WCF test machines used by CI, so I think it is a setup issue on those machines.

[code]

[2016-04-19 18:24] shmao opened #1048 "Reorganize the Tests for Testing Latest Net Native Tools + Last Stable Packages."
We wanted to use the tests added in GitHub to cover the case where the latest Net Native Tools are used with the last stable packages. To achieve that, we need to identify the tests that supposed to work in that scenario. https://github.com/dotnet/wcf/pull/1044 is an example of the change we need to do. We need to do such change for all the tests.

Scenario Tests

- [ ] Binding
- [ ] Client
- [ ]

[2016-04-19 19:20] #942 closed

[2016-04-19 19:21] #875 closed

[2016-04-19 21:13] zhenlan commented on #1046
@hongdai can you take a first look to see if this fails because of test infrastructure changes? If not, you can pass this to @iamjasonp to take further look.

[2016-04-19 21:13] #1047 closed

[2016-04-19 21:43] zhenlan commented on #958
@iamjasonp this is assigned back to you and moved to current milestone. Please do make proposals of conditions that we need to get discussion going.

[2016-04-19 21:50] #736 closed

[2016-04-19 22:00] zhenlan commented on #721
Close this one as package building keeps changing. We will create a RC2 issue to track sign oof of end 2 end experience.

[2016-04-19 22:00] #721 closed

[2016-04-19 23:03] hongdai commented on #1046
Yeap, the ambient credential tests need active directory, thus will fail in the new infrastructure while test server is not domain joined.

[2016-04-20 02:33] zhenlan commented on #1046
Okay, so this test should be ConditionalFact'ed. @roncain are you tracking all tests that need 'domain joined' or it's @iamjasonp?

[2016-04-20 03:30] zhenlan commented on #1016
IIS uses these 3 ports for all our tests

- 80 for HTTP
- 443 for HTTPS
- 808 for NetTcp

For 80 (HTTP) and 443 (HTTPS), there are no concerns to have self hosted service using these same ports by default as long as people have a way to change to something else when they need to.

For nettcp working on IIS, it requires TCP Port Sharing feature enabled on the machine. If we want to use the same por

[2016-04-20 04:22] zhenlan opened #1053 "RC2 E2E experience sign-off"
Before RC2 is released, we should try out WCF RC2 packages just like our customers will do and understand the end-to-end experience, which includes .NET CLI, ASP.NET Core and tooling in Visual Studio 2015.

[2016-04-20 06:37] iamjasonp commented on #962
I've been able to verify this works by manually testing this on an OS X box.

[2016-04-20 06:47] iamjasonp commented on #949
This test was fixed so we can see the exception messages.

[2016-04-20 12:43] roncain opened #1056 "NtlmAuthentication_RoundTrips_Echo fails using new SelfHostedWcfService"
Start the self-hosted WCF service and run the OuterLoops to see this error.  If you don't see it please try it on a different machine or VM.

[code]

[2016-04-20 12:47] roncain opened #1057 "TcpClientCredentialType_Certificate_EchoString fails with new self-hosted WCF service"
Start the new self-hosted WCF services and run OuterLoops to see this failure.  If you don't see it, please try it on a different machine or VM.  My net.tcp port sharing service and listener adapter were both confirmed running when this failed.

[code]

[2016-04-20 14:58] roncain commented on #1046
Anyone can add [ConditionalFact(nameof(Domain_Joined))] to this test.  I don't think we need to track them separately, but it does show we need detection logic that can test both that the client is domain-joined (mine was when I ran this) as well as the server.

[2016-04-20 15:14] roncain opened #1058 "TCP_ServiceCertExpired_Throw_MessageSecurityException fails in ToF with new test infrastructure"
Running ToF tests against CoreCLR, this test now fails with a new exception.  Note we now use WCFCORESRV4.cloudapp.net for default ToF runs.

[code]

[2016-04-21 03:17] iamjasonp opened #1059 "Modify PRService return HTTP error codes"
Suggested improvement per: https://github.com/dotnet/wcf/pull/1054/files#r60516164

Currently, the PRService uses 400 and 500 to distinguish the difference between a likely issue with server setup, and a likely issue with client parameters passed in. @zhenlan discovered in testing that, in practice, it was incredibly hard to distinguish what errors were coming from IIS and what errors were coming

[2016-04-21 03:20] iamjasonp commented on #1059
Aside: usually you can use the browser F12 developer tools to see the output that PRService gave. If you see no output, typically this is an IIS problem

[2016-04-21 06:35] zhenlan commented on #962
Great. Thanks @iamjasonp. We can use #700 to track automated testing and close this one now.

[2016-04-21 13:16] roncain commented on #973
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed.  When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails.

[2016-04-21 13:16] #973 closed

[2016-04-21 13:16] roncain commented on #972
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed.  When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails.

[2016-04-21 13:16] #972 closed

[2016-04-21 13:22] roncain commented on #971
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed. When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails. It appears the failure here is due to the machine not being domain-joined as well, so once we resolve #1007 and #958, we may n

[2016-04-21 13:22] #971 closed

[2016-04-21 13:26] roncain commented on #970
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed. When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails. The original failure here appears related to the previous Bridge test infrastructure.  After resolving #1007 and #958, it may

[2016-04-21 13:26] #970 closed

[2016-04-21 13:29] roncain commented on #969
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed or that NTLM is available. When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails. When #1007 is resolved to detect certificates are installed, we will also need to add detection logi

[2016-04-21 13:29] #969 closed

[2016-04-21 13:36] roncain commented on #968
This test has been marked with [ConditionalFact] and is now being skipped because we don't yet detect whether certificates have been installed. When #1007 is resolved to detect or install certificates using the new test infrastructure, we can reopen this issue if it fails. Once #1007 is resolved it is likely we will need to add a new [ConditionalFact] to assert this test runs only on domain-joined

[2016-04-21 13:36] #968 closed

[2016-04-21 13:39] roncain commented on #951
The [ActiveIssue] was removed from these tests to re-enable them for OS X, and the latest Helix run did not report failures for them.  But I can't confirm they executed because Helix is not reporting passed tests.  Closing because I believe it is fixed.

[2016-04-21 13:39] #951 closed

[2016-04-21 13:40] roncain commented on #778
This is now obsolete because we no longer use the Bridge

[2016-04-21 13:40] #778 closed

[2016-04-21 13:43] roncain commented on #270
Closing because we have added [ConditionalFact] to assert this test runs only on a domain-joined machine.  We still need #1007 and #958 to be resolved to detect when we are domain-joined before this test will run again.

[2016-04-21 13:43] #270 closed

[2016-04-21 13:46] roncain commented on #439
Closing because this has been resolved by moving to the new test infrastructure and changing CI scripts to use the new PR service.

[2016-04-21 13:46] #439 closed

[2016-04-21 13:49] roncain commented on #791
Closing now because we have moved to the new test infrastructure and added support to CI to use the new PR service, based on these discussions.

[2016-04-21 13:49] #791 closed

[2016-04-21 13:51] roncain commented on #967
Closing because these tests now use [ConditionalFact] that certificates are installed.  We need to resolve #1007 and #958 before these tests will run again, after which we can reopen if they fail in the new test infrastructure.

[2016-04-21 13:51] #967 closed

[2016-04-21 13:55] roncain commented on #1024
Closing this issue now because the temporary workarounds will disappear when we resolve #1007 and replace the workaround code with actual detection logic.

[2016-04-21 13:55] #1024 closed

[2016-04-21 16:22] #1043 closed

[2016-04-21 18:30] iamjasonp opened #1065 "CI outerloop queues are forced to run sequentially"
Our CI outerloops rely on us calling an HTTP endpoint to sync server code, after which the client will test against the assigned server.

At the moment, we have a design limitation where one server endpoint is assigned to one CI queue; if we allow concurrent builds, it becomes possible to pave over the server endpoint with mismatched code while another test is running.

Per https://github.com/dotn

[2016-04-21 19:15] iamjasonp opened #1066 "WcfService: Investigate how to force-quit badly behaved services on CI server"
We've run into a couple of instances now where the CI server box has failed the prerequisite/cleanup steps because either git.exe was running for a long time and not proceeding, or w3wp.exe was holding onto files that was preventing the cleanup/sync necessary.

This has necessitated manual intervention in these cases to fix and stabilize the services.

We should find a way to force-quit and recove

[2016-04-21 20:12] zhenlan commented on #1066
@iamjasonp could you please share more details of what are the errors you see and what is the root cause of the issues?

[2016-04-22 02:22] zhenlan commented on #1065
Thank you @iamjasonp for opening the issue. Can you please collect more information for us to better understand the impact

- What are the scenarios that be impacted by this if we don't make the change?
- What are the scenarios that will benefit us if do make the change?

[2016-04-22 07:13] iamjasonp commented on #958
I think the ones that will end up wiring later are the server side scenarios, e.g., those requiring Kerberos and domain join. I crossed out one of those above that I don't think is necessary.

[2016-04-22 13:07] roncain commented on #958
Thanks @iamjasonp for the good explanations. I have a few questions to help me understand how to proceed:
- When does a test need to distinguish between Client_Windows_Domain_Joined and Client_Linux_Domain_Joined?  Would the test itself  be written differently for each?  Can these be combined into a single Client_Domain_Joined and make the condition detector implementation fork based on current pl

[2016-04-22 18:07] roncain opened #1072 "Create mock channel to allow use as test spy"
Investigate possibly mocking frameworks suitable to use in xunit, and create a mocked channel for testing. First usage would be to verify the public async API's never invoke one of the channel's synchronous entry points but does call the appropriate async ones.

[2016-04-22 19:31] roncain opened #1073 "Add scenario test coverage of ClientBase and ClientBase<T>"
ClientBase and ClientBase<T> have very low code coverage numbers, and needs to be improved.  These correspond to the wrapper classes that SvcUtil generates, so it is vital all its public entry points are tested.  Notably lacking:
- most property getters
- any of the events (OnClosing, etc.)
- any asynchronous handling (async open and close)
- checking that the State property is correct (ex: 'Closi

[2016-04-22 20:17] KKhurin opened #1074 "Streamline the request timeout handling"
Profiles show up to 54% of CPU time spent in the call to TimerQueueTimer.Change(). This is thanks to WCF changing the timer timeout on each async call. Having just 1 timeout for the end of the entire operation and potentially even one timeout for multiple channel calls should greatly help with the time spent managing the timers.

[2016-04-25 09:25] DiegoVil opened #1078 "Udpbinding not supported"
Hi, in .4.5 framework was one of new functionalities,now in new release of donet.is not anymore supported. The worst issue is that there is not anyworkaround to solve this...

[2016-04-25 09:27] DiegoVil commented on #1078
I meant in wcf

[2016-04-25 10:29] iamjasonp opened #1079 "[rc2] Running outerloop build causes error"
When running an outerloop build in OSX RC2 branch, this issue manifests. From an initial look, it's not apparent to me why this is an issue, as `delimiterIndex` is defined on the line immediately above the line referencing this variable.

This seems to manifest itself only when building outerloop, OSX, in RC2. No such issue on Ubuntu - see http://dotnet-ci.cloudapp.net/job/dotnet_wcf/job/master/jo

[2016-04-25 10:30] iamjasonp commented on #1079
(edit the title because it doesn't look like a #if condition issue anymore)

[2016-04-25 12:15] roncain commented on #1078
Thanks for submitting the issue, @DiegoVil .  Could you describe briefly how you would like to use UdpBinding?  For example, do you have an existing WCF service using UdpBinding that you need to connect to from a dotnet client?  From some mid-tier?  Knowing the details will help us understand which features are most important.

[2016-04-25 12:44] DiegoVil commented on #1078
Hi,
Yes of course. I have an old UDPBinding in which I do not need assuring that all packets arrives due to I update it every 24ms so if I lose one packet I do not care because in next frame I will receive another packet. Imaging something similar to high speed online games.

In my case I use it for diverse purpose one of them is mirroring one software based on (4.5 framework) in different devices

[2016-04-25 15:21] roncain opened #1080 "CustomTextMessageEncoder_Http_RequestReply_Streamed test fails due to stream length"
The recently added test CustomTextMessageEncoder_Http_RequestReply_Streamed assert fails due to mismatching stream length.  It expects 86016 bytes but finds 86019.

This test appears to have worked at one point when it was using the Bridge resources but has ceased to work since moving to the new test infrastructure.  During that time we also advanced to more recent version of the CoreFx packages a

[2016-04-25 15:26] mconnew commented on #1080
This is caused by a change in the service I made which was reverted. The service is adding a BOM when copying the input stream to a string and back to a stream again. A different overload of the method for fetching the encoding for UTF8 needs to be used to specify not to emit the BOM.

[2016-04-25 15:29] roncain commented on #1080
Thanks @mconnew -- could you provide that overload for me to incorporate.  I'm in the process of porting those tests onto the new infrastructure, and it would be great to check-in clean.

[2016-04-25 15:44] mconnew commented on #1080
I can do it when get in the office or you could look at the commit where the test was introduced to see the change that has been reverted. It's super obvious once you see it, it's in the service implementation class.

[2016-04-25 16:10] roncain commented on #1080
I found the BOM change, and it works.  It will be checked in with PR #1081. Closing this issue now.

[2016-04-25 16:10] #1080 closed

[2016-04-25 16:23] roncain opened #1082 "Add async scenario tests to Client.ChannelLayer"
Scenarios\Client\ChannelLayer needs to be enhanced to include async versions of each of its tests.  This includes:
- async open and close of factory
- using channel.BeginRequest for the service operation calls

Examples can be found from the typed channel equivalents in PR #1071.

[2016-04-25 20:38] #1056 closed

[2016-04-25 20:49] roncain opened #1085 "Create a script to setup the developer's machine to run IISHostedWcfService in IIS"
Create a simplified version of tools\scripts\WcfTestServerSetup.cmd to configure IIS to be able to run the IISHostedWcfService in IIS on a developer's machine using their current enlistment.

The goal is to make this process easier for developers and to minimize the need for error-prone manual steps.

[2016-04-26 00:59] mconnew commented on #997
SslCertificateAuthentication is used to specify properties to validate the server's certificate. Authentication is used to specify a client certificate to pass to the server.

[2016-04-26 11:32] roncain opened #1087 "Refactor and/or remove dead code in channel factory async close path"
PR #1071 made the channel factory async close path remain async.  This appears to have made the synchronous code path unreachable, because the low level IAsyncCommunicationObject logic uses the async close path even for sync closes

To resolve this issue:
- Establish via code coverage and analysis that the TypedServiceChannelFactory and ServiceChannelFactory OnClose and BeginClose have become unre

[2016-04-26 11:33] #1022 closed

[2016-04-26 12:02] roncain opened #1088 "Provide IAsyncCommunicationObject wrapper where needed"
We have moved to using IAsyncCommunicationObject within the product code to enable the Task-based code paths.  However, this interface is not in the public contract.  There are now a few places in the code where we test whether a type is IAsyncCommunicationObject and take the Task code path when it is.  When it isn't, we take alternate code paths that could be unreachable.

The assignment for this

[2016-04-26 18:07] DiegoVil commented on #1078
What is your opinion? this is not useful at all?

[2016-04-26 18:07] roncain opened #1089 "Create a ping endpoint for new test infrastructure"
We need an endpoint we can ping (preferably with an Http GET) that tells us the WCF test services are available.  Reasons include:
- New CMD scripts to start self-hosted service are currently using another endpoint for this purpose in a way that is a little confusing
- We need a way to ping the services outside of these custom scripts.  Examples: I need to know I've got my IIS machine setup correc

[2016-04-26 20:40] #1042 closed

[2016-04-26 21:21] zhenlan commented on #1082
Duplicate the existing tests but provide async versions of them, like BeginXxx, EndXXX.

Related to #1087

[2016-04-26 21:25] zhenlan commented on #1079
@iamjasonp please take a look what went wrong. We do have supported feature table to fill out and we would like to know what works and what not on OSX for RC2.

[2016-04-26 21:33] zhenlan commented on #1073
@hongdai, a potentially interesting idea to deal with this is to 1. expose mex of all our endpoints 2. generate proxy code by using .Net Core version of svcutil.exe and then test it.

[2016-04-26 21:36] zhenlan commented on #1066
@iamjasonp do you still see this or get information of my earlier question?

[2016-04-26 21:47] zhenlan commented on #1058
@roncain can you please check if we have this failure in Helix run? If yes, we should take a further look. If no, we can close this out.

[2016-04-26 21:52] zhenlan commented on #1057
@mconnew has a PR #1086 that may fix this.

[2016-04-26 22:40] #833 closed

[2016-04-26 22:40] #1057 closed

[2016-04-26 23:23] mconnew commented on #1078
WCF 4.5 and the open source WCF are two different things. UDP hasn't been removed, as the .Net Core version of WCF didn't exist previously. We are busy building out the functionality of the features that are currently in the API surface. WCF in .Net Core is cross platform which means you can run the same code on Windows, Linux, OSX and anywhere UWP apps run. This means we need to rewrite a lot of

[2016-04-27 04:24] iamjasonp commented on #1066
We root caused this as a permissions issue; Git expects that it has full permissions to the filesystem at all times, but there were some strange ACLing issues that were residual (I'm guessing #1090 will help to resolve this too).

I have seen w3wp have issues too recently, but have not found the root cause yet. The issue I found was that the app_code folder get locked and git chokes when trying to

[2016-04-27 09:50] iamjasonp opened #1092 "CI should provide IIS logs for failing runs"
When running CI, we have found that sometimes it's hard for us to obtain logs from CI machine when something goes wrong. Unfortunately, what's provided by the test runs themselves is not necessarily useful as the error is often on the server side and we get no data on (say) a 500 error that happens.

We need to:
- Decide what types of logs we want to gather
- Find a good way to surface them/attach

[2016-04-27 10:03] DiegoVil commented on #1078
Thanks for your explanation @mconnew . I have exploring the possibility to create a UWP DatagramSocket. Unfortunately I have found a bug [here] . (https://github.com/dotnet/corefx/issues/8068)  I never made a portable class. I will take a look on that topic. What I understand its that I can get WCF4.5 code and make a portable class with udpbinding inside and use it in UWP app?
Thanks you again for

[2016-04-27 11:23] roncain commented on #1092
I'd like to add to this list having the PRService invoke a ping endpoint (assuming it has gotten that far) and capture errors if possible.  As I found yesterday, a PR that causes IISHostedWebService to fail to build captures no information at all in the CI logs, yet it is a nonstarter that should fail the tests outright.

[2016-04-27 13:47] roncain commented on #1058
I no longer see this failure in ToF or Helix, so I am closing this.  Note that this test uses only [Fact] so this means it is running in both ToF and Helix

[2016-04-27 13:47] #1058 closed

[2016-04-27 14:12] roncain opened #1095 "Add endpoint to utility WCF test service to detect if server is domain-joined"
We need a WCF endpoint we can query to determine if the server is domain-joined.  This will be used by the [ConditionalFact] detectors.

As has been observed in the past, what we need is not a flat "am I joined to some domain?" test, but rather a test whether the client will be able to execute tests that require the server to be domain-joined (i.e. there is a trust relationship between them).  Thi

[2016-04-28 17:15] roncain opened #1098 "Build.cmd can occasionally leave auto-started SelfHostedWcfService.exe running"
When you use this script to start an OuterLoop run against the self-hosted service:
[code]
it will periodically not call the cleanup code when it is done, leaving SelfHostedWcfService.exe running.  In a CI environment this will be bad for 2 reasons: (1) inability to 'git clean' and (2) the default logic will autodetect SelfHostedWcfService.exe is already running and will use it -- even though it i

[2016-04-28 18:26] zhenlan commented on #1098
Two things we potentially can do to tackle this
- Do "ping" in a loop with a maximal timeout
- Call cleanup more aggressively in build.override.targets, for example, do cleanup if "start service script said it started the service" OR "ServiceUri is empty".

[2016-04-28 18:33] roncain commented on #1098
I think the simplest solution is to do an aggressive cleanup on only 1 condition -- that we *attempted* to do any setup at all.  For example, we might have installed certs, configured firewall rules and only then failed to start the service.  The ping only detects the final step.  Any exit code other than "it was already running" should trigger the cleanup code.

[2016-04-28 18:59] zhenlan commented on #1098
Wouldn't devs have the same problem? We should be very careful of diverging the design or special casing for some particular scenarios as it will add long term maintenance cost and we may just end up having to solve the problem repeatedly in different scenarios.

Just to point out what you said is not much different than the second bullet point I put out there. Basically it's the condition "Servic

[2016-04-28 19:18] roncain commented on #1098
I'm not proposing a divergent design -- only fixing an issue that exists in both CI and Dev scenarios.  Fix once, appreciate twice :grinning:

Triggering on the "ServiceUri is empty" case would break the "manually started self-host on my machine" developer scenario. I don't think we want to gate on *why* we chose to setup the machine, only on the fact we *tried*.

[2016-04-28 20:15] roncain commented on #958
I'd like to add to the list:
* [ ] UserName_And_Password_Available
This condition would be true only when TestProperties have been provided with a username and password (defaults would be blank).  This is needed for domain tests such as Digest auth.

[2016-04-28 23:34] zhenlan commented on #1098
Then it's not 1 condition. It's 2: "ServiceUri is empty" AND "there was not a service running already". This will solve the "aggressive cleanup" problem. It does not solve the problem that ping failed in the first place. If you observed ping always (or most of the time) would fail, why do we even bother to do it? If we want to keep it, we should make it more reliable.

For the scenario "manually s

[2016-04-28 23:53] hongdai commented on #1098
In the latest version of build.override.targets, I always run clean up except:
* there is a service already running.
* Setup has not been run.

This should have taken care of Ron's original concern.

[2016-04-28 23:55] hongdai commented on #777
No longer has the requirement as we always test the latest in the lab runs.

[2016-04-28 23:55] #777 closed

[2016-04-29 02:42] iamjasonp commented on #1098
I'd like to see what happens when we run in CI. If true, we will be in a very, very bad state because it'll happen on machines.

There's two classes of approaches that I've seen here:
1. Attempt to do detection (check for ServiceUri is empty and check service state)
2. Cleanup always when we've tried to setup anything.

The ping problem is orthogonal to this problem about cleanup, IMO. A service t

[2016-04-29 02:54] zhenlan commented on #1098
Agreed with what you said @iamjasonp.

Yes, this is the design.

IMHO, we should fail in this case and give an error message something like "We cannot start a new service as we detected there was already a servicing running on local machine. If you want to use the existing service, please pass /p:ServiceUri=localhost to the build.cmd. Alternatively, please shut down the existing service and we wil

[2016-04-29 03:20] iamjasonp commented on #1098
Got it. I personally like the explicitness of this case whereby we force passing in the ServiceUri.

So in practice, the cleanup conditions:

Can be reduced to "I always run clean script except when setup has not been run", or, flipping the negative: "I always run clean when setup has been run".

If a service is already running, by definition setup will not happen due to the explicit bounding cond

[2016-04-29 03:46] iamjasonp commented on #958
Added to the list, @roncain :)

[2016-04-29 12:00] roncain commented on #1098
@hongdai solved this issue with #1083.  I would like to close this current issue and carry on discussions regarding ServiceUri on a different thread.

[2016-04-29 13:27] roncain opened #1099 "Create temp.crl out of the normal enlistment root path"
Currently, doing an OuterLoop build that self-starts the SelfHostedWcfService causes a temp.crl file to be created at the root of the enlistment.  A 'git status' shows there is a new file.  Simply running a build on a clean enlistment should not automatically show there is a new file in the workspace.  Someone could easily do 'git add --all' while working on a PR and inadvertently pull in the crl

[2016-04-29 13:31] roncain commented on #1089
It would also be useful if the self-hosted service printed to the console the address to ping it.  I have used that frequently in the past to issue a 'curl' command from a Linux window to ensure that machine was able to reach the Windows machine's services.

[2016-04-29 16:30] roncain opened #1101 "Clean MSBuild target should close SelfHostedWcfService and cleanup"
Running clean.cmd (or build /t:Clean;Build) should cause the SelfHostedWcfService.exe to terminate (if running) and all test certificates, firewall rules, and SSL port associations used for testing should to be removed if no longer needed.

Reason: this allows the normal MSBuild semantics to be used to stop the self-hosted service and cleanup.  And this would allow a CI or PR job to start with a c

[2016-04-29 18:31] roncain opened #1102 "Update/rename BridgeCertificateInstaller for cross-platform installation of certificates on clients"
The existing BridgeCertificateInstaller is a cross-platform exe that is currently run from the build.sh on platforms other than Windows.  It needs to be renamed (no "Bridge") and updated to match what is happening in the new test infrastructure CertificateGenerator.exe.  It should also be relocated under the tools folder to match where CertificateGenerator lives.

Success is determined by all Oute

[2016-04-29 23:12] zhenlan commented on #1102
Thanks @roncain for opening the issue. A couple questions

1. Is this tool currently broken if we don't change anything? This helps to understand the urgency.
2. Is this tool only used for Linux? If yes, should we consider to make it x-plat so the same tool is used on Windows, Mac etc. too?

[2016-05-02 14:28] roncain opened #1105 "Scenario tests requiring root certificate fail when run via CI or cross-machine"
When PR #1096 enabled tests to run that are marked with [ConditionalFact(nameof(Root_Certificate_Installed))] they fail from CI because the a root certificate is detected but the trust chain cannot be verified.  Prior to this PR, these tests were skipped unless run self-hosted

Typical failure is:
[code]
The tests that fail are:
[code]

[2016-05-02 15:46] roncain commented on #1102
Prior to the new test infrastructure, running the OuterLoops on any *nix machine required the manual execution of BridgeCertificateInstaller.sh.  The script invoked an x-plat exe to ask the Bridge for the CA cert, and then the script installed the cert on the machine.  Without the Bridge, the exe will fail, and the .sh file will not install the cert.  Without this cert, all the Https will fail.  I

[2016-05-02 16:48] roncain commented on #1105
It appears that these failures are not unique to CI but can happen just doing any cross-machine testing, even with self-host.  My repro steps are:
1. Start the self-hosted WCF service on machine A (I used a Windows Server 2012 R2 VM)
2. On machine B:
    a. Ensure you have the code in PR #1096 (just pull that PR)
    b. Compile and run CertificateGenerator.exe [this step is critical]
    c. Set Se

[2016-05-02 17:47] zhenlan commented on #1098
Exactly! WCF for .NET Core is a x-plat library/framework. I hope we can minimize anything that is special for Windows. We should have a x-plat design in both product and testing.  Getting rid of some Windows specific magic helps to raise the awareness and achieve the x-plat goal.

[2016-05-02 19:12] roncain opened #1108 "NetTcp TransportSecurity tests fail cross-machine"
The NetTcp tests using TransportSecurity pass when self-hosted and run locally but fail in cross-machine use, including CI.   This is a manual Windows-to-Windows Self-hosted cross machine test involving domain-joined machines.  It does not occur yet in CI because the ConditionalFact detectors skip these tests.  By setting environment variables, we force them to run.

Repro steps:

1. Start the sel

[2016-05-02 19:29] roncain commented on #1108
These tests have never passed on CI using the new test infrastructure.  They were initially marked with [ConditionalFact] to allow CI OuterLoops to run, and the [ConditionalFact] only evaluated to true when run self-hosted.  Attempting PR #1096 revealed that when these test are run cross-machine, they fail.

[2016-05-03 06:09] zhenlan commented on #1108
If these tests could pass with Bridge on CI in the past, they _should_ be able to pass with new infrastructure on Windows selfhost CI job.

It is expected these tests do not pass on *nix due to #700 where we need to automate root cert install on *nix.

I do expect these tests to pass on Windows outerloop cross machine CI job. @hongdai, are you aware of any specific reason this is not the case? If

[2016-05-03 06:22] zhenlan commented on #1108
Just to clarify... when you say self-hosted, do you actually mean client/server on the same (Windows) machine because self-hosted can be on cross-machine too? In the repo steps, you showed tests will fail even if the service is self-hosted.

[2016-05-03 06:22] zhenlan commented on #1105
@roncain could you please clarify a little bit the difference of this issue and issue #1108?

[2016-05-03 07:00] zhenlan commented on #1108
Just to add more data points. I triggered a Windows self-host CI run (using localhost) on PR #1096. The result shows

These 2 tests passed (as expected)
[code]

The rest of tests were skipped due to _Condition(s) not met: "Client_Certificate_Installed"_
[code]
Do all these tests need client cert? If yes, this sounds like a setup issue.

[2016-05-03 07:23] zhenlan commented on #1102
Thanks @roncain for the clarification.

I understand client cert related tests will fail, but Https should pass...

Looks like this [line](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tools/test/BridgeCertificateInstaller/CertificateInstaller.cs#L76) in CertificateInstaller.cs needs to be updated with the new URL that provides cert download. @hongdai, could you please

[2016-05-03 11:34] roncain commented on #1108
To clarify, the cross-machine aspect of this issue is the important one.  Running self-host where client and server are on the same machine will pass.  Running the server self-host but the client on another machine will fail.  The CI failures indicate IIS-hosted cross-machine also fails the same way.

The fact the self-host CI run skipped those tests indicates the client cert is not installed on t

[2016-05-03 11:49] roncain commented on #1105
@Zhenlan -- this issue differs from #1108 because its root cause was failure to open a firewall rule for port 80, causing the CRL validation to fail because it could not contact the CRL service. @hongdai fixed this with PR #1107.  As soon as that was fixed, we got further into the tests and uncovered #1108.

So technically, this current issue is fixed, even though these tests now fail for #1108.

[2016-05-03 11:49] #1105 closed

[2016-05-03 14:58] roncain opened #1111 "Basic authentication tests fail in CI when using IIS-hosted services"
The Basic authentication tests fail on CI runs against IIS-hosted WCF services but pass in self-hosted.  Likely cause is that Basic Authentication is not enabled for the CI web sites in IIS.
These are the 2 failing tests:
[code]

Failure looks like this:
[code]

[2016-05-03 16:05] zhenlan commented on #1105
Makes sense. Thanks for clarification @roncain.

[2016-05-03 16:18] zhenlan commented on #1108
Yes, it does sound like a client setup issue at this point. @hongdai, can you confirm?

[2016-05-03 16:19] roncain opened #1112 "Starting self-host service should capture logs for the .exe's it runs"
Currently the script to start the self-hosted WCF service uses 'start' to execute the certificate generator .exe elevated.  Errors occurring during cert generation are ignored and will appear only in this window.  I recommend the elevated CMD should capture the output of each .exe it invokes into a single log file.  And the CMD that is waiting for the service to start should echo that logfile to t

[2016-05-03 17:05] roncain commented on #1099
I believe this issue can be closed once #1089 is resolved.  temp.crl is just a throw-away file used by the current ping script.

[2016-05-03 20:47] roncain opened #1114 "Make it possible to stop self-hosted exe when not running non-elevated"
The script to start the self-hosted WCF service is able to run in a non-elevated window.  It self-elevates and starts the service successfully.  However, the script to stop the service fails with "access denied" when run from a non-elevated window.  The net effect is attempting to do an OuterLoop run self-hosted from a non-elevated CMD window will leave the service running, making it impossible to

[2016-05-03 20:59] hongdai commented on #769
This bug is pushed back on us. There are 3 options to solve this problem:
1) make FaultFormatter a public type.
2) Remove __BlockReflection attribute on our assembly level and use the rd.xml file to limit reflection.
3) Change our product code to NOT to reflect on type OperationFault.

We need to discuss the options.

[2016-05-03 21:04] roncain commented on #1114
Alternately, we may choose to *not* start the self-host service unless we are elevated, rather than attempting to self-elevate.  Investigate both options.

[2016-05-03 21:16] zhenlan commented on #1114
This affects Windows self-host CI job.

[2016-05-03 21:31] zhenlan commented on #1111
@roncain will add new ConditionalFact for Digest
@hongdai will come up a complete proposal of how we need to break down current IIS hosted test service.

[2016-05-03 21:37] zhenlan commented on #1108
@hongdai has confirmed the failure is because the client setup is not done.

@roncain will look into hoop up client cert setup through condition detector.

[2016-05-03 22:07] #1098 closed

[2016-05-04 10:24] zhenlan opened #1120 "Make ServiceUri a required parameter for running outerloop tests against an existing service"
This is to continue [this discussion](https://github.com/dotnet/wcf/issues/1098#issuecomment-215615545). As designed, ServiceUri is a required parameter for outerloop testing and it is the case today for all cross machine/cross platform testing. However, on Windows, we opportunistically reuse an existing servicing running on the same machine if ServiceUri is not specified. This (magic) causes conf

[2016-05-04 15:35] roncain commented on #1120
I think this discussion should be considered "As proposed" rather than "As designed" because it represents a change from what we have been using satisfactorily to date (both with BridgeHost and ServiceUri).

I think you will find that the dev experience will be degraded by this proposal.  The only time a service is already running on the dev machine is either (a) the dev started self-host manually

[2016-05-04 18:51] roncain commented on #1045
Failure is due to this test attempting to use the obsolete BridgeAuthenticationManager.NetworkCredentials.  We will need a replacement endpoint to enable this test.  The affected test has a comment where the new code needs to go.

[2016-05-04 19:41] roncain commented on #1114
This will be fixed by PR #1113.  Part of getting logging to work involved making it work non-elevated too

[2016-05-04 20:24] #1112 closed

[2016-05-04 20:26] roncain commented on #1114
Fixed by PR #1113

[2016-05-04 20:26] #1114 closed

[2016-05-04 20:49] shmao opened #1121 "4 MessageContractTests Failed in Latest Library + RTM Net Native Tools"
The following tests used to pass with Latest Library + RTM Net Native Tools. I started seeing the failures since I rebased my repo to latest. Not sure if this is related to the recent infrastructure changes.

  Failed tests:
    MessageContractTests.MessageContract_IsWrapped_True
    MessageContractTests.MessageContract_IsWrapped_False
    MessageContractTests.MessageBody_Elements_Ordered
    Mess

[2016-05-05 00:28] zhenlan commented on #1120
Thank you for sharing you input @roncain. Appreciate it. I will try to respond to your key points, but please let me know if I missed anything.

For first time devs who are not aware of the requirement of service to run outerloop tests, our build script `'build.cmd /p:WithCategories=OuterLoop` will continue to start the self hosted WCF service automatically without the need to specify ServiceUri.

[2016-05-05 14:27] roncain commented on #1120
Thanks @Zhenlan.  High order bit -- don't let me block progress.  I am just giving my dev reaction to the proposal, and I continue to believe it will be (mildly) disruptive to dev workflow, at least mine.  I guess testing a PR prototype will tell if others find it so.

That said, I think your last point is right on target -- ensure an *excellent* debug experience (not "good enough", but excellent)

[2016-05-05 15:21] roncain opened #1123 "Https tests fail on *nix from CI"
The following Https tests fail when run from CI against *nix platforms:

[code]
Failure in all cases looks the same and is probably related to the fact we need to do manual setup on the *nix machines before they work properly.

[code]

[2016-05-05 16:34] roncain commented on #1121
Thanks @shmao .  Do you see these same tests fail using latest NET Native toolchain too?  The error looks like it is in the System.Net.Http library or our use of it.

[2016-05-05 23:40] shmao commented on #1121
Currently the test project doesn't build with the latest toolchain + latest library. The build failed with the following errors,

[code]

I'll give this a try later.

[2016-05-06 03:27] zhenlan commented on #1123
If the root cause is cert install on *nix, this is a dup of #700.

[2016-05-06 14:35] roncain commented on #700
This work item is necessary to fix issue #1123.

[2016-05-06 14:40] roncain commented on #1123
I wouldn't mark it a dupe just yet.  This issue captures the fact the tests fail, and how.  #700 is the work item to automate setup on *nix machines.  I think it is better to say #700 represents the infrastructure work necessary to fix this issue.  This issue is the "why" for the need for #700.  If you still want to mark it a dupe, let's propagate the information contained in this issue back to #7

[2016-05-09 16:32] #979 closed

[2016-05-09 22:44] zhenlan commented on #452
@mconnew do we still need to do any revert or can this issue be closed now?

[2016-05-09 22:57] zhenlan commented on #14
I think this can be closed now given that we've had NegotiateStream support on both Windows and *nix. @iamjasonp can you please confirm?

[2016-05-09 23:13] zhenlan commented on #507
@mconnew with the new API you added recently, is this good to go now?

[2016-05-10 01:16] shmao commented on #1121
These tests passed with latest packages, they only failed with RTM libraries. I will move these tests to latest test files.

[2016-05-10 01:16] #1074 closed

[2016-05-10 08:40] zhenlan opened #1128 "Rerun code formatter and update header of source code"

[2016-05-10 09:17] zhenlan opened #1129 "Tests that are disabled by ActiveIssue 1123 on *nix should be disabled by ConditionalFact"
Please find more details of the discussion [here](https://github.com/dotnet/wcf/pull/1096/files#r62285935).

[2016-05-10 09:24] zhenlan opened #1130 "We should use independent detection logic in ConditionalFact detectors, separated from installation logic"
Please find the details of the discussion [here](https://github.com/dotnet/wcf/pull/1096/files#r62286169).

[2016-05-10 12:01] roncain opened #1131 "Combine self-host startup and shutdown scripts into common exe"
The CMD scripts to startup and shutdown the self-host service have become difficult to manage and orchestrate.  I recommend we return to the style of a utility .exe that is able to parse command line parameters and do things like self-elevate, start the self-host service (without blocking the caller), shut-down the self-host service cleanly, etc.

I think the best approach would be to make the Sel

[2016-05-10 14:08] atanasa commented on #997
There is one more issue - this does not run on Ubuntu - when I run it, I get the exception:

Unhandled Exception: System.TypeInitializationException: The type initializer for 'System.Net.Http.CurlHandler' threw an exception. ---> System.EntryPointNotFoundException: Unable to find an entry point named 'HttpNative_GetSupportedFeatures' in DLL 'System.Net.Http.Native'.
   at Interop.Http.GetSupported

[2016-05-10 17:22] zhenlan commented on #623
@khdang can you work on this?

[2016-05-10 19:01] iamjasonp commented on #962
Closing per @zhenlan's comment, we'll use #700 to track this issue

[2016-05-10 19:01] #962 closed

[2016-05-10 19:18] mconnew commented on #997
This looks like a bug in the build of System.Net.Http that you are using. We have end-to-end tests which verify this scenario. One thing to know is that client certificates aren't supported on Linux yet. The bug to track progress on this is dotnet/corefx#7623. Once that is complete, we will make changes to WCF to use these changes and client certificates should then be supported on all platforms.

[2016-05-10 19:25] KKhurin opened #1134 "Frequent drops in CPU while running http StreamEcho scenario lead to 10x degradation in perf"
Perf tests iterate through a range of # of tasks sending requests to detect which load would produce the maximum throughput. While we report the maximum throughput, we also pay attention to unusual CPU usage patterns throughput the whole range.

In StreamEcho over http we observe a huge CPU starvation and what appears to be a sandwich of async-sync calls (which frequently is one of the culprits be

[2016-05-10 19:58] KKhurin opened #1137 "PlatformNotSupportedException running async duplex streaming over NetHttp"
This looks like a stress bug that popped up in the perf runs.
This is on the private for #1074...

[code]

[2016-05-10 20:48] iamjasonp commented on #1079
This no longer repros, though no changes were made to the code. Might have been a machine issue.

A build was run against the rc2 bits against OSX and only failures related to Bridge were reported. http://dotnet-ci.cloudapp.net/job/dotnet_wcf/job/master/job/outerloop_osx_release_rc2/2/console

Closing.

[2016-05-10 20:48] #1079 closed

[2016-05-10 20:58] #1121 closed

[2016-05-10 21:26] zhenlan commented on #1123
related to #1129

[2016-05-10 22:11] #1046 closed

[2016-05-10 22:12] #624 closed

[2016-05-10 23:27] hongdai commented on #953
They are passing in the CI now.

[2016-05-10 23:27] #953 closed

[2016-05-11 00:42] iamjasonp commented on #958
Closing this issue. We've dealt with all the ConditionalFacts listed in this issue.

[2016-05-11 00:44] #958 closed

[2016-05-11 04:42] KKhurin commented on #862
We got the numbers for RC1 and RC2 on 24 core client (running against a 24 core server).
Will update as soon as we have the profiles.

[2016-05-11 04:45] KKhurin commented on #861
We got the official numbers for RC2 (comparing to RC1) for 24 core servers. RC2 did not regress comparing to RC1 in HelloWorld over HTTP so we're closing this one.

[2016-05-11 04:45] #861 closed

[2016-05-11 15:49] #1128 closed

[2016-05-11 19:54] KKhurin commented on #862
Got the profiles for Desktop, RC1 and RC3

[2016-05-11 22:58] StephenBonikowsky opened #1146 "Add TOF project for new Scenario\Binding\Tcp project"
Needs to be added in order to run the tests in this new project in TOF.

[2016-05-11 23:01] StephenBonikowsky commented on #507
Seems this is still not supported but I think we can use NetHttpsBinding, we have one test using BasicHttpsBinding.

For NetHttpsBinding we don't have any tests at all.

[2016-05-12 01:17] #1082 closed

[2016-05-12 17:20] roncain opened #1148 "CustomTextMessageEncoder_Http_RequestReply_Streamed hangs on Linux intermittently"
This test times out periodically on Linux.  More importantly, when it does, it has somehow damaged connectivity with the Linux machine. Example: the putty window is non-responsive, ping times out, etc.  The Linux machine requires a reboot to recover.  The msbuild.log file indicates tests continued to execute after the timed-out test, but none of them were able to reach the WCF endpoints after this

[2016-05-12 19:25] roncain opened #1150 "WindowsAuthentication_RoundTrips_Echo test fails cross-windows-machines self-hosted"
The WindowsAuthentication test fails in cross-machine use.   This is a manual Windows-to-Windows Self-hosted cross machine test involving domain-joined machines.  IIS is not involved.  Non-Windows OSes are not involved. It does not occur yet in CI because the ConditionalFact detectors skip these tests.  By setting environment variables, we force them to run.

Repro steps:

1. Start the self-hosted

[2016-05-12 19:51] shmao opened #1151 "TypedProxyTests.ServiceContract_TypedProxy_AsyncBeginEnd_Call Failed"
This test failed for me once. I was running N from K using the ILC built from N branch. I couldn't repro the failure.

[code]

[2016-05-13 02:55] KKhurin opened #1153 "AV in System.ServiceModel.Channels.CoreClrSocketConnection.OnSendAsync"
Another race condition. Looks like the timer is already disposed and nulled out.
Here is the relevant stack:

[code]

[2016-05-13 02:59] KKhurin opened #1154 "More CloseAsync calls with async/sync patterns get stuck synchronously waiting for all requests to complete"
This leads to more thread starvation and periods of low CPU in stress
Here is the relevant call stack:
[code]

[2016-05-13 13:23] atanasa commented on #997
Can you provide a matching build for WCF and Microsoft.NETCore.App? The matching builds that I somehow uncovered give me this error:

**"Server certificate validation not supported yet"**

The stack trace:
[code]

Looking at the code of `AddServerCertMappingOrSetRemoteCertificateValidationCallback` there is indeed such an exception.

The builds that I managed to restore are:

[code]

[2016-05-13 16:49] StephenBonikowsky opened #1157 "Duplex on http not working."
On full framework WCF uses two Request/Reply channel shapes to make Duplex work on Http. The functionality to setup a Request/Reply channel where the Service initiates the Request is missing on the client side.

[2016-05-13 18:21] StephenBonikowsky commented on #1146
Done in TFS.

[2016-05-13 18:21] #1146 closed

[2016-05-13 18:23] StephenBonikowsky commented on #507
Morphing this issue to be for adding test coverage for NetHttpsBinding.

[2016-05-13 19:07] #710 closed

[2016-05-13 19:29] #1148 closed

[2016-05-13 19:31] shmao commented on #1048
I've reorganized all the scenario tests. I tried making same changes for unit tests, but it turned out very few unit tests are really running in Tof right now because lots of unit tests are marked with [Theory] which is not recognized by Tof.

The plan is to make the changes for unit tests later when they can actually run. We can consider to move the issue to 'future' milestone.

[2016-05-13 22:34] khdang commented on #623
I give it a first try and there is this error:

[code]
I'm looking to understand this.

[2016-05-14 07:09] huangjinshe commented on #1157
I think even TCP duplex not finish yet.

[2016-05-16 07:38] zhenlan opened #1166 "Update developer-guide.md with new instructions of outerloop testing"

[2016-05-16 18:24] roncain opened #1168 "PR service and CI PR synching appears mismatched for tests vs WCF services"
PR service and the Jenkins PR syncing scripts for Outerloops appear to use different approaches, sometimes resulting in a situation where the tests that run are not in sync with the WCF services they execute against.

For example, after PR #1103 was merged, no PR submitted after that point would succeed until it was rebased onto master to incorporate changes in #1103, even PR's that had absolutely

[2016-05-16 19:42] roncain commented on #1087
It appears ServiceChannelManager.AddIncomingChannel is now dead code and can be removed.  This is also reflected in areas in LifeTimeManager and ChannelCollection that are either not covered by tests or are now dead code.  Investigate and remove if possible.

[2016-05-16 20:45] KKhurin opened #1169 "System.ObjectDisposedException: The CancellationTokenSource has been disposed."

[2016-05-16 20:48] KKhurin commented on #1169
OS: Ubuntu.
Transport: Http
Test: async HelloWorld
We get the following exception while trying to measure perf on Ubuntu VM:
[code]

[2016-05-16 21:02] KKhurin commented on #1169
This actually reproduces on both sync and async, http Hello and http Streaming.

[2016-05-16 22:55] StephenBonikowsky commented on #956
Updated initial comment with the latest list of failing tests due to this issue. I can confirm that these tests all fail in Helix on the *nix platforms except Debian runs which currently has worse problems.

[2016-05-17 00:24] khdang opened #1170 "Potential issue with channel extensibility"
From https://github.com/dotnet/wcf/issues/623, I've made Custom Message Interceptor test to verify but it seems that it doesn't work with this error:
[code]

[2016-05-17 12:22] roncain commented on #1169
@KKhurin does this happen immediately or after some load is placed on the system? I'm wondering if we can make a standalone repro or a functional test trigger this.

[2016-05-17 14:56] roncain opened #1172 "ConditionalFact detector/installer for certificates should not match on name only"
The ConditionalFact detector/installer for both root and client certificates has a fallback that matches based only on name (IssuedBy and Subject Name) if it cannot install or locate a cert that matches the thumbprint given by the server.  I believe this is a mistake and should be removed.  I think we are matching certs we can not use and end up debugging why, when it would be better to see the te

[2016-05-17 15:01] roncain commented on #956
It is possible we are failing to install the certs on *nix (a likely scenario until we resolve our setup issues on *nix) and may be attempting to use stale certs still on the machines found by name only.  If we could get Console output for Helix, we would know whether we installed, matched by thumbprint, or matched by name.

[2016-05-17 15:23] roncain commented on #1172
Addendum: also consider opportunistically removing old certs during the detect/install phase.

[2016-05-17 16:40] hongdai opened #1173 "NegotiateStream tests failed on VS RC2 Apps(both Console and Web apps)"
We are hitting an AuthenticationException from NCL.

Note that:
1) The tests are passing in RC2 CI.
2) The tests are passing in current CI.
3) A simple App only involves NegotiateStream and using TCPClient and TCP Listener passed.

I can provide a repro app.

Callstack:
Unhandled Exception: System.ServiceModel.Security.SecurityNegotiationException: Found a wrong header field MessageId read : 0, ex

[2016-05-17 17:20] roncain opened #1174 "*nix OuterLoops involving certificates fail to find the CRL during certificate validation"
When running OuterLoop tests on an Ubuntu machine that has been manually setup (against a self-hosted WCF service running on a Windows machine), it appears the certificate ConditionalFact detector/installer has successfully installed the certificates.  But they are considered invalid because the CRL itself cannot be reached during certificate validation.

Possible reasons are a wrong URL for the C

[2016-05-17 18:41] KKhurin commented on #1169
Yes, it happens immediately for streaming over http.
It also happens on HelloWorld over http after ~300-400 seconds into the perf run (we iterate through all possible loads so typically the perf runs are quite lengthy).

[2016-05-17 19:02] KKhurin opened #1175 ""Segmentation fault (core dumped)" after running HelloWorld & NetTcp stress for 10 hours"
I don't have any further details (no core) - will update as soon as I get more...

[2016-05-17 19:50] roncain commented on #1130
The logic is now
1. Call server to get cert
2. Check if cert is already installed with matching thumbprint
3. If not, attempt to install the cert
4. Whether succeed or fail in install, ask for cert in store by thumbprint
5. If fail, lookup cert by IssuedBy and SubjectName
I believe step 5 should be removed and opened #1172 for it
Closing this issue now and using #1172 for finalizing this detection

[2016-05-17 19:50] #1130 closed

[2016-05-17 20:01] roncain commented on #1101
Done.

[2016-05-17 20:01] #1101 closed

[2016-05-17 21:15] zhenlan commented on #1174
@iamjasonp can you please try to run these tests on *nix at least manually before RTM?

[2016-05-17 21:24] zhenlan commented on #1173
@iamjasonp can you please look into this?

[2016-05-17 21:27] zhenlan commented on #1170
@khdang can you please take further look of this to see if these are test issues?

[2016-05-17 21:29] zhenlan commented on #1151
@shmao only saw this once so far. Keep the issue open to see if we see this more often.

[2016-05-17 21:34] zhenlan commented on #1168
@iamjasonp while we can workaround this issue for now (by rebasing other PRs), it will be great if we can fix this sooner.

[2016-05-17 21:41] zhenlan commented on #1157
@StephenBonikowsky can you please update test case names here?

[2016-05-17 21:52] zhenlan commented on #1048
Agree with your proposal. Thanks @shmao.

[2016-05-17 22:02] zhenlan commented on #263
@hongdai let's try to have ad-hoc manual testing of this before RTM.

[2016-05-17 22:15] StephenBonikowsky commented on #1157
New tests...
Scenarios.Client.ChannelLayer.DuplexChannelShapeTests.IDuplexSessionChannel_Https_NetHttpsBinding
Scenarios.Client.ChannelLayer.DuplexChannelShapeTests.IDuplexSessionChannel_Http_BasicHttpBinding

[2016-05-17 22:31] #507 closed

[2016-05-17 22:37] StephenBonikowsky commented on #665
Done

[2016-05-17 22:37] #665 closed

[2016-05-18 00:23] StephenBonikowsky commented on #480
Tests have already been added for ChainTrust.
PeerTrust is currently not supported, @iamjasonp does it have anything to do with MessageSecurity? As far as I have been able to tell the primary difference is that it will look for the cert in "TrustedPeople" store, so should it not work with SecurityMode.Transport?
For PeerOrChainTrust, I am adding a test that should pass based on ChainTrust.

[2016-05-18 00:28] zhenlan opened #1177 "Add security feature coverage for stress/perf testing"
- [x] Client/server certificate auth/validation
- [x] Windows authentication

[2016-05-18 00:48] StephenBonikowsky commented on #480
Update...
PeerOrChainTrust is also throwing a PlatformNotSupported, looking into the code it seems like this could be modified so that if this enum is used we check to see if the ChainTrust path will work and then continue not just throw automatically because it isn't explicitly ChainTrust.

[2016-05-18 01:28] KKhurin commented on #712
Done. We're able to saturate CPU in all scenarios even on 24 core machines now.

[2016-05-18 01:28] #712 closed

[2016-05-18 01:48] #1053 closed

[2016-05-18 16:09] hongdai commented on #1099
This issue will be resolved once the ping service(tracked by issue#1089).

[2016-05-18 16:09] #1099 closed

[2016-05-18 16:09] hongdai commented on #123
The additional coverage needed.

[2016-05-18 16:09] #123 closed

[2016-05-18 16:12] StephenBonikowsky commented on #480
Final Update...
PeerTrust cannot be supported as it depends on a Windows component that no longer exists on Windows 10 and above.

PeerTrust has been obsoleted on the full framework.
Will open a new Issue for this to be obsoleted in .NetCore.

[2016-05-18 16:14] StephenBonikowsky opened #1179 "Obsolete PeerTrust"
PeerTrust depends on a Windows component that no longer exists.
It has been obsoleted on the full framework.
Obsolete this in .NetCore as well.

[2016-05-18 16:17] StephenBonikowsky commented on #1179
Using the "ContractUpdate" label to help find this and all other Issues that will require updates to the public contract.

[2016-05-18 19:54] #1153 closed

[2016-05-18 20:02] KKhurin opened #1180 "WaitForPendingRequestsAsync ends up waiting till timeout expires while there are no outstanding requests left"
I see the following in the debugger:
- we're asynchronously waiting in RequestChannel.WaitForPendingRequestsAsync for either a timeout or _closedTcs to be triggered
- at the same time the count of _outstandingRequests is 0 so we should have completed _closedTcs

In this particular stress test this causes a complete stall as eventually everyone is awaiting for the channel.CloseAsync to finish.

[2016-05-18 20:50] KKhurin commented on #718
#108 is fixed, so we're going to start using both the explicit open and the implicit open tests.

[2016-05-18 20:50] #718 closed

[2016-05-18 21:31] mconnew commented on #1179
Are you confusing PeerTrust with PeerChannel? I couldn't find anything about PeerTrust being deprecated? PeerTrust only relies on the "Trusted People" certificate store and doesn't need any windows components.

[2016-05-18 21:54] zhenlan commented on #374
We've done this work for rc2 already.

[2016-05-18 21:54] #374 closed

[2016-05-18 21:58] zhenlan commented on #666
This will be covered as part of #1166 that I am working on.

[2016-05-18 21:58] #666 closed

[2016-05-18 22:08] zhenlan commented on #1034
This is what was discussed:
- It is preferred that the number of tests that are skipped can be shown as part of test result, which is what [ConditonalFact] can give.
- However, unlike [ActiveIssue], [ConditionalFact] cannot be applied to a test multiple times to indicate different issues on different platforms etc.
- We basically need a new attribute that has the pros of both, but we believe it's

[2016-05-18 22:23] zhenlan commented on #415
Not applicable anymore.

[2016-05-18 22:23] #415 closed

[2016-05-18 22:24] zhenlan commented on #338
Not applicable anymore.

[2016-05-18 22:24] #338 closed

[2016-05-18 22:31] zhenlan commented on #14
This is not supported on UWP due to lack of NegotiateStream support in Networking layer on UWP.

[2016-05-18 22:46] iamjasonp commented on #1173
ACK. @hongdai, can I get the repro app from you please?

[2016-05-18 22:50] StephenBonikowsky commented on #1179
@iamjasonp can you comment?

[2016-05-18 23:33] iamjasonp commented on #1179
I was commenting on PeerChannel when we were talking about this f2f - PeerTrust is still supported as far as I know. I must have misheard when we were chatting earlier.

[2016-05-18 23:38] iamjasonp commented on #1179
That said, I am not sure what level of support we would be providing for this on non-Windows platforms; as for this work item - there's no need to obsolete any PeerTrust-related APIs. However, we need to understand the level of support we're providing today.

[2016-05-19 00:34] iamjasonp commented on #480
Sorry, earlier when we chat I misheard "PeerTrust" as "PeerChannel" so was basing my answers on that. PeerTrust hasn't been deprecated or removed, and should be supported in Windows too.

[2016-05-19 00:36] iamjasonp commented on #1174
I checked this manually but haven't run the tests yet. On first glance, I don't see why this is failing, and I will run the tests manually to check out what's happening.

[2016-05-19 02:27] KKhurin commented on #559
We identified and fixed are numerous bugs in async close path (#1159 is the latest of them).
There are also numerous perf improvements in throughput (as well as in scalability and thread usage) coming up. Both help with the thread pool starvation and the startup time.

The thread pool injection pace is beyond the scope of this bug. Before we continue more thorough investigation we need to establis

[2016-05-19 02:27] #559 closed

[2016-05-19 02:54] KKhurin commented on #734
Added HelloWorldAPM test.

[2016-05-19 02:54] #734 closed

[2016-05-19 08:47] zhenlan commented on #1179
Let's close this one and use #480 to verify the PeerTrust manually.

[2016-05-19 13:24] #1154 closed

[2016-05-19 13:38] #1172 closed

[2016-05-19 16:40] StephenBonikowsky commented on #1179
Closing.

[2016-05-19 16:40] #1179 closed

[2016-05-19 16:45] StephenBonikowsky commented on #480
Ok then.

@zhenlan you mentioned elsewhere manual verifying this, but to be clear we are throwing PlatformNotSupported so it has to be enabled first.

I will use this Issue to get the tests created and open another Issue to enable the feature.

[2016-05-19 16:59] StephenBonikowsky opened #1183 "Enable X509CertificateValidationMode PeerTrust"
Currently X509CertificateValidationMode enums PeerTrust and PeerOrChainTrust throw PlatformNotSupported from System.ServiceModel.Security.X509ServiceCertificateAuthentication.TryGetCertificateValidator

There is no known reason why it shouldn't be supported.

[2016-05-19 18:58] zhenlan commented on #480
According to @StephenBonikowsky the feature won't work even with manual setup, so yes, the plan sounds good to me. Thanks!

[2016-05-19 20:24] #769 closed

[2016-05-20 00:36] khdang commented on #1170
@zhenlan Yes, now it looks like a test issue indeed. Once the PR is merged we can close this issue.

[2016-05-20 00:42] zhenlan commented on #1170
Sounds great. Thanks @khdang.

[2016-05-20 09:16] zhenlan opened #1187 "Validation of WCF RTM packages on UWP"
This is to have a sanity validation of ServiceModel packages from RTM branch (when they are available) with last .NET Native release (VSU2).

[2016-05-20 17:56] blowdart opened #3755 "Port WCF message security to Core"
For full WCF support, and compatibility with Mono, WCF needs to bring in Message Security and the myriad of supporting classes around it.

Message security enables confidentially, integrity and authentication within the message, rather than relying on the transport, thus enabling end-to-end security through message routers and a wider set of authentication mechanisms which are not limited by trans

[2016-05-20 20:16] StephenBonikowsky opened #1192 "Cannot set X509CertificateValidationMode.PeerTrust on http."
I was unable to do this but don't see any reason why it shouldn't be possible.
Investigate and determine...

- [x] Is it possible?
- [x] Is it worth having a test?

[2016-05-20 20:17] StephenBonikowsky commented on #480
Opened Issue  #1192 to investigate this scenario for http.

[2016-05-20 20:23] roncain opened #1193 "Fix flakey ServiceContractTests.BasicHttp_Abort_ChannelFactory_Operations_Active test"
This test fails occasionally in CI, and I suspect it is just flakey due to timing issues.  Task is to make the test have a concrete timeout and to tolerate ObjectDisposedException.  It was also recommended in a prior PR to check task.IsCanceled rather than expect a specific exception.

[2016-05-20 20:29] #1170 closed

[2016-05-20 22:27] StephenBonikowsky commented on #1192
After additional investigation with @mconnew this works...

var binding = new BasicHttpsBinding();
var factory = new ChannelFactory<IVerifyWebSockets>(binding);
factory.Credentials.ServiceCertificate.SslCertificateAuthentication = new X509ServiceCertificateAuthentication();
factory.Credentials.ServiceCertificate.SslCertificateAuthentication.CertificateValidationMode = X509CertificateValidationMode

[2016-05-20 23:04] #480 closed

[2016-05-21 00:44] mconnew commented on #543
I did this a while ago.

[2016-05-21 00:44] #543 closed

[2016-05-21 00:47] mconnew commented on #452
No longer applicable

[2016-05-21 00:47] #452 closed

[2016-05-21 01:00] #1166 closed

[2016-05-21 03:07] huangjinshe commented on #1
I also want to know any news after 1 yeas later?

[2016-05-21 04:06] #1180 closed

[2016-05-21 19:38] umu24013 commented on #1
Actually, it seems to work if you use the latest beta builds. In your project.json just add  "System.ServiceModel.Duplex": "4.0.1-rc3-24110-00" to the "dependencies" section.

[2016-05-22 03:05] huangjinshe commented on #1
@umu24013 That's really a good news. It will be very helpful if the team tell us when it would be release. I hope I could use it in Xamarin for All mobile platform.  :-)

[2016-05-22 12:21] RehanSaeed commented on #76
Is this completed? I noticed a "System.ServiceModel.Web" package but it doesn't seem to work with ASP.NET Core RC2.

[2016-05-23 09:42] fgreinacher opened #1199 "Is this usable from desktop apps?"
Is it possible to use this implementation from a regular desktop app, targeting .NET Framework 4.6?

[2016-05-23 12:42] roncain commented on #76
Hi @RehanSaeed -- sorry, but no new announcements on Syndication. We're still working full out to solidify the current feature set and discussing how to handle packages like Syndication. We understand the need and appreciate your detailed list of required API's in the comments above, but we can't yet promise when or how it might be delivered.  As we make decisions about it, we'll do what we can to

[2016-05-23 12:52] roncain commented on #1
Yes, Duplex should be working in the latest beta builds.  Thanks @umu24013 for pointing it out and @huangjinshe for the ping.  We'd appreciate hearing if it works for you and any issues you discover.  Known issues for the latest RC release are always at https://github.com/dotnet/wcf/releases, and we maintain a table of supported features at https://github.com/dotnet/wcf/blob/master/release-notes/S

[2016-05-23 14:12] RehanSaeed commented on #76
@roncain Totally understand and appreciate your efforts.

Right now, `SyndicationFeed` and `SmtpClient` is the only thing stopping me from using and recommending .Net Core over the full .Net framework. Based on the GitHub and StackOverflow comments I have seen, there are many others in the same boat. My understanding is that one of the Azure clients (Was it DocumentDB?) is also held up due to this

[2016-05-23 15:05] jan-johansson-mr opened #1200 "Server side WCF"
Hi,

I'd like to start a thread to have a dialog about server side WCF on .NET Core. For me the WCF stack is quite impressive, and support for server side WCF on .NET Core would be fantastic. Please feel free to add your opinions to the thread.

Here is a list of some of the WCF features (that comes to my mind):
- Throttling
- Reliability
- Ordered Messages
- Bindings
- Instance Management
- Behav

[2016-05-23 15:07] jan-johansson-mr opened #1201 "Server side WCF"
Hi,

I'd like to start a thread to have a dialog about server side WCF on .NET Core. For me the WCF stack is quite impressive, and support for server side WCF on .NET Core would be fantastic. Please feel free to add your opinions to the thread.

Here is a list of some of the WCF features (that comes to my mind):

- Throttling
- Reliability
- Ordered Messages
- Bindings
- Instance Management
- Beha

[2016-05-23 15:09] jan-johansson-mr opened #1202 "Server side WCF"
Hi,

I'd like to start a thread to have a dialog about server side WCF on .NET Core. For me the WCF stack is quite impressive, and support for server side WCF on .NET Core would be fantastic. Please feel free to add your opinions to the thread.

Here is a list of some of the WCF features (that comes to my mind):

- Throttling
- Reliability
- Ordered Messages
- Bindings
- Instance Management
- Beha

[2016-05-23 15:11] jan-johansson-mr opened #1203 "Server side WCF"
Hi,

I'd like to start a thread to have a dialog about server side WCF on .NET Core. For me the WCF stack is quite impressive, and support for server side WCF on .NET Core would be fantastic. Please feel free to add your opinions to the thread.

Here is a list of some of the WCF features (that comes to my mind):

- Throttling
- Reliability
- Ordered Messages
- Bindings
- Instance Management
- Beha

[2016-05-23 17:39] khdang opened #1204 "Add test coverage for LayerChannel"
From #623, I've added a test to verify that the channel extensibility model works but that doesn't cover LayerChannel. This issue is to track that part.

[2016-05-23 17:41] khdang commented on #623
I've created another issue to track the second part of this issue, adding coverage for LayerChannel, which is not covered by MessageInterceptor scenario yet. I'm closing this issue.

[2016-05-23 17:41] #623 closed

[2016-05-23 18:15] StephenBonikowsky opened #1205 "Server side code should not log to the console."
Some server side code here...
...\wcf\src\System.Private.ServiceModel\tools\IISHostedWcfService\App_code\WcfChannelExtensibilityService.cs
Is logging to the Console, this should be removed.

[2016-05-24 19:54] shmao commented on #1187
RC3 + Update 2 is being blocked by https://github.com/dotnet/corefx/issues/8798.

[2016-05-24 21:19] zhenlan commented on #1203
Close this as it's a dup.

[2016-05-24 21:19] #1203 closed

[2016-05-24 21:19] zhenlan commented on #1202
Close the dup.

[2016-05-24 21:19] #1202 closed

[2016-05-24 21:20] zhenlan commented on #1201
Close the dup.

[2016-05-24 21:20] #1201 closed

[2016-05-24 21:37] zhenlan commented on #1169
@KKhurin is working with @stephentoub on this.

[2016-05-24 21:45] zhenlan commented on #863
We are pooling CancellationTokenSource, so it's kinda expected there are a lot being around, but according to @KKhurin, we have 200K of undisposed CancellationTokenSource.

@KKhurin will run this again see how many we have at this point (after all other fixes went in recently).

[2016-05-24 22:08] StephenBonikowsky commented on #1192
This issue is for adding the http variations of the PeerTrust tests.
The tcp tests were added with PR #1194

[2016-05-24 22:14] stephentoub commented on #1169
This is a very different call stack than what @KKhurin sent me offline; that one doesn't mention cancellation at all.

[2016-05-24 22:37] stephentoub commented on #1169
And I don't understand how this stack trace is happening at all.  Is WCF messing with app switches at all?  This call stack suggests that this line is being hit:
https://github.com/dotnet/coreclr/blob/master/src/mscorlib/src/System/Threading/CancellationTokenSource.cs#L628
but that line is behind an app context switch that should never be true on Linux.  @AlexGhiondea, do you know what's going on

[2016-05-24 23:36] KKhurin opened #1211 "System.ObjectDisposedException: Message is closed."
OS: Ubuntu 14.04 x64
Transport: Http
Test: async Streaming echo
We get the following exception:
[code]

[2016-05-24 23:50] KKhurin commented on #1169
I don't know if we have any app switches but @mconnew would know better.

[2016-05-24 23:52] AlexGhiondea commented on #1169
/cc @AlfredoMS as I think we talked about a very similar issue in the past.

If the test assembly is built such that it is targeting 4.5.2 or below then the switch could come in to play (assuming the host correctly reads the TFM from the assembly and sets it on the AppDomain).

Since we have introduced a way to override `AppContext` switches from the project.json with https://github.com/dotnet/cor

[2016-05-25 00:12] spboyer commented on #35
Is there a working example of aspnet core consuming a wcf service using these libraries? I am not seeing a path to success.  Getting unresolved `System.Private.ServiceModel` unless I add it to the project.json specifically.  Please advise or show a simple console app.

Thanks.

[2016-05-25 01:11] zhenlan commented on #35
@spboyer, yes, due to some packaging issues, you will have to add `System.Private.ServiceModel` package explicitly to the project json if you are using our RC2 release (see known issues in [RC2 release notes](https://github.com/dotnet/wcf/releases/tag/v1.0.0-rc2)). Sorry for this inconvenience. Did you get further or run into other issues after you included `System.Private.ServiceModel`?

[2016-05-25 01:11] AlexGhiondea commented on #1169
I think I know why this is happening. If the app you are running does not have a TFM *and* the host you use does not set a flag requesting the test behavior from AppContext in the absence of a TFM, then you are going to be in compat mode with 4.0 where ALL the compat switches are set to true -- leading to this bug.

Do you know which host is used to run these tests?

Will reply with more info in a

[2016-05-25 02:34] spboyer commented on #35
@zhenlan - creating the proxy via svcutil, creating the Client and then calling a method on the proxy just fails with

[code]

[2016-05-25 03:16] zhenlan commented on #35
The proxy code generated by desktop svcutil tool will not be compatible with .NET Core. For example, the configuration is not supported on .NET Core.

@spboyer - are you using [.NET Core RC2](https://blogs.msdn.microsoft.com/dotnet/2016/05/16/announcing-net-core-rc2/) or on RC1 bits?

[2016-05-25 03:19] spboyer commented on #35
this is RC2 bits.  Which svcutil version should be used, or what method should be used to generate the proxy.

[2016-05-25 03:22] spboyer commented on #35
@zhenlan trying to document this process/approach for other teams. so any guidance would be helpfuld for both of us.

[2016-05-25 04:33] AlexGhiondea commented on #1169
@KKhurin can you point me to how you are running tests?

[2016-05-25 10:53] guybar commented on #1200
Hi,

I too appreciate WCF, and use it a lot.
For me the most important features are:
- Security
- Extensibllity
- Behaviors
- Bindings (Especially TCP.Net)
- Metadata Exchange
- Instance Management
- Reliability

I think this could really be a showstopper for .Net core, if it will not have WCF server side support.

Guy

[2016-05-25 11:33] menaheme commented on #1200
Helllo,

We also use WCF extensively in our applications.
To add to the lists above we also use:
* queued services

Menahem

[2016-05-25 12:24] spboyer commented on #35
Here are all of the current svcutil.exe versions that are on my machine...curious which one if any we are suppose to be using for creating the client proxy for dotnet core.

![svcutil](https://cloud.githubusercontent.com/assets/7681382/15539723/19415a26-2252-11e6-8849-05188f865273.png)

[2016-05-25 13:12] reifnir commented on #1200
WCF applications on Core would be a huge boon.

The only thing I would explicitly like to add to the OP's features are all of the behavior types (not just the ones available in Service Fabric)
- Operation Behaviors
- Service Behaviors
- Contract Behaviors
- Endpoint Behaviors

[2016-05-25 14:33] dotnetchris commented on #1200
Service Bus binding of WCF is absolutely amazing for building push based reactive applications

[2016-05-25 21:06] KKhurin commented on #863
Yep, indeed much better now with the latest fixes to the timeout management logic.

[2016-05-25 21:06] #863 closed

[2016-05-25 21:12] KKhurin opened #1216 "Add stress and perf tests for streaming in/out independent streams of different lengths"
Currently, our roundtrip stream echo test does not expose all possible timings in terms of completing request and response. We need to add a test to send out & receive streams of different lengths to exercise additional dispose/cleanup patterns.

[2016-05-25 21:17] KKhurin commented on #1169
Actually keeping it to myself to provide Alex the call stack repro for now...
The underlying reason for the failure is likely the same as #1211.

[2016-05-25 21:18] iamjasonp commented on #1173
@hongdai and I have verified that this no longer fails with RC3 bits:

* Install the latest dotnet CLI from http://github.com/dotnet/cli
* Reference latest WCF bits from the myget feed at http://dotnet.myget.org
* Create a standalone application and run the test

#1086 fixed the issue seen here, but this was merged after RC2 was forked off

[2016-05-25 21:18] #1173 closed

[2016-05-25 21:19] stephentoub commented on #1169
It may be related, but this particular call stack is disconcerting, and even if it is related, highlights an additional issue: we should not be hitting ThrowObjectDisposedException in InternalRegister in these bits.

[2016-05-25 21:20] KKhurin opened #1217 "Enable ETW Channel events"
This is a tracking bug for the investigations we're doing with CLR folks on reducing the impact of ETW events on perf.

[2016-05-25 21:24] zhenlan commented on #1217
@mconnew do we have an issue opened in corefx so we can track?

[2016-05-25 22:02] #960 closed

[2016-05-25 22:46] StephenBonikowsky opened #1220 "Remove ActiveIssue #833 from tests and verify fixed."
The following tests are attributed with Issue #833

- Binding\Custom\CustomBindingTests.cs\DefaultSettings_Tcp_Binary_Echo_RoundTrips_String
- Client\ExpectedExceptions\ExpectedExceptionTests.cs\TCP_ServiceCertExpired_Throw_MessageSecurityException
- Client\ExpectedExceptions\ExpectedExceptionTests.cs\TCP_ServiceCertRevoked_Throw_MessageSecurityException
- Security\TransportSecurity\Tcp\IdentityTe

[2016-05-25 22:57] StephenBonikowsky opened #1221 "Implement workaround in NETNative for ConditionalFact not being understood."
All tests being attributed with a ConditionalFact will not get run in NETNative as ToF uses a "toy" version of xunit that doesn't understand ConditionalFact, therefore since it doesn't recognize ConditionalFact its as if the test doesn't even have the 'Fact' attribute and ToF doesn't even think it is a test.

Test using an IF/DEF based on if(ToF) to add the 'Fact' attribute. Then the first step in

[2016-05-25 23:17] zhenlan commented on #35
@spboyer - we just published an updated [WCF Connected Service VS extension for VS 2015](https://blogs.msdn.microsoft.com/webdev/2016/05/25/announcing-wcf-connected-service-for-net-core-rc2-and-asp-net-core-rc2/) moments ago. Please use it to generate .NET Core RC2 compatible WCF client proxy.

cc: @mlacouture

[2016-05-26 00:38] spboyer commented on #35
@zhenlan of course.  I did find the way via reading the code in the tests. see - http://tattoocoder.com/asp-net-core-getting-clean-with-soap/

[2016-05-26 01:36] zhenlan commented on #35
Nice blog post @spboyer. Thanks for including the link of WCF Connected Service 😄. We would love to hear your feedback too.

[2016-05-26 02:16] kscelfo commented on #1200
I do consider a full WCF implementation to be a prerequisite for moving to .NET core. Without it, it will remain a variation of the .NET Framework that cannot be utilized behind the firewall of major enterprise applications that employ Service Orientation. The major features I rely on that haven't been mentioned are:

- Net.TCP Binding
- Net.Pipe Binding
- Interception-based Pipeline
- Context
- H

[2016-05-26 04:32] epignosisx opened #1222 "Are there plans to port svcutil.exe to .NET Core?"
Currently there is no way to generate a proxy from a Mac or Linux computer. Are there plans to port SvcUtil.exe to .NET Core?

[2016-05-26 12:51] roncain commented on #1221
Thanks @StephenBonikowsky .  And I think the #if expression should be based on a DefineConstant we put in the ToF wrapper project wcfopen.settings.targets  -- maybe called something like "Pseudo_Xunit" or "ConditionalFact_Unsupported".   That way only the TFS wrapper code would have the constant, not GitHub.

[2016-05-26 15:46] StephenBonikowsky commented on #1221
Yeah, that is exactly what I was going to do. @zhenlan wants me to use the existing FEATURE_NETNATIVE constant that we already define there that we use for the ActiveIssues. I pushed back a little but... maybe you will have better luck 😃

[2016-05-26 15:52] roncain commented on #1221
I'm afraid FEATURE_NETNATIVE would be incorrect.  That value is set for NET Native specific code both in GitHub and in TFS and affects product code.  Our issue is related only to ToF-built test and is not NET Native related.  The code we need to execute conditionally includes tests run under both CoreCLR and NET Native.  We can debate name to call it, but its meaning is "this test is being run by

[2016-05-26 16:33] zhenlan commented on #1222
@epignosisx - yes, this is something we are looking into. Stay tuned.

For now, you can generate proxy in VS 2015 by using [WCF Connected Service](https://blogs.msdn.microsoft.com/webdev/2016/05/25/announcing-wcf-connected-service-for-net-core-rc2-and-asp-net-core-rc2/) and copy the file/project to Mac or Linux.

[2016-05-26 20:17] roncain opened #1224 "Suppress ConditionalFact detectors when not running OuterLoops"
The ConditionalFact detectors are attempting to run when only InnerLoops are run.  And they attempt to contact ServiceUri, which usually fails.  They do this because the Fact discoverer comes before the Trait discoverer, and xunit doesn't know to eliminate the OuterLoop-marked tests until they have already executed their [ConditionalFact].

Task: find a way to return false from all ConditionalFact

[2016-05-26 22:23] zhenlan commented on #1224
@roncain - question only, is this something we can open against buildtools?

[2016-05-26 23:27] StephenBonikowsky commented on #1221
I can confirm that the logic works in "N on K" and "K on K".

Discussed this a little further with @zhenlan and we are leaning towards renaming the existing constant in wcfopen.settings.targets to something more appropriate which we can use for both the ActiveIssue if/defs as well as this new purpose.

[2016-05-27 01:35] shmao commented on #1187
My test UWP app built successfully using the latest RC3 packages (5.2.0-rc3-24126-01) + VS Update 2.

I tried referencing RC3 packages in two different ways,

1)	Add `"Microsoft.NETCore.UniversalWindowsPlatform": "5.2.0-rc3-24126-01"` in project.json.
2)	Add the following packages in project.json,
[code]
In both cases the app built fine in both debug & release mode.

[2016-05-27 01:48] zhenlan commented on #1199
Hi @fgreinacher you can create .NET Core apps that target full .NET Framework, but under the cover, it will still be implementation from full .NET Framework that will be used.

[2016-05-27 03:20] zhenlan commented on #1217
Opened dotnet/corefx#8901

[2016-05-27 09:36] fgreinacher commented on #1199
Thanks @zhenlan - that's what I observed too...

To be more specific - we'd need the ClientBase / ChannelFactory implementations from .NET Core because they set HttpWebRequest.PreAuthenticate to true when using Windows authentication - the desktop implementation does not do it in this case.

We are observing severe performance problems with big payloads (because each HTTP request is sent twice) an

[2016-05-27 12:36] roncain commented on #1224
I don't think we can @zhenlan though one of our oldest requests of buildtools was to allow an entire project to be marked OuterLoop so it would not even compile or be visited by xunit discoverers.  And by the time xunit runs its trait discovers, it's too late -- the ConditionalFact's have run.
I see a couple solutions though.  My preferred would be to alter the list of projects to compile based on

[2016-05-27 15:09] roncain commented on #1221
@StephenBonikowsky -- Please include me in these discussions. Attempting to make a single constant seems wrong to me.  There are 2 orthogonal concepts that deserve separate constants:
1) This test is running against the NET Native version of the product
2) This test is being run by ToF

The fact we can run against NET Native using only ToF is probably what is adding confusion here. But even when w

[2016-05-27 19:08] #1137 closed

[2016-05-27 21:50] mconnew commented on #959
I've removed the Linux and OSX tags as this now works on those platforms. Keeping the bug open as we still can't do custom validation of the server certificate because of lack of support in the UWP HttpClient api.

[2016-05-27 22:10] mconnew commented on #773
@KKhurin, can you verify if this is still a problem. I'm going to assign back to you to close as I believe this is fixed, reassign it back to me if it's not the case.

[2016-05-27 22:13] mconnew commented on #1078
I'm adding the label `feature request` so that if anybody else has interest in this binding, this will be the place for discussion and/or to register interest.

[2016-05-28 00:35] KKhurin commented on #1169
Can't repro on the latest RC3 and CLI host. Closing and will reactivate if we see it again.

[2016-05-28 00:35] #1169 closed

[2016-05-28 02:43] jan-johansson-mr commented on #1200
Thanks for input. The implementation of back-end systems needs a mature communication stack, such as WCF. As you pointed out in the thread, a .NET Core positioned to client side is in my mind taking away the potential of what .NET Core can be.

I'm sure we all can wire basic communication (TCP, HTTP, ...) and then get bogged down into details about message parsing, to get some implementation of ba

[2016-05-28 05:05] KKhurin opened #1230 "Channel.CloseAsync times out in NetHttp DuplexStreaming stress"
After implementing a simple timeout tracker for CloseAsync calls we got a stress failure on NetHttp DuplexStreaming. The current timeout is 50 seconds which should be enough for the stress level we're running in the lab.
This could be a simple timing issue (e.g. if we have less load it will close on time) or it could be a sign of some pending operations. Saved a dump so we can investigate further.

[2016-05-28 05:10] KKhurin commented on #1217
Assigning to Matt to enforce the event ids alignment.

[2016-05-28 05:12] KKhurin commented on #1230
Interestingly, this does not repro easily without the debuggers attached...

[2016-05-28 22:01] zhenlan commented on #959
Thanks @mconnew.

Is there an issue in corefx tracking this?

[2016-05-30 09:06] huangjinshe opened #1231 "How to update to the new version of Microsoft.NETCore.UniversalWindowsPlatform for the use and test current WCF?"
Currently my UWP application project use Microsoft.NETCore.UniversalWindowsPlatform v5.1.0 from Nuget.  I hope someone could tell me which is the new version of .NetCore.UniversalWindowsPlatform which I could replace it?  Thank you.

I search but Microsoft.NETCore.UniversalWindowsPlatform not newest version in Nuget, then I think maybe it change the name, but I don't know which one is it.

[2016-05-30 19:57] zhenlan commented on #1231
Hi @huangjinshe, the v5.1.0 of Microsoft.NETCore.UniversalWindowsPlatform _is_ the latest version and its name is not changed to something else.

The v5.1.0, however, does not contain any updates from WCF. To use the prerelease of WCF packages in UWP, please follow the instructions in the known issues section of the [WCF RC1 release notes](https://github.com/dotnet/wcf/releases/tag/v1.0.0-rc1), wh

[2016-05-31 02:31] huangjinshe commented on #1231
@zhenlan Thank you, but I want to try and use Duplex channel on the UWP.  I think it's available on RC2. as like roncain said :https://github.com/dotnet/wcf/issues/1#issuecomment-220971464

Do you know when it would release a version which supported UWP?

[2016-05-31 04:59] zhenlan commented on #1231
@huangjinshe Duplex feature is available for UWP on RC1 already. Did you get a chance to give it a try or did you run into any issues? The RC2 bits, however, do not work on UWP (as noted in the RC2 release notes).

[2016-05-31 05:03] huangjinshe commented on #1231
Hi @zhenlan I thought it release to RC2, Because I'm new for GitHub,  could you tell me more about using the RC1 version?  could I just go back to Microsoft.NETCore.UniversalWindowsPlatform v5.0 and add `dependencies` to the  `project.json` then I could use it? Or I should download something or replace someting?  Thank you.

[2016-05-31 07:28] zhenlan commented on #1231
@huangjinshe, sure, please update the `project.json` of your UWP project with packages (and versions) listed in the known issues section for UWP in the [RC1 release notes](https://github.com/dotnet/wcf/releases/tag/v1.0.0-rc1) (yes, which include v5.0.0 `Microsoft.NETCore.UniversalWindowsPlatform`). Rebuilding your project in VS will download those packages automatically and then you should be goo

[2016-05-31 08:21] huangjinshe commented on #1231
@zhenlan Thank you. It worked.  but I must go to visual studio setting-->Nuget---> and select "auto download missing package"  and "download package when build"  that two option. and then it will auto download all pre version packages.

It works fine. Only the problem is Looks like this version couldn't use `SecurityMode`(only could use `SecurityMode.None`). I'm using TCP duplex.  So basically it'

[2016-05-31 08:21] #1231 closed

[2016-05-31 09:19] zhenlan opened #1232 "RTM E2E experience sign-off"
Trying out WCF RTM packages in end-to-end customer scenarios including .NET Core Console App and ASP.NET Core App.

[2016-05-31 15:41] #1224 closed

[2016-05-31 16:22] zhenlan opened #1233 "Include outerloop testing in CI by default"
We have been discussing to include outerloop testing in CI by default since that's most PRs doing manually anyway. With PR #1225, we don't even build outerloop tests as part of default building process anymore. I am leaning towards including all outerloop CI jobs by default but this can be discussed.

[2016-05-31 20:30] roncain commented on #1174
The test shown in the description passed for me today running manually on Ubuntu (5/31), but I still see the same failure in Helix runs:
[code]

[2016-05-31 21:09] zhenlan commented on #1233
Triage recommendation: Windows and Ubuntu outerloop

[2016-05-31 21:21] zhenlan commented on #1192
This is done.

[2016-05-31 21:21] #1192 closed

[2016-05-31 21:24] zhenlan commented on #764
Extra ETW fix is going to be tracked by #1217.

[2016-05-31 21:24] #764 closed

[2016-05-31 22:00] KKhurin commented on #714
I still see this on the latest CLI/Corefx builds (@Zhenlan @mconnew @roncain)

[2016-05-31 22:56] hongdai commented on #1204
I have clarified with khdang. This is because the code coverage report still shows no coverage for LayerChannel related classes after this test is checked in. It is not a high priority to investigate missing code coverage unless there is a known missing scenario. I'd suggest we move it to post RTM.

[2016-06-01 00:05] EricaMo commented on #1200
Thanks for all the feedback on WCF Server top features! Keep it coming!

Providing WCF Server support for .NET Core is on the radar.

As you know, our current POR is to provide the WCF client-side libraries in .NET Core to enable UWP/ ASP.NET Core/.NET Core applications to call .NET Framework based WCF Services.

We are very interested to better understand your scenarios where WCF server side func

[2016-06-01 01:35] iamjasonp commented on #1150
@roncain - confirmed as an issue even with a .NET Desktop client hitting the same selfhost endpoint

[2016-06-01 01:50] iamjasonp commented on #1150
Found the issue.

The server side, when selfhosted, is running under the user context. When the WCF client tries to hit the selfhosted service, it does not run under the expected SPN Identity "HOST/machine" - rather it is showing up as the UPN identity "user@domain.com"

I believe this is a known limitation in WCF - since the selfhosted server has no ability to present itself as the "HOST/machine"

[2016-06-01 03:27] mconnew commented on #1150
I opened a bug a while ago in corefx that we need support for this on the client side to be able to do mutual authentication dotnet/corefx#4502 with Kerberos. Setting the UpnEndpointIdentity on the client is a no-op in .Net Core as the api's aren't there to do anything about it. Is the workaround actually working for .Net Core?

[2016-06-01 03:42] StephenBonikowsky commented on #851
I am removing this Issue as the ActiveIssue used to skip these tests and instead adding the ConditionaFact 'Domain_Joined', if/when this is solved the tests will start running.

[2016-06-01 07:00] olilanz commented on #1200
A specific business case I have is that we have an investment management system with several million lines of code for which the server side is currently hosted on premise on MS Windows Servers at about 200 insurance companies and banks world wide. We have about 100+ service types, of which in the largest installations there are 700 to 800 concurrent service instances at play. Our product is drivi

[2016-06-01 14:34] roncain commented on #1193
Fixed

[2016-06-01 14:34] #1193 closed

[2016-06-01 15:00] roncain commented on #1108
Latest results (6/1/16) -- failures are now just these:

[code]
The majority of failures look like this:
[code]
The AmbientCredentials test fails like this:
[code]

[2016-06-01 15:35] roncain commented on #1150
@iamjasonp -- is there a way to start the self-host service differently to get around this issue?

[2016-06-01 16:38] iamjasonp commented on #1150
@mconnew - confirmed your hypothesis.

In .NET Core, specifying the UpnEndpointIdentity does not work around the issue we're seeing with services hosted under a user context - only the system context.

If we start the selfhosted service using psexec, then authentication happens with no problems.

(Aside: this is also required and passes on TCP tests)

[2016-06-01 17:26] StephenBonikowsky opened #1235 "NegotiateStream in Tcp is not supported for UWP."
I found two issues in corefx that might be what fixes this issue, @iamjasonp @mconnew could one of you confirm?

dotnet/corefx#2928
dotnet/corefx#4721

Using this issue as the ActiveIssue for the tests in...
\Scenarios\Security\TransportSecurity\Negotiate\NegotiateStream_Tcp_Tests.cs

[2016-06-01 18:29] roncain commented on #1108
PR #1236 allows all these tests to pass if PSEXEC_PATH is set to point to psexec.exe and let the self-host services run as Local System.

[2016-06-01 18:31] roncain commented on #1150
PR #1236 allows us to use psexec optionally now.  PR feedback welcome 😁

[2016-06-01 18:53] jan-johansson-mr commented on #1200
In my case it is needed for new solutions, where services can be agnostic deployed (Windows, Linux, OSX, cloud) on .NET Core.

[2016-06-01 21:11] #1211 closed

[2016-06-02 00:16] KKhurin commented on #1230
After digging through the code and the debugger session we now suspect it could be the related to #714.

[2016-06-02 01:11] KKhurin commented on #1230
Here are the parameters to repro in stress:
[code]

[2016-06-02 05:57] KKhurin opened #1239 "Unexpected timeouts in Channel.CloseAsync in NetTcp Async Duplex scenario"
Stress caught it after implementing a simple CloseAsync timing tracker.
The tail of the only GC root looks like this:

[code]

[2016-06-02 06:38] niplar commented on #1200
Over the past 6 years, in the solutions I have been involved in (in the .net area), we have always relied on WCF to handle the service layer (behind the firewall & intranet) of the solutions. Nothing out there gives us the same level of flexibility and support for different communication channels like WCF does.

I have been holding back moving to .net core for production environments for the lack

[2016-06-02 08:29] zhenlan commented on #1239
@roncain,  can you take a look to see if you can spot anything?

[2016-06-02 16:55] huangjinshe opened #1240 "TCP Duplex Channel will time out when second time execute proxy class in RC-1"
I'm using  TCP Duplex Channel   on UWP in RC-1 version .
After connect I could execute the proxy method, but Second time a execute again, it will time out.(after wait about 60 second)

for example, first time I create duplex channel, and connect, and execute:

`bool result = Task.Run(() => Service.LoginAsync(AdminNo, Password)).Result;`

if it return false because the password not correct, then I'

[2016-06-02 17:23] hongdai opened #1241 "CustomBinding_Message_Interceptor test shows we can modify communication object while it's in Opened state"
This test is passing in .netcore. However, it fails in Desktop because the test is modifying the communication object when it's already "Opened".

In Desktop, it fails with below exception:
The communication object, System.ServiceModel.Channels.HttpChannelFactory`1[System.ServiceModel.Channels.IRequestChannel], cannot be modified while it is in the Opened state.

at System.ServiceModel.Channels.Co

[2016-06-02 20:23] mjrousos opened #1242 "System.ServiceModel.Http should depend on System.Private.ServiceModel"
If I create a simple netcoreapp1.0 console app and add a dependency on System.ServiceModel.Http/4.1.0-rc2-24027, and then use a type from it (creating a `BasicHttpBinding`, for example), I get the following exception at run-time:

[code]

Adding an explicit dependency on System.Private.ServiceModel in my project.json fixes the issue, but that shouldn't be necessary.

From inspecting the ServiceMod

[2016-06-02 20:23] mjrousos commented on #1242
Repro project.json:

[code]

Repro program.cs

[code]

[2016-06-02 22:04] KKhurin commented on #1175
Not repro on the newest CLI bits.

[2016-06-02 22:04] #1175 closed

[2016-06-02 23:27] StephenBonikowsky commented on #983
UPDATE
Test case is now failing in NetNative because the test is expecting the wrong exception...
Assert.True:Expected 'System.Exception' to be thrown, however 'System.ServiceModel.Security.SecurityNegotiationException' was thrown.

Need to investigate why we are getting two different exceptions on NetNative versus NetCore.

[2016-06-03 00:58] PurnaChandraPanda opened #1243 "Support for WCF tracing in non-windows OS"
Currently - only ETW tracing is supported for WCF client applications. It is well documented how to collect and analyze ETW traces - awesome work. It seems traditional WCF tracing mean <system.diagnostics .. /> is out of the picture now with the evolution of .NET Core. It is OK. As is documented, ETW tracing (logman) can be performed in Windows OS only. Just in case we have challenges for a .NET c

[2016-06-03 09:09] huangjinshe commented on #1240
when second time it send the request, server got the request and return again.  but client just wait until throw exception:

[2016-06-03 09:12] huangjinshe commented on #1240
This is not a BUG,

because the execute method write like that, then that cause problem happening:

`bool result = Service.LoginAsync(AdminNo, Password).Result;`

After change to

`bool result = Task.Run(() => Service.LoginAsync(AdminNo, Password)).Result;`

it fine now.... Sorry for that.

[2016-06-03 09:12] #1240 closed

[2016-06-03 10:09] zhenlan commented on #1242
Thanks @mjrousos for reporting this.

I suppose [this commit](https://github.com/dotnet/wcf/commit/04c9c0e5aea9f40910909fb092ebb7443fe58ad3) has fixed the issue post RC2.
@weshaggard @ericstj, any suggestions what else need to be done?

[2016-06-03 16:33] StephenBonikowsky opened #1244 "Need new ConditionalFact "Is_Manual_Test"."
To clearly distinguish tests that are only expected to pass after some manual work has been done, this Issue should include adding this new ConditionalFact to the tests.

The tests that need this are...
NegotiateStream_Http_Tests.NegotiateStream_Http_With_ExplicitUserNameAndPassword
NegotiateStream_Http_Tests.NegotiateStream_Http_With_ExplicitSpn
NegotiateStream_Http_Tests.NegotiateStream_Http_Wit

[2016-06-03 16:44] hongdai opened #1245 "ProjectK RTM VS experience needs to explicitly include "System.Private.DataContractSerialization" in project.json"
"System.ServiceModel.Http" depends on  "System.Runtime.Serialization.Xml", it should have included
System.Private.DataContractSerialization automatically.

The package restore shows it has included System.Private.DataContractSerialization, but the runtime fails to find it.

[2016-06-03 19:42] zhenlan commented on #1242
@mjrousos - I just give this a try with RC3 packages and `System.Private.ServiceModel` is not a problem any more. (However, there is a problem related to `System.Runtime.Serialization.Xml`, which is tracked by #1245).

Here is how my updated project.json look like.
[code]
and global.json
[code]

[2016-06-03 19:50] zhenlan commented on #1245
This is the exception
[code]
After including `System.Runtime.Serialization.Xml` package in project.json the exception goes away although the app does not use anything directly from S.R.S.Xml. This is updated project.json:
[code]
One possible reason is `System.Private.ServiceModel` is not updated to use `4.1.1-*` version of `System.Runtime.Serialization.Xml` (it is still referencing `4.1.0` version

[2016-06-03 20:33] ericstj commented on #1245
Can you share the lock file as a gist?

[2016-06-03 21:16] zhenlan commented on #1245
Here is it
https://gist.github.com/zhenlan/82a2b8e77b6d3586b5dcb244267980b1

[2016-06-03 21:30] ericstj commented on #1245
Got a repro:
[code]
This is an odd warning but it is highlighting the problem.  S.P.SM is depending on non-existent package versions, nuget is silently finding the closest one, which ends up downgrading other dependencies.

It looks like package base-lining is broken so you're getting invalid package versions written as your dependencies of the System.Private.ServiceModel package.  The dependency

[2016-06-03 21:48] ericstj commented on #1245
OK, found the root cause.  https://github.com/dotnet/wcf/blob/master/pkg/baseline/project.json is not being updated with new versions.  /cc @dagood

[2016-06-03 21:50] iamjasonp commented on #948
Verified manually - NegotiateStream_Tcp_AmbientCredentials passes on CoreCLR, but does not on UWP. On UWP, we are blocked as NegotiateStream is not supported on UWP. See #1235

[2016-06-03 21:50] #948 closed

[2016-06-03 23:19] StephenBonikowsky opened #1248 "HttpsTests.ClientCertificate_EchoString causing server error in NetNative and Helix."
Running in ToF for NetNative, this test is causing the Server to "throw" an error page. This completely messes up the ToF test run report and causes all tests after this one to not run.

[2016-06-03 23:34] StephenBonikowsky opened #1250 "Negative test times-out."
ExpectedExceptionTests.SendTimeout_For_Long_Running_Operation_Throws_TimeoutException

This test times-out for around 6 minutes when running manually on NetNative, possibly other platforms as well.

[2016-06-03 23:44] #1245 closed

[2016-06-04 00:06] mconnew commented on #1217
ETW channel events were disabled in PR #1246 due to issue with EventLog. Once the change in dotnet/coreclr#5477 is available, we can revert the change in PR #1246 and apply the change in PR #1238.

[2016-06-04 00:29] hongdai opened #1252 "Http window authentication ignore explicitly setting SPN"
It's a no OP now. We will need to document it.

[2016-06-04 03:31] iamjasonp commented on #954
Passes on manual verification.

[2016-06-04 03:31] #954 closed

[2016-06-04 03:34] iamjasonp commented on #949
Passes on manual test run in Windows. On OS X and UWP, we require Kerberos creds to have already been set with `kinit user@REALM.DOMAIN.COM`

[2016-06-04 03:34] #949 closed

[2016-06-04 03:35] iamjasonp commented on #983
Thanks @StephenBonikowsky for the investigation!

[2016-06-05 08:06] zhenlan opened #1254 "Enable ETW channel events"
ETW channel events were disabled to reduce impact on performance for RTM release. See comments below from @mconnew for details:

[2016-06-05 08:09] zhenlan commented on #1217
Close out this one for the perf fix and track the post rtm work item to enable ETW channel events in #1254.

[2016-06-05 08:09] #1217 closed

[2016-06-06 08:49] gacostab opened #1255 "ERROR: Could not restore build tools correctly"
I have this issue running the instructions to install the wcf in Ubuntu 12.04.

juan@ubuntu:~/monobuild$ git clone https://github.com/dotnet/wcf.git
Cloning into 'wcf'...
remote: Counting objects: 16613, done.
remote: Compressing objects: 100% (34/34), done.
remote: Total 16613 (delta 16), reused 0 (delta 0), pack-reused 16579
Receiving objects: 100% (16613/16613), 5.94 MiB | 980 KiB/s, done.
Reso

[2016-06-06 09:29] zhenlan commented on #1255
Hi @gacostab - can you please share the content of `/home/juan/monobuild/wcf/init-tools.log`? You may also like to check out [this doc](https://github.com/dotnet/core/blob/265fa210b2326eea227a62d03c78d966133565e2/Documentation/prereqs.md#ubuntu) (not merged yet) to make sure you have all prereq.

[2016-06-06 09:56] gacostab commented on #1255
Running: /home/juan/monobuild/wcf/init-tools.sh

Installing 'https://dotnetcli.blob.core.windows.net/dotnet/preview/Binaries/1.0.0-preview2-002733/dotnet-dev-ubuntu-x64.1.0.0-preview2-002733.tar.gz' to '/home/juan/monobuild/wcf/Tools/dotnetcli/dotnet.tar'

Running: /home/juan/monobuild/wcf/Tools/dotnetcli/dotnet restore "/home/juan/monobuild/wcf/Tools/1.0.25-prerelease-00424-03/project.json" --pac

[2016-06-06 10:47] gacostab commented on #1255
I added the missing packages as required for Ubuntu and try again.
However, the same issue.

juan@ubuntu:~/monobuild/wcf$ sudo ./build.sh
Setting up directories for build
Installing dotnet cli...
Restoring BuildTools version 1.0.25-prerelease-00424-03...
/home/juan/monobuild/wcf/init-tools.sh: line 78: /home/juan/monobuild/wcf/Tools/dotnetcli/dotnet: cannot execute binary file
ERROR: Could not res

[2016-06-06 13:32] roncain commented on #1255
Hi @gacostab -- sorry you're encountering difficulties.  I see you are using Ubuntu 12.04, which is below the min version 14.04 .NET Core describes in its [roadmap](https://github.com/dotnet/core/blob/master/roadmap.md).  Do you have access to an Ubuntu 14.04 machine to try this?  I don't know if it is related to your issue, but we don't currently test on 12.04.

We also don't typically use sudo t

[2016-06-06 14:14] roncain commented on #983
Thanks @StephenBonikowsky .Are we actually getting a different exception? Do we get a different exeption running "K on K?"  It might be that ToF's xunit is being too picky about an exact type match in Assert.Throws.  I'd make sure we are using exactly the exception we expect in Assert.Throws and see if we see a difference between "N on K" vs "K on K".

[2016-06-06 15:26] roncain commented on #1244
It's probably worth discussing the best way to do this. Ideally, these tests "light up" as soon as their required ConditionalFact's are satisfied, but our problem today is that we don't know what they need.  Each test can have different setup requirements, so we wouldn't want them to start executing just by setting Is_Manual_Test true. It might make sense that when I do the prototype to merge Cond

[2016-06-06 15:37] BadriL opened #1256 "Ignoring Server Cert Errors"
We use WCF client to talk to a SOAP server that uses a self-signed cert (name does not match the URL).

[code]

Despite this, I'm getting a security exception. I guess I need to disable the validation at the `HttpClient` level. I could do that using `ServiceManager` but can you please let me know how I can do the same with WCF in .NET core?

[2016-06-06 16:00] roncain commented on #1250
This fails for me in K-on-K too.  I believe I have seen it very rarely in GitHub from time to time.

[2016-06-06 18:03] feinoujc opened #1257 "SecurityBindingElement.CreateUserNameOverTransportBindingElement() not supported."
possibly related to #9 but I wasn't sure so I'm opening this because I wasn't sure what the roadmap was.

I get this error when trying to use the `SecurityBindingElement.CreateUserNameOverTransportBindingElement();` binding element as part of a CustomBinding

(running on OSX with .NET core RC2)

Here is my code

[code]

error:

[code]

[2016-06-06 18:58] mjrousos commented on #1242
Great, thanks @zhenlan!

[2016-06-06 23:24] pranavkm opened #1258 "System.ServiceModel.* packages aren't targeting the right build of CoreFx"
AspNet has a build step that verifies if it's dependencies are referencing the right build of each other. We noticed the ServiceModel packages were using the right special version, but not the right minor \ release version of CoreFx packages. For instance:

[code]

There's a bunch mis-matched versions in each package.

[2016-06-06 23:47] joshfree opened #1259 "Add NuGet serviceable attribute for WCF packages"
https://github.com/dotnet/corefx/issues/9072

tracking issue for WCF repo update

[2016-06-07 00:20] weshaggard commented on #1258
@ericstj do you expect these to be addressed by https://github.com/dotnet/wcf/pull/1251

[2016-06-07 01:14] ericstj commented on #1258
Yes.

[2016-06-07 01:14] ericstj commented on #1258
@pranavkm can you try a newer build?  I checked in a fix over the weekend that should have fixed this.

[2016-06-07 01:27] hongdai opened #1260 "NegotiateStream_Tcp_With_Upn test throw platform not supported exception"
It throws as we currently do not support UpnObjectComparer:Equals in ClaimComparer.cs

#if SUPPORTS_WINDOWSIDENTITY
        private class UpnObjectComparer : IEqualityComparer
        {
            bool IEqualityComparer.Equals(object obj1, object obj2)
            {
                throw ExceptionHelper.PlatformNotSupported();
            }

[2016-06-07 01:54] pranavkm commented on #1258
Will do.

[2016-06-07 02:08] zhenlan commented on #578
@iamjasonp - please remove activeissue from this test.

[2016-06-07 05:46] hongdai opened #1262 "All TCP ExplicitUserNameAndPassword tests are failing"
They are failing because of  https://github.com/dotnet/corefx/issues/9160.

[2016-06-07 14:36] roncain opened #1265 "Create ConditionalFact for NegotiateStream tests requiring setup"
These tests will not pass unless manual setup has been done:
[code]

We previously used #851 as an ActiveIssue to suppress these, but we really need a ConditionalFact that can conditionally run these when appropriate setup has been done.  When creating this ConditionalFact, consider ways for the Console output and/or attributes on the test that describe what setup is required.

[2016-06-07 14:36] #578 closed

[2016-06-07 15:21] Suriman commented on #1200
Hi,

For us the most important features are:

* Behaviors.
* Bindings.
* Transactions.
* Headers.
* Self-hosting.
* Integration with WF.
* Queued Services.
* MEX.
* Binary Serialization (intranet communications).
* Callback operations.

Responding to Erica:
1) Yes, at least it is delaying.
2) Yes, we are migrating our application that also uses WF.
3)  For both scenarios.

Thanks!

[2016-06-07 16:41] pranavkm commented on #1258
This is fixed in 24206-00.

[2016-06-07 16:41] #1258 closed

[2016-06-07 17:00] hongdai opened #1266 "NetTcp_SecModeTrans_ClientCredTypeNone_ServerCertValModePeerTrust_EchoString failed on Desktop as well"
Need to investigate if the test is valid.

[2016-06-07 17:50] ericstj commented on #1258
Thanks for confirming!

[2016-06-07 21:30] zhenlan commented on #1265
We will figure out the exact conditions that are required for above mentioned tests to pass (or the actual product bug for activeissue).

[2016-06-07 21:48] iamjasonp commented on #1257
Thanks for reporting this, @feinoujc!

As we're focusing on wrapping up the 1.0.0-rtm milestone, we won't look at what's involved in turning this on yet for the moment, but we'll keep it in our backlog - once we think about how this fits into the overall roadmap, we'll report back.

[2016-06-07 21:57] #1242 closed

[2016-06-08 00:00] joshfree commented on #1259
https://github.com/dotnet/wcf/pull/1264

[2016-06-08 00:01] joshfree commented on #1259
@ericstj I'll let you verify and close this issue

[2016-06-08 00:51] joshfree opened #1268 "Update CoreFX dependencies to rc3-24206-00"
As part of testing, WCF should update /release/1.0.0 to the latest packages available

It looks like this isn't automated yet, and the last manual update was 2 weeks ago https://github.com/dotnet/wcf/pull/1214

[2016-06-08 00:53] joshfree commented on #1268
Also the corefx build that WCF is referencing is 3+ weeks old

[2016-06-08 02:44] zhenlan commented on #1268
@StephenBonikowsky - can you please make this change?

[2016-06-08 04:59] zhenlan commented on #10
With [this](https://github.com/dotnet/wcf/commit/4a9fe667bbe2eeb035306378bb9c3b09ba22db60), this should only be an issue for UWP.

[2016-06-08 12:15] Ravenheart opened #1269 "Stackoverflow with certain WSDL"
https://gist.github.com/Ravenheart/128eaee4a3937a313377102023bcdcb1

The above WSDL will cause the tool generating the C# client class to crash with a stackoverflow exception, the WSDL supports querying for data with the possibility of an endlessly deep WHERE clause which in turn the tool can't process and hence the stackoverflow exception.

[2016-06-08 12:28] roncain commented on #1269
Thanks for reporting this @Ravenheart.  Was the tool you were using to create the C# client the [WCF Connected Services in VS](https://blogs.msdn.microsoft.com/webdev/2016/05/25/announcing-wcf-connected-service-for-net-core-rc2-and-asp-net-core-rc2/)?  Were you able to process this same WSDL successfully using other tools previously (like SvcUtil or Add Service Reference in VS)?

/cc @mlacouture @

[2016-06-08 13:59] roncain commented on #1248
This same test has been regularly failing in Helix for sometime with this:
[code]

[2016-06-08 15:01] roncain opened #1270 "Multiple TCP tests fail in Helix against all flavors of *nix"
All of these tests have been failing in Helix for some weeks now (probably ever since an ActiveIssue was removed replaced by a ConditionalFact). The server is self-hosted.  The clients are all flavors of *nix.

[code]

Failure for all appears to be:
[code]

[2016-06-08 15:09] roncain commented on #1174
I see these failures in every nightly Helix run of *nix flavors.  Incidentally, the affected tests are:
[code]

[2016-06-08 15:09] roncain commented on #1270
Closing -- dupe of #1174

[2016-06-08 15:10] #1270 closed

[2016-06-08 15:22] roncain opened #1271 "Make Self-Host service run as Local System for nightly runs and PR's"
Our nightly-build Self-Hosted services is being run as the local user, not Local System.  Cross-machine testing has verified this causes problems with some authentication tests.

Proposed solution is:
1. Install PsExec.exe on the nightly build machine (and add to setup instructions for future reference)
2. Set the environment variable PSEXEC_PATH to the folder containing PsExec.exe

When this is d

[2016-06-08 17:25] Ravenheart commented on #1269
I've only used svcutil and the classic services one (wsdl.exe I believe), but I was able to generate proxy client classes i other languages with their respective tooling (java and php).

[2016-06-08 17:54] ericstj commented on #1259
Verified in -24208-00.

[2016-06-08 17:54] #1259 closed

[2016-06-08 19:06] Ravenheart commented on #1269
Tried the new WCF Connected Services, same error:

[code]

[2016-06-08 20:59] StephenBonikowsky commented on #1268
Opened PR #1272

[2016-06-08 22:34] StephenBonikowsky commented on #1268
Merged PR #1272

[2016-06-08 22:34] #1268 closed

[2016-06-08 22:54] iamjasonp commented on #1174
Very interesting - this is not reproing for me when I'm trying these out.

[2016-06-08 22:55] iamjasonp commented on #1150
Merged, so closing this issue.

[2016-06-08 22:55] #1150 closed

[2016-06-08 23:12] iamjasonp commented on #955
Looks like when making the above comment, I clicked "comment" rather than "close and comment". Closing this since #946 adequately tracks this issue

[2016-06-08 23:12] #955 closed

[2016-06-09 04:08] zhenlan commented on #862
This is fixed as part of #1217.

[2016-06-09 04:08] #862 closed

[2016-06-09 04:30] KKhurin commented on #814
Done!

[2016-06-09 04:30] #814 closed

[2016-06-09 05:35] iamjasonp commented on #10
This is a little bit more nuanced:

* **On UWP,** the class can not be constructed

* On other platforms, UpnEndpointIdentity can be constructed, and:
  * In HTTP scenarios, the UPN is not passed on due to dotnet/ corefx#4502
  * In Windows TCP scenarios, the credential will be passed along on supported platforms.
  * In non-Windows TCP scenarios, #946, #1262 prevents cases from working at the mom

[2016-06-09 08:28] iamjasonp commented on #952
So this looks like a likely issue between how we use cURL and how it's handled on OS X. I'm still investigating this and will know the results shortly

[2016-06-09 12:09] Ravenheart opened #1274 "Incorrect generated client, two-dimensional array generated in place of list (WCF Connected Services)"
Hacked WSDL: https://gist.github.com/Ravenheart/dc92c2023d3536798aca3e721f5a85ae

In relation to https://github.com/dotnet/wcf/issues/1269 I've had some help from the company that made the service and they created a special version that doesn't have endless recursion possible. Now this new version is added successfully to a sample project BUT the actual generated code throws a runtime exception.

[2016-06-09 13:43] roncain commented on #1150
For the record, #1271 has been opened to make the self-hosted service use PsExec to allow these tests to pass.  We probably also need a ConditionalFact to run when we detect this has been done.

[2016-06-09 13:47] roncain commented on #1174
@iamjasonp -- how are you starting the self-hosted service when you test?  Using PsExec?  And are you following the manual setup guide?  I still have issues following the setup steps as documented

[2016-06-09 14:11] websitewill commented on #1200
I have done a lot of projects that leverage the many aspects of WCF. Most of what I leverage in WCF (pretty much everything) is currently missing from .NET Core. Much of this missing capability  would require various 3rd party libraries (or extensive custom code) to fill in the gaps and it's just not worth that level of investment when WCF already works, brilliantly. WCF is, above all else, a grea

[2016-06-09 14:27] kscelfo commented on #1200
I agree with @websitewill as I am in that exact situation. I'd also like to point out that WCF in the full .NET Framework is done, finished, complete. If that spec were implemented to the letter in .NET Core I'd be very content and would be able to start transitioning projects.

Thanks,
Kenny

[2016-06-09 14:41] roncain opened #1275 "Eliminate NegotiateStreamTestConfiguration test helper"
The NegotiateStream tests rely on a NegotiateStreamTestConfiguration, a test helper class that captures several test parameters necessary for the tests.  But it only redirects to TestProperties, duplicates TestProperties names and makes it look like there are 2 different ways to configure tests.

The goal of this issue is to make the tests that require these test parameters directly use their equi

[2016-06-09 14:44] tpkurilla commented on #1200
I have to throw my support for WCF in .NET Core as well.

My primary client is a fairly large, heterogeneous WAN with intermittent connectivity.

I have dreamed for years of having WCF across their entire network so that I can finally (!) have reliable transactions and durable services spanning their various generations of Linux and Windows.

The thought of bringing all of WCF's many capabilities

[2016-06-09 15:25] spboyer commented on #35
@zhenlan the Connected service is great! I noticed that the `GeneratedCodeAttribute` is `dotnet-svcutil` does that mean that there is a xplat dotnet command `svcutil`? I dont see it on any of the nuget feeds.  Would love to be able to use/demo this on *nix

So on OSX using it from bash `$ dotnet svcutil <url>`

`[System.CodeDom.Compiler.GeneratedCodeAttribute("dotnet-svcutil", "0.2.0.0"`

[2016-06-09 15:50] hongdai commented on #1248
Fixed by unlocking SSL section from the root in Helix lab server.

[2016-06-09 16:15] iamjasonp commented on #1150
The whole UPN Identity support story is a bit convoluted and nuanced - I'm using #10 to keep track of the issue(s) around this.

[2016-06-09 16:30] paulharker commented on #1200
Let me also mention the value of WCF in .NET core.

WCF gives the best capabailities across all my services. (Perhaps we need a sexier name for it) but in general, I use and wish to continue to use:

- **System.Transactions**
- **Durable services**
- **Named pipes**
- **An extensibility model**
- **Transactional Queuing**
- **MEX framework (and MEX endpoint)**

And when we can run these services o

[2016-06-09 16:50] zhenlan commented on #35
Thanks @spboyer. Yes, a xplat svcutil is on our radar, but it is not yet ready for a standalone release. It is currently only available as part of WCF Connected Service VS extension.

Thank you for the feedback!

[2016-06-09 17:57] escherrer commented on #1200
Having WCF on .Net core is not only desirable, it is essential. At it's current state WCF is THE most universal and mature framework to communicate between devices, and within devices using Named Pipes. Over the wire, it adheres to common standards allowing other platforms to communicate as well. But with WCF running in .Net core, the choice will be easy to make.

[2016-06-09 18:23] holthopkins commented on #1200
We have a strong need to run .NET/WCF on Linux, so please add this to the road map!  We have invested heavily in WCF over the past decade and would hate to give up all the WCF benefits others have listed so well just because this was passed over by .NET Core.  We use most features and benefit greatly from being able to customize/extend the framework to suit our needs, such as custom message broker

[2016-06-09 19:21] zhenlan commented on #1111
@hongdai @roncain It's my understanding this is a test bug instead of a product bug. Please chime in if this is not the case.

[2016-06-09 19:24] zhenlan commented on #566
Change to a test bug

[2016-06-09 19:31] roncain commented on #1111
@Zhenlan and @hongdai -- yes, this is probably only a test bug.  Right now, the ConditionalFact for Basic_Authentication_Available is true only for self-host, so this is skipped in CI runs using IIS.  I believe we are waiting for Hong to tell me how to write a ConditionalFact that will allow it to work against IIS now that the security folder PR is in.  Example: does the Util service need and endp

[2016-06-09 19:31] zhenlan commented on #832
This is a dup of #1235. Closing this out. @StephenBonikowsky please let me know if you want to keep this opened.

[2016-06-09 19:31] #832 closed

[2016-06-09 20:39] hongdai commented on #1262
Tests failed:
NegotiateStream_Tcp_Tests.NegotiateStream_Tcp_With_ExplicitUserNameAndPassword failed.
NegotiateStream_Tcp_Tests.NegotiateStream_Tcp_With_ExplicitUserNameAndPassword_With_Spn failed.
NegotiateStream_Tcp_Tests.NegotiateStream_Tcp_With_ExplicitUserNameAndPassword_With_Upn failed.

The client will throw below exception from NCL:
System.Net.Security.dll!System.Net.Security.NegoState.Thro

[2016-06-09 21:45] mjpandian commented on #1200
Having WCF supported in .NET Core is a great idea and my list of key features are:

Security
Behaviors
Bindings
Instance Management
Throttling
Metadata Exchange.

[2016-06-10 00:24] billyweisberg commented on #1200
Our team used WCF to build an entire SOA platform. Each service is hosted in it's own app domain that provides complete isolation for every service. This allowed us to monitor resources, per service, and unload a service and swap it out with the app hot. I know app domains are gone, but what could possibly replace wcf?

Service Bus + Net Messaging Binding
Net Pipe binding
strongly typed headers an

[2016-06-10 00:41] websitewill commented on #1200
I'm curious. From what I understand, Azure itself is written, in large part,  usIng WCF (or at least something that provides all the capabilities of WCF) behind the firewall. That being the case, why would it be excluded from .NET Core in the first place?

Seems odd to exclude such a powerful and foundational toolset.

Sent from my iPhone

[2016-06-10 01:10] iamjasonp commented on #952
The difference is the default cURL version that is installed on the system. On Ubuntu, the cURL version installed relies on the OpenSSL root certificate bundle; on OS X, the default installed version relies on SecureTransport, which gets its root certificates from the OS keychain.

We currently don't have setup/teardown that supports writing to the OSX system keychain yet, but we do know how to in

[2016-06-10 01:54] mconnew commented on #1157
Scenarios.Client.ChannelLayer.DuplexChannelShapeTests.IDuplexSessionChannel_Http_BasicHttpBinding is working once I take the active issue off. Scenarios.Client.ChannelLayer.DuplexChannelShapeTests.IDuplexSessionChannel_Https_NetHttpsBinding is failing because it's service is configured to not use WebSockets. When I set it to use WebSockets, some other tests start failing so we have a conflict of u

[2016-06-10 07:59] vercruysb commented on #1200
Another use case could be, using WCF on a gateway like device for example in home automation using linux based controllers with an ARM CPU and 512MB memory is not that uncommon. Being able to use .NET core on those types of devices and using WCF to allow creating a SOA like programming model, making use of named pipes and allowing to move around context and create reliable communication could crea

[2016-06-10 13:43] davojc commented on #1200
We have quants writing server side code in Mono (they need cross platform) who were almost jumping up and down in glee with the introduction of .Net Core ... until I told them that it wouldn't support AppDomains, which they currently rely on heavily.

The look on their faces was one of despair. I have showed them a viable alternative using WCF and named pipes (to give them the isolation they desir

[2016-06-10 15:28] joychak commented on #1200
My company (one of the largest financial product company) has huge investment in Linux/Ubuntu. The windows infrastructure is relatively tiny but has tons of WCF services running for business critical applications. Running WCF on .NET Core running in Linux environment is a huge benefit from integrating with other (non-windows) services and platform consolidation point of view.

[2016-06-10 16:05] zhenlan opened #1280 "RTM release notes"
- [x] tag 1.0.0 branch and add release notes
- [x] update release-notes/system.servicemodel.*.md

[2016-06-10 16:09] zhenlan opened #1281 "RTM WCF supported features table"
create `release-notes/SupportedFeatures-v1.0.0.md`

[2016-06-10 16:09] roncain commented on #1200
Thank you -- this is really great feedback and much appreciated.  We hear you and are collating this feedback as well as reaching out to other known WCF customers.  Especially useful are the specific features called out (e.g. queuing, transaction, etc.) because it allows us to prioritize and do targeted investigations.

For the record, the "missing" features of the full .NET framework's WCF were n

[2016-06-10 17:29] SergeyZa commented on #1200
1.      Named pipes
2.      System.Transactions
3.      A transactional queuing programming model
4.      Durable services
5.       Extensibility model
6.       MEX endpoint and MEX framework

[2016-06-10 22:41] iamjasonp commented on #956
These tests pass when manually run on OS X and certificates installed. This is not a bug, but a test issue, which is manifesting itself when certs aren't properly installed on the target machine.

[code]

Once we fix #1102, this issue should be dealt with. Because they're still likely going to be failing in Helix, I will move this issue out to the next milestone and mark this a test bug (rather th

[2016-06-11 22:22] madmunsterdaddy commented on #76
This should really be in its own library anyways and not tied to WCF. As was mentioned earlier, it's such a common requirement and one can assume many ASP.NET MVC users are going to be using this.

[2016-06-13 13:59] roncain commented on #956
Thanks @iamjasonp . Question: how did you install the certs on OS X?  Did you use BridgeCertificateInstaller?  It is my understanding @mconnew updated this exe, so except for renaming the .exe and .sh, I think #1102 is done.  It would be good to know whether this exe was sufficient to make these tests pass on OS X.

Incidentally, these same tests are failing for all *nix platforms on Helix as well

[2016-06-13 14:23] willblackie commented on #1200
+1 please provide a way for me to build on WCF and host on linux

Having moved away from windows (an subsequently WCF) here are the things I miss the most and would love to have back.

#1 bindings > named pipes in particular, then tcp
#2 security > though i understand this will be difficult without a windows domain
#3 extensibility model > I like a number of others out there have done a decent amo

[2016-06-13 14:34] roncain opened #1283 "Provide way for ConditionalFact to detect when services are running in machine context"
To allow some of the authentication tests to pass when self-hosted and cross-machine, it is necessary for the self-hosted services to be started as Local System (done using PsExec.exe).

We need a way for a ConditionalFact to know when the services are running in the machine context so that it can condition its tests.  When this issue has been fixed, add the new ConditionalFact to the tests that f

[2016-06-13 15:06] roncain opened #1284 "Provide hook for tests to know server's SPN name"
Right now, SPN tests require user to manually provide the SPN for the server.  We need a test hook so the test can ask the server for its SPN so this can be automated.

[2016-06-13 20:46] oldkord commented on #1200
All the bindings
Security
extensibility
Mex

I just agree with whatever one else is saying.

WCF is amazing

Rework the config to leverage the new config system. Json config > xml

[2016-06-13 22:20] iamjasonp commented on #956
On OS X, I had to install the certs into the keychain manually. The reason we have to manually install this is because the default installation of cURL is different - as explained in [in this thread](https://github.com/dotnet/wcf/issues/952#issuecomment-225070292).

I will work on automating this for different OSes. Unfortunately for now, this script only is known to work well for Ubuntu - other d

[2016-06-14 01:21] iamjasonp opened #1287 "PRService needs to fetch branches before checking for whitelist"
For security purposes, the PRService checks the valid branches when a branch is passed in via command line.

When a new branch is created, however, the PRService tries to compare the query string input to valid branches but hasn't fetched all remotes yet. This leads to otherwise valid requests failing because the new branch isn't being whitelisted properly.

The PRService should do a fetch of remo

[2016-06-14 01:22] iamjasonp commented on #1287
NOTE: We have deployed a workaround right now to the PRService to get our RTM CI queues working.

[2016-06-14 12:53] roncain commented on #1283
Repro steps:
1. Set these environment variables on machine A (where tests will run)
[code]
2. On MachineB, start the self-hosted WCF services
3. On MachineA, clean all and run all OuterLoops

Failing tests:
[code]

Repro steps to succeed:
- Repeat the steps, but before starting MachineB's self-hosted services, set the environment variable PSEXEC_PATH to be the absolute folder name where psexec.exe

[2016-06-14 13:42] roncain commented on #1239
I investigated and am inclined to close this or allow @KKhurin to update the stress test as described below.

The stress tests for this sets its own timer at 50 seconds and the CloseTimeout for 60 seconds when it does a close async of the channel factory (under high loads).  If the 50 second time fires first, it declares an issue and breaks to the debugger.  But examining the DMP files indicated n

[2016-06-14 15:02] roncain opened #1290 "Provide better way to re-generate root cert or report expiration on CI machines"
When the root cert expires on the CI machine, there is no outward appearance of failure.  The ConditionalFact that tries to install the root cert fails (NullRefException in Util.GetRootCert).  Subsequently, all cert-based tests are SKIPPED, and the CI jobs report PASS.

I recommend we find a better way for the CI machines to detect and regenerate the required certificates.  And at the very least,

[2016-06-14 15:38] roncain opened #1291 "Create scenario test to validate WCF services are correctly setup"
We need an infrastructure-level verification test that validates the client is using a WCF server machine that has been correctly setup.  It should Assert basic tests that later ConditionalFact's will test.

Examples:
- Can the PingService be pinged?
- Can the WCF service supply a root and client certificate?

This issue can also serve as a discussion item to understand what other setup validation

[2016-06-14 17:40] zhenlan opened #1293 "OuterLoop CI on Windows in release/1.0.0 branch is failing"
These are failed tests

[code]

[2016-06-14 18:37] scotthurlbert commented on #1200
I do a lot of work on the IoT.  It would greatly facilitate creating cross platform systems if my lightweight WCF services could be hosted anywhere that .NET core could be hosted.  As you can imagine, in IoT (and other systems) discovery is important so MEX and an extensible model.  The ability to debug locally and to support named pipes between services is valuable.  Really, in a nut shell as muc

[2016-06-14 19:55] roncain commented on #1291
PR #1292 is open to address this initial issue.

[2016-06-14 20:01] roncain commented on #1283
Note: this is related to #1271 which asks to run the self-hosted service by default in the machine context.

[2016-06-14 20:02] roncain commented on #1265
This issue will be fixed when PR #1286 is merged.

[2016-06-14 20:35] StephenBonikowsky opened #1295 "A libcurl built with OpenSSL is required."
Test cases that fail...

HttpsTests.ClientCertificate_EchoString
HttpsTests.ServerCertificateValidation_EchoString

Error...

Stacktrace
MESSAGE:
System.PlatformNotSupportedException : The libcurl library in use (7.29.0) and its SSL backend ("NSS/3.15.4") do not support custom handling of certificates. A libcurl built with OpenSSL is required.
+++++++++++++++++++
STACK TRACE:
at System.Net.Http.Cu

[2016-06-14 20:44] hongdai opened #1296 "A libcurl built with OpenSSL is required on OSX to test client certificate tests"
Currently the following tests failed:
HttpsTests.ClientCertificate_EchoString
HttpsTests.ServerCertificateValidation_EchoString

**System.PlatformNotSupportedException: The libcurl library in use (7.43.0) and its SSL backend ("SecureTransport") do not support custom handling of certificates. A libcurl built with OpenSSL is required.**

We need to figure out a way to meet this setup requirement man

[2016-06-14 20:46] StephenBonikowsky commented on #1295
These tests only fail for this reason on CentOS and OSX. The Conditional ActiveIssue does not have a CentOS PlatformID, so will use the "AnyUnix" option as it is necessary to have clean CI runs.

[2016-06-14 20:49] roncain commented on #1241
Deeper investigation is required, but this test needs to be rewritten first.  It is not doing what it claims to do and not verifying that what it thinks it is doing, in fact, happened.  I recommend making a test-double of the message interceptor to verify it is being called as well as ensuring a modified message round-trips.

[2016-06-14 20:56] StephenBonikowsky commented on #1295
Test case HttpsTests.ClientCertificate_EchoString also fails on Ubuntu with a slightly different message but it might be related...

Stacktrace
MESSAGE:
System.ServiceModel.CommunicationException : An error occurred while sending the request.\n---- System.Net.Http.HttpRequestException : An error occurred while sending the request.\n-------- System.Net.Http.CurlException : SSL peer certificate or S

[2016-06-14 21:13] zhenlan commented on #1296
This is a dup of #1295

[2016-06-14 21:13] #1296 closed

[2016-06-14 21:31] zhenlan commented on #1290
We can have a scheduled task to regenerate certificate once a while.

[2016-06-14 21:42] zhenlan commented on #1271
For CI, because we run selfhosted service and tests on the same windows machine, this is not a problem.

For nightly lab run, we can enable this when we start the selfhosted service after we enable windows authentifcation on the server.

[2016-06-14 22:33] shmao commented on #1187
I just verified the latest build (version *-24214). My test app built successfully in both debug and release modes. I tried referencing RC3 packages in two different ways,
1) Referencing the 5.2.0 `Microsoft.NETCore.UniversalWindowsPlatform` package.
[code]
2) Referencing the 5.1.0  `Microsoft.NETCore.UniversalWindowsPlatform` package and the RC3 WCF packages.
[code]

Closing the issue.

[2016-06-14 22:33] #1187 closed

[2016-06-14 22:39] StephenBonikowsky opened #1297 "System.Net.Http.CurlException : SSL peer certificate or SSH remote key was not OK"
Test case...

HttpsTests.ClientCertificate_EchoString

Fails on Ubuntu only with the following exception... (CI runs)

Stacktrace
 MESSAGE:
 System.ServiceModel.CommunicationException : An error occurred while sending the request.\n---- System.Net.Http.HttpRequestException : An error occurred while sending the request.\n-------- System.Net.Http.CurlException : SSL peer certificate or SSH remote ke

[2016-06-14 23:34] StephenBonikowsky opened #1298 "Move test case out of 4.0.0 file."
Test case "DuplexChannelShapeTests.IRequestChannel_Https_NetHttpsBinding" was incorrectly added to  ...Private.ServiceModel/tests/Scenarios/Client/ChannelLayer/DuplexChannelShapeTests.4.0.0.cs

It needs to be moved to "...System.Private.ServiceModel\tests\Scenarios\Client\ChannelLayer\DuplexChannelShapeTests.cs"

The test uses a new API that was added as mentioned in #507 so it cannot work on 4.0.

[2016-06-14 23:41] #1221 closed

[2016-06-15 00:01] #1287 closed

[2016-06-15 03:01] zhenlan commented on #1298
@StephenBonikowsky - please go ahead and move this test.

[2016-06-15 10:59] evelix commented on #1200
Messaging between services is important and when doing enterprise backends, REST is not going to work. It lacks too many things like others have mentioned. So certainly Transactions, Queues Messaging, Named Pipes, Extensibility should be supported by .Net Core

So .NET Core has to provide those things in one way or another. If it is called WCF I don't care. Maybe it would be the opportunity to fix

[2016-06-15 11:33] huangjinshe opened #1299 "Is there any new version for Release ?"
Currently I'm using RC1.

But for this, we must use .Net core 5.0.  Also there are other dependencies limitation on it.

It will cause some `System.Reflection.MissingMetadataException` on UWP(Xamarin).

My project need to release now. But I really hope you guys could give us a new stable version.  Or tell us date of the next release.  Thank you.

[2016-06-15 15:54] #1265 closed

[2016-06-15 15:54] #1275 closed

[2016-06-15 16:03] zhenlan commented on #1299
Hi @huangjinshe - as [announced in dotnetConf](https://blogs.msdn.microsoft.com/dotnet/2016/06/09/thank-you-for-watching-dotnetconf-2016/), .NET Core will be released on Jun 27th.

[2016-06-15 16:10] StephenBonikowsky commented on #1298
After looking at this more carefully the test uses the RequestReply channel shape so it should be moved into the RequestReplyChannelShapeTests class and not the DuplexChannelShapeTests class.

[2016-06-15 16:27] huangjinshe commented on #1299
@zhenlan Is the new version stable wcf include in it?  Thank you.

[2016-06-15 16:51] zhenlan commented on #1299
Yes, stable version of WCF packages will be part of the .NET Core release on Jun 27th.

You can actually give it a try if you add `https://dotnet.myget.org/F/dotnet-core` to your NuGet feed and reference packages like what @shmao listed in his [comment](https://github.com/dotnet/wcf/issues/1187#issuecomment-226036484) in #1187.

Thank you for any feedback @huangjinshe.

[2016-06-15 17:14] cumulusd commented on #1200
WCF is still one of the best parts of the .NET Framework and having become part of .NET Core is essential.

Some particular aspects are:
1.      Named pipes
2.      System.Transactions
3.      A transactional queuing programming model
4.      Durable services
5.       Extensibility model
6.       MEX endpoint and MEX framework

[2016-06-15 18:10] KKhurin commented on #1239
Thanks @roncain for taking a look.
I'll get the bug back to me for the next round of experiments.

[2016-06-15 18:19] dotnetchris commented on #1200
@evelix +1 at making ___CF have a simple convention over configuration baseline.

[2016-06-15 20:01] wi937c-amr commented on #1200
WCF has been instrumental in delivering quality services that scale and deliver reliability by leveraging transactions across the wire (System.Transactions).  With out support of WCF on .NET Core we would lose many of the "Free" benefits we get thru the extensive WCF interceptor chain, including logging, behaviors, and context flow.

[2016-06-15 20:11] huangjinshe commented on #1299
@zhenlan Ok. and Thank you very much.

[2016-06-15 20:11] #1299 closed

[2016-06-15 21:16] #1298 closed

[2016-06-15 21:59] zhenlan commented on #1293
Fixed by #1288.

[2016-06-15 21:59] #1293 closed

[2016-06-16 00:07] StephenBonikowsky opened #1302 "Tracking fix to change where azure blobs are downloaded."
VSO build pipeline downloads azure blobs into packages\AzureTransfer which is where tests later look for packages.

In the release/1.0.0 branch build.proj was changed (https://github.com/dotnet/wcf/pull/1282) so that the packages dir is cleaned every time which then deletes the azure blobs and the build fails.

I've added the property '/p:"SkipCleanPackages=true"' to work around this issue for rel

[2016-06-16 03:23] dvorakpj commented on #1200
Absolutely support the idea of having server-side "WCF" in .NET Core. We just finished a[nother] fairly large almost entirely server-side processing system ("the user experience is that there isn't any") Initially we went through a lot of pressure not to use Microsoft/ .NET mostly due to the relative advantages of other (open source) stacks when doing "microservices-based" solutions as traditional

[2016-06-16 04:05] zhenlan opened #1303 "Rename tests files with new stable release versions"
After WCF packages are released as stable, we will need to append stable versions to the test files that are not versioned currently. This is to support the .NET Native testing with latest stable release.

[2016-06-16 05:58] zhenlan opened #1304 "Enforce expected test sets are included in CI and nightly lab runs"
For each testing environment (eg. Windows, OS X, etc.), we will have expected set of tests to be included. We should enforce this by setting the specific conditions to true so those tests attributed with corresponding ConditionFact will always be included.

- [x] CI is updated - @iamjasonp
- [x] Lab run is updated - @hongdai

[2016-06-16 13:59] roncain commented on #1304
At the moment, the following conditions are used in ConditionalFact and will be auto-detected  if left unspecified.
[code]
Auto-detection can be avoided by explicitly setting these values 'true' or 'false' when build.cmd is called.  Example:
[code]
ConditionalFact tests for each value obey these rules:
1. If unspecified, auto-detect and either run or skip the test based on the result
2. If 'true',

[2016-06-16 17:15] zhenlan commented on #1274
Thanks @Ravenheart for reporting the issue. We are looking into this.

[2016-06-16 18:04] roncain commented on #1108
I'm closing this issue now that we know these tests pass when self-host runs as local system.  Issue #1271 is responsible for making changes to CI and lab runs to allow these to pass.

[2016-06-16 18:04] #1108 closed

[2016-06-16 18:33] roncain commented on #1007
I am closing this issue because we have added ConditionalFact detectors listed in the description.  New issues have been opened for detectors that require additional work.

[2016-06-16 18:33] #1007 closed

[2016-06-16 23:06] iamjasonp opened #1307 "ServiceContractTests.BasicHttp_DefaultSettings_Echo_RoundTrips_String_StreamedRequest is flaky in ToF"
This test is timing out in ToF and causing 45 other tests in the same project to fall over and not report results.

I have disabled this test only in ToF to prevent this flakiness from impeding our ability to get good test results from Contract.Service.Tests.csproj

[2016-06-17 09:56] vincentshow opened #1310 "is there any example or tutorial that show howto add server-side wcf in aspnet core rc2?"
hello guys, i cannot find the wcf template in my vs2015 updte2, and no tuturials found in internet, can someone give me a clue? much thanks

[2016-06-17 15:24] roncain commented on #1307
Does this test ever fail in "K on K"?  If so, it might indicate a test issue.  But if it happens only in "N on K" I am concerned we have an intermittent *product* issue in NET Native.

[2016-06-17 16:03] hongdai commented on #1232
The RTM E2E test pass has finished on Windows, Osx and Linux. The tooling RTM E2E has finished on Windows.

[2016-06-17 16:03] #1232 closed

[2016-06-17 16:20] roncain commented on #1297
I believe this is the same issue being addressed by PR #1305, so I have updated that PR to make these tests use the new ConditionalFact.

[2016-06-17 16:20] roncain commented on #1295
I believe this is the same issue being addressed by PR #1305, so I have updated that PR to make these tests use the new ConditionalFact.

[2016-06-17 21:56] iamjasonp commented on #1307
I think we'll have to look out for this test... marking as test issue, and self-assigning so that I can keep an eye on it

[2016-06-17 22:04] iamjasonp commented on #1307
Also marking as "bug" since we don't know if it's a product issue or not

[2016-06-18 01:28] alexmarshall132 commented on #1200
Throwing in my 2 cents here: I work in a heavily Microsoft-oriented shop, and having WCF baked into .NET Core would open up a lot of new operation for our department and our company. I and the other developers I work with would love to see this.

[2016-06-18 08:28] ctolkien commented on #8
Just got burned by this one too.

[2016-06-20 06:09] vincentshow commented on #1310
i dont know which repo is suitable for getting help between dotnet/wcf and dotnet/core, so i create this issue both here and core  #https://github.com/dotnet/core/issues/130

[2016-06-20 08:18] zhenlan commented on #1310
Thank you for your query @vincentshow. As I replied in dotnet/core#130, the only way to build a WCF service is by using WCF in full .NET Framework at this point, but we are very interested to hear more about your scenarios/features if WCF server side on .NET Core is important to you. Please share more details on #1200.

Thank you for your feedback!

[2016-06-20 09:30] zhenlan commented on #1157
@StephenBonikowsky, can you please fix these tests as @mconnew explained?

[2016-06-20 10:21] vincentshow commented on #1200
similar with mentioned above, in my case, i'm just refactoring all my app using .net core, and there're many services using wcf which called by other apps that belong to another team. my team is the first one to upgrade tech from .netframework to .netcore in my company, so the more convenient and stronger the .net core is the ealier .netcore can be used in other teams. btw, the load balance soluti

[2016-06-20 16:40] roncain commented on #983
Note: I don't know what is happening in NET Native yet, but in normal run direct from GitHub enlistment, I see:
 - The custom validation logic is called
 - The custom validator throws a vanilla Exception (by design)
 - The original Exception thrown by the custom validator is thrown all the way back to the client code making the call via the proxy (no intermediate catch or interpretation of the exc

[2016-06-20 17:26] #1291 closed

[2016-06-20 17:30] roncain commented on #1307
We're suddenly seeing intermittent failures in Ubuntu for this family of tests.
[code]

We may need to ActiveIssue this for AnyUnix till we understand the issue

[2016-06-20 18:31] CountZachula commented on #31
Any updates on WS-* support? The information I've found is extremely sparse.

[2016-06-20 18:44] #1129 closed

[2016-06-20 18:44] #1297 closed

[2016-06-20 19:17] roncain commented on #31
Apologies @CountZachula @dersteve and others on this thread  -- there have been no updates on this while we've been heads down on the pending release.  But we hear this request and are building out our plan for next features, so requests like yours are helping set the priorities.  We're tracking them with [this query](https://github.com/dotnet/wcf/issues?q=is%3Aopen+is%3Aissue+label%3A%22feature+r

[2016-06-20 21:18] shawnwildermuth commented on #1200
While having to stacks is likely going to continue the confusion about which is recommended, I think the feedback I get from the course/talks I do is almost always about TCP connectivity. The rest of the stack is interesting, but it feels like WCF as network service versus web service to me, but I've been wrong before.

[2016-06-20 22:06] BradBarnich commented on #1200
We have a large SOA based healthcare application. We use WCF is two ways, internally (net.tcp and binary serialization) and externally (http and WS-*).

There are a number of RPC frameworks that could replace our use of WCF for internal service communication, but we really need WSHttpBinding support for standards based interoperability scenarios.

We exclusively use ServiceHost and configuration b

[2016-06-20 22:07] glav commented on #1200
For me, anything public facing is always WebAPI but with everything else, it is WCF simply because you have the various protocol choices via the bindings, throttling, reliable messaging etc. (so basically behind a public facing endpoint)
I kind of agree with shawnwildermuth in that having WCF may add to some confusion, but as with anything it depends on the communication and type of support introd

[2016-06-20 22:09] iamjasonp commented on #1307
Data point: Not reproing when I run this in Ubuntu on my dev boxes

[2016-06-20 22:36] #1248 closed

[2016-06-20 23:45] snagify commented on #1200
I'm finding WCF less and less important in a world of Microservices and service bus technology.
We've been on Windows Service Bus for a while, hit too many problems, and are migrating to RabbitMQ. Our sysops guys always get a look of surprise when we tell them we don't need IIS installed.

[2016-06-21 00:21] gencebay commented on #1200
There are lots of useful features about the WCF and also would be nice;
Built-in **Dependency Injection** (as .NET Core MVC 6)
Interceptors support
Hosting anywhere (Windows or Linux)
Working with AspNet Core Module (Without additionals configurations - httpcfg set urlacl)

[2016-06-21 00:48] abatishchev commented on #1200
Please don't invest in supporting neither VB.NET nor WCF nor WWF.

[2016-06-21 03:48] rjpaulsen commented on #1200
Binding and security please!

[2016-06-21 04:54] zamd commented on #1200
[gRPC](http://www.grpc.io/) binding would help bring familiar WCF programing model into "modren" world of microServices.

[2016-06-21 05:20] niemyjski commented on #1200
I don't think server side wcf is worth the investment when things like signalr and tooling should take presidence. I've always had such a hard time with wcf client Config  that I dispise it :( please correct me if I'm wrong... But why wouldn't web Ali be the way to go... It's lightweight and gives you everything you'd need to build apps that can work from any platform with a simple http call...

L

[2016-06-21 12:12] thefringeninja commented on #1200
Something that would be really useful is full support for Owin hosting.

[2016-06-21 15:28] mjrousos commented on #1200
I've given feedback offline on this topic, but just to keep things consolidated, I'll repeat it here :)

I've helped a couple customers adopt .NET Core who have been hung up on missing WCF features. Items which specifically have been missed include:
- Service host with Http and nettcp bindings
- Transactions
- Discovery

[2016-06-21 19:58] KKhurin opened #1314 "Tracking: System.ArgumentNullException "SafeHandle cannot be null" in http hello"
This is to track https://github.com/dotnet/corefx/issues/9578

Here is the call stack (per http request):
[code]