[2017-10-20 20:02] scotthurlbert commented on #1200
You may be mis-characterizing history. I have had many conversations over
the years about how SO with WCF is the only all-in-one package for
services. I've done work in on other platforms where we have to bring
together dozens of vendor products to get what .net offers out of the box.

You may not hear people desire it because, in my experience, people are
generally a bit cross camp ignorant. I ce

[2017-10-20 20:12] insylogo commented on #1200
Reasons it's incapable and should be considered deprecated by the community, compared to other .NET components:
1.  Not being part of .NET core means it is not "open source" and nobody outside Microsoft can rewrite it for .NET core.
2. No cross-platform support, which many cite as a primary reason to use .NET core in any application.
3. It cannot benefit from the .NET Core performance gains (of wh

[2017-10-20 20:27] iskiselev commented on #1200
Even placing WCF-based application to docker will require to use ServerCore image (which is huge) - not Nano.

[2017-10-20 22:44] jgraff26 opened #2347 "Need to add a service with two endpoints, but exclude one of the endpoints"
I have a service that contains two endpoints.  I have a client that wants to use just the methods in one of the endpoints.  If I use Visual Studio Add Service Reference, both endpoints and all their methods are imported.  Looking at the GUI for this it appears that I can select which endpoints I would like, but both get imported regardless of what I select.  This would be my preferred method.

To

[2017-10-21 00:55] alfred-c commented on #1200
Don't get too hung up on the WCF that was designed for Windows n number of years ago.  How would you redesign/update "XCF" (X comes after W) to work tomorrow in .NET Core?

I think what the community wants is a mature, out-of-the-box, enterprise-grade, service-oriented programming model for inter-process communications regardless of what platform is hosting the process, whether the processes are l

[2017-10-21 02:03] zhenlan commented on #1222
@Coruscate5 thanks for the information.

Yes, even if the tool fails due to an ill WSDL or whatever reason, you can still write code and call your service (as long as the bindings/features that the service uses are supported by the WCF on .NET Core runtime).

[2017-10-21 02:07] zhenlan commented on #1741
We have made improvements of metadata download including authentication support in the latest update of the tool (released with VS 2017 v15.5 preview). Please give it a try and open new issues if you run into any other problems. Closing this issue for now.

[2017-10-21 02:07] #1741 closed

[2017-10-21 04:38] jan-johansson-mr commented on #1200
This thread was opened 23rd of May, 2016, about 1.5 years ago, with the subject line "Server side WCF". The amazing responses, from majority of writers, have been of high quality. The participant in the thread have replied several times about why and what, and also with several business cases. There was a survey (with a link) given, bundled with the message:

"The WCF feature team is actively work

[2017-10-21 08:04] scotthurlbert commented on #1200
Spot on comments from my friend Jan.  Thank you.

As an odd coincidence check this out.  I've been using Emitter for an IoT
project.  Emitter is a light weight implementation of the MQTT messaging
protocol originally developed at IBM and not in the public domain.

When I first started the project back in the summer I downloaded the
Emitter code for the C# .NET Core broker (broker is what MQTT call

[2017-10-21 08:14] thefringeninja commented on #1200
Unfortunately I don't think it's that simple. Despite all the warts, net standard 1.x basically worked - all the apis it said it implemented were implemented.

WCF is something else entirely. While some of the bindings are probably easy to implement - HTTP(s)/SOAP - some are going to be impossible - MSMQ.  What is everyone's expectation here? Putting  on my non technical hat here, if I heard that

[2017-10-21 10:58] jan-johansson-mr commented on #1200
To take my non technical hat on, in response to "thefringeninja" :-) ...

There is already an answer to "not supported" on .NET Core today, the exception "Not supported platform", the same can go with anything that might be ported to .NET Standard (and Core).

That said, the thread already addressed that several technical aspects may not be possible, and that's fine, but the WCF framework is more

[2017-10-21 11:08] websitewill commented on #1200
DING!
Support the windows-specific or Linux-specific bindings as separate nuget packages.

It could be done, certainly.

[2017-10-21 19:17] scotthurlbert commented on #1200
Well put WebSiteWill

Joao, you are talking about a binding, not implementing MSMQ.  WCF only
requires the address and the protocol, not the actual implementation of
MSMQ itself.  It could be done.

On Sat, Oct 21, 2017 at 4:08 AM, websitewill <notifications@github.com>
wrote:

--
Scott Hurlbert
Technical Architect
415-378-9908
scotthurlbert@hotmail.com
AIM: scottahurlbert
Skype: hurlbert
GTalk: s

[2017-10-21 20:45] scotthurlbert commented on #1200
I don't think it's a matter of today's hotness and competing standards.
WCF offers a collection of things needed to create industrial-strength /
enterprise-strength services.

For example, WCF supports transactions and distributed transactions.  This
means that architecturally your exposed service can enlist internal
services to perform your use case and upon failure the use case service can
recov

[2017-10-21 20:57] joerglang commented on #1200
@Jeff
You wrote: Why does the lack of .NET Core support make something deprecated?

For me it goes along the lines like this.
Microsoft brings out a complete rewrite of .NET and opens up the door to other OS. It’s not something that was a big problem in the past, as our customers knew that when they hired us the got an MS based solution back and it was not a problem for them, because they were run

[2017-10-22 03:16] phillip-haydon commented on #1200
I’m still yet to work for a company that isn’t desperately trying to remove all traces of EF and WCF. So sounds like core is great got me.

[2017-10-22 06:12] scotthurlbert commented on #1200
Yes, and how's that working out for them.

https://en.wikipedia.org/wiki/Software_crisis

I agree about EF, but what are they replacing WCF with?  You have to
understand the power in almost no lines of code.  There is just nothing
else that can do that.  Here is a complete service *and* hosting in 4 lines
of code.

///////////////////////////////////////////////////////////////////////////////////

[2017-10-22 23:23] rajput81 commented on #2254
Hi Hong Dai

Thank you very much for this fix. I was hoping that I could just upgrade  NET Core WCF service reference tool and start using it for this development. Is that not possible? We are reluctant to use any Preview version of visual studio for our development activities..

Thanks
SR

[2017-10-23 03:46] hongdai commented on #2254
It is not possible . We are now only shipping with Visual Studio.

 I understand your concern, but I would suggest you try the preview as I have personally extensively used it and found it is high quality.

Thanks,
Hong Dai

[2017-10-23 07:57] atanasa commented on #2290
Is there some workaround for OSX and .Net Core 2.0? This sounds like WCF would not work on OSX at all.

[2017-10-23 20:29] mconnew commented on #2290
@atanasa, if you leave ClientCredentials.ServiceCertificate.SslCertificateAuthentication as the default null value, then WCF won't attempt to install a custom certificate validation callback. Your service certificate will then be validated using the default chain validation that the OS performs.
If you need custom certificate validation, then you can install a version of libcurl on your machine wh

[2017-10-23 20:50] StephenBonikowsky commented on #2329
It looks like this has been fixed.

[2017-10-23 20:50] #2329 closed

[2017-10-23 20:59] StephenBonikowsky opened #2348 "Test case failing: WebSocketTests.WebSocket_Https_Duplex_TextStreamed"
This test case is failing on all non-Windows OSes in the auto update PR for Master.

Error...
[code]

[2017-10-23 21:47] fabiano opened #2349 ".NET Core 2.0 self-contained app: Could not load file or assembly 'System.Private.ServiceModel, Version=4.1.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'"
Hi,

I'm migrating a console application to .NET Core 2.0 and when I run the app on my server I'm receiving this message:

[code]

This app is self-contained and has a netstandard2 library dependency that uses the System.ServiceModel.Http package to call an external api (using WCF).

When I publish the app using the win-x64 runtime identifier the file System.Private.ServiceModel.dll is not placed

[2017-10-23 22:33] StephenBonikowsky commented on #2348
MemoryHandle’s PinnedPointer property was renamed to Pointer, but that hasn’t propagated through corefx yet.
Waiting for https://github.com/dotnet/corefx/pull/24777 to be merged.

[2017-10-24 00:01] jcondex commented on #2189
Hi,

The reason why this happens is because when Global.asax is added, the Session_Start event handler gets hooked up.  If you remove the Session_Start handler, the issue will not reproduce anymore.  You can also get an instance of Session.SessionID which also mitigates the flushing issues:

void Session_Start(object sender, EventArgs e)
{
    // Code that runs when a new session is started
    st

[2017-10-24 01:03] zhenlan commented on #2349
The Runtime Identifier (RID) that `System.Private.ServiceModel` supports on Windows is `win7`. You can find this by opening up the NuGet package and look at the runtimes folder. The list of supported RIDs for .NET Core is in the [runtime.json](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json) file. You can see `win81-x64` and `win10-x64` import `win7` (indi

[2017-10-24 05:28] zhenlan commented on #2254
Hi @rajput81, the preview release of VS 15.5 can be installed side by side with the stable version of VS you are currently using, so you can continue to use the stable version of VS for the most of your development activities but use the preview version of VS for the WCF service reference. If you run into any issues, please do let us know so we can address them in future VS releases.

[2017-10-24 07:15] zhenlan commented on #2340
The fix has been released yesterday in the new preview of VS 15.5 [27019.01.d15rel].

[2017-10-24 07:15] #2340 closed

[2017-10-24 19:37] Joebeazelman commented on #2333
Take a look at DotNetShipping on GitHub.  He has a WCF FedEx client.  Don't know how well it works.

[2017-10-24 20:33] Olafski opened #2351 "WCF objects disposed but GC is not triggered"
I'm probably doing something wrong, but not sure what...

I have an ASP.NET Core solution which calls a few WCF Connected services through a NetTcp binding. I noticed that with every service call, the heap gains thousands of objects (XmlDictionaryString, XmlName, FaultContractInfo et cetera) which are then never released. After a few minutes, the memory usage of the process is at 3GB (from 100MB n

[2017-10-24 22:28] StephenBonikowsky opened #2353 "Test Case Failure: BasicHttp_DefaultSettings_Echo_RoundTrips_String_Streamed"
This is the first time running all the tests in a long time for release/1.0.0 with all the necessary infrastructure changes to get it building in VSO.

Not sure if this is a legitimate failure but it has been here all along, I don't want to block the PR https://github.com/dotnet/wcf/pull/2352 for one test failure.

ServiceContractTests.BasicHttp_DefaultSettings_Echo_RoundTrips_String_Streamed

[2017-10-25 04:21] mlacouture commented on #2333
@palodequeso, can you provide the version of VS you are using? also, did you get any warnings when adding the service reference to your project? thanks,

[2017-10-25 06:08] learn9969 opened #2355 "Asmx support (WCF connected service)"
Unfortunately I need to be able to call an old asmx webservice from an asp.net core web api 2.

Is it possible to use this tool for old asmx webservices.

Any sample out there?

[2017-10-25 07:29] imcarolwang opened #2356 "Newly added XmlSerializerFormatAttribute tests failed in Helix run"
Error log:
[code]

The tested Property is static in service hence it's shared by all clients, after test run once the property is assigned and not null any more which caused failure in next test case's pre-test validation stage.

[2017-10-25 07:40] oruchreis opened #2357 "WCF CS fails when Merging/Importing Multiple WSDLs into one"
Hi,
We are using `<import>` definition for merging multiple wsdl locations like that:
[code]

When we use old "Add Service Reference" tool, everything works smoothly. But when we use WCF connected services tool, we get `The MetadataExchangeClient has resolved more than MaximumResolvedReferences.`. If I remove some of imported locations, then I got a lot of warnings like that:
`Warning:Warning: The

[2017-10-25 10:52] timebubble opened #2359 "soap rpc style bug"
发生了 System.InvalidOperationException
  HResult=0x80131509
  Message=The operation 'xxxx' could not be loaded because it specifies \"rpc-style\" in \"literal\" mode, but uses message contract types or the System.ServiceModel.Channels.Message. This combination is disallowed -- specify a different value for style or use parameters other than message contract types or System.ServiceModel.Channels.Mess

[2017-10-25 12:52] xprzemekw commented on #1200
Guys, you are not listening at all, is this intentional?

It is not that we desperately need parts of .net core in the 'big' .net framework (4.7.1 and netstandard20 closes that gap).

We need .net core to have WCF. Name it like you want (XCF? ;D), strip it System.Web and Windows OS dependencies, make Windows OS integration optional nuget packages. We do not require it to be 100% compatible with WC

[2017-10-25 12:55] xprzemekw commented on #1200
And I've seen WCF source code, it is quite modular, you do not have to *rewrite* anything from scratch (as someone here wrongly stated).

Or publish sources and allow community to do its work!

Now you have caged many solutions in a limbo.

[2017-10-25 13:58] BradBarnich commented on #1200
The source is available (MIT license): https://github.com/Microsoft/referencesource/tree/master/System.ServiceModel

[2017-10-25 15:27] jan-johansson-mr commented on #1200
Hi Brad,

Thanks for the link to the repository! It included lots more than ServiceModel (Server Side WCF).

Though, in the header of the source code for (e.g. UriTemplate.cs), we have the header of:

//------------------------------------------------------------
// Copyright (c) Microsoft Corporation.  All rights reserved.
//------------------------------------------------------------

Looking th

[2017-10-25 15:35] Tecnico1 opened #2360 "Reading AXIS wsdl error with Microsoft WCF Web Service Reference Provider"
When I try to read wsdl from "http://www.axis.com/vapix/ws/action1/ActionService.wsdl", there is not problem with Visual Studio 2015, but with the new tool ("Microsoft WCF Web Service Reference Provider") for Visual Studio 2017 I never get a response, always with "Please wait..." message.

[2017-10-25 16:34] StephenBonikowsky commented on #2356
@shmao Could you take a look at this?

[2017-10-25 16:56] mlacouture commented on #2342
Hi @4gDad!

The recommended way to configure your endpoint from your code is to implement the partial method that is generated in the reference.cs file:

    static partial void ConfigureEndpoint(System.ServiceModel.Description.ServiceEndpoint serviceEndpoint, System.ServiceModel.Description.ClientCredentials clientCredentials);

You can then change the service endpoint address.

Hope this helps,

[2017-10-25 17:22] mlacouture commented on #2342
BTW: the generated code also offers you a constructor for your service client that receives an EndpointAddress type.

However, it seems your server requires authentication, based on the server address which uses SSL (https), in this case my previous recommendation is the way to go as you can set the credentials in the ClientCredentials parameter passed to it.

[2017-10-25 17:29] mlacouture commented on #2347
Hi @jgraff26

Thank you for reporting this issue.  What you are trying to do is currently not possible as the tool generates client code for all endpoints a service exposes.

We will evaluate adding this feature in a future release.

regards,
Miguel Lacouture

[2017-10-25 18:23] nmocruz commented on #2359
Same problem here :(

[2017-10-25 18:24] #2319 closed

[2017-10-25 21:28] shmao commented on #2359
Thanks for submitting the issue. Can you please share some repro code with me? I can give it a try.

[2017-10-25 22:24] nmocruz commented on #2359
I can share the message and classes used.

`<?xml version="1.0"?>
<SOAP-ENV:Envelope xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/">
    <SOAP-ENV:Body SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:NS1="

[2017-10-25 22:49] nmocruz commented on #2359
If you know a workaround to deserialize this message I will appreciate. Is a legacy system we don't want to change the message format, and not a wcf expert to get this working.

[2017-10-26 00:00] shmao commented on #2356
This was fixed by #2358.

[2017-10-26 00:00] #2356 closed

[2017-10-26 03:13] sameera commented on #2197
Interestingly, back in June we had used VS 2017, .net core 1.1 and WCF WS Connected service to reference https://webservices.netsuite.com/wsdl/v2016_2_0/netsuite.wsdl
and had built a library around that. And it worked fine and is in production at the moment.
We came across the same error trying to update this library to the same WSDL as the original poster, with VS 2017 15.4.1, core 2.0 and same c

[2017-10-26 04:56] hongdai commented on #2197
We used Disco DiscoveryClientProtocol API to download and resolve wsdl files back then. So It could be a regression.

@mlacouture I'd suggest create a separate bug to track this issue, if we decided to not to use Disco  DiscoveryClientProtocol  API.

[2017-10-26 07:56] nmocruz commented on #2359
Forgot to mention I am using dotnet core 2.0 and wcf 4.4.0 . I tried to use a dev version on myget but was complaining about a dependency on a preview of ... platforms

[2017-10-26 09:14] xprzemekw commented on #1200
those sources are for reference only and

a) won't build
b) do not produce official output (ie in form of nuget package)
c) you have no license and right to extract parts of them and build own solution

I'd like to see it as a Microsoft backed and supported project driven with community support, using github as a collaborative tool, like dotnet core, ef core, aspnet core and others producing nuget

[2017-10-26 10:02] nmocruz commented on #2359
seem to be the same as https://github.com/dotnet/wcf/issues/2264 but this fix not released to dotnet core 2.0

[2017-10-26 13:55] BradBarnich commented on #1200
That’s not accurate. The github sources are a subset of .net that are licensed under MIT. You can do anything you want with them. Before the Xamarin acquisition, this enabled Mono to copy some of the source to improve their implementation.

I’d like to see server support too, but that is not the current focus of this repo. I’m sure it’s a mountain of work, and priorities.

[2017-10-26 14:13] jan-johansson-mr commented on #1200
I'm not so sure about that. Each source code file clearly states that the source code is copyrighted and all rights are reserved to Microsoft (and that's okay, it's Microsoft source code). The sources have to be reissued with correct license (as in the .NET Core repository) for them to be editable and usable.

I'm all for a project on github, backed and supported by Microsoft, it's a very good sol

[2017-10-26 14:25] BradBarnich commented on #1200
Copyright and license are different things.

https://github.com/Microsoft/referencesource/blob/master/README.md

http://www.mono-project.com/docs/about-mono/dotnet-integration/

[2017-10-26 16:01] abatishchev commented on #1200
Opening the source code is not the same as opening the build infrastructure

[2017-10-26 16:34] eduardoluizm opened #2361 "Performance problemn calling wcf service with BasicHttpBinding"
Hi,

Currently I have a web application made with asp.net core 1.1 and hosted on azure app services by net461.

This app has some classes created by svcutil.cs.

So, after the release we had some problemas with performance but after change some configs, like "ServicePointManager.DefaultConnectionLimit = 100;", no more problems.

Last week, we started to migrate it to asp.net core 2.0 compiled by n

[2017-10-26 17:38] shmao commented on #2359
@nmocruz you're right. This shares the same root cause with #2264. The fix was made post .Net Core 2.0. It would be included in the next release. It would help a lot if you can try the packages from myget for verification purpose (not sure if it's possible for your project to suppress the warning/error on using preview packages).

[2017-10-26 17:45] mlacouture commented on #2197
Thank you all for your input on this issue.  I will investigate a little deeper and will get back to you as soon as I have a meaningful update.

Miguel Lacouture

[2017-10-26 17:53] mlacouture commented on #2314
Hi @outadoc

Visual Studio 15.5 Preview 2 is now available and we provided several fixes to the tool in this update.  Would you be able to try your scenario with this version of VS and if you continue to hit this problem provide us with more details? if possible for you, the service url or wsdl files?

thank you again,
Miguel Lacouture

[2017-10-26 18:39] mlacouture commented on #2268
[Hi @DaleKBurrell

thanks again for reporting this issue.  There are two parts in this issue: 1. unable to update a service reference, 2. unable to add service reference when the build is broken.

for the first, we already have a tracking issue #1753, and as per the second issue it is necessary for the project to be buildable for the tool to reuse existing types when generating the proxy code so t

[2017-10-26 18:41] mlacouture commented on #2268
duplicate of #1753.

[2017-10-26 18:41] #2268 closed

[2017-10-26 18:56] mlacouture commented on #654
Hi @gauravmahto

Just to give you an update on this issue, we have decided not to provide a solution for it at this point as there are other features that block customer scenarios that for most are higher priority work.  We will keep your request for a future review.  Let us know if you need any assistance from us for this issue.

We also encourage people reading this thread to add your reaction (

[2017-10-26 19:16] mlacouture commented on #1354
Hi @Jelle87

Support for message security in the .Net Core framework is going to take a while as it requires several other APIs not yet in the framework.  We will update this issue when we have a clearer roadmap for this feature.

thanks again for your interest in the .Net Core platform and the WCF Web Service Reference tool.

cc @zhenlan

[2017-10-26 19:58] mlacouture commented on #2092
Hi @AlexSapple

Just looked at this issue and the tool tells what's wrong, the web service endpoint binding has some security requirements that cannot be fulfilled in the .Net Core platform because it is not yet implemented:

_Warning: **Unsupported binding element type: 'System.ServiceModel.Channels.UnrecognizedAssertionsBindingElement'.**
Warning: Endpoint 'SellingDistributionAdapterSoap11' at a

[2017-10-26 19:58] mlacouture commented on #2092
Duplicate of #1354

[2017-10-26 19:58] #2092 closed

[2017-10-26 20:35] nmocruz commented on #2359
@shmao I tried and and now I stuck on issue [2349](https://github.com/dotnet/wcf/issues/2349)

[2017-10-26 22:45] mlacouture commented on #2104
Looking at issue#2197 I found that this issue is not a duplicate of that one.  We will reconsider a solution for this issue.

thanks,
Miguel Lacouture

[2017-10-26 22:50] mlacouture commented on #2197
Hi all!

I took a look at this issue and it is in fact a regression and has nothing to do with the DISCO protocol.  I have reactivated issue #2104 to track support for DISCO separately.

As a workaround for this regression, you can try generating the service reference proxy using the dotnet-svcutil tool which is used by the WCF Web Servicer Reference tool as the underlying code generation tool.

[2017-10-27 00:08] mlacouture commented on #2092
Hi!  This is a problem with Message Security which is not yet supported in .Net Core framework.  I'm going to resolve this bug as a duplicate of #1354

[2017-10-27 00:08] mlacouture commented on #2092
Duplicate of #1354

[2017-10-27 00:09] mlacouture commented on #2092
Duplicate of #1354

[2017-10-27 02:02] sameera commented on #2197
@mlacouture Thanks, using dotnet-svcutil worked for me as well.
Used with /n:"*,SuiteTalk" to generate the proxy under SuiteTalk namespace.

[2017-10-27 09:02] xprzemekw commented on #1200
It's not about build infrastructure. It's about provided code and accompanying files. It won't compile because it lacks resources, some dependencies, etc. Someone above posted link to Mono site describing issues with reference source Microsoft  offering. As name implies, it is for reference only and debugging.

What we need is github repo with Microsoft blessing so community could work on porting.

[2017-10-27 17:45] mlacouture commented on #2357
Hi @oruchreis

thank you for reporting this issue.  Would it be possible for you to provide the wsdl/schema files for us to investigate? thanks,

[2017-10-27 17:54] mlacouture commented on #2355
Hi @learn9969
I'm assuming you are talking about the WCF Web Service Reference connected service provider tool.  This tool supports web services that follow the WSDL specification and ASMX is a technology for building this type of services, so the answer is yes, you should be able to use this tool to add a service reference to your project.
You can read more about the [tool usage here](https://git

[2017-10-27 18:35] zhenlan commented on #2359
@nmocruz, can you please elaborate why you are "stuck". Would it possible for you to change the `--runtime` to use RIDs like win7-*, win81-* or win10-*?

[2017-10-27 18:39] zhenlan commented on #2353
@StephenBonikowsky, which platform this test is failing on?

[2017-10-27 18:54] StephenBonikowsky commented on #2353
Only on OuterLoop Ubuntu14.04 Debug
Not on Release, I am really close to getting VSO test builds, I would like to see results from there in order to make sure it isn't just a Jenkin's lab issue that doesn't happen in the Helix lab.

[2017-10-27 18:56] zhenlan commented on #2346
When ManagedHandler is available, it should help this issue.

[2017-10-27 19:03] zhenlan commented on #2361
Hi @eduardoluizm, it's a bit hard to tell what went wrong here with Application Gateway. Do you think you can troubleshoot and get a bit more details?

https://docs.microsoft.com/en-us/azure/application-gateway/application-gateway-troubleshooting-502

[2017-10-30 17:11] mlacouture commented on #2360
Hi @Tecnico1

Thank you for reporting this issue.  This is the same problem as discussed in issue #2104. Please use issue #2104 to track progress

Miguel Lacouture

[2017-10-30 17:11] mlacouture commented on #2360
Duplicate of #2104

[2017-10-30 17:11] #2360 closed

[2017-10-30 18:15] mconnew commented on #2351
@Olafski, NetTcp binding uses the binary message encoder and BasicHttp uses the text message encoder. I believe that the text message encoder doesn't use XmlDictionaryString as it doesn't maintain a session dictionary. So 2 things have changed. The transport and the encoder. Can you try with NetHttpBinding which uses the binary message encoder and see if the problem still occurs?

[2017-10-31 02:57] zhenlan commented on #2275
@hongdai has this been done for CI?

[2017-10-31 17:12] hongdai commented on #2275
@zhenlan Not yet, I've checked the nightly runs, it has been green for over a week. I will enable the CI today.

[2017-10-31 17:36] zhenlan commented on #2275
Thanks!

[2017-10-31 18:12] shmao commented on #2332
The code generated by Add Service Reference (ASR) code is different from the code generated by the connected service. The code generated by ASR uses `System.Xml.XmlElement` or `System.Xml.XmlNode` instead of `System.Xml.Linq.XElement`. And ASR code works. It might be a bug in the connected service.

Replacing all `System.Xml.Linq.XElement` with `System.Xml.XmlNode` in the generated code could be a

[2017-10-31 23:39] hongdai commented on #2275
CI is enabled now.

[2017-10-31 23:39] #2275 closed

[2017-11-01 17:57] insylogo commented on #1200
You want to come back to the conversation and respond to the points in the last 2 weeks @csharpfritz ?

[2017-11-01 19:42] mconnew commented on #2351
@Olafski, I took another look at your memory profiler screenshot and there's something very interesting. It's showing 624 instances of some types which I would only expect a single instance of per ChannelFactory. I'm going to attempt a little party trick here and guess how you wrote your code. You used the WCF Connected Services VS extension to create your client. Your coding pattern is to create

[2017-11-02 09:57] PawOrmstrupMadsen commented on #2269
I have the same problem with this file.

And your workaround has not been working for me.

i've tried with VS 2017 15.5 preview And the 15.4 release.

[CPR_V12_wiki.zip](https://github.com/dotnet/wcf/files/1437219/CPR_V12_wiki.zip)

[2017-11-02 10:06] sergei66666 commented on #2269
Have the same error. The error was in wsdl file.

Use command: svcutil *.wsdl /language:C#
It show correct error and helped me to correct file.

[2017-11-02 10:07] sergei66666 commented on #2269
@PawOrmstrupMadsen line 745 in your file
<wsdlsoap:address location="X"/>
Replace X with correct URI. It should help

[2017-11-02 10:10] PawOrmstrupMadsen commented on #2269
But it works for for .NET and not .NET Core
which makes me believe the new core version of svcutil is not complete yet.

[2017-11-02 10:13] PawOrmstrupMadsen commented on #2269
dotnet "C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\Common7\ID
E\Extensions\Microsoft\WCF Connected Service\svcutil\netcoreapp2.0\dotnet-svcutil.dll"  *.wsdl
Microsoft (R) WCF Service Model Proxy Generation Tool for .Net Core platform
[svcutil, Version 1.0.0.0]
Copyright (c) Microsoft Corporation.  All rights reserved.

Error: Argument 'targetFramework' is mandatory.
If you

[2017-11-02 10:14] PawOrmstrupMadsen commented on #2269
Actual error from svcutil

dotnet "C:\Program Files (x86)\Microsoft Visual Studio\Preview\Professional\Commo
n7\IDE\Extensions\Microsoft\WCF Connected Service\svcutil\netcoreapp2.0\dotnet-svcutil.dll" /tf:netcoreapp2.0 * /n:"*,Se
rviceReference1"
Microsoft (R) WCF Service Model Proxy Generation Tool for .Net Core platform
[svcutil, Version 1.0.0.0]
Copyright (c) Microsoft Corporation.  All rights

[2017-11-02 10:48] sergei66666 commented on #2269
@PawOrmstrupMadsen Yes, I was talking about this error.
If you insert correct URI - you get generated code.

[2017-11-02 10:51] PawOrmstrupMadsen commented on #2269
Sweet, thank you :)

[2017-11-03 08:29] outadoc commented on #2314
Hi @mlacouture, unfortunately I won't be able to test this out until at least the 13th; I hope that's okay.

Thank you for the follow-up!

[2017-11-03 15:11] SamuelCox commented on #1200
Hi, not really a fan of the argumentative tone lots of commenters have taken here, but I would like to give my 2 cents. As I understand it, one of the main scenarios .Net Core is supposed to support are SOA and microservices. Not having WCF server side seems to run counter-intuitive to that. I take your point @csharpfritz that WCF is completely coupled to Windows, fair enough. But it does feel lik

[2017-11-03 19:07] johnvndnbrk commented on #1200
@SamuelCox - Well said! I took @csharpfritz's comments re WCF, WPF as statements of fact.

In the original post by @jan-johansson-mr he has list of features he likes in WCF
**"Here is a list of some of the WCF features (that comes to my mind):**
- **Throttling**
**- Reliability**
**- Ordered Messages**
**- Bindings**
**- Instance Management**
**- Behaviors**
**- Transactions**
**- Security**
**- D

[2017-11-03 20:01] scotthurlbert commented on #1200
You know, now that I think about it,  it may be a marketing thing.  Reading
over the list of features that WCF has and that we all need I believe I
stumbled upon a theory.

One of my arguments FOR WCF is that we get all these things in. NET
standard. These features are enterprise quality features. One of the
difficulties with adopting WCF is developer nativity. Often by the time
they know they nee

[2017-11-04 05:20] learn9969 commented on #2355
Hi thanks for your reply but the link does not show how  you call the service once generated.Can you provide an example
thanks

[2017-11-04 18:01] Olafski commented on #2351
Thanks a lot @mconnew, you were exactly right. I changed the implementation according to your suggestions, and it's a lot better now.

Just one more question though, if I may. In the snapshots, I see the amount of memory used by the heap going down. However, in task manager I still see the amount of memory used growing. I assume this is alright, but I can't explain it. Can you?

Here's a screensho

[2017-11-04 23:11] martinpg2001 commented on #2220
Hi - I have exactly the same problem. I need to support a tool that dynamically generates a client UI from a SOAP Web service WSDL. We'd like to port this to .Net Standard 2.0, but it's a non-starter if there aren't functional equivalents to the ServiceDescription and CodeDom APIs. Are these on the roadmap to be added to .Net Standard? Thanks for any feedback, Martin

[2017-11-06 12:33] blair55 opened #2365 "BasicHttpSecurity does not contain a constructor that takes 0 arguments"
![image](https://user-images.githubusercontent.com/702272/32441127-fb4878a4-c2ed-11e7-9aa9-b9609184796e.png)

I've added a connected service following the steps in my previous issue (#2340). However, I'm now stuck at this point. Looking at the source code, none of the error descriptions make sense: `BasicHttpSecurity` specifies no other constructors, nor does it inherit from another class.

Am I d

[2017-11-06 20:12] curiousmindthinking commented on #2225
Getting similar issue. Do we know if this has been solved?

[2017-11-07 15:37] sajidsikander123 opened #2366 "WCF Service in .Net Core 2 application"
I am trying to add a WCF Service in an application using the 'Connected Services' option but it gives an error saying
Error:
It was not possible to find any compatible framework version
The specified framework 'Microsoft.NETCore.App', version '1.0.5' was not found.'

I have a .Net Core 2 already running. Is it I need to downgrade to 1.0.5 to use this one.

[2017-11-07 17:46] zhenlan commented on #2366
@sajidsikander123 this issue has been fixed in VS 2017 Update **15.5 preview**. Please refer to #2340 for details where you can find a workaround if you are using an earlier update of VS 2017.

Duplicate of #2340

[2017-11-08 02:43] WeihanLi commented on #2259
@hongdai hi, I met the same problem.Is there any method  possible to configure it via a configuration file now?

[2017-11-08 16:30] BrettKoenig opened #2367 "System.ServiceModel.Channels.StandardBindingImporter"
Is this method not implemented or supported yet? Any timeline to when it will be? Thanks!

[2017-11-08 20:48] mconnew commented on #2351
Task Manager shows your private working set. This is the amount of memory your app has asked for and hasn't been paged out. It's not the amount of memory your app is actually using. To keep things easier, I'll talk about 32-bit apps. 65-bit is the same but uses bigger numbers. Each process has it's own 4GB address space which various things can be mapped into. For example, you could map the conten

[2017-11-08 23:00] mlacouture commented on #2355
Hi!

The generated proxy code contains a System.ServiceModel.ClientBase derived class which is your service's client.  You can then invoke the methods on an instance of this type that will communicate with your server.

regards,
Miguel

[2017-11-08 23:03] mlacouture commented on #2314
@outadoc , in the meantime if you can provide us with a wsdl file we can use to reproduce this issue that would be great.  thanks,

[2017-11-09 01:45] #2366 closed

[2017-11-09 02:20] zhenlan commented on #2365
@blair55 the constructor of `BasicHttpSecurity` is not available on .NET Core. It's internal only.
https://github.com/dotnet/wcf/blob/699e88523f1c589398cde22980f5eceea11e77f8/src/System.ServiceModel.Http/ref/System.ServiceModel.Http.cs#L25

From the way you are using it, it is not going to work either as message security is not supported on .NET Core (#8).

[2017-11-09 07:48] Kantuz001 commented on #1810
Same problem(

[2017-11-10 10:26] icardosos opened #2368 "Getting timeout error for operations above 30 seconds."
Hi guys,

I'm getting timeout exception for operations that took more than 30 seconds. Here is my scenario:

Server Side: Basic Wcf Application (.NET full 4.6.1)
Basically, I have one endpoint that call Thread.Sleep

![image](https://user-images.githubusercontent.com/1257563/32653213-2acf6936-c5ee-11e7-87b3-f10a8bb22e70.png)

Client Side: Console Application (.NET Core 2.0)
A console application t

[2017-11-10 11:35] CodyLuck opened #2369 "Service Reference creating error in .net standard 2.0"
I trying to create WCF Wev service reference in .net standard 2.0 project. In process i`ve got error
![error](https://user-images.githubusercontent.com/26362826/32656611-8c6d9106-c623-11e7-90ca-bb59569d3942.PNG)

I rebuilt project to .net standard 1.3, created service reference and successfull rebuilt it back to 2.0, but it seems to me, that it is not good solution. I coun`t find any information,

[2017-11-10 12:00] petervestergaard commented on #2219
I am also experiencing this issue.

WSDL:
<schema ........>
	<complexType name="DrivInfID">
		<sequence>
			<element minOccurs="0" maxOccurs="unbounded" name="DriverInformation" type="string"/>
		</sequence>
	</complexType>
	<complexType name="CreateCustomer">
		<sequence>
			<element minOccurs="0" maxOccurs="1" name="FirstName" type="string"/>
			<element minOccurs="0" maxOccurs="1" name="MiddleN

[2017-11-10 14:35] fabiano commented on #2349
@zhenlan Thanks for the help.

Are you going to support the portable RIDs (win-x64, win-x86)? Or is it best always use the specific for the platform I'm targeting?

[2017-11-10 17:10] MartyMaro commented on #1808
@hlaghari Which WSDL tool did you use? I tried to use the SLsvcUtil.exe, but all it returns is _Error: Object reference not set to an instance of an object._

I've a windows hosted service that provides a mex HTTP address. I want to use the proxy in a Xamarin.Forms project that targets netstandard2.0

Could anybody explain how to archive this?

[2017-11-10 17:34] shmao commented on #1274
@petervestergaard reported the same issue in #2219

[2017-11-10 18:37] StephenBonikowsky commented on #2315
Unable to complete the additional test tasks as part of this issue due to having to jump to too many other higher priority tasks.
Will open more granular issues for what is remaining.

[2017-11-10 18:38] #2315 closed

[2017-11-10 18:38] StephenBonikowsky commented on #2316
Unable to complete the additional test tasks as part of this issue due to having to jump to too many other higher priority tasks.
Will open more granular issues for what is remaining.

[2017-11-10 18:38] #2316 closed

[2017-11-10 18:39] StephenBonikowsky commented on #2320
Closing this after the time already spent.
Need to discuss whether this branch even needs to be serviced anymore.

[2017-11-10 18:39] #2320 closed

[2017-11-10 18:40] StephenBonikowsky commented on #2317
Unable to complete the additional test tasks as part of this issue due to having to jump to too many other higher priority tasks.
Will open more granular issues for what is remaining.

[2017-11-10 18:40] #2317 closed

[2017-11-10 18:42] StephenBonikowsky opened #2372 "release/1.0.0 - Enable publishing and rev versions for servicing."
Publishing has been enabled, just need to rev the assembly and package versions.

[2017-11-10 18:42] StephenBonikowsky opened #2373 "release/1.1.0 - Enable publishing and rev versions for servicing."

[2017-11-10 18:43] StephenBonikowsky opened #2374 "release/2.0.0 - Enable publishing and rev versions for servicing."
Version revving is in PR.
Next will enable the publishing step in VSTO.

[2017-11-10 18:44] StephenBonikowsky opened #2375 "Add ServiceModel shim to 2.0.0"
For the upcoming compat release we need to add a ServiceModel shim to the 2.0.0 package so that it is compatible with desktop.

[2017-11-10 18:45] #2375 closed

[2017-11-10 18:46] StephenBonikowsky commented on #2026
This has been on hold for a while due to higher priority issues.

[2017-11-10 18:52] StephenBonikowsky commented on #2184
Ubuntu has been enabled and the runs are failing due to a buildtools problem.
Opened PR dotnet/buildtools#1627
I've essentially been told I need to root cause the issue in buildtools myself, that will take some time as that is not a space I am very familiar with.

[2017-11-10 19:36] zhenlan commented on #2368
@icardosos Thank you for reporting the issue. We are able to repro it and will investigate further.

[2017-11-10 19:42] zhenlan commented on #2367
@BrettKoenig this type is not available in .NET Core. Can you please share with us your use case?

[2017-11-10 19:51] zhenlan commented on #2365
We can make the constructor public but throw PNSE if using message security.
https://github.com/dotnet/wcf/blob/699e88523f1c589398cde22980f5eceea11e77f8/src/System.ServiceModel.Http/ref/System.ServiceModel.Http.cs#L25

[2017-11-10 19:57] zhenlan commented on #2353
@mconnew is looking into this test.

[2017-11-10 20:00] zhenlan commented on #2361
@eduardoluizm please let us know if you can get more details. Close for now.

[2017-11-10 20:00] #2361 closed

[2017-11-10 20:02] zhenlan commented on #2337
@isegos, please let us know if you can get more details. Close for now.

[2017-11-10 20:02] #2337 closed

[2017-11-10 20:47] zhenlan commented on #2359
Closing this as the original issue is a Duplicate of #2264.

Please use #2349 for any further discussion about the WCF RID support.

[2017-11-10 20:47] #2359 closed

[2017-11-10 21:12] mconnew commented on #2353
I'm not seeing this test fail. I am seeing BasicHttp_Abort_ChannelFactory_Operations_Active fail saying it's getting the wrong exception. The test is failing because it is expecting TaskCanceledException and it's getting CommuicationObjectAbortedException. This test in later branches has been modified so this isn't an issue.

[2017-11-10 21:49] nmocruz commented on #2359
I changed the target to net471 for now and maybe later I try again with
core 2.0.  But the problem was attempt to load an assembly not sure exact
name and version but was something like Microsoft.serviceModel 4.x.x.x

Em 27/10/2017 19:35, "Zhenlan Wang" <notifications@github.com> escreveu:

@shmao <https://github.com/shmao> I tried and now I'm stuck on issue #2349
<https://github.com/dotnet/wcf/is

[2017-11-10 21:53] nmocruz commented on #2359
It looks like this one #2337

Em 10/11/2017 21:49, "nuno cruz" <nmocruz@gmail.com> escreveu:

[2017-11-10 22:04] zhenlan commented on #2349
@fabiano Yes, I think we can support portable RIDs in our next release (likely 2.1). Thanks for bringing this to our attention.

Just a note, we will need to change the RID of S.Private.ServiceModel from `win7` to `win` for Windows. Our linux RID looks good (it's `unix`).

[2017-11-10 23:08] zhenlan commented on #2357
@oruchreis please let us know if you can share more information. Closing for now.

[2017-11-10 23:08] #2357 closed

[2017-11-10 23:15] zhenlan commented on #2355
@learn9969 below is an example of code you can write by using the `ServiceReference1.Service1Client` that is generated by the WCF Connected Service. This code is calling against a service generated from "WCF service application" VS template where it has a service operation named `GetData(int)`.

[code]

[2017-11-10 23:15] #2355 closed

[2017-11-10 23:18] zhenlan commented on #2342
@4gDad Please let us know if you have any further questions. Closing for now.

[2017-11-10 23:18] #2342 closed

[2017-11-10 23:20] zhenlan commented on #2333
@palodequeso, please let us know if you can share more information. Closing for now.

[2017-11-10 23:20] #2333 closed

[2017-11-10 23:25] mconnew commented on #2368
The cause of this is a little complicated. We used to instantiate our own instance of WinHttpHandler as at the time, HttpClientHandler didn't have sufficient API's to be able to do things like set a certificate validation callback handler. WinHttpHandler has some extra properties that can be set for various timeouts. One of these is ReceiveHeadersTimeout which is how long to wait until the respons

[2017-11-11 01:13] icardosos commented on #2368
Thanks @mconnew would be great if you help me out with reflection approach

[2017-11-11 01:23] mlacouture commented on #2073
@tibmeister, thanks again for reporting this issue and providing the wsdl file.  Unfortunately, the wsdl have a reference that cannot be resolved, I get the following error when using the attached SM.wsld file:
`There was an error downloading 'http://lsde90sm3.sdde.deere.com:14088/SM/7/Common.xsd'
  The remote name could not be resolved: 'lsde90sm3.sdde.deere.com`.

would it be possible for you to

[2017-11-11 03:00] zhenlan commented on #2293
@pardhumeduri this is because a shim that forwards WCF APIs from full framework to .NET Core was missing. We are rebuilding System.ServiceModel.Primitives package to include this shim (#2375) and hopefully, we can have the package released soon after testing etc. (in weeks). In the meanwhile, it will be great if you can give the [package built out of master branch](https://dotnet.myget.org/feed/do

[2017-11-11 03:08] zhenlan commented on #2323
@Pavel-Ishutin thanks for reporting the issue. This appears to be about the full framework. As this repo is for .NET Core, I am closing this issue.

I have routed this issue internally for further investigation. In the future, please use https://connect.microsoft.com/ for any issues related to the full framework.

cc: @jcondex

[2017-11-11 03:08] #2323 closed

[2017-11-11 10:44] Olafski commented on #2351
Wow, case closed I would say.

Thanks again @mconnew !

[2017-11-11 10:44] #2351 closed

[2017-11-12 22:35] Joebeazelman opened #2376 "WCF Code Generation on Visual Studio 2017 is broken!!! (incorrect service name?)"
I downloaded the Fedex  and UPS Rate Client API and spent hours trying to find the client classes after using add service.  It was there, but buried in a gigantic steaming pile of digital mush.  Both were named RatePortTypeClient..    Why didn't you use the service names?  Whose brilliant idea was it to change it for no good reason?

[code]

[2017-11-12 22:52] Joebeazelman opened #2377 "Reference.svcmap (ASR) is utterly useless in VS 2017"
Apparently, there's supposed to be some nice client code customization features , but they're hidden away like everything else in WCF.  Microsoft believes your safety is more important than your productivity.  The Reference,svcmap is has the following options for changing how the code is generated:

[code]

I changed some of these options, but couldn't figure out why they had no effect on the gene

[2017-11-13 11:10] blair55 commented on #2365
Thanks for addressing. However I cannot progress without a message security supported (#8) as the SOAP service provider enforces use of the https protocol.

FYI, when I navigate to the constructor of the BasicHttpSecurity class, I see the following. This is the cause of my original confusion...

[code]

[2017-11-13 13:37] outadoc commented on #2314
Hi, sorry for the delay. Here's a sample (obfuscated) WSDL:

[code]

[2017-11-13 15:57] wasabii opened #2378 "Server Support"
Not sure where else to put this.

On a lark I did a server-side ASP.Net integration for WCF. It provides middleware that spawns up a `ServiceHost` and routes requests into it. The promise is of the full WCF stack working (for HTTP).

https://github.com/wasabii/Cogito.AspNetCore.ServiceModel

I have it working for basic POST requests with text encoding. Using it is fairly simple:

[code]

I'm going

[2017-11-13 16:03] wasabii commented on #1200
I would like to reference an issue I just opened before noticing this thread: #2378

This isn't .Net Standard. It requires the full framework. But it can fit into the ASP.Net pipeline.

[2017-11-13 20:23] blgsyrmhnds opened #2379 "Visual Studio 2017 .net core project give Restoring NuGet packages for bootstrapper error when adding wcf endpoint"
With visual studio 2017 preview(last version of vs 2017 profesional) In asp.net core 2.0 project I trying to add wcf service to connected services it give below error.In my teammate has same project it works in his computer(same enviroment as my pc) but give below error in my pc.I clean project,rebuild but error not fixed.What should I do?Is that error about wcf or nuget?I delete and reinstal nuge

[2017-11-13 20:44] mlacouture commented on #2314
Hi @outadoc

thank you for providing the service wsdl, unfortunately it contains an import reference to a secure site so I cannot download the full schema.  can you use your browser or svcutil.exe to download the metadata as a single wsdl by providing the '?singlewsdl' query?

thanks,

[2017-11-14 05:10] Joebeazelman opened #2380 "WCF client code generator is inconsistent depending on the project type."
I've been spending the past couple of days trying to find out why WCF cannot generate quality code for my UWP project.  I decided to assist you guys in locating these issues, I've enclosed a zip files of the metadata I am using to generate my client.  Aside from the inability to charge the code generation options, it failed to include DataContracts defined in UPSSecurity.xsd.

The code generates p

[2017-11-14 05:44] trichling commented on #2368
@mconnew  I am running into the same issue and would be very glad to get assistance!

[2017-11-14 05:58] mconnew commented on #2368
I have some code I've tested to fix this. I was about to post the solution when power went out in the office. We're having some unusual weather in Seattle right now. I'll post the code tomorrow.

[2017-11-14 06:55] Joebeazelman opened #2381 "Terrifying Developer Experience using WCF on UWP!"
Developing on UWP has been a living nightmare.  Fortunately, my customers are more patient than I am.  As an addendum to my last post, I discovered a work around to to the code generation problem.  It is detailed in this obscure article:

https://medium.com/@narinkaew/using-wcf-soap-services-in-net-core-fb13180c4eda

I initially thought it couldn't be that simple, but I gave it a try and it worked

[2017-11-14 08:29] blgsyrmhnds commented on #2379
I change package source(tools->nuget package manager->manage nuget package
...)  with nuget.org instead of visual studio package and it works

via:
http://yazilimsozluk.com/visual-studio-2017-net-core-projesine-wcf-eklemede-restoring-nuget-packages-for-bootstrapper-errorerror-restoring-packages-hatasi

[2017-11-14 08:29] #2379 closed

[2017-11-14 09:05] JKennedy24 commented on #2225
Getting the same error. Has this been released? is there a pre-release of the tool I can upgrade to?

[2017-11-14 11:58] outadoc commented on #2314
Hi, here you go.

`soapservice.company.com.xsd`

[code]

`soapservice.company.com.wsdl`
[code]

[2017-11-14 12:37] gergo123 commented on #1753
In the meantime, i made a blank web project and than added a new service reference with namespace as it is in the original project. Then copied the content of the Reference.cs from the blank to my actual project where i wanted to update the web service reference. No need for deleting, and removing references from the code base.

[2017-11-14 15:06] prasadmamidi7 opened #2382 "Can I consume .net WCF service in .net core ?"
Hi

Can some one tell whether we can consume .net WCF service in .net core 2.0 ?

.net WCF service
---------------
- WCF duplex service published using netTcpBinding and wsDualHttpBinding

I want to consume this service in asp.net core .
 Is It possible and how
 If not what are the current limitations.

[2017-11-14 17:03] Joebeazelman commented on #2382
I am assuming you want to build a client to talk to a preexisting WCF service.  Make sure you are using Visual Studio 2017.  Although the article is discussing WCF soap services, it should work the same.  The extension will generate code that gets compiled into a client you can call.  Here's the article:

https://medium.com/@narinkaew/using-wcf-soap-services-in-net-core-fb13180c4eda

[2017-11-14 19:44] mconnew commented on #2368
You can find the example code in a gist [here](https://gist.github.com/mconnew/0af8e688cedc32669a8e44a53fcbaa4a), The type `SimpleServiceClient` is a client created by the WCF connected service VS extension against a basic service. The operation `DelayedResponseAsync` just sleeps for the amount of time that was passed. This code is fragile and will break on the next release. Would switching to Web

[2017-11-14 19:58] Joebeazelman opened #2383 "There's no way to update your client code in WCF .NET Core once it has been generated."
Sigh...  Again, Microsoft masterfully lets me down.  Although the code generates with a fewer hiccups, you have delete client code and add it again.  Why is this broken?  This has nothing to do with .NET Core!  It's a just a tool that interfaces with VisualStudio and doesn't involve .NET core.

[2017-11-14 20:18] Joebeazelman opened #2384 "WCF Client generator requires a build before it will generate code."
Unlike previous versions, the client generator requires a complete build of the project before it even attempts to generate any code.  If the build fails, it fails.  Why?  Previous versions never had this requirement and even svcutil.exe generated code without any knowledge of the environment.  If there's some reason it is broken, then at the very least put up a dialog or launch a browser says "We

[2017-11-14 23:38] mlacouture commented on #2314
@outadoc, thank you very much for the updated wsdl files.

I just verified and confirmed we have a fix for this issue, it will be available in Visual Studio 2017 15.6 Preview 1 which is to be release in less than a month from now.

[2017-11-14 23:52] mlacouture commented on #2384
Hi @Joebeazelman

You hit this problem because the WCF Web Service Reference connected service provider, unlike other tools, checks types in the current project in order to determine whether these types can be reused when generating the service reference file.  You can bypass this check by unselecting the 'reuse types' in the data types option page.

hope this helps,
Miguel Lacouture
[MSFT]

[2017-11-15 00:05] mlacouture commented on #2383
Hi @Joebeazelman, the "service reference update" feature in the WCF Web Service Reference connected service will be available with Visual Studio 2017 15.6 Preview 1 which is scheduled to be released in less than a month.

[2017-11-15 00:15] mlacouture commented on #2382
Hi @prasadmamidi7

Yes, as @Joebeazelman mentioned (thank you very much), the [WCF Web Service Reference](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) connected service is the tool you are asking for.  Please let us know if you hit any problems.

thanks,
Miguel Lacouture
[MSFT]

[2017-11-15 00:23] Joebeazelman commented on #2269
I stumbled on this problem and discovered it is related to file permissions.  I got the can't find endpoints, but when I clicked the GO button, I got another error message saying it couldn't find part of path to a file.  This error message is utterly useless!  It didn't tell me what file it was looking for as the wsdl file had @imports referenced.

Oddly enough, when I moved my folder outside visu

[2017-11-15 00:39] mlacouture commented on #2381
Hi @Joebeazelman

I can understand your frustration.  Visual Studio is a very rich environment that supports developing code for different technologies (C#, C++, Web, .Net Framework, .Net Core Framework to name some) and also provides the tools to make it easier to work with the different project templates designed for these technologies.

As you could imagine, we are busy working on the new tools

[2017-11-15 00:47] mlacouture commented on #2377
@Joebeazelman the reference.svcmap file is not intended for manual updates, it is used by the 'Add Service Reference' tool to be able to update the project when requested.

It seems that what you want to do is to update your service reference and the way to do that is by selecting the 'Add Service Reference' option from the project references item's context menu.

Hope this helps,
Miguel Lacouture

[2017-11-15 01:11] mlacouture commented on #2380
@Joebeazelman

Thank you for your feedback.

This GitHub repository is explicitly for WCF in .Net Core Framework.  Although we sometimes might be able to help with WCF issues for other frameworks it is not always possible.

In this case your feedback about the issues you are experiencing with your UWP project need to be tracked with a separate system internally and I'll make sure to reroute this i

[2017-11-15 01:11] #2380 closed

[2017-11-15 01:19] mlacouture commented on #2376
Hi @Joebeazelman

Thank you for your feedback.  Can you be more specific about what's broken? is it the naming convention that you are not ok with? if so, it is the same naming convention <servicename+client> for the generated client used by other service reference generation tools from Microsoft, all these tools use the same runtime code base.  The 'client' part is added to the service name to co

[2017-11-15 01:27] mlacouture commented on #2369
Hi @CodyLuck

Thank you for reporting this issue.  The [WCF Web Service Reference](https://github.com/dotnet/wcf/blob/master/release-notes/WCF-Web-Service-Reference-notes.md) connected service tool is now part of Visual Studio 2017 starting with the [v15.5 Preview 1](https://blogs.msdn.microsoft.com/visualstudio/2017/10/11/visual-studio-2017-version-15-5-preview/) release and a fix for this issue

[2017-11-15 01:33] mlacouture commented on #2197
Update: A fix for this issue will be available in Visual Studio 2017 v15.6 Preview 1.

[2017-11-15 04:25] zhenlan commented on #2369
BTW, @CodyLuck, from the error, looks like you are not even updated to the last build we released on [VS Marketplace](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService#overview). We have added 2.0 support for a while. But as @mlacouture said, please consider upgrading to VS 15.5 to get our latest bug fixes/features.

[2017-11-15 05:28] zhenlan commented on #1753
@gergo123, just to make sure it's clear, the workaround @mlacouture suggested does not need you to manually delete the existing reference.cs - all you need is to restart the WCF Connected Services tool and input the same namespace in the bottom box of the first page of the wizard. The tool will overwrite the existing reference.cs.

[2017-11-15 05:30] zhenlan commented on #2383
Duplicate of #1753

[2017-11-15 05:30] #2383 closed

[2017-11-15 05:49] zhenlan commented on #2225
The particular issue of "schema validation error" was fixed in [VS 2017 v15.5 preview](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes). Please let us know if this solves your issue.

[2017-11-15 08:15] prasadmamidi7 commented on #2382
Hi mlacouture

I was specifically looking for consuming WCF **duplex** service published using wsDualHttpBinding

I need to make a decision whether we can use asp.net core 2.0 as technology for our new project. As part of it I need to understand the support for consuming the WCF services. Can you please answer below questions.

1) WCF Web Service Reference tool is not generating client code for ws

[2017-11-15 09:08] JKennedy24 commented on #2225
@zhenlan Thanks for letting me know.

I haven't got VS preview installed but I will wait for that version to go stable and let you know if it solves it

[2017-11-15 19:41] Joebeazelman commented on #2269
OK. I spent part of my day tracking down the source of the problem instead of working on my own project which already past the delivery date.  Please realize how much of a nice guy I am.

It turns out that my suspicion was incorrect. It isn't related to a permission issue, but related to Microsoft programmers trying to rewrite code that was already in production and served its customers for years,

[2017-11-15 19:58] Joebeazelman commented on #2376
No.  No.  The old version generated the correct name for the client, RateService.  No one ever complained about it and it worked. The new implementation is  not based on the Service name "RateService." It generates RatePortTypeClient, which makes no sense.  Did you guys get my wsdl files?

[2017-11-15 20:13] Joebeazelman commented on #2381
You guys need to focus on getting ,NET consolidated and working, not reinventing the wheel  The WCF Web Service Reference worked and is  part of visual studio for Windows, not the Framework.  At most, it needed some tweaks to its code generation, not an entire rewrite.  There's no reason why it has to use the same code base as its target.  This is a lot of unnecessary work and duplication of effor

[2017-11-15 20:29] wsnell commented on #2384
How does it reuse types? Are the types specific to the generated class scope or global or what?
This needs better documentation...
Thx
-Wes

[2017-11-15 20:35] wsnell opened #2386 "WCF with Websockets on .NET Core 2.0"
I'm trying to find out how/if WCF with Websockets on .NET Core 2.0 is supported.
1.  I see release notes from your team there is support, but I see zero documentation or details or examples.
2. What is available and how does it work?
3. Can I use the WebSocket as a duplex connection?  I would like to be able to use WCF and call into the websocket with commands as well for async results.
4. IN gene

[2017-11-15 20:44] wsnell commented on #2381
I don't understand why the new connect web service reference tool generates code that is completely different than the add web service reference tool. I don't want async calls I want to also support synchronous calls one after the other in my own thread.  How can I do that now in .NET Core?
I don't want an async interface...  How do I do this and get the code generation to look just like it did in

[2017-11-15 20:46] wsnell commented on #2378
Cool... What is the name in NuGet and do you have documentation with it?  Can I use it in a console based .NET Core app (not ASP .net core)?
Thanks

[2017-11-15 21:47] zhenlan commented on #2365
@blair55, I heard your request for message security support loud and clear (btw, please upvote #8). Unfortunately, this needs some fundamental pieces from another team and this was not committed. This is why not much progress was made for this feature.

[2017-11-15 21:58] mlacouture commented on #2225
Hi all @IonRobu @meancrazy @JKennedy24 @curiousmindthinking

We took a second look at this issue and we want to make sure it has been addressed correctly as there seems to be some confusion.

The initial problem reported by @IonRobu is about an error when building the solution: `Error:The solution cannot be built, please try to rebuild the solution and fix any build problems.`

The issue reported

[2017-11-15 23:42] wasabii commented on #2378
https://www.nuget.org/packages/Cogito.AspNetCore.ServiceModel/0.1.0-unstable0035

It requires the full framework. It's real WCF.

[2017-11-16 08:39] JKennedy24 commented on #2225
@mlacouture
I am seeing the

When adding a WCF Service to a .Net Standard 1.4 project using the WCF Extension.

Initially I thought this problem was to do with the solution I was adding the WCF service to, so spent a lot of time trying to work out what the error was.

But then found this bug saying that this actually means there are errors in the xml schema of the service you are trying to add

[2017-11-16 11:18] CodyLuck commented on #2369
Hello. Installed VS 15.5 and problem became worse. Now service reference are not created on any .net standard project. Plugin, which creates service reference doesn`t see any wcf services in solution, but easily creates on .net framework projects.
![normasreference](https://user-images.githubusercontent.com/26362826/32888607-de4cc1b8-cad8-11e7-8965-d5eb8fd4a2b5.PNG)

Plugin doesn`t see wcf service

[2017-11-16 11:25] icardosos commented on #2368
@mconnew , althouth your code works I'm not able to use it in my project because I don't want to call an endpoint twice and I can't change that service either.

I've already try to change to a development build from myget but it didn't work, I created the project and the proxy by the WCF connected service it compiles but I got a runtime error seems like the proxy is looking  for another version of

[2017-11-16 11:36] kinsen opened #2388 "Build Error,Error no assets were resolved from NuGet packages"
I am hitting errors building on mac 10.13.1
[code]
msbuild.log
[code]

Anyone have any ideas about this? Any pointers to what the issue may be?

[2017-11-16 17:45] slavah opened #2389 "WCF Core does not provide control over HTTP Header KeepAlive using HttpTransportBindingElement"
Hi, we need to be able control KeepAlive header.
For example, when connecting to IP camera through ONVIF (SOAP based) protocol, we need to remove KeepAlive header in request.
Functionality required is similar to classical WCF implementation:  [HttpChannelFactory.cs](https://github.com/Microsoft/referencesource/blob/master/System.ServiceModel/System/ServiceModel/Channels/HttpChannelFactory.cs
)

He

[2017-11-16 19:24] tarekgh opened #2390 "How to debug the source code of ServiceModel.Http (4.4.0) using Visual Studio 2017"
@Petermarcu commented on [Fri Oct 27 2017](https://github.com/dotnet/corefx/issues/24918)

@SCKlausZ commented on [Thu Oct 26 2017](https://github.com/dotnet/core/issues/1048)

Visual Studio 15.3.4
.net core 2.0.0
System.ServiceModel.Http NuGet package 4.4.0

I'm having a strange transient error when calling a web service and I would like to step into WinHttpHandler (and WinHttpRequestCallback) to

[2017-11-16 19:51] napalm684 commented on #1810
Has anyone figured out a work around?  I can get the action to occur via the SOAP call but the response is what is failing.  Even if I could get the string of the response (which is in the exception message) I could parse what I need out of it as a short term fix.

[2017-11-16 21:37] zhenlan commented on #2368
After you ran WCF connected service, please update your .csproj to the version of System.ServiceModel.* packages to the version you want to use from myget (suppose you already added the myget feed to the list of your package feeds).

[2017-11-17 00:19] felipecaputo commented on #1810
not yet :(

[2017-11-17 02:07] StephenBonikowsky opened #2392 "Investigate assert in test."
src/System.Private.ServiceModel/tests/Scenarios/Contract/Service/ServiceContractTests.cs
public static void BasicHttp_Abort_ChannelFactory_Operations_Active()

The following Assert may never evaluate as false...

`Assert.True(exception1 != null || actualEcho1 != null, "First operation should have thrown Exception or returned an echo");`

[2017-11-17 10:18] xprzemekw commented on #1200
to the rescue, at least on windows?
https://blogs.msdn.microsoft.com/dotnet/2017/11/16/announcing-the-windows-compatibility-pack-for-net-core/

[2017-11-17 11:14] SamuelCox commented on #1200
@xprzemekw Unless I missed something, WCF isn't in there.

[2017-11-17 12:24] olilanz commented on #1200
2 minutes into the presentation there is a slide where WCF is listed. It’s on the slide, but not yet in the compatibility pack. Remain filled with hope.

[2017-11-17 13:59] SamuelCox commented on #1200
@olilanz Ah my mistake, thanks for that.

[2017-11-17 18:50] #2372 closed

[2017-11-17 18:50] #2374 closed

[2017-11-17 18:50] #2373 closed

[2017-11-17 18:54] StephenBonikowsky opened #2393 "Get real signed 2.0.0 package for Core Compat release"
Built, Signed and published a servicing versioned package of System.ServiceModel.Primitives containing the NetFx compatibility shim System.ServiceModel.

[2017-11-17 18:54] #2393 closed

[2017-11-17 19:45] #2390 closed

[2017-11-17 19:49] zhenlan commented on #2389
@mconnew can you please review this?

[2017-11-17 20:22] StephenBonikowsky commented on #2388
Hi @kinsen our primary workflow is to build on Windows and run on all supported platforms which includes OSX 10.13.0, unless there is some significant change I would expect it to also work on 10.13.1

It should also build fine all supported platforms, however; since we don't do this regularly we can't guarantee that the .sh scripts are up-to-date.

As a rule you want to run them in order..
- clean

[2017-11-17 20:50] zhenlan commented on #2378
@wasabii what you did is very interesting. However, as you noticed, the support of WCF server side on core is pending the decision of #1200, so I am closing this issue at this point.

[2017-11-17 20:50] #2378 closed

[2017-11-17 20:54] zhenlan commented on #1200
The compat pack contains only existing WCF client packages.

[2017-11-17 21:53] mlacouture commented on #2369
Hi @CodyLuck

It seems you hit a different issue which is the WCF connected service cannot start the local WCF host (IIS Express) and for which we have a fix to be available in the Visual Studio 2017 15.6 Preview 1 release.  You can work around this problem by manually starting the WCF host: right click the service file (<filename>.svc) in the corresponding project and select 'View in Browser' opt

[2017-11-19 08:33] jbogard commented on #1200
Outside of pulling ALL of WCF in, which is quite large, has there been any consideration given to just the pieces that don't exist easily? Like a targeted TCP API? That just does those transports, does them well, and doesn't try to build an uber-abstraction that WCF tried so very hard to do?

Most of the other stuff I'm usually only forced to use in legacy scenarios, and have moved on to better, m

[2017-11-20 17:20] cgountanis opened #2398 "HttpBinding HttpClientCredentialType.Windows IIS10 - Core 2.0"
Trying to connect to SSRS Execution. Works fine on my development machine, soon as I move to IIS I get errors with the same exact remote SSRS server. Any tips tricks, most of the help from Google is the old way of doing it with XML file configurations. What really gets me is that it works from my development machine using IISExpress, why not on a TEST Server using IIS?

AppPool No Managed Code

Th

[2017-11-20 19:31] mlacouture commented on #2225
thank you @JKennedy24! are you able to share the service URI or to provide wsdl files so we can try to reproduce and investigate your build issue?

[2017-11-20 19:37] mlacouture commented on #2384
@wsnell, please refer to the [WCF Web Service Reference](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) documentation.  thanks,

[2017-11-20 19:40] mlacouture commented on #2376
@Joebeazelman, I'll take a second look as soon as I have a chance ...

[2017-11-20 20:00] mlacouture commented on #2382
@prasadmamidi7, `WSDualHttpBinding` is not yet supported in the .Net Core Framework, refer to [WCF features in .Net Core 2.0](https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.0.0.md) for the latest feature set; and the GitHub documentation for the [WCF Web Service Reference](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) for

[2017-11-20 20:15] mlacouture commented on #2381
@wsnell, thank you for your feedback.  Although the WCF Web Reference connected service (WC CS) provider works similarly to the Add Service Reference tool, these tools have some differences, the main being they are designed for different frameworks; the former is designed for .Net Core Framework, while the latter for the desktop .Net Framework.

The WC CS tool, targeting a more modern framework, t

[2017-11-20 22:23] mconnew opened #2400 "Add support to use externally provided HttpClient/HttpClientHandler"
## API's involved
There are 2 existing API mechanisms which could be used to achieve this.

#### BindingParameterCollection
A developer could create a class which implements `IEndpointBehavior`. In the `AddBindingParameters` method, they would add the relevant instance to the `BindingParameterCollection`. This would look like this:
[code]
This is a naïve implementation, e.g. `HttpClient` needs to

[2017-11-20 23:22] wsnell opened #2401 "Cannot find WCF service endpoint in a project containing WCF service (.NET 4.61) and client (.NET Core 2.0) - Discover feature broken"
Cannot find WCF service endpoint in a project containing WCF service (.NET 4.61) and client (.NET Core 2.0), using latest WCF Connected Service Generator tool built into 15.5 Preview 2.
I would expect for it to search the solution looking at all projects and find my service for import.  Instead it cannot find anything and the only way for me to find the service is to run the service and brose for

[2017-11-20 23:24] wsnell opened #2402 "New Connected Service tool should allow for update of an existing service interface."
New Connected Service tool (15.5 Preview 2) should allow you to see and update of an existing service interface (if it changes), just like the previous tool does on the full frame work.  Otherwise you have to delete and then regenerate.  I prefer the menu item that you had before as it is safer and clearer.
Thanks
-Wes

[2017-11-20 23:26] wsnell opened #2403 "Need for WCF service for .NET Core 2.0 Projects"
Need for WCF service for .NET Core 2.0 Projects (now we only have support for clients).
Today I am able to create a WCF service with the full .NET Framework (4.6), but I want to move all of my service stuff to Linux or Windows as needed so .NET Core would be awesome.

Please add the full WCF service support ASAP.
Thanks
-Wes

[2017-11-20 23:28] wsnell opened #2404 ".NET Core 2.0 WCF client is unable to use a secure connection with a WCF .NET Full service"
.NET Core 2.0 WCF client is unable to use a secure connection with a WCF .NET Full service.  I don't think all of the pieces are there.  Or maybe you simply need to write up documentation how to do this along with sample code.

[2017-11-20 23:29] wsnell opened #2405 ".NET Core 2.0 WCF has horrible documentation"
.NET Core 2.0 WCF has horrible documentation, almost none.  So I don't know what exactly is supported, what is not and running sample code that I can refer too.  I like WCF, but this is sorely needed.
Thanks
-Wes

[2017-11-20 23:57] mconnew commented on #2386
1. The documentation/usage is the same for .Net core as it is on the full framework. A good starting point is [this](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/wcf-and-websockets) documentation for the full framework. We also have some [scenario tests here](https://github.com/dotnet/wcf/blob/2c421e6e1af634938071cfc07204e4c9d68ca749/src/System.Private.ServiceModel/tests/S

[2017-11-20 23:58] amodi2 opened #2407 "dotnet-svcutil generates incorrect interface method (.NET Core 2.0 and Duplex NetTcpBinding issue)"
I have a .NET Core 2.0 WCF client that is talking to an .NET 4.5 WCF service that uses NetTcpBinding with Duplex callbacks. I have followed all the instructions (and used the WCF connected service plugin to generate the client code). Everything works fine and I am able to make calls to the service, except for the fact that I only get one callback from the server and after that my client is waiting

[2017-11-21 01:31] zhenlan commented on #2293
@pardhumeduri we just released to nuget.org an update of `System.ServiceModel.Primitives` package, which contains the `System.ServiceModel.dll` shim you would need. Can you please update your project to reference this package and see if it solves your problem?

https://www.nuget.org/packages/System.ServiceModel.Primitives/4.4.1-servicing-25917-01

[2017-11-21 01:46] pardhumeduri commented on #2293
Sure .. will try and update you back.

On Nov 20, 2017 8:31 PM, "Zhenlan Wang" <notifications@github.com> wrote:

[2017-11-21 07:19] zhenlan commented on #2403
@wsnell please share your feedback on #1200.

Duplicate of #1200

[2017-11-21 07:19] #2403 closed

[2017-11-21 07:23] zhenlan commented on #2402
@wsnell we are working in progress on this feature. In the meanwhile, please use an workaround discussed in #1753.

Duplicate of #1753

[2017-11-21 07:23] #2402 closed

[2017-11-21 08:10] shamusfuller commented on #2403
they can't! Core is not .NET!

[2017-11-21 08:30] shamusfuller commented on #1200
If by transports you mean WCF handles location transparency well then yes that is correct. But, there is no uber try. WCF is an interception based execution pipeline. There's no try, only do in that aspect. you say it did/does/will not? Please say more so we may understand.

Legacy scenarios?! Other stuff? You've moved on to better? More obvious and does what WCF does?! Like what? I ask, because I

[2017-11-21 09:21] JKennedy24 commented on #2225
@mlacouture if you let me know an email to send the endpoint to I will happily email you one to test

[2017-11-21 14:46] arishlabroo commented on #1892
@hongdai , is there a workaround till next release? especially if windows/full-framework is not available.

[2017-11-21 15:03] cgountanis commented on #2398
https://stackoverflow.com/questions/47416234/core-2-mvc-wcf-to-ssrs-execution-project-needs-administrator-iis-apppool-to-wo

[2017-11-21 17:28] darrelmiller commented on #1200
The irony here is that WCF exposes services/contracts using what was supposed to be a platform/technology independent approach.  Therefore anybody was supposed to be able to come along and write compatible services in any tech they wished that implemented those SOAP/WSDL/WS-* contracts.  If the SOA ecosystem promised by WCF (and similar tech from other vendors) had been fulfilled then there would

[2017-11-21 17:55] zhenlan commented on #1892
@arishlabroo the fix can be obtained through VS2017 v15.5 preview.

[2017-11-21 20:27] mlacouture commented on #2401
Hi @wsnell

Thank you for reporting this issue. I'm glad to let you know that we have a fix for this issue which will be available with the release of Visual Studio 15.6 Preview 1 sometime in December.

Miguel Lacouture

[2017-11-21 21:02] mlacouture commented on #2376
@Joebeazelman I tried the FedEx RateServiceDefinition.wsdl and both tools, the Add Service Reference (ASR) tool for .Net Framework projects and the WCF Web Service Reference (WCF CS) tool for .Net Core projects, generate code with the same naming convention, here my generated client classes:

ASR:
` [System.CodeDom.Compiler.GeneratedCodeAttribute("System.ServiceModel", "4.0.0.0")]
    public parti

[2017-11-21 21:50] mlacouture opened #2410 "WCF Web Service Reference tool fails when WSDL file path contains spaces"
This issue was reported by @Joebeazelman as a comment for [issue#2269](https://github.com/dotnet/wcf/issues/2269) which is unrelated:

[2017-11-21 21:59] mlacouture commented on #2269
Created issue #2410 to track the wsdl file path issue, closing this one as it seems the original issue has been resolved.

BTW: we have made several improvements to the was the tool resolve metadata documents, like resolving references (remote or local), these fixes will be available with the release of Visual Studio 2017 15.6 Preview 1.

[2017-11-21 22:50] mlacouture commented on #2225
@JKennedy24 , please use this email address: mlacouture2017@outlook.com - thanks,

[2017-11-22 02:03] zhenlan commented on #2405
Hi @wsnell, WCF .NET Core shares the same API surface of WCF .NET Framework except it's a subset because WCF .NET Core supports client scenarios only. Since WCF on .NET Core needs to talk with WCF service on .NET Framework, WCF .NET Core maintained as much compatibility as possible with .NET Framework. Therefore, all existing client-related WCF documentation applies to WCF on .NET Core too.

You c

[2017-11-22 02:21] zhenlan commented on #2404
Hi @wsnell, WCF on .NET Core does support a variety of security and authentication features. Please refer to our 2.0 supported features document below for a complete list. If you have any specific issue, please open an issue accordingly with details.

https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.0.0.md

[2017-11-22 02:21] #2404 closed

[2017-11-22 05:07] bsmithb2 opened #2411 "Azure ServiceBus/WCF Relay Binding"
Hi,

I'm currently trying to integrate with an Azure Service Bus Relay implementation with dotnet core WCF, and I can't work out  how to implement the TransportClientEndpointBehaviour so I can add the SAS Token Provider.

Also, I can'tcreate a TCPRelay Binding or a HTTPRelayBinding to connect up like we've done in the past in the .net framework.

Is there any advice or suggested examples and readi

[2017-11-22 08:38] Kirin2017 opened #2412 "How to call a connected WCF service in Visual Studio 2017 community version in a Windows application?"
Hello Team,

Please note that I have consumed a wsdl as a service reference [ServiceReference1] in a Windows application Form in Visual Studido 2017 community edition. I wanted to make use of some methods provided by the web service.

Please can you inform me how I can do it as I cannot even call the soap client via ServiceReference1 namespace?

Please advise.

[2017-11-22 13:19] westito commented on #2076
Still not working for me. Neither on .Net Standard 2.0, neither on 1.4

Error:The solution cannot be built, please try to rebuild the solution and fix any build problems.
Failed adding Microsoft WCF Web Service Reference Provider - Preview to the project.

No other helping message.

[2017-11-27 19:28] mlacouture commented on #2225
Update: Thank you @JKennedy24  for providing the requested information, this problem does not reproduce using Visual Studio 2017 15.5 Preview 3.

[2017-11-27 19:30] mlacouture commented on #2225
I'm going to resolve this issue as it seems we have provided solutions for the schema problem and the build problem, please try Visual Studio 15.5 Preview or get ready for the official release soon to be available.  If you still see these problem in the recent releases then please reactivate.

Thank you all for helping us make Visual Studio better.

Miguel Lacouture

[2017-11-27 19:39] mlacouture commented on #2412
Hi @Kirin2017
Just to make sure we understand your problem, what do you mean by 'cannot call the soap client'? are you getting an network error or is it that your application does not compile? please provide specific details about your problem.

Also, did you create your windows application project from one of the .Net Core templates or from one of the classic .Net Framework template? did you use

[2017-11-27 21:34] jjintelity commented on #2368
Thanks @mconnew the reflection solution works.
Will that solution break in next release?

[2017-11-27 21:36] jpjohnson commented on #2368
Thanks @mconnew, the reflection solution worked!

Will that solution break in the next release?

[2017-11-28 01:28] mconnew commented on #2368
@jpjohnson, yes it will break in the next release, but the next release won't have this problem. In the next release we don't use a DelegatingHandler as the handler in HttpClient so you could add code similar to this at line 29 of the gist:
[code]

[2017-11-28 09:06] JKennedy24 commented on #2225
@mlacouture  I just installed VS 2017 Preview 4 and tried to add the service to my .Net Standard 1.4 library but game the same error.

Got the MIcrosoft WCF Web Service Reference Provider - Preview (0.5.10808.800) installed

and still getting the same "Cannot build solution" error. No doubt this is something wrong with my setup this end.

Have you got any ideas?

[2017-11-28 10:18] taspeotis commented on #2269
@mlacouture Hi, thanks for the assistance on this one. I'm trying to generate a service proxy using this tool for a `.wsdl` file that has *no* endpoints. (These files are generated by the government, we get what we're given.)

If you have time, could you please confirm that a) these fixes will permit me to import my `.wsdl` file without modifications (just like *Add Service Reference* does) and b)

[2017-11-28 12:26] Tragedian commented on #2400
I don't think setting a single handler is compatible with the current implementations which assume ownership of the handler. It might be easier if it were possible to supply instead a factory to create and customise `HttpMessageHandler` instances as required by the channels. Something as simple as a `Func<HttpMessageHandler>`, unless we want opportunities to customise the handler based on some con

[2017-11-28 14:15] akhilesh78 opened #2415 ".Net Framework 4.7.1 not supported by wcf reference provider"
Visual Studio 2017
ASP.NET **Core** MVC project
Target: .NET Framework 4.7.1

Importing web service metadata ...
Number of services found: 1
Error:The project 'c:\users\aagarwal.jba\source\repos\WebApplication1\WebApplication1\WebApplication1.csproj' does not target a supported .Net Core or a .Net Framework version. The supported framework versions are as follows: netcoreapp[1.0-2.0], netstandard[

[2017-11-28 15:56] jpjohnson commented on #2368
Thanks @mconnew, looking forward to next release.

[2017-11-28 19:01] mlacouture commented on #2225
@JKennedy24, the WCF Web Service Reference connected service provider is part of Visual Studio starting from the VS 2017 v15.5 Preview 1 release.  It sounds like you are still using an old version of the tool.  See the [WCF Web Service Reference release notes](https://github.com/dotnet/wcf/blob/master/release-notes/WCF-Web-Service-Reference-notes.md) for more details.

[2017-11-28 19:14] mlacouture commented on #2269
Hi @taspeotis!  Yes, this tool provides the same functionality as the Add Service Reference tool for classic .net framework projects, see the [WCF Web Service Reference usage](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) for more details.

Visual Studio 2017 15.6 Preview 1 is scheduled to be released the first or second week of December along with the

[2017-11-29 08:55] JKennedy24 commented on #2225
@mlacouture  I have uninstalled any Extensions of the WCF Web Service Reference Provider. So I am just left with the one that comes with VS Preview and I am still getting the `Cannot Build` error.

I have VS 2017 Preview 2 insalled -Version 15.5.0 Preview 4.

Could this be a regression bug from Preview 1 to preview 2? or is something in my setup screwed

[2017-11-29 18:57] mlacouture commented on #2225
@JKennedy24 if the project you are adding the service reference to doesn't build then that's the problem.  The recommendation is to fix the build problem of course, but you can work around this and add the service reference by disabling the `Reuse types in referenced assemblies` option in the second page of the wizard will cause the tool not to build the project.

[2017-11-29 19:08] mlacouture commented on #2225
reopening until we have resolved @JKennedy24 issue ...

[2017-11-29 21:33] mlacouture commented on #2415
@akhilesh78 thank you for reporting this issue.  What version of Visual Studio 2017 are you using? would you be able to try to reproduce this problem in Visual Studio 2017 v15.5 Preview 4? we have made several fixes on this area and it seems to me you are using an old version of the tool.

Miguel Lacouture

[2017-11-30 08:33] JKennedy24 commented on #2225
@mlacouture  That worked. Thanks for your help. (The build error was a third party error so unfortunately I couldnt fix it).

[2017-11-30 18:23] mlacouture commented on #2225
@JKennedy24 I'm glad you found a solution, thank you for taking the time to help us make a better Visual Studio.  closing now.

[2017-11-30 18:23] #2225 closed

[2017-11-30 20:30] colonelchlorine commented on #31
Think this is blocking me from communicating to government web services communication as well. Tried using "[Microsoft WCF Web Service Reference Provider](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService)" for Core, and it used a CustomBinding with the HttpsTransportBindingElement. Works for small payloads, but as soon as it gets above some size (~16k

[2017-12-01 09:07] lukaszkruszka opened #2417 "operation time out exception after 30 seconds"
I can not handle the AIF interface with Dynamics AX 2012 R3. Large amounts of data are returned in a long time. I set up the HttpBinding configure for 10 minutes but after 30 seconds I get an operation time out exception.
I created identical scripts and launched under Core 2.0 and full framework 4.6.1.
At full framework everything works.

[2017-12-01 10:53] atanevski opened #2418 ".net core 1.1 --> FaultException: Validation error"
I have the following code for the client where I added the security header (https://github.com/dotnet/wcf/issues/2211)
![image](https://user-images.githubusercontent.com/15204761/33479692-4bf07e56-d68e-11e7-81f2-9ff16cc894ba.png)

and when i try to execute i am getting this exception
![image](https://user-images.githubusercontent.com/15204761/33479591-f813a5a6-d68d-11e7-8840-c15dd6bad2eb.png)

Any

[2017-12-01 12:43] #2418 closed

[2017-12-01 12:43] atanevski commented on #2418
Deleted.

[2017-12-01 19:25] zhenlan commented on #2417
Duplicate of #2368

[2017-12-01 19:25] #2417 closed

[2017-12-01 19:32] zhenlan commented on #2411
@bsmithb2 this won't work on .NET Core because WCF needs message security feature from System.IdentityModel, which is not available on .NET Core.

[2017-12-01 19:32] #2411 closed

[2017-12-01 19:35] zhenlan commented on #2407
@amodi2 could you please share a repro with us so we can take a further look?

[2017-12-01 19:53] #2386 closed

[2017-12-01 19:56] zhenlan commented on #2353
@StephenBonikowsky can you please double check and close this issue if the test is not failing anymore?

[2017-12-01 19:58] zhenlan commented on #2348
@StephenBonikowsky can this be closed now since dotnet/corefx#24777 is merged?

[2017-12-01 20:02] #2405 closed

[2017-12-01 20:03] zhenlan commented on #2367
@BrettKoenig Please let us know if you have further information. Closing for now.

[2017-12-01 20:03] #2367 closed

[2017-12-01 23:15] #2382 closed

[2017-12-01 23:17] #2381 closed

[2017-12-01 23:19] zhenlan commented on #2377
Just add a note, reference.svcmap is generated by the conventional "Add service reference" tool, which is not for .NET Core.

[2017-12-01 23:19] #2377 closed

[2017-12-01 23:20] #2376 closed

[2017-12-01 23:21] #2369 closed

[2017-12-02 17:11] akhilesh78 commented on #2415
I used Visual Studio 2017 15.4.5 version and yes the issue is reproducible on this version with a new project.

When testing with Visual Studio 2017 15.5 Preview 5 release, it does work with .NET Framework 4.7.1.

Do you have an updated nuget package to make this work on Visual Studio 2017 15.4.5 ?

Thanks,

Akhilesh Agarwal

[2017-12-03 03:15] Joebeazelman commented on #2384
Please don't baloney me after all the trials and tribulations I have gone through!  This crappy malware requires a build even if you explicitly tell it not to reuse types!

[12/2/2017 10:09:46.057 PM] Adding Microsoft WCF Web Service Reference Provider - Preview to the project.
[12/2/2017 10:09:46.057 PM] Importing web service metadata ...
[12/2/2017 10:09:46.075 PM] Number of services found: 1
[1

[2017-12-03 08:39] learn9969 opened #2420 "how can you run this from command line."
Hi there
I have tried wcf connected services and it works,however I would like to be run from command line whenever my solution is build.

Is this possible. Tried svcutil and it generates duplicates classes whilst wcf connected services doesnt

suggestions?

[2017-12-04 13:29] hoffmanjon opened #2421 "SOAP service with WS-Security policies"
I am trying to interact with a web service that implements ws-security using certificates.  My preference would be to use the service reference tool within Visual Studio 2017 to create the connection code however when I create the service reference the EndpointConfigutation file is not created.

I opened up a question in the WCF MSDN forum about this and was told the Windows UWP implementation of

[2017-12-04 19:18] zhenlan commented on #1345
This is working in progress in https://github.com/dotnet/wcf/tree/dev/svcutil/src/svcutilcore.

[2017-12-04 19:29] zhenlan commented on #2420
@learn9969 thanks for the feedback. Yes, this is on our plan.

cc: @mlacouture

Duplicate of #1222

[2017-12-04 19:29] #2420 closed

[2017-12-04 20:24] #2388 closed

[2017-12-04 20:40] mlacouture commented on #2384
@Joebeazelman, you are using an old version of the tool.  This was fixed with the release of the tool in Visual Studio 2017 15.5 Preview 2.  Will you be able to try VS 2017 15.5 Preview 2 or a more resent release? you can find more information in the [VS 2017 Release Notes](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#WCFTools).

thanks,

[2017-12-05 09:26] jannavarro opened #2424 "System.ServiceModel.Configuration option for .Net Standard 2.0"
#2236 says that System.ServiceModel.Configuration is not in the .Net Core version. I have a project targeting .Net Standard 2.0. Are there any options for me to be able to use System.ServiceModel.Configuration?

Is there any .Net Standard version available?

[2017-12-05 18:35] mlacouture commented on #2384
[VS 2017 15.5 RTW](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#WCFTools) is now available.

thanks again for helping us deliver a better Visual Studio!

[2017-12-05 18:39] mlacouture commented on #2415
@akhilesh78, we currently don't have any plans to port the tool back to previous versions of Visual Studio.  The good news is that [Visual Studio 2017 15.5 RTW](https://github.com/dotnet/wcf/issues/2384) is now available!

[2017-12-05 18:39] #2415 closed

[2017-12-05 19:01] mlacouture commented on #2197
I have to take my last comment back, sorry about that.  I meant to update a different issue.  But this issue is high in our priority list ...

[2017-12-05 19:22] mlacouture commented on #2238
This has been fixed in[ Visual Studio 2017 15.5](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes#WCFTools).

thank you for helping us deliver a better Visual Studio!

[2017-12-05 19:22] #2238 closed

[2017-12-06 08:10] RG2712 commented on #1725
still not able to add WCF reference in VS 2012.  I am using ASP.Net Web Application(.Net Framework) MVC application. My VS version is Enterprise 2017 version 15.4.5

The problem I am facing is while adding the service reference in web project, its not adding endpoints in web.config file. And when am trying to add the service reference in class library project it showing the error:
"url does not ha

[2017-12-06 08:12] RG2712 opened #2428 "Not able to add WCF reference to class library in VS2017"
I am able to add WCF reference in VS 2012. I am using ASP.Net Web Application(.Net Framework) MVC application. My VS version is Enterprise 2017 version 15.4.5

The problem I am facing is while adding the service reference in web project, its not adding endpoints in web.config file. And when am trying to add the service reference in class library project it showing the error:
"url does not have val

[2017-12-06 10:30] thuannguy commented on #31
I have developed many WCF applications for my enterprise customers and all of them make use of WSTrust. Not having support for WSTrust is obviously the biggest road blocker from migrating to .Net core. Hope that this will be supported soon :smile:

[2017-12-06 16:56] Citizen39 opened #2429 "Can't Remove WCF Web Service Reference Provider - Preview Extension"
I just updated my VS Ent. from 15.4.? to  15.5.0. I previously had the Preview of the WCF Web Service Reference Provider installed. With the update, I now have two instances of the extension.

I can't seem to get rid of the Preview extension, which shows up when adding a connected service.

![2017-12-06 09_58_39](https://user-images.githubusercontent.com/23709502/33674273-3f2bf9a2-da6c-11e7-8fb3-c

[2017-12-06 20:10] huangjinshe commented on #1688
@marek-safar , Hi, Is there any news for this? It take too much time. If UWP dead right now, we need to use Android or iOS version of WCF feature more soon.

[2017-12-06 20:36] mlacouture commented on #2429
Hi @Citizen39

Can you confirm whether you tried to remove the preview version of the tool from the Visual Studio Extensions menu option? **Tools -> Extensions and Updates**, locate and select the extension and click **Uninstall**.

Thank you very much for your feedback.

[2017-12-06 20:44] mlacouture commented on #2428
Hi @RG2712

Usually when you get this error is because the web service metadata does not contain any endpoints.  Are you able to share the service URL or WSDL file with us so we can double check?

Also, please keep in mind that although sometimes we are able to help on questions for WCF on .Net Framework, this forum is for WCF on .NET Core/.Net Standard.

As per the WCF Web Service Reference tool,

[2017-12-06 22:10] Citizen39 commented on #2429
Only one "Microsoft WCF web Service Reference Provider" item was appearing in the Extensions and Updates list. Nothing showing for a "Preview" extension. I tried disabling the one that was displayed, which resulted in both items in the Connected Services tab (shown in the earlier message) to disappear.

I've since _Uninstalled_ the one item that was in the Extensions and Updates list. This seems t

[2017-12-06 22:10] #2429 closed

[2017-12-07 00:10] mlacouture commented on #2429
Thank you @Citizen39 for the additional information, I realize it is confusing ...

[2017-12-07 05:36] RG2712 commented on #2428
Hi @mlacouture

Thanks for your response.

Below is the wsdl am referring. This is the third party service on which I do not have any control. I just need to access the contracts.

<?xml version="1.0" encoding="utf-8" ?>
- <wsdl:definitions name="TimeReportService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/m

[2017-12-07 15:33] dnbr2002 commented on #1810
We could really use some support for this and were hoping with dotnet core 2.0 it might get included.  Any chance it's being added in a future release?

[2017-12-07 19:02] zipswich opened #2433 "Unnecessary HTTP HEAD method request"
Services generated from WSDL files send out an HTTP HEAD request before sending a SOAP message **every time**.  This is not the case for WinRT apps, but it causes problems with UWP apps.   Though the HEAD method is legitimate, I do not see any use of it.  Most servers can handle it without any problems, but some not.   Unfortunately, devices from one of the most popular brands that we deal with ca

[2017-12-07 20:19] uwbadgerdev commented on #8
Any update on the status of fixing this?

[2017-12-07 23:08] dotnetdan opened #2434 "Error: No endpoints compatible with .Net Core apps"
I'm using the connected services tool in VS2017 to connect to a SOAP basicHttp endpoint hosted in a .NET 4.7 WCF self-hosted application. The following error occurs, is there anyway I can troubleshoot this?

Importing web service metadata ...
Number of service endpoints found: 1
Restoring NuGet packages ...
Building solution ...
Scaffolding service reference code ...
Restoring NuGet packages for b

[2017-12-07 23:58] mlacouture commented on #2434
Hi @dotnetdan

this usually happens when the binding of the service endpoint contains an element (feature) that is not supported in .NET Core, for instance some security elements (message security).  Do you know the binding details for this service? if you need further assistance it would be helpful if you can share the service URL or a wsdl file with us so we can investigate.

thanks
Miguel Lacou

[2017-12-08 00:04] mlacouture commented on #2428
@RG2712 can you provide a full wsdl? this one has references to schema files that cannot be resolved.  To do that, you can enter the service url in the browser and append the '?singlewsdl' query.  thanks,

[2017-12-08 00:06] mlacouture commented on #2401
[Visual Studio 2017 15.6P1](https://blogs.msdn.microsoft.com/visualstudio/2017/12/07/visual-studio-2017-version-15-6-preview/), check it out!

[2017-12-08 00:06] #2401 closed

[2017-12-08 00:09] mlacouture commented on #2434
similar to issue #1354

[2017-12-08 02:19] mlacouture commented on #2016
Hi @mathysd
This is to let you know that we have made several improvements to the tool around WSDL processing, now you can browse to a wsdl file that has schema references and these will be resolved by the tool.  [The WCF Web Service Reference is not part of Visual Studio 2017 15.5](https://www.visualstudio.com/en-us/news/releasenotes/vs2017-relnotes?ref=stackshare#WCFTools).

[2017-12-08 05:57] mathysd commented on #2016
Thanks I will have a look

[2017-12-08 07:54] taspeotis commented on #2269
I have tried this again with the preview and it still does not provide the same functionality.

**VS2017 15.5.0 Add Service Reference**

![image](https://user-images.githubusercontent.com/1189399/33756275-6f0a5bfc-dc40-11e7-8568-03e5b08d1d96.png)

**VS2017 15.6.0 Preview 1 Microsoft WCF Web Service Reference Provider**

![image](https://user-images.githubusercontent.com/1189399/33756318-a065fb2a-d

[2017-12-08 13:03] f0rt opened #2436 "HttpTransportBindingElement.UseDefaultWebProxy not working"
Team,

The setting "HttpTransportBindingElement.UseDefaultWebProxy" doesn't work as expected when set to "true" on .Net Core. I've used Fiddler to see if the data goes trough the default proxy. It is working fine on .Net Framework.
Looking through [the code](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L50) shows t

[2017-12-08 19:36] shmao commented on #2433
/cc: @mconnew

[2017-12-08 19:43] Joebeazelman commented on #2269
I have nothing else to offer here other than the original wsdl files I sent
you.  In particular, UPS and Fedex WSDLs don't work.  Although they do work
with SVCUTIL.

On Tue, Nov 14, 2017 at 8:41 PM, Miguel Lacouture <notifications@github.com>
wrote:

[2017-12-10 04:23] Joebeazelman opened #2438 "Weird TypeLoadException that only shows up in UWP?"
I have several assemblies containing WCF web services.  They all work perfectly in my .NET Framework 4.6.2 MSTEST project.  When I execute the same functions in my UWP application, I get the following exception for one of the projects, but not the others:

System.TypeLoadException
  HResult=0x80131522
  Message=Type 'generatedProxy_2' from assembly 'ProxyBuilder, Version=0.0.0.0, Culture=neutral,

[2017-12-11 15:52] rspulini opened #2439 "Methods Begin/End not being created when generating proxy"
Greetings!

I'm using the Visual Studio 15.5.1, in a project Xamarin Cross Plataform.

I tried adding a WebService reference, using the new "WCF Web Service Reference".

[2017-12-11 16:39] dotnetdan commented on #2434
Hi, the security mode is TransportWithMessageCredential, so it looks like you are right about message security. Will this be supported in the future?

It would be nice to have a list of what features are supported, to help in design a service that is interoperable with .net core.

The binding (from the client side, generated by wcftestclient.exe) looks like this:

[code]

[2017-12-11 19:27] mlacouture commented on #2434
Hi @dotnetdan
Thank you for confirming this is a message security issue.  As mentioned in issue #1354, support for message security in .NET Core is in the backlog but it is going to take a while as it requires several other APIs not yet in the framework.'

For a list of supported features you can visit the [WCF in .NET Core 2.0 release notes](https://github.com/dotnet/wcf/blob/master/release-notes

[2017-12-11 19:27] #2434 closed

[2017-12-11 20:11] mlacouture commented on #2269
@taspeotis, are you able to try the tool in [VS 2017 15.6 Preview 1](https://blogs.msdn.microsoft.com/visualstudio/2017/12/07/visual-studio-2017-version-15-6-preview/)? the issue about failing to generate proxy code for metadata that doesn't define endpoints is fixed in the [release](https://github.com/dotnet/wcf/blob/master/release-notes/WCF-Web-Service-Reference-notes.md).

[2017-12-11 21:37] mlacouture commented on #2439
Hi @rspulini

Just to make sure, as the WCF Web Service Reference connected service is not available for Xamarin projects, you added a web service reference to a .net standard project, correct?

The generated proxy code does not use the [Asynchronous Programming Model (APM) ](https://docs.microsoft.com/en-us/dotnet/standard/asynchronous-programming-patterns/asynchronous-programming-model-apm) as o

[2017-12-11 21:43] mlacouture commented on #2410
update: we have a fix for this issue and is currently scheduled for the Visual Studio 2017 v15.6 Preview 2 release.

[2017-12-11 21:44] mlacouture commented on #2412
@Kirin2017, please let us know if you still need help with this. closing for now.

[2017-12-11 21:44] #2412 closed

[2017-12-12 00:51] taspeotis commented on #2269
@mlacouture Like I said in https://github.com/dotnet/wcf/issues/2269#issuecomment-350197712: *I have tried this again with the preview ... VS2017 15.6.0 Preview 1*.

![image](https://user-images.githubusercontent.com/1189399/33861604-5be521aa-df2a-11e7-94eb-d39097d9fc08.png)

![image](https://user-images.githubusercontent.com/1189399/33861504-d5221ba0-df29-11e7-8afa-ac060b1a3381.png)

The first sc

[2017-12-12 04:13] Joebeazelman commented on #2438
What's going on here?  I added a reference to the latest version 4.4.1 of System.ServiceModel.Primitives along with auto binding redirects and I still get the same message.

[2017-12-12 04:17] Joebeazelman commented on #2439
Can you assist me with this error I am getting from WCF?  I entered an issue (#2438) and haven't received a response.

[2017-12-12 04:20] Joebeazelman commented on #664
I am getting the following build error on a Windows UWP project see issue #2438

[2017-12-12 06:42] learn9969 opened #2441 "Criteria for reuse types to work. Any guidelines?"
what is the criteria for reuse types to work with a shared assembly which contain all dtos?
Do they have to  have attributes like (DataContract-DataMember etc..)

Whatever I do it still generates its own classes?

Many thanks

[2017-12-12 12:02] rspulini commented on #2439
Hi mlacouture,

Yes, I added the reference in my .net stantard project. Previously it generated the begin and end methods

[2017-12-12 17:41] Joebeazelman commented on #2441
What are you using to generate your code?  Visual Studio menu or svcutils.exe?  Are your DTOs in exactly the same namespace?  Do you set the namespace when you generate your classes?

[2017-12-12 18:02] Joebeazelman commented on #2384
I tried this on the latest build.  Same issue. It was never fixed!  It also ignores my setting for using generics instead of arrays.

Importing web service metadata ...
Number of service endpoints found: 1
Restoring NuGet packages ...
Building solution ...
Scaffolding service reference code ...
Restoring NuGet packages for bootstrapper ...

[2017-12-12 18:10] Joebeazelman opened #2442 "Argh!! WCF Code Generator uses arrays instead of Generic Lists"
WCF Code generator generates arrays instead of lists even when I told it not to. Come on guys!

[2017-12-12 18:20] mlacouture commented on #2438
Hi @Joebeazelman! let me try to understand your scenario just to make sure we are on the same page:

1. When you say 'assemblies containing WCF web services' do you mean 'service references'? I ask because UWP is a client platform so web services cannot be hosted using this platform.

2. When you say 'execute de same functions in my UWP app', do you mean you recompiled your .NET Framework librarie

[2017-12-12 18:25] mlacouture commented on #2442
@Joebeazelman, sounds like the same issue as #1274, can you confirm?

[2017-12-12 18:58] insylogo commented on #1200
@darrelmiller Sounds like "throwing up your hands" to me. If .NET core doesn't support the previous .NET framework features (even when running exclusively in Windows), then it's not just a matter of "use HTTP, you'll figure out a workaround", it's a matter of "what technology stack will do what we want, and how can we decouple from a .NET ecosystem?" Adoption is going to suffer, backwards compatib

[2017-12-12 19:34] mlacouture commented on #2384
@Joebeazelman, I'll take a look ...

[2017-12-12 19:46] Joebeazelman commented on #2438
Hi Miguel,

Thanks for all your help and responses.  Let me address each of your questions:

1. The assemblies are all client proxies build using .NET Standard 2.0.  The UWP app is the main application and serves only as a front end with references to the different client proxies.  There's only one proxy giving me the exception and it makes a call to  FaultException<TDetail>.  The other proxy clie

[2017-12-12 20:55] Joebeazelman commented on #2442
Yes, it is.

[2017-12-12 21:21] jbogard commented on #1200
Not exactly, more “choose tools that better fit the job”. That’s what we
did when we moved away from WCF....8 years ago now? The last holdout for us
was "remoting" through WCF  but we’ve since found a better solution.

For legacy scenarios, where we can't drop SOAP/WS-*, we just put a little
API gateway in front of it so the rest of our systems can talk to it now.
Works well so far!

So instead of

[2017-12-12 22:03] Joebeazelman commented on #2438
I want to add this as well:

1>  Encountered conflict between 'Reference:C:\Users\mbarr\.nuget\packages\microsoft.netcore.universalwindowsplatform\6.0.5\ref\uap10.0.15138\System.ServiceModel.Primitives.dll' and
 'Reference:C:\Users\mbarr\.nuget\packages\system.servicemodel.primitives\4.4.1-servicing-25917-01\ref\netcore50\System.ServiceModel.Primitives.dll'.

 Choosing 'Reference:C:\Users\mbarr\.n

[2017-12-13 00:59] insylogo commented on #1200
@jbogard Yeah, except that's pretty large corollary to "use the .NET standards you know and love with the new high performance cross-platform .NET core": be sure to plan on rewriting all your service architecture using completely different tooling.

Basically, toss the "Compatible" subheading, and add the caveat that Microsoft only intends to support their (far less popular) Azure service architec

[2017-12-13 07:05] learn9969 commented on #2441
Sorry for lack of info .I use svcutil.exe for generation. All my dtos are in the same assembly ,same namespace .I tried both with and without setting namespace!

I will try to put a noddy project together to prove point.Can you attach a zip here?

[2017-12-13 11:56] Doomblaster opened #2445 "Mapping multiple namespaces impossible"
By using the old svcutil.exe I could map multiple namespaces by using /n:"http:namespace1","Service.MyNamespace1" /n:"http:namespace2","Service.MyNamespace2". This was particulary useful when generating clients from WSDLs with multiple endpoints. As far as I understand dotnet-svcutil is not available as an exe, and I don't see how I can use the builtin client generator in Visual Studio to achieve

[2017-12-13 13:23] rspulini commented on #2439
Hi mlacouture,

My issue has not been resolved.

I tried to use your example below

ServiceReference1.WcfServiceClient client = new ServiceReference1.WcfServiceClient();
var echo = await client.EchoAsync("Hello World!");

I received the following return error

"Mono does not support dynamic proxy code generation"

How can I then generate the proxy correctly for Xamarin projects that use the .net s

[2017-12-13 13:54] fccookj opened #2446 "OperationFormatter encountered an invalid Message body."
I'm trying to consume a WCF service from a .NET Standard library.

I can consume the service and get the expected methods when adding the service reference to a console application through the built-in service reference tool but I run into this issue when adding the reference via the WCF Reference Provider in VS2017 v15.5.  It seems that the regular GetData method is missing but I do see the GetDa

[2017-12-13 18:15] DFsharp commented on #2098
Is System.ServiceModel.Syndication still in the backlog? Is the version in the 'lab' branch usable?

[2017-12-13 20:00] Joebeazelman commented on #2445
You can still use the old svcutil.exe from the command line.  It's there but you need to ensure VS Studio's environment variables are installed.

[2017-12-13 20:31] Joebeazelman commented on #2441
Well that's an important piece of information there.   I think what's confusing you is the nomenclature Microsoft likes to use to confound innocent developers.  First, in VS Add Service Reference it's called reuse existing types.  In SvcUtil.exe it's not clear and not automatic either.  You should look at the following switches:

/reference:<file path>             – Reference types in the specifie

[2017-12-13 20:38] Joebeazelman commented on #2293
@zhenlan   I am getting a critical error and the shim doesn't work.  The UWP version doesn't work either.

https://github.com/dotnet/wcf/issues/2438

[2017-12-13 22:22] Doomblaster commented on #2445
I had the impression that the code generated by svcutil was not dotnet core compatible? I see I forgot to mention that the projects which is going to use this is based on that.

[2017-12-13 22:41] mlacouture commented on #2445
Hi @Doomblaster!

The WCF Web Service Reference connected service does not offer the option of mapping different namespaces as the svcutil.exe tool does.  However, its underlying code generation engine is a version of svcutil (dotnet-svcutil) designed for .NET Core projects that you may be able to use it as a workaround for this issue.

Observe that the dotnet-svcutil tool is not yet ready for pro

[2017-12-13 22:43] mlacouture commented on #2441
@learn9969, does the help provided by @Joebeazelman (thank you!) resolved your issue? thanks,

[2017-12-13 22:44] mlacouture commented on #2442
thanks! dup of #1274

[2017-12-13 22:44] #2442 closed

[2017-12-13 22:55] mlacouture commented on #1753
I'm pleased to announce that this feature is now available with the [Visual Studio 2017 v15.6 Preview 1.0 ](https://blogs.msdn.microsoft.com/visualstudio/2017/12/07/visual-studio-2017-version-15-6-preview/) release, please give it a try and let us know what you think!  thanks,

[2017-12-13 22:55] #1753 closed

[2017-12-13 23:02] mlacouture commented on #2439
@rspulini, I think the issue you are seeing now is a different one, it is a problem with the Mono runtime which as the message says does not support dynamic proxies and not a tooling issue.  Do you mind reporting a separate issue so it can be routed appropriately? thank you!

[2017-12-13 23:08] mlacouture commented on #2438
adding @zhenlan

[2017-12-13 23:35] Joebeazelman commented on #2446
Is it possible for you to post your wsdl here?  You can upload it or attach it via drag and drop.

[2017-12-14 01:50] zhenlan commented on #2438
If all your assemblies are compiled against NS2.0, you should not need the shim. The shim is for the assemblies compiled against full framework to work on UWP/.NET Core.

The conflicting error about `System.ServiceModel.Primitives.dll` is expected. You should not reference `system.servicemodel.primitives\4.4.1-servicing-25917-01` package, which is a servicing release. The system.servicemodel.primi

[2017-12-14 02:09] fccookj commented on #2446
The message shows up when running the proxy and these are in separate projects.  The non .NET Standard projects seem to see everything as they should using the old service reference.  I'll try recreating the .NET Standard project though once more.  If that doesn't work then I'll post the WSDL.  Also, do you have any examples going from creating the service, using the WCF provider for the reference

[2017-12-14 05:50] Joebeazelman commented on #2438
The reason I added the 4.4.1 shim is because the error message told me to.
I get the same error if I don't include it.

On Wed, Dec 13, 2017 at 8:51 PM Zhenlan Wang <notifications@github.com>
wrote:

[2017-12-14 14:50] lkurzyniec commented on #2349
Try to add **RuntimeIdentifier** into csproj. We fixed our AMI Linux build by adding `<RuntimeIdentifier>centos-x64</RuntimeIdentifier>`

[2017-12-14 21:08] Joebeazelman commented on #2438
Can I get some feedback on this?  Is there a workaround?

[2017-12-14 23:14] HiveTyrant commented on #1808
@zhenlan is there any news on this subject?  It is a VERY big problem for me, as I am tasked with making a mobile (Xamarin.Forms) solution for some existing WCF services, at it is not a viable option to rewrite the service, eg. by using REST or something similar.
I find it very strange, that Xamarin is STILL no supporting Microsofts primary network communication choice for stateful services.

[2017-12-15 03:05] txiangyang opened #2450 "Cannot make the WCF client work on Linux mint 18.3"
Hi,
When move the Net Core WCF client project from windows to Linux, it fails.
Net core sdk version: 2.1.2. (both on windows and Linux)
Steps:
1. Create an net core project, and add connected reference from local WCF service. Build and run successfully.
2. Copy project to Linux, run command: **dotnet build**:
Error:
Restoring packages for /home/userName/NetCore/Core212Client/Core212Client/Core212C

[2017-12-15 06:54] mlacouture commented on #2269
I'll take a second look ...

[2017-12-15 10:24] marek-safar commented on #1688
@huangjinshe no update at this point

[2017-12-15 13:42] hlaghari commented on #1808
Hi @HiveTyrant ,

Please see this article on WSDL [()](https://msdn.microsoft.com/en-us/library/7h3ystb6(v=vs.100).aspx) , Please ignore the line where it says the Clients should be created using the WCF

I had the issue where i wanted to call the WCF service from a .net Core REST API and for that i needed the service reference and initially used the WCF connected services for .net Core t generate

[2017-12-15 18:50] mconnew commented on #2438
Sorry I didn't reply sooner, I've been very busy on another time critical issue. I think the original message is the key here. We have a build step which generates a proxy class which implements your service interface. This is the type which gets instantiated when you call ChannelFactory<T>.CreateChannel(). The runtime exception is saying that the service interface is not accessible to the proxy c

[2017-12-15 18:55] mconnew commented on #2400
@Tragedian, the difficulty with a factory is it should return an instance of HttpMessageHandler which then means we can't set anything like credentials or certificate validation callbacks. What do you think about instead having a mechanism which specifies a Type which must derive from DelegatingHandler? We could look for either a default constructor (in which case we construct an instance and then

[2017-12-15 18:59] mconnew commented on #2400
Thinking about it a bit more, it could be a bit simpler than that. We could use a `Func<HttpClientHandler, HttpMessageHandler>` so we pass our `HttpClientHandler` with everything configured how we want to the Func and that returns an `HttpMessageHandler` which we then use to construct an `HttpClient`. The factory Func can ignore the HttpClientHandler, modify it, or wrap it in a DelegatingHandler a

[2017-12-16 02:17] zhenlan commented on #1808
@HiveTyrant, sorry, I started some conversation but it did not get much traction so far. It involves multiple teams outside of WCF...

[2017-12-16 02:29] zhenlan commented on #2450
@txiangyang The failure in your step 3 is expected, because System.Net.Http.WinHttpHandler is a Windows only package and WCF implementation for Linux actually does not need it, so if you run the Windows compiled assembly on Linux, it is expected to fail.

Because WCF package System.Private.ServiceModel does have a package dependency on System.Net.Http.WinHttpHandler, so package restore will try to

[2017-12-16 02:46] zhenlan commented on #2439
@rspulini, just an idea, you may like to try to create a .NET Standard library and use the WCF connected service tool to get WCF proxy code generated. And then  from your Xamarin project, you can reference this .NET Standard library and call generated code from there.

[2017-12-16 02:58] zhenlan commented on #2098
@DFsharp, System.ServiceModel.Syndication has a prerelease about a month ago. This release should have high compatibility with the Syndication libraries in full framework. We are working in progress on the improvement of parsing and optional items mentioned in the road map above.
https://www.nuget.org/packages/System.ServiceModel.Syndication/

We also moved its source code to corefx repo. If you r

[2017-12-16 04:18] mlacouture commented on #2384
@Joebeazelman, I'm unable to reproduce this issue, I'm using VS 2017 v15.5.  Can you check the version of the tool by looking at the connectedservice.json file added to your project under the Connected Services -> Your_service_reference_folder? thanks,

[2017-12-16 04:21] mlacouture commented on #2269
@taspeotis, are you able to share the wsdl file you are using? thank you!

[2017-12-16 04:24] txiangyang commented on #2450
Thanks, after following yours steps mentioned at marketplaces , i need to use dotnet restore before building, and finally it success.
Thanks so much
________________________________
From: Zhenlan Wang <notifications@github.com>
Sent: Friday, December 15, 2017 6:29 PM
To: dotnet/wcf
Cc: txiangyang; Mention
Subject: Re: [dotnet/wcf] Cannot make the WCF client work on Linux mint 18.3 (#2450)

@txiang

[2017-12-16 06:01] Joebeazelman commented on #2438
@mconnew Thanks.  This has solved the issue. I originally suspected the service interface to be the issue.  I always generate my service interfaces as internal, since there is no reason to use them directly. So I shouldn't have turned on this otherwise innocent option.

So it turns out Microsoft summons demon code in WCF.  Emitting and executing additional proxy code outside the  statically genera

[2017-12-16 06:05] taspeotis commented on #2269
Not publicly. My email is in [my profile](https://github.com/taspeotis), send me an email and I'll reply back with the `.wsdl` file.

Thanks for the time you've spent on this.

[2017-12-16 07:00] mconnew commented on #2438
Can you suggest a different way to have ChannelFactory<TChannel>.CreateChannel() return an object which implements the interface TChannel without code generation in a UWP app? The constraints are there's no refemit (used in .Net Core) and no .Net remoting (used in full .Net framework).

[2017-12-16 14:24] Joebeazelman commented on #2384
OK. It doesn't require a build, if you turn off reuse types, but even so, why require a build when you can query VS Studio for  the same way intellisense and resharper do?  Also, the generic List<> isn't supported.

[2017-12-16 19:44] agryb commented on #1200
Dear community, could somebody please advise what is the current state of server side WCF? According to the discussion above, there's no plan for implementing it in the nearest future, is that correct? Thanks!

[2017-12-16 20:24] forki commented on #1200
What parts of WCF do you need? Soap (with http basic auth) stuff is pretty
easy to implement with giraffe.

Am 16.12.2017 20:44 schrieb "Alexander Gryb" <notifications@github.com>:

[2017-12-16 20:47] agryb commented on #1200
Ideally what I hope to achieve is to migrate my legacy WCF service with net tcp binding and authorization to .net core without having to switch to a different library or significantly change the code

From: Steffen Forkmann [mailto:notifications@github.com]
Sent: Saturday, December 16, 2017 3:25 PM
To: dotnet/wcf <wcf@noreply.github.com>
Cc: Alexander Gryb <agryb@live.com>; Manual <manual@noreply.

[2017-12-18 09:56] rspulini commented on #2439
Hi zhenlan

That's exactly what I'm doing.
However, the WCF connected service does not create the methods correctly.
Begin / End methods are not created.
If I try to use the Async method, the error will be returned:
"Mono does not support dynamic proxy code generation"

[2017-12-18 20:08] zhenlan commented on #2439
@rspulini, I see. This sounds like a bug in mono.

[2017-12-18 20:11] zhenlan commented on #2450
Glad it worked for you. Thanks for using WCF and giving us feedback!

[2017-12-18 20:11] #2450 closed

[2017-12-18 20:17] mlacouture commented on #2384
thanks for confirming.  The build is required so that types in the user's solution can be can be considered for type reuse when generating the proxy code.  We will consider the pros/cons of not building the user's solution.  thank you for your feedback!

[2017-12-18 20:28] mlacouture commented on #2269
@taspeotis, thank you for providing further information.  I was able to reproduce this problem and will be investigating as soon as possible.

[2017-12-19 15:15] rspulini commented on #2439
Dear friend, it is not a bug. the WCF Web Service is not creating the reference correctly.

If you use the "Connected Service" tool in a PCL project. The begin and end methods are created correctly.

   [System.CodeDom.Compiler.GeneratedCodeAttribute("System.ServiceModel", "4.0.0.0")]
    [System.ServiceModel.ServiceContractAttribute(ConfigurationName="WebService.IServicos")]
    public interface

[2017-12-20 23:07] zhenlan commented on #2439
@rspulini, the WCF Connected Service for .NET Core/.NET Standard is a different tool than the "Add Service Reference" you used for a PCL project. As @mlacouture explained earlier, WCF Connected Service does not generate old style async programming model (APM Begin/End) code; instead, it generates more modern task-based asynchronous (TBA) code. The framework should work fine with the TBA code, but

[2017-12-21 09:29] rezvanf commented on #1359
looking at the [Supported Features.](https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v1.0.0.md) i can see binary encoding is supported but on BasicHttpBinding 4.1.2.0 the property MessageEncoding is not present. How can we set the message in .NET standard to WSEncoding.Mtom or WSEncoding.Text

Thanks

[2017-12-21 09:58] rspulini commented on #2439
Hello zhelan!
Thank you very much, I understood perfectly!

So how do I consume a web service in a .Net Standard with Xamarin project, if the Mono is not compatible with TBA?

[2017-12-21 11:30] rezvanf commented on #1810
I have the same problem

I've tried to consume a java SOAP without mtom enabled, and it accepted my request, but the response came with xop/xml.

What i don't understand is at the supported features for .net core 1.0

https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v1.0.0.md

It shows message encoding for both text and binary supported.

So how do we do this please if we

[2017-12-21 18:21] mconnew commented on #1810
I thought I would give some background on why this isn't a trivial task. This isn't a case of simply copying the code over. On the full framework we use HttpWebRequest for sending an HTTP request. We get the request stream from HttpWebRequest and then write the request message to it.

In .Net Core, we don't have HttpWebRequest available and so need to use HttpClient instead. This has a completely

[2017-12-21 18:41] mconnew commented on #2439
@rspulini, you won't be able to use the WCF Connected Service tool to automatically generate a mono compatible service, but that doesn't mean you can't use WCF. There are multiple options you could do, but they all require a little work and it depends on you development scenario as to which is best. I'm going suggest one option, but if it doesn't work for you then, then please explain why the prob

[2017-12-21 19:04] Joebeazelman commented on #2442
You know, perhaps it is better just to handout install some T4 templates for generating the proxy rather than create an elaborate fanch GUI tool that's completely useless.  It appears the designers of WCF allowed for high granularity of customization and configuration, but created horrible tooling for common use cases.  The idea of hiding Reference.cs and its supporting metadata files from the dev

[2017-12-21 19:15] felipecaputo commented on #1810
@mconnew I don't know the framework too well, but with the right direction I would really like to do it, having the right direction to do it.

It seems really a complex implementation but, may more people would like to help if you can spare some time in tutoring or breaking it into small implementations we could do to take advantage of the OpenSource community?

Do you think it could be possible?

[2017-12-22 17:46] hemabhushanr commented on #1257
I would like to know when WS-trust bindings will be supported for .NET Core

[2017-12-22 17:48] hemabhushanr commented on #1354
I would like to know when will .Net Core platform support message security

[2017-12-27 13:20] ermancetin opened #2461 "VS2017 15.5.2 WCF Web Service Reference Provider Error (MaximumResolvedReferences)"
Hi,
I am trying to add a new service reference with new Microsoft WCF Service Reference Provider UI, but getting this error: "_The MetadataExchangeClient has resolved more than MaximumResolvedReferences_"

![image](https://user-images.githubusercontent.com/10434301/34382580-e7d972d6-eb20-11e7-9159-f7eb03fec7d3.png)

[2017-12-27 18:45] sshaikh1 opened #2462 "Time out exception while calling long running WCF service from .net core"
Getting a System.Net.Http.WinHttpException (0x80072EE2): The operation timed out... exception is occurring when calling a long running WCF service from .net core 2 web api / console application. Service operation takes around a minute to execute and return a response. Is there away I can set the higher operation timeout, so that it doesn't times out.

Same service operation works fine with .net fr

[2017-12-28 21:42] mlacouture commented on #2461
Hi @ermancetin
Thanks for reporting this issue.  This happens, as the error implies, when there are too many metadata references to resolve, looking at the code it is currently set to 200 which seems like a huge number.  Are you able to download the metadata from the browser?

[2017-12-29 12:59] ermancetin commented on #2461
Hi @mlacouture
Yes, i can download the metadata from browser, and also from VS2015 UI.

[2017-12-29 16:26] PhilPJL opened #2463 "Calling any method from Xamarin fails"
I have hit the same issue noted here [](https://bugzilla.xamarin.com/show_bug.cgi?id=51959).

To reproduce
1) Using VS 2017 15.5.2
2) Create a Xamarin cross platform app and select '.NET standard option' and 'Android'
3) Since it's not possible to add a web service reference to the shared assembly (will open separate bug) add a .NET standard class library project to host the web service reference.

[2017-12-29 16:31] PhilPJL opened #2464 "Not possible to create a web service reference in Xamarin Forms shared assembly"
I've already reported this here: https://developercommunity.visualstudio.com/content/problem/173283/xamarin-forms-configure-wcf-web-service-ref.html?childToView=173285#comment-173285

1) use VS 2017 15.5.2
2) Create an empty cross platform Xamarin Forms app and select the '.NET standard' option.
3) Use 'Add connected service' on the shared project.
4) Select 'Microsoft WCF Web service reference pr

[2017-12-29 16:37] PhilPJL commented on #2446
I get the same issue. Just posted a duplicate bug https://github.com/dotnet/wcf/issues/2463.
There's nothing wrong with the service.  Referencing it from a standard .NET project or SoapUI works fine (and has done for years).

[2017-12-30 15:21] PhilPJL commented on #2463
I've created a sample project showing the issue.
You'll need to publish WcfService - which is pretty much the default WCF service project created by VS - to IIS and then recreate the web reference in the XamarinTestServices project.

[XamarinTest2.zip](https://github.com/dotnet/wcf/files/1594506/XamarinTest2.zip)

[2018-01-01 21:21] szogun1987 opened #2465 "I'm not able to create SOAP service reference after updating visual studio. (when the service metadata docs contain remote relative references)"
I try to add service reference to my project. WSDL files are available to download [here](https://pz.gov.pl/Instrukcja_Integratora_DT_WSDL.zip) (artifactResolutionService.wsdl)
I have been doing it week ago (before Visual Studio update), in my aside proof of concept project, and I had to [tune up this file a little bit](https://github.com/dotnet/wcf/files/1596393/artifactResolutionService.zip) to

[2018-01-02 08:02] easternstar88 opened #2466 "Unable To Ignore Server Certificate Error In Windows"
In dotnet FrameWork i could ignore Server Certificate Error With
`ServicePointManager.ServerCertificateValidationCallback = (sender, certificate, chain, sslPolicyErrors) => true;`
but here That Solution Doesn't work and i get **System.ServiceModel.Security.SecurityNegotiationException**:
"could not establish trust relationship for the ssl/tls secure channel with authority..."

[2018-01-02 12:09] ermancetin commented on #2461
Hi,
I tried to get metadata programmatically. And after setting MaximumResolvedReferences property of MetadataExchangeClient to 400, metadataset successfully acquired from server.

![image](https://user-images.githubusercontent.com/10434301/34483312-c333a8f4-efce-11e7-807b-c3f54b9447f5.png)

[2018-01-02 14:57] f0rt opened #2467 "Setting "BasicHttpBinding.UseDefaultWebProxy = false" not supported on OSX 10.12"
Team,
I'm using[ this example](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/how-to-use-the-channelfactory) on OSX. I've added the following line:

[code]
This throws operation not supported exception on OSX 10.12 . Is this expected?

P.S. The problem exist with CustomBinding too.

[2018-01-02 15:22] jsharland commented on #2261
Hi @mconnew I am experiencing the same problem and have tried the work around suggested of setting the proxy address and setting UseDefaultWebProxy to true. I end up getting a timeout when trying to make the call, which is the same as if I don't change the settings at all and just use the defaults. I had a look at the gist you created about how to update the HttpClient's WinHttpHandler (https://gi

[2018-01-02 17:57] shmao commented on #2433
@mconnew , can you please link the issue to the NCL issue?

[2018-01-02 18:27] mlacouture commented on #2461
@ermancetin thank you for going the extra mile, this information is very useful.  It sounds like the limitation we have in the tool is incorrect.  we will consider changing this in a future release.

[2018-01-02 18:53] mlacouture commented on #2465
Hi @szogun1987!  Thank you for reporting this issue.  It sounds like you are trying to add a web service reference to a .NET Core/Standard project, correct? this would explain why you don't see the 'Add Service Reference' option.  For more information, check out the [WCF Web Service Reference provider](https://github.com/dotnet/wcf/blob/master/Documentation/WCF-Web-Service-Reference-guide.md) guid

[2018-01-02 19:08] mlacouture commented on #2464
Hi @PhilPJL
I just replied on the [VS feedback page](https://developercommunity.visualstudio.com/content/problem/173283/xamarin-forms-configure-wcf-web-service-ref.html), here's my response for convenience:

Thank you for reporting this issue. I have reviewed it and verified this is a bug in our tool and we'll consider a fix for the next release. In the meantime, you can work around this issue by

[2018-01-02 19:26] szogun1987 commented on #2465
Yes I try to add reference to SOAP service to .Net core app.
I have tried to find missing xsd-files via google (I have changed schema location to one found). Before Visual studio update it was able to generate proxy after making this tweak. I still have those files and I can attach them here if you want. Currently It reports lack of other xsd that I'm not able to find. I have found some Nuget pack

[2018-01-02 19:53] StingyJack opened #2469 "No match was found for the specified search criteria and package name 'System.Runtime.Serialization.Primitives'"
This was working recently, but now its breaking builds as the package cannot be downloaded.

I tried to push a copy to our private nugetserver repo, but it barks about the nuspec being somehow invalid
[code]

[2018-01-02 20:01] PhilPJL opened #2470 "WCF Web Service Reference and 'Discover'"
The 'Discover' button fails unless WCF projects in the solution are first manually started.
This is different to adding a WCF reference in a .NET framework project/solution.

![image](https://user-images.githubusercontent.com/271656/34497994-8d7272e4-eff7-11e7-823e-af662cdb77ff.png)

I can work around this by first manually starting 'WcfService' with Ctrl-F5.

[2018-01-02 21:34] mlacouture commented on #2465
@szogun1987, please provide the wsdl for investigation, thanks,

[2018-01-02 23:07] szogun1987 commented on #2465
Please check this archive
[ServiceDefinitions.zip](https://github.com/dotnet/wcf/files/1598977/ServiceDefinitions.zip)

[2018-01-03 08:28] f0rt commented on #2467
The problem can be reproduced on Ubuntu 16.04.

[2018-01-03 17:47] pewing1895 opened #2472 "Exception: There was an error reflecting ''"
Hi,

When we try to use a specific connected service (soap) proxy class in a core 2.0 app,
we receive an exception on calling any method from the class.
(This service works fine in a .NET framework app)

It looks like the .net core class has been generated with several MessageBodyMemberAttribute the have a Namespace=""
which seem to be the cause of the error.
I have included the wsdl and a sample

[2018-01-03 21:40] jamin1001 commented on #2225
I was starting a .NETStandard Xamarin project from scratch in Visual Studio 2017 and I was still having issues with adding a web service in the latest release build (15.5), so in case it helps anyone I will relate what was wrong in my scenario.

I was simply trying to add a ASMX web service, not a full blown WCF service. So I was looking for "Add Web Reference..." but there is only "Add Connected

[2018-01-05 00:04] mlacouture commented on #2225
thanks @jamin1001 for the details.

[2018-01-05 03:55] ccicchitelli commented on #1200
I'm in the same boat, I had two big blockers before I could make my app .NET Core compatible, MEF and WCF. As of December MEF is supported, but I'm sorry to see WCF is still not currently planned.

What is the recommend replacement for a web service via System.ServiceModel that has both WCF and REST endpoints? For reference, my service methods have the following attributes to enable both WCF and R

[2018-01-05 15:54] jamin1001 commented on #2225
Sure.  But now, even though compiles ok, seems like I get a runtime exception due to some binding issue, from this code when Foo() is called from a button:

async void Foo()
{
    MyService.MyServiceSoapClient client = new MyService.MyServiceSoapClient(
        new BasicHttpBinding(BasicHttpSecurityMode.Transport),
        new EndpointAddress("https://<myapi>.net/myservice.asmx"));

        string

[2018-01-05 16:27] roden23 commented on #2261
Hi, @mconnew. Having the same issue. Connecting from netcore 2.0 app via WCF Connected Service.
The workaround you suggest does not work.

My settings here:
`
                System.ServiceModel.BasicHttpBinding result = new System.ServiceModel.BasicHttpBinding();
                result.MaxBufferSize = int.MaxValue;
                result.ReaderQuotas = System.Xml.XmlDictionaryReaderQuotas.Max;

[2018-01-05 17:29] jamin1001 commented on #2225
Looking at https://developer.xamarin.com/guides/xamarin-forms/cloud-services/consuming/asmx/, and the Xamarin Forms example TodoASMX, it appears maybe what I am trying to do is not currently supported.  In other words, generating a proxy client via the WCF tool for accessing a web service in a cross platform (.NETStandard) library, rather than individually within each platform project, with a conc

[2018-01-05 22:22] varcario opened #2473 "System.ServiceModel.Web is missing"
I'm migrating a Web API app from .NET Core RC1 to .NET Core 2.0 and having trouble finding a good replacement for one line of code. The project is an ASP.NET Web API that calls a SOAP service, the SOAP service requires request headers.  Works great in RC1 targeting dnx451 but can't get this one last line converted to call it done.

System.ServiceModel.Web.WebOperationContext.Current.OutgoingReques

[2018-01-05 22:29] zhenlan commented on #2473
It should work if your ASP.NET Core Web API app targets net461 (you were targeting dnx451, which is also full framework). The System.ServiceModel.Web.* APIs are not supported on .NET Core.

[2018-01-05 22:34] varcario commented on #2473
The idea of being able to run this app on linux really appealed to me.  If I target net461 will the option of hosting on linux go away?  Also, is there an alternative to perform the function above by some other means?

[2018-01-05 23:11] jceddy commented on #1200
This might be the wrong place to ask, but would it be possible to create a class library in an ASP.NET Core application solution that uses the full .NET Framework as long as none of the ASP.NET Core code actually references it? I mean, could I create a library that supports server-side WCF that's meant to be packaged with a set of libraries that otherwise uses .NET Core only with the knowledge tha

[2018-01-05 23:22] ccicchitelli commented on #1200
Wrong place indeed, but you just need to use the #if preprocessor and create a compile flag. So:

`#if DESKTOP
DoSomethingInDotNetFramework();
#endif`

Note you'll need not just the method calls wrapped, but _all_ of the offending code wrapped.

[2018-01-06 01:26] wasabii commented on #1200
@jceddy ASP.Net Core runs in the full framework just fine.

If you're interested in using the full framework WCF stack (HTTP-basic bindings) through ASP.Net Core, I have made something for it: https://github.com/dotnet/wcf/issues/2378

[2018-01-06 16:42] dotnetchris commented on #2378
WCF over http is borderline pointless, the real transports of WCF are in-memory/namedpipes, TCP, queues, and service bus communication. While i appreciate the effort in showing you can use WCF in some scenarios on Core we shouldn't be encouraging anyone to develop for http with WCF.

If full WCF isn't going to be built, what would be more valuable would be a straight forward way to make anything a

[2018-01-06 19:09] ccicchitelli commented on #2378
@dotnetchris I totally agree. Your example of the MessageInspector is a good one. We use that to implement custom auth. We have a custom key in the request that is checked when the request is received. The MessageInspector itself is called from BehaviorExtensionElement to enable cross origin resource sharing.

All in all it's this kind of power with services that is missing from .NET Core right no

[2018-01-06 22:35] ccicchitelli commented on #1200
I finally caught up on all of the messages above, and I agree with the comments that if the .NET Core team isn't going to do this as part of .NET Core, the best path forward is to release the full WCF source code and let the community replace the pieces that are tied to Windows. It can be released as an extension to .NET Core. And I would guess for many people they can use the initial port once Wi

[2018-01-07 03:52] jbogard commented on #1200
WCF is not required to make a powerful SOA. In the least.

On Sat, Jan 6, 2018 at 4:35 PM ccicchitelli <notifications@github.com>
wrote:

[2018-01-07 04:56] ccicchitelli commented on #1200
Maybe not in C#, but with [the .NET Framework it is](https://github.com/dotnet/wcf/issues/2378#issuecomment-355758845). Unless you want to custom code tons of stuff or pull in many 3rd party libraries. Nor should we have to pull in ASP.NET Core to create even a basic HTTP web service. System.ServiceModel exists for a reason.

(Not to mention we already have the full service implemented that simply

[2018-01-07 13:27] SamuelCox commented on #1200
Actually I agree with @jbogard. I go back on my previous comment on the issue, I had no idea about the options for SOA and microservices in .NET core, but now I do, so I'm not bothered about WCF now.

[2018-01-07 17:54] ccicchitelli commented on #1200
"Actually I agree with @jbogard. I go back on my previous comment on the issue, I had no idea about the options for SOA and microservices in .NET core, but now I do, so I'm not bothered about WCF now."

Care to share with us what you found for options?

[2018-01-07 18:18] SamuelCox commented on #1200
@ccicchitelli Depends on what exact kind of architecture you want to take. Personally my preferred microservices architecture for .NET core, is self contained console apps (or windows services if you want to take a dependency on windows) that communicate via an Enterprise Service Bus. Seems the most loosely coupled option.

But, you don't have to do that via an enterprise service bus, you could eq

[2018-01-07 18:22] ccicchitelli commented on #1200
Those options you list aren't in the .NET Framework...

[2018-01-07 18:24] SamuelCox commented on #1200
@ccicchitelli Some of them are, some of them aren't. All of them are options .net code can make use of though, so what does it matter?

[2018-01-07 18:25] ccicchitelli commented on #1200
Fundamentally Microsoft needs to ask what they expect for .NET Core if they aren't going to natively support enterprise-level SOA tooling like they do in the desktop framework.

Because I'll tell them right now, they will lose to NodeJS if they haven't already... If I was starting over building microservices at this point .NET Core wouldn't even be a consideration and it would be all Node. That's

[2018-01-07 18:27] SamuelCox commented on #1200
@ccicchitelli I disagree entirely, but each to their own.

[2018-01-07 18:31] ccicchitelli commented on #1200
If I have to rely on the community I don't really think it's debatable which has the stronger tooling for SOA. It's not .NET Core. My day job is replacing the entire SOA for a Fortune 50 with Node, so...

The beauty of .NET, the reason it exists at all and why it is so popular in the enterprise, is because it has not only everything built in, but supported by all the weight of Microsoft.

If they

[2018-01-07 18:54] forki commented on #1200
Ok now I'm curious. What SOA stuff can you do with node that you can't with asp.net core?

[2018-01-07 19:01] ccicchitelli commented on #1200
I think the better question is, what can you do with WCF that you can't do with ASP.NET Core (and again, why are we in ASP-land? We're not trying to serve client apps..). [Dotnetchris mentions it here.](https://github.com/dotnet/wcf/issues/2378#issuecomment-355758845)

[2018-01-07 19:30] SamuelCox commented on #1200
@ccicchitelli That's not really answering @Forki 's question. From what I know of NodeJs, everything you can do in node without a third party lib is exactly the same as what you can do in asp.net core without a lib.

[2018-01-07 19:34] ccicchitelli commented on #1200
"everything you can do in node without a third party lib is exactly the same as what you can do in asp.net core without a lib."

That's exactly what I said. And since it's all third-party, I'm going to pick the one with the larger and more active community, with the larger corporate backing. Right now that's Node and JS, not .NET Core and C#.

WCF enables best-in-class SOA. It's incredibly powerfu

[2018-01-07 22:12] scotthurlbert commented on #1200
Agreed - "WCF enables best-in-class SOA. It's incredibly powerful."

The purpose of this list was to gauge interest.

Other peopel's lack of interest or ability to "do it another way using none
.NET libraries" in any way addresses the question that was asked and the
reasons for our responses.

Also, the purpose of this was not to educate each other on SOA and all of
the thousands of ways it can be

[2018-01-07 22:46] websitewill commented on #1200
+1 to Scott

Sent via Morse code.

[2018-01-08 13:59] coldraydk opened #2474 "Memory leak when consuming SOAP endpoint"
Hi guys,

I've encountered a memory leak when consuming SOAP endpoints in my .NET applications. The memory usage of my application continues to increase over time to a point where it obviously kills the application.

My application is running on .NET Core 2.0 in a Docker container. At first, I was suspecting new technology to be causing the leak, so I've narrowed it down to a simple test applicati

[2018-01-08 15:47] Bobmonga opened #2475 "Managing Credentials Within ChannelFactory Cache"
Hi
I've converted an old library to dotnet core and implemented a ChannelFactory caching solution. The services which it connects to require basic authorization added to each requests HTTP headers. The header is added to each request with a ClientMesageInspector. Because the ClientMessageInspector is immutable once the first channel is created the ChannelFactory cache stores each instance in a dic

[2018-01-08 19:24] zhenlan commented on #2473
@varcario this is an alternative way to set request headers
https://github.com/dotnet/wcf/blob/9cff0c81e535ac177f60ab25dff904a3144d62b3/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Https/ClientCredentialTypeTests.4.1.0.cs#L58

[2018-01-08 19:28] #2469 closed

[2018-01-08 19:28] zhenlan commented on #2469
Issue moved to [dotnet/corefx #26222](https://github.com/dotnet/corefx/issues/26222) via [**ZenHub**](https://www.zenhub.com/)

[2018-01-08 19:33] zhenlan commented on #2467
Duplicate of #1592

[2018-01-08 19:33] #2467 closed

[2018-01-08 19:39] zhenlan commented on #2466
@easternstar88 can you please try this?

[code]

[2018-01-08 19:53] zhenlan commented on #2462
@sshaikh1 can you please try out the workaround @mconnew suggested in #2368?

Duplicate of #2368

[2018-01-08 19:53] #2462 closed

[2018-01-08 20:03] zhenlan commented on #2438
According to @mconnew, this is likely due to multi-file feature in UWP that the user-defined service interface and the toolchain-generated dispach proxy are in two different assemblies.

[2018-01-08 20:07] mlacouture commented on #2470
Hi @PhilPJL

Thank you for reporting this issue.  Can you please tell us what version of Visual Studio are you using?

Miguel Lacouture
[MSFT]

[2018-01-08 20:09] mlacouture commented on #2472
Hi @pewing1895

Thank you for reporting this issue.  We will investigate as soon as we have a chance.

Miguel Lacouture

[2018-01-08 20:21] PhilPJL commented on #2470
VS 2017 15.5.2

[2018-01-08 20:49] mlacouture commented on #2470
@PhilPJL, we fixed this issue in [VS 2017 15.6 Preview 1](https://blogs.msdn.microsoft.com/visualstudio/2017/12/07/visual-studio-2017-version-15-6-preview/), will you be able to try the preview?

[2018-01-08 22:05] mlacouture commented on #2463
Hi @PhilPJL
I'll take a look at this problem and report back as soon as I have the chance to.  Thank you for reporting this issue.

Miguel Lacouture

[2018-01-08 23:36] PhilPJL commented on #2470
@mlacouture seems to work ok in Preview 1.

[2018-01-09 00:13] mlacouture commented on #2470
thank you @PhilPJL  for confirming.

[2018-01-09 00:13] #2470 closed

[2018-01-09 04:56] wasabii commented on #1200
The only reason I want WCF server side is to integrate with the large
number of existing SOAP/HTTP services out there. The rest of WCF? There are
numerous, and better, frameworks for that. But existing SOAP services, and
the requirement to integrate with them, is huge.

On Sun, Jan 7, 2018 at 4:46 PM websitewill <notifications@github.com> wrote:

[2018-01-09 05:43] forki commented on #1200
As written above you don't need WCF for SOAP.

Am 09.01.2018 05:56 schrieb "Jerome Haltom" <notifications@github.com>:

[2018-01-09 06:44] wasabii commented on #1200
Helps, when you have more advanced services. Reliable sessions,
transactions, etc. And MTOM.

On Jan 8, 2018 11:44 PM, "Steffen Forkmann" <notifications@github.com>
wrote:

[2018-01-09 06:49] rahul-raut commented on #2368
@mconnew  I am still facing this issue. I am using third party vendors WCF service and that service takes more 30 seconds every time. I also tried to use reflection to fix this issue but not bale to fix it. Could you please assist me what I am doing wrong?

[2018-01-09 07:09] easternstar88 commented on #2466
Solved! Thanks a lot.

[2018-01-09 07:09] #2466 closed

[2018-01-09 09:29] tavisca-shitaljit commented on #2261
Hi @mconnew, when is the expected release date for the fixe?

[2018-01-09 14:00] jbogard commented on #1200
There are better ways to do those things now (though the first two I’d
argue are detrimental to a SOA)

On Tue, Jan 9, 2018 at 12:45 AM Jerome Haltom <notifications@github.com>
wrote:

[2018-01-09 15:15] popcatalin81 commented on #1200
In regards to all the alternatives and possibilities discussed here, I just want to say:

  *There is nothing even comparable with Full framework WCF in terms of flexibility and interoperability*

Now, are there better choices for SOA architectures? Yes ... and No. It all depends on how *green* is your field and what are you trying to build. Is REST better choice for an SOA architecture? No ... an

[2018-01-09 15:26] scotthurlbert commented on #1200
I keep saying this on this list, just because you don't want to use WCF is
not the same as our team not needing it.

@bogard's comment that there are ways without mentioning what they are is
like that joke in the movie King Pin.  In the movie they keep saying, "Well
you know what the Bible says about that?"  After a pause they say, "It's
against it," or "It's for it." They don't cite a passage, ju

[2018-01-09 15:50] jbogard commented on #1200
Honestly before this thread I thought folks had generally moved on. In
terms of better replacements, what parts of WCF?

For HTTP web services, there's a better .NET Core version of it - ASP.NET
Core. RPC? gRPC (though be super careful, RPC can break autonomy of
services). WS-*? Most of those were bad ideas (transactions, reliable
messaging etc.) and didn't actually encourage autonomy. Proxy class

[2018-01-09 16:09] websitewill commented on #1200
Jimmy: "Honestly before this thread I thought folks had generally moved on"
Not at all - not even a remote possibility in the near (5-10 year) future
for many enterprises.
In fact, from what I see, adoption of WCF has increased - just not using it
for *web services* - so it's not as in-your-face.

Many enterprise-scale apps use WCF behind the scenes and would benefit from
hosting on cheaper metal

[2018-01-09 16:15] shamusfuller commented on #1200
Yes, because WCF is and has always been all about web services!

RPC?! There's no RPC in WCF. It is stackless, which is a key aspect that makes it superior in every respect to anything else available that you know about.

TCP?! Um, so, it seems you do not understand that WCF features location transparency. I do not have to write pipe code, or tcp code, or msmq code, or amqp code, or service bus co

[2018-01-09 16:30] miguelcastro67 commented on #1200
The last two comments here hit the nail on the head and I couldn't agree more. It is called "Communication Foundation" for a reason. "Moved on"? Putting that out there is essentially telling every customer currently using WCF (in whatever capacity) that they have always been doing it wrong and they should get with the program - very unfair thing to say. It seems to me that a common pattern in the

[2018-01-09 16:43] forki commented on #1200
Tbf it's not the .NET Community that moved on. It's the rest of the industry. And it's hard to justify SOA things if that means .NET to .NET communication only. But of course you want to maintain legacy stuff - and you can. Full framework won't go away. We just got a new version.

[2018-01-09 16:44] thefringeninja commented on #1200
Hate to be that guy, but how exactly is your business supposed to respond to evolving market conditions if this is the case? Is your database access code coupled to WCF in some way?

[2018-01-09 16:47] websitewill commented on #1200
Steffen: Tbf, where is your data to back that claim up?

On Tue, Jan 9, 2018 at 11:43 AM, Steffen Forkmann <notifications@github.com>
wrote:

--
*Will Comeaux* <websitewill@gmail.com>
LinkedIn <http://www.linkedin.com/pub/wilmer-comeaux/43/14/404?trk=shareTw>
Twitter <https://twitter.com/wilmercomeaux>
Facebook <http://www.facebook.com/WilmerComeaux>

[2018-01-09 16:48] forki commented on #1200
What claim? How many WCF implementations outside .NET do you know?

[2018-01-09 16:51] ccicchitelli commented on #1200
For those of us who have spent anytime in the enterprise it's a bit laughable to see this subject treated so flippantly by some...

Also, I don't think the Microsoft community moved on. But new people joined the community.

[2018-01-09 16:51] damianh commented on #1200
[SOAP is Not Dead – It’s Undead, a Zombie in the Enterprise](https://readwrite.com/2011/05/26/soap-is-not-dead-its-undead/)

![mtiymzi2njy0mdk2mtu0mje0](https://user-images.githubusercontent.com/57436/34732499-c51d0772-f565-11e7-9484-94bfef51b8dd.jpg)

[2018-01-09 16:54] Suriman commented on #1200
Just one detail, if WCF is dead, why is the issue that has the most comments of all? 230 versus 33, which is the next. Almost 10 times

WCF is something that should be implemented in .NET Core.

[2018-01-09 16:57] websitewill commented on #1200
Nope, my data access code is 100% data access.
I don't have to write ANYTHING related to queuing, transactions (across the
entire stack across processes and threads), security, concurrency,
reliability, *ability, etc.
Does your resource access have any of those smells?
My data access is exposed as a SERVICE - not a web service, but a service,
with all the benefits thereof. Coupling is ALL contract

[2018-01-09 16:57] damianh commented on #1200
It not dead, it's _undead_.

This issue is troll bait in fairness.

WCF is not something that should be implemented in .NET Core.

[2018-01-09 16:57] ccicchitelli commented on #1200
"Then, I can change the binding to use whatever I want, without having to change my code. You presume to know of some other technology that can do that? Please share."

The fact that this doesn't exist elsewhere renders the argument about WCF being outdated moot IMHO. To say nothing of all the other benefits of WCF...

[2018-01-09 16:58] forki commented on #1200
@surinam because this ALWAYS happens in such threads. People demanding a feature and if they don't get it people discuss if things are dead or not. But nobody actually offers their help - it's "Microsoft needs to do it", "people who don't need it, don't understand it", "you did not work in the enterprise like me" and all that stuff.

[2018-01-09 16:59] phillip-haydon commented on #1200
People seem to be throwing the word ‘enterprise’ around like it helps justify their need for WCF.

Sent from my iPhone

[2018-01-09 16:59] ccicchitelli commented on #1200
"Basically look at WCF as .NET on steroids, NOT just web services."

This point seems lost on many.

[2018-01-09 16:59] damianh commented on #1200
I would like to add, I don't really care. I just use WCF as a marker to avoid an org / project / product etc :)

[2018-01-09 17:00] ccicchitelli commented on #1200
"People seem to be throwing the word ‘enterprise’ around like it helps justify their need for WCF."

If the enterprise already has a WCF SOA, then it does...

[2018-01-09 17:02] damianh commented on #1200
Great thing about microsoft is they virtually never declare anything actually dead. They just move on, stop doing stuff and stop talking about stuff  and eventually everyone "gets the message that wasn't directly said".

Except silverlight. They declared that one,.

... which became the basis of coreclr! undead :)

[2018-01-09 17:02] shamusfuller commented on #1200
_full-featured, singular communication stack into .NET Core so we can host
on cheaper metal and smaller devices,_

websitewill: and I will add to that I would like greater reach! I was very disappointed when I sat down years ago to write my first store app, and found out it could not work with my infrastructure, no WCF in it. Same goes for core, UWP, all of it. I can't use any of that. The whole p

[2018-01-09 17:05] websitewill commented on #1200
This says much more about you than it does anything about any technology.

We are not here to educate those who insist upon remaining ignorant of good
tools. You can continue to drive screws with your hammer if you choose.
Move along.

On Tue, Jan 9, 2018 at 11:59 AM, Damian Hickey <notifications@github.com>
wrote:

--
*Will Comeaux* <websitewill@gmail.com>
LinkedIn <http://www.linkedin.com/pub/wi

[2018-01-09 17:06] damianh commented on #1200
Sure thing @websitewill

![image](https://user-images.githubusercontent.com/57436/34733184-c5d451e6-f567-11e7-95fa-5e6139c5557a.png)

[2018-01-09 17:06] websitewill commented on #1200
Anyone who thinks Microsoft has "moved on" obviously hasn't talked with any
of the teams building Azure - leveraging LOTS of WCF behind it.
Hrmmmm.

On Tue, Jan 9, 2018 at 12:02 PM, Damian Hickey <notifications@github.com>
wrote:

--
*Will Comeaux* <websitewill@gmail.com>
LinkedIn <http://www.linkedin.com/pub/wilmer-comeaux/43/14/404?trk=shareTw>
Twitter <https://twitter.com/wilmercomeaux>
Faceboo

[2018-01-09 17:09] ccicchitelli commented on #1200
"For HTTP web services, there's a better .NET Core version of it - ASP.NET
Core. RPC? gRPC (though be super careful, RPC can break autonomy of
services). WS-*? Most of those were bad ideas (transactions, reliable
messaging etc.) and didn't actually encourage autonomy. Proxy classes?
Stopped using them, even inside WCF because it encouraged RPC-style
services. Used service channels directly instead

[2018-01-09 17:10] ccicchitelli commented on #1200
Damianh ad hominem attacks aren't appreciated.

[2018-01-09 17:10] websitewill commented on #1200
And my lack of any public repositories means, what, exactly?
That I work for people who choose to not give away their code?
That I don't work on many open-source projects?

Kudos on your evidence of... What, exactly? :)

On Tue, Jan 9, 2018 at 12:06 PM, Damian Hickey <notifications@github.com>
wrote:

--
*Will Comeaux* <websitewill@gmail.com>
LinkedIn <http://www.linkedin.com/pub/wilmer-comeaux/43

[2018-01-09 17:12] blowdart commented on #1200
Let's stop with commenting on people in the thread (and that includes the finger pointing that X is old and you need to move to Y) before I lock the issue because it has descended into trolling and flaming.

[2018-01-09 17:13] damianh commented on #1200
@cccicchitelli it was in return for being called ignorant. Deleted anyway.

[2018-01-09 17:14] sapiens commented on #1200
I remember reading some 2-3 years ago some MS document where the **recommended** framework to use for **new web projects** was WebAPi or Asp.Net MVC.  WCF was mentioned in some legacy context.

[2018-01-09 17:15] ccicchitelli commented on #1200
Web API is for http services. This is not comparable in any meaningful way to the full WCF.

[2018-01-09 17:17] websitewill commented on #1200
For exposing service outside the fire, yes, of course. But gain, that's a
*very* small part of the concern WCF is used for.
IMO, I don't even use WCF for that part because yes, Web API (or now just
MVC).

That's focusing on only one tiny thing, which is the problem with this
thread as that's pretty much what most of the population knows about WCF,
which is a shame.

That's like saying .NET is only

[2018-01-09 17:17] damianh commented on #1200
@blowdart +1 for locking. It's going nowhere.

[2018-01-09 17:20] ccicchitelli commented on #1200
Damian since you have no skin in the game and are being the most divisive here, I'd suggest bashing you before locking those of us with business needs for WCF out of the WCF thread...

[2018-01-09 17:33] bwatts commented on #1200
This is about cross-platform WCF, as it is still available on the full fx, correct?

It does not read as an indictment of WCF, its utility, programming model, or popularity.

There is a valid question of whether the effort to de-Windows WCF is a sound investment. Given that it has the **W** right in the name, my instinct says it's not.

[2018-01-09 17:39] damianh commented on #1200
The business needs have been expressed and the alternatives + market direction have been presented.

I have lots of skin in the .net game. I strongly feel that WindowsCF has no place in .net core for it to be competitive in the cloud landscape and for the type of community it need to (re-)attract.

Its available and supported (but not actively developed) on .net desktop. Continue with that.

Final

[2018-01-09 17:40] shamusfuller commented on #1200
@sapiens yes!

And, that has been a continuing issue. Like any other large organization, we can expect that MS will not always have their message completely aligned with reality. Remember way back when WCF came out? MS marketed it as being 'all about web services'. Which, in fact, they had invented something completely different. WCF had almost nothing to do with web services. And yet, that fact r

[2018-01-09 17:41] websitewill commented on #1200
That's a fair point and the topic of renaming it, IIRC, came up in this
thread.
About the only part of WCF that is really "windows-specific" is the fact
that it can very seamlessly interact with MSMQ via an OOTB binding -
something that could be made an auxiliary package. If you are targeting
MSMQ you aren't going to target .NET Core anyway, so that would be just
fine to use regular .net anyway. E

[2018-01-09 17:46] shamusfuller commented on #1200
_look where the puck is going._

A lot of us were here when they dropped the puck into the game and we've been watching the puck the whole game and we also know where it goes next. I can use my WCF in service fabric. I could use my .net in WCF. I could use my COM in .net.

[2018-01-09 17:52] ccicchitelli commented on #1200
Don't let the marketing confuse you, there is nothing that is coupled to Windows that _must_ be coupled to Windows. That's all the name is - marketing.

[2018-01-09 19:17] forki commented on #1200
@websitewill

I'm doing a lot azure. zero WCF on the outside. AFAIK the stuff I'm using is also not using much wcf on the inside. I have no data to proof that, but just one simply argument: everything I use is moving over to core. If these parts of azure would rely on wcf that much, then core would support WCF already.

[2018-01-09 19:53] darrelmiller commented on #1200
As someone who works as a dev at Microsoft on Azure services and has spent a significant part of the last 18 months building software that helps customers who have SOAP based services, let me offer my perspective with hopefully no judgement on the value of the tech.  I think the folks who are hoping they can convince Microsoft to build WCF style services in .NET Core are wasting their time.  Your

[2018-01-09 20:23] ccicchitelli commented on #1200
"Your time would be better spent working together on an simplified OSS version of WCF."

If by that you mean writing it from scratch, then that defeats the entire purpose of asking for this.

If instead you mean the community should maintain WCF going forward, then by all means, send me a link to the compilable source code and I'll have the GitHub project spun up in an hour, and a version running

[2018-01-09 20:39] popcatalin81 commented on #1200
I could do without SOAP if need be, but I still would like a communication framework with automatic services + automatic proxies suited for RPC, which is configurable and supports a wide array of security and transport options and which comes out of the box in .Net Core.

[2018-01-09 21:11] scotthurlbert commented on #1200
You do know it's the first week of 2018, right?

On Jan 9, 2018 9:06 AM, "Damian Hickey" <notifications@github.com> wrote:

[2018-01-09 21:29] ccicchitelli commented on #1200
"You do know it's the first week of 2018, right?"

Comments like that are sad. Why are you bothering to use an old fashioned statically-typed language like C# then? With that mentality you should be using JS for everything like all the other cool kids these days.

[2018-01-09 21:37] blowdart commented on #1200
OK we're done here, and that makes me sad.

People want WCF because they're connecting to systems outside of their control, or for back compat, or for the things REST simply doesn't do. Berating them to move to REST when it's impossible for them is neither clever nor helpful.

[2018-01-09 21:37] #1200 closed

[2018-01-10 01:15] StephenBonikowsky opened #2485 "Consider making package versions and assembly versions be the same."
Lets discuss, this could simplify our versioning story and make for less confusion and mistakes.

[2018-01-10 03:15] zhenlan commented on #2463
WCF Connected Service generates the modern task-based asynchronous (TBA) client proxy code. The code can be compiled fine in a .NET Standard library. When this library is used at the runtime, it requires the WCF implementation of the actual runtime framework supports TBA. TBA is supported by WCF on .NET Core and .NET Framework. After discussing with @mconnew, we believe the root-cause of the issue

[2018-01-10 03:19] zhenlan commented on #2446
@fccookj, if you had this issue in a Xamarin project, I believe it has the same root cause as #2463. It's because Xamarin/mono implementation does not support task-based WCF async methods.

Duplicate of #2463.

[2018-01-10 03:19] #2446 closed

[2018-01-10 03:21] zhenlan commented on #2439
Duplicate of #2463

[2018-01-10 03:26] zhenlan commented on #1808
A long-term option is probably to use a .NET Standard library, which is supported by the WCF Connected Service already and can contain a generated WCF proxy, in a Xamarin project. But unfortunately, this is currently broken due to #2463.

[2018-01-10 03:36] zhenlan commented on #2436
Duplicate of #1592

[2018-01-10 03:36] #2436 closed

[2018-01-10 08:32] marek-safar commented on #2463
Updating Xamarin implementation of WCF is something we'd certainly like to do but it's not a simple task. Due to its complexity and amount of work needed we have been postponing the work for some time.

[2018-01-10 17:33] Snayder187 opened #2489 "I can not add my webservices"
Hello, how are you? I have a problem with the new version of Xamarin, I already have my webservices created and it works to me 100% but when I create a Xamarin project, I no longer get the portable now I get the .NET Standard, when I create it and I want to make a reference to my webservices I get an error but when I recompile all my "new" file xamarin I get everything OK, I can not find what the

[2018-01-10 21:13] Snayder187 opened #2494 "Help me with my WebServers please"
Hello, I have a problem for my webservices, my program does not run, I like all the parameters to access my login.

![1113](https://user-images.githubusercontent.com/33837035/34795378-21bc33f8-f620-11e7-95c2-73f7aec290c6.png)

This is the error message that I get when it arrives at the IF

![2](https://user-images.githubusercontent.com/33837035/34795549-aeb41622-f620-11e7-8034-9178df92b5f8.png)

T

[2018-01-10 21:19] Snayder187 commented on #2494
[code]

[2018-01-10 22:21] COLEplusTEN commented on #2366
I'm still seeing this same error on 15.5.3.

[2018-01-10 22:23] COLEplusTEN commented on #2340
I get this error in 15.5.3.

[2018-01-11 00:07] mlacouture commented on #2489
Hi @Snayder187
Thank you for reporting this issue, it looks like the same as #2464 for which we are considering a fix for the next release (Visual Studio 2017 v15.6 Preview 3). Please check issue #2464 for a workaround.  I'm closing this as a dup. please reactivate if you think this is not the same issue.

thanks,
Miguel Lacouture

[2018-01-11 00:07] #2489 closed

[2018-01-11 18:27] PhilPJL commented on #2463
@marek-safar Maybe time to stop postponing it?  You love a challenge though?
@zhenlan Is there anything you can do in the WCF Connected Service tool to work around this limitation until Xamarin implements TBA?

[2018-01-12 11:25] rspulini commented on #2463
Friends, greetings.
I need this support too. The WCF Web Service tool could generate the methods with begin / end, this would solve the problem.

It does not make any sense to use Net Standard with Xamarin Forms if we can not use a web service building with WCF.

[2018-01-12 18:19] andyh86 commented on #1257
Does anyone know of any workout arounds for .net core applications for this issue? Thanks

[2018-01-12 19:21] zhenlan opened #2497 "2.1 Preview 1"

[2018-01-12 19:25] zhenlan commented on #2261
Duplicate of #1592

[2018-01-12 19:25] #2261 closed

[2018-01-12 19:49] zhenlan commented on #1886
As dotnet/core-eng#775 is closed, @StephenBonikowsky can you see if the test can pass now? Thank you!

[2018-01-12 21:29] mconnew commented on #2463
@marek-safar, is Xamarin using a stale version of WCF from mono? Having a quick look at the mono source code, it looks like mono already has all of the pieces required. There's already an implementation of [TaskCreator](https://github.com/mono/mono/blob/master/mcs/class/referencesource/System.ServiceModel/System/ServiceModel/Channels/ServiceChannelProxy.cs#L207) that's needed by ServiceChannelProx

[2018-01-13 19:26] Tragedian commented on #2485
It seems obvious to have them match. Are there any reasons _not_ to keep them in sync?

[2018-01-13 20:12] Tragedian commented on #2400
The problem with this and any approach I could imagine where the HTTP abstractions work on `HttpMessageHandler`, but all the properties we'd want to examine or modify are on the `HttpClientHandler`. Either you have to up-cast, or use `HttpClientHandler` in all the contracts, significantly limiting the ability to wrap the handler. Whether that scenario is important is unclear.

[2018-01-13 20:40] Tragedian commented on #2400
Assuming `HttpMessageHandler` is the right level of abstraction, I would be interested in exploring adding something to the binding parameters which implements a `Configure(ref HttpMessageHandler)` contract. The channel could call this method (or indeed a collection of them) to examine, configure or even replace the handler.

[2018-01-15 11:13] futurify-phuongnd commented on #2269
Hi, I have the same issue
In my wsdl file, when I have **<fault />** element inside **operation** element of **portType**, I cannot add the service reference.
![image](https://user-images.githubusercontent.com/13307728/34939692-5dd8173c-fa1f-11e7-93f6-784146ee059a.png)
![image](https://user-images.githubusercontent.com/13307728/34939727-8056fbd4-fa1f-11e7-9177-32cd1a559e10.png)
If I remove **<faul

[2018-01-15 15:35] StuartBaker65 opened #2498 "Unable to create SSL/TLS secure channel"
I'm using a number of third party web services and would like the ability to supply my key in some way to allow the call to succeed.  This is probably low level but would be a great feature to prevent having to go through the rigmarole of manually creating the proxy.

[2018-01-15 20:12] alextochetto opened #2499 "Could not establish trust relationship for the SSL/TLS secure channel with authority"
I'm trying to use a digital certificate already installed in my PC.
I'm using ASPNET CORE 2.0, Framework 4.7 and VS 2017 15.5.3
This only occurs because the certificate is not valid: NET::ERR_CERT_AUTHORITY_INVALID

In my winform application, this works using this:
System.Net.ServicePointManager.ServerCertificateValidationCallback = delegate { return true; };

[2018-01-15 22:39] mlacouture commented on #2269
@futurify-phuongnd, are you able to share the wsdl file(s) with us? thank you!

[2018-01-15 23:28] zipswich commented on #2433
Does anyone know the ETA of the fix?

[2018-01-16 02:25] nickcoad commented on #2211
@hugoterelle I'm not sure how to actually use the ChannelFactory you've created, can you tell me how I inject this into the WCF service so it uses the correct channelfactory?

[2018-01-16 02:29] nickcoad commented on #8
This has been an issue now for 2 and a half years, why is this basic functionality still not supported?

[2018-01-16 03:07] futurify-phuongnd commented on #2269
@mlacouture, I have fixed my issue.
My WSDL is invalid.
The first screenshot is the incorrect wsdl, and I fix them by add fault element in operation binding (second screenshot)
![image](https://user-images.githubusercontent.com/13307728/34970057-b75fd990-faa4-11e7-97e4-cfd44e473d30.png)

![image](https://user-images.githubusercontent.com/13307728/34970022-853dddf4-faa4-11e7-8cd1-1d6151babd51.png)

[2018-01-16 03:43] smartmaster commented on #2269
it is a dotnet core tooling issue. my workaround is
- use dotnet framework project to generate .cs by .wsdl
- copy the generated .cs to dotnet core project

[2018-01-16 19:33] hugoterelle commented on #2211
@nickcoad
I use autofac to register the channel factory:

builder.Register(c => CreateSecuredChannel<IMySoapService>("myurl", "myuser", "mypassword")).SingleInstance();
builder.Register(c => c.Resolve<ChannelFactory<IMySoapService>>().CreateChannel())
                .As<IMySoapService>()
                .UseWcfSafeRelease();

Then, you just need to inject your IMySoapService to use it.

And for t

[2018-01-17 01:04] mlacouture commented on #2465
@szogun1987, thank you very much for the new wsdl files provided, I was able to reproduce the issue and it turned out to be a bug in our metadata download API. I noticed however, that not all wsdl documents are downloaded, some indirect references are still needed to be downloaded.  If you are able to download all schema/wsdl documents you may be able to workaround this problem.  Stay tuned for a

[2018-01-17 07:06] szogun1987 commented on #2465
Yes. I figured out that fully valid wsdl files are available online. (at service endpoint with "?wsdl" endings). I'm not able to use generated proxy, because this service uses BinaryTokenAuthentication, and AFAIK WCF for .Net core doesn't support it yet. I have created [extension](http://bit.ly/2mMtzHp) for [SimpleSOAPClient](http://bit.ly/2DibADd) that  provides this feature.

[2018-01-17 17:01] christopherseeley commented on #2022
Has this been released yet? Using System.ServiceModel.Primitives version 4.1.1 and ClientBase<T> doesn't implement IDisposable

[2018-01-17 18:09] jhofker commented on #2197
15.6 Preview works!

![image](https://user-images.githubusercontent.com/812787/35058871-dc979fec-fb7e-11e7-943a-e404885d3a72.png)
![image](https://user-images.githubusercontent.com/812787/35058889-ec52d9ba-fb7e-11e7-8aef-f798dc1f99ca.png)
![image](https://user-images.githubusercontent.com/812787/35058928-23546fc8-fb7f-11e7-821a-f24e3cd481fd.png)

[2018-01-17 18:27] mlacouture commented on #2197
I'm glad this issue has been resolved.  Thank you all for your help.

[2018-01-17 18:27] #2197 closed

[2018-01-17 18:49] jeremyVignelles commented on #2104
Hi, what's the status of the WS-Discovery support? is it planned anytime soon?

[2018-01-17 21:57] mconnew commented on #2400
@Tragedian, WCF doesn't touch anything on `HttpClientHandler` after we've set all the properties, we just pass it to the constructor of `HttpClient` and only interact with that. Having a delegate which takes an `HttpClientHandler` would give the delegate access to all the properties WCF sets. There are then 3 options:
1. Return the same instance of `HttpClientHandler` with some properties modified

[2018-01-17 21:57] jhofker commented on #2197
Wanted to add that the documentation for NetSuite suggests using a "Web Reference" over a "Service Reference". [See here, starting on page 16](https://system.na2.netsuite.com/core/media/media.nl?id=1337&c=411141&h=ab360507868eb92a972d&_xt=.pdf)

Is there an equivalent to that for core by chance?

[2018-01-17 22:02] Tragedian commented on #2400
My only questions:

- Where would `Configure` live? A client behaviour, or something else entirely?
- Would there have to be specific protection to prevent having multiple `Configure` implementations applied to client?

[2018-01-17 22:57] BryanWilhite commented on #76
I extracted a simple, single-concern version of `SyndicationFeed` directly from `System.ServiceModel.Syndication.SyndicationFeed` [[my source](https://github.com/BryanWilhite/Songhay.Feeds/blob/master/Songhay.Syndication/SyndicationFeed.cs)]. Now I would like to add content-negotiation support which means I will need `Rss20FeedFormatter` and `Atom10FeedFormatter`, right? Do these formatters not su

[2018-01-17 23:00] mlacouture commented on #2197
@jhofker, it seems the documentation was written for an earlier version of Visual Studio (it used to be called VS.Net) which supported the old ASMX (Web Reference) technology which has been deprecated and replaced with WCF (Service Reference).  Hope this helps,

[2018-01-18 00:38] mconnew commented on #2400
It would still be a `Func` which you would provide by adding it as a binding parameter. To add this, you would need to create a behavior similar to the first example code snippet at the top.
I don't believe you can add more than one binding parameter of the same type as it's backed by a `KeyedByTypeCollection<Type>` which means you can only have one item in the collection with the same key, with t

[2018-01-18 03:06] BryanWilhite commented on #2218
@ToddThomson indeed I did make a [simple SyndicationFeed model](https://github.com/BryanWilhite/Songhay.Feeds/blob/master/Songhay.Syndication/SyndicationFeed.cs) and you are very helpful, showing me how to use it above. However, what would one do when content negotiation comes into the picture? What would one do when we want to produce Atom or RSS output from a single endpoint?

[2018-01-18 11:28] Tragedian commented on #2400
Under this, if there were two behaviours which attempted to modify the handler, the expected result will be to get an exception thrown when trying to add the second configure method to the binding parameters. That doesn't seem like an easy situation to diagnose if a user has just added two behaviours which conflict. Can we do better?

Knowing to add a `Func<HttpClientHandler, HttpMessageHandler>`

[2018-01-18 23:51] StephenBonikowsky commented on #2184
Resolved, avoided the issue by building product and test on the same OS that the tests will run on.

[2018-01-18 23:51] #2184 closed

[2018-01-18 23:52] StephenBonikowsky commented on #2186
Done

[2018-01-18 23:52] #2186 closed

[2018-01-19 01:07] mconnew commented on #1592
@zminic, HttpClient in .Net Core doesn't use WinINet which picks up its proxy settings from the same place as you configure IE/Edge proxy settings. It uses WinHTTP instead which maintains its own proxy settings. From an administrative command prompt execute the command `netsh winhttp reset proxy` to reset WinHTTP to use direct connections instead. If you want to see what it's currently set as, exe

[2018-01-19 01:11] mlacouture commented on #2104
@jeremyVignelles, this is not currently in our near-term plans, as a workaround for this problem you can download the service metadata as wsdl files and provide the wsdl to the WCF Web Service Reference tool.

BTW: for https://www.onvif.org/ver10/device/wsdl/devicemgmt.wsdl I tried downloading the service metadata using svcutil and it won't work w/o fixing up the generated files, svcutil will save

[2018-01-19 01:29] #2441 closed

[2018-01-19 01:37] mconnew commented on #2400
We have the constraint that we can't add any explicit api's as any new api's also need to be added to the desktop full framework. As the full framework doesn't use HttpClient, that's a problem. Do you have any other suggestions on how to do this?
By the way, that problem you described is the same for any existing behavior that wants to add a binding parameter. Whatever the final solution will be,

[2018-01-19 02:22] mlacouture commented on #2410
Hi @Joebeazelman, were you able to try this in VS 2017 v15.6 Preview 2? thanks,

[2018-01-19 02:26] mlacouture commented on #2384
@Joebeazelman, we have decided to change our design and fix this issue, the tool will no longer build the user's project, it will reuse types from referenced projects provided they are available (projects have been built before).  A fix for this will be available in VS 2017 v15.6 Preview 3.

[2018-01-19 02:32] mlacouture commented on #2461
@ermancetin, we have increased the message quotes and the fix wil be available in VS 2017 v15.6 Preview 3 scheduled to be released next week, I hope you can try this preview.  thanks,

[2018-01-19 02:35] mlacouture commented on #2269
@taspeotis, we are planning to release a fix for this issue with VS 2017 Preview 4 scheduled for 02/07/2018, stay tuned.

[2018-01-19 02:37] mlacouture commented on #2464
@PhilPJL, a fix for this issue will be available with the release of VS 2017 Preview 3 next week, I hope you can try this preview, thanks,

[2018-01-19 07:34] MelnikovIG commented on #2368
@mconnew I think in you gist executing real request to fill _httpClientCache is bad idea. Maybe it is better to fill HttpClient cache with fake request like
`            try
            {
                (client.ChannelFactory.CreateChannel(new EndpointAddress(uri)) as IRequestChannel).Request(Message.CreateMessage(MessageVersion.None, null))
            }
            catch (Exception e)

[2018-01-19 08:37] Tragedian commented on #2400
The constraint on not being able to add any explicit new APIs certainly makes anything other than some kind of `Func<>` impossible. Even something as lightweight as appropriately-named delegate would violate this constraint. It gives this whole exercise a bit of a hacky feel, trying to add new behaviour to an API without actually changing the API in a visible way.

The scenario-test-as-an-example

[2018-01-19 08:42] PhilPJL commented on #2464
yes of course.

[2018-01-19 15:21] lerudiconsulting opened #2507 "Timeout issue? (how to configure web service client)."
Hi,

I am consuming a slow connected service and thus simply need to increase the timeout. In previous versions of .NET I could simply adjust timeout settings in the bindings in web.config, however, in ASP.NET Core 2 I cannot find the way to do this. Can you perhaps elaborate on how to do this as all I have found so far are unclosed issues related to this type of question?

Thanks in advance for y

[2018-01-19 17:10] nmocruz commented on #2264
Hi I was hoping that this would be solved in this release 4.4.1, but still ignoring the attribute configuration

https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Dispatcher/PrimitiveOperationFormatter.cs#L43

[2018-01-19 18:00] #2349 closed

[2018-01-19 18:04] fabiano commented on #2349
Thank you guys!

[2018-01-19 18:26] jhofker commented on #2197
@mlacouture I'm not sure anyone has told the fine folks at NetSuite that ASMX is no longer supported. 😉 Getting their API working under WCF so far is very difficult.

[2018-01-19 19:02] zhenlan commented on #2197
Just to be precise - ASMX in full .NET Framework is *not* deprecated and it is still supported. However, we do recommend customers using WCF over ASMX. This has been the recommendation from WCF team for many years. ASMX is not ported to .NET Core and we don't have a plan to port it to .NET Core at this point in time.

[2018-01-19 19:38] zhenlan commented on #2507
@lerudiconsulting thanks for raising the issue.

@mlacouture can you see what we need to change in the connected service generated code to make the configuration (programmatically) easier/possible.

[2018-01-19 19:55] zhenlan commented on #2485
Currently, v4.5.0 S.P.SM package has S.P.SM assembly version 4.1.4.0, we would like to change the assembly version to 4.5.0.0. This will make future debugging/investigation to find the right package much easier.

@weshaggard, do you see problems of doing this?

[2018-01-19 20:13] lerudiconsulting commented on #2507
Hi @zhenlan!

Thanks for taking action on this! Much appreciated! Look forward to the implementation! Any projection on when this is due?

Cheers!

 /Peter

[2018-01-19 21:42] mconnew opened #2508 "Increment System.ServiceModel.Http contract minor version"
The next release will include an addition to the S.SM.Http contract from PR #2370 so the minor version of the contract assembly will need to incremented.

[2018-01-19 21:44] #2389 closed

[2018-01-19 21:46] lerudiconsulting commented on #2507
Hi again @zhenlan,

Am I to understand that there is a programmatic way of altering these values, only not a simplified way? If there is a codified way (even if it is not very simple) of doing this while I hold for the fix, I would appreciate it if someone shared this info with me.

Thanks again in advance!

 /Peter

[2018-01-19 22:01] mconnew commented on #2398
If you are hosting in IIS, I presume you are running on the full .Net framework and not .Net Core?

[2018-01-19 22:08] cgountanis commented on #2398
We install the .NET Core Windows Server Hosting bundle)and run Core 2 web
applications through IIS. I would say .NET 4.5 might be installed by
default being that it is latest Windows Server but we are not using it
directly with these applications.

On Fri, Jan 19, 2018 at 4:01 PM, Matt Connew <notifications@github.com>
wrote:

[2018-01-19 22:10] cgountanis commented on #2398
We install the .NET Core Windows Server Hosting bundle and run Core 2 web applications through IIS. I would say .NET 4.5 might be installed by default being that it is latest Windows Server but we are not using it directly with these applications.

[2018-01-19 22:33] weshaggard commented on #2485
There are a couple reasons we stopped tying them together:

1. In a lot of our packages we have multiple assemblies for different target frameworks which have different assembly versions so which one would you pick in that case.
2. There are a number of scenarios were we want to keep the assembly version fixed but we have to still bump the package version to ship an update. Think .NET Framework wh

[2018-01-19 22:52] Tragedian commented on #2485
@weshaggard  What's the details on the scenario where you want to push an update but not bump the assembly version to match? Is there something looking for specific assembly versions?

[2018-01-19 23:01] weshaggard commented on #2485
A lot of our packages support multiple frameworks and some of those frameworks have versions of a library fixed inbox (ex .NET Framework) so we have a fixed assembly version we must provide for our reference assembly in the package so that references to that package will run correctly when running on .NET Framework. If we bumped the version then we would have to handle version unification in some

[2018-01-20 00:13] mconnew commented on #2433
The problem is that HttpClient doesn't support the `Expect: 100-Continue` header on non-linux platforms. This is necessary for multiple reasons. For example, to avoid sending a large request to a server to be greeted with an authentication challenge. The entire request would need to be sent again when responding to the challenge. Some authentication protocols require multiple requests back and for

[2018-01-20 00:15] mconnew commented on #2474
@coldraydk, please have a read through issue #2351 and let me know if that addresses your concern?

[2018-01-20 00:49] mconnew commented on #2475
Would code along these lines work for you:
[code]

You can reuse the single proxy for multiple simultaneous requests without issue as HTTP doesn't bind to a single socket per channel.

[2018-01-20 00:51] zipswich commented on #2433
Thanks a lot for the elaboration, @mconnew
Intercepting handler would work.  I am already using a message inspector.
Would it be the quickest fix to have an option to disable HEAD?
I have a rudimentary question about this WCF project.  Is it possible for me to build a version for my own app to make many app users happy for now while waiting for the final fix?  I have red the following:
https://git

[2018-01-20 01:15] mconnew commented on #2498
You are a little unclear in your description about what it is you are wanting to do. So I'm going to try and cover all the bases. Presuming you start you code like this:
[code]
Then you can continue depending on what your use case it:

**You want to accept any certificate from the server**
[code]

**You want to specify a specific certificate for the server**
[code]

**Specify a client certificate

[2018-01-20 01:17] mconnew commented on #2499
Will this work:
[code]

[2018-01-20 01:24] mconnew commented on #2400
We do normally have the option of adding an API, the problem we have though is with how different the inner workings are between .Net Core and the full framework for HTTP. If there were a parallel for NetTcp, we could probably add an API. But semantically binding parameters are the right way to do this anyway. It's how you provide parameters which a binding element would pick up to modify the beha

[2018-01-20 01:32] mconnew commented on #2398
This seems like it might be an issue with the IIS Asp.Net Core module. Your code isn't running inside the IIS app pool process, it runs in its own process which IIS launches via Asp.Net Core module. Changing the identity of the app pool is modifying the inherited permissions of your Asp.Net core process. Whatever is happening there is messing up the authentication. Can you reproduce this issue wit

[2018-01-20 01:40] cgountanis commented on #2398
Understood. Just trying to access SSRS reports in PDF form. To be honest, I don't know any other way to do it. Would you have a simple example that I could test with? Based on my code example is there an easy way to just use the client and not the built-in easy way of doing things? Willing to research if you have maybe a link or just a little bit of a tip.

[2018-01-20 01:52] mconnew commented on #2398
You don't need to send anything intelligible to the server as the authentication comes before looking at the request. The URL needs to be correct, that's all.

[2018-01-20 01:54] mlacouture commented on #2507
Hi @lerudiconsulting

As you may know, .NET Core does not support configuration files so binding configuration needs to be done in code.

The generated proxy code provides a configuration partial method for this purpose, for example: assuming your client class is named `ServiceClient `and its namespace `ServiceReference`, you can implement the configuration method as follows:

[code]
I hope this r

[2018-01-20 01:54] cgountanis commented on #2398
I will give it a shot. One thing I did test was a bad URL and it would fail as expected. So troubleshooting wise I know it's connecting just has some kind of strange issue with the header unless you run the app pool as administrator very strange. Both machines have no similar users and no domain always worked on my development machine just very odd.

[2018-01-20 04:46] ShaneRayCafe commented on #2219
I am also running into this issue trying to consume WSDL from https://www.sandbox.paypal.com/wsdl/PayPalSvc.wsdl using .NET Standard 2.0.  Two interfaces are generated `PayPalAPIInterface` and `PayPalAPIAAInterface`.  `PayPalAPIInterface` seems to work okay, However `PayPalAPIAAInterface` throws "Compiling JScript/CSharp scripts is not supported".  I tried the solution provided by @shmao -- it did

[2018-01-20 17:24] TonyHenrique opened #2509 "How to Add a service that requires a Soap Header"
I need to Generate code for this WCF Service,
https://servicoshm.saude.gov.br/cadsus/PIXManager
 but they require Soap Header, so just opening it in a WebBrowser, for example, returns

**_Access Denied_**
![image](https://user-images.githubusercontent.com/6307623/35186122-dbd792da-fded-11e7-8a64-4ca08ccce06d.png)
This screens gets stuck on "Please wait..."
![image](https://user-images.githubuserco

[2018-01-20 21:10] zhenlan commented on #2407
@amodi2 please let us know when you have an update.

[2018-01-20 21:13] zhenlan commented on #2293
A stable version of `System.ServiceModel.Primitives` package that has the fix of this issue has been released early last week.
https://www.nuget.org/packages/System.ServiceModel.Primitives/4.4.1

[2018-01-20 21:13] #2293 closed

[2018-01-22 03:21] luisdaviddela commented on #2464
I have the same error, how can I fix it? :/

[2018-01-22 06:18] Jsrc1990 commented on #2464
I unselect the 'Reuse types in referenced assemblies' option and ok consume but Servicio_Web.Obtener_RopasCompletedEventArgs and Cliente.Obtener_RopasCompleted += Delegado event not exists, is missing, i need it in xamarin before was ok and now all is broken

[2018-01-22 11:39] alextochetto commented on #2499
Thanks a lot @mconnew
It worked!!
It was necessary only disable the SslCertificateAuthentication
Regards

[2018-01-22 19:46] mlacouture commented on #2509
Hi @TonyHenrique

I tried the provided service URL and what I can see is that the request gets shut down on the server site.  It seems to me that the specified address does not refer to a metadata exchange endpoint (which when secured it is usually done at the IIS level, see [this web post ](https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-authentication/)for detail

[2018-01-22 20:13] bipasac2000 opened #2510 "Authentication failure when adding a WCF Web Service Reference with the correct auth (Not a web service URL)"
I am trying to add a WCF Web service reference to the following service with an authentication certificate that I have locally on my machine -
 https://mseventswwppe.partners.extranet.microsoft.com/VendorRegistrationServices/RegistrationServices.svc.

From a fiddler trace I see that the authentication fails with a 403 error even though I am using the correct certificate and in the UI I see a infin

[2018-01-22 20:28] mlacouture commented on #2464
Hi @luisdaviddela, did you try unselecting the 'Reuse types in reference assemblies' option?

[2018-01-22 20:31] mlacouture commented on #2464
Hi @Jsrc1990, can you provide more details about your problem? it seems you were able to generate the proxy code but you are now having a compile-time error where an event is not generated? It seems to me you are using client code from a proxy previously generated for a .NET Framework project, if this is the case, this is not supported in a .NET Core project.  Can you please confirm/provide detail

[2018-01-23 01:00] hburgess opened #2511 "Tuple<string,string> started being generated as TupleOfstringstring custom object"
I deleted an existing connected service that had methods with parameters of type Tuple<string,string> and recreated the connected service to the same URL and all parameters of this type had been replaced with a newly generated custom object called TupleOfstringstring (which of course broke all references to the generated code). Manually changing all the TupleOfstringstring parameter types back to

[2018-01-23 02:57] praveenjayaramanm commented on #31
Many of our Enterprise Apps rely on WSBinding and would like to +1 the request for this feature.

[2018-01-23 03:34] mconnew commented on #2498
If the service is a WCF service, unless you consider your wsdl to be secret, you could use a different binding security configuration for the mex endpoint to remove the client certificate requirement for the wsdl only. If hosting in IIS, you would need to configure it to accept client certificate instead of require. This is the default.