[2018-10-17 07:01] rohith opened #3224 "Ability to generate contracts only & skip the client"
When I do `dotnet svcutil http://contoso.com/SayHello.svc`, the svcutil generates a `Reference.cs` which contains the extracted *Contracts* & *Models* along with a *SoapClient*

It would be great to have something along the lines of `dotnet svcutil http://contoso.com/SayHello.svc --skip-client` to generate a `Reference.cs` without the *SoapClient*

The idea behind this request is to use a Generic

[2018-10-17 17:07] moginheden commented on #2463
This post will start as a bit of a rant, then go on to show you how to fix the problem.

This is something that should be very easy for developers to use, and probably used by most apps as calling home to a server is a VERY common requirement.... Unfortunately it's currently a bit of a nightmare where a new developer has to go way too far down the rabbit hole of code that should be abstracted away

[2018-10-17 17:54] markmattes commented on #3223
Ok, I'm using the bash shell, so I just escaped the ` with a \`. However, I still didn't get the List. When I run:
$ dotnet svcutil http://orionunittest/PrintService.svc --serializer XMLSerializer -ct System.Collections.Generic.List\`1
I get this as an example:
    [System.ServiceModel.MessageBodyMemberAttribute(Namespace="http://PrintService.ServiceContracts/2007/07", Order=0)]
    [System.Xml.Se

[2018-10-17 21:44] Lxiamail commented on #3221
@guoming Can you share the concrete steps to repro the problem and share the XML payload which caused the problem?

[2018-10-17 21:49] Lxiamail commented on #3220
@xiedongweo Can you share a repro project and the WCF service WSDL file?

[2018-10-17 21:54] Lxiamail commented on #3195
@meyerovb We have looked into this, unfortunately, there is no work around that we can suggest.

[2018-10-17 21:54] #3195 closed

[2018-10-17 22:02] markmattes commented on #3223
When I use the Connected Services tool in VS 2017 (15.7.5) I get the Generic.List:
public System.Collections.Generic.List<string> CscIdCollection;
And it's dotnet-svcutil 1.0.0.0, and the command line version is 1.0.3.
So what am I missing when I run the command line dotnet svcutil?
The command again is:
dotnet svcutil http://orionunittest/PrintService.svc --serializer XMLSerializer --collectionTy

[2018-10-18 02:36] xiedongweo commented on #3220
Please download my code sample from this link: [https://1drv.ms/u/s!AoI4pKdRYn8KnHdIoRuyX2xoajkQ]

[2018-10-18 08:23] 25alex opened #3225 "Problems with adding WCF Service Reference to asp.net core 2.0 project"
Hi !

I'm trying to **add WCF Service Reference** to my **asp.net core 2.0** project using this manual from MSDN (https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide)

I'm following all of those steps, but eventually i got an **error message**:

"_Unable to generate deps.json, it may have been already generated.  You can specify the "-d" option before the

[2018-10-18 08:28] 25alex commented on #3225
btw, the wcf service does **works** with my another asp.net mvc (**.net framework**) project !

[2018-10-18 21:09] jmiller-bayshore opened #3226 "ConfigureEndpoint method not being generated"
I have been looking for some samples on working with services in .net core and came across this thread that suggested a ConfigureEndpoint method (https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide).  When I use the tool to generate the code from my endpoint it doesn't create this method for me.

Miguel Lacouture on that thread requested add the issue here

[2018-10-18 23:39] markmattes opened #3227 "dotnet svcutil only creates the Async method"
I've used the dotnet svcutil from VS 2017 (15.7.5) and also the 1.0.3 version with VS Code. When the Reference.cs is created, it only has the Async method, it doesn't have the synchronous also. I have been using the svcutil for years against our web services and it works fine.
This is a piece of a wsdl for a sample service operation:
<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:s

[2018-10-19 13:41] mrflo commented on #3173
@Lxiamail What would you recommend to log all the XML messages send and received from a dotnet core web app ? Do you know an example somewhere? Thanks!

[2018-10-19 16:32] jugg1es opened #3228 "Serialization failure of nested data in a SOAP response."
The auto-generated WCF classes created by visual studio are not deserializing a SOAP response correctly for an endpoint I am using.  It is returning null for an object that is definitely being returned to the the service.

Is there a way to work around this by getting the raw XML response from the SOAP call?   Or is there some other way I can handle this problem?

[2018-10-19 22:04] ahmedtahabaqi opened #3229 "http://localhost:51070/"

[2018-10-19 22:09] edavedian opened #3230 "Singleton WCF Client doesn't respect DNS changes"
@mconnew @Lxiamail There is a long thread about a similar topic here https://github.com/dotnet/corefx/issues/11224 which discusses the issue with singleton HttpClient.  In .NET Core 2.1, this has been solved by the introduction of HttpClientFactory and in the thread it is also mentioned that the use of SocketsHttpHandler as a possible resolution.  However, the creation of the HttpClient and HttpCl

[2018-10-20 17:57] nishantkagrawal commented on #3228
I have a similar issue. I am consuming a SOAP endpoint which has two methods. Both return a Message Body of different array type but have the same serialization properties.

I have two actions in the SOAP endpoint. `getAddresses` and `getActiveProducts`. When I call `getAddresses` I get back the response from the endpoint (I can see that in the Fiddler). But while deserialization, instead of conve

[2018-10-20 18:35] nishantkagrawal commented on #3171
I am having the same issue with dotnet core 2.1. And I created a client with .NET Full framework and had the same exact error.
 I am consuming a SOAP endpoint which has two methods (around 30 methods but I am just focused on two of them for now). Both return a Message Body of different array type but have the same serialization properties.

I have two actions in the SOAP endpoint. `getAddresses` a

[2018-10-22 09:37] xiedongweo commented on #3220
Any update?

[2018-10-22 10:49] mrflo opened #3231 "Is there a way to log messages while consuming a soap service?"
Hi,
I'm looking for a simple way to log each request and answer send/receive while consuming a soap service generated with VS and with this dot net core wcf tool. I know that the default logging from ap.net is not there but has anyone an idea how I could implement this even manually?

Thanks in advance!

[2018-10-22 16:58] MattGal opened #3232 ".NET Desktop assemblies are being loaded on OSX in wcf/master/ builds"
@dotnet-mc-bot commented on [Fri Oct 19 2018](https://github.com/dotnet/core-eng/issues/4430)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2135728
  - **Agent:** DDVSOMACAGE009
  - **Error log:** /Users/buildagent/agent/_work/0/s/wcf/src/packages.builds(0,0): error MSB4062: The "Upd

[2018-10-22 17:18] StephenBonikowsky commented on #3232
This was a special build intended to produce a stable package of 'dotnet-svcutil.xmlserializer' which it did. I think setting 'PB_IsStable' to "true" which I believe triggers the "UpdatePackageIndex" task is somehow causing the Desktop version of tools to get used.

Since we use our Windows build to provide us with the packages we build this is ok except that it tries to do it on the Linux and OSX

[2018-10-22 17:18] dasetser commented on #3219
@guoming Can you provide a little more detail about this? Are you saying you still get this exception with dotnet-svcutil v1.0.3? If so can you provide the WSDL or service you're seeing the problem with?

[2018-10-22 17:56] dasetser commented on #3223
The --collectionType parameter is only used when generating data contracts, so if you're using XmlSerializer the option is ignored. Is there a reason you're forcing XmlSerializer when using dotnet-svcutil but not with svcutil? I would expect the same behavior from both if you're using XmlSerializer.

This limitation is something we can definitely make clearer in the tool. It looks like svcutil's d

[2018-10-22 18:14] mconnew commented on #3230
Luckily this statement is incorrect!! But you can be forgiven for not knowing about how to do this as it's not actually exposed via an obvious or documentable API and I only introduced it for .Net Core 2.1 (WCF package versions 4.5+ I think). I implemented the ability to provide a `Func<HttpClientHandler, HttpMessageHandler>` to enable modifying or replacing the HttpMessageHandler. You provide a m

[2018-10-22 18:34] markmattes commented on #3223
Like I mentioned, we have been using the Frameworks svcutil for years and I thought that I was using XmlSerializer with that svcutil, e.g. with /serializable option. Geeze, I ran DataContractSerializer and it matches much better with what I had and I get the Generic.List. You rock!
I'm still only getting the Async methods, but that is my #3227 post. Got an easy answer for that one? This thread can

[2018-10-22 19:29] edavedian commented on #3230
@mconnew Thank you very much for the detailed explanation.  I implemented Func<HttpClientHandler, HttpMessageHandler> as you had suggested and just out of curiosity, I examined the instance of HttpClientHandler that was provided in the debugger.  I can see a private member _socketsHttpHandler which is an instance of SocketsHttpHandler and I believe that is due to https://docs.microsoft.com/en-us/d

[2018-10-22 20:36] #3223 closed

[2018-10-22 20:43] dasetser commented on #3225
Something is going wrong with the dotnet SDK you have installed. I would guess it's related to the issue reported at: https://github.com/dotnet/sdk/issues/2128

 Can you try updating your .NET Core SDK and seeing if it still reproduces?

[2018-10-22 21:44] mlacouture commented on #3227
Hi @markmattes
This issue was raised previously with #654, here my response for convenience:

this is a feature that is not feasible as we need to follow async programming best practices, check out this article in the MSDN for reference.
We will be improving the docs to provide examples about how to use the generated code, please use issue #2947 for tracking. thank you!

[2018-10-22 21:44] #3227 closed

[2018-10-22 22:48] mconnew commented on #3230
There are multiple reasons we use HttpClientHandler and not SocketsHttpHandler. The first is that if we added a dependency to SocketsHttpHandler, our code would no longer run on .Net Core 2.0. Our package is listed as a netstandard2.0 package and not a netcoreapp package so this would be a problem for us. Especially as SocketsHttpHandler isn't supported for UAP/UWP which would cause us problems. A

[2018-10-22 23:16] mconnew commented on #3231
Which binding are you using?

[2018-10-23 07:50] mrflo commented on #3231
Hi @mconnew , it's just an httpBinding with no specific security

[2018-10-23 14:48] swiftarrow101 commented on #2711
Hello,
I am seeing the same issue in .Net Core 2.0
Has this been fixed in 2.1?
Thanks

[2018-10-23 15:29] markmattes commented on #3227
Ok, well I am server side and I'm seeing if dotnet core is a good fit for replacing a million lines of very old synchronous C code on Linux. We have been using svcutil and web services for years on Windows and we have thousands of service operations tens of thousands of lines of code. Almost everything we do is synchronous, it just fits our process model. Forcing async is just wrong in my opinion.

[2018-10-23 16:12] MattGal opened #3233 "Consider fixing curl retries in init-tools.sh"
@dotnet-mc-bot commented on [Tue Oct 23 2018](https://github.com/dotnet/core-eng/issues/4449)

There were a set of failures during this build. Here is a summary of these:
* https://devdiv.visualstudio.com/DefaultCollection/DevDiv/_build?_a=summary&buildId=2144957
  - **Agent:** DDVSOLINUXAGE002
  - **Error log:** tar: Error is not recoverable: exiting now...

@jcagme, @markwilkie

---

@MattGal co

[2018-10-23 17:20] edavedian commented on #3230
@mconnew You have been tremendously helpful.  I really appreciate your help.  My preference was to use option 1 because as you suspected for some of our testing environments we need to use self signed certificates.  I therefore have this

`
Type type = typeof(HttpClientHandler);
            SocketsHttpHandler socketsHandler = (SocketsHttpHandler)type.GetField("_socketsHttpHandler", BindingFlags.No

[2018-10-23 21:40] mconnew commented on #3230
Something in your delegate is throwing an exception which is causing the channel to be faulted. You could attach a debugger and you should see the exception thrown. Or you could create a test app and create an instance of HttpClientHandler and then execute your code and see if it throws.

Also, WCF can wire up the certificate validation for you. Use code similar to this:
[code]

[2018-10-23 22:16] edavedian commented on #3230
@mconnew Thank you very much.  Really appreciate it.  Just out of curiosity, are there any plans for WCF to integrate with HttpClientFactory since that has resolved a lot of issues related to using singleton HttpClient?

[2018-10-24 06:40] MaticDiba opened #3237 "Consuming existing .Net framework WCF service with .Net Core"
I would like to use existing .Net Framework WCF service. I added the references to:
NetNamedPipeBinding

- System.ServiceModel.Primitives
- System.ServiceModel.Http
- System.ServiceModel.NetTcp
- System.ServiceModel.Duplex

But I'm getting exception when I want to consume data via this service:
`System.TypeLoadException: 'Could not load type 'System.ServiceModel.NetNamedPipeBinding' from assembly

[2018-10-24 07:47] 25alex commented on #3225
I've installed latest version of .NET Core SDK (2.1.403) and still got the error. Here's result of cmd `dotnet --info` command execution:

**_.NET Core SDK (reflecting any global.json):_**
 _Version:   2.1.403_
 _Commit:    04e15494b6_

**_Runtime Enviroment:_**
 _OS Name:     Windows_
 _OS Version:  6.3.9600_
 _OS Platform: Windows_
 _RID:         win81-x64_
 _Base Path:   C:\Program Files\dotnet

[2018-10-24 09:21] mrflo commented on #3231
Anyone can help or have an example? At least an example of how to look at the messages sent with BasicHttpBinding?

[2018-10-24 11:48] avesse commented on #2719
Having this issue using the dotnet cli on MacOS.

[2018-10-24 17:01] StephenBonikowsky commented on #3232
Thanks, @MattGal
I was passing this variable to the child build defs via the pipelines json file, so I just modified it there only for Linux and OSX.

[2018-10-24 17:01] #3232 closed

[2018-10-24 19:06] mconnew commented on #3230
We can't because it's not a part of netstandard and is an ASP.NET Core feature. It would definitely be possible to create a Func which returns a handler which internally delegates the request using HttpClientFactory, but that's not something we can ship in-box.

[2018-10-24 19:31] edavedian commented on #3230
@mconnew Are you referring to the current supported delegate Func<HttpClientHandler, HttpMessageHandler> for what you mentioned?

[2018-10-24 19:50] mconnew commented on #3230
Yes. Nothing stopping you from creating a class which derives from HttpMessageHandler and in the SendAsync method uses HttpClientFactory to get an instance to make the actual call. You would need to save any relevant settings from the passed in HttpClientHandler such as credentials and certificate validation callback etc in your message handler to make sure you configured HttpClientHandler correct

[2018-10-24 20:47] Lxiamail commented on #3229
@ahmedtahabaqi Can you provide more information about this reported issue?

[2018-10-24 21:29] mconnew commented on #3231
For HTTP, you could implement a custom HttpMessageHandler/Delegating hander and log it using your favorite logging mechanism. An example behavior showing how to do this can be found [here](https://github.com/dotnet/wcf/blob/8589daec6cd3d7d4b1e90238cae951a91e937c03/src/System.Private.ServiceModel/tests/Scenarios/Binding/Http/HttpBindingTestHelpers.cs). An example of usage can be found [here](https:

[2018-10-24 21:31] Lxiamail commented on #2711
@swiftarrow101 This hasn't been fixed yet, however, it is in our pipe to work on.

[2018-10-24 21:34] Lxiamail commented on #3220
@xiedongweo Thanks for the information. It's in our pipe to work on. However, due to other priority, we may not be able to get back to you very soon.

[2018-10-24 21:38] Lxiamail commented on #3173
@mrflo Please see answer at #3231

[2018-10-24 21:38] #3173 closed

[2018-10-25 00:15] jugg1es commented on #3228
No, I wish I was getting an error.  My problem is that the serialized response is not serializing nested data and just returning null for a nested property on the response.  The non-nested properties return fine.  The auto-generated classes in .NET framework 4.7.1 worked fine wish the same WSDL but in .NET core, part of the response is just returning as null.

[2018-10-25 00:57] mlacouture commented on #2719
Hi @avesse
Based on the error message it seems you are adding the tool as a _PackageReference_ to the project instead of a _DotNetCliToolReference,_.  See the [Getting Started page](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide) for details on how to setup the tool.  If that's not the case, can you run the tool with the debug verbosity and provide the log file?

[2018-10-25 07:50] mrflo commented on #3231
Thank you @mconnew for pointing me in the right direction!

[2018-10-26 00:11] huanwu opened #3240 "Figure out a better way to get prerelease version of svcutil.xmlserializer"
To unblock the release, we remove PreReleaseLabel in the version #3236. Need a solution for prelease version.

[2018-10-26 01:32] KKhurin commented on #3222
Sorry about the delay, @cicciog90.

**Short answer:** this has to do with the CLR thread pool starvation.
One workaround is to artificially increase the minimum thread count via environment variable or in the application config:
   set ComPlus_ThreadPool_ForceMinWorkerThreads=100
   "System.Threading.ThreadPool.MinThreads": 4
see https://github.com/dotnet/cli/blob/rel/1.0.0/Documentation/specs/run

[2018-10-26 07:45] cicciog90 commented on #3222
Hi @KKhurin, thanks for the reply.
Will the bug be fixed in .NET Core 3.0?
Otherwise I would have to modify all the methods of our enterprise application to apply the async \ await pattern.

[2018-10-26 15:08] cicciog90 commented on #3222
@KKhurin I tried to apply your workaround to the test code as you told me to do but the situation does not seem to be improved.

[2018-10-26 20:29] huanwu opened #3241 "Review and fix the resource string for dotnet-svcutil.xmlserializer"
Refer #2932

[2018-10-29 08:11] brux88 commented on #1810
are there news?

[2018-10-29 09:46] jducobu commented on #1810
Non news ... :(
Personaly, i added a binding supported by .net core and use it

[2018-10-29 09:48] Trapulo commented on #1810
I moved my WS to the old .NET 4.6 and WCF :(

[2018-10-29 16:34] brux88 commented on #1810
I have a .net core project, I created another .net 4.5 project to be able to use mtom. this last project the amount in my project core.net. but it gives me an error:Method not found: 'Void System.ServiceModel.BasicHttpsBinding.set_MessageEncoding(System.ServiceModel.WSMessageEncoding)'.

why?

[2018-10-29 18:17] #3153 closed

[2018-10-29 18:31] StephenBonikowsky commented on #3190
@it3ce If you have any further questions let us know.

[2018-10-29 18:31] #3190 closed

[2018-10-29 18:41] StephenBonikowsky commented on #3167
@dominikjakob Thanks for providing a possible solution.
@u112592 Let us know if you have any further questions.

[2018-10-29 18:41] #3167 closed

[2018-10-29 18:43] StephenBonikowsky commented on #3152
@kjbartel If you still have any questions please let us know.

[2018-10-29 18:43] #3152 closed

[2018-10-29 18:49] StephenBonikowsky commented on #3145
Looks like this was resolved in #2591

[2018-10-29 18:51] StephenBonikowsky commented on #3133
@ClaudioNunes If you have any further questions let us know.

[2018-10-29 18:51] #3133 closed

[2018-10-29 19:21] elmojo commented on #3145
@StephenBonikowsky

I don't believe so.  Also this issue and #2591 are not related.  This one deals with failure to deserialize data wrapped within a SOAP envelope.  #2591 is related to the SvcUtil generating an empty client from a valid WSDL.

[2018-10-29 19:33] StephenBonikowsky commented on #3145
@elmojo My apologies I see now how the conversation forked.

[2018-10-29 22:46] petekapakos commented on #3193
I have determined that the process only seems to error when I compile and run the service in release mode.  If I compile and run the service for debug it adds successfully.  If I compile it for release and run it on my local machine or on our development server it errors.  I have looked for documentation that indicates whether or not this is expected behavior and was unable to find any.  If this i

[2018-10-29 22:59] StephenBonikowsky commented on #3193
Thanks @petekapakos we'l take a look.

[2018-10-30 17:46] mananchoksi007 commented on #1810
Same, I had also put that service call in to .net Framework as .net core
wont be able to handle that. Thats so disappointing

On Mon, Oct 29, 2018 at 12:39 PM brux88 <notifications@github.com> wrote:

[2018-10-30 20:07] srinivaskacham opened #3242 "WCF service datatable serialization"
Hi,

I am consuming WCF service in ASP.Net core application, this service returns DataTable. VS generated async methods, when I add service reference to the project.

Is there anyway serialize service ResponseAsDataTable to DataTable directly/easily? Right now, I am adding data columns manually to data table and using DataSet.ReadXml().

Thanks in Advance.

[2018-10-30 20:11] srinivaskacham commented on #3242
Hi,

I am consuming WCF service in ASP.Net core application, this service returns DataTable. VS generated async methods, when I add service reference to the project.

Is there anyway serialize service ResponseAsDataTable to DataTable directly/easily? Right now, I am adding data columns manually to data table and using DataSet.ReadXml().

Thanks in Advance.

[2018-10-31 17:08] dasetser commented on #3149
The fix for this is included in dotnet-svcutil v1.0.4, which is now released. The fix will be included in the WCF Web Service Reference Provider as part of Visual Studio 2019.

[2018-10-31 17:08] #3149 closed

[2018-10-31 17:09] dasetser commented on #2715
This is now fixed in dotnet-svcutil v1.0.4.

[2018-10-31 17:09] #2715 closed

[2018-11-01 01:54] KKhurin opened #3247 "Consider shipping System.Private.ServiceModel crossgened"
This will shave off roughly 800ms off the first cold request (or multiple requests if many requests are issued while the code is still being jitted).

We also need to investigate why manually crossgen-ing already shipped binaries didn't improve the timing.

[2018-11-01 02:34] KKhurin commented on #3222
@cicciog90, sorry I missed one more critical element in overall startup picture.

Comparing to the full desktop framework CoreCLR does not have all assemblies natively compiled. Given a relatively large size of WCF libraries it takes roughly (depends on the CPU speed) 800ms to JIT the code while executing the first request(s). In theory one could tell CoreClr to natively compile WCF assemblies and

[2018-11-01 15:47] j1mb0jay commented on #3221
I too am suffering this issue.

**Error in deserializing body of reply message for operation 'fetchTracking'.**

`   at System.ServiceModel.Dispatcher.XmlSerializerOperationFormatter.DeserializeBody(XmlDictionaryReader reader, MessageVersion version, XmlSerializer serializer, MessagePartDescription returnPart, MessagePartDescriptionCollection bodyParts, Object[] parameters, Boolean isRequest)
   a

[2018-11-01 16:39] gekiss commented on #2711
Soap12 without Addressing lost the _action_ attribute in the _ContentType_ header.

The quicker solution is move lines from
https://github.com/dotnet/wcf/blob/1e49a79926b74ef51478a65c6bdfb68c0be06566/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L1178-L1182
to
https://github.com/dotnet/wcf/blob/1e49a79926b74ef51478a65c6bdfb68c0be06566/src/System.Private.Ser

[2018-11-01 22:58] mconnew commented on #3145
There's a couple of things I noticed about this issue. We shouldn't need access to any endpoint as the exception in the provided callstack is happening when ChannelFactory<TChannel>.Open() is getting implicitly called when calling ChannelFactory<TChannel>.CreateChannel(). There's no request in flight when the exception happens. If we're getting an EndpointNotFoundException, then we haven't reprod

[2018-11-01 23:15] elmojo commented on #3145
@mconnew
.NET Core 2.1

[2018-11-02 10:54] tparvi commented on #1992
@iamxiaozhuang Yes we got it to work but I cannot remember how. However I looked at the code just now and it is same as what I posted here and I'm not setting the real property. I believe the issue was somewhere else. Maybe in the proxy classes that were generated? I'm not 100% sure but maybe we created the proxy classes in full framework and then just copy pasted them into .net core solution and

[2018-11-02 20:45] dasetser commented on #3225
That's very strange that you're seeing the same thing with the latest version of the SDK. Can you try running [dotnet-svcutil](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide) directly to see if you get the same problem? And if so run it with diagnostics enabled (dotnet -d svcutil) to see what the underlying error is? In the issue I linked the problem was not hav

[2018-11-02 20:47] StephenBonikowsky commented on #3242
Hi @srinivaskacham is the WCF Service using a Typed DataTable, a type derived from DataTable?
https://referencesource.microsoft.com/#System.Data/System/Data/DataTable.cs,5906

If not could you provide us the WSDL and the generated client code to help us with further investigation.

Thanks

[2018-11-02 21:07] dasetser commented on #3224
Thanks for the suggestion. Do you mean something like the /serviceContract switch from the desktop svcutil.exe? Is your proxy generated in a way that makes removing the client part yourself difficult? Or do you just want this feature to avoid having to do the manual step?

[2018-11-04 21:01] srinivaskacham commented on #3242
Hi,

It is not Type DataTable, it is a type derived from DataTable. Please let me know if you need any other information.

Thank you.

[2018-11-05 12:01] cicciog90 commented on #3222
@KKhurin  So, from what I have understood, I have no option to workaround the problem. Is it?

[2018-11-06 08:40] 25alex commented on #3225
Now i got these error:

_Error: Connot obtain metadata from http://localhost:2422/Service1.svc_

_If this is a Windows (R) Communication Foundation service to which you have access, please check that_ _you have enabled metadata publishing at the specified address.  For help enabling metadata publishing,_ _please refer to the MSDN documentation at http://go.microsoft.com/fwlink/?LinkId=65455._

_WS

[2018-11-06 18:08] dfrostpl opened #3248 "utf-16 encoding"
Hitting an issue with consumption of SOAP service (WCF Connected Service).
For some reason by default request is generated with
`<?xml version="1.0" encoding="utf-16"?>`
But my SOAP service consumes only utf-8.
Where it's defined whether to use utf-8 or utf-16? Or even how can I remove xml declaration? I tried to figure out on my own but seems to be not very obvious thing.
Specified TextEncoding o

[2018-11-07 15:16] mkhatuntcov-korewireless commented on #2211
@hugoterelle  Your code works for me. Do you wanna make a nuget package till MS do it properly?

[2018-11-07 21:10] Lxiamail commented on #3231
Looks like this issue has been resolved. Closing it

[2018-11-07 21:10] #3231 closed

[2018-11-07 21:32] Lxiamail commented on #3221
@j1mb0jay browse to https://www.hermes-europe.co.uk/parceltrackingservice/services/parcelTrackingService?wsdl get hermsworld.com gets moved rediction error message. Can you share the updated swdl endpoint adddress?

[2018-11-07 21:44] Lxiamail commented on #3108
@BarryWangMSFT Since haven't heard from you for a while, close this issue. Please let us know if there is still an issue

[2018-11-07 21:44] #3108 closed

[2018-11-07 22:55] Lxiamail commented on #3242
@srinivaskacham Looks like this is by design. per comments [here ](https://referencesource.microsoft.com/#System.Data/System/Data/DataTable.cs,5906) Typed DataTable is not supported in WSDL (SQLBU 444636)

        either fails because xsd generates its typed DataTable with an internal parameterless ctor

        or System.NullReferenceException: Object reference not set to an instance of an object

[2018-11-07 23:42] huanwu commented on #2997
@rafsojka We just released 1.0 version of dotnet-svcutil.xmlserializer. Could you try if it solve your problem?

[2018-11-07 23:53] dasetser commented on #3159
This has been fixed in dotnet-svcutil 1.0.4.

[2018-11-07 23:53] #3159 closed

[2018-11-08 00:55] Lxiamail commented on #2885
@ssashok10 Looks like [the fix in Azure function](https://github.com/Azure/azure-functions-host/issues/2877) may have fixed your problem. Have you tried it?

[2018-11-08 01:15] Lxiamail commented on #3088
We had further look at this issue. It doesn’t repro for Xamarin iOS app, but repro with Xamarin UWP app with Code sharing strategy of “.NET Standard”. Even after specifically adding reference to the same 4.5.3 WCF package in both UWP and Xamarin projects in the solution, the UWP process still loads the WCF assembly  in the original UWP meta package (System.ServiceModel.Primitives: Version=4.2.1.0)

[2018-11-08 01:17] Lxiamail commented on #2438
@AtsushiKan, have you gotten chance to try out @mconnew's suggestion?

[2018-11-08 21:15] totht91 commented on #2695
I would be really really happy if server side WCF could happened in the 3.0 timeframe, (it would be better if all type of bindings will be available: NetHttp, NetTpc, NetMsmq (Windows only))

[2018-11-08 22:34] Lxiamail commented on #2535
@ligengatms Currently, there is no plan to support it in the near future. However, we prioritize work item based on customer feedbacks. As @zhenlan mentioned earlier, it would be windows only if we support it since WCF is client only on .NET Core. For anyone, who likes to request this feature, please share your usage scenario, which will help us to prioritize the work.

[2018-11-08 23:04] Lxiamail commented on #1729
@StephenBonikowsky can you check if the problem has been solved since the blocking corefx issue dotnet/corefx#14935 has been resolved.

[2018-11-08 23:29] Lxiamail commented on #76
Since we have released  System.ServiceModel.Syndication on .NET Core, close this issue. Please let us know if your issue is still not addressed.
Source: https://github.com/dotnet/corefx/tree/master/src/System.ServiceModel.Syndication
NuGet package: https://www.nuget.org/packages/System.ServiceModel.Syndication/

[2018-11-08 23:29] #76 closed

[2018-11-09 00:59] mack0196 commented on #2695
Me too. Where is this effort at and how can I help?

[2018-11-09 08:30] Pol63 commented on #2205
wpf will be enabled with .net core 3 so if the wizard could propose to implement inotifypropertychanged ...

[2018-11-10 20:17] xVishera opened #3250 "WCF NetCore Skip Certificate Validation"
I'm trying to use a WCF api with .Net Core 2.1.2, but i'm currently facing some issues with certified validations.

The main problem is, when I'm DEBUGGING I can make requests against the server. When I deploy a executable file of my project and run in my machine, I can make requests either. But, when I copy the same executable to the acceptance environment, the code throws an exception "could not

[2018-11-12 18:38] dgroh commented on #2259
same here, any workaround? we have legacy services and we need to consume them in out .netcore application

[2018-11-12 19:35] dgroh commented on #8
This is also not working:

[code]

This is still an issue? That is impossible...

[2018-11-13 18:04] chadgruka commented on #2885
This is also an issue for me. Seems to crop up when referencing BasicHttpBinding or other Binding objects in code. I don't recall this being an issue a couple months back, as I have check-ins that were additive mid-to-late August.

I'm seeing this inside Azure Functions and Console apps. I'm running the latest VS Pro 2017 preview (15.9.5)

Hope this helps...

[2018-11-13 21:21] Ceribia commented on #31
Any updates on this?

[2018-11-13 22:49] Lxiamail opened #3251 "Make svcTraceViewer available for WCF Core"

[2018-11-14 09:59] Danielku15 commented on #2695
I would also be happy to help (if my time allows). I'm eager to move to .net core for our products but the lack of WCF is a small obstacle. It would be good to make a first analysis on what it would mean to compile to existing WCF codebase to .net core. Just out of my mind some steps that anybody could easily take over:

- Fork/Clone the existing WCF source, attempt to compile it, and summarize wh

[2018-11-14 11:38] CodingInfinite opened #3252 "Change XML Tag Prefix SOAP"
I am trying to create a SOAP message with the prefix. however, I am having trouble setting the namespace correctly. I have been trying for days and tried many suggestions I found online, but none seem to work. I am hoping some of you can help me. What I'm getting is

[code]
& what I actually need is

[code]
& My MassageContact is

[code]
Please Help me to add prefix with my XML Elements. Thanks

[2018-11-14 15:55] palodequeso commented on #2333
I ended up using the XML api directly, so that was fun.

[2018-11-14 16:04] nfplee commented on #2333
Thanks, I contemplated that as well. However it seems that using the WSDL command line tool to generate the service appears to work.

[2018-11-14 22:29] Lxiamail commented on #3248
@dfrostpl Do you repro the same problem if you use Add "service reference" on the .NET Framework WCF client project or use .NET Framework SDK svcutil?

[2018-11-14 22:49] Lxiamail commented on #31
It's on our schedule to work on a prototype, which could unblock #2. Will update this thread once we have more progress.

[2018-11-14 23:05] huanwu commented on #1345
@rafsojka Could you try the latest stable version and see if it works?

[2018-11-14 23:09] xVishera commented on #3250
Hello @Lxiamail
Of course!

1. No, my machine is not in the domain. Both the webserver and the acceptance VM are in the same domain.
2. Yes, they are both in the same domain but in different subnetworks, but connected.
The Acceptance env is in the subnet 10.240.241 and the server is in the subnet 10.31.10

If I open a browser in the acceptance env and navigate to the server IP, I can see all the d

[2018-11-15 00:09] Lxiamail commented on #2438
Close this issue for now. Please feel free to reopen it if @mconnew's suggestion doesn't work for you.

[2018-11-15 00:09] #2438 closed

[2018-11-15 00:12] Lxiamail commented on #2823
Added manual test scenario as part of sign off to cover this issue. It would be helpful to have automation test coverage in the future

[2018-11-15 06:30] Grauenwolf commented on #1784
With .NET Framework being sunsetted, WCF is dead unless we get a server-side implementation for .NET Core.

Don't get me wrong. I think there is a lot of value in client-side WCF all by itself. But no one is going to take the time to learn it if we don't get both sides of the equation.

[2018-11-15 13:48] petwal11 opened #3253 "WCF Web Service Reference (dotnet-svcutil) doesn't re-use assemblies"
I have an existing assembly (NET Framework 4) with types matching a wcf service. I have tested with regular svcutil.exe and this does not reproduce any of the types (in the assembly).

I copy the code to a new .NET Core 2.0 project, compile without any issues and package output as nuget (and push the package to local repository). I call dotnet svcutil http://domain.com/service.svc?wsdl --reference

[2018-11-15 14:33] daberni commented on #2894
I was very happy when I saw that the svcutil was ported to dotnetcore!

But why does dotnet-svcutil need a dependency on `netcoreapp.*`?
I really would like to use it in a library project too! I don't see why there should be a restriction on it? We pack the whole object model in a library which is then used by multiple executables which all use the underlying SOAP service.

[2018-11-15 14:56] koide opened #3254 "Can you coerce "Add Connected Service" to generate sync methods?"
We have a sizeable amount of code using the standard sync versions of the methods generated by the old "Add Service Reference" Visual Studio tool.

We are now migrating that to .NET Core. If we use the new "Add Connected Service" tool all we get are Async methods and this means changing lots of otherwise working code.

Is there any way to coerce the new tool to generate the old style sync methods?

[2018-11-15 16:04] stop-cran opened #3255 "How to create a custom TransportBindingElement for .Net Standard 2.0"
I'm going to implement a binding with a custom transport over a message broker, namely [SolaceSystems.Solclient.Messaging](https://www.nuget.org/packages/SolaceSystems.Solclient.Messaging) for .Net Standard 2.0.

I've done it for .Net Framework 4.6.1 - see for reference [SolaceBinding](https://github.com/stop-cran/SolaceBinding).

However, when I tried to port it to .Net Standard I faced a lack of

[2018-11-15 16:23] eajhnsn1 commented on #2923
I'm running in this issue as well, and can workaround it via the AppContext.SetSwitch combined with the ExpectContinue = false fix mentioned here and in #3185.

But, if I'm understanding the implications of these workarounds correctly (large request bodies will be sent twice), I'll likely just roll back to to < 4.5.  I wanted to upgrade because 4.5 fixed being able to deploy as a contained app (ru

[2018-11-15 19:12] izzetuslu commented on #3157
<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="WebsdomServiceDefinitions" targetNamespace="http://com/thy/service/websdom" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://com/thy/service/websdom" xmlns:WL5G3N2="java:com.thy.websdom.exceptions" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xs:schema attributeFormDefa

[2018-11-15 19:13] izzetuslu commented on #3157
error details:
Cannot import wsdl:port
Detail: There was an error importing a wsdl:binding that the wsdl:port is dependent on.
XPath to wsdl:binding: //wsdl:definitions[@targetNamespace='http://com/thy/service/websdom']/wsdl:binding[@name='WebsdomServiceSoapBinding']
XPath to Error Source: //wsdl:definitions[@targetNamespace='http://com/thy/service/websdom']/wsdl:service[@name='WebsdomService']/ws

[2018-11-16 00:04] Grauenwolf commented on #2695
I tried forking this repository,  but I can't figure it out. Every solution I opened says that it is missing files.

So step 0 is probably getting someone at MS to walk one of us through this.

OR

We start over from scratch. Which means while new projects/ solutions based just on the older Reference Sorce code.

[2018-11-16 01:02] caozhiyuan opened #3256 "dotnet core 2.1 wcf client httpclient socket can't reuse ,net framework httpwebrequest socket can reuse"
in .net framework httpChannelFactory Closed, httpwebrequest socket client is ESTABLISHED, in dotnet core 2.1 wcf client httpClient just disposed

[2018-11-16 07:16] petwal11 commented on #3250
What type of certificate are you using? A self-signed certificate or a certificate from an authority?
Errors of type "could not establish trust relationship" often has something to do with the certificate.
Verify "Issued to" of the certificate, DNS name and things like that. You must access the service using
exactly the same "path" that was used to generate the certificate (mycomputer.mydomain.com

[2018-11-16 12:49] wbayever commented on #1808
@kevinrodriguez-io  You can generate synchronous functions only using the **/syncOnly** switch:

`svcutil.exe /syncOnly http://localhost/<servicename>.svc?wsdl`

Then you don't have to manually delete the async methods.

[2018-11-16 13:31] elovelan commented on #2695
@glennc, I see you're assigned; are you able to help with steer on this?

[2018-11-16 14:44] kevinrodriguez-io commented on #1808
@wbayever That's even better!

The solution would be to generate the service with only synchronous calls and test it!

[2018-11-16 14:59] xVishera commented on #3250
@petwal11 Hi!

From Authority. The authority certificate is already included in my trusted root.

I'm acessing with the exact same path.

The certificate is issued to  "machine.domain.local" and I'm trying to make a call to this exact path ( the only diff is the port number )

I already tried to add both ( the certificate from the authority and from the machine ) to my certificate folders ( throug

[2018-11-16 16:06] petwal11 commented on #3250
Do you have remote access to the acceptance environment (such as remote desktop)?

If so, try to open web browser on the acceptance machine and access the service url that way. Do you get a "login dialog", do you get the option to download a certificate, do you get any warnings regarding the certificate? This can point a finger to what the issue is. If result is 403 or 404, then something is block

[2018-11-16 16:45] mscrivo opened #3257 "Consuming .netstandard library with connected service from Web API 2 project results in System.ServiceModel.CommunicationException"
I'm in the process of converting a large asp.net webapi 2 project to asp.net mvc core.  One of the sub projects has a web reference that of course doesn't compile when moving the project from net472 to netstandard2.0, so I recreated it as Connected Service.

But when trying to use that connected service from the existing web api (net472) project, I get the following error:

error CS0012: The type

[2018-11-17 01:55] #3256 closed

[2018-11-17 01:56] caozhiyuan opened #3263 "dotnet core wcf client httpclient socket can't reuse"
in .net framework httpChannelFactory Closed, httpwebrequest socket client is ESTABLISHED, in dotnet core 2.1 wcf client httpClient just disposed

[2018-11-19 11:21] xVishera commented on #3250
@petwal11

Yes, I have RDP access.

When I do that, the browser doesn't ask for a login, instead It shows me the information page about the WS.

The certificate is RED, pointing to a invalid certificate. But, when I click the certificate and check, both the machine certificate and the authority certificate are flagged as valid.

Br,

[2018-11-19 12:58] WebDucer opened #3264 "Usage of local relative paths in ConnectedService.json file"
It would be nice to be able to use relative paths for local WSDL files in the `ConnectedService.json` file. Now, if we add a new service, that is generated from local WSDL file (file is inside the project / solution repository), a full abolute path is stored in the `ConnectedService.json` file.

[code]

Is an another developer try to update the service, it fails because of different absolute path

[2018-11-19 17:29] dasetser commented on #3264
Thanks for the suggestion. We'll look into this.

[2018-11-19 19:51] patrikrazem opened #3266 "Cannot build on macOS"
I followed your developer guide and attempted to build the project on macOS by using:

[code]

which resulted in the following error:

[code]

(I've replaced the real absolute path with `<pathToRepo>`).

This fails, because there is no such file in the targeted directory.

I've tried to run the build on Windows and it runs without any problems.

[2018-11-19 20:03] mconnew commented on #2923
@eajhnsn1, using earlier that 4.5 you would still sometimes get the request body sent extra times as it was just a best effort attempt by sending a HEAD request. This had the overhead of every request, even after authentication had happened would have an extra HEAD request so added a small extra latency to every request. So your options are using 4.5 with the AppContext switch and have the first r

[2018-11-20 05:31] zipswich commented on #2852
@mlacouture Could the team consider accommodating multiple WSDL files in the future?

[code]
It works out extremely well.  It would be very messy because a, b, c, d... share many basic classes.  If different services are generated, the same classes will be under different namespaces.  Exchanging information among them will need extra tedious copying.

[2018-11-20 09:10] pengweiqhca opened #3271 "Add IHttpMessageHandlerFactory support possible"

[2018-11-20 10:16] fabianeichfeldt opened #3272 "Peformance .NetCore vs .Net4.6.1"
Hey folks,
I am implementing a SOAP client with .NetCore 2.1 on Ubuntu 18.04.
The service is an ONVIF camera.
Currently I am wondering about the poor performance of my synchronous code. In some parts of the code the I need the synchronism. For example. Asking the device for it's capabilities, after that proceeding dependent on the result...
So, to debug my problem I've compared the performance wit

[2018-11-20 13:37] petwal11 commented on #3253
Adding an example

SharedContract assembly with this content is compiled using .NET Core 2.0:

[code]

When I generate a proxy for the service with a reference to this assembly, the types are replicated:

[code]
The expected result (according to regular svcutil) is this:

[code]
(Some not relevant details have been left out to reduce size)

[2018-11-20 17:03] dasetser commented on #3253
Thanks for reporting this and providing a sample. I'll look into it to see if I can figure out why the type isn't being reused.

[2018-11-20 18:43] zipswich commented on #2852
Thanks a lot for reopening this, @mlacouture
Let me give you a very brief background.  I develop apps targeting multiple platforms (UWP, Android, Web, iOS) using [Platform.uno](https://platform.uno/).   Yes, I know Xamarin and have spent a lot of time on it before deciding to use Uno.  I do not know if the proxy classes created by dotnet-svcutil  tool can target multiple platforms.   Adding servic

[2018-11-21 10:23] petwal11 commented on #3253
Hi @dasetser ! If you have any trouble reproducing, let me know where to send/post the full souce of the service. There isn't much to it (a .NET 4 Wcf service with one method to receive MyRequest and echo data as MyResponse). We are in the process of porting a Silverlight application to .NET core and being unable to reuse the contract causes major issues. It would be great to have this solved, eit

[2018-11-21 17:46] edavedian commented on #3230
@mconnew I just had one last clarification on using HttpClientFactory in HttpMessageHandler chain of WCF client.  If we make the HTTP call in HttpMessageHandler's SendAsync, once that is completed, won't the message handler chain continue and then send the message again as it is not aware that the message has already been sent and received?

[2018-11-21 22:29] Lxiamail commented on #3266
@patrikrazem can you try to run the command "chmod +x <pathToRepo>/wcf/bin/testhost/netcoreapp-OSX-Debug-x64/dotnet" directly to see if it works for you? If not, what error do you get?

[2018-11-21 22:36] mconnew commented on #3230
@edavedian, it doesn't automatically chain the handlers. When you return a replacement handler, it's up to you to call the original handler if you want them to chain. If you derive from DelegatingHandler, then you provide the chained handler to DelegatingHandler and when you call base.SendAsync it will call that chained handler. But it's up to your code to do that. If you simply dervive from HttpM

[2018-11-21 22:36] Lxiamail commented on #3263
@caozhiyuan in dotnet core, httpclient is bounded to httpChannelFactory. This behavior is expected. If you want to reuse httpClient, can you reuse the HttpChannelFactory?

[2018-11-21 22:58] Lxiamail commented on #3255
@stop-cran These APIs are not supported. Basically, WCF server is not supported in .NET Core. If you need the share the code between server and client, you will have to if-def the code paths.

[2018-11-21 23:06] Lxiamail commented on #3252
@CodingInfinite Why do you need to add prefix? The two formats semantically are the same.

[2018-11-21 23:29] mconnew commented on #3250
I don't think this is a certificate validation problem as you have set the validation mode to none. I would expect a different exception message if that was the case. There's some other issue with the handshake going on.
Which browser are you using to connect to the service which is working? Are you using SNI on the server? Can you try using HttpClient to connect to the the page which you are view

[2018-11-22 03:17] caozhiyuan commented on #3263
now we use wcf client ioc instance scoped , so it will be closed on webapi request end @Lxiamail .  httpChannelFactory can extension some interface to reuse httpClient ?

[2018-11-22 07:10] fabianeichfeldt commented on #3272
Thanks for your relpy. The result was quite surpring for me. On my Windows 10 machine the switch boosted up my test program to the same performance as the .Net4.6.1 client-> so from this point of view I would say yes it might be a problem with the new `SocketsHttpHandler`.

I've tested this also on my Ubuntu machine (running in VMWare, not native) and it didn't change anything. Was this expected?

[2018-11-22 14:20] zipswich commented on #3179
Exactly the same problem on Windows 10, and the solution also works.

[2018-11-22 14:57] sanjaybhagia commented on #2411
Do we have any update on this? I think this is still not supported yet?

[2018-11-22 17:54] zipswich commented on #2852
@mlacouture Is it possible to use multiple online WSDL files (i.e. URLs) as the input?
I tried the following:
`	dotnet svcutil http://my.domain.org/service/a.wsdl http://my.domain.org/service/b.wsdl`
I got the following error:

[2018-11-23 06:55] ozbekenes commented on #2591
I want to share the error  when I want to add web service.net core console application.
Errors appear in the attached image, when I want to add the service. After removing attributes that caused the error from wsdl
manually, I can implement service properly. After adding web service,
XML Parsing Error errors are arising when I want to call the method.
I realized that the cause of this error was du

[2018-11-23 17:34] rafsojka commented on #2997
@huanwu thanks, I am struggling to find a time to verify.
Will post an update once I get down to that.

[2018-11-23 17:34] rafsojka commented on #1345
@huanwu thanks, I am struggling to find a time to verify.
Will post an update once I get down to that.

[2018-11-23 17:35] xVishera commented on #3250
@mconnew

Hi!

I've made two calls, one only using HttpClient and another one using the ClientHandler.

Both of them returned a inner exception "The Local Security Authority cannot be contacted".

[2018-11-23 18:15] xVishera commented on #3250
Solved.

Adding the following key to the serve registry solved the issue

 [HKEY_LOCAL_MACHINE\SYSTEM\CurrentControlSet\Control\SecurityProviders\SCHANNEL\KeyExchangeAlgorithms\Diffie-Hellman] "ClientMinKeyBitLength"=dword:00000200

Thank to all the help!

[2018-11-23 18:15] #3250 closed

[2018-11-24 08:42] patrikrazem commented on #3266
I ran `sync.sh` manually, but the error message is still the same. There is no `dotnet` binary in the directory, so the `chmod` command fails. I'm attaching the whole output of the `sync.sh` script for reference:

[code]

[2018-11-24 08:43] patrikrazem commented on #3266
Btw, we've tested this on a few different macOS systems and the error is always the same.

[2018-11-25 11:07] yogyogi commented on #1784
**Not dead, but certainly dying.** - I say this because in ASP.NET Core you cannot create WCF projects, and ASP.NET Core is the future. Do you remember how Microsoft stopped XNA game development framework in 2013 without giving any notice. Same can happen to WCF, not now, in 2 years time.

[2018-11-25 22:52] maxild opened #3282 "Building in visual studio"
I am sort of used to work with the corefx libraries, where the workflow is something like

[code]

for building the entire set of product libraries before opening any solution files.

Then I can open any visual studio solution file in vs2017, and compile in the IDE.

After pulling the latest bits from (dotnet/wcf) master, I am able to do the equivalent with dotnet/wcf on the commandline

[code]

B

[2018-11-26 06:29] ripek opened #3283 "Wsdl Services not working"
https://api.n11.com/ws/ProductService.wsdl
Adds the same service twice

![screenshot_1](https://user-images.githubusercontent.com/12428878/48996608-c0945800-f15d-11e8-9933-ce52bc6aa032.png)

[2018-11-26 17:08] Lxiamail commented on #3263
@caozhiyuan What do you mean?

[2018-11-26 19:19] StephenBonikowsky commented on #3110
This has been fixed by #2668
Need to re-enable the test to verify.

[2018-11-26 20:31] mconnew commented on #3272
Pre `SocketsHttpHandler`, on Windows the implementation was based on WinHTTP and on Linux, it was based on libcurl. This means the performance characteristics of the libcurl based implementation and SocketsHttpHandler are similar for your use case. As it's quite clear that this is an issue with SocketsHttpHandler, can you open an issue in the corefx repo? They will likely want some addition loggin

[2018-11-26 20:47] mconnew commented on #3250
@xVishera, that registry key weakens the security requirements of the TLS connection. See [this article](https://support.microsoft.com/en-us/help/3061518/ms15-055-vulnerability-in-schannel-could-allow-information-disclosure) and [this article](https://docs.microsoft.com/en-us/security-updates/SecurityBulletins/2015/ms15-055) for details. According to the second article, Windows Server uses 1024 bi

[2018-11-26 20:55] Lxiamail commented on #3283
@ripek Can you describe the steps that you did to reproduce the problem?

[2018-11-26 22:35] Lxiamail commented on #3257
@mscrivo We need some clarification of your scenario in order to help. Sounds like you are in the progress to convert a net472 WebAPI project to .NET Core, which is a client has a web reference generated from a web service. If so, I have a few questions:
1. why can't you directly using the web reference instead of regenerating one? What problem did you run into when you use the existing web refere

[2018-11-26 22:51] mscrivo commented on #3257
1. Because when i converted the project with the web reference to target
netstandard 2.0 instead of net472, it no longer compiled. Unfortunately I
don't have the errors at this point.

2. That's essentially what I'm doing now. I'm converting both the project
with the web reference to netstandard2.0 (with connected service instead of
web reference) and the asp.net project to asp.net core. I was hop

[2018-11-26 23:05] Lxiamail commented on #3257
@mscrivo I'm glad to hear that the conversion worked out for you. In net472 project to generate serialization assembly targeting netstandard for web service is not supported. This is because generate serialization assembly for ASMX on .NET Framework still goes through the C# compilation code path  instead of reflection emit, which needs to pass the reference assemblies to C# compiler. In this case

[2018-11-26 23:05] #3257 closed

[2018-11-27 11:52] yalexandr opened #3292 "Error on reference WSDL Service"
When I try to reference a WSDL Service (http://files.developer.sabre.com/wsdl/sabreXML1.0.00/usg/TokenCreateRQ.wsdl),  I'm getting some validation errors, but dont receive proxy TokenCreateRQService class in Reference. Wsdl has info about it. VS version 15.9.2

[2018-11-27 13:09] xnivel commented on #3228
I also have a problem with deserialization. But in my case I have " the response message does not match the content type of the binding" - if the source code is closed and there is so many problem with deserialization. Couldn't you give us a future that generate also functions that return string so we could easly make our own function to de serialize this?

[2018-11-27 15:15] johntobia commented on #1810
This is one of my organizations only blockers moving to .NET Core. We have a document management platform that returns large documents using MTOM (that we have no control over).  We have successfully written a wrapper using the XmlMtomReader class (and all other related / needed classes). We really just need XmlMtomReader and XmlMtomWriter ported to .NET Core. I realize that the WCF stuff is more

[2018-11-27 16:14] felipecaputo commented on #1810
Can you share how did you did it?

[2018-11-27 20:10] StephenBonikowsky commented on #3266
Hi @patrikrazem the build process is susceptible to artifacts that get left behind from previous build attempts.

Please try running `clean.sh -all` first and then...
`sync.sh -p`
`build.sh`

[2018-11-27 22:56] gallivantor commented on #2349
The latest Microsoft.Windows.Compatibility package (2.0.1) is still pulling in the old 4.1.x System.Private.ServiceModel so this problem is still happening to new apps that reference the Windows Compat Pack, to get around it you have to explicitly add a reference to the latest version of this System.Private.ServiceModel.
Which team is responsible for the Compability Pack, how can we get this fixed

[2018-11-28 19:18] jmf191 commented on #3225
I am also seeing this exact same error in Visual Studio Enterprise 2017 Version 15.9.2.

dotnet --info

[code]

[2018-11-28 22:34] Lxiamail commented on #3272
The issue is tracked by dotnet/corefx#33703

[2018-11-28 22:34] #3272 closed

[2018-11-28 22:59] Lxiamail commented on #1780
Close the issue for now. When we get the stress running again, we will revisit the issue as needed.

[2018-11-28 22:59] #1780 closed

[2018-11-28 23:06] Lxiamail commented on #1732
Closing the bug since a lot of things had changed. Will reactive it if we will see it again.

[2018-11-28 23:06] #1732 closed

[2018-11-28 23:06] Lxiamail commented on #1733
Close it for now. Reactive it if we see it again.

[2018-11-28 23:06] #1733 closed

[2018-11-28 23:09] Lxiamail commented on #2193
Close it for now. Reactive it if we see it again.

[2018-11-28 23:09] #2193 closed

[2018-11-28 23:10] Lxiamail commented on #1815
Close it for now. Reactive it if we see it again.

[2018-11-28 23:10] #1815 closed

[2018-11-28 23:18] Lxiamail commented on #1637
Looks like a setup error. Close it for now. Reactive it if we see it again.

[2018-11-28 23:18] #1637 closed

[2018-11-28 23:18] Lxiamail commented on #792
Close it for now. Reactive it if we feel the needed of the feature.

[2018-11-28 23:18] #792 closed

[2018-11-28 23:19] Lxiamail commented on #934
Close it for now. Reactivate it if we see the need.

[2018-11-28 23:19] #934 closed

[2018-11-28 23:22] Lxiamail commented on #773
The issue most likely has been fixed. Reactivate it if we see the need.

[2018-11-28 23:22] #773 closed

[2018-11-29 00:05] StephenBonikowsky opened #3298 "Status of uwp6.2 branch."
We have never shipped anything out of the uwp6.2 branch and after some discussion we decided to support uwp6.2 from our release/2.1.0 branch since there are no product differences and our build process also produces uwp builds.

- [x] Disable/remove ADO build pipeline for uwp6.2
- [x] Disable auto-update process for uwp6.2 branch.
- [x] Remove reporting infra (MC) for uwp6.2 branch.
- [x] Remove t

[2018-11-29 00:15] StephenBonikowsky commented on #3298
For removal from auto-updating process...
https://github.com/dotnet/versions/pull/403

[2018-11-29 00:16] StephenBonikowsky commented on #3298
@Lxiamail I don't see any reason for keeping this branch around in any form. We never shipped from it and it doesn't contain anything that is not also part of release/2.1.0 branch.

[2018-11-29 00:18] Lxiamail commented on #3298
@StephenBonikowsky I agree that we don't seem to need it any more.

[2018-11-29 00:48] StephenBonikowsky commented on #3282
@maxild Apologies for the difference in behavior between our repo and CoreFx. The underlying build infrastructure was primarily created by CoreFx for CoreFx although it was also intended to be used by other repos such as ours. Unfortunately there are significant differences between our two repos and many "peripheral" scenarios such as the one you describe don't work.

Normally we would address thi

[2018-11-29 00:53] #3282 closed

[2018-11-29 01:14] caozhiyuan commented on #3263
like this https://github.com/dotnet/wcf/blob/e3252b3f2a7a5b074d7143186dfe21dde4adc293/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L138 @Lxiamail

[2018-11-29 07:16] #3292 closed

[2018-11-29 17:35] dasetser commented on #3225
@25alex I'm not sure why you would be getting a proxy error. Can you access your service using other methods but only hit this error with this tool?

@jmf191 Thanks for reporting that you're hitting the sdk issue too. Can you try running the dotnet-svcutil command on this machine to see if it has the same issue? It would be really helpful to see the underlying error. You should be able to see it i

[2018-11-29 17:56] dasetser commented on #3292
@yalexandr I see you closed this issue. Did you figure out what the problem was? We should treat the validation errors as warnings (saying the service had some schema problems) and still generate the proxy class.

[2018-11-29 20:18] dasetser commented on #3226
Sorry for the delay in responding to this. This looks like a bug in the tool causing us to not find the endpoints correctly. Looking at the wsdl the service has a binding name with XML encoded spaces in it (MedData_x0020_External_x0020_Submission_x0020_PortalSoap), and we aren't dealing with them correctly. We'll work on a fix for this.

[2018-11-29 21:50] mconnew commented on #3263
@caozhiyuan, you have two options. The one I would recommend is to cache your WCF client (I presume it's one created using the connected services tool?) and reuse it for all your requests. It is thread safe to do this. The reason I recommend this is because a ChannelFactory is quite a heavy weight class and isn't cheap to create as it builds a contract description by reflecting over your service c

[2018-11-29 21:53] dasetser commented on #3225
It looks like the restore is failing because it can't load the nuget.org source, and later the Nuget.Versioning package can't be found, even though it should exist in the nuget.org feed. Are you using a network proxy or something else that would impact your ability to communicate with nuget.org?

[2018-11-29 22:56] #2882 closed

[2018-11-30 16:02] maxild commented on #3282
@StephenBonikowsky Would be nice to know what 'dance' at the commandline would setup ```.\src\System.Private.ServiceModel\System.Private.ServiceModel.sln``` to be loaded and build in vs2017 without any build errors?

I would be happy to give more details, but it seems likely that the steps must be known by all dotnet/wcf devs.

[2018-11-30 19:01] StephenBonikowsky commented on #3282
After this: #3299

Then
`clean.cmd -all`
`sync.cmd -p -- /p:ArchGroup=x64 /p:RuntimeOS=win10 /p:BuildAllConfigurations=true`
`build.cmd -allConfigurations -buildArch=x64 -Release -- /p:RuntimeOS=win10`

I could load and build https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/System.Private.ServiceModel.sln

[2018-11-30 22:03] StephenBonikowsky commented on #3110
Additional details...

- This test should not even be running in UWP, Expect100Continue is not supported in UWP. Will add skipping logic to the test.

- This test was failing because of unexpected side effects from the Expect100Continue failure. This should now work fine as soon as Expect100Continue gets skipped.

- These two tests were fixed by #3120 and pass when run locally, investigating why t

[2018-12-01 09:07] cesaralc commented on #1810
Hi, Any update? This is a fairly important feature.

[2018-12-01 13:10] SSELLIOTTHOME commented on #2463
I have had the same problem after upgrading an MVVMCross PCL to .net Standard, but as I was previously using a proxy generated by SLSVCUTIL that had the older style async (APM) based async callbacks, I found using the /a /tcv:325 arguments in SVSUTIL produced similar proxy classes.

Reinstalling Silverlight and its sdks and using SLSVCUTIL again was another work around.

With this in mind, @marek-

[2018-12-02 01:21] Brett-Bailey opened #3302 "Error: Invalid URI: The format of the URI could not be determined"
When attempting to load the attached wsdl, I get the error below. This wsdl works fine in all different versions of Visual Studio and other apps, but not in WCF with .net standard 2.0. Changed real site name to just site, but everything else is the same.

[dpt.zip](https://github.com/dotnet/wcf/files/2636495/dpt.zip)

Warning: Cannot import wsdl:port
Detail: An exception was thrown while running a

[2018-12-02 21:39] tmulkern commented on #8
Hi All, I know I am late to the conversation, but I wrote and article that might help with this:
[Using a Bearer Token in .Net Core with WCF](https://medium.com/@tadhg.j.mulkern/using-a-bearer-token-in-net-core-with-wcf-part-1-8db2c54113f8)

[2018-12-02 22:53] Eneuman opened #3303 "Deadlock in .Net Core but works in full framework"
Hi!

I think I might have found a deadlock bug when calling a WS with client certificate.
I have attached source code to show the problem.

When running the code, no response is returned and it's stuck in a await loop.
The same code works great running in full .net framework.
Using fiddler shows that the service is returning a result.

The code can be downloaded [here](https://links-my.sharepoint.

[2018-12-03 04:42] #3263 closed

[2018-12-03 13:02] Hypenate commented on #3183
I'm having the same issue:

[2018-12-03 14:04] brux88 commented on #1810
yes its possible share how did you did it?

[2018-12-03 15:56] yalexandr opened #3304 "Soap header was not understood"
remote wcf service need custom header 'MessageHeader' in envelop. Im adding this header, but processing response return this error:
'The header 'MessageHeader' from the namespace 'http://www.ebxml.org/namespaces/messageHeader' was not understood by the recipient of this message, causing the message to not be processed.  This error typically indicates that the sender of this message has enabled a c

[2018-12-03 17:10] MattGal opened #3305 "Change Permissions to agent folder for cleanup step causing timeouts"
@riarenas commented on [Fri Nov 30 2018](https://github.com/dotnet/core-eng/issues/4727)

Email from @StephenBonikowsky

@ilyas1974  Maybe the work folders are getting too large in these agents?

---

@alexperovich commented on [Fri Nov 30 2018](https://github.com/dotnet/core-eng/issues/4727#issuecomment-443384535)

Can we please just git rid of the step that is causing the problem?
`chmod 777 -R

[2018-12-03 17:45] edavedian commented on #3230
@mconnew thank you very much and sorry for the long delay.  Do you not see any issues/side effects with having the settings SendTimeout, ReceiveTimeout and other settings in the Binding when using a new instance of HttpClient from HttpClientFactory in HttpMessageHandler?

[2018-12-03 19:12] robertborr opened #3306 "build is changing NuGet.config and/or path, and corrupting build machines"
In this build:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2247549

A change was detected to NuGet.Config:
\\DDVSOWINAGE027\C$\Users\dlab14\AppData\Roaming\NuGet\NuGet.Config changed from <?xml version="1.0" encoding="utf-8"?>

2018-12-01T16:15:44.9078725Z Installing dotnet cli...
2018-12-01T16:15:59.6536589Z Restoring BuildTools version 1.0.26-prerelease-03129-01...
2018-12-01T1

[2018-12-03 19:32] robertborr opened #3307 "build DotNet-Wcf-Trusted-publish-release-UWP6.0 is changing NuGet.config and/or path, and corrupting build machines"
@StephenBonikowsky
detected modification of NuGet.Config file in this build:
https://devdiv.visualstudio.com/DevDiv/_build/results?buildId=2247395

12/1/2018 12:13 PM (UTC) : Contents of \\DDVSOWINAGE025\C$\Users\dlab14\AppData\Roaming\NuGet\NuGet.Config changed from <?xml version="1.0" encoding="utf-8"?>

2018-12-01T12:13:27.8435234Z Installing *** cli...
2018-12-01T12:13:38.7081578Z Restoring Bu

[2018-12-03 21:27] boris008 opened #3308 "Accept encoding in header"
Hello,I need to disable gzip accept encoding in service request in .net core. I have web service which accepts and send only non compressed text xml. In .net 4.5 I was solved this by web.config httpstransport decompressionenabled=false in service model section. Is it possible in .net core? Thank you very much.

[2018-12-03 21:55] robertborr commented on #3306
ref: https://github.com/dotnet/core-eng/issues/4721

[2018-12-03 21:55] robertborr commented on #3307
ref: https://github.com/dotnet/core-eng/issues/4721

[2018-12-03 22:16] patrikrazem commented on #3266
@StephenBonikowsky I followed the steps you provided, but the result is still the same.  The `chmod` command fails, because there is no file to operate on.

[2018-12-03 23:30] mconnew commented on #3230
We use the SendTimeout/ReceiveTimeout to create a cancellation token. I would suggest you disable the timeouts on HttpClient itself (I think we set it to 0 but it might be -1 for infinite or TimeSpan.MaxValue, I can't remember which off hand) otherwise it will cancel all requests at 30 seconds. It also creates a LinkedCancellationToken for each request which has other overhead. WCF creates a Cance

[2018-12-03 23:38] napalm684 commented on #1810
Agreed sharing is caring :-)

[2018-12-03 23:41] edavedian commented on #3230
@mconnew Thank you very much.

[2018-12-04 01:55] mlacouture commented on #3254
Hi @koide, thank you for your request.  See issue #654 as for why we can't do this.

[2018-12-04 01:55] #3254 closed

[2018-12-04 02:11] mlacouture commented on #2852
@zipswich multiple wsdl inputs are supported for wsdl files on disk only, you need to download the files locally then pass them to the tool.
regards,

[2018-12-04 02:11] #2852 closed

[2018-12-04 06:16] jducobu commented on #1810
Instead of using Mtom binding, i use a basichttpbinding (or something like that). But for that, the service must ne configured to use this binding configuration.

[2018-12-04 06:35] jducobu commented on #1810
Mtom was abandonned in 2012 by microsoft because the protocol is slower than json.

[2018-12-04 08:07] LokiMidgard commented on #1810
Unless you consume someone elses Service where you can't change any configuration.

[2018-12-04 08:17] jducobu commented on #1810
I understand. In my case i have chance the service provide also using httpbasic supported by .net core. You cab also offered a wrapper behind the wcfservice in rest in .net framework using mtom if it's the only binding the service offers. I'll do that if i'm in your situation

[2018-12-04 08:19] Trapulo commented on #1810
I understand that Mtom can be "dead". But interoperability is interoperability. For example, in Italy the government has created a mandatory service to manage all invoices of all country. Every company may use it. And this service is based on IBM+Java (ok, I know... sorry, we're in Italy, we like to be late) and requires Mtom. So, every ERP based on .NET cannot be in .NET Core and will require som

[2018-12-04 10:49] maxiptah commented on #3008
Can confirm the issue. Our WCF service (client certificates authentication) stopped working after upgrade. Downgrading to 4.4 resolved the issue. Will the switch `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false)` introduce some problems if we are using SignalR? This relies on sockets heavily.

[2018-12-04 10:57] wiktor-golonka commented on #3008
@maxiptah
We are also using `SignalR` and  `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false)` and we haven't noticed any problems so far.

[2018-12-04 11:06] felipecaputo commented on #1810
@Trapulo Not just Italy has legacy integrations that uses Mtom, here in Brazil the software that runs on some law courts that provide a mandatory integration to others law courts is mandatory and uses Mtom too.

We are having the same problem and this is the only thing that is blocking us to migrate our services.

[2018-12-04 12:53] dcumbo opened #3309 "Potential deadlock when calling WCF service from ASPNET Core on dotnet core."
# Potential deadlock when calling WCF service from ASPNET Core on dotnet core.

We have an ASP.NET Core 2.1 WebApi running on .NET Core 2.1 which proxies calls through to a WCF Service. We have noticed strange behaviour during a load test which leads to requests timing out.

When concurrent requests are made to the WebAPI (in most cases) the responses stall until all of them are processed. As the

[2018-12-04 13:46] christopher-millon-abide opened #3310 "System.ServiceModel.FaultException`1[[System.ServiceModel.ExceptionDetail, System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]] : Object reference not set to an instance of an object."
Hello folks,

Setup a .NET Core 2.1 Application which tries to call WCF Service.
Upon an 'API' call, I'm getting this error.

```System.ServiceModel.FaultException`1[[System.ServiceModel.ExceptionDetail, System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a]] : Object reference not set to an instance of an object.
   at System.ServiceModel.Channels.ServiceC

[2018-12-04 15:55] mmohoney opened #3311 "WCF client behind corporate proxy authentication failure - (407) Proxy Authentication Required."
I'm running into an issue when calling an external WCF behind a corporate proxy. In full .Net framework the following was placed in the `app.config` file which allowed the call to succeed:
[code]

In .Net Core I have tried several ways of setting the proxy including setting the `ProxyAddress` in the `BasicHttpBinding`. When doing this I receive the (407) Proxy Authentication Required response. I b

[2018-12-04 21:34] zipswich commented on #2852
@mlacouture Thank you for the confirmation.
Is there a roadmap for these tools to help us plan our projects in the future. There are two ways to generate the Proxy classes:

1. The most powerful way - Add Service Reference - for UWP, ASP.net  MVC... that takes multiple WSDL URLs.
2. The relatively new Add Connected Service.
3. Command tool dotnet-svcutil.

Should we expect #1 to be deprecated in n

[2018-12-04 21:40] StephenBonikowsky commented on #3306
@MattGal @Lxiamail
I'm not sure what the action is here. From dotnet/core-eng#4721 I get that build steps are modifying NuGet.config, is that correct?

In both this run and the one listed in #3307 the logs in the description are from the sync step, we haven't made any changes to these build defs and repos in a long time.

If something has changed, I assume CoreFx hit the same thing? Could you poin

[2018-12-04 21:42] mlacouture commented on #2852
@zipswich, Add Service Reference targets .NET Framework and we don't have any plans for depricating it but it is in maintenance mode (no new features/improvements planned).  The other two tools are for .NET Core projects and we still have some room for improvements for these tools, if you have any feature requests (like suport for multiple URLs) you can report an issue for consideration which depe

[2018-12-04 21:56] MattGal commented on #3306
I get that the builds haven't changed for a long time, I simply was chasing down the root cause of users modifying the nuget.config file on machines.   I suspect the ways they got fixed were related to simply using newer versions of the .NET CLI in build, as this behavior was eventually removed from it.

[2018-12-04 22:31] zipswich commented on #2852
@mlacouture Thanks a lot for the clarification.  It is very helpful.   I should be all set if Add Service Reference is available for the foreseeable future.  I am adapting it for cross-platform apps.

[2018-12-05 07:30] mconnew commented on #3309
There are two possible causes. I suspect you are calling WCF using a synchronous contract based on your screenshot. Use Task based Async methods instead and you shouldn't see this problem. Basically if you are in a Task based context we expect you to call WCF using Task based methods. The second possibility is you aren't opening the channel before making a call. If a channel hasn't been opened yet

[2018-12-05 13:53] napalm684 commented on #1810
A vendor product is our issue.  We don't control the service implementation of OpenText.

[2018-12-05 23:58] StephenBonikowsky commented on #3101
I diffed core to desktop, found all "public void Close()" methods and all the ones in core that are in public classes are already listed in our facades.

There is no action to take for this issue.

[2018-12-05 23:58] #3101 closed

[2018-12-06 18:36] cruentusmors commented on #1810
Trying to consume web service from peoplesoft using .net core - this needs to work

[2018-12-10 11:11] venkatdev22 commented on #3145
Having same issue at factory.CreateChannel(); Version .NET core 2.1
Attached the exception trace log
[Errorlog.txt](https://github.com/dotnet/wcf/files/2662877/Errorlog.txt)

[2018-12-10 22:41] lsiddiquee commented on #3227
@wvandrunen use full framework svcutil to generate the code and then compile the source using netstandard. There might be some stuff missing just use polyfill for those. We were missing the transaction attribute which we are polyfilling for now.

[2018-12-11 23:41] tirth opened #3314 "Client access for named pipe connection"
Is it possible to include the NetNamedPipeBinding class for clients on .NET Core? We have a fairly substantial codebase that has a single remaining dependency on Framework specific code, which is accessing a key service out of our control that communicates via named pipes.

With .NET Core 3, we would like to move our WPF applications/libraries that currently have to target net461 over to netcoreap

[2018-12-12 10:33] Yawarmurtaza commented on #3155
adding `<DotNetCliToolReference Include="dotnet-svcutil" Version="1.0.*" />` in the csproj file under `<ItemGroup>` has fixed this issue.

[2018-12-12 19:33] StephenBonikowsky opened #3315 "Consider making quotes used in string resources consistent."
src/System.Private.ServiceModel/src/Resources/Strings.resx

Quotes throughout are a mix of single versus double quotes, consider making all of them the same for consistency.

Mentioned as part of #3312

[2018-12-12 19:34] #3186 closed

[2018-12-12 19:54] #3241 closed

[2018-12-12 20:00] Lxiamail commented on #2997
The issue should be fixed by 1.0 version of dotnet-svcutil.xmlserializer. Please let us know if you still have problem.

[2018-12-12 20:00] #2997 closed

[2018-12-13 19:32] hickmanjos commented on #1810
It's also still widely used in the states, the IRS is still using MTOM.

(I'm currently on the path of restarting my project with .net framework)

[2018-12-14 07:03] mkumar9699 opened #3316 "WCF"

[2018-12-14 17:23] Lxiamail commented on #3316
@mkumar9699 I guess this issue was created accidently without any information. Close it for now. Please create a new one with concrete information as you need.

[2018-12-14 17:23] #3316 closed

[2018-12-14 17:30] Lxiamail commented on #3314
@tirth thank you for your suggestion. We will prioritize this request with the other feature request based on customer votes. In the meantime, do you use NetTcpBinding instead?

[2018-12-14 19:45] Lxiamail commented on #3271
Close the issue for now.

[2018-12-14 19:45] #3271 closed

[2018-12-14 19:48] Lxiamail commented on #3255
WCF server on Core is tracked by https://github.com/dotnet/wcf/issues/2695. Close the issue.

[2018-12-14 19:48] #3255 closed

[2018-12-14 19:49] Lxiamail commented on #3252
Close the inactive issue.

[2018-12-14 19:49] #3252 closed

[2018-12-14 21:38] Lxiamail commented on #3310
@christopher-millon-abide Looks like NullReferenceException may have been thrown from the service side, you may debug into your server code.

[2018-12-14 22:02] Lxiamail commented on #3304
@yalexandr Have you tried to set MessageHeader.MustUnderstand to false by MessageHeader.CreateHeader()?

[2018-12-14 22:32] Lxiamail commented on #3308
@boris008 The config setting for decompressionenabled=false is not supported on .Net Core. However, you can gzip decompression can be set at [HttpChannelFactory level](https://source.dot.net/#System.Private.ServiceModel/System/ServiceModel/Channels/HttpChannelFactory.cs,337) . [This discussion](https://github.com/dotnet/wcf/issues/3230#issuecomment-431921166) may be helpful for you to figure out h

[2018-12-15 00:58] mconnew commented on #3311
Be default WCF doesn't provide credentials to a proxy server for security reasons. You have to explicitly opt in to sending credentials. The relevant properties aren't available on BasicHttpBinding, instead you need to modify them on the HttpTransportBindingElement.
[code]
This will then use whatever credentials you have set for that authentication scheme in your `ChannelFactory.ClientCredentials`

[2018-12-15 02:15] tirth commented on #3314
Unfortunately the service only uses named pipes, so NetTcpBinding won't work for our use case, but glad to know it's being worked on!

[2018-12-17 10:34] YigitKa commented on #31
any updates?

[2018-12-17 18:20] bc3tech commented on #31
@Lxiamail #2 is marked as `Closed` ... seems like if it's still on the table it shouldn't be Closed?

[2018-12-18 07:46] arnamq opened #3317 "No WebProxy support under Linux - CentOS on Docker, .NET CORE 2.2"
Hi,

It seems that proxy support under Linux dosn't work well. I set environment variables http_proxy and https_proxy but System.ServiceModel.Channels.HttpChannelFactory ignores it and I get the exception: System.ServiceModel.CommunicationException Network is unreachable

I use CentOS under Docker with .NET CORE 2.2

I've done simple test with bare HttpClient and it works fine with a proxy.

[code

[2018-12-18 14:18] JELHolloway opened #3318 "Potential issue with Microsoft WCF Web Service Reference Provider"
I am having a issue upgrading some of my .net framework library projects to .net core library projects.

The main issue is with integrating with 3rd party services.

Here are the steps to reproduce:

- Create new .net core library project
- Add > Connected Service
- Use URI: 'https://bgtest.landregistry.gov.uk/b2b/BGStubService/DaylistEnquiryV2_0WebService?wsdl'
- Click go

This will fail because

[2018-12-19 22:56] funky81 commented on #2550
Hi @magnusvw , it seems this method, doesnt work for me.
It still response with the same error message

[2018-12-20 00:53] danmosemsft opened #3319 "Several types in S.Security.Claims are not ported and have usage"
_From @danmosemsft on November 12, 2018 22:25_

Top of the list are these types
[code]
Usage is under 1% except that one of our porting partners is using ClaimsAuthorizationManager.

_Copied from original issue: dotnet/corefx#33440_

[2018-12-20 00:53] danmosemsft commented on #3319
_From @jkotas on November 13, 2018 4:49_

This is WCF. It does not belong to CoreFX.

[2018-12-20 00:53] danmosemsft commented on #3319
Ah, identity model.

[2018-12-20 00:53] danmosemsft commented on #3319
These came up (albeit low in the list I think) in desktop port attempts by customers.

[2018-12-20 05:10] Lxiamail commented on #31
@bc3tech Sorry, I meant https://github.com/dotnet/wcf/issues/8 instead of https://github.com/dotnet/wcf/issues/2.

[2018-12-20 09:49] murattdogan commented on #3283
When we refer to wsdl service .net core project. The wcf provider itself is creating async functions that are not in the wsdl service. Therefore, the system does not work. Or in wsdl the function of the names of the function by putting the value of the system by the new func and the service does not work

[2018-12-20 09:54] murattdogan commented on #3283
, WS-Trust 1.3 . net core not working
https://kpsbasvuru.nvi.gov.tr/Services/WsdlNoPolicy.ashx?Service=KisiSorgulaKisiBilgiServis

[2018-12-20 19:46] mconnew commented on #3317
Are you setting any proxy related properties on your binding? What version of the WCF nuget packages are you using? With all the default values, we don't configure anything on HttpClientHandler with regards the proxy. [Here is the code](https://source.dot.net/#System.Private.ServiceModel/System/ServiceModel/Channels/HttpChannelFactory.cs,112) where we populate `HttpChannelFactory<TChannel>._proxy`

[2018-12-21 09:35] maikebing opened #3320 "The build failed. Please fix the build errors and run again."
The build failed. Please fix the build errors and run again.

[2018-12-21 17:00] dasetser commented on #3283
@ripek Sorry for the delayed response. Thanks for reporting this. I don't think it's actually adding the same service twice, it just looks that way. The wsdl for this service is doing something a bit strange, and has multiple elements with the same name. When the types are generated there's a conflict that is resolved by appending a 1. They are actually different types with distinct uses, and you

[2018-12-21 18:41] dasetser commented on #3318
@JELHolloway When you say this is working for .NET framework but not .NET Core, do you mean using Add Service Reference works, but the WCF Web Service Reference provider is failing?

It looks like something may be wrong with the server's certificate. Both tools (and a browser) are showing the same behavior for me stating that they don't trust the certificate, and even if I force them to proceed I

[2018-12-21 19:32] dasetser commented on #3302
@Brett-Bailey Do you own this service? It looks like the error is caused by this line in the wsdl:
<soap:address location="/dpt/ws/" />

Is there a reason this is not an absolute address? From what I can tell it should be, and the error is caused because we try to treat it as one and end up not being able to parse the URI correctly. We can look into how other tools handle this scenario, but I'm no

[2018-12-27 09:58] arnamq commented on #3317
As you supposed the problem Was that we used version 4.4.2 of WCF. After upgradning to 4.5 everything works fine.

Than you.
Kind regards,
Piotr

[2018-12-27 09:58] #3317 closed

[2019-01-02 10:49] JELHolloway commented on #3318
@dasetser please see attached image, this is just a blank .netframework form project. when going to the url (https://bgtest.landregistry.gov.uk/b2b/BGStubService/DaylistEnquiryV2_0WebService?wsdl) it asks to use the vaild cert,
however i cant get this functionality in a .netcore project

![image](https://user-images.githubusercontent.com/45971101/50588806-a562e980-0e7b-11e9-8686-c5badeace3ee.png)

[2019-01-02 16:38] rpj commented on #8
@Lxiamail: I noticed that you recently added the "1 - Up Next" label to this issue, does that mean that it is in the queue to be implemented soon? That would be very exciting! If so, do you have a timeline as to when we could expect this feature to be available in a proper .NET core release? Thank you!

[2019-01-02 18:02] dasetser commented on #3320
@maikebing Can you give us some more information on what the problem you're having is? It sounds like you're running into some build errors related to the wsdl file you attached.

Are you saying you used the WCF Web Service Reference Provider and the Reference.cs it generated won't compile? What kind of build errors are you seeing?

[2019-01-03 01:39] maikebing commented on #3320
used the WCF Web Service Reference Provider ，This error is reported when referencing WCF, some machines appear, and some do not.VS2017 and VS2019 have this problem, and at the moment I don't know why this is happening. I'm going to focus on that.

[2019-01-03 07:59] pengweiqhca opened #3321 "Discuss wcf and IHttpMessageHandlerFactory code"
The following code can reuse HTTP connection, but I don't know whether there is any other problem.

[code]

[2019-01-03 09:04] JKennedy24 commented on #2972
@StephenBonikowsky what release of Microsoft.NETCore.UniversalWindowsPlatform package and VS 2017 update is this in?

Has this now been released?

[2019-01-03 13:55] JELHolloway commented on #3318
@dasetser Downloading the WSDL files and selecting them works as expected
I will look forward to your response on the other issue

[2019-01-04 18:57] joperezr opened #3322 "Add NetNamedPipeBinding to Windows Compat Pack"
Moving issue from corefx to wcf. The original issue had the following discussion:

@tirth commented on [Wed Dec 05 2018](https://github.com/dotnet/corefx/issues/33847)

The only thing preventing our codebase from fully moving to .NET Core is a service out of our control that uses NetNamedPipeBinding. WCF through the compatibility pack currently provides all the other necessary pieces, this one cla

[2019-01-05 23:13] djovidaurre opened #3323 "because with net core I can not obtain the synchronous methods of the following web services https://presiatservicios.impuestos.gob.bo:39113/FacturaElectronicaStandar?wsdl ? I can only visualize it asynchronous. With net framework I can visualize both (Synchronous and Asynchronous)"

[2019-01-07 01:45] maikebing commented on #3320
just get the message "The build failed. Please fix the build errors and run again." , no code , no more message !

[2019-01-07 02:00] maikebing commented on #3320
![095832](https://user-images.githubusercontent.com/3445167/50745054-05360780-1263-11e9-9bfe-ff5e37b31e35.jpg)

[2019-01-07 08:46] Dhivyatej commented on #2923
Hi,
Am also getting the same issue WCF 4.5.0 and .NET Core 2.1 - NTLM authentication fails with "Authentication failed because the connection could not be reused  Is there any solution found for this issue .its open since Nov20 Could someone please respond on this issue.

[2019-01-07 09:22] Dhivyatej commented on #2923
or
could you please elaborate or give some code sample on how to use 4.5 with the AppContext switch and have the first request on a socket have the body sent more times but subsequent requests are quicker,

[2019-01-07 09:23] Dhivyatej commented on #2923
could you please elaborate or give some code sample on how to use 4.5 with the AppContext switch and have the first request on a socket have the body sent more times but subsequent requests are quicker

[2019-01-07 18:35] dasetser commented on #3320
The ConsoleApp1.csproj in your attachment does not include the PackageReferences to the ServiceModel packages. Are these not being added to your project when you run the tool? Does your project work correctly if you manually add them? If so that would definitely be a bug and we would need to figure out why they're not being generated for you.

Do you see build errors when doing "Build Solution" (o

[2019-01-07 22:03] Lxiamail commented on #8
@rpj We are working on a prototype of TransportWithMessageCredential. However, due to another competing priority work item popped up recently, this feature's timeline is still to be determined.

[2019-01-07 22:05] rpj commented on #8
@Lxiamail Thank you so much for the information Alicia, it is very much appreciated!

[2019-01-07 23:37] maikebing commented on #3320
I removed it.

[2019-01-08 10:11] JKennedy24 commented on #2972
Thanks @StephenBonikowsky. Are you saying this should be fixed in V6.2.0-preview1-26926-04?

[2019-01-08 10:20] schmitch opened #3324 "Disable Certificate Validation Check .net core 2+"
Hello Currently I try to call a soap service with .net core and since my server has weak/old certs I try to disable the certificate check.

I tried to use:
[code]

sadly I get the follwoing error:
[code]

is there another way to disable them?

Without disabling validation I get:
[code]

I'm on OSX

[2019-01-08 10:33] schmitch commented on #3324
NVM I've called factory.CreateChannel() before setting up the validation chain.

Basically I get:
[code]

now

[2019-01-08 10:33] #3324 closed

[2019-01-08 18:48] StephenBonikowsky commented on #1415
Unit tests and scenario tests are not necessary.
This interface is exercised automatically with all of our existing tests that use [ChannelFactory](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L137).

[2019-01-08 18:50] StephenBonikowsky commented on #2972
Yes

[2019-01-09 12:44] izzetuslu opened #3327 "Cannot import wsdl:binding Detail: There was an error importing a wsdl:portType that the wsdl:binding is dependent on. XPath to wsdl:portType:"
error details:
Cannot import wsdl:port
Detail: There was an error importing a wsdl:binding that the wsdl:port is dependent on.
XPath to wsdl:binding: //wsdl:definitions[@targetNamespace='http://com/thy/service/websdom']/wsdl:binding[@name='WebsdomServiceSoapBinding']
XPath to Error Source: //wsdl:definitions[@targetNamespace='http://com/thy/service/websdom']/wsdl:service[@name='WebsdomService']/ws

[2019-01-09 13:59] ismailhozza commented on #2824
I am also having this issue. The workaround seems to be working, but can someone explain to me what is the root cause? Thanks

[2019-01-09 15:35] karen620 opened #3328 "WCF With .NetCore"
Does WCF supports .NetCore?? As I researched, I see contradicting articles which some stated it supports while some does not

[2019-01-09 16:09] Lxiamail commented on #2824
@ismailhozza Please look at #Azure/Azure-Functions#974 for explaination

[2019-01-09 16:13] Lxiamail commented on #2824
@colinbowern Yes, it may not be specific to Azure Functions projects, but the root cause is the same.

[2019-01-09 19:41] StephenBonikowsky commented on #1415
One correction, added unit tests.
PR #3329

[2019-01-09 21:08] Lxiamail commented on #3328
@karen620 WCF Client is supported on .NetCore, but WCF service is not supported currently. This GitHub repo is the source code for WCF Client on .NetCore

[2019-01-09 21:16] Lxiamail commented on #3323
@djovidaurre Yes, it is bydesign on WCF Core

[2019-01-09 22:01] StephenBonikowsky commented on #3298
All tasks completed.
Closing.

[2019-01-09 22:01] #3298 closed

[2019-01-09 22:48] Lxiamail commented on #3319
@danmosemsft S.Security.Claims are not part of identity Model, they are part of CoreFx

[2019-01-09 22:49] #3315 closed

[2019-01-09 22:52] #2972 closed

[2019-01-10 00:19] mconnew commented on #3311
That error message comes from WinHttpHandler. WCF stopped using that class directly quite a while ago and we now only reference HttpClientHandler. As of .NET Core 2.1, the default implementation is no longer WinHttpHandler and instead uses the newer SocketsHttpHandler. I suspect you are using a really old release of WCF. Can you make sure you are using the latest versions of System.ServiceModel.*.

[2019-01-10 00:43] mconnew commented on #3321
Dictionary isn't thread safe. It looks like you expect access to HttpClientFactoryBehavior.HttpMessageHandlerFactory to be accessed from multiple threads as you are using double checked locking, but the read from the dictionary outside the lock isn't thread safe.

In your CopyHttpHandler method, you assign this.InnerHandler to tempHandler which is then cast as DelegatingHandler in the variable dh.

[2019-01-10 02:19] pengweiqhca commented on #3321
I have to fix the two bugs and have modified the code.

Our Wcf client is based on ClientBase<TChannel> and is Scoped. So we need IHttpMessageHandlerFactory to reuse http connection.

Thank you for review code, my idea has any problem?

[2019-01-10 06:35] jkotas commented on #3319
@Lxiamail S.Security.Claims namespace in .NET Framework contains types from multiple different technology stacks. You are right that some of them are part of CoreFx.

[System.Security.Claims.ClaimsAuthorizationManager](https://docs.microsoft.com/en-us/dotnet/api/system.security.claims.claimsauthorizationmanager?view=netframework-4.7.2) and other types referenced by this issue are part of System.Id

[2019-01-10 06:37] jkotas commented on #3319
I do not think it makes sense to look at these in isolation. The discussion about these types should be part of much higher level conversation what to do about WCF in .NET Core in general.

[2019-01-10 09:15] dmnk commented on #3311
Thanks. I kind of expected that the required parts are installed and used in the up-to date version either by the .net core 2.2 installation or VS 2019.

After telling the package-manager to lift all System.ServiceModel's from 4.4.4 to 4.5.3 the Exception vanishes and the proxy is used as configured.

According to ConnectedService.json the WCF in charge was 15.0.21025.787

Thanks!

[2019-01-10 16:40] Lxiamail commented on #3319
@jkotas It makes sense if WCF is the primary user of these APIs. IdentityModel actually is owned by a different team rather than WCF team. @brentschmaltz, how does your team like to track this request?
@danmosemsft, can you share the usage data?

[2019-01-10 16:46] joscalv opened #3330 "Set User-Agent in CONNECT request"
Hi,
I am performing a wcf request to an https service and I am having problems behind a proxy due user-agent filter.
I have configured the request to include a valid one, but it neither connect because proxy drops the CONNECT request because it haven't got user-agent header.
I have tried adding a IClientMessageInspector to include it, but it only includes the user-agent in GET request, not in the

[2019-01-10 17:13] danmosemsft commented on #3319
@Lxiamail to get usage data, ask @OliaG for the latest aggregated data from scans that customers recently chose to share with us.

[2019-01-10 17:20] dhawalk1981 commented on #2535
I have a WCF service that validates SAML. This code cannot be moved to .NET Core as the assemblies for validating SAML are missing in Core.  So, I need to call to this from Web API which is in .NET Core. Both the WCF Service and Web API are on the same machine and hence it will be better on performance to call this WCF over named pipe.

the other alternative is porting the assemblies need for SAML

[2019-01-10 17:44] StephenBonikowsky commented on #3085
I think we should do this as part of the move to Arcade. For 3.0 since we already have the manual step for the vendors to verify we should be ok.

[2019-01-10 17:45] StephenBonikowsky commented on #3233
I don't think we should do this separate from the overall move to Arcade.

[2019-01-10 19:11] JStepien90 commented on #3253
I can confirm the same issue. Even more with the .NET Core 2.2 I have the problem with genereting types at all when I want to resuse some library. With the older sdk types were duplicated.

[2019-01-10 20:44] dasetser commented on #3327
@izzetuslu Have you been able to use this service with a WCF client using any other tools (svcutil, add service reference for example)?

It looks like this wsdl does not comply with the guidelines for interop defined in http://www.ws-i.org/Profiles/BasicProfile-1.1.html because of the way it's using the http://schemas.xmlsoap.org/soap/encoding/:Array type. You would need to work with the service o

[2019-01-10 21:10] MattGal commented on #3233
I agree, feel free to close it.

[2019-01-10 23:42] brentschmaltz commented on #3319
@jkotas @Lxiamail
These types below would be used by a ASP.NET 4.x application.
Katana and ASP.NET CORE use something completely different.

[code]

[2019-01-10 23:52] #3233 closed

[2019-01-10 23:57] mconnew commented on #3319
I looked through the WCF codebase to find usage and the only usage by WCF of anything in IdentityModel in the System.Security.Claims namespace that I could find is by System.ServiceModel.Security.IdentityModelServiceAuthorizationManager which is an internal class and couldn't be used by WCF in .NET Core without the rest of IdentityModel being there anyway.

[2019-01-11 00:02] StephenBonikowsky commented on #3220
@xiedongweo Sorry for the delay. I took a look at this and it looks like Add Service Reference is deliberately converting the Stream to a byte array when generating the client code. We need to check a few things to decide if there is valid reason for this behavior, it doesn't do this when using a desktop console app so it is specific to the UWP app.

In the meantime it is simple to get around it b

[2019-01-11 00:03] brentschmaltz commented on #3319
@mconnew ClaimsAuthorizationManager et al are used by WIF in the Fx partition under ida.

[2019-01-11 02:51] xiedongweo commented on #3220
@StephenBonikowsky  Thanks for your response. I will be going to wait for your good news.

[2019-01-11 12:03] JKennedy24 commented on #2463
How is this still a thing?

Can we not just;
1. look to see if adding reference to .net standard project
2. if yes - only implement synchronous methods
3. also generate ios workaround code.

[2019-01-11 14:02] izzetuslu commented on #3327
Did you try to import zipped WSDL file using svcutil on Add Reference in Visual Studio?

[2019-01-11 19:04] dasetser commented on #3327
@izzetuslu I tried running both svcutil and Add Service Reference on your wsdl file and they both had warnings similar to dotnet-svcutil.

[2019-01-11 21:12] mconnew commented on #3319
@brentschmaltz, I was trying to explain why this issue doesn't belong in the WCF repo.

[2019-01-11 22:31] MattB-msft opened #3332 "Missing ClientBase<TChannel>ClientBase(ServiceEndpoint endpoint) Constructor"
Working on a Port of a WCF Client for .net core and am dealing with a missing constructor in the .net core version of WCF.

We required the ClientBase(ServiceEndpoint endpoint) to create the ClientBase<TChannel> object.

***Edited***

Add `protected ClientBase(ServiceEndpoint endpoint)` to the public contract.
Add `public ChannelFactory(ServiceEndpoint endpoint)` to the public contract.
Add scenar

[2019-01-11 23:51] StephenBonikowsky opened #3333 "Auth scheme Digest unauthorized on UWP"
Test case [Http_ClientCredentialTypeTests.DigestAuthentication_Echo_RoundTrips_String_No_Domain](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Http/ClientCredentialTypeTests.4.1.0.cs#L20) fails on UWP runs but not on any other framework.

The only [other Digest test](https://github.com/dotnet/wcf/blob/master/src/System.Private.

[2019-01-11 23:56] StephenBonikowsky commented on #3333
Skipping the test until this is resolved...
https://github.com/dotnet/wcf/pull/3334

[2019-01-12 00:14] Lxiamail commented on #3332
Looks like #240 removed ClientBase constructors.

[2019-01-12 00:30] Lxiamail commented on #3314
Closing this issue and use #2535 to track the same issue.

[2019-01-12 00:30] #3314 closed

[2019-01-12 00:31] Lxiamail commented on #3322
Closing this issue and use #2535 to track the same issue.

[2019-01-12 00:31] #3322 closed

[2019-01-12 00:33] Lxiamail commented on #3319
@danmosemsft @brentschmaltz, where are the right place to track the issue?

[2019-01-12 01:20] Lxiamail commented on #3031
Created a UWP bug#727016 to track this issue

[2019-01-12 01:34] StephenBonikowsky commented on #3328
Here is a list of supported features in our most recent release.
https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.1.0.md

[2019-01-12 11:37] SSElliott commented on #2463
What is worse is that their documentation is just plain wrong.

[2019-01-12 14:42] PhilPJL commented on #3253
Same issue for me, all types are duplicated.  I'll be unable to start migrating to .NET Core until this is fixed.

[2019-01-14 15:31] bilalmalik777 opened #3335 "Error Adding Connected Service with dor net 2.2"
Hi,

I'm trying to use the "Add Connected Service" feature inside the VS2017 but I'm getting the following error message all the time.
![wcfcapture](https://user-images.githubusercontent.com/23011613/51121979-97797500-183a-11e9-8f03-bd1375d9cc02.PNG)
I am using dot net core 2.2 and visual studio versio is15.9.3

[2019-01-14 17:29] Stephan-Ghequiere opened #3336 "The HTTP request is unauthorized with client authentication scheme 'Negotiate'. The authentication header received from the server was 'NTLM'"
With Version 4.3 (nuget) my web client can connect to a webservice that runs on an IIS server that only allows NTLM, but when I update to 4.5.3 I get this exception "The HTTP request is unauthorized with client authentication scheme 'Negotiate'. The authentication header received from the server was 'NTLM' "
The client  uses HttpClientCredentialType.Windows for ClientCredentialType.
This had alway

[2019-01-14 18:45] StephenBonikowsky commented on #3336
Hi @Stephan-Ghequiere there shouldn't be any differences in how NTLM works. Could you help us narrow down your scenario a little bit by providing some additional information? A repro would be ideal.

We have tests that run regularly covering NTLM, take a look, maybe we are missing your exact scenario.
[NegotiateStream_Http_Tests](https://github.com/dotnet/wcf/blob/master/src/System.Private.Service

[2019-01-14 18:51] StephenBonikowsky commented on #3335
Thanks for reporting the issue @bilalmalik777 !

[2019-01-14 19:12] StephenBonikowsky commented on #3332
Hi @MattB-msft that constructor was not part of the initial public contract for WCF Core, the code existed initially but was cleaned-up and removed with PR#252

It looks like it was removed because it called into caching code for ChannelFactory which is not used in WCF Core.

@mconnew I don't remember the context around why ChannelFactory caching was not used in Core, is it related to server side

[2019-01-14 19:32] dasetser commented on #3335
@bilalmalik777 This sounds like a bug in the tool. Do you get this for every service you try to use the tool with (for example, on a newly created WCF Service project in VS)? Or is this specific to one service?

There are two things you could try that would help us see what's causing this so we can get this fixed:
1) Use the [dotnet-svcutil](https://docs.microsoft.com/en-us/dotnet/core/additional-

[2019-01-14 20:49] mconnew commented on #3332
The code change was related to not having configuration available. In order to be able to always cache by default, you need to know that the binding and endpoint of the constructed ClientBase<TChannel> is the same. On .NET Framework, when using the constructor which accepts a configuration name, the configuration isn't going to change so caching is enabled. There's no way to know that you can safe

[2019-01-15 00:07] Lxiamail commented on #3332
@StephenBonikowsky Yes, we can do consider bringing that constructor back and adding it to the public contract.

[2019-01-15 00:14] StephenBonikowsky commented on #3332
I discussed this with @mconnew a little bit, sounds fairly simple. Lets talk timing at our next meeting.

[2019-01-15 09:18] bilalmalik777 commented on #3335
@dasetserI am facing this issue in case of dot net core but with dot net 4.6 its work perfectly.
I will try the first option to find the exact error
I cannot share anything with you relating to services because the client does not allow us to do that and services can only be accessed from client created VM.

[2019-01-15 15:55] ps2goat commented on #2332
I can confirm that svcutil version 1.0.4 generated a service class that used `XElement` instead of `XmlNode`.  I [wrongly] thought this was the new way of doing it in dotnet core 2, so I updated my code to match.  It broke with a reflection error: `there was a problem reflecting type <property>`, where property was of type `XElement`.

I updated the generated service to use XmlNode, and reverted m

[2019-01-15 22:46] dasetser commented on #3327
Closing because this service's wsdl doesn't meet the interop guidelines and it appears we have the same behavior as other .NET client generation tools. The service owner should update their service or wsdl if they want more clients to be able to use this service.

[2019-01-15 22:46] #3327 closed

[2019-01-15 22:49] dasetser commented on #3283
Closing since this doesn't look like a bug.

[2019-01-15 22:49] #3283 closed

[2019-01-15 23:58] #3085 closed

[2019-01-16 01:19] StephenBonikowsky opened #3337 "Fix value of parameter 'Operation' for CI versus PR builds."
Our [azure-pipelines.yml](https://github.com/dotnet/wcf/blob/master/azure-pipelines.yml) is triggered automatically for each PR and then again right after a PR is merged which is referred to as the CI build.

In the PR case, setup scripts expect the value of 'Operation' to be "pr" and in the case of the CI build it should be "branch".

Currently the build definition in ADO sets 'Operation' to "pr"

[2019-01-16 16:02] Stephan-Ghequiere commented on #3336
just came across this... https://github.com/dotnet/wcf/issues/2641#issuecomment-414869671

[2019-01-16 16:37] StephenBonikowsky commented on #3336
From that thread it looks like if your Service requires NTLM you should change your HttpClientCredentialType from 'Windows' to 'HttpClientCredentialType.Ntlm'.

@mconnew Do you have any feedback here for @Stephan-Ghequiere ?

[2019-01-16 17:32] melzoghbi commented on #2885
I am facing the same issue using azure runtime Version: 2.0.12245.0 in VS2017. After i added the ServiceModel Primitives nuget package i get the following error:

Could not load file or assembly 'System.Private.ServiceModel, Version=4.5.0.3, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.

Any fix for this issue or workaround?

Thanks.

[2019-01-16 17:41] Lxiamail commented on #2885
@chadgruka Have you tried the [new Azure function version with the fix](https://github.com/Azure/azure-functions-host/issues/2877)? When you say the issue repro with "Console apps", can you share concrete repro steps?

[2019-01-16 17:45] chadgruka commented on #2885
Sorry, this is 2 months ago. I'll have to see where we landed on this since.

[2019-01-16 17:52] Lxiamail commented on #2885
@melzoghbi Have you tried [the new Azure function version with the fix](https://github.com/Azure/azure-functions-host/issues/2877)? If the issue that you ran into is about missing System.Private.ServiceModel.dll in Azure Function output directory, it may due to [a different Azure function issue](https://github.com/Azure/azure-functions-host/issues/3568). Can you try the work around suggested by Zh

[2019-01-16 17:52] Lxiamail commented on #2885
@chadgruka Thanks

[2019-01-16 20:34] brentschmaltz commented on #3319
@Lxiamail I am not sure, is there a plan to port this types?
@mconnew that makes sense.

[2019-01-16 20:50] danmosemsft commented on #3319
@Lxiamail I do not mind - if the code change would be in CoreFX, then the issue probably should be there and I should not have ported it to this repo.

But first I would decide whether you want to port it. It is your call

[2019-01-16 20:55] Lxiamail commented on #3319
@danmosemsft It will be @brentschmaltz's call if to port it. :)

[2019-01-16 21:10] brentschmaltz commented on #3319
@danmosemsft It's not just my call, but the team has no plans to port this as it's used by asp.net 4.x. We don't think it will every be useful in Core.

[2019-01-16 22:01] danmosemsft commented on #3319
OK. @terrajobst FYI in case he is tracking this. Feel free to close the issue.

[2019-01-16 23:04] StephenBonikowsky commented on #3332
After discussion today we've decided to bring this constructor back and add it to the public API surface area right away for 3.0

[2019-01-17 01:02] mconnew commented on #3048
@giovanibarili, if you update to the latest version of .NET Core, this problem should now be fixed. Can you please verify that you aren't seeing this problem any longer?

[2019-01-17 01:03] mconnew commented on #3008
@wiktor-golonka and @maxiptah, if you update to the latest version of .NET Core, this problem should now be fixed. Can you please verify that you aren't seeing this problem any longer?

[2019-01-17 09:39] coderookie1994 commented on #3228
I too have a similar issue, where in .net framework it works with the same request but in .net core the complex business object fails to deserialize into an object, any update on this issue ?

[2019-01-17 13:16] etosson commented on #31
any updates?

[2019-01-17 18:22] dasetser commented on #3219
Closing since this doesn't have enough information about the problem or scenario to investigate.

[2019-01-17 18:22] #3219 closed

[2019-01-17 18:37] dasetser commented on #3189
Closing since this issue does not happen on dotnet-svcutil or WCF Connected Service. Add Service Reference bugs aren't tracked on Github, so please report this on https://developercommunity.visualstudio.com if you are still encountering the issue.

[2019-01-17 18:37] #3189 closed

[2019-01-17 18:45] dasetser commented on #2963
We've made a change to improve the warning message in this scenario in Visual Studio 2019.

Note: Please report any Visual Studio issues unrelated to the WCF Connected Service to https://developercommunity.visualstudio.com in the future.

[2019-01-17 18:45] #2963 closed

[2019-01-17 20:01] edavedian commented on #3230
@mconnew I just got around doing what you suggested above which is to send the request in the new instance of HttpClientHandler created when Func<HttpClientHandler, HttpMessageHandler> is called by WCF.  The new HttpClientHandler is simple as below

`
public class ColpWcfHttpClientHandler : HttpClientHandler
    {
        private IHttpClientFactory _httpClientFactory;

        public ColpWcfHttpCl

[2019-01-17 21:15] Ulf-Ason commented on #2463
Time to celebrate "One year with important bug that stops the project"!

There shouldn't be this kind of bugs in Xamarin, it's slowly killing Xamarin.

[2019-01-17 21:47] jupagose commented on #2463
Happy birthday !!!!
or worst birthday ?

[2019-01-17 23:03] Lxiamail commented on #31
@etosson Unfortunitely, due to other high priority work items, #2 is in prototype phase.

[2019-01-18 10:59] brux88 commented on #1810
at today nothing news? :(

[2019-01-18 15:13] sudilravindranpk commented on #2265
@hmdhasani @zhenlan  do you have any work around, other than moving the service from message security to transport security  (in my case service is a third party , I cannot modify them).  I am worried, only option before me is moving out of .net core , back to .net framework .

[2019-01-18 17:54] #3332 closed

[2019-01-19 12:03] naresh7453 opened #3342 ""The service at the following URI does not have any valid endpoints" exception when am using .NetCore"
Am facing this exception only in .net core but working in fine and able to create Web Service reference with .Net Farmework.

[2019-01-19 17:16] bdrupieski commented on #2711
Is there a workaround for this issue until it's fixed in a future release?

[2019-01-20 18:59] bdrupieski commented on #2711
I think I came up with a workaround. After looking through the source I saw that if I try to add a "SOAPAction" header, it will be added as a Content-Type header parameter.

This seems to work:

[code]
I have to wrap every method call with it, so this:
[code]
becomes:
[code]

[2019-01-21 00:42] bdrupieski commented on #3230
@edavedian `HttpChannelFactory` owns its `HttpClient` instances. `Func<HttpClientHandler, HttpMessageHandler>` is providing the `HttpMessageHandler` that is passed into `HttpClient`'s constructor.

By the time your `ColpWcfHttpClientHandler.SendAsync` is called, we're already inside a call to `HttpClient.SendAsync`. `HttpClient.SendAsync` marks the request as sent here: https://github.com/dotnet/c

[2019-01-21 01:07] bdrupieski commented on #3230
@mconnew To follow up on something you said earlier in this issue:

Does this mean we should re-use the same instance of `ClientBase`, and should not recreate it for every request? What is using up so much memory in `ChannelFactory`?

[2019-01-21 09:59] Stephan-Ghequiere commented on #3336
So apparently, there was a change in the way athauntication is handled. Changing both BasicHttpBinding.Security.Transport.ClientCredentialType to HttpClientCredentialType.Ntlm will allow ntlm authentication to work with version 4.5.3; HttpClientCredentialType.Windows apparently no longer works (at least not in my scenario)...

[2019-01-21 09:59] #3336 closed, assigned to nobody

[2019-01-22 03:53] kendallb commented on #2720
Ok this is ridiculous. You have to properly support non-async functions for those who are currently not in a fully async environment. As anyone who has done async programming should now, *YOU CANNOT MIX ASYNC AND NON-ASYNC CODE*! You can't just do this as the poster above suggested:

loginResponse loginResp = nsClient.loginAsync(loginReq).Result;

That will I guarantee you result in deadlocks if y

[2019-01-22 19:38] dasetser commented on #3342
@naresh7453 Are you using the latest version of Visual Studio? It looks like that message is from an older version of the tool, so it may work if you update to the latest version of VS and try again.

[2019-01-23 09:35] gopi247 opened #3393 "Endpoint now found exception in asp.net core when try to consume WebSocket wcf Services"
I am having WCF custom binding web socket Service. Below are service configurations settings.
[code]

When i am trying consume my service in my asp.net core application I am getting exception as EndpointNotFoundException: There was no endpoint listening at ws://localhost:13060/ that could accept the message.

I generated a scaffolding of my wcf service by **Add connected service**

`var client = n

[2019-01-23 17:59] #3319 closed

[2019-01-23 18:01] #3311 closed

[2019-01-23 18:04] Lxiamail commented on #3309
@dcumbo Hope @mconnew's suggestion helped. Closing the issue due to being inactive for a while.

[2019-01-23 18:04] #3309 closed

[2019-01-23 18:06] Lxiamail commented on #3310
@christopher-millon-abide Hope you have worked on the issue. Closing the issue due to being inactive for a while.

[2019-01-23 18:06] #3310 closed

[2019-01-23 18:07] Lxiamail commented on #3308
@boris008 Hope you worked out the issue. Closing the issue due to being inactive for a while.

[2019-01-23 18:07] #3308 closed

[2019-01-23 18:08] Lxiamail commented on #3304
@yalexandr Hope you worked out the issue. Closing the issue due to being inactive for a while.

[2019-01-23 18:08] #3304 closed

[2019-01-23 18:14] Lxiamail commented on #3248
@dfrostpl Hope you worked out the issue. Closing the issue due to being inactive for a while.

[2019-01-23 18:14] #3248 closed

[2019-01-23 18:17] naresh7453 commented on #3342
@dasetser am using Visual studio Community 2017, Version 15.5.1.

[2019-01-23 18:18] Lxiamail commented on #3221
@guoming and @j1mb0jay , Hope you worked out the issue. Closing the issue due to being inactive for a while.

[2019-01-23 18:18] #3221 closed

[2019-01-23 18:19] #3242 closed

[2019-01-23 19:04] dasetser commented on #3342
@naresh7453 I would suggest updating the a more recent version of VS 2017 and trying again. 15.9 is the latest update for VS2017, and it should include a fix for this.

The behavior in the version you have is that if no endpoints were found in the wsdl the tool would show this error and not generate any code. Other tools for the full framework (svcutil, add service reference) still attempt to gene

[2019-01-23 19:20] edavedian commented on #3230
@mconnew @bdrupieski thank you very much for your suggestions.  Using IHttpMessageHandlerFactory did work.  But in addition to using this mechanism to try to address the problem for which this issue was opened, I was trying to address another issue with socket saturation which I am having with WCF running on Linux as part of .NET core 2.2 compilation (and this doesn't occur when deployed on Window

[2019-01-23 19:20] #3230 closed

[2019-01-23 19:36] edavedian opened #3344 "Experiencing timeouts with WCF client running with .NET core 2.2 on Linux"
@mconnew We have a .NET core project which was originally deployed on Windows in Azure App Service.  This project makes REST based and SOAP based calls.  For REST based calls the project uses HttpClient via HttpClientFactory and for SOAP based calls the project uses WCF client.  We are now trying to port this project to Linux (on Centos).  In the load environment, I have a set of mock services tha

[2019-01-23 21:05] ceduard0 commented on #2824
Hello,
I solved this issue in the publish settings , after that go to runtime target  option and changed to"Portable".

This solved the issue.

[2019-01-24 01:20] shelly2016 commented on #2463
Its time to face reality. This technology as great as it is, no longer is
being supported.  Maybe it could be handled in opensource. Anyway this I
think has been abandoned

On Thu, Jan 17, 2019, 4:48 PM jupagose <notifications@github.com wrote:

[2019-01-24 10:20] SSElliott commented on #2463
@shelly2016 Whilst this may well be true, it does not excuse a complete lack of comment by Microsoft, faulty and incorrect Xamarin documentation and a lack of upgrade path suggestions. The plain fact is that they broke existing functionality. SLSVCUTIL used to work perfectly well. By removing it they created additional work for Dev. teams. If we did this to our customers, we would not have a busin

[2019-01-24 11:05] kilonzo4 commented on #2463
For those with similar issue, you need to manually edit the Reference.cs file manually and add the synchronous methods manually. Start by defining your method in the interface, then in the serviceclient class

[2019-01-24 11:07] JKennedy24 commented on #2463
why does no one use svcutil?

`SvcUtil.exe /tcv:Version35 https://mywebservice /out:"C:\mydirectory\Reference.cs" /syncOnly /namespace:*,MyNameSpace`

[2019-01-24 11:11] Amikumar commented on #8
can anyone help me to provide a workaround to fix this issue ?

[2019-01-24 11:51] SSElliott commented on #2463
@JKennedy24 We are still left with the problem that iOS does not allow dynamic code compilation and it will not work on that platform. Not an issue with SLSVCUtil.

[2019-01-24 17:49] Lxiamail commented on #3310
@christopher-millon-abide Thanks for sharing.

[2019-01-24 18:46] mconnew commented on #3336
The reason why this broke was we made a change to start using CredentialCache. This adds a constraint that the credentials can only be used for the specified server and the authentication mechanism that the server is requesting. This prevents unintended leaking of credentials, for example if the server requests Basic authentication. With basic auth, you effectively send the username and password a

[2019-01-24 19:00] mconnew commented on #2463
@JKennedy24, although this doesn't address the root problem, I'd like to suggest an improvement to your code. I suspect you have edited some code out as the variable downloads that you return isn't defined anywhere. So I'm going to give a generic example which you should easily be able to apply.

[code]

Then you can simple await your method call.

[2019-01-24 19:20] mconnew commented on #3344
You could be running into a thread starvation issue. If you don't have enough threads, then handling the completion will get delayed, which makes each request take longer. As you have more sockets, it sounds like this results in you having more concurrent requests in progress. Which then applies more thread pool pressure. Try [increasing your min threads](https://docs.microsoft.com/en-us/dotnet/ap

[2019-01-24 20:13] edavedian commented on #3344
@mconnew Thank you very much.  But what I am wondering though why the REST requests, which are using HttpClient via HttpClientFactory, aren't suffering from thread starvation.  The application actually makes more REST calls than SOAP based calls and if thread starvation was the culprit, shouldn't the application experience timeouts from HttpClient used for REST requests.  The timeout value for bot

[2019-01-24 21:57] mconnew commented on #3344
It depends how you use WCF. If you are calling synchronous service methods (don't return a `Task<T>` but just return `T`), then you block on the calling thread and all the work happens on another background thread. So you end up using 2 threads there. We also have some code paths where we can write directly to the output stream using a synchronous API depending on how you configure your binding. I

[2019-01-24 22:21] edavedian commented on #3344
Correct, REST and SOAP calls are happening concurrently in the application.  For both REST and SOAP based calls, the application uses asynchronous methods to send requests.  And as indicated, this issue is not happening when the application is running on Windows in Azure App Service.  Can you see anything different about thread/socket management in WCF that might function differently on Linux?

[2019-01-25 08:32] JKennedy24 commented on #2463
@mconnew Thanks for the advice. I'll give your code a try. My workaround seems to get around the problem (iOS cannot dynamically generate code). Although I dont fully understand the extent of the root of the problem

[2019-01-25 14:09] Elvin1492 commented on #2293
The problem still is not solved

[2019-01-25 14:25] neilst opened #3359 "Setting the Http Protocol Version"
Hi,

I have recently upgraded a dotnet core 2.0 project to 2.2 and hit a couple of issues when calling SSRS via my service reference (auto generated via VS 2017 - connected services).

Firstly - I experienced the SocketsHttpHandler & NTLM issue (https://github.com/dotnet/corefx/issues/28961) and have moved to use  `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);`.

The other

[2019-01-25 14:50] apiliuhin opened #3360 "Set the SecurityProtocol (Ssl3 or TLS) for the different endpoints"
Hi,

would like to clarify if there is a possibility to set up different protocols in the client app.config to use for example:
1) url 1 set to use TLS 1.2
2) url 2 set to Ssl3 (Ssl3 only)

using .NET Framework 4.5.2

Thanks.

[2019-01-26 15:04] neilst commented on #3359
I was able to access the request and change the HTTP version using this [feature](https://github.com/dotnet/wcf/issues/2400)

[2019-01-26 15:04] #3359 closed

[2019-01-26 20:06] naresh7453 commented on #3342
@dasetser I have updated VS 2017 and now able to create web service reference and able to consume WCF service. Thank you for information.

[2019-01-26 20:06] #3342 closed

[2019-01-28 17:16] joaopauloit opened #3371 "I can not binding wsdl in .net core 2 console app"
See you my stack trace:

Importing web service metadata ...
Number of service endpoints found: 1
Scaffolding service reference code ...
Restoring NuGet packages for bootstrapper ...
Building bootstrapper project ...
Invoking bootstrapper ...
Warning:Warning: Cannot import wsdl:binding
Detail: An exception was thrown while running a WSDL import extension: System.ServiceModel.Channels.StandardBindin

[2019-01-28 20:10] mconnew commented on #2463
I thought I'd give some technical details of some of the problems that there are with the Xamarin stack and the code generated by the Connect Services tool.

1. Mono (which Xamarin is based on) doesn't support Task based async operation contracts. Back in 2012 when .NET 4.5 was released, WCF added support for Task based contracts. This requires a few changes in the implementation to accomodate. Fi

[2019-01-28 21:43] Lxiamail commented on #1252
https://github.com/dotnet/corefx/issues/27745 is the corefx issue tracking the NCL blocking issue.

[2019-01-28 21:53] Lxiamail commented on #2773
https://github.com/dotnet/wcf/blob/master/release-notes/UWPSupportedFeatures-v6.1.md is the separated UWP table from https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v2.1.0.md.

[2019-01-28 21:53] #2773 closed

[2019-01-28 23:12] Lxiamail commented on #3360
@apiliuhin on .NET Framework 4.5.2, WCF is hard coded to use Ssl3 and TLS1.0. If you want to specific which TLS version to use , you need to use .NET Framework 4.6+. You can set different SSL3/TLS version  to different binding, like
`
<netTcpBinding>
    <binding>
        <security
         mode="None|Transport|Message|TransportWithMessageCredential">
            <transport clientCredentialType="N

[2019-01-28 23:12] #3360 closed

[2019-01-28 23:32] Lxiamail commented on #943
Looks like the blocking issue has been fixed. We should check what's the current status of this work item.

[2019-01-28 23:42] Lxiamail commented on #3093
@shakeri Hope you have worked on the issue. Closing the issue due to inactive for a while.

[2019-01-28 23:42] #3093 closed

[2019-01-29 07:33] McMlok commented on #2923
We experience same issue with large request on .NET 2.2. For us is better workarround to switch to WinHttpHandler with [usage of enviroment variable](https://docs.microsoft.com/en-us/dotnet/core/whats-new/dotnet-core-2-1#sockets-improvements) DOTNET_SYSTEM_NET_HTTP_USESOCKETSHTTPHANDLER.

[2019-01-29 11:58] sonerguven opened #3390 "Get Metadata of Wcf Host from client on runtime in .net core"
Hi,

We've recently started to migrate our project from .net framework 4.5.1 to .net core 2.2 but our project in making will continue to consume wcf services of our legacy system developed on .net framework 4.5.1. There are hundreds of different services and dlls in the legacy system, which we don't want to add them in our new .net core project as a reference. In this point getting meta data of ho

[2019-01-29 17:35] mtycholaz opened #3373 "Running build.cmd doesn't generate the .nupkg files in the bin folder"
Building a dotnetcore 2.1 console application and attempting to add a reference to the generated NuGet packages.

I've followed the documentation laid out in **using-prerelease-wcf-packages.md**, specifically

1. Build the packages using 'build.cmd" in a CMD window.
2. Edit NuGet.config to declare the location of the generated .nupkg files (again, use VS Package Manager Settings or just directly e

[2019-01-30 10:17] brux88 commented on #1810
there is a guide to be able to deserialize a mtom in aspnet core

[2019-01-30 11:35] felipecaputo commented on #1810
@brux88 Are you asking if there is a guide? Or telling that there is a guide because, if this guide exists, I'ld love to read it.

[2019-01-30 11:49] brux88 commented on #1810
@felipecaputo I'm looking for a guide, I can not believe that this issue has not been put even in the next milestone for two years, so I wanted to know if there were other ways to avoid the problem

[2019-01-30 17:37] joaopauloit commented on #3335
Hi @dasetser .
See my stack trace:

[6752.872] Time elapsed: 00:00:00.7110734
dotnet sdk version:2.1.503
[6752.846] Time elapsed: 00:00:00.7469745
[6752.740] Time elapsed: 00:00:00.8546778
Attempting to download metadata from 'https://grupotecnoset--tst1.custhelp.com/services/soap/connect/soap?wsdl' using WS-Metad
ata Exchange and HttpGet.
[6752.846] Importing metadata ...
Warning: Cannot import w

[2019-01-30 18:12] joaopauloit commented on #3335
Cannot import wsdl:port
Detail: There was an error importing a wsdl:binding that the wsdl:port is dependent on.
XPath to wsdl:binding: //wsdl:definitions[@targetNamespace='urn:wsdl.ws.rightnow.com/v1_4']/wsdl:binding[@name='RightNowFedAuthSyncBinding']
XPath to Error Source: //wsdl:definitions[@targetNamespace='urn:wsdl.ws.rightnow.com/v1_4']/wsdl:service[@name='RightNowSyncService']/wsdl:port[@na

[2019-01-30 18:12] joaopauloit commented on #3371
Cannot import wsdl:port
Detail: There was an error importing a wsdl:binding that the wsdl:port is dependent on.
XPath to wsdl:binding: //wsdl:definitions[@targetNamespace='urn:wsdl.ws.rightnow.com/v1_4']/wsdl:binding[@name='RightNowFedAuthSyncBinding']
XPath to Error Source: //wsdl:definitions[@targetNamespace='urn:wsdl.ws.rightnow.com/v1_4']/wsdl:service[@name='RightNowSyncService']/wsdl:port[@na

[2019-01-31 09:13] gopi247 opened #3377 "Endpoint now found exception in asp.net core when try to consume WebSocket wcf Services"
I am having WCF custom binding web socket Service. Below are service configurations settings.

[code]

When i am trying consume my service in my asp.net core application I am getting exception as EndpointNotFoundException: There was no endpoint listening at ws://localhost:13060/ that could accept the message.

I generated a scaffolding of my wcf service by **Add connected service**

`var client =

[2019-01-31 11:53] Ramin2c opened #3378 "dotnet svcutil: generate classes from XSD"
Hi
I wonder if it is possible to generate only classes (and not the client) with the dotnet svcutil from a set of XSD files. The same way we used to do with the old xsd command line provided the /c switch.
The reason behind this: in our project we need to extract data types from a set of provided XSD files first and write the code for the webservice client manually later.

Bests
Ramin

[2019-01-31 18:23] dasetser commented on #3335
@joaopauloit It looks like you're having a different problem than the one reported in this issue. I'll follow up on issue #3371 which it looks like you filed for the problem you're having.

[2019-01-31 18:40] joaopauloit commented on #3335
@dasetser Okay. I found it after I created the issue.

Tks

[2019-01-31 19:04] dasetser commented on #3371
@joaopauloit It looks like that service uses TransportWithMessageCredential for the security type, which is currently not supported on WCF for .NET Core. You can find more information and monitor when this is available in issue #8.

[2019-01-31 19:04] #3371 closed

[2019-02-01 00:51] mconnew commented on #3344
@edavedian, the socket management in HttpClientHandler is different in .NET Core with the newer SocketsHttpHandler. I've been told (by someone who I trust on these sorts of things) that an await on HttpClient SendAsync using SocketsHttpHandler continues on an IO thread as an IO thread is where the OS callback for a completed IO occurs. Also, Linux doesn't have a concept of an IO Thread pool like W

[2019-02-01 01:01] wfurt commented on #3344
The new implementation certainly put more stress on thread pools and we have seen starvation cases when high concurrency is used. Tuning thread pool sizes should help.

[2019-02-01 17:17] edavedian commented on #3344
@mconnew @wfurt Thank you very much.  I will certainly try the thread pool tuning and update this issue with the results.  But what I am still wondering though why is the thread starvation not an issue with RESTful calls using HttpClient via HttpClientFactory which occur concurrently in the application with SOAP based calls using WCF.  The RESTful based calls have more load and concurrency in the

[2019-02-01 20:07] fulghumd commented on #2265
We are also hitting this same road block. Hopefully support for message security can be made a priority soon!

[2019-02-01 23:45] mconnew commented on #3344
@edavedian, I'm not suggesting the issue stops there if it does solve your problem. It's very difficult to know what's going on with your codebase so I'm making a best guess. I'm doing a "Dr House" and diagnosing by using the treatment for the problem to verify if that's the problem. If it is, then the next step is to work out why. If it does turn out to be the issue, one simple explanation could

[2019-02-02 15:03] MeikTranel opened #3379 "Allow only selecting a certain subset of the WSDL published API"
Is it really necessary that an entire API is generated? Wouldn't it be possible to select only certain methods and let svcutil figure all exchange types to generate?
Some APIs expose some metric tons of methods behind a single endpoint. It'd really help if i could select only the methods i need.

[2019-02-04 08:57] KonstantinosP7 commented on #2940
I have exactly the same issue, WCF is returning value only in UWP but NOT in Android or IOS. Any solution?

[2019-02-04 09:22] KonstantinosP7 opened #3380 "Consume WCF with simple android app"
I want a simple android App consuming a wcf through client.

[2019-02-04 14:00] felipecaputo commented on #1810
Hi @Lxiamail it would be possible to have some definitions / specification about how this should be implemented and maybe the community could provide the implementation...

I really thing that this would make a lot of people really happy o>

[2019-02-04 14:55] JohnTobia commented on #1810
@felipecaputo see my comment above.  To start, we really just need XmlMtomReader and XmlMtomWriter ported to .NET Core.  I have a working solution (by all means not optimal) if those classes exist.  It's at least a starting point.

[2019-02-04 15:54] felipecaputo commented on #1810
@JohnTobia I'll take a look when I get home today, maybe I can help and end up submitting a PR

[2019-02-05 00:20] edavedian commented on #3344
@mconnew Thank you very much.  I will try the thread pool tuning sometime this week and update this issue.

[2019-02-05 23:13] jjanuszkiewicz commented on #3253
Same for me, types are not reused even if they have matching `DataContractAttribute`.

[2019-02-06 16:00] masoudtahmasebi93 commented on #2405
Hi , sorry is the documentation for WCF in .Net Core 2 available anywhere? Cause I just can't find anything anywhere

[2019-02-06 18:57] miksh7 opened #3381 "No executable found matching command "dotnet-svcutil""
3 developers work on the same project using netcore 2.2.0 and VS2017 (15.9.6) and only one developer has an issue generating a new or updating the existing WCF service reference.

[2/5/2019 10:52:54.422 AM] Updating Microsoft WCF Web Service Reference Provider in the project.
[2/5/2019 10:52:54.433 AM] Resolving project references ...
[2/5/2019 10:52:54.575 AM] Importing web service metadata ...
[

[2019-02-06 22:02] Lxiamail commented on #2265
@fulghumd @sudilravindranpk , unfortunately, the status hasn't changed. Due to the underlying System.IdentityModel is not supported on .NET Core, this item is blocked.

[2019-02-06 22:38] Lxiamail commented on #3380
@KonstantinosP7 You may try to use Xamarin.

[2019-02-06 22:38] #3380 closed

[2019-02-06 22:40] Lxiamail commented on #3379
@MeikTranel This is a feature request. We will prioritize this request depending on customer feedbacks.

[2019-02-06 22:51] Lxiamail commented on #3377
@gopi247 Can you try to run the client app on .NET full Framework to see if it works?

[2019-02-06 23:47] StephenBonikowsky opened #3382 "Move WCF repo onto the Arcade build infrastructure."
- [ ] Build Product on Windows
   - [x] target framework: netstandard2.0
   - [ ] target framework: netstandard3.0
   - [ ] target framework: uap
   - [ ] target framework: uapaot
   - [ ] target framework: .netfx
- [ ] Build Product on Unix
   - [ ] target framework: netstandard2.0
   - [ ] target framework: netstandard3.0
   - [ ] target framework: .netfx
- [ ] Build Product on OSX
   - [ ] targ

[2019-02-07 05:57] KonstantinosP7 commented on #3380
@Lxiamail Thanks for your reply. I AM using xamarin forms, I perform every step of the official walkthrough "Working with WCF" but the error I get is "System error. Endpoint not found". My service is working because I test it on my browser, I also get results when using UWP but throws error when I set android application as start up project. Thanks

[2019-02-07 17:10] Lxiamail commented on #3380
@KonstantinosP7 if you search for the open issues with Xamarin label in this repo, you can find multiple Xamarin related work items, which are blocked by Xamarin supports.

[2019-02-07 19:03] drhdrhdrhdrh opened #3383 "WCF Web service Reference provider: error: The Build Failed"
With VS2017 v15.9.6, dotnetcore v2.2  SDK, the service is discovered and ref code is scaffolded, but the bootstrapper fails. The messaging in the output is not specific enough to help me figure out where to look for the problem. On exiting the wizard, nothing has been saved to the project.

![image](https://user-images.githubusercontent.com/47429766/52435785-e6c86380-2acf-11e9-8832-7732698a0998.pn

[2019-02-07 19:41] antsaia opened #3384 "System.ServiceModel.Description.TypeLoader.AddBehaviorsAtOneScope"
I'm referencing these libraries in a .NETCORE2.0 project built to run on AWS Lambda. I need to get this working and wondering if you have any suggestions.

I'm getting an error that Operation is not supported on this platform.: PlatformNotSupportedException
at System.ServiceModel.Description.TypeLoader.AddBehaviorsAtOneScope[IBehavior,TBehaviorCollection](Type type, TBehaviorCollection description

[2019-02-08 08:47] KonstantinosP7 commented on #3031
I have the same issues with WCF. I have created succesfully the WCF service, tested it on browser, tested it on UWP , everything works, but when I set as start up project the android.app, it throws system error when trying to communicate with the service. (in away client command).
Any simple Web API example to communicate with xamarin android app? Thank you in advance, I am in really urgent situat

[2019-02-08 20:03] kfrancis commented on #1810
@felipecaputo @JohnTobia I'd be willing to donate my time to this issue. We need this. I need a .NET Standard compatible library. How can we organize and get this done?

@JohnTobia Can you gist what you've done that works in your scenario?

[2019-02-11 09:51] menaheme opened #3386 "Missing ProtectionLevel property on ServiceContractAttribute"
I have installed the Nuget package `System.ServiceModel.NetTcp` , trying to invoke an existing WCF operation from a .Net Core 2.1 project.

 The service's contract (that i do not cotrol) specifies `ProtectionLevel.EncryptAndSign` at the contract level.
I can see the `ProtectionLevel` property in the source code of `ServiceContractAttribute` in this repo, and also in the decomplied assembly on my h

[2019-02-11 12:30] EliezerMarkovsky opened #3387 "svcutil on .NET Core Generate only Async Method ?"
Hi
Visual-Studio-2017 (15.9.6)
I have the same WCF-Service within the same solution
On this Solution I have Two Class Library Projects:
1. .NET Framework
2. .NET Core

I Connected WCF-service as a reference to Both Class Library Projects.

After generating Reference.cs file I see:

In .NET Framework Project (Reference.cs):
`[System.CodeDom.Compiler.GeneratedCodeAttribute("System.ServiceModel", "4.

[2019-02-11 16:00] viktorpeacock commented on #1370
Is there any workarounds? I tried creating custom bindings, but there is a mismatch between Soap 1.1 and 1.2.

[2019-02-11 19:56] edavedian commented on #3344
@mconnew Tuning the thread pool as you indicated above does seem to eliminate the intermittent timeout issues in WCF.

[2019-02-12 01:54] TPucke commented on #2923
+1 vote for staying on this and getting it resolved.  I upgraded my application from core 2.0 to 2.2 today and found this unexpected prize.

[2019-02-12 03:00] mconnew commented on #2923
@TPucke, this is really out of our hands. The bug exists in HttpClientHandler and I opened issue dotnet/corefx#30760 over 6 months ago. Feel free to add a comment over on the corefx issue to encourage higher priority on a fix.

[2019-02-12 03:03] TPucke commented on #2923
thanks, will do

[2019-02-12 08:59] Gulcitai opened #3389 "Unstable behavior of calling SOAP Service"
# Issue Title

 Calling of SOAP Service from time to time fails with error "Async method is not suppported on this proxy"

# General
Hello
I've implemented a SOAP service client with .Net  Cor 2.1 . Proxy has been generated as connected service
![image](https://user-images.githubusercontent.com/15212112/52623559-aac14400-2ebd-11e9-83ad-b19cb7d0aeef.png)

The client works mostly fine , but from tim

[2019-02-12 14:25] bboxstart commented on #3381
See solution in[ issue 3179](https://github.com/dotnet/wcf/issues/3179). In my case (on Windows) the problem was that I used the add package command which automatically created a 'PackageReference' instead of a 'DotNetClitoolReference'.

[2019-02-12 18:01] dasetser commented on #3381
@miksh7, you're using the WCF Web Service Reference Provider as part of Visual Studio, correct? You shouldn't need to manually add a dotnet-svcutil reference to your project if you're using this feature from VS. The tool will internally create a placeholder project and add dotnet-svcutil to it in order to call it. It looks like that is what's failing here.

After the tool fails take a look in the

[2019-02-13 07:45] GianlucaMaggio commented on #3247
Any news about this bug? We are still experiencing low performance in multiple requests scenario.
Thanks

[2019-02-13 15:58] daver77 commented on #2433
@mconnew did this ever get resolved? We're seeing the same thing, an extra request containing HEAD only that returns a 500 from the service when called using .NET Core. Same/similar code in .NET Framnework doesn't do it

[2019-02-13 19:01] KKhurin commented on #3247
[Stephen](@StephenBonikowsky), did you have a chance to take a look at the build tools to see how its done for other assemblies?

[2019-02-13 19:09] StephenBonikowsky commented on #3247
Not yet, this is going to have to wait until I can get a vanilla build going with the new Arcade.

[2019-02-13 20:30] mconnew commented on #2433
@daver77, if you update to the latest version of WCF you won't get the extra HEAD request. .NET Core 2.1 introduced a new managed implementation of HttpClientHandler (internally wraps SocketsHttpHandler) which support the Expect header. There is still an outstanding bug in the implementation when using NTLM authentication which causes requests over 1024 bytes to fail.

[2019-02-13 22:16] dasetser commented on #3387
Currently the tool only supports generating async operations for WCF on .NET Core. This has been previously answered in #654 (and a few other issues). Since we've heard multiple reports of customers wanting this I'm going to reopen that issue to investigate if it's possible to add an option to generate synchronous methods. I'll close this issue so we only have one open issue tracking the investiga

[2019-02-13 22:16] #3387 closed

[2019-02-13 22:20] dasetser commented on #654
I reopened this issue because we've had multiple customers asking for this in a few different issues. There are a few reasons why this is not currently supported. Problems with mixing sync and async calls being one, and the history of how async was handled in earlier versions of .NET Core when this tool was originally planned.

Because of the amount of people wanting this we want to take another l

[2019-02-13 22:28] Lxiamail commented on #3386
@menaheme Looks like ProtectionLevel is not exposed in .Net standard contract. Does your scenario use MessageSecurity later? I'm wondering if this issue is the only issue blocking your app run on .NET Core.

[2019-02-13 22:37] Lxiamail commented on #3384
@antsaia Can you provide the repro program which ran into the issue?

[2019-02-13 22:51] dasetser commented on #3383
@drhdrhdrhdrh You can find the bootstrapper project that's failing to build in the %localappdata%\Temp\WCFConnectedService directory after the tool fails. If you check that folder you should be able to see why the bootstrapper project is failing to build. If you can let us know why it's failing (or attach a zip of the directory so we can investigate) it would help us identify what went wrong gener

[2019-02-14 09:59] daver77 commented on #2433
@mconnew thank you. We were still on .NET Standard 1.6 with the various ServiceModel packages on 4.3. Updated the packages to 4.5.3 and code to .NET Core 2.1 and all good. I couldn't get it to compile on .NET Standard 2.0, is that correct?

[2019-02-14 14:38] drhdrhdrhdrh commented on #3383
Thanks for the support. Looking at the projects, both the svcutil_starter and svcutil_bootstrapper projects, upon opening in VS2017, indicate this error below.
I didn't get time yet to dig into the details, I just wanted to post this initial evidence in case it rings any bells with you...

NETSDK1045	The current .NET SDK does not support targeting .NET Core 3.0.  Either target .NET Core 2.2 or low

[2019-02-14 14:47] drhdrhdrhdrh commented on #3383
Looking at the svcutil_bootstrapper project properties, the highlighted framework target drop down was balnk. I set it to the desired core 2.2 and the project builds without complaint.
![image](https://user-images.githubusercontent.com/47429766/52794279-c008b080-302c-11e9-8f14-ccbbda93e1bf.png)

[2019-02-14 15:01] lsiddiquee commented on #654
+1

Currently I am generating the client using full framework and manually changing a few lines to make it build and work in .net standard.

[2019-02-14 18:55] dasetser commented on #3383
@drhdrhdrhdrh Thanks for the additional information. Do you have a .NET Core 3.0 preview sdk installed? Try running `dotnet --version` on the command line to see if 3.0 preview is the sdk being used.

I was able to reproduce this after installing the .NET Core 3.0 preview on my machine. This looks like a bug in the tool where we aren't using the target framework of your project correctly, and inst

[2019-02-14 18:58] miksh7 commented on #3381
@dasetser, yes it's WCF Web Service Reference Provider. Here is the content of %localappdata%\Temp\WCFConnectedService directory
[2019_Feb_14_13_45_23.zip](https://github.com/dotnet/wcf/files/2866425/2019_Feb_14_13_45_23.zip)

Running the "dotnet svcutil" command from the svcutil_starter directory resulted in the same error:
C:\Users\****\AppData\Local\Temp\WCFConnectedService\2019_Feb_14_09_04_52

[2019-02-14 19:35] drhdrhdrhdrh commented on #3383
Well done! Unbeknownst to me, I do have 3.0 preview. Maybe it came across when I updated VS2017 a few days ago. I certainly didn't intentionally get it...

I followed your instructions above and tried to create the service again, and this time it worked fine.

Thanks for the fast and excellent response!

[2019-02-14 20:11] dasetser commented on #3381
@miksh7 Thanks for attaching that. Everything looks correct to me. The csproj has the reference, and the nuget.config points to what should be the correct location. However, it looks like the package isn't getting restored. Do you get any kind of error message if you run `dotnet restore` in that folder on the machine having this problem?

On my machine I can just run a restore, then call dotnet sv

[2019-02-14 22:57] dasetser commented on #3378
@Ramin2c This sounds similar to the original svcutil's /dataContractOnly argument. Would adding that option to dotnet-svcutil give you what you're looking for?

[2019-02-14 22:59] dasetser commented on #3335
@bilalmalik777 Did you ever get a chance to try this with dotnet-svcutil's verbosity increased so we can find a callstack for this issue?

[2019-02-14 23:04] dasetser commented on #3320
@maikebing It looks like the Connected Service tool runs successfully, but the problem is that when you try to run the project you get an error saying to fix the build errors and run again, correct? Are you still hitting this issue? Do you get any errors when you try to simply build (not run) the project?

[2019-02-14 23:05] dasetser commented on #3302
Closing this issue since it looks like the wsdl is invalid.

[2019-02-14 23:05] #3302 closed

[2019-02-14 23:13] dasetser commented on #3225
Are either of you still encountering this problem? Or did you find what the cause was?

[2019-02-14 23:26] dasetser commented on #3220
@xiedongweo The Add Service Reference feature is owned by a different team and issues for it are not tracked on GitHub. I have filed an internal bug and assigned it to the team that owns this feature so they can be made aware of the problem and investigate.

Since they don't track issues on Github and you have a work around for now, I'm closing this issue. If you want a follow up from that team pl

[2019-02-14 23:26] #3220 closed

[2019-02-14 23:28] #2804 closed

[2019-02-14 23:31] dasetser commented on #2332
@ps2goat This is on our backlog to fix. The root cause is understood, but it uncovered a few other issues that we're investigating before we make a fix. I'll update this issue once we can make a fix for it.

[2019-02-14 23:37] dasetser commented on #3157
This looks like the same issue as #3327. Since it appears this doesn't meet the interop guidelines I'm closing this. If the wsdl does work in other tools (Add Service Reference, the original svcutil) feel free to reopen and we can investigate.

[2019-02-14 23:37] #3157 closed

[2019-02-14 23:44] dasetser commented on #2742
@edswangren Sorry this issue got missed for so long. Did you find a work around for this issue? If it is a bug in the tool we would want to investigate, but I'm not clear what exactly the bug is. Just that the names of the classes are different from what you would expect?

[2019-02-15 00:04] dasetser commented on #2938
@Edward-Zhou Sorry for the slow response. Did you figure out what the problem was with this? Or is this still an issue?

[2019-02-15 00:14] dasetser commented on #2591
Reclosing this. It looks like it was reopened due to a misunderstanding in the conversation of 3145. Since the problem with dotnet-svcutil has been solved and you're just running into a runtime issue now it makes sense to only have one open issue. I'll also follow up on why 3145 is not currently assigned to anyone.

[2019-02-15 00:14] #2591 closed

[2019-02-15 01:23] Edward-Zhou commented on #2938
@dasetser This is still a open issue.

[2019-02-15 02:02] xiedongweo commented on #3220
@dasetser  Could you tell me the bug number? Then, I can attach the bug number on my thread when I post the question on https://developercommunity.visualstudio.com/.

[2019-02-15 06:45] bboxstart commented on #3381
@dasetser I was not using visual studio, but visual studio code and added the package using the dotnet cli.

[2019-02-15 18:38] dasetser commented on #3220
The internal bug number is 793124. If you include that in your feedback item they should be able to find it.

[2019-02-15 18:50] dasetser commented on #3381
@bboxstart In that case you are not hitting the problem described in this issue (which is specific to a tool in Visual Studio). It sounds like you were indeed having the same problem as #3179, which is just the way the DotNetCliToolReference is designed. There's an issue at https://github.com/NuGet/Home/issues/4190 asking for them to improve this. For dotnet-svcutil specifically, this will be bett

[2019-02-15 19:17] dasetser commented on #2938
@Edward-Zhou The WCFCoreApp project included in your repro wasn't running correctly for me for some reason. However, I tried creating a .NET Core console app and copying the code of your WCFClient project. It didn't work at first, but modifying the main method slightly made it work as expected:
[code]

I would expect this approach should work the same way in a .NET Core Console app and your ASP.NE

[2019-02-16 00:40] Lxiamail commented on #3344
@edavedian It's great to know the problem is resolved.

[2019-02-16 00:40] #3344 closed

[2019-02-16 01:15] #3009 closed

[2019-02-16 01:15] #3008 closed

[2019-02-16 01:16] #2894 closed

[2019-02-18 12:25] naveen4854 commented on #1810
Any update on the Mtom support?

[2019-02-18 21:37] lmcarreiro commented on #8
@Amikumar I used this workaround:

[code]

[2019-02-18 21:38] lmcarreiro commented on #3150
I used a similar workaround as described here: https://github.com/dotnet/wcf/issues/8#issuecomment-464888793

[2019-02-19 12:37] atifalibhatti opened #3391 "Unable to generate deps.json, it may have been already generated. You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program Files\dotnet\sdk\2.2.104\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\GenerateDeps.proj"
I get following errors using

dotnet svcutil http://localhost:8092/AuthenticationService.svc?wsdl --Verbosity debug > out.log

dotnet : Unable to generate deps.json, it may have been already generated.  You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program
Files\dotnet\sdk\2.2.104\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\Gene

[2019-02-19 12:45] atifalibhatti commented on #3391
Microsoft WCF Web Service Reference Prodiver has following output.
![untitled123](https://user-images.githubusercontent.com/20585472/53015975-3282f180-346e-11e9-8892-b2c6d4dacbd5.png)

[2019-02-19 12:46] atifalibhatti commented on #3391
Event dotnet svcutil --help has the same error.

[2019-02-19 13:16] atifalibhatti commented on #3225
I am facing the same issue.

[2019-02-19 17:04] rstraszewski commented on #3384
I had similiar problem, when I had contract with contract behavior as attribute. When I configured behavior in code (on channel factory), the problem was gone.

[2019-02-20 07:00] sonerguven commented on #3390
Why did you transferred the issue to wcf @karelz ? The problem is about support in .net core not wcf. As I told you .net framework has already supported meta data exchange. I want to ask simple question Does .net core support wsdlimporter on runtime?

[2019-02-20 17:31] nero120 commented on #2349
@zhenlan I'm confused by this. I'm developing an Azure Function (v2) app in dot net core 2.1 which uses System.ServiceModel.Http 4.5.3 (using System.Private.ServiceModel 4.5.3 in turn). My local RID is `win10-x64` and I am not specifying any other RuntimeIdentifier in my csproj file, and I get a similar error to the above:

[code]

Looking in the `bin\Debug` folder, the referenced assemblies are i

[2019-02-20 21:18] Lxiamail commented on #3384
@rstraszewski Can you share a simple repro?

[2019-02-20 21:23] Lxiamail commented on #3335
Closing the issue for now. @bilalmalik777 Please feel free to reactivate the issue with additional information that Daniel suggested if you still need help.

[2019-02-20 21:23] #3335 closed

[2019-02-20 22:35] Lxiamail commented on #3390
@sonerguven WSDLImporter is not supported in .NET Core.

[2019-02-20 22:41] Lxiamail commented on #3389
@Gulcitai It's hard to think of what's problem without a process dump.

[2019-02-20 22:42] breddynet commented on #2349
I am also facing the same issue, Is there any workaround for this?

[2019-02-20 22:56] #3048 closed

[2019-02-20 22:57] breddynet commented on #2349
Workaround add this to your build process

 <Target Name="BuildProces" BeforeTargets="Build">
    <Copy SourceFiles="$(USERPROFILE)\.nuget\packages\system.private.servicemodel\4.5.3\runtimes\win\lib\netstandard2.0\System.Private.ServiceModel.dll" DestinationFolder="$(OutputPath)\bin" />
  </Target>

[2019-02-20 22:59] Lxiamail commented on #2935
@mconnew Can you look into if there is any work around?

[2019-02-21 10:46] SuperJMN commented on #1784
It should be dead.

[2019-02-21 12:26] MartPed opened #3392 "Svcutil not generating all classes"
I have been provided with an .wsdl file and a set .xsd files to create proxy classes for interacting with an external service. Using svcutil i do not get all the classes corresponding to the defined types in the .xsd files. For example some xml on the form:
[code]
Generates the code:
[code]
But it should generate:
[code]
Other wise the xml returned by the external service will not deserialize corr

[2019-02-21 13:49] Ramin2c commented on #3378
@dasetser Yes, that sounds good!

[2019-02-21 14:03] balduinoman commented on #31
any updates?

[2019-02-21 16:58] Lxiamail commented on #31
@balduinoman no, we won't be able to make progress in near term.

[2019-02-21 18:07] dasetser commented on #3391
@atifalibhatti Thanks for reporting this. Do you have any custom nuget.config on your machine? Can you provide the output of running the tool with the "-d" parameter (e.g. `dotnet svcutil -d --help`) so we can check if it's similar to the other report in #3225?

In that issue it looked like a problem with nuget restore failing, but I'm not sure why that would fail unless you had some kind of speci

[2019-02-21 20:23] StephenBonikowsky commented on #3373
Hi @mtycholaz we are going through significant updates to our build infrastructure, so I apologize for the out-of-date status of many of the .md docs.

If you were to check out the WCF repo (here is an [example ](https://github.com/dotnet/corefx/wiki/Checking-out-the-code-repository)for corefx repo that would also work for the WCF repo)
You could then run the following commands, the 'build.cmd' co

[2019-02-21 21:29] atifalibhatti commented on #3391
Thank you for your response.
1. There is no custom nuget.config
2. Following is the output of the dotnet -d svcutil --help:
![image](https://user-images.githubusercontent.com/20585472/53202943-9ad9fa80-3649-11e9-80e8-b9dc63cdbe15.png)

[2019-02-21 21:31] atifalibhatti commented on #3391
3.Output of dotnet svcutil -d --help
![image](https://user-images.githubusercontent.com/20585472/53203090-015f1880-364a-11e9-8a20-f5f9edba3114.png)

[2019-02-21 21:55] dasetser commented on #3391
You're right that I meant dotnet -d svcutil. Thanks for including that output as well.

Does your %temp% directory have a semicolon in the name? It looks like it's trying to set ProjectDepsFilePath to %localappdata%\Temp;\tmp35D9.tmp. The msbuild parameter parsing logic thinks the semicolon is a separator character, and so it tries to use "\tmp35D9.tmp" as a standalone parameter, and fails.

I wou

[2019-02-21 22:00] atifalibhatti commented on #3391
You Rock!
That is it. I wish I could get more details or some option to have a detailed output using Microsoft WCF Connected Service provider tool. For some strange reason, my temp paths had semicolons which where causing the problem. Got rid of them and bingoo! Thanks a bunch again. That solves it.

[2019-02-21 22:32] Lxiamail commented on #3140
This issue is for tracking auto upload symbols for daily build, which doesn't have to be 3.0 goal.

[2019-02-22 04:42] karelz commented on #3390
@sonerguven wsdlimporter is part of WCF.

[2019-02-22 08:36] rstraszewski commented on #3384
@Lxiamail
https://github.com/rstraszewski/WcfCoreTestClient/blob/master/WcfCoreTestClient/Program.cs

It would be great, if it also worked for attributes - in our company, most of behaviors is set this way. It would make migration to .net core much easier.

[2019-02-22 15:04] nero120 commented on #2349
Thanks @breddynet.

@zhenlan @StephenBonikowsky some clarification here would be appreciated, why would the latest version not be included in a build on win10-x64 under dotnet 2.1.503?

[2019-02-22 17:45] StephenBonikowsky commented on #2349
@nero120 I'll look into this today.

[2019-02-22 19:48] dasetser commented on #3071
This is done as part of the dotnet-svcutil 2.0.0 release.

[2019-02-22 19:48] #3071 closed

[2019-02-22 19:57] dasetser commented on #3253
We found a bug in our logic when selecting types to reuse that was causing this scenario not to work. We've included the fix for it in dotnet-svcutil 2.0. Closing this issue, but feel free to comment if you still have trouble with types not being reused in the latest version.

[2019-02-22 19:57] #3253 closed

[2019-02-22 19:59] dasetser commented on #3160
dotnet-svcutil 2.0 added the --outputFile option to specify this.

[2019-02-22 19:59] #3160 closed

[2019-02-22 22:40] StephenBonikowsky commented on #2349
Hi @nero120 while this is an RID issue it isn't with our WCF packages. We do the correct thing based on the .NET Core supported RID's [runtime.json](https://github.com/dotnet/corefx/blob/master/pkg/Microsoft.NETCore.Platforms/runtime.json) file.

The issue is with the Azure Function app, there is an active issue with lots of details regarding this issue.

https://github.com/Azure/azure-functions-h

[2019-02-22 23:12] nero120 commented on #2349
Aha! Thank you very much for looking into this @StephenBonikowsky, I've subscribed to the issue you linked to.

[2019-02-24 03:15] jjanuszkiewicz commented on #3253
@dasetser That's great to hear, I'll give it a try. Do you know if VS2019 will use the 2.0 version when generating the service reference via GUI?

[2019-02-25 10:14] mengfankitty opened #3394 "[dotnet-svcutil] support --includeOperation option to generate proxy code that only include needed"
For example, there is a web service that has 300 operations, but we only use 2 operations, so I want to use the dotnet-svcutil to generate proxy code only include these 2 operations.

[2019-02-25 16:35] PedroS11 opened #3395 "Unable to set a proxy address on BasicHttpBinding"
My system works behind a company proxy, so for each request I need to set the proxy address on the BasicHttpBinding.

However, it doesn't work and if I test on a scenario where proxy isn't required, it works.

Here is the binding creation.

[code]

I'm using dotnet core 2.2, any idea that you can give me?

[2019-02-25 18:17] dasetser commented on #3253
VS2019 uses a preview version of dotnet-svcuil 2.0 that does not include this bug fix. We'll try to get this updated when we can, but it's likely to be in an update after GA.

[2019-02-25 18:47] StephenBonikowsky opened #3396 "Darc - Setup Dependency Flow - Prerequisites"
https://github.com/dotnet/arcade/blob/master/Documentation/DependencyFlowOnboarding.md#prerequisites

[2019-02-25 18:48] StephenBonikowsky opened #3397 "[arcade] Darc - Setup Dependency Flow - Publishing Dependencies"
We are not part of the .NetCore build process and we don't have another .NetCore repo depending on our build so our publishing need is just for pushing packages to MyGet and internal blob storage.

Not sure yet if the publishing to blob storage is packages or binaries, most likely this step needs to happen after packaging, at least for MyGet.

[DependencyFlowOnboarding.md](https://github.com/dotne

[2019-02-25 18:48] StephenBonikowsky commented on #3397
Can't be done until we can build something to publish.

[2019-02-25 18:48] StephenBonikowsky opened #3398 "Darc - Setup Dependency Flow - Consuming Dependencies"
https://github.com/dotnet/arcade/blob/master/Documentation/DependencyFlowOnboarding.md#consuming

[2019-02-25 18:53] StephenBonikowsky opened #3399 "Onboarding Azure DevOps"
- [x] For public CI builds and tests. (https://dev.azure.com/dnceng/public)

- [x] For internal CI and official builds. (https://dev.azure.com/dnceng/internal)

[2019-02-25 18:56] StephenBonikowsky commented on #3399
Onboarding doc...
https://github.com/dotnet/arcade/blob/master/Documentation/AzureDevOps/AzureDevOpsOnboarding.md

[2019-02-25 18:58] StephenBonikowsky commented on #3399
Completed...

public: https://dev.azure.com/dnceng/public/_build?definitionId=151
private: https://dev.azure.com/dnceng/internal/_build?definitionId=318

[2019-02-25 18:58] #3399 closed

[2019-02-25 18:59] StephenBonikowsky opened #3400 "[EPIC] On Boarding Arcade"
Move completely off of BuildTools and the VSTS BuildPipeline adopting ARCADE as the process for building, packaging, testing and releasing WCF Core packages and all related activities.

[2019-02-25 20:29] samlh commented on #3384
It would also be fine if we could disable the error message, and add the behavior manually, so that we could still use existing service definitions without having to make changes to the services.

[2019-02-25 21:10] StephenBonikowsky opened #3401 "[arcade] Product Build on Windows - TargetFramework: netstandard-windows"
On Windows OS, targeting netstandard for windows.
Build all 5 ServiceModel facades and the single implementation private assembly.
Verify that the produced binaries match the ones currently being produced.

- [x] System.ServiceModel.Duplex - binaries validated (binary diff)
- [x] System.ServiceModel.Http - binaries validated (binary diff)
- [x] System.ServiceModel.NetTcp - binaries validated (bina

[2019-02-25 21:13] StephenBonikowsky opened #3402 "[arcade] Packaging - Understand the Packages"
The WCF packages contain numerous items that we should understand and document.

- [x] Placeholder directories
- [x] "package" folder
- [x] "_rels" folder

** This task will also encapsulate meetings with .NetCore packaging experts to figure out how to actually build a package using the Arcade SDK and extending from the simple default packaging to the more complicated packaging required for WCF.

[2019-02-25 21:14] StephenBonikowsky opened #3403 "[arcade] Packaging - Harvest binaries for facade packages"
In our facade packages we harvest binaries from previous releases so as not to build them again.

- [x] System.ServiceModel.Duplex
   - lib/netcore50 & ref/netcore50
   - lib/netstandard1.3 (this not also being in ref seems strange, investigate)
   - ref/netstandard1.1
- [x] System.ServiceModel.Http
   - lib/netcore50 & ref/netcore50
   - lib/netstandard1.3 & ref/netstandard1.3
   - lib/net46 & re

[2019-02-25 21:15] StephenBonikowsky opened #3404 "[arcade] Product Build on Windows - TargetFramework: netstandard-netframework"
We don't build the implementation but we do build the facades.
They need to be included in the facade packages.

- [x] System.ServiceModel.Duplex
   - net461
- [x] System.ServiceModel.Http
   - net46
   - net461
- [x] System.ServiceModel.NetTcp
   - net46
   - net461
- [x] System.ServiceModel.Primitives
   - net46
   - net461
- [ ] System.ServiceModel.Security
   - no version in existing packages,

[2019-02-25 21:47] StephenBonikowsky commented on #3396
Completed.

[2019-02-25 21:47] #3396 closed

[2019-02-25 21:49] StephenBonikowsky commented on #3398
Have created a subscription using darc.exe to get auto-updates from https://github.com/dotnet/arcade to https://github.com/dotnet/wcf/tree/AdoptArcade

Need an update from Arcade in order to verify that the subscription works and a PR is opened in our repo/branch.

[2019-02-25 22:56] Lxiamail commented on #3394
@mengfankitty This request is tracked by https://github.com/dotnet/wcf/issues/3379

[2019-02-25 22:56] #3394 closed

[2019-02-26 00:34] rstraszewski commented on #3384
Yep, ignoring attributes, instead throwing exceptions also would be ok - it would make migration simpler.

[2019-02-26 10:56] GianlucaMaggio commented on #3247
I'm sorry to bore you but we are really in trouble. In production environment our customers are experiencing random system blocking when stressing the system with multiple requests. During the blocking period (which lasts about 5 minutes) server CPU is not used but the no request is served anymore. We are so in trouble that we are thinking to abandon .net core in favor of .net standard but, for me

[2019-02-26 13:43] GianlucaMaggio commented on #3247
Sorry, With .net standard I mean .net full framework (4.7.2).

[2019-02-26 20:18] KKhurin commented on #3247
@GianlucaMaggio, 5 minute long blocking periods are not related to jitting .NET core code. Jitting would take 800ms on average and will happen only once per process.

Is this Windows or Linux? Did you use the exact same app on full framework?

Do you believe its the client code that stops sending the requests or the server part that stops sending the responses? Do you see any errors or exceptions

[2019-02-26 23:07] StephenBonikowsky commented on #3247
@GianlucaMaggio do follow @KKhurin 's guidance, your problem does not appear to be related to whether our assemblies are crossgened or not.

Regarding crossgening, we have not yet decided if it is something we will do since we would have to do it for each platform, architecture and distro which would mean we have to create new packages or greatly increase the size of our existing packages.

[2019-02-27 08:35] GianlucaMaggio commented on #3247
@StephenBonikowsky, yes you are right. Like @KKhurin said 5 minutes blocking is another story. By setting up the serviceThrottling in this way:

<serviceThrottling maxConcurrentCalls="192"
                   maxConcurrentInstances="192"
                   maxConcurrentSessions="1200" />

seems the problem disappear.

Anyway, the jitting problem (initial delay) is still annoying. Please consider ot

[2019-02-27 17:52] davidglassborow commented on #3253
@dasetser I'm having some issues, and want to debug what is going on, but can't find the source in this repository ?  ( I can see the dotnet-svcutil.xmlserializer src )

[2019-02-27 18:39] dasetser commented on #3253
@davidglassborow The dotnet-svcutil tool is not open source. Can you create a simple project that we can reproduce the problem internally with?

[2019-02-27 18:50] justinhelgerson opened #3405 "Could not establish trust relationship for the SSL/TLS secure channel with authority"
I'm trying to use a WCF service (not my usual thing) from a .NET Core application.
 The service has a self signed certificate.  I generated the client from a `wsdl` file and I'm constructing the client like so:

    BasicHttpsBinding binding = new BasicHttpsBinding(BasicHttpsSecurityMode.Transport);
    binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.None;
    var endpoi

[2019-02-27 22:23] Lxiamail commented on #3393
@gopi247  does the client code work using add service reference on Desktop .NET Framework project?

[2019-02-27 22:25] #3391 closed

[2019-02-27 22:27] #3390 closed

[2019-02-27 22:32] Lxiamail commented on #3373
@mtycholaz Hope your issue has been resolved.

[2019-02-27 22:32] #3373 closed

[2019-02-28 15:07] #3405 closed

[2019-02-28 15:08] justinhelgerson commented on #3405
Sorry, this turned out to be a service port issue.  The workarounds you've provided in other issues should work just fine for us.

[2019-02-28 15:14] davidglassborow commented on #3253
Trouble is the WSDL documents I'm having problems with are under NDA from a third party.  Is there any likely hood of it being open sourced at some point ?  Or any way I can turn on more robust logging ?

[2019-02-28 17:31] csturm83 opened #3408 "BasicHttpBinding ReaderQotas.MaxStringContentLength Question"
I have compiled a WCF client into a .NET Standard 2.0 assembly (using Add Connected Service in VS2017 15.9.7). When I reference the assembly from a .NET Framework 4.7 Console application and call one of the service methods, it fails to deserialize the message body due to MaxStringContentLength being too low, and throws an exception (which seems correct).

Referencing the same assembly from a netco

[2019-02-28 18:48] dasetser commented on #3253
@davidglassborow We do not have any plans to open source it at this time. Are you having trouble getting the tool to reuse types, similar to the problem described in this issue? Can you provide more information about the types? The bug we fixed for this was in how we detected that the type was serializable (we weren't checking for the DataContractAttribute correctly). If you can tell me what attri

[2019-02-28 22:32] dasetser commented on #3392
Hi @MartPed. If you're failing to deserialize the response then the wsdl/xsd files you have don't match what the service is actually sending.

The XML for a ValidationReply that matches the xsd snipped you posted would look something like this:
[code]
The ValidationReply element has an element named "data" inside of it. The data element is of type ValidationReplyData, which is defined as a sequenc

[2019-02-28 23:14] Lxiamail commented on #8
@mconnew Can you move out the SecurityModel Message support work item to future milestone since it ais blocked by MessageSecurity not available on .NET Core.

[2019-02-28 23:57] StephenBonikowsky commented on #3398
Running the following command confirmed that it is setup correctly.
`darc update-dependencies -c ".NET Tools - Latest"`

[2019-02-28 23:58] #3398 closed

[2019-03-01 00:13] StephenBonikowsky opened #3410 "[arcade] Product Build on Windows - TargetFramework: netstandard-unix"
On Windows OS, targeting netstandard for unix.
Build all 5 ServiceModel facades and the single implementation private assembly.
Verify that the produced binaries match the ones currently being produced.

- [x] System.ServiceModel.Duplex - binaries validated
- [x] System.ServiceModel.Http - binaries validated
- [x] System.ServiceModel.NetTcp - binaries validated
- [x] System.ServiceModel.Primitives

[2019-03-01 00:15] StephenBonikowsky opened #3411 "[arcade] Product Build on Windows - TargetFramework: uap-windows"
On Windows OS, targeting uap for windows.
Build all 5 ServiceModel facades and the single implementation private assembly.
Verify that the produced binaries match the ones currently being produced.

- [x] System.ServiceModel.Duplex - binaries validated
- [x] System.ServiceModel.Http - binaries validated
- [x] System.ServiceModel.NetTcp - binaries validated
- [x] System.ServiceModel.Primitives - bi

[2019-03-01 00:22] StephenBonikowsky opened #3412 "[arcade] Product Build - On Linux OS - TargetFramework: netstandard-unix"
While we produce packages using binaries built on Windows we should also verify that everything builds fine on a Linux machine.
This task is lower priority and can be done after tests are up and running.

- [x] System.ServiceModel.Duplex - binaries validated & tests run.
- [x] System.ServiceModel.Http - binaries validated & tests run.
- [x] System.ServiceModel.NetTcp - binaries validated & tests r

[2019-03-01 00:24] StephenBonikowsky opened #3413 "[arcade] Product Build - On OSX - TargetFramework: netstandard-unix"
While we produce packages using binaries built on Windows we should also verify that everything builds fine on an OSX machine.
This task is lower priority and can be done after tests are up and running.

- [ ] System.ServiceModel.Duplex - binaries validated & tests run.
- [ ] System.ServiceModel.Http - binaries validated & tests run.
- [ ] System.ServiceModel.NetTcp - binaries validated & tests ru

[2019-03-01 01:48] StephenBonikowsky opened #3414 "[arcade] Packaging - Package current release binaries in facade packages."
For a release we include in our facade packages latest binaries for 3 target frameworks.

- [x] System.ServiceModel.Duplex
- [x] System.ServiceModel.Http
- [x] System.ServiceModel.NetTcp
- [x] System.ServiceModel.Primitives
- [x] System.ServiceModel.Security

[2019-03-01 01:55] StephenBonikowsky opened #3415 "[arcade] Packaging - Package implementation runtimes"
Implementation package is: System.Private.ServiceModel

- [x] Harvesting
   - runtimes/unix/lib/netstandard1.3
   - runtimes/win/lib/netstandard1.3
   - runtimes/win/lib/netcore50

- [x] Release runtimes
   - runtimes/unix/lib/netstandard*.*
   - runtimes/win/lib/netstandard*.*
   - runtimes/win/lib/uap*.*

[2019-03-01 02:05] StephenBonikowsky opened #3416 "[arcade] Packaging - Package ServiceModel shim in facade packages"
In order for an application built on netfx (desktop) to run on WcfCore we need to provide a "System.ServiceModel.dll" shim that type forwards to the proper WcfCore assemblies.

This shim only needs to be included in the System.Primitives.ServiceModel package in the same directory as the latest netstandard and latest uap facade assemblies.

We will no need the uap variation in our new packages. We

[2019-03-01 02:07] StephenBonikowsky opened #3417 "[arcade] Signing"
Once all packages are being created correctly send them to the Arcade for signing.

- [x] Use correct key & verify.

[2019-03-01 02:17] StephenBonikowsky opened #3418 "[arcade] Test - Build and run in Helix - TargetFramework: netstandard-windows"
Build all tests.
Initially on Win10 and then on all other supported Windows platforms.

- [x] Scenarios Tests
- [x] Unit Tests
- [x] Verify results on Mission Control

** Within this task is included all the initial efforts to wire up Mission Control and deal with any number of expected issues sending test binaries to Helix from the ADO build definitions.

[2019-03-01 02:20] StephenBonikowsky opened #3419 "[arcade] Test - Build and run in Helix - TargetFramework: netstandard-unix (Linux)"
Build all tests.
Initially at least on one Linux flavor and then all supported platforms.
Depends On: wcf #3412

- [x] Scenarios Tests
- [x] Unit Tests
- [x] Verify results on Mission Control

[2019-03-01 02:30] StephenBonikowsky opened #3420 "[arcade] Test - Build and run in Helix - TargetFramework: netstandard-unix (OSX)"
Build all tests.
Initially at least on one OSX flavor and then all supported Mac OSes.
Depends On: wcf #3413

- [x] Scenarios Tests
- [x] Unit Tests
- [x] Verify results on Mission Control

[2019-03-01 02:31] StephenBonikowsky opened #3421 "[arcade] Test - Build and run in Helix - TargetFramework: uap-windows"
Build all tests.
Initially on Win10 and then on all other supported Windows platforms.
Depends On: wcf #3411

- [ ] Scenarios Tests
- [ ] Unit Tests
- [ ] Verify results on Mission Control

[2019-03-01 02:32] StephenBonikowsky opened #3422 "[arcade] Test - Build and run in Helix - TargetFramework: uapaot-windows"
Build all tests.
Initially on Win10 and then on all other supported Windows platforms.
Depends On: wcf #3411

- [ ] Scenarios Tests
- [ ] Unit Tests
- [ ] Verify results on Mission Control

[2019-03-01 02:35] StephenBonikowsky opened #3423 "[arcade] Test - Build and run in Helix - TargetFramework: netstandard-netframework"
Build all tests.
Initially on Win10 and then on all other supported Windows platforms.
Depends On: wcf #3404

- [ ] Scenarios Tests
- [ ] Unit Tests
- [ ] Verify results on Mission Control

[2019-03-01 08:47] daver77 commented on #2433
@mconnew strange thing with the above. It's a Web API (.NET Core 2.1.5) which calls a legacy Java SOAP web service using kerberos.

We deployed to a few web servers and 1 did not work, a 500 when calling the SOAP WS (The sever returned an invalid or unrecognized response). We compared the servers and the only thing we could find different was the one's that worked had .NET Core 2.1.7 installed. We

[2019-03-01 16:49] Lxiamail commented on #3019
@IGx89 Can you share the repro program?

[2019-03-01 16:59] StephenBonikowsky commented on #3333
This is a bug that needs investigation.

[2019-03-01 17:44] StephenBonikowsky commented on #3266
@patrikrazem sync.sh calls run.sh which in turn calls [init-tools.sh](https://github.com/dotnet/wcf/blob/master/run.sh#L11
)

You can run init-tools.sh directly, it should create a 'tools' directory into which it downloads a bunch of things needed for the build. One of these is 'dotnet.exe' which should be under '/tools/dotnetcli/' if it succeeds which it doesn't in your case.

The script attempts

[2019-03-01 17:47] StephenBonikowsky commented on #3382
Created an Epic for this instead,.
wcf #3400

[2019-03-01 17:47] #3382 closed

[2019-03-01 17:52] StephenBonikowsky commented on #3306
We are moving our build infrastructure to Arcade, this issue should get resolved as part of that move.
wcf #3400

[2019-03-01 17:53] StephenBonikowsky commented on #3307
We are moving our build infrastructure to Arcade, this issue should get resolved as part of that move.
wcf #3400

[2019-03-01 17:54] StephenBonikowsky commented on #3305
We are moving our build infrastructure to Arcade, this issue should get resolved as part of that move.
wcf #3400

[2019-03-01 17:56] StephenBonikowsky commented on #3110
Just need to spend some time investigating the difference between running this locally versus on VSTS.

[2019-03-01 17:57] davidglassborow commented on #3253
Not sure what the problem is at this stage, thanks for the info on debugging.
Out of interest, given core and dotnet/wcf are all open source, whats the thinking in this tool not being ?

[2019-03-01 17:58] StephenBonikowsky commented on #2873
Pushing to post 3.0 due to higher priority issues.

[2019-03-01 18:00] StephenBonikowsky commented on #2185
This will be done as part of our move to Arcade.
wcf #3400

[2019-03-01 18:00] #2185 closed

[2019-03-01 18:02] StephenBonikowsky commented on #2181
Moving the build and test infrastructure to Arcade.
Will fix/resolve this issue as part of wcf #3422

[2019-03-01 18:06] StephenBonikowsky commented on #1886
This will be fixed/resolved as part of our move to Arcade.
Specifically by wcf #3413

[2019-03-01 18:13] StephenBonikowsky commented on #1729
Our S.P.SM package now includes separate assemblies for netcore50 and uap.

For netcore50 we currently harvest assembly version 4.1.1.1
For UAP it is the latest netstandard version (currently ns2.0)

[2019-03-01 18:13] #1729 closed

[2019-03-01 18:16] StephenBonikowsky commented on #2290
As part of our move to Arcade the OSX test builds and runs should be resolved and we can then verify this now works.
Specifically wcf #3420

[2019-03-01 18:47] rstraszewski commented on #3384
@Lxiamail
Any plans regarding support of attribute based behaviors?

[2019-03-01 19:19] mconnew commented on #3110
Maybe we can fix this by changing it to a runtime check instead of if-def'ing it. We have no difference in what classes are available to us so there's no reason this couldn't be a runtime check.

[2019-03-01 19:21] mconnew commented on #2433
There were a few bugs around usage of the Expect header in SocketsHttpHandler which took a while to fix correctly. The bugs specifically affected non-WCF servers which did unusual (but still valid) things around the 100 response code. I suspect you were hitting one of those issues.

[2019-03-01 19:29] StephenBonikowsky commented on #3110
That's an option but it may have uncovered a test infra issue where the uap test run is using the wrong s.p.sm assembly, which would be a bad thing.

[2019-03-01 20:15] mconnew commented on #1257
Linking to parent issue #8 as this is one scenario of TransportSecurityWithMessageCredential

[2019-03-01 20:23] mconnew opened #3424 "Support security mode Message"
Splitting issue #8 into two. This issue will be for full Message security including signing and encrypting as the SOAP message level.

[2019-03-01 20:24] mconnew commented on #8
This issue has been changed to only be for tracking the security mode TransportWithMessageCredential. Full Message security will be tracked in issue #3424.

[2019-03-01 20:29] mconnew commented on #8
As anything related to message security has so many options and flavors that to bring everything over will be too much work (as some re-writing is needed) to do all at once so the approach I'll be taking will be scenario based. Initially I will be implementing UserName (see #1257) and X509Certificate credential tokens.

[2019-03-01 21:57] Lxiamail commented on #3408
@csturm83 We don't expect any behavior difference between .NET Framework and .NET Core. Can you provide the call stack of the exception that you run the program on .NET Framework? If you happen to have a simple repro, it would be helpful to share with us.

[2019-03-01 22:04] Lxiamail commented on #3395
@PedroS11 which version of WCF package that you are using. Can you make sure using latest version (4.5 above) since we have fixed an related issue since then.

[2019-03-01 22:25] Lxiamail commented on #3384
@rstraszewski Hope we can support it in the next release.

[2019-03-01 22:41] Lxiamail commented on #3193
Looks like PropertyChangedEventHandler is not used in WSDL. It may be a bug in WCF Core code. It maybe either connectedservice shouldn't generate PropertyChangedEventHandler (or set serialization to ignore the type) or the type is not ignored as expected as runtime.

[2019-03-01 22:48] mconnew commented on #2805
You didn't quite provide the information needed from the Connected Service output. The binding is done in code and not config file with Connected Services. The problem is caused by the service identity not being correctly set on the ChannelFactory. From your existing config the relevant section is:
[code]
The error message in the exception is basically saying that the security token you got from t

[2019-03-01 23:46] IGx89 commented on #3019
@Lxiamail Sure, easy enough to do! I've created one here, using a random SOAP service I found on Google: https://github.com/IGx89/OpeningExceptionExample

[2019-03-04 11:39] peterdeme opened #3427 "CommunicationException: Unknown error -1"
Hi Team,

We have a huge scaling issue and can't seem to find the root cause and we need help. Details:
Environment: .NET Standard 2
Libs: System.ServiceModel.Http 4.5.3, System.ServiceModel.Primitives 4.5.3.
Class definition: CyberSource's SOAP Client - https://ics2wsa.ic3.com/commerce/1.x/transactionProcessor/
Hosting environment: Docker `microsoft/dotnet:2.2.1-aspnetcore-runtime` on EC2 machine

[2019-03-04 15:39] naojamg commented on #2805
I'm having the same issue with an AIF Dynamics Service only in .net core, do you know how to set in code the userPrincipalName? or the needed service indentity on the channel factory as you mentioned? Thanks :)

[2019-03-04 17:25] wfurt commented on #3427
check TCP connection assigning something like netstat. If endpoint are limited, (for example you talk to single server) there is possibility for TCP port exhaustion. https://www.cyberciti.biz/tips/linux-increase-outgoing-network-sockets-range.html

Is your scenario using persistent connections or do you use new TCP for every request?

If this is some kind of perf setup you may want to tune some ot

[2019-03-04 18:21] dasetser commented on #3253
@davidglassborow Please open a new issue if you need further help with your problem, as it sounds like it's not related to this issue so we should track it separately.

As far as open sourcing the tool, we have issue #3191 open to consider it doing it at some point. It's something we've thought about doing but it has been a lower priority than other work.

[2019-03-04 19:00] #2711 closed

[2019-03-04 19:59] Lxiamail commented on #2530
Thank you for the feedback, but our team was unable to prioritize it at this time as they are working on problems with broader customer impact. Please comment below if you have additional data or details that will help us appropriately reprioritize this issue.

[2019-03-04 19:59] #2530 closed

[2019-03-04 20:02] Lxiamail commented on #2511
Thank you for the feedback, but our team was unable to prioritize it at this time as they are working on problems with broader customer impact. Please comment below if you have additional data or details that will help us appropriately reprioritize this issue.

[2019-03-04 20:02] #2511 closed

[2019-03-04 21:59] Lxiamail commented on #3019
@IGx89  Looks like a bug in WCF Core product. We appreciate you taking the time to report this problem. We are currently prioritizing problems that are impacting a broad set of our customers, so we may not be able to investigate this one immediately, but we will continue to monitor it.

[2019-03-05 03:36] csturm83 commented on #3408
Call Stack:
[code]
I came across this behavior consuming a legacy service that has an excessive amount of white space in its responses. I believe the discrepancy can be attributed to ***leading*** white space, as the exception is thrown as expected on .NET Core when the response is padded with white space on the right instead of the left.

[Repro here](https://github.com/csturm83/wcf-repro).

####

[2019-03-05 09:20] skyflyer commented on #2999
Would it be possible to fix this bug anytime soon? Since it is a very trivial fix and we'd like to avoid using our own custom build. The patch for the fix is below.

[code]

[2019-03-05 10:45] peterdeme commented on #3427
Thank you @wfurt! We'll investigate this aspect.

[2019-03-05 10:45] #3427 closed

[2019-03-05 16:34] Lxiamail commented on #3408
@csturm83 Thank you so much for the detailed repro information. We will look into it.

[2019-03-05 19:21] lefrac01 opened #3432 "[dotnet-svcutil] Error: Method 'Log' ... does not have an implementation"
I run the tool from the project folder of an existing netstandard2.0 project against a running service url:
dotnet-svcutil http://localhost/xyz/xyz.svc

No files are generated.  This error message is reported:
**Error: Method 'Log' in type 'Microsoft.Tools.ServiceModel.Svcutil.DebugLogger' from assembly 'dotnet-svcutil-lib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' does no

[2019-03-05 19:33] lefrac01 commented on #3432
from a new project created using "dotnet new classlib", the same command succeeds

[2019-03-06 12:18] s4lvo commented on #3226
Hello,
I have the same problem, but in my case the binding name on wsdl is a simple string without encoded chars.

Attached the wsdl and the Reference.cs
[ServiceReferenceTS.zip](https://github.com/dotnet/wcf/files/2936149/ServiceReferenceTS.zip)

[2019-03-06 23:23] dasetser commented on #3432
@lefrac01 Thanks for reporting this. Does your project have a dependency (directly or indirectly) on the NuGet.Common package? This looks like a dependency conflict happening and it's ending up using a newer version of this package which exposes a bug in our tool.

If so, I think you should be able to avoid the bug by passing the ` --noTypeReuse` parameter. Your proxy won't reuse any types this wa

[2019-03-07 00:11] StephenBonikowsky commented on #3110
Confirmed that the tests are now running and passing nightly on the uap runs.

[2019-03-07 00:11] #3110 closed

[2019-03-07 08:58] CurlyBraceTT commented on #2804
@dasetser Did you fix the issue, or just closed it by timeout?

Facing kind of the same issue, I think order is being added when the field marked as "required" on server side. And it works if I manually remove `order` parameter from the `DataMemberAttribute`.

WSDL schema: (Don't know what is relevant - so I am gonna provide the full one.
[code]

[2019-03-07 20:14] StephenBonikowsky commented on #3401
Additional validation will occur as I add the test projects and once we have packages getting created.

[2019-03-07 20:14] #3401 closed

[2019-03-07 21:17] dasetser commented on #2804
@CurlyBraceTT This was closed due to lack of details, so we weren't able to find what the bug was. Thanks for supplying a wsdl. Can you describe what the problem is you're hitting? Looking at the wsdl I'm guessing the problem is with the order of properties in your TestData type. When you use the client generated by the tool to call the server does the call fail due to the order being different?

[2019-03-08 06:45] patrikrazem commented on #3266
@StephenBonikowsky Well, as far as I can tell `init-tools.sh` is contained *inside* the `Tools` directory, so I don't see how it could create it.

But I don't think that's the problem. I can see that `dotnet` has been downloaded and is present in `/tools/dotnetcli/`. I can run the binary `/tools/dotnetcli/dotnet` and it runs normally, displaying the usual usage help.

But the `chmod` command that

[2019-03-08 07:49] nishantkagrawal commented on #2804
I guess it is related to #3228

[2019-03-08 18:39] wfurt commented on #3266
I think that is problem with restoring packages. With /p:SkipTests=true runtime for tests will not be restored and the chmod than fails.

[2019-03-08 19:37] lefrac01 commented on #3432
Thanks for the reply.  Yes, NuGet.Common is a dependency.

I imported the files generated using the blank project and it worked fine.  The tool works now with or without --noTypeReuse in the problem project so I can't help confirm that as a workaround.

I'm not sure what change got rid of the issue.  The csproj has a new reference to ServiceModel.  Some nuget dependencies were converted from net46

[2019-03-08 19:37] #3432 closed

[2019-03-08 20:11] jmiddour opened #3437 "WCF package on .Net Core 3 is incorrectly configured for self contained"
I tried to convert one of our desktop applications to .net Core 3.
This application made a simple WCF call.  The conversion compiled and runs correctly as a framework dependent app.  However, when self-contained, it crashes at startup due to missing System.Private.ServiceModel.dll.

We chose self-contained in order to build an MSIX package.  We worked around the issue by publishing with the win7-x

[2019-03-08 21:33] Lxiamail commented on #3437
@jmiddour Thank you for reporting the issue. Which version of WCF nuget package that you used?

[2019-03-09 00:34] chrisengelsma commented on #1810
Also wondering this, the MTOM support is the only thing still keeping me on .NET framework

[2019-03-09 13:20] easyest commented on #3424
Core is unusable till there will be no way to consume WCF services. Therefor ASP.NET Core is unusable also. So stuck in 2019 with 2013 technology. GG.

[2019-03-10 15:29] CurlyBraceTT commented on #2804
@dasetser

https://drive.google.com/open?id=1Rt0xz-3ZFZ4WMKVmHadlG9Vi4pT5OdB5

At the end the question here is - Does sequence element need to force Order attribute for the client model or no. I don't see any benefits, however it might be right by design and be the exact implementation of the WSDL model so I don't know.

Right now Order appear only if fields are not in the alphabetical order. So t

[2019-03-10 20:27] rolandoldengarm opened #3439 "Can't consume a SOAP V11 web service"
I cannot call a SoapV11 web service on .NET Core 2.2, I have this binding:
[code]
However I keep getting this exception:

[code]
Tried different ways to configure my binding, but problem persists.

I did find a related bug https://github.com/dotnet/wcf/issues/2711 but that describes the reversed scenario, they cannot call a 1.2 web service, but are able to call a 1.1 version.

[2019-03-10 21:24] rolandoldengarm commented on #3439
Sorry, misread the error. Thought "endpoint is configured" means how I configure the endpoint, but it's how the actual WCF endpoint is configured.

[2019-03-10 21:24] #3439 closed

[2019-03-11 00:42] sumtec commented on #3155
Hi all,

I've tried adding `<DotNetCliToolReference Include="dotnet-svcutil" Version="1.0.*" /> in the csproj file under <ItemGroup>` and also run the `dotnet tool install --global dotnet-svcutil --version 2.0.0` in VS2017 Developer Command Line which was suggested by the official document.

However, none of them works. The log file under the folder "%localappdata%\Temp\WCFConnectedService\" looks

[2019-03-11 01:47] sumtec commented on #654
+1

Hi Microsoft members,

If you are going to "not support" the sync method, it will generate a lot of work the developers need to do themselves. This will make the time estimated for migrating to .net core almost the same as we migrate it to a different platform, say Java. As a CSharp lover, I am quite disappointed that when the decision of removing the support of the sync method was made, it wa

[2019-03-11 11:40] PedroS11 commented on #3395
I'm using 4.6
I just created the dotnet core api project, imported via connected services a wsdl.
When I call the wsdl with the classes generated it works, if i set a proxy it doesn't. Have you tested doing something like this?

[2019-03-11 15:07] jmiddour commented on #3437
We used Microsoft.Windows.Compatibility version 2.1.0-preview3.19128.7
which references System.ServiceModel.* version 4.4.1
and System.ServiceModel.Syndication version 4.6.0-preview3.19128.7

[2019-03-11 17:09] StephenBonikowsky commented on #3418
Moving to S150 as the work continues.

[2019-03-11 18:23] StephenBonikowsky commented on #3437
@jmiddour This issue was fixed with WCF Core packages 4.5.0 and above, the Microsoft.Windows.Compatibility package should get updated to use the 4.5.0 and above WCF Core packages, we will open an issue with them to get that fixed.

Thank you!

[2019-03-11 18:31] StephenBonikowsky commented on #3437
Opened dotnet/corefx#35961

[2019-03-11 23:32] dasetser commented on #2804
@CurlyBraceTT Thanks for providing the project and additional explanation. I understand the issue now. As you said, the question here is "Does sequence element need to force Order attribute for the client model or no". The answer to that is yes, we do need to force it. If we generate a client that sends information in a different order from what is defined in the wsdl we are breaking the contract,

[2019-03-12 01:05] sumtec commented on #3155
Hi all,

For anyone who faces the problem as I do, go to the %localappdata%\temp\WCFConnectedService\_lastDateTimeYouTriedImportWebServicesInVS2017_ and try this magic spell in the powershell:

$logcmd=(cat .\WCFConnectedServiceLog.txt | select-string 'dotnet "svcutil"').ToString().Trim()
$arr=$logcmd.SubString(1,$logcmd.Length-2) - split ' '
$part1 = $arr[0..($arr.Length-2)] -join ' '
$part2 = (c

[2019-03-12 01:10] sumtec commented on #3381
Hi all,

For anyone who faces the problem as I do, please first run this in cmd or powershell:
dotnet tools install --global dotnet-svcutil --version 2.0.0

And then, go to the folder %localappdata%\temp\WCFConnectedService_lastDateTimeYouTriedImportWebServicesInVS2017_ and try this magic spell in the powershell:

$logcmd=(cat .\WCFConnectedServiceLog.txt | select-string 'dotnet "svcutil"').ToStri