[2021-08-17 01:19] mconnew commented on #4435
I now have a fix locally which looks promising. I've been running it for about 5 minutes and still getting 1ms response times, and the memory usage isn't going up. I'm going to leave it running for a few hours and then make sure there's no memory leaks.

[2021-08-18 21:14] mconnew commented on #4435
@ssa3512, I've updated PR 4485 with my new implementation. I ran your repro over it and verified that the request timings remained consistent and that memory didn't grow. I also took memory dumps and validated that we're not holding on to any extra instances of objects I store in an AsyncLocal. If you are able, it would be useful to get extra validation that this causes your problem to go away in

[2021-08-19 00:21] ssa3512 commented on #4435
@mconnew I pulled your branch down and was able to build the nuget packages from it. I will work on integrating them tomorrow and will report back.

[2021-08-19 11:39] mibo32 commented on #4363
Any updates on this one ? or any  workarounds  ?

[2021-08-20 06:51] abakumov-v commented on #4597
@penenkel Hi!
Could you provide your custom `IEndpointBehavior` implementation?

[2021-08-20 07:18] penenkel commented on #4597
Hi, @abakumov-v , happy to help.

Here is the implementation of `IEndpointBehavior` I ended up with:
[code]

And then apply it where you create your WCF-client with
`client.Endpoint.EndpointBehaviors.Add(new HostHeaderEndpointBehavior("service.domain.com"));`.

Be aware that this sets the `host`-Header on every request without any further checks. This will probably fail or at least lead to unexpec

[2021-08-20 07:27] penenkel commented on #4597
Interesting, apparently the dotnet team is trying to mitigate the problem by making it configurable via an AppContext switch or an environment variable: dotnet/runtime#57159

The pull request ist marked with the 6.0 milestone, so if you are planning to to switch to NET 6.0 anytime soon you might want to consider that approach.

I'm not quite sure if this would work in my scenario as ist is obvious

[2021-08-20 21:24] mconnew commented on #4186
@pmiddleton, there are a few ways to solve this problem. I've just added support for caching the ChannelFactory that backs ClientBase\<TChannel\>. This will enable you to set the static property `MyClient.CacheSetting = CacheSetting.AlwaysOn` before you instantiate any instances and it will use a single `ChannelFactory` to back every instance you create. If you are okay with creating a new instanc

[2021-08-23 15:20] alavudeenb opened #4697 "[.Net 5]- Nuget package 4.8.1 and 4.9.0-preview dll does n't have Basic256SecurityAlgorithmSuite"
Basic256SecurityAlgorithmSuite is not available in 4.8.1 and 4.9.0-preview dll. can someone throw somelight on how to access this class in .Net 5 Framework ?

[2021-08-23 19:10] mconnew commented on #4697
Default should be there, and that's basically an alias for Basic256.

[2021-08-24 05:47] alavudeenb commented on #4697
Please find below screenshot, which is taken from ILSpy tool. both 4.8.1 and 4.9.0-preview doesn't have it

![image](https://user-images.githubusercontent.com/56952115/130562731-00ab1bad-9d5f-4182-afc5-d569975397d6.png)

![image](https://user-images.githubusercontent.com/56952115/130562816-9a9f841d-5066-44ed-97d1-04b1b541c1d1.png)

[2021-08-24 14:55] ssa3512 commented on #4435
@mconnew - I am having issues with strong name signing. Do you have instructions on how to build packages that are signed?

Could not load file or assembly 'System.ServiceModel.NetTcp, Version=4.9.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. Strong name signature could not be verified.  The assembly may have been tampered with, or it was delay signed but not f

[2021-08-24 17:54] mconnew commented on #4435
That error message is odd because .NET Core doesn't care about validating strong name signatures. I believe you still need a strong name signed binary to refer from another strong name signed binary and the public key needs to match, but you can skip the private signature and it shouldn't care. You should be able to delay sign the binaries and it will work. I'll do a bit of digging and see if we h

[2021-08-24 18:24] mconnew commented on #4435
@ssa3512, when you build at the command line, if you add the -sign parameter, it will delay sign the assembly. So something like this:
[code]
Let me know if that works for you.

[2021-08-29 21:09] ssa3512 commented on #4435
This has since been rolled out to our production environments and is working very well. We aren't seeing any of the odd cpu behavior from prior to the update.

[2021-08-29 23:25] InteXX opened #4701 "WSDiscovery - Source code for older .NET Framework assemblies"
Where can I find the source code for `System.ServiceModel.Discovery` and `System.ServiceModel.Internal`? I need to migrate these to a .NET Standard 2.0 package for my own internal use.

Even better would be a public package that's already migrated, but if the source is all that's available I'll settle for that.

[2021-08-31 00:19] mconnew commented on #4701
You can find most of the source code at https://github.com/microsoft/referencesource
If there's something missing please let us know and we can probably make it available. There's also https://referencesource.microsoft.com/ which helps with navigating around the code base. That's not a good place to copy code from as it's licensed under the Microsoft Reference Source license which is a look but do

[2021-08-31 00:25] mconnew commented on #4697
It's in the latest code base which will be released as part of RC1 in the coming weeks. See here:
https://github.com/dotnet/wcf/blob/main/src/System.ServiceModel.Security/ref/System.ServiceModel.Security.cs#L133-L135

But if you don't modify anything, the default value for SecurityBindingElement/TransportSecurityBindingElement is the Default value which is Basic256. Just don't set it explicitly an

[2021-08-31 01:28] InteXX commented on #4701
Thank you, I'll clone this tomorrow and attempt some builds.

I'll let you know how it goes.

[2021-09-01 00:41] InteXX commented on #4701
With 2,083 build errors between the two of them, I can see I've got my work cut out for me:

...and I'm not even all that handy with C#. I'll give it my best, of course, but it's going to be a while.

[2021-09-01 12:08] goncalo-oliveira commented on #2862
I'm having a similar issue when deploying to an Azure Web App (Linux). I have a web app that's referencing a library using Wcf, both .NET 5. The Wcf project includes the following package references

[code]
Both locally and running with a Docker image, everything works fine. But when deploying to an Azure Web App (Deployment Center, building from source), I get error

[code]

Any thoughts?

[2021-09-01 16:37] mconnew commented on #4701
Don't worry about internals, that has etw logging and tracing code. There compatible code for most of that in system.private.servicemodel. Anything starting Fx. Should be copyable from there. Anything TD.Xxxxxx is now WcfEventSource.Instance.Xxxxxxx. Just comment that stuff out initially and we can sort out getting the correct events available later.

[2021-09-01 18:12] #4680 closed

[2021-09-01 18:13] HongGit commented on #4680
Feel free to reactivate if there are more concerns.

[2021-09-01 20:15] InteXX commented on #4701
Well, that knocks us down to 2,010.

I had included `Internals` because of `Discovery`'s dependence on it. Do you mean to say that we'll be eliminating the dependency during this project?

It's been my understanding that a .NET Framework assembly can depend on a .NET Standard assembly, but not the other way 'round. Please correct me if I'm mistaken in this.

[2021-09-02 14:39] savornicesei opened #4705 "svcutil - Confusing message related to `--projectFile` option"
Hi all!
I think this qualifies as a (funny) bug.

**Describe the bug**
Confusing message related to `--projectFile` option when trying to update a WCF reference in a C# project.

**To Reproduce**
I'm trying to update a WCF reference in a C# SDK-style project targeting .NET 4.8.
[code]
And the message I get is the following:
[code]

**Expected behavior**
A clear message about which of the parameter

[2021-09-02 20:54] tapizquent opened #4706 "EndpointDispatcher and ClientRuntime"
Is there any alternative to accessing the `ClientRuntime` from `EndpointDispatcher`?

It seems that in .NET 5.0, `EndpointDispatcher` class is completely empty, only contains a single empty constructor.

We used to have some tests that would check that an `IEndpointBehavior` was properly added to the client using WCF.

[code]

Is there any way to test this same behavior in .NET 5.0?

I have been t

[2021-09-03 04:55] #4126 closed

[2021-09-06 07:39] alavudeenb commented on #4697
@mconnew  can you please tell me when this will be released ? we are not able to move our solution to PROD.

[2021-09-06 23:16] mconnew commented on #4697
It's coming in the upcoming RC1 release. But you don't actually need it as the default is Basic256. If you don't explicitly set it, you get Basic256. You should be good to go with 4.8.1 leaving the default value as is.

[2021-09-07 16:32] tapizquent commented on #4706
In order to test this, I ended up using `Activator` to get access to the `ClientRuntime`'s constructor.
It is not an elegant solution, but at least it allows us to test the same behavior that we were testing with the .Net Framework version.

[code]

[2021-09-09 20:51] afifi-ins commented on #4564
This is not a WCF bug. Looking to the code you provided, you should have persistent channel factory but only a single one. You may use the same channel from multiple requests, but if you want to create multiple channel, you can call the create channel overload, which takes an endpoint address. The services provider engine scope has not been disposed. See this link for more details:  https://docs.m

[2021-09-09 20:52] #4564 closed

[2021-09-09 21:00] mconnew commented on #4456
@itsalexjones, are you still having a problem with this? If so, can you send me the repro to my email? My email address is my username at the microsoft.com domain.

[2021-09-09 21:29] mconnew commented on #4363
WSHttpBinding with Message security isn't supported (which is what's used with the default constructor). We do support TransportWithMessageCredentials, but we don't yet support that with Windows credentials. The issue with "The name '_address' does not exist in the current context" is because of a debugger attribute on the class which wasn't updated when the private field _address used to back the

[2021-09-09 21:29] #4363 closed

[2021-09-09 21:33] mconnew commented on #4683
Are you using WSHttpBinding? The default security mode is Message security which isn't supported. We do support TransportWithMessageCredentials, but we don't yet support that with Windows credentials. The issue with "The name '_address' does not exist in the current context" is because of a debugger attribute on the class which wasn't updated when the private field _address used to back the Addres

[2021-09-09 21:35] mconnew commented on #4659
@sekar79, unfortunately due to missing dependencies we can't yet support full Message security which is needed for your configuration. As you are unable to modify the binding being used by the service, there isn't anything we can suggest at this time. I'm going to close this issue as there's nothing that we can do.

[2021-09-09 21:35] #4659 closed

[2021-09-11 23:24] Evgeny-A opened #4708 "Can't disable authentication with HttpClientCredentialType.None"
**Describe the bug**

If `ClientCredentialType` set to `HttpClientCredentialType.None` in binding options, and server returns 401 status with WWW-Authenticate header, wcf client tries to authenticate.

**To Reproduce**
[code]

**Expected behavior**

If server returns 401 status, client must just throw this error, without trying to authenticate.

[2021-09-12 12:15] Evgeny-A commented on #4708
I investigated a little. I think the issue is because of this code: https://github.com/dotnet/wcf/blob/9bf1eea452c8bfad9a4f833097ac3d4c093d987e/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L314

It sets `UseDefaultCredentials` to `true` regardless of whether authentication is required. It seems it should not do it if `AuthenticationScheme` property is `Aut

[2021-09-13 10:11] Blackleones commented on #4414
Same issue here. I've installed it locally into my project and I receive the following error whenever I try to run dotnet-svcutil.

[code]
I've solved it by installing .NET Core 2.x.x.

I want to reopen this issue because the documentation should be edit because the prerequisites aren't _true_ as @osipovas and @bogdanmaxim reported

[2021-09-14 20:45] InteXX commented on #4701
@mconnew

Knowing the answers to these will assist my progress.

[2021-09-14 23:04] mconnew commented on #4701
Sorry, forgot to answer this sooner. The Internals assembly was shared among many other assemblies for a lot of the common code. There's no public api's in there. We had some assemblies which were server only such as ones related to activation. We also had Workflow, a bridge assembly that runs inside of the MSDTC process to provide WS-AT SOAP endpoint implementation and many others. None of those

[2021-09-17 07:47] imcarolwang commented on #3264
Hi @Jean-Marc1, the references node in ConnectedService.json is generated when running the tool to add WCF connected service. After the json file get generated it's not used during project compilation. Even though the physical reference path looks not right when moving to a different environment it should not cause compiling error. Are you able to share more details of your scenario? It will be gr

[2021-09-17 09:47] vese opened #4713 "Error while trying to add wcf reference in VS 2019"
When I launch the Add Connected Services option in C# project, and try to add a SOAP Web Service reference using the "Microsoft WCF Web Service Reference Provider", instead of showing the dialog to add the Web Service reference, it shows an alert message with the following error:

The connected services component 'Microsoft WCF Web Service Reference Provider' failed: The project reference specific

[2021-09-17 13:38] tonihele commented on #4069
@scrodde did you manage to work your way around this? Seems that we are contacting the exact same endpoint and hit this very issue...

[2021-09-17 17:23] Jean-Marc1 commented on #3264
Sorry, it has been at least 1 year and half ago since the last report.  I moved on.

[2021-09-17 21:23] jfreres commented on #4683
When is 4.9 production or is this fix in the rc or preview releases of 4.9?

[2021-09-17 23:34] mconnew commented on #4683
It should be in the rc release now.

[2021-09-18 08:09] imcarolwang commented on #4308
The type loading exception was thrown when calling [LoadReferencedAssemblies()](https://github.com/dotnet/wcf/blob/8e18e27cd563d0bf9f084c671f8e8ce7374eb30d/src/dotnet-svcutil/lib/src/CommandProcessorOptions.cs#L783) which would only be invoked when [RequiresBoostrapping ](https://github.com/dotnet/wcf/blob/8e18e27cd563d0bf9f084c671f8e8ce7374eb30d/src/dotnet-svcutil/lib/src/CommandProcessorOptions.

[2021-09-18 08:09] #4308 closed

[2021-09-20 04:23] Joebeazelman opened #4715 "Connected services tab doesn't include WCF Web Services"
Created a new project from VS2019 WCF template.  WCF Services is not one of the option listed under the Connected Services tab, but you can add it using the "Add Service Reference" by right-clicking on the project. The menu option is nondescript and the title says nothing about WCF, making it difficult to find in the huge list of menu options.

Come on Microsoft!  Why are you guys so inept!  Do yo

[2021-09-20 12:47] D0ctorWh0 opened #4716 "How to connect to existing WCF service with clientCredentialType=="Windows""
I am trying to connect to existing WCF service with NetTcpBinding and clientCredentialType set to "Windows" in message security. But it throws me error "clientCredentialType='Windows' not supported".

How can I connect to this existing WCF service? I can't change it.

[2021-09-20 20:19] mpaine-act commented on #4713
I am seeing this as well.   Using dotnet cli, I get something similar:

PS P:\> dotnet svcutil https://some.url.here/WarehouseService?WSDL
Microsoft (R) WCF Service Model Proxy Generation Tool for .Net Core platform
[Microsoft.Tools.ServiceModel.Svcutil, Version 2.0.3-preview3.21351.2]
Copyright (c) Microsoft Corporation.  All rights reserved.

This tool collects information about how it is used i

[2021-09-20 20:25] #4435 closed

[2021-09-21 17:33] EnidaK opened #4719 "How to create this WsHttpBinding in Net6 with equivalent security level?"
I currently have this WsHttpBinding in .NetFramework 4.8 and I am looking for some viable equivalent option in Net6 :

`<binding name="name" openTimeout="00:1:00" closeTimeout="00:1:00" receiveTimeout="02:00:00"
                sendTimeout="02:00:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"
                messageEncoding="Text" textEncoding="utf-8" useDefaultWebProxy="fa

[2021-09-21 23:50] InteXX commented on #4701
Very good, thank you.

[2021-09-22 01:52] imcarolwang commented on #3264
Since we can not repro the compiling error, closing this issue for now. Feel free to re-activate this issue if this is still an issue and provide the repro steps.

[2021-09-22 01:52] #3264 closed

[2021-09-22 18:38] pmiddleton opened #4722 "High unmanaged memory usage in ASPNet core project"
I have a 3rd party wsdl that I am currently using in a project.  This wsdl is rather large, svcutil produces about 1.5 million lines of code between two services.

When the channel for the generated service is created, in my asp.net core application, the unmanaged memory usage jumps by about 550 mb.  I have used dotMemory to confirm it is unmanaged memory and not in the managed heaps.

What is str

[2021-09-23 19:11] mconnew commented on #4607
This will be available in RC2

[2021-09-27 23:16] HongGit commented on #4683
Feel free to reactivate the issue if the problem persists after .NET 4.9 release.

[2021-09-27 23:16] #4683 closed

[2021-09-27 23:23] mconnew commented on #4692
Negotiate is the authentication scheme when using Kerberos based domain authentication. It's enabled when you turn on Windows authentication. The server on initial request returns a response saying that it needs to authenticate and will offer Negotiate or NTLM. The client is picking Negotiate (which can do Kerberos or NTLM) and attempting to authenticate. Configuring the client to use Transport se

[2021-09-27 23:23] #4692 closed

[2021-09-27 23:30] HongGit commented on #4694
Thanks for raising this issue with us!

While we are trying to get the fix into an upcoming release, you could try BasicHttpBinding which support https addresses.

[2021-09-27 23:33] HongGit commented on #4697
Feel free to reactivate the issue if this is still an issue.

[2021-09-27 23:33] #4697 closed

[2021-09-27 23:47] HongGit commented on #4706
Thanks for raising this with us!

@tapizquent your solution is stable, and these APIs will not change.  We will look into the feasibility of supporting this in future releases..

[2021-09-27 23:49] HongGit commented on #4708
@imcarolwang can you please see if you could get a PR out this week?

[2021-09-27 23:51] HongGit commented on #4716
@D0ctorWh0 what security mode are you using, is it TransportWithMessageCredentials, or is it Message?

[2021-09-29 09:01] A-Ovchinnikov-mx commented on #4701
Hi @mconnew I've noticed that for .NET 6 some part of System.Web.Services library is being ported.

We currently use `DiscoveryClientProtocol` to discover WSDLs from a URL. Is there currently a recommended way to do so in .NET 6? For example, I found this extension: https://github.com/IdentityModel/IdentityModel/blob/main/src/Client/Extensions/HttpClientDiscoveryExtensions.cs

[2021-09-29 20:54] bcallaghan-et commented on #1810
I have installed `System.ServiceModel.Http` version 4.9.0-rc1.21431.2 to experiment with the new MTOM feature, but I cannot instantiate the `MtomMessageEncodingBindingElement` to use with my `CustomBinding`. Instead, I get the following compiler error
[code]
I have ensured that all of my NuGet packages are up-to-date (all ServiceModel packages are 4.9.0-rc1, clean, rebuild). Using dotPeek, I can o

[2021-09-30 05:27] imcarolwang commented on #4715
The "Add Service Reference" menu is to trigger running tool to generate WCF Client code against WCF Service in a .NetFramework targeting project.

This repository tracks issues relate to WCF Client codes/tools base on .NETCore runtime, since the problem here looks relate to UI behavior of "Add Service Reference" used by a .NetFramework project template, could you please file ticket in https://deve

[2021-09-30 06:41] imcarolwang commented on #4713
@vese Thanks for raising the issue. Base on the error message looks like the tool detect the project has binary reference to System.ServiceModel.dll with no path specified. For a .NET Core or .NET Standard project, if you want to reference WCF product  we expect you use PackageReference such as System.ServiceModel.Http instead of directly referencing System.ServiceModel.dll.  If it's not the case

[2021-09-30 08:48] imcarolwang commented on #4708
@Evgeny-A, I have a BasicHttpBinding service with Transport security mode and require certificate HttpClientCredentialType, at client side, I set `ClientCredentialType = HttpClientCredentialType.None` for the binding's Security.Transport property, client will receive response message with 403 forbidden status and code then flowing to line below and throw the exception directly at [here](https://gi

[2021-09-30 09:31] Evgeny-A commented on #4708
I think certificate authentication is not related here.

Ensure server requires at least one of these authentication types, and does not allow anonymous access. When authentication fails, server should return not 403, but 401 status code.

Check how many HTTP requests are actually made.

What I expect: after 401 response for the very first request, error must be thrown that server requires authent

[2021-09-30 09:56] vese commented on #4713
@imcarolwang
Project has these references:
[code]
Also it has this part
[code]
Removing this part helped with issue. It was generated when I added wcf reference in older version of vs (in February)
Thanks for answer

[2021-09-30 10:16] imcarolwang commented on #4708
@Evgeny-A Thank you for the quick turnaround! I now can reproduce the behavior you described and the fix you've proposed works as expected. I am going to submit a PR for review.

[2021-09-30 11:54] Evgeny-A commented on #4708
Thank you. I'm glad to contribute.

[2021-09-30 12:56] padhumailin opened #4741 "Error "No client ssl certificate found in the request." when communicating WCF service from .net core 3.1 application"
I'm trying to access the WCF service from my . net core application.
WCF service has basichttpbinding and with https enabled. i'm attaching signed client certificate to authorize the request.

while sending the request to server, the error log in server is logged as "No client ssl certificate found in the request".
please see the below client code to access the WCF service.

[code]

### Descriptio

[2021-09-30 20:17] mconnew commented on #4625
I worked out the problem. This shouldn't have worked in .NET Framwork either, unless someone modified the code generated by Add Service Reference or svcutil. The problem is an error in your WSDL. If you look at the response, the XML element `technicalInfos` has a child element called `rowInDistribStack`. This is the XML in the response:
[code]

You can see there's no value for it, and it specified

[2021-09-30 20:29] mconnew commented on #4708
I'm going to close this issue as we've merged a fix.

[2021-09-30 20:29] #4708 closed

[2021-09-30 23:43] mconnew commented on #1810
@bcallaghan-et, apparently I forgot to add the MtomMessageEncodingBindingElement to the reference assembly itself. You can use it by specifying it's usage with any of the various bindings. For example, BasicHttpBinding has a MessageEncoding property that allows you to specify MTOM. If you need a standalone binding element, you should be able to extract an instance from a binding and set the Messag

[2021-10-01 07:02] mcNets commented on #4625
Thanks @mconnew

Let me try to manually modify the WSDL file that is generated by a 3rd party software.

I took a look at WSDL generated in .Net Framework and it has same definition:

`<xsd:element name="rowInDistribStack" type="xsd:int" />`

But it works without any modification.

Again thanks for your time.

[2021-10-01 07:12] mconnew commented on #4625
I tested generating a client from the wall on .NET Framework and got the same exception as you are seeing on core. There isn't a behavior difference between NetFx and Core here. This is why I suggested that maybe someone previously edited the generated code in your NetFx app. It's only going to throw an exception if there's a nil value in the response. An integer value won't cause the exception.

[2021-10-02 09:20] mcNets commented on #4625
@mconnew Hi.

I've manually modified the WSDL file and then I've generated a new proxy class using this file and it works!

Thanks for your help.

[2021-10-02 09:20] #4625 closed

[2021-10-04 14:59] Tschrock commented on #3979
@StephenBonikowsky Is this still in the backlog to work on? (I don't see an open issue for it, so I just want to make sure it hasn't been forgotten.) It would be great to have this supported instead of relying on a complex workaround to inject the security header.

[2021-10-04 15:45] andradf opened #4732 "Support for DiagnosticListener"
Are there any plans to move to emitting DiagnosticListener events instead of or along with EventSource? Both SqlConnection and HttpClient have moved to DiagnosticListener instead of EventSource as it allows more complex objects to be passed on to the consumer, such as the channel in WCF's case. While this can be easily implemented with a IEndpointBehavior, it feels more natural to be included out

[2021-10-04 16:19] bcallaghan-et commented on #1810
@mconnew Thank you for the workaround. I need to use MTOM with a custom binding, as the remote service requires both Basic auth **and** client certificates, and I couldn't find a way to do that with the `BasicHttpsBinding`. This issue isn't as urgent as I thought, so I can wait for the final release.

[2021-10-04 17:18] StephenBonikowsky commented on #3979
@HongGit and @mconnew

[2021-10-05 00:40] #1810 closed

[2021-10-05 15:26] mohdali commented on #2220
Hi, is there any further update on this? I'm looking for the same scenario to implement in .NET Core 3.1.

[2021-10-06 17:17] DareDevilDenis opened #4734 "NetTcpBinding repeated connections and disconnections get slower and slower when using ReliableSession"
This issue is seen with .NET 5.0. Exactly the same code works ok with .NET Framework 4.8.

I have a WCF NetTcpBinding server (.NET framework 4.8) that has a binding that uses ReliableSession. I have a WCF client running on the same PC that repeatedly (in a loop) creates a channel, calls a WCF API method on the server, and closes the channel (this configuration is used to demonstrate the problem)

[2021-10-07 09:25] Danielku15 opened #4735 "Cannot use "new" library in .net 4.8"
**Describe the bug**
Currently the NuGet libraries provided by this project for .net 4.8 are forwarding the implementation to the System.ServiceModel coming with .net 4.8 itself. This makes migration really hard because there is no good way to already start using dotnet/wcf + CoreWCF already.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a .net 4.8 solution with a server and client p

[2021-10-07 15:27] lipchev opened #4736 "svcutil: System.NullReferenceException while generating duplex client"
**Describe the bug**
I'm receiving a `System.NullReferenceException` ([here](https://github.com/dotnet/wcf/blob/1a291ea424991a184ffafd2ba20928e0e339fb96/src/dotnet-svcutil/lib/src/CodeDomFixup/CodeDomHelpers.cs#L29)) while attempting to generate a duplex proxy in a `.net5.0` project.

It seems like the `"referenceKey"` field that is being targeted [here](https://github.com/dotnet/wcf/blob/1a291ea4

[2021-10-12 06:34] nyonor commented on #4045
Client was generated with dotnet-svcutil. Target framework .net5.0. Console application.

`services.AddTransient<UTL2PortType>(provider =>
                    {
                        var c = new UTL2PortTypeClient(
                            binding: new CustomBinding(new BasicHttpsBinding(BasicHttpsSecurityMode.TransportWithMessageCredential)),
                            new EndpointAddress(c

[2021-10-13 06:06] NicholasNoise commented on #1810
@mconnew I do not use WCF itself, but parse MTOM responses. So code that was valid using netfx is no longer `the correct way to do things`. Is a workaround here for me?
[code]

[2021-10-13 23:05] #4716 closed

[2021-10-13 23:08] HongGit commented on #4734
@DareDevilDenis  this is known issue, and fix  is released is RC2.  Please give it a try.  Feel free to reactivate if RC2 does not fix your issue.

[2021-10-13 23:24] #4186 closed

[2021-10-13 23:26] HongGit commented on #4301
@mconnew ?

[2021-10-13 23:26] #4464 closed

[2021-10-13 23:29] HongGit commented on #4487
@imcarolwang  could you please add a test scenario for this?

[2021-10-13 23:31] HongGit commented on #4589
@sekar79  can you please log a separate issue for the issue above?

Closing this issue as this is already implemented.

[2021-10-14 15:20] Serotonindude opened #4742 "dotnet-svcutil: Inconsistent class generation behavior of not referenced types"
**Description**

Hi,
I've got a problem with the dotnet-svcutil 2.0.3 (seems to be the same in 2.0.1).

When I generate the classes using only the SignatureService.wsdl file, the not directly referenced type _DetailedSignatureReportType_ is generated as a class.
I need this class, as the IndividualReportType.Details member (which is of type _AnyType_, which is not directly related to _DetailedSign

[2021-10-14 17:03] mconnew commented on #4487
To fill in a bit of missing context, WSFederationHttpBinding derives from WSHttpBinding which now has the MessageEncoding property and supports MTOM. The only thing missing is specific end to end tests of WSFederationHttpBinding using MTOM.

[2021-10-15 13:46] dmki commented on #2862
Same thing here. Seems like nuget package includes old binary for .NET 5.

[2021-10-16 01:05] mconnew commented on #4722
The last time I saw something like this, it was because someone was creating new IServiceProvider scopes and then not disposing of the scope when done with it. Your best bet would be to use VS's memory analysis tools to see what's using all the space and how it's rooted.

[2021-10-16 09:57] DareDevilDenis opened #4746 "NetTcpBinding repeated connections and disconnections with ReliableSession: Close() on channel sometimes takes a long time"
**Describe the bug**
I have a WCF NetTcpBinding server (.NET framework 4.8) that has a binding that uses ReliableSession. I have a WCF client running on the same PC that repeatedly (in a loop 5000 times) creates a channel, calls a WCF API method on the server, and closes the channel (this configuration is used to demonstrate the problem). Using a .NET 5.0 WCF client (version 4.9.0-rc2.21473.1 of S

[2021-10-18 21:56] HongGit opened #4749 "Add test for PR#4745"
Add test for PR #4745

[2021-10-18 21:58] HongGit opened #4750 "Add test for PR #4729"
Add tests for PR #4729

[2021-10-19 13:19] MichalLabuzz opened #4751 "SocketException (10054) while using .NET 5 only when large request is sent"
Hi,

I am migrating my WCF client from .NET Framework 4.6.1 to .NET 5 and I am facing SocketException every time I am sending big requests (like 500KB). Below you can find exception, Server config, .NET Framework config and .NET 5 config.

**Exception:**
[code]

**Server config:**

[code]

**.NET Framework 4.6.1 client config:**
[code]
**.NET 5 client config:**
[code]

**.NET 5 alternative config:

[2021-10-19 21:30] mconnew commented on #4751
How long does it take from start of the request to the exception happening? Can you check the WCF event log in Event Viewer on the server side for any warnings or errors? The logs can be found in the Event Viewer path Applications and Services Logs -> Microsoft -> Windows -> Application Server-Applications. There might be a warning or error recorded explaining what the reason was for closing the c

[2021-10-21 12:32] lukasz-zoglowek opened #4754 "Expose missing settings in LocalClientSecuritySettings"
**Describe the bug**
.Net Standard version of LocalClientSecuritySettings is missing few properties like e.g.: SessionKeyRenewalInterval, SessionKeyRolloverInterval, IdentityVerifier  etc

**To Reproduce**
Create a client targeting (System.ServiceModel.Security v4.8, .NetStandard 2.0). Configure TCP secure binding and modify TransportSecurityBindingElement e.g.:

[code]

Notice that SessionKeyRene

[2021-10-21 23:44] mconnew commented on #4496
Writing some notes here for when I create the fix. The problem is caused by the code needing to be changed early on in development because the exception InsufficientMemoryException wasn't available in early versions of .NET Core. So we left it as an OufOfMemoryException, which can't be easily handled higher up in the call stack as there's no way to know what caused it. For example, jitting a metho

[2021-10-26 04:32] GregJF opened #4755 "dotnet-scvutil not generating properties so they are serializable"
When dotnet-svcutil wraps responses in another class, it does not create a property with a getter/setter. It creates a Automatic property e.g. public MyCustomClass[] CustomClass;

It should create this as a getter/setter e.g
private  MyCustomClass[] CustomClassField;
[System.Runtime.Serialization.DataMemberAttribute()]
        public MyCustomClass[]  CustomClassList
        {
            get

[2021-11-01 08:42] eddiegroves commented on #42
This would have been handy, ah well.

[2021-11-02 12:41] DBA-org opened #4758 "CreateMutualCertificateBindingElement throw SecurityBindingElement.CreateMutualCertificateBindingElement is not supported."
not sure why but CreateMutualCertificateBindingElement isn't implmented in security:

   static public SecurityBindingElement CreateMutualCertificateBindingElement(MessageSecurityVersion version, bool allowSerializedSigningTokenOnReply)
        {
            if (version == null)
            {
                throw DiagnosticUtility.ExceptionUtility.ThrowHelperArgumentNull(nameof(version));

[2021-11-02 21:40] HongGit commented on #4741
Close due to no response recently.  Feel free to reopen if assistance still needed.

[2021-11-02 21:40] #4741 closed

[2021-11-02 21:43] #4751 closed

[2021-11-02 21:48] HongGit commented on #4758
duplicate of #3424, CreateMutualCertificateBindingElement requires full message security, which is not planned yet in the near future.

[2021-11-02 21:48] #4758 closed

[2021-11-02 21:51] #4487 closed

[2021-11-03 18:02] desJunta commented on #4713
[code]
works for me. Thanks

[2021-11-05 22:08] #4666 closed

[2021-11-05 23:07] HongGit commented on #4749
@imcarolwang this is assigned to you, can you please work on this as well?  Thanks!

[2021-11-05 23:23] mconnew commented on #4469
@fptkolodziejczyk, in regard to Re.2, I don't have enough information to say what's going on. The server is returning a 503 error, so there's something the server didn't like about the request. You would need to contact the service owner to get assistance debugging tha. If the service is running WCF, you can also use `svc?SingleWsdl` in a browser and save the file to disk. Then you can point all t

[2021-11-06 10:49] youssef-ali commented on #4414
Hi Dears,

Any updates for .Net 5?

[2021-11-08 02:32] huyttq commented on #4306
Try to create new folder, cd to new folder and run `dotnet-svcutil` again

[2021-11-08 09:21] jari-kuipers commented on #4306
I ended up solving this by running dotnet-svcutil in a separate folder and simply copying the generated contents over to my .NET Core project. it seems like this wasn't the intended purpose but it works fine in my case.

[2021-11-08 10:12] imcarolwang commented on #4306
Thanks for sharing the workaround!

I see the original issue occurred when trying to debug dotnet-svcutil with bootstrapper, personally I would run "dotnet svcutil [url/wsdl-path]", during the execution time go to %temp%\dotnet-svcutil-lib_Temp folder, find the corresponding timestamped folder generated, copy out the svcutilbootstrapper project before it being cleaned up. Then open svcutilbootstra

[2021-11-08 18:01] NicholasNoise commented on #1810
@mconnew any news mate?

[2021-11-08 20:43] a-einstein opened #4762 "UWP Xamarin.Forms cannot update System.ServiceModel.Http NuGet Package"
The old bug [UWP Xamarin.Forms cannot use System.ServiceModel.Http NuGet Package](https://github.com/dotnet/wcf/issues/3088) is still there, despite being closed.
It does not seem possible to reopen it.

Currently I have.
-  Microsoft.NETCore.UniversalWindowsPlatform 6.2.13.
-  System.ServiceModel.Http 4.5.3. (latest update 4.9.0).

[2021-11-08 21:48] mconnew commented on #1810
Sorry I forgot to respond to your last comment. The easiest way to do this I believe is to use the MtomMessageEncodingBindingElement. This will output a Message object. Depending on how you want to parse things, I don't know how appropriate this is to your use case. Presuming you want to minimize changes elsewhere in the code, this can be converted to an XmlDocument. Here's some example code on ho

[2021-11-09 10:29] AleMcKee opened #4763 ""Soap with Attachments" / SwA"
Good day, first of all thank you very much for the MTOM support :)

So now we had planned to convert our old projects to .net core. So far no problem. However, we are working with a service that requires the following:

https://github.com/microsoftarchive/msdn-code-gallery-community-s-z/tree/master/Send%20Soap%20with%20Attachments%20using%20WCF

Unfortunately we don't have access to `System.Servic

[2021-11-10 02:50] imcarolwang commented on #4755
@GregJF, thank you for raising the issue to us! We prioritize all incoming issues based on their breadth of community impact. As this is not a regression issue that svcutil tool from .Net Framework has the same behavior, we will look into this in the future.

[2021-11-10 10:45] AleMcKee commented on #4763
Ok I have to apologize.  `System.ServiceModel.Configuration ` was only for the class  `SwaMessageEncodingElement `. Which is not required at all.

Therefore this issue can be closed. But I will open a new one with the request to support SwA directly :)

[2021-11-10 10:45] #4763 closed

[2021-11-10 10:52] AleMcKee opened #4764 "Add Soap with Attachments / SwA-Support"
Currently there is no direct support for "Soap with Attachments". The only thing I could currently find was:

https://github.com/microsoftarchive/msdn-code-gallery-community-s-z/tree/master/Send%20Soap%20with%20Attachments%20using%20WCF

The code still works. However, I have to say that I'm not a fan of using code that was once part of an article and no longer receives any maintenance. Therefore I

[2021-11-11 22:19] HongGit commented on #3861
We need unit testing here.

[2021-11-11 22:26] HongGit commented on #4164
@mconnew  gentle ping?

[2021-11-11 22:31] HongGit commented on #4732
@mconnew can you please explain what more info we need?

[2021-11-11 22:39] HongGit commented on #4380
@gaui  it seems that your issue is resolved.  Feel free to reopen if that is not the case.

[2021-11-11 22:39] #4380 closed

[2021-11-11 22:45] HongGit commented on #4352
This will be grouped together when #1413 is completed.

[2021-11-11 22:45] #4352 closed

[2021-11-11 22:48] HongGit commented on #4701
Closing this as these issues will be grouped in @211.

[2021-11-11 22:48] #4701 closed

[2021-11-11 22:54] A-Ovchinnikov-mx commented on #211
If anybody's interested, we have ported `DiscoveryClientProtocol` and dependencies from Mono and .NET Reference Source (MIT licensed):

https://github.com/mendix/ws-disco

[2021-11-12 00:41] InteXX commented on #4701
@HongGit

The 211 link leads to a 404. Is this what you intended?

[2021-11-12 00:52] mconnew commented on #4722
I downloaded your repro and checked the heap allocations and they are pretty much identical. The different comes down to asp.net core projects use server GC by default, and regular SDK projects use workstation GC. Add the following to your Web project csproj file and you will see the memory allocation is about the same:

[code]

[Here's some documentation ](https://docs.microsoft.com/en-us/dotnet/

[2021-11-12 00:52] #4722 closed

[2021-11-12 04:18] gregsdennis commented on #4352
Why is this being closed if it's not done?

[2021-11-12 14:10] zTGross opened #4766 "svcutil dosen't work with .NET6"
After installing the new Visual Studio 2022 with its .NET 6 features the dotnet-svcutils tools doesen't work anymore.

What i did:

`dotnet-svcutil.exe https://myDomain.org/MyService?wsdl --outputFile SvcClient.cs --targetFramework netstandard2.0 --serializer XmlSerializer --namespace *,My.Service --enableDataBinding`

[code]

After updating to the new svcutil (version 2.0.3) the same problem occu

[2021-11-13 03:33] #4496 closed

[2021-11-16 14:59] moinessim commented on #4766
Similar problem with the dotnet cli:

`dotnet dotnet-svcutil --help`

[2021-11-16 18:04] mstrate commented on #2259
Possibly this: https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x

[2021-11-17 18:38] carios23 commented on #4713
Had this issue with Visual Studio 2022, this helped. Thanks

[2021-11-18 02:18] imcarolwang commented on #4713
Update: fix of the issue would be available in the upcoming Visual Studio 2022 release.

[2021-11-18 22:33] sanghel-payoff commented on #1274
@mlacouture @dasetser @HongGit @zhenlan @huanwu @hongdai @shmao

As @udlose, I'm gonna highlight this is still an issue at the end of 2021.

`xsd.exe v 4.8.3928.0 `, the latest version as far as i can tell, still generates and invalid option `typeof` on `XmlArrayItemAttribute`...

...maybe it'll get fixed when xsd is ported to NETCore (https://github.com/dotnet/runtime/issues/1391) (if it ever wil

[2021-11-24 15:18] Sunilthakur03 commented on #2269
Can anyone suggest how to Resolved of this error in WCF when checkin project Error:-
HARISServiceReference/service1.wsdl was not completed. Perform a get operation to correct.
![Error1](https://user-images.githubusercontent.com/94979685/143265241-b6041227-b209-4221-81d0-8ec94544a28c.png)

[2021-11-25 03:41] patricktownley commented on #2535
I have a library for extending a third party application that I work with routinely that depends on the Named Pipe binding - but no control over third party application and no option for a different binding.  I'd love to use .NET 5 or 6 for working with it, so this is currently a blocker.

[2021-11-26 07:20] ruza-kavanka commented on #2219
Hi all,
I have the same issue and changing webservice generated code as suggested by @shmao helped to solve it.
However - this issue is quite old and my configuration is .Net Core 5, VS 2019 and the issue is still pending...

[2021-11-27 19:47] Belorus opened #4769 "Verbosity of generated code"
Hi,

I noticed that before dotnet-svcutil we wrote classes by hand, and models contained ~10-15times less lines. All properties were auto-properties.

Eg, our hand-written model is 62 lines, and generated is 820.

What do you think, is it worth adding such mode that generates nice and human-friendly auto-properties instead of field+full property pairs?

[2021-11-29 05:55] Jetski5822 commented on #4482
throws in .net5.0+ too

[2021-11-29 05:55] Jetski5822 commented on #4482
Simple Repo

[code]

[2021-11-29 22:31] mconnew commented on #4482
I'm sorry I missed this. This got pulled to me attention when somebody else commented (and looks like they deleted their comment as it was unrelated). We don't have support for Message security due to missing dependencies. This issue is tracked in #4. The difference between TransportWithMessageCredential and Message is two fold. Firstly, TransportWithMessageCredential uses SSL/TLS to make the comm

[2021-11-29 22:31] #4482 closed

[2021-11-29 22:51] mconnew commented on #2219
@StephenMolloy, @HongGit, I think it might be worth revisiting this. This was closed in preference of another issue, and that issue was closed as there was a workaround. From what I remember/can tell, the problem is there are certain .NET class definitions which when generating an XmlSerializer using Ref.Emit would result in an exception being thrown and it would fail to generate. On .NET Framewor

[2021-11-30 02:38] imcarolwang commented on #3969
Closing as TransportWithMessageCredential security mode is supported in dotnet-svcutil 2.0.3 release.

[2021-11-30 08:06] Premier-Solutions commented on #2824
Same issue here.
Runs fine locally.
But when deploying to AWS Elastic beanstalk, throws the same exception.

Did you find any solution?

[2021-11-30 08:06] Premier-Solutions commented on #2824
Same issue here.
Runs fine locally.
But when deploying to AWS Elastic beanstalk, throws the same exception.

Did you find any solution?

[2021-11-30 12:43] 0x1D-1983 commented on #3969
it is still not supported or not all cases are supported, I just checked with NET6 and SvcUitl 2.0.3

{System.ServiceModel.Security.MessageSecurityException: An unsecured or incorrectly secured fault was received from the other party. See the inner FaultException for the fault code and detail.  ---> System.ServiceModel.FaultException: The message could not be processed. This is most likely because

[2021-11-30 14:17] laurentkempe commented on #4093
I can confirm that we are seeing exactly the same issue!

[2021-12-01 03:26] tomexou commented on #4713
You saved my poor life. XD

[2021-12-01 14:12] swk1986 opened #4770 "client generation with dotnet-svcutil: usage of DataTable in Service-Interface affects serialization of guid as string"
**Describe the bug**
We provide a wcf-service with several methods with guid-parameters and guid return types. When using dotnet-svcutil to create a client everything works like expected.

After adding a method which returns a `System.Data.DataTable` all other generated client-methods changed. Every usage of `Guid` was replaced by `string`.

`dotnet-svcutil` generated a client with `string`-parame

[2021-12-04 17:40] bogatykh opened #4771 "Whitespace lost when using MTOM message encoding"
Whitespace characters are trimmed on all XML content when calling WCF service using MTOM message encoding.

Steps to reproduce the behavior:
1. Host a WCF service using MTOM message encoding.
2. Call a method returning whitespaces from client app.
3. No whitespace is observed on response.

Host app:
[code]

Host app service:
[code]

Test client:
[code]

'resp' variable contents is "whitespace hell

[2021-12-06 12:57] PankajRawat333 commented on #3734
@usmanaliabbasse did you get any solution Or workaround for this problem? I am facing exact same problem.

[2021-12-07 07:22] bhstrifork commented on #4766
Any news on this?

[2021-12-07 08:24] usmanaliabbasse commented on #3734
Yes, I managed to fix this problem by a workaround implementation, I did on that time and this was the workaround which I did & luckily, it worked fine for my requirement to authenticate user name and password comes from SOAP incoming request envelop:
        public class SoapSecurityHeaderInspector2 : IMessageInspector2
        {
            public object AfterReceiveRequest(ref Message message,

[2021-12-08 01:25] ellenhutchings commented on #4122
It would be good to have a list of changed or removed settings. I figured out Realm was unnecessary now, but if the properties have name or values changed there's no information

[2021-12-08 21:45] mconnew commented on #4122
The [.NET Portability Analyzer](https://docs.microsoft.com/en-us/dotnet/standard/analyzers/portability-analyzer) tool will analyze your code and tell you which api's you are using which aren't available. Some things are just unnecessary, for example HostNameComparisonMode is a service side only property. It's used to control whether WCF cares if the endpoint hostname matches the hostname in the re

[2021-12-09 15:17] adrianm64 commented on #2219
I guess the problem is [the same as this xsd.exe bug](https://stackoverflow.com/a/66041350/157224)

[2021-12-12 18:43] bogatykh commented on #4771
As you can see in related pull request test failed. White space is trimmed.

Error: expected response from service: '  Hello  ' Actual was: 'Hello  '

This should be fixed as top priority because we use response singing on client side and signature verification on server side. And because XML content is different, signature checks are failed.

[2021-12-15 07:17] mconnew commented on #4771
Can you please verify that you don't see this issue when using a .NET Framework WCF client and that this is a regression?

When an XML element isn't being output in a separate multi-part segment, the MTOM reader/writer defers most of the logic to the regular System.Xml XmlReader and XmlWriter. If this is a regression, I suspect this is a difference in behavior in those implementations. I made very

[2021-12-15 11:25] bogatykh commented on #4771
I can confirm this is a regression.

When targeting .NET 4.7.2+ everything work as expected - whitespaces are not trimmed.
After targeting .NET 6.0 MTOM the behavior is as I described earlier.

[2021-12-15 11:39] bogatykh commented on #4771
We use following workaround for now:
``
        public void AfterReceiveReply(ref Message reply, object correlationState)
        {
            reply = Message.CreateMessage(
               reply.Version,
               reply.Headers.Action,
               reply.GetReaderAtBodyContents());
        }
``

Applying this IClientMessageInspector to WCF call no whitespaces are lost.

[2021-12-20 02:18] imcarolwang opened #4775 "WCF core client throws EventSourceException:The payload for a single event is too large"
**Describe the bug**
"EventSourceException:The payload for a single event is too large" instead of the actual exception thrown from .net core wcf client

**To Reproduce**
Steps to reproduce the behavior:
1. on machine A, deploy the sample service in wcf.git: TcpTransSecMessCredsUserName.svc/tcp-message-credentials-username
2. create .net core project in machine B, add wcf packages reference
3. wri

[2021-12-23 07:02] dzambo2302 commented on #2766
Hi,
Are there any plans to make message level security supported?

Thanks.

[2021-12-27 20:12] plombaer commented on #4674
Hi,
I'm migrating a .Net48 project to .Net6. It is using WSTrustChannelFactory and RequestSecurityToken to connect to an ADFS server. I updated the reference to the very last version of System.IdentityModel.Tokens.Jwt but it still doesn't find the classes. Any change that those 2 types would be included soon ?
Thanks

[2021-12-28 15:51] JoaoSaDevdotNet commented on #1810
Someone Fix it? I got the issue Message Transmission Optimization Mechanism (MTOM) message encoding is not supported on this platform every time I try.

[2021-12-28 17:25] spodskubka commented on #1810
@JoaoSaDevdotNet what do you need fixed? It's very hard to help you based on that kind of error description.

Do you have an actual code sample? Maybe with a list of referenced NuGet packages and their versions?

Then somebody may be able to tell you what the problem is. 👍

[2021-12-28 17:30] JoaoSaDevdotNet commented on #1810
I tried to use your solution but I am getting the error The expected encoding 'utf-16LE' does not match the actual encoding 'utf-16BE'. Do you know what means?  I can't be able to found nothing about.

[2021-12-28 17:30] josef-moser commented on #1810
Dear sender,

CGM is temporarily not reachable in some regions via the usual eMail addresses and landline numbers.  In these cases, please feel free to use SMS and mobile telephony of your individual contact persons, as far as they are known to you or inform yourself about further contact possibilities via the respective company or product page.

Thank you for your understanding and best regards,

[2021-12-28 17:33] JoaoSaDevdotNet commented on #1810
Okay follow the code

using var mtomMessageInMemory = new MemoryStream(xml);
var dataSerializer = new DataContractSerializer(typeof(ReturningType));

Here i get the error I said
var reader = XmlDictionaryReader.CreateMtomReader(mtomMessageInMemory, Encoding.UTF8, lDictionaryReaderQuotas.Max);

return (ReturningType)dataSerializer.ReadObject(reader);

[2022-01-03 18:01] sdesmarteau commented on #4614
Sorry, I should've clarified:

I need to build a client to consume a pre-existing WCF service that was published using wsDualHttpBinding, of which I have no control. Given this situation, wouldn't it be true that wsDualHttpBinding support needs to be added to the client-side library?

Thanks for your time and consideration!

[2022-01-03 21:44] mconnew commented on #1810
@JoaoSaDevdotNet , try replacing `Encoding.UTF8` with `Encoding.BigEndianUnicode`

[2022-01-08 00:04] TWhidden commented on #4766
Same problem as being reported.  You can use this URL for testing to see it:

`dotnet-svcutil https://testing.econnect.tv/ECServices/RootServices/v1.0/PortalServices.svc?wsdl  --namespace *,testing`

[code]

Version: 2.0.3
[code]

[2022-01-08 01:36] TWhidden commented on #4766
After further research, the issue appears to be when targeting `netstandard2.0`.  If you target `netstandard2.1` (and net6, etc), it works.

netstandard2.0 results with this error (as shown in the original message in this thread)

[code]

Seems like the simple solution is to add to the generated csproj file `<LangVersion>latest</LangVersion>` but looking through the source here, I can't seem to fi

[2022-01-17 10:06] Danielku15 opened #4782 "CallbackDebugBehavior and ChannelDispatcher.IncludeExceptionDetailInFaults are missing"
**Describe the bug**
This is a follow up on the extensions which were done already as part of https://github.com/dotnet/wcf/issues/4686. While some aspects were covered there, I am still missing `CallbackDebugBehavior` and `ChannelDispatcher.IncludeExceptionDetailInFaults` to properly migrate from .net Framework to .net core.

**To Reproduce**
1. Try to activate the `CallbackDebugBehavior` on a du

[2022-01-19 12:49] cangosta opened #4783 "async void with unhandled exception in WebSocketTransportDuplexSessionChannel.cs"
**Describe the bug**
I don't have a way of reproducing it, but I found it by looking at the code.
In file: wcf/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/WebSocketTransportDuplexSessionChannel.cs you have a a classWebSocketMessageSource that has a method:
`async void StartNextReceiveAsync()`

it has an exception being thrown:
`if (currentState != AsyncReceiveState.Finished)

[2022-01-20 07:51] paulviks0x30 commented on #4766
Hello, there is some progress in remove this bug?

[2022-01-21 03:20] TWhidden commented on #4766
@paulviks0x30  - While we wait for them to fix (or merge my pull request), you can pull / build from my fork. That fixed it for me, probably will fix your issue if the error message you see in this thread (lang version) was your error also.  @imcarolwang  had issued a run on it about 8 days ago, so they may merge the fix, but not sure how long.

[2022-01-24 10:51] KingR1 commented on #3248
@AndrewZenith  so you implemented your own `IClientMessageInspector` and changed your generated by svcutil  classses to use it?

[2022-01-24 11:07] AndrewZenith commented on #3248
I didn't change the generated classes at all, just added my IClientMessageInspector as an EndpointBehaviour.
NCTSClient = new NCTSGBSOAP.nctsPortClient(binding, new EndpointAddress(new Uri(serviceAddress)));
NCTSClient.Endpoint.EndpointBehaviors.Add(new WsSecurityEndpointBehavior(CurrentBadge.Resource, CurrentBadge.ResourcePassword));

[2022-01-24 14:08] KingR1 commented on #3248
`Message.CreateMessage` always return xml-tag with utf-16 even with custom `Behaviour`...

[2022-01-24 14:31] ptruskovsky commented on #3248
Hello!
I have attached some code pieces from a real project.
WriteLog(..) works fine without utf-16 tag.
Hope, this will help you!

Have a nice day!

пн, 24 янв. 2022 г. в 17:08, Roman ***@***.***>:

public static MyClient CreateMyClient() {

            var customBinding = new CustomBinding {
                SendTimeout = TimeSpan.FromSeconds(120),
                ReceiveTimeout = TimeSpan.FromSe

[2022-01-24 15:02] KingR1 commented on #3248
@ptruskovsky Thx! But for what do you use `copy2`? It is as original message, no?

[2022-01-26 09:14] zFAdler commented on #4766
Thanks @TWhidden for the fork, works fine for me. Would like to see the fix in a release, is there any update/plan on when a fix will be released @imcarolwang ?

[2022-01-26 09:35] imcarolwang commented on #4766
Thank you @TWhidden  for helping with the fix! @zFAdler, there's another [PR#4772](https://github.com/dotnet/wcf/pull/4772) I submitted earlier which also address this issue but in a different approach. We need to determine a proper fix for the released build.

@HongGit Could you help review the PRs and share your comments?

[2022-01-27 20:55] mconnew commented on #4783
If that exception is thrown, I believe you would terminate the process, but that check should never throw. It acts more like an assert to check for a condition which should never happen. The state starts as Finished, and a CompareExchange happens to move it to Started. The result of CompareExchange returns what the original value was, which is what's being checked here. It's basically saying if yo

[2022-01-31 07:20] mhl-itm-bhg commented on #4713
I'm still experiencing this on Visual Studio 2022 Version 17.0.5 even though my project file contains no references to `System.ServiceModel`. Any ideas for alternative fixes?

[2022-02-04 11:25] IgorMenshikov opened #4784 "SQL Server Reporting Services generation issue with 4.9.0"
**Describe the bug**
I have NET Core application. It generates some reports using SQL Server Reporting Services (ReportExecutionServiceSoapClient and ReportingService2010SoapClient). Things worked OK till we upgraded to 4.9.0.

Previous version 4.8.1 works OK.

Now it gives the following error:
[code]

**To Reproduce**
It fails on any SSRS call like
[code]

**Expected behavior**
A report to be gen

[2022-02-08 23:34] abannsunny opened #4785 "dotnet-svcutil failing when the project references a project reference to a .vbproj project"
We recently updated our .net 4.5 project to .net 4.8 and choose to update the project file to an SDK style project and that broke our service references. We cannot update the service references anymore from visual studio.

After a long search found this link to a community issue and that pointed us to us the "dotnet-svcutil" cli tool

This is how our project file looks like:

[code]

Tried to run

[2022-02-13 13:21] bogatykh commented on #4771
Looks like an issue is deep in corefx.
Putting a breakpoint at HttpResponseMessageHelper.GetStreamAsync and trying to read content as string: _httpResponseMessage.Content.ReadAsStringAsync().Result results in decoded XML content with lost whitespace.

[2022-02-15 22:30] HongGit commented on #2219
@mconnew  closing this one as there are other items which will cover your concerns.

@adrianm64  this is not the same as the xsd.exe bug.

[2022-02-15 22:30] #2219 closed

[2022-02-15 22:30] mconnew commented on #4784
I just took another look at your exception and I missed something the first time. The exception is saying you have configured your client to use anonymous authentication and the server is requesting NTLM authentication. This means your binding is misconfigured. Try setting binding.Security.Transport.ClientCredentialType to HttpClientCredentialType.Windows as that will then allow use of NTLM authen

[2022-02-16 04:38] Bencargs opened #4786 "add HttpChannelFactory Authorization header support"
I'm having an issue when adding a valid AWS Signature 4 authorization header to a wcf channel's request.

As per AWS docs - https://docs.aws.amazon.com/general/latest/gr/sigv4-add-signature-to-request.html
a valid authorisation header should look like this:
`Authorization: AWS4-HMAC-SHA256 Credential=AKIDEXAMPLE/20150830/us-east-1/iam/aws4_request, SignedHeaders=content-type;host;x-amz-date, Signa

[2022-02-16 10:54] dr-consit commented on #2219
@HongGit I'm not sure I understand. Which other item is currently tracking this issue?
I am currently having to manually modify the generated classes post-hoc. So I would really like to know which item to follow for an eventual solution to this issue.

[2022-02-17 00:12] davidgvh commented on #2219
@HongGit, I too would like to know where this issue will be tracked.

[2022-02-17 14:50] aagardit opened #4788 "SvcutilBootstrapper.csproj targeting wrong .NET version"
I am working in VS 2017 (15.9) using .Net Core 2.1
![image](https://user-images.githubusercontent.com/49167012/154502569-9fb42195-3b6d-491c-a68f-bd0301cbb4fd.png)

When I try to update my connected service it fails with this error:
![image](https://user-images.githubusercontent.com/49167012/154499331-d57dd3e4-4a9d-448f-ab0b-bd86ba091cce.png)

I can find the generated bootstrapper project at this l

[2022-02-17 16:02] fforjan commented on #2535
@HongGit  should we expect this to be part of .NET 7 ?

[2022-02-17 16:46] aagardit commented on #4788
Here is the solution that worked for me.
I checked my installed dotnet version using this command:
![image](https://user-images.githubusercontent.com/49167012/154528253-a621dc7a-71c9-49a1-ba63-d7ed515277f7.png)
Then I created C:\global.json with this content:
![image](https://user-images.githubusercontent.com/49167012/154528582-e784c03c-1a6a-41ce-ae3b-65cf38e4c90f.png)

I can now update connected

[2022-02-17 16:46] #4788 closed

[2022-02-17 19:45] speedcodedotnet opened #4789 "System.NotSupportedException when using Hot Reload (VS 2022 - .NET 6)"
**VS feedback:**
https://developercommunity.visualstudio.com/t/SystemNotSupportedException-when-using/1663264?space=8&q=wcf+hot+reload

I get a System.NotSupportedException when using Hot Reload in an ASP.NET Core MVC (.NET 6) project with a WCF service reference.

**Exception**

**Stack Trace**

   at System.ServiceModel.Channels.ServiceChannelProxy.GetMethodData(MethodCall methodCall)
   at Syst

[2022-02-17 20:50] Raschmann commented on #4538
Hi folks. Any update with this issue?

[2022-02-19 08:31] mxa0079 commented on #4766
When will this be available in a release?

[2022-02-21 08:04] IgorMenshikov commented on #4784
The code has been generated at times of NET 1 for SQL Server Reporting Service API by dotnet-svcutil ("ProviderId": "Microsoft.VisualStudio.ConnectedService.Wcf") and worked few years till NET 6.0 upgrade. Once I changed used libraries to 4.8.1 it started to work again:
[code]

Here is the part of the generated code
[code]
This code has no any changes for few years already.

[2022-02-21 08:08] IgorMenshikov commented on #4784
Yes. Libraries have been upgraded together with NET Core 6.0 upgrade,

[2022-02-23 09:32] daydraze commented on #4789
I am also receiving this exception, but it seems rather random as towards when it occurs. Tried to recreate it by hot reloading, but it is rather hit or miss whether it works.

[2022-02-23 11:12] daydraze commented on #4789
Okay, I narrowed it, it occurs on a hot reload when you change something in the controller on the page that is opened. (when you change something in another controller and hotreload, it does not occurs). Once you hot reload it, the system will keep giving the system not supported exception until you restart the application.

[2022-02-24 18:36] leocb commented on #3378
Has this been implemented yet? if so, how do I use it? I'm in dire need of this 😢

[2022-02-24 18:55] DareDevilDenis opened #4792 "Use Environment.TickCount64 to calculate how much time has passed for ReliableSessions session timeout"
Original bug report below. This issue is going to be used to track the feature enhancement of switching to Environment.TickCount64 instead of doing math with DateTime.UtcNow as Environment.TickCount64 doesn't have time travel problems when the system clock is changed.

**Describe the bug**
I have a WCF NetTcpBinding server (.NET framework 4.8) that has a binding that uses ReliableSession. I have a

[2022-02-25 07:36] Ramin2c commented on #3378
I don't know about the progress on the issue but to get around this I had to do a lot of manual work :D if you want, I can look into my old notes, see if i can find and share them with you!

[2022-02-25 14:38] jhowfaithluby commented on #1810
Hello @mconnew ,
I tried this solution proposed in the answers: https://github.com/dotnet/wcf/issues/1810#issuecomment-963604841
but without success, the same error reading not supported.
I'm using webapi .netcore 6 is there any way to do it without needing a wcf?

[2022-02-28 10:36] jongpieter commented on #4792
We have experienced a similar issue to this, running .Net 5, `mcr.microsoft.com/dotnet/aspnet:5.0-focal`

This also occurred when the timeserver was out of sync. It appears to be solved now after setting the timeserver in sync again.
We did not find the cause of the issues, however your situation seems similar to ours.

[2022-03-02 15:11] TonyValenti opened #4796 "Hot to Get Started"
I can't seem to find any docs regarding how to get started.  Where should I look?
I have a .NET 6.0 app that needs to talk with a WCF service that does not have a WSDL that I can access.  What is the best way for me to send and receive messages?

[2022-03-03 02:11] #4749 closed

[2022-03-03 21:31] HongGit commented on #4796
@TonyValenti do you have a copy of the service interface.  The suggestion is to use the same service interface.

[2022-03-03 21:38] StephenBonikowsky commented on #2535
@mconnew and @HongGit do you have an ETA?

[2022-03-03 22:09] mconnew commented on #4792
Reliable sessions keeps track of the last time it had communication with the server. When you move the system clock forward 3 minutes, it now believes it has been 3 minutes since it last had any communication. This is over the threshold where WCF decides that the connection is unrecoverable as it presumes it has tried reconnecting during that time. If you expect the clock to jump forwards to be a

[2022-03-04 09:56] mxa0079 commented on #4766
@HongGit & @imcarolwang—any comments/updates will be greatly appreciated.

[2022-03-04 22:21] leocb opened #4798 "Help - Using manually compiled dll instead of nupkg breaks at compile time"
Hi, due to company policies, I can't use Nuget packages on shipping products and must compile all libraries myself and use the DLLs I generated. **This policy not negotiable**, believe me, I tried.

I was able to compile the all the libs successfully.

The project is targeting .NET6

While developing (And this setup is working flawlessly) I was using the nuget packages, as follows:
[code]

Now for

[2022-03-04 22:28] leocb commented on #3378
@Ramin2c Yes please, if you can, that would be a great help!

[2022-03-06 14:04] Smartisa commented on #4701
Is there a good way to know which APIs are compatible and which are incompatible when interacting with different platforms?
Thanks!

[2022-03-06 20:45] InteXX commented on #4701
@HongGit

We're getting a 404 when clicking the @211 link you've provided. Please advise.

[2022-03-07 09:56] Ramin2c commented on #3378
@leocb
Here it is. The original document was written for a company I worked for before and it was meant to be used for a specific API and I had to cut them out. So, that's why my instructions might seem little messy and inrelated but I hope it still can help you get an idea of how it should work and sorry I didn't have time to nicely format the text here but cp into a word document and rearrange i

[2022-03-07 10:57] DareDevilDenis commented on #4792
Thanks for the explanation @mconnew.

Why does the system clock have to be used to determine how long since the last communication? .NET internal timers e.g. `ManualResetEvent.WaitOne(timeout)` are not affected by the system clock and so are more robust.

I don't think the end user shouldn't be able to cause an existing WCF connection to drop simply because they decide to change the system clock (

[2022-03-08 01:43] mconnew commented on #4792
There's a difference between saying "Do X in 180 seconds" and "I've just received something on the network, how long has it been since the last time I received something?". You can't answer that second question using `System.Threading.Timer`.

`System.Threading.Timer` and `ManualResetEvent` (that you mentioned before your edit) uses system clock ticks to achieve the wait. Basically, there's a syst

[2022-03-08 10:10] DareDevilDenis commented on #4792
Thanks for the detailed response @mconnew

This weekend in the US the clocks go forward by 1 hour for daylight saving time (Sunday March 13 at 2am). This means that a PC with "Adjust for daylight saving time automatically" set will suffer from this issue: Reliable session WCF connections will drop. I have customers running overnight test campaigns so I am expecting to get tickets raised by them be

[2022-03-08 15:22] mconnew commented on #4792
I wouldn't expect that to break anything. The time isn't changing, just the timezone. I believe we use Datetime.UtcNow everywhere important which should remain constant through a daylight savings change.

[2022-03-10 03:42] mconnew commented on #4701
@InteXX, it was a typo, she typed an @ instead of an # so it tries to find a user called 211. I fixed her link to #211

[2022-03-10 03:43] InteXX commented on #4701
@mconnew

Very good, thank you.

[2022-03-10 03:46] InteXX commented on #211
+1 vote for this feature.

[2022-03-10 03:53] mconnew commented on #4789
After talking to a few colleagues, I believe I know how to fix this. In [MethodInfoOperationSelector](https://github.com/dotnet/wcf/blob/3f26fdb41cdce8a19e8728cbb5ef399bec1d5a66/src/System.Private.ServiceModel/src/System/ServiceModel/Dispatcher/OperationSelectorBehavior.cs#L36) we use the MethodInfo object obtained by reflection during ChannelFactory creation to lookup which operation is for that

[2022-03-11 14:29] DareDevilDenis commented on #4792
Thanks @mconnew. That's good news - so the problem is not as bad as I feared 😊.
I just tried this (changing the time zone and turning daylight savings on and off) and as you suggested - I works. Sorry about that.

Is there a way to track the "Environment.TickCount64" enhancement idea not as a bug but as a small feature?

[2022-03-11 17:16] PrakashPaul commented on #4713
remove <Reference Include="System.ServiceModel"/> is now not throwing any exception.
though I am not able to update or add service...
Edit> able to discover the contracts and methods, but during finish it is not updating or generating and new code/references.
New> able to discover the contracts and methods, but during finish it is not able to find any method... some zero index exception.
project m

[2022-03-11 18:43] mconnew commented on #4792
I'll retitle this issue and can use this to track it.

[2022-03-14 20:47] aviatrix commented on #4293
Could this be related to https://github.com/dotnet/runtime/issues/66557 by any chance?

[2022-03-15 21:24] mconnew commented on #4798
I believe the problem you are hitting is the compile time assets are different than the runtime assets. When compiling, you need to reference the dll's in either ref\net6.0 or ref\netstandard2.0 of the packages. But you don't copy them to your application folder as they are reference assemblies only. What you need to copy is the dll's in lib\net6.0 or lib\netstandard2.0 of the System.ServiceModel.

[2022-03-16 14:21] amin1best opened #4801 "Write old code with .net 6"
Hi, I have an old code in asp.net webforms:
[code]
I want to write this code with .net 6. I wrote the following code:
[code]
But it does not work.
I used this:
dotnet-svcutil --sync http://*.asmx
and dotnet-svcutil.params.json:
[code]

I have three problems:
1. How can I use **Session["ccws_ws"]** like old code in .net 6 ?
2. _ccws does not have a property called **CookieContainer**?
3. _ccws does

[2022-03-17 16:34] leocb commented on #4798
Using only System.Private.ServiceModel.dll directly solved my issues for now. But I still have to validate if everything is working as expected. Thank you!

[2022-03-18 13:58] akghasemi opened #4803 "RPC Message "MessageName" in operation "OperationName" has an invalid body name "TypeNameResponse". It must be "OperationNameResopnse""
I am working with old soap web service and I am facing this error ,it works fine in .net framework but this error appears in .net core:
"RPC Message writeSettingResponse in operation startInit has an invalid body name writeSettingResponse. It must be startInitResponse
"
I have read some suggestions that to change the contract name to match this but the problem is that I have tones of method that o

[2022-03-18 14:07] deastr opened #4804 "Active Directory usage"
Hi. We have a WCF service that uses Windows authentication (also with option AllowNtlm=true). The documentation says that Windows authentication uses Active Directory to authenticate the user but doesn't describe how, which I need to figure out. How does WCF uses Active Directory? I've looked around the code but couldn't figure out.

Here's the binding configuration we're using:
[code]

[2022-03-21 11:00] Kramomat commented on #4784
Hello,
I have a comparable issue, I am getting the following error by SQL Server Reporting Services, after migrating my code from Classic .Net Framework 4.8 to .Net Core 5.0 (using most recent WCF version 4.9.0):

`System.ServiceModel.Security.MessageSecurityException: "Die HTTP-Anforderung ist beim Clientauthentifizierungsschema "Ntlm" nicht autorisiert. Vom Server wurde der Authentifizierungshea

[2022-03-24 00:19] mconnew commented on #4784
@IgorMenshikov, I don't know how it's authenticating if that's really the code you are using as you aren't specifying an AuthenticationScheme on the HttpTransportBindingElement and it default to Anonymous, which matches your original error. This would mean HttpClientHandler should have UseDefaultCredentials set to false and Credentials set to null. There's only been one recent change made to handl

[2022-03-28 11:34] deastr commented on #4804
If anyone interested, this is what I've found.

If you set your client credentials type to Windows, WCF uses something called [Windows SSPI](https://github.com/microsoft/referencesource/blob/5697c29004a34d80acdaf5742d7e699022c64ecd/System.ServiceModel/System/ServiceModel/Security/WindowsSspiNegotiation.cs) for Windows authentication.

Windows SSPI makes either Kerberos or CLDAP requests to domain

[2022-03-28 11:34] #4804 closed

[2022-03-30 14:33] andliang opened #4805 "Question: Is the auto-generated code from WsdlImporter .NET 6 compatible?"
I apologize if this is the wrong place to ask this question but I dont know where else to turn.

From what I understand WsdlImporter only runs on .NET Frameowork (that I know at the very least). WsdlImporter can be used to auto-generate C# code (see [here](https://docs.microsoft.com/en-us/dotnet/api/system.servicemodel.description.wsdlimporter?view=netframework-4.8) for an example). Is the auto-ge

[2022-03-30 18:14] Serotonindude commented on #4742
anything new about this one?

[2022-03-31 21:38] lisyandi commented on #3812
Any solution for this issue?

[2022-04-01 22:48] ciceroneves opened #4807 "WCF reference generated with dotnet-svcutil 2.0.3 uses wrong namespace attributes"
When I attempt to add reference to a WCF service using dotnet-svcutil 2.0.3 it creates classes with the attribute
`[Microsoft.CodeDom.Compiler.GeneratedCodeAttribute("Microsoft.Tools.ServiceModel.Svcutil", "2.0.3")]`

This is different from the reference to the same service generated using version 2.0.2 of the tool
`[System.CodeDom.Compiler.GeneratedCodeAttribute("Microsoft.Tools.ServiceModel.Svcu

[2022-04-04 14:45] nhontran opened #4808 "How to implement 2-Way SSL authentication with 'TransportWithMessageCredential' mode"
Hi, we have the following code to call the SOAP service and it requires 2-Way SSL authentication, so far the code is working fine:

[code]

Now, we have a requirement to increase the security by replacing the '**Transport**' security mode with '**TransportWithMessageCredential**' mode and keep the 2-Way SSL. Thus, we have updated the code as below:

[code]

But we got the error that the client cer

[2022-04-05 05:32] markfilan commented on #2365
When you provided a constructor for your class that takes arguments, the compiler no longer creates an empty constructor. Therefore, you cannot call an empty constructor because it does not exist. You would need to explicitly write the constructor that takes 0 arguments in your class's code. The constructor of the [inheritance](http://net-informations.com/faq/oops/inheritancetype.htm) class needs

[2022-04-07 20:30] HongGit commented on #4805
Not 100%, but you can make it work with some small changes. The issue is the binding config and endpoint config on .NET Framework using app.config and .NET needs it in code. But the contracts and generated client will work if you use the constructor overload which takes a binding and endpoint address.

[2022-04-07 20:30] #4805 closed

[2022-04-07 20:38] HongGit commented on #4803
@akghasemi are you working on WCF client on .NET framework, or SOAP client on .NET framework?

[2022-04-07 22:32] akghasemi commented on #4803
It is just asp.net core applications and I am using the code that is being generated by WCF util in visual studio,

[2022-04-11 04:00] thuannguy commented on #4593
@mconnew I have the same need. Could you please tell us if ActAs will be supported, or if we need to do it on our own, point us to the right direction?

[2022-04-11 04:19] thuannguy opened #4809 "WSTrust and SOAP 1.1"
Context: I posted a request for WSTrust support at https://github.com/AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet/issues/852. I believe the WSTrust stuff was then added to WCF. This issue (https://github.com/dotnet/wcf/issues/4542) discussed about how it can be used.

I'm now trying out the new API. Because WS-Trust is a huge spec, it is understandable that what was implement

[2022-04-12 11:00] mikkeljohnsen commented on #4674
When will this be released. I have been awaiting for years now. (@HongGit you said a few weeks, several years ago :) ) ?

[2022-04-12 11:33] thuannguy commented on #4809
I have had some success with making a custom WSTrustChannelSecurityTokenProvider and hacked around some internal stuff.

[2022-04-12 11:33] #4809 closed

[2022-04-13 02:21] HongGit commented on #4069
@imcarolwang can you please see if there is behavior change from .NET framework?

[2022-04-13 02:22] HongGit commented on #4713
@imcarolwang can you please follow up on this?

[2022-04-13 02:25] HongGit commented on #4715
Close this issue since no new response.  Feel free to re-open or log a new issue if the problem persists.

[2022-04-13 02:25] #4715 closed

[2022-04-13 02:27] HongGit commented on #4742
@imcarolwang please see if this is a regression

[2022-04-13 02:29] HongGit commented on #3969
Close as this is fixed.  If the issue persists, feel free to re-open or open a new issue.

[2022-04-13 02:29] #3969 closed

[2022-04-13 06:59] imcarolwang commented on #4769
Hi @Belorus, thanks for your suggestion! Do you see a difference in lines of code generation between using Svcutil tool in .Net Framework platform and using dotnet-svcutil tool in .Net Core?

[2022-04-13 09:46] imcarolwang commented on #4742
Hi @Serotonindude It turns out that the order of the input wsdl files matters for how the code is generated. So for the given repro parameter, when generating code for both WSDLs,  adjust inputs file list order by placing  line `conn/SignatureService.wsdl` before `conn/AuthSignatureService.wsdl`, then `DetailedSignatureReportType` can be generated.

[2022-04-13 11:12] Serotonindude commented on #4742
hi @imcarolwang, sounds like a decent work around... will this be fixed to work in all circumstances?

[2022-04-14 09:38] imcarolwang commented on #4742
Thank you for the response. Since this doesn't appear to be a regression issue comparing with Svcutil in .NetFramework and there's a workaround, this one got lower priority than other broader impacted issues. I'm closing it for now, feel free to reactivate or open a new issue if you have additional data or details that will help us appropriately reprioritize this issue.

[2022-04-14 09:38] #4742 closed

[2022-04-14 15:29] EmmanuelPonnudurai opened #4810 "Question: What happens if a wcf connection/channel is not closed."
There is this recommendation to always close the channel after work is completed. This is understandable.

However, I'm trying to understand what happens if we don't or in certain scenarios the objects are not correctly disposed(and closed eventually),

This is good (per recommendation)
[code]

What would happen in the situation below? Is it fair to confirm that consistent calls such as this would

[2022-04-14 18:23] fforjan commented on #2535
@HongGit I do not see any update in the preview. Could you confirm anything ?

[2022-04-15 02:56] imcarolwang commented on #4713
Closing as a fix of this issue has been released in the most recent version of VS2019 and VS2022. Feel free to re-activate if this is still an issue.

[2022-04-15 02:56] #4713 closed

[2022-04-15 08:52] vvenkataratnam commented on #4713
Hi, I am using VS 2022 (17.1.4)  with.NET Core 6.0 and still facing this issue

![image](https://user-images.githubusercontent.com/57880936/163549284-7df4109a-c815-4a82-948a-26fb89d56f5c.png)

[2022-04-15 09:32] imcarolwang commented on #4713
Hi @vvenkataratnam, the original problem described in this issue is about error `The project reference specification 'System.ServiceModel' does not have a file path.` and it has been resolved in the most recent VS release. The error you mentioned appears to be caused by different reason. Could you open a new issue for your problem? If you got a simplified repro project or the repro service/wsdl in

[2022-04-17 04:11] vvenkataratnam opened #4811 "Error while trying to add wcf reference in VS 2022"
Hi, I am using VS 2022 (17.1.4) with.NET Core 6.0 to add a Service Reference using Manage Connected Services.
I can see the service is running and access the WSDL using browser.

I am getting following error, while trying to add a reference

![image](https://user-images.githubusercontent.com/57880936/163700021-45af3d6a-58dd-45b8-9bed-b6038824fc25.png)

[2022-04-17 04:12] vvenkataratnam commented on #4713
Thanks @imcarolwang for the reply. I have created a new issue
https://github.com/dotnet/wcf/issues/4811

[2022-04-17 08:26] akhilesh84 commented on #4163
Is there and root cause identified for this problem yet? Reason I'm asking is because the SO workaround did not work for me.

Also, from the issue it is not clear if it is a bug in WCF that it is not being able to deserialise the response properly, or with dotnetsvc-util for not generating the proxy class correctly? or both?

[2022-04-18 02:21] imcarolwang commented on #4811
@vvenkataratnam  Thank you for filing the issue. Could you provide the repro service wsdl or a simplified one which reproduces this error?

[2022-04-18 05:07] vvenkataratnam commented on #4811
Hi @imcarolwang,
Initially I was trying add a reference to a class library, which was giving this error. Later, I tried with Console app and it worked fine. Sorry for the confusion.

[2022-04-18 05:07] #4811 closed

[2022-04-18 16:59] fforjan commented on #2535
@HongGit  (or @StephenBonikowsky  @mconnew ) ? seems no one is answering here.
I do not mind if this is the expectation or should I assume this is just dead ?

[2022-04-19 08:59] imcarolwang commented on #4069
There is behavior change from Framework in `XmlSerializer `serializing `byte[]` type to soap xml.

In .Net Core, for a target class `FileAttachment `which has  `SoapTypeAttribute  `applied, if its public property `byte[] File ` has applied  `[SoapElement(DataType = "base64Binary")]` or none, the serialization result would be missing XsiType info, if applying the property with  `[SoapElement(DataTy

[2022-04-19 20:21] mconnew commented on #4808
When you specify TransportWithMessageCredentials, the Binding doesn't configure the http transport to use any client authentication. The transport security simply means that SSL/TLS will be used in the communication with the server to provide secrecy and integrity to the communication and the client validates the server's identity by validating it's certificate as part of the SSL/TLS handshake. To

[2022-04-19 20:23] mconnew commented on #4798
I'm closing this issue. If you need any further help, please open a new issue.

[2022-04-19 20:23] #4798 closed

[2022-04-19 21:12] HongGit commented on #4803
@akghasemi can you please share the wsdl you are using?

[2022-04-20 00:48] mconnew commented on #4735
Could you split the client code into a separate project which targets .NET Standard? It might be possible to run integration tests using it on .NET to validate the features you need are there.
The only real concern as far as I can see is if there's a different behavior in the .NET Core implementation than in the .NET Framework implementation. These fall into 2 camps. First, a feature being absent

[2022-04-20 08:41] bstordrup opened #4812 "IChannelListener interface not available"
**Describe the bug**
The IChannelListener interface is not available when using the System.ServiceModel.Primitives package

**To Reproduce**
Steps to reproduce the behavior:
See the project in this project: https://github.com/bstordrup/WcfMissingInterface

The project will not compile as the IChannelListener is not visible in the System.ServiceModel.Channels namespace although the interface is mar

[2022-04-20 12:05] Kramomat commented on #4784
It took me some time to analyze everything.
So far I can see the behaviour when accessing reportservice2010.asmx:

1. Request sending the trusted UserHeader, resulting in http 401 requesting WWW-Authenticate: NTLM
2. In classic .Net a second request is being send with the Authorization: NTLM Header
Then the communication proceeds in classic .net
No redirection is done.

Using .net core the same re

[2022-04-20 13:29] bstordrup opened #4813 "Duplicate System.Reflection.AssemblyXxxxx attribute"
**Describe the bug**
When I compile the solution (both in Visual Studio, but also from command prompt as suggested on project page), I get a bunch of Duplicate System.Reflection.AssemblyXxxxx attribute errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Forked the repository and cloned the fork locally
2. Opened a command prompt and issued command 'build /p:SkipTests=true'
3. Resulted in

[2022-04-21 05:53] bstordrup commented on #4813
OK, found the problem.

I had for some reason a bunch of obj and bin folders in various projects that contained AssemblyInfo.cs. After deleting all obj and bin folders, the build was fine.

[2022-04-21 05:53] #4813 closed

[2022-04-21 19:04] EmmanuelPonnudurai commented on #4810
Thank you for the detailed explanation @mconnew I missed the part about the internal collection which holds the created channels and yes, if that's the case, we can't do a finalizer on the wcf side and must be implemented by the consuming side.

[2022-04-21 22:37] mconnew commented on #4812
The IChannelListener interface is a service side only api and isn't applicable to client side usage of WCF. This project and the produced packages are only for supporting the client usage of WCF. The interface only exists in the implementation as a holdover from when we were first porting the code and the client and server side of the implementation were very tightly bound together. It enabled us

[2022-04-21 22:37] #4812 closed

[2022-04-21 22:39] mconnew commented on #4810
I'm closing this issue as I don't believe there's anything left pending that needs addressing.

[2022-04-21 22:39] #4810 closed

[2022-04-22 05:30] bstordrup commented on #4812
@mconnew, thank you for the answer. Would it make sense to add them to CoreWCF instead if they are server side?

[2022-04-22 05:33] mconnew commented on #4812
The call pattern is different in CoreWCF. It's based off the asp.net core middleware model and not the polling model (accept/begin accept with callback). Also the namespace is different in CoreWCF so even if it was the same programming model, it still wouldn't help.

[2022-04-25 09:50] riksking opened #4816 "Exception in chuncked response"
Hi there.

**Describe the bug**
I am migrating a project from .Net Framework 4.7.2 to .NET 6.
And I am getting error in response when it is serialized.

`System.ServiceModel.ProtocolException: There is a problem with the XML data received from the network. See the description of the inner exception for details.
 ---> System.Xml.XmlException: The data at the root level is invalid. Line 1, position

[2022-04-27 00:43] mconnew commented on #4816
The Streamed mode for responses doesn't change how the response is parsed. Basically Streamed vs Buffered is just about do you consume the entire request as a single buffer or consume what's needed for the next output to the application (eg when the return value of the operation is a Stream, reading 100 bytes from the stream will only read 100 bytes worth of encoded data from the SOAP message). So

[2022-04-28 09:48] oocx commented on #3272
We had the same problem and could fix it with the solution provided by @fabianeichfeldt here: https://github.com/dotnet/wcf/issues/3185#issuecomment-425261773

Thank you Fabian for sharing your solution!

[2022-04-28 15:27] AmerHashima commented on #4292
hi What You do  to solve this problem

[2022-04-28 23:53] phspies opened #4817 "AllowInsecureTransport & EnableUnsecuredResponse in SecurityBindingElement class"
I'm trying to construct a SecurityBindingElement but the AllowInsecureTransport and EnableUnsecuredResponse attributes are not available within this class.

When you look at the code [here](https://github.com/dotnet/wcf/blob/main/src/dotnet-svcutil/lib/src/FrameworkFork/System.ServiceModel/System/ServiceModel/Channels/SecurityBindingElement.cs), one can see that these attributes are listed.

Is th

[2022-04-29 05:44] jieling07 commented on #4292
. net core cannot be implemented, so it can only be created Net formwork framework. After adding WCF service, modify the configuration "Web.config"
The production configuration is like this

<binding name="YourWcfService"&gt;
&nbsp; &nbsp; &nbsp; &nbsp; <security mode="Transport" /&gt;
</binding&gt;

Change to

<binding name="YourWcfService" maxBufferSize="2147483647" maxReceivedMessageSize="21474

[2022-04-30 16:42] LucFauvel commented on #3512
Seeing as this hasn't moved in 2y, I also would like to express my interest in getting this done, dealing with the VMware SDK and it generates a 1.6 million line file. This also makes the DLL I generate with this extremely slow to load JIT.

[2022-05-03 07:22] johanskoldekrans opened #4818 "dotnet-svcutil - ability to ignore certficate error when generating code"
Would like the ability to ignore certificate errors when generating c# from the command line tool. I have over a hundred WCF endpoints that I update through a powershell script for every version of a system we use and clicking accept for the certficate warnings would be nice to avoid with a switch to the tool.

[2022-05-04 09:08] tjaz-brelih opened #4819 "Additional configuration required since upgrading packages to version 4.9.0."
**Describe the bug**
Since upgrading WCF client packages to version 4.9.0 the following error is thrown when trying to connect to a WCF service:

In previous versions (4.8.1 and earlier) registering the WCF client for dependency injection was achieved the following way:

`
var address = configuration.GetValue<string>("WcfServiceUrl");

services.AddScoped<IWcfService, WcfServiceClient>(opt =>
{

[2022-05-04 10:13] speedcodedotnet commented on #4789
Any ETA on this?  🙂

The issue is preventing our team from upgrading to .NET 6

[2022-05-04 20:14] zFAdler commented on #4766
@HongGit, @imcarolwang Can you give any update on when the new version will be available? Is there anything currently holding back the release?

[2022-05-05 08:26] imcarolwang commented on #4807
@ciceroneves , I ran 2.0.3 version of dotnet-svcutil tool against a simple WCF service url and I couldn't reproduce the issue. Can you provide a sample url or wsdl file that can reproduce the problem?

[2022-05-09 06:54] bartschotten opened #4821 "NullReferenceException parsing response of One-Way operation"
I'm trying to migrate an existing SOAP/WCF client from .NET Framework to .NET 6. I haven't changed the actual client code (which used to work) at all. It's calling an endpoint that's not under my control so it's difficult to pinpoint exactly where it goes wrong, but here's what I'm observing. First the stack trace:
[code]

This is a One-Way operation so I'm already a bit surprised that it tries to

[2022-05-10 12:05] bartschotten commented on #4821
I think I've found the problem. In HttpResponseMessageHelper.ParseIncomingResponse WCF only treats it as a NullMessage when there is no Content-Type. As we can see in the response above there is a Content-Type header in this case.
Since this seems to be an Oracle system I even found this ancient issue that describes exactly this behavior:
https://community.oracle.com/tech/developers/discussion/167

[2022-05-12 08:18] nnunes10 opened #4822 "Setup http proxy (with user and password) to invoke WCF service reference"
I added a wcf service reference to external soap web service. It's all good until i publish the solution to an internal machine which need to setup a http proxy (with Basic auth user/password) to be able to invoke WS.

In .net framework, it was just add a section config to setup the proxy. I need the same in a .net 6 project..
I already tried to create a CustomBinding object to wrap BasicHttpBindi

[2022-05-13 12:58] dspear commented on #4250
I ran into this issue when recently porting my .Net Framework client to .Net Core. I'm not actually looking at the HResult value, but I was using code that expected the base class of CommunicationException to be SystemException, and so dealing with this was one of the code changes I had to make. If the base class were the same again, it would have been that much simpler a port.

[2022-05-13 18:27] dspear opened #4826 "CallbackBehavior ignored from a base class"
**Describe the bug**
If you define CallbackBehavior for a callback for a DuplexClient, and then derive another class from that, that CallbackBehavior is not captured by the ServiceEndpoint for the DuplexClientBase. In the system ServiceModel for .Net Framework, this is not a problem. CallbackBehavior is captured in each base class.

**To Reproduce**
Steps to reproduce the behavior:
1. Define a Cal

[2022-05-13 19:53] StephenBonikowsky commented on #2535
My understanding is that it is planned for this year, sometime in the .NET 7 timeframe.
@HongGit can confirm

[2022-05-15 20:57] dannoe opened #4827 "No credential type negotiation possible?"
In the .NET Framework I could set the ``Credentials`` property of the generated web service class and it would automatically negotiate which credential type to send/use: basic, ntlm or windows credentials.

Is there something comparable in the new wcf library to activate the negotiation of credentials? In my tests I had to explicitly set the ``Security.Transport.ClientCredentialType`` to basic, nt

[2022-05-16 06:46] lawrentiy commented on #4784
The same issue.
Client: NET6 C#, System.ServiceModel 4.9.0
Server: WCF NET4.5 C#

Downgrade to 4.8.1 helps to solve it.
Will try to remove that WCF services. RIP

[2022-05-18 07:11] tim6400 commented on #3386
any new about this?
@[makacenko](https://github.com/makacenko) How did you solve this issue?

[2022-05-18 17:45] samsp-msft opened #4828 "svcutil generating incorrect client for WSHttpBinding with SecurityMode.TransportWithMessageCredential"
Defining a WCF Core service using WSHttpBinding with SecurityMode.TransportWithMessageCredential. Creating a client using .NET Framework, will correctly be able to call the service.

The generated code for a .NET core client does not, and fails.

The service endpoint is defined using:

[code]

The `GetBindingForEndpoint` generated code for the service definition is:

[code]

Which is incorrectly t

[2022-05-18 23:09] mconnew commented on #3386
What's the binding you are using? Setting `ProtectionLevel.Sign` requires Message security. I want to make sure there isn't a scenario I've missed where this is useful without full Message security.

[2022-05-19 20:27] HongGit commented on #4762
we will update this after next release.

[2022-05-19 20:28] HongGit commented on #4782
@imcarolwang  could you please work on a fix for this and submit the PR?

[2022-05-19 20:29] HongGit commented on #4775
This is already fixed.

[2022-05-19 20:29] #4775 closed

[2022-05-19 20:33] HongGit commented on #4803
Sorry, we can't investigate this further without the wsdl.  Feel free to re-activate once you could provide the wsdl.

[2022-05-19 20:33] #4803 closed

[2022-05-19 20:36] HongGit commented on #4826
We will provide a fix to alleviate the problem in the hear term, and fix this properly in .NET 7.0.

[2022-05-19 20:41] HongGit commented on #4817
@imcarolwang can you please see if you could add code and tests for this issue?

[2022-05-19 20:50] HongGit commented on #4819
@imcarolwang  can you please see if you could repro this issue?  If so, is this an issue with the WCF Connected Services?

[2022-05-19 20:54] HongGit commented on #4786
@mconnew  could you please review and the PR as well?

[2022-05-20 22:14] felixpelletier commented on #4674
We're also waiting on it for migrating from a .Net48 project to .Net6. ADFS server connection as well.

[2022-05-21 13:24] brewfreedom commented on #3812
This is pathetic. I swore this also used to work. A decade ago or so. Can we get a commitment to see this fixed by 2030?

[2022-05-21 13:38] brewfreedom opened #4829 "Expected Release: 2nd Quarter 2020 hey you guys awake? Anyone here? Any plans on fixing the re-use bug."
Having major issues as a result of the assembly reuse feature not working. How about at least updating your release schedule since you blew that by a year +.

[2022-05-23 13:55] Teugata opened #4830 "The Content-Type for TextMessageEncoder doesn't support a whitespace character between content-type and charset, moreover the IsContentTypeSupported overload doesn't work"
**Describe the bug**
Trying to connect a WCF client to a Java SOAP receiver, however we are having an issue with the content type.

By design or not, the Content-Type for TextMessageEncoder doesn't support a whitespace character between content-type and charset as is easily identifiable in the relevant code:
[https://github.com/dotnet/wcf/blob/main/src/System.Private.ServiceModel/src/System/Servic

[2022-05-23 15:03] hdanau opened #4831 "Mtom Encoding .Net6 vs .Net Framework"
**Describe the bug**
Currently, I'm trying to update my project from .Net Framework to .Net 6. In this project there is a wcf service that I speak to.
Unfortunately, It is just not working. the service requires mtom encoding & https binding element.

**Fiddler Request Payload**
I have the fiddler load of both the requests.

**.Net framework working payload**
POST ... HTTP/1.1
MIME-Version: 1.0
Con

[2022-05-23 20:36] #4789 closed

[2022-05-25 23:30] siraj-mansour-deltatre commented on #4414
Seeing this now on .NET 6

[2022-05-27 02:38] imcarolwang commented on #4819
I can't reproduce the problem on my side, I'm using a test service with BasicHttpBinding, transport security mode and Windows as transport clientCredentialType.

@tjaz-brelih, are you using the same client code generated by the Connected Service tool in both the work and non-work scenarios? I wonder if this is caused by a change in the WCF CS tool or the WCF package. Can you provide a standalone a

[2022-05-27 13:24] jeffreytobin commented on #4803
Hello, I'm having the same issue "RPC Message assetOwnerListRequest1 in operation assetOwnerList1 has an invalid body name assetOwnerList. It must be assetOwnerList1". I have attached the .wsdl

I was able to get code generated by another of their .wsdl files to work by removing 1 of 2 methods, but this one has too many to remove them manually.

Please let me know if you have further questions.

T

[2022-05-27 18:23] felixpelletier commented on #4766
+1

[2022-05-28 00:26] Oion71 commented on #4090
The same error on .Net 6.

\.nuget\packages\system.private.servicemodel\4.9.0\runtimes\win\lib\net6.0\System.Private.ServiceModel.dll as an Assembly. Check the FusionLogs for more Information.

[2022-05-30 10:39] tjaz-brelih commented on #4819
@imcarolwang Yes, both the work and non-work scenarios use the same client code.

Another thing to note, when adding the connected service the tool automatically adds the necessary packages to project.
In this case the tool adds the following package rules to project file:

[code]

So the additional configuration is only necessary when manually upgrading these packages to version 4.9.0.
I'm using

[2022-05-31 09:47] tim6400 commented on #3386
Thanx, that's what i did as well.

[2022-05-31 10:01] tim6400 commented on #3386
@[mconnew](https://github.com/mconnew)
I used it with concuming a wcf service with 509 certificate that install on the local machin, If i didn't add the line `client.Endpoint.Contract.ProtectionLevel = System.Net.Security.ProtectionLevel.Sign;` I wasn't able to make the call

[2022-05-31 10:05] felix-ri commented on #4831
I have the same problem.

It seems that the block with the MIME-Version and the second Content-Type is written into the preamble of the MIME Message instead of being sent in the HTTP Header (and merged with the existing Content-Type in the Header).

Also the XMLMtomWriter writes the header into what will become the Content.
https://github.com/dotnet/wcf/blob/367d64dc79a9b23acc15a3ef549996cf05e10e7

[2022-05-31 21:57] mconnew commented on #3386
@tim6400, I don't suppose you know the binding that was used? I've tried to find where this might be getting used and could only find scenarios which use full Message security. The code in this area is really difficult to grok so it sounds like I missed something. Knowing the specific scenario would help make sure that scenario is supported.

[2022-06-01 14:46] janniksam opened #4837 "Question: What do I do with ConfigureChannelFactory() and CreateChannelWithIssuedToken() in netstandard20?"
I am trying to migrate a project from .NET Framework 4.8 to .NET Standard 2.0 right now.

With the newest nuget packages "4.10.0-preview1.22261.2" I'm getting very close of getting rid of all the errors right now, there are two errors left in my code in the following method:

[code]

Apparently both `ConfigureChannelFactory` and `CreateChannelWithIssuedToken` are part of the `Microsoft.IdentityMod

[2022-06-05 20:23] mtraudt-qontigo commented on #4464
@mconnew Can  you give an update on the timeline for supporting IWsdlImportExtension in CoreWCF? Also IServiceContractGenerationExtension and IOperationContractGenerationExtension. We have a service that uses these features that we would like to port to CoreWCF.

[2022-06-05 21:39] datacruze opened #4838 "Added HttpMessageHandler but ports are still in TIME_WAIT for load test"
Following this https://github.com/dotnet/wcf/issues/3230 I've managed to inject my own HttpMessageHandler from IHttpMessageHandlerFactory into the WCF client.

My EndpointBehavior looks like this:
`public class CustomEndpointBehavior : IEndpointBehavior
        {
            private readonly Func<HttpMessageHandler> _httpHandler;

            public CustomEndpointBehavior(IHttpMessageHandlerFactor

[2022-06-05 21:39] datacruze commented on #4838
@mconnew any insights?

[2022-06-06 16:44] fforjan commented on #2535
@StephenBonikowsky this is a useless github project, there is no communication from anyone.
@HongGit  after being tag by so many people in this thread has denied any commutation.

[2022-06-10 01:59] hatzhang opened #4840 "ChannelFactory construct with configuration name throws PlatfromNotSupported exception"
I have the following config files on the client side.
[code]
Under net48, i can use the following code to create ChannelFactory with all the bindings and behaviours, the endpointConfigurationName is specified in WCFClients.config.
[code]
But when run under net5, i got this PlatfromNotSupported exception.
So what's the right way to construct ChannelFactory with these configuration files under net5/

[2022-06-14 11:11] petarpetrovt commented on #4828
I have the same problem. Instead of `CreateCertificateOverTransportBindingElement` the client binding is generated with `CreateUserNameOverTransportBindingElement`.

Binding (Server)
[code]

Configuration (WcfTestClient)
[code]

Generated (Client)
[code]

[2022-06-15 05:15] ffruylan03 opened #4842 "BUG: Could not load type System.ServiceModel.Description.IWsdlExportExtension from assembly System.ServiceModel"
I have created a .NET framework 4.8 library class where I access and manipulated the WSDL service. And created a Unit Test for that service with the same .NET framework 4.8 and it work's well. Now, I have an existing .NET 5 framework (ASP.NET CORE) project and I reference this service (.NET framework service), and when I access the method in it I always get an error message:

`System.TypeLoadExcep

[2022-06-15 11:19] kentkost commented on #2992
I would like to have this issue reopened reopen. I have a similar issue when I upgrade System.ServiceModel.Http from 4.4.4 to 4.5.0.

It's a service that implements a third party SOAP API.

The client implementation:
[code]

The exception I get when I now call any endpoint is the following:
[code]

![billede](https://user-images.githubusercontent.com/14237820/173814293-7714f593-6adf-403b-926c-bd74

[2022-06-16 09:03] HekunX opened #4844 ".net wcf digest performance problem"
**Describe the bug**
it is very slow to remote call onvif  in .net6 but fast in .net472.
**To Reproduce**
Steps to reproduce the behavior:
[code]

**Additional context**
OS:Winodws11
SDK:.Net6

[2022-06-16 20:26] HongGit commented on #4844
@mconnew could you please comment?

[2022-06-16 20:35] HongGit commented on #4830
@Teugata this seems to be the same as .NET Framework.  can you please try https://justsimplycode.com/2019/11/02/disable-header-100-continue-in-net-core-wcf-client/ to modify the content-type header after the response being received?

[2022-06-16 20:43] #4827 closed

[2022-06-16 20:47] HongGit commented on #4842
@ffruylan03 we don't support IWsdlExportExtension as that is server side capability, this WCF Core repo is a client library.

Best option is to multi-target your code and use conditional compilation to exclude this functionality when building for .NET 5.0.

[2022-06-16 20:47] #4842 closed

[2022-06-16 20:50] HongGit commented on #4840
@hatzhang please check out https://github.com/twsouthwick/ServiceModel.Configuration, which is use your best bet.

[2022-06-16 20:50] #4840 closed

[2022-06-16 22:28] mconnew commented on #4844
I have a suspicion of what's going on here, but I'll need you to capture the requests using Fiddler to verify. On .NET Framework we set HttpWebRequest.PreAuthenticate to true, and on .NET Core we set HttpClientHandler.PreAuthenticate to true. My understanding is that they have subtly different behaviors. This is from memory of an issue I investigated a few years ago which is why it needs to be val

[2022-06-16 22:50] mconnew commented on #4837
Until we add the api, there is a way to do this, but it does require quite a bit of boiler plate code. You need to have a custom derived ClientCredentials class, which will provide a custom ClientCredentialsSecurityTokenManager, which will provide a custom SecurityTokenProvider which will return a custom SecurityToken which will hold your issued token. There's a lot of details in that brief descri

[2022-06-17 01:31] HekunX commented on #4844
Sorry,Different time zones.

[2022-06-17 01:36] HekunX commented on #4844
Ok!I will use wireshark to test right now.

[2022-06-17 02:08] HekunX commented on #4844
### Enable Digest Auth
#### Net6
![image](https://user-images.githubusercontent.com/52776319/174206501-6ec32887-1a3c-4d5c-98d4-5c01adac1c84.png)
[code]
#### Net472
![image](https://user-images.githubusercontent.com/52776319/174207381-bcf79ccc-fdce-4a9b-a098-e021341e0175.png)
[code]
### Disable Digest Auth
#### Net6
![image](https://user-images.githubusercontent.com/52776319/174207956-6c66c2be-c2e2

[2022-06-17 02:34] HekunX commented on #4844
I download source code to debug and find this.
### the first request
![image](https://user-images.githubusercontent.com/52776319/174212385-483571c9-8965-4c6e-800c-74c35e43cd4a.png)
![image](https://user-images.githubusercontent.com/52776319/174212872-2f6a5fca-ea8d-4883-9936-aaf3a179d88b.png)
it cost not more than 1.5 seconds in network.
### the next request
![image](https://user-images.githubuserc

[2022-06-17 02:51] HekunX commented on #4844
![image](https://user-images.githubusercontent.com/52776319/174215156-84382198-87da-4889-8796-a810ca8c9e95.png)
It will be normal if add this to source code.
[code]

[2022-06-17 21:52] mconnew commented on #4844
This means the HTTP server on the camera isn't fully compliant with the HTTP/1.1 spec. When an Expect header is sent the body isn't initially sent. It's supposed to reply with a `100 Continue` response after which the client will send the request body. To account for non-compliant servers, the http client will send the body anyway if it hasn't received the `100 Continue` response within a certain

[2022-06-18 08:29] HekunX commented on #4844
It works.Thanks a lot!

[2022-06-18 08:29] #4844 closed

[2022-06-18 11:05] janniksam commented on #4837
I tried to copy everything from the current .NET Framework 4.5(?) Microsoft.IdentityModel implementation but I quickly came to the conclusion that it's way too much to copy and stopped the approach. (especially if you don't know what you're doing ;-)

It's not time-sensitive, it's just that it's the only thing, that's holding our companies application service back from being ported from WCF to GRP

[2022-06-21 08:25] zFAdler commented on #2727
We found some more information on this topic. We got a similar issue with using nullable types but on reproduction we noticed the following behavior:

Generating with the DataContractSerializer:
- Arrays don't get unwrapped as you mentioned
- Nullable types get unwrapped correctly

Generating with the XmlSerializer:
- Arrays get unwrapped properly
- Nullable types don't get unwrapped in a similar

[2022-06-24 03:45] HongGit commented on #4829
@brewfreedom thanks for your feedback!

Do you have any particular issue you would like to raise with us?

[2022-06-24 03:51] HongGit commented on #4606
This should have been fixed in the latest version of dotnet-svcutil.exe and WCF Connected Services.

Feel free to reactivate if this is not the issue.

[2022-06-24 03:51] #4606 closed

[2022-06-24 03:53] HongGit commented on #4387
@imcarolwang,  can you please verify whether these new versions are already included?

[2022-06-24 03:54] HongGit commented on #4736
The change is in, waiting to release soon.

[2022-06-24 03:56] HongGit commented on #4818
@johanskoldekrans  does this behavior repro on .NET framework?  If not, is it possible for you to share a simple repro with us?

[2022-06-24 03:57] #4807 closed

[2022-06-24 03:57] HongGit commented on #4807
Feel free to reactivate if the issue still persists and a simple repro is provided.

[2022-06-24 04:04] HongGit commented on #4785
@abannsunny  have you tried to use svcutil.exe on your project before upgrade to .net 4.8?  I am wondering whether this is a regression from .NET framework or not.

A bit background, svcutil.exe ships with Visual Studio, as .NET SDK, it's generally used for .NET framework project.  dotnet-svcutil.exe is targeting .NET Core or SDK style project.

[2022-06-24 04:07] HongGit commented on #4770
@swk1986 does this issue repro on .NET framework with svcutil.exe?

[2022-06-24 12:04] brewfreedom commented on #4829
Nope. Just looking at the assembly reference reuse bug in svcutil 4829 which I assume is the same as this that has been sitting out there a long time. https://github.com/dotnet/wcf/issues/4277

[2022-06-27 09:55] johanskoldekrans commented on #4818
`[CmdletBinding()]
Param(
    [switch]
    $BaseServices,

    [switch]
    $Services,

    [switch]
    $ValidationEngineServices
)

function Write-Bar()
{
    Write-Host
    Write-Host "******************************************************" -ForegroundColor White
    Write-Host
}

function Generate-Services($serviceCategory)
{
    $serviceListFilePath = "$PSScriptRoot/_ServiceLists/"

    Switc

[2022-06-27 17:57] benken-parasoft opened #4850 "regression in default values for listenBacklog and maxConnections"
**Describe the bug**
In a .NET WCF client/service configuration file, netTcpBinding has various configuration attributes including listenBacklog and maxConnections. If you were to omit these two attributes from the netTcpBinding/binding element then default values should be used which is supposed to be 10 as correctly stated in the docs (not a docs issue):
https://docs.microsoft.com/en-us/dotnet/a

[2022-06-27 20:45] mconnew commented on #4850
This is the wrong place to raise an issue with .NET Framework. The about text for this repo says:

The first sentence of the readme.md file on the repo home page says:

Having said that, I'll response and then close the issue.

What you are examining is the configuration object model for WCF, which then gets applied to a binding instance. In this case the class `System.ServiceModel.Configuration.N

[2022-06-27 20:45] #4850 closed

[2022-06-27 22:53] benken-parasoft commented on #4850
Thank you, Matt.  I could not find an answer or explanation anywhere else.  Now, I managed to get the attention of Microsoft's WCF/SOAP guy.  :)

My apologies.  On the .NET community support forum, I attempted to get an answer for "correct place" among other things but was going nowhere fast.  This looked like the closest place to report something against System.ServiceModel API as opposed to .NET

[2022-06-29 04:36] thuannguy opened #4854 "Another question about WCF Core and MutualCertificateBinding"
Per https://github.com/dotnet/wcf/issues/4659, the MutualCertificate binding is not supported yet.

This is how source code looks like today:

<img width="780" alt="image" src="https://user-images.githubusercontent.com/395484/176351850-fbd4292d-157a-4d52-8c23-72b7a87fd278.png">

@mconnew replied that " unfortunately due to missing dependencies we can't yet support full Message security which is ne

[2022-06-29 17:07] mconnew commented on #4854
[Here's a comment](https://github.com/dotnet/wcf/issues/3424#issuecomment-858928526) I wrote answering a similar question. Let me know if you have more questions beyond that.

[2022-06-30 01:55] imcarolwang commented on #4387
In PR #4650 we added support of net5.0-* and net6.0-* targets, the code has been merged so the next release of dotnet-svcutil and WCF Connected Service tool should support project types such as `net6.0-android` , `net6.0-ios`, `net6.0-windows`.

[2022-06-30 03:21] thuannguy commented on #4854
Thank you for the swift reply.  That StrTransform is definitely a troublesome one.

When studying how the StrTransform was done in .NET Framework, I thought the StrTransform class was where I needed to look at. It was not until I could debug into .NET Framework code that I figured out where the cheat was. 😢
It doesn't seem to me that Microsoft.IdentityModel.* has support for StrTransform. Btw, it

[2022-06-30 03:55] wp0372176 opened #4855 "where is NetTcpBinding.MaxConnections in System.ServiceModel.NetTcp ?"
**Describe the bug**
1) in .net framework ,  can
           var binding = new NetTcpBinding(SecurityMode.None)
            {
             // can share TCP connection
                MaxConnections = 4096,
            }

2)  but in  System.ServiceModel.NetTcp             , NetTcpBinding.MaxConnections   not exists.

  so  in  high concurrence  case .  after  1-3 minutes,     throw  exception

[2022-06-30 09:25] tehZeno commented on #2999
Getting the exact same issue here. Found a workaround?

[2022-06-30 15:00] akoeplinger commented on #4387
@imcarolwang the code hardcodes net5.0 and net6.0 though so it'll break again on net7.0: https://github.com/dotnet/wcf/blob/88c3d3959b19d21df7699edae09eed1ec15b8e09/src/dotnet-svcutil/lib/src/Shared/MSBuildProj.cs#L163

[2022-07-07 21:22] mconnew commented on #4855
You can do this instead:
[code]
The property `NetTcpBinding.MacConnections` is just an alias for setting `TcpConnectionPoolSettings.MaxOutboundConnectionsPerEndpoint` on the `TcpTransportBindingElement` that `NetTcpBinding` uses.

[2022-07-09 22:01] solunicansu commented on #2535
I would love to see this as well. Our .NET 6 web applications need to talk to local 3rd party services using NetNamedPipeBinding. Using httpbinding or net.tcp is not possible and not desired. We've been very happy so far with named pipes and in the process of migrating apps from WPF to Blazor web applications. However, we still need to talk so such services via named pipes which is currently block

[2022-07-12 22:13] fforjan commented on #2535
@HongGit  do you plan to have any preview too of this as we already have some .net 7.0 preview release ?

[2022-07-13 07:54] thuannguy commented on #4837
Just in case anyone has the same need: I can confirm that this workaround works. I managed to make such an implementation a couple of months ago. Code itself is not too complex. The hard part is at reading through WCF source code and understanding how those classes work.

[2022-07-13 08:01] #4854 closed

[2022-07-13 12:41] onefreddy commented on #4746
any news?

[2022-07-14 00:53] wp0372176 commented on #4855
It's  OK           thank you very much

[2022-07-14 11:07] tavisca-mnamdeo commented on #4291
Hi @HongGit ,
Good afternoon.
I am getting the same issue.
I have WCF SVC created in .net 4.61 project.
When I amtrying to add referance in .net core project I am getting following error:

Importing web service metadata ...
Scaffolding service reference code ...
Number of service endpoints found: 0
ErrorNo code was generated.
If you were trying to generate a client, this could be because the metad

[2022-07-14 14:54] dalibor-sanzeru opened #4860 "Getting timeout exception when calling HttpClientCredentialType.Windows from linux against windows hosted WCF."
Client calls WCF server which uses BasicHttpBindig:
[code]

Calls from WINDOWS->WINDOWS machine pass and data are returned.
Calls from LINUX (DOCKER) -> WINDOWS machine timeouts with following message:

.NET CORE 3.1.4

_The request channel timed out attempting to send after 00:01:00. Increase the timeout value passed to the call to Request or increase the SendTimeout value on the Binding. The tim

[2022-07-15 00:35] mconnew commented on #4746
@onefreddy, news about what? We shipped a fix for this issue last year. You need to be using the latest package versions.

[2022-07-18 21:09] HongGit commented on #4830
Close this issue due to no response.

Feel free to re-open if the issues persist after above suggestion.

[2022-07-20 18:26] BillVelasquez commented on #4589
I see this Issue is closed, but SecurityAlgorithmSuite.Basic256Sha256Rsa15 is not included yet. Anybody knows a workaround?

[2022-07-20 23:35] brianwaynerogers commented on #3424
@mconnew
This is a pain point for me, b/c I have one WCF dependency where the service, which I do not control, is using Message security, so I have to still support a client running .NET Framework.  I know this issue blocked, and you have recently referenced your comment above on the status, but I wanted to let you know that if you find a way to get this done, it will be appreciated, for whatever

[2022-07-21 21:57] mconnew commented on #4589
@BillVelasquez, did you read my comment here: https://github.com/dotnet/wcf/issues/4589#issuecomment-858939698

[2022-07-22 12:37] simhi88 commented on #4674
@mconnew : Are there any updates regarding that issue here? We would also like to migrate from .Net48 to .Net6 and need to use the WSTrustChannelFactory / WSTrustChannel.

[2022-07-22 17:22] BillVelasquez commented on #4589
@mconnew yes I red the comment, but Basic256Sha256 is not implemented in  Net6 neither.

This is the code for binding to the service that works in Net Framework 4.5 :

[code]
I think is the same problem that @weimaryn and @waguirre are facing for colombian e-invoicing platform, that is built with .Net Framework also.

[2022-07-25 19:54] weimaryn commented on #4589
Hi @BillVelasquez, I have tested my code again in .NET 6 and it worked fine for `SecurityMode.TransportWithMessageCredential` with `SecurityAlgorithmSuite.Basic256Sha256`. It´s important update all NUGET packages to latest version, in my case I´m using the version `4.9.0` for `System.ServiceModel.Security, System.ServiceModel.NetTcp, System.ServiceModel.Http, System.ServiceModel.Federation and Sys

[2022-07-28 05:26] GauravDivate opened #4863 "How to achieve Custom Binding with Mutual Certificate"
Hi,

I have been tasked with the upgrade of one of our solution to .NET 6. I did some analysis on this solution and
was able to see that there are different mode of authentication modes being used along with different types of bindings
to consume SOAP Services.

One of the binding that is currently is used CustomBinding with the AuthenticationMode as “MutualCertificates” as shown in
Web.Config bel

[2022-07-28 07:24] DecimatorZA commented on #4105
Hi all,

Any update on this?

I recently ran into the same issue as described by the OP.
I have an enum WCF reference and instead of the enum's retaining their original values, they get assigned their index values.

Say we have an enum: ProdRoute = 33 and its 15th in the list of enums, when referenced the value is 14 and not 33.

This is causing our third party integrations to send through the inc

[2022-07-28 07:53] imcarolwang commented on #4105
Hi @DecimatorZA , before a solution to this problem getting available you can try a workaround to apply [flags] attribute to the enum property. Hope it helps.

[2022-07-29 07:26] dineshkvp opened #4864 "Header is not passed with System.ServiceModel.Primitives channel factory"
I have a legacy WCF service with custom binding. I want to invoke this service from a .Net Standard 2.0 client. I have added nuget packages system.servicemodel.primitives, system.servicemodel.security and system.servicemodel.security. Below is my channel factory setup

var binding = new CustomBinding();
        var security = SecurityBindingElement.CreateUserNameOverTransportBindingElement();

[2022-07-30 03:22] dev-crisloli commented on #31
Hi, I dont understand this solucion inject head. Please if you can example. Mi code is Next:

`               BasicHttpBinding binding = new BasicHttpBinding(BasicHttpSecurityMode.TransportWithMessageCredential);
                binding.Security.Transport.ClientCredentialType = HttpClientCredentialType.None;
                binding.Security.Transport.ProxyCredentialType = HttpProxyCredentialType.N

[2022-07-30 18:36] dzambo2302 commented on #3424
@brianwaynerogers
The same situation over here.

[2022-08-01 17:09] attitudemattrs opened #4866 "Question: Help needed to add a SAML token to my soap request header for the web service call..."
Hi,

I have been tasked with upgrading our C# .NET 4.5 WS client application to C# .NET 6.  Thus far I have been able to successfully get a SAML token from the STS, but can find no way to insert the SAML token into the request header.  I attempted to use WSFederationHttpBinding for both the STS call and the WS call, but I was unable to get that working correctly.  After several days of trying, I a

[2022-08-01 19:05] attitudemattrs commented on #4866
Looks like I've finally been able to accomplish it using the method described here:

https://docs.microsoft.com/en-us/dotnet/framework/wcf/samples/saml-token-provider

The implementation of the SAML Token Provider classes I used are shown below:

-----------------------------------------------------------------------------------------
using System.IdentityModel.Selectors;
using System.IdentityMode

[2022-08-01 19:05] #4866 closed

[2022-08-02 10:49] mhoermann opened #4867 "New Service Reference with .net 6 defined in Directory.Build.props-File not working"
Hi,

when I want to add a new "WCF Web Service" reference in a .net 6 solution I get an error when the target framework is defined in the Directory.Build.props-file and not in the project file.
When I define the target framework in the project file, the wizard actually works.

Please, look at the attachments for further details.
![1](https://user-images.githubusercontent.com/18574569/182357290-499

[2022-08-02 21:26] miguelius opened #4869 "svcutil throws System.ComponentModel.Win32Exception while starting application on ubuntu 20"
svcutil throws System.ComponentModel.Win32Exception while starting application on ubuntu 20. The root cause is a permission denied while trying to run some file in /tmp directory.

Unhandled exception: System.ComponentModel.Win32Exception (13): An error occurred trying to start process '/tmp/dotnet-svcutil-lib_Temp/2022_Aug_02_18_12_28/SvcutilBootstrapper/bin/Debug/net6.0/SvcutilBootstrapper' with

[2022-08-04 02:26] imcarolwang opened #4870 "dotnet-svcutil not reusing netstandard types in wcf client code generation"
dotnet-svcutil will generate types such as `TargetNameSpace.HttpStatusCode` if service contract referenced to `System.Net.HttpStatusCode`, type HttpStatusCode is now part of netstandard2.0 and dotnet-svcutil-lib.dll is already targeting to netstandard2.0, we should reuse existing types of .NetCore platform instead of generating new one.

[2022-08-05 01:34] mconnew commented on #4326
@angas, I found the problem and have a PR to fix the issue.

[2022-08-11 06:52] drlivsi commented on #4766
+1

[2022-08-11 18:38] Havunen opened #4877 "Improper Restriction of XML External Entity Reference [System.Security.Cryptography.Xml]"
Overview
Affected versions of this package are vulnerable to Improper Restriction of XML External Entity Reference during the XML signature verification process.

Remediation
Upgrade System.Security.Cryptography.Xml to version 4.7.1, 6.0.1 or higher.

-> System.ServiceModel.Primitives@4.9.0
|-> System.Private.ServiceModel@4.9.0
|--->System.Security.Cryptography.Xml@5.0.0
|------> Fixed in: System.

[2022-08-12 05:42] angas commented on #4326
This is really good news. Thank you!

[2022-08-12 12:40] mbpframework opened #4880 "How to set proxy in CoreWCF Client when use BasicHttpBinding"
**Describe the bug**
In a  ASP.NET Core project, when I use wcf client  and set webproxy ,however it dont's work.

**To Reproduce**
I use the demo in this link [https://github.com/CoreWCF/samples/tree/main/Scenarios/Logging-and-Dependency-Injection](url)

Before creating a WCF client, I set the webproxy use the follwing code :
`
            var webPro = new WebProxy("ProxyAddress");
            we

[2022-08-12 13:27] mbpframework commented on #4880
WebRequest.DefaultWebProxy = webPro;  => HttpClient.DefaultWebProxy = webPro;

[2022-08-12 13:27] #4880 closed

[2022-08-14 15:00] ferrarimartin commented on #3512
I'm facing the same issue. Generated Reference.cs file is > 1 million lines. This  causes timeouts at runtime at the time of compiling the serializers. Also, dotnet-svcutil.xmlserializers runs out of memory, so it's not possible to generate the serializers at compile time, though this last part is probably a separate problem.

[2022-08-15 13:56] stephen-swensen opened #4881 "Could not load type 'System.ServiceModel.Description.IWsdlExportExtension' from assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'"
I have a 3rd party DLL that was built for .NET Framework 4.x that I am trying to reference from a .NET 6 app that is throwing the following exception:

[code]

I've added references to all of the `CoreWCF` and `System.ServiceModel` nuget packages but the issue remains. Is there any hope?

Thanks!

[2022-08-15 15:08] stephen-swensen commented on #4881
Closing, meant to ask this over at https://github.com/CoreWCF

[2022-08-15 15:08] #4881 closed

[2022-08-15 18:42] mconnew commented on #4484
Fixed in #4865

[2022-08-15 18:42] #26 closed

[2022-08-15 18:45] #4484 closed

[2022-08-15 21:20] #4326 closed

[2022-08-15 23:15] mconnew commented on #4771
@bogatykh, it's not an issue in corefx. I checked the result from `ReadAsStringAsync` and the spaces are there. I also tested the repro from above on NetFx and the spaces are missing on NetFx too. I reduced the problem down to something which didn't require a running service and was able to repro the issue, and I get the same behavior on NetFx and Core.
[code]
Because this isn't a regression, this

[2022-08-16 19:36] vgregoirecoveo commented on #4827
I am currently updating to .NET6 an app that uses authentication scheme negotiation. How would you emulate the behavior without having to rewrite everything?

[2022-08-17 03:24] HongGit commented on #4785
Closing due to no response.

Feel free to reactivate if above question is answered.

[2022-08-17 03:40] #4472 closed

[2022-08-17 17:30] mconnew commented on #4826
I presumed this was a regression from .NET Framework, but after comparing the code with .NET Framework, I checked what the behavior is on .NET Framework with a test app and this is the same behavior as for .NET Framework. Changing this behavior could break existing apps. If someone is accidentally depending on the default behavior of ConcurrencyMode.Single but have a base class specifying Multiple

[2022-08-18 20:49] HongGit commented on #4864
@dineshkvp  could you please share the implementation of AddHttpHeaderMessageEndpointBehavior with us?

[2022-08-18 20:54] HongGit commented on #4863
Please see issue #4220.

[2022-08-18 20:54] #4863 closed

[2022-08-18 20:59] HongGit commented on #4860
@dalibor-sanzeru could you please try to make sure that your linux machine is domain joined and kerberos is setup correctly or use NTLM which does not require kerberos.

[2022-08-18 21:01] HongGit commented on #4830
Reactivating for further investigation.

[2022-08-18 23:59] mconnew commented on #4877
We will update this, but FYI WCF client isn't vulnerable to this issue. I examined the problem the fix addresses and the WCF client doesn't have the vulnerable scenario. Basically, we never use SignedXml to verify a signature on a received message, we only use it to sign a security header on an outgoing message and the entire payload for that is generated by WCF. The only purpose for WCF to updati

[2022-08-19 05:04] Havunen commented on #4877
Good to hear, thanks! :)

[2022-08-19 06:03] mconnew commented on #4877
FYI there will be a small delay on this as we missed updating all our dependency versions in our last release so I want to evaluate and update everything to the latest version at once.

[2022-08-19 14:47] Montago commented on #2205
This isn't working for me..

I've tried adding it to the JSON file and then refreshing via the GUI -- didnt work
I've tried adding it and then updating the SVC via the dotnet-svcutil -- didnt work

[2022-08-19 15:01] Montago opened #4887 "dotnet-svcutil ignores most of the settings"
I've used the Visual Studio 2022 wizard to add a connection to my WCF service.
I've SPECIFICALLY chosen **ObservableCollection** as collectiontype as well as Dictionary.
The generated collections are **ARRAY**

I NEED the DataContracts to have the **INotifyPropertyChanged** implementation, so i added the option to the json.
This is IGNORED.

I've tried using the tool from CLI and add the options b

[2022-08-19 19:43] dspear commented on #4826
Well, I was definitely getting an error in code that worked fine in .Net Framework 4.8, which was related to this. I did fix it by putting the behavior in the most derived class. I don't know for sure if the actual CallbackBehavior attribute in .Net Framework was different, or if the threading issues are different, where a sequence that caused an error with one CallbackBehavior in .Net 6 did not c

[2022-08-20 09:05] Montago opened #4888 "Documentation missing"
The CLI has a "-help" feature and this Repo has >some< documentation .. but overall I'm missing documentation

- What are the accepted inputs of --TargetFramework ? is it .NET6, NET6, 6, Framework472, netframework etc .. a complete list would be very useful.

- What are the accepted input of --outputFile .. should i give a complete path or just a filename ?

**error NETSDK1136: The target platform

[2022-08-22 06:34] Montago opened #4890 "System.Security.Cryptography.Cng error when trying to add WCF service to .NET6 project"
I'm using Visual Studio 2022 17.3.1

And I'm getting a series of errors regarding System.Security.Cryptography.Cng when trying to add a WCF service to my WPF .NET6 project.

I'm unsure if this is a WCF error or Visual Studio error - I'm guessing the errors come from the dotnet-svcutil so therefore i report it here.

[code]

[2022-08-22 10:31] hoerup opened #4891 "System.ServiceModel.Http v4.10"
**Describe the bug**
While trying to update to System.ServiceModel.Http  v4.10.0 we now get this new warning (and since our pipelines runs with warnaserror this breaks the pipeline)

error CS0108: '`OurServiceNameClient.CloseAsync()`' hides inherited member `'ClientBase<IOurServiceName>.CloseAsync()'`. Use the new keyword if hiding was intended.

We have tried to regenerate the client client, even

[2022-08-22 14:00] marhoi commented on #4891
Same problem here but with System.ServiceModel.Primitives v4.10.0. Same underlying issue though - WCF 3.4.0 (https://github.com/dotnet/wcf/pull/4865 I guess). Manually adding "new" to a auto generated client class does not feel right.

[2022-08-22 21:34] HongGit commented on #4891
The workaround is to delete the `OurServiceNameClient.CloseAsync()`, and the fix is to fix dotnet-svcutil not to generate '`OurServiceNameClient.CloseAsync()`'.

[2022-08-24 03:26] HongGit commented on #3550
@imcarolwang can you please try using the simple repro on .NET Core and .NET framework?

[2022-08-24 03:34] #4870 closed

[2022-08-24 04:00] imcarolwang commented on #4828
1. dotnet-svcutil now generates WSHttpBinding instead of Custombinding with these changes in: https://github.com/dotnet/wcf/pull/4774/commits
2. custom binding hard coded generation of CreateUserNameOverTransportBindingElement , PR #4843 addresses it

[2022-08-24 08:53] imcarolwang opened #4892 "Consider using System.CommandLine package to parse dotnet-svcutil arguments"
Address the `Additional remarks` of https://github.com/dotnet/wcf/issues/4705#:~:text=nologo%20%2D%2Dverbosity%20Verbose-,Additional%20remarks,-The%20short%20forms :

The short forms of the parameters/commands are very hard to see. The standard is to display short form|long form explanation, for example -d | --outputDir <directory> - Directory to create files in.
I would suggest using the [Sytem.C

[2022-08-24 09:00] imcarolwang commented on #4705
Fix of the confusing `--projectFile option` issue is merged, the upcoming release should contain the fix.
Regarding the additional remark in this issue description, we'll track in issue #4892.

[2022-08-24 09:00] #4705 closed

[2022-08-25 06:10] imcarolwang commented on #4161
Hello @gt5700, is it possible for you to provide a simplified WSDL file that could reproduce this issue?

[2022-08-25 06:38] imcarolwang commented on #4890
@Montago I couldn't reproduce the error on the latest version of VS2022 (currently 17.3.2), can you try to upgrade VS and retry? If issue persist, can you provide a standalone repro project?

[2022-08-25 07:14] Montago commented on #4890
@imcarolwang  My problem might be that the project is upgraded from .NET Framework 472 to .NET6

I just wanted to report the error in case is was something obvious i should do.

[2022-08-25 12:17] gt5700 commented on #4161
Hi @imcarolwang,
 It's been a while since I looked at this, so I'm not 100% sure if I have reported something that is comparing apples with apples. I've been trying to replicate the use of the old .NetFramework vs the .NetCore "svcutil" utilities, and they appear to be working virtually identically.

 I've got a feeling I've actually reported a difference between the old wsdl.exe utility and the "

[2022-08-26 05:02] thuannguy opened #4895 "A way to set WSTrustChannelSecurityTokenProvider.ClientCredentials"
The WsTrustRequest  object and its serializer has supports for many request elements that I need, but the WSTrustChannelSecurityTokenProvider provider does not have many of them set. Thus, I need to customize content of the WsTrustRequest object and the only way to do that is to derive from the WSTrustChannelSecurityTokenProvider and override the CreateWsTrustRequest method:

<img width="581" alt=

[2022-08-26 05:07] thuannguy commented on #4895
Created using a wrong template! Close.

[2022-08-26 05:07] #4895 closed

[2022-08-26 05:09] thuannguy opened #4896 "A way to set WSTrustChannelSecurityTokenProvider.ClientCredentials"
The WsTrustRequest  object and its serializer has supports for many request elements that I need, but the WSTrustChannelSecurityTokenProvider provider does not have many of them set. Thus, I need to customize content of the WsTrustRequest object and the only way to do that is to derive from the WSTrustChannelSecurityTokenProvider and override the CreateWsTrustRequest method:

<img width="581" alt=

[2022-08-26 06:39] imcarolwang commented on #4770
Current release of the tool has limited support of DataTable type serialization, more details: https://github.com/dotnet/wcf/issues/3712#:~:text=Essentially%20what%20happens,handle%20it%20correctly.

[2022-08-26 06:41] imcarolwang commented on #4105
Current release of the tool has limited support of DataTable type serialization, more details: https://github.com/dotnet/wcf/issues/3712.

[2022-08-26 15:34] MarcoMedrano commented on #4277
Hi, I have the same issue trying to add more than a service on the same project, *dotnet-svcutil* does not realize the previous types added, not even using **--reference** pointing to the same project or pointing to the compiled assembly.

**SDK:** net6.0
## Steps to reproduce
[code]
* delete the **src** folder.
* Use the **generate.ps1** which generates for 4 endpoints sharing messages.
* **dotne

[2022-08-29 07:25] slavenl opened #4897 "WCF client throw System.ServiceModel.FaultException "Data is still referenced.""
Hi,
I have following problem.
Before one month I created WCF service client via "Connected services" with default parameters (only - I additionally added "Generate synchronized methods" in wizard). Code was generated with System.ServiceModel.xxxx libraries v4.9.0.
Target framework was .net 6.0 (Vs2022 v17.2.6).
My WCF client was called via WebApi project (Swashbuckle.AspNetCore v6.3.1) **and** via

[2022-08-29 11:26] #4897 closed

[2022-08-30 03:09] imcarolwang commented on #4502
Hi @jangaehler sorry for the late response, to add a message header in a client request, you can refer to answer of this stackoverflow question link: https://stackoverflow.com/questions/56768566/adding-message-header-to-request. Hope this helps.

[2022-08-30 03:27] imcarolwang commented on #4890
@Montago thank you for reporting the error! Could you provide the repro steps or a standalone repro project? That will be of great help in investigating the root cause of the problem.

[2022-08-31 08:32] imcarolwang commented on #4888
Hi @Montago,
- any framework name listed as valid style of .NET Core and .NET Standard TFM at https://docs.microsoft.com/en-us/dotnet/standard/frameworks#supported-target-frameworks should apply for the tool option --TargetFramework.
- for --outputFile option, the tool accepts both filename (treated as relative path to current dir) and complete file path.
- if supplying both --outputDir and --outp

[2022-08-31 08:46] imcarolwang commented on #4387
Address in PR https://github.com/dotnet/wcf/pull/4893 which is under review.

[2022-08-31 21:36] HongGit commented on #4785
@abannsunny could you please try to create a new c# project to add the service reference, then source include the generated file in your intended project?

Please use above suggestion as a workaround when we are investigating a solution.

[2022-09-01 01:38] jacobjmarks opened #4901 "`dotnet-svcutil` generates incomplete client classes when providing multiple WSDL services"
**Describe the bug**
When attempting to generate a single C# service client reference for more than one WSDL spec - **for the purposes of type reuse** - all but _the last_ service client class contains missing elements. See details below.

**To Reproduce**
Please find below a sample project which demonstrates this issue.
https://github.com/jacobjmarks/dotnet-svcutil-issue-demo

Contained within th

[2022-09-01 13:57] LarsCelie commented on #4766
Just ran into this issue as well. Would be nice to have a net6 compatible version.

[2022-09-01 14:50] Skoucail commented on #4837
@thuannguy

Any chance you have the code available somewhere?
I'm trying to get claims with WS-Trust from a federated ADFS setup.
This means I request a SymmetricKey from ADFS1. And then pass the token I received to ADFS2 to receive a BearerKey.
In the old code we used CreateChannelWithIssuedToken. But from what I can find this isn't provided yet.

[2022-09-02 23:16] bkindersleytrulioo opened #4902 "sync call hangs when it follows an async call (asp.net core application)"
we recently converted an asp.net core application to act as a nettcp wcf client (it was proxying through a REST api before)

we encountered a problem when a sync call follows an async call: the sync call times out, despite finishing quickly on the server side.

i found a few (relatively old) posts online that describe a similar problem:
https://aloiskraus.wordpress.com/2018/07/01/why-does-my-synch

[2022-09-03 20:02] ragoso commented on #4766
+1

[2022-09-05 06:17] thuannguy commented on #4837
@Skoucail Perhaps this can help? https://github.com/dotnet/wcf/issues/4866
Code that I have written is not ready yet, and it is my customers who decide if they want to publish it.

[2022-09-06 15:14] chamons opened #4903 "ProtocolException with iOS .NET 6.0 Application: The number of bytes available is inconsistent with the HTTP Content-Length header."

[2022-09-06 16:10] danmoseley commented on #4903
I think this belongs in dotnet/wcf

[2022-09-06 17:41] DuncWatts commented on #4903
Note this works fine in a .NET 6 WPF application, it's only the .NET 6 iOS build that has this issue so far. I've yet to try it on Android or MacOS.

[2022-09-06 18:54] danmoseley commented on #4903
cc @radical @steveisok since this may be iOS specific and therefore not a WCF issue - perhaps they have seen something similar.

[2022-09-06 19:00] chamons commented on #4903
Given the lack of any Xamarin iOS types in the stack is the reason I bounced it over to the runtime at first.

[2022-09-06 19:04] chamons commented on #4903
I just checked, and this works fine on macOS Desktop with NET6.

[2022-09-06 19:05] chamons commented on #4903
[This](https://github.com/dotnet/wcf/blob/main/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpResponseMessageHelper.cs#L218-L228) appears to be the location of the exception.

[2022-09-06 19:11] steveisok commented on #4903
@simonrozsival Please give this a look and see if you can find anything.

[2022-09-07 10:18] imcarolwang commented on #3550
@WebDucer sorry for the late response. I am not sure if it is still an issue to you. I found the problem lies in the imported XSD file, I think the tool couldn't correctly parse the namespace had caused the problem.

In https://secure.umweltbundesamt.at/ebsws/FetchService?wsdl, observe tns definition as below:
![image](https://user-images.githubusercontent.com/14886586/188852585-542a0bb8-0e1d-4a5f

[2022-09-07 11:03] JellyFlex commented on #4161
I'm experiencing the same issue, both when using the CLI tool and with Visual Studio SvcUtil integration for VS2022/.NET 6.

[2022-09-08 08:39] simonrozsival commented on #4903
I managed to reproduce the issue locally. When the exception that @chamons pointed out is throw, the state is:
- `bytesRead == 0`
- `_contentLength == 348`
- `offset == 325`
- `count == 23`
- `buffer` contains 325 bytes corresponding to a UTF-8 encoded string `<?xml version="1.0" encoding="utf-8"?><soap:Envelope ...</soap:Envelope>`

The raw HTTP response is:

[code]
As far as I can tell the actua

[2022-09-08 09:40] DuncWatts commented on #4903
@simonrozsival I've added a WPF .NET 6 application to my example that isn't throwing a ProtocolException if that's of any help.

[WcfExampleWithWPF.zip](https://github.com/dotnet/wcf/files/9525709/WcfExampleWithWPF.zip)

[2022-09-08 09:52] DuncWatts commented on #4903
I've run Fiddler against the WPF build and in this instance it's returning Content-Length: 325 so assume it must be something in how it's making the request.

Request headers:
[code]

Response headers:
[code]

[2022-09-08 11:48] simonrozsival commented on #4903
@DuncWatts That's interesting. I ran the request a couple more times and I got three different `Content-Length` values for the same request (identical headers to yours) with a body length of 325 bytes: `262`, `325`, `348`. It seems there's something wrong with that server.

Anyway, I found a workaround that might help. If you can, add this property to your iOS project: `<UseNativeHttpHandler>false

[2022-09-09 13:45] simonrozsival commented on #4903
@karelz is the behavior of `SocketsHttpHandler` and the `HttpResponseMessage` it returns described above the expected behavior or is that a bug?

[2022-09-12 10:34] finflaex commented on #4766
+1

[2022-09-13 21:29] HongGit commented on #4864
Closing because of no response, feel to reactivate if issue persists and there is a repro app.

[2022-09-13 21:29] #4864 closed

[2022-09-13 21:34] HongGit commented on #4860
Close due to no response, feel free to reactivate if the problem persists after tying above suggestion.

[2022-09-13 21:34] #4860 closed

[2022-09-13 21:43] mconnew commented on #4903
WCF has the ability to enable modifying the HttpMessageHandler stack. There's a [blog post here](https://justsimplycode.com/2019/11/02/disable-header-100-continue-in-net-core-wcf-client/) that demonstrates how to modify the behavior of the HttpClientHandler where you can wrap it if needed. If you need to keep using the native implementation, you could wrap it with an implementation which removes t

[2022-09-13 21:46] mconnew commented on #4903
@simonrozsival, @DuncWatts, @karelz, which repo is the best place to track this? I think it's been sufficiently investigated to know this is not an issue WCF's implementation or usage of HttpClient.

[2022-09-14 08:38] simonrozsival commented on #4903
If @karelz confirms this is a bug then we should move it to dotnet/runtime.

[2022-09-14 08:45] karelz commented on #4903
@simonrozsival can you please restate what exactly is the `SocketsHttpHandler` behavior that you suspect may be a bug? (I tried to gather it from previous comment, but it was not 100% clear to me sadly :() Thanks!

If we find a bug in some component, I would recommend to create a new bug with specific details instead of this one which is IMO not super-clear at the moment. (there is of course alway

[2022-09-14 08:54] damien-r commented on #4811
Hi,
If this can help someone: I had the same issue and found it was because of the name I gave to my Service reference. Maybe it has a size limit.

[2022-09-14 08:57] simonrozsival commented on #4903
@karelz when `HttpClient` is used with `SocketsHttpHandler`, the response message's `content.Headers.ContentLength` doesn't have a value even though the HTTP response contained the `Content-Length` header. This doesn't happen when `NSUrlSessionHandler` is used instead. I think I'll just go ahead and create a new issue in dotnet/runtime with the details.

[2022-09-14 10:45] DuncWatts commented on #4903
Removing the Content-Length header using a DelegatingHandler works a charm thank you.  The previous workaround of setting UseNativeHttpHandler to false did work but triggered a lot of errors with the linker which I was struggling to resolve.

[2022-09-14 11:23] simonrozsival commented on #4903
tl;dr: The root of the problem is gzip compression of the response. The server works correctly. It's not a bug in .NET. It's possibly a bug in WCF and/or `NSUrlSessionHandler`.

@karelz I won't open any issue in dotnet/runtime after all. Sorry for the confusion 😄

---

I did some more digging and I realized that my previous conclusions were incorrect. I overlooked the fact that the response is gzi

[2022-09-14 11:24] MihaZupan commented on #4903
`wcf` shouldn't be validating `Content-Length` here, it's either redundant or just wrong.

If decompression happened, or the server returned both the content length and chunked transfer encoding, or some handler somewhere changed the content/headers, this verification logic will be wrong.

`SocketsHttpHandler` will enforce the correctness of the response content length (it has to - it's the core o

[2022-09-14 11:28] MihaZupan commented on #4903
Ah, I see you just commented that decompression was indeed the issue.
This should be fixed in wcf. You should let the underlying handler handle the protocol correctness.
WCF shouldn't be enforcing the value of the `Content-Length` as it *can* be different from the number of bytes read from the content.

[2022-09-14 16:40] mconnew commented on #4903
What was the behavior with HttpWebRequest? We are using the exact same logic on .NET Framework.

[2022-09-14 17:44] a-einstein commented on #4762
So when is that, the "next release"?
Or the one "after" that?
It's september 2022 now.

Nothing has changed.
I am still having the same problem, trying to update from 4.5.3 to currently 4.10.0.

[2022-09-15 11:16] DmitryOlshak opened #4908 "Disable IdentityVerifier in SslStreamSecurityBindingElement"
Hi,

WCF client doesn't provide a feature to disable or implement own IdentityVerifier in SslStreamSecurityBindingElement.

I have a task in which I implemented own certificate validator.
[code]
There is a case when the validation passes successfully but I get an exception from IdentityVerifier.
For instance, domain name in a server certificate doesn't equal domain name of a client.
I run the clie

[2022-09-15 15:11] eiki25 commented on #4837
@mconnew, @thuannguy I followed your workaround for replacing  CreateChannelWithIssuedToken in Full framework into NET 6

            /* Old
            return ChannelFactory.CreateChannelWithIssuedToken(token);
            */

            // New
            SamlProvider.SamlClientCredentials credentials = new SamlProvider.SamlClientCredentials(token);
            ChannelFactory.Endpoint.EndpointB

[2022-09-15 17:20] mconnew commented on #4837
You would return the token than you normally pass to CreateChannelWithIssuedToken. I think you might need to wrap it, I'm not sure. [Here's the implementation](https://referencesource.microsoft.com/#System.ServiceModel/System/ServiceModel/Security/SimpleSecurityTokenProvider.cs,9c6ac44da25a01f2) of the SecurityTokenProvider that is used in this scenario on .NET Framework. As you can see, it either

[2022-09-16 03:24] HongGit commented on #4277
Thank you all for reporting this issue!

This behavior is not a regression from svcutil.exe, see [this article](https://stackoverflow.com/questions/27235134/reuse-types-in-referenced-assembly-is-ignored-when-updating-a-service-referenc#:~:text=In%20this%20instance%20svcutil.exe%20will%20switch%20to%20use,can%20do%20away%20with%20service%20references%20all%20together.) and [doc](https://docs.micros

[2022-09-16 09:33] eiki25 commented on #4837
@mconnew worked like a charm, thanks.
Is there any plans of making a similar extension method for ChannelFactory for this like in the old framework?

[2022-09-16 10:34] imcarolwang commented on #4829
Thanks for the feedback! We are actively working on the next release which will be coming soon. Regarding issue 4277, the behavior is not a regression from svcutil.exe, we will treat it as an enhancement for future consideration.

I am closing this one as it doesn't track a specific issue.

[2022-09-16 10:34] #4829 closed

[2022-09-19 16:07] eiki25 opened #4910 "InternalTokenReference mismatch when using SecurityTokenProvider GetToken vs WSTrustChannelFactory Issue"
GetToken SAML token using  SecurityTokenProvider GetToken returns a GenericXmlSecurityToken
with different type of Internal/External Identifiers then WSTrustChannelFactory Issue did in the full framework.

Using .NET 6 - Issued with SecurityTokenProvider
System.IdentityModel.Tokens.GenericXmlSecurityKeyIdentifierClause is returned.
-		**InternalTokenReference**	{System.IdentityModel.Tokens.Generic

[2022-09-20 04:47] santo1991 opened #4911 "Compiling JScript/CSharp scripts is not supported."
Hi, I am using Asp.net core 3.1 and try to consume web-service. The wsdl url generate the code file and required methods. When I call a method bellow error occurred :
"Compiling JScript/CSharp scripts is not supported."

But I am getting proper response in SoapUI.

What can be the reason for this error?Or can i get the exact error?

[2022-09-20 09:53] nicoclau opened #4912 "How to troubleshoot the exception CommunicationObjectFaultedException when we have the attribute [System.ServiceModel.ServiceKnownTypeAttribute(typeof(xxx))]"
We updated a web service in java to the next version with the new wsdl.
We use .net Core 3.1 with system.servicemodel.primitives and System.ServiceModel.Http version 4.7.0

We get the following error:

`System.ServiceModel.CommunicationObjectFaultedException
  HResult=0x80131500
  Message=The communication object, System.ServiceModel.ChannelFactory`1[zzz], cannot be used for communication because

[2022-09-21 13:07] Skintkingle opened #4913 "Generating a service in Visual studios "Connected Services" UI causes CS0108 warning"
When using the "Connected Services" UI from within Visual Studio to generate a service. the generated Reference.cs file creates a client (great!) that extends "System.ServiceModel.ClientBase<T>" (also great!) and also generates a "public virtual Task CloseAsync()" member (not great). ClientBase<T> has a Task CloseAsync() already defined on it now, so the generated CloseAsync hides the base member

[2022-09-21 13:13] Skintkingle commented on #4913
#4909 should solve this

[2022-09-21 13:14] #4913 closed

[2022-09-21 23:57] SnailGirl-Joanna opened #4914 "no dash "-" in dotnet svcutil execution command, parameter short "-d" for "--OutputDir" does not work"
Description
The parameter short for --outputDir does not work on dotnet svcutil (No dash "-" between dotnet and svcutil)

Simple Reproduce

If use  dotnet-svcutil /SayHello.svc -d C:\FolderName or dotnet svcutil /SayHello.svc --outputDir C:\FolderName, reference code generate normally

Expected behavior
The service reference code generated normally

[2022-09-23 13:56] chekm8 commented on #2805
I am experiencing the same issue.  I have a WCF Service running as a Windows service and a WCF client calling that service.  The client is using Windows auth.  If I have the Windows Service running as 'Network Service' there are not issues.  Once I change that to run as a domain account I get "The target principal name is incorrect" exception on the client with "System.ServiceModel.Security.Securi

[2022-09-26 09:50] antonina-lobach commented on #4766
Any news on this?

[2022-09-26 09:51] AndrzejKrol commented on #4766
+1

[2022-09-26 09:53] adam-sajdak-ap commented on #4766
+1

[2022-09-26 10:35] finflaex commented on #4766
apparently an unofficial refusal of support

[2022-09-26 10:43] zFAdler commented on #4766
@HongGit  or @imcarolwang Can you please release the update? The PR has been merged for a while now, we're all just waiting for the release 😕

As you can see more and more developers need this update... And there will probably be many more migrating to .NET 6 and wondering why it doesn't work anymore...

[2022-09-26 11:13] imcarolwang commented on #4766
Sorry for the delay, we're working on it, it's coming soon!

[2022-09-28 10:53] moritzhub commented on #4831
Same issue here. Is there any work around?

[2022-09-28 13:18] Dawiducik opened #4918 "Unable to read multipart response from SOAP11 service with MTOM?"
Hello, we have following SOAP answer from one of the services, running SOAP 1.1 with WS Addressing:
[code]

According to [this W3 documentation](https://www.w3.org/Submission/soap11mtom10), this message is a valid SOAP 1.1 with multipart content.

The problem is, whether I want to read this message from client using MTOM encoder `MtomMessageEncodingBindingElement`, there is an exception telling me

[2022-09-28 22:22] HongGit commented on #4911
@santo1991 this is not a great message.  Usually, this happens when generating the sterilizer failed.  Please attach debugger and find out what exception was thrown before this exception, and share it with us.

[2022-09-28 22:56] mconnew commented on #4910
Can you check GenericXmlSecurityToken.Id? I believe it should have the same Id as AssertionId. The code [here](https://source.dot.net/#System.Private.ServiceModel/System/IdentityModel/Tokens/GenericXmlSecurityToken.cs,107) looks like it should pick up the AssertionId from the token and on .NET Framework SamlSecurityToken.Id just returns the SamlAssertion.AssertionId.
If that doesn't work, I think

[2022-09-29 17:25] mconnew commented on #4912
My personal favorite tool for diagnosing problems like this is [perfview](https://github.com/microsoft/perfview/releases/tag/v3.0.5). You can use perfview to collect a trace which will include all exceptions which were thrown as well as some event logging by WCF with any errors it encountered. You can run the following command from an administrative command prompt:
[code]
This will collect events

[2022-10-01 15:24] nicoclau commented on #4912
Thanks Matthew! I will try your suggestion and keep you posted as soon as possible.
Congrats for your work on WCF and of course we can thank for the thousands contributors all around the world.

Too bad we need outside EWT tool to investigate :( Could you explain why the exception is not visible with details?
Cheers 👍

[2022-10-05 17:52] petersladek commented on #4484
I am using System.ServiceModel.Primitives 4.10.0 (WCF v3.4.0) on .NET 6 and I am confused that I see CloseAsync() in ClientBase<T> available, but corresponding OpenAsync() is missing.. According to [release notes](https://github.com/dotnet/wcf/releases/tag/v3.4.0-rtm) this should already be in 4.10.0 nuget package. But according to this [v.3.4.0 to v6.0.0 tag comparison](https://github.com/dotnet/

[2022-10-06 03:06] examitymadhu commented on #3734
is solution with donetcore? if yes how to call in startup file.
when developed above code getting issues . please share proper logic.

[2022-10-08 03:57] nhontran opened #4930 "How to override ws-addressing <To> header value"
We consume a SOAP service via API gateway, we got one problem that the address endpoint is set as **URL A** (API Gateway endpoint), but the hosted service endpoint is **URL B**, and it threw exception below:

We are trying to override the WS-Address &#60;To&#62; header by the code below but not successful:

[code]
the &#60;To&#62; will be overridden by the address endpoint
[code]

We found another

[2022-10-09 20:00] federico-r-figueredo commented on #4766
Same problem here...
![Screenshot from 2022-10-09 16-57-48](https://user-images.githubusercontent.com/49570839/194776982-7e4d9c0c-47e3-40a3-aee8-81f8825813cc.png)

I can't believe this hasn't been fixed over the course of (almost) a year.

[2022-10-10 11:21] fi1ipO opened #4931 "Inconsistent flow of ExecutionContext on first batch of client requests"
**Describe the bug**
It seems there is an incorrect flow of data stored in ExecutionContext whenever there are multiple async requests executed concurrently after the first initialization of ServiceModel WCF client. In case there is an DelegatingHandler registered to the underlying HttpClient, the flow of ExecutionContext is inconsistent here. Apparently only the first thread can access the same d

[2022-10-10 11:56] delfim-dacosta commented on #4683
Hello,
If i try to debug CoreWCF calls from a client in .net 4.7.2 or in .net 6, i have the same problem : the channel is faulted.
Same behavior using BasicHttpBinding or NetTcpBinding.
I made a lot of tests ans i found that the problem occurs when the debugger try to evaluate a client property.

I have the following method that test a call.

1	static void Test2Http()
2	{
3	    var binding = new B

[2022-10-10 12:49] jfreres commented on #4683
If local debugging does our connection string have TrustServerCertificate=true

Justin Freres

From: delfim-dacosta ***@***.***>
Sent: Monday, October 10, 2022 6:57 AM
To: dotnet/wcf ***@***.***>
Cc: Freres, Justin ***@***.***>; Comment ***@***.***>
Subject: Re: [dotnet/wcf] WCF Debugger Issue with Client (#4683)

[EXTERNAL EMAIL]

Hello,
If i try to debug CoreWCF calls from a client in .net 4.7.2

[2022-10-10 13:03] delfim-dacosta commented on #4683
@jfreres : I don't understand your comment, I don't use certificates. I have the issue connection with basicHttpBinding with no security and NetTCPBinding also.

[2022-10-10 13:29] jfreres commented on #4683
Sorry commented on wrong post.  Let me look at this later.

Justin Freres

From: delfim-dacosta ***@***.***>
Sent: Monday, October 10, 2022 8:04 AM
To: dotnet/wcf ***@***.***>
Cc: Freres, Justin ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/wcf] WCF Debugger Issue with Client (#4683)

[EXTERNAL EMAIL]

@jfreres<https://github.com/jfreres> : I don't understand your comment, I don't use ce

[2022-10-10 13:33] evolvedlight opened #4932 "Not possible to create Mtom client that has a stream as part of the request object"
**Describe the bug**
A Soap client requires we send them a string ID and a streamed file together. The default service client is currently for a object that takes a string and a byte[].
Ideally, we'd be able to change this so that it takes a string ID and a Stream, and that Stream is turned into the response. However, at the moment we get the error "In order to use Streams with the MessageContract

[2022-10-10 16:19] gustavogavancho commented on #3705
I concur with @echavez087. @mconnew an example of how to set the EnableUnsecuredResponse property would be really helpful.

[2022-10-11 22:44] BieleckiLtd opened #4934 "After updating 7.0.0-rc.1 to 7.0.0-rc.2 build fails"

[2022-10-12 10:17] domagojmedo commented on #4380
@mconnew is there any plan to enable this signing on .NET Core? I see that you commented that you would like to include it, but issue has since been closed

[2022-10-13 15:37] sal-420 opened #4936 "Console App cannot connect to SSRS server"
**WCF code fails  after returning from  ` public System.Threading.Tasks.Task<SsrsServiceReference1.LoadReportResponse> LoadReportAsync(SsrsServiceReference1.TrustedUserHeader TrustedUserHeader, string Report, string HistoryID)`**

if `rsBinding.Security.Mode = BasicHttpSecurityMode.Transport;` the program stops with no error.

if `rsBinding.Security.Mode = BasicHttpSecurityMode.TransportCredential

[2022-10-19 09:26] epkuiper opened #4937 "Question: Does .Net Framework 4.8 support WCF Message Security?"

[2022-10-19 09:29] imcarolwang opened #4938 "dotnet-svcutil fail to load sub-depended assembly's types due to the restored assembly version not matched"

[2022-10-19 15:51] swuqi opened #4939 "dotnet-svcutil net.pipe://localhost/xxx not working"
I have created a WCF service using named pipe connection. But when I tried to generate the reference.cs for its client app, it failed with the following error.

Error: The directory 'H:\Dev\DevProj\TestWcfCli\net.pipe:\localhost' could not be found. Verify that the directory exists and that you have the appropriate permissions to read it.

It seems treating the URI as a directory. If the utility d

[2022-10-19 22:19] HongGit commented on #4937
@epkuiper do you mean the 4.8 .NET Framework or version 4.8 of System.Servicemodel.* packages?

If former, the answer is yes, WCF .NET Framework 4.8 supports Message security.

If later, no, System.ServiceModel.* packages do not support Message Security yet.

[2022-10-19 22:19] #4937 closed

[2022-10-19 22:27] mconnew commented on #4936
As per the [documentation here](https://learn.microsoft.com/en-us/dotnet/api/system.servicemodel.basichttpsecuritymode?view=dotnet-plat-ext-7.0#fields) `TransportCredentialOnly` is for HTTP and not HTTPS. `TransportCredentialOnly` means you are only using the credential part of the transport security, meaning HTTP authentication, and you aren't using any security capability such as using SSL/TLS.

[2022-10-20 10:47] epkuiper commented on #4937
I mean the 4.8 .NET Framework. Thank you for your answer.

Outlook voor Android<https://aka.ms/AAb9ysg> downloaden
________________________________
From: Hong Li ***@***.***>
Sent: Thursday, October 20, 2022 12:20:10 AM
To: dotnet/wcf ***@***.***>
Cc: Erwin ***@***.***>; Mention ***@***.***>
Subject: Re: [dotnet/wcf] Question: Does .Net Framework 4.8 support WCF Message Security? (Issue #4937)

@e

[2022-10-20 12:45] OronDF343 commented on #3712
Here's my workaround for converting `Any` and `Any1` to `DataTable` based on the solution from @PimVendrig but with some tweaks.
See comment above by @fededim for an example of when to use this.
I have not tested reading to `DataSet` but you should be able to just replace `DataTable` with `DataSet`.

[code]

[2022-10-20 12:59] sal-420 commented on #4936
@HongGit.

Hi Hong
I mentioned above  using `Transport` option  results in the program stopping  and no error is thrown. Try/catch fails to catch any error. The errant line is in the WCF service ` return ((SsrsServiceReference1.ReportExecutionServiceSoap)(this)).LoadReportAsync(inValue); `

Using ` BasicHttpSecurityMode.None;` results in error "The provided URI scheme 'https' is invalid; expected

[2022-10-20 18:44] NurhakKaya commented on #4766
Any update about the release date please?

[2022-10-21 13:45] Shruthi1984 opened #4940 "Not able to Consume WCF Service in .NET Core"
Microsoft explains in many ways to consume the WCF services in .net core . But I'm not able to consume it,
It gives an option to add the service thru the connected services , upon adding the service file, When i try to build it, it simply gives an error saying
**Severity	Code	Description	Project	File	Line	Suppression State
Error	CS0234	The type or namespace name 'CodeDom' does not exist in the nam

[2022-10-21 19:47] mconnew commented on #4936
From the same documentation, the value `None` means:

HTTPS uses SSL/TLS to secure the connection. So when you say you want no security, this isn't compatible with using an HTTPS url. You are saying "I want no security using this URL which provides security". If you are using an HTTPS url, you need to use security mode `Transport`.

It sounds like your issue is that your application is hanging and

[2022-10-24 20:10] mconnew opened #4942 "Unable to create client in WASM"
**Describe the bug**
Copied from https://github.com/CoreWCF/CoreWCF/issues/886
![197575930-9cc3673a-7202-41ea-8d18-7d28a3dacd1d 1](https://user-images.githubusercontent.com/8648390/197618889-019ebb1e-c948-46fb-be25-226206e586c5.png)
When creating an HTTP based binding in a Blazor app, the above exception is thrown.

**To Reproduce**
Steps to reproduce the behavior:
Constructing BasicHttpBinding us

[2022-10-25 09:30] imcarolwang commented on #4940
@Shruthi1984, thanks for raising the issue with us. The current supported features of WCF Connected Service tool in .NET Core project is not as complete as Add Service Reference tool in classic Full .NETFramework project. For example, generation of WCF Message Security Mode code is not yet supported by the tool in .NET Core platform. I've ever seen WCF Connected Services ran into error during code

[2022-10-25 11:31] TimBurris commented on #3221
@fudgeboy2000 thank you for your post, I too faced the same issue, using .NET 6 to call Oracle's iQuery web service.  the problem turned out to be exactly what you suggested, the util generated an [int] but it needed to be a nullable int.  changing the generated source to be int? solved my error.

[2022-10-26 21:01] oskarb commented on #4250
1) Isn't SystemException "semi-deprecated", in the sense that the original idea to have "SystemException" and "ApplicationException" was later considered a bad idea that didn't really add much value? Perhaps that is why it was not included in Core from the beginning.

 2) Also, while many built-in exceptions derive from SystemException, consider that FaultException derives from CommunicationExcept

[2022-10-26 21:41] oskarb opened #4945 "FaultException<TDetail> overrides ToString() but fails to include client-side stacktrace, thereby breaking all generic exception logging"
It is a common pattern to have generic catch-all statements in e.g. thread main or other generic error handlers that catch Exception and log it using `ToString()`.

Unlike more or less any other exception class known to man-kind, FaultException<TDetail> overrides `ToString()` *and* doesn't include the stack trace in the returned string:
https://github.com/dotnet/wcf/blob/4e2a97e639417fd14158c9e7f0

[2022-10-27 03:58] ZhaodongTian opened #4946 "WCF client will hung if consume NettcpBinding service with Async then sync"
**Repro :**

1. Create WCF NettcpBinding target with 481
2. Create WCF client target with .netcore6.0 or higher
3. Call the servcie  from client project like below:
            Console.WriteLine($"Get async result:{await client.**HelloAsync**("helloworld")}");
            Console.WriteLine($"Get sync result:{client.**Hello**("helloworld")}");

**if the client target with full framework481, issue n

[2022-10-28 07:52] imcarolwang commented on #4766
The version with .NET6 support is finally released, you can try out by reinstalling the tool with commandlines below.

Uninstall existing version:
`dotnet tool uninstall --global dotnet-svcutil`

Install the new version:
`dotnet tool install --global dotnet-svcutil --version 2.1.0`

[2022-10-28 20:46] selvinfehric commented on #2472
This issue still exists.

By the way, I tried a workaround with .net framework 4.7.2 and 4.8, and it didn't help. I use VS2022. @RKDMax did you ever try it with VS2022 and one of these .net frameworks?

[2022-10-28 22:33] ken-swyfft opened #4947 "Error adding reference "Specified parameter value 'x' is not valid: Parameter name: filePath""
**Describe the bug**
Using VS2022 17.4.0 (Preview 5.0), when I try to add a service reference to my C# library project, I get the following error message:

![image](https://user-images.githubusercontent.com/65305317/198741533-d99684b7-a2ab-4d0a-a953-d9ea5506cdaa.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Either open the attached .zip file, or alternatively, create a .NET 6.0 soluti

[2022-10-28 23:44] gabrielmaldi commented on #4766
Can confirm this is working perfectly. Thanks!

[2022-10-31 07:21] Shruthi1984 commented on #4940
Hi @imcarolwang , the same service works completely fine in .NET Framework, we have not faced any issues there. when it comes to cross platform across .NET Framework and .NET 5(or above) and .NET Standard we are facing this issue.
 And I don't have the WSDL file to share with you, as the service was just exposed with the Endpoints with netTCP configuration and I am sharing the config file Snips wi

[2022-10-31 07:26] Shruthi1984 commented on #4746
I dont see this issue being fixed i m using .NET 6.0 , but i still see the same issue reported here

[2022-10-31 08:05] johnstaveley commented on #3318
Hi, How did you resolve this? I downloaded the wsdl as single file to make a reference but when I try and connect using the client certificate I too get the error "Certification authentication failed. An attempt to authenticate with a client certificate failed.". I am using:
                var client = new PropertyDescriptionEnquiryV2_0ServiceClient();
                client.ChannelFactory.Endpoi

[2022-10-31 12:27] 0xced commented on #4214
With WCF version 3.4.0 (i.e. `System.ServiceModel.*` NuGet packages version 4.10.0) this needs to be slightly adapted. The binding parameter must be a `Func<HttpClientHandler, HttpMessageHandler>` instead of a `Func<HttpMessageHandler>`, see https://github.com/dotnet/wcf/blob/v3.4.0-rtm/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/HttpChannelFactory.cs#L134

[2022-10-31 14:03] selvinfehric commented on #3145
Is this related to #2472? Any news on this?

[2022-11-01 07:02] imcarolwang commented on #4891
The latest release of dotnet-svcutil tool (2.1.0) fixed the problem in generated code. Closing issue.

[2022-11-01 07:02] #4891 closed

[2022-11-01 07:05] imcarolwang commented on #3812
This is fixed in the latest release of the tool, download it from [nuget.org](https://www.nuget.org/packages/dotnet-svcutil) to get the fix.

[2022-11-01 07:05] #3812 closed

[2022-11-01 07:07] imcarolwang commented on #4387
Fix is in and released to dotnet-svcutil version 2.1.0. Closing issue.

[2022-11-01 07:07] #4387 closed

[2022-11-01 07:10] imcarolwang commented on #4736
The fix has been released to dotnet-svcutil, you can download the latest version of the tool from nuget.org to get the fix.  Closing issue.

[2022-11-01 07:10] #4736 closed

[2022-11-01 07:18] imcarolwang commented on #4818
We have released a fix to address the reported issue, a brief description of the fix usage is showed below as a reference, you can install the latest version of dotnet-svcutil from nuget.org, type "dotnet svcutil -h" for more details and try it out.

[code]

[2022-11-01 07:18] #4818 closed

[2022-11-01 07:44] imcarolwang commented on #4867
A fix of the issue has been released to both dotnet-svcutil tool and VS 2022 preview. You can get the fix by installing the most recent release of [dotnet-svcutil](https://www.nuget.org/packages/dotnet-svcutil) or [VS2022 Preview](https://visualstudio.microsoft.com/vs/preview/). Closing issue.

[2022-11-01 07:44] #4867 closed

[2022-11-01 16:10] quukske77 opened #4948 "System.ServiceModel.Http 4.10.0 consist of known vulnerability"
My trivy scanner reported the following on System.ServiceModel.Http 4.10.0.
![image](https://user-images.githubusercontent.com/106823500/199280748-fcd744aa-7763-4317-93e8-2d2e5406dadf.png)

[2022-11-01 17:10] benken-parasoft commented on #4932
The behavior seems to match the documentation.
From https://learn.microsoft.com/en-us/dotnet/framework/wcf/feature-details/large-data-and-streaming :

[2022-11-01 17:18] benken-parasoft commented on #4918
Your MTOM response message violates W3C spec.  From https://www.w3.org/TR/soap12-mtom/#mime-serialization :

In your response, the root part as Content-Type "text/xml" which is incorrect.  I doubt WCF client libraries expose options to ignore violations to the spec like this.

[2022-11-01 17:31] benken-parasoft commented on #4764
I am not sure .NET Web Services Enhancements (WSE) for .NET Framework 2.0 supported SwA let alone .NET Windows Communication Foundation (WCF) which was introduced for .NET Framework 3.0.  So, I imagine this would be a feature for supporting interoperability scenarios with early 2000s-era java-based SwA services (Apache Axis 1.x?).  Perhaps this could be done with some type of custom MessageEncodin

[2022-11-02 14:15] SchRobert commented on #4887
Using 2.1.0 but the option
  `--collectionType System.Collections.Generic.List `
 or
  `--collectionType System.Collections.Generic.List`1`
just throws an error that it cannot find the an assembly of this type.

When using without --collectionType, List<T> are created as T[] (array)

It is not an option to update all clients of List<T> into T[] ;-(

I used the svcutil with:

`dotnet-svcutil http:/

[2022-11-03 13:35] johnstaveley commented on #3318
In case it helps anyone, the solution to the second problem was to add a binding as described here: https://stackoverflow.com/questions/57331142/net-core-connected-service-with-ssl-certificate

[2022-11-07 16:28] idkburkes commented on #4948
I am seeing the same issue from System.ServiceModel.Primitives 4.10.0

[2022-11-08 10:39] moslemkh commented on #3712
public static DataTable ConvertToDataTable(this XmlElement data)
        {
            StringReader theReader = new StringReader(data.InnerXml);
            DataSet theDataSet = new DataSet();
            theDataSet.ReadXml(theReader);

            return theDataSet.Tables[0];
        }

[2022-11-09 04:02] HongGit commented on #3550
close due to no response, feel free to re-activate if this issue persists.

[2022-11-09 04:02] #3550 closed

[2022-11-14 17:16] tjmoore commented on #3551
It's now possible to set the `IWebProxy` instance on `HttpTransportBindingElement` which may help as you can use `DefaultProxy` or define a proxy, which will use credentials if set.

https://github.com/dotnet/wcf/pull/4563

e.g., This assumes the proxy uses basic credentials. The endpoint should in theory still use whatever client credentials you set though I've only tested with and endpoint using

[2022-11-15 18:23] mdraganov commented on #4930
Had the same issue because of SSL offloading at the API gateway. Found two different workarounds if you can afford them. One is to use BasicHttpsBinding instead of WSHttpBinding. It does not send this header and again has SecurityMode.Transport by default. The other would be to use the SoapActorAttribute on the service side.

[2022-11-15 18:51] mconnew commented on #4930
I'm sorry, I thought I had replied but apparently I forgot to hit the comment button and now my reply is lost. The ClientViaBehavior doesn't need access to any internals that aren't exposed so you can just copy the implementation from [here](https://github.com/microsoft/referencesource/blob/master/System.ServiceModel/System/ServiceModel/Description/ClientUriBehavior.cs). The only property you need

[2022-11-18 09:38] SRichardsonDTech commented on #2535
I have a Windows service that hosts our licencing mechanism. Some of the admin features are restricted by only making them available through named pipes which means the admin app has to be run on the same box. This has been working really well in .Net 4 but I'd like to migrate the code over to .Net 6 now.

[2022-11-22 21:37] softwareofsweden commented on #4105
The problem is the XmlSerializer which doesn't handle the numeric values of the enumerations. By default the DataContractSerializer is used; but having DataSets members in any contracts, will force the XmlSerializer to be used instead.

[2022-11-28 11:13] mus65 opened #4957 "dotnet-svcutil adds package references with floating version"
**Describe the bug**
Wenn adding a service to a project that doesn't have a dependency on the System.ServiceModel packages, these are automatically added with a floating version number (4.10.*). Please use a fixed version instead (4.10.0). Floating versions break build reproducibility and even patch versions can break stuff which leads to hard to diagnose problems.

I realize that NuGet package lo