[2020-01-22 20:47] mconnew commented on #4094
@PhilippCh, could you try adding `AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false);` at the start of your app?

[2020-01-23 11:10] markecw commented on #4105
Do you have an update or expected release for fixing this? our core project is now on hold until this is resolved.

[2020-01-23 17:11] dasetser commented on #4105
@markecw We don't have time to fix this in the current milestone, so I can't give you any expected release yet. It sounds like you have a workaround that gives you a usable proxy. What are your concerns with using it? Unless you're using the part of the service that reference DataSet I would say this is probably the best workaround.

One idea to help build confidence with the workaround would be t

[2020-01-23 18:42] StephenBonikowsky commented on #4045
Message security is not yet supported on WCF Core.
@mconnew can you confirm that `TransportWithMessageCredential` is part of the Message Security feature?

[2020-01-23 18:45] StephenBonikowsky commented on #4115
@dasetser Could you comment?

[2020-01-23 19:15] StephenBonikowsky commented on #4118
@AGuyCalledGerald Sorry for the delayed response.
WCF in the full framework is mostly contained in the System.ServiceModel.dll while in .NET Core WCF is represented by [5 facade packages](https://github.com/dotnet/wcf#wcf-library-components) that only contain publicly available APIs which type forward to one single implementation package that cannot be referenced directly.

You are using the full

[2020-01-23 19:23] StephenBonikowsky commented on #4110
Update - Work is progressing with the WSFederationHttpBinding, can't commit to a date but it's not too far away and then we can look into what is needed for the WS2007 version of it.

[2020-01-23 19:24] StephenBonikowsky commented on #4119
Please track #4110, closing this issue.

[2020-01-23 19:24] #4119 closed

[2020-01-23 20:11] mconnew commented on #4045
@thinhnotes, you are probably not using the latest System.ServiceModel.* packages. We have scenario tests which exercise this exact scenario [here](https://github.com/dotnet/wcf/blob/d8724e17061fec86c9a6b17596fccd3f05cf758f/src/System.Private.ServiceModel/tests/Scenarios/Binding/WS/TransportWithMessageCredentialSecurity/BasicHttpTransportWithMessageCredentialSecurityTests.cs#L26).

[2020-01-23 22:11] StephenBonikowsky commented on #4125
@dasetser Could you comment?

[2020-01-23 22:13] StephenBonikowsky commented on #4126
@dasetser Could you take a look?

[2020-01-23 22:15] StephenBonikowsky commented on #4122
@arphox Thanks for taking the time to provide this feedback. I agree our documentation is less than ideal. I do have a task to do some work related to this topic. I'll keep this issue assigned to me so we can incorporate youor feedback into the planned work. Thanks.

[2020-01-23 22:40] StephenBonikowsky commented on #4128
Based on #2219 and #1274 the conclusion was that it was a legitimate issue but because there was a known workaround and the issue also exists on the full framework we weren't going to fix it in Core.

@RealDotNetDave You said the workaround did not work for you? Could you tell us how your scenario is different from the other's that hit this problem for whom the workaround does work?

Adding @daset

[2020-01-23 23:02] StephenBonikowsky commented on #3870
Completed.

[2020-01-23 23:02] #3870 closed

[2020-01-24 14:06] gronlund013 opened #4135 "System.PlatformNotSupportedException DuplexChannelFactory"
I'm in the process of migrating a .net framework application to .net core.
I'm getting System.PlatformNotSupportedException when trying to create a DuplexChannelFactory<T>

.net core version 3.1

Any tips ?

[2020-01-24 15:42] rsaa opened #4136 "Incomplete wcf client service stack, missing IServiceBehavior, NetTcpRelayBindingElement etc..."
**Describe the bug**
It's understood that WCF listener stack is not available in .Net core and that's fine but we were hoping for complete WCF client stack be available in the Windows Compatibility Pack. We are ok to stay in Windows and not go cross platform. In our current solution, we are using behaviors, custom nettcp relay binding etc. and none of that is available in WCF client libraries. We

[2020-01-24 17:57] StephenBonikowsky commented on #4003
Done

[2020-01-24 17:58] #4003 closed

[2020-01-24 17:58] StephenBonikowsky commented on #3975
Done

[2020-01-24 17:59] #3975 closed

[2020-01-24 17:59] StephenBonikowsky commented on #4008
Done

[2020-01-24 17:59] #4008 closed

[2020-01-24 18:00] StephenBonikowsky commented on #3898
Done

[2020-01-24 18:00] #3898 closed

[2020-01-24 18:44] dasetser commented on #4126
It looks like the tool is assuming it's referencing a dll instead of a package name and throwing an error. We'll look into how we can make this scenario work. For now I would suggest removing that reference temporarily, running the tool, then adding it back. This should impact the generated file unless you need to reuse types from that reference.

[2020-01-26 18:13] CodeBlanch opened #4139 "Factory pattern discussion & feedback"
The other day I was porting some code to .NET Core which consumes a WCF service one of our partners stood up. The System.ServiceModel library works great, but I was finding myself painted into a corner when it came to managing the ChannelFactory, ClientBase, and options reloading. Basically lots of code where it didn't belong newing up stuff and doing configuration. I'm a fan of how [HttpClientFac

[2020-01-27 13:02] bobcat1506 commented on #4090
Any update on this?  We have an app in production that is misbehaving and believe pre-generating the serialization assembly will resolve it.

[2020-01-27 13:57] kbvishnu commented on #2349
How to do this ? Confused on your reply.

[2020-01-27 22:58] brentafis commented on #4079
I too would love some porting guidance here.  This may be better as a separate issue but I'm working on porting several client-side services to netcore.  All of these clients happen to use NetNamedPipeBinding which is currently in the future milestone.  That's unfortunate but I decided to implement it myself with the expectation I'd be able to just plug into the existing classes and derive/impleme

[2020-01-28 01:42] ctolkien commented on #4126
Issue with that is the rest of the project won't build - which is required to run `svcutil`. What we've had to do is split it up into separate projects, and then port/copy files across as needed.

[2020-01-28 05:26] HengzheLi opened #4141 "How to add certificate for client certificate authentication"
I try to add a certificate to a ClientCredential's cert property for using of client certificate authenticate.
But as therer is a check ThrowIfImmutable() before setting the certificate in X509CertificateInitiatorClientCredential which can be bypass. And here always throw the exception.

So is there a way to set my certificate in client side?

[2020-01-28 06:11] HengzheLi commented on #3881
So is X509CertificateEndpointIdentity still waiting for next release?

[2020-01-28 08:45] mstancombe commented on #4128
@RealDotNetDave have you tried the workaround from https://github.com/dotnet/wcf/issues/2219#issuecomment-531368768 ?
I also ran into this today, and this workaround resolved it.

[2020-01-28 17:32] StephenBonikowsky commented on #4090
Working on a fix right now, then need to get it packaged and published, shouldn't be too long before we have a fixed version up on NuGet.

[2020-01-28 19:08] StephenBonikowsky commented on #4141
@HengzheLi You need to modify the client credential before the channel factory is opened.

[2020-01-28 19:12] StephenBonikowsky commented on #4136
@rsaa Could you provide us the specific WCF code you are trying to use so we can see if it can be made available in core. (Or the APIs you are trying to call)

[2020-01-28 19:15] StephenBonikowsky commented on #4135
@gronlund013 Could you give us more info on how you are trying to create the DuplexChannelFactory? If you are using the constructor that expects a configuration name, configuration is not supported in Core.

[2020-01-28 19:17] StephenBonikowsky commented on #4128
Feel free to re-open this issue if you have more info for us.

[2020-01-28 19:17] #4128 closed

[2020-01-28 19:25] StephenBonikowsky commented on #4118
Let us know if there is anything else you need from us.
I don't think this is a WCF issue, it's more likely to be a problem with Azure Functions that is missing something related to how it identifies references and pulls in dependencies.

[2020-01-28 19:25] #4118 closed

[2020-01-28 19:30] vikassingh281 commented on #4136
@StephenBonikowsky **NetNamedPipeBinding** binding is also missing in **System.ServiceModel** for inter process communication with in system.
Can you please help for find the nuget package or this is deprecated in .net core?

[2020-01-29 00:12] mconnew commented on #3750
I have some kind of good news for you. I have this working in my local dev branch. There's some issues with the WCF Connected Services tool where it's generating the wrong code in some scenarios which will need to be addressed. That will be a lot bigger work item than my fix so I don't know when that will happen (and this doesn't work on .NET Framework currently either so it's not a regression). T

[2020-01-29 01:12] StephenBonikowsky commented on #4136
@vikassingh281 NetNamedPipeBinding is not currently supported in WCF Core, it is on our list of features to support.

[2020-01-29 05:30] vikassingh281 commented on #4136
@StephenBonikowsky what will be release date for netnamepipe binding in .net core?

[2020-01-29 10:42] Ettores88 commented on #3824
Sorry for the trivial question. Can we also use this library to implement WS-Security on SOAP request?
We need to implement the same transformation of the soap message as SoapUI, but we couldn't find anything on the web.

[2020-01-29 19:28] rsaa commented on #4136
@StephenBonikowsky

We are using

- IServiceBehavior, IEndpointBehavior, MessageHeader, IClientMessageInspector to send custom data to WCF listener.

- IServiceBehavior, IErrorHandler, BehaviorExtensionElement, NetDataContractSerializer to send exceptions from server to client

[2020-01-29 19:42] StephenBonikowsky commented on #4136
@vikassingh281 We don't currently have a date for adding NetNamedPipe support, we are working on other features and bug fixes.

@rsaa Thanks for the additional info, @mconnew Can we discuss these APIs and determine if it is something we can support?

[2020-01-29 23:36] IgorLaktic commented on #3969
I am trying to connect SAP web service in Blazor Core 3.1 app by Microsoft WCF Web Service Reference Provider.
I am using all last versions. VS 2019 preview 2 , Core 3.1 etc..
In win app where is .NET ,same WSDL  provide correct web service.
How to add SAP web service in Blazor Core 3.1 server side app?

Here is error:
The following Policy Assertions were not Imported:
  XPath://wsdl:definitions[@

[2020-01-30 11:05] HengzheLi commented on #4141
Thanks @StephenBonikowsky . The customized cert can be set now. But I encountered another exception:
[code]
I set the cert in Opening event of ChannelFactory. Does it the correct way?

[2020-01-30 16:22] HASSEN-MEDDEB-ATOS opened #4144 "Could not load type 'System.ServiceModel.Description.MetadataConversionError' from assembly 'System.ServiceModel"
Hello,

i have migrated my project from .NET Framework to .NET core. i have changed this line from

  sp.ServiceConfiguration.CurrentServiceEndpoint.Behaviors.Add(new ProxyTypesBehavior());
to

 sp.ServiceConfiguration.CurrentServiceEndpoint.EndpointBehaviors.Add(new ProxyTypesBehavior());
`
because we used System.ServiceModel.Primitives
this is my full code
[code]

but it return `
System.TypeLoad

[2020-01-30 21:37] HASSEN-MEDDEB-ATOS commented on #3237
Same problem here, how did you solved it please.

[2020-01-31 01:29] StephenBonikowsky commented on #4141
It would help if we could see how you are setting up your binding and ChannelFactory.

You can search our scenario tests for what you are trying to do... https://github.com/dotnet/wcf/tree/master/src/System.Private.ServiceModel/tests/Scenarios

For instance here is an example of a test that sets a certificate on the client and sets up a certificate in the ChannelFactory.
https://github.com/dotnet/

[2020-01-31 02:08] HengzheLi commented on #4141
Here is how I set the cert
[code]
cert_key.p12 is the certificate I generated using openssl. And the code will be packed into docker, but I test it in Windows.
Here is the binding:
[code]
I checked the unit test code in your provided link. Seems the difference  is that the binding I used is Tcp and the unit test's is Http. Is this the point?

[2020-01-31 02:18] StephenBonikowsky commented on #4079
@brentafis I am working on a doc specifically to answer the questions that you (and many others) have asked regarding the migration story for WCF from full framework to core. It is one of my higher priority tasks and I am actively working on it.

In the mean time here is some info I hope will help.

Of biggest impact is that WCF on the full framework is a mix of server and client side functionalit

[2020-01-31 02:20] StephenBonikowsky commented on #4079
Also, `NetNamedPipeBinding `is something we want to get added sooner rather than later, we are just trying to find the time to squeeze it in.

[2020-01-31 02:36] StephenBonikowsky commented on #4141
We also have tcp variants of the tests...
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Tcp/ClientCredentialTypeTests.4.1.0.cs#L19
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Tcp/ClientCredentialTypeTests.4.1.1.cs#L226

In the tests we use `factory.Credent

[2020-01-31 14:40] HengzheLi commented on #4141
OK. I set the cert in the overrided method CreateChannel and it works.

[2020-01-31 15:00] #4141 closed

[2020-01-31 15:17] brentafis commented on #4079
@StephenBonikowsky thank you for the detailed reply. It really does help to know things are coming and I'm sure the document you are working on will help even further.

Interestingly, I was able to get a version of this working using this repo as well as the netframework reference source as a guide. The result is still a bit rough in some places but I'd be happy to discuss options for integrating

[2020-01-31 17:02] StephenBonikowsky opened #4147 "Could not load type 'System.ServiceModel.Description.MetadataConversionError"
@HASSEN-MEDDEB-ATOS commented on [Thu Jan 30 2020](https://github.com/dotnet/runtime/issues/2388)

Hello again,

i have migrated my project from .NET Framework to .NET core. i have changed  this line from
[code]

but it return Exception: Could not load type 'System.ServiceModel.Description.MetadataConversionError' from assembly 'System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken

[2020-01-31 17:04] StephenBonikowsky commented on #4144
Closing this one, the way I moved it from the runtime repo lost the conversation history.

See #4147 instead.

[2020-01-31 17:04] #4144 closed

[2020-01-31 17:05] StephenBonikowsky commented on #4141
Great!

[2020-01-31 17:07] StephenBonikowsky commented on #4079
@mconnew I believe you mentioned there was not a whole lot of work needed to get NamedPipes working in Core. I'd like to discuss having @brentafis submit a PR for enabling this feature in Core if he is willing.

[2020-02-02 13:21] rajeev16mca2k5 opened #4148 "Consume Windows Service in REST Web API of .Net Core"
# Issue Title

Consume Windows Service in REST Web API of .Net Core

# General

I need a way to call windows service endpoint from .net core REST Web API.

Earlier we are calling same windows service using .Net Web API with following code blocks:

CredentialCache credCache = new CredentialCache();
this.url = Url;
NetworkCredential netCred = new NetworkCredential(sUsercode, sPassword);
credCache.Ad

[2020-02-03 20:18] HASSEN-MEDDEB-ATOS commented on #4147
Any update for this issue please ?

[2020-02-03 21:16] #3773 closed

[2020-02-03 22:03] StephenBonikowsky commented on #4115
The help documentation needs to be updated.
It won't make it into the next planned release of the tool.

[2020-02-03 22:09] dasetser commented on #4125
@mikeTWC1984 We're aware of it not working with .NET Core 3 SDK as expected (as tracked in #4030)

As for your other request, this is a feature request that I don't think we'll be able to get to. It's a different approach from how any of our tools work, and is something you should be able to write a script to do for you. If this would be useful for your scenario I would suggest writing a wrapper s

[2020-02-03 22:09] #4125 closed

[2020-02-03 22:09] StephenBonikowsky commented on #4147
@HASSEN-MEDDEB-ATOS I'm not sure what update you are asking for, I mentioned in my previous post that you are trying to use a type that is not supported in WCF Core.

[2020-02-03 22:27] StephenBonikowsky commented on #3881
All the code appears to be in-place.
We just need to expose the API to the public contract and add a scenario test for it.
Current plan is to do this for 5.0 in one of the upcoming previews.
We will need to add a scenario test for it as well.

@mconnew In the mean time, is there a workaround for this?

[2020-02-03 22:38] StephenBonikowsky commented on #4090
Re-opening so we can use this issue to track package validation and publishing.

[2020-02-03 22:47] StephenBonikowsky commented on #4090
- [ ] build test package out of master and validate package
- [ ] cherry-pick fix from master to 3.1
- [ ] update package versioning and build release package
- [ ] final package validation
- [ ] publish new package to NuGet and delist previous packages.

[2020-02-03 23:03] StephenBonikowsky commented on #3812
We are working on the last couple of fixes for the dotnet-svcutil 2.0.3 release which is expected to be completed soon.
This issue is planned for the following release dotnet-svcutil 2.0.4.

[2020-02-03 23:06] StephenBonikowsky commented on #4078
Using this issue to track documentation updates in the repo.

[2020-02-03 23:06] #4078 closed

[2020-02-03 23:32] StephenBonikowsky commented on #4079
@brentafis We discussed this today and because we have higher priority features and fixes it is not likely that we could add NetNamedPipeBinding in the near future.

However we are happy to work with the community to add content we want to see supported in WCF Core.

In order to add support for NetNamedPipeBinding in WCF Core we require that all P/Invoke code be removed and replaced with the corre

[2020-02-03 23:36] StephenBonikowsky commented on #4079
@mayerj If you still need `StreamUpgradeBindingElement `and `StreamUpgradeProvider` added to the public contract in WCF Core and you would like us to look into adding them please let us know what kind of time frame you are working with.

[2020-02-03 23:36] #4079 closed

[2020-02-03 23:39] StephenBonikowsky commented on #4135
If you still need assistance please re-open the issue and provide us some additional information about your scenario.

[2020-02-03 23:39] #4135 closed

[2020-02-03 23:42] powerumc commented on #4122
@arphox I did test [CoreWCF/CoreWCF](https://github.com/CoreWCF/CoreWCF) with ours open source project '[Crema](https://github.com/NtreevSoft/Crema)'.
CoreWCF is not good choice.
1. Performance is so bad!
2. Implementation is not good. examples, `PerSession` scenarios, not good WCF `Behavior`.
3. Many not supports.

[2020-02-03 23:58] StephenBonikowsky commented on #4122
@mconnew
@arphox Regarding the CoreWCF repository.

I recently responded on another issue with information that is relevant to your question about what is the dotnet/wcf repository.
https://github.com/dotnet/wcf/issues/4079#issuecomment-580551893

The short version is that Microsoft with this repo is supporting WCF Client side functionality only.

The WCF Server side functionality is going into th

[2020-02-04 00:22] StephenBonikowsky commented on #4139
@CodeBlanch Our expert in this area would be @mconnew
We'll provide some feedback as soon as we can.

[2020-02-04 20:52] scalablecory commented on #4148
It looks like you're not using REST but instead SOAP, can you confirm?

[2020-02-05 01:05] mconnew commented on #4139
I'll be honest, there are some major flaws with your design. The biggest is around lifetime management of channels and factories. A channel factory as well as a channel should be closed when you are finished with them for multiple reasons. A channel needs to be closed because with some transports such as NetTcp, the channel has a persistent socket connection to the server. They should also be expl

[2020-02-05 08:58] skyflyer commented on #2999
@Lxiamail, when is this likely to be addressed?

[2020-02-05 10:57] wh1sp3r commented on #3969
Same problem here with connecting to SAP as OP.

Any news on svcUtil 2.0.3 or timespan?

[2020-02-05 15:01] brentafis commented on #2535
Following up from [here](https://github.com/dotnet/wcf/issues/4079#issuecomment-581670510).

I'm not opposed to doing that.  I understand the concerns with integrating Windows-specific code into a cross-platform system.

To outline my thoughts a bit:
- My immediate thought was to deal with the platform specific implementation details via injection.
- This would require exposing the IConnectionFact

[2020-02-05 17:59] StephenBonikowsky commented on #3969
The 2.0.3 release is coming very soon. We are working on a last few items and plan on working on packaging and publishing by the end of the month.

[2020-02-05 18:06] StephenBonikowsky commented on #2999
@mconnew did this issue get fixed as a side-effect of PR #3709?

[2020-02-05 18:35] srb-milestone commented on #2902
I just reproduced this behavior with one our our service (but not with others). So apparently it`s dependent on the wsdl...

[2020-02-05 21:25] mconnew commented on #3881
I thought there was an easy workaround, but there isn't an easy one. I can confirm that setting the endpoint identity to an instance of `X509CertificateEndpointIdentity` does simply wire up a certificate validator comparing the thumbprint's. The same effect can be achieved using a `X509CertificateValidator`. We have a small bug that we need to fix when we add the api. The code in [this](https://gi

[2020-02-05 21:33] mconnew commented on #2999
@StephenBonikowsky, unfortunately no.

[2020-02-05 22:08] StephenBonikowsky commented on #2999
This looks like it would be a simple fix.
We should consider it for 5.0.

[2020-02-05 22:10] StephenBonikowsky commented on #3881
Ok, thanks for the update Matt.

[2020-02-06 07:28] CodeBlanch commented on #4139
@mconnew Wow thank you for the detailed response!

- Adapter pattern: Good idea I will pull that out of the lib and use it in apps where I need it.
- Feedback about passing the behavior collection & ClientCredentials by ref: Good idea I will churn on that.
- DI feedback: One of my goals was to say as close to [HttpClientFactory](https://github.com/dotnet/extensions/blob/4ac4b19372773dc7a2263094974

[2020-02-06 15:08] HASSEN-MEDDEB-ATOS commented on #4147
Hello,
is there any possibility to connect to dynamics without using System.ServiceModel.Description.ClientCredentials, i tried to use ADAL  but i can't combined ADAL with OrganizationServiceProxy
[code]

Cordially

[2020-02-06 15:26] Edminsson opened #4153 "WCF Client and open connections"
I have an ASP.NET Core 3.1 web application. In a .NET Standard 2.0 class library I've added a WCF web service reference in Visual Studio 2019 following this [instructions][1].

In a service I'm using the WCF client the way it's described in the [documentation](https://docs.microsoft.com/en-us/dotnet/framework/wcf/how-to-use-a-wcf-client). Creating an instance of the WCF client and then closing the

[2020-02-06 19:47] StephenBonikowsky opened #4154 "dotnet-svcutil.xmlserializer tool fails to load assemblies when targeting netcoreapp3.1"
This is the same problem with the Microsoft.XmlSerializer.Generator as reported in dotnet/runtime#630

The tool currently runs on netstandard2.0 so if the application using the tool targets a newer framework such as netcoreapp3.1 it will fail to load the newer version of assemblies that have already been loaded by the tool.

[2020-02-06 19:54] StephenBonikowsky commented on #4090
@bobcat1506 Here is a private package of the tool which has the fix if you want to try it.
It will take a few days to produce a final release package and get it listed on NuGet.
[dotnet-svcutil.xmlserializer.1.2.0-preview1.20104.1.zip](https://github.com/dotnet/wcf/files/4167449/dotnet-svcutil.xmlserializer.1.2.0-preview1.20104.1.zip)

FYI, there is another issue to be aware of with this tool, see

[2020-02-06 20:15] StephenBonikowsky commented on #4147
@mconnew Do you have any suggestions?

[2020-02-07 10:07] HASSEN-MEDDEB-ATOS commented on #4147
Hi again,

The OrganizationServiceProxy class implements the IOrganizationService and provides an authenticated WCF channel to the organization, in this case, can i use the higher class OrganizationService and use  CrmConnection(string connectionStringName);  ?

i have changed ClientCredentials  with ClientCredential and implement  "Microsoft.IdentityModel.Clients.ActiveDirectory" and use AzureAD

[2020-02-07 10:45] HASSEN-MEDDEB-ATOS commented on #4147
i did this
CrmServiceClient client = new CrmServiceClient("Url=*********************; Username=*****************; Password=***************; authtype=Office365");

                sp = client.OrganizationServiceProxy;
                sp.ServiceConfiguration.CurrentServiceEndpoint.EndpointBehaviors.Add(new ProxyTypesBehavior());

I had another error
 Could not load file or assembly 'System.Web.Servi

[2020-02-07 14:46] bobcat1506 commented on #4090
Thanks @StephenBonikowsky. Both this issue and #4154 have impacted us significantly and frankly seem like pretty big misses from a regression testing perspective.  Will there be regression tests in the future to prevent these types of issue in future framework updates?  Any ETA on a fix for #4154?

[2020-02-07 23:33] #510 closed

[2020-02-07 23:36] #1494 closed

[2020-02-07 23:39] #42 closed

[2020-02-07 23:48] #1657 closed

[2020-02-10 14:09] HASSEN-MEDDEB-ATOS commented on #4147
Hello again :D,

 i have searched antoher solution for my issue, i have find that we can integrate SOAP web Services in .NET Core. i used WCF Web Service Reference Provider. I downloaded WSDL  from my CRMDynamics365 and generated code from WSDL File. But the herror, i can't set up  endpoint and user credentials beaucse this code is not found in my code :/

Normally we could had this code :/
[code]

[2020-02-10 17:29] HASSEN-MEDDEB-ATOS commented on #4147
i tried like this but same problem, i can't return OrganizationServiceProxy witout ClientCredentials :/

[code]

[2020-02-10 21:45] davidsh commented on #4094
There seems to be a problem with GSS-API support with NTLM on MacOS.  MacOS uses Heimdal libraries instead of MIT-Kerberos for GSS-API. I opened up a bug about this. The bug has more information about my current analysis: https://github.com/dotnet/runtime/issues/887

[2020-02-11 16:56] dcormier commented on #4030
I'm able to install it, but when I run it I get this:

[code]

[2020-02-11 18:57] StephenBonikowsky commented on #4147
@HASSEN-MEDDEB-ATOS

Would it be possible for you to provide us with your WSDL? That would help us fully understand what binding configuration you are using.

[2020-02-11 19:15] HASSEN-MEDDEB-ATOS commented on #4147
Hello @StephenBonikowsky

Thnak you so much for your resposne
Can you give me your Email. i will send you the file because i can't upload .cs file type :/

Cordially

[2020-02-11 22:28] StephenBonikowsky commented on #4148
@rajeev16mca2k5 It doesn't look like you are using REST as @scalablecory pointed out. Before that is even applicable though the error you are getting simply means you are not pointing your client to the service's url.

[2020-02-11 22:34] StephenBonikowsky commented on #4153
@Edminsson When you create a new client it creates a new channelfactory which creates a new http client instance. When you do that you don't pool your connections between instances.

Create a single client and re-use it.

`var client = new ImportSoapClient();`

@mconnew as FYI.

[2020-02-11 22:39] StephenBonikowsky commented on #4139
@CodeBlanch @mconnew will get back to you on your last question, but it may be a little while before he can get to it.

[2020-02-11 22:43] StephenBonikowsky commented on #4094
@davidsh Thanks for the info!
@PhilippCh Please track dotnet/runtime#887 for resolution of the problem you ran into. Thanks!

[2020-02-11 22:43] #4094 closed

[2020-02-11 22:48] StephenBonikowsky commented on #4136
@rsaa NetDataContractSerializer is a feature that is not likely to be supported in Core.
IServiceBehavior is a server side feature which isn't part of this repo but is part of the https://github.com/corewcf/corewcf
BehaviorExtensionElement is for configuring the client using AppConfig which is not supported in Core.

[2020-02-11 22:52] StephenBonikowsky commented on #4147
@HASSEN-MEDDEB-ATOS Please send it to mconnew@microsoft.com

[2020-02-12 00:17] mconnew commented on #3750
I've got a change in PR to allow using MessageHeader attribute. This should close some of the gap in functionality between the client created by "Add Web Reference" (for older Web Services clients) and WCF. If there's anything else needed to allow WCF to be clients for those older services, we'll try our best to close the gap.

[2020-02-12 01:54] StephenBonikowsky commented on #3957
@nmarun
Looks like the [SecurityBindingElement ](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/SecurityBindingElement.cs#L19)uses it `SecurityAlgorithmSuite.Default`

SecurityBindingElement is used in turn by the [BasicHttpBinding ](https://source.dot.net/#System.Private.ServiceModel/System/ServiceModel/BasicHttpBinding.cs,72)and [BasicH

[2020-02-12 01:54] #3957 closed

[2020-02-12 01:59] StephenBonikowsky commented on #2996
Tracking the addition of the X509CertificateEndpointIdentity in #3881
Closing this issue in favor of that one.

[2020-02-12 01:59] #2996 closed

[2020-02-12 09:04] landlogicit commented on #2267
Solution for this issue: https://stackoverflow.com/a/48025793

[2020-02-12 10:18] craffael commented on #1810
I successfully used https://github.com/lennykean/WcfCoreMtomEncoder to read mtom messages. However for writing it doesn't work yet...

[2020-02-12 11:22] matthiaslischka commented on #1810
This was already mentioned above. Keep in mind that it does not support streaming, the main advantage of MTOM.

[2020-02-12 17:04] Edminsson commented on #4153
@StephenBonikowsky If I re-use the client I guess I should also handle a faulted channel and recreate the client when that happens?

[2020-02-12 20:07] StephenBonikowsky commented on #3491
No further action needed on this.

[2020-02-12 20:07] #3491 closed

[2020-02-12 20:10] StephenBonikowsky commented on #3379
This is not likely to ever be added. There are many other requests for features that break scenarios that are higher priority.

[2020-02-12 20:10] #3379 closed

[2020-02-12 20:19] StephenBonikowsky commented on #2424
@mconnew Has explained why we cannot bring config to Core.

[2020-02-12 20:19] #2424 closed

[2020-02-12 20:27] jayhenn commented on #3230
The translated version of the blog post had images that were not translated. Here is a 100% English version of the same blog post:
https://medium.com/trueengineering/realization-of-the-connections-pool-with-wcf-for-net-core-with-usage-of-httpclientfactory-c2cb2676423e

[2020-02-12 22:41] gt5700 opened #4161 "Client Proxy generated for wsdl with minOccurs=0 for value types."
Hi,
 I have a wsdl file that I am migrating from the old netframework "svcutil" tool to the new "dotnet-svcutil" tool.

 The old tool use to create client proxy methods with an additional "Specified" parameter for parameters that are value types, and are marked as optional (minOccurs=0) in the wsdl. The new tool doesn't seem to create the additional "Specified" parameter, so its not possible to ca

[2020-02-13 02:24] StephenBonikowsky commented on #4153
Correct.

@mconnew do you have any other coding patterns to suggest here?

[2020-02-13 07:02] Edminsson commented on #4153
And the fact that this is a ASP.NET Core web application with potentially multiple concurrent users and they all share the same client does not matter right?

[2020-02-13 16:55] HASSEN-MEDDEB-ATOS commented on #4147
Hello @StephenBonikowsky
i have sent the file to Matt without response, meanwhile, i have find another solution but i have same issue when the generated file,  in this solution  have managed to get it working using Unchase OData Connectedservice, but i can't find orgContext :/

https://stackoverflow.com/questions/58570092/consume-crm-2011-rest-data-in-asp-net-core-3-

Cordially

[2020-02-13 19:21] mconnew commented on #4153
@Edminsson, it depends on your transport. Sharing the same client is fine for HTTP, but a problem for Net.Tcp. If you are using BasicHttpBinding or NetHttpBinding (and not using WebSockets), the channel shouldn't be able to go into the faulted state as there's no session. Having a channel in the faulted state basically means the underlying session isn't usable anymore. With Net.Tcp this means the

[2020-02-13 22:39] 0x1D-1983 commented on #3969
I think I have a problem that is related to this issue. I'm trying to add the following service to a .net core 3.1 project (with latest ServiceModel Nuget packages: 4.7.0) but one of the endpoint bindings is failing to be imported:
https://id3global.com/ID3gWS/ID3global.svc?wsdl

Warning: Cannot import wsdl:binding
Detail: An exception was thrown while running a WSDL import extension: System.Servi

[2020-02-13 23:22] mconnew commented on #4147
I've looked at your WSDL and it looks like you will need WSFederationHttpBinding. We should have support for that soon. I need to spend a bit more time validating that the work we're doing will be sufficient for your use case. I'll try to get to that in the next few days.

[2020-02-13 23:26] HASSEN-MEDDEB-ATOS commented on #4147
Thank you so much, is that will work in full .NET Core ? Because i need to publish all project in RedHat ?

Thank you again

N'est regards.

Téléchargez Outlook pour Android<https://aka.ms/ghei36>

________________________________
From: Matt Connew <notifications@github.com>
Sent: Friday, February 14, 2020 12:22:45 AM
To: dotnet/wcf <wcf@noreply.github.com>
Cc: MEDDEB, HASSEN <hassen.meddeb@atos.n

[2020-02-13 23:35] HASSEN-MEDDEB-ATOS commented on #4147
Another question, have you please  a preview package to test it,  because i need to distribute project before 19 February 😭

Best regards
________________________________
From: MEDDEB, HASSEN <hassen.meddeb@atos.net>
Sent: Friday, February 14, 2020 12:26:28 AM
To: dotnet/wcf <wcf@noreply.github.com>; dotnet/wcf <reply@reply.github.com>
Cc: Mention <mention@noreply.github.com>
Subject: Re: [dotnet/

[2020-02-14 02:07] brent-williams opened #4163 "dotnet-svcutil silently failing to deserialize responses"
**Describe the bug**
The proxy from dotnet-svcutil connects to the server, serializes and sends a request ok, and elicits a correct response from WFC server.  But deserialization fails without error and I simply get null returned.  Under .NET Framework 4.8 the wsdl.exe-generated proxy there is deserializing fine.

**To Reproduce**
The SOAP server is fixed and beyond my control.  However, I have ca

[2020-02-14 02:36] mconnew commented on #4147
It will be cross platform on .NET Core so will work on all Linux distro's that .NET Core is supported on. We're waiting on a deliverable from another team before we can move forward and there's been a few delays so I can't comment on an expected release date at this point. I can tell you it won't be by Feb 19th though as there's still a few weeks worth of work to get done after the other team prov

[2020-02-14 09:19] 0x1D-1983 commented on #3969
the endpoint in question has the following profile

`<binding name="wsHttpBinding_GlobalAuthenticate">
          <security mode="TransportWithMessageCredential">
            <transport clientCredentialType="None" />
            <message clientCredentialType="UserName" />
          </security>
        </binding>`

[2020-02-17 07:58] Edminsson commented on #4153
@mconnew Thank you for the explanation.
I'm using BasicHttpBinding so a faulted channel shouldn't be a problem then.
So, I have the option of reusing the client or the ChannelFactory to accomplish basically the same thing.
Creating a static client, never closing it and never caring of faulted channel is of course very appealing.
I'm assuming that concurrent requests to my ASP.NET Core web applicat

[2020-02-17 15:20] AbeBaehaki opened #4164 "AllowedImpersonationLevel = TokenImpersonationLevel.Delegation Stopped Working on Version Later Than v4.4.2"
**Describe the bug**

I have a WCF client with settings as below:

[code]

It works fine on WCF packages v4.4.2. But when I updated the packages version to v4.7.0 (Latest stable at the time of writing) then it seems like the `ImpersonationLevel = TokenImpersonationLevel.Delegation` is not working anymore.

My code still compiles, but I got an error thrown from the web service side related to the i

[2020-02-18 10:24] gaganjyot opened #4165 "WCF on DotNet Core 3.1 gives AccessViolationException when CreateChannel is called"
**Describe the bug**
WCF on DotNet Core 3.1 gives AccessViolationException when CreateChannel is called

Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is often an indication that other memory is corrupt.

**To Reproduce**

[code]

**StackTrace:**

Fatal error. System.AccessViolationException: Attempted to read or write protected memory. This is oft

[2020-02-19 19:34] mconnew opened #4166 "Add contract support for IAsyncEnumerable for streamed mode transfer"
Currently when using streamed transfer mode, you can return an IEnumerable and WCF will return a new item as it arrives from the network. This results in a thread blocking waiting on MoveNext() waiting for the next item. WCF should support IAsyncEnumerable in this scenario so that a thread isn't being blocked waiting for the next item from the network.
We also support passing a single parameter to

[2020-02-19 19:52] dagoththorus commented on #3237
@MaticDiba Hey, got the same issue. How did you solve it? @marzim

[2020-02-19 20:26] HASSEN-MEDDEB-ATOS commented on #3237
@dagoththorus  the problem will be resolved in few weeks, .NET core not support HttpBinding  yet

[2020-02-20 13:29] JoeriBlootacker commented on #4147
I'm in the same situation as Hassen-Meddeb-Atos, i'm trying to connect to Dynamics CRM through .Core, and am facing the same issues. so i'm curious to see the WSFederationHttpBinding implementation.

Will keep a close eye on this thread :)

Regards

[2020-02-20 20:40] tesfayegari commented on #4144
Did this issue get resolved. What is the best way to make this work in .NET Core please help I am having same problem

[2020-02-20 21:38] mconnew commented on #4153
Concurrent requests all using the same client is not a problem as long as you explicitly open the channel before any requests are made. If using a channel created from the channel factory, you can do this with `((IClientChannel)proxy).Open();`. I believe the generated client also adds an OpenAsync method that you can use.

[2020-02-21 04:48] brent-williams commented on #4163
Added to stackflow as well (https://stackoverflow.com/questions/60332365/net-core-3-1-dotnet-svcutil-generated-wcf-proxy-and-even-a-custom-channel-a), critical blocker for us.

[2020-02-21 18:44] StephenBonikowsky commented on #4144
@tesfayegari Please monitor #4147

[2020-02-23 21:13] vidir-svanberg opened #4170 "Missing public parameterless constructor for System.ServiceModel.Channels.ServiceChannelProxy"
CreateProxy in System.ServiceModel.Channels.ServiceChannelProxy calls System.Reflection.DispatchProxy.Create<TChannel, ServiceChannelProxy>() which fails because  System.ServiceModel.Channels.ServiceChannelProxy does not have a public parameterless constructor

[2020-02-24 17:02] Edminsson commented on #4153
@mconnew this behavior that requires the client to be explicitly open before making any calls, does it also apply to the case @StephenBonikowsky first suggested where I just create the client like this:

`var client = new ImportSoapClient();`

Or do I only have to open the client first only when creating it like this:

`var proxy = _factory.CreateChannel();`

[2020-02-24 22:14] pmiddleton opened #4171 "dotnet-svcutil message contacts always generated for async return values"
I am using dotnet-svcutil to generate a wcf client from some 3rd party wsdl.

The return values for all of the async methods are being wrapped in message contacts, while the input parameters are not.  If I generate the synchronous versions of the methods then I am not seeing message contacts in either place.

Has anyone seen this behavior before?

[2020-02-24 22:40] StephenBonikowsky commented on #4148
Feel free to re-open if you need additional assistance.

[2020-02-24 22:40] #4148 closed

[2020-02-24 22:46] StephenBonikowsky commented on #4163
@brent-williams We will need the full wsdl so we can reproduce the issue, also for a visual examination the part of the wsdl with all the contract info is very useful.
If you need to hide the endpoint address it should be fine for you to edit that out.

[2020-02-24 22:50] StephenBonikowsky commented on #4161
@gt5700 Thanks for reporting this! We are working on the current release of the tool, we will look at this issue for the next release.

[2020-02-24 22:54] StephenBonikowsky commented on #4164
@AbeBaehaki thanks for reporting this. Looks like this is a problem with WinHttpHandler that WCF depends on. We will investigate further and update this issue with our findings.

In the meantime as a workaround could you try adding AppContext.SetSwitch("System.Net.Http.UseSocketsHttpHandler", false); at the start of your app?

[2020-02-24 23:01] StephenBonikowsky commented on #4165
@gaganjyot Thank you for reporting this, could you please provide us with a little additional info?

- What OS is this occurring on?
- Can you get us a full copy of the contract interface you are using? (IBasicCalculator)
- The exact version of .NET Core you are using.

Thank you!

[2020-02-24 23:13] StephenBonikowsky commented on #4170
This class is not a public class in either the full framework or .NET Core.
System.Private.ServiceModel package is not supposed to be directly referenced which is the only way you could be running into this problem.

[2020-02-24 23:13] #4170 closed

[2020-02-24 23:16] StephenBonikowsky commented on #4171
@pmiddleton Are you by chance using an out param?

Otherwise could you provide us the wsdl so we can investigate further?

[2020-02-25 08:40] brent-williams commented on #4163
Hi @StephenBonikowsky thanks for reply.  Unfortunately I can't send full WSDL without private channel + NDA, however I have stripped it down to the method in question.  dotnet-svcutil runs produces similar output against the below as it does the full WSDL.  Is this sufficient for you to attempt a dup?

[code]

[2020-02-25 14:44] pmiddleton commented on #4171
@StephenBonikowsky - Looking at the wsdl there are no out parameters.  Is there a secure way I can send you the wsdl?  This is 3rd party code that I can't just post on the internet.

[2020-02-25 17:20] StephenBonikowsky commented on #4171
@pmiddleton Yes, please send it to mconnew@microsoft.com

[2020-02-25 21:52] vidir-svanberg commented on #4170
The error occurs when using a WCF client in Blazor WebAssembly App.
See https://github.com/dotnet/aspnetcore/issues/19349

[2020-02-25 23:22] StephenBonikowsky commented on #4170
Thanks for the additional info, I'll respond on the aspnetcore issue and talk to whoever is the owner over there.

[2020-02-25 23:46] StephenBonikowsky commented on #4170
Chatted with the PM for Blazor, he will respond on the other issue.

[2020-02-25 23:54] StephenBonikowsky commented on #4163
@brent-williams We'll have someone work on a repro and see if there is anything else we need.
@imcarolwang Could you have someone work on reproducing this issue?

[2020-02-26 14:24] hmurt commented on #3816
For me, this same error was resolved by deleting the `MSBuildSDKsPath` environment variable.

[2020-02-26 18:03] StephenBonikowsky commented on #4163
@mconnew Is there any other info we could use to help @imcarolwang reproduce the issue.

[2020-02-26 19:40] mconnew commented on #4163
It looks like there's enough of the WSDL there to reproduce the generated client code. Just to note, this isn't a WCF service. He's also provided screenshots of a request and response so we know what to mock out the server response to be. I think we have everything needed.

[2020-02-27 02:32] brent-williams commented on #4163
Great anything I can do to help let me know.  True the server is not WCF, was written in C/gSOAP.

[2020-02-27 04:26] mconnew commented on #4110
So a little bit of an update. It turns out that we need to implement WS2007HttpBinding for the goal of targeting support for ADFS (it requires BearerKey token type which WSFederationHttpBinding doesn't support, you need WS2007FederationHttpBinding). So support for the functionality of this binding will be available at the same time as WSFederationHttpBinding. The actual binding type itself will be

[2020-02-27 04:35] QingmingZi opened #4173 "Failed to report error when adding asmx service in advance"
# Error

`无法导入 wsdl:port
详细信息: 导入 wsdl:port 所依赖的 wsdl:binding 时出错。
wsdl:binding 的 XPath: //wsdl:definitions[@targetNamespace='http://tempuri.org/']/wsdl:binding[@name='UserServiceHttpPost']
错误来源的 XPath: //wsdl:definitions[@targetNamespace='http://tempuri.org/']/wsdl:service[@name='UserService']/wsdl:port[@name='UserServiceHttpPost']
无法导入 wsdl:binding
详细信息: 未处理命名空间“http://schemas.xmlsoap.org/wsdl/h

[2020-02-27 17:58] Jean-Marc1 commented on #3264
This issue is still happening in VS2019 vs 16.4.5

[2020-02-27 18:52] AlexFauteux opened #4175 "Unable to generate deps.json, it may have been already generated. You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program Files\dotnet\sdk\3.0.100\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\GenerateDeps.proj"
**Describe the bug**
I cannot connect a web service to my .net core application which otherwise connects to .net framework applications. The project is on an internal network which doesn't have access to the internet. The Web Service is also internal and works well with .Net Framework applications but seem to not work with .Net core applications. What can I do to try and remedy the situation?

![E

[2020-02-28 13:18] HASSEN-MEDDEB-ATOS commented on #4147
Hello,
@mconnew  is there any news please

Cordially

[2020-02-28 14:36] AnReZa commented on #3391
I'm having the exact same problem with the most recent version of Visual Studio. dotnet-svcutil runs fine, though. Any solution?

[2020-02-28 14:45] AnReZa commented on #3155
After adding the suggested DotNetCliToolReference entry to the list, I get error codes NU1202 and NU1212:

[code]

How can I fix that?

[2020-02-28 15:59] crodeheaver commented on #4110
I'd be happy to help test out the new binding once it becomes available!

[2020-02-28 19:07] dasetser commented on #3264
@Jean-Marc1 Can you give some more information about what you're experiencing? We made a fix for this in 16.3 and without more information I'm not sure what to investigate. Do you see this when using the tool for an update or for generating a new proxy? Is it the wsdl path that isn't relative or some other path?

[2020-02-28 19:14] dasetser commented on #3391
@AnReZa This error means there is something about your environment that's causing the an error when the tool tries to install dotnet-svcutil. I'm guessing you're using the global version of dotnet-svcutil which does not have this problem, but the WCF Connected Service uses it differently to avoid having to mess with the global version on your machine.

To figure out what's wrong I would suggest fo

[2020-02-28 20:09] Jean-Marc1 commented on #3264
.Net Standard 2.0 class library project with a reference to a WCF .NetFramework 4.7.2 service...
The "references" node inside "ConnectedService.json" would should a physical path for a dependency dll (a project in the same solution).
Since the path is not the same on all developers' machine, this creates a bunch of compile errors.

[2020-02-28 22:07] StephenBonikowsky commented on #4173
@QingmingZi Thanks for reporting the issue.
@imcarolwang Could you have someone run the dotnet-svcutil tool against the provided wsdl to reproduce the error and get us the error in English.

[2020-02-28 22:12] StephenBonikowsky commented on #4175
@AlexFauteux Thanks for reporting this.
@dasetser Will provide you with some additional guidance to be able to run the local tool and get more info on the error.

[2020-02-29 04:01] imcarolwang commented on #4173
Hi @StephenBonikowsky , I was able to run WCF CS tool with VS against the provided wsdl and reproduce the error (the same for dotnet-svcutil), below is the error message in English for your reference:

[2020-03-01 22:35] HASSEN-MEDDEB-ATOS commented on #4147
Hello Everyone,

I came across an article talk about .NET Core CDS SDK Alpha Availability, it's incredible, i have finally succeed to connect to Dynamics CRM using Microsoft.Powerplatform.Cds.Client;
[code]

[2020-03-02 03:30] brent-williams commented on #4163
FYI this problem was duped & a workaround found _for the stripped-down-wsdl only_ on stackoverflow (https://stackoverflow.com/questions/60332365/dotnet-svcutil-generated-wcf-proxy-and-even-a-custom-channel-are-returning-n).  A solution to generate a usable proxy directly from dotnet-svcutil for the full wsdl remains outstanding.

[2020-03-02 07:30] wouterroos commented on #3984
@StephenBonikowsky Did you get the change to work on the schedule? We're working towards the next release of our product and this is still a blocking issue. Thanks!

[2020-03-02 07:40] AnReZa commented on #3391
@dasetser Why exactly should I install version 1.x, if it's version 2.x that doesn't work?

[2020-03-02 19:36] StephenBonikowsky opened #4180 "wcf-web-service-reference-guide.md needs to be updated to reflect current issue."
This issue: #3812 describes a known issue for which there is no info in the [wcf-web-service-reference-guide.md](https://github.com/dotnet/docs/blob/master/docs/core/additional-tools/wcf-web-service-reference-guide.md)

The doc bug for this issue is here: https://github.com/dotnet/docs/issues/16024

[2020-03-02 19:43] StephenBonikowsky opened #4181 "servicemodel-metadata-utility-tool-svcutil-exe.md needs to be updated."
The [servicemodel-metadata-utility-tool-svcutil-exe.md](https://github.com/dotnet/docs/blob/master/docs/framework/wcf/servicemodel-metadata-utility-tool-svcutil-exe.md) guide needs to be updated to reflect the invalid or unsupported `/async` parameter.

Doc bug: https://github.com/dotnet/docs/issues/10135
Stackoverflow: https://stackoverflow.com/a/13561560

[2020-03-02 19:55] StephenBonikowsky opened #4182 "Add BinSkim to official builds."
BinSkim is an automated security tool that can be added to the official WCF builds.

It will runautomatically by adding `-ArtifactToolsList @("binskim")` to [azure-pipelines-arcade.yml](https://github.com/dotnet/wcf/blob/master/azure-pipelines-arcade.yml#L289)

See example here: https://github.com/dotnet/arcade/blob/master/Documentation/HowToAddSDLRunToPipeline.md

[2020-03-02 20:02] dasetser commented on #3391
@AnReZa For debug purposes to get the more detailed error. It's a slightly different scenario than what's actually happening, but I think it will be close enough to give you the error and let you see what's happening.

If you want the details, this is an error you get from the dotnet sdk and is specific to installing a local CLI tool. I think you would likely get the same result trying to install

[2020-03-02 20:16] StephenBonikowsky opened #4183 "Update target framework for test projects to netcoreapp3.1"
All test projects currently target netcoreapp3.0, update to netcoreapp3.1

[2020-03-02 21:38] StephenBonikowsky commented on #4165
@gaganjyot An AccessViolationException can only be thrown by unmanaged code. Based on the last line of the call stack this issue should be opened in the https://github.com/dotnet/runtime repo.

They will most likely also need the additional info we requested here.

Please open a new issue in that repo, thanks!

[2020-03-02 21:38] #4165 closed

[2020-03-02 21:40] StephenBonikowsky commented on #4171
@mconnew hasn't received an email yet, feel free to re-open this issue if you are able to send him the wsdl.

[2020-03-02 21:57] pmiddleton commented on #4171
@StephenBonikowsky - I sent the email last Tuesday..  The wsdl and xsd was in an attached zip file.  Did your spam filter take it out?

[2020-03-02 21:58] StephenBonikowsky commented on #3750
PR merged, closing.

[2020-03-02 22:20] StephenBonikowsky commented on #4171
Hmm, I'll double-check with @mconnew he hadn't seen it.

[2020-03-02 22:35] StephenBonikowsky commented on #4183
@imcarolwang this should just be a matter of updating all the test projects like this one...
https://github.com/dotnet/wcf/blob/master/src/System.ServiceModel.Http/tests/System.ServiceModel.Http.Tests.csproj#L3

Both scenario and unit test projects.

[2020-03-02 22:45] StephenBonikowsky commented on #4153
@mconnew Could you take a moment to respond to @Edminsson

[2020-03-02 22:46] #4136 closed

[2020-03-02 22:53] StephenBonikowsky commented on #4164
This is a potential regression that should be investigated so a bug can be opened in the runtime repo if needed.

[2020-03-02 23:01] StephenBonikowsky commented on #4173
@dasetser  or @mconnew Could you take a look?
At first glance the error seems to be pretty clear...
`Detail: The required WSDL extension element 'binding' from namespace 'http://schemas.xmlsoap.org/wsdl/http/' was not handled.`

[2020-03-02 23:02] mconnew commented on #4171
It went to my spam folder for some reason. Got it now.

[2020-03-02 23:05] StephenBonikowsky commented on #3984
@wouterroos We've been going through a lot of backlogged issues, we are almost done going through those and will then go through the feature requests to do in 5.0.

[2020-03-02 23:15] dasetser commented on #4175
@AlexFauteux This looks like a duplicate of #3391, so you can check that issue for previous reports and what they did to fix it,. This is an error that the dotnet SDK reports if something goes wrong when installing/running a local CLI tool (which the WCF Connected Service does internally with dotnet-svcutil).

In your second screenshot you were able to successfully use dotnet-svcutil 2.x as a glob

[2020-03-03 00:08] StephenBonikowsky commented on #4147
@HASSEN-MEDDEB-ATOS The work on WSFederationHttpBinding is progressing. I understand you have a pressing schedule, other businesses are also blocked on having WSFederationHttpBinding available and it is being actively worked on.

I understand you are looking into other solutions, unfortunately we don't have expertise on Dynamics 365 APIs.

Have you tried reaching out on the Dynamic 365 site? I fou

[2020-03-03 09:54] markecw commented on #4105
@StephenBonikowsky @dasetser Are you able to commit to a future release on this?
It seems to me it should be a simple fix, and seems quite risky to leave unfixed as many may not realise their enums are wrong if used on a 3rd party service.
As I do not know what other bugs could be caused by using the work around I can not ask to devote QA resources to it.
Thanks
Mark

[2020-03-03 15:45] pmiddleton opened #4186 "Channel Factory caching"
I'm trying to figure out what the best approach is for caching with the new wcf library now that ClientBase no longer caches.

I have a middleware asp.net core web service which in turn needs to call out to a 3rd party soap service using wcf.  The 3rd party service is at a single fixed url https endpoint.

My understanding is that everything in the wcf layer is threadsafe - is this correct?  If so

[2020-03-03 15:52] AlexFauteux commented on #4175
1st I noticed that my .Net Core 3.0 SDK is corrupted...
2nd I started the CLI call of svcutil. There's an error with the service certificate and asks for confirmation then does nothing after I've agreed to continue.

The corruption of the SDK might be the cause of the problem here.

[2020-03-03 18:18] StephenBonikowsky commented on #4163
We have a repro now.
Will need to get some cycles freed-up to investigate this further.

@brent-williams You said this is a blocker for you, does the workaround found on stackoverflow unblock you?

[2020-03-03 18:32] StephenBonikowsky commented on #4105
@markecw When the current tooling update is completed we review our backlog of tooling issues and pull in issues that will be fixed in the next release. This issue will go into that backlog, we just can't promise it will or will not go into the next tooling update.

[2020-03-04 05:47] brent-williams commented on #4163
@StephenBonikowsky great you have a repro.  The stackoverflow fix works for single-method WSDL, but for 2+ methods I couldn't find a combination of namespace values to get the proxy built that both ran and produced a non-null response object for both methods.  But by splitting the WSDL into multiples files, generating a proxy for each and applying the fix to each proxy I can get things running for

[2020-03-04 08:55] jdvor opened #4187 "Question: binding with full message security (both encryption and signing)"
I would like someone with deep knowledge of the dotnet/wcf project and most importantly its feature road-map to assess following binding and tell me whether there are any plans to support missing features (listed bellow).
If some of it is simply not known I would like to hear your best guess on the matter (event if the guess might be "never"). Thanks very much in advance.
[code]

1. class System.S

[2020-03-04 10:11] HASSEN-MEDDEB-ATOS commented on #4147
@StephenBonikowsky @mconnew

microsoft announced the availability of CdsServiceClient on .NET Core, I tried a lot of authentication type and the result is the same,
[code]
i used client secret authentification

[code]

but i get error    System.ServiceModel.Security.MessageSecurityException: The HTTP request was forbidden with client authentication scheme 'Anonymous'.

I have invesitgated in this

[2020-03-04 16:25] StephenBonikowsky commented on #4163
Ok, thank you for the additional info. We would like to get this fixed and will see if it can be incorporated into the next release.

[2020-03-04 16:42] xtrem14 commented on #1810
Thank's for this.
May not working with HttpsTransportBindingElement :/

[2020-03-04 16:44] HASSEN-MEDDEB-ATOS commented on #4147
Hello again,
How can i implement CustomBinding like this in my code
var binding = new CustomBinding
                    {
                        Elements = { new HttpTransportBindingElement //or HttpTransportBindingElement for https:
                        {
                            MaxBufferSize = int.MaxValue,
                            MaxReceivedMessageSize = int.MaxValue,

[2020-03-04 16:47] StephenBonikowsky commented on #4147
Could you please search the repo under https://github.com/dotnet/wcf/tree/master/src/System.Private.ServiceModel/tests
For "CustomBinding" or anything else you are interested in and see what is there first.

[2020-03-04 19:57] dasetser commented on #4175
@AlexFauteux Your .NET Core SDK being corrupted could definitely cause this kind of issue. Since this sounds like it's likely a problem with that rather than dotnet-svcutil or a WCF package, I'm marking this issue as closed. Let me know if you find that this error is not related to the SDK being corrupted and is something the tool is doing wrong, and we can reopen this issue.

[2020-03-04 19:57] #4175 closed

[2020-03-04 20:00] dasetser commented on #3264
Reopening since it looks like the fix we made may have been specific to only the wsdl file, which is why you would still experience this problem with the references node. We'll need to investigate and handle all paths the same way.

[2020-03-04 21:39] #3852 closed

[2020-03-04 21:40] #3855 closed

[2020-03-04 21:40] #3911 closed

[2020-03-04 21:40] #3858 closed

[2020-03-04 21:40] #3879 closed

[2020-03-04 21:40] #3865 closed

[2020-03-04 21:40] #3809 closed

[2020-03-04 21:40] #3854 closed

[2020-03-04 21:40] #3856 closed

[2020-03-04 21:40] #3866 closed

[2020-03-04 21:40] #3853 closed

[2020-03-04 21:40] #3857 closed

[2020-03-04 21:40] #3903 closed

[2020-03-04 21:40] #3760 closed

[2020-03-04 21:41] #3867 closed

[2020-03-04 21:41] #3859 closed

[2020-03-04 21:41] #3862 closed

[2020-03-04 21:41] #3860 closed

[2020-03-04 21:41] #3846 closed

[2020-03-04 21:41] #3847 closed

[2020-03-04 21:41] #3864 closed

[2020-03-04 21:41] #3759 closed

[2020-03-04 21:43] #2643 closed

[2020-03-04 21:43] #2644 closed

[2020-03-04 21:43] #3700 closed

[2020-03-04 21:58] krispenner commented on #3860
Hi @StephenBonikowsky, it looks like all this is completed now?!! :) Can you please confirm? Could you also let me know how I can track the status of the release that will contain this feature? Or provided a targeted date when this will be released? Thank you so much!

[2020-03-04 22:11] StephenBonikowsky commented on #3860
@krispenner We are getting close. The scenario is not complete end-to-end yet, I closed a bunch of the issues tracking specific APIs that we have added to the public contract already in 3.1.
The final pieces are in the last stages of development and will be released in one of the 3.1 monthly servicing releases.
.NET Core does not release updates in April, but we should make it into one of the subs

[2020-03-04 22:13] krispenner commented on #3860
Sounds great, very excited!  👍

[2020-03-04 23:26] StephenBonikowsky commented on #1659
@mconnew Is this resolved with the WSFederation work we are doing?

[2020-03-04 23:27] #1717 closed

[2020-03-04 23:28] #494 closed

[2020-03-04 23:29] StephenBonikowsky commented on #2421
Track with #31

[2020-03-04 23:29] #2421 closed

[2020-03-04 23:29] #2147 closed

[2020-03-04 23:31] StephenBonikowsky commented on #2298
track with #31

[2020-03-04 23:31] #2298 closed

[2020-03-04 23:32] #1073 closed

[2020-03-04 23:34] #1239 closed

[2020-03-04 23:53] #3121 closed

[2020-03-04 23:57] #3554 closed

[2020-03-04 23:58] #3546 closed

[2020-03-05 00:24] mconnew commented on #1659
The original ask was kind of vague and broad. Technically the work we did in preparation for WSFederation fits what they are asking for but I suspect they would want to whole WSFederation feature in practice.

[2020-03-05 00:28] mconnew commented on #3860
@krispenner, from my memory of when I investigated your scenario, I don't expect the specific scenario you listed as working as a result of #3871. I believe usage of AsymmetricSecurityBindingElement implies full message security which we still don't have any concrete plans to be able to support.

[2020-03-05 00:35] StephenBonikowsky commented on #1659
Ok, closing this as we are doing work in the space and will continue to do so with more specific customer asks.

[2020-03-05 00:35] #1659 closed

[2020-03-05 01:30] StephenBonikowsky commented on #3696
Do as part of #4124

[2020-03-05 01:30] #3696 closed

[2020-03-05 07:42] LokiMidgard commented on #1810
@xtrem14 I have it working with https without problems.

See [Client service missmatch](https://github.com/lennykean/WcfCoreMtomEncoder/issues/9#issuecomment-572447799) issue.

[2020-03-05 08:41] ilgb opened #4189 "Missing APIs"
I'm trying to port an existing WCF Client library from Net 4.0 to Net Core 3.1 but it missing some WCF API.
See attached report (JSON) of the .NET Portability Analyzer.
[ApiPortAnalysis.json.txt](https://github.com/dotnet/wcf/files/4291789/ApiPortAnalysis.json.txt)

Do you plan a next release that will add these APIs?

Thanks

[2020-03-05 09:59] xtrem14 commented on #1810
@LokiMidgard thanks for your reply.

I initialized the version of the messages in Soap11.
I now get a whole other error: _A security error was encountered when verifying the message_

`at System.ServiceModel.Channels.ServiceChannel.HandleReply(ProxyOperationRuntime operation, ProxyRpc& rpc)
   at System.ServiceModel.Channels.ServiceChannel.EndCall(String action, Object[] outs, IAsyncResult result)

[2020-03-05 11:42] LokiMidgard commented on #1810
@xtrem14 Unforuntaly For me it just worked that way and I havn't worked with it in some time. According to a [stackoverflow question](https://stackoverflow.com/questions/24099136/wcf-authentication-an-error-occurred-when-verifying-security-for-the-message) you may find a more specific error in the event log.

[2020-03-05 13:45] xtrem14 commented on #1810
@LokiMidgard i found my problem, this was due to a WS security problem.
Also not supported by WcfCore.

I solved this one thanks to this solution: https://bbrauns1.wordpress.com/2019/11/07/how-to-add-soap-ws-security-usernametoken-profile-to-net-core-3-0-client/

[2020-03-05 15:25] LaughingJohn opened #4191 "Adding a connected service when there are multiple services in the solution adds the wrong one"
Hi,

I have a solution with 4 web service in it. When trying to add a service reference in another project in the solution to one of the services, having chosen it from the GUI it adds a reference to a different service to the one I have chosen. I suspect this issue may be in the UI.

To get around this I have to remove 3 of the 4 service projects from the solution, then create my reference and th

[2020-03-05 16:30] krkawalli commented on #1655
We trying to consume WCF service with the reliable session (this is older one) , so trying to consume it throw the .NET core , do not find this option yet to set as part of the Custom Binding.

Can some one give an option on how we can consume Reliable session enabled service in .NET Core.

Error :
"One or more errors occurred. (The action http://tempuri.org/...../GetDefaultHosts is not supported

[2020-03-05 19:00] mconnew commented on #1810
@xtrem14, we do support usernametoken profile. If you use WSHttpBinding with security mode TransportWithMessageCredentials and client credential mode of Username, it should all work. You might need to turn off establish security context if the remote endpoint isn't using WS-SecureConversation.

[2020-03-05 19:16] mconnew commented on #1655
After we have the work completed to support WS-Federation, my next big project is to implement reliable sessions. The hope is to have it complete for the .NET 5 release.

[2020-03-05 20:12] mconnew commented on #4189
If you are able to make code changes you are probably okay with what api's are there currently as it looks like you have some server side code that you are using which shouldn't be needed on the client side.
* AuthorizationContext - Server side code
* IdentityVerifier - This is client side but there's often other ways to achieve the same thing. If you can provide your usage, I might be able to pro

[2020-03-06 08:25] xtrem14 commented on #1810
@mconnew, i had actually considered this solution, but WSHttpBinding does not seem to be available in .NET Core : https://docs.microsoft.com/fr-fr/dotnet/api/system.servicemodel.wshttpbinding?view=netframework-4.8&viewFallbackFrom=netcore-3.1

[2020-03-06 14:35] a-einstein commented on #2463
I also ran into this problem.
- My newly generated WCF client for .Net Standard did not work.
- Fortunately I could reuse my old WCF client generated for .Net Framework.
- Meanwhile I have also implemented a Web API client as a learning path. That works.
- I have kept both varieties running, experimenting with dependency injection of the service clients.

Now being this far, I can imagine to drop

[2020-03-06 19:21] mconnew commented on #1810
@xtrem14, that's a documentation issue. It's definitely there.

[2020-03-06 21:31] dasetser commented on #3969
Dotnet-svcutil 2.0.3 release is focused on an open source effort. This will be included in dotnet-svcutil 2.0.4, which will be released as soon as we can afterwards.

[2020-03-07 19:43] krispenner commented on #3860
@mconnew thanks for letting me know. Are there any high-level expectations for this to be available in .NET 5 at the latest or even that target is unlikely at this point?

[2020-03-08 01:29] mconnew commented on #3860
@krispenner, unfortunately our hands are tied. We depend on code which isn't in .NET Core to achieve message security. There is a potential path to bring the feature, but I'll be honest it will be a while before we can consider thinking about trying to get everything lined up for that. We have a couple of other big features we're lining up right now which will have a wider impact, but I can't talk

[2020-03-08 14:30] PhilPJL opened #4195 "Client disposal - question"
**Describe the bug**
With the .NET framework provider I would typically write code like

using(var client = new MyClient(...))
{
   ...
   return await client.DoSomethingAsync(...);
}

which may not be as fast as it could be since it creates a new client for every request, but it is reliable.

The client for the new provider isn't disposable.  What is the recommended pattern for using it in a cons

[2020-03-08 14:36] PhilPJL commented on #4195
I see there are other threads about this.

[2020-03-08 14:36] #4195 closed

[2020-03-09 13:45] michaelpedro opened #4197 "Erro no arquivo deps.json ao realizar refresh no serviço de WCF."
[English]
Guys, good morning.

I'm trying to perform a refresh in the WCF service connected to the SAP integration, however when trying to perform the refresh an error occurs in the file: deps.json as shown in the image below.

I looked on several pages on the internet and I couldn't solve the error, can someone help me?
_____________________________________________________________________________

[2020-03-09 14:31] serkanz opened #4198 "System.ServiceModel.ServerTooBusyException while making WCF Web Client Call above 30 Seconds"
I created a WCF Web Service Client in my .Net Core Console App which I'm successfully using.

However even if I set the timeout durations to 2 minutes, I keep getting **System.ServiceModel.ServerTooBusyException** if the server response time is above **30 seconds**.

I run the console app (.Net Core 3.1, System.ServiceModel 4.7.0) in Windows Server 2016 and start it as a scheduled task.

Below is

[2020-03-09 18:50] StingyJack commented on #4186
Your title captures the answer - cache the factory.  Just be aware that there isnt a reliable Dispose() on the channels that ChannelFactory<T> creates and it could be leaky. IMO not really worth it, sporadic (subjective) or not.

Some of the word choices are giving me the impression that you are generating code from wsdl while the program is executing and then executing that. Is that what you mean

[2020-03-09 19:07] pmiddleton commented on #4186
sorry bad use of the word generating in that last sentence, should had said instantiating.

The derived clientbase is part of the code generated by svcutil.  The generated reference.cs file, that svcutil produces, is on the order of ~700,000 lines of code.  Instantiating a new clientbase on each call was spending ~600-800ms creating a new channel factory.

I need to cache something because that co

[2020-03-09 21:39] dasetser commented on #3991
The workaround posted from Jmales should work, and I would think the difference is running directly from the csproj will try to find all references and not handle package references correctly, but the sgen.exe tool takes the references needed as parameters so you can pass them in such that it will find them and run.

Since this is the old sgen tool that is part of .NET Framework which is in mainte

[2020-03-09 21:39] #3991 closed

[2020-03-09 21:43] dasetser commented on #3845
The work required to add support for this is too much to be justified for a deprecated protocol in a new tool. Please use the workaround I mentioned above to manually download the metadata and generate the proxy using that.

[2020-03-09 21:43] #3845 closed

[2020-03-09 21:44] dasetser commented on #2947
We have added links to the bottom of the page that lead to documentation about how to use WCF.

[2020-03-09 21:44] #2947 closed

[2020-03-10 11:33] StingyJack commented on #4186
That sounds like a web service that has too many functions. I would probably break up the code generated by the wsdl using a script or similar, starting with removing parts you don't use.

[2020-03-10 16:14] HASSEN-MEDDEB-ATOS commented on #4147
Hello,

The test to connect to dynamics crm was carried out successfully using CDS SDK in .NET Core using connection string with client secret authentification,  the solution is not very reliable because CDS SDK hasn't any stable version

Cordially

[2020-03-11 00:53] AAATechGuy opened #4200 "Missing property System.ServiceModel.Primitives -> MessageHeader -> Relay"
**Describe the bug**
We are in the process of migrating to NetStandard, We consuming System.ServiceModel.Primitives, in lieu of System.ServiceModel.
However, we found the following property is missing.
* System.ServiceModel.Primitives -> MessageHeader -> Relay

**To Reproduce**
`NA`

**Expected behavior**
`NA`

**Screenshots**
`NA`

**Additional context**
`NA`

[2020-03-11 01:36] mtinwala commented on #3228
Hi,

What is the last status on this issue?  I am facing the same problem.  I generated a connected service in .net core app.  The proxy always returns null values even-though SOAP service is returning valid response.  There are no errors thrown from de-serialization code.

If no solution exists, what is the workaround?

[2020-03-11 07:42] dhabierre commented on #3228
@mthalman here my workaround:
https://github.com/dotnet/wcf/issues/3228#issuecomment-477645501
Hope this help

[2020-03-11 08:30] serkanz commented on #4198
I checked the service that my client make request and saw that it responded 110 seconds later. However my WCF client throws error below just after 30 seconds :

[code]

[2020-03-11 23:01] AAATechGuy commented on #2559
Try use CoreWCF
https://github.com/CoreWCF/CoreWCF

[2020-03-12 03:39] mtinwala commented on #3228
I found the issue.  I guess there is a bug in svcutil that generates proxy class (connected service?) in .net core.  The MessageContractAttribute WrapperName must match name of class that it is used for.

[System.ServiceModel.MessageContractAttribute(WrapperName=

If it does not match the name of class, the de-serialization fails to generate object from SOAP response.

[2020-03-12 04:32] mtinwala commented on #702
Hi,

Is this issue resolved now?  I can see in my .net core client that it is not able to fetch SOAP header from response.  I am using connected service proxy class. It is always dropping soap headers in de-serialization.

[2020-03-12 08:40] krkawalli commented on #1655
That means - we do not have any way to consume Reliable Session Enabled WCF in .NET Core now?

[2020-03-12 08:43] krkawalli commented on #1655
-Yes we are blocked to consume some of the data which is being exposed by WCF service which has reliable session enabled by WCF service. Since we moving all the old .NET code to .NET core , this is one think which has blocked us to completely move to .NET Core.

[2020-03-12 09:00] obi111 commented on #3228
@mtinwala i have the same issue. The wrapper name seems to be also wrong here!?

`[System.Diagnostics.DebuggerStepThroughAttribute()]
    [System.CodeDom.Compiler.GeneratedCodeAttribute("Microsoft.Tools.ServiceModel.Svcutil", "2.0.2")]
    [System.ComponentModel.EditorBrowsableAttribute(System.ComponentModel.EditorBrowsableState.Advanced)]
    [System.ServiceModel.MessageContractAttribute(WrapperN

[2020-03-12 17:00] mconnew commented on #4198
The server is responding with a too busy response. When you say you saw it responded 110 seconds later, do you mean the server supplied the HTTP response or do you mean your service call completed 110 seconds later? Those are two very different things.

[2020-03-12 17:08] serkanz commented on #4198
Hi @mconnew , when I look at the server logs I see that it responded with http 200 after 110 seconds. However my WCF client throws ServerTooBusyException after 30 seconds not waiting the server response.

[2020-03-12 19:39] jeremy-morren commented on #2535
Just out of interest, what timeframe are we looking at for this feature?

[2020-03-12 20:47] mconnew commented on #4198
There are a few reasons why that exception is thrown. You can see the places it's thrown here: https://source.dot.net/#System.Private.ServiceModel/System/ServiceModel/ServerTooBusyException.cs,05eaa52d90a0c6f3,references

First reference on that page shows when it gets a fault message with an EndpointNotAvailable fault code. Second one is related to NetTcp. Thrid one is when receiving a 503 http s

[2020-03-12 21:19] mtinwala commented on #3228
Somewhat unrelated with main thread but anyways relevant.  Now, I am having a new issue with de-serialization of SOAP headers.  I am using [SoapCore](https://github.com/DigDes/SoapCore) to set up my .net core SOAP service.  This may or may not be a reason.  Is there any way to grab SOAP headers via auto-generated proxy class without having to do low-level webclient requests?

[2020-03-13 03:20] HengzheLi commented on #1959
Upvote

[2020-03-13 18:25] HongGit commented on #4191
@imcarolwang can you please try to to see if you could repro this issue!

[2020-03-13 18:28] HongGit commented on #4189
@ilgb please let us know if anything else is needed.

[2020-03-13 18:28] #4189 closed

[2020-03-13 18:32] HongGit commented on #3395
@PedroS11 please let us know if this is still an issue.  We now support WSHttpBinding.   If this is still a feature request, feel free to reopen the issue.

[2020-03-13 18:32] #3395 closed

[2020-03-13 18:38] HongGit commented on #3568
@Henkolicious WebInvoke attribute is not supported on WCF Core since WebHttpBinding is not supported.

[2020-03-13 18:38] #3568 closed

[2020-03-13 18:44] HongGit commented on #4187
@jdvor  AsymmetricSecurityBindingElement is full Message Security feature request, we don't plan to support full Message Security feature in the near future.

[2020-03-13 18:44] #4187 closed

[2020-03-13 18:52] #4200 closed

[2020-03-13 22:58] HongGit commented on #1412
Duplicate #1655.

[2020-03-13 22:58] #1412 closed

[2020-03-13 22:59] HongGit commented on #1411
Duplicate #1655.

[2020-03-13 22:59] #1411 closed

[2020-03-13 23:07] arizonawayfarer commented on #3512
Can I just throw in my desire to have this feature?

Currently, generating a client from the Cisco AXL WSDL generates a file that's over a million lines long.

[2020-03-14 02:27] AlanCS opened #4204 "Leverage HttpClientFactory to get benefits of handers"
Hi there !

Firstly, thanks for all your good work, I use this library and it has been working very well for me :)

My suggestion for improvement is to use the [HttpClientFactory](https://docs.microsoft.com/en-us/dotnet/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests) instead of creating HttpClients manually [like this line](ht

[2020-03-16 04:03] imcarolwang commented on #4191
@HongGit , this issue could be reproduced on my side.

The repro app: [Issue4191.zip](https://github.com/dotnet/wcf/files/4335976/Issue4191.zip)
The solution contains 4 wcf service projects (Service1,2,3,4) and a console core project as test client. On the client project, run WCF Connected Service Provider tool and choose different discovered service, it always generates proxy for Service4 which i

[2020-03-16 09:39] AbeBaehaki commented on #4164
The workaround seems to be working.

[2020-03-16 16:30] StephenBonikowsky commented on #4164
@mconnew

[2020-03-17 17:08] pmiddleton commented on #4090
@StephenBonikowsky  - Any update on when the 1.2 package will hit nuget?  Are you waiting on a fix for #4154 first?

[2020-03-17 18:05] StephenBonikowsky opened #4208 "Add test coverage for svcutil.xmlserializer tool"
Add test coverage for the dotnet-svcutil.xmlserializer tool to prevent issues such as #4090 in the future.

[2020-03-17 18:08] StephenBonikowsky commented on #4090
@pmiddleton We are proceeding with the final packaging changes, we can't wait on #4154. Assuming no complications we are shooting for a release to NuGet next week.

[2020-03-18 03:29] simon-biber opened #4210 "Improve HttpAuthorizationForbidden message for HTTPS with client certificates"
**Describe the bug**
The exception message generated by WCF "The HTTP request was forbidden with client authentication scheme 'Anonymous'." is misleading in multiple ways. Firstly it gives the impression that unsecured HTTP was used, which could be a red herring in investigating an issue. Secondly it's not obvious that 'forbidden' means the remote system returned an HTTP 403 status code. Thirdly t

[2020-03-18 07:45] Edminsson commented on #4153
@mconnew and @StephenBonikowsky another question: Re-using the WCF client should also mean re-using the HttpClient instance right? And doing that could potentially lead to this the well-known [DNS problem ](https://github.com/dotnet/runtime/issues/18348) (_Singleton HttpClient doesn't respect DNS changes_) right?

[2020-03-18 13:37] markmario commented on #3221
@Lxiamail i have a repro. This issue seems to be occuring in .net 3.1 with the latest version of system.servicemodel

[2020-03-18 16:37] Lxiamail commented on #3221
@markmario I don't work on WCF anymore. I will let the current WCF repo own to triage the issue.

[2020-03-18 22:51] HongGit commented on #4204
@mconnew  could you please chime in?

[2020-03-18 23:05] HongGit commented on #4210
@simon-biber thanks for raising this issue!

WCF uses [HTTP protocol](https://tools.ietf.org/html/rfc2817), not HTTPS (which is a scheme), and according to protocol, [403](https://tools.ietf.org/html/rfc7231#section-6.5.3) is Forbidden.  In addition, certificate is not an HTTP authentication scheme, it's possible to use HTTP authentication with client certificate, they are not mutually exclusive.

[2020-03-18 23:05] #4210 closed

[2020-03-19 00:17] mconnew commented on #4204
I created a way to modify and/or replace the HttpMessageHandler. A description of some of the details and the following discussion [starts here](https://github.com/dotnet/wcf/issues/3230#issuecomment-431921166). Someone has written a blog post on [how to do this here](https://medium.com/trueengineering/realization-of-the-connections-pool-with-wcf-for-net-core-with-usage-of-httpclientfactory-c2cb26

[2020-03-19 00:17] #4204 closed

[2020-03-23 12:01] marcino239 opened #4214 "Question: How to assign custom HttpClient to Binding?"
Could you show me how to assign custom HttpClient to Binding?  Custom HttpClient implements non-standard proxy.  I have a client class generated by Svcutil with the following constructor:
[code]
I've tried to use this [example](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Binding/Http/HttpBindingTestHelpers.cs#L12) however it is not clear how to pass Ht

[2020-03-23 12:18] SteSinger opened #4215 "Generated code won't compile if a property named "System" exists"
I have create a connected service from a wsdl provided by a customer.
The generated code won't compile because the code contains a class with an object called System. This breaks the XmlElementAttribute since the compiler tries to use the property System instead of the namespace System.

![grafik](https://user-images.githubusercontent.com/3062329/77315729-574c3700-6d08-11ea-9d9d-3b73d8140ec0.png)

[2020-03-23 16:53] nemantro commented on #2219
Hello,

I see that the issue is closed, but I wanted to add some investigation ideas.
In my case I'm still encountering this exception.
I disabled "Just My Code" when debugging wcf auto generated code (generated by the command line tool and in another test, using Visual Studio 2019)
I find out there a serialization issue behind this.

Here is the exception message I'm receiving.
`System.Xml.Serial

[2020-03-23 19:25] marcino239 commented on #4214
Ok - I've managed to figure out

[code]
where
[code]

[2020-03-23 19:25] #4214 closed

[2020-03-24 09:03] mujgancihan commented on #3631
Hi,
I have the same issue, I am using VS2019 and I have already installed svcutil 1.0.4.
When type dotnet -d svcutil I get the error ;

projecttoolscommandresolver: resolving commandspec from 0 Tool Libraries.
projecttoolscommandresolver: failed to resolve commandspec from library.
Microsoft.DotNet.Cli.Utils.CommandUnknownException: Could not execute because the specified command or file was not f

[2020-03-24 13:56] mujgancihan opened #4216 ".NET Core 3.1 WCF Web Service Reference Provider error"
Hi,
I have an application created in NET Core 3.1 and I am trying to add a web service by
WCF Web Service Reference Provider.
But it fails and shows the error below;

Importing web service metadata ...
Number of service endpoints found: 2
Scaffolding service reference code ...
Error:Unable to generate deps.json, it may have been already generated. You can specify the "-d" option before the tool na

[2020-03-24 19:41] dasetser commented on #4191
Interestingly the ConnectedService.json file is saved with the correct service address, but the actual generated file is for the wrong service. So the UI is picking up the selection correctly, but passing the wrong address to dotnet-svcutil when doing the actual generation. We'll look into fixing this in a future release.

For now an easier workaround than removing the other services temporarily i

[2020-03-24 21:35] dasetser commented on #4215
Thanks for reporting this. In general naming a property System isn't a great idea because of conflicts like this, but we'll look into if we can add the global keyword to avoid this conflict in the generated code in a future release.

[2020-03-25 22:29] #4198 closed

[2020-03-25 22:32] HongGit commented on #2805
@mconnew could you please chime in?

[2020-03-26 16:33] LaughingJohn commented on #4191
Updating the reference never works for me for some reason. Firstly I get "No connection could be made because the target machine actively refused it 127.0.0.1:2424".
I have got around this by running up the service in a different instance of VS. However when it regenerated it seemed to ignore the "use types from referenced assemblies" and made up types of it's own. Bit of a pain!

Thanks for looki

[2020-03-26 21:42] sencagri commented on #3228
Is there any improvement about this ?

[2020-03-27 07:13] mjehle82 commented on #1810
Is there a time schedule for the MTOM support?
My project will run for the next two years. It would help us decide which way to go.

[2020-03-27 08:05] lucasguaru commented on #3228
Going more deeply, in my case looks like the XSD from WSDL has the last item with a restriction from a "genericField" type, that is another XSD.
I just realized when I imported the WSDL there were some warnings:
`Validation Error: Invalid particle derivation by restriction - 'Derived element 'www.hexfield.acquirer.aci.com:value' is not a valid restriction of base element 'www.genericfield.acquirer

[2020-03-27 10:30] sencagri commented on #3228
Can someone give code example how to make manual soap request to the server ?

[2020-03-28 06:03] Jonah-Jordan opened #4220 "Custom binding with mutual certificate. How can we do this now?"
Currently we are facing some issues when calling a WCF service in .net core (2.1).

Because .net core doesn't support the System.Servicemodel binding in the web.config we are trying to create this custom binding programmatically.

(This is well explained in this stackoverflow question: How can I programmatically create this custom binding?)

Our custom binding looks like this:

[code]
How can we a

[2020-03-30 07:28] webasoo commented on #3816
also have this problem.
I also added the following code in the .csproj  file:
`<DotNetCliToolReference Include="dotnet-svcutil" Version="1.0.*" />`
and run 'dotnet restore' :

  Installing System.Security.Principal 4.0.1.
  Installing System.Threading.Thread 4.0.0.
  Installing System.Diagnostics.Contracts 4.0.1.
  Installing System.Collections.NonGeneric 4.0.1.
  Installing dotnet-svcutil 1.0.4.

[2020-03-30 18:52] bq1756 commented on #4090
Any complications?  Do you believe 1.2 will be released this week?

[2020-03-30 19:02] dasetser commented on #4216
Thanks for reporting this. We'll look into a fix for this bug in a future release. For now I would suggest using the [dotnet-svcutil comand line tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) to work around this bug.

[2020-03-30 19:03] dasetser commented on #3816
@webasoo We're looking into a fix for this for the UI tool, but for now I would suggest installing dotnet-svcutil 2.x. You can track this issue if you want to be updated when a fix is released: https://github.com/dotnet/wcf/issues/4216

[2020-03-30 19:17] StephenBonikowsky commented on #4090
We had a build failure, infrastructure related, working to get it resolved and then final package validation before publishing the package.

[2020-03-30 19:37] pmiddleton commented on #4090
![image](https://user-images.githubusercontent.com/11600726/77954282-043c2c00-7294-11ea-928d-6ecee23232e6.png)

[2020-03-31 00:50] StephenBonikowsky commented on #4090
We got a good build and the package is going through some final validation steps and will then go to NuGet.

@dasetser will update and close this issue once it gets to NuGet.

[2020-03-31 05:26] webasoo commented on #3816
Thank  Daniel (@dasetser ).
I have done things step by step on this page:
[https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x](url)
and 'ServiceReference' folder correctly added to solution folder !
But I had a problem performing the second section **(Using the Service Reference)**
after execute: 'dotnet restore', I could not use the ServiceRefe

[2020-03-31 12:02] LaughingJohn opened #4224 "No connection could be made because the target machine actively refused it 127.0.0.1:2424"
When refreshing my service reference I get "No connection could be made because the target machine actively refused it 127.0.0.1:2424".

The scenario is that I have added a .net standard project (our own implementation of a proxy) to an existing .net solution that contains the service itself and other projects which also reference the service, one is .net 4.5.2 and the other is PCL.

If I attempt

[2020-03-31 12:03] LaughingJohn commented on #4224
P.S VS2019 Preview.

[2020-03-31 15:57] conckrish commented on #3812
Any workaround for this issue?

[2020-03-31 18:39] dasetser commented on #3816
@webasoo You should not use DotNetCliToolReference for dotnet-svcutil 2.0 or higher. You simply install it with `dotnet tool install --global dotnet-svcutil` and run it with `dotnet-svcutil http://myserviceaddress.com`. When you execute that it should generate a folder that includes a .cs file in it with the code for the service reference. Was that file generated correctly? I'm not sure what you m

[2020-03-31 20:18] #3404 closed

[2020-04-01 04:18] webasoo commented on #3816
@dasetser Yes. file generated correctly.
In the ServiceReference folder, there are two files: 'dotnet-svcutil.params.json' and 'Reference.cs'.
The contents of the 'Reference.cs' also include the class and service methods correctly.
**dotnet-svcutil.params.json**:
`{
  "providerId": "Microsoft.Tools.ServiceModel.Svcutil",
  "version": "2.0.1",
  "options": {
    "inputs": [
      "http://myserver/M

[2020-04-01 13:58] gdodd1977 opened #4227 "Creating CustomBinding with UsernameTransport in .net core 3.1"
I'm trying to consume a WCF service that creates a binding like this in a full framework project.

[code]

I can't seem to get this replicated in a .net core 3.1 project though. I am getting this error message no matter what kind of binding I try programatically.

[2020-04-01 21:32] mconnew commented on #4227
Can you provide the code you wrote to create this binding in .NET Core?

[2020-04-01 21:35] mconnew commented on #4227
I just checked and this looks like a regular WSHttpBinding using using SecurityMode TransportWithMessageCredentials and client credential type of Username.

[2020-04-01 21:39] HongGit commented on #4220
@Jonah-Jordan this is not supported yet, because requires full MessageSecurity feature.  Not sure when that will be supported, certainly it's not going to be the near future.

[2020-04-01 21:39] #4220 closed

[2020-04-01 21:40] HongGit commented on #4171
@mconnew  can you please follow up?

[2020-04-02 12:16] gdodd1977 commented on #4227
That is the binding that gets generated when I consume that WCF service in a full .net framework project. I'm trying to consume that WCF service in a .net core 3.1 project, but I am unable to replicate that generated binding in that .net core project programatically because WsHttpBinding isn't supported in .net core.

[2020-04-02 18:38] StephenBonikowsky opened #4228 "Add doc with a list of major unsupported WCF Features"
This doc should be linked to from the porting playbook under "Unsupported APIs" where it says...

[2020-04-02 18:48] dasetser commented on #3816
@webasoo You want to run the tool in the same folder that your csproj is in. That will let the ServiceReference folder be generated where the project will find it, and will let the tool add the WCF packages to your project for you. Since you ran it in a different folder and without passing the --projectFile argument you'll need to add references to the WCF packages manually.

[2020-04-02 22:45] mconnew commented on #4227
WSHttpBinding is supported in .NET Core. Make sure you are using the latest package versions (currently 4.7.x).

[2020-04-03 09:03] Myo-Gyi commented on #3383
Thanks, it works

[2020-04-03 13:18] hrafnkel commented on #3391
VS2019 16.5.1

Importing web service metadata ...
Number of service endpoints found: 1
Scaffolding service reference code ...
Error:Unable to generate deps.json, it may have been already generated.  You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program Files\dotnet\sdk\3.1.200\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\Generate

[2020-04-03 14:15] hrafnkel commented on #3816
Reference version errors.

C:\Users\*******\AppData\Local\Temp\dotnet-svcutil-lib_Temp\2020_Apr_03_15_12_34\SvcutilBootstrapper\SvcutilBootstrapper.csproj : warning NU1603: dotnet-svcutil-lib 2.0.1 depends on Microsoft.ApplicationInsights (>= 2.2.0) but Microsoft.ApplicationInsights 2.2.0 was not found. An approximate best match of Microsoft.ApplicationInsights 2.4.0 was resolved.
C:\Users\*******

[2020-04-03 16:53] jsamayoap commented on #2550
Following @jardg advice, I managed to consume a ISO-8859-1 encoded SOAP WS:

1. Create the proxy class in .Net Core
2. Send a request

Now I'm stuck at serializing the response, I have as response this XML:

<?xml version="1.0" encoding="ISO-8859-1"?>
<SOAP-ENV:Envelope SOAP-ENV:encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xml

[2020-04-03 18:12] EricStG opened #4230 "dotnet-svcutil --update should not reorder the class definitions"
**Describe the bug**
When updating a service reference based off the same exact WSDL, the order of the classes in the `Reference.cs` file changes, which makes it less version control friendly. It also makes it harder to determine what changed when the WSDL did change.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a new service reference from a WSDL
2. Make a copy of the `Reference.c

[2020-04-04 09:13] HanWangwang opened #4232 "One ServiceHost with many EndPoint or many ServiceHost with One EndPoint ,Which is better?"
I want to get their advantages or disadvantages.Thanks!

[2020-04-06 10:14] YairHalberstadt opened #4233 "WsHttpBinding throws PlatformNotSupportedException .Net Core 3.1"
**Describe the bug**
WsHttpBinding throws PlatformNotSupportedException .Net Core 3.1

**To Reproduce**
On windows
Create a .Net core 3.1 project and add WCF references.

Replace the main file with:

[code]

**Expected behavior**
Runs without exception

**Actual Behaviour**

[code]

Note that changing the target framework to net472 the program runs without exception

[2020-04-06 16:48] dasetser commented on #3816
@hrafnkel This looks like an unrelated issue. Please open a new issue with more information about repro steps, version, and if it's specific to any scenario so we can investigate this further.

[2020-04-07 07:48] hrafnkel commented on #3816
@dasetser Very sorry. But due to the urgency with which I have to deal with this I have wiped-out Visual Studio, all the SDKs and libraries to get a clean installation. Because of this and behaviours like #3391 which I also see I am unable to work.

[2020-04-07 15:06] Dusthorn commented on #3512
Agree. Also have million lines file(

[2020-04-07 21:04] dasetser commented on #4230
Thanks for the suggestion. This shouldn't impact functionality, but I can see why this would be nicer for version control and comparisons. We'll look into what we can do in a future version.

[2020-04-08 00:01] mconnew commented on #4233
The default constructor for WSHttpBinding uses security mode Message which isn't supported. You need to use either None, Transport, or TransportWithMessageCredential.

[2020-04-08 00:06] mconnew commented on #4232
Use a single ServiceHost unless one of these scenarios:
- Different implementation types are to be used for the different endpoints
- Different security configuration is needed for different endpoints (you can do it with one, but you need to write a LOT of code to achieve it)
- You need to add new endpoints dynamically
- You want different throttling behavior for the different endpoints

Using dif

[2020-04-08 03:45] YairHalberstadt commented on #4233
Thanks

[2020-04-08 03:45] #4233 closed

[2020-04-08 09:20] hrafnkel opened #4234 "dotnet-svcutil not compatible with Core 2.1 error message"
**Describe the bug**
Severity	Code	Description	Project	File	Line	Suppression State
Error	NU1202	Package dotnet-svcutil 2.0.1 is not compatible with netcoreapp2.1 (.NETCoreApp,Version=v2.1). Package dotnet-svcutil 2.0.1 supports: netcoreapp2.1 (.NETCoreApp,Version=v2.1) / any	WebApplication1	C:\Users\\****\Source\Workspaces\WebApplication1\WebApplication1\WebApplication1.csproj	1

**To Reproduce**

[2020-04-08 15:17] bobcat1506 commented on #4090
Any ETA on when final validation will be complete?

[2020-04-08 20:26] StephenBonikowsky commented on #4090
@dasetser @HongGit Is there an update on the package moving to NuGet?

[2020-04-08 22:26] dasetser commented on #4090
This was pushed to NuGet earlier today. You can find the new package at https://www.nuget.org/packages/dotnet-svcutil.xmlserializer/1.2.0

[2020-04-08 22:26] #4090 closed

[2020-04-14 09:06] coder-5943123 commented on #4110
Any progress resolving this issue?

[2020-04-14 16:53] StephenBonikowsky commented on #4110
There was some unexpected work needed in underlying dependencies, specifically IdentityModel APIs. We have been working with that team to get the issue resolved, they are actively working on it. This is a priority for us to get done and it is progressing.

[2020-04-14 18:04] mconnew opened #4237 "Add net6.0 TFM to packages"
Today our packages suppress our implementation for xamarin based applications. The next version of the xamarin platform will be based on .NET 5. The previous version of xamarin was based on mono and carried it's own implementation of WCF which is why we suppressed our assets. Based on the design [here](https://github.com/dotnet/designs/blob/master/accepted/2020/net5/net5.md#precedences) we need to

[2020-04-14 20:04] dasetser commented on #4224
@LaughingJohn Thanks for reporting this. You're getting this message because the service is not running and is expected. As you guessed, if you update a .NET Framework service reference first it detects that the service is in the same solution and hosts it for you automatically before updating. This is due to some integration features that Add Service Reference has that the WCF Connected Service d

[2020-04-14 20:04] #4224 closed

[2020-04-14 21:27] mconnew commented on #4153
@Edminsson, yes reusing it does reuse the same HttpClient instance. I created a way to modify and/or replace the HttpMessageHandler. A description of some of the details and the following discussion [starts here](https://github.com/dotnet/wcf/issues/3230#issuecomment-431921166). Someone has written a blog post on [how to do this here](https://medium.com/trueengineering/realization-of-the-connectio

[2020-04-15 19:37] pmiddleton opened #4238 "dotnet-svcutil.xmlserializer 1.2 fails during Azure Pipelins build"
We have a project using dotnet-svcutil.xmlserializer 1.2.  Everything builds and runs fine locally.

We just setup an Azure Pipeline for our project and the tool is failing with the generic "exited with code 1" error.

How can we diagnose what is going wrong?  Is there a way to force the removal of the --quite command line option sent to the tool so we can see any errors it is generating?

Here is

[2020-04-16 09:59] LaughingJohn commented on #4224
Thank you! Just out of interest is there an existing feature request I can go add my support to?

[2020-04-16 10:56] NeloHuerta commented on #2464
Looks like this problem is yet here.

Im using VS2017 Version 15.9.22

I observe the same behavior as reported by  @PhilPJL on 29 Dec 2017.

I can workaround it disabling the 'Reuse types in referenced assemblies'

This problem is not present when using VS2019.

[2020-04-16 19:29] mconnew commented on #4232
I you have any follow up questions, feel free to re-open this issue.

[2020-04-16 19:29] #4232 closed

[2020-04-17 01:25] Heraisu commented on #4227
@mconnew  Saying WsHttpBinding is supported in 4.7.x does not seem accurate. It is possible I am missing something, though.
When making a new client with a new WSHttpBinding(SecurityMode.TransportWithMessageCredential) (or just Transport mode), after you ask it to send any message out at runtime, it will fault with variations of "System.NotSupportedException" and similar. The same does not happen

[2020-04-17 03:15] mconnew commented on #4227
Not all features of WSHttpBinding are supported.Based on your binding config, everything you need should be supported. We don't support everything, for example we don't currently support all client credential types. But the client credential type you are using is supported. Can you provide the code you converted your binding config to and the call stack of the exception?

[2020-04-17 12:20] Heraisu commented on #4227
Yes, I am not the original poster, thank you for still offering to give feedback on my issue. The following is enough to reproduce the error:

var wsBinding = new WSHttpBinding(SecurityMode.TransportWithMessageCredential);
            wsBinding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Certificate;

(Are Certificates one of the things that, as you mentioned, are unsupporte

[2020-04-17 21:33] pmiddleton commented on #4238
@StephenBonikowsky any guidance on this issue?

[2020-04-17 22:22] StephenBonikowsky commented on #4238
@pmiddleton Here is the line in the tagets file that executes the command you posted from the logs.
https://github.com/dotnet/wcf/blob/master/src/svcutilcore/files/dotnet-svcutil.xmlserializer.targets#L35
This target file in the package, you could modify it and remove the "--quiet" then run it again.

@dasetser or @mconnew should be able to provide you additional assistance.

[2020-04-20 22:47] pmiddleton commented on #4238
I worked on this all day today.  It turns out the --quiet flag is actually required in order for the tool to run.  After much tinkering the only error message I can get is.

Version for package `dotnet-svcutil.xmlserializer` could not be resolved

This occurs during the <Exec Command="dotnet svcutil.xmlserializer line of the build task.

However the error isn't coming from the tool itself.  I buil

[2020-04-21 18:39] sameera opened #4239 "Where does the serialization happen?"
I'm trying to find the code that performs the SOAP serialization when we call a ClientBase<T> method of a SvcUtil generated proxy. Which file(s) carry that code?

I have tried to generate the same SOAP envelope that the proxy creates by serializing the SvcUtil generated request classes using `DataContractSerializer`, `XmlSerializer` and `SoapFormatter` (3rd party NuGet package). However, none of t

[2020-04-21 19:47] mconnew commented on #4227
@Heraisu , I see your problem. I'm not sure if it's your intention, but you are actually trying to make a mixed mode binding. You are specifying client certificate for transport, but Windows for Message. So you are requesting using the Negotiate protocol over SOAP messages. I suspect this is actually what you want:
[code]
You were setting transport security credential type to Certificate, but not

[2020-04-21 23:32] pmiddleton commented on #4238
@StephenBonikowsky , @dasetser,  @mconnew

Today I tried a different approach of creating a library project for the serializer directly in my solution.

I ran dotnet-svcutil.xmlserializer manually and took the output source cs file and compiled that into a .net standard 2.0 library, making sure to follow the same assembly naming convention.  I then referenced that library from my application.

Tha

[2020-04-23 00:09] epignosisx opened #4240 "Data Contract object pooling"
Hi folks. I've been profiling a .NET Core 3.1 app and it is a consumer of a WCF service that sends large number responses and the profiler is showing many data contract objects allocated to handle the big payload. I was thinking about introducing pooling for these data contract objects, but I was not able to find any information online. This is a HttpBasicBinding client using the XmlSerializer.

I

[2020-04-23 05:14] sameera opened #4241 "dotnet-svcutil.xmlserializer : Missing System.ServiceModel.Primitives and System.Private.ServiceModel"
Trying to build a .NET Core 3.1 app (initially was .NET Standard 2.0 and I upgraded to 3.1 to see if it would fix this; it didn't).

I'm getting the following error:
Missing one or both of the paths for System.ServiceModel.Primitives and System.Private.ServiceModel.

I have verified that these packages (same versions) are in the search paths. I have even tried adding these libraries to the project

[2020-04-23 11:47] flacidsnake commented on #1257
I'm having the same issue using .Net Core 3.1.201 on Windows 1809 build 17763.1158

[2020-04-23 11:52] flacidsnake opened #4242 "System.PlatformNotSupportedException: 'TransportSecurityBindingElement.BuildChannelFactoryCore is not supported.'"
Hi,

Using .Net Core 3.1.201 on Windows 1809 build 17763.1158, I'm having the same problem as  #1257
Wasn't that issue resolved?

[2020-04-23 12:27] flacidsnake commented on #3969
Is this related to #1257 ?

[2020-04-23 12:29] mlsomers commented on #3991
Another "Me Too".  In my case it works allright with the configurations
Debug - Any CPU
Debug - X86
Release - Any CPU

But it fails only on
Release - X86

I cannot discover anything that would make the release 32bit (X86) version different other than what it is supposed to do.

The config is:
[code]
What @dasetser calls a "workaround" does not work for me, I get exactly the same results via the co

[2020-04-23 13:47] bobcat1506 commented on #4090
I've updated the package reference and tried building it on Ubuntu targeting netcoreapp2.1, netcoreapp3.0 and netcoreapp3.1 and every time I get the same error:

Build succeeded.

/home/administrator/.nuget/packages/dotnet-svcutil.xmlserializer/1.2.0/build/dotnet-svcutil.xmlserializer.targets(35,5): warning MSB3073: The command "dotnet svcutil.xmlserializer obj/Debug/netcoreapp3.1/SvcUtilXmlSerial

[2020-04-23 18:28] csmith-o2 commented on #2670
I realize this discussion is from 2 years ago, but I have the same question and I'm not having much luck finding an answer. At least the API I'm using is public: http://api.exigo.com/3.0/ or http://api.exigo.com/3.0/?wsdl

When I run dotnet-svcutil I get generated classes with the Response1 suffix. For example, `await client.AuthenticateUserAsync(...)` returns an instance of `AuthenticateUserRespo

[2020-04-24 04:33] epignosisx opened #4243 "dotnet-svcutil.xmlserializer can't find netstandard 2.1.0.0"
I'm trying to make dotnet-svcutil.xmlserializer work, but it's failing with:

*Could not load file or assembly 'netstandard, Version=2.1.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51'*

This is a slimmed down version of the csproj:

[code]
When I run `dotnet build`, this is the error shown:

[code]

[2020-04-24 12:53] flacidsnake commented on #4242
Ok, just edit the .csproj file after adding the service reference and point these dependencies from 4.4.* to 4.6.*
`
<ItemGroup>
<PackageReference Include="System.ServiceModel.Duplex" Version="4.6.*" />
<PackageReference Include="System.ServiceModel.Http" Version="4.6.*" />
<PackageReference Include="System.ServiceModel.NetTcp" Version="4.6.*" />
<PackageReference Include="System.ServiceModel.Secu

[2020-04-24 12:53] #4242 closed

[2020-04-24 13:04] flacidsnake commented on #8
Please, see #1257
Hope this can help

[2020-04-27 06:39] MeikTranel commented on #2535
One point to underline the importance here:
Right now all means of communication require that a service is run with elevated privilege. People using WCF with named pipes for inter process communication are utterly blocked by this, because most desktop application vendors cannot ask their customers to run something with elevated privilege because most of the time they don't even that option availab

[2020-04-28 14:22] nicoclau opened #4245 "Several WSDL"
We try to use wsdl from

https://support.travelport.com/webhelp/uapi/Content/Resources/uAPI_WSDLschema_Release-V19.2.0.12.zip with

"inputs": [
      "../../WSDL/air_v49_0/Air.wsdl",
      "../../WSDL/universal_v49_0/UniversalRecord.wsdl"
    ],

If we try "../../WSDL/air_v49_0/Air.wsdl", alone it works,
if we try   "../../WSDL/universal_v49_0/UniversalRecord.wsdl" alone it works

But we try these

[2020-04-28 21:09] dasetser commented on #4241
@imcarolwang Can you take a look at this and try to reproduce it?

[2020-04-28 21:10] dasetser commented on #4243
@imcarolwang Can you look into reproducing this?

[2020-04-28 21:21] dasetser commented on #4245
@nicoclau The tool is designed to only allow one per service reference, so this not working is expected. You should add one reference for each service and use them individually.

As far as getting them to reuse types, the tool does try to reuse types from any references rather than generating new ones. So I would suggest taking the types that are common between the two services and putting them in

[2020-04-28 21:21] #4245 closed

[2020-04-28 21:52] HongGit commented on #4240
@epignosisx thanks for reporting the issue with us!

WCF already pool them, except some cases where custom headers are being used.  If that is the case, could you please give us an example on how it is being used?

[2020-04-29 02:03] imcarolwang commented on #4241
@dasetser , I can reproduce the same error when package `dotnet-svcutil.xmlserializer` is version `1.2.0` and the `System.ServiceModel*`  packages has version `4.5.3` for a `NetStandard2.0` test project.

Note that, on my machine (Win10+VS16.5), by running:

the added wcf package reference version is `4.7.0` instead of `4.5.3`, and the project using `dotnet-svcutil.xmlserializer - 1.2.0` tool buil

[2020-04-29 02:54] imcarolwang commented on #4243
@dasetser I can reproduce the exact issue on my machine. This could be a similar problem as reported in https://github.com/dotnet/runtime/issues/630.

[2020-04-29 03:13] epignosisx commented on #4240
I think we are talking about different object pooling. I’m referring to the DTO classes WCF generates from a WSDL. I doubt those are pooled by WCF since they are returned to the application code (in case of the response) and WCF will not have a way to know when they are no longer referenced in order to reuse them.

My challenge is the service response has very long lists of items with even more ne

[2020-04-29 12:44] sameera commented on #4241
Thanks @imcarolwang !
Updating to 4.7.0 worked for me.

[2020-04-29 12:44] #4241 closed

[2020-04-29 16:53] sameera opened #4246 "Optimizing the SvcUtil generated proxies for single use scenarios"
We use SvcUtil generated proxy to talk to a SOAP Web Service, which has tenant specific URLs. E.g. we might need the proxy to call https://tenantA.api.service.com, https://tenantB.api.service.com, etc.

On top of that, we use the proxy in an AWS Lambda function.

In general, the proxy (ClientBase<T> derived client) can take around 10-15s on the first time we call the API on a specific tenant. The

[2020-04-29 21:19] csmith-o2 opened #4249 "Redundant response wrapper classes being generated"
**Describe the bug**
dotnet-svcutil is generating (what appear to be) redundant wrapper classes around response objects for some APIs

**To Reproduce**
1. Execute `dotnet-svcutil http://api.exigo.com/3.0/?wsdl`
2. Open ServiceReference\Reference.cs
3. See `ExigoApiSoapClient.AuthenticateUserAsync(ApiAuthentication, AuthenticateUserRequest)`, for me this appears on line 83348.
4. The (awaited) retu

[2020-04-30 05:27] forgotten-warrior commented on #3344
@edavedian I'm facing the same issue which happened with you, I have a .NET Core 2.2 application which makes a call to a WFC service via their proxy. There an intermittent timeout issue with the calls, can you share with me what have you done to fix the issues thoroughly?

Thanks in advance.

[2020-04-30 13:10] dorkalord commented on #3816
So I had a similar problem generating code from the WSDL file. Turned out I have installed .net core 3.1 before and therefore it didn't find the tools to build.
**Fix**: I created a `globalj.json` file in the project
[code]
Hope it helps someone :)

[2020-04-30 20:23] mconnew opened #4250 "Consider changing base class of CommunicationException to SystemException"
CommunicationException derives from SystemException on .NET Framework. This was only introduced into netstandard2.0 so we had to switch to deriving from Exception. This has the consequence that the HResult value is different for CommunicationException and derived types between .NET Core and .NET Framework. On Framework, the HResult is COR_E_EXCEPTION (-2146233088), on Core, the HResult is COR_E_SY

[2020-04-30 22:32] HongGit commented on #4238
@pmiddleton  sorry that you are running into this issue!

Since the code is open source , can you please try to inject some debugging code, compile and test this out?

[2020-04-30 23:08] pmiddleton commented on #4238
I tried that previously, see my comment from 3rd comment above.  The extra logging works locally but not in devops.  The code inside the tool is never called in devops.  The pipeline is having an issue resolving the executable code.  I have not been able to figure out why.

Devops does manage to find the targets file inside of the package, because I can get extra logging into that msbuild file and

[2020-05-01 06:36] mconnew commented on #3984
The fix for this issue is now committed.

[2020-05-01 06:36] #3984 closed

[2020-05-01 06:50] wouterroos commented on #3984
@mconnew @StephenBonikowsky  Thanks! Do you have an ETA on when this will make it into a service release for 3.1?

[2020-05-01 12:24] kuntalbose commented on #3557
Facing same problem with Asp.net Core 3.1 with **Microsoft Visual Studio Community 2019 Version 16.4.6**  detailed issue posted [here](https://github.com/dotnet/aspnetcore/issues/21395)

[2020-05-01 16:14] StephenBonikowsky commented on #3984
@HongGit @mconnew
Have you considered this fix for 3.1?

[2020-05-01 19:42] dasetser commented on #4238
@pmiddleton So it's failing to find or download the cli tool on AzDo for some reason? In your zip project I see that you're referencing dotnet-svcutil.xmlserializer with a PackageReference. Does it make any difference if you change it to a cli tool reference?
`<DotNetCliToolReference Include="dotnet-svcutil.xmlserializer" Version="1.2.0" />`

I believe it should be referenced like this to run the

[2020-05-04 14:54] rafamartinsbr commented on #3190
Hi, just to double-check: is this still the case ?

i have a similar situation (ie a host process running .net core that references a .netstandard lib that has a ref to a .netframework lib which consumes an api using WCF / System.ServiceModel 4.0.0).

Thanks in advance and have a nice day :)

[2020-05-04 16:15] StephenBonikowsky commented on #3190
@rafamartinsbr Yes, AsymmetricSecurityBindingElement is not yet supported in Core. @mconnew are there any plans to support this?

[2020-05-05 00:29] HengzheLi commented on #1959
Can share any update about this issue? Does "Priority 1" means that it will be impletemented as early as possible?

[2020-05-05 10:22] mattg23 commented on #1959
For anyone looking into this:
This "hack" works right now for my usecase. But i'm using only very few features of WCF and i'm sure this will break with some of the more advanced features.

[code]

[2020-05-05 23:32] mconnew commented on #3190
@rafamartinsbr, AsymmetricSecurityBindingElement  basically means full message security. Unfortunately we don't have some of the dependencies available to us to be able to implement this.

[2020-05-06 07:15] rafamartinsbr commented on #3190
ok, thanks a lot for your time @StephenBonikowsky & @mconnew .

after a closer look, in our case we might be able to port the host app to full .netframework - which should solve the issue.

have a nice day !

[2020-05-07 01:42] HengzheLi commented on #1959
Thanks for the advice.
Looks like the "hack" need to dive into the WCF source code and recomplie a homebrew version. Hope there is a simpler workaround.

[2020-05-07 04:40] HongGit opened #4265 "[MRS] add System.ServiceModel.Channels.TransportBindingElement.set_MaxBufferPoolSize(System.Int64)"
| APIs | Port/Implement | Public Contract | Testing |
| :------------ | :-------------: | :------------: | :------------: |
System.ServiceModel.Channels.TransportBindingElement.set_MaxBufferPoolSize(System.Int64)| <ol><li>[ ] Merged</li></ol> | <ol><li>[ ] Added</li></ol> | <ol><li>[ ] Added</li></ol> |
API 2 | <ul><li>[ ] Merged</li></ul> | <ul><li>[ ] Added</li></ul> | <ul><li>[ ] Added</li></ul

[2020-05-07 04:55] HongGit commented on #4265
@imcarolwang could you please work on this?

[2020-05-07 10:37] mgolikhatir opened #4266 "created proxy send the request but can not get the result !!"
Hi
I add a reference to a service in my .net core 2.2 project using svcutil 2.0.2 from here :
http://sms.magfa.com/services/urn:SOAPSmsQueue?wsdl

the created service proxy send the request to server and server send reply back to the us but the proxy can not get the result !!
we use this service in our asp .net web app but in .net core 2.2 using svcutil 2.0.2 we can not get the result.
what is the

[2020-05-07 11:02] emilbm commented on #2349
For anyone struggling with this: In the process of upgrading .NET Framework Webjobs to .NET Core 3.1 I faced this issue. I was on 4.4.0 versions of System.ServiceModel packages. Upgrading til 4.7.0 fixed this problem.

[2020-05-07 18:07] eugeneogongo commented on #4266
Hello @mgolikhatir ,

Hello does your web service use wsHttpBinding or basicHttpBinding . We recently have this problem an switched to basicHttpBinding which solved our issue in asp.net core.

It seems asp.net core uses basicHttpBinding.

Thank you.

[2020-05-07 22:52] HongGit opened #4267 "[MRS] add M:System.ServiceModel.FaultException.#ctor(System.String)"
| APIs | Port/Implement | Public Contract | Testing |
| :------------ | :-------------: | :------------: | :------------: |
M:System.ServiceModel.FaultException.#ctor(System.String) | <ol><li>[ ] Merged</li></ol> | <ol><li>[ ] Added</li></ol> | <ol><li>[ ] Added</li></ol> |

***
**API Notes**
- API 1: \<Your notes or comments here.\>
- API 2: \<Your notes or comments here.\>
***
**Implementation N

[2020-05-07 22:58] HongGit commented on #4267
@imcarolwang could you please work on this item?

[2020-05-07 23:27] #4227 closed

[2020-05-08 14:06] l4nk4b3l opened #4269 ""System.ServiceModel.Primitives, Version=4.7.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" mismatch "System.ServiceModel.Primitives" "System.ServiceModel.Primitives, Version=4.5.0.4, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"."
**To Reproduce**
Steps to reproduce the behavior:
1. Create a UWP-App
2. Add a netstandard 2.0 classlibary
3. Add System.ServiceModel.Primitves Version=4.7.0.0 to classlibary
4. Add project reference in uwp-app to classlibary
5. Add some code that uses System.ServiceModel.Primitves in UWP
6. compile error

**Expected behavior**
it should compile

**Repository for Reproduction**
https://github.com/

[2020-05-09 05:28] mgolikhatir commented on #4266
my code :

[2020-05-09 05:29] mgolikhatir commented on #4266
my code :
   BasicHttpBinding basicHttpBinding = null;
            EndpointAddress endpointAddress = null;
            ChannelFactory<ServiceReference1.SoapSmsQueuableImplChannel> factory = null;
            ServiceReference1.SoapSmsQueuableImplChannel serviceProxy = null;

            try
            {
                basicHttpBinding = new BasicHttpBinding(BasicHttpSecurityMode.Transport);

[2020-05-09 05:45] mgolikhatir commented on #4266
and I test this one :

            ServiceReference1.SoapSmsQueuableImplClient client = new ServiceReference1.SoapSmsQueuableImplClient();
            //GetBindingForEndpoint returns a BasicHttpBinding
            var httpBinding = client.Endpoint.Binding as BasicHttpBinding;
            httpBinding.Security.Transport.ClientCredentialType = HttpClientCredentialType.Basic;
            client.Client

[2020-05-10 05:41] kuntalbose commented on #2219
Hi @shmao I am using Asp.net core 3.1 and try to consume web-service,  I tried with bellow code

svcutil.exe /t:code /d:C:\Users\XXXX\Desktop\SOAP\WebApplication1\WebApplication1  http://ws.jobdiva.com/axis2/services/BIData?wsdl

And its generate the code file ([BIData.zip](https://github.com/dotnet/docs/files/4605182/BIData.zip)) and required methods when when I call a method bellow error occurre

[2020-05-12 03:17] wanqian622 opened #4273 "WCF (SOAP service) - throwing 'Message {nameOfFunction} must not have headers to be used in RPC encoded style."
I hope this is the right place to ask the question. Recently, I did some migration from .Net to .Net Core. In the .Net framework, I used web reference to connect a Soap service(WSDL), which worked correctly.

When I did the same thing('Add service reference -> Advanced -> Add web reference") in .Net core, it could generate reference successfully. However, I get an error when I use the reference:
"

[2020-05-12 15:54] Henk7 commented on #1655
Hi,
Also depending on a third party service which is using ReliableSession. The endpoint throws "Only WS-ReliableMessaging February 2005 messages are processed by this endpoint."
We have control over the client code but not the server.
Is there a workaround in netcore3.1?

[2020-05-13 14:39] jeremyVignelles commented on #3158
Hi, any update on this?

[2020-05-14 07:09] robinvanpoppel opened #4274 "Ability to filter wsdl operations in dotnet-svcutil"
We are currently consuming a service reference with `dotnet-svcutil` and only interested in a single operation defined in the wsdl. It would be great if we could indicate what operations to keep or exclude so we end up with a small proxy.

[2020-05-14 14:53] roend83 opened #4275 "Error Adding Connected Service"
I'm getting the following error trying to add connected service reference to an IBM hosted SOAP service in our internal network:

![image](https://user-images.githubusercontent.com/193979/81949286-ac9e1980-95d0-11ea-964a-3db6d7aabc03.png)

This service is hosted inside the company firewall so I can't give you a reproduction, but here's the associated WSDL:

[code]

[2020-05-14 14:56] roend83 commented on #4275
I'm running Visual Studio Enterprise 2019 version 16.5.4

[2020-05-14 15:24] roend83 commented on #4275
Note the latest version of the dotnet-svcutil global tool does appear to work for this service

[2020-05-14 21:34] HongGit commented on #4269
Thanks for reporting this issue!

This is not a WCF specific issue.  Try to update reference version in your app to 4.7, as the version specified in the app will override versions used by the dependencies.

[2020-05-14 21:34] #4269 closed

[2020-05-14 21:39] HongGit commented on #4273
This is already checked into 3.1 release branch, and will be fixed in the upcoming 3.1 release.

Thanks for reporting this issue!

[2020-05-14 21:39] #4273 closed

[2020-05-15 10:29] beardeddev commented on #2365
I installed System.ServiceModel.Http 4.7.0 from NuGet and got the same error.

[2020-05-15 11:54] 8600272825 commented on #3822
Hi,

I am facing same issue. Can i tell us what changes you have done in
MessageHeader
IClientMessageInspector
IEndpointBehavior

[2020-05-17 04:41] Zonorai opened #4276 "dotnet-scvutil Generated client always returns null (server response is correct)"
Client generated by dotnet-scvutil always returns null response, silently fails while deserializing.
Same wsdl works for full .NET Project.
WSDL: https://iws.iridium.com:8443/iws-current/iws?wsdl

Target Framework: netstandard2.0
dotnet-scvutil version used: 2.0.2
Option Parameters used for cli: None

Note: You won't be able to repro this due to private credentials required, but I'm adding a raw r

[2020-05-17 15:01] anupmo commented on #1965
Is there any solution yet for the above issue?

[2020-05-19 13:31] DevDrake commented on #2824
I have similar issue with MetadataLoadContext with dotnet core 3.
I am Loading .Net framweowrk/netstandard libraries trought it.
Basically the project works in "debug", but in "release" it is reporting missing System.Private.ServiceModel.
The workaround is not very convenient. Because providing the dll pulls requirement for other dlls in the netstandard version to recognize base types.

[2020-05-19 19:21] nicoclau opened #4277 "Reuse of Types not working with WCF dotnet-svcutil tool for .NET Core"
**Common Types in assembly references are not reused**

**To Reproduce**
1- I produced the common types from Common.xsd with xsd.exe in C# classes:

C:\Users\xxx\source\repos\BrokerSln\Broker\WSDL\uAPI_WSDLschema_Release-V19.2.0.12>xsd.exe /c common_v49_0\Common.xsd /namespace:Broker  /out:..\\..\\..\\CommonBroker\Common\

I made sure to have the namespace called **Broker**

2- I added the classes

[2020-05-19 21:30] dasetser commented on #4275
@imcarolwang Can you try reproing this and let us know which version of dotnet-svcutil this works on and verify if the latest version of VS is using an older version? If it works with the latest dotnet-svcutil we just need to update the verison VS is using.

[2020-05-19 21:35] dasetser commented on #4238
Let us know if there's anything else we can help with for this issue.

[2020-05-19 21:35] #4238 closed

[2020-05-20 09:51] imcarolwang commented on #4275
@dasetser  I got other error: "the remote name couldn't be resolved: 'inthub.test.auctionintegrationhub.com'" when trying to reproduce the issue with the given wsdl, because the referenced schema and the service server are unavailable. Thoughts?

[2020-05-20 10:41] roend83 commented on #4275
I can check for you if you tell me where the application is installed in
Visual Studio.

On Wed, May 20, 2020, 5:51 AM Carol Wang <notifications@github.com> wrote:

[2020-05-20 13:14] nicoclau commented on #4277
I can send you the project so you can reproduce the problem

[BrokerSln.zip](https://github.com/dotnet/wcf/files/4657046/BrokerSln.zip)

[2020-05-20 19:31] michal-ciechan opened #4278 "The project format is incorrect"
**Describe the bug**
dotnet-svcutil fails with `The project format is incorrect.` when there is a package reference without an "Include" attribute.

Error:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Add `<PackageReference Update="Microsoft.CodeAnalysis.CSharp" Version="3.5.0" />`
2. Run dotnet-svcutil

**Expected behavior**
Either correct find the version, or ignore this package

[2020-05-21 02:19] imcarolwang commented on #4275
Thanks @roend83.

The tool version VS used can be found by checking path similar as:

The global tool is a nuget package installed to the machine, file to check:

[2020-05-22 00:06] colewerner commented on #3087
I'm getting the same error you originally pasted however I have not been able to make it past that:

My wcf config should be specifying that it's using basic auth and not anonymous:

[code]

[2020-05-22 02:13] imcarolwang commented on #4275
Thank you for the sharing,@roend83. The versions seem matched. Is it possible you are hitting the same problem as in https://github.com/dotnet/wcf/issues/2546, https://github.com/dotnet/wcf/issues/2862?

[2020-05-22 05:06] farlop commented on #3087
My original issue was using .NET Core, but it seems that you are using .NET Framework, due to your XML configuration, am I right?

[2020-05-22 11:35] standardissue opened #4279 "Unable to generate deps.json file. It may have already generated"
Hi
I am having a wsdl file provided by client. When i am trying to add that into my .net standard project, i am getting belwo error.
![image](https://user-images.githubusercontent.com/3368897/82663907-357f0b80-9bf6-11ea-843e-f7a4ba3b5690.png)

I have downladed the dotnet-svcutil 2.0.1 package as suggested in but still not able to add this.
https://github.com/dotnet/wcf/issues/3391
https://github.c

[2020-05-22 11:44] colewerner commented on #3087
@farlop Yes you are correct and as it turns out the configuration I posted above was right for me but the first time it was tried the other party involved didn't save the config file correctly so those settings were not being used.  Thanks for responding!

[2020-05-22 17:47] nicoclau commented on #4277
Hi Daniel, Hope you are doing ok and the quarantine is not too hard.

Could you reproduce the problem with the project?

Thanks :)
Nico

[2020-05-22 21:27] yalin78 opened #4280 "consuming third party WSDL endpoint with MTOM"
Hi,

I have a .net core 2.2 application which is downloading a file over WSDL from third party. But i don't see an option to set MTOM encoding in basic http binding in .net core. Can you please help?

[2020-05-22 21:56] yalin78 commented on #1810
Is MTOM supported with .net core now? When is it going to be available?

[2020-05-23 11:56] aaa10 commented on #4273
@HongGit Could you advise when we can expect the upcoming 3.1 release ?

[2020-05-25 04:27] RealHabix commented on #4280
Sadly, the mtom is in "plan" for past 3 years.. WCF failed us big time..

[2020-05-25 11:50] l4nk4b3l commented on #4269
As you can see i already referenced to version 4.7 and it is still not working.
https://github.com/l4nk4b3l/compatibilitytestapp/blob/master/CompatibilityTestApp/CompatibilityTestApp.csproj#L157

[2020-05-25 12:00] raffaeler commented on #1657
A customer of mine will never able to migrate clients + services at once to .NET Core.
The only possible path is migrating the clients first to .NET Core, and later one service by one.
The blocker is the use (on the client side) of the WCF bindings of this thread.

[2020-05-26 21:19] mriehm opened #4281 "MessageBodyStream.Read() with count=0 unexpectedly terminates Stream"
**Describe the bug**
If [MessageBodyStream.Read()](https://github.com/dotnet/wcf/blob/42b5572be18cb6d0d60718f24143a541b5dea755/src/dotnet-svcutil/lib/src/FrameworkFork/System.ServiceModel/System/ServiceModel/Dispatcher/StreamFormatter.cs#L239) is called with count=0, then _reader.ReadContentAsBase64() will return 0 bytes read, and so this code will execute which terminates the Stream:

[if (bytesR

[2020-05-27 22:35] dasetser commented on #4279
Thanks for reporting this. We're working on a fix for this and it should be included in the next insertion we make into VS.

[2020-05-27 22:54] dasetser commented on #4278
Thanks for reporting this. We've had previous reports of this throwing errors when trying to parse a csproj file. In general I think the better approach would be to ignore the package reference if it's not the format we're expecting rather than throwing like this. We haven't been able to prioritize fixing this, but you're welcome to submit a PR and we'll review it.

You can find the file doing thi

[2020-05-28 08:19] mikkeljohnsen opened #4287 "Why is RequestSecurityToken marked internal ?"
**Describe the bug**
I am trying to request a SecurityToken through a STS. But RequestSecurityToken is not available.

**To Reproduce**
Steps to reproduce the behavior:
1. "new RequestSecurityToken()" not available.

[2020-05-28 10:52] klinki commented on #4275
Hello @imcarolwang ,

I have very similar problem.
When I create service in old .NET 4.8 project, everything works fine, Add service reference window can detect the SOAP service and generate code.

![2020-05-28](https://user-images.githubusercontent.com/1476175/83132206-59a08800-a0e1-11ea-8d52-2c30d28dfc16.png)

When I try to do the same with .NET Core 3.1 project and add WCF Web Service Reference

[2020-05-28 11:46] darthkurak commented on #4239
Any update here? I am facing same issue. Can't find a generic way to serialize/deserialize wcf generated classes :(

[2020-05-28 12:01] evolvedlight opened #4288 "Can't use dotnet-svcutil behind authenticated proxy"
**Describe the bug**
The dotnet-svcutil tool doesn't work behind a corporate proxy that requires authentication. It just keeps asking for the username and password in a loop

**To Reproduce**
Steps to reproduce the behavior:
1. Get behind a authenticated corporate proxy (in this case with Kerberos auth)
2. Run dotnet-svcutil <some wsdl on the internet>
3. Put username and password in, it'll keep a

[2020-05-28 20:18] HongGit opened #4289 "Address code review feedback for PR#4282"
@mconnew

Could you please address feedback for [PR#4282](https://github.com/dotnet/wcf/pull/4282)?

[2020-05-29 00:52] mconnew commented on #4239
First thing, SoapFormatter is not available in .NET Core, that's used for .NET remoting which isn't supported.

There's a lot of things which modify how the generated classes are serialized which WCF has logic to work out. For example, anything which uses Soap encoding uses XmlSerializer.FromMappings to create all the serializers of the operations at once. We've created the XmlMapping objects pass

[2020-05-29 02:07] sameera commented on #4239
@mconnew in my case what I'm trying to do is mentioned in
https://github.com/dotnet/wcf/issues/4246

We've seen that given our "single use" scenario of the Channel Factory, we pay quite a huge price in terms of performance as compared to hitting the We service directly with a HttpClient. So one approach we were looking at was to serialize ourselves and call the service via HttpClients.

[2020-05-29 03:23] imcarolwang commented on #4275
@klinki Your problem seems different than reported in this issue, check the error message:

While @roend83 's problem is:

[2020-05-29 03:44] mconnew commented on #4239
All that cost you are seeing from ChannelFactory is the work needed to convert a contract to SOAP messages. If you want to do this without WCF, if your contracts aren't too complicated your best bet might be to use a template approach. You have a pre-created SOAP message with everything you need stored in your app but with the actual data values replaced with some template value. A quick string re

[2020-05-29 04:02] sameera commented on #4239
@mconnew Unfortunately, we are calling a third party webservice with a massive WSDL (over 150 classes with many permutations on the combinations that can be used in its API calls). So, attempting such would be a pretty extensive undertaking itself. Event then, we'd need to capture the SOAP request just as it leaves our code (using a MessageInspector?). But, still that could lead to 100,000s possib

[2020-05-29 04:05] mconnew commented on #4239
Are you calling all the operations or just a few of them?

[2020-05-29 04:50] sameera commented on #4239
Almost all of them; depends on what our endusers need. However, across our entire customer base, we'll be calling almost all operations with almost all record types.

[2020-05-29 06:57] klinki commented on #4275
Oh I see, you are right. I will create another issue for that.

[2020-05-29 07:03] klinki opened #4291 "Cannot create connected service with duplicate complex types"
**Describe the bug**
I cannot create connected service in .NET Core when it has duplicate complex types.

When I create service in old .NET 4.8 project, everything works fine, Add service reference window can detect the SOAP service and generate code.

![2020-05-28](https://user-images.githubusercontent.com/1476175/83132206-59a08800-a0e1-11ea-8d52-2c30d28dfc16.png)

When I try to do the same with

[2020-05-29 10:21] jieling07 opened #4292 "The HTTP request is unauthorized with client authentication scheme 'Basic'. The authentication header received from the server was 'Basic Realm'."
I developed it in ". Net formwork 4.7.2" and it was completely successful.
This is part of the file configuration. The following two configurations are important.
<system.serviceModel>
        \<bindings>
            \<basicHttpBinding>
                \<binding name="QualificationService">
                    \<security mode="Transport">
                        \<transport clientCredentialType="B

[2020-05-30 09:37] GaraYaka commented on #4056
@Kuldeeparyamca what did you do to solve this issue?

[2020-06-01 08:36] mo-esmp opened #4293 "System.IO.FileNotFoundException: 'Could not load file or assembly '.MyProject.XmlSerializers.dll'. The system cannot find the file specified.'"
I have generated  JAX-RPC SOAP web service proxy with Visual Studio 2019. When I call a service method I got following exception at runtime:

[code]

I also tried `Generate Serialization Assembly`  from `Properties->Build`, when I change the value to `On` I got build error:
[code]
Here is my `csproj` file:

[code]
And the output of  `dotnet --info`:
[code]

[2020-06-01 16:14] #4276 closed

[2020-06-02 11:49] darthkurak commented on #4239
Hi. Thanks for reply. From my case, scenario is simple.
We have class generated from wsdl. We have created our own "mock serivce" to provide response for wcf clients.
This response we would like to create using the same generated class which we using on client side. But we just failed to serialize classes to correct one message. Right now, i workaround this with XmlSerializer and manual wrapping i

[2020-06-02 20:02] mconnew commented on #4239
@sameera, if the problem is having so many operations and taking a large amount of memory for the ChannelFactory/large amount of time to create, you can split up your contract into multiple interfaces. That way any one ChannelFactory isn't too big. That you you only pay the cost of the operations you need. You just need to make sure your ServiceContract attribute is explicit with the name and name

[2020-06-02 20:05] mconnew commented on #4239
@darthkurak, would mocking things closer to the client work? For example, you could use DI to provide your client instance. As it implements your service contract which is an interface, would providing a mock client which implements your service interface and doesn't do an over the wire call at all be sufficient? If you really do need to provide a real dummy service, why not copy your generated cl

[2020-06-02 20:36] massijay commented on #4269
I have this problem too

[2020-06-02 20:41] massijay commented on #3088
The problem is still (or again) here with latest packages

[2020-06-02 22:12] darthkurak commented on #4239
I can’t just mock a client. We have this mock service to prepare specific responses for specific requests to test complete system under different circumstances. Introducing client mock would require code change on consumer / client side and maintaining it with some extra configuration. Having mock on server side is just a matter of putting different url on consumer side (in configuration).
I thoug

[2020-06-03 15:24] sameera commented on #4239
At operations level, there's only a handful. However, each operation can work with a large number of types and probably, its the number of these record types that causing the problem. To give more context, this is the Reference.cs generated by ServiceUtil.
https://github.com/sameera/lib-netsuite-servicemgr/blob/master/Celigo.SuiteTalk/src/Connected%20Services/SuiteTalk/Reference.cs

So, I believe

[2020-06-03 19:41] jozefizso opened #4294 "ArrayOfXElement is generated instead of DataSet classes"
**Describe the bug**
I used the Visual Studio 2019 to generate client for a Web Service using WSDL description.
Some of the data types were not generated and the code contains **ArrayOfXElement** instead.

When I call the API method, the **ArrayOfXElement** contains the whole XML SOAP response instead of actual dataset values.

**To Reproduce**
Steps to reproduce the behavior:
1. Use VS 2019 16.6

[2020-06-03 22:51] dasetser commented on #4288
Thanks for reporting this, and including the workaround for anyone else who encounters it. We'll look into why this is happening in a future release.

[2020-06-04 12:27] vuchl commented on #2219
I searched the XSD file I had for `Type[][]` and fixed the corresponding `XmlArrayItemAttribute` from `typeof(Type)` to `typeof(Type[])` and also got it working! Thanks so much @shmao

[2020-06-05 00:21] HongGit commented on #4293
@mo-esmp could you please provide a simple repro project so we could investigate?

Thanks for your feedback!

[2020-06-05 00:29] HongGit commented on #4292
@jieling07 could you please try to set ChannelFactory.Credentials.UserName on the ChannelFactory and see if it works for you?

[2020-06-05 00:34] HongGit commented on #4287
@mikkeljohnsen we are in the process of releasing WSFederation support.  If you could wait for a few weeks, hopefully that will provide what you need.

[2020-06-05 00:37] HongGit commented on #4281
@mriehm very mice finding!

We won't fix this in .NET framework.  However, if you could submit a PR for .NET Core, we will review and accept it.

Thanks for your feedback!

[2020-06-05 00:40] mconnew commented on #4280
The community has created an external mtom encoder that you can find here: https://github.com/lennykean/WcfCoreMtomEncoder

[2020-06-07 06:24] mo-esmp commented on #4293
@HongGit here is a sample repo you could use to investigate [adp-sample](https://github.com/mo-esmp/adp-sample).

[2020-06-09 20:29] felipepessoto commented on #1959
Modifying the backing field may not work as expected. The WCF libraries are probably not tested to support the ConcurrencyMode.Multiple.
@Lxiamail @HongGit is this feature in roadmap?

[2020-06-09 23:59] EamonHetherton commented on #3712
I'm hitting this too.  Trying to port some .NET 4.5 code to core 3.1.  This code depends on a webservice originally written in .NET 2 that returns typed datasets.

If I create a .NET framework library and  "Add Service Reference" it correctly generates the service proxy, but in .NET core using "Add Connected Service" -> "Microsoft WCF Web Service Reference Provider" the service proxy returns Syste

[2020-06-10 11:51] wouterroos commented on #3984
Hi,

Any update on this?

[2020-06-10 12:16] bstordrup opened #4296 "Split service reference file in multiple files"
When the SvcUtil is creating the service reference code, it would be nice to have an option to generate individual files per class in a folder instead of creating all classes in the Reference.cs file.

This file may depending on the used service grow extremely large - I have a setup where it generates a 217000+ lines of code reference.cs, and that causes Visual Studio 2019 (or an extension) to cra

[2020-06-11 22:23] mconnew commented on #4280
This is a duplicate of #1810 so closing.

[2020-06-11 22:23] #4280 closed

[2020-06-11 22:23] HongGit commented on #4292
Feel free to reopen if the above suggestion does not work for you, thanks for your suggestion!

[2020-06-11 22:23] #4292 closed

[2020-06-11 22:27] HongGit commented on #4291
@imcarolwang could you please take a look and see why it is different between .NET and .NET Core?

[2020-06-11 22:32] HongGit commented on #4275
@roend83 has your issue been resolved?

[2020-06-12 08:34] imcarolwang commented on #4291
@klinki Can you confirm if on .NET4.8 the tool correctly generated usable Reference.cs? I tried using this wsdl https://api.avangate.com/soap/6.0/?wsdl to generate proxy code on both .NET4.8 and .NET Core, it looks like although .NET Framework tool showed the available operation list of the service, it generate an invalid empty Reference.cs without showing any warning or error, but with .NetCore t

[2020-06-12 14:01] mikkeljohnsen commented on #4287
@HongGit Thanks, I hope it will be available soon. I have checked out the branche "release/3.1.0" and can see that will be the 4.8.0 NuGet release. But "RequestSecurityToken" is still not available.

[2020-06-12 14:12] klinki commented on #4291
I just tried again and it seems it didn't really work in .NET4.8 either.

I guess I must have used https://api.avangate.com/soap/4.0/?wsdl after all. I was migrating our old code to .NET Core and I tried also to update some old APIs so I have been trying the newer version first.

I tested again and for version 4 it discovered services and appeared to start generating code, but at the end it didn't

[2020-06-14 02:13] jnm2 commented on #2205
Please add an 'Implement INotifyPropertyChanged' checkbox in the UI. INotifyPropertyChanged isn't *only* for data binding.

A UI option will help people who are porting applications to .NET Core.

[2020-06-15 06:55] imcarolwang commented on #4291
For WSDLs which seem "works" on .NET4.8  showed the same warning as reported by .NetCore Connected Service tool when I use command line tool svcutil.exe to generate service proxy:

It turns out the wsdl file itself got some problem. The difference is that for .NetFramework Add-Service-Reference tool it generate the proxy code without reporting warning/error, but the generated code doesn't seem wor

[2020-06-15 22:15] dasetser commented on #4296
@bstordrup This sounds like it's the same feature request as #3512, so I'm going to close this issue. Please comment or react on that issue so we can keep one place to track the request.

[2020-06-15 22:15] #4296 closed

[2020-06-15 22:24] dasetser commented on #3512
We had another request for this feature in another issue, and there have been a couple more comments and reactions since we triaged this. Moving it to pri 2 instead of pri 3 so we can take that into consideration during the next release planning.

As an FYI in case anyone wants to contribute to this project and send a PR, the underlying tool that the WCF Web Service Reference provider is using is

[2020-06-15 22:47] dasetser commented on #4197
@michaelpedro01 Thanks for reporting this and I'm sorry we missed responding to this when you first reported it. We have a change that should fix this issue checked in for dotnet-svcutil. This should be fixed in a future release once we're able to get this inserted into Visual Studio.

[2020-06-16 06:06] bstordrup commented on #3512
I was the one reporting the issue that @dasetser just mentioned. I generate the reference for a service that contains a lot of classes, and it produces a 216000+ lines of code file - which makes my Visual Studio 2019 crash silently (might be an extension to Visual Studio that runs out of memory). I would very much like to have an option to generate one file per class instead of piling it all up in

[2020-06-16 14:35] mjrousos commented on #1959
@mconnew @Lxiamail Any ideas on this one? I also had a customer asking about `ConcurrencyMode`. Would be good to get an update.

[2020-06-17 11:36] hohounk opened #4299 "Accessing raw XML in SOAP serive"
I'm using .net core and have to access a SOAP service. I can generate client side code for doing it with svcutil and it works fine. What I now need is to also get access to the raw XML being sent back and forth but for the life of me I can't see a way to do it.

With regular .net I could use SoapExtensions to make something that passes through all the XML messages but same doesn't seem to be possi

[2020-06-17 17:06] VarmaYM commented on #4279
Hi, I am getting the same error. Do we have any workaround to generate a proxy, connected service for the project?

[2020-06-18 22:43] HongGit commented on #4299
@mconnew can you please provide the guidance?

[2020-06-18 22:55] mconnew commented on #4299
If you are using HTTP, you can install a custom MessageHandler and read the XML from the HTTP request on it's way out or on the reply. A blog post giving an overview of the mechanism is [here](https://medium.com/trueengineering/realization-of-the-connections-pool-with-wcf-for-net-core-with-usage-of-httpclientfactory-c2cb2676423e). There's an example of a behavior which accesses the request and res

[2020-06-20 23:56] penev92 commented on #31
Hello,

I am not sure if this is the right place to ask this, but I couldn't find a better one so here it goes:

**Backstory**: I have to call a 3rd-party (apparently Java) SOAP service that is using some more convoluted security than I would like. My project is on .NET Core 3.1 and is successfully calling a number of other SOAP services. _I am working off of the WSDL and an example request on thi

[2020-06-22 06:33] hohounk commented on #4299
Thank you, awesome. I'll give it a try

[2020-06-22 06:33] #4299 closed

[2020-06-22 11:38] jay758 commented on #4279
Hi I also get the same error for .net core 3.1 in vs2019

[2020-06-22 14:50] SergeAgeyev opened #4301 "TaskScheduler UnobservedTaskException on long run of WCF 4.7.0 on .NetCore 3.1"
**Describe the bug**
I our application (it uses a lot of WCF services with NetTcpBinding and HttpBinding), we observe TaskScheduler UnobservedTaskException after ~20 hours of operation when using WCF 4.7.0 on NetCore 3.1. The app using WCF to connect to Onvif video cameras and other WCF services as well.
By couple of reasons, we have to terminate application on UnobservedTaskException as system ma

[2020-06-22 16:10] SergeAgeyev opened #4302 "Timeout logic problem on OneWay methods in WCF 4.7.0 on NetCore 3.1 (Win)"
**Describe the bug**
In out WCF application we use `void Test(int i)` method with `IsOneWay=True` attribute.
The method is called every second. Server processing is negligible (~1 ms).
If we specify client timeouts ~5..7 sec, it will throw timeout exception on ~5..7th call.
Same code under .Net Framework works fine.

The exception thrown:
[code]

**To Reproduce**
Simple app to reproduce issue:

[c

[2020-06-23 15:04] dasetser commented on #4279
@VarmaYM You can work around this for now my downloading the [dotnet-svcutil command line tool](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) and using that tool instead of the UI tool.

[2020-06-23 16:30] Ace-Lightning commented on #3237
Hello, the issue is still persists. Will it be fixed?

[2020-06-24 11:26] rsankardayal commented on #2535
Dynamics GP eConnect has a WCF service with an netnamedpipedbinding endpoint net.pipe://..... I am very much interested if there is a solution to consume this service with .Net Core.

[2020-06-24 12:17] rsankardayal commented on #3314
Dynamics GP eConnect has a WCF service with an netnamedpipebinding endpoint (net.pipe://localhost...). I am very much interested if there is a solution to consume this service with .Net Core.

Is there any way this class could be added to the compatibility pack?

[2020-06-24 16:35] Edminsson commented on #4153
@mconnew thank you, the circle is now closed since you referenced to the same [link ](https://github.com/dotnet/wcf/issues/3230) that I used in my original question. We ended up creating a WCF Client factory that uses the techniques described in that [link ](https://github.com/dotnet/wcf/issues/3230) and [blog post ](https://medium.com/trueengineering/realization-of-the-connections-pool-with-wcf-f

[2020-06-24 20:41] HongGit commented on #3191
Thanks for your feedback!

dotnet-svcutil.exe is now open source in this repo.

[2020-06-24 20:41] #3191 closed

[2020-06-24 22:05] HongGit commented on #4266
@imcarolwang can you please see if you could repro this issue?

[2020-06-25 14:38] CFlatWouldbeMinor commented on #1959
I am looking for this as well.
We want to have a .net standard client which connects to an existing server.
There the ClientBase class throws a "Platform not Supported" exception in the constructor
dotnet-svcutil generated..
    [System.Diagnostics.DebuggerStepThroughAttribute()]
    [System.CodeDom.Compiler.GeneratedCodeAttribute("Microsoft.Tools.ServiceModel.Svcutil", "2.0.1")]
    internal part

[2020-06-26 09:58] LouisCPro commented on #1655
Hi,

Same Problem for me trying to port a Framework based WCF Duplex Service to UWP to create a new IHM under Win10IotCore.
No RealiableSession property in NetTcpBinding !

[2020-06-26 10:09] LouisCPro commented on #1655
Notic Also that even Instancecontext is not supported.

Here is the way I initialize my clientservice in classic WCF :

"...
m_ServiceCallback = new MyClientInstanceCallback();
m_InstanceContext = new InstanceContext(m_ServiceCallback);
m_Client = new MyDBClient(m_InstanceContext);
m_Client.ChannelFactory.Closed += ChannelFactory_Closed;
m_Client.ChannelFactory.Faulted += ChannelFactory_Faulted;

[2020-06-26 10:34] eng-marani commented on #1274
It's incredible, but this compile error is still there in 2020 !!!!

I'm building a soap proxy for SalesForce web service, and the error is this:

        [System.Xml.Serialization.XmlArrayItemAttribute("columns", typeof(ListViewRecordColumn), IsNullable=false)]
        public ListViewRecordColumn[][] records;

must be

        [System.Xml.Serialization.XmlArrayItemAttribute("columns", typeof(**Li

[2020-06-26 12:28] Ravenheart commented on #1274
@eng-marani its been there since the early 2000s :)

[2020-06-26 12:52] eng-marani commented on #1274
Well, what is Microsoft waiting for before fixing it ? The obsolescence of WebService technology ?
And why it has been marked as "closed" when it isn't at all ?

[2020-06-29 08:02] imcarolwang commented on #4266
I can't repro this since I don't have the credentials used by the client code.

[2020-06-29 15:40] simonprice33 commented on #2933
Did you get a fix for this?

[2020-06-29 21:12] HongGit commented on #4266
@mgolikhatir do you have the same issue with svcutil.exe as well?  Does the problem repro with  .NET framework?

[2020-06-29 23:00] eddiegroves opened #4303 "Does dotnet-svcutil have plans to support downloading metadata?"
**Describe the bug**
Support downloading metadata only, similar to `svcutil.exe /t:metadata <url>`

**Expected behavior**
A useful feature that existed in `svcutil` is supported

[2020-06-30 09:06] 630383257 opened #4304 ".Net Core 3.1 ChannelFactory creating proxy service call method exceptions"
Using wcf in .net core, using ChannelFactory to create proxies.
[example link](https://thecodebuzz.com/consume-wcf-web-services-in-net-core-using-channelfactory/)
the code is similar
[code]
When I refer to the .Net Framework package, it runs normally. When I copy the proxy interface code to .Net standard, it can run normally Step 1, when I run to step 2, an exception is thrown: Object reference no

[2020-06-30 16:15] pavloss commented on #3088
Same issue with UWP version 6.2.10
.net Standard 2.0 PCL.

`System.Reflection.ReflectionTypeLoadException: 'Unable to load one or more of the requested types.
Could not load file or assembly 'System.ServiceModel.Primitives, Version=4.7.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a'. The system cannot find the file specified.
Could not load file or assembly 'System.ServiceModel.Primitives,

[2020-06-30 16:50] pavloss commented on #3031
I'm experiencing the same issue as the OP.
I have a PCL that has consumed a WCF service.
In the xamarin forms UWP project I have referenced this class library version 6.2.10.
On debugging or running this project i get the following:

`System.Reflection.ReflectionTypeLoadException: 'Unable to load one or more of the requested types.
Could not load file or assembly 'System.ServiceModel.Primitives, V

[2020-06-30 21:49] HongGit commented on #4303
Thanks for the feedback!

We could look at this in a future release when there is a high customer demand for this feature.  In the meantime, feel free to submit a PR if you would like to contribute.

[2020-07-04 03:45] VenkatSappidi commented on #2197
Hello Sameera, I am using above sample, What type of binding need to be used for this? I am getting error for Basic Https Binding

[2020-07-04 14:21] a-einstein commented on #3088
Me too, same as pavloss.
What should I do, use 6.2.9, or 8, or ...?

I can try some things, but I am very weary of stumbling into one weird problem after the other while trying to get an UWP variant working.
So far it has never succeeded. The Android one did work.

[2020-07-05 06:38] mo-esmp commented on #4293
Is there any update on this case?

[2020-07-06 01:01] sameera commented on #2197
@VenkatSappidi I' using `BasicHttpBinding`.
I'm actually accepting the default and not trying to set it. Any reason why you wanted to change to Https binding? The endpoint I'm hitting is a `https` one and the default binding works just fine.

[2020-07-07 20:14] xr280xr commented on #4122
arphox described my exact experience over the last day. I'm very thankful this project exists and is even integrated into Visual Studio now, but am missing the configuration. I'm taking a stab at recreating it using the Option pattern (and just noticed the HttpBinding does not have the HostNameComparisonMode property it had in .NET Framework, which led me here.)

[2020-07-07 21:25] mconnew commented on #4304
In the call stack, it's calling ThrowIfFaultUnderstood, which means the server returned a Fault message. If it was a problem with the SOAP parts of the message (action, soap version etc), then you would have had a more specific exception thrown with some helpful text. It looks like a generic fault message was returned by the service. The most likely cause is the service threw an unhandled exceptio

[2020-07-09 05:46] dianakk commented on #2472
I also get

I've removed the Namespace="" as you recommended and it worked for me. I was able to login, but then I was not able to call some of the actions receiving 'org.apache.axis2.databinding.ADBException: Unexpected subelement clientId' error.

[2020-07-09 06:00] dianakk commented on #2472
I am using the same wsdl  https://test.efsllc.com/richapp/Wsdl.action?wsdl=/axis2/services/CardManagementWS in Visual Studio 2017, .Net version 4.6.1 in a .Net Web Application and I still receive the same error related to Namespace="". Removing Namespace="" from generated cs file allowed me to login the service and call some of the methods, but the most important ones returned with error 'org.apac

[2020-07-09 06:04] dianakk commented on #2472
Could you please clarify what do you mean by ".Net Framework project" and if possible the "old way" of service consumption you mentioned in your post.
I am using .Net Framework web application wit .Net 4.6.1 in VS 2017 and get the same error as you.

Thank you in advance

[2020-07-09 08:25] marcocao opened #4305 "wcf client with BasicHttpBinding miss proxy setting in .net core 3.1 and System.ServiceModel 4.7"
**Describe the bug**
if you have a proxy settting in os, wcf client with BasicHttpBinding miss it.

**To Reproduce**
Steps to reproduce the behavior:
1. call a wcf client endpoint with BasicHttpBinding miss proxy setting in .net core 3.1 and System.ServiceModel 4.7.
2.
System.Net.Sockets.SocketException (10060): A connection attempt failed because the connected party did not properly respond after

[2020-07-10 10:28] wouterroos commented on #3984
@StephenBonikowsky @mconnew @HongGit I haven't heard from you regarding this fix on netcore3.1, does this mean this is no longer being considered?

Thanks.

[2020-07-10 10:35] doorman02 commented on #31
Hi, what´s the current status of supporting WSHttpBinding? If it´s available are there any examples of usage?

[2020-07-10 13:59] mikkeljohnsen commented on #4287
Has it not been a few weeks now :)

[2020-07-10 15:03] RKDMax commented on #2472
@dianakk - Make sure you add the webservice as a "Web Reference" and not a "Connected Service".   In VS 2017, go to the Solution Explorer, right-click References, then "Add Service Reference".  In the "Add Service Reference" modal window, copy paste the EFS WSDL url into the Address bar and click the "Go" button to find the webservice.

[2020-07-10 17:27] dianakk commented on #2472
@RKDMax thank you very much for your quick and helpful response. I created a Web Request using WSDL and it worked successfully. 👍

[2020-07-15 14:09] PhilPJL opened #4306 "Question re dotnet-svcutil and bootstrapper"
I'm trying to run dotnet-svcutil in the debugger and have an issue with the bootstrapper and package restore.

If I build the tool and run it from the command line, e.g.

dotnet-svcutil "http://localhost/WCFTest/Service1.svc?wsdl -d D:\WCFTest -r "C:\Users\passp\source\repos\WCF_Test\SharedDataContracts\bin\Debug\netstandard2.0\SharedDataContracts.dll" -v debug"

This works fine.  I get a bootstra

[2020-07-16 09:46] PhilPJL opened #4308 "NoBootstrap option and referenced assembly"
In order to debug the dotnet-svcutil tool I need to use the -nb option.  This causes an error when referencing a .NET standard 2.0 assembly.

[test.zip](https://github.com/dotnet/wcf/files/4930626/test.zip)

Using the attached files use: dotnet-svcutil.exe Service1.wsdl -v debug  -r SharedDataContracts.dll -nb

This should generate the service reference without error, but we get

![image](https://

[2020-07-16 10:15] PhilPJL commented on #3812
@dasetser

I've managed to fix this bug locally, but I'm not 100% confident my solution is correct since I had to turn off assembly signing.

Steps:

1. Download latest source
2. Turn off assembly signing in the dotnet-svcutil-lib project or it won't build for me (no .snk)
3. I need to apply the fix mentioned here [https://github.com/dotnet/wcf/issues/4308](https://github.com/dotnet/wcf/issues/430

[2020-07-16 10:20] m-straub commented on #4110
Is there any progress or workaround? This is the main issue holding my team back from fully switching to dotnet core because we are dependent on a third party wcf interface.

[2020-07-16 17:58] mconnew commented on #4110
We are working on some build issues, but once they are resolved we should be releasing a preview package with this functionality very soon.

[2020-07-19 14:47] imsh commented on #1959
It would be nice to get this supported

[2020-07-19 20:13] ericnewton76 commented on #1810
So I thought I'd mention this here, since I had to spend an hour or so fully understanding whats going on:

WCF for Net Core made an architectural decision without realizing it prevented MTOM encoding efficiently.
WCF for Net Core team do not want to rearchitect WCF for Net Core.
WCF for Net Core is now recommending gRPC instead.

https://docs.microsoft.com/en-us/dotnet/architecture/grpc-for-wcf-d

[2020-07-19 20:16] ericnewton76 commented on #1810
Also of note, an external mtom encoder was created: https://github.com/lennykean/WcfCoreMtomEncoder

However, I must stress that due to the architecture limits placed by WCF for Net Core, this WcfCoreMtomEncoder is VERY MEMORY INTENSIVE (according to current implementation, I havent fully examined it myself yet).  Meaning, it has to keep the whole contents in memory before it can emit a valid soap

[2020-07-20 06:22] RealHabix commented on #1810
Yes, yes, yes. But what should we do about legacy services that require MTOM - we use plenty and they won't be updated any time soon. Also the WcfCoreMtomEncoder doesn't support streams. Only useful in special cases.

WCF team let us and our customers down big time. We had to switch back to .net framework in many cases.

[2020-07-21 09:11] Dawiducik commented on #2805
Did you find any solution? I have exactly the same problem

[2020-07-21 09:39] naojamg commented on #2805
As i can remember, there was a problem in the port of the soap service a was using, one url looks like this `x.x.x.x:8101/DynamicsAx/Services/TIFacturasServicios` and the other was `x.x.x.x:8201/DynamicsAx/Services/TIFacturasServicios` i was using the incorrect, i don't remember what was the correct... after thar i simply use the connected services tool in VS and everything worked fine

[2020-07-21 09:55] Dawiducik commented on #2805
Well, I've set my identity with `new UpnEndpointIdentity("dynamics@contoso.com")` (I guess UPN = UserPrincipalName) and now it works, thanks for good willings anyway @naojamg :)

[2020-07-21 10:59] Dawiducik commented on #2805
I don't know how, but it looks like you predicted my next problem and your advice with switching the ports was soooo helpful.
But why is AX generating "wrong" port? (Maybe not really wrong)
Many thanks @naojamg ❤️

[2020-07-21 11:10] naojamg commented on #2805
@Dawiducik hahaha AX is a little old, i was using 2012 version and the ports was generated automatically by AX, it seems like both ports are used but i never knew why one is only the correct for the connection (・_・ヾ

[2020-07-22 01:00] mconnew commented on #4305
Which OS are you using? I use the automatic OS proxy config capability regularly when debugging new code for WCF. When I use fiddler and configure it as the system proxy, requests do go through fiddler. Are you trying to connect to a service running on localhost as system configured proxies get skipped when the service url is http://localhost. If this is your issue, you can instead use your machin

[2020-07-22 15:07] mjrousos opened #4315 "Add Helper Methods to System.ServieModel.Federation for creating different versions of WsFederation"
This issue is copied from AzureAD/azure-activedirectory-identitymodel-extensions-for-dotnet#1403 (since WsFederation work is happening in this repo now instead of that one).

[2020-07-22 21:15] HongGit commented on #4005
this has been fixed.

[2020-07-22 21:15] #4005 closed

[2020-07-22 21:40] HongGit commented on #3871
This becomes obsolete as we take Microsoft.IdentityModel.xxx from Azure Identity team.

[2020-07-22 21:40] #3871 closed

[2020-07-23 06:49] jcbvm commented on #3712
I encountered the same problem a while ago. I'm using the following workaround currently to transform XElements into a DataSet:

[code]

[2020-07-23 22:13] #4153 closed

[2020-07-23 22:23] #4281 closed

[2020-07-23 23:31] #4275 closed

[2020-07-23 23:37] #4304 closed

[2020-07-23 23:37] HongGit commented on #4304
Feel free to re-open if this is still an issue.

[2020-07-24 14:29] Timo-Weike commented on #3816
I can also not install `svcuitl`. I followed this [guide](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/dotnet-svcutil-guide?tabs=dotnetsvcutil2x) and at step three (`dotnet -d tool install --global dotnet-svcutil`) I get the following error message

[code]

I have installed the Visual Studio 2019 Community Edition

[code]

Additionally I installed .Net-Core SDK 2.1 but it did not

[2020-07-27 09:31] Timo-Weike commented on #3816
I solved my problem: The problem was a corporate proxy server. After I configured the proxy server in my `nuget.config` like suggested in [this](https://stackoverflow.com/a/15463892/6560579) SO-answer it worked perfectly.

[2020-07-27 11:51] egorpavlikhin commented on #4163
Here is another wsdl that fails, although you need an account to test it.
https://iwstraining.iridium.com:8443/iws-current/iws?wsdl

[2020-07-28 10:33] mindplay-dk opened #4320 "Missing members in the System.ServiceModel.Description namespace in .NET Core"
In .NET Core, a long list of members are missing from the original .NET Framework `System.ServiceModel.Description` namespace, including, for example:

* `System.ServiceModel.Description.IPolicyExportExtension`
* `System.ServiceModel.Description.MetadataExporter`
* `System.ServiceModel.Description.PolicyAssertionCollection`
* `System.ServiceModel.Description.PolicyConversionContext`

The [document

[2020-07-28 19:11] Peperud commented on #3712
Just got to this myself, while converting an old project. In my case it is a DataTable being passed as an input parameter.

[2020-07-29 18:06] AlfredoDiaz13 opened #4318 "Error al importar wsdl:binding del que depende wsdl:port. XPath a wsdl:binding: //wsdl:definitions[@targetNamespace"
Buenas tardes, estoy teniendo problemas al importar el Web Services

http://www.servifact.com.mx/timbrado/servicios.asmx

No se puede importar wsdl:port
Detalles: Error al importar wsdl:binding del que depende wsdl:port.
XPath a wsdl:binding: //wsdl:definitions[@targetNamespace='http://servifact.com.mx/']/wsdl:binding[@name='ServiciosHttpPost']
XPath al origen del error: //wsdl:definitions[@target

[2020-07-30 06:28] alexey-gusarov opened #4319 "GetCertificateSecurityToken blocks async flow"
**Describe the bug**
We used basicHttpBinding with client certificate. It's works, but our QA engineer observe slow performance.
In profiler I saw that we in waiting almost all time.

In callstack:
`async HttpsClientRequestChannel.GetHttpClientAsync` calls `sync HttpsChannelFactory.GetCertificateSecurityToken` that use **sync GetAwaiter().GetResult()**
https://github.com/dotnet/wcf/blob/5e5fd9e58c

[2020-07-30 09:07] asklar commented on #3088
@a-einstein bit of a shot in the dark but this might be useful to you considering the error code and the fact that this is uwp:
https://devblogs.microsoft.com/oldnewthing/20200615-00/?p=103868

https://github.com/asklar/WinRTComponent

[2020-07-30 15:47] RealDotNetDave commented on #3512
I'm glad I'm not the only one having issues! I had to write a bat file to compile the DLL since opening the project in Visual Studio is impossible for most of the people on my team. Updating the WSDL is a game of will VS crash or not. Currently I am the only one in the team that can do it.

[2020-07-31 06:18] 630383257 commented on #4304
Thanks for the help.
I found the error was caused by the namespace change of the Interface, when I changed the namespace to the same as under .Net Framework, it worked fine!

[2020-07-31 06:48] christiaanderidder commented on #4093
A similar issue happens when using a Directory.Build.Props file in the solution folder:

Directory.Build.props
[code]

Project file
[code]

The tooling cannot find the target framework in the project file and throws a similar error (but with the target framework empty):
![afbeelding](https://user-images.githubusercontent.com/1276085/89008185-86079900-d30a-11ea-8382-a53f6ba4e610.png)

[2020-08-01 15:54] ArkarMoe93 commented on #4279
Hello @dasetser ,

I'm facing same issue. Thanks in advance.:)

- Same issue on VS 2017 and VS 2019 with .NetCore 2.2
- [Microsoft.Tools.ServiceModel.Svcutil, Version 2.0.1] is successfully installed
- When i run  **dotnet-svcutil https://xxx.svc?singleWSDL** , it's returning as follow.

[code]

[2020-08-01 17:16] ArkarMoe93 commented on #4279
Hello again,

My issued is solved by following steps.

1. Add <DotNetCliToolReference Include="dotnet-svcutil" Version="1.0.*" />
2. I run

, it shows

,  So add  <PackageReference Include="System.Net.WebSockets.Client" Version="4.3.2" />

3. I run again, it shows

So I add <PackageReference Include="NuGet.Versioning" Version="5.6.0" />

Finally, i run dotnet-svcutil https://xxx.svc?singleWSD and

[2020-08-03 19:27] nk-cmd commented on #3969
Hello @dasetser,
can you say when 2.0.4 will be released?

I have the same problem / error as @IgorLaktic .

BR

[2020-08-04 16:50] dasetser commented on #3969
@HongGit would have a better idea than me on the timeline for future releases.

[2020-08-04 16:59] klenium commented on #2205
@dasetser

Yes, there is. People will not waste hours for searching for this solution if the GUI that is opened first by everyone can offer it. It was really hard to find for this topic, almost no question, documentation, examples about WCF+proprty change. Google was not my friend.

I will not know that a lot of years ago when other people created our project in .NET Framework, they could generate

[2020-08-04 17:02] klenium commented on #2205
And a very common scenario: we fill `xxxSpecified` fields by using change tracking on the main properties. This pattern is used by a lot of services. For safety, it is important to do this automatically and not from code, since anyone could forget to set `xxxSpecified` to true.

[2020-08-04 21:13] mjrousos opened #4323 "`WsTrustChannelSecurityTokenProvider` should include default algorithms in RSTs"
When `WsTrustChannelSecurityTokenProvider` creates RSTs (in its `CreateWsTrustRequest` method), it does not set a variety of algorithm-related entities that are set in .NET Framework. In order to be as compatible with NetFx as possible, the following RST elements should be set (and possibly exposed to users for customization):

* `KeyWrapAlgorithm` (should default to http://www.w3.org/2001/04/xmle

[2020-08-04 21:14] mjrousos commented on #4323
@brentschmaltz, this is the issue we were discussing earlier today.

[2020-08-05 16:32] JuHwon commented on #3955
@gthvidsten i am having the same issue with a 3rd party soap service, did you find any solution exception building/setting the header yourself?

[2020-08-11 06:56] angas opened #4326 "Security header removed when moving from TransferMode.Buffered to TransferMode.Streamed"
I've set up a dummy service with a self signed cert that is configured to require BasicHttpSecurityMode and TransportWithMessageCredential. When a client make a request using TransferMode.Buffered everything is ok and the request looks like this...

[code]

but when swithing to TransferMode.Streamed the security header isn't included in the request...

[code]

and the respose error causes "System.

[2020-08-11 14:15] jensolsson opened #4328 "REST support"
Hi

I am using WCF in a legacy project for REST services, simple HTTP PUT, POST, GET etc.

Is this supported by .NET core WCF? In the description I only see SOAP mentioned.

Kind regards
Jens

[2020-08-11 15:03] chessdr commented on #2805
Well, I've set my identity with new UpnEndpointIdentity("dynamics@contoso.com")

I think we're having the same issue as Dawiducik, as we're also trying to get an AIF services working using Net Core 3.1 in our Dynamics AX 2012 environment.  I see where he added the statement UpnEndPointIdentity("dynamics@contoso.com"), but where does this statement go?

[2020-08-11 20:19] mconnew commented on #4110
@m-straub, you can get the preview packages at this nuget feed:
https://pkgs.dev.azure.com/dnceng/public/_packaging/dotnet5/nuget/v3/index.json

Although this is a feed for dotnet5, the WCF packages continue to only depend on netstandard2.0 which means our latest packages work on all currently supported versions of .NET Core. We have a new package System.ServiceModel.Federation which has a new bin

[2020-08-11 21:48] mconnew commented on #4319
The certificate provider should complete that call synchronously. It basically takes the client certificate provided to ClientCredentials and wraps it in an X509SecurityToken. The concrete implementation of requestCertificateProvider should be an instance of X509SecurityTokenProvider and that should complete GetTokenAsync synchronously so the GetAwaiter().GetResult() shouldn't do a spin wait. Ther

[2020-08-11 22:22] mconnew commented on #4328
This is being tracked in issue #1413
It's not currently supported and is on our backlog.

[2020-08-11 22:22] #4328 closed

[2020-08-11 22:29] HongGit commented on #4320
Hi @mindplay-dk  the firs two API are server side APIs, and the 3rd and 4th are supporting classes for the first two APIs.

This repo is for WCF core client.  Please follow up on https://github.com/corewcf/corewcf, which is a community supported open source project.

Thanks for logging the issue with us!

[2020-08-11 22:29] #4320 closed

[2020-08-11 22:31] HongGit opened #4329 "Turn off secure conversation does not work"
Turn off secure conversation does not work

[2020-08-11 22:34] HongGit opened #4330 "Credentials scenario does not work correctly yet"
Credentials scenario does not work correctly yet with custom Credential class.

[2020-08-11 23:25] mconnew commented on #4319
I've worked out the problem. Task's always return CompletedSynchronously as false so the double wrap of Task -> Apm -> Task is causing TaskFactory to presume the inner call hasn't completed yet and makes it go async. The calling code in HttpChannelFactory is left over from when we didn't have a synchronous implementation of GetToken (the api was internal only and we removed the sync implementation

[2020-08-12 07:10] Dawiducik commented on #2805
@chessdr
This is part of my code with **TimesheetService** running.

[code]

[2020-08-12 12:19] AndersMalmgren opened #4331 "Problems with generation wsdl client with .NET Core 3.1"
I try to connect to a open API: https://swea.riksbank.se/sweaWS/wsdl/sweaWS_ssl.wsdl

I generate the client just fine in VS 2019 16.7 and the Reference.cs file is created

When I try to execute the remote function I get a 404.

With postman I can execute the remote function just fine, but I notice that I need to use this exact Content-type and request otherwise I also get a 404

Content-Type: appl

[2020-08-12 16:58] chessdr commented on #2805
We were able to use the above code with just a few modifications as we were creating an AX Transfer Order, and it worked great!  Now we can go try and create AX Purchase Orders and AX Sales Orders.  Thank you so much, Dawiducik for the great example above!!

[2020-08-12 20:19] mconnew commented on #4319
@alexey-gusarov, the fact this became apparent by your QA team does cause me a small bit of concern. In fact, I have 2 concerns about your usage of WCF.

My first concern comes from your call stack. You aren't opening the channel factory before you use it. This code path is only executed on channel factory open. From the call stack, I can see that you aren't doing an explicit open, and instead are

[2020-08-12 22:28] mconnew commented on #2805
@chessdr and @Dawiducik, FYI, UpnEndpointIdentity only works for NetTcpBinding. For HTTP, we are lacking functionality in HttpClient. If you need to use HTTP, I can point you to the open issue for you to add your voice.

[2020-08-13 00:28] #4319 closed

[2020-08-13 14:13] sbakharev commented on #4319
@mconnew, hi. I'm the QA who had originally reported the issue to @alexey-gusarov. He is currently OOO so we will give your fix a try a little later when we would be able to.

We request a .NET Framework WCF service from an ASP.NETCore application via a custom NETStandard client library. If I get things right, your concerns on correctness of ChannelFactory usage belong to the latter, and that's wh

[2020-08-13 18:24] mconnew commented on #4319
You are correct. There's at least a little bit of incorrect usage (not opening the channel before using it) but that fact this even was discoverable leads me to think maybe there's more incorrect usage.

[2020-08-17 21:32] adolfsson opened #4338 "New WCF client instance faulted in .NET Core 3.1, works in 2.1"
**Describe the bug**
I am using the WCF Web Service Reference Provider to add a service reference to a .NET Core 3.1 Console application. When I instantiate the client class, the State property is Faulted before calling an operation. Switching the console app to .NET Core 2.1 makes the app work as expected (State property is Created after instantiation and a call to the service succeeds).

Visual

[2020-08-18 06:56] alexey-gusarov commented on #4319
@mconnew

Hello! Thank you for help with our issue!
Before my vacation I also saw that ChannelBase in .net standard wan't cache ChannelFactory (https://github.com/dotnet/wcf/issues/2032). I implement my own cache and in my test speed increases in ten times.

Also thank you for you fix async->sync.

[2020-08-18 08:56] Dawiducik commented on #2805
@mconnew Point me to the issue in HttpClient, I will look at it in free time

[2020-08-18 18:55] mconnew commented on #2805
The issue is dotnet/runtime#25320

[2020-08-20 12:27] PCDiver commented on #4287
WsTrustChannelFactory and support for actas, onbehalfof, ... would be very much appreciated.

[2020-08-20 14:59] benwmills commented on #3023
I have a related problem.  On the old NetSuiteService type there was an add method that had a Record parameter and returned a WriteResponse object.  This is in line with NetSuite's documentation.  Consuming the service using WCF, I now see the new NetSuitePortTypeClient object and it has an add method, but it now has this signature:

public DocumentInfo add(Passport passport, TokenPassport tokenPa

[2020-08-21 01:00] vzalamea commented on #4238
Adding this worked for me.  <Project>.XmlSerializers.dll is now being created.  Thank you!!!
<ItemGroup>
    <DotNetCliToolReference Include="dotnet-svcutil.xmlserializer" Version="1.2.0" />
  </ItemGroup>

[2020-08-24 20:20] rserj commented on #3512
Hello all, may I wonder if there any updates on this issue?

[2020-08-26 14:23] jnyrup opened #4343 "Ignore xml schema validation"
**Describe the bug**
I'm combining six WCF services in a single `Reference.cs` with a lot of shared types which gives me 5274 warnings of
[code]

Printing all these warnings in Visual Studio seems to slow down updating a service reference severely.
* Running [`dotnet-svcutil`](https://www.nuget.org/packages/dotnet-svcutil/2.0.1) from powershell takes 60s
* Clicking "Update Microsoft WCF Web Servic

[2020-08-27 14:34] stogle commented on #2205
@dasetser @jnm2 @klenium I created a feature request for the UI change here: https://developercommunity.visualstudio.com/idea/1165673/please-add-a-checkbox-for-enabledatabindings-to-mi.html

[2020-08-28 15:08] jesse-schein commented on #4338
I dont contribute to this project... but I just setup a WCF reference yesterday and actually recorded the steps in a document just like you did. I have no problems using .net 3.1 console app. Are you sure the service is running on your localhost?

[2020-08-31 10:57] gregsdennis opened #4352 "UriTemplate not supported in .Net Standard/Core"
The [UriTemplate](https://docs.microsoft.com/en-us/dotnet/api/system.uritemplate?view=netframework-4.8) class is not available in .Net Standard or Core.

Was there a technical reason for not porting it from .Net Framework?

[2020-08-31 23:58] HongGit commented on #4266
Close out as we didn't get a response,

Feel free to re-activate if this is still an issue.

[2020-08-31 23:58] #4266 closed

[2020-09-01 00:00] HongGit commented on #4293
@imcarolwang could you please see if you could repro the issue?

[2020-09-01 01:29] HongGit commented on #4287
The new 4.8.0-preview3 WCF Core Packages have been published to Nuget.org last week.

Please check them out.  @PCDiver feel free to open a new issue if WsTrustChannelFactory support is not in this release.

[2020-09-01 01:29] #4287 closed

[2020-09-01 02:54] imcarolwang commented on #4293
@mo-esmp When you config `GenerateSerializationAssemblies  `as `On `in the project file, at compile time, it would be running SGEN.exe trying to generate the serializer assembly, but SGEN.exe is supposed to be used in a Full Framework targeting project only, that's why you see the assembly` 'Microsoft.VisualBasic.Core.dll'` loading error.

You need to use the equivalent tool for .NETCore project,

[2020-09-01 09:31] imcarolwang commented on #1959
@HongGit  @mconnew , this is a different issue than a feature support of wcf core, it's an unimplemented feature in dotnet-svcutil tool (throws **PlatformNotSupported** exception), does there exist any potential problem if we insert the IEndpointBehavior object into serviceEndpoint.Behaviors collection when generating the proxy code?

[2020-09-01 10:31] tiagopsantos commented on #4110
Can confirm its functional on .netcore3.1, would be nice to have some XML to code binding configuration converter.
Here his my conversion between the WCF .configuration and the code base config.

**ws2007HttpBinding**
[code]
[code]

**ws2007FederationHttpBinding**
[code]

[code]

[2020-09-01 17:30] florjon commented on #3221
@markmario any workarounds to this working in .net 3.1 ?

[2020-09-01 17:31] mconnew commented on #1959
@imcarolwang, that's a different issue that I had missed. There's an earlier comment about ConcurrencyMode not being supported on the attribute. So at least ConcurrencyMode is missing from CallackBehaviorAttribute, and potentially more.
There shouldn't be an issue with IEndpointBehavior's being added as we support that feature. I don't know what that code is doing though so can't comment beyond th

[2020-09-01 17:38] mconnew commented on #1959
I had a look at the code and there's the same code in our product code [here](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Description/TypeLoader.cs#L609). The correct code that should be there can be found [here](https://github.com/microsoft/referencesource/blob/master/System.ServiceModel/System/ServiceModel/Description/TypeLoader.cs#L539). I c

[2020-09-01 22:45] HongGit commented on #4343
@imcarolwang could you please see if you could repro this issue?

[2020-09-01 22:49] HongGit commented on #4305
@marcocao if @mconnew comments does not solve your problem, feel free to re-activate the issue!

[2020-09-01 22:49] #4305 closed

[2020-09-01 23:10] mconnew commented on #4338
I downloaded your test project and it worked exactly as expected. We don't have different implementations for difference .NET Core versions. We use the exact same binary on all supported versions on .NET Core.
The only way how ChannelFactory could be faulted is if there's an exception on creation, maybe a type load issue with the service contract or something like that. After the channel factory h

[2020-09-01 23:23] #4267 closed

[2020-09-02 00:56] #4265 closed

[2020-09-02 07:29] imcarolwang opened #4350 "Missing System.Private.ServiceModel.dll when publish .NETCore project referencing wcf package version 4.4.*"
1. Issue doesn't repro for WCF package version higher than 4.4.* , for example, 4.5.*  , 4.7.*  ...
2. Currently, dotnet-svcutil and WCF CS tool is referencing wcf package **4.4.***  when generating proxy code according to source definition:  https://github.com/dotnet/wcf/blob/a25df2f0c572f54cb621d4dec9c35106d14a3829/src/dotnet-svcutil/lib/src/Shared/TargetFrameworkHelper.cs#L45

    We need to fi

[2020-09-02 08:18] imcarolwang commented on #4331
@AndersMalmgren could you please try to update the referenced wcf package to the latest release and retry your scenario? As a reference you can check out issue #3311 which reported a similar exception thrown when using proxy and it turned out to be a bug in earlier release of the WCF product.

[2020-09-03 06:43] markmario commented on #3221
@florjon I have rewritten this using standard http

[2020-09-08 05:06] dev-masih opened #4358 "XML response parse exception in WCF client asp.net core3.1"
Sorry about the long note, I appreciate your time.
I connected a soap wcf web service to my asp.net core 3.1 with `Connected Service` feature and generated `Reference.cs` file, but anytime i tried to call one of wcf web service methods i got xml parse error. I'm not controlling the wcf web service so i can't change the response xml.

the wsdl for the webservice is [here](https://gist.github.com/de

[2020-09-08 17:13] rsankardayal commented on #3237
Same problem here, how did you solved it please. Maybe there is a workaround using System.ServiceModel.Duplex.

[2020-09-08 17:48] RealDotNetDave commented on #3512
I have not heard anything.

[2020-09-08 19:45] Bitfiddler opened #4359 "--Update option does not seem to work"
**Describe the bug**
Used the following to create a service reference
dotnet svcutil http://localhost/MyApp/MyServices/SomeService.asmx?wsdl -syn -pf "C:\projects\MySolution\MyProject\MyProject.csproj" -d "C:\projectsprojects\MySolution\MyProject\MyService"

No combination of options seem to work to update this reference.

Please see:
https://stackoverflow.com/questions/63800395/svcutil-update-err

[2020-09-09 18:36] mconnew commented on #3237
NetTcpBinding supports the same features as NetNamedPipeBinding, and NetTcp is actually faster than NamedPipes. If possible, switch to using NetTcpBinding. If you have an existing app which will continue to commuicate with the service you can add a second endpoint to the service and accept clients using named pipes and tcp.

[2020-09-10 00:46] #3694 closed

[2020-09-10 13:14] stefanegli commented on #444
I hope it is ok to ask a question here: Is it correct that it is currently not possible to use a self-signed certificated for a WebSockets connection based on a WCF client in a .Net Core 3.1 Application?

I need to migrate an existing .Net 4.6 WPF Application to .Net Core 3.1 (and later to .Net 5) and this problem might prevent me from doing so. Is there any chance this will be fixed in the not to

[2020-09-10 15:34] rfcdejong commented on #1274
Same issue here, salesforce wants us to use Visual Studio 2003 or later. As far as I found Salesforce lightning API is not really useable for automatically creating leads and stuff, so I'm into the SOAP Api and ran into this error right away after generating the service reference and using it.

The real exception I get is at runtime: System.PlatformNotSupportedException: Compiling JScript/CSharp s

[2020-09-10 22:43] HongGit commented on #4358
@imcarolwang could you please create a repro project and understand whether this is a regression?

[2020-09-11 05:52] tlogik opened #4361 "Support Latest Net Core framework - 3.*"
Problem (Mac osX 10.13.6):
When i execute : `dotnet-svcutil --help`
I get the error that the Net Core runtime version is not supported.
Seems only 2.1.0 is supported right now.

The tool was installed via nuget package:
`dotnet tool install --global dotnet-svcutil`
And should be the latest version

[code]

Expectation:
The latest framework of net core should be supported and the tool should work w

[2020-09-11 08:10] imcarolwang commented on #4343
Without the repro wsdl files, it's hard for us to diagnose this issue.

[2020-09-11 17:28] sinistram commented on #3652
@dasetser do you mean that the same code for WCF communication will work in both Windows and Linux oses?

[2020-09-12 04:06] dev-masih commented on #4358
@HongGit I tried this service with .net framework 4.5 too and get the same result, so i think the server side xml is not correct somehow. I ended up using a ClientMessageInspectors and parse and change the reply XML message manually before deserialization

[2020-09-12 04:06] #4358 closed

[2020-09-12 20:50] devblaster opened #4363 "WCF client is showing fault state after creation in .NET core 3.1 application"
**Describe the bug**
WCF client is showing "fault" state in project.

Upon debugging more I found there is one exception in TypeLoader
**Name={IXXXWebService}, Namespace="http://tempuri.org/", ContractType=error CS0103: The name '_contractType' does not exist in the current context**

In ServiceClient.EndPoint property I am seeing  **error CS0103: The name '_address' does not exist in the current

[2020-09-16 00:44] #3881 closed

[2020-09-16 15:14] deniss-simanis commented on #4030
I've run into the same problem. I haven't seen any updates on this issue since February. Does this mean there are no plans to support `dotnet-svcutil` beyond .Net Core 2.x?

[2020-09-17 07:58] obi111 commented on #1684
I have the same issue ... any solutions??

[2020-09-17 08:20] obi111 opened #4365 "Downloading a file with net core 3.1 web service - Invalid Content type error"
When i try do download a file from a web service i get the following error:

The content type application/dime of the response message does not match the content type of the binding (text/xml; charset=utf-8). If using a custom encoder, be sure that the IsContentTypeSupported method is implemented properly. The first 1024 bytes of the response were ...

There was also a similar issue for the web se

[2020-09-17 21:31] mconnew commented on #3984
@wouterroos, I'm sorry I missed your message. We don't increase the platform requirements with each of our releases so you can always use the latest WCF packages on all supported .NET Core release. Our latest preview package will still work as far back as .NET Core 2.1.

[2020-09-17 21:53] HongGit commented on #4363
@devblaster could you please share repro project so we could investigate?

[2020-09-17 23:35] mconnew commented on #4365
I had never heard of DIME before so had to go read up about it. In computing terms, it was an archeological dig. This was a protocol proposal submitted by Microsoft which never made it to RFC status and was long ago withdrawn. Support for the DIME protocol was last available in the Web Services Enhancements (WSE) 2.0 which was released in 2004. Support for it was dropped in WSE 3.0 which was relea

[2020-09-17 23:35] #4365 closed

[2020-09-18 02:24] #1923 closed

[2020-09-18 20:32] mconnew commented on #1655
I just committed the reliable sessions implementation. While this is shipping as part of the overall .NET 5 release, WCF continues to only depend on netstandard2.0 so new features are enabled for all supported versions of .NET Core and you do not need to move to .NET 5 to use these new features.

[2020-09-18 20:32] #1655 closed

[2020-09-21 10:31] makingbloke opened #4368 "Reference.cs crashing VS2019 16.7.3 (and earlier)"
I've added a reference to a webservice to my C# project. This creates a 102000 line Reference.cs file (The webservice itself is a wrapper round a legacy Mainframe app so pretty large). When I open Reference.cs in VS then VS gets progressively slower and slower when text editing another file and eventually locks up and sometimes it restarts.

Now, I appreciate this is a VS fault. For the moment I'v

[2020-09-21 19:39] timabell opened #4370 "How can I inject a fake xml server response for unit testing?"
Hi, I hate to raise an issue but I've spent hours trawling the internet to no avail and really hope you can help.

I've [inherited an existing WCF client](https://github.com/SkillsFundingAgency/dfc-coursedirectory/blob/b7f6600f5ccb3313210faec77797dfe9a74e764b/src/Dfc.CourseDirectory.Core/Connected%20Services/UkrlpService/Reference.cs) which I now need to modify, and as such [want to get it under t

[2020-09-22 09:55] yogitubadzin commented on #31
Hi, any updates for this thread?

[2020-09-22 15:59] mconnew commented on #31
@doorman02 , @yogitubadzin, [this comment](https://github.com/dotnet/wcf/issues/4110#issuecomment-672258424) is probably the best starting point to understand the current state. We are working with some internal and external customers of WCF to get this working. As this is all new code, there are some scenarios which are taking a little bit of work to refine so we still have some bugs to shake out

[2020-09-22 18:35] mconnew commented on #4370
As long as you aren't running on .NET Framework, you can use the solution I documented [here](https://github.com/dotnet/wcf/issues/3230#issuecomment-431921166). Someone created a blog post explaining things a bit more [here](https://medium.com/trueengineering/realization-of-the-connections-pool-with-wcf-for-net-core-with-usage-of-httpclientfactory-c2cb2676423e). Basically you can replace the HttpM

[2020-09-22 18:35] #4370 closed

[2020-09-23 06:33] yogitubadzin commented on #31
@mconnew when dou you have deadline for release full 4.8.0?

[2020-09-23 13:23] yogitubadzin commented on #31
@mconnew Do you have any example of using certificates for WsTrustTokenParameters or related classes? We need use this now.

[2020-09-23 17:26] mconnew commented on #31
@yogitubadzin, 4.8.0 should be going RTM at the same time as .NET 5 is released, although we're still only requiring .netstandard 2.0 so we will work on all supported versions of .NET Core and you won't need to upgrade to .NET 5 to use it.
As for how to use certificates, if you look at the sample in the linked comment, there's an issuer binding. This is the binding used to communicate with your ST

[2020-09-23 21:21] michaelpedro01 commented on #4197
Okay,
Thank you very much for the feedback @dasetser .

[2020-09-24 09:51] ivanalie commented on #3631
Encounter the same issue after installing VS2019 and svcutil 1.0.4. Any clue how to fix this?

[2020-09-25 06:48] ivanalie opened #4375 "Unable to generate deps.json, it may have been already generated. You can specify the "-d" option before the tool name for diagnostic output (for example, "dotnet -d <toolname>": C:\Program Files\dotnet\sdk\3.1.401\Sdks\Microsoft.NET.Sdk\targets\GenerateDeps\GenerateDeps.proj"
I am not able to add a service reference (WSDL file) to my project in Visual Studio 2019 (.NET Core). Ard installed dotnet-svcutil v1.0.4. It shows the following error. Any clue how to fix this?

Importing web service metadata ...
Number of service endpoints found: 1
Scaffolding service reference code ...
Error:Unable to generate deps.json, it may have been already generated.  You can specify the

[2020-09-25 09:52] imcarolwang commented on #4375
Have you tried below?
1. Run WCF Connected Service from VS to add the wsdl. Update your installation of visual studio 2019 to the latest release, this will make sure you're using the latest release of WCF CS tool which might have your encountered problem fixed.
2. You can also use commandline counterpart of the tool which is dotnet-svcutil. You can install it globally with command:
`dotnet tool in

[2020-09-25 11:07] ivanalie commented on #4375
Thanks for the quick response @imcarolwang
I added the wsdl by following the instruction [here ](https://docs.microsoft.com/en-us/dotnet/core/additional-tools/wcf-web-service-reference-guide), which prompted the error message above. Will reinstall Visual studio 2019 and see if it fixes the issue for now.

As for the dotnet-svcutil, the installations (dotnet-svcutil 1.0.4 and the dependencies) were

[2020-09-25 21:01] nhustak commented on #3190
This is becoming a serious issue.  Does 'closed' mean it's not going to happen?   I have a full blown CORE web site going and we just got broadsided by this not being available in WCF.   Reverting to Standard is not an option.

[2020-09-25 22:57] GrabYourPitchforks opened #4377 "Consider changing calls from GetNonZeroBytes to GetBytes"
The file https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Security/WSTrust.cs contains two calls to `RandomNumberGenerator.GetNonZeroBytes`. Is it intentional that this code use `GetNonZeroBytes` over the preferred API `RandomNumberGenerator.GetBytes`? Using `GetNonZeroBytes` reduces entropy somewhat, so it should only be used when the caller absolu