[2017-07-10 05:37] NickDinges commented on #1345
As the third party is not fully WS* compliant, svcutil falls back to XMLSerializer. The root cause was, the proxy is that large, creating of the channel takes 5 seconds. With datacontract just 20 ms. I have more infos if wanted which I can share only via email. Thanks :-)

[2017-07-10 11:11] leilasoriano commented on #2038
@Adrian10988 I tried that, but didn't work. So sad. =(

[2017-07-10 15:41] joperezr commented on #1848
Sure, if you take a look at this project: https://github.com/dotnet/corefx/blob/master/src/shims/shims.proj that is where we do the same in corefx for mscorlib, System.Core, System.Net, etc. We basically have to do the exact same thing here, just that we want to do it only for System.ServiceModel.dll. Should be pretty straight forward taking the example of corefx, so let me know if you need any he

[2017-07-10 19:24] zipswich commented on #1761
Thank you, @shmao .  You are right - the app starts after "optimize code" is checked.  It is interesting that "optimize code" has become mandatory for the release version now.   In this case, I would think that VS should have it checked and disabled.

The following simplest statement using the service generates an exception:
`ServiceReference1.SystemDateTime sdt = await dc.GetSystemDateAndTimeAsyn

[2017-07-10 19:53] shmao commented on #1761
@zipswich The issue with "optimize code" was a known issue with `5.3.0` package. It should have been addressed by `5.4.0`. Given that the exception you got also seems to be the same one as the original one, I suspect your app was somehow still using the old package.

Can you please enabled detailed output for build, rebuild your app, and send me the build output via email? It would be also helpful

[2017-07-10 20:01] mconnew commented on #31
I've been thinking about this issue quite a bit lately and I really want to find a solution. Unfortunately our dependencies are absent for us to enable this in an identical way as exists on the full framework. So I have two questions.
1. Do you own both the client and server sides of your scenario?
2. Is full message security with signing and encrypting of messages necessary, or would token authen

[2017-07-10 20:12] hongdai opened #2053 "Update feature table for release 2.0.0"
We need to update feature table for release 2.0.0.

[2017-07-10 20:54] zhenlan commented on #1274
@hongdai could you please log a bug in VSTS to see if we can fix this in WCF Connected Service?

[2017-07-10 21:43] zhenlan commented on #2022
We will update `ClientBase<T>` to implement `IDisposable` in contract.

[2017-07-10 21:46] zhenlan commented on #526
This is pending WebSocket work from Networking team.

[2017-07-10 21:48] zhenlan commented on #959
This is pending to pick up updated Windows MD.

[2017-07-10 21:52] #1368 closed

[2017-07-10 21:55] #1480 closed

[2017-07-10 21:59] zhenlan commented on #1499
@imcarolwang can you please see if you can still repro this issue?

[2017-07-10 22:00] #1520 closed

[2017-07-10 22:01] #1528 closed

[2017-07-10 22:02] zhenlan commented on #1577
@mconnew can you please share your thoughts?

[2017-07-10 23:05] zhenlan commented on #2032
@DotNetPart you are correct about this. The reason of this change is because 1) .NET Core does not support configuration like full .NET does so ctors that takes `endpointConfigurationName` are not supported, which is also used for caching and 2) `System.ServiceModel.CacheSetting` API is not available on .NET Core.

So even if necessary APIs were added to .NET Core, caching has to be done by code.

[2017-07-10 23:33] mconnew commented on #1577
Unfortunately UWP background tasks are too primitive to achieve this. If we were to add support for background tasks, that background task would be passed the socket instance when data arrives. We would have no way to rebuild the ChannelFactory and channel instance and all the internal state required for WCF to function from that socket. For example, the default message encoder for NetHttpBinding

[2017-07-10 23:38] mconnew commented on #1961
@smbecker, were you able to get all the information you need for logging from the MessageInspector?

[2017-07-11 00:00] DotNetPart commented on #2032
@zhenlan Thanks. That's what I exactly what I ended up doing.

Not sure though how constructor parameter affects caching and why we can't cache based on Binding/EndpointAddress.

In regards to CacheSetting - this is just an enum as I remember. Is it a problem to add this enum due to process or there is some other reason?

[2017-07-11 00:09] smbecker commented on #1961
I was. This issue can be closed if this interface is too hard to expose

[2017-07-11 00:19] DotNetPart opened #2055 "Async methods in HttpChannel cause deadlocks when used in Task.WaitAll up in call stack"
Hi,

In example below if I do `Task.WaitAll( someObj.RequestAsync(channel, messafge) )` it causes deadlocks.
My initial suspicion is that's because inner async methods of HttpClientRequestChannel don't set ConfigureAwait(false). I'm aware that it's a really bad idea to do Task.WaitAll on async task and I'm trying to refactor into using await, but I'm still curious if there is any particular reason

[2017-07-11 10:34] zipswich commented on #1761
Thank you, @shmao for your persistent help.
Here are the contents of file project.json:
[code]
I have just sent the detailed output to you via email.

[2017-07-11 17:02] shmao commented on #1761
Hong, The above config looks right. I checked the build log. The log, however, indicated that it's `5.3.0` being used for the build. The toolchain used in the build was located at the following place,

[code]

If it's `5.4.0`, the toolchain version should be 1.7.0 instead of 1.6.0. It makes sense then why you were hitting the issue with the "optimize code" option.

I didn't see information regardi

[2017-07-11 18:21] zipswich commented on #1761
@shmao Here is the information of my version of VS. It appears to be 15.3.0 Preview 3.0.  I copied this information while the debugging project is open in this instance of VS.

Microsoft Visual Studio Community 2017 Preview (2)
Version 15.3.0 Preview 3.0
VisualStudio.15.Preview/15.3.0-pre.3.0+26621.2
Microsoft .NET Framework
Version 4.7.02046

Installed Version: Community

Visual Basic 2017   0036

[2017-07-11 18:57] shmao commented on #1761
@zipswich The version is right. Thanks for checking it. Can you please remove everything in `C:\Users\Hong\.nuget\packages` and then rebuild the app and share the build output with me? I'm trying to see how the app restores the packages. Thanks!

[2017-07-11 19:13] zhenlan commented on #2032
@DotNetPart you are right again about Binding/EndpointAdress. Yes, we can cache based on them and it's not a problem to add CacheSetting enum. However, as you can imagine the logic can get complicated very quickly when you have to decide when to use a cached instance and when to create a new instance etc., whilst it's a fairly simply task to cache in user code and a user has full control of what t

[2017-07-11 19:26] zipswich commented on #1761
@shmao I have just followed your instructions and sent the build output to you via email.

[2017-07-11 19:30] DotNetPart commented on #2032
@zhenlan no worries. I was just curious on the reasoning and how it aligns with current strategy.
I'm good with implementing this caching myself (which I did as you know).

The reason on why it would be good to implement caching is that when I have used ClientBase<T> from  .NET, and started using it in .NET Core I was interested in getting as much capabilities available in .NET version of ClientBa

[2017-07-11 20:51] huangjinshe commented on #1577
@mconnew Hi, Thank you for you reply. Looks like you recommend me abort the Channal factory when App going to suspended, and use background task create a new channel factory, also when user open the App, abort the background channel factory, and create a new channel factory again.  Is that right?

The problem is that will cause some performance problem, I even worry that will not a best choice for

[2017-07-11 21:12] djseng opened #2059 "Can't update service reference unless I delete the old service reference and remove any references to said service in the code base."
When I need to update a service reference the only way I've been able to successfully do that is to delete the old connected service and remove any references to that service in the code base.

If I try just "Adding a new connected service" pointing at the same service with the same namespace then the operations just sits and spins.

If I just delete the old connected service and then try re-addin

[2017-07-12 00:27] mconnew commented on #2055
When using ConfigureAwait(false), it only does anything if the Task actually went async. If the Task doesn't go async, then you need to use ConfigureAwait(false) on the next Task that you intend to await. This also means you need to use ConfigureAwait(false) all the way down the call stack at every await occurrence. As a WCF operation is guaranteed to always go async at some point, we took a diffe

[2017-07-12 01:19] mconnew commented on #2032
@DotNetPart, a bit more context. ClientBase has multiple constructors, and different constructors had different caching behavior. The constructor which takes an endpoint configuration name (from an app.config file) uses caching by default as you are only specifying the name in the config file which means one instance will have an identical configuration to the next. For constructors which are func

[2017-07-12 17:07] shmao commented on #1761
I took this offiline with @zipswich. We found that his VS didn't use the `5.4.0` package was because VS disabled automatically downloading missing packages, i.e. the `Allow NuGet to download missing packages` option was not checked. After that change, build succeeded.

@zipswich confirmed that the original issue had been fixed. I'm closing the issue.

Thanks @zipswich for finding the issue.

[2017-07-12 17:07] #1761 closed

[2017-07-12 17:57] hongdai opened #2062 "Linux manual run failures investigation"
Vendor has reported around 62 failures and the error is "root certificate is not installed". Update the set up tests does not work. Need further investigation.

[2017-07-12 18:01] DotNetPart commented on #2032
@mconnew  thanks for the detailed answer. That makes perfect sense now.

[2017-07-12 18:10] DotNetPart commented on #2055
@mconnew Thank you. I have been able to refactor my code and get rid of Task.WaitAll having await on async task instead. However, I'm interested in getting deeper into details of your answer and make sure I understand it.

[2017-07-12 20:38] mconnew commented on #2055
@DotNetPart, if you have any questions, feel free to ask. There's a lot to unpack in my response :) I would still recommend switching to using Task.Factory.FromAsync if you haven't yet.

[2017-07-13 19:53] KKhurin commented on #1996
Fixed with https://github.com/dotnet/wcf/pull/2060

[2017-07-13 19:53] #1996 closed

[2017-07-13 21:47] zipswich commented on #1761
More work was needed to address the issues caused by using the new toolchain though they are not related to the original issue of this thread. With the extensive help by @shmao,  the following two steps have been found to be critical in making the release version of a UWP app using the new toolchain work:

1.  Ensure **ALL** projects used by the app (e.g. library projects) use package 5.4.0 :

[2017-07-14 00:25] StephenBonikowsky commented on #1912
Fixed in #1989

[2017-07-14 00:25] #1912 closed

[2017-07-14 00:43] StephenBonikowsky commented on #1859
@dagood We've made some changes that affect this. Currently we have a package reference to `Microsoft.Private.CoreFx.NETCoreApp` in [corefx.depproj](https://github.com/dotnet/wcf/blob/master/external/corefx/corefx.depproj#L26)

And in our [dependencies.props](https://github.com/dotnet/wcf/blob/master/dependencies.props#L95) we have an XmlUpdateStep for this package.

Normally I would add a `CoreSe

[2017-07-14 02:05] #1961 closed

[2017-07-14 14:20] dagood commented on #1859
This issue should probably just be closed: WCF doesn't have a dependency on Core-Setup since we chose to assemble CoreFX and CoreCLR individually for the build. CoreCLR auto-updates should probably be set up, though.

[2017-07-14 17:21] StephenBonikowsky commented on #1859
Ok, what dependency do we have on CoreClr? I don't see that we have any.

[2017-07-14 17:50] dagood commented on #1859
Following [CoreClrPackageVersion](https://github.com/dotnet/wcf/blob/298273d7a64295613f932e2cec857d60ffcf59ae/dependencies.props#L43), you can see some [test runtime dependencies](https://github.com/dotnet/wcf/blob/6ea8adbf03455931ce37d79d8fac0690c0920de8/external/runtime/runtime.depproj#L34-L39).

...And then I also see some [Core-Setup dependencies](https://github.com/dotnet/wcf/blob/6ea8adbf034

[2017-07-14 19:46] tibmeister opened #2073 "Using extension does not generate List"
I'm consuming a WSDL and there are specification for collections in the request XML.  When using the extension to ingest I am telling it to use Lists for collections, but I always end up with arrays.

[2017-07-15 00:02] #2035 closed

[2017-07-15 00:10] mconnew commented on #526
The networking team have implemented partial receive for UWP, but partial send hasn't been implemented yet. Without partial send, our tests still fail.

[2017-07-15 00:11] #2022 closed

[2017-07-15 12:24] mersadk opened #2076 "Error while trying to add reference - only after latest update"
I use VS2017 on Windows 10 and have ASP.NET Core MVC project targeting .NET Framework 4.5.2. After latest release (2017/07/14) I can't add reference because I get following error when trying to open "Microsoft WCF Web Service Reference Provider".

![vs error](https://user-images.githubusercontent.com/137991/28239286-3a0444d0-6969-11e7-8f4b-ac6b528f3a09.jpg)

[2017-07-16 00:21] nagoh commented on #2076
Same deal here

[2017-07-17 02:45] hongdai commented on #1274
VSTS bug is logged.

[2017-07-17 02:53] Elprogrammador opened #2077 "Microsoft WCF Web Service Reference Provider HRESULT:0x80131500"
I'm getting the following error when I try to add a new Connected Service:

"Connected Services. The Connected Services component 'Microsoft WCF Web Service Reference Provider - Preview' failed: (HRESULT:0x80131500) One or more errors occurred"

[2017-07-17 09:36] savachebra commented on #2076
And here..

[2017-07-17 09:45] Dolphinsimon commented on #2076
Me too...

[2017-07-17 13:19] Groman123 commented on #2076
Same here too...

[2017-07-17 14:10] ali61n60 commented on #2077
I get the same error too

[2017-07-17 14:16] geno-github opened #2078 "Error adding connected service with new version"
Error when attempting to add a connected service to a DotNetCore 1.1 project in VS 2017 (15.2) with version  0.5.10712.1027.  Was able to do this with previous versions and with VS 2015.

Steps to repro:

1.  Right-click "Connected Services" in project, choose "Add Connected Service"
2.  Click "Microsoft WCF Web Service Reference Provider - Preview"

Error message:

"<Title> Connected Services <bo

[2017-07-17 15:07] chrisstaley commented on #2078
I am getting the same error as well in a DotNetCore 1.0 project in VS 2017 using the same repro steps.

[2017-07-17 16:40] chaseWillden commented on #2078
I get the same issue. Please fix

[2017-07-17 16:40] chaseWillden commented on #2077
I'm getting the same error, please fix

[2017-07-17 16:40] chaseWillden commented on #2076
I'm getting the same error, please fix

[2017-07-17 17:19] mconnew commented on #1577
Don't Abort your channel factory, call Close with the timeout that you want. If the factory can't be cleanly closed in that time, it automatically Aborts().
Unfortunately WCF was designed over a decade before UWP was a twinkle in someone's eye so it wasn't written with the idea of being able to suspend the app and reinitialize it. The initialization is expensive, that's why a ChannelFactory exists

[2017-07-17 17:21] macho0001 commented on #2078
Same here

[2017-07-17 17:21] macho0001 commented on #2076
Same here

[2017-07-17 17:21] macho0001 commented on #2077
Same here

[2017-07-17 19:18] mconnew commented on #1606
@leonli77, were you able to get this working?

[2017-07-17 19:28] mconnew commented on #1603
@vincentshow, I just realized you had another question, about the queue. There are multiple ways to solve this. One way would be when the callback happens to save some data, if you are finished with the channel after the call completes, at the end of your callback operation fire a background task to close the channel. E.g. `Task.Run(() => { ((IClientChannel)channel).Close(); });`. That Close call

[2017-07-17 19:33] ricardag opened #2079 "Error 80131500"
When clicking on the WCF Link on Project Connected Services we receive an error HRESULT 0x8131500 (please see attached evidence)
![image](https://user-images.githubusercontent.com/12039145/28286165-af2b4d4e-6b0d-11e7-989f-2577a4dcf90b.png)

[2017-07-17 19:38] dbaghdanov commented on #2079
I'm getting this exact error as well.

Microsoft Visual Studio Professional 2017
Version 15.2 (26430.16) Release
VisualStudio.15.Release/15.2.0+26430.16
Microsoft .NET Framework
Version 4.6.01590

I just installed, the WCF Web Service Reference Provider, today, Version: 0.5.10712.1027

[2017-07-17 22:43] Cyrus-Sushiant commented on #2077
I get the same error

[2017-07-17 23:12] zhenlan commented on #2076
Thanks for reporting the issue. We are actively looking into this. We will keep this thread updated when we find more.

[2017-07-17 23:20] zhenlan commented on #2077
Thanks for reporting the issue.

Duplicate of #2076

[2017-07-17 23:20] zhenlan commented on #2078
Thanks for reporting the issue.

Duplicate of #2076

[2017-07-17 23:20] zhenlan commented on #2079
Thanks for reporting the issue.

Duplicate of #2076

[2017-07-18 00:25] StephenBonikowsky opened #2082 "Discuss use of EnableDumpling in VSTS build pipeline."
The property "EnableDumpling" is used by the CoreFx pipeline in VSTS, is it needed for WCF?
Discuss with @MattGal and @dagood

[2017-07-18 00:47] MattGal commented on #2082
Dumpling is a service that uploads crash dumps to a service for later analysis.  If you're interested in it we can try it but it's a bit challenging to get running.

@DrewScoggins may be able to point to information.   All this setting does is turn on the commands to enable dumpling in the test execution scripts.

[2017-07-18 01:11] StephenBonikowsky commented on #2082
That's really interesting, I don't think its something we need initially but its really good to know that its there.

[2017-07-18 01:46] zhenlan commented on #2076
To unblock everyone while we are investigating the root cause, we have reverted our last update to the previous build. Please uninstall Microsoft WCF Web Service Reference Provider from *Tools->Extensions and Updates* in Visual Studio 2017 and reinstall it from [VS Marketplace]( https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService). Again, thanks for repo

[2017-07-18 04:38] zhenlan commented on #2076
We have identified the root cause of the issue is because one of referenced assemblies in our last release was updated to a higher version that is only available in VS2017 v15.3 Preview. The issue was introduced when we upgraded our build environment to VS 15.3 as we are focusing on improving experience with .NET Core 2.0 projects, which have a minimum requirement of VS 15.3. It’s an oversight the

[2017-07-18 06:27] kotobelo commented on #1317
I see this is closed, but I have a related issue with the setCertificate() method when used in an UPW app.

Somehow the following code (that uses setCertificate()) does not find my certificate:

`ClientCertificate.SetCertificate(StoreLocation.LocalMachine, StoreName.My, X509FindType.FindBySerialNumber, CertificateSerialNumber );
`

But the following code does find it:

`string CertificateSerialNum

[2017-07-18 06:39] kotobelo opened #2083 "proxy.ClientCredentials.ClientCertificate.SetCertificate() does not find my certificate"
Any idea why these two apparent similar methods give different results. As I am working with UWP, I need to use the first method that doesn't find my certificate, the other method does work but I can not use it in UWP.

Method1 (results in error: Cannot find the X.509 certificate using the following search criteria...)

`string CertificateSerialNumber = "EED8EE38FAB3BB5B744C360747E99ECDAB"; Client

[2017-07-18 10:14] arunsabat commented on #1200
I have taken the survey. Please share the Road Map for WCF Server side support in .Net Core. That will be very helpful.

[2017-07-18 13:15] joaomello opened #2084 "Is possible today, use something like this at .net core?"
Hi, today is possible to port this code to .net core?

[code]

[2017-07-18 14:15] Elprogrammador commented on #2076
Thanks zhenlan, uninstalling and reinstalling works.

[2017-07-18 15:57] gtaborga commented on #31
Thanks for the response. I was trying to be very explicit by suggesting when mentioning the E-Verify DHS system. To answer your questions:

1. We only own the client. The server is hosted by the Department of Homeland Security and many other clients nationwide exist.
2. I have tried several configurations of different WCF bindings and I was unable to get anything successful other than what the gen

[2017-07-18 16:32] chaseWillden commented on #2076
Awesome, it works for me too.

[2017-07-18 18:18] hongdai commented on #2073
@tibmeister Thanks for reporting the issue!
Is it possible to provide the WSDL so that we can do a local repro?

-Hong Dai

[2017-07-18 18:58] NinnOgTonic opened #2085 "Suggestion/Enhancement: Include binary in the release tags (all previous versions released)"
Hi,

To follow up on the rollback performed in connection to https://github.com/dotnet/wcf/issues/2076, on our project in addition to getting blocked by this unfortunate timing, we also attempted to find a previous version in vein after concluding the the root cause probably was in this new release.

Perhaps going forward, it would be a good idea to:

* Include the binary release of the previous v

[2017-07-18 21:35] zhenlan commented on #2084
@joaomello no, this is not going to work on WCF. It is a completely different programming model than WCF.  It would be best to do as a new project from scratch and we are focusing on existing WCF functionality and programming model.

[2017-07-18 21:40] joaomello commented on #2084
But, today is possible to create a client to consume this existing services at .net core?
Thanks for attention.

[2017-07-19 16:12] hongdai commented on #2073
Update: I can repro the issue, both on full framework ASR and the WCF connected service extension.

[2017-07-19 18:20] mconnew commented on #2083
The UWP HttpClient only supports certificates stored in the CurrentUser store location and not the LocalMachine. We could add some better input validation here. I'm revisiting that area today anyway so I'll see if there's something simple which makes with regards errors throwing an exception, but it won't be on this API as in the next release we can use a certificate from any store for Net.Tcp.

[2017-07-20 08:18] imcarolwang commented on #1499
Verified on release/2.0.0 branch,  issue not repro any more.
The case passes when run cross-machine (Windows to Windows) using both self-host and iis-host. It also passes when the self-host services is running on the same machine as the tests.

[2017-07-20 12:13] MarvinNorway commented on #2076
Same problem here. Uninstalling and reinstalling does not work for me.
Running version 0.5.10712.1027 on VS Enterprise 2017, Version 15.2 (26430.16).
Thanks.

[2017-07-20 19:07] tibmeister commented on #2073
Sorry about the delay's, been a little hectic.  I've attached the WSDL, it's a very large one to say the least.
The RetrieveDeereIncidentListRequest class is a good example.
[SM.wsdl.zip](https://github.com/dotnet/wcf/files/1163320/SM.wsdl.zip)

[2017-07-20 20:27] hongdai commented on #2073
@tibmeister Thanks for the repro! We will triage the issue.

[2017-07-20 23:37] ctolkien commented on #2084
It depends. There are a lot of features which are not currently supported. So if the WCF endpoint you're talking to uses one of those features then it will not work.

[2017-07-21 00:16] #959 closed

[2017-07-21 00:49] zhenlan opened #2089 "Merge test projects into less number of projects to reduce build overhead"
Currently we have so many different test projects, which caused big overhead in building them individually. Especially in uapaot build, the overhead is huge. Current uapaot build can take half hour to an hour while the build time could be reduced to a few minutes if we had merged all test projects into one.

[2017-07-21 01:17] zhenlan commented on #2076
We just released an [updated build (0.5.10718.1239)](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService) with the fix today. It will take care the upgrade and you don't have to uninstall/reinstall anymore.

Sorry for running into this issue and thanks a lot everyone for your support to help us make this product better!

[2017-07-21 03:06] zhenlan commented on #1499
Great. Thank you @imcarolwang!

[2017-07-21 03:06] #1499 closed

[2017-07-21 12:12] #2084 closed

[2017-07-21 16:43] AlexSapple opened #2092 "unable to build references from WSDL"
Hi all,

I was directed here regarding this issue I'm having.  The following endpoint is problematic (however the svcutil or "add reference" from  ye olde .net seems to work. I can't say I know a whole lot about this sort of thing, other that I expected the connected tool to give me the same result as the older "add reference" method. (my skill level is just about limited to right click -> add ref

[2017-07-21 17:50] #1848 closed

[2017-07-21 18:12] #1934 closed

[2017-07-21 18:17] #1969 closed

[2017-07-21 18:21] #2032 closed

[2017-07-21 20:07] zhenlan commented on #2059
@djseng thanks for the feedback. I do see it can be painful without update support sometimes. This is something on our backlog. I will dup this issue to #1753 for easier tracking.

I just tried a simple service and it worked for me. @mlacouture also mentioned in #1753 this should work. Can you elaborate what errors you see?

Duplicate of #1753

[2017-07-21 20:09] zhenlan commented on #2085
@NinnOgTonic good suggestion! I will look into options.

[2017-07-21 20:14] djseng commented on #2059
It just hangs for me, I don't see anything otherwise.

At present I'm just using the svcutil on the command line to refresh.

   `svcutil url /o:./out.cs /n:*,targetns /ct:System.Collections.Generic.List`1 /noConfig`

[2017-07-23 21:35] #2076 closed

[2017-07-24 12:23] davidreher opened #2096 "Support MessageVersion Soap12WSAddressingAugust2004 (in System.ServiceModel.Channels)"
We are relying on a software which still provides old asmx services which require me to use [Soap12WSAddressingAugust2014](https://msdn.microsoft.com/en-us/library/system.servicemodel.channels.messageversion.soap12wsaddressingaugust2004(v=vs.110).aspx), which is available in .NET, but not in .NET Core.

Please provide this if possible. I am also happy to contribute, but I don't know which parts to

[2017-07-24 18:20] mconnew commented on #1577
If you find any specific performance issues with creating a ChannelFactory in a background Task, feel free to open an issue.

[2017-07-24 18:20] #1577 closed

[2017-07-24 18:21] mconnew commented on #2055
Closing as working as designed and @DotNetPart is unblocked.

[2017-07-24 18:21] #2055 closed

[2017-07-24 18:24] mconnew commented on #2083
@kotobelo, does this address your issue? I did add a better error message which will be in the next UWP release. We're limited by the UWP HttpClientHandler implementation so there's nothing we can do.

[2017-07-24 19:14] mconnew commented on #2096
@zhenlan, I did I quick analysis of what this would take and there doesn't look to be any functionality that Soap12WSAddressingAugust2014 would need in WCF that the other existing MessageVersion's don't use. This version simply uses a slightly different addressing convention. This task should simply be a case of adding the message version and corresponding addressing version and fixing up a dozen

[2017-07-24 22:23] zhenlan opened #2098 "Roadmap of SyndicationFeed"
## SyndicationFeed on .NET Core
While we are making `System.ServiceModel.Syndication` available on .NET Core, we are also looking into improvements in following areas.

- [x] **Custom Parsers**
SyndicationFeed will have a default parser for RSS and Atom feeds, but now we will give users the opportunity to use their own parsing function for the known types, for example, if a user knows s/he is goin

[2017-07-24 22:26] kotobelo commented on #2083
Thanks Matt, I will try the next release.

Pedro

On 24 Jul 2017 20:24, "Matt Connew" <notifications@github.com> wrote:

@kotobelo <https://github.com/kotobelo>, does this address your issue? I
did add a better error message which will be in the next UWP release. We're
limited by the UWP HttpClientHandler implementation so there's nothing we
can do.

—
You are receiving this because you were menti

[2017-07-24 22:28] zhenlan commented on #76
Hi everyone, I just posted our roadmap for SyndicationFeed at #2098. Any feedback is welcome!

[2017-07-24 23:25] zhenlan commented on #2059
@djseng, thanks for the information. We'll have to take a further look.

[2017-07-24 23:45] zhenlan commented on #2092
@AlexSapple thanks for reporting the issue. I can reproduce the issue with latest WCF connected service tool (0.5.10718.1239) on a .NET Core 2.0 console app. Here is full error message.

---
Scaffolding Code ...
Error:Warning: Unreachable policy detected.
A WS-Policy element embedded in WSDL is missing a fragment identifier. This policy cannot be referenced by any WS-PolicyAttachment mechanisms.
X

[2017-07-24 23:51] #2077 closed

[2017-07-24 23:52] #2078 closed

[2017-07-24 23:52] #2079 closed

[2017-07-25 00:31] zhenlan commented on #1935
@Rans4ckeR please let me know if you are able to get a call stack upon crashing. Closing for now.

[2017-07-25 00:31] #1935 closed

[2017-07-25 05:48] davidreher commented on #2096
@mconnew, thx for the analysis. I am done with 1 & 2 already and will create a pull request shortly. I may also have some time for 3 or 4 later today, will let you know ;)

[2017-07-25 06:21] AlexSapple commented on #2092
some FYI on this - I think the endpoint is very odd - whilst the old "add reference" works without failure - when trying to actually use the reference.cs there are serialization errors (which I guess tells me that some very odd things are happening with the schema) - I guess it might be that this tool is simply hitting the problems with this endpoint but at an earlier part of the workflow (i.e whi

[2017-07-25 07:05] Edward-Zhou opened #2101 "ServicePointManager.ServerCertificateValidationCallback in Asp.net Core"
I have a WCF Service in .NET Framework, and I want to consume it from Asp.Net Core.
I want to ignore the certificate validation in Asp.net Core, but ServicePointManager.ServerCertificateValidationCallback is not exist in Asp.net Core.
Is there any way to achieve this in Asp.Net Core?
Thanks for your help.

[2017-07-25 08:07] RehanSaeed commented on #2098
[jsonfeed.org](https://jsonfeed.org/) has sprung into existence since I raised the original issue https://github.com/dotnet/wcf/issues/76. It would be nice to be able to support that too, since Atom and RSS are a decade old format with a lot of problems and undefined behaviour.

[2017-07-25 08:10] dodyg commented on #2098
jsonfeed is too new to be supported. There are so many attempts to JSONify syndication format and so far nothing catches on.

[2017-07-25 08:13] dodyg commented on #2098
What is the model in handling namespaced extensions?

[2017-07-25 08:53] RehanSaeed commented on #2098
@dodyg It's the chicken and egg problem, if frameworks don't support it, it won't get popular and frameworks won't support it. According to Google Trends, jsonfeed.org is [on par with Atom feeds](https://trends.google.co.uk/trends/explore?date=all&q=json%20feed,atom%20feed) in terms of interest.

Agreed that it might be too soon but @zhenlan's post mentions extensibility, a pluggable architecture

[2017-07-25 20:50] #1859 closed

[2017-07-25 20:52] StephenBonikowsky opened #2102 "Prep WCF release/2.0.0 for release."
Update all dependencies to stable release versions.
Update WCF package with a non-pre-release version.

[2017-07-25 20:53] #2102 closed

[2017-07-25 21:27] zhenlan commented on #2101
@Edward-Zhou can you check out [this](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Https/HttpsTests.4.1.0.cs#L193) as an example?

[2017-07-26 00:23] shmao commented on #1739
Closing the issue. The issue should have been resolved by the recent WCF UWP work.

[2017-07-26 00:23] #1739 closed

[2017-07-26 08:06] Edward-Zhou commented on #2101
I have tried my below code, but it does not work.
`            client.ClientCredentials.ServiceCertificate.SslCertificateAuthentication =
            new X509ServiceCertificateAuthentication()
            {
                CertificateValidationMode = X509CertificateValidationMode.Custom,
                CustomCertificateValidator = new MyX509CertificateValidator("CN=servicosdev2.caixaseguros.intra

[2017-07-26 08:29] jeremyVignelles opened #2104 "[WCF Connected Services][VS2017][netstandard] Cannot add reference to ONVIF WSDL (contains non-schema/wsdl elements)"
I am trying to add a reference to the following WSDL:

https://www.onvif.org/ver10/device/wsdl/devicemgmt.wsdl

However when I click "go", the "please wait" message is displayed and the operation never completes.

This service can correctly be added by using "Add service reference" to a .Net full framework project, but I'm working on a .net standard project. What other options do I have to add my

[2017-07-26 10:09] zhenlan commented on #2098
I hope [this example](https://github.com/dotnet/wcf/blob/lab/lab/src/Microsoft.SyndicationFeed/tests/RSS20.cs#L87) will show some ideas of the extensibility model of the new syndication feed reader. Every time `reader.Read()` is called it will return the next syndication element. If it is a "known" element type, you can use one of built-in parsers; otherwise, it can be parsed as `ISyndicationConte

[2017-07-26 10:49] dodyg commented on #2098
* http://scripting.com/rss.xml uses a source:outline extension on RSS
* https://en.wikipedia.org/wiki/Media_RSS (https://www.youtube.com/feeds/videos.xml?channel_id=UCBcRF18a7Qf58cCRy5xuWwQ)
* https://sports.yahoo.com/mlb/teams/bos/rss.xml uses Dublin Core extension

I bet there are plenty more used internally.

[2017-07-26 18:39] hongdai commented on #2104
@jeremyVignelles  Sorry to hear that you are running into an issue!

I'm able to repro the issue locally. We will further investigate the root cause.

Thanks,
Hong Dai

[2017-07-26 19:52] zhenlan commented on #2098
@dodyg thanks for the examples. We will look into them.

[2017-07-27 03:12] Edward-Zhou opened #2111 "VS2017 WCF Connected Service"
Hi,
I have an issue related with WCF Connect Service and .NET Core. Not sure whether it is specific to WCF.

Error message:

Reproduce Steps:
1. Create a simple WCF Service

2. Add a .NET Standard library project, add WCF Service reference by adding connected Service Reference

3. Add a console application(.Net framework 4.6.2), add reference to library project

4. Call from below code, it throw e

[2017-07-27 05:40] Edward-Zhou commented on #2111
It seems to be related with targetframework, after follow below, it works.
Right Click .Net Standard library-> Edit ProjectName.csproj-> TargetFramework node to below

  <PropertyGroup>
    <TargetFrameworks>net462;netstandard1.4</TargetFrameworks>
  </PropertyGroup>

[2017-07-27 08:13] dodyg commented on #2098
I hope it can be supported as the extension mechanism for RSS and ATOM is the same. For enterprise development I have seen people writing a custom RSS parser just to process extensions.

More:
* [SharePoint RSS Extension](https://msdn.microsoft.com/en-us/library/office/cc313102(v=office.12).aspx)

[2017-07-27 16:29] KKhurin opened #2112 "Perf sign off"
We need to get the final perf numbers for 2.0 release

[2017-07-27 16:32] KKhurin opened #2113 "2.0 Stress sign off"
Full scenario matrix for stress:
- no security Windows
- no security Linux
- win auth Windows
- cert auth Windows
- cert auth Linux

[2017-07-27 16:40] #2083 closed

[2017-07-27 22:14] StephenBonikowsky opened #2118 "Enable xmlupdatestep's in dependencies.props"
This will auto update the following properties...
[code]

[2017-07-27 23:39] StephenBonikowsky opened #2119 "Add Test Build & Run Configs to VSTS for uwp6.0 branch."
The initial state of the [pipelines.wcf.release.uwp6.0.json](https://devdiv.visualstudio.com/DevDiv/_git/DotNet-BuildPipeline?path=%2Fsrc%2FPipeBuild%2FPipeBuild%2Fpipelines.wcf.release.uwp6.0.json) only built the product and published packages.

Now need to add test configurations.

[2017-07-28 13:52] brunobertechini commented on #997
Hi there I ran in the same issue. But my case is i cant get rid of the error System.ServiceModel.Security.SecurityNegotiationException : Could not establish trust relationship for the SSL/TLS secure channel with authority  even settings those options:

[code]

[2017-07-28 14:20] brunobertechini commented on #997
If I specify a custom validator, its never called:

[code]

[code]

[code]

[2017-07-28 14:23] brunobertechini commented on #997
After several tries, i've found out i need to set this at Binding level in order to the custom validator be called:

[code]

Then with an empty validator the error is gone :)

[2017-07-28 14:43] brizo001 commented on #31
E-Verify seemingly also supports BasiHttpBinding but only with the security mode set to BasicHttpsSecurityMode.TransportWithMessageCredential, which is also not supported in the current implementation.

[2017-07-28 18:33] hongdai commented on #2104
@jeremyVignelles When you add the service using "Add service reference", does the generated client code function correctly?

[2017-07-28 18:35] StephenBonikowsky opened #2124 "Client.ChannelLayer.Tests hanging"
At least two tests...
RequestReplyChannelShapeTests.IRequestChannel_Async_Http_CustomBinding()
DuplexChannelShapeTests .IDuplexSessionChannel_Async_Tcp_NetTcpBinding()

Are hanging waiting for a response in asynchronous awaits.

While the exact problem is not understood, we do know that this only fails on 1 or 2 core test machines but not on our local machines that have more than 2 cores.

The wor

[2017-07-28 18:47] StephenBonikowsky opened #2126 "Investigate async hangs when on 1 or 2 cores."
Workaround for affected test cases fixed, Issue #2124 PR: #2125

Test cases...
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Client/ChannelLayer/DuplexChannelShapeTests.4.0.0.cs#L79
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Client/ChannelLayer/RequestReplyChannelShapeTests.4.0.0.cs#L183

The issue has only

[2017-07-28 18:57] jeremyVignelles commented on #2104
Hi, I can't do this since I am working on a .net standard project. I tried
with a full framework project and the code seems to generate correctly,
though I didn't test it

Le ven. 28 juil. 2017 20:33, Hong Dai <notifications@github.com> a écrit :

[2017-07-28 20:52] #1801 closed

[2017-07-28 20:55] #2124 closed

[2017-07-29 04:41] huangjinshe commented on #1688
@marek-safar Please schedule it soon.

[2017-07-31 17:27] mbearup opened #2132 "Unable to load DLLs"
Despite several attempts, I can't seem to reference additional DLL's or packages in this project.
- I've focused mostly on the System.Private.ServiceModel csproj, but I've tried other csproj's and even the init-tools.msbuild script with no luck.
- If I reference a DLL (by absolute path, relative path, forward slahes, backslashes, etc) the compiler always complains that the dll could not be found.

[2017-07-31 22:50] StephenBonikowsky opened #2135 "Investigate certificate issues causing failures of UWP F5 scenario."
https://mc.dot.net/#/product/components/master

Not all failures have the same exception or call stack as the below example but there is a known problem that is already being investigated regarding certificates and it is likely that the widespread failures for this issue are causing other tests to timeout or hit other unexpected issues with the service.

Too many tests to put an active issue on, I

[2017-08-01 07:46] RomanKernSW opened #2138 "Some Java SOAP cannot be imported"
I have a problem with some Java generated WSDL. I got an error:

Processing instructions (other than the XML declaration) and DTDs are not supported. Line 1, position 2.

the classic .net with service reference do not have such problems. Would be nice if the generator would work verbosely. the first line looks always this way: <?xml version="1.0" encoding="UTF-8"?>

Sorry, but I cannot provide the

[2017-08-01 17:33] mathieubouchard commented on #2138
Does your contract has an UTF-8 encoding with a BOM header?

[2017-08-01 21:20] zhenlan commented on #2132
Hi @mbearup, you can find our developer guide [here](https://github.com/dotnet/wcf/blob/master/Documentation/developer-guide.md).

If you can share more of what you intend to achieve, we probably can assist you better. Please also keep in mind the project is using a custom [build system](https://github.com/dotnet/buildtools), it may not work as you would expect.

[2017-08-01 21:39] zhenlan commented on #2126
We can try to repro the issue on dev box with 1 or 2 cores.

[2017-08-01 21:45] shmao opened #2140 "Test “DefaultSettings_SetCookieOnServerSide” Failed on UWP6.0"
The test failed in UWP app on UWP6.0. The [**assert**](https://github.com/dotnet/wcf/blob/247d18fed89a8c6040769af28d951991eda980e8/src/System.Private.ServiceModel/tests/Scenarios/Client/ClientBase/ClientBaseTests.4.1.0.cs#L89) failed.

[2017-08-01 21:49] zhenlan commented on #2111
@Edward-Zhou would you like to try out .NET Core 2.0 preview release ([System.ServiceModel.Primitives/4.4.0-preview2-25419-01](https://www.nuget.org/packages/System.ServiceModel.Primitives/4.4.0-preview2-25419-01)) and see if it works for you?

[2017-08-01 22:02] hongdai commented on #2062
This is fixed now.

[2017-08-01 22:02] #2062 closed

[2017-08-01 22:03] hongdai commented on #2038
@Adrian10988 We have enabled MessageHeader in the latest release.

[2017-08-01 22:03] #2038 closed

[2017-08-01 22:05] hongdai commented on #2031
@marlon-tucker Since we are unable to repro locally, I'm going to close this issue. Please reopen it if you find another repro wsdl that you are able to share with us.

[2017-08-01 22:05] #2031 closed

[2017-08-01 22:05] hongdai commented on #1936
This is fixed in the latest release.

[2017-08-01 22:05] #1936 closed

[2017-08-02 08:44] RomanKernSW commented on #2138
the java service (generated with apache CXF) have in WSDL UTF-8 Encoding on XML. Means, header should be encoded in UTF-8 too.

I have a simple request here, that may help a little bit.

[test.txt](https://github.com/dotnet/wcf/files/1193214/test.txt)

[2017-08-02 13:51] schris403 opened #2144 "Visual Studio WCF Connected Service -"
When trying to add a service via the WCF Web Service Reference Provider tool in VS2017, we get the following error:

"The maximum read depth (32) has been exceeded because XML data being read has more levels of nesting than is allowed by the quota. This quota may be increased by changing the MaxDepth property on the XmlDictionaryReaderQuotas object used when creating the XML reader. Line 37, posit

[2017-08-02 14:35] RomanKernSW commented on #2138
OK, my college that do the java service have a server side solution.

on processing the xsd file the tool found one xml declaration that is not belong to the soap standard(?)
<?xml-stylesheet ... ?> removing that will solve the problem!

[2017-08-02 14:35] #2138 closed

[2017-08-02 15:40] hongdai commented on #2144
@schris403  Sorry for running into the issue. You are right that we can increase the maximum read depth in the tool. We will increase it for the next release.

To workaround in the mean time, you can download the wsdl file locally and give the local path to the tool. That should work.

[2017-08-02 17:30] shmao opened #2145 "SocketConnection.SetWriteTimeout() Throws NullRef Exception"
`SocketConnection.SetWriteTimeout()` throws NullRef exception on uapaot.

[2017-08-02 19:37] spankepabs commented on #2144
The local wsdl is not working.  Is there anyway for us to set a larger value until you update the tool?

[2017-08-02 20:43] #2145 closed

[2017-08-02 21:22] hongdai opened #2147 "Upn Service identity scenario is failing on Linux"
Affected test:
NegotiateStream_Tcp_Tests.NegotiateStream_Tcp_With_ExplicitUserNameAndPassword_With_Upn

Faiure callstack is below:

NegotiateStream_Tcp_Tests.NegotiateStream_Tcp_With_ExplicitUserNameAndPassword_With_Upn: Throwing an exception. Source: System.ServiceModel 4.0.0.0. Exception details: System.ServiceModel.Security.SecurityNegotiationException: Authentication failed on the remote side

[2017-08-03 11:10] RomanKernSW opened #2150 "System.InvalidOperationException: System.Xml.Linq.XElement cannot be used as: 'xml text'"
Hi,
i have some problem with generated client proxy. Could be an issue that code generator produce.
[Stacktrace.txt](https://github.com/dotnet/wcf/files/1196925/Stacktrace.txt)
The types are comming from this xsd file
[W3C-XMLDSig.txt](https://github.com/dotnet/wcf/files/1196929/W3C-XMLDSig.txt)

I dont get, where exactly is the problem! I've tried to use ClientMessageInterceptor, but the problem

[2017-08-03 13:38] xprzemekw commented on #1200
Because we need solid SOAP Framework in .NET Core which will enable us to use plethora of new scenarios. For example docker with nanoserver (yes, servercore image is too large), for example linux. We have big SOA enabled financial system and no one will ever think of moving it to Web API for just moving it to WEB API if SOAP works perfectly for our high profile clients. That has no business value.

[2017-08-03 16:14] hongdai commented on #2150
@RomanKernSW Sorry to hear that you are running into a issue.

We will try to repro it locally.

[2017-08-03 17:50] hongdai commented on #2150
@RomanKernSW Is it possible to share the generated reference.cs? We cannot get a repro by just using the xsd file.

[2017-08-03 18:12] hongdai commented on #2150
@RomanKernSW How did you generated the reference.cs? The xsd file looks like Message security is needed, and it is not supported on the .Net Core yet.

[2017-08-03 19:53] Jelle87 commented on #1813
Dear, is it possible to provide us more information about the workaround, having the same issue here.

[2017-08-03 22:40] #1965 closed

[2017-08-04 04:40] hongdai commented on #1892
@carneirim We do not generate code because there are service schema validation errors, the generated code might not work in the run time.

Could you tell me if the generated code on the full framework actually work in the run time(i.e. you can successfully use the client to call the service)? This will help us if the errors can be ignored.

Thanks,
Hong

[2017-08-04 05:52] RomanKernSW commented on #2150
ah Message Sec is not supported yet? But the Contracts for Message sec were successfully generated. Do you still need the wsdl or xsd files?
When will be message supported?

[2017-08-04 06:20] #2096 closed

[2017-08-04 16:53] paonekumar commented on #1623
@ganesh1984hary  I am also getting same error, did you find any solution?

[2017-08-04 18:37] hongdai commented on #2150
Unfortunately we don't have a timeline yet for message security feature.

Which tool did you generate the contract?

[2017-08-04 19:01] zhenlan commented on #1623
@paonekumar, does this help?
https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-authentication/

[2017-08-05 01:28] ElJerry opened #2159 "SyndicationFeed: Change XmlReaderWrapper to XmlReader"
The current implementation of SyndicationFeed uses an XmlReaderWrapper, as Extension methods were added to XmlReader it is now not necessary to be passing around XmlReaderWrapper.

All XmlReaderWrappers have to be changed to XmlReader when possible.

[Reference](https://github.com/dotnet/wcf/pull/2028#pullrequestreview-49371298)

[2017-08-05 18:29] RomanKernSW commented on #2150
with WCF Connected Service latest version. I will talk to the developer for samples. maybe its not a security feature at all

[2017-08-07 10:55] Bobmonga opened #2161 "ChannelFactory Channels leaving connections open."
While converting an ASP.NET Framework project to ASP.NET Core I believe I may have found an issue. It could be similar to #1504. To test, I created two console apps with the following code.

        public void CallIt(int x)
        {
            BasicHttpBinding myBinding = new BasicHttpBinding();
            EndpointAddress myEndpoint = new EndpointAddress("webServiceURL");
            using (Ch

[2017-08-07 12:04] jeremyVignelles commented on #2104
Any update on this issue? Do you know when a new release of the tool will be available?

Is there any workaround so that I can work in the meantime?

[2017-08-07 12:41] madSimonJ opened #2162 "AX AIF Endpoint Can't be Discovered"
I've got an AX AIF end point, which uses the net.tcp protocol, which I'm trying to find a method of consuming in .NET Core 1.1.  I've tried using this tool, but all I get is an error message telling me that there were not discoverable services.

Is anyone aware of a solution to this issue?

[2017-08-07 16:56] hongdai commented on #2104
The operation never completes because download metadata does not complete.

You can workaround it by downloading the wsdl file locally and launch from there.

However, after it, I've got below error message:
"The service at the following URI does not have any endpoints compatible with .Net Core apps:'C:\git\WCFTools\DeviceBinding - WS Binding.wsdl'"

This is probably because it needs WS-discovery

[2017-08-07 21:00] mconnew commented on #2161
The difference is because on the full framework we use HttpWebRequest and on .Net Core, we use HttpClient. HttpWebRequest uses ServicePointManager to manage connection pooling. WCF creates a connection group name based on the endpoint and the credentials being used and sets this name on the HttpWebRequest. ServicePointManager handles the connection pooling at the app domain level. This means when

[2017-08-07 21:07] mconnew commented on #2096
@davidreher, are you able to use a non-release build of this as it will be a while until our next release date where this will be available to .Net Core.

[2017-08-07 21:08] mconnew commented on #2101
"it does not work" has a very wide range of possibilities. Can you provide a bit more detail?

[2017-08-07 23:00] mconnew commented on #2135
I believe this should be solved now. Waiting on some build tools updates for other issues to verify that our nightly builds and now succeeding.

[2017-08-07 23:01] mconnew commented on #1592
@epignosisx, were you able to verify this works for you on windows?

[2017-08-08 10:52] Bobmonga commented on #2161
Many thanks for the explanation @mconnew. I've successfully amended my code.

[2017-08-08 10:52] #2161 closed

[2017-08-08 10:55] Jelle87 commented on #8
Any news wether this is on the short term roadmap?

[2017-08-08 10:55] Jelle87 commented on #1354
Any news wether this is on the short term roadmap?

[2017-08-08 11:54] Jelle87 commented on #4
What is the status of the message security feature?

[2017-08-08 19:28] davidreher commented on #2096
sure, this will work for me, thx 👍

[2017-08-08 21:18] zhenlan commented on #2162
@madSimonJ could you please clarify which tool you referred here? Can you please share the end point address? What are the steps you got the error?

[2017-08-08 21:23] ElJerry opened #2169 "Implement AtomWriter in Microsoft.SyndicationFeed"

[2017-08-08 21:54] zhenlan commented on #2135
@mconnew let's port your test only fix to UWP branch so we get cleaner test run.

[2017-08-09 04:00] zhenlan commented on #1387
This should be fixed now as both #1589 and dotnet/corefx#12618 are closed.

[2017-08-09 04:00] #1387 closed

[2017-08-09 17:30] #2089 closed

[2017-08-09 17:43] diazrm opened #2172 "Problem with WSDL size when fetching from URI"
**Steps:**

1. In a _Class Library (.NET Core)_ project, click right-button on the project, select _Add_, _Connected Service_
2. Select _Microsoft WCF Web Service Reference Provider - Preview_
3. In the _URI_ field, enter the URI of a webservice with a WSDL bigger than 4096 bytes
4. Press _Go_ button

**Expected result:**

Succesful service and methods discovery.

**Actual result:**

In the _Statu

[2017-08-09 20:53] #2119 closed

[2017-08-09 21:10] Justawebguy opened #2173 "WCF Web Service Reference Provider issue"
Trying to transition to core for new development but ran into a problem. I have a WCF service that does authentication against AD and I am having issues using it with the WCF Web Service Reference Provider building a Core web application. I am able to add the same service into a .net framework application.

It looks like the reference file that is generated is missing some of the code that was gen

[2017-08-09 23:13] Justawebguy commented on #2173
Ya know how you always find the answer when you finally post somewhere about it... That Happened today

In case anyone finds this the following may help you solve your problem.

            Binding binding = null;
            binding = new BasicHttpsBinding(BasicHttpsSecurityMode.Transport); //secureHttpBinding
             SoapClient ldap = new SoapClient(binding, new EndpointAddress("https://***

[2017-08-09 23:13] #2173 closed

[2017-08-10 01:58] Edward-Zhou opened #2179 "ServiceHost.Close(TimeSpan) did not throw expected exception"
I want to make a test with ServiceHost.Close(TimeSpan) method, but it did not throw the TimeoutException.
I have tried Closing and Closed event to extend the time the ServiceHost will close, but I fail to get the exception. I want to fire the TimeoutException on ServiceHost.Close(TimeSpan).
Here is my test code.
[code]

[2017-08-10 10:56] monotore opened #2180 ""The service at the following URI does not have any endpoints compatible with .Net Core apps" from connected services 0.5.10718.1239"
I have a WSDL as a local file, and try to use WCF Connected Service for Visual Studio 2017 version 0.5.10718.1239 to generate service references. I get this error messange at first step when i browse and select my WSDL:
_The service at the following URI does not have any endpoints compatible with .Net Core apps:'C:\Api\Doc\TokenCreate\TokenCreate.wsdl'_

Is it any way to get more feedback from the

[2017-08-10 17:30] StephenBonikowsky opened #2181 "[Master] Enable UapAot test variations on Windows. (VSTS)"
Branch: MASTER

Currently IISHosted variation is enabled with roughly 30% of the UWP ILC tests run in VSTS failing with the following issue...

[code]

[2017-08-10 17:44] hongdai commented on #2180
@monotore  you can find the log file in %temp%\WCFConnectedService.

Could you click on the "Finish" button on the first page? The tool will continue and generate more information in the log file.

In the next release next week, we will also show more details in the UI in this case.

[2017-08-10 20:38] StephenBonikowsky commented on #2026
After adding a job in netci.groovy for uap scenario tests got the following error...
[code]
Disabling the job with PR #2182 until it can be investigated.

[2017-08-10 20:47] StephenBonikowsky opened #2183 "[Master] Enable UAP test variations on Windows. (VSTS)"
Currently UAP variations have been disabled due to missing resources in PRI files that is being fixed by dotnet/buildtools#1630, there the issue results in a build failure. Once the fix is merged we will need to update our Master branch to the buildtools version containing the fix and verify that our UAP tests pass.

@mconnew has more context on this issue.

Once it is verified fixed in Master upd

[2017-08-10 20:52] StephenBonikowsky opened #2184 "[Master] Enable NetCoreApp test variations on Linux platforms. (VSTS)"
Currently blocked by buildtools issues found in...
https://github.com/dotnet/buildtools/pull/1627

[2017-08-10 20:57] StephenBonikowsky opened #2185 "[Master] Enable NetFx test variations on Windows. (VSTS)"

[2017-08-10 21:06] StephenBonikowsky opened #2186 "[Master] Enable NetCoreApp test variations on OSX platforms. (VSTS)"
We are currently build tests but not yet running them.

[2017-08-10 21:09] StephenBonikowsky commented on #1982
This issue encapsulates too much work, closing it and spreading the work out between the following new issues...
	[Enable NetCoreApp test variations on Linux platforms. (VSTS) #2184](https://github.com/dotnet/wcf/issues/2184)
	[Enable NetFx test variations on Windows. (VSTS) #2185](https://github.com/dotnet/wcf/issues/2185)
	[Enable UapAot test variations on Windows. (VSTS) #2181](https://github.c

[2017-08-10 21:15] StephenBonikowsky commented on #1982
This issue did accomplish...

- Initial split of Product and Test build definitions.
- NetCoreApp variations on Windows platforms building and running successfully.
- UAP variations building and running until they were recently broken .
- UAPAOT variation building and running although with significant failure rate.
- Initial investigation into NetFx variation failures.
- Initial investigation into

[2017-08-10 21:17] #2118 closed

[2017-08-10 21:17] #1982 closed

[2017-08-10 22:01] StephenBonikowsky commented on #2183
@mconnew Could you keep an eye on the fix in buildtools? If it gets in it would be nice to upgrade to the new version and at least do a local run to verify results.

Adding @safern as FYI

[2017-08-11 12:32] waldimen opened #2188 "Error "An HTTP Content-Type header is required for SOAP messaging and none was found.""
I created connected service to PHP powered SOAP Web Service.
When I try to connect ot the service using generated code I got error:

"An HTTP Content-Type header is required for SOAP messaging and none was found."

I can invoke the service from SoapUI without any problems.

Any ideas  what else to check ?

[2017-08-11 17:13] mol opened #2189 "Deserialization error for first streamed web service request with a Global.asax file added"
Adding an (even empty) Global.asax file to a web service that is streaming and using the netHttpBinding (maybe others too), causes **the first request** after service start throw a deserialization related exception - every time. Subsequent requests work fine.

It's been reported to StackOverflow a few times without details and without actual solutions, but I've managed to narrow it down to the Glo

[2017-08-11 17:34] hongdai commented on #2188
@waldimen Sorry to hear you are running into the issue!

Is the service public accessible? It will speed up the investigation if you can provide a repro.

Thanks,
Hong Dai

[2017-08-11 19:20] mol commented on #2189
Seems like it's related to this:
https://stackoverflow.com/questions/4412124/how-can-a-newly-added-global-asax-file-make-a-mess-of-my-wcf-service

Setting aspNetCompatibilityEnabled to false in the Web.config and the first request works.

[2017-08-14 01:32] KKhurin commented on #1732
I believe these are all symptoms of lingering outstanding calls that have not been timed promptly. In a way these are similar to #1815 but with different calls being stuck. We'll likely need to update the stress harness and even instrument the product to get to the bottom of these.

[2017-08-14 01:35] KKhurin commented on #1815
According to the latest results the main suspect is a completed task with a thread synchronously waiting for its result and not getting scheduled for some reason. Following up with CLR folks to investigate further.

[2017-08-14 01:40] Edward-Zhou commented on #2179
anyone could help on this?

[2017-08-14 01:59] imcarolwang commented on #1678
This does not repro any more since the hit in old earlier builds.

[2017-08-14 01:59] #1678 closed

[2017-08-14 02:14] imcarolwang commented on #1679
"OutOfMemoryException" not repro but NetTcp streaming scenario test error change to below:

[2017-08-14 02:17] imcarolwang commented on #1680
Issue not repro in recent builds.

[2017-08-14 02:17] #1680 closed

[2017-08-14 02:20] imcarolwang commented on #1731
Issue not repro in recent builds. All mentioned affected scenarios now passed.

[2017-08-14 02:20] #1731 closed

[2017-08-14 09:16] waldimen commented on #2188
No, it is not a public repo. What is strange in Fiddler I can see that the
response was sent by server, but it seems that it is not properly decoded.

Regards,

Waldimen

2017-08-11 19:34 GMT+02:00 Hong Dai <notifications@github.com>:

[2017-08-14 10:34] imcarolwang opened #2193 "Certificate authentication Https-Async-Streaming scenario fail with ObjectDisposedExcpetion in stress test"
Test command: CertAuth\2a.HttpStreaming.cmd

**Test paramters:**

**Restart test with just 2 stress threads – stressLevel=2 passed**

**Failure callstack:**
``Unhandled Exception: System.ObjectDisposedException: Cannot access a disposed object.
Object name: 'The message containing this stream has been closed. '.
   at System.ServiceModel.Dispatcher.StreamFormatter.MessageBodyStream.EnsureStreamIsO

[2017-08-14 15:27] stephentoub opened #2194 "WCF ClientBase Close method is private"
_From @timClyburn on August 14, 2017 7:23_

I have an existing nuget package that contains some WCF DataContracts, ServiceContracts and proxy classes that I am now attempting to migrate for use in a dotnetcore project in VS2017 (15.2 - 26430.16 release version).
In the code there is a base proxy class that implements ClientBase and IDisposable. The dispose method calls Close() on the ClientBase. I

[2017-08-14 16:10] Dudod commented on #1592
Hi all. I have problem with configure proxy for http binding in .net core 2.0.
My code:

 var binding = new BasicHttpBinding();
 {
ProxyAddress = new Uri("http://192.168.0.1:8080"),
UseDefaultWebProxy = false
};
EndpointAddress endpoint = new EndpointAddress("http://someendpoint.com/SomeService");
_channelFactory = new ChannelFactory<T>(binding, endpoint);
IClientChannel proxy = (IClientChannel)_c

[2017-08-14 17:15] zhenlan commented on #2051
Release notes published
https://github.com/dotnet/wcf/releases/tag/v2.0.0

[2017-08-14 17:15] #2051 closed

[2017-08-14 18:40] KKhurin commented on #1679
The ObjectDisposedException above is caused by #2193

[2017-08-14 18:40] #1679 closed

[2017-08-14 21:40] shmao commented on #2140
This was fixed by https://github.com/dotnet/corefx/pull/22939. The latest meta-package included the fix.

[2017-08-14 21:40] #2140 closed

[2017-08-14 22:36] hongdai opened #2197 "Web Service Reference Provider error: There was a problem reading the MetadataSet argument"
A customer reported that:
"Trying to add reference to NetSuite Web Services at https://webservices.netsuite.com/wsdl/v2017_1_0/netsuite.wsdl and I am getting the following error. Is the WCF Web Service Extension what is need to create what used to be called a 'Web Reference' in a .Net Core project?

There was a problem reading the MetadataSet argument: a MetadataSection instance with identifier 'u

[2017-08-14 22:37] hongdai commented on #2197
I can successfully create the proxy in ASR. This is probably an XML service that needs Disco to download the metadata.

[2017-08-15 05:44] ahawes-clarity commented on #2197
I'm the original poster of the issue. Please let me know if any more information is needed.

[2017-08-15 06:55] denisbredikhin commented on #1808
Hello.
I reference .NET standard project from Android project.
In .NET standard project I make a call to WCF service using WCF Connected Service and I've got same exception as was mentioned in #1804
`Operation 'methodNameAsync' contains a message with parameters. Strongly-typed or untyped message can be paired only with strongly-typed, untyped or void message.

  at System.ServiceModel.Dispatcher.

[2017-08-15 08:03] ArgusMagnus commented on #1688
Any progress on this?

[2017-08-15 12:59] Dudod commented on #1592
I have investigation about this problem. Important nootice - I talk about windows. I think problem in ServiceModelHttpMessageHandler used in WCF for Win. It wrapper for WinHttpHandler. Key difference between it and HttpClientHandler used in Unix build - it not set WindowsProxyUsePolicy.UseCustomProxy in case use proxy.

[2017-08-15 13:36] marek-safar commented on #1688
This is large effort for us with many implications to resolve. Unfortunately, I don't see us leveraging dotnet WCF code anytime soon.

[2017-08-15 20:20] huangjinshe commented on #1688
@marek-safar  I thought you guys will do that few months ago. You sounds like you guys giving up that now.....

[2017-08-15 21:41] #2053 closed

[2017-08-15 23:08] lviana1 commented on #2098
You mention there will be default parsers for RSS and Atom feeds, but you don't specify which versions. There are multiple versions in use out there, with the important ones being: RSS 1.0 (RDF), RSS 2.0, Atom 0.3, and Atom 1.0. Ideally there would be support for all of these. Support for JSON Feed is also a good idea, IMO.

As for namespace extensions, here's a directory of different ones: http:/

[2017-08-15 23:26] mconnew commented on #2194
@timClyburn, `Close()` isn't a private method on `ClientBase<TChannel>`. The `Close()` method is defined in the interface `ICommunicationObject` which `ClientBase<TChannel>` implements. The difference between the full framework and .Net Core is that in .Net Core, it is an [explicit interface implementation](https://docs.microsoft.com/en-us/dotnet/csharp/programming-guide/interfaces/explicit-interf

[2017-08-16 00:11] dstonham commented on #2172
I was hit by the same issue but, as a workaround, downloading the wsdl and loading it from the local file seems to bypass this problem.

[2017-08-16 00:12] #2112 closed

[2017-08-16 00:18] KKhurin commented on #1780
We have a "quick and dirty" proof of concept now which doesn't address a few cases.
Will need a bit more re-architecture before we can submit a PR.

[2017-08-16 00:30] dstonham opened #2204 ""Unable to restore NuGet packages" when adding service reference."
Using version 0.5.10808.800 in a .net core 1.1 project under VS2017 v15.2 (26430.16).

I'm unable to add a service.  After completing the wizard, at the "Restoring NuGet packages..." step I see the error "Unable to restore NuGet packages, please ensure packages can be restored for the project."

The Output window shows the additional message "Failed adding Microsoft WCF Web Service Reference Provi

[2017-08-16 00:31] mconnew commented on #2188
@waldimen, the problem is the server is doing the wrong thing.

The Content-Type header is required according to the [SOAP 1.2 spec](http://www.w3.org/TR/soap12-part2/#http-respbindprocess).

The Content-Type header is also required according to the [SOAP 1.1 spec](http://www.w3.org/TR/2000/NOTE-SOAP-20000508/#_Toc478383526).

So basically the endpoint you are communicating with doesn't correctly

[2017-08-16 01:49] hongdai commented on #2172
Thanks for the feedback! We will increase the quota in the next release.

[2017-08-16 01:52] hongdai commented on #2204
@dstonham Can you restore and build your project successfully without using the tool? The tool requires the user project can be built in order to adding service reference.

Thanks,
Hong Dai

[2017-08-16 07:47] timClyburn commented on #2194
Thanks @mconnew, thats great. Next time I'll look in the source and check the implementation before posting! Thanks.

[2017-08-16 12:41] de12345 commented on #2204
have the same problem version 0.5.10808.800
we are getting this NuGet packages restore error:
Restoring NuGet packages ...
Error:Unable to restore NuGet packages, please ensure packages can be restored for the project.

tried restoring via VS menu - and this works with no problem
also rebuild is working with no problem

how can i revert to last version?

[2017-08-16 14:05] diazrm commented on #2172
@hongdai isn't it possible to modify the configuration in the actual release? Some hidden .config or .json file or something like that. As a workaround, I mean.

[2017-08-16 14:44] sherland opened #2205 "Implement INotifyPropertyChanged on data types"
The types generated are not implementing INotifyPropertyChanged.
Example on .net:
[code]
Currently this is generated in a netstandard2.0 project:
[code]

[2017-08-16 15:01] dstonham commented on #2204
@hongdai Yes, the project builds fine.  Only see a problem on trying to add the service.  Is there a nuGet package I can try to install manually?  I tried searching the standard nuget repo for "Microsoft WCF Web Service Reference Provider - Preview" but couldn't find anything.

[2017-08-16 16:03] hongdai commented on #2204
@dstonham @de12345 Could you try below workaround?
1) Open a new Dotnet Core -> Console Application.
2) Add the desired service reference.
3) Copy the generated reference.cs to your project.
4) Add below package references to your project:

    <PackageReference Include="System.ServiceModel.Duplex" Version="4.3.0" />
    <PackageReference Include="System.ServiceModel.Http" Version="4.3.0" />
    <

[2017-08-16 16:46] hongdai commented on #2172
@diazrm The tool is currently code based and does not depend on any configuration file. Thus the only workaround is to download the wsdl from a browser.

[2017-08-16 17:03] hongdai commented on #2205
@sherland Dotnet core does not support data binding as you notice.

Could you outline your scenario that needs the support? We can evaluate the support if there are sufficient demand.

Thanks,
Hong Dai

[2017-08-16 22:27] dstonham commented on #2204
Thanks @hongdai.  I was able to generate the class in a fresh project and then move it across.  Took a while to find the right nuGet packages but it seems to be working.

When a run "dotnet restore" I see a number of errors that report "error NU1605: Detected package downgrade: System.Security.Claims from 4.3.0 to 4.0.1." so it seems likely that is the issue.  I've asked the dev working on that to

[2017-08-16 22:27] #2204 closed

[2017-08-17 06:57] sherland commented on #2205
It's only the generated code that is having issues:
When i update the proxy manually (make it more similar to what .net generates) and compile a netstandard2 library, and use it in netcore2, everything works as expected. Netcore2 have the required classes it seems.

My scenario:
We have created a api (very) similar to entity-framework, with linq support, change-tracking and all on top of a custom

[2017-08-17 14:19] kevint2017 opened #2208 "Trying to consume a WCF service app (VS2017) using this tool, WaitingForActivation response..."
Hi,

I've got a project I'm working on at the moment, WCF Service app built using .Net Framework 4.6.1 in VS 2017 that I'm trying to consume from a .Net Core 1.1 web app, the code compiles, creates the Async reference methods (note the original methods are only sync). But when I run the calls to the service  it does nothing, all I get is a response like

And nothing happens on the service side.

W

[2017-08-17 16:29] pardhumeduri opened #2209 "Issue with VS2017 Core 2.0 Consuming Net4.5.2 WCF service"
we are working web application on Core 2.0, VS2017 15.3.
We had few WCF services written on .Netframework 4.5.2. To consume these services in Core 2.0, We don't want to go with "VS WCF Connected Service extensions" as it uses Proxies and WSDL.

Alternative to "WCF Connected Service"  we did the following things:
1) we have created WCF service wrappers on Core 2.0 , created Agents, Clients, Contrac

[2017-08-17 17:00] #2113 closed

[2017-08-17 17:02] zhenlan commented on #2101
@Edward-Zhou please let us know if you have an update. Closing the issue for now.

[2017-08-17 17:02] #2101 closed

[2017-08-17 17:07] #1999 closed

[2017-08-17 17:09] hongdai commented on #2208
@kevint2017 Just to confirm, Did you try copying the generated reference.cs to a .Net Framework 4.6.1 project and run the code?

Is it possible for you to give us a repro to help further investigation?
Thanks,
Hong

[2017-08-17 17:21] zhenlan commented on #1903
@KKhurin will do a scoped fix first. If more issues are discovered later, will address them separately.

[2017-08-17 17:30] hongdai commented on #2209
@pardhumeduri, there are a couple of possible issues:
-  It looks like you build the project in .net framework instead of Dotnet core as it attempts to load System.ServiceModel.
-  You should not directly add "System.Private.ServiceModel" package. The packages you need are:
[code]

Hope it helps,
Hong Dai

[2017-08-17 17:40] #2194 closed

[2017-08-17 18:04] hongdai commented on #2209
@pardhumeduri Could you share your csproj file?

[2017-08-17 18:05] pardhumeduri commented on #2209
<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />

  </ItemGroup>
  <ItemGroup>
	<PackageReference Include="Newtonsoft.Json" Version="10.0.3" />
	<PackageReference Include="System.Configuration.ConfigurationManager" Version="4.4.0

[2017-08-17 18:07] hongdai commented on #2209
Please attach the actual csproj file, if you can share.

[2017-08-17 18:07] pardhumeduri commented on #2209
CSPROJfile

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp2.0</TargetFramework>
  </PropertyGroup>

  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.0" />

  </ItemGroup>
  <ItemGroup>
	<PackageReference Include="Newtonsoft.Json" Version="10.0.3" />
	<PackageReference Include="System.Configuration.ConfigurationManager" Ve

[2017-08-17 18:08] hongdai commented on #2209
It seems you have difficulty to attach it, Could you send it to me by email?

[2017-08-17 18:15] pardhumeduri commented on #2209
[csproj.zip](https://github.com/dotnet/wcf/files/1232216/csproj.zip)

[2017-08-17 18:25] hongdai commented on #2209
@pardhumeduri If I understand correctly, you have a wrapper library that does the actual call. I will need to take a look your wrapper project definition.

[2017-08-17 18:50] pardhumeduri commented on #2209
but even without wrapper we are getting the same error.
following code is not using wrapper
//var url = Environment.GetEnvironmentVariable("url");
var helloEndpoint = new EndpointAddress("");
var binding = new BasicHttpBinding();
var factory = new ChannelFactory(binding, helloEndpoint);
var client = factory.CreateChannel();
var result = client.Get();

[2017-08-17 20:17] hongdai commented on #2209
Could you send me your repro Application? It seems you have a simple repro.

[2017-08-18 00:37] hongdai commented on #2180
The latest release now show more details in the UI in this case. Please reopen the issue if it's not sufficient.

[2017-08-18 00:37] #2180 closed

[2017-08-18 00:40] hongdai commented on #2144
This is fixed in the latest release.

[2017-08-18 00:40] #2144 closed

[2017-08-18 00:42] hongdai commented on #2150
@RomanKernSW Could you share me the repro wsdl file? I can attempt a repro to confirm exactly what's needed.

[2017-08-18 08:27] monotore commented on #2180
@hongdai The lastest release does not show any valuable new information. The following redudant text is added at the beginning of the previous text:
_An error occured while browsing WSDL file 'C:\Api\Doc\TokenCreate\TokenCreate.wsdl'_

The "Finish" button is disabled, so I'm not able to click it to generate more information in the log file as suggested.

[2017-08-18 11:15] LEsperanca opened #2211 "BasicHttpMessageSecurity"
This is not really a issue, when will BasicHttpMessageSecurity be supported by .net core 2.0?

[2017-08-18 12:09] egorpavlikhin opened #2212 "WCF Connected Service .Net 4.7"
Visual Studio extension still support .net framework up to 4.6.2 https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService
Although 4.7 has been out for almost 5 months.

[2017-08-18 16:26] hongdai commented on #2180
@monotore Could you share the TokenCreate.wsdl file? We will try to repro it locally.

[2017-08-18 16:34] hongdai commented on #2212
@egorpavlikhin  Thanks for your feedback! We are evaluating the support.

[2017-08-18 18:47] GSAcebal opened #2213 "Error installing Microsoft WCF Web Service Reference Provider - .NET Core"
Hi, how are you! ... I download Microsoft WCF Web Service Reference Provider ( https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService ). When I install it I get the following error:
![failinstaller](https://user-images.githubusercontent.com/11872837/29472990-5bd48452-842c-11e7-84f9-a82dd5eb7cf0.jpg)

I have the latest version of visual studio 2017 with its

[2017-08-18 18:57] hongdai commented on #2213
@GSAcebal Sorry to hear that you are running into an issue!

What's your visual studio version and sku? Also could you share the Install Log?

Thanks,
Hong Dai

[2017-08-18 19:40] GSAcebal commented on #2213
Hi @hongdai ...

My version of VS2017:
![vs2017version](https://user-images.githubusercontent.com/11872837/29474866-dcf5b626-8433-11e7-9bc5-f7ab688dadf0.JPG)

The Install Log:

18/08/2017 16:40:10 - Microsoft VSIX Installer
18/08/2017 16:40:10 - -------------------------------------------
18/08/2017 16:40:10 - Initializing Install...
18/08/2017 16:40:10 - Extension Details...
18/08/2017 16:40:10 -

[2017-08-18 20:38] hongdai commented on #2213
@GSAcebal The log does not show you have vs2017 installed. That's why it failed. We will try to repro it in house.

[2017-08-18 20:46] GSAcebal commented on #2213
@hongdai Thank you very much, it would be very useful to solve this problem!!

[2017-08-18 21:02] hongdai commented on #2213
@GSAcebal  We can install it successfully.

It's probably a side by side issue as there are 2013, vs2015 installed. We do not own the installer. While I will find the right team for this issue, you can work around it by using a machine without 2013 and 2015 installed.

[2017-08-18 21:15] safern commented on #2183
The PR just went in. Will update with the buildtools version whenever the package is published.

[2017-08-18 21:50] GSAcebal commented on #2213
@hongdai  Thank you so much for everything! Try reinstalling VS.

[2017-08-18 23:11] safern commented on #2183
@StephenBonikowsky The buildtools version you guys want to update to is: `2.0.0-prerelease-01918-01`

[2017-08-18 23:16] StephenBonikowsky commented on #2183
Thank you @safern !

[2017-08-18 23:17] safern commented on #2183
Anytime, please let me know if I can help you guys in another way or if you hit something else related to this.

[2017-08-19 01:11] zhenlan commented on #2098
@lviana1 thanks for the question and additional information. Our plan is to support RSS 2.0 and Atom 1.0.

I am excited to announce that we just released a [preview of Microsoft.SyndicationFeed](https://www.nuget.org/packages/Microsoft.SyndicationFeed/1.0.0-preview) on nuget.org. Here is a bit [instructions and examples](https://github.com/dotnet/wcf/blob/lab/lab/src/Microsoft.SyndicationFeed/READ

[2017-08-19 02:50] GSAcebal commented on #2213
I could solve it, I ended up re-installing the VS

[2017-08-19 02:50] #2213 closed

[2017-08-19 03:20] zhenlan commented on #2132
Discussed offline.

[2017-08-19 03:20] #2132 closed

[2017-08-19 03:21] zhenlan commented on #2111
@Edward-Zhou please let me know if you have any update. Closing for now.

[2017-08-19 03:21] #2111 closed

[2017-08-19 03:22] zhenlan commented on #2162
@madSimonJ please let me know if you have an update. Closing for now.

[2017-08-19 03:22] #2162 closed

[2017-08-19 03:29] zhenlan commented on #2212
We will add the support in our next update.

[2017-08-19 03:38] zhenlan commented on #2211
@LEsperanca please refer to [2.0 release notes](https://github.com/dotnet/wcf/releases/tag/v2.0.0):
- Message level security is not supported (#3, #4, #8)

At this point we don't have a plan to support message security due to lack of dependent functionalities in `System.IdentityModel` on .NET Core.

[2017-08-19 03:38] #2211 closed

[2017-08-19 03:59] zhenlan commented on #2179
@Edward-Zhou looks like this is an issue regarding WCF in .NET Framework. I can forward your question for further investigation, but for you to get updates or in case any further information is needed, I would recommend you to send the question through https://connect.microsoft.com/VisualStudio/Feedback.

[2017-08-19 03:59] #2179 closed

[2017-08-19 04:06] zhenlan commented on #2189
@mol thanks for reporting the issue. This is an issue regarding WCF in .NET Framework. I will forward this for further investigation, but if your are interested to get an update or in case any further information is needed, I would recommend you to send this through https://connect.microsoft.com/VisualStudio/Feedback for anything related to full .NET Framework.

[2017-08-19 04:06] #2189 closed

[2017-08-20 01:05] hongdai commented on #2205
@sherland  Thanks for your detailed scenario description! It will help us evaluate the support.

[2017-08-21 13:23] miltoncamara opened #2214 "Error on reference WSDL Service"
When I try to reference a WSDL Service (http://webservices.sabre.com/wsdl/tpfc/OTA_VehAvailRateLLS2.4.1RQ.wsdl), I'm getting the following error:

[code]

[2017-08-21 13:56] petr-kirillov opened #2215 "Can't generate proxy using WSDL file with "no valid endpoints" error"
Trying to generate proxy using Travelport WSDL file in VS2017 using "Microsoft WCF Web Service Reference Provider" for my .NET Core or Standard project and hitting "The service at the following URI does not have any valid endpoints" error.

Below is the extraction from WSDL file (refer to [Terminal.wsdl.zip](https://github.com/dotnet/wcf/files/1239015/Terminal.wsdl.zip) for complete file).

There

[2017-08-21 14:26] JoshuaCode opened #2216 "Error:The specified framework 'Microsoft.NETCore.App', version '1.0.5' was not found."
A co-worker and I both get the following error when trying to add a service using the latest version (0.5.10808.800) of the Microsoft WCF Web Service Reference Provider in Visual Studio 2017 15.3.  We both started receiving this error after we updated Visual Studio 2017 to 15.3.  It worked on both our machines previously. We have tried in web and console applications and get the same error. We bot

[2017-08-21 16:07] RehanSaeed commented on #2169
Any ideas when this will exist?

[2017-08-21 16:08] RehanSaeed commented on #2098
An Atom feed writer does not currently exist in the new API. Someone has raised https://github.com/dotnet/wcf/issues/2169 to address this issue.

[2017-08-21 17:35] hongdai commented on #2214
@miltoncamara  This is a duplicate of issue #1892. We are currently evaluating a fix.

You can probably workaround it by using .Net framework "Add Service Reference" to generate the reference code, then copy the code to your project and add service model package references needed.

[2017-08-21 17:47] hongdai commented on #2215
@petr-kirillov In the case of no valid endpoints, there should be more information on the last window you see. Could you copy and paste it here?

We will also take a look at the wsdl file.

Thanks,
Hong Dai

[2017-08-21 18:00] petr-kirillov commented on #2215
@hongdai WSDL is attached
https://github.com/dotnet/wcf/files/1239015/Terminal.wsdl.zip

and here is the screenshot from VS:

![image](https://user-images.githubusercontent.com/25804749/29532000-600bb280-86ab-11e7-8530-366f524d9981.png)

[2017-08-21 18:08] hongdai commented on #2216
@JoshuaCode The tool depends on Dotnet Core 1.0.5. Could you check if it's installed on your machine:

C:\Program Files\dotnet\shared\Microsoft.NETCore.App

If not, you will need to install it from https://github.com/dotnet/core/blob/master/release-notes/download-archive.md

Thanks,
Hong Dai

[2017-08-22 06:49] suadev commented on #1810
Same here :(

[2017-08-22 07:52] RehanSaeed opened #2218 "RSS and Atom ASP.NET Core ActionResult classes"
It is fairly common to want to return an RSS or Atom feed from an ASP.NET Core application. It would be nice to include an `ActionResult` class that wraps the `Rss20FeedWriter` or `AtomFeedWriter`. These classes could be included in another assembly so it's opt-in.

Unfortunately, the `Rss20FeedWriter` class as it is now is not easily wrappable, this is the best I could do below. Perhaps the answe

[2017-08-22 10:32] nosson opened #2219 "System.PlatformNotSupportedException: Compiling JScript/CSharp scripts is not supported"
Hi,

I am using a WSDL file ([wsdl.zip](https://github.com/dotnet/wcf/files/1241683/wsdl.zip)) provided by Salesforce.com. When trying to logon to the service using the below code, it threw a System.PlatformNotSupportedException saying "Compiling JScript/CSharp scripts is not supported"

`
var salesforceClient = new SoapClient();
salesforceClient.loginAsync(null, username, password).Wait();
`

Her

[2017-08-22 13:22] JoshuaCode commented on #2216
@hongdai I have it working now and your response led me to the solution. Thank you. I wanted to say that before I got into the details and asked a few followup questions.

So I did have the Dotnet Core 1.0.5 installed as you can see in the image below. But this was the 64 bit version in the Program Files directory path. I did not have the 32 bit version installed. As soon as I installed the 32 bit

[2017-08-22 13:22] #2216 closed

[2017-08-22 14:32] ekarimi opened #2220 "Generate proxy at runtime"
Hi,
I maybe miss something in here. But I can't find a single example on how to generate a client proxy at runtime for later invoke in .Net Core.
Here is what I do in .Net Framework :

[code]

ServiceDescription or ServiceDescriptionImporter is not supported by .Net Core.
So, how can I generate proxy at runtime?

I couldn't find the issue, sorry if it is dublicate.

[2017-08-22 14:57] mikeli11 opened #2221 "No endpoints compatible with .Net Core apps were found"
Hi,

Is there anyway to get a more detailed error message to find out what the issue is? I'm not sure if this is an issue with the wsdl or the tool.

I am trying to reference this wsdl - https://github.com/mantisbt/mantisbt/blob/master/api/soap/mantisconnect.wsdl

![image](https://user-images.githubusercontent.com/1974887/29571870-55ea66e6-8752-11e7-9935-40a3c6bbe322.png)

[2017-08-22 16:29] mikeli11 commented on #2221
Issue was I was targeting netcoreapp1.1, once i changed this to 2.0 it worked.

[2017-08-22 16:29] #2221 closed

[2017-08-22 17:34] hongdai commented on #2221
@mikeli11 This is expected. We depend on Dotnet core WCF runtime, and it does not support SOAP Encoding prior to 2.0.

[2017-08-22 17:44] shmao commented on #2219
Hi Son, I tried the repro and could repro the issue on my machine. For now it seems to be a bug with the XmlSerializer generation using RefEmit. I need to investigate the issue further to understand the root cause.

XmlSerializer has a special mode in which the serializer would use reflection instead of RefEmit to do serialization. I wondered if the app would work in that mode. If you are willing

[2017-08-22 23:41] hongdai commented on #2214
@miltoncamara  I ignored the validation errors and generated Reference.cs for .Net Core. Could you give it a try to verify the generated client can invoke the service successfully? This will help us to decide whether the validation errors can be ignored.

Thanks,
Hong Dai
[Reference.zip](https://github.com/dotnet/wcf/files/1243725/Reference.zip)

[2017-08-23 01:03] hongdai commented on #2215
@petr-kirillov The wsdl file has problems. See below detailed messages:

Warning: Cannot import wsdl:binding
Detail: Element message named CreateTerminalSessionServicePortType from namespace http://www.travelport.com/service/terminal_v33_0 is missing.
XPath to Error Source: //wsdl:definitions[@targetNamespace='http://www.travelport.com/service/terminal_v33_0']/wsdl:binding[@name='CreateTerminalSes

[2017-08-23 04:07] hlaghari commented on #1808
Hi All,

Getting the same error (please see below) but my circumstances are a little different. I am calling the WCF service from the .Net Core application, I have made the reference using the WCF connected Service. When i deploy my application (.net core calling WCF) on windows environment all works like a charm, however when i deploy the same application on Linux (running .net Mono) the same cod

[2017-08-23 04:31] nosson commented on #2219
That workaround works, shmao (just found out that the method name was "set_Mode"). Thank you very much.

[2017-08-23 10:38] IonRobu opened #2225 "WCF Add connected service: The solution cannot be built, please try to rebuild the solution and fix any build problems."
Hello,

I tried to add a 4.6.1 WCF service as a connected service to asp.net 2.0 project, but I get the error:

Importing web service metadata ...
Number of services found: 1
Restoring NuGet packages ...
Building solution ...
Error:The solution cannot be built, please try to rebuild the solution and fix any build problems.

WCF Service is configured under IIS, but the error appears also when try t

[2017-08-23 16:42] shmao commented on #2219
@nosson Thanks for the confirmation. Glad you figured out the method name (I meant to change the name to the actual value, but I forgot).

[2017-08-23 21:25] diazrm opened #2226 "Error: "An error occurred in the tool. An item with the same key has already been added" when trying to add a Service Reference"
**Steps:**

1. In an empty _Class Library (.NET Standard)_ project, click right-button on the project, select _Add_, _Connected Service_
2. Select _Microsoft WCF Web Service Reference Provider - Preview_
3. In the _URI_ field, enter the path of the files included in the attached file, but replacing the name of the wsdl file with `*.*` (without quotes):
[Tarjeta.zip](https://github.com/dotnet/wcf/f

[2017-08-23 21:35] hongdai commented on #2226
@diazrm Are you using the latest version of the tool? We have fixed the issue in the latest version.

Thanks,
Hong Dai

[2017-08-23 21:42] hongdai commented on #2226
@diazrm  I can repro the issue in the latest tool. Looks like a different issue we have fixed. We will investigate it.

Thanks,
Hong Dai

[2017-08-23 21:59] diazrm commented on #2226
For the record: I'm using the 0.5.10808.800 version.
Visual Studio: 15.3.2

[2017-08-24 16:02] meyerovb opened #2228 "Failure adding WCF service after cancelling"
I was trying to add a WCF service, I forgot to change the class name before clicking finish and so I cancelled it while it was in the first few steps of the import process.  Now every time I try to add a WCF service I get the following error.

    [8/24/2017 11:53:41.664 AM] Adding Microsoft WCF Web Service Reference Provider - Preview to the project.
    [8/24/2017 11:53:41.674 AM] Importing web

[2017-08-24 16:33] hongdai commented on #2228
@meyerovb It looks like your project has errors during restoring. Can you open a Console window, go to your project root, and do `dotnet restore`? The output should have no errors.

Hope it helps,
Hong Dai

[2017-08-24 16:57] meyerovb commented on #2228
Thanks for the quick help, got this, removed that line, and now it works.
[code]
Not sure how that got there or why this just started failing, hopefully I'm not breaking anything with this change.
[code]

[2017-08-24 16:57] #2228 closed

[2017-08-24 17:58] hongdai commented on #2226
@diazrm  There is a problem in your web service definition. Tarjeta is defined twice, one is service interface, another one is a class. This is not supported.

`  <wsdl:portType name="Tarjeta">` in the Tarjeta.wsdl file.
and [ <xsd:complexType name="Tarjeta">](url) in Tarjeta39.xsd file.
You will need to talk to the owner of the service to rename one of them.

Hope it helps,
Hong Dai

[2017-08-24 19:18] drago-draganov commented on #2098
@RehanSaeed
We are actively working on an Atom feed writer. I'm expecting the code to be available in the next week. It will be included with the next release of the NuGet package. There are some logistics that we have to take care, but I'm not expecting significant delays of it.

[2017-08-24 22:04] StephenBonikowsky opened #2230 "Fix CoreFx dependency now supporting NetCoreApp2.1"
@ericstj move the Master branch in CoreFx to netcoreapp2.1
This breaks WCF when we update our dependency to a newer version of Microsoft.Private.CoreFx.NETCoreApp.

[2017-08-24 22:41] ericstj commented on #2230
Master is building as netcoreapp2.1.  You need to decide if you want WCF to do the same.  If you don't, then use the release/2.0.0 package which is still netcoreapp2.0.

This should have been done back when master stopped flowing code to 2.0.0.

[2017-08-24 23:08] StephenBonikowsky commented on #2230
We should move to netcoreapp2.1, any reason why we wouldn't?

[2017-08-24 23:21] ericstj commented on #2230
Only if you had assets targeting 2.0 that you wanted to keep there.  Looking through your repo you are only targeting netstandard and not 2.0 so its OK to move everything (tests) forward.

[2017-08-25 05:29] aritsa opened #2234 "Validation Error: Multiple definition of element causes the content model to become ambiguous"
![image](https://user-images.githubusercontent.com/31313039/29700593-5d0bca58-8966-11e7-9bf1-e3502f1753a6.png)

I'm trying to add a Java Webservice and fixed already some problems with the encoding. But this one error seems a bit odd. There are multiple definitions of the NatuerlichePerson element in the schemas but they should be using different namespaces. PersonDataSlim.xsd and PersonData_20_dt

[2017-08-25 15:23] diazrm commented on #2226
Great, thank you.
It would be very useful if the tool could raise an specific exception, instead of the generic (and mileading) one that is throwing today.

[2017-08-25 16:48] #2230 closed

[2017-08-25 17:49] evil-shrike opened #2235 "Offical documnetation on docs.microsoft.com says that no WCF types exist in netcore"
Docs (https://docs.microsoft.com) says that no any WCF exists in .net core!

Just an example: https://docs.microsoft.com/ru-ru/dotnet/api/system.servicemodel.channelfactory?view=netframework-4.7&viewFallbackFrom=netcore-2.0

I understand that server-side WCF isn't implemented on netcore. But client types does exist in `System.ServiceModel.Primitives` packages. But the doc tells nothing about that.

[2017-08-25 17:55] hongdai commented on #2226
@diazrm  Thanks for your feedback! We will evaluating whether the error message can be improved.

[2017-08-25 17:55] evil-shrike opened #2236 "Missing System.ServiceModel.Configuration.* types"
WCF on netcore is only client-side only implementation, I see. But where are configuration types for getting access to client configuration?

Does WCF on netcore support configuration at all?

[2017-08-25 18:02] diazrm commented on #2226
Also keep in mind that the similar tool found in VS2015 does indeed support that kind of repeated definition. You can try it: add a Service Reference in that version with the same files that I've attached and you'll see.

[2017-08-25 18:10] mark-trumed commented on #211
I need this now! Writing a Windows 10 IoT UWP app that needs to discover available services on the local network.

[2017-08-25 18:30] iurifarenzena commented on #211
As I have mentioned above, I have developed a workaround for this issue.
Take a look at [my answer ](https://stackoverflow.com/questions/37285149/wcf-discovery-in-uwp-app/37326310#37326310) on StackOverflow, and let me know if it helps.

[2017-08-25 18:32] hongdai commented on #2226
1. Were you be able to use the generated proxy from VS2015 to invoke the service successfully? I have used the svcutil tool from full framework, it generates the code, but does not even compile.

2. I tried "Add Service Reference" without success as I don't have access to 'wmbdesa'. it gives me below error:

[code]
Could you generate a single wsdl by using` ?singleWsdl ` in the browser? That proba

[2017-08-25 18:51] diazrm commented on #2226
1. No, I've used the GUI to generate the reference:

![image](https://user-images.githubusercontent.com/14352381/29728038-b65d29f8-89ac-11e7-9334-bda098734b39.png)

After that, the project compiles successfuly.

2. No, the service doesn't support the _singleWsdl_ parameter. Do you want me to follow some steps and copy the screenshots of the process?

[2017-08-25 19:30] mark-trumed commented on #211
@iurifarenzena I saw your StackOverflow answer, but it's not really what I'm looking for. I have a WPF app running on Windows 10 that provides a service with a WS-Discovery endpoint. What I need is a full WS-Discovery client endpoint on Windows 10 IoT so I can discover the service running on Windows 10.

[2017-08-25 20:13] hongdai commented on #2226
Can you send me the source code file Add Service Reference generated? That could be helpful.

[2017-08-25 20:31] caxepok opened #2238 "Can't generate proxy using WSDL file with "the service at the folowing uri does not have any valid endpoints" error (add support for 0-EP services)"
But this wsdl working via svcutil and for full framework project.
wsdl file [soap.zip](https://github.com/dotnet/wcf/files/1252944/soap.zip)

[2017-08-25 20:35] hongdai commented on #2238
@caxepok Sorry to hear you are running into the issue. We will use the attached wsdl to repro locally and investigate the root cause.

Thanks,
Hong Dai

[2017-08-25 20:40] diazrm commented on #2226
This is it:

[Com.Gyf.DataProviders.ItauWebService.IntegracionTarjeta.zip](https://github.com/dotnet/wcf/files/1252954/Com.Gyf.DataProviders.ItauWebService.IntegracionTarjeta.zip)

[2017-08-25 20:40] #2214 closed

[2017-08-25 23:31] dilipdad commented on #1674
H @hongdai ,

how u added UPN in Reference.CS. .Net Core 1.1 is saying CreateUPNIdentity is not available. Please share your reference file.

I am adding WCF service in .net core 1.1 project and i am not able to connect WCF service it saying missing target principle name in error

Thanks

[2017-08-26 04:47] hongdai commented on #2197
I have verified that ASR used Disco to download the metadata successfully. We do not support Disco currently.

[2017-08-28 15:21] jedsmallwood commented on #2197
Are there any plans on supporting Disco?  This would be one thing holding us up from migrating to .net core.

[2017-08-28 17:14] hongdai commented on #2172
This is fixed in the next release.

[2017-08-28 17:14] #2172 closed

[2017-08-28 17:28] hongdai commented on #2197
Thanks for your feedback? We will evaluate the support.

[2017-08-28 18:21] jedsmallwood commented on #2197
If it helps at all, like the original poster we also integrate with NetSuite's Web Services which is the only full fledged integration option that they provide.

[2017-08-28 18:32] hongdai commented on #2234
@aritsa Sorry to hear that you are running into a issue! We will investigate the root cause.

[2017-08-29 05:44] rajput81 commented on #2238
Hi, I am facing the same issue when generating proxy using WCF Connected Service for Visual Studio 2017. Both of my wsdl works via svcutil and using Add service ref wizard in Studio 2015. Please look at it urgently..

[2017-08-29 05:56] ahawes-clarity commented on #2197
Thanks for posting @jedsmallwood.

[2017-08-29 12:29] pardhumeduri opened #2248 "Issue in calling the agent after Referencing .Net 4.5.2 dll WCF SVC Project"
We have referred .Net 4.5.2 dll which is WCF services project and has some SVC services
after making a call to one of classes from the refereed project we are getting the following error

wcf System.IO.FileNotFoundException: 'Could not load file or assembly 'System.ServiceModel, Version=4.0.0.0

**Error Stacktrace**

![image](https://user-images.githubusercontent.com/3326148/29820939-2d26280c-8c94

[2017-08-29 13:02] davidreher commented on #2096
@mconnew, I just tried to use a preview build, but I do get an exception when trying to call the service ... I added `https://dotnet.myget.org/F/dotnet-core/api/v3/index.json` to my nuget feeds and updated my csproj:
[code]

I am getting:
[code]

Any ideas?

[2017-08-29 13:13] hugoterelle commented on #2211
How can we help?

[2017-08-29 13:30] pardhumeduri opened #2249 "WCF Connectivity Services issue with Registry Access"
when we click on Connected service and Find more server we are getting the following error

"Access to the registry key 'HKEY_CURRENT_USER\Software\Microsoft\VisualStudio\15.0_bcebb59e\ApplicationPrivateSettings\Microsoft\VisualStudio\Extensions' is denied."

we dont see this "ApplicationPrivateSettings" under 15.0_bcebb59e folder.

![wcfconnectivityissue](https://user-images.githubusercontent.com

[2017-08-29 16:31] hongdai commented on #2238
@rajput81 The root cause of your issue might not be the same as @caxepok . Could you open a new issue and provide a repro?

Thanks,
Hong Dai

[2017-08-29 16:37] hongdai commented on #2249
@pardhumeduri This is not a WCF connected service issue. Looks like the connected service framework on your machine is broken somehow. Are you using vs2017? I'd suggest to do a Visual studio Repair.

-Hong Dai

[2017-08-29 16:51] hongdai commented on #2238
@caxepok I see importing binding errors via svcutil.exe, and there is no output.config file generated. Have you verified the generated code by svcutil can invoke the service successfully?

Thanks,
Hong Dai

[2017-08-29 19:43] hongdai commented on #2225
@IonRobu Sorry to hear you are running a issue! We will investigate it.

Thanks,
Hong Dai

[2017-08-29 20:01] drago-draganov commented on #2169
Added with #2250

[2017-08-29 20:01] #2169 closed

[2017-08-29 20:14] hongdai commented on #2225
@IonRobu I was not able to repro the issue locally according to the provided steps.

Could you provide a repro app?

Thanks,
Hong Dai

[2017-08-30 00:36] ara3n opened #2252 "connecting to Microsoft Dynamics NAV ERP System"
Hello
  When connecting to Microsoft Dynamics NAV ERP, The tool opens a box to enter credentials. After entering credentials it keeps asking for entering credentials and never is able to connect to NAV ERP

 I'm using Dynamics NAV 2017.

This is the error i get when I click cancel.

Metadata contains a reference that cannot be resolved: 'http://localhost:7057/NAV1/WS/Services'.
The HTTP request is

[2017-08-30 02:09] drago-draganov commented on #2098
Atom feed writer was added with #2250

[2017-08-30 07:45] LEsperanca commented on #2211
I need to have or emulate BasicHttpMessageSecurity in a .net core service and i don't know how... @hugoterelle

[2017-08-30 08:35] RehanSaeed commented on #2098
Any plans to update the NuGet package with the Atom feed writer and also give it a strong name?

[2017-08-30 09:02] rajput81 opened #2254 "Cant generate proxy using a local wsdl file , getting error - the service at following uri does not have a valid endpoint"
None of these wsdls work, the location of the wsdl files is [here](https://support.travelport.com/webhelp/uapi/Content/Resources/uAPI_WSDLschema_Release-V17.3.0.35.zip)

[2017-08-30 09:04] rajput81 commented on #2238
Hi Hong Dai, issue created #2254 and the wsdl schemas attached. Cheers

[2017-08-30 09:31] hugoterelle commented on #2211
To solve this problem, I created my own SOAP Header.  Find an example below using username/password in clear text but the method will remain the same for other security protocols

[code]

And then, I created a channel factory (used by Autofac)

[code]

[2017-08-30 10:34] meancrazy commented on #2225
I got this error too. You can reproduce it on this service - https://api.gorzdrav.spb.ru/Service/HubService.svc

[2017-08-30 13:18] pardhumeduri commented on #2249
we are able to fix this, issue. thank you

[2017-08-30 13:52] xmlparser commented on #2238
@hongdai, Hi. I am able to generate out.cs file using svcutil.exe and via Visual Studio - Add Service Reference

[2017-08-30 14:01] pardhumeduri commented on #2248
could any one please help us in this issue

[2017-08-30 18:07] hongdai commented on #2248
@pardhumeduri I'm not sure if referencing 4.5.2 dll from your net.core project is supported in your scenario. To verify it, are you able to reference non WCF 4.5.2 dll?

Thanks,
Hong Dai

[2017-08-30 18:11] hongdai commented on #2238
@xmlparser I assume you have the same wsdl files as @caxepok .

My question is can you use the generated out.cs file to make a call to the service successfully? svcutil.exe sometimes generate code even though there are no valid endpoints.

Thanks,
Hong Dai

[2017-08-30 18:18] hongdai commented on #2254
@rajput81  The below information will be helpful to identify the root cause:
 Any wsdl work for "Adding Service Reference" or svcutil.exe? i.e. It can generate client code and the client code can successfully make calls to the service.

Thanks,
Hong Dai

[2017-08-30 18:19] hongdai commented on #2225
@meancrazy  Thanks for providing the repro service. We will try to repro it locally.

Thanks,
Hong Dai

[2017-08-30 18:48] hongdai commented on #2225
@meancrazy  The root cause for the repro service is there are some schema validation errors in the service and that's why we stop generating the code.

Ideally the service should fix those schema validation errors. However, many customers do not own the services and might not be feasible to fix them. Moreover, many of the schema validation errors can be successfully ignored. Thus we decide to trea

[2017-08-30 19:21] meancrazy commented on #2225
@hongdai Sure, this service wouldn't fix errors. Thanks for answer and fix.

[2017-08-30 19:35] drago-draganov commented on #2098
@RehanSaeed
An update of the NuGet packages is in progress. I mentioned some logistics, thus can't be very explicit about ETA at the moment. We are also considering stepping out of the preview and issue an official 1.0 version. I will update the thread next week with more details on the ETA.

[2017-08-30 20:28] samuel-sarmento commented on #1257
Any updates on restoring the ws-trust branch?

[2017-08-30 23:43] rajput81 commented on #2254
Hi Hong Dai - Yes all their wsdls work and generate a working proxy via the Add service Ref wizard as well as svcutil. This is delaying our plans to move to .net core..

[2017-08-30 23:45] rajput81 commented on #2254
Just to confirm Add new service reference only worked in .Net framework projects.

[2017-08-30 23:49] hongdai commented on #2254
Yes. It's expected Add new service reference only works in .Net framework projects. We will try to repro locally and investigate the root cause.

Thanks,
Hong Dai

[2017-08-30 23:53] hongdai commented on #2254
@rajput81 Could you tell me which WSDL file worked for svcutil.exe? I've tried several of them without the luck.

[2017-08-31 03:39] willaimyou opened #2256 "11 failure with 'InvalidOperationException/PlatformNotSupportedException' on OSX in "the Weekly OSX Kerberos Tests""
OSX Kerberos Tests failure:  **total 11**, **5** 'InvalidOperationException', **6** 'PlatformNotSupportedException'

 1. Tcp_ClientCredentialTypeTests.TcpClientCredentialType_Certificate_EchoString
 2. Tcp_ClientCredentialTypeTests.TcpClientCredentialType_Certificate_CustomValidator_EchoString
 3. Tcp_ClientCredentialTypeTests.NetTcp_SecModeTrans_Duplex_Callback_Succeeds
 4. HttpsTests.ServerCerti

[2017-08-31 09:06] kartalbas commented on #1688
so we have to wait until NET Core replaces mono?

[2017-08-31 13:38] mpetito opened #2257 "Deadlock / Timeout when used from Unit Test"
I've added a WCF service to a .NET Standard 2.0 assembly shared between an ASP.NET Core 2.0 project and an MS Unit Testing project.

I can successfully use the generated clients from an async controller action in ASP.NET Core.  However, I cannot use the generated clients from an async test method. The code is identical in both cases.

This works:

[code]

This results in a timeout after 20s (presu

[2017-08-31 15:17] hmdhasani opened #2258 "Error while generating source for WSDL"
I am using ASP Core 1.1 and want to add a wsdl.
first I installed 'Microsoft WCF Web Service Reference Provider' Extension and then try to add a wsld from a url that works find in previous version of dot net but in asp core i get this error:

Importing web service metadata ...
Number of services found: 1
Restoring NuGet packages ...
Building solution ...
Scaffolding service reference code ...
Warn

[2017-08-31 15:43] hmdhasani opened #2259 "App.config '<system.serviceModel>' equivalent in ASPCore"
I want to add a wsdl service to my ASP Core 1.1 app
First I used  'Microsoft WCF Web Service Reference Provider' Extension but got an error that I described it here:
https://github.com/dotnet/wcf/issues/2258

But as a alternative solution I tried to use 'SvcUtil.exe' and successfully generated a .cs file and also a output.config file.

For simplifying the problem first I tried to use these files i

[2017-08-31 15:52] hmdhasani commented on #2259
This is the output.config file that is generated by SvcUtil.exe:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="GetCustomsPermitServiceSoapBinding">
                    <security defaultAlgorithmSuite="Basic256Sha256Rsa15" authenticationMode="MutualCertificate"
                        r

[2017-08-31 16:07] hongdai commented on #2259
@hmdhasani Dotcore is code based currently. It's not possible to configure it via a configuration file.

[2017-08-31 16:21] nukec opened #2260 "Microsoft.SyndicationFeed"
Thanks for releasing this.

How do you put custom element inside of SyndicationItem? I have to put some custom element inside of Item element. Is there a way with SyndicationItem or can I only use custom element class?

As well how do you write CData? I used to use `rssFeed.WriteCData` before, how about with SyndicationFeed?

Also I tried to achieve my structure with custom syndicationContent, but

[2017-08-31 16:38] hongdai commented on #2258
@hmdhasani From the output.config file you shared, it needs message security that dotnet core does not support yet. That's why you get:
Error: No endpoints compatible with .Net Core apps were found.

Thanks,
Hong Dai

[2017-08-31 19:24] hmdhasani commented on #2258
@hongdai Is there any workaround available?

[2017-08-31 19:26] hmdhasani commented on #2259
@hongdai Is there any way to turn the configuration as code?

[2017-08-31 19:43] hongdai commented on #2258
Unfortunately, there is no workaround available.

[2017-08-31 19:46] hongdai commented on #2259
@hmdhasani Yes, there is an extension point that you can add code to configure the client behavior. Please take a look at the blog: https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-authentication.

[2017-08-31 21:24] hongdai commented on #2256
Checking with William if the machine enlistment is up to date. Some of the tests should not get run as they are disabled by the active issue, for example:
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Scenarios/Security/TransportSecurity/Tcp/ClientCredentialTypeTests.4.1.1.cs#L17

[2017-09-01 08:20] nukec commented on #2260
Ok I resolved adding child with element.AddField(object of other SyndicationContent).

How about CDATA?

[2017-09-01 10:10] willaimyou commented on #2256
I checked the enlistment was up to date. And the 11 failures are still report.

[2017-09-01 10:17] mtf30rob opened #2261 "System.ServiceModel.BasicHttpBinding throwing InvalidOperationException in dotnet core 2.0"
Moving issue from corefx repo as requested here: https://github.com/dotnet/corefx/issues/23646

I am getting an invalid operation exception calling an external web service when setting the proxy settings on the BasicHttpBinding class. The error is:

When using a non-null Proxy, the WindowsProxyUsePolicy property must be set to WindowsProxyUsePolicy.UseCustomProxy. (Source: System.Net.Http.WinHttpH

[2017-09-01 12:45] rdvanbuuren opened #2262 "Crashes Visual Studio"
Some days ago I installed .NET Core 2.0 and latest VS update (15.3.3).

Now, the tool crashes my Visual Studio when I try to add a new reference.
It stops at "Scaffolding service reference code ..." and after a while Visual Studio is restarted automatically.

Versions I'm using:
Visual Studio 15.3.3
Microsoft WCF Web Service Reference Provider 0.5.10808.800
.NET Core 2.0

I've included the .wsdl [

[2017-09-01 17:45] hongdai commented on #2262
@rdvanbuuren Sorry to hear that you are running into the issue. We will try to repro it locally and investigate the root cause.

Thanks,
Hong Dai

[2017-09-01 18:11] hongdai commented on #2262
@rdvanbuuren I couldn't repro locally using the provided configuration.

To further investigate, could you provide below information?
1) log under %temp%\WCFConnectedService
2) Your project definition.

Thanks,
Hong Dai

[2017-09-01 19:02] rdvanbuuren commented on #2262
@hongdai Here is the log file you requested:
[WCFConnectedServiceLog.txt](https://github.com/dotnet/wcf/files/1271238/WCFConnectedServiceLog.txt)
and the project definition:
[code]
If you need more information, please let me know!

Best regards,
Rick

[2017-09-01 19:11] hongdai commented on #2262
@rdvanbuuren Please also attach the below file:
"C:\Users\rickv\AppData\Local\Temp\WCFConnectedService\2017_Sep_01_20_53_10\SvcUtilParams.txt""

[2017-09-01 19:15] rdvanbuuren commented on #2262
@hongdai Here you go:
[SvcUtilParams.txt](https://github.com/dotnet/wcf/files/1271288/SvcUtilParams.txt)

[2017-09-01 20:06] hongdai commented on #2262
@rdvanbuuren It might be related to one of the references. Could you try **Disable reuse type**?

I will also need to take a look at the svcutil bootstrapper project generated. Could you zip the whole log directory and attach it?

Thanks,
Hong Dai

[2017-09-01 20:12] drago-draganov commented on #2260
ISyndicationContent has property Value

[2017-09-01 20:26] rdvanbuuren commented on #2262
@hongdai I disabled "Reuse types in referenced assemblies" and that fixed the problem. No more crashes. So thank you for the analisys and your quick replies! 👍

Still, here's the zip file of the project causing the crash:
[2017_Sep_01_20_53_10.zip](https://github.com/dotnet/wcf/files/1271413/2017_Sep_01_20_53_10.zip)
I hope you can benefit from it and create a more solid tool!

Thanks,
Rick

[2017-09-01 20:30] hongdai commented on #2262
@rdvanbuuren Thanks for helping us improve the tool, Rick!

I notice that the 2.0 Asp.net Core template has the below line that is missing from your project. It has caused problem for other customers migrated from previous VS versions before.
   `<PackageTargetFallback>$(PackageTargetFallback);portablenet45+win8+wp8+wpa81;</PackageTargetFallback>`

I'd suggest you add this line to your project.

-

[2017-09-02 00:29] angeor2 opened #2264 "Unable to create channel when operation is using typed messages with RPC/Encoded"
I'm trying to consume a service that requires an operation to be attributed with RPC / Encoded.
This is an example:
`[XmlSerializerFormatAttribute(Style=OperationFormatStyle.Rpc, SupportFaults=true, Use=OperationFormatUse.Encoded)]
PingResponse Ping(PingRequest request);`

When trying to create a channel of a service that implements the above operation I get the SFxTypedMessageCannotBeRpcLiteral e

[2017-09-02 08:13] hmdhasani opened #2265 "SecurityBindingElement.CreateMutualCertificateDuplexBindingElement in DotNetCore"
I am trying to use a WSDL service in dot net core that works fine in previous version of dotnet.
As I described in https://github.com/dotnet/wcf/issues/2259 and https://github.com/dotnet/wcf/issues/2258 first I tried the  'Microsoft WCF Web Service Reference Provider' Extension that result to some errors. then I tried 'SvcUtil.exe' and put generated source and config file in a DotNetFramework Cons

[2017-09-02 10:38] nukec commented on #2260
@drago-draganov i resolved everything I just cannot create element with colon in the name aka:

<element:encoded>, when I try to use AddField("element:encoded") it throws error that special characters are not allowed. How do I resolve this?

[2017-09-02 17:42] drago-draganov commented on #2260
@nukec
This is effectively SyndicationContent with namespace. To add such element, you need first to add that namespace to the feed writer. It's supported by passing custom attributes to the writer.

[code]

This will produce
[code]

[2017-09-02 20:38] nukec commented on #2260
@drago-draganov thanks a lot for that explanation, will sure help people after me as well.

[2017-09-02 21:21] drago-draganov commented on #2260
Glad it works for you, @nukec
Appreciate you feedback!

[2017-09-03 19:05] siberianguy opened #2266 "Authentication doesn't work in Web Service Reference Provider"
I'm trying to generate code for a service using Web Service Reference Provider but it requires login and password again and again. I checked credentials using the previous version of the tool in VS2015 - it works. I'm not sure what's the problem here: either a bug in the plugin or the service is not compatible with .net core 2 (it's just a guess, I don't see any error messages).

If you'd like to

[2017-09-04 06:48] rajput81 commented on #2254
Hi Hong Dai  Yes Can confirm it didnt worked for me with svcutil also..but it definitely worked using "Add service reference"...who do i go to now? :)

[2017-09-04 06:58] qinxiaowen commented on #2238
i have the same problem

[2017-09-04 08:26] nukec commented on #2260
@drago-draganov I just tried this and I get `<content xmlns="encoded">` with
[code]

[2017-09-05 04:19] HakanL opened #2267 "The eBay Service SDK WSDL doesn't import with Connected Services"
I'm trying to add the eBaySvc WSDL to my .NET Core 2.0 project. I'm using the Connected Services / WCF tool (version 0.5.10808.800). As I enter the WSDL URL (http://developer.ebay.com/webservices/latest/ebaySvc.wsdl) into the UI and hit Go I'm getting this error:

An error occurred while attempting to find services at 'http://developer.ebay.com/webservices/latest/ebaySvc.wsdl'. The element was not

[2017-09-05 04:35] DaleKBurrell opened #2268 "Connecting a service fails if the project doesn't build"
When attempting to connect a WFC service using this provider, it fails it the project doesn't build. This is rather annoying at the best of times, but becomes highly annoying if the reason it doesn't build is because one has removed the service reference in order to re-generate it - and of course then all the existing references to it prevent it from building.

[2017-09-05 07:56] s00ther opened #2269 "Unable to use a WSDL file to generate proxy: "The service at the following URI does not have any valid endpoints" (when wsdl contains Fault descriptions)"
Hi,
I'm trying to generate a proxy using the extension _"Microsoft WCF Web Service Reference Provider"_ for VisualStudio 2017 to be used in dotnet core/standard projects.
The wsdl I'm using works without problems on VS2015 (both using the extension and manually using dotnet-svcutil), but I'm always getting the same error on VS2017:
![image](https://user-images.githubusercontent.com/5605269/3005055

[2017-09-05 15:15] hongdai commented on #2254
@rajput81 could you tell me which WSDL works for the "Add service reference"? I've also tried without any luck.

[2017-09-05 15:17] hongdai commented on #2238
@qinxiaowen Could you please open a new issue for the issue you are running into? The root cause for the error message "the service at the folowing uri does not have any valid endpoints" could be very different.

Thanks,
Hong Dai

[2017-09-05 16:03] hongdai commented on #2267
@HakanL Sorry to hear that you are running into an issue!

I have tried both full framework "Add Service Reference" and svcutil.exe. They both failed with similar reasons.

[2017-09-05 16:09] HakanL commented on #2267
I found out that there seems to be a complete syntax error in the WSDL that eBay provides, I found extra elements in the middle of the file. If I remove those extra elements then I can import it fine with svcutil (a bunch of warnings about xs:any elements, but it generates the cs files), however in the WCF Core import it aborts the import due to those warnings. So maybe that's something to address

[2017-09-05 16:17] jgreene commented on #31
ExactTargets FuelSDK seems to require this.  Unfortunately their rest api does not support all operations necessary for my use case so I am not able to use .net standard 2.0 for this project.

[2017-09-05 16:19] hongdai commented on #2269
@s00ther Sorry to hear that you are running into an issue! We will try to repro it locally and investigate the root cause.

Thanks,
Hong Dai

[2017-09-05 16:38] qinxiaowen commented on #2238
@hongdai ok

[2017-09-05 16:47] hongdai commented on #2267
@HakanL Yes. WCF Core aborts the import when there are schema validation errors. Ideally services should fix those validation errors. Since many customers do not own services and many of the validation errors can be successfully ignored, we have decide to ignore all validation errors. The change is in the next release.

Thanks,
Hong Dai

[2017-09-05 16:48] qinxiaowen opened #2270 "the service at the folowing uri does not have any valid endpoints"
uri:https://localhost:9443/services/AuthenticationAdmin?wsdl
wsdl content:
[wsdl_text.txt](https://github.com/dotnet/wcf/files/1278192/wsdl_text.txt)
the wsdl belong to a java identityserver project .
the service is localhost https,but it dont have a valid certificate.

[2017-09-05 17:38] HakanL commented on #2267
Cool. With that clarification we can probably close this issue, or rename, as it was determined the issue is with eBay (except the validation error change)

[2017-09-05 17:43] hongdai commented on #2266
@siberianguy Sorry to hear that you are running into an issue. We will try to repro it locally and investigate the root cause.

Thanks,
Hong Dai

[2017-09-05 17:48] hongdai commented on #2268
@DaleKBurrell Thanks for your feedback! We will evaluate the support for updating service reference and what we can do to improve customer experience.

Thanks,
Hong Dai

[2017-09-05 18:35] hongdai commented on #2270
@qinxiaowen I've got some import errors as the wsdl file depends on some other schema files that I do not have access.

Could you try to generate the full wsdl by using `?singleWsdl` ?

Thanks,
Hong Dai

[2017-09-05 21:30] zhenlan commented on #2264
@angeor2 which version of .NET Core are you using? Can you try out .NET Core 2.0?

[2017-09-05 21:34] #2260 closed

[2017-09-05 21:55] zhenlan commented on #2248
@pardhumeduri please let us know if the issue has been solved or need anything from us.

[2017-09-05 21:56] zhenlan commented on #2236
@evil-shrike System.Configuration is not supported on .NET Core so WCF does not have it on .NET Core either.

[2017-09-05 21:56] #2236 closed

[2017-09-05 22:07] evil-shrike commented on #2236
@zhenlan No, It is supported - https://github.com/dotnet/corefx/tree/master/src/System.Configuration.ConfigurationManager

[2017-09-05 22:30] zhenlan commented on #2218
@drago-draganov thoughts?

[2017-09-06 00:00] mconnew commented on #2261
I've reopened the issue in corefx as this should work as WinHttpHandler is not using the default from HttpHandlerDefaults. Also WCF isn't using WinHttpHandler directly and is instead using HttpClientHandler. Having said that, we should probably explicitly set HttpClientHandler.UseProxy regardless. Taking another look at the WCF code, we do have some other issues around this which you aren't hittin

[2017-09-06 00:08] zhenlan commented on #2265
@hmdhasani, as message security is not supported in WCF on .NET Core, this code won't work.

The only workaround at this point is to change your service to use transport security and not message security.  I understand this is not always an option...

WCF is not able to support message security currently is because underlying key functionalities (mostly in System.IdentityModel) is not available on

[2017-09-06 00:18] Rodske opened #2271 "Cannot import wsdl:binding in .NET Core 2 console app"
I'm trying to use a WCF service in a .NET Core 2 console app. Any ideas on how to resolve the following....? The url is https://authentication.business.gov.au/R3.0/vanguard/S007v1.2/Service.svc

Warning: Cannot import wsdl:binding
Detail: An exception was thrown in a call to a policy import extension.
Extension: System.ServiceModel.Channels.SecurityBindingElementImporter
Error: The method or opera

[2017-09-06 00:35] rajput81 commented on #2254
Hi Hong Dai..This is the first one I tried and it worked:

![image](https://user-images.githubusercontent.com/31430610/30089222-dcd060d2-92ee-11e7-91f1-bb1fd014d5dc.png)

The wsdl path would be : Release-V17.3.0.35-V17.3\uprofile_v37_0\UProfile.wsdl

All schemas are [here](https://support.travelport.com/webhelp/uapi/Content/Resources/uAPI_WSDLschema_Release-V17.3.0.35.zip)

[2017-09-06 00:38] drago-draganov commented on #2218
@RehanSaeed
Appreciate the cool ideas!

Here is my take on it:

The difference between forward-only writer and document oriented is that the first one doesn't have understanding of state and intrinsic data. That allows it to be very lightweight at almost every aspect.

MVC ActionResult primary focus is on passing along already established data (content, status, type, etc.). An MVC Controller actio

[2017-09-06 03:00] qinxiaowen commented on #2270
@hongdai no singleWsdl,
the wsdl can use normal in traditional .net framwork add service reference dialog.
so i think the problem is still the tool issue.
![111](https://user-images.githubusercontent.com/8536046/30092584-4dd8f32c-92f2-11e7-9057-1767138922db.PNG)
![222](https://user-images.githubusercontent.com/8536046/30092593-613aac58-92f2-11e7-88d7-3fc7b5874167.PNG)

[2017-09-06 03:26] colinbowern opened #2272 "Unable to copy status box contents on WCF Web Service Reference wizard's Service Endpoint tab"
# Summary
I hit an error trying to create a reference for the Oracle NetSuite SOAP endpoint. In the Configure WCF Web Service Reference dialog on the Service Endpoint tab I cannot select the text in the Status box, nor can I resize it to be able to capture the entire error.

# Steps to Reproduce
1. Create a new .NET Core standard library project, add a connected service using the WCF Web Service R

[2017-09-06 03:37] colinbowern opened #2273 "Instance and dialect has Metadata property whose type does not match the dialect"
# Summary
I hit an error trying to create a reference for the Oracle NetSuite SOAP endpoint using the WCF Web Service Reference Provider in a .NET Core or .NET Standard Class Library. It does work on a Windows Classic Desktop Class Library, however, using Add Service Reference. Same WSDL can also be consumed by SoapUI.

# Steps to Reproduce
1. Create a new .NET Core standard library project, add a

[2017-09-06 07:30] angeor2 commented on #2264
@zhenlan The service client is part of a multi-targeting library project (net461;net462;netstandard2.0).
I am testing the code from a netcoreapp2.0 project by referencing the library project.

[2017-09-06 08:05] angeor2 commented on #2264
I created a minimum test case that reproduces the error (netcoreapp2.0):

[code]

The test fails with error:

System.InvalidOperationException: The operation 'Ping' could not be loaded because it specifies \"rpc-style\" in \"literal\" mode, but uses message contract types or the System.ServiceModel.Channels.Message. This combination is disallowed -- specify a different value for style or use param

[2017-09-06 08:23] hmdhasani commented on #2265
Thank you @zhenlan for response.
Is there any hope that this will be available in near future?

[2017-09-06 14:52] hongdai commented on #2271
@Rodske This is because the service uses TransportWithMessageCredential binding and Dotnet core does not currently support Message security.

Thanks,
Hong Dai

[2017-09-06 14:57] hongdai commented on #2270
@qinxiaowen Could you generate the .cs file and output.config using the framework svcutil.exe and share them to me? It could give me a clue why it does not find any valid endpoint.

Thanks,
Hong Dai

[2017-09-06 16:03] hongdai commented on #2197
@jedsmallwood Thanks for your comments! It will help us to evaluate the support for Disco.

[2017-09-06 16:05] hongdai commented on #2273
@colinbowern This is the same issue of #2197. Thanks for reporting the issue! It will help us evaluate the support for Disco.

-Hong Dai

[2017-09-07 01:49] colinbowern commented on #2273
@hongdai Thanks for flagging. I did search before posting, but must have used the wrong keywords. 😄

How should we progress this issue - close as a won't fix hoping that the scenario will be kept in mind, open another Disco feature request issue to track the need, or leave it open?

[2017-09-07 14:15] Rodske commented on #2271
Are there any workarounds I could do? Is there an associated release number for when .NET Core might support this on the roadmap?

[2017-09-07 14:38] hongdai commented on #2266
@siberianguy This is because OData API cannot be added as OData APIs are now only supported with the OData Client Code Generation Tool. Please see https://aka.ms/odatavsclientguidance.

The reason it requires login and password repeatedly is because the service returns the same error code as fail to authenticate.

Thanks,
Hong Dai

[2017-09-07 14:39] hongdai commented on #2273
I will close it as a dup of issue #2197. We will keep the original one open to track the Disco feature request.

[2017-09-07 14:39] #2273 closed

[2017-09-07 14:40] hongdai commented on #2272
@colinbowern Thanks for reporting the issue to help improve the tool! We will evaluate the fix.

-Hong Dai

[2017-09-07 14:41] #2267 closed

[2017-09-07 14:43] hongdai commented on #2271
Unfortunately there is no workaround available, and we do not have estimation when it will be supported in .Net Core.

[2017-09-07 18:42] siberianguy commented on #2266
@hongdai Thanks for the feedback! The issue is closed now, does it mean now changes are considered to be necessary? Wouldn't it be nice to have a helpful error message in this not very obvious scenario?

[2017-09-07 18:56] #2271 closed

[2017-09-07 19:16] zhenlan commented on #2264
@shmao any ideas?

[2017-09-07 19:25] siberianguy commented on #2266
@hongdai Did you try to access the service I provided you in email using OData Client Code Generation Tool? I get an error "Can not access /serviceurl/". Just curious if it worked for you.

[2017-09-07 19:57] zhenlan commented on #2262
@hongdai are you able to repo the issue? We should not crash regardless.

[2017-09-07 20:15] shmao commented on #2264
@angeor2 Thanks for submitting the issue and sharing the repro code. You are right. This is a bug with using `false` instead of the actual `xmlSerializerFormatAttribute.IsEncoded`. I'll look into a fix for this.

[2017-09-07 20:23] hongdai commented on #2266
@siberianguy

[2017-09-07 20:26] hongdai commented on #2266
@siberianguy  Thanks for your feedback to have a helpful error message! I have reopened the issue to track the improvement.

As for access the OData Client Code Generation service, I personally have not tried it. OData team is the right place for the issue.

-Hong Dai

[2017-09-07 20:28] hongdai commented on #2262
I'm unable to repro the issue so far.

[2017-09-07 20:51] siberianguy commented on #2266
@hongdai Thanks for your feedback! Agree, OData team are definitely the best fit for this question but they seem to ignore the issues in their repository. If by any chance you or someone in your team have personal connections to OData team, could you please ping them about the issue?

[2017-09-08 01:28] #2249 closed

[2017-09-08 01:33] zhenlan commented on #2265
I won't say no hope for future :), but at this point we don't have any concrete plan yet.

[2017-09-08 02:13] zhenlan commented on #1808
Looks like an issue in WCF mono implementation that is not owned by WCF team.

Adding @marek-safar and @akoeplinger from Xamarin team. There are multiple reports of the "methodNameAsync" issue. Can you loop in right folks to take a look?

[2017-09-08 09:25] RehanSaeed commented on #2218
Agreed, the stream model does not work well with `ActionResult`.

[2017-09-08 09:25] #2218 closed

[2017-09-08 15:02] Shadowman4205 commented on #1801
@zhenlan sorry for inconvience
Is there any example how connect to wcf service with certificate auth?
Cause at the moment when i try use WCF Web Service Reference Provider, when i add uri and press go
i get
[code]

if i try access this url by browser i get this xml
[code]

Any suggestion?

[2017-09-08 16:25] zhenlan commented on #1801
@mlacouture any suggestions for @Shadowman4205?

[2017-09-08 16:34] zhenlan commented on #1257
@mconnew can you please help to restore ws-trust branch from #1591?

[2017-09-08 17:13] hongdai commented on #2269
@s00ther This is because the WSDL files do not have an endpoint defined as the error message indicates. The code generated in VS2015 is not usable. Hence we stopped generating them.

Thanks,
Hong Dai

[2017-09-08 17:17] #2258 closed

[2017-09-08 17:25] hongdai commented on #2252
@ara3n Sorry to hear that you are running into an issue!

I do not have a Dynamics NAV ERP to reproduce the issue. Could you help by using the full framework tool "Add Service Reference" and let me know your experience?

Thanks,
Hong Dai

[2017-09-08 17:30] hongdai commented on #2238
@caxepok Could you please answer my question posted some time ago?
"I see importing binding errors via svcutil.exe, and there is no output.config file generated. Have you verified the generated code by svcutil can invoke the service successfully?

We will assume this is a issue in the service if no further response.

Thanks,
Hong Dai

[2017-09-08 18:40] zhenlan commented on #2126
@KKhurin repro'ed this issue. Will have a PR today to fix the test.

[2017-09-08 18:42] zhenlan commented on #1903
@KKhurin is reviewing and doing more testing of his scoped fix currently.

[2017-09-08 18:46] zhenlan commented on #2188
Closing for now. @waldimen please let us know if you have any other questions.

[2017-09-08 18:46] #2188 closed

[2017-09-08 18:49] #2248 closed

[2017-09-08 18:50] ara3n commented on #2252
Yes i can add full framework tool add service.  It's not available in .net core project.

[2017-09-08 18:51] hongdai opened #2275 "Enable Certificate related tests in CI For linux platforms"
OSX CI is skipping certificate related tests because root certificate cannot be installed. We have discussed it long time ago and conclude that we should ensure all certificate related test get run regardless whether there are set up issues.

We should:
1. fix the root certificate issue on CI.
2. Add flags to always run them.

[2017-09-08 20:58] hongdai commented on #2252
@ara3n Did the full framework tool ask you entering credential?

[2017-09-08 21:10] ara3n commented on #2252
No, it uses windows authenication and allows you to see all classes. etc.
I decided to go with full framework and won't be using .net core project.  You can close this ticket. Thanks.

[2017-09-08 21:38] hongdai commented on #2252
@ara3n Just a FYI: This is most likely caused by the service uses Disco protocol that Dotnet Core currently does not support. We will evaluate the support.

[2017-09-08 21:38] #2252 closed

[2017-09-09 00:18] drago-draganov commented on #2098
## Here is a quick update plan for the next week

* We are renaming  Microsoft.SyndicationFeed to Microsoft.SyndicationFeed.ReaderWriter
* The project will be moved on own GitHub repository: /dotnet/SyndicationFeedReaderWriter
* Release of updated NuGet package

[2017-09-09 04:06] hlaghari commented on #1808
Thanks @zhenlan ,

I ended up using the wsdl tool to generate the proxy for WCF service and deployed that on mono and it worked fine.

However a fix for the issue would be highlight appreicated.

Regards,
Haroon

[2017-09-10 19:19] hongdai commented on #2266
@siberianguy Sure, I will ping OData team.

[2017-09-10 19:19] #2266 closed

[2017-09-10 19:20] hongdai commented on #2266
Close this one as we have an internal bug to track the error message improvement.

[2017-09-10 19:22] #2259 closed

[2017-09-10 19:23] #2215 closed

[2017-09-10 19:23] #2212 closed

[2017-09-10 19:23] hongdai commented on #2209
Closing as no further action can be taken without a repro Application.

[2017-09-10 19:23] #2209 closed

[2017-09-10 19:24] hongdai commented on #2208
Closing as no repro to investigate.

[2017-09-10 19:24] #2208 closed

[2017-09-10 21:37] hongdai commented on #2150
@RomanKernSW Please reopen the issue once you have a repro wsdl file.

Thanks,
Hong Dai

[2017-09-10 21:37] #2150 closed

[2017-09-10 21:40] hongdai commented on #2104
The download never completes as we do not support Disco. This is the same issue as #2197

[2017-09-10 21:43] hongdai commented on #1892
@carneirim This issue is fixed in the next release. We will ignore all WSDL import validation error messages as many customers do not own services and it's not feasible to fix the services.

[2017-09-10 21:43] #1892 closed

[2017-09-11 15:47] JonahHexx opened #2279 "WCF Connected Extension fails to generate partial class from WSDL"
When I generate a proxy using the old wsdl.exe the resulting code contains a partial class which is used by our existing codebase. The new connected service generator does not include this class.
The missing class is the actual service based on the service name in the wsdl.

The section of the wsdl that defines the class is as shown (URL obfuscated):

	<wsdl:service name="CallcreditBsb7">
		<wsdl:

[2017-09-11 17:34] zhenlan commented on #2104
Duplicate of #2197

[2017-09-11 17:39] hongdai commented on #2279
@JonahHexx Sorry to hear that you are running into an issue!

The section of the wsdl file does not have enough information to identify the root cause. Could you share the full wsdl file to reproduce the issue locally?

Thanks,
Hong Dai

[2017-09-11 17:40] mconnew commented on #2261
I've re-examined this and this is an issue with WCF's setting of flags on HttpClientHandler. The UseDefaultWebProxy is being used directly to set HttpClientHandler.UseProxy. If you want to use a proxy server, for now set UseDefaultWebProxy to true and set your proxy server on the ProxyAddress property and it will do what you require. I'll update this issue when we know which release the fix will a

[2017-09-11 20:03] JonahHexx commented on #2279
Here you go
[Bsb7Full.zip](https://github.com/dotnet/wcf/files/1293877/Bsb7Full.zip)

[2017-09-11 20:56] hongdai commented on #2279
@JonahHexx wsdl.exe is a legacy technology as you might know. It does not generate WCF client that the WCF Connected extension generates.

I can use the wsdl you provided to generate WCF client successfully.

`public partial class SoapClient : System.ServiceModel.ClientBase<Soap>, Soap
`

SoapClient is the class you need to use to make service calls.

Hope it helps,
Hong Dai

[2017-09-11 22:09] shmao commented on #2219
I understood the root cause of the issue. One of the types generated by WCF Connected Service was wrong, see below.

[code]

The property is a 2-dimensional array, but the `XmlArrayItemAttribute` speicifed the item type as `typeof(ListViewRecordColumn)`. To work around the issue, we can change the item type to `typeof(ListViewRecordColumn[])`.

The issue is a duplicate of https://github.com/dotnet

[2017-09-11 22:09] shmao commented on #1274
We got another hit of the issue. See https://github.com/dotnet/wcf/issues/2219

[2017-09-11 22:35] mlacouture commented on #1801
@Shadowman4205, internal server error usually means the service failed to process the request, it could be an exception in the service code for instance.  This does not seem to be an authentication problem.  Do you own the service that you can attach a debugger during the request?
Regarding cert auth, my [blog post](https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-a

[2017-09-12 04:28] trichling opened #2280 "The solution does not build"
I am facing the problem that when I try to add a service reference to a project containig .NET Core (Target .NET Framework 4.6.1) Web Apis with full framework class library projects suddenly I get the error that the solution does not build. When I do a rebuild in VS it builds just fine. I also tried nuking bin / obj manually, closing VS, re-installing the extension but nothing worked so far.

I ap

[2017-09-12 04:52] hongdai commented on #2280
@trichling Sorry to hear that you are running into an issue!

Could you share the repro *.csproj file? We will try to reproduce the problem locally and investigate the root cause.

Thanks,
Hong Dai

[2017-09-12 04:55] trichling commented on #2280
Hi Hong Dai,

Thanks for your immediate reply. Here is the content of the project file:

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>net461</TargetFramework>
    <RuntimeIdentifier>win7-x86</RuntimeIdentifier>
  </PropertyGroup>

  <PropertyGroup Condition="'$(Configuration)|$(Platform)'=='Debug|AnyCPU'">
    <DocumentationFile>bin\Debug\net461\win7-x86\apetito.Fr

[2017-09-12 06:24] JonahHexx commented on #2279
Thanks for the help

[2017-09-12 14:49] EPinci opened #2281 "Missing ClientBase<TChannel>.CacheSettings"
Hello there,

looks like the static CacheSetting for ClientBase<TChannel> is no longer there.
Am I missing something?

Thank you.

[2017-09-12 14:50] EPinci opened #2282 "Missing ClientBase<TChannel>.Close()"
Hello,

Looks like the method ClientBase<TChannel>.Close() is no longer there.
How do I close a client?

Thank you.

[2017-09-12 16:27] zhenlan commented on #2281
Hi @EPinci, does the discussion in #2032 answer your question?

[2017-09-12 16:42] zhenlan commented on #2282
Hi @EPinci, you can call `Dispose()` on it
https://github.com/dotnet/wcf/blob/0066c64bd8536b732309ee1a9fc4037c02266e4c/src/System.ServiceModel.Primitives/ref/System.ServiceModel.Primitives.cs#L142

[2017-09-12 19:15] zhenlan commented on #2220
Hi @ekarimi as you noticed `ServiceDescription` or `ServiceDescriptionImporter` are not available. The reason is because they require CodeDom and down the road they require Serialization that requires CodeDom too. CodeDom today is only a partial port on .NET Core and it's not part of .NET Standard while Serialization is part of .NET Standard and a component in .NET Standard cannot depend on a comp

[2017-09-12 22:01] hongdai commented on #2256
Update:
Failure 6-11 should be skipped by active issues. They get run because of test framework does not discover the actual OS correctly. This will be fixed by Matt.
Failure 1-5: those tests are not part of the manual run and should fail in the CI or Helix. All certificates tests did not get run in CI and Helix for various reasons. We will fix CI and Helix first to ensure the tests get run daily.

[2017-09-12 22:10] hongdai commented on #2279
Assume the issue is resolved. Please reopen if further help is needed.

[2017-09-12 22:10] #2279 closed

[2017-09-12 22:13] hongdai commented on #2280
@trichling I can use a similar project to repro the issue, but only the first time do a clean build.

The build error is from "GenerateDepsFile"
`"\Sdks\Microsoft.NET.Sdk\build\Microsoft.NET.Sdk.targets(94,5): error MSB4018: System.ArgumentException: Can not add property System.ServiceModel.Duplex to Newtonsoft.Json.Linq.JObject. Property with the same name already exists on object."`

You can rem

[2017-09-12 22:43] drago-draganov commented on #2098
Microsoft.SyndicationFeed.ReaderWriter 1.0 is now live. [Release notes](https://github.com/dotnet/SyndicationFeedReaderWriter/releases/tag/v1.0.0).

Please refer to the new [repository](https://github.com/dotnet/SyndicationFeedReaderWriter) for continuing development and discussion regarding Microsoft.SyndicationFeed.ReaderWriter.

[2017-09-12 23:55] KKhurin commented on #2126
fixed with https://github.com/dotnet/wcf/pull/2278

[2017-09-12 23:55] #2126 closed

[2017-09-13 01:30] zhenlan commented on #2235
Thanks for bringing up this issue to my attention @evil-shrike. I am moving this to dotnet/docs repo to follow up.

[2017-09-13 01:30] #2235 closed

[2017-09-13 06:10] trichling commented on #2280
@hongdai I tried your suggestion. However when I remove the references you pointed to, I get teh following error on build:

CS0012	The type 'Claim' is defined in an assembly that is not referenced. You must add a reference to assembly 'System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089'.

in the references.cs:

[code]
The problem is the new System.ServiceModel.

[2017-09-13 08:24] AshishShukla16 commented on #134
I am also facing the same issue, my net.tcp wcf service endpoints stuck on **System.Net.Socket- Receive** method. Below is the call stack
![image](https://user-images.githubusercontent.com/6327239/30367068-ce99df2e-988a-11e7-8dd7-804da2ca3dd0.png)

[2017-09-13 10:21] xmlparser commented on #2238
@hongdai hi. yes, of course, we use this wsdl in production on full framework.

[2017-09-13 16:42] hongdai commented on #2280
@trichling For System.IdentityModel, Could you try adding the full framework reference as below:

`  <Reference Include="System.IdentityModel" />
`

Also, it seems like you are trying to **update** your existing service reference. We currently do not support this feature. We are evaluating the support and your feedback is helpful.

Thanks,
Hong Dai

[2017-09-13 16:50] hongdai commented on #2238
@xmlparser Could you confirm you have the same wsdl files as @caxepok?

It's impossible to make the service call without output.config(service endpoint defined). On full framework, you might have added some code on the client side in addition to generated code. Could you take a look your full framework client code?

Thanks,
Hong Dai

[2017-09-13 18:51] EPinci commented on #2282
Understood, thank you.

Can I ask you to comment on [this article](http://geekswithblogs.net/DavidBarrett/archive/2007/11/22/117058.aspx): this is widely reported around and does it still apply?

Thank you.

[2017-09-13 21:00] KKhurin commented on #134
There could be multiple reasons for this. Does it repro consistently?

[2017-09-14 03:07] rajput81 commented on #2254
Any update Hong Dai?

[2017-09-14 05:59] hongdai commented on #2254
@rajput81 I'm able to use "Add Service Reference" successfully with the Release-V17.3.0.35-V17.3\uprofile_v37_0\UProfile.wsdl. There could be various reasons why the Net Core connected service tool does not support it. We will further investigate and let you know the root cause.

Thanks,
Hong Dai

[2017-09-14 07:24] trichling commented on #2280
Hi,

I read in your FAQ that One could try to Just regenerate to update. But even when I delete the service reference first it fails. Will be in the office again on Monday and try your suggestions. Will give you feedback then.

Greetings,
Tobias

Von meinem iPhone gesendet

Am 13.09.2017 um 18:42 schrieb Hong Dai <notifications@github.com<mailto:notifications@github.com>>:

@trichling<https://gith

[2017-09-14 20:22] #2264 closed

[2017-09-15 06:46] xmlparser commented on #2238
@xmlparser oh, actually I'm one guy :)

[2017-09-15 15:04] s00ther commented on #2269
@hongdai
The endpoint seams to be set in **vimService.wsdl** file:
`...`
`<service name="VimService">`
`      <port binding="interface:VimBinding" name="VimPort">`
`         <soap:address location="https://172.17.165.100/sdk/vimService" />`
`      </port>`
`   </service>`
`...`

In VS 2015 we were actually using it without problems...

[2017-09-15 23:44] hongdai commented on #2272
@colinbowern This is fixed in the next release.

[2017-09-15 23:44] #2272 closed

[2017-09-15 23:47] hongdai commented on #2254
@rajput81 This is because the NET Core WCF service reference tool does not support schema files NOT in the same directory currently. We will evaluate the support.
@mlacouture

[2017-09-16 05:39] rajput81 commented on #2254
Thanks for the update Hong Dai.. Is there a workaround available till it gets supported? ie putting everything under same folder, editing the wsdl etc..an example will be great.

________________________________
From: Hong Dai <notifications@github.com>
Sent: Saturday, 16 September 2017 9:47:34 AM
To: dotnet/wcf
Cc: rajput81; Mention
Subject: Re: [dotnet/wcf] Cant generate proxy using a local wsdl

[2017-09-17 00:47] JaWiD2 opened #2287 "Error on Getter only auto-properties"
Hi,
By having:
[code]
[code]
on binding of getter only auto-properties, wcf throw exception but in `private set;` its fine!
both property are read-only in the outside of this class.

[2017-09-17 23:18] dazinator opened #2288 "WSHttpBinding"
I am looking at upgrading an old code base on github: https://github.com/ayende/rhino-licensing to use wcf for netstandard2.0.

It uses `WSHttpBinding` - I can't find this anywhere yet - is there a migratioin path for this?
It also decorates its service with `ServiceBehavior` attribute - i can't seem to resolve this  - which package do I need for that?

[2017-09-18 16:49] hongdai commented on #2254
@rajput81 Putting everything under the same folder will not work in your case as many different schema files under different folders share the same name.

The workaround I can think of is to use dotnet-svcutil.dll directly by:
1) Open a command line.
2) find the location of dotnet-svcutil.dll and use below command:
`dotnet dotnet-svcutil.dll  C:\Temp\issue2254\uAPI_WSDLschema_Release-V17.3.0.35\WS

[2017-09-18 18:23] mconnew opened #2290 "OSX Https certificate callbacks don't work"
There was a change in .Net Core 2.0 for HttpClient on OSX which disabled using certificate validation callbacks. As WCF always sets a callback, all https requests will fail on OSX. We can add some workarounds to WCF to enable some scenarios. For OSX only, we need to have the following behaviors for each of the possible X509CertificateValidationMode values:

X509CertificateValidationMode | Behavior

[2017-09-18 18:25] mconnew commented on #2261
@mtf30rob, did the workaround work for you?

[2017-09-18 21:51] pardhumeduri opened #2293 "Core 2.0 Issue in creation an instance of derived class of Client base for Consuming WCF service using System.servicemodel.Primitives"
we don't want to go with proxy generation approach for consuming WCF services.
We have tried to call the WCF using  System.servicemodel.Primitives and deriving from clientBase class.
however when we try to create instance of child class of Clientbase it is giving the following error

System.PlatformNotSupportedException: 'Configuration files are not supported.'

![image](https://user-images.github

[2017-09-19 11:00] smartmaster opened #2294 "error when adding vimService.wsdl "The service at the following URI does not have any valid endpoints""
- download "Microsoft WCF Web Service Reference Provider" from https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService
- install the VS extension
- when adding vimService.wsdl, it reports error "The service at the following URI does not have any valid endpoints"

the wsdl files are attached.
[vimService.zip](https://github.com/dotnet/wcf/files/1313972/vimSer

[2017-09-19 11:02] smartmaster commented on #2269
i have same issue and reported at https://github.com/dotnet/wcf/issues/2294 just now

[2017-09-19 14:05] rposener opened #2295 "MessageHeaderAttribute fields are not scaffolded as Request Properties/settable"
Hello,

I have an old WCF service I'm trying to consume using our new app.  The issue I'm running into is that we set some "session" type information in a Header that is not available.  The Generated Request types have all the BodyMembers, but do not have the MessageHeaderAttribute that needs to also be set.  It is interesting though that our Header class is scaffolded, but cannot be set on the cl

[2017-09-19 15:46] hongdai commented on #2294
@smartmaster Sorry to hear that you are running into an issue! We will try to repro locally and identify the root cause.

[2017-09-19 16:04] hongdai commented on #2295
@rposener Could you generate client code using "Add Service Reference" for the full framework, and see if you can set the MessageHeader?

It will be great if you provide a repro wsdl file to help identify the root cause.

Thanks,
Hong Dai

[2017-09-19 17:20] rposener commented on #2295
@hongdai here is the WSDL.  It's the AuthenticationInformation details that are missing for exmplae on the GenerateReport method.

`<wsdl:definitions xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.praceng.com/webservices/pere

[2017-09-19 17:33] rposener commented on #2295
I have tested, and just adding another file with the missing property with the Header Attribute set on the field does send the value properly.  Makes for a relatively easy work-around for anyone with this issue since the class is partial anyway.

[2017-09-19 18:40] hongdai commented on #2275
Since we have never enforced certificate related tests in the CI, we will do it in two stages to ensure CI PR run stability.

- [X] 1. Check in change to enable all nightly CI runs ONLY.
- [ ] 2. Discover issues with nightly runs and fix them.
- [ ] 3. Switch to PR runs only after the nightly runs are green for one week.

I have checked in the changes for step 1).

[2017-09-19 21:13] zhenlan commented on #2293
Hi @pardhumeduri sorry for running into this. WCF on .NET Core does not support configuration, so as the error suggested, please choose other constructors of ClientBase that does not take configuration.

[2017-09-19 21:26] zhenlan commented on #2288
Hi @dazinator WSHttpBinding is currently not supported on .NET Core.

Duplicate of #31

[2017-09-19 21:26] #2288 closed

[2017-09-19 21:29] zhenlan commented on #2287
@shmao can you take a look?

[2017-09-19 21:57] shmao commented on #2287
@JaWiD2 thanks for submitting the issue. DataContractSerializer cannot serialize get-only properties. If a property is marked with [DataMember], it must have a setter. The setter being private is ok as DCS uses reflection to get the setter.

I'm closing the issue as this is by design.

[2017-09-19 21:57] #2287 closed

[2017-09-20 17:31] pardhumeduri commented on #2293
Hi Zhenlan

i am able to fix this issue after changing the constructor to use binding, EndPoint, however getting the following issue, kindly let us know if there any way we can consume WCF services in Core 2.0 wihthout generating proxy classes.
Also please share if we have any samples solutions on how to consume wcf in core 2.0 without WCF connectivity tool ( proxy)
![image](https://user-images.gi

[2017-09-21 10:47] BladeWise commented on #2215
I am facing a similar issue, can I know where did you get that log information from?

[2017-09-21 12:50] ArgusMagnus commented on #1688
@marek-safar Is it save to assume, that tcp duplex support is not coming to Xamarin.Android by the end of this year?
Is there a realistic chance that this will happen in the future at all?

[2017-09-21 13:43] atanasa opened #2298 "Request to port WSSecurityTokenSerializer"
I am using the WSSecurityTokenSerializer class to serialize tokens in a WS-Trust implementation on the client side. Is there any chance that you would port that class over to .net core? I'm mainly interested in the Write* methods.

[2017-09-21 13:54] marek-safar commented on #1688
@ArgusMagnus yes, that's the safe to assume but it's still in the plan for the future

[2017-09-21 21:21] hongdai commented on #2215
@BladeWise Currently we do not always show the warning/error messages to the UI. You should be able to see the warning/error message by using dotnet-svcutil.dll directly:
1) find the path to dotnet-svcutil.dll
2) dotnet dotnet-svcutil.dll /tf:netcoreapp1.0  /Verbosity:Verbose

Thanks,
Hong Dai

[2017-09-21 21:40] hongdai commented on #2269
@s00ther Thanks for providing more information. I'm able to generate usable proxy code in VS2015 now.

There is an issue with the VS2017 tool, we will evaluate the fix.

To workaround it, you can use dotnet-svcutil.dll directly:
1) find the location of dotnet-svcutil.dll
2) In a console, go to the directory contains wsdl files type
`dotnet <full path to dotnet-svcutil.dll> /tf:netcoreapp1.0 * /n:"

[2017-09-21 21:42] hongdai commented on #2294
@smartmaster  I confirm this is the same issue as #2269. Please use #2269 to see the workaround and tracking resolution.

Thanks,
Hong Dai

[2017-09-21 21:42] #2294 closed

[2017-09-22 00:33] BladeWise commented on #2215
Using the dotnet-svcutil.dll everything is fine, and no error message is produced (I used /tf:netstandard20  without issues).

[2017-09-22 15:01] BladeWise commented on #31
At he moment I am struggling to implement

- Security - WSS SOAP Message Security UsernameToken Profile 1.1
- Security - WSS SOAP Message Security X.509 Certificate Token Profile 1.1

Maybe the best way would be implementing a custom `IClientMessageInspector`?

[2017-09-22 15:13] jeremyVignelles commented on #2197
Today, I was on the way of migrating my project (.net 4.6.2) to the new .csproj format, and my service references stopped being treated as Services references I can update (maybe I did something wrong).
I then tried to recreate my service reference but I found the same interface with which I had issues in #2104 .

I still can't add/update my references to the ONVIF webservice in my net 4.6.2 proje

[2017-09-22 23:52] zhenlan commented on #2159
Issue moved to [dotnet/corefx #24220](https://github.com/dotnet/corefx/issues/24220) via [**ZenHub**](https://www.zenhub.com/)

[2017-09-22 23:52] #2159 closed

[2017-09-24 01:06] ekarimi commented on #2220
Hi @zhenlan
Thanks for answering.
--
Our scenario is quite simple. We have a tool that gets the url of a web service ( for example a soap web service).
Then with the code above (first post), I can read the web methods inside it and invoke it with the right parameters ( quite easy with reflection as we all know).
Now, why I can't use the tool that you provided? Because it's up to the customer. I do

[2017-09-25 12:18] brunobertechini commented on #1517
+1 for Encoded Message. I believe this is already handled by v2 ?

[2017-09-25 16:52] hongdai commented on #2226
@diazrm The Tarjeta.cs in your zip file does NOT compile. It gives below compiling error message for the reason I mentioned previously(Tarjeta is defined twice):

`Error	CS0101	The namespace '<global namespace>' already contains a definition for 'Tarjeta'`
`For line 4934:  public partial class Tarjeta`

Could you please double check if it compiles for you?
Thanks,
Hong Dai

[2017-09-25 17:48] pardhumeduri commented on #2293
i am able to fix this issue after changing the constructor to use binding, EndPoint, however getting the following issue, kindly let us know if there any way we can consume WCF services in Core 2.0 wihthout generating proxy classes.
Also please share if we have any samples solutions on how to consume wcf in core 2.0 without WCF connectivity tool ( proxy)
![30658127-c0da41c6-9e07-11e7-8afc-0f094768

[2017-09-25 19:41] zhenlan commented on #2293
Hi, @pardhumeduri I am glad you are able to make progress.

Certainly, you don't have to use the tool to generate the proxy code (using `ClientBase` etc.). Here is an example that uses `BasicHttpBinding` and calls a simple Echo service on the server. Is it helpful to you? Please feel free to explore other tests for more complex scenarios.
https://github.com/dotnet/wcf/blob/master/src/System.Privat

[2017-09-25 20:06] zhenlan commented on #2220
Thanks for sharing the details @ekarimi. The scenario you described sounds very similar to `WcfTestClient.exe`, which is a WCF tool in Visual Studio (and is built on full .NET).

Due to the technical reason I explained earlier, this is unfortunately not easily achievable on .NET Core today.

[2017-09-26 07:51] AuroraBrignola commented on #1758
I still cannot get this to work. Always generate message contracts is NOT Checked and only full framework is returning the right result, .net core still returns an empty stream. Any ideas on what I might be doing wrong?

[2017-09-26 13:44] AuroraBrignola opened #2307 "Empty MemoryStream #1758"
I am having the exact same issue from #1758 and I cannot seem to figure out a solution. Is there a proper fix to this? I have been trying for the past three days to get my .NET Core app working as the Full .NET Framework, but with no luck, the stream keeps being empty no matter what solution found online I implement.  Any ideas on what I might be doing wrong? I have a Class Library targeting Core1

[2017-09-26 16:52] hongdai commented on #2256
I have verified all failures have been fixed in the manual run.

[2017-09-26 16:52] #2256 closed

[2017-09-26 21:11] zhenlan commented on #2307
Hi @AuroraBrignola can you please share the WSDL file and we can take a further look?

[2017-09-26 21:15] zhenlan commented on #2298
Hi @atanasa, this is blocked by #31.

[2017-09-26 21:22] #1603 closed

[2017-09-26 21:25] #1606 closed

[2017-09-26 21:25] diazrm commented on #2226
Well... that's precisely the problem. The .cs file is auto-generated from the WSDL. Thus, the duplication problem that occurs in the WSDL also happens in the .cs file.

[2017-09-26 21:32] zhenlan commented on #1655
If we do this, we should consider decoupling reliable session from the transport. Currently, reliable sessions are not usable without an in-box binding.

[2017-09-26 21:35] zhenlan commented on #1656
Thank you for the feedback. We will stick with the current name that many people are already familiar with.

[2017-09-26 21:35] #1656 closed

[2017-09-26 21:44] zhenlan commented on #1688
@marek-safar what's the repo for Xamarin/mono so we can move this issue there for better tracking since this repo is only for WCF on .NET Core?

[2017-09-27 00:27] hongdai commented on #2226
Yes, that's why the only way to fix it is to fix the wsdl file.

[2017-09-27 00:28] #2226 closed

[2017-09-27 05:57] marek-safar commented on #1688
@zhenlan best to report the issue at https://bugzilla.xamarin.com/

[2017-09-27 15:03] eiki25 opened #2309 "Update Connected Service"
Please add Right click on Folder support to Update reference.
Only way seems to be to add Connected Service again with same name and replace "reference.cs"

[2017-09-27 15:29] AuroraBrignola commented on #2307
Hi @zhenlan here's the WSDL
`<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/

[2017-09-27 18:08] felipecaputo commented on #1810
Hello folks! Is there any chance to get this implemented?

[2017-09-27 18:18] hongdai commented on #2295
@rposener Does your new app use 1.0/1.1 Target framework? We have only enabled MessageHeader in 2.0 as there are some known WCF runtime issue in 1.0/1.1? I can generate the AuthenticationInformation successfully using the 2.0 .NET Core VS projects.

Could you try to generate the code using a 2.0 .NET Core VS projects, then just copy the reference.cs to your 1.0/1.1 project. If you can invoke the s

[2017-09-27 18:32] huangjinshe commented on #1688
@marek-safar , @zhenlan Don't need to do that, because I already did that almost 1 year or maybe 1.5 year ago......Turns out there is no one responsible for that.

[2017-09-27 18:36] huangjinshe commented on #1688
@marek-safar , @zhenlan
[Request add WCF Duplex Channel support for Mono(for Xamarin.Android and Xamarin.IOS)](https://bugzilla.xamarin.com/show_bug.cgi?id=41392)
[DuplexChannelFactory.CreateChannel throw exception NotImplementedException](https://bugzilla.xamarin.com/show_bug.cgi?id=44513)

Maybe there are more, but the result is.....none.

[2017-09-27 19:39] hongdai commented on #2280
Closing it as no response for 14 days. Please reactive if there are more questions.

[2017-09-27 19:39] #2280 closed

[2017-09-27 19:40] hongdai commented on #2270
@qinxiaowen Closing it as there is no response for 21 days. Please reactive if needed.

[2017-09-27 19:40] #2270 closed

[2017-09-28 00:02] zhenlan commented on #1810
Not in a plan at this point. Please upvote if this is important. It will be helpful for future planning.

[2017-09-28 00:03] zhenlan commented on #2307
Thanks, @AuroraBrignola. @hongdai, can you please take a look?

[2017-09-28 00:09] zhenlan commented on #2309
@eiki25 thanks for the feedback. Please upvote #1753 if it's important to you.

Duplicate of #1753

[2017-09-28 00:09] #2309 closed

[2017-09-29 08:20] outadoc opened #2314 "Error: Style on header does not match expected style Rpc"
I'm trying to generate a WCF reference to an internal SOAP service into a .NET 4.6 project. I get this error whenever I try to import the WSDL:

[code]

I stumbled upon [this thread](https://stackoverflow.com/questions/22327560/error-generating-c-sharp-proxy-with-svcutil) and since we mostly run Java apps, it doesn't seem unlikely that there's an incompatibility somewhere. Nonetheless, I'm wonderi

[2017-09-29 09:16] outadoc commented on #2314
More details: it should be of type Document and works correctly if that's fixed. **However**, when adding a service reference with the old system, it works fine; the errors are only considered as warnings. This is only a problem when using the *WCF Web Service Reference Provider* extension.

[2017-09-29 12:20] felipecaputo commented on #1810
The content type multipart/related; type=\"application/xop+xml\" ... start-info=\"text/xml\" of the response message does not match the content type of the binding (text/xml; charset=utf-8). If using a custom encoder, be sure that the IsContentTypeSupported method is implemented properly

There is any way I can add a custom decoder to receive this message, while it isn't supported yet?

[2017-09-29 17:33] hongdai commented on #2238
@xmlparser  Could you answer below question:

It's impossible to make the service call without output.config(service endpoint defined). On full framework, you might have added some endpoint configurations in the output.config manually. Could you check it?

Thanks,
Hong

[2017-09-29 17:42] hongdai commented on #2234
@aritsa The reason it generates proxy successfully with .net 4.62 is because they ignore the validation error.
Ideally the service should fix the validation errors, however we understand that many customers do not own the service and it might be feasible. We decided to ignore all validation errors for the .Net Core WCF Web Service Reference tool as well. The change will be in the VS15.5 preview1 r

[2017-09-29 17:45] StephenBonikowsky opened #2315 "Get release/2.0.0 Servicing Ready."
- [x] Product Building
- [x] Test Building
- [x] Windows Tests Passing
- [ ] Linux Tests Passing
- [ ] OSX Tests Passing
- [ ] UAPAOT Tests Passing
- [ ] UAP Tests Passing

[2017-09-29 17:47] hongdai commented on #2262
Haven't found a clue from inspecting the code. Closing it as no further action could be taken.

[2017-09-29 17:47] #2262 closed

[2017-09-29 17:48] StephenBonikowsky opened #2316 "Get release/1.1.0 Servicing Ready"
- [✔️] Product Building
- [✔️] Test Building
- [✔️] Windows Tests Passing
- [ ] Linux Tests Passing
- [ ] OSX Tests Passing
- [✔️] UAPAOT Tests Passing
- [ ] UAP Tests Passing

[2017-09-29 17:50] StephenBonikowsky opened #2317 "Get release/1.0.0 Servicing Ready"
- [x] Product Building
- [x] Test Building
- [x] Windows Tests Passing
- [ ] Linux Tests Passing
- [ ] OSX Tests Passing
- [ ] UAPAOT Tests Passing
- [ ] UAP Tests Passing

[2017-09-29 17:51] StephenBonikowsky opened #2318 "Switch Master to use oss signing."
Master - ✔️
https://mc.dot.net/#/product/components/master/source/official~2Fwcf~2Fmaster~2F/build/20170928.11

[2017-09-29 17:53] StephenBonikowsky opened #2319 "Switch release/uwp6.0 to use oss signing."
- [x] In Progress

OSS work is done but ran into other build issues so not yet able to validate it.

[2017-09-29 17:54] #2318 closed

[2017-09-29 17:57] StephenBonikowsky opened #2320 "Get release/uwp6.0 Servicing Ready"
We had not been building this and other servicing branches regularly assuming that if we were making no changes everything would be fine and we could build it on-demand.

However, auto updates continue to get pushed to the released branches and while they may pass CI we discovered that they can still break VSO builds. So we have been putting all of our released branches back on a regular build sch

[2017-09-29 17:59] StephenBonikowsky opened #2321 "[Master] Investigate and fix auto dependency update build break."

[2017-09-29 18:01] #2321 closed

[2017-09-29 18:01] StephenBonikowsky commented on #2321
Fixed with PR #2310

[2017-09-29 18:04] StephenBonikowsky opened #2322 "[Master] Investigate and fix buildtools breaking change."
New version of buildtools pulls in a new version of the Roslyn Compiler.
Minor changes needed to avoid build issues.

[2017-09-29 18:05] StephenBonikowsky commented on #2322
Fixed by PR #2286

[2017-09-29 18:05] #2322 closed

[2017-09-29 18:52] #2281 closed

[2017-09-29 21:04] pardhumeduri commented on #2293
hi Zhenlan

I have done the following steps
1) Created WCF service in .Net 4.5.2
2) Hosted it in IIS
3) using ChannelFactory option tried to consume the service in Core 2.0
it worked , i am able to hit the .net4.5.2 wcf service from Core 2.0 console application However if we add reference to some of the .net4.5.2 dlls ( models dll which was part .net 4.5.2)   and tried to use those models in gener

[2017-09-29 21:21] StephenBonikowsky commented on #2320
This branch is currently failing in VSO (passing in CI).

It appears to be a race condition in buildtools triggered by the fact that our test projects have project references to other 'common' projects.

It can be fixed in buildtools, @safern and @weshaggard will discuss and let us know.
In the meantime this is blocking us from servicing release/uwp6.0 if needed. @zhenlan

Example error...
[code]

[2017-09-29 21:24] StephenBonikowsky commented on #2320
I'm sort of surprised this hasn't hit us in our Master branch, but I guess it is a race condition and we are just getting lucky.

[2017-09-29 21:26] safern commented on #2320
This is related to the PRI file creation. This happens when a test project references a source project that contains string.resx files and updtates the resw inputs which will trigger the generation of the common.pri file again. Which we don't really want to do when building the tests because the src is supposed to be already built.

What I suggest as a solution is only creating common.pri file if

[2017-09-29 21:26] MattGal commented on #2320
If you can't debug the problem, running MSbuild in single-node mode is a decent temporary workaround;  though, it seems Santi's suggestion might help.

[2017-09-29 21:30] safern commented on #2320
Could be a good workaround also in the meantime while we fix it.

[2017-09-29 22:02] StephenBonikowsky commented on #2320
Thanks for the tip!

[2017-09-30 02:40] zhenlan commented on #2293
Good to see further progress. In your .NET Core 2.0 app, you should not reference assemblies from the full framework (eg. 4.5.2). May I know why you need to do this?

[2017-10-01 19:27] caxepok commented on #2238
@hongdai We are not using output.cfg because configuring endpoints in runtime.

[2017-10-02 08:13] Pavel-Ishutin opened #2323 "ReceiveContext Abandon method dont send the Exception to client"
Hi,

The class System.ServiceModel.Channels.ReceiveContext has 2 virtual methods Abandon with the following signatures:

public virtual void Abandon(TimeSpan timeout)
{
    Abandon(null, timeout);
}

public virtual void Abandon(Exception exception, TimeSpan timeout)
{
      // code is omitted
      // in brief

      if (exception is null)
           OnAbandon(timeout);
      else
           OnAba

[2017-10-02 12:06] aritsa commented on #2234
So basically it's a validation error. Any chance to verbose it?
When is the preview due to release?

[2017-10-02 13:08] pardhumeduri commented on #2293
we have some applications in .Net 4.5.2 which we is source for .Net Core 2.0 application. We get the MVC Models from .Net 4.5.2 which is common models for Core and .Net applications. we do not want re create model solution in core because if any changes done in source will not be in sync. hence we wanted to refer .Net 4.5.2 dlls in core 2.0

[2017-10-02 13:12] pardhumeduri commented on #2293
we have tested the .net4.5.2 dll reference in Core 2.0 web and console application we are able to use the models in them, however when we try to do the same with WCF services then we are facing system.servicemodel.dll" not found issue.

[2017-10-02 15:55] hongdai commented on #2238
@caxepok Thanks for confirming it! .NET Core WCF connected service tool does not use configuration and we do not generate code if no endpoints are defined in the wsdl files.

We will evaluate the support to allow users specify endpoints in runtime.
Thanks,
Hong Dai

[2017-10-02 16:21] hongdai commented on #2234
The update will be released soon. No actual date yet.

The verbose validation error was shown on the scaffolding UI that you copied.

[2017-10-03 09:47] rpokrovskij opened #2326 "Using Microsoft WCF Web Service Reference Provider: "Reference cannot be loaded" errors"
Class library AdminkaV1 (.NET Standard 2.0) is referenced in class library "WcfClient" (.NET Standard 2.0) (as well as in WCF App project .NET Framework 4.7). as "Project reference" and want to be used in "Reuse types in referenced assemblies" when **Microsoft WCF Web Service Reference Provider** (ver 0.5,10808.800, VS 2017)  generates proxy.

Expected behavior: classes from AdminkaV1 are reused

[2017-10-03 15:28] fluppyBot opened #2327 "Vs 2017 wcf reference error"
Hi,

We have a project of asp.net core 2.0 trying to add a wcf service but was getting an error like this below
![image](https://user-images.githubusercontent.com/21032255/31133450-1e1ed506-a892-11e7-8ce4-853cae355063.png)
Would like to ask if there is possible solution for the said error? Tried to add the wcf service to asp.net mvc lower version and seems to be working fine.

Thanks,
Jordan

[2017-10-03 16:42] hongdai commented on #2326
@rpokrovskij Sorry to hear that you are running into an issue!

Is it possible to provide a repro App to help investigation?

Thanks,
Hong Dai

[2017-10-03 16:53] hongdai commented on #2327
@fluppyBot Sorry to hear that you are running into an issue!

It looks like the service schema does not have any binding .NET Core currently support.

Could you clarify "add the wcf service to asp.net mvc lower version and seems to be working fine."? Specifically what version of asp.net mvc works?

Thanks,
Hong Dai

[2017-10-03 18:32] hongdai commented on #2327
@fluppyBot
Unfortunately there is not a workaround in the case of no supported bindings.

I do not think it could work on lower version of .Net Core projects.

By asp.net mvc4, is it full framework or .Net Core? The WCF tool you used was from Add Service Reference or Connected Service? Maybe it's easier if you could give me a screenshot or detailed steps which project template was used and how the

[2017-10-03 21:17] normanhuang opened #2328 "System.AccessViolationException when installing extension in Visual Studio 2017"
Hello, I've been experiencing issues installing the extension. Upon clicking on the vsix installer, a brief popup message shows that it is initializing but it quickly dissappears and nothing happens next. Upon loading Visual Studio and using .NET Core 2.0, I still cannot see the WCF Service option within the Connected Services Tab. Upon checking the error log, it looks like the installation failed

[2017-10-03 21:34] hongdai commented on #2327
@fluppyBot My understanding is asp.net mvc4 is full framework. So you must have used "Add Service Reference". Could you share the generated proxy code and what's added to the app.config? It will help us identify the root cause.

Thanks,
Hong Dai

[2017-10-03 21:36] hongdai commented on #2314
@outadoc Sorry to hear that you are running into an issue! We will try to repro locally and identify the root cause.

Thanks,
Hong Dai

[2017-10-04 08:24] rpokrovskij commented on #2326
Here it is:

[Routines.zip](https://github.com/dotnet/wcf/files/1355051/Routines.zip)

1. Add it there

![image](https://user-images.githubusercontent.com/11598038/31166142-569e8430-a8f6-11e7-9a93-7b249766309f.png)

2. config

![image](https://user-images.githubusercontent.com/11598038/31166091-243a875a-a8f6-11e7-858d-e65ae0d6c7d9.png)

3.  Errors

![image](https://user-images.githubusercontent.co

[2017-10-04 10:24] pjt33 commented on #1808
Re the methodNameAsync issue, see https://bugzilla.xamarin.com/show_bug.cgi?id=13074

[2017-10-04 16:39] hongdai commented on #2327
Hi Jordan,
Unfortunately we cannot support TransportWithMessageCredential as it depends on the Message Security feature that is not yet supported in runtime. Please refer to 2.0 [release notes:](https://github.com/dotnet/wcf/releases/tag/v2.0.0)
Message level security is not supported (#3, #4, #8)

Thanks,
Hong Dai

[2017-10-04 22:09] ToddThomson commented on #2218
@RehanSaeed You could always create your own SyndicationFeed model. Your MVC action would then pass the model to your RssResult. The RssResult class would then write the model to the Response.

[code]

[2017-10-05 00:12] StephenBonikowsky opened #2329 "Investigate threading related test failure caused by updated dependencies."
PR #2305 is failing a test consistently. Some dependency may have broken how we expect threading to work. Needs investigation...

     TypedProxyTests.ServiceContract_TypedProxy_Task_Call_WithSyncContext_ContinuesOnSameThread [FAIL]
14:40:19         System.AggregateException : One or more errors occurred. (Expected continuation to happen on thread 12 but actually continued on thread 10
14:40:19

[2017-10-06 03:12] StephenBonikowsky commented on #2329
This is really strange, it only fails on "Selfhost Windows_NT Release" not on Debug or any other variation including IIS Hosted on Windows.

@mconnew @zhenlan before I go into this.....any ideas?

[2017-10-06 05:49] aritsa commented on #2150
Hi. Im running into the same problem.

Here is the wsdl
[wsdl.zip](https://github.com/dotnet/wcf/files/1361624/wsdl.zip)

And here is the generated reference
[Reference.zip](https://github.com/dotnet/wcf/files/1361626/Reference.zip)

Seems like it does  not like the System.Xml.Linq.XElement Any properties like in:

[code]

[2017-10-06 05:54] aritsa opened #2332 "System.InvalidOperationException: System.Xml.Linq.XElement cannot be used as: 'xml text'"
Hi. Im running into the same problem as #2150 .

Here is the wsdl
[wsdl.zip](https://github.com/dotnet/wcf/files/1361624/wsdl.zip)

And here is the generated reference
[Reference.zip](https://github.com/dotnet/wcf/files/1361626/Reference.zip)

Seems like it does  not like the System.Xml.Linq.XElement Any properties like in:

[code]

[2017-10-06 06:34] aritsa commented on #2332
Update:
Removing all
[code]
from the reference.cs made the service callable. But I guess that's not how it should work.

[2017-10-06 06:50] RomanKernSW commented on #2332
remove every time manually after the proxy has been generated/updated? Its a workaround but not the solution of the problem

[2017-10-06 07:30] aritsa commented on #2332
@RomanKernSW: i know. only a workaround. but i thought it might be useful to know if you cannot wait for a fix.

[2017-10-06 12:03] esabaliauskas commented on #1200
As soon as the WCF is implemented in the .net core, i'm moving away from mono, and using net.core for our existing and future cross platform projects. Mono has so many bugs so.net core looked like a spark of hope.

[2017-10-06 13:52] peder commented on #1200
~As soon as~ ***if*** WCF is implemented. We're still waiting on more information 1.5 years later.

[2017-10-06 15:54] hongdai commented on #2332
@aritsa Thanks for providing the reproduce wsdl! We will try to reproduce the issue locally and investigate the root cause.
-Hong Dai

[2017-10-06 17:39] asfernandes commented on #2084
I have a generated .cs (for .net framework) using SoapHttpClientProtocol. I also have a wsdl. How can I generate classes for .net core 2 to access the web service?

[2017-10-06 18:10] Petermarcu opened #2333 "Importing the FedEx WSDL as a WCF Connected Service has some issues...(The name 'InnerExceptionCount' does not exist in the current context)"
@palodequeso commented on [Thu Aug 24 2017](https://github.com/dotnet/core/issues/895)

This is on .net core 1.1.2, and on Windows 10 Pro 64-bit. I'm using Visual Studio 2017 and this is a C# project.

It's a dotnet core asp.net MVC app that connects to UPS and FedEx and provides a unified shipping service. UPS has a JSON API, easy enough. But FedEx distributes WSDLs. So I learned that with WCF an

[2017-10-06 22:13] mconnew commented on #2329
This isn't us, this is something broken in coreclr. I've opened dotnet/coreclr#14367 to track this. I verified that the Task we return isn't created from a TaskCompletionSource which has any options set that could cause this. We just use the default options which should honor the sync context and/or any task schedulers.

[2017-10-07 12:15] shaggygi commented on #2092
Can this be moved to a later milestone so S123 can be closed?

[2017-10-07 12:17] rpokrovskij commented on #2326
Hi, hongdai...

[2017-10-07 12:17] #2326 closed

[2017-10-09 09:30] Cronan commented on #1200
Putting my thoughts here, WCF is essential for me to look at using .Net core, it's so disappointing that this wasn't prioritized. Having to rewrite dozens of client apps is bad enough, missing support for the server-side puts me in an impossible situation.

[2017-10-09 14:50] Cronan opened #2335 "ReOpen: NetTcp and Kerberos in Linux"
I've re-opened due to this failing when called from unmanaged code in Linux.
@mconnew

When I call the following code:

[code]

I get the following error in Linux:

Is NetTcp supported in Linux?

[2017-10-09 17:07] hongdai commented on #2328
@normanhuang This is a vsix installer issue. Please open a problem in https://developercommunity.visualstudio.com/spaces/8/index.html.

Thanks,
Hong Dai

[2017-10-09 17:07] #2328 closed

[2017-10-09 17:07] #2327 closed

[2017-10-09 17:35] StephenBonikowsky commented on #2329
@mconnew looks like @stephentoub fixed this with dotnet/coreclr#14369 but the test still failed in the most recent update to the auto-update PR #2305

I'll double check that the fix is actually in the package version being updated in the PR.

[2017-10-09 17:48] stephentoub commented on #2329
That coreclr build is from four days ago.  My change was three days ago.

[2017-10-09 17:54] StephenBonikowsky commented on #2329
Ah, thanks Stephen, just figured out the same thing.
Seems strange, I thought each PR would trigger a new build which would update the Versions repo, I guess we'll see it come down the pike shortly.

[2017-10-09 21:51] hongdai commented on #2314
@outadoc We are able to reproduce the issue locally and will evaluate the support.

Thanks for reporting it!
-Hong Dai

[2017-10-09 23:19] marchchad commented on #1847
@popraducj What was your final configuration to use Windows Credentials with SSRS via .NET Core?

[2017-10-10 01:21] zhenlan commented on #2059
Close this as we are using #1753 to track the "update service reference" work.

[2017-10-10 01:21] #2059 closed

[2017-10-10 12:44] Cronan commented on #2335
Managed to get this working, amazing stuff, even calls out to Kerberos

[code]

[2017-10-10 18:20] hongdai commented on #2254
This issue is fixed in the pending release.

[2017-10-10 21:14] outadoc commented on #2314
Thank you @hongdai!

[2017-10-11 04:09] jkotas opened #2337 "ASPNET CORE 2.0 AND WCF: Could not load file or assembly 'System.ServiceModel, Version=4.0.0.0"
_From @isegos on October 11, 2017 1:32_

Hello.
I make .Net Core 2.0 application with net standart 2.0. I created WCF application with framework 4.7 and hoated it into Windows Servive by net.tcp. WCF app works fine for console and winforms app. But I can't connect netcore app to wcf.
WCF server and client works without app.config.

When I connect to WCF by WinForm app I use this:

[code]

But, at

[2017-10-11 23:24] 89NightLight commented on #13
any updates on this? i have the exact same problem with calling WCF service, I get the same PlatformNotSupportedException: TransportSecurityBindingElement.BuildChannelFactoryCore is not supported. same as @himansishah

[2017-10-12 15:51] harrict commented on #1257
I am curious on the progress of the restore. Thanks

[2017-10-12 21:55] zhenlan commented on #2337
@isegos, can you please share the csproj of the .NET Core app where you want to use WCF?

[2017-10-12 22:12] zhenlan commented on #2333
@palodequeso, would everything work fine if you make the same call in a full framework console app (you can use "Add Service Reference" there to generate WCF client code)? It will be helpful if you can share with us a repo or the WSDL you have the problem with.

[2017-10-13 16:47] timjkelly commented on #2270
@qinxiaowen
Has anyone solved this issue? I am getting this when trying to generate .Net Core compatible code.

[2017-10-13 22:01] hongdai commented on #2307
@AuroraBrignola The wsdl file is not usable as it does not have all the schemas needed. Could you use
?singlewsdl option to produce a full wsdl that contains all necessary types?

Thanks,
Hong Dai

[2017-10-13 22:02] hongdai commented on #2295
Closing it as it's available in 2.0 and no more feedbacks from the customer.

[2017-10-13 22:02] #2295 closed

[2017-10-13 22:05] hongdai commented on #2254
The fix is released in the VS 15.5.0 Preview 1.
You can download it from https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes.

[2017-10-13 22:05] #2254 closed

[2017-10-13 22:06] hongdai commented on #2234
The fix is released as part of VS 15.5.0 Preview 1. Please download it from https://www.visualstudio.com/en-us/news/releasenotes/vs2017-preview-relnotes.

[2017-10-13 22:06] #2234 closed

[2017-10-13 22:23] hongdai commented on #2257
@mpetito Please take a look at https://medium.com/bynder-tech/c-why-you-should-use-configureawait-false-in-your-library-code-d7837dce3d7f

You should use .ConfigureAwait(false) to avoid deadlock, especially in UI application.

[2017-10-14 03:23] mpetito commented on #2257
@hongdai It seems like the generated client code should call `ConfigureAwait(false)` for me.

As mentioned in the link you've provided, *library code* should use `ConfigureAwait(false)` and this makes some sense for various reasons.

But I'm not writing library code.  I'm writing a unit test.  I would expect to not have to worry about `ConfigureAwait` since I'm using `async` all the way down.

[2017-10-14 04:17] blair55 opened #2340 "Add connecting service fails: It was not possible to find any compatible framework version"
I have Visual Studio Preview 15.5 installed on win10.

Steps:
New Project > Visual C# > .NET Core > ASP.NET Core Web Application
Right Click Connected Services > Add Connected Service > MS WCF Web Service Reference Provider
Enter Uri: `https://webservice.s6.exacttarget.com/etframework.wsdl`
Click Go

Output:
[code]

[2017-10-14 07:51] zhenlan commented on #2340
Hi @blair55, thanks for reporting the issue. This is a known issue. As a workaround, can you please install ".NET Core 1.0-1.1 development tools" via the Visual Studio Installer? This issue has been fixed and will be available in the next update.

[2017-10-14 16:51] hongdai commented on #2257
@mpetito Did you hit the problem if you use command line to launch the unit test(not from UI)? The problem here is the UI thread could deadlock.

As you have mentioned, use ConfigureAwait(false) does not apply for all situations. Thus we do not generate it.

[2017-10-14 20:33] mpetito commented on #2257
It seems that the deadlock no longer occurs within Unit Tests, even without `ConfigureAwait(false)`.

I wonder if this was fixed in a recent update to Visual Studio 2017?

[2017-10-15 18:16] blair55 commented on #2340
Thanks @zhenlan, I can work with that. When should I expect the new update?

[2017-10-15 18:47] hongdai commented on #2257
Close the issue as it no longer reproduce in the latest Visual Studio 2017.

[2017-10-15 18:47] #2257 closed

[2017-10-16 07:12] zhenlan commented on #2340
It will be in next update for VS 15.5, so it won't be too long (weeks).

[2017-10-16 07:56] AuroraBrignola commented on #2307
@hongdai  Thank you
[singleWSDL.txt](https://github.com/dotnet/wcf/files/1386589/singleWSDL.txt)

[2017-10-16 14:53] ffocsi commented on #1200
Glad to see all the WCF love. Also I consider it essential for serious adoption of dotnet core. WCF on Linux will be ironically amazing.

[2017-10-17 08:45] qinxiaowen commented on #2270
@timjkelly  sorry,i didn't resolve the problem, i am using .net framework project now.

[2017-10-17 16:00] hongdai commented on #2270
@timjkelly The root cause for the "the service at the following uri does not have any valid endpoints" could be very different. If you have a different service, could you open a new issue?

Thanks,
Hong Dai

[2017-10-18 11:24] tomek14 commented on #1847
@marchchad I do this i that way:

In method "static partial void ConfigureEndpoint(System.ServiceModel.Description.ServiceEndpoint serviceEndpoint, System.ServiceModel.Description.ClientCredentials clientCredentials)" add this code

`  this.ChannelFactory.Credentials.Windows.ClientCredential = System.Net.CredentialCache.DefaultNetworkCredentials;
            this.ChannelFactory.Credentials.Windows

[2017-10-18 19:58] Coruscate5 commented on #1222
Is it possible to just manually extract dotnet-svcutil for the time being? On Windows, I've used svcutil in various occasions when the WCF/SOAP service I'm consuming was built incorrectly - this way I can at least generate scaffolded code that works with methods that aren't broken (as opposed to the current WCF connected service plugin, which is by-and-large all or nothing - if there's an error I

[2017-10-18 20:26] 4gDad opened #2342 "Change URL address (how to configure endpoint for production)."
I'm using the Visual Studio WCF Connected Service addon in my asp.net core project. I from my webapi I am calling an .asmx webservice.  I want to pull change the url address from my test system to my production code.  Based on my searching I am attempting to do this with this line of code

            cvWebService = new PCWSSoapClient(PCWSSoapClient.EndpointConfiguration.PCWSSoap12);

[2017-10-18 22:05] zhenlan commented on #1222
The current dotnet-svcutil shipped in the VS extension is not tested on Mac or Linux, so no guarantees it works... 😄 With that being said, the standalone release of dotnet-svcutil will be our next priority. We were busy with including the WCF connected services tool in-box VS lately and now it's part of VS 2017 starting v15.5.

@Coruscate5, we are improving the WCF connected services tool in our l

[2017-10-18 22:12] insylogo commented on #1200
I personally can't believe the CORE team was allowed to increment major version numbers WITHOUT WCF server-side support. It's probably the single largest bottleneck preventing companies from migrating. Hurry up!

[2017-10-18 23:57] johnvndnbrk commented on #1200
To me I see .NET Core as a huge effort to cut away from System.Web and to update immediately relevant technologies such as Entity Framework, etc.  Having said that, it would still be nice to know if and what role WCF will play in future development.  I was overridden on a choice to use WCF because the Manager wanted to use RESTful services and JSON.  I thought at first "You are joking." I couldn't

[2017-10-19 15:52] Cronan commented on #1200
The point I’m at, is that if I can’t use WCF, I’m going to migrate to gRPC and Protocol Buffers, and at that point I’m asking myself what I’m doing in the Microsoft stack at all anymore ...

[2017-10-19 16:21] abatishchev commented on #1200
Are you saying that WCF is the only thing you need in Microsoft stack? You've might overlooked some things, really.

P..S.
Are you threatening Microsoft and/or the community to leave if won't get WCF Core now? That's hilarious to say the least.

[2017-10-19 16:44] scotthurlbert commented on #1200
Ivan, Insylogo, and John, interesting comments.

I've noticed that the tone of the commentary has shifted decidedly in the
direction you both express.  When I first signed on to this list there seem
to be some reluctance - perhaps a misunderstanding of the need - but as
.NET Core has continued to evolve, the clear desire for enterprise quality
services is growing.

Thanks for adding your voice.

O

[2017-10-20 02:59] Coruscate5 commented on #1222
@zhenlan - thanks for the response! For the most part, the WCF connected service works, except when it doesn't. One particular case appears to be an old MSFT bug in WSDL generation - complex custom types sometimes get assigned to a conflicted namespace (e.g. complex type is in "s1" when it should be "s", which can't be easily corrected even with full access to the service code), and the connected

[2017-10-20 16:12] hongdai opened #2346 "Http CertValMode ChainTrust failed on some linux platform because issue #1295"
Test case: HttpsTests.Https_SecModeTrans_CertValMode_ChainTrust_Succeeds_ChainTrusted

Http CertValMode ChainTrust failed on some linux platform because issue #1295 . However, this test should not involve custom handling of certificates.

[2017-10-20 16:54] hongdai commented on #2275
Nightly runs found that some of the Linux OSes did not get detected. I have fixed it today.
https://github.com/dotnet/wcf/pull/2344

Next step: wait for a few days. If all nightly runs are green, we can enable CI.

[2017-10-20 17:23] johnvndnbrk commented on #1200
Are you threatening Microsoft and/or the community to leave if won't get WCF Core now? That's hilarious to say the least.

I don't believe Microsoft would take such a cavalier attitude to those who have needs, are using the .NET service stack for ESB or application services, and can readily choose to use other technologies out there.  It can be very stressful to be faced with no real good option t

[2017-10-20 18:04] csharpfritz commented on #1200
What features do you need in a WCF service that require .NET Core?

Jeff

On Fri, Oct 20, 2017 at 1:23 PM, johnvndnbrk <notifications@github.com>
wrote:

[2017-10-20 18:16] zhenlan commented on #1953
This is done. The fwlink has been updated.

[2017-10-20 18:16] #1953 closed

[2017-10-20 18:20] ByronAP commented on #1200
that question seems backwards

[2017-10-20 18:25] zhenlan commented on #2332
@shmao can you please sync with @hongdai and take a look?

[2017-10-20 18:36] insylogo commented on #1200
@csharpfritz Linux support.

[2017-10-20 18:54] ByronAP commented on #1200
lol

[2017-10-20 19:17] csharpfritz commented on #1200
That's not a good enough answer to justify an investment to re-write a 10
year old framework that has significant coupling to the Windows platform.
Linux alone is not good enough...

Jeff

On Fri, Oct 20, 2017 at 2:37 PM, insylogo <notifications@github.com> wrote:

[2017-10-20 19:19] ByronAP commented on #1200
Seems like a good enough reason to change the whole .net ecosystem but not WCF... LOL @csharpfritz you too funny

[2017-10-20 19:23] scotthurlbert commented on #1200
I don't want to get into a whole back and forth thing here but it's good
enough for .net core.

Remember, adding linux support is adding support for dozens of platforms
from dozens of vendors.  I would think that after 10 years of being trapped
on Windows that old framework would find it quite liberating.

On Fri, Oct 20, 2017 at 12:17 PM, Jeffrey T. Fritz <notifications@github.com

--
Scott Hurlb

[2017-10-20 19:26] csharpfritz commented on #1200
There are distinct features of .NET that are tightly coupled to Windows: System.Web and WCF as well as WPF and WinForms are four of those frameworks that are not ported to .NET Core for this reason. There are other frameworks and tools in the .NET Ecosystem that can be used for those purposes.

Until .NET Core, there was never a question of being able to run WCF on Linux, and we do not have a comp

[2017-10-20 19:30] insylogo commented on #1200
@csharpfritz I'm sure nobody said anything like that when they decided to deploy SQL server to linux, design .NET core to run on linux, decouple other system.web components from IIS, and port 99% of non-UI .NET code to core.
As mentioned in dozens of replies in this thread, there is no true replacement for WCF that people can convert their WCF endpoints to in any reasonable amount of time in order

[2017-10-20 19:31] ByronAP commented on #1200
WPF and Winforms are a give in since they are EXTREMELY Windows specific. WCF while does have a lot of core Windows underpinning is in fact a viable candidate unlike the rest since a lot of those ties can be broken for Linux use.

[2017-10-20 19:33] ByronAP commented on #1200
Great point about MS SQL Server but I am sure you will get crap from him because it is a paid product

[2017-10-20 19:33] insylogo commented on #1200
@ByronAP you can run an express edition on linux.

[2017-10-20 19:34] ByronAP commented on #1200
yes you can :-)

[2017-10-20 19:35] insylogo commented on #1200
How about this Fritz, give the open source community the WCF source, we'll rewrite it for .NET Core and you can take credit for opening up a major feature to the ecosystem. Win/Win?

[2017-10-20 19:38] ByronAP commented on #1200
It might already be in the repo, will check

[2017-10-20 19:43] insylogo commented on #1200
The first step to decoupling WCF from Windows would be to drop the W. Could call it CF Core ;)

[2017-10-20 19:45] ByronAP commented on #1200
UCF Universal Client Foundation

[2017-10-20 19:46] insylogo commented on #1200
Communication Foundation*

[2017-10-20 19:49] csharpfritz commented on #1200
WCF is not a trivial framework, and is a Windows component... there are plenty of ways to continue running WCF services with Windows and we continue to invest in the .NET framework.

Other products have other business reasons to enhance their platforms. We view WCF as extremely stable, capable, and coupled to Windows.

We have always made source code available at http://sourceof.net

Jeff

[2017-10-20 19:53] insylogo commented on #1200
Nice try, but the source is available but only for reference use, not for modification or extension.

You may view WCF as "extremely stable" and capable, but because of the lack of adoption of .NET Core most people now consider it "extremely deprecated" and incapable.

[2017-10-20 19:58] csharpfritz commented on #1200
Who would be modifying or extending WCF in .NET Framework?  The question
was from some interested developers asking if they can write a compatible
framework for .NET Core...

Why does the lack of .NET Core support make something deprecated?  .NET
Framework 4.7.1 was released this week, along with a preview announcement
of .NET Framework 4.7.2.  New Windows servers are planned, and new Windows
clie