[2016-12-16 02:21] mconnew commented on #1603
That was example code. It sounds like you aren't using NetTcpBinding with all the default settings. Create the binding the same way you normally do then do the steps after the comment in my snippet.

[2016-12-16 04:35] willaimyou opened #1709 "Update tests to skip DataContractResolverTest fail on UWP Runs only with konwn issue"
**adding the following attribute:**
[Issue(1708, Framework = FrameworkID.NetNative)]
[Issue#1708](https://github.com/dotnet/wcf/issues/1708)

**case code path:**
wcf / src / System.Private.ServiceModel / tests / Scenarios / Contract / Data / DataContractTests.4.1.1.cs

**Note:** This will skip the test on UWP runs only and give us clean runs until someone has time to investigate the test.

[2016-12-16 17:02] StephenBonikowsky commented on #1709
@huanwu Could you add the above attribute to the test case so that it gets skipped on UWP runs until you have a chance to investigate the root cause of the failure.

[2016-12-16 17:04] StephenBonikowsky commented on #1708
@huanwu This needs some investigation, it is most likely not the DataContractResolver itself that isn't working in UWP, most likely it is some part of the test code.

[2016-12-16 17:16] brentschmaltz opened #1711 "Consider dropping the 3.5 Claims Model"
This claim model:
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/IdentityModel/Claims/Claim.cs#L39

Was replaced by (in .Net 4.5):
https://github.com/dotnet/corefx/blob/master/src/System.Security.Claims/src/System/Security/Claims/Claim.cs#L50

Any Core implementation should use System.Security.Claims OM.

[2016-12-16 17:57] StephenBonikowsky commented on #1704
Cleaned-up Jenkins runs.
Worked on adding UWP F5 runs to MC.
Verifying serialization 'Flush' fix unblocked test failures.

[2016-12-16 17:57] #1704 closed

[2016-12-16 17:58] StephenBonikowsky commented on #1703
Responded to vendor reports.
Had them open test issues.
Assigned test issues and communicated with Huangli regarding said issues.

[2016-12-16 17:58] #1703 closed

[2016-12-19 09:51] imcarolwang commented on #1708
### message

System.ServiceModel.CommunicationException : net_http_client_execution_error
---- System.Net.Http.HttpRequestException : net_http_client_execution_error
-------- System.NullReferenceException : Arg_NullReferenceException

### stack-trace

   at System.ServiceModel.Channels.HttpChannelUtilities.ProcessGetResponseWebException($HttpRequestException requestException, $HttpRequestMessage r

[2016-12-20 21:15] jnappi commented on #1200
WCF on .NET core will be critical for out migration and adoption of .NET core.  We're leveraging many of the capabilities of WCF and without a clear migration path core won't be as compelling. These are requirements.

1. Transactions
2. A transactional queuing programming model
3. Extensibility model

[2016-12-21 19:02] hongdai commented on #1698
@linflux , I have got a chance to take a look the generated reference.cs. I believe the client credential needs to be set on the clientBase. Could you send me the app.config and reference.cs from the old .NET 4.6 tool? I can probably figure out exactly what needs to be set by looking at the them.

[2016-12-21 19:07] hongdai commented on #1684
@sumanthaus It just takes much longer to investigate if no Repro App provided. That's why I suggested you provide the service if it's feasible.

Given it's very difficult for you, I will attempt to build a similar service.

[2016-12-22 01:55] hongdai commented on #1684
@sumanthaus  Unfortunately I'm unable to reproduce the issue you are seeing by building a web service using the WSDL and SOAP response you provided. The client call succeeded for me.

[2016-12-22 14:48] linflux commented on #1698
@hongdai I sent you an email with the files.

[2016-12-22 21:02] msroest opened #1714 "Connecting to OAuth protected WCF Services"
We have a bunch of OAuth protected WCF services that I'm trying to access from a dotnet core application.  Generally in our full .NET applications we have a IEndpointBehavior which is also a IClientMessageInspector that adds the requisite Authorization header.  Is there a way to do this with the Connected Service clients provided for dotnet core?

Thanks

[2016-12-22 21:57] MattyBoy4444 commented on #1256
Does this really work? I am using a Self Signed Cert and have it installed.   I get the following Exception

`System.ExecutionEngineException was unhandled
Message: An unhandled exception of type 'System.ExecutionEngineException' occurred in System.Private.CoreLib.ni.dll`

Sample Code

`var endpointAddress = new EndpointAddress(new Uri("https://localhost:59006/xyc.svc"), new DnsEndpointIdentity("s

[2016-12-22 22:04] hongdai commented on #1698
@linflux the web.config file seems incorrect. For example, https cannot have basicHttpBinding. Could you double check and ensure all the related information are included? The web.config file is important because 4.6 tools use config file to configure binding security information.

[2016-12-22 23:23] MattyBoy4444 commented on #1256
Forget it.  Turns out it is a known bug in .Net Core 1.1.
[#8148](https://github.com/dotnet/coreclr/issues/8148)

To work around I put the environment variable in

COMPlus_ReadyToRunExcludeList=System.Security.Cryptography.X509Certificates

[2016-12-23 00:56] hongdai commented on #1698
@linflux  After dig into the reference.cs you provided, I figure it out this is the same issue as #702.

Thanks for reporting it! It helps the product team evaluating the priority of the issue.

[2016-12-23 13:24] linflux commented on #702
@maslakov Please, can you show how to do this workaround that you mentioned?

[2016-12-23 14:45] msroest commented on #1714
I seem to have figured it out.  If anyone is looking for this in the future.  The generated serviceClients have a partial method ConfigureEndpoint by implementing that you can add a EndpointBehavior to munge the requests before they get sent.

[2016-12-23 14:45] #1714 closed

[2016-12-23 17:51] texanobta commented on #211
While this is not available to UWP yet, I'd suggest to take a look at my workaround [here](http://stackoverflow.com/a/37326310/2569699).
Do this help you?

[2016-12-24 16:18] huangjinshe commented on #1688
@terrajobst ,sorry for bothering, but is there any response from Xamarin team?  Because if that will take too much time such like a year. I think we need to replace another solution instead of WCF for other platform, currently still waiting for that.

[2016-12-26 20:20] DanielStolt commented on #702
Just a note to illustrate how impactful this issue is: it makes it effectively impossible to integrate with any of the various Salesforce SOAP APIs (including data, metadata, tooling, etc) from .NET Core and UWP (the Add Service Reference gesture in a UWP project evidently suffers from the same limitation). These APIs all rely heavily on SOAP headers for supplying basic things such as authenticati

[2016-12-26 23:54] DanielStolt commented on #702
@linflux OK so I was able to work around this using a message inspector (which I believe is the same workaround that @maslakov refers to) and it seems to work well for both .NET Core and UWP. I decided to whip up a blog post about it:

[Calling Salesforce SOAP APIs from a .NET Core or UWP App](http://www.ideliverable.com/blog/calling-salesforce-soap-apis-from-a-net-core-or-uwp-app)

[2016-12-27 18:48] terrajobst commented on #1688
Hey @marek-safar and @akoeplinger. Could you chime in?

[2016-12-31 00:47] #1699 closed

[2016-12-31 00:49] hongdai commented on #1698
Closing this issue as it's tracked by #702.

[2016-12-31 00:49] #1698 closed

[2017-01-02 12:35] akoeplinger commented on #1688
@marek-safar as far as I know Marcos did a prototype on using the corefx WCF sources, do you know where we ended up with this?

[2017-01-02 13:39] marek-safar commented on #1688
I am not sure why do you think WCF is cross platform but Xamarin WCF support is limited. I don't think this is going to change anytime soon (if ever) as WCF is large and has many hard to port dependencies.

We plan to (would like to) support full subset of WCF .NET Core client APIs but that work has been postponed few times already.

[2017-01-02 16:23] huangjinshe commented on #1688
@marek-safar ,I don't know about other features, but only the Duplex channel we want it so badly for so long time. I really hope you guys has some priority levels for the new implementation.

[2017-01-03 02:30] willaimyou opened #1717 "UWP ILC Runs Test Failure: ExpectedExceptionTests/ServiceRestart_Throws_CommunicationException"
**Note:** this case only failed on UWP ILC Runs until now.
[Logs link](https://mc.dot.net/#/product/components/master/source/official~2Fwcf~2Fmaster~2F/type/test~2Fuwpilc~2Fselfhosted~2F/build/20170102.01/workItem/Client.ExpectedExceptions.Tests/analysis/xunit/ExpectedExceptionTests~2FServiceRestart_Throws_CommunicationException)

**Message**
Assert.Throws() Failure
    Expected: typeof(System.Ser

[2017-01-03 16:34] hongdai commented on #1684
@sumanthaus We will not be able to investigate further without a repro. I'm closing this issue. Please reopen it if you have a repro.

[2017-01-03 16:34] #1684 closed

[2017-01-03 19:07] StephenBonikowsky commented on #1706
Hi @farlop, yeah this GitHub repo is only for .NET Core version of WCF, the team that currently supports WCF in the full framework gets its bugs and other feedback via http://connect.microsoft.com/VisualStudio

[2017-01-03 19:35] StephenBonikowsky commented on #1717
The call stack we get from the F5 run is much more useful...
   at System.ServiceModel.Channels.HttpResponseMessageHelper.ValidateResponseStatusCode()
   at System.ServiceModel.Channels.HttpResponseMessageHelper.<ParseIncomingResponse>d__7.MoveNext()
--- End of stack trace from previous location where exception was thrown ---
   at System.Runtime.CompilerServices.TaskAwaiter.ThrowForNonSuccess(Tas

[2017-01-03 19:41] StephenBonikowsky commented on #1717
Seems to indicate an issue within HttpResponseMessageHelper

[2017-01-03 20:15] mconnew commented on #1706
Also the CallbackBehaviorAttribute is not a contract behavior (meaning it implements `IContractBehavior`) but is an endpoint behavior (meaning it implements `IEndpointBehavior`). See the documentation for [CallbackBehaviorAttribute](https://msdn.microsoft.com/en-us/library/system.servicemodel.callbackbehaviorattribute(v=vs.110).aspx).

[2017-01-03 21:10] StephenBonikowsky opened #1719 "Investigate UWP F5 test failures"
This task is to create necessary issues for each type of failure in the new UWP F5 runs.

Currently around 60 failures.

[2017-01-03 21:22] StephenBonikowsky opened #1720 "Test Monitoring and Maintenance S112"
- Monitor daily test reports from vendors.
- Monitor daily product and test builds, investigate failures as needed.
- Update CoreFx and CoreClr package dependencies as needed.

[2017-01-03 22:19] #1689 closed

[2017-01-03 22:36] zhenlan commented on #702
@shmao, what will be the next step to fix this issue? There are a few more reports of this issue now.

cc: @hongdai

[2017-01-03 22:45] zhenlan commented on #1717
@StephenBonikowsky can you see if the HResult (in the InnerExcpetion) returned is the one we are expecting in code by adding debug trace. If so, please add the 'case' for this.

[2017-01-03 22:48] shmao commented on #702
The next step for us is to make NetCore support serializing types with Soap attributes. This is tracked by https://github.com/dotnet/corefx/issues/10579 and https://github.com/dotnet/corefx/issues/12799. Since we use CodeDom for serializing Soap types on desktop full framework and CodeDom is not available on NetCore, we would need new implementation for this. The current plan is to use reflection

[2017-01-03 22:58] zhenlan commented on #1711
Thanks for the feedback @brentschmaltz. The code we are currently using is consistent with WCF on desktop. It has special logic of handling SOAP. What will be the new value added for WCF user scenarios by switching to S.S.Claims OM?

[2017-01-03 22:59] zhenlan commented on #1706
Closing since this is a desktop issue.

[2017-01-03 22:59] #1706 closed

[2017-01-03 23:02] zhenlan commented on #1709
@huanwu can you please disable the test for now? It's failing in our nightly runs.

[2017-01-03 23:15] StephenBonikowsky opened #1721 "Clean-up string resources."
Remove any String Resource listed in  src/System.Private.ServiceModel/src/Internals/InternalSR.cs that is not referenced anywhere.

[2017-01-04 01:37] #1695 closed

[2017-01-04 01:37] #918 closed

[2017-01-04 01:41] KKhurin opened #1722 "Triage stress lab runs"
This is an ongoing work item to triage our regular stress lab run results.

[2017-01-04 01:44] KKhurin opened #1723 "Weekly Stress Lab Runs"
The plan is to have stress lab runs kicked off weekly on all platforms.

[2017-01-05 01:37] huanwu commented on #1708
This is because the DataContractResolver doesn't work in UWP.
https://github.com/dotnet/corefx/issues/14879

[2017-01-05 01:37] huanwu commented on #1709
This is because the DataContractResolver doesn't work in UWP. https://github.com/dotnet/corefx/issues/14879

[2017-01-05 07:57] avireddy02 opened #1725 "Not able add a WCF service reference Using visual studio 2017 RC"
Not able add a WCF service reference Using visual studio 2017 RC

[2017-01-05 18:59] hongdai commented on #1725
@avireddy02  Assume you meant for .Net Core applications, we are currently working on making WCF connected service tool available on visual studio 2017 RC for .Net Core applications.

[2017-01-05 19:12] shmao commented on #702
My comment above was wrong. I mixed up the bug with other issues. I'm working on a fix for this.

[2017-01-06 00:51] shmao opened #1726 "Update WCF to Take Dependency on NetStandard2.0"
WCF needs to take dependency on NetStandard2.0 to use any new added APIs.

This is blocking https://github.com/dotnet/wcf/issues/702.

[2017-01-06 15:01] ByronAP commented on #1200
Another vote for WC on .net core. I have an entire infrastructure that is being converted to netstandard and core however we are currently deliberating what to do about not having WCF available. WCF for us means that developers can easily consume a complex api with almost no knowledge of it. Without WCF we will either have to abandon a lot of the plans or suffer a decrease in productivity.  :-(

[2017-01-06 18:04] shmao opened #1729 "Update System.Private.ServiceModel to Use NetStandard2.0 on UWP"
System.Private.ServiceModel is building netcore50 assembly for UWP. To use NetStandard2.0 on UWP, it need to build assembly targeting uap101 (or uap101aot).

This is being blocked by https://github.com/dotnet/corefx/issues/14935.

[2017-01-06 19:47] Kralizek commented on #211
I'd like to vote for this feature request.

[2017-01-07 01:27] mconnew commented on #1628
The easiest way to diagnose this is to capture some tracing. Can you run the following command in an administrative command prompt:
[code]
Replace `<temp folder>` with a temporary folder name. Then run your client which is having the delay problems. Afterwards, run the following command:
[code]
This will capture the url's and headers of any outgoing http request so make sure you don't have anythin

[2017-01-07 01:51] shmao opened #1730 "Message_With_XmlElementMessageHeader_RoundTrip Fails on UWP"
I'm adding a new test named Message_With_XmlElementMessageHeader_RoundTrip. This test would fail on UWP due to UWP does not support the new API required by the test.

[2017-01-09 03:34] imcarolwang opened #1731 "async NetTcp with CertAuth/WinAuth deadlock in Stress test"
**Test scenario**:
- CertAuth\3a.NetTcpHello.cmd
- WinAuth\3a.NetTcpHello.cmd

**Scenarios with probably the same cause**:
- CertAuth\4a.NetTcpDuplex.cmd
- CertAuth\4s.NetTcpDuplex.cmd
- WinAuth\4a.NetTcpDuplex.cmd
- WinAuth\4s.NetTcpDuplex.cmd

**Error log**:
Eating timeout #21
Eating timeout #15
System.TimeoutException: Opening the net.tcp://cspod222-10c1.xmlab.net/WcfService1/Service1.svc/netTc

[2017-01-09 04:03] imcarolwang opened #1732 "Test didn't finish elegantly by missing some "task#:done" output after running for the scheduled 15 hours in Stress test"
Have seen in scenarios below:
Linux:
2s_HttpStreaming.sh
5s_NetHttpDuplex.sh
7s_NetHttpStreaming.sh
Windows:
CertAuth\3s.NetTcpHello.cmd

The exception seen after test finished 15 hours' run are different for different test scenario...

[2017-01-09 04:09] imcarolwang opened #1733 "Error while creating the websocket with "CoreClrClientWebSocketFactory" in Stress test with NetHttp binding on Linux"
**Scenario** (running on Ubuntu):
5a_NetHttpDuplex.sh (async: true)
7s_NetHttpStreaming.sh (async: false)

Inconsistently repro during test run :
**Exception**: error while creating the websocket with factory of type "CoreClrClientWebSocketFactory", cannot access a disposed object at System.Net.Sockets.Socket.BeginConnect

[2017-01-09 19:43] #1726 closed

[2017-01-09 22:12] tclev opened #1736 "Reason behind wcf splitting user names with '@' in them."
I'm researching an issue we're having when trying to authenticate with a SharePoint site. Browsers and HttpClient all are able to authenticate using NTLM without issue but WCF fails.

The user name is in the format of "user@somedomain.com". The only thing I can see that's different when capturing the requests using Fiddler is that WCF has a call [here](https://github.com/dotnet/wcf/blob/4ba5c2527b

[2017-01-09 23:32] #702 closed

[2017-01-10 00:53] zhenlan commented on #506
WebSocket client is supported on Linux now.

[2017-01-10 18:04] StephenBonikowsky opened #1739 "Error "XmlReflectionMember cannot be used on the current platform" caused by PR #1727"
The PR #1727 caused a significant increase in our F5 run test failures due to the following...

`System.InvalidOperationException : The API 'System.Xml.Serialization.XmlReflectionMember' cannot be used on the current platform. See http://go.microsoft.com/fwlink/?LinkId=248273 for more information.`

Call Stack

[code]

[2017-01-10 18:35] StephenBonikowsky opened #1740 "Infrastructure failures on F5 runs."
Infrastructure tests are failing on F5 runs, two tests...
- FrameworkID_Was_Detected
- OSID_Was_Detected

...are failing with...

`System.IO.FileNotFoundException : Could not load file or assembly 'System.Runtime.InteropServices.RuntimeInformation, Version=4.0.2.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a' or one of its dependencies. The bound assembly has a version that is lower than that

[2017-01-10 22:04] cperezortiz opened #1741 "Error: Cannot obtain Metadata from http://address?wsdl"
Hi,

I've been trying to generate a soap client from the 'Connected Service' nuget package for visual studio that is based on this project.

The wsdl file is in a private host, I mean, it needs credentials, which are asked in the wizard, but at the end it fails scaffolding the code and throws out this error:

[code]

[2017-01-10 22:17] zhenlan commented on #1725
Thanks for the feedback @avireddy02. This work is tracked by #1664.

[2017-01-10 22:17] #1725 closed

[2017-01-10 22:30] zhenlan commented on #1730
The work is not in WCF. We are waiting for the work to be done in CoreFx to support UWP on NS2.0.

[2017-01-10 22:37] zhenlan commented on #1733
According to @KKhurin, this happens pretty frequently. Next step is to determine if this is fatal or the system can actually recover so we have better understanding of the impact of this issue.

[2017-01-10 22:44] zhenlan commented on #1731
From @KKhurin
- This happens even on single thread
- When this issue happens (async), it has the same stack trace as the sync case

[2017-01-10 22:51] zhenlan commented on #1741
Sorry for running into this @cperezortiz. The CLI tool (svcutil) running under the cover of connected service does not support credentials yet. This is on our radar.

In the meanwhile, as a workaround, can you please save the wsdl as a file locally and load the file in the connected service to generate the code. Please make sure you have updated to the latest version of the WCF connected service.

[2017-01-11 01:29] #1722 closed

[2017-01-11 06:00] gzpbx commented on #1370
@roncain, it's OK for me. And our product is running online. Just weird ...

[2017-01-11 14:26] cperezortiz commented on #1741
thanks for the feedback @zhenlan ,
I tried, downloading the wsdl locally, but looks like this one still needs to get connected to the address, maybe it is looking for some other files, i was told it may need its xds files, but i really don't know.

This is the error when loading it locally:

[code]

if i got those xsd files in the same directory as the wsdl you think that would help?

[2017-01-11 18:11] hongdai commented on #1741
@cperezortiz Could you send me the wsdl and xsd files? I'll attempt the repro and see if I can find a workaround for you.

[2017-01-11 19:09] #1721 closed

[2017-01-11 19:11] StephenBonikowsky commented on #1719
The infrastructure tests are failing in this run so further investigating test case failures is pointless until the infrastructure issues have been fixed.

Closing and using a separate issue for the infrastructure investigation.

[2017-01-11 19:11] #1719 closed

[2017-01-11 19:16] StephenBonikowsky commented on #1717
I have updated the test case with a validation step to make sure that the newly created service host is there and working by calling a simple echo operation.

This validation step is working and the test case is still failing with endpoint not found. This tells us that there is no issue actually hitting the desired operation. When the host is closed in the middle of the operation the wrong excepti

[2017-01-11 23:31] StephenBonikowsky commented on #1717
After analyzing the failure using perfview we clearly see that a second request is sent to the same operation after the service returned a socket error on the first call due to the operation forcibly closing the host.

So the 404 that we eventually get back in WCF is technically correct, but the second call should never have been made. So either the WinRTHttpClient or the WCF version of HttpClient

[2017-01-11 23:59] MattyBoy4444 commented on #1664
Will this be done soon?  Thanks

[2017-01-12 00:04] StephenBonikowsky commented on #1717
It looks like WinRTHttpClient is the winner. @mconnew will follow-up with the correct folks to get this looked at.

Leaving this issue open in the meantime and will use it as the active issue on the test.

[2017-01-12 00:21] StephenBonikowsky opened #1745 "Test Case 'Message_With_MessageHeaders_RoundTrips' Failure"
This test case began failing on UWP ILC runs after PR #1727 was merged.
Unfortunately UWP ILC teststack traces are not useful, the exception was...

`System.ArgumentNullException : ArgumentNull_Generic`

We would normally get more useful information from the same test case failing in the F5 runs but that same PR that caused this test case failure caused a much larger number of tests in the F5 runs

[2017-01-12 00:41] shmao commented on #1745
This failure seems to me more likely caused by PR #1735. The PR added a new operation in the existing service where the this failing test sit. The new operation is marked with [XmlSerializerFormatAttribute] which would trigger UWP Toolchain doing something special for the ServiceContract. I suspected that caused the failure of this pre-existing test. If that's the case, to fix this we can put the

[2017-01-12 00:56] StephenBonikowsky commented on #1720
Added ActiveIssues to a couple test cases PR #1744
Tested new Agent queues for VSO, reported issue and signed-off once completed.
Updated dependencies in PR #1742
Merged a couple of the automated CoreClr and CoreFx dependency updates. PR #1738 and PR #1737

[2017-01-12 08:22] phillip-haydon commented on #1200
This couldn't be any better of a reason to NOT support WCF.

[2017-01-12 08:53] scotthurlbert commented on #1200
Phillip,

It's possible you misunderstood the comment.  I believe the reason that
Allen made that comment (and I'd love to hear his actual reason) is that
using WCF gives you two specific things in terms of an API.  First, it's
gives the true separation of dependencies and implementation (ala - the
actor model and service orientation).  Second, it supports an interface
based programming model <htt

[2017-01-12 15:28] ByronAP commented on #1200
What I mean by that is, I don't have to write a thousand page how to and hand it over for someone else to use the API. So, if I say to another dev hey the API you need for that is at this address I can basically end the conversation at the when using WCF.

Phillip, are you saying you don't like productivity? Do you not like the idea of inexperienced devs? Are you a "I am the greatest dev alive" gu

[2017-01-12 15:55] pholly opened #1746 "System.ServiceModel.Http 4.3.0 doesn't work with .net framework 4.5.2"
Steps to reproduce:
1. Create a new Asp.net core / .net framework project in Visual Studio 2015, keeping framework version 4.5.2
2. Add "System.ServiceModel.Http" 4.3.0 to project.json

When I upgrade to .net version 4.6.1 my errors go away and I can reference `System.ServiceModel` in my app.

[2017-01-13 11:43] phillip-haydon commented on #1200
Do I like being productive, absolutely. That means, never using WCF.

I think I would rather become a rice farmer than ever touch WCF again.

[2017-01-13 15:32] phillip-haydon commented on #1200
This is another good reason to not support WCF. Years of people implementing designs using WCF based on false assumptions or mythical functionality.

[2017-01-13 16:02] nathan-alden commented on #1200
I understand that WCF provides value to many, many people, but does that mean .NET Core should support it? WCF seems to be at least partially tightly-coupled to Windows--the antithesis of .NET Core. How many shops relying on WCF actually _need_ to deploy on Linux? I think that would be a bad architectural decision. If things are running so smoothly now considering the tight-coupling, why change it

[2017-01-13 17:57] shmao commented on #1739
Here's the list of Contract.Message.Tests starting failing since [20170109.02](https://mc.dot.net/#/product/components/master/source/official~2Fwcf~2Fmaster~2F/type/test~2Fuwp~2Fselfhosted~2F/build/20170109.02).

[code]

[2017-01-13 21:00] scotthurlbert commented on #1200
Nathan

Which parts are you talking about?  There are some protocols that WCF
supports that are Windows specific but I'm not aware of WCF being windows
specific.

And yes, there is a ton of code that it would be advantageous to deploy on
Linux for the same reasons that any .NET core code should be run on Linux.

I'm surprised at the anti-WCF bias here.  Where is this coming from?  It
seems...in ap

[2017-01-13 21:10] websitewill commented on #1200
Seems as though, *still*, many folks look at WCF as "just web services" as
opposed to seeing it for what it actually is, and what *lots *of people use
it for: a modern communication stack and framework for building systems.
WCF isn't just about web services - in fact, it is *very little* about web
services.

On Fri, Jan 13, 2017 at 4:01 PM, Scott Hurlbert <notifications@github.com>
wrote:

--
*Wil

[2017-01-13 21:15] StephenBonikowsky commented on #1740
After some analysis this does not look like it is going to be an easy issue to track down.

In light of the engineering changes that are coming (https://github.com/dotnet/corefx/issues/15135) and that CoreFx is going to have to work on their own UWP ILC and F5 runs as part of this process it makes sense to just wait until we switch over to this same engineering system at which point it is likely t

[2017-01-13 21:15] #1740 closed

[2017-01-13 21:16] StephenBonikowsky commented on #1717
Reopening as we need it for the ActiveIssue on the test case.

[2017-01-13 23:02] alfred-c commented on #1200
Nathan: If the premise of .NET Core is to be everywhere, there ought to be a universal mechanism (WCF, or an improved successor to WCF) that connects everything together, don't you think? Why should it matter to your apps what platform your devices are running? Likewise, why should it matter how to get a message from point A to B reliably and securely, handling the serialization/deserialization, o

[2017-01-14 03:46] ByronAP commented on #1200
@phillip-haydon If you don't like it, don't use it!!! Why try and stop others from using it? and most importantly why do so with absolutely no information just flaming? sorry but show me, tell me why?

I have been using WCF on some major back end infrastructure since 2013 and have never had a problem.

I am currently refactoring/rewriting a lot of WCF code to use on Linux which will use what I hav

[2017-01-14 06:54] scotthurlbert commented on #1200
Websitewill,

Thanks for the comment and not just because I'm part of the choir.  If they
don't move WCF to .NET Core then there are a host of other things that
can't be built.  Yet, if they do build it there will be little to no impact
on the dissenters. So on one hand, it's a big deal to those of us that want
it and can use it and it's of no importance to those that don't so I don't
care at all

[2017-01-14 07:07] scotthurlbert commented on #1200
Hey Alfred,

Thanks for the response.  I figured it was transactions you were talking
about.  You got me curious so I pulled out PWCF and scanned the
Transactions chapter.

I'm 100% sure you right about MSDTC in practice since everything until now
has been run on Windows, but my scan of the chapter suggested that WCF does
this by supporting several "transaction protocols," the distributed one
bein

[2017-01-18 01:43] #1723 closed

[2017-01-18 18:05] mconnew commented on #1717
I've tracked down the issue to a bug in Windows. The UAP native HttpClient is resubmitting the POST request when the server resets the socket after the entire request has been successfully received.

[2017-01-19 18:46] StephenBonikowsky commented on #1415
ProtectionLevel is planned for netstandard 2.0 but not in yet.

[2017-01-20 14:10] jjoschyy opened #1748 "Migrate Basic Authentication from Non-DotNet.Core WCF service"
I tried to migrate the following code to DotNet.Core using WCF 0.4.21213.0:

[code]

If I use the "new" version, the server returns:
_**"User null is not an authenticated user. Check user name and password and retry**._

Thank you very much for any help.

[2017-01-20 19:53] zhenlan commented on #1415
We will resume this work when ProtetionLevel is available on UWP/NS2.0.

[2017-01-20 19:56] zhenlan commented on #1628
I am closing this for now. @Lcng please let us know if you need anything else.

[2017-01-20 19:56] #1628 closed

[2017-01-21 01:09] StephenBonikowsky commented on #1720
Investigate new infrastructure failures in VSO.

[2017-01-21 01:10] #1720 closed

[2017-01-21 01:11] StephenBonikowsky commented on #1416
Need to finish this next Monday. Going to complete it for this milestone.

[2017-01-21 01:11] #1416 closed

[2017-01-21 18:45] TroelsL opened #1749 "Unable to ignore server certificate errors in Linux"
I used the new Add Connected Service feature to add service references in my .NET Core project based on WDSLs.

Now, since the service I'm communicating with is a legacy device, its certificate is out of date/self-signed/broken chained.

I fixed this by adding:

`client.ClientCredentials.ServiceCertificate.SslCertificateAuthentication = new X509ServiceCertificateAuthentication()
            {

[2017-01-21 22:56] TroelsL commented on #1749
After some investigation, I'm beginning to doubt that it is a SSL error. I installed the certificate on the Ubuntu machine, and I still get the same error.

[2017-01-22 21:29] TroelsL commented on #1749
Still digging into this. If I call my service 'https://myhost/ws/authentication' on ubuntu with:
curl https://myhost/ws/authentication
I get:
`curl: (35) gnutls_handshake() failed: The TLS connection was non-properly terminated.`

If I add -sssv3, I get an actual certificate validation error:
`*   Trying myhost...
* Connected to myhost (192.168.1.xx) port 443 (#0)
* found 174 certificates in /etc/

[2017-01-23 14:57] ArgTang opened #1750 "VS extention not supported on VS17rc"
I tried installing this extension on VS17rc, but it wont install
https://marketplace.visualstudio.com/items?itemName=erikcai-MSFT.VisualStudioWCFConnectedService

 -  -Found installed product - Visual Studio Community 2017 RC
 -  -VSIXInstaller.NoApplicableSKUsException: This extension is not installable on any currently installed products.

[2017-01-23 17:58] hongdai commented on #1750
https://marketplace.visualstudio.com/items?itemName=erikcai-MSFT.VisualStudioWCFConnectedService only applies to VS15. We are currently working on an extension for VS17. Will let you know once it's available.

[2017-01-24 02:46] zhenlan commented on #1750
@ArgTang, for your information, this work is tracked in #1664. I am closing this issue.

[2017-01-24 02:46] #1750 closed

[2017-01-24 02:54] #1709 closed

[2017-01-24 12:35] trend900 opened #1753 "Update service reference?"
Hi team! Hope everyone is doing great back there.

Im using the Visual Studio WCF Connected Service addon in my asp.net core project. the issue that i have is that every time i make any change to my service i need to delete the entire service reference and add it again for it to pick up the changes.

In full .net framework projects there is an option named "Update service reference" that does just

[2017-01-24 20:38] KKhurin opened #1754 "Triage stress lab runs"

[2017-01-24 20:49] KKhurin opened #1755 "Investigate if the default connection pool size isn't enough for current stress tests"
Looks like this is one of the contributing factors to running out of ports in Net.Tcp scenarios...

[2017-01-24 20:50] KKhurin opened #1756 "Weekly stress lab run"

[2017-01-24 20:58] KKhurin opened #1757 "E2E scenario for WCF client running in containers"
As the product codebase stabilizes we are going to move towards various end-to-end scenarios to catch a different kind of fish. This is the first dive for stress to come up with end-to-end container stress.

[2017-01-24 22:27] zhenlan commented on #1757
Plan
- [ ] .NET Core console app using WCF client for http and net.tcp bindings, cert auth
- [ ] ASP.NET Core app using WCF client (mid-tier scenario) for http and net.tcp bindings and cert auth
- [ ] Instructions of how to setup and run above

[2017-01-24 22:53] zhenlan commented on #1748
Hi @jjoschyy, `client.ClientCredentials.Windows.ClientCredential` is for windows authentication. Could you please try to use `ClientCredentials.UserName` for basic authentication you are using?

[2017-01-24 22:56] zhenlan commented on #1745
We will revisit this when corefx is done with bringing up UWP to support NS2.0.

[2017-01-25 01:24] #1504 closed

[2017-01-25 06:37] zhenlan commented on #1746
Hi @pholly the v4.3.0 of all WCF packages including System.ServiceModel.Http supports .NET Standard 1.3. As you can see from [.NET Standard Versions](https://github.com/dotnet/standard/blob/master/docs/versions.md), .NET Standard 1.3 is supported by .NET Framework 4.6 or higher. This is why it works when you can use WCF packages in an ASP.NET Core app targeting .NET Framework 4.6.1 but it does not

[2017-01-25 07:20] zhenlan commented on #1753
Hi @trend900, thank you and hope you are doing well too!

We are currently prioritizing to bring existing functionality of WCF Connected Service to VS2017 and support the new MSBuild based .NET Core project system first. I will keep this request in the backlog for the consideration in our future planning. Thank you for the feedback!

[2017-01-25 07:54] zhenlan commented on #1370
Closing. Thanks for the update @gzpbx!

[2017-01-25 07:54] #1370 closed

[2017-01-25 09:08] cederlof commented on #1200
We have a customer that require a portable backend/service-solution (Linux-host) based on open source software, serving SOAP. As a .NET-shop, we see a future .NET Core WCF-service as an alternative, as we need to consider Java at this point.

[2017-01-25 12:52] stamo opened #1758 "MemoryStream is empty"
I have a service witch transfers file using WCF. I have used it with .NET 4.5 and everything is OK. I want to migrate it to .NET Core and I have used this library to generate the client. Everything is working perfectly except the file transfer. The stream is always empty.

[2017-01-25 14:36] pholly commented on #1746
@zhenlan Thanks. Based on https://www.nuget.org/packages/System.ServiceModel.Http/ I thought it supported 4.5 as well.

[2017-01-25 18:10] bc3tech commented on #1370
so.... this is closed because it works now? my error above should no longer happen?

[2017-01-25 20:33] ByronAP commented on #1200
@cederlof I was working on my own but then I came across ServiceWire which with a very minor teak worked out well for me.

[2017-01-25 20:36] zhenlan commented on #1370
Sorry for my brevity @bc3tech. Please let me explain.

This issue is about "why WSHttpBinding convert to CustomBinding" in the code generated by WCF Connected Service. The [answer](https://github.com/dotnet/wcf/issues/1370#issuecomment-233484463) to that is because WSHttpBinding is currently not supported. I understand CustomBinding may not work for all scenarios as an alternative solution. To ult

[2017-01-25 20:40] masaeedu commented on #1665
@zhenlan I'm still getting this error with 0.4.21213.0

[2017-01-25 20:49] zhenlan commented on #1665
@masaeedu is it possible you can share a simplified repo? We will then take a look. Thank you!

[2017-01-25 20:52] zhenlan commented on #1758
@stamo thanks for reporting the issue. Would you mind to share the code snippet that does not work for you?

[2017-01-25 20:57] masaeedu commented on #1665
@zhenlan I'm just creating a blank .Net Core class library project and trying to add the service reference. The problem once again seems to be that the global.json in `C:\Users\asaeeduddin\AppData\Local\Temp\WCFConnectedService\2017_Jan_25_15_54_04\svcutil_bootstrap` looks like this:

[code]

with no version locking to the preview2 sdk. Either the global.json needs to have:

[code]

Or the global.

[2017-01-25 21:33] scotthurlbert commented on #1200
Does ServiceWire work on .NET Core?  I am not seeing anything about that on
their website, but I'm not sure where to look for it.  In the history it
says standard .net library.

Scott

On Wed, Jan 25, 2017 at 12:33 PM, Allen Byron Penner <
notifications@github.com> wrote:

--
Scott Hurlbert
Technical Architect
415-378-9908
scotthurlbert@hotmail.com
AIM: scottahurlbert
Skype: hurlbert
GTalk: scotta

[2017-01-25 21:48] zhenlan commented on #1746
@pholly when you target for full .NET Framework, you don't need to reference any of these WCF packages. Under the cover it's system.servicemodel.* DLLs from .NET Framework installed on your machine that are used. It will work when you target for 4.5.2 too.

[2017-01-25 22:55] ByronAP commented on #1200
@scotthurlbert  yes https://github.com/tylerjensen/ServiceWire it is under servicewire.core pull the src, update the packages and apply my pull request and you should be up and running

[2017-01-25 22:56] ByronAP commented on #1200
or simply use my repo https://github.com/ByronAP/ServiceWire

[2017-01-25 23:59] masaeedu commented on #1665
For anyone else running into this who needs a quick hack. Simply go to `C:\Program Files\dotnet\sdk` and temporarily rename any sdk versions above 2.1 so that a .json project format compatible SDK is used.

[2017-01-26 11:07] stamo commented on #1758
@zhenlan thanks for your quick reply. Here is a sample of code, where the client is generated with dotnet/wcf (core version)

            var request = new GetInvoicePDFRequest("164235", new DateTime(2017, 1, 25), 1, false, 0, 217);
            var result = client.GetInvoicePDFAsync(request).Result;
            byte[] ms = result.GetInvoicePDFResult.ToArray();

And here is the same sample in .Net

[2017-01-26 14:25] cederlof commented on #1200
@ByronAP thanks! However it doesn't seem like ServiceWire can _serve_ SOAP? We get WSDL-files from the customer to implement using SOAP.

All the best! Cederlof

[2017-01-26 15:07] masaeedu commented on #1345
@zhenlan Is there a way to mechanically transform the serializer code generated by the original svcutil to .NET Core compatible code? E.g. I have [this service](https://1drv.ms/u/s!Al6mzY0CpY7EnHsHvCrPXoY8xctu) and the corresponding [serializers file](https://1drv.ms/u/s!Al6mzY0CpY7EnHqBRDyg-z0ctrjk) generated using the svcutil /t:xmlSerializers flag. Would it be possible to tweak this in some way

[2017-01-26 19:28] pholly commented on #1746
@zhenlan Ahhhh, thanks! No wonder. Closing.

[2017-01-26 19:28] #1746 closed

[2017-01-27 02:31] KKhurin opened #1759 "Add stress and perf coverage for IEnumerable return types"

[2017-01-27 02:41] KKhurin opened #1760 "Add WCF service call timeout tracking to stress"
Currently we have a simple mechanism for tracking if our relatively infrequent calls to Channel&Factory Open()/Close() get stuck in stress. We need to add a suitable mechanism for tracking a lot more frequent service calls.

[2017-01-27 21:51] MissyMelissa commented on #76
Any updates?

[2017-01-28 02:02] zhenlan commented on #1664
@MattyBoy4444 thanks for querying. As I mentioned earlier, I hope we can have a preview release by the time VS2017 reaches its final release. By then the .NET Core tooling and the MSBuild-based project system hopefully will also reach a relative stable state, which is an important foundation for WCF Connected Service to deliver reasonable quality and functionalities that we are comfortable with.

[2017-01-28 13:45] zipswich opened #1761 "UWP app error related to connected service when compiled with .NET Native tool chain"
I have [a problem](https://social.msdn.microsoft.com/Forums/windowsapps/en-US/824feffd-db62-4147-aa63-0e30620c63b3/uwpc-using-connected-services-with-net-native-enabled-fails?forum=wpdevelop)  very similar to two issues reported here: [1](https://github.com/dotnet/wcf/issues/1449), [2](https://github.com/dotnet/wcf/issues/356), so I thought I might get kind advice here.
The app works flawlessly wh

[2017-01-29 22:28] krzycho1024 commented on #1665
Seems changing project.json into:
[code]
helps to generate, but breaks "Data Type Options" tab- "Error parsing JSON File ..."

[2017-01-30 13:35] nicojmb opened #1762 "WCF Service Reference - ASP.NET Core 1.1 - Microsoft Dynamics NAV 2016"
When try to add SOAP Service give me this error:

![image](https://cloud.githubusercontent.com/assets/5610392/22424758/3a74304a-e6f8-11e6-90be-c9eff2e05dae.png)

The web service is a codeunit published in Microsoft Dynamics NAV 2016 (https://msdn.microsoft.com/es-es/library/hh166300(v=nav.90).aspx)

if access from browser get this code:

`<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="

[2017-01-30 14:30] nicojmb commented on #1762
The Dynamics Web service was misconfigured, now work ok without modify .net

[2017-01-30 14:30] #1762 closed

[2017-01-30 22:57] StephenBonikowsky commented on #486
Test had already been added for this scenario some time ago.
Test case: Extensibility.WebSockets.WebSocketTests.WebSocket_Http_VerifyWebSocketsUsed()

[2017-01-30 22:58] #486 closed

[2017-01-30 23:02] StephenBonikowsky commented on #416
Discussed with @mconnew and @hongdai and we think we should be fine to just use the x-unit timeout. It doesn't help with debugging but solves the problem of test runs hanging.

The property to set is: https://github.com/dotnet/buildtools/blob/master/src/Microsoft.DotNet.Build.CloudTestTasks/PackageFiles/CloudTest.targets#L60

[2017-01-31 00:54] KKhurin commented on #1755
We'll need to change the pool settings for high frequency channel recycling NetTcp scenarios.

[2017-01-31 00:54] #1755 closed

[2017-01-31 19:16] StephenBonikowsky opened #1765 "Test/Build Infrastructure Monitoring and Maintenance - S113"

[2017-01-31 19:17] #416 closed

[2017-01-31 20:21] mconnew commented on #1749
Unfortunately, HttpClient doesn't support SSL3. If you check the source of `System.Net.Http.CurlHandler.SslProvider.SslCtxCallback` [here](https://github.com/dotnet/corefx/blob/28e8fdf7fb6717e29206a155abc6d92308ef3663/src/System.Net.Http/src/System/Net/Http/Unix/CurlHandler.SslProvider.cs#L153), you'll see SSL3 is specifically disabled. There's nothing that can be done in WCF to enable this. SSL3

[2017-01-31 20:40] TroelsL commented on #1749
I feared as much. I read about how SSL is now persona non grata at .NET Core. I completely understand that SSL is open to many vulnerabilities, but unfortunately, as you already guessed, I have absolutely no control over the legacy device in the other end.

I think completely disabling SSL is a bad choice as it makes .NET Core non-functional for legacy systems. I'd have to resort to python or *shu

[2017-01-31 20:56] mconnew commented on #1736
The method `FixNetworkCredential` is called when you have specified to use Windows integrated authentication (or Negotiate is another name for it). If you have provided a username in the format user@domain and have specified to use Windows credentials, then the username can unambiguously be interpreted as the username being the part before the @ and authentication domain being the part after the @

[2017-01-31 21:35] #1749 closed

[2017-01-31 22:20] zhenlan commented on #1759
@KKhurin can you please add functional test for this scenario as the first step?

[2017-01-31 22:30] zhenlan commented on #1758
@stamo can you please let us know, in your dotnet core code, what's the type of this line?
[code]
As well, what's the type of `GetInvoicePDFResult` in the line below?
[code]

[2017-01-31 22:44] zhenlan commented on #946
This issue has been worked around by #1569. However, the scenario still does not work E2E and it is tracked by #1589.

[2017-01-31 22:44] #946 closed

[2017-01-31 22:56] zhenlan commented on #1411
This is a large work item. We will have to put it in future backlog and prioritize among other things.

[2017-02-01 07:49] zhenlan commented on #1504
@KKhurin made fix #1752 for this issue.

[2017-02-01 09:11] zhenlan commented on #1665
@masaeedu I gave this a try with a .NET Core class library created out of default template in VS2015. Here is how my project.json looks like.
[code]
The WCF Connected Service worked just fine. Please note, as mentioned in this [blog post](https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-1-1/) (search *Upgrading .NET Standard Library Projects*), it is **not** recommended to up

[2017-02-01 09:17] zhenlan commented on #1665
@krzycho1024 not sure I follow. How can I get to "Data Type Options" tab?

[2017-02-01 09:46] zhenlan commented on #1345
@masaeedu I see no better way other than trying to fix up the code (generated by desktop svcutil) manually by compiling it against .NET Core. But this is just the first half of the story - for the pre-generated serializers to be used, the serialization runtime has to be updated to be aware of them and use them. This second half is not yet present in .NET Core.

cc: @shmao @huanwu

[2017-02-01 10:01] stamo commented on #1758
@zhenlan sorry for the unclear code.

 Here is the GetInvoicePDFAsync method signature:
`System.Threading.Tasks.Task<InvoiceServiceReference.GetInvoicePDFResponse> GetInvoicePDFAsync(InvoiceServiceReference.GetInvoicePDFRequest request);`

so it is
`GetInvoicePDFResponse result = client.GetInvoicePDFAsync(request).Result;`

and here is the GetInvoicePdfResult property definition:
`public System.IO

[2017-02-01 10:23] stamo commented on #1758
And here is the WSDL file
[Invoices.zip](https://github.com/dotnet/wcf/files/744526/Invoices.zip)

I hope this helps :)

[2017-02-01 21:50] #1754 closed

[2017-02-02 02:52] zhenlan commented on #1758
@mconnew could this be a failure of `MemoryStream.ToArray()` on dotnet core?

@stamo did you try to read from the memory stream instead of calling ToArray?

[2017-02-02 07:13] stamo commented on #1758
@zhenlan Yes, ofcourse. This was the first thing I've tried, but it never worked. Even in the old library, when I try to read from the stream, an exception is thrown. Something like "Can't read from closed stream.". And in the new library the stream is empty. It has 0 length and when I try to read it, I get 0 bytes.

I will try to get code sample from he service, but it is not mine service, so I a

[2017-02-03 21:25] zhenlan commented on #76
@MissyMelissa thanks for querying. This is still in our backlog.

[2017-02-06 03:58] masaeedu commented on #1665
@zhenlan AFAIK 1.0.0-preview2-1-003177 is also compatible with project.json and global.json, so you wouldn't see the issue if this is the highest version you have installed. If you install Visual Studio 2017, you'll get a higher version (I think right now RC3), which *only* supports csproj and has no support for project.json/global.json. It seems the VSIX tool generates a global.json in a temp fol

[2017-02-06 04:24] masaeedu commented on #1345
@zhenlan I've been trying to make this work. One of the things I'm stuck with is the lack of an obvious parallel to `XmlSerializationWriter` and `XmlSerializationReader`. There's `XmlReader` and `XmlWriter`, but the API seems too different to port easily, and the the `XmlSerialization____` classes aren't very well documented because they were supposed to be internal APIs.

[2017-02-06 17:19] shmao commented on #1345
@masaeedu `XmlSerializationWriter` and `XmlSerializationReader` have been added in [dotnet/corefx](https://github.com/dotnet/corefx/). And they would be available in .Net Core 2.0. To try .Net Core 2.0, which is not released yet, you may want to have a look at [How to get up and running on .NET Core 2.0](https://github.com/dotnet/corefx/blob/master/Documentation/project-docs/dogfooding.md).

[2017-02-07 18:08] zhenlan commented on #1761
@shmao is this something known?

[2017-02-07 18:16] shmao commented on #1761
It seems that UWP toolchain failed to generate the required serializer.

@zipswich would you be able to share a simple repro application with us? I will be more than happy to have a look.

[2017-02-08 04:46] zhenlan commented on #1665
@masaeedu thank you. I see what you mean now. We did not consider this SDK breaking change when we initially created the WCF Connected Service for VS2015. We probably could lock the temp project to the same SDK version of the user project. Now in VS2017, with the global.json going away, hopefully this is not an issue anymore when we have the WCF Connected Service for VS2017 available, but we will

[2017-02-08 23:14] zipswich commented on #1761
Thanks a lot for willing to lend a hand here, @shmao   I actually submitted a ticket more than a week ago. David (Microsoft Engineer handing this ticket) has looked into it a lot.  Let me bring him here.  He is the best person to coordinate this.

[2017-02-11 07:36] stamo commented on #1758
@zhenlan Hi, again. I've asked my coleagues to change the return type of the service to byte[] (from MemoryStream) and everithing worked. So this is a good workaround.

[2017-02-13 19:36] StephenBonikowsky opened #1773 "Add Scenario test for S.SM.Channels.UnderstoodHeaders"
Added the Contract and Unit tests as part of PR #1767
Now need to add a scenario test.

[2017-02-13 19:37] StephenBonikowsky commented on #1419
Created Issue #1773 for adding the scenario test.

[2017-02-13 19:37] #1419 closed

[2017-02-13 19:38] StephenBonikowsky commented on #1765
Spent a lot of time working on getting WCF to build against the new CoreFx 2.0 meta package.
Product is building fine but the test infrastructure is having difficutlies.
Will continue working on this in the next sprint.

[2017-02-13 19:40] StephenBonikowsky opened #1774 "Test/Build Infrastructure Monitoring and Maintenance - S114"
In addition to normal monitoring of product and test builds and runs I will be working on getting a successful test build and run using the latest CoreFx packages.

[2017-02-13 19:40] #1765 closed

[2017-02-13 22:11] #1693 closed

[2017-02-13 22:12] KKhurin commented on #1756
The run has completed with some results to triage&investigate.

[2017-02-13 22:12] #1756 closed

[2017-02-14 00:41] KKhurin opened #1776 "Investigate the results of run 25005"
New results are in - need to triage and ivestigate.

[2017-02-14 00:44] KKhurin opened #1777 "New stress run"

[2017-02-14 08:55] zhenlan commented on #1758
Thanks @stamo for the update and sharing the workaround!

[2017-02-14 08:56] zhenlan commented on #1748
@jjoschyy please let us know if you have other questions. Closing.

[2017-02-14 08:56] #1748 closed

[2017-02-14 22:07] zhenlan commented on #1736
@tclev please let us know if you have any other questions. Closing.

[2017-02-14 22:07] #1736 closed

[2017-02-14 22:57] zhenlan commented on #1420
This is already in our implementation. The next step is to
- [ ] Add to contract
- [ ] Add unit tests

Note: determine if this needs to go in with DataContract serializer behavior.
cc: @mconnew

[2017-02-15 04:31] KKhurin commented on #915
this is fixed with  #1752

[2017-02-15 04:31] #915 closed

[2017-02-15 21:48] hongdai commented on #1414
Yes, dotnet svcutil is using this API: XmlSerializerImportOptions

[2017-02-16 01:18] KKhurin opened #1780 "Add logic to tolerate "transient" errors in stress"
At times during stress runs we have network problems, server recycles, and other transient conditions that add noise to the stress runs. Currently stress stops on any non-timeout exception. This is good from one perspective (no failure goes unnoticed), and not so great from another one (we're not validating recovery from such incidents). We need to add some control of what and how much we'll toler

[2017-02-16 19:00] mconnew commented on #1758
@stamo, I believe changing the return type to byte[] will significantly increase the size of the data sent over the wire. An array of anything is treated like a collection of that item, so I would expect a byte[] would be serialized something like this:
[code]
Which as I'm sure you can imagine will make everything a lot bigger. When the service returns a Stream, WCF serializes this as base64 encod

[2017-02-17 17:37] StephenBonikowsky opened #1783 "Add additional tests for XmlSerializerFormatAttribute"
We need at least one scenario test.
We also need to add a unit test to validate the SupportFaults property, analyse if there is a scenario for this property as well.

[2017-02-21 07:15] weitzhandler opened #1784 "Is WCF dead?"
Hi,

I know the title is a bit rude, but I know many users are looking for this title so they better get over here and read official stuff rather than fake news.

Anyway I'm reading non-official articles and rumors that [WCF is dead](https://blog.tonysneed.com/2016/01/06/wcf-is-dead-long-live-mvc-6/) Hi, I see you're online, can you please refer to my question on the WCF room?

I'm about to start

[2017-02-23 09:24] haavardheggheim commented on #8
I need this too!

[2017-02-23 16:59] massimopasquali commented on #1762
HI,
I have solved this problem, and you? Now, my problem is that I don't know how to consume the webservice on NAV. Can you explain me how have you done to authenticate and using the webservices function?

[2017-02-23 18:51] huangjinshe commented on #1784
I was waited `WCF` for support `Xamarin` for years already. I even added a request: [Could you guys let some of the team members go to update WCF of Xamarin.Android and Xamarin.iOS?](https://github.com/dotnet/wcf/issues/1688)

`Windows phone` dead for sure now (even I took so much hope before). But for other mobile platforms..... `WCF` really not take care (or they take care but some people like C

[2017-02-24 12:55] Hainesy commented on #211
+1 want to connect to a discovery proxy

[2017-02-24 19:24] zhenlan commented on #1414
@StephenBonikowsky can you see if it is feasible to bring this type to Core because only part of CodeDom is available?

[2017-02-25 01:22] #1776 closed

[2017-02-25 20:00] ganesh1984hary commented on #1623
I am facing issue while adding asmx service in .NetCore Console application. I am using WCF Connected Service extension as add web reference is not available.  So i followed the same steps which was suggested in following link https://blogs.msdn.microsoft.com/webdev/2016/06/26/wcf-connected-service-for-net-core-1-0-0-and-asp-net-core-1-0-0-is-now-available/

After completing all  step it provided

[2017-02-28 04:57] ganesh1984hary opened #1787 "How to consume credential based webservice (asmx) in Asp.net Core web application?"
I am facing issue while adding asmx service in .NetCore Console application. I am using WCF Connected Service extension as add web reference is not available. So,I followed the same steps which was suggested in following link
 https://blogs.msdn.microsoft.com/webdev/2016/06/26/wcf-connected-service-for-net-core-1-0-0-and-asp-net-core-1-0-0-is-now-available/

After completing all step it provided a

[2017-02-28 22:31] zhenlan commented on #506
At this point, we still don't have any functional tests in WebSocket scenario using client cert.

[2017-02-28 22:33] #689 closed

[2017-02-28 22:36] zhenlan commented on #783
We don't see an impact of this issue at this moment. Closing.

[2017-02-28 22:36] #783 closed

[2017-02-28 22:40] #1092 closed

[2017-02-28 22:45] #1255 closed

[2017-02-28 22:48] #1269 closed

[2017-02-28 22:49] zhenlan commented on #1274
@huanwu is there anything more we need to do about this issue? Can this be closed?

[2017-02-28 22:54] zhenlan commented on #1363
This API won't be ported to corefx.

[2017-02-28 22:54] #1363 closed

[2017-02-28 22:59] #1490 closed

[2017-03-01 02:28] StingyJack commented on #1687
FWIW, this happens with mstest also.

Create a new solution, add an asp.net core project, add a class with some empty methods, add a unit test project, code a test, get annoyed with having to run command lines outside the best ide ever, install mstest and ms test runner instead of xunit, maybe update other packages that are out of date.... and then this.

[code]

[code]
![image](https://cloud.gith

[2017-03-02 03:04] KKhurin commented on #1732
#1760 should help us with this.

[2017-03-02 12:54] psimoneau22 commented on #1200
The main usage scenario for our company would be using ChannelFactory<T> to generate clients that use a SHARED(server/client) contract For communication between a web-layer (client facing) WebApi and a Backend service layer WebApi (exposed on the internal network only).  There is no easy way to make a client that uses the same contracts on the server and client without a lot of boilerplate.  We ha

[2017-03-02 17:34] #1420 closed

[2017-03-02 18:44] StephenBonikowsky commented on #1414
At a high level the necessary pieces of CodeDom have been added to CoreFx.

However, WsdlNS.WebReferenceOptions does not yet exist. It lives in the namespace 'System.Web.Services.Description', I'm not sure who owns this namespace. In full framework it is located under NetFx2.0. @zhenlan any ideas?

[2017-03-03 01:14] imcarolwang commented on #1732
- for test with netHttp binding, #1733 is mainly responsible for this issue.
- with #1760 applied, I have seen test stopped with output "WcfService1.IStreamingService requests timed out: 2" in the CertAuth netTcpStreaming scenario.

[2017-03-03 20:12] Priya91 opened #1792 "Basic httpsbinding client certificate fails on *nix but works on windows"
_From @mwdavisii on July 19, 2016 12:58_

This is a cross post from dotnet/KestrelHttpServer and WCF. I've closed that issue as it is not Kestrel related, but I apologize for the cross-posting, I'm still learning about the different repositories and what functions are where.

 I have some functionality that is working on windows, but fails on all of the unix droplets I've spun up. I'm seeing one t

[2017-03-03 20:12] Priya91 commented on #1792
_From @ericeil on September 8, 2016 18:32_

@mwdavisii, I'm sorry for the slow response to this issue.  Thank you for reporting it!  Before I dig in further, have you made any progress on this from your end since reporting this?

[2017-03-03 20:12] Priya91 commented on #1792
_From @mwdavisii on September 8, 2016 18:56_

No worries! No, I haven't been able to get past it. I ended up writing a class wrapper to call a bash script I wrote that calls curl directly. It feels nasty, but I commented the function heavily and added a link to this issue with the hope of making it work the right way one day.

[code]

I suspect it's not a very common problem as we're consuming a v

[2017-03-03 20:12] Priya91 commented on #1792
_From @karelz on March 2, 2017 19:19_

@Priya91 can you please triage it?

[2017-03-03 20:58] #1760 closed

[2017-03-04 00:26] huanwu opened #1793 "Expose several API for svcutil tool"
New expose the following API, which will be used in svcutil.
ContractDescription.GetContract (Type contractType)
XmlSerializerOperationBehavior class and GetXmlMappings method
OperationDescription Behaviors Property and its returned type KeyedByTypeCollection

[2017-03-06 17:13] shr87 opened #1794 "Adding a Java SOAP service using Add Connected Service"
Is there a way we could add Java soap service reference in a .net core project?

I tried adding using WCF Connected Service under Add Connected Service option. I get below error.

Error: Cannot obtain metadata from https://address....wsdl
Please check that you have enabled metadata publishing at the specified address.
An error occurred while sending the request. A security error occurred.

I also

[2017-03-06 17:39] joeyaiello commented on #1792
Just want to throw a +1 in here that this is blocking a number of customers using VMware's PowerCLI with PowerShell on Linux (specifically CentOS, openSUSE, or any distros where libcurl is not compiled with libssl).

[2017-03-06 19:11] zhenlan commented on #1777
We had a new stress run for #1760.

[2017-03-06 19:11] #1777 closed

[2017-03-06 19:14] #1425 closed

[2017-03-06 19:21] karelz commented on #1792
@Priya91 what is the gist of the problem? Is it a bug in WCF? Or outcome of older libcurl version on the OS?

[2017-03-06 19:22] karelz commented on #1792
cc @shmao @zhenlan as it seems to be impactful

[2017-03-06 19:47] zhenlan commented on #1741
@cperezortiz can you try to download the WSDL as a single WSDL file as a workaround? You can find more details from http://blogs.microsoft.co.il/idof/2011/09/17/whats-new-in-wcf-45-a-single-wsdl-file/.

[2017-03-06 21:27] #1774 closed

[2017-03-06 21:27] StephenBonikowsky opened #1795 "Test/Build Infrastructure Monitoring and Maintenance - S115"

[2017-03-06 21:30] zhenlan commented on #1793
@huanwu can you please open separate issues for each API and link to this issue? It will be easier to distribute the work. Please also include full API information (namespace etc.) to avoid any ambiguity. Thanks!

[2017-03-06 21:39] huanwu opened #1796 "Expose ContractDescription.GetContract (Type contractType)"
Need expose ContractDescription.GetContract (Type contractType) so as to be used in svcutil too.

[2017-03-06 21:39] huanwu opened #1797 "Expose XmlSerializerOperationBehavior.GetXmlMappings"
Need expose XmlSerializerOperationBehavior class and GetXmlMappings method to be used in svcutil

[2017-03-06 21:40] huanwu opened #1798 "Expose OperationDescription Behaviors Property"
Need expose OperationDescription Behaviors Property and its returned type KeyedByTypeCollection to be used in svcutil.

[2017-03-06 21:43] huanwu commented on #1793
#1796 #1797 #1798

[2017-03-06 23:38] moliveto opened #1799 "Wcf Proxy"
In net 4.5 we are working with proxy like this:

	<system.net>
		<defaultProxy enabled="true" useDefaultCredentials="false">
			<proxy usesystemdefault="True" proxyaddress="http://192.168.1.1:8888" bypassonlocal="True" autoDetect="False" />
			<module type="CommonLibrary.Proxy.MyProxy, CommonLibrary, Version=1.0.0.0, Culture=neutral" />
		</defaultProxy>
		<settings>
			<httpWebRequest useUnsafeHe

[2017-03-07 07:10] zhenlan commented on #1797
@huanwu is #1420 what you need?

[2017-03-07 19:17] mchender commented on #1664
@zhenlan any update on this now that Visual Studio is RTM?

[2017-03-07 21:24] AGohel opened #1800 "Visual Studio 2017"
Unable to find Visual Studio WCF Connected Service from Visual Studio 2017. Unable to add service reference using Connected Services in Visual Studio 2017 core project.

[2017-03-07 23:20] mlacouture commented on #1664
The WCF Connected Service for 2017 is here: https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService

[2017-03-07 23:45] zhenlan commented on #1800
Hi @AGohel you can download and install WCF Connected Service for VS 2017 from VS gallery. Please let us know if you run into any issues.

https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService

[2017-03-07 23:50] #1800 closed

[2017-03-08 05:41] zhenlan commented on #1794
@shr87 are you able to download the metadata from a browser?

cc: @mlacouture @hongdai

[2017-03-08 11:04] hanssens commented on #1664
As far as I'm concerned, this issue is closed for me now that VS2017 is supported and available.

[2017-03-08 11:04] #1664 closed

[2017-03-08 14:57] OHjeffhudson opened #1801 "Unable to configure service reference that uses windows auth."
Attempting to add an reference to the Exchange webserices that use windows Auth at https://xxxxxx.com/ews/services.asmx.   The Wizard finds zero services.  Fiddler shows that the request receive a 401, unauthorized.  It appears that the wizard is not passing credentials when requested.

Visual Studio 2017 is running as user that has rights to read this data.  I can view the wsdl in Internet Explor

[2017-03-08 16:03] fletchsod-developer opened #1802 "Lot of error CS0234 using VS-2017 (03/07/2017 release date)"
Now that WCF Connected Service is working in VS-2017 (as of 03/07/2017 release date), I'm getting errors that doesn't occurred in VS-2015.  Hard to say if this is WCF related, VS related or Tooling related.

VS Enterprise 2017 --> VisualStudio/15.0.0-RTW+26228.4
.NETCoreApp 1.1

Notice: Connected Service is not visible using the latest 2017 RTM update, workaround is to go to Tools --> Extensions &

[2017-03-08 18:12] zhenlan commented on #1802
Hi @fletchsod-developer, sorry for running into this and thanks for reporting the issue.

I gave this a try and was able to generate the service reference against your ptwireless.asmx service successfully. Based on the error message, it looks like the package references were missing or packages did not restore somehow. Are you able to build the project successfully before invoking the WCF Connecte

[2017-03-08 18:17] hongdai commented on #1802
@fletchsod-developer It looks like the proxy is already generated(Connected Services\PassTimeCodeClient\Reference.cs) from the error message, was it your second try to regenerate it?

[2017-03-08 18:18] zhenlan commented on #1801
Hi @OHjeffhudson, sorry for running into this and thanks for reporting the issue.

WCF Connected Service does not support service metadata secured by authentication yet. As a workaround, could you please try to download the metadata into a file from a web browser (use  [singleWsdl](http://blogs.microsoft.co.il/idof/2011/09/17/whats-new-in-wcf-45-a-single-wsdl-file/) if you have modular WSDL in mul

[2017-03-08 19:16] fletchsod-developer commented on #1802
That's strange!  It works now.

I tried it multiple times & still errors.   Look like clean, rebuilt, restart visual studio, or restore NuGet package does the trick.

Strange!   Glad it work out great now!   You know how Visual Studio are after so many changes to IDE.

Thanks again.

[2017-03-08 19:29] fletchsod-developer commented on #1802
Wait a minute.   I see the issue now.   Here's the 2 urls.

https://secure.passtimeusa.com/PTCodews/PTCode.asmx
https://secure.passtimeusa.com/ptwirelessws/ptwireless.asmx

Do those urls one at a time in order.  It work the 1st time (with 1st URL) then error 2nd time (with 2nd URL).

If you can't reproduce this error with 2nd time adding of Connected Services reference, then feel free to close thi

[2017-03-08 22:46] moliveto commented on #1592
@epignosisx you can provide us an a sample how to set HttpClientHandler to WCF client?

[2017-03-09 00:09] huanwu commented on #1797
yes, need expose this class.

[2017-03-09 01:13] mlacouture commented on #1802
Hi @fletchsod-developer!

Thank you for reporting this issue.   We determined this to be a problem with the WCF Connected Service tool which does not save the project after adding the package references required for the proxy code to compile.

As a workaround, you can save the project manually (Ctrl-Shift S, or File->Save All) after adding the first service reference.

hope this helps,
Miguel

cc:

[2017-03-09 04:16] zhenlan commented on #1797
@huanwu I may not ask the question clearly. The API is already added by #1420 (that issue is already closed). Can you please check if what @1420 added is all you need by this issue?

[2017-03-09 06:04] zhenlan commented on #1799
Hi @moliveto, there are multiple things here.

As you already noticed in #1592, we don't have something for this today, but we may be able to add APIs to wire this up in a future release.

For WCF on .NET Core, we have changed to use HttpClient instead of HttpWebRequest and relaxed a little bit of how to add unsafe headers. Are there particular headers you are concerned with? Did you give it a try

[2017-03-09 11:21] RaviTejaKaruturi opened #1803 "Not able to generate a service reference using connected service"
Hi,

I am trying to generate a soap client in .net core class library project, using connected service(v 0.4.21213.0).
It throws this error
[code]
WCF service was built on .NET Framework 4.5.2.  Currently, .net core class library project is also targeting .NET framework v4.5.2.

I am successfully able to generate a soap client  using "add service reference" in an existing project.
I was looking at

[2017-03-09 14:15] fletchsod-developer commented on #1802
I leave this in your hand now.   Feel free to close this ticket if you feel necessary.  I have no objection.  (Cuz I do not know if your team feel this need attention or considered resolved).

I'm able to make this work after some trials and errors, so I'm okay now.   (I also found creating a standalone solution with no package references dependency does help, then move the files into the other so

[2017-03-09 20:29] mlacouture commented on #1803
Hi @RaviTejaKaruturi!  Can you please provide some details about the service you are using? the security error message makes me think the service has some binding elements that are not currently supported in .net core:

_An error occurred while sending the request. A security error occurred_

if you can share somehow the wsdl so we can reproduce it the issue that would be great.

thanks,

[2017-03-09 20:43] mlacouture commented on #1794
@shr87, regarding this: _I also tried by pointing to the locally saved wsdl and schema files, but it does not work._, what errors do you get?

[2017-03-09 20:47] mlacouture commented on #1753
@trend900, you can overwrite the service reference by specifying the same namespace, can you try that and provide your feedback?

thanks,

[2017-03-10 10:58] YZahringer opened #1804 "Support .NET Standard & Xamarin with Visual Studio WCF Connected Service"
The "WCF Service" option in the connected services are not available on .NET Standard 1.3 project. This would be useful for Xamarin projects.

[2017-03-10 19:23] hongdai commented on #1804
@YZahringer are you using vs2015, or vs2017?

[2017-03-10 19:25] YZahringer commented on #1804
The support is missing on VS2015 and 2017, but I currently use VS2017

[2017-03-10 21:21] hongdai commented on #1804
Which project template you use on VS2017? WCF connected service supports .NET Standard 1.3 projects. I see the option in Visual c# -> .Net Standard -> Class Library.

[2017-03-11 10:18] YZahringer commented on #1804
Yes it works with a .NET Standard 1.3 project.

I think this does not work with a .NET Standard project and Xamarin.Forms because it has to do imports "portable-win+net45+wp8+win81+wpa8".

I stil have an error when I add the service on .NET Standard project: Unable to resolve 'dotnet-svcutil (>= 0.5.10306-preview)' for '.NETCoreApp,Version=v1.1'.

[2017-03-11 10:43] YZahringer commented on #1804
I generated the service by command line with dotnet-svcutil.exe from VS2015 and added manuelly to the .NET Standard Xamarin project.

The service call works well with a UWP application.

The same service with an Android application generates an error:
[code]

[2017-03-13 08:34] imcarolwang opened #1806 "Security NetTcpStreaming test scenario fail with System.ObjectDisposedException on Windows in Stress"
This is first seen in CertAuth\8s.NetTcpStreaming.cmd, with both SendTimeoutMSecs and ReceiveTimeoutMSecs increased to 120000ms.

**Stacktrace**

3/10/2017 6:32:50 AM 3 1700
RecyclePooledFactories
System.ServiceModel.CommunicationObjectAbortedException: The socket connection has been disposed.
 ---> System.IO.IOException: The read operation failed, see inner exception.
 ---> System.ServiceModel.Co

[2017-03-13 17:44] bobmclaren opened #1807 "Unable to resolve 'dotnet-svcutil (>= 0.5.10306-preview)' for '.NETCoreApp,Version=v1.1'"
With a fresh install of VS 2017, and the WCF Service - Preview tooling installed, when I attempt to add a service reference to a new dotnet core console app, I receive the following error and the scaffolding fails.

[2017-03-13 17:58] chris5287 commented on #1803
I am getting the following error:

[code]
[DocumentContentService.wsdl.txt](https://github.com/dotnet/wcf/files/839161/DocumentContentService.wsdl.txt)
[DocumentContentService.xsd.txt](https://github.com/dotnet/wcf/files/839160/DocumentContentService.xsd.txt)

[2017-03-13 20:09] zhenlan opened #1808 "Support Xamarin projects by WCF Connected Service"

[2017-03-13 20:54] talnurani commented on #1808
Hi, I develop xamarin forms app and I need a WCF Service to connect to my app. The only service support now is Azure and it costs a lot! I want to use WCF but it doesn't work :(

[2017-03-14 01:04] zhenlan commented on #1808
Hi @talnurani, would it be a feasible workaround for you if you use the "Add Service Reference" in a .NET Framework console app or the WCF Connected Service in a .NET Core console app to get the service reference file generated (reference.cs) and then copy the file to your Xamarin project? Certainly, you will also need to manually add assembly references like `System.ServiceModel.dll` and `System.

[2017-03-14 01:12] zhenlan commented on #1802
@fletchsod-developer thanks for reporting the issue. We will use this to track the bug @mlacouture is fixing.

[2017-03-14 01:33] zhenlan commented on #1804
Hi @YZahringer, as noted in WCF Connected Service [download page](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService), we only target .NET Core and ASP.NET Core projects at this point. UWP projects already have "Add Service Reference" support built in. You did make us realize the gap for Xamarin projects and I've opened #1808 to track this. I will follo

[2017-03-14 06:05] talnurani commented on #1808
Ok. I'll try this.

[2017-03-14 08:48] chris5287 opened #1810 "Add Mtom support in WCF runtime"
I am getting the following error when using the Visual Studio WCF Connected Service extension for Visual Studio 2017:

[code]

The WSDL/XSD file causing the issue:
[DocumentContentService.xsd.txt](https://github.com/dotnet/wcf/files/840688/DocumentContentService.xsd.txt)
[DocumentContentService.wsdl.txt](https://github.com/dotnet/wcf/files/840687/DocumentContentService.wsdl.txt)

dotnet --info
[co

[2017-03-14 19:00] hongdai commented on #1807
@bobmclaren Sorry to hear that you are running into the issue.

Could you collect the logs and send it to me? I'll take a look what's going wrong.
1. Find the log directory under %temp%\WCFConnectedService
2.  Zip all the files under the log directory.
3.  Zip dotnet-svcutil package folder under your local package cache, such as %systemdrive%\Users\<loginname>\.nuget\packages if it **exists**.

Th

[2017-03-14 21:16] hongdai commented on #1810
Hi Chris, this is because WCF runtime currently does not support Mtom. Potential workaround is try to disable Mtom on the service side if you have access to the service.

If your scenario needs Mtom support, please go ahead open a issue for WCF runtime to consider adding the support.

Thanks,
Hong

[2017-03-14 21:31] chris5287 commented on #1810
Hi Hong, I'm afraid I do not have control over the server side :(

Where do I need to raise the issue to add Mtom support, or does this issue already cover it?

[2017-03-14 21:54] zhenlan commented on #1711
Potentially this can be done by Message Inspector to add the support of System.Security.Claims OM. This can be a separate component that does not have to be in WCF core.

[2017-03-14 21:55] #1711 closed

[2017-03-14 22:53] hongdai commented on #1810
I think you can rename this issue to add Mtom support in WCF runtime. We share the same git Repro.

[2017-03-15 02:24] hongdai commented on #1807
@bobmclaren Could you check if you have a package resource name "local" and it's unchecked from Tools -> Options -> NuGet Package Manager -> Package Sources?

If so, you can workaround the issue by rename local to something else, this is because the WCF connected service tool uses this name. We will fix the issue in the next release.

[2017-03-15 06:42] mlacouture commented on #1802
We have a fix and will be available in the next release.

[2017-03-15 06:42] #1802 closed

[2017-03-15 13:33] bobmclaren commented on #1807
I have confirmed I do not have a package source named "local" configured.  I just emailed you a zip file with the requested log files.  Please note that the dotnet-svcutil package was not found in my local package cache.
Thank you again for your time.

[2017-03-15 14:43] bobmclaren commented on #1807
Update:
I copied the project to another machine and was able to successfully scaffold a service.  After copying the dotnet-svcutil package from my working machine to my first machine, I am now able to scaffold on both machines.  I still cannot explain why my first machine was unable to resolve the package after multiple attempts, on the same network as my second machine, but all is well that ends

[2017-03-15 14:43] #1807 closed

[2017-03-16 23:54] danmosemsft opened #1811 "SecurityNegotiationException not found in Core"
@linflux commented on [Thu Mar 16 2017](https://github.com/dotnet/corefx/issues/17211)

Hi,
I have an issue with a WCF Soap Service that throws me an SecurityNegotiationException:

`
System.ServiceModel.Security.SecurityNegotiationException: Could not establish trust relationship for the SSL/TLS secure channel with authority 'foobar.com'.
---> System.Net.Http.HttpRequestException: An error occurre

[2017-03-17 07:23] wangchong666 commented on #1697
+1

[2017-03-20 03:38] ByronAP commented on #1784
It's not dead but I feel as though they are cutting there nose off not supporting netstandard as a server :-(

[2017-03-20 09:47] Edward-Zhou opened #1812 "Basic Authentication in Asp.net Core"
I created a Asmx Web service and host it in IIS, in MVC, I could call it from below code:
`            BasicWebService.WebService1 client = new BasicWebService.WebService1();
            client.Credentials = new System.Net.NetworkCredential("xx", "xx","xx");
            string result = client.HelloWorld();`
In Asp.net Core, I tried WCF Connected Service Visual Studio Extension, and it generate the

[2017-03-21 00:36] hongdai commented on #1812
@Edward-Zhou Sorry for running into this and thanks for reporting the issue.
WCF Connected Service does not support service metadata secured by authentication yet. As a workaround, could you please try to download the metadata into a file from a web browser (use singleWsdl if you have modular WSDL in multiple files), then restart the WCF Connected Service and enter the full path to the downloaded

[2017-03-21 00:49] hongdai opened #1813 "Unable to resolve 'dotnet-svcutil (>= 0.5.10306-preview)' for '.NETCoreApp,Version=v1.1'"
Scaffolding Code ...
Error:Error: Restoring packages for C:\Users\Administrator\AppData\Local\Temp\WCFConnectedService\2017_Mar_17_20_34_33\svcutil_bootstrap\project.csproj...
Restoring packages for C:\Projects\WorkSpace\Nic\Server API\ServerAPI\ServerAPI\ServerAPI.csproj...
Restoring packages for C:\Projects\WorkSpace\Nic\Server API\ServerAPI\ViewModelCore\ViewModelCore.csproj...
Restoring packag

[2017-03-21 01:23] zhenlan commented on #1813
Same issue to #1807?

[2017-03-21 02:21] Edward-Zhou commented on #1812
@hongdai Thanks for your feedback. But I think the issue is not the service metadata. I secure asmx web service by IIS Basic Authentication, and I could generate client code by enabling Anonymous Authentication in IIS which could get the same result by generating client code by local wsdl file.
But, we need to provide user name and password when we access the service if we only enable Basic Authen

[2017-03-21 04:49] hongdai commented on #1813
This issue is reported by a different customer(Sinoheh Enayati) on the download page. It could be same issue. Waiting for Sinoheh confirmation to see if it needs further investigation.

[2017-03-21 05:14] hongdai commented on #1812
@Edward-Zhou You are right it's not the service metadata as you already work around the issue by enabling Anonymous Authentication.

WCF Connected Service Visual Studio Extension does not yet support generating authenticated client code. However there should be a workaround as WCF runtime already supports it. Could you send me the generated reference.cs? I'll give a try to help you add basic authe

[2017-03-21 05:22] Edward-Zhou commented on #1812
@hongdai Thanks very much.
Here is the reference.cs.
`namespace ServiceReference3
{

    [System.CodeDom.Compiler.GeneratedCodeAttribute("dotnet-svcutil", "0.4.0.0")]
    [System.ServiceModel.ServiceContractAttribute(ConfigurationName="ServiceReference3.WebService1Soap")]
    public interface WebService1Soap
    {

        [System.ServiceModel.OperationContractAttribute(Action="http://tempuri.org/

[2017-03-21 11:54] gregp55305 commented on #1813
I just received this same error.

[3/21/2017 6:41:30.073 AM] Adding WCF Service - Preview to the project.
[3/21/2017 6:41:30.088 AM] Scaffolding Code ...
[3/21/2017 6:41:37.652 AM] Error:Error: Restoring packages for C:\Users\pennerg\AppData\Local\Temp\WCFConnectedService\2017_Mar_21_06_41_30\svcutil_bootstrap\project.csproj...
  Restoring packages for C:\Dev\Test Projects\aspnetcorewcf\aspnetcore

[2017-03-21 13:15] Cae2 commented on #1813
not sure if its related but after I installed the package and tried to scaffold an asmx I got:

[21/03/2017 10:08:23],41,  Installing dotnet-svcutil 0.5.10306-preview.
[21/03/2017 10:08:23],41,C:\Program Files\dotnet\sdk\1.0.1\NuGet.targets(97,5): error : Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Composition 1.0.27 suppo

[2017-03-21 16:02] hongdai commented on #1813
@gregp55305 Could you check the below Nuget.Config file to see if package resource 'local' is disabled machine wise?

c:\Users\pennerg\AppData\Roaming\NuGet\NuGet.Config
C:\Program Files (x86)\NuGet\Config\Microsoft.VisualStudio.Offline.config

If so, you can workaround the issue by rename the disabled 'local' package source.

Please let me know if it helps,
Thanks,
Hong

[2017-03-21 16:34] hongdai commented on #1812
Assume you use EndpointConfiguration.WebService1Soap, you need to change following code, I bolded the lines need modification:
 private static System.ServiceModel.Channels.Binding GetBindingForEndpoint(EndpointConfiguration endpointConfiguration)
        {
            if ((endpointConfiguration == EndpointConfiguration.WebService1Soap))
            {
                   **System.ServiceModel.BasicH

[2017-03-21 18:02] gregp55305 commented on #1813
I don't see a package source called 'local' in either of those config files. Here are the contents of both of those config files:

NuGet.Config:

<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/in

[2017-03-21 18:06] gregp55305 commented on #1813
Hmm the contents of the config files didn't paste...

NuGet.Config:

`<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <activePackageSource>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </activePackageSource>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="IHC Package Source" value="ht

[2017-03-21 21:30] zhenlan commented on #1811
We can add `SecurityNegotiationException` to the contract. Thanks for reporting this @linflux.

[2017-03-21 22:21] hongdai commented on #1813
@gregp55305  in the C:\Users\pennerg\AppData\Local\Temp\WCFConnectedService\2017_Mar_21_06_41_30\svcutil_bootstrap\NuGet.Config, could you check if dotnet-svcutil.0.5.10306-preview.nupkg exists in the 'local' package source path?

[2017-03-21 22:53] hongdai commented on #1813
@gregp55305 I noticed that you global Nuget config file specify only one active package resource. This might cause package not found problem according to http://docs.myget.org/docs/how-to/nuget-configuration-inheritance.

Could you change it to below:
 <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>

Thanks,
Hong

[2017-03-21 23:24] gregp55305 commented on #1813
I'll check that when I get back to work tomorrow. Would it be possible for you to post an example of a global Nuget config file or does that not make sense?

[2017-03-21 23:38] hongdai commented on #1813
This is what on my machine. Be aware of that I do not use activePackageSource.
[code]

[2017-03-22 00:22] gregp55305 commented on #1813
You have referred to a 'local' package source a couple of times, what exactly does that mean?

[2017-03-22 03:16] hongdai commented on #1813
@gregp55305 We uses this name in our bootstrap tool, you can see an example in C:\Users\pennerg\AppData\Local\Temp\WCFConnectedService\2017_Mar_21_06_41_30\svcutil_bootstrap\NuGet.Config

[2017-03-22 04:45] Edward-Zhou commented on #1812
@hongdai  Thanks a lot, it works by changing to Https url under your code.
[code]
I am wondering whether it is possible under http url.

[2017-03-22 07:51] imcarolwang opened #1815 "Request stuck without exception thrown by WCF but was detected by test code in Stress run"
Scenarios:
(windows) CertAuth\2a.HttpStreaming.cmd
(windows) CertAuth\8a.NetTcpStreaming.cmd
(Linux) 2s_HttpStreaming.sh

[2017-03-22 12:47] gregp55305 commented on #1813
I updated the activePackageSource value to what you suggested and then closed out of all instances of Visual Studio. I also located the nuget.config file with the 'local' reference and confirmed the path for the packageSource in that file does exist. Then restarted VS 2017, but the end result was the same when trying to generate connected wcf service.

[2017-03-22 14:39] hongdai commented on #1813
@gregp55305 I'm sorry to hear that you are still hitting the issue.
To further diagnose, Could you:
1) go to folder C:\Users\pennerg\AppData\Local\Temp\WCFConnectedService\2017_Mar_21_06_41_30\svcutil_bootstrap
2. Rename 'Local' in the NeGet.Config to a Guid(to make sure it's unique across your machine).
3. The run the command:
`dotnet restore`

Let me know if step 3) succeeded for you.

Thanks,
H

[2017-03-22 15:23] gregp55305 commented on #1813
step 3 did succeed. I assume that you wanted me to run dotnet restore from the project root directory.

[2017-03-22 15:26] gregp55305 commented on #1813
Or did I need to run that from the svcutil_bootstrap directory?

[2017-03-22 15:31] gregp55305 commented on #1813
I ran 'dotnet restore' from the svcutil_bootstrap directory. That failed. The message is familiar. "Unable to resolve 'dotnet-svcutil ()= 0.5.10306-preview' for '.NETCoreApp,Version=v1.1

[2017-03-22 18:33] hongdai commented on #1813
This looks like a nuget problem. There is one more thing you can try.

1. Go to the svcutil_bootstrap.
2. dotnet add package dotnet-svcutil -v 0.5.10306-preview -s "the path to where the package located"
3. If 2) succeed, it will cache the package in your local nuget package cache, the issue should be gone.

[2017-03-22 18:50] gregp55305 commented on #1813
Progress, but no success:  Received another error:

`[3/22/2017 1:47:35.233 PM] Adding WCF Service - Preview to the project.
[3/22/2017 1:47:35.242 PM] Scaffolding Code ...
[3/22/2017 1:48:03.091 PM] Error:Warning: Cannot import wsdl:binding
Detail: An exception was thrown while running a WSDL import extension: System.ServiceModel.Channels.StandardBindingImporter
Error: The method or operation is

[2017-03-22 19:40] robertmiles3 opened #1816 "Is using "net.msmq" no longer support from the WCF client in .NET Core?"
We have an app (full framework) currently calling a WCF service of ours via something like this...

    new TestServiceClient("NetMsmqBinding_ITestService", "net.msmq://localhost/private/MsmqService/TestService.svc")

We are porting this full framework app over to core, and was able to successfully add the WCF reference and it builds the models. However, when trying to spin up the client similarly

[2017-03-22 19:42] hongdai commented on #1812
Yes. You should be able to use http url by changing:

System.ServiceModel.BasicHttpBinding result = new System.ServiceModel.BasicHttpBinding (System.ServiceModel.BasicHttpSecurityMode.Transport);

to
System.ServiceModel.BasicHttpBinding result = new System.ServiceModel.BasicHttpBinding (System.ServiceModel.BasicHttpSecurityMode.**TransportCredentialOnly**);

[2017-03-22 19:50] hongdai commented on #1813
Great to hear it work around the Nuget issue!

For the new issue you hit, it looks like your service requires a feature .dotnet core does not support yet, such as **message security**. See a similar issue in **https://github.com/dotnet/wcf/issues/1354**

[2017-03-22 20:18] philcarbone opened #1817 "Could this be used to replace the OData connected service?"
We are looking at the "Visual Studio WCF Connected Service"
https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService

...and we are currently using the "OData Connected Service" found here: http://odata.github.io/odata.net/#OData-Client-Code-Generation-Tool

Is the "Visual Studio WCF Connected Service" something that can be used instead of the "OData Connecte

[2017-03-22 20:35] gregp55305 commented on #1813
The service does require credentials to be supplied, is that what you mean?

[2017-03-22 20:38] hongdai commented on #1813
Yes. The tool does not support generating authenticated client yet.

[2017-03-22 20:43] robertmiles3 commented on #1816
I see now that the new WCF client generator only generated the "MetadataExchangeHttpBinding" binding and not the "NetMsmqBinding". Any reason why?

[2017-03-22 23:26] CIPop opened #1818 "NegotiateStream on UWP (WCF Windows authentication over NetTcp)"
Moved from https://github.com/dotnet/corefx/issues/14560

@cmatj commented on Dec 16, 2016:

Trying to communicate with a WCF service from a UWP app using NetTcpBinding and Windows authentication will throw a System.PlatformNotSupportedException. The binding is defined like this:

   NetTcpBinding binding = new NetTcpBinding();
   binding.Security.Mode = SecurityMode.Transport;
   binding.Security

[2017-03-22 23:30] CIPop commented on #1818
@cmatj I have moved this item as the APIs in the sample are WCF, not part of CoreFX.

I believe that WCF will require System.Net.Security / NegotiateStream before this feature becomes available in UWP.

[2017-03-22 23:33] CIPop commented on #1818
My bad: the title is clear that the issue was tracking NegotiateStream.

[2017-03-22 23:33] #1818 closed

[2017-03-23 01:38] Edward-Zhou commented on #1812
Perfectly. Thanks a lot.

[2017-03-23 11:42] gregp55305 commented on #1813
So, can you explain what the nuget issue was? I am running the latest version of that.

[2017-03-23 14:40] hongdai commented on #1813
I don't actually know exactly what the nugget issue was. It has to do with how nuget resolve paths in nuget configuration inheritance. It seems `dotnet add package -s `command does not use the nuget config file to resolve package sources That's why it can workaround the issue.

[2017-03-23 16:28] zhenlan commented on #1816
Hi @robertmiles3, MSMQ is a Windows specific feature and not available cross platform, so it is not supported in WCF on .NET Core. You can review [this doc](https://github.com/dotnet/wcf/blob/master/release-notes/SupportedFeatures-v1.1.0.md) for the list of supported features.

[2017-03-23 17:51] zhenlan commented on #1817
Hi @philcarbone, WCF Connected Service is not a replacement for OData Connected Service. Please continue using OData Connected Service for OData or seek further suggestions from OData team.

[2017-03-24 18:13] zhenlan commented on #1402
Plan for the next step
- [ ] Come up tests based on desktop WCF
- [ ] Add APIs to the contract and check-in tests
- [ ] Add APIs implementations and enable tests when check-in

[2017-03-24 18:33] zhenlan commented on #1758
@hongdai has reproduced the issue. Further investigation is needed to understand why is this behavior.

[2017-03-24 18:43] #1812 closed

[2017-03-24 18:55] hongdai commented on #1687
@sam-wheat  VS2017 just released and .net core project system has significant changes. I would recommend you give it a try. Let me know if you still hit issues. I'll help you to route issues to the right people to take a look.

[2017-03-24 21:10] Priya91 commented on #1792
@karelz I haven't investigated this issue, the apis in use are not in .NET Core, these are specific to WCF.

[2017-03-25 22:58] robertmiles3 commented on #1816
@zhenlan I have a Core app that is targeting the full framework, yet it looks like MSMQ bindings are still not available (or, at least the binding isn't created with the tool). Is that correct? It does, however, look like there are some MSMQ-related objects in the `System.ServiceModel.Channels` now.

[2017-03-27 03:14] zenixgrace opened #1825 "How do I use custom encoding (ISO-8859-1) when adding the service reference?"
Hello,

How can I use custom encoding when adding the service reference ?
I have to connect the wsdl service, but the vendor using ISO-8859-1 encoding type.

[2017-03-27 17:59] #1817 closed

[2017-03-27 18:16] zhenlan commented on #1816
Hi @robertmiles3, the WCF Connected Service tool (I suppose that is what you are using) targets .NET Core apps, so it only looks the API surface that is available in .NET Core. The code it generated will work when your app targets full framework but the tool won't look the APIs that are only available in full framework. Hope this helps.

[2017-03-27 18:18] zhenlan commented on #1804
Closing this one as the Xamarin support is tracked in #1808.

[2017-03-27 18:18] #1804 closed

[2017-03-27 18:20] zhenlan commented on #1799
@moliveto Please let us know (or open new issues) if you have other questions.

[2017-03-27 18:20] #1799 closed

[2017-03-27 18:21] zhenlan commented on #1794
Closing as not much information for further investigation.

[2017-03-27 18:21] #1794 closed

[2017-03-27 18:29] zhenlan commented on #1803
@RaviTejaKaruturi please let us know if you have more information. Closing for now.

[2017-03-27 18:29] #1803 closed

[2017-03-27 18:39] hongdai commented on #1813
We have a workaround for the original customer issue.

[2017-03-27 18:39] #1813 closed

[2017-03-27 18:43] StephenBonikowsky opened #1826 "Test/Build Infrastructure Monitoring and Maintenance - S116"
Supporting Matt Galbraith with getting WCF to build against 2.0
Update to latest WCF package version.

[2017-03-27 18:43] #1795 closed

[2017-03-27 18:50] zhenlan commented on #1787
Hi @ganesh1984hary, can you please check out #1812 and let us know if it helps?

[2017-03-27 18:52] #1773 closed

[2017-03-27 22:54] StephenBonikowsky opened #1829 "Add Serializable attribute everywhere needed for 2.0"
This attribute will be supported with 2.0, we will need to go back to many of our APIs and add this attribute back together with the dependent protected constructors that go with it.

Example: https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/Security/SecurityNegotiationException.cs

[2017-03-28 10:44] msgorgo opened #1832 "How can i specify the endpoint address over configuration?"
When i add a connected service, the created service proxy contains the endpoint address in the class hard coded. Is there a way to inject the endpoint address through configuration. I'm consuming the proxy in an MVC Core project, so i could put something in appsettings.json.

Thanks,
Georg

[2017-03-28 21:05] sergioadh opened #1834 "XML maximum depth when adding service"
When trying to add a service there is an error in the form of:

Scaffolding Code ...
Error:Error: Cannot obtain Metadata from
[Ommited]
If this is a Windows (R) Communication Foundation service to which you have access, please check that you have enabled metadata publishing at the specified address.  For help enabling metadata publishing, please refer to the MSDN documentation at http://go.microso

[2017-03-28 21:18] zhenlan commented on #1832
Hi @msgorgo, .NET Core does not support traditional config file which is why all the configuration is done programmatically in the generated proxy file, but you can certainly write code to read values from a json file. It's just that we don't have this support out of box. Hope this helps.

[2017-03-28 21:21] zhenlan commented on #1825
@hongdai can you see what options @zenixgrace may have here?

[2017-03-28 21:45] zhenlan commented on #1811
Fixed by #1830 and #1833.

[2017-03-28 21:45] #1811 closed

[2017-03-28 21:52] zhenlan commented on #1829
We will not be able to do this until WCF is moved to build on NS2.0.

[2017-03-28 21:58] zhenlan commented on #1549
This will be unblocked when WCF is able to build on NS2.0. dotnet/corefx#10579 is already closed.

[2017-03-28 22:05] hongdai commented on #1834
@sergioadh Since .Net Core not longer support traditional config file, there isn't a way to config it with the tool.

Could you try below to see if you can workaround the issue?
1. Download the metadata(wsdl file, you can use ?singleWsdl) via a browser.
2. Browse and use the wsdl in the WCF connected service tool instead of the service URL.

Thanks,
Hong

[2017-03-28 22:11] hongdai commented on #1825
@zenixgrace To understand better of the issue you are facing, Could you tell me you fail to create the client(reference.cs), or the client code was successfully generated, but failed to connect to the service? It will be the best if you have a repro that I can try and find out what you need to add to make it work.

Thanks,
Hong

[2017-03-28 22:18] sergioadh commented on #1834
That worked correctly. Thank you very much.

[2017-03-29 01:23] zenixgrace commented on #1825
Hello,

I attach the log file, the  SS when adding service reference and the wsdl file.
The vendor API not open for the public access. so they have to open the spesific IP to allow access the API.

NB:
Please change the ext jpg to wsdl at index.jpg file

![1](https://cloud.githubusercontent.com/assets/17761222/24434104/a6b64c34-1457-11e7-9f3f-fd29551c64e8.jpg)
[SvcUtilParams.txt](https://github.co

[2017-03-29 16:42] hongdai commented on #1825
@zenixgrace You can workaround the metadata download issue by using the wsdl file directly in the WCF Connected Service tool UI. However you will hit another issue that there isn't a workaround yet:

"Contract 'webservicePortType' is not compatible with .Net Core apps because it contains one or more operations with SOAP Encoding (use = 'encoded')...

Soap Encoding is not currently supported yet(se

[2017-03-29 21:12] StephenBonikowsky commented on #1798
This has already been added as part of PR #1782

[2017-03-29 21:12] #1798 closed

[2017-03-29 21:26] StephenBonikowsky opened #1837 "Add unit test for ContractDescription.GetContract"
This API was just added with PR #1836.

[2017-03-30 00:38] zenixgrace commented on #1825
@hongdai yes, I got that error message too. I decided to make manually class for parse WS but not work. I still get the error encoding, So I decided to calling WS using HttpClient class T_T

Hope it will implement soon. :)

[2017-03-30 14:53] zipswich commented on #1761
I am trying to figure out where the issue stands now.  Please forgive my ignorance in the status tags of which I have only vague understanding.  Is it the plan to release the fix in .Net Standard 2.0?  I have been looking forward to the resolution anxiously.   Is there a preview that we can test?

[2017-03-30 17:47] #1796 closed

[2017-03-30 20:31] ericstj opened #1839 "System.ServiceModel.Duplex and System.ServiceModel.Security shipped reference assembly revisions over what was in desktop"
These two packages contain reference assemblies with revisions over what was first shipped in desktop.

The result is that you compile a netstandard1.1 library then try to use that in a net45 project and the versions don't match.

Roslyn appears to be tolerant of the mismatch, and using dotnet CLI I don't see a warning or error from RAR, but I do see the following in the log:
[code]

We went out o

[2017-03-31 09:58] kaushalparik27 opened #1841 ".NET Standard Class Library 1.6.1 + WCF Connected Service"
When I try to use WCF Connected Service and add ASMX reference in .NET Standard Class Library 1.6.1, that gives me below reference errors: [http://imgh.us/2017-03-31_12-31-05.jpg]
I have dependencies over 1.6.1 that I cannot downgrade. Is WCF Connected support not supporting 1.6.1?

[2017-03-31 23:16] shmao commented on #1761
@zipswich I'm figuring a way to share the fix with you for verification. But since the UWP toolchain has been changed much since the last release, I don't see an easy way for you to try out the fix at this moment. I will give this another try next week and keep you posted.

[2017-04-01 00:43] zipswich commented on #1761
@shmao Thanks a lot.  I will attend a conference next week, so I will not be able to try anything until the week after. I think I understand the challenge - this issue is not with the WSDL tool, but the .Net Native compilation.   I look forward to it. As my understanding, .Net Standard 2.0 Preview is scheduled to be released soon.

[2017-04-01 03:33] shmao commented on #1761
@zipswich The fix for the issue was made in UWP toolchain, which would not be part of NetStandard2.0 release. Sorry if I didn't make it clear. I don't know the timeline for the next release of UWP toolchain right now.

[2017-04-01 10:15] zipswich commented on #1761
@shmao Thank you for the clarification.  I somehow mistakenly thought the toolchain was associated with .Net Standard.

[2017-04-02 19:07] xprzemekw commented on #1200
Saying that windows based features are a blocker in moving wcf to .net core proves one saying that has little or no experience with it. In fact the only sole windows feature I can think of is automatic integration with DTC which I think is not widely used.

what else can I read there? for example some biased sayings by phillip-haydon. should we ditch swagger? it allows automatic client generation

[2017-04-03 18:59] Dereeg commented on #1549
Looking forward to this feature as well.

[2017-04-03 22:29] #1837 closed

[2017-04-04 00:14] KKhurin opened #1846 "Implement rolling stress runs"
Picking up fresh builds is still manual but the stress run rotation is automated.

[2017-04-04 00:14] #1846 closed

[2017-04-04 02:40] jarcher commented on #1200
Is there an official roadmap from MS on porting and supporting WCF Service or Server-side applications to dotnet core?

[2017-04-04 16:43] hongdai commented on #1841
@kaushalparik27 Sorry to hear that you are running into issues. 1.6.1 is supported.

Could you email me the screenshot? I can't view it here for some reasons.

Are you using VS2015 or VS2017?

Thanks,
Hong

[2017-04-05 20:20] popraducj opened #1847 "SSRS authentication"
I have attached 3 files one with the wsdl download from my SSRS (named SSRSwsdl) and the class that was generated with the help of the command:
wsdl /language:CS /n:"Microsoft.SqlServer.ReportExecution" http://<Server Name>/reportserver/reportexecution2010.asmx?wsdl /o:"ReportExecution.cs"
The third one is the class generated by the WCF Connection Service named ReferenceCS.txt.

What I want to do

[2017-04-06 19:04] joperezr opened #1848 "Need to generate System.ServiceModel.dll shim"
cc: @joshfree @weshaggard @ericstj

UAP Metapackage's closure for netcore50 (uap10.0) includded a System.ServiceModel.dll shim that was restored from the compatibility package. We don't build that package anymore, and in order to be compatible with netcore50 we need to build this shim again for uap10.1's closure. This shim should be built in here, similar to how in corefx we build the shims for th

[2017-04-07 22:34] ByronAP commented on #1200
No

[2017-04-08 19:49] ryangurazov commented on #1792
Hi, do we have a most recent status on this issue?
As it is been mentioned above w/o this solution in place Centos and openSUSE are both cannot be used with VMware PowerCLI.

[2017-04-10 22:01] shmao opened #1851 "Add Tests Covering System.ServiceModel.MessageParameterAttribute"
We should add tests for contracts using `System.ServiceModel.MessageParameterAttribute`.

[2017-04-10 22:04] shmao commented on #1761
Hi @zipswich , I couldn't find a way for you to verify the private fix because I didn't find a way to patch the released UWP toolchain with the private assembly. I'll keep this in mind and upated the thread when the fix is ready to try.

[2017-04-11 18:08] zhenlan commented on #1792
@mconnew can you please look into this?

[2017-04-11 18:13] zhenlan commented on #1841
@hongdai you can see the screen shot by navigating to the link [http://imgh.us/2017-03-31_12-31-05.jpg](http://imgh.us/2017-03-31_12-31-05.jpg) that @kaushalparik27 provided.

[2017-04-11 18:20] hongdai commented on #1841
@kaushalparik27 You were using VS2015 from the screenshot. .Net Core has made project system changes. Could you try your scenario on VS2017?  You can download the WCF connected service tool for VS2017 from https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService.

Let me know if you are still running into issues.

[2017-04-11 18:55] zhenlan commented on #1839
@StephenBonikowsky can you please work with @ericstj and @MattGal to understand what needs to be done here?

[2017-04-11 18:59] zhenlan commented on #1847
@hongdai can you please help @popraducj?

[2017-04-11 19:10] #1832 closed

[2017-04-11 19:11] #1787 closed

[2017-04-11 19:11] #1816 closed

[2017-04-12 07:11] jiabiao opened #1852 "wsdl Uri can not contain space for local path in WCF Connected Service for Visual Studio 2017"
if there is a space in the file path, it's invalid for WCF Connected service Tool:
The service Uri is not valid: 'D:\New folder\ShipService_v19.wsdl'.
And path D:\Newfolder\ShipService_v19.wsdl works well.

![capture](https://cloud.githubusercontent.com/assets/1818225/24945454/2708d75a-1f14-11e7-92b7-0d1ef1287a22.PNG)

[2017-04-13 17:06] zhenlan commented on #1852
Thanks for reporting the issue @jiabiao. We will look into this.

[2017-04-13 19:55] epignosisx commented on #1592
Hi folks. I noticed this got moved from 2.0 to future. This is a pretty big blocker for any customer behind an authenticated proxy. I'm surprised you haven't heard more about this issue from other people.

Is there any chance of considering putting this back on 2.0?

[2017-04-13 20:31] #1757 closed

[2017-04-13 22:07] StephenBonikowsky commented on #1839
Looking into it.

[2017-04-14 16:19] #1826 closed

[2017-04-14 18:08] zhenlan commented on #1758
@hongdai has root caused the issue and she will look into a fix as the next step.

[2017-04-14 18:10] zhenlan commented on #1687
Closing for now. Please let us know if you need any further assistance @sam-wheat.

[2017-04-14 18:10] #1687 closed

[2017-04-14 18:11] #1825 closed

[2017-04-14 18:18] #1834 closed

[2017-04-14 18:30] zhenlan commented on #1402
The APIs and a unit test have been added by #1850.

[2017-04-14 21:02] zhenlan commented on #1592
Hi @epignosisx this issue *is* still in 2.0.0 milestone. We will try but depending on how much cycles @mconnew has as the door for 2.0.0 is closing very fast.

[2017-04-15 02:04] epignosisx commented on #1592
Great to hear! Some further ideas on the issue:

It would be great if an application could participate in the creation of the **HttpClient**s. This would not only give us a chance to configure the HttpClientHandler's proxy, but also add additional **DelegatingHandler**s that we may use. For example to skip the network call and return canned responses (great for mocking external services).

[2017-04-17 18:36] hongdai commented on #1758
I have compared the behavior with the full framework and found it's consistent with the full framework:
1) When Always generate message contracts is Checked, both full framework and .net core WILL wrap the MemoryStream in the composite object.
2) When Always generate message contracts is NOT Checked(default), both full framework and .net core will directly use MemoryStream.

Apparently the custome

[2017-04-17 18:36] #1758 closed

[2017-04-18 20:53] StephenBonikowsky opened #1854 "Test/Build Infrastructure Monitoring and Maintenance - S117"
Continue to monitor builds, packages and test runs.

- [x] Assist Matt Galbraith where possible with building WCF on 2.0.
- [x] Update VSO Pipebuild project for WCF to build for netcoreapp2.0
- [x] Update VSO Pipebuild project for WCF to only run frameworks supported by netstandard2.0
- [x] Update WCF Packages to harvest prior supported frameworks.
- [x] Update WCF Packages to depend on official P

[2017-04-19 18:05] zhenlan commented on #1797
The XmlSerializerOperationBehavior class is already exposed but not the GetXmlMappings method. @StephenBonikowsky can please you add it?

[2017-04-19 20:43] StephenBonikowsky commented on #1797
Ok

[2017-04-19 21:24] StephenBonikowsky opened #1859 "Subscribe to core-setup updates."
Now that we are consuming Microsoft.NETCore.App we can automate ourselves to have a PR created automatically to point to us the latest packages.

[2017-04-20 18:52] zipswich commented on #1761
Thanks a lot, @shmao Any estimated release date for the new toolchain?

[2017-04-20 19:16] hongdai opened #1861 "WCF Web Service Reference: Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1"
Customer reported issue:

Scaffolding Code ...
Error:Error: Restoring packages for C:\Users\chpatani\AppData\Local\Temp\WCFConnectedService\2017_Apr_17_17_37_35\svcutil_bootstrap\SvcUtilBootstrapper.csproj...
C:\Program Files\dotnet\sdk\1.0.3\NuGet.targets(97,5): error : Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Composit

[2017-04-20 19:24] hongdai commented on #1861
Hi Chintan,
Thanks for reporting it!

I will investigate the issue. In the mean time, you can workaround it by either of the following ways:
1. Disable Reuse types in reference assemblies, if you don't intend to reuse data contract types. If you are not sure, you can just give it a try.
2. DeCheck Reuse types in all references assemblies, and Check Reuse types in specified referenced assemblies. T

[2017-04-20 21:31] hongdai commented on #1861
Hi Chintan,
To help investigation, could you send me the content of your csproj file?

Thanks,
Hong

[2017-04-21 18:14] hongdai commented on #1852
Fixed checked in.

[2017-04-21 18:14] #1852 closed

[2017-04-23 15:42] huangjinshe commented on #1688
@marek-safar , Is there any good news now? espetially for TCP Duplex channel.

[2017-04-24 11:38] StingyJack opened #1866 "Adding a Connected Service gives an MSBuild error because SvcUtilBootstrapper.csproj is incomplete"
I have a solution with a few projects, one of which has a pre-build event to run a bit of code generation. When compiling in VS2017, this works fine, however when trying to add a connected service to that project it fails.

It looks like whatever is making the svcutil bootstrapper is not adding any of the other projects that are in the solution, especially not ones with project based references or

[2017-04-24 14:14] jmolanofer opened #1867 "ASP.NET Core Support for WS-*"
Within the ASP.NET Core documentation, no reference to the WS-* specifications is found, this is vital to implement SOA correctly.
I would appreciate information regarding the use of these specifications in ASP.NET Core.

[2017-04-25 15:15] EdHyman commented on #1688
The duplexchannelfactory was working as intended on a previous version of Xamarin Studio.  I upgrade to a new version of OS (from Yosemite to El Capitan) and install Xamarin updates as well, then I receive this nonimplementedexception error.  My previously compiled code running on a Mac laptop (old Yosemite OS) executes without error.  Has anyone put together a work-around, for instance two one wa

[2017-04-25 21:58] mconnew commented on #1792
On unix, HttpClient uses libcurl for communication. libcurl uses openssl for the certificate handling. My understanding is if you give HttpClient an ephemeral certificate which isn't in the local certificate store then libcurl is unable to use it. If you use X509Store to add it to your store, this places it in a special .net folder in your home directory and libcurl still won't find it. You need t

[2017-04-25 22:02] mconnew commented on #1792
Closing issue in WCF repo and reopening dotnet/corefx#10146

[2017-04-25 22:02] #1792 closed

[2017-04-25 22:09] jmspring commented on #1295
Is there a plan to fix this issue beyond "disabling tests"?

[2017-04-26 02:56] zhenlan commented on #1867
Hi @jmolanofer, if your question is in the context of WCF, WS bindings are currently not supported. #31 has more discussions about this. Please clarify if you mean something else.

[2017-04-26 10:49] bigjack opened #1872 "Problem while scaffolding Service"
I'm trying to connect to one public API using WCF Connected Service Reference Provider.
After entering the all needed data I'm clicking "Finish" and while scaffolding I recieve an error.

Scaffolding Code ...
Error:Error: Reference cannot be loaded: "dotnet-aspnet-codegenerator-design"
Could not load file or assembly 'dotnet-aspnet-codegenerator-design, Culture=neutral, PublicKeyToken=null'.

Prob

[2017-04-26 13:38] jmolanofer commented on #1867
Hi @zhenlan , thanks for answering. My question is oriented towards ASP.NET Core and whether this technology supports the WS- * specifications for SOA implementations.

I'm not sure your statement about WCF does not support the ws - * specifications ....

MSDN is wrong: (https://msdn.microsoft.com/en-us/library/hh128109.aspx)

"Windows Communication Foundation (WCF) is the .NET Framework technolog

[2017-04-26 16:02] hongdai commented on #1866
@StingyJack Sorry to hear you are running into issues.

Could you send me the project definition of Apas.UI.csproj? I will try to repro the issue locally to investigate.

Thanks,
Hong Dai

[2017-04-26 18:04] hongdai commented on #1872
@bigjack Sorry you are running into the issue. It is a bug. We are working on a fix that will be released soon.

As a workaround, you can try deselect Reuse types to generate references.cs. You might not need to Reuse types.

Thanks,
Hong Dai

[2017-04-26 20:05] gsainagendraprasad opened #1873 "What is the suggested way , if we want to use the service url in corresponding further environments (QA/Staging)?"
Lets say i am writing a new dotnet core rest service and it consumes a WCF service-A. As this endpoint is not configurable , how do i make sure to point to corresponding service (environments). When i am in Dev i will point to Dev "service-A" when i going to QA/staging i would expect to point to QA/staging version of "service-A". how do i do this. Is there any suggested way ?

[2017-04-27 22:35] StingyJack commented on #1866
With all the weird problems in VS 2017 + netcore and the frustration stemming from the colossal chain of  fail that starts with "report a problem", your offer to look it over is **much** appreciated.

Here's the proj file. if you need more I can zip and email the whole solution.
[code]

[2017-04-28 16:55] StephenBonikowsky opened #1875 "Fix 4.6.1 build errors."
Now that we are building for netstandard2.0 we must support 4.6.1 framework.

[2017-05-02 02:45] coreyakaplan commented on #31
Any updates as to when this may be available or if there are any reasonable work arounds?

[2017-05-02 21:32] zhenlan commented on #1829
There is on-going discussion on this topic at dotnet/corefx#19119. We will hold on this item until that discussion is concluded. Current thinking is we will do this for Exception types in WCF.

[2017-05-03 00:13] shmao opened #1884 "EchoComositeType_XmlSerializerFormat_Soap Failed"
Test `EchoComositeType_XmlSerializerFormat_Soap` failed due to a bug in serialization. The bug would be fixed by dotnet/corefx#19258. We would need to update the dependencies to take the fix.

[2017-05-03 02:17] zhenlan commented on #1873
Hi @gsainagendraprasad will this work for you?
https://docs.microsoft.com/en-us/aspnet/core/fundamentals/configuration

[2017-05-03 03:24] zhenlan commented on #1867
Hi @jmolanofer sorry for the confusion. The MSDN is not wrong, but it is about WCF for .NET Framework. This GitHub repo, however, is about WCF client for .NET Core, which does not support WS bindings. Does this clarify?

For ASP.NET Core specific question, you may like to open issues in ASP.NET Core repo at https://github.com/aspnet/home

[2017-05-03 10:07] ivanbottero commented on #1688
Is there any news for TCP Duplex channel?

[2017-05-03 13:03] marek-safar commented on #1688
No update for now but I'll see if we can schedule it anytime soon

[2017-05-03 17:52] StephenBonikowsky opened #1886 "Fix certificate installation on OSX10.12"
After upgrading to netstandard2.0 we also had to update a number of infrastructure items. One of these required that we update the supported OSX to OSX10.12.

This change caused our certificate setup step to fail on CI machines so all test cases depending on these certificates now fail.

Identify and fix the setup script.

[2017-05-03 18:04] jepickett-mm commented on #211
I want this too.

[2017-05-03 18:14] #1783 closed

[2017-05-03 21:54] StephenBonikowsky opened #1888 "Test Case Failure: NetTcp_TransportSecurity_Streamed_TimeOut_Long_Running_Operation"
StreamingTests.NetTcp_TransportSecurity_Streamed_TimeOut_Long_Running_Operation

Has been failing in CI recently and needs to be investigated.

Stacktrace
MESSAGE:
Assert.Throws() Failure\r\nExpected: typeof(System.TimeoutException)\r\nActual: typeof(System.ServiceModel.CommunicationException): The socket connection was aborted because an asynchronous send to the socket did not complete within the

[2017-05-04 01:10] mconnew commented on #1592
@epignosisx , the limitation we have is we can't add an api which isn't available on the full framework. On the full framework, we use HttpWebRequest so it would be quite a lot of work to make a delegating handler work with HttpWebRequest in a reliable clean way.
It's definitely a nice feature ask and we might be able to accommodate it in the future via some api agnostic mechanism. Off the top of

[2017-05-04 15:37] genifycom opened #1889 "The latest release 0.5.10428.1201 breaks DotNet Core 1.0"
The latest release 0.5.10428.1201 breaks DotNet Core 1.0 with:

Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.0 (.NETCoreApp,Version=v1.0). Package Microsoft.Composition 1.0.27 supports: portable-net45+win8+wp8+wpa81 (.NETPortable,Version=v0.0,Profile=Profile259)

So I have to go back to the prior version 0.5.10406.1201 which did work for DotNet Core 1.0.

Please can some

[2017-05-04 15:50] genifycom commented on #1861
Here is an example using DotNet Core 1.0 csproj is

<Project Sdk="Microsoft.NET.Sdk.Web">

  <PropertyGroup>
    <TargetFramework>netcoreapp1.0</TargetFramework>
    <PackageTargetFallback>portable-net45+win8</PackageTargetFallback>
  </PropertyGroup>

  <ItemGroup>
    <Folder Include="wwwroot\" />
  </ItemGroup>
  <ItemGroup>
    <PackageReference Include="Microsoft.AspNetCore" Version="1.0.4" /

[2017-05-04 15:53] genifycom commented on #1889
Current workaround is to uncheck Reuse types in references Assemblies.

I still want to point out that this BROKE the DotNet Core 1.0 LTS (Long Term Support) production version of DotNet Core! It is critically important that you test using DotNet Core 1.0

DotNet Core 1.1 is NOT an LTS version and should be considered as suitable for development ONLY.

These are the Microsoft rules not mine.

[2017-05-04 21:44] carneirim opened #1892 "Error on using extension to import WSDL"
Hi,

I´m trying to reach unsucessfully the WSDL:
http://webservices.sabre.com/wsdl/tpfc/OTA_VehAvailRateLLS2.4.1RQ.wsdl

We´ve sucessfully imported the same WSDL on .net Framework.

Error message:

[code]

[2017-05-05 01:58] epignosisx commented on #1592
Can't argue with the points you brought up. I didn't account for the Full Framework or UWP. It is definitely tricky to accommodate this feature when there are 3 different ways of making HTTP calls.

I'll open the issue. For now I'm happy with having the ability to specify proxy settings somehow.

[2017-05-05 05:07] KKhurin opened #1893 "Add stress tests for WCF Sessions"
With the support for IsTerminating/IsInitiating coming we have a few combinations that deserve some good stress coverage.

[2017-05-05 18:38] #1841 closed

[2017-05-05 18:42] #1867 closed

[2017-05-05 18:42] #1873 closed

[2017-05-05 20:04] johnvndnbrk commented on #1200
I am in a situation in which I am architecting a new solution, a major aspect of which will include SOA.  I cannot find anything that offers what WCF does as noted above.  Also, I have read articles that WCF is dead and hear comes WebAPI (???).  I didn't know they were in competition with one another.  I use WebAPI on the web, client-side but behind our firewall I need a robust solution composed o

[2017-05-05 20:37] #1549 closed

[2017-05-05 20:37] #1797 closed

[2017-05-05 20:40] #1793 closed

[2017-05-05 20:45] zhenlan commented on #1829
Let's do this only for exception types in WCF and add tests to make sure they can be serialized/deserialzed between desktop and Core by DCS.

[2017-05-05 22:12] mlacouture commented on #1889
Thank you for reporting this issue!

It seems you hit the same issue tracked here: https://github.com/dotnet/corefx/issues/9788.

This does not seem to be a problem with the tool as the Microsoft.Composition package was not authored to support netcore1.x.  It is interesting that you hit this problem with the updated version of the tool, did you make any other changes to the project? thanks,

[2017-05-06 18:38] miguelcastro67 commented on #1200
Good to see some love for this very alive-and-well technology. My Pluralsight courses have been very successful on this topic. My prediction is a resurgence as true micro service architectures get more mainstream. Many of the things you need to consider in properly architecting micro service systems are built into WCF. You guys all rock!

[2017-05-06 22:07] genifycom commented on #1889
Hi thanks for responding.

No changes to the project. Just created a new ASP.NET Core 1.0 project, added the wcf tool and created a connected service.

Would this depend on the connected service?

Thanks,
Dave

[2017-05-07 03:45] kaushalparik27 commented on #1841
I tried same scenario in VS2017. Working as expected. Thanks @hongdai for suggestion.

[2017-05-08 05:30] hongdai commented on #1889
This happened with previous tool for 1.1 project for some customers as well, See https://github.com/dotnet/wcf/issues/1861.

[2017-05-08 05:51] hongdai commented on #1889
@genifycom Have you tried adding the PackageTargetFallback workaround in dotnet/corefx#9788 ?

[2017-05-08 05:55] ctolkien commented on #8
This has become more pressing for us with the announcement to ASP.NET Core 2 will not target NetStandard2. We need this in to move forward!

[2017-05-08 14:54] genifycom commented on #1889
Thank you for this reference. I will give it a try.

[2017-05-09 00:23] StephenBonikowsky commented on #1854
Creating separate issues in next sprint for the two un-finished tasks.

[2017-05-09 00:24] StephenBonikowsky opened #1895 "Test/Build Infrastructure Monitoring and Maintenance - S118"
Continue to monitor builds, packages and test runs.
Fixed issues with release/2.0.0 tests building and running for Helix/MC.
Cleaned-up test common project.json.
Numerous small PRs for disabling and enabling tests.

[2017-05-09 00:25] StephenBonikowsky opened #1896 "Fix Helix & Mission Control regarding Fedora and OSX versions."
Recent changes to both of these OSes is causing runtime and reporting problems in Helic and MC.

[2017-05-09 00:26] #1854 closed

[2017-05-09 04:58] joel-cunningham commented on #1257
Is BuildChannelFactoryCore going to be supported in version 2.0 of dotnet core?

[2017-05-09 17:55] samwassouf commented on #289
I am using VS 2017  Core 1 project and still not seeing System.Transaction and I needed to wrap transaction inside UOW

[2017-05-09 19:17] zhenlan commented on #1884
- @StephenBonikowsky will update WCF to use a more recent corefx build that includes dotnet/corefx#19258 today.
- @shmao will verify the scenario and reenable the test case.

[2017-05-10 01:45] zhenlan commented on #1884
@shmao can you verify the fix?

[2017-05-10 02:49] KKhurin opened #1902 "Need tests for newly exposed OperationContext.GetCallbackChannel and OperationContext.Channel"

[2017-05-10 04:09] KKhurin opened #1903 "Ensure all timer callbacks handle exceptions properly"
As #1694 discovered the code could be vulnerable to unhandled exceptions on timer threads.
This work item is to follow up to see if we have other cases and to handle them properly.

[2017-05-10 05:43] shmao commented on #1884
I confirmed that the issue was fixed. I sent out a PR enabling the test.

[2017-05-10 05:58] zhenlan opened #1906 "Update release notes and docs for 2.0 preview 1"

[2017-05-10 06:22] shmao commented on #1884
I was wrong. The tests ran on my machine used the private assembly. The test still failed on CI.

[2017-05-10 07:27] zhenlan commented on #1589
@hongdai now that dotnet/corefx#12618 is fixed, should this be considered fixed too?

[2017-05-10 07:47] shmao commented on #1884
The latest preview2 build, `2.0.0-preview2-25309-07`, doesn't include dotnet/corefx#19258 .

[2017-05-10 10:47] xprzemekw commented on #1200
@johnvndnbrk WCF is solid rock and mature, you won't be disappointed. However this good old Microsoft, create something and abandon.

[2017-05-10 12:27] tgitchel commented on #1257
@roncain, I can't find your ws-trust branch from the link provided.  Was this merged with the WCF Web Service Reference Provider?  I am still getting the "TransportSecurityBindingElement.BuildChannelFactoryCore is not supported" message.

[2017-05-10 16:32] hongdai commented on #1589
Yes. This is fixed. Http Ambient credential on Linux works now.

[2017-05-10 16:32] #1589 closed

[2017-05-10 18:07] #1906 closed

[2017-05-10 18:42] tpkurilla commented on #1200
WCF has been abandoned in exactly the same way that the socket library has
been abandoned...

It has been so thoroughly tested and tuned that further *development* is
not needed.

What's there just works.

So, no, they don't have a WCF team anymore. But it is because it isn't
needed, not because WCF is being abandoned.

On Wed, May 10, 2017 at 3:47 AM, xprzemekw <notifications@github.com> wrote:

[2017-05-10 19:34] brizo001 commented on #31
Need an update on this, we are considering using .net core for a project but we are currently blocked by this.

[2017-05-10 21:17] tarekgh opened #1912 "remove un-needed target when upgrading to v2 BuildTools"
We have done some change in the PR https://github.com/dotnet/wcf/pull/1911 to change the license Url for packaging. because wcf repo not using v2 of the buildtools we had to hack this by adding the temporary target OverrideLicenseUrl in the dir.targets files. This target should be removed after upgrading to v2 of the buildtools and need to ensure when removing it the license Url in the packages nu

[2017-05-10 21:44] mconnew commented on #1592
@epignosisx,  proxy support has been checked in. It has only had basic manual validation at this point but you should be able to pick up a build with support from the myget dev feeds tomorrow. This only supports running on windows at the moment.

[2017-05-11 00:57] #1884 closed

[2017-05-11 01:03] zhenlan commented on #1592
Move the *nix support to post 2.0. @epignosisx please let us know if this is important to you.

[2017-05-11 01:30] zhenlan commented on #1875
Fixed by #1894

[2017-05-11 01:30] #1875 closed

[2017-05-11 01:30] zhenlan commented on #1839
Fixed by #1894

[2017-05-11 01:30] #1839 closed

[2017-05-11 01:33] zhenlan commented on #1829
The PR #1900 is out but needs some touch to fix CI failures.

[2017-05-11 03:18] KKhurin commented on #1694
resolved with https://github.com/dotnet/wcf/pull/1904

[2017-05-11 03:18] #1694 closed

[2017-05-11 04:02] KKhurin commented on #1402
Fixed with https://github.com/dotnet/wcf/pull/1898

[2017-05-11 04:02] #1402 closed

[2017-05-11 04:57] #1574 closed

[2017-05-11 05:16] hongdai commented on #1886
List of test failures:
**Non certificate related**:
SessionTests.Test_IsInitiating_IsTerminating_Separate_Channels
SessionTests.Test_Implicit_Session_Initiation_And_Termination
SessionTests.Test_IsInitiating_IsTerminating

**Service certificate or Client certificate related tests:**
CustomBindingTests.DefaultSettings_Tcp_Binary_Echo_RoundTrips_String
IdentityTests.ServiceIdentityNotMatch_Throw_Mes

[2017-05-11 07:51] RehanSaeed commented on #76
Still not available in .NET Core 2.0 Preview 1 which probably means 2.0 RTM will not have it either, am I right?

[2017-05-11 08:49] karelz commented on #1829
@zhenlan is it by design infrastructure issue in CI?

[2017-05-11 10:45] cleytonb commented on #1200
Thinking about a service like LogMeIn: I need to maintain a persistent connection from clients to servers so I know they are online and can initiate a remote access from server instantly if they are online, even behind firewalls. And what about big file transfers (big, like, what FASP from Aspera can do)?

[2017-05-11 15:42] lucky3 commented on #1665
@zhenlan I'm trying to create service with exactly the same .NET Core class library, from default template in VS2015 Update 3. project.json and global.json are the same as yours. It doesn't work for me.

My Visual Studio WCF Connected Service is version 0.4.21213.0

I tried several services and I'm always getting:

I have no idea where to go next with this.

[2017-05-11 15:48] hongdai opened #1913 "Breaking change from cofefx causing Peer trust scenarios to fail on Linux"
Corefx started to block opening the Disallowed X509Store on Linux from 5/8. See [commit](https://github.com/dotnet/corefx/commit/0c6dc1d6a4a0cba584ad0d77e558b439b26f03fc).

[2017-05-11 15:58] hongdai commented on #1913
Setup tests are failing as well. The error message is apparent:
"MESSAGE:
System.PlatformNotSupportedException : The Disallowed store is not supported on this platform."

[2017-05-11 16:01] masaeedu commented on #1665
@lucky3 What version of the `dotnet` SDK do you have on your machine? If you have anything higher than 2.1, either uninstall it or go to `C:\Program Files\dotnet\sdk` and temporarily rename it.

[2017-05-11 16:03] lucky3 commented on #1665
@masaeedu  1.0.0-preview2-003133 and 1.0.4

[2017-05-11 16:08] hongdai commented on #1913
Peer trust test affected: cp_ClientCredentialTypeTests.NetTcp_SecModeTrans_CertValMode_PeerTrust_Succeeds_In_TrustedPeople

[2017-05-11 16:09] masaeedu commented on #1665
@lucky3 Yeah, so `1.0.4` is higher, and unfortunately this will only work once they release a "WCF Connected Service for VS2017" as zhenlan mentioned. In the meantime, you should rename the folders for all the SDK versions after `1.0.0-preview2-1-003177` temporarily.

[2017-05-11 16:29] lucky3 commented on #1665
@masaeedu renaming folder didn't help. Thank you for your help, I'm off for today.

[2017-05-11 16:43] lucky3 commented on #1665
@hongdai currently not, but in a month or so... I have VS2017 on my computer, but our solution has many projects now, all .net core and on VS2015

[2017-05-11 16:46] epignosisx commented on #1592
Thanks folks for working on this. Linux support is not a priority for me.

[2017-05-11 17:18] #1829 closed

[2017-05-11 18:18] sarabu07 opened #1916 "support for asmx web service"
Im trying to configure http://testapi.marcone.com/b2b/orders_v7.asmx web service thru WCF connected service preview but getting below error message.

Scaffolding Code ...
Error:Error: Cannot import wsdl:portType
Detail: An exception was thrown while running a WSDL import extension: System.ServiceModel.Description.DataContractSerializerMessageContractImporter
Error: Could not load file or assembly

[2017-05-11 18:30] StephenBonikowsky opened #1917 "Add a test for serializable wcf exceptions."
In PR #1900 we made all WCF exception types serializable. We need to add a test that validates that they are serializable and doing so correctly.

[2017-05-11 18:32] #1896 closed

[2017-05-11 18:53] StephenBonikowsky opened #1918 "Get netcore50 tests running again."
As part of all the recent changes to get WCF using NetStandard2.0 packages and running on netcoreapp2.0 we are now harvesting a prior released build of netcore50 and no longer building it live. We disabled the netcore50 tests to help reduce noise but now need to try and re-enable them.

[2017-05-11 22:47] fvoncina opened #1920 "Zero number of services found"
Hi,
When I try to add a reference to a service the wizard says in the status textbox "Number of services found: 0"

In VS2015 Add Service Reference works fine. Here is the full WSDL:

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/

[2017-05-12 00:00] zhenlan commented on #289
@samwassouf system.transactions was just released yesterday as part of .NET Core 2.0.0 Preview1. If you run into any issues or have questions about it, please open issues in https://github.com/dotnet/corefx repo where is system.transactions lives.

Please note though, current system.transaction does not support distributed transactions so it's not yet useful for WCF.

cc: @jimcarley

[2017-05-12 01:33] zhenlan commented on #1665
@lucky3, just an idea, you can download and install [WCF Connected Service for VS 2017](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService), create a dummy .NET Core project, generate reference.cs using the tool and then copy the reference.cs back to your VS2015 project.

[2017-05-12 02:54] khurz10 opened #1921 "401 unauthorized upon adding connected servce with WCF Service - Preview"
Hi all,

I got this error while trying to add a connected service using WCF Service - Preview.

Scaffolding Code ...
Error:Error: Cannot obtain Metadata from https://blahblah(confidential).com/webservice
If this is a Windows (R) Communication Foundation service to which you have access, please check that you have enabled metadata publishing at the specified address.  For help enabling metadata pub

[2017-05-12 03:13] zhenlan commented on #1921
@khurz10, sorry for running into this. Will [this](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService) (quoted below) be a feasible workaround for you?

[2017-05-12 03:22] khurz10 commented on #1921
hi @zhenlan,

thank you for responding right away. :)
which metadata do I need to download? From the service we are requesting?

[2017-05-12 04:26] lucky3 commented on #1665
@zhenlan @hongdai @masaeedu thank you all for your help. I managed to get it work with VS2017 and copying reference to VS2015 project. Thanks again.

[2017-05-12 05:39] zhenlan commented on #76
Syndication will not be part of .NET Core 2.0. We are in planning phase.

Looks like it's consensus here Syndication should be in its own package. At this point, it probably also makes sense for Syndication to be built on Net Standard (if possible) so it can run on different frameworks. We are also thinking about improvement over the version in full framework, for example, more flexibility of pars

[2017-05-12 05:53] zhenlan commented on #1921
Yes from the service you are requesting, and you may need to use singlewsdl so the url will be something like https://blahblah(confidential).com/webservice?singleWsdl

[2017-05-12 21:01] JhobanyPena opened #1923 "Warning: Transport Security with DetectReplays enabled is not supported."
Hi everyone! i'm trying to use this tool with VS2017... but the tool throws this error! :(

![error_wcf](https://cloud.githubusercontent.com/assets/25309407/26016785/25796d66-372c-11e7-88ab-9c1a09f0a524.PNG)

Best regards,

[2017-05-13 19:58] hongdai commented on #1923
@JhobanyPena Transport security is not supported yet. We are evaluating to support it in the future.

[2017-05-14 20:50] karelz commented on #1829
@StephenBonikowsky is the issue fixed by the PR #1900? (sorry it is not clear from the PR description)

In future, I would recommend to use [GitHub auto-closing via commit messages](https://help.github.com/articles/closing-issues-via-commit-messages/) - i.e. "Fixes #xyz" in the commit text / PR top post. It clarifies what fixed what and it is easier to spot. See examples in [CoreFX repo](https://g

[2017-05-15 16:34] StephenBonikowsky commented on #1829
Thanks @karelz I will try to remember to do that in the future. Yes this issue was fixed by PR #1900.

[2017-05-15 17:38] hongdai commented on #1886
Update: Client certificate tests passed on my local machine. This must be a CI set up issue. Will investigate further.

[2017-05-15 18:21] hongdai opened #1925 "Peer trust tests failed on OSX because recent corefx change blocks access to TrustedPeople store"
Corefx recently(3/1) introduced a change intentionally to block access to TrustedPeople store that the Peer trust tests rely on.

[2017-05-15 18:25] hongdai opened #1926 "TCP_ServiceCertRevoked_Throw_SecurityNegotiationException is failing on OSX"
Could be caused by recent corefx changes around certificate area, or set up issue after upgrading to OSX10.12.

[2017-05-16 21:39] zhenlan commented on #1701
We will not revert the code change @StephenBonikowsky made. Let's just clean up the comments.

[2017-05-16 21:53] karelz commented on #1925
@zhenlan Post-ZBB label is/was useful only for issues filed before 5/10.

[2017-05-16 21:56] #479 closed

[2017-05-16 21:57] #541 closed

[2017-05-16 21:58] #638 closed

[2017-05-16 21:59] #641 closed

[2017-05-16 21:59] #642 closed

[2017-05-16 21:59] #644 closed

[2017-05-16 22:00] #828 closed

[2017-05-17 00:10] zhenlan commented on #1925
Sounds good. Thanks @karelz.

[2017-05-17 01:24] karelz commented on #1925
BTW: You don't need the label anymore, so I will just delete it entirely.

[2017-05-17 03:34] zhenlan commented on #1257
It's a surprise to me too the ws-trust branch is gone. The work is neither completed nor merged, but we will try to restore the ws-trust branch.

[2017-05-17 03:50] zhenlan commented on #31
@coreyakaplan @brizo001 sorry for late response. The work involved for this feature is non-trivial for WCF, aside from blocking issues/missing dependencies,. This is not on any of our short term plan. There are a lot of great feedback/discussions on this thread. Please also vote the issue - it will be easier to tell the number of requests in future planning.

[2017-05-18 17:09] hongdai commented on #1926
Update: Jeremy has investigated:
It's a macOS platform security bug. They seem to no longer respect CRLs, only OCSP.

[2017-05-19 03:24] KKhurin opened #1933 "Add duplex tests for IsInitiating/IsTerminating operations"

[2017-05-21 06:53] kant2002 opened #1934 "Types reuse does not working in .NET Core 1.1 aplication"
I have assembly `App.Common` where was exists all DTO objects and some of them has been renamed using `[DataMember(Name = "NewName")]`. That assembly referenced by library where I want to add WCF client. But unfortunately instead of using types from `App.Common` new types generated for the client.

That scenario work fine for me in regular .NET application

[2017-05-22 19:31] Rans4ckeR opened #1935 "WCF Connected Service extension cannot be used in impersonation scenarios"
The extension only generates async methods which do not work reliably when called by WindowsIdentity.RunImpersonated(...).
This results in the dotnet.exe process randomly crashing with an ObjectDisposedException in the eventlog.

See also #654.

[2017-05-23 16:08] law1185 opened #1936 "Error generating reference from .NET 4.0 Soap Service"
Hi, I'm receiving this error when trying to create a Service Reference in VS 2017 (.NET Core 1.1) from a .NET 4.0 asmx service. I can generate both a Web Reference and Service reference in older versions of VS and .NET. I have tried deselecting the Reuse types checkbox and received the same result.

Scaffolding Code ...
Error:An error occurred in the tool. An item with the same key has already bee

[2017-05-23 17:52] zhenlan opened #1938 "Update System.Private.ServiceModel NS1.3 dependencies to use 4.3.0 packages"
In S.P.SM NS1.3 dependencies, we have
- System.Reflection.DispatchProxy (>= 4.4.0-preview2-25304-02)
- System.Security.Principal.Windows (>= 4.4.0-preview2-25304-02)

We should update them to 4.3.0 packages so they will not force an app targeting NS1.3 to bring down the whole chain of 4.4.0* packages unnecessarily.

[2017-05-23 21:13] zhenlan commented on #1935
@Rans4ckeR thanks for reporting the issue. Could you please share the full call stack with us? If you call .Result on the async methods, do you have the same issue?

[2017-05-23 21:34] zhenlan commented on #1926
dotnet/corefx#19933 is closed.

@StephenBonikowsky can you please update our dependency to latest build and see what happens to this test?

[2017-05-23 21:38] zhenlan commented on #1913
This should be fixed by dotnet/corefx#19844 and dotnet/corefx#19945.

@StephenBonikowsky, can you please update our dependency to the latest corefx build and reenable the related tests?

[2017-05-23 21:44] zhenlan commented on #1925
TrustedPeople store is not supported on OSX. We will put together some sample code that shows customers how to achieve the similar functionality on OSX.

We will need to update WCF code to throw if peer trust validator is accessed on OSX.

[2017-05-24 09:46] Rans4ckeR commented on #1935
@zhenlan I did try calling .Result and it reduced the crash occurences significantly, but there was still a 10% fail rate. I ended up modifying the generated methods to synchronous methods.

Although logging is enabled and working for the application, when this error occurs no exception/stacktrace is logged. The process crashes hard and generates the following eventlog entries:

1)
Faulting applic

[2017-05-24 17:39] zhenlan commented on #1935
Thanks @Rans4ckeR for the information. It's still hard to tell what's going on at the time of crash.

@mconnew do you have any other ideas? Attach WinDBG to dotnet.exe process?

[2017-05-24 21:06] StephenBonikowsky opened #1941 "Fix tests broken by CoreFx changes to CRL."
CoreFx had to change the behavior of CRL based on dotnet/corefx#19933 now our positive tests that use CRL will fail until they are fixed.

[2017-05-24 21:07] StephenBonikowsky commented on #1941
Tests are...

CustomBindingTests.DefaultSettings_Tcp_Binary_Echo_RoundTrips_String
Tcp_ClientCredentialTypeCertificateCanonicalNameTests.Certificate_With_CanonicalName_Fqdn_Address_EchoString
IdentityTests.ServiceIdentityNotMatch_Throw_MessageSecurityException
IdentityTests.VerifyServiceIdentityMatchDnsEndpointIdentity
Tcp_ClientCredentialTypeTests.TcpClientCredentialType_None_With_ServerAltName_E

[2017-05-24 22:31] eserozvataf commented on #1921
unfortunately SAP webservices doesn't have anything like ?singleWsdl

[2017-05-25 01:14] zhenlan commented on #1926
Reopen as the fix needs to make in release/2.0.0 branch as well.

[2017-05-25 01:14] zhenlan commented on #1913
Reopen as the fix needs to make in release/2.0.0 branch as well.

[2017-05-25 01:50] zhenlan commented on #1921
@eserozvataf, right 😄, but you need it only if you cannot download all the metadata.

[2017-05-25 02:18] zhenlan opened #1942 "Remove UAP 10.1 support from System.ServiceModel.* packages"
In System.SeviceModel.Http/NetTcp/Duplex/Security (ie. except Primitives) packages, we have UAP 10.1 section for WCF 2.0.0 packages. We don't support UAP 10.1, we should remove it.

- UAP 10.1
  - System.Private.ServiceModel (>= 4.4.0-preview1-25303-02)
  - System.ServiceModel.Primitives (>= 4.4.0-preview1-25303-02)

[2017-05-25 17:39] zhenlan commented on #1941
Reopen to track this for 2.0.

[2017-05-25 17:46] zhenlan commented on #1913
@StephenBonikowsky tests that are disabled by 1913 should be renabled after you updated the corefx dependency version.

[2017-05-25 19:21] hongdai opened #1945 "Exclude Peer Trust tests only on OSX"
As Peer Trust on OSX is no longer supported, we need to find a way to exclude those tests on OSX.

[2017-05-25 21:08] StephenBonikowsky commented on #1942
@ericstj and @weshaggard
I can't find where in our Repo UAP 10.1 could be getting added as a supported framework. I'm wondering if this is an unexpected buildtools issue?

[2017-05-25 23:08] StephenBonikowsky commented on #1938
Confirmed fixed with build 4.4.0-preview2-25325-03

[2017-05-25 23:08] #1938 closed

[2017-05-26 00:36] hongdai commented on #1936
@law1185 Sorry to hear you are running to a issue!

Could you zip the log under %temp%\WCFConnectedService\<DateTime> and send it to me? It may give a clue what's going wrong.

[2017-05-26 07:28] Rans4ckeR commented on #1935
@zhenlan can #654 be implemented to give us a workaround?

[2017-05-26 13:52] firecube commented on #702
This post shows how the technique @maslakov describes...

http://www.ideliverable.com/blog/calling-salesforce-soap-apis-from-a-net-core-or-uwp-app

[2017-05-26 17:50] StephenBonikowsky commented on #1941
Verified that all tests enabled by PR #1943 were not skipped or failed in build 20170526.11.

[2017-05-26 17:50] #1941 closed

[2017-05-26 17:56] StephenBonikowsky commented on #1926
Verified this test ran and passed in latest release/2.0.0 build 20170526.11 in Mission Control.

[2017-05-26 17:56] #1926 closed

[2017-05-26 18:01] StephenBonikowsky commented on #1913
Verified that this test ran and did not fail on AnyUnix machines in latest release/2.0.0 build in MC, 20170526.11.

[2017-05-26 18:01] #1913 closed

[2017-05-26 18:04] #1895 closed

[2017-05-26 18:18] zhenlan commented on #1918
Closing as we will move to v2 Buildtools that will be tracked separately.

[2017-05-26 18:18] #1918 closed

[2017-05-26 18:20] zhenlan commented on #1917
We will be reverting the serialization support of exception, so we don't need to do this anymore.

[2017-05-26 18:20] #1917 closed

[2017-05-26 18:23] hongdai commented on #1920
@fvoncina Sorry to hear that you are running into an issue.

Do you use VS2017 or VS2015?

[2017-05-26 18:25] fvoncina commented on #1920
VS2017 thanks

[2017-05-26 18:25] fvoncina commented on #1920
Is there any workaround to create the client proxy?

[2017-05-26 18:38] hongdai commented on #1923
It is not supported by the WCF Runtime.

[2017-05-26 18:53] hongdai commented on #1861
To conclude, the root cause is corefx issue dotnet/corefx#9788, the work around is to add the PackageTargetFallback.

[2017-05-26 18:53] #1861 closed

[2017-05-26 18:56] zhenlan commented on #1933
@KKhurin found more product code needs to be changed as part of adding tests. Please open a separate issue to track the product change.

[2017-05-26 18:57] hongdai commented on #1872
This is fixed in the latest release on https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService.

[2017-05-26 18:57] #1872 closed

[2017-05-26 20:05] zhenlan opened #1952 "Scale back the ISerializable support of exception types in WCF"
Please see dotnet/coreclr#11873 as an example... remove the [Serializable] and throw PNSE.

cc: @mconnew

[2017-05-26 20:10] zhenlan opened #1953 "Document how to do peer trust on OSX"
Related to https://github.com/dotnet/wcf/issues/1925#issuecomment-303541311

The FWLink needs to be updated to point to the document when it's available
https://go.microsoft.com/fwlink/?linkid=849976

[2017-05-26 21:55] #1952 closed

[2017-05-26 21:57] StephenBonikowsky opened #1956 "Move WCF to using BuildTools v2."

[2017-05-27 00:36] zhenlan commented on #1925
Fixed by #1951.

[2017-05-27 00:36] #1925 closed

[2017-05-27 02:29] zhenlan commented on #1889
@genifycom please let us know how it goes. Closing for now.

[2017-05-27 02:29] #1889 closed

[2017-05-27 02:56] zhenlan commented on #1916
@sarabu07 thanks for reporting the issue. We tried out your service http://testapi.marcone.com/b2b/orders_v7.asmx with our recent build (not released yet) and it worked without any problems, so this should work in our next update.

[2017-05-27 02:56] #1916 closed

[2017-05-27 03:06] zhenlan commented on #1935
@Rans4ckeR currently we suspect this is a runtime issue and #654 won't help (#654 is not something we can enable easily either). Do you think you can reproduce the issue with debugger attached, either WinDBG or VS, so you can get call stack when the crash happens?

[2017-05-27 03:11] zhenlan commented on #1921
We are working on the support of authentication by the WCF connected service including basic/digest auth, win auth and cert auth. I am closing this issue as the work is tracked in #1801.

[2017-05-27 03:11] #1921 closed

[2017-05-27 05:29] gtaborga commented on #31
Hello. I am working on HR software that integrates with [E-Verify](https://www.uscis.gov/e-verify/what-e-verify), a government WCF service to verify employment eligibility. We wanted to migrate a currently .NET 4.6 WepAPI service to .NET Core, however found a limitation. I believe this particular API may warrant some consideration of implementing this binding.

The E-Verify web service requires us

[2017-05-28 20:46] H492 opened #1957 "Ubuntu Help"
Does any of this run on Ubuntu 16.04? I'm having a heck of a time solving this net45 issue. Any help is GREATLY appreciated.

Package WCF 1.0.0 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package WCF 1.0.0 supports: net45 (.NETFramework,Version=v4.5)
      Package WcfLib 1.0.1 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package WcfLib 1.0.1 supports: net45

[2017-05-28 22:19] ctolkien commented on #1957
Which package did you install?

[2017-05-28 23:45] H492 commented on #1957
I tried WCF 1.0.0, WCF * WildCard for whatever the latest version might be, WCFLIB 1.0.1 and 1.1.1. I removed each after getting the error message. I think the fact that I'm running .NETCoreApp 1.1 with this 1.1 Framework but the packages I'm retrieving through the Command Palette with the Nuget command, Add Package and typing WCF to see what selections are available to install have so far been bu

[2017-05-29 22:05] fabiano commented on #1936
@hongdai,

I'm receiving the same message here when I try to add this service:

https://sandbox.api.giact.com/verificationservices/v5/InquiriesWS-5-8.asmx.

[2017_May_29_19_02_15.zip](https://github.com/dotnet/wcf/files/1036808/2017_May_29_19_02_15.zip)

[2017-05-30 16:20] law1185 commented on #1936
@hongdai

I have sent the zipped logs to you via email. Please let me know if you do not receive them.

Thanks!

[2017-05-30 20:46] KKhurin opened #1959 "Add support for CallbackBehaviorAttribute"
The callback defaults can be very limiting in some cases (for example there is no way to call a service from within a duplex callback).

[2017-05-30 21:21] hongdai commented on #1934
@kant2002 Sorry to hear that you are running into a issue!

It will speed up the investigation if you can provide a repro app.

Thanks,
Hong Dai

[2017-05-30 21:23] zhenlan commented on #1959
The work involved to support this feature is not trivial. We will consider it in the future based on feedback.

[2017-05-30 21:32] hongdai commented on #1920
@fvoncina The given WSDL is in valid. I couldn't use it even via Add Service Reference. Could you send me the complete wsdl file in email?

Thanks,
Hong Dai

[2017-06-01 02:55] zhenlan commented on #1957
Hi @H492, if what you want is to use WCF in .NET Core 1.1 (netcoreapp1.1), please use WCF packages listed  in our release notes https://github.com/dotnet/wcf/releases/tag/v1.1.0.

BTW, I did a quick search of [WCFLib](https://www.nuget.org/packages/WcfLib) on nuget.org. It is *not* released from WCF team.

[2017-06-01 08:54] H492 commented on #1957
Hi zhenlan. Thank you for the help. I've built successfully (for some reason, debug only). The next gap in my understanding is how to make these available to my application. Is it through the launch.json file? If so, would you be able to provide the json I need to insert into the file for these 5 libraries? I don't see a way, as in VS under Windows, to simply add a reference to a library (DLL) fro

[2017-06-01 16:24] hongdai commented on #1945
To conclude:
1. Peer Trust will not be supported in OSX due to OS limitation.
2. We will close this issue, and still use this issue to exclude Peer Truest tests on OSX.

[2017-06-01 16:24] #1945 closed

[2017-06-01 17:26] zhenlan commented on #1957
Hi @H492 [here](https://github.com/zhenlan/examples/blob/master/WcfReadOnlyDictionaryExample/NetCoreWcfClient/NetCoreWcfClient.csproj) is an example. Please note I created it to show an issue with serialization so it will fail at runtime but should give you an idea of how to reference S.SM.* packages. I created it with VS2017 but I believe you can also run it with dotnet CLI.

[2017-06-02 00:04] hongdai commented on #1936
@law1185 I have examined both logs and did not find much clue.

I have tried to use https://sandbox.api.giact.com/verificationservices/v5/InquiriesWS-5-8.asmx to repro, it gave me an error "Client is not an authorized IP Address". Looks like the web site can only be accessed by authenticated users.

It will be greatly helpful if I can get a local repro. Is it possible for you to give me a repro se

[2017-06-02 13:33] smbecker opened #1961 "IOperationInvoker"
I see that [IOperationInvoker](https://github.com/dotnet/wcf/blob/v1.1.0/src/System.Private.ServiceModel/src/System/ServiceModel/Dispatcher/IOperationInvoker.cs) appears to be available in the .NET Core builds but it does not appear to be available to use within the [assemblies](http://packagesearch.azurewebsites.net/?q=IOperationInvoker). Is there any other way to intercept/wrap WCF operations?

[2017-06-02 15:30] fabiano commented on #1936
@hongdai It's a third party service I'm trying to use. I've attached the WSDL file. Does it help you?
[wsdl.txt](https://github.com/dotnet/wcf/files/1048124/wsdl.txt)

[2017-06-02 23:30] hongdai commented on #1892
@carneirim Sorry to hear that you are running into the issue! We can repro it in house and will investigate the root cause.

Thanks,
Hong Dai

[2017-06-03 02:49] KKhurin opened #1962 "Expose System.ServiceModel.ChannelTerminatedException in contracts"
Some of WCF code throws it.

[2017-06-04 20:56] popraducj commented on #1847
I've saw [this ](https://stackoverflow.com/questions/44036903/using-ssrs-from-an-asp-net-core-site) on stackoverflow  but I could not get over the "The HTTP request is unauthorized with client authentication scheme 'Anonymous'. The authentication header received from the server was 'NTLM'."

I've saw that the channel that the channel value in the BeforeSendRequest method has a variable named  name

[2017-06-05 00:57] hongdai commented on #1866
@StingyJack Could you provide below data to help the investigation?
1) Do you still hit the error after disable the prebuild event?
2) I don't see any project reference dependency in your csproj.  You mentioned that "svcutil bootstrapper is not adding any of the other projects that are in the solution". Could you explain?

Thanks,
Hong

[2017-06-05 12:10] xumix opened #1963 "Unable to scaffold a service in netcoreapp1.1"
Scaffolding Code ...
Error:Error: Restoring packages for C:\Users\tambovtsev\AppData\Local\Temp\WCFConnectedService\2017_Jun_05_15_10_34\svcutil_bootstrap\SvcUtilBootstrapper.csproj...
C:\Program Files\dotnet\sdk\1.0.4\NuGet.targets(97,5): error : Package Microsoft.Composition 1.0.27 is not compatible with netcoreapp1.1 (.NETCoreApp,Version=v1.1). Package Microsoft.Composition 1.0.27 supports: por

[2017-06-05 19:04] StingyJack commented on #1866
If you scroll all the way to the right in the first code example, you can see the temp file I am talking about. Its in there that the reference is missing.
[code]

There have been a few updates to some of the dependencies (microsoft.composition 1.0.27 specifically) that have resolved several similar issues with scaffolding etc. This one is corrected as well I think.

[2017-06-06 19:41] crackedcornjimmy commented on #1684
Is it possible to reopen this question? I'm having the same problem and hopefully can provide more information.

[2017-06-06 19:49] crackedcornjimmy opened #1965 "The content type text/xml; charset=\"utf-8\" of the response message does not match the content type of the binding (text/xml; charset=utf-8)"
I am calling a SOAP WCF Service from a new .Net Core WebApi application and am getting the following error:

"The content type text/xml; charset=\"utf-8\" of the response message does not match the content type of the binding (text/xml; charset=utf-8).
If using a custom encoder, be sure that the IsContentTypeSupported method is implemented properly.
The first 1024 bytes of the response were:..."

[2017-06-06 19:53] crackedcornjimmy commented on #1965
This same question was asked [here](https://github.com/dotnet/wcf/issues/1684) with no luck.

[2017-06-06 21:10] zhenlan commented on #1961
@mconnew what else do you think involved here other than exposing the IOperationInvoker interface in the contract?

[2017-06-08 01:42] KKhurin commented on #1962
Perhaps need to comb through all the rest of the exceptions and expose them as well.

[2017-06-08 02:19] zhenlan commented on #1847
cc: @mlacouture

[2017-06-08 20:19] hongdai commented on #1963
@xumix This is caused by dotnet/corefx#9788. Could you please try adding the PackageTargetFallback workaround in dotnet/corefx#9788 ?

[2017-06-09 09:30] xumix commented on #1963
@hongdai
[code]
Still have this:

[code]

[2017-06-09 16:27] NickDinges opened #1969 "Datacontract Serializer should be default"
currently XMLSeriazlizer is used and really, really slow on large WSDLs when creating the channel.

[2017-06-09 16:48] hongdai commented on #1963
Could you try the packageTargetFallback from the default template?
<PackageTargetFallback>$(PackageTargetFallback);portable-net45+win8+wp8+wpa81</PackageTargetFallback>

[2017-06-09 18:44] hongdai commented on #1866
@StingyJack Great to hear the issue is corrected now. I will close the issue. Please reopen if needed.

[2017-06-09 18:44] #1866 closed

[2017-06-13 08:25] xumix commented on #1963
@hongdai Same here:
[code]

[code]

[2017-06-13 16:52] hongdai commented on #1963
@xumix  Another workaround you can try is:
1) Create a .Netcore console application.
2) Set target framework to 1.1.
3) Use the WCF connected service to generate the client(reference.cs).
4) Copy the reference.cs to your Asp.Net Core app.
5) Add the following package references to your Asp.Net Core app.
 <PackageReference Include="System.ServiceModel.Duplex" Version="4.3.0" />
    <PackageReferenc

[2017-06-13 21:45] zhenlan commented on #1012
No plan to support this at this point. Will revisit if there are more demand.

[2017-06-13 21:45] #1012 closed

[2017-06-13 21:49] #1120 closed

[2017-06-13 21:52] zhenlan commented on #1235
@DavidGoll will networking have NegotiateStream support in UWP/NS2.0 timeframe?

[2017-06-13 21:59] zhenlan commented on #1243
In general, this depends on what .NET core can support in the future.

For WCF, however, you can write your own event listener to collect events. Please check out our test code below:
https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/tests/Common/Infrastructure/xunit/WcfTestCase.cs#L26

[2017-06-13 21:59] #1243 closed

[2017-06-13 22:29] CIPop commented on #1235
@zhenlan Yes. This is tracked by https://github.com/dotnet/corefx/issues/20033, in particular https://github.com/dotnet/corefx/issues/14560.

[2017-06-13 22:56] zhenlan commented on #1235
Great, I see dotnet/corefx#14560 is in UWP6.0 milestone. Thanks @CIPop!

cc: @mconnew

[2017-06-14 09:34] himansishah commented on #1257
Hello , I am not getting way to call WCF service which is third party API i need to call it from Aws Lambda Core Project and i am getting error  like "TransportSecurityBindingElement.BuildChannelFactoryCore is not supported." I have attached error picture that it will make you more clear. please give me any solution or idea it ll be appreciable ..thanks in advance.
![error](https://user-images.git

[2017-06-14 09:36] himansishah commented on #13
Hello , I am not getting way to call WCF service which is third party API i need to call it from Aws Lambda Core Project and i am getting error like "TransportSecurityBindingElement.BuildChannelFactoryCore is not supported." I have attached error picture that it will make you more clear. please give me any solution or idea it ll be appreciable ..thanks in advance.
![error](https://user-images.gith

[2017-06-14 19:26] zhenlan commented on #1935
@Rans4ckeR any luck with crash call stack?

[2017-06-16 10:25] andreimcristof commented on #1257
@zhenlan any news on the progress of the branch restore for this fix, please? Thank you.

[2017-06-16 17:51] StephenBonikowsky commented on #1956
Completed initial effort, handed off to Davis to complete, his work tracked by...
https://github.com/dotnet/core-eng/issues/793

[2017-06-16 17:56] StephenBonikowsky commented on #1942
This still exists with our latest release/2.0.0 packages...
System.ServiceModel.Duplex 4.4.0-preview2-25416-01

@MattGal do you have any idea how UAP 10.1 is getting pulled in as a package dependency?

[2017-06-16 17:57] StephenBonikowsky commented on #1859
This is done for the release/2.0.0 branch, it will also be completed on Master branch as a natural part of adopting buildtoolsv2.

[2017-06-16 18:13] #1956 closed

[2017-06-16 18:23] zhenlan commented on #1920
@fvoncina please let us know when you have an update. Closing for now.

[2017-06-16 18:23] #1920 closed

[2017-06-16 18:38] MattGal commented on #1942
I don't know, this has gotten very complex in the last 5 months.  I suspect that this comes from Microsoft.Private.PackageBaseline but that's a much better question for @ericstj

[2017-06-16 18:55] #1957 closed

[2017-06-16 21:03] ericstj commented on #1942
There isn't a new dependency here, you just have a dependency group with fewer dependencies that is autogenerated for UAP10.1.

We've always done this for frameworks that have "inbox" assemblies.  NetStandard2.0, NetCoreApp2.0, and UAP10.1 all represent themselves with 'inbox' assemblies now to reduce dependencies.

It doesn't hurt anything to have the dependency group there, but you can remove it

[2017-06-16 21:05] StephenBonikowsky commented on #1942
Thanks @ericstj  !

[2017-06-18 19:28] dodyg commented on #76
Another useful thing is to add a way to deal with the feed extensions. RSS/ATOM allows extensions through namespaces and I think there was no easy way to deal with them through SyndicationFeed.

For example:

https://en.wikipedia.org/wiki/Media_RSS

[2017-06-19 20:53] zhenlan commented on #76
@dodyg thanks for the feedback. We will look into this.

cc: @eljerry

[2017-06-20 07:49] #1963 closed

[2017-06-20 08:13] lolo267 commented on #1200
My company is also waiting for WCF implementation in .NET Core to start moving into .NET Core. Is there any chance that we will be informed of this feature's status?

[2017-06-20 10:58] dodyg commented on #76
This is a critical feature. The web is full of broken RSS dates.

[2017-06-20 17:56] scotthurlbert commented on #1200
Mine too.   Thank you

On Jun 20, 2017 1:13 AM, "lolo267" <notifications@github.com> wrote:

[2017-06-20 19:00] csharpfritz commented on #1200
There very much is a WCF team, and we are working on features to ensure compatibility with Windows 10, Windows Server, and Windows Containers.

We had a very successful presentation at Build where we showed the first of our Windows Containers.  Work is continuing in that space, and we plan to continue in these investments.

WCF for .NET Core is very much on our radar, and we are working with the A

[2017-06-20 19:29] phillip-haydon commented on #1200
Sad times.

[2017-06-20 19:49] peder commented on #1200
What does working with ASP.NET Core mean? Working on at least a subset of WCF server-side features that runs on .NET Core?

[2017-06-20 19:53] csharpfritz commented on #1200
@phillip-haydon Why sad times?

[2017-06-20 20:50] StephenBonikowsky opened #1980 "Enable scenario tests on buildtoolsv2."

[2017-06-20 20:52] StephenBonikowsky opened #1981 "Enable all WCF facades for buildtoolsv2"
Facade projects as well as related unit test projects.

S.SM.Duplex
S.SM.Http
S.SM.NetTcp
S.SM.Security

[2017-06-20 20:59] StephenBonikowsky opened #1982 "Get all test variations running and passing on buildtoolsv2."
- UAP
- UAP F5
- NetCoreApp on all OSes

[2017-06-21 05:59] Suriman commented on #1200
@csharpfritz I imagine Phillip says "sad times" because he would like WCF to be already migrated to .NET Core. This view is shared by many development companies, but I must admit that the message is hopeful. :-)

[2017-06-21 22:34] zhenlan opened #1983 "System.Private.ServiceModel package should contain build for netcore50"
The package should contain harvested netcore50 build under runtimes\win7\lib\netcore50.

Currently, if someone use WCF 2.0 package in a UWP app, it will fail because a netstandard build is used.

[2017-06-22 04:42] hongdai commented on #1847
@popraducj, I will answer/clarify your questions about WCF.
1) WCF runtime support authentication. WCF connected service tool does not support generating authenticated client code. You can work around by adding authentication code to generated client code.
2) This is not WCF related.
3) You will need to enable window authentication in the generated reference.cs code.

[2017-06-23 03:01] KKhurin commented on #1903
More testing and moving to S120

[2017-06-23 18:29] #1981 closed

[2017-06-23 21:01] OkuraSt commented on #1810
same here @eserozvataf

Do you have any workarounds for consuming this type of SAP WS in net core?

Warning: Endpoint 'ZBWS_MAT_STOCKALMACEN' at address 'http://lcs03..local:8000/sap/bc/srt/rfc/sap/zws_mat_stockalmacen/200/zws_mat_stockalmacen/zbws_mat_stockalmacen' contains one or more bindings not compatible with .Net Core apps, skipping...
Error: No endpoints compatible with .Net Core apps were

[2017-06-25 22:58] ewinnington commented on #1200
This insecurity we feel in our continued investment in developing with WCF is compounded by https://github.com/dotnet/designs/issues/9 which does not even mention WCF in a design document for networking in dotnet.

I know that server side WCF on core won't be here for a while due to resource allocations, but the question is will it ever be? And if not, what are our alternatives for moving forward?

[2017-06-25 23:22] ctolkien commented on #1200
WCF Server is pretty much legacy at this point. I don't really see why new services would be built on top of it. However having a fairly full fidelity client is important. There are lots of existing services (I'm looking at you, Aussie Government) which are built on WCF and will not be changing any time soon. We can't build systems interfacing with these currently running on .NET Core.

[2017-06-26 00:14] scotthurlbert commented on #1200
Chad

I agree with your point about clients but have to take some issue with WCF
being legacy.  It's legacy the way ToString() or Int32 is legacy as in it's
a part of the framework.  There is no other way in the framework (and in
very few other add-in frameworks) to create transactionable, scaleable,
secureable, interface based services.

In understand that there are a lot of js / light-client con

[2017-06-26 00:32] csharpfritz commented on #1200
Yes, more investments are being made into a WCF client for .NET Core.

Why do you need a WCF server on .NET Core?  Investments continue to be made
in NetFx, and with every version of Windows a new version of .NET Framework
is released that continues to deliver more support for WCF with bug fixes
and enhancements.

If we could snap our fingers and have WCF server capabilities in .NET Core
immediate

[2017-06-26 04:12] scotthurlbert commented on #1200
Good question.

Personally I do a lot of IoT projects and what I'd really like is to be
able to run server(ish) code on something small, low-power, and cheap like
a PI. In the meantime being able to run on a small linux or windows 10
stick/box would be great.  Right now I have to setup a full PC (which a
full electrical penalty) to run IoT server stuff.  If I had such a thing I
can guarantee I wou

[2017-06-26 05:01] tparvi opened #1992 "Is user configurable realm supported by HttpTransportSecurity?"
We have SAP that offers WCF interface. The following code written against full framework works as expected:

[code]

I'm trying to re-create this code in .NET Core and it is identical except that I cannot set the Realm property because System.ServiceModel.HttpTransportSecurity doesn't have it. So my call fail with "System Error" and no further details.

However I can see the Realm property in the

[2017-06-26 08:26] popcatalin81 commented on #1200
@csharpfritz WCF should have been what [gRPC](http://www.grpc.io/) is now.

A framework for remote procedure calls, that is: session and contract based, extremely fast, and easy to use, with support for duplex and streaming. The exact opposite and complement of HTTP/Rest.

If WCF is going to be another way to create/consume HTTP/Rest like services, then it is a waste.

[2017-06-26 14:16] vincentvulog opened #1993 "Unable to catch generic fault exceptions"
A generated client (.net core 1.1) does not catch WCF generic fault exceptions

Assume the following contract:
[code]
In the concrete implementation this exception is thrown:
`        throw new FaultException<KeyNotFoundException>(knf, "Unable to find the key");`

In the client side:
[code]

This works fine with a 4.6 generated client, (with the exact same wcf service) but not with the .net core v

[2017-06-26 17:45] #1933 closed

[2017-06-26 20:43] scotthurlbert commented on #1200
Catalin Pop

I agree that gRPC seems like a fine framework.  And a necessary one for
most of it's implementations because there is nothing in the basic language
framework itself.  .NET on the other hand already has WCF.

These two lines of code are just a sample but what's interesting here is
that the Binding and the Endpoint schema are components:

Binding binding = new BasicHttpBinding();
IMySim

[2017-06-26 23:06] KKhurin opened #1996 "Assert failed: called CoreClrSocketConnection.BeginWriteCore twice"
This is because ClientFramingDuplexSessionChannel.SendPreambleAsync lacks the same synchronization mechanism as all other (base class) members have before writing to the connection.

The most typical call stack is when we try to close the channel while still establishing duplex connection:
[code]

[2017-06-27 08:50] #1993 closed

[2017-06-27 21:02] KKhurin opened #1999 "WCF usage telemetry"
TBD what to add.

[2017-06-27 22:08] mconnew commented on #1992
The Realm property is only used on the server side with WCF. By setting the realm, when an http client connects to the server, the authentication challenge will include the realm. This is generally used when a UI is needed to obtain credentials, e.g. with a web browser. This property has absolutely no effect on WCF clients and it's a mistake that it exists on the implementation class.

[2017-06-27 23:38] shmao opened #2001 "[uapaot] Two CustomChannelTests Failed due to NullReferenceException"
[code]

[2017-06-27 23:39] shmao opened #2002 "[uapaot] ChannelFactoryTest Failed on CommunicationObjectFaultedException"
[code]

[2017-06-27 23:41] shmao opened #2003 "[uapaot] Tests Failed due to BlockedFromReflection_1_5efd7af2"
[code]

[2017-06-27 23:41] shmao opened #2004 "[uapaot] ChannelFactoryTest.CreateChannel_Of_IRequestChannel_Using_BasicHttpBinding_Creates_Unique_Instances [FAIL]"
[code]

[2017-06-27 23:45] shmao opened #2005 "[uapaot] ChannelFactoryTest.CreateChannel_Of_Typed_Proxy_Using_BasicHttpBinding [FAIL]"
[code]

[2017-06-28 00:20] shmao commented on #2004
This is a duplicate of #2002.

[2017-06-28 00:20] #2004 closed

[2017-06-28 02:14] zhenlan opened #2006 "Clean up SUPPORTS_WINDOWSIDENTITY in S.P.SM.csproj"
We should remove section below in [S.P.SM.csproj](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System.Private.ServiceModel.csproj)
[code]

SUPPORTS_WINDOWSIDENTITY should be true for both Windows and Linux except UWP. We already have it defined correctly in another section in the same file, but above section is causing confusion.

cc: @mconnew

[2017-06-28 06:14] t4rn commented on #1200
@csharpfritz Answering your questions:

At my current company there's a lot of legacy, PHP-based, UNIX-hosted SOAP web services which need to by rewritten. WCF would be the best solution but the lack of it in ASP.NET Core will probably cause migration to JAVA instead.

We would choose .NET stack instead of JAVA...

[2017-06-28 07:45] zhenlan opened #2007 "Update release notes and docs for 2.0.0 preview 2"

[2017-06-28 09:25] thefringeninja commented on #1200
https://www.nuget.org/packages?q=soap

cheers

[2017-06-28 11:50] zipswich commented on #1761
I am wondering if there is any update on this issue because it has been more than 2 months since the last activity on it.

[2017-06-28 16:30] #2007 closed

[2017-06-28 22:24] shmao commented on #1761
Hi @zipswich , thanks for checking back on the issue. We've made a fix for the issue int UWP toolchain. The latest .Net Native 1.7 release should include that fix. The good news is that .Net Native 1.7 is just released with Visual Studio 2017 Preview 3. You can give it try by installing VS 2017 Preview 3.

We, however, haven't been able to verify the UWP toolchain working with the existing NetCore

[2017-06-28 23:13] mconnew commented on #1992
@tparvi, does my answer resolve your issue? You should just be able to remove that line.

[2017-06-28 23:17] mconnew commented on #1961
@smbecker, there are multiple ways to achieve what you want to do but I can't really answer your question without more info. What is the functionality you need to be able to do in the intercepting? IOperationInvoker is a hard one to expose as we removed the synchronous Invoke which has sizable repercussions in other parts of the code if we were to add that back. If I can't help you use an already

[2017-06-29 00:44] zipswich commented on #1761
Thank you, @shmao I assume you meant Visual Studio 2017 Preview version 15.3.   I will try it and report it back as soon as possible.

[2017-06-29 00:49] shmao commented on #1761
@zipswich sounds good. Thanks!

[2017-06-29 01:07] #2001 closed

[2017-06-29 01:07] #2002 closed

[2017-06-29 01:07] #2003 closed

[2017-06-29 01:07] #2005 closed

[2017-06-29 01:31] smbecker commented on #1961
I am attempting to wrap logging and metrics capture around requests and responses. I previously did that with this interface but I think that I may be able to get what I need through a message inspector.

[2017-06-29 06:29] mathysd opened #2016 "The service at the following URI does not have any endpoints compatible with .Net Core apps"
With the update of version 0.5.10620.673 I am no longer able to add services from a wsdl file that did import fine on the previous version. Any suggestions? Can I download an older version?

[2017-06-29 08:39] zhenlan commented on #2016
@mathysd sorry for running into this issue. Is it the same wsdl file that was used before? Is the wsdl file downloaded by using "?singleWsdl" parameter in URL?

I just tried a very simple service. It worked fine if the wsdl file was downloaded using "?singleWsdl" but I got the same error if the wsdl file is downloaded using "?wsdl". @hongdai, is this expected?

cc: @mlacouture

[2017-06-29 09:15] mathysd commented on #2016
I have used this file before. I have this file locally so I use browse to select the file.

[2017-06-29 11:23] tparvi commented on #1992
@mconnew Yes, I think that explains everything. I'll have to see if there is some other issue that causes the "System Error" and I'll open up a new issue if needed. Thanks for the help!

[2017-06-29 11:23] #1992 closed

[2017-06-29 16:43] dotnetchris commented on #1200
WCF and soap are entirely orthogonal. @thefringeninja for you to post that comment shows you have no idea what you're talking about and you're just trolling this serious thread.

[2017-06-29 17:21] mlacouture commented on #2016
Hi @mathysd, can you try specifying the wsdl directory with a wildcard? something like c:\path_to_wsdl\*.*

We changed the way wsdl files are processed and I think this is why your scenario no longer works, let me explain:

In the past, you could have multiple metadata documents (.xml, .xsd) in the same folder as the .wsdl document and you would only need to specify the full path to the .wsdl file

[2017-06-29 17:47] mathysd commented on #2016
@mlacouture thank you, with the wildcard it works!

[2017-06-29 17:47] #2016 closed

[2017-06-29 17:55] thefringeninja commented on #1200
On the contrary, I'm being quite serious.

It seems as if there are two major use cases, based on my previous experience and reading through this issue. Feel free to correct me if you think I'm mistaken.

1) You are interoperating with Java or some other language
2) You control both ends of the wire and they are .net

Now, in the case of 1), how many people are actually using any binding other tha

[2017-06-29 17:58] #1701 closed

[2017-06-29 18:38] shmao opened #2017 "[uapaot] XmlSerializerFormatTests.CombineString_XmlSerializerFormat_Soap [FAIL]"
[code]

[2017-06-29 18:41] shmao opened #2018 "[uapaot] SessionTests.Test_Implicit_Session_Initiation_And_Termination Failed"
The test failed when running on uapaot.

[code]

/cc: @KKhurin

[2017-06-29 20:41] scotthurlbert commented on #1200
Sure, because you want to scale manually.  Handle transactions, er, um,
manually?  Because you want to implement auth manually.  You want to
implement your own context flow and header management and interception and
pipeline intervention and encryption and compression and on and on...

I assure you that at the enterprise level these things are happening with
wcf more than you know.  One of the cha

[2017-06-30 12:49] thefringeninja commented on #1200
No. You can do this with about 15 lines of terraform

Not sure what you mean here. Database transactions? Distributed transactions?

Identity Server

This and the rest of the above are trivially easy with a pipes and filters style architecture (except for compression and encryption which are baked into HTTP). Best example I can think of is OWIN.

Wow. That's incredibly sad.

[2017-06-30 12:57] phillip-haydon commented on #1200
@scotthurlbert can you explain these transactions because afaik you can't have transactions over http.

[2017-06-30 12:58] alexeyzimarev commented on #1200
manually?  Because you want to implement auth manually.  You want to
implement your own context flow and header management and interception and
pipeline intervention and encryption and compression and on and on...

All decent .NET messaging frameworks like MassTransit or NServiceBus perfectly handle this in much more elegant and efficient way.

[2017-06-30 13:12] popcatalin81 commented on #1200
Yes there are a gazillion frameworks, large and small, more enterprisey or more 1337 h4x0r oriented, with different options and patterns, some rigid and some flexible ... and  ... this is exactly the problem ... there's no base line.

WCF should help to get rid of all these disparate options and provide an unified and abstracted communication framework that is a base line for .Net. development.

Y

[2017-06-30 16:34] abatishchev commented on #1200
Yes there are a gazillion frameworks but we want WCF anyway. This makes no sense. Why provide arguments, pros and cons, If you just want WCF?

[2017-06-30 16:34] shmao opened #2019 "[uapaot] Method 'InvalidEnumArgumentException..ctor' was not included in compilation"
Ran tests with command `.\build.cmd -framework:uapaot -tests -outerloop`. Many tests failed due to errors like the one shown below,

[2017-06-30 16:34] shmao commented on #2019
The issue may be related to https://github.com/dotnet/wcf/pull/2011.

/cc: @dagood

[2017-06-30 16:38] dagood commented on #2019
Yes, I think I noticed this go away when CoreFX runtime assemblies are copied from the private package into the ILCInputFolder. (I'm working through Jose's list of corrections.)

[2017-06-30 16:39] shmao commented on #2019
@dagood sounds good. Thanks!

[2017-06-30 16:48] scotthurlbert commented on #1200
Phillip

The title of this thread is server side WCF.  On the server WCF supports
transactions that flow through and down through the interaction.  So if
your server side component wants / needs to begin a transaction and enlist
other WCF services it all gets maintained and handled.

To use transactions you have to have transactional resources.  Unless your
company/team has done enterprise level i

[2017-06-30 16:49] shmao opened #2020 "[uapaot] ClientBaseTests.DefaultSettings_SetCookieOnServerSide [FAIL]"
Ran tests with command `.\build.cmd -framework:uapaot -tests -outerloop`. The following test failed, (the issue does not always repro)

[code]

[2017-06-30 16:49] scotthurlbert commented on #1200
Alexey,

Then you'll be making an argument for those technologies to have (at least)
their client's implemented in .net core too.

Scott

On Fri, Jun 30, 2017 at 5:58 AM, Alexey Zimarev <notifications@github.com>
wrote:

--
Scott Hurlbert
Technical Architect
415-378-9908
scotthurlbert@hotmail.com
AIM: scottahurlbert
Skype: hurlbert
GTalk: scottahurlbert@gmail.com
Blogs:

   - https://medium.com/@h

[2017-06-30 16:53] scotthurlbert commented on #1200
Catalin

Bravo and exactly.  Let me second your comment by reminding everyone that
WCF in .NET Standard *requires nothing else.*  It's part of the framework.
If you have .NET you have WCF.

This is not, in any way, an argument against any other framework.  If the
ones mentioned work for you then use them.  But WCF is part of the .NET
framework.  You don't have to install it on .NET Standard.

That

[2017-06-30 17:10] miguelcastro67 commented on #1200
Well, I've bitten my tongue long enough here guys. Scott, I'm totally with you. I've been doing WCF for years and it is still the superior framework for enterprise level service development. The fact that some are calling it legacy is just plain wrong. Yeah, many will argue that Web API is just easier to use. Is it really? Compare apples to apples, where the client is NOT javascript (in such a cas

[2017-06-30 18:22] #2019 closed

[2017-06-30 19:22] zhenlan opened #2022 "Should ClientBase<T> be exposed to implement IDisposable in contract"
Here is a feedback from a customer using WCF connected service

It looks like `ClientBase<T>` does not implement `IDisposable` in [contract](https://github.com/dotnet/wcf/blob/release/2.0.0/src/System.ServiceModel.Primitives/ref/System.ServiceModel.Primitives.cs#L110) but its [implementation](https://github.com/dotnet/wcf/blob/master/src/System.Private.ServiceModel/src/System/ServiceModel/ClientBa

[2017-06-30 19:39] zipswich commented on #1761
Unfortunately, I am still getting the following error with the VS Preview:

[code]

[2017-06-30 20:33] shmao commented on #1761
@zipswich can you please share a repro app with me (my mail: shmao AT microsoft dot com) ? The repro app I got passed with the fix.

[2017-06-30 21:16] StephenBonikowsky opened #2024 "[Master] Fix Infrastructure test failing on non-Windows OSes"
This is infrastructure test...
OSAndFrameworkTests.OSID_Was_Detected

It is failing because a property it depended on is no longer present on the build machines since BuildTools v2.

Instead we need to update our test code to try and use a new property, possibly: "RuntimeOS"

See PR #2015 for additional info.

[2017-06-30 21:26] shmao commented on #2020
The issue did not repro after https://github.com/dotnet/wcf/pull/2021. Closing the issue.

[2017-06-30 21:26] #2020 closed

[2017-06-30 22:07] StephenBonikowsky opened #2026 "Add two CI legs for uap and uapaot."
From #2021...

Other than the suggestion by @shmao of making sure that this doesn't break uap testing, this LGTM. After this is in, I would create two CI legs that build both verticals (uap, and uapaot) to make sure this doesn't get broken. You should now be able to run uap tests as part of that CI (currently we support x64, x86 and arm archs), but uapaot we don't support running the tests as part

[2017-06-30 23:03] shmao commented on #1761
I just tried VS15.3. It didn't seem including the latest UWP toolchain. I'm figuring out the reason.

[2017-07-01 03:32] zipswich commented on #1761
@shmao I will send you the repro app no later than next Monday.  Thanks a lot for your persistent help.

[2017-07-01 18:31] scotthurlbert commented on #1200
[image: Inline image 1]

On Fri, Jun 30, 2017 at 10:10 AM, miguelcastro67 <notifications@github.com>
wrote:

--
Scott Hurlbert
Technical Architect
415-378-9908
scotthurlbert@hotmail.com
AIM: scottahurlbert
Skype: hurlbert
GTalk: scottahurlbert@gmail.com
Blogs:

   - https://medium.com/@hurlbert
   - http://oknowwhatfolks.blogspot.com/
   - http://agilecliches.blogspot.com/

[2017-07-01 19:22] miguelcastro67 commented on #1200
Scott, doesn't look like an image went through

[2017-07-01 20:43] scotthurlbert commented on #1200
Cool.   It was a thumbs up and thank you for your comments.

On Jul 1, 2017 12:22 PM, "miguelcastro67" <notifications@github.com> wrote:

[2017-07-01 22:28] zipswich commented on #1761
@shmao I have just sent you repro project.   It keeps crashing with VS 2017 Preview 3 unfortunately, so I am unable to test the issue.

[2017-07-03 09:41] UmairB commented on #1200
I've had bad and good experiences with WCF. But the bad is not due to the technology but how it was implemented. It can be time consuming to get just right but from my exposure I can definitely see the potential and power of WCF when done right.

I'm a heavy user of asp.net core now but I would/am definitely interested in seeing how WCF is ported across to .net core. I suspect there will be compro

[2017-07-03 16:37] kristofferjansson commented on #943
@iamjasonp - Hello, is the NTLM support for Linux something that you have investigated any more?

[2017-07-03 17:45] #2017 closed

[2017-07-03 19:12] miguelcastro67 commented on #1200
UmairB, might I recommend my two Pluralsight courses, WCF End-to-End and WCF Power Topics :)

[2017-07-03 19:52] UmairB commented on #1200
@miguelcastro67 Thanks! I will take a look.

Also, for an interesting exercise, see [here](https://blogs.msdn.microsoft.com/dotnet/2016/09/19/custom-asp-net-core-middleware-example/) :)

[2017-07-04 16:18] marlon-tucker opened #2031 "(dotnet-svcutil) Generation of EndpointConfiguration enum with invalid member names"
Hello,

I've just used the visual studio 2017 connected service plugin to generate some wcf client code. It all appeared to go smoothly apart from the EndpointConfiguration enum definitions.

The service I pointed it to appears to have been namespaced, therefore contained full stops.

This caused the enum to be generated as such:

[code]

Wasn't really any trouble to manually fix it, but just some

[2017-07-05 14:44] DotNetPart opened #2032 "Channel factory caching"
Hi, I observed that there is no channel factory caching in comparison to full .Net FW  version.
Any plans to get that added?

[2017-07-05 17:11] shmao commented on #1761
@zipswich I tried the repro app. You need to make one change to your app to use the latest toolchain. In the project.json file, you need to change the package version of `Microsoft.NETCore.UniversalWindowsPlatform` from `5.3.0` to `5.4.0`. See below,

```    "Microsoft.NETCore.UniversalWindowsPlatform": "5.4.0"```

After the above change, the build warning regarding to the issue was gone. I tried

[2017-07-05 21:41] avu2016 opened #2034 "Unable to create wsdl reference in Visual Studio 2017 Enterprise"
Hi,

I am creating a sample project in Visual Studio 2017 Enterprise to create dll for web service.  The project only contain a C# .Net standard class. When I am trying to add web service reference: http://www.webservicex.com/globalweather.asmx?wsdl using Microsoft WCF Web Service Reference Provider, i got this error message:

[07/05/2017 15:36:40],1,Scaffolding Code ...
[07/05/2017 15:36:40],1,sv

[2017-07-05 21:44] shmao opened #2035 "SocketConnection.Write Throw Different Exception on uapaot"
See https://github.com/dotnet/wcf/pull/2033.

`System.ServiceModel.Channels.SocketConnection.Write` calls different methods on different platforms:
On NetCore it calls `CoreClrSocketConnection.WriteCore`;
On uap/uapaot, it calls `RTSocketConnection.WriteCore`.

The two `WriteCore` use different networking APIs. As the networking APIs throw different exceptions, we get different exceptions in error

[2017-07-05 23:04] zhenlan commented on #2034
@avu2016 I just tried to add service reference to the service you provided above in a netcoreapp1.1 console app in VS 15.1 (26403.3) and the tool worked fine.

Can you please share more details of the version of your VS (the full version string from "About VS" windows) and the target framework of your app? Before you run the tool, does your project build and run properly?

[2017-07-05 23:41] zhenlan commented on #2031
@marlon-tucker thanks for letting us know!

@hongdai can you see if you can repo the issue?

[2017-07-05 23:43] zhenlan commented on #2035
@KKhurin @mconnew what's your thoughts about this?

[2017-07-05 23:59] Adrian10988 opened #2038 "When importing some WSDLs, not all proxy classes are created in .net core 1.1 / VS2017 Community"
As an example, I have imported a WSDL from a salesforce enterprise account and am missing certain classes and properties. For example: `SessionHeader` class is missing, which is required by the salesforce api. Interestingly enough, if I open my older VS2015 targeting .Net 4.5 and add the same wsdl, I get the required classes and properties. I have attached the problematic wsdl file so you can see

[2017-07-06 01:03] KKhurin commented on #2035
Having platform independent exceptions is one of WCF goals...
This looks like a challenging task though and [System.ServiceModel.Channels.RTSocketConnection.WriteCore](https://github.com/dotnet/wcf/blob/a2c95ad9e5cb2fff465655ae234454cf6f1c0f83/src/System.Private.ServiceModel/src/System/ServiceModel/Channels/RTSocketConnection.cs#L405) already tries to do so but doesn't cover this particular case:

[2017-07-06 02:05] zhenlan commented on #2038
I am wondering if this is because .NET Core has smaller API surface than .NET 4.5 so the client proxy was not generated for all the endpoints service has. @hongdai could you please take a look?

[2017-07-06 09:38] marlon-tucker commented on #2031
I'm afraid it is unlikely I can give out the wsdl as it's company property.

But briefly scanning through it, the Enum member names appear to match the wsdl:binding elements, which in our case contain full stops, e.g.

[code]

Sorry, that's the best I can do, I hope that's enough.

[2017-07-06 11:35] leilasoriano commented on #2038
Same problem here. The references.cs has the "Authentication" class, however, not as a attribute to the ServiceClient, and I need that to pass the token authentication. Using .net framework I get what I need, the attribute of type authentication. What I have to to? I need to use this service in a .NET Core project, there's no other way. Please, help me! :(

[2017-07-06 12:06] ArgusMagnus commented on #1688
I would highly appreciate tcp duplex channel support

[2017-07-06 14:07] zipswich commented on #1761
Thank you for looking into it and found the fix, @shmao
I keep getting the following error after modifying project.json:
![vs error](https://user-images.githubusercontent.com/6095671/27914969-c3f34710-6232-11e7-8b50-27227aa7d015.png)

I have cleaned the project, cleaned the solution and restarted the computer.

Do you have any tip for this?

[2017-07-06 15:00] avu2016 commented on #2034
Hi @zhenlan, I have resolved the issue. What i was missing is the .net core when i first install MS Visual Studio Enterprise. Had to uninstall and re-install with .Net Core and it works fine now.

Thank you

[2017-07-06 15:01] #2034 closed

[2017-07-06 15:23] hongdai commented on #2031
@marlon-tucker I tried something similar and was unable to repro it.

What version of the WCF connected service tool you are using? Is it the latest one?

[2017-07-06 15:43] marlon-tucker commented on #2031
It was installed on Tuesday, and the generated comments state the dotnet-svcutil is at version 0.5.0.0.

[2017-07-06 16:45] shmao commented on #1761
@zipswich did it fail on the same error? Can you please enable detailed output for build, rebuild the app, and send the build output to my email? I'll take a look at the log.

[2017-07-06 18:05] #1708 closed

[2017-07-06 18:05] #1745 closed

[2017-07-06 18:05] #1730 closed

[2017-07-06 18:06] #2018 closed

[2017-07-06 19:01] huangjinshe commented on #1577
@zhenlan , Could you please bring more team members to discuss it together?

[2017-07-07 13:20] zipswich commented on #1761
@shmao  I should have stated that the error occurs after the app is started. The build and deployment succeed.

[2017-07-07 16:55] mconnew commented on #1235
Resovled by #2043

[2017-07-07 16:55] #1235 closed

[2017-07-07 17:30] shmao commented on #1761
@zipswich yeah, I understood the error happened at app start-up. I was trying to see the build log and check if the warning, which eventually caused the error, during build still occurred.

I double checked the repro app. I just found that the app actually would not show anything on UI. I changed the repro app and let it output the error message. After the change, I'm getting the following excepti

[2017-07-07 17:34] #1980 closed

[2017-07-07 17:35] #1942 closed

[2017-07-07 17:35] shmao commented on #2006
This was fixed by https://github.com/dotnet/wcf/pull/2043.

[2017-07-07 17:35] #2006 closed

[2017-07-07 17:36] #1983 closed

[2017-07-07 17:37] StephenBonikowsky commented on #1982
Work is on-going in VSTS to get this working.

[2017-07-07 18:31] hongdai commented on #1847
@popraducj  We have just updated the tool to support 1).

For 3), https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-authentication has detailed instructions how to configure the service endpoint to provide the client credential.

Please give the latest tool a try.
Thanks,
Hong Dai

[2017-07-07 18:40] #1847 closed

[2017-07-07 19:02] hongdai commented on #2038
@leilasoriano  token authentication is not supported yet in WCF runtime and we depend on WCF runtime.

[2017-07-07 19:06] leilasoriano commented on #2038
@hongdai what can I do to work it around?

[2017-07-07 20:57] shmao commented on #1761
@zipswich I figured out the `the app didn't start` issue on my machine. The issue was caused by a bug that happened when the `optimize code` option was unchecked. After I checked the option and rebuild the app, the app was able to start. And I did get the `ArgumentNullException` (using 5.3.0).

Can you please give it another try? Thanks!

[2017-07-07 21:16] hongdai commented on #2038
@leilasoriano Sorry that I don't think there is a workaround.

[2017-07-09 03:01] Adrian10988 commented on #2038
@leilasoriano this is an initial thought, and I'm not 100% sure it will work. I will test later; however, perhaps add a new project to your solution under .net 4.5-4.6, import the wsdl into there and then reference your proxy classes from your .netcore projects via the .net 4.5-4.6 project

[2017-07-09 20:57] zhenlan opened #2050 "Clean up code for NETStandard13"
Now that we build live code only for NS2.0 and harvest NS1.3 binary from released package, we can clean up all code under `#if NETStandard13`.

[2017-07-09 21:10] hongdai commented on #2038
@Adrian10988 Unfortunately it most likely will not work as .netcore WCF runtime does not support it - A runtime error will occur.

For your scenario, it's most likely by some features we do not support yet. I'll need to investigate and figure what are the features.

[2017-07-09 21:32] hongdai commented on #2038
@Adrian10988 In your scenario, it's the MessageHeader isn't enabled. It looks like WCF runtime has enabled the support. Your workaround to generate reference.cs in the .net 4.5-4.6 project, then copy the generated reference.cs to your .net core projects could work for you.

We will consider to enable this feature in the tool.

[2017-07-09 21:34] hongdai commented on #2038
@mlacouture

[2017-07-09 21:36] zhenlan commented on #1345
This issue and #1510 are currently pending dotnet/corefx#4561.

[2017-07-09 21:43] zhenlan commented on #1969
Hi @NickDinges, WCF does use DataContractSerializer by default.

However, there are cases a service may choose to use XmlSerializer for one reason or another. You can find more details of when XmlSerializer might be used from [here](https://docs.microsoft.com/en-us/dotnet/framework/wcf/feature-details/using-the-xmlserializer-class). If you have control of your service and can change it to use DCS,

[2017-07-09 21:45] hongdai commented on #1934
@kant2002, Since we have not got a repro app, I'm closing this issue for now. Please reopen if you have a repro.

[2017-07-09 21:54] zhenlan commented on #1801
Hi @OHjeffhudson with latest release of [WCF Connected Service](https://marketplace.visualstudio.com/items?itemName=WCFCORETEAM.VisualStudioWCFConnectedService) we've added support of downloading service metadata secured by Windows authentication (and other auth). @mlacouture also wrote a [blog post](https://blogs.msdn.microsoft.com/webdev/2017/06/28/wcf-web-service-reference-mex-authentication/)

[2017-07-09 21:56] zhenlan opened #2051 "Update release notes for 2.0.0 release"

[2017-07-09 22:06] zhenlan commented on #1848
@joperezr do you mind to help on this issue? We don't have much context where to start. Alternatively, if you can show us pointers how this is done in corefx, @StephenBonikowsky might be able to give it shot.